---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 58.310584ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"second-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_tag_exists":"replace","query":"service:second"},"reference_table":null}]},"id":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Basic-local-1770319073","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"f82af8d2-8acb-48f4-b06d-2717a6f4c60e","type":"ruleset","attributes":{"created":{"seconds":1770319074,"nanos":937125000},"enabled":true,"last_modified_user_uuid":"8aa9beab-3c2a-11ef-8a8f-56d598d478b5","modified":{"seconds":1770319074,"nanos":937125000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Basic-local-1770319073","position":1,"rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false,"if_tag_exists":"replace"},"mapping":null,"reference_table":null,"metadata":null}],"version":3657620}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 104.866667ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"0c645f49-c784-4a13-8bb0-3d37246c4684","type":"ruleset"},{"id":"f82af8d2-8acb-48f4-b06d-2717a6f4c60e","type":"ruleset"},{"id":"d7643222-be2d-4655-9001-3504c08fd679","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 59.488834ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/0c645f49-c784-4a13-8bb0-3d37246c4684
        method: GET
      response:
        body: '{"data":{"id":"0c645f49-c784-4a13-8bb0-3d37246c4684","type":"ruleset","attributes":{"created":{"seconds":1770319075,"nanos":4851000},"enabled":true,"last_modified_user_uuid":"8aa9beab-3c2a-11ef-8a8f-56d598d478b5","modified":{"seconds":1770319075,"nanos":4851000},"name":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesets_Basic-local-1770319073","position":1,"rules":[{"name":"first-rule","enabled":true,"query":{"query":"service:first","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false,"if_tag_exists":"replace"},"mapping":null,"reference_table":null,"metadata":null}],"version":3657622}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 48.699791ms
[...]
