---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardEventTimeline_import-local-1767989033","widgets":[{"definition":{"query":"status:error","tags_execution":"and","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"r94-c4h-f6r","title":"tf-TestAccDatadogDashboardEventTimeline_import-local-1767989033","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/r94-c4h-f6r/tf-testaccdatadogdashboardeventtimelineimport-local-1767989033","template_variables":[],"widgets":[{"definition":{"query":"status:error","tags_execution":"and","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":606718573343133}],"notify_list":[],"created_at":"2026-01-09T20:03:56.098376+00:00","modified_at":"2026-01-09T20:03:56.098376+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.676292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/r94-c4h-f6r
        method: GET
      response:
            - chunked
        body: '{"id":"r94-c4h-f6r","title":"tf-TestAccDatadogDashboardEventTimeline_import-local-1767989033","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/r94-c4h-f6r/tf-testaccdatadogdashboardeventtimelineimport-local-1767989033","template_variables":[],"widgets":[{"definition":{"query":"status:error","tags_execution":"and","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":606718573343133}],"notify_list":[],"created_at":"2026-01-09T20:03:56.098376+00:00","modified_at":"2026-01-09T20:03:56.098376+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.347042ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/r94-c4h-f6r
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"r94-c4h-f6r"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 352.658209ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/r94-c4h-f6r
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID r94-c4h-f6r not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 104.479167ms
