---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/org
        method: GET
      response:
        body: |
            {"orgs":[{"public_id":"ff4a8255-6931-58d1-add0-a6b3602d5421","name":"Org Mgmt Root","description":null,"created":"2026-02-04 23:00:24","subscription":{"id":null,"billing_plan_id":8,"started":1770246024,"expires":null,"finished":null,"type":"dogfood","is_custom":false,"is_trial":false,"is_expired":true},"billing":{},"settings":{"default_landing_page":"Dashboard Lists","saml":{"enabled":false},"saml_can_be_enabled":false,"saml_login_url":null,"saml_idp_metadata_uploaded":false,"saml_idp_endpoint":null,"saml_idp_metadata_valid_until":null,"custom_landing_page":null,"saml_idp_initiated_login":{"enabled":false},"saml_strict_mode":{"enabled":false},"saml_autocreate_access_role":"st","saml_autocreate_users_domains":{"enabled":false,"domains":[]},"private_widget_share":true,"manage_reports":"true"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 292.919382ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_memberships?filter%5Borg_uuid%5D=ff4a8255-6931-58d1-add0-a6b3602d5421
        method: GET
      response:
        body: '{"data":[{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-04-22T21:07:18.487114Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019d6e95-d818-7825-a63d-28fabd22002b","type":"org_groups"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 46.147807ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicyOverridesDataSource_Basic-local-1776988408"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019dbcc3-4fe8-7ecf-b67a-0498ef23dd95","type":"org_groups","attributes":{"created_at":"2026-04-23T23:53:29.832Z","modified_at":"2026-04-23T23:53:29.834391Z","name":"tf-TestAccDatadogOrgGroupPolicyOverridesDataSource_Basic-local-1776988408","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 35.233502ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019dbcc3-4fe8-7ecf-b67a-0498ef23dd95","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019dbcc3-5022-7d03-922f-1c5180409db2","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-23T23:53:29.894048Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019dbcc3-4fe8-7ecf-b67a-0498ef23dd95","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 59.356808ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","relationships":{"org_group":{"data":{"id":"019dbcc3-4fe8-7ecf-b67a-0498ef23dd95","type":"org_groups"}}},"type":"org_group_memberships"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_memberships/019c2ae2-b060-7954-8606-6fe2b42616c4
        method: PATCH
      response:
        body: '{"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-04-23T23:53:29.948665Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019dbcc3-4fe8-7ecf-b67a-0498ef23dd95","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 80.966351ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019dbcc3-4fe8-7ecf-b67a-0498ef23dd95","type":"org_groups"}},"org_group_policy":{"data":{"id":"019dbcc3-5022-7d03-922f-1c5180409db2","type":"org_group_policies"}}},"type":"org_group_policy_overrides"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides
        method: POST
      response:
        body: '{"data":{"id":"019dbcc3-50a6-7c83-97fe-48298480e34f","type":"org_group_policy_overrides","attributes":{"created_at":"2026-04-23T23:53:30.023976Z","modified_at":"2026-04-23T23:53:30.023976Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019dbcc3-4fe8-7ecf-b67a-0498ef23dd95","type":"org_groups"}},"org_group_policy":{"data":{"id":"019dbcc3-5022-7d03-922f-1c5180409db2","type":"org_group_policies"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 63.508013ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019dbcc3-4fe8-7ecf-b67a-0498ef23dd95&filter%5Bpolicy_id%5D=019dbcc3-5022-7d03-922f-1c5180409db2&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019dbcc3-50a6-7c83-97fe-48298480e34f","type":"org_group_policy_overrides","attributes":{"content":{"org_config":false},"created_at":"2026-04-23T23:53:30.023976Z","modified_at":"2026-04-23T23:53:30.023976Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019dbcc3-4fe8-7ecf-b67a-0498ef23dd95","type":"org_groups"}},"org_group_policy":{"data":{"id":"019dbcc3-5022-7d03-922f-1c5180409db2","type":"org_group_policies"}}}}],"meta":{"page":{"type":"number_size","number":0,"size":100,"total":1,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019dbcc3-4fe8-7ecf-b67a-0498ef23dd95\u0026filter%5Bpolicy_id%5D=019dbcc3-5022-7d03-922f-1c5180409db2\u0026page%5Bnumber%5D=0\u0026page%5Bsize%5D=100","first":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019dbcc3-4fe8-7ecf-b67a-0498ef23dd95\u0026filter[policy_id]=019dbcc3-5022-7d03-922f-1c5180409db2\u0026page[number]=0\u0026page[size]=100","last":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019dbcc3-4fe8-7ecf-b67a-0498ef23dd95\u0026filter[policy_id]=019dbcc3-5022-7d03-922f-1c5180409db2\u0026page[number]=0\u0026page[size]=100"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 50.641632ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019dbcc3-4fe8-7ecf-b67a-0498ef23dd95&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019dbcc3-50a6-7c83-97fe-48298480e34f","type":"org_group_policy_overrides","attributes":{"content":{"org_config":false},"created_at":"2026-04-23T23:53:[...]
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019dbcc3-4fe8-7ecf-b67a-0498ef23dd95
        method: GET
      response:
        body: '{"data":{"id":"019dbcc3-4fe8-7ecf-b67a-0498ef23dd95","type":"org_groups","attributes":{"created_at":"2026-04-23T23:53:29.832Z","modified_at":"2026-04-23T23:53:29.834391Z","name":"tf-TestAccDatadogOrgGroupPolicyOverridesDataSource_Basic-local-1776988408","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 36.256576ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019dbcc3-5022-7d03-922f-1c5180409db2
        method: GET
      response:
        body: '{"data":{"id":"019dbcc3-5022-7d03-922f-1c5180409db2","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-23T23:53:29.894048Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019dbcc3-4fe8-7ecf-b67a-0498ef23dd95","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 43.190286ms
[...]
    - id: 14
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides/019dbcc3-50a6-7c83-97fe-48298480e34f
        method: GET
      response:
        body: '{"data":{"id":"019dbcc3-50a6-7c83-97fe-48298480e34f","type":"org_group_policy_overrides","attributes":{"created_at":"2026-04-23T23:53:30.023976Z","modified_at":"2026-04-23T23:53:30.023976Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019dbcc3-4fe8-7ecf-b67a-0498ef23dd95","type":"org_groups"}},"org_group_policy":{"data":{"id":"019dbcc3-5022-7d03-922f-1c5180409db2","type":"org_group_policies"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 43.815581ms
[...]
    - id: 27
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019dbcc3-4fe8-7ecf-b67a-0498ef23dd95
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"org group 019dbcc3-4fe8-7ecf-b67a-0498ef23dd95 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 31.149774ms
