---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testoncalluseremailnotificationrule-local-1776159462@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"85871556-92bc-4963-bdb1-798539287d24","attributes":{"uuid":"85871556-92bc-4963-bdb1-798539287d24","name":null,"handle":"tf-testoncalluseremailnotificationrule-local-1776159462@example.com","created_at":"2026-04-14T09:37:44.877255+00:00","modified_at":"2026-04-14T09:37:44.877255+00:00","email":"tf-testoncalluseremailnotificationrule-local-1776159462@example.com","icon":"https://secure.gravatar.com/avatar/9c47bb1617103461fe4f86e54dbd0ba4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 840.766292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"85871556-92bc-4963-bdb1-798539287d24","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"977ba320-37e5-11f1-b5d2-da7ad0900002","attributes":{"uuid":"977ba320-37e5-11f1-b5d2-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2026-04-14T09:37:45.369371+00:00","expires_at":"2026-04-16T09:37:45.169681+00:00"},"relationships":{"user":{"data":{"type":"users","id":"85871556-92bc-4963-bdb1-798539287d24"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 493.5205ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"address":"tf-testoncalluseremailnotificationrule-local-1776159462@example.com","formats":["html"],"type":"email"}},"type":"notification_channels"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/users/85871556-92bc-4963-bdb1-798539287d24/notification-channels
        method: POST
      response:
        body: '{"data":{"id":"fc9ca6c4-3328-4141-b3c0-d4765f87416f","type":"notification_channels","attributes":{"active":true,"config":{"type":"email","address":"tf-testoncalluseremailnotificationrule-local-1776159462@example.com","formats":["html"]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 116.921375ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"category":"high_urgency","delay_minutes":1},"relationships":{"channel":{"data":{"id":"fc9ca6c4-3328-4141-b3c0-d4765f87416f","type":"notification_channels"}}},"type":"notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/users/85871556-92bc-4963-bdb1-798539287d24/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"2338b661-64c6-4540-bed3-034e601db86b","type":"notification_rules","attributes":{"category":"high_urgency","delay_minutes":1},"relationships":{"channel":{"data":{"id":"fc9ca6c4-3328-4141-b3c0-d4765f87416f","type":"notification_channels"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 169.564791ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/users/85871556-92bc-4963-bdb1-798539287d24/notification-rules/2338b661-64c6-4540-bed3-034e601db86b
        method: GET
      response:
        body: '{"data":{"id":"2338b661-64c6-4540-bed3-034e601db86b","type":"notification_rules","attributes":{"category":"high_urgency","delay_minutes":1},"relationships":{"channel":{"data":{"id":"fc9ca6c4-3328-4141-b3c0-d4765f87416f","type":"notification_channels"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 108.110709ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/85871556-92bc-4963-bdb1-798539287d24
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"85871556-92bc-4963-bdb1-798539287d24","attributes":{"uuid":"85871556-92bc-4963-bdb1-798539287d24","name":null,"handle":"tf-testoncalluseremailnotificationrule-local-1776159462@example.com","created_at":"2026-04-14T09:37:44.877255+00:00","modified_at":"2026-04-14T09:37:44.877255+00:00","email":"tf-testoncalluseremailnotificationrule-local-1776159462@example.com","icon":"https://secure.gravatar.com/avatar/9c47bb1617103461fe4f86e54dbd0ba4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"team_roles":{"data":[]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.527625ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/users/85871556-92bc-4963-bdb1-798539287d24/notification-channels/fc9ca6c4-3328-4141-b3c0-d4765f87416f
        method: GET
      response:
        body: '{"data":{"id":"fc9ca6c4-3328-4141-b3c0-d4765f87416f","type":"notification_channels","attributes":{"active":true,"config":{"type":"email","address":"tf-testoncalluseremailnotificationrule-local-1776159462@example.com","formats":["html"]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 117.187083ms
[...]
    - id: 20
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/users/85871556-92bc-4963-bdb1-798539287d24/notification-rules/2338b661-64c6-4540-bed3-034e601db86b
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"notification rule not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 109.871041ms
[...]
