---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768471891","name":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768471891"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"20108387-45db-49c1-912a-ea0782b30c90","type":"team","attributes":{"avatar":null,"banner":5,"created_at":"2026-01-15T10:11:34.038300+00:00","description":"Example team","handle":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768471891","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-15T10:11:34.038301+00:00","name":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768471891","summary":"Example team","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/20108387-45db-49c1-912a-ea0782b30c90/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/20108387-45db-49c1-912a-ea0782b30c90/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 578.971666ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"channel":"#test-channel","workspace":"Datadog"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/20108387-45db-49c1-912a-ea0782b30c90/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"f312f57b-fcb7-407f-bb19-0ee1307efcdb","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 204.894875ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/20108387-45db-49c1-912a-ea0782b30c90/notification-rules/f312f57b-fcb7-407f-bb19-0ee1307efcdb
        method: GET
      response:
        body: '{"data":{"id":"f312f57b-fcb7-407f-bb19-0ee1307efcdb","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 151.399833ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/20108387-45db-49c1-912a-ea0782b30c90
        method: GET
      response:
        body: '{"data":{"id":"20108387-45db-49c1-912a-ea0782b30c90","type":"team","attributes":{"created_at":"2026-01-15T10:11:34.038300+00:00","description":"Example team","handle":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768471891","is_managed":false,"link_count":0,"modified_at":"2026-01-15T10:11:34.038301+00:00","name":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768471891","summary":"Example team","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/20108387-45db-49c1-912a-ea0782b30c90/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/20108387-45db-49c1-912a-ea0782b30c90/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 152.167209ms
[...]
