---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"app_service_plan_filters":"","automute":false,"client_id":"testc7f6-1234-5678-9101-3fcbf464test","client_secret":"TestingRh2nx664kUy5dIApvM54T4AtO","container_app_filters":"","cspm_enabled":false,"custom_metrics_enabled":false,"host_filters":"foo:bar,buzz:lightyear","metrics_enabled":true,"metrics_enabled_default":true,"resource_provider_configs":[],"tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1742479459ee","usage_metrics_enabled":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.795334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: GET
      response:
            - chunked
        body: |
            [{"tenant_name":"001f04d8-899c-4b5d-b121-e0ab23156706","client_id":"001f04d8-899c-4b5d-b121-e0ab23156706","host_filters":"key:value,filter:example","app_service_plan_filters":"key:value,filter:example","container_app_filters":"key:value,filter:example","automute":true,"cspm_enabled":true,"custom_metrics_enabled":true,"resource_collection_enabled":true,"metrics_enabled":true,"metrics_enabled_default":true,"usage_metrics_enabled":true,"resource_provider_configs":[{"namespace":"Microsoft.Compute","metrics_enabled":false},{"namespace":"Microsoft.Web","metrics_enabled":false}],"errors":[],"warnings":[]},{"tenant_name":"010d620e-6f80-4d26-b09c-3061d1341f96","client_id":"010d620e-6f80-4d26-b09c-3061d1341f96","host_filters":"key:value,filter:example","app_service_plan_filters":"key:value,filter:example","container_app_filters":"key:value,filter:example","automute":true,"cspm_enabled":true,"custom_metrics_enabled":true,"resource_collection_enabled":true,"metrics_enabled":true,"metrics_enabled_default":true,"usage_metrics_enabled":true,"resource_provider_configs":[{"namespace":"Microsoft.Compute[...]
[...]
