# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @datadog/api-clients @datadog/web-frameworks

/docs/                                    @datadog/api-clients @datadog/web-frameworks @DataDog/documentation

# Terraform plugin sdk resources/data-sources
datadog/*datadog_dashboard*               @datadog/api-clients @datadog/web-frameworks @DataDog/dashboards-backend
datadog/*datadog_downtime*                @datadog/api-clients @datadog/web-frameworks @DataDog/monitor-app
datadog/*datadog_integration_aws*         @datadog/api-clients @datadog/web-frameworks @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @datadog/api-clients @datadog/web-frameworks @DataDog/saas-integrations @DataDog/saas-integrations
datadog/*datadog_integration_opsgenie*    @datadog/api-clients @datadog/web-frameworks @Datadog/collaboration-integrations
datadog/*datadog_logs*                    @datadog/api-clients @datadog/web-frameworks @DataDog/logs-backend @DataDog/logs-core @DataDog/logs-forwarding @DataDog/logs-app
datadog/*datadog_metric*                  @datadog/api-clients @datadog/web-frameworks @DataDog/metrics-intake @DataDog/metrics-query @DataDog/points-aggregation
datadog/*datadog_monitor*                 @datadog/api-clients @datadog/web-frameworks @DataDog/monitor-app
datadog/*datadog_screenboard*             @datadog/api-clients @datadog/web-frameworks @DataDog/dashboards-backend
datadog/*security_monitoring*             @datadog/api-clients @datadog/web-frameworks @DataDog/k9-cloud-security-platform
datadog/*datadog_service_definition*      @datadog/api-clients @datadog/web-frameworks @DataDog/service-catalog
datadog/*datadog_service_level_objective* @datadog/api-clients @datadog/web-frameworks @DataDog/slo-app
datadog/*datadog_synthetics*              @datadog/api-clients @datadog/web-frameworks @DataDog/synthetics-ct
datadog/*datadog_timeboard*               @datadog/api-clients @datadog/web-frameworks @DataDog/dashboards-backend
datadog/*datadog_user*                    @datadog/api-clients @datadog/web-frameworks @DataDog/team-aaa
datadog/*cloud_configuration*             @datadog/api-clients @datadog/web-frameworks @DataDog/k9-cloud-security-posture-management
datadog/*service_account*                 @datadog/api-clients @datadog/web-frameworks @DataDog/team-aaa

# Framework resources/data-sources
datadog/**/*datadog_api_key*                     @datadog/api-clients @datadog/web-frameworks @DataDog/credentials-management
datadog/**/*datadog_apm_retention_filter*        @datadog/api-clients @datadog/web-frameworks @DataDog/apm-trace-intake
datadog/**/*datadog_application_key*             @datadog/api-clients @datadog/web-frameworks @DataDog/credentials-management
datadog/**/*datadog_hosts*                       @datadog/api-clients @datadog/web-frameworks @DataDog/redapl-storage
datadog/**/*datadog_ip_ranges*                   @datadog/api-clients @datadog/web-frameworks @DataDog/team-aaa
datadog/**/*datadog_integration_aws*             @datadog/api-clients @datadog/web-frameworks @DataDog/cloud-integrations
datadog/**/*datadog_integration_azure*           @datadog/api-clients @datadog/web-frameworks @DataDog/azure-integrations
datadog/**/*datadog_integration_cloudflare*      @datadog/api-clients @datadog/web-frameworks @DataDog/saas-integrations
datadog/**/*datadog_integration_confluent*       @datadog/api-clients @datadog/web-frameworks @DataDog/saas-integrations
datadog/**/*datadog_integration_fastly*          @datadog/api-clients @datadog/web-frameworks @DataDog/saas-integrations
datadog/**/*datadog_integration_gcp*             @datadog/api-clients @datadog/web-frameworks @DataDog/gcp-integrations
datadog/**/*datadog_restriction_policy*          @datadog/api-clients @datadog/web-frameworks @DataDog/aaa-granular-access
datadog/**/*datadog_sensitive_data_scanner*      @datadog/api-clients @datadog/web-frameworks @DataDog/logs-app @DataDog/sensitive-data-scanner
datadog/**/*datadog_service_account*             @datadog/api-clients @datadog/web-frameworks @DataDog/team-aaa
datadog/**/*datadog_spans_metric*                @datadog/api-clients @datadog/web-frameworks @DataDog/apm-trace-intake
datadog/**/*datadog_synthetics_concurrency_cap*  @datadog/api-clients @datadog/web-frameworks @DataDog/synthetics-app @DataDog/synthetics-ct
datadog/**/*datadog_team*                        @datadog/api-clients @datadog/web-frameworks @DataDog/core-app
datadog/**/*datadog_organization_settings*       @datadog/api-clients @datadog/web-frameworks @DataDog/core-app @DataDog/trust-and-safety
datadog/**/*datadog_integration_microsoft_teams* @datadog/api-clients @datadog/web-frameworks @DataDog/chat-integrations
