---
layout: ""
page_title: "datadog_synthetics_test Resource - terraform-provider-datadog"
description: |-
  Provides a Datadog synthetics test resource. This can be used to create and manage Datadog synthetics test.
---

# datadog_synthetics_test (Resource)

## TODO

This is a test
