version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardStyle-local-1682003507","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query","style":{"palette":"warm","palette_index":2}}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query","query":"avg:system.cpu.user{app:general} by {env}"}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"e92-pc9-7b2","title":"tf-TestAccDatadogDashboardStyle-local-1682003507","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/e92-pc9-7b2/tf-testaccdatadogdashboardstyle-local-1682003507","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query","style":{"palette":"warm","palette_index":2}}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query","query":"avg:system.cpu.user{app:general} by {env}"}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"},"id":4316835914098790}],"notify_list":[],"created_at":"2023-04-20T15:11:48.772010+00:00","modified_at":"2023-04-20T15:11:48.772010+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/e92-pc9-7b2
    method: GET
    id: 1
  response:
    body: |
      {"id":"e92-pc9-7b2","title":"tf-TestAccDatadogDashboardStyle-local-1682003507","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/e92-pc9-7b2/tf-testaccdatadogdashboardstyle-local-1682003507","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query","style":{"palette":"warm","palette_index":2}}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query","query":"avg:system.cpu.user{app:general} by {env}"}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"},"id":4316835914098790}],"notify_list":[],"created_at":"2023-04-20T15:11:48.772010+00:00","modified_at":"2023-04-20T15:11:48.772010+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/e92-pc9-7b2
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"e92-pc9-7b2"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/e92-pc9-7b2
    method: GET
    id: 5
  response:
    body: '{"errors":["Dashboard with ID e92-pc9-7b2 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
