---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Read+Only+Role
        method: GET
      response:
        body: '{"data":[{"id":"94172444-be03-11e9-a77a-db1879185210","type":"roles","attributes":{"created_at":"2019-08-13T19:50:19.111007Z","managed":true,"modified_at":"2019-08-13T19:50:19.111007Z","name":"Datadog Read Only Role","user_count":10},"relationships":{"permissions":{"data":[{"id":"5e605652-dd12-11e8-9e53-375565b8970e","type":"permissions"},{"id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73","type":"permissions"},{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"1af86ce4-7823-11ea-93dc-d7cad1b1c6cb","type":"permissions"},{"id":"b382b982-8535-11ea-93de-2bf1bdf20798","type":"permissions"},{"id":"7314eb20-aa58-11ea-95e2-6fb6e4a451d5","type":"permissions"},{"id":"80de1ec0-aa58-1[...]
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"attribute_key":"key_1","attribute_value":"value_1"},"relationships":{"role":{"data":{"id":"94172444-be03-11e9-a77a-db1879185210","type":"roles"}}},"type":"authn_mappings"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/authn_mappings
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"authn_mappings","id":"f1eb0f9e-ab50-11ef-9e02-da7ad0900002","attributes":{"attribute_key":"key_1","attribute_value":"value_1","created_at":"2024-11-25T17:16:01.621460+00:00","modified_at":"2024-11-25T17:16:01.621460+00:00"},"relationships":{"role":{"data":{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210"}}}},"included":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","managed":true,"created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/authn_mappings/f1eb0f9e-ab50-11ef-9e02-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"authn_mappings","id":"f1eb0f9e-ab50-11ef-9e02-da7ad0900002","attributes":{"attribute_key":"key_1","attribute_value":"value_1","created_at":"2024-11-25T17:16:01.621460+00:00","modified_at":"[...]
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/authn_mappings/f1eb0f9e-ab50-11ef-9e02-da7ad0900002
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 85.951334ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccdatadogauthnmapping_import-local-1732554956","name":"tf-testaccdatadogauthnmapping_import-local-1732554956"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"662e87fc-09b0-49a9-91a9-210313f9d7ea","attributes":{"name":"tf-testaccdatadogauthnmapping_import-local-1732554956","handle":"tf-testaccdatadogauthnmapping_import-local-1732554956","summary":"Example team","description":"Example team","avatar":null,"banner":4,"visible_modules":[],"hidden_modules":[],"created_at":"2024-11-25T17:16:04.827970+00:00","modified_at":"2024-11-25T17:16:04.827976+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/662e87fc-09b0-49a9-91a9-210313f9d7ea/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/662e87fc-09b0-49a9-91a9-210313f9d7ea/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 233.862375ms
    - id: 13
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"attribute_key":"key_1","attribute_value":"value_1"},"relationships":{"team":{"data":{"id":"662e87fc-09b0-49a9-91a9-210313f9d7ea","type":"team"}}},"type":"authn_mappings"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/authn_mappings
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"authn_mappings","id":"f3f8ccd6-ab50-11ef-b0dd-da7ad0900002","attributes":{"attribute_key":"key_1","attribute_value":"value_1","created_at":"2024-11-25T17:16:05.067029+00:00","modified_at":"2024-11-25T17:16:05.067029+00:00"},"relationships":{"team":{"data":{"type":"team","id":"662e87fc-09b0-49a9-91a9-210313f9d7ea"}}}},"included":[{"type":"team","id":"662e87fc-09b0-49a9-91a9-210313f9d7ea","attributes":{"name":"tf-testaccdatadogauthnmapping_import-local-1732554956","handle":"tf-testaccdatadogauthnmapping_import-local-1732554956","summary":"Example team","avatar":null,"banner":4,"user_count":0,"link_count":0,"is_open_membership":true,"handles":["tf-testaccdatadogauthnmapping_import-local-1732554956"]}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.76475ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/662e87fc-09b0-49a9-91a9-210313f9d7ea
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"team","attributes":{"name":"tf-testaccdatadogauthnmapping_import-local-1732554956","handle":"tf-testaccdatadogauthnmapping_import-local-1732554956","created_at":"2024-11-25T17:16:04.827970+00:00","summary":"Example team","link_count":0,"description":"Example team","user_count":0,"modified_at":"2024-11-25T17:16:04.827976+00:00"},"relationships":{"user_team_permissions":{"links":{"related":"/api/v2/team/662e87fc-09b0-49a9-91a9-210313f9d7ea/permission-settings"}},"team_links":{"links":{"related":"/api/v2/team/662e87fc-09b0-49a9-91a9-210313f9d7ea/links"}}},"id":"662e87fc-09b0-49a9-91a9-210313f9d7ea"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.905917ms
[...]
    - id: 20
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/authn_mappings/f3f8ccd6-ab50-11ef-b0dd-da7ad0900002
        method: GET
      response:
            - chunked
        body: '{"errors":["Mapping with id f3f8ccd6-ab50-11ef-b0dd-da7ad0900002 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 77.512667ms
