{{/*
  Plural data source: applies optional filters, fetches a list, and projects
  each element into a nested item model. Mirrors the structure of hand-written
  list data sources such as datadog/fwprovider/data_source_datadog_teams.go.
*/}}
{{- define "data_source_plural" -}}
{{ .GeneratedHeader }}
package fwprovider

import (
	"context"
	"fmt"

	"github.com/DataDog/datadog-api-client-go/v2/api/{{ .SDKPackage }}"
	"github.com/hashicorp/terraform-plugin-framework/datasource"
	"github.com/hashicorp/terraform-plugin-framework/datasource/schema"
	"github.com/hashicorp/terraform-plugin-framework/types"

	"github.com/terraform-providers/terraform-provider-datadog/datadog/internal/utils"
)

var (
	_ datasource.DataSourceWithConfigure = &{{ .GoName }}DataSource{}
)

{{ template "modelStructs" . }}
{{ template "boilerplate" . }}

func (d *{{ .GoName }}DataSource) Schema(_ context.Context, _ datasource.SchemaRequest, response *datasource.SchemaResponse) {
	response.Schema = schema.Schema{
		Description: {{ printf "%q" .Description }},
		Attributes: map[string]schema.Attribute{
			"id": utils.ResourceIDAttribute(),
{{- range .Schema.Attributes }}
{{ template "schemaAttribute" . }}
{{- end }}
		},
		Blocks: map[string]schema.Block{
{{- range .Schema.Blocks }}
{{ template "schemaBlock" . }}
{{- end }}
		},
	}
}

func (d *{{ .GoName }}DataSource) Read(ctx context.Context, request datasource.ReadRequest, response *datasource.ReadResponse) {
	var state {{ .GoName }}DataSourceModel
	response.Diagnostics.Append(request.Config.Get(ctx, &state)...)
	if response.Diagnostics.HasError() {
		return
	}

	var optionalParams {{ .SDKPackage }}.{{ .Read.OptionalParamsType }}
{{- range .Read.Filters }}
	if !state.{{ .StateField }}.IsNull() {
		optionalParams.{{ .ParamField }} = state.{{ .StateField }}.{{ .ValueExpr }}
	}
{{- end }}

	var items []{{ .SDKPackage }}.{{ .Read.ItemType }}
{{- if .Read.Paginated }}
	result, cancel := d.Api.{{ .Read.Method }}WithPagination(d.Auth, optionalParams)
	defer cancel()
	for paginationResult := range result {
		if paginationResult.Error != nil {
			response.Diagnostics.Append(utils.FrameworkErrorDiag(paginationResult.Error, "Error when calling `{{ .Read.Method }}WithPagination`"))
			return
		}
		items = append(items, paginationResult.Item)
	}
{{- else }}
	resp, _, err := d.Api.{{ .Read.Method }}(d.Auth, optionalParams)
	if err != nil {
		response.Diagnostics.Append(utils.FrameworkErrorDiag(err, "Error when calling `{{ .Read.Method }}`"))
		return
	}
	items = append(items, resp.Data...)
{{- end }}

	d.updateState(&state, &items)
	response.Diagnostics.Append(response.State.Set(ctx, &state)...)
}

func (d *{{ .GoName }}DataSource) updateState(state *{{ .GoName }}DataSourceModel, data *[]{{ .SDKPackage }}.{{ .Read.ItemType }}) {
	results := make([]*{{ .State.ItemStruct }}, 0, len(*data))
	for _, item := range *data {
		r := {{ .State.ItemStruct }}{
{{- range .State.ItemFields }}
			{{ .LHS }}: {{ .RHS }},
{{- end }}
		}
		results = append(results, &r)
	}

	hashingData := fmt.Sprintf("{{ range $i, $f := .Read.Filters }}{{ if $i }}:{{ end }}{{ fmtVerb $f.ValueExpr }}{{ end }}", {{- range .Read.Filters }} state.{{ .StateField }}.{{ hashExpr .ValueExpr }},{{ end }})
	state.ID = types.StringValue(utils.ConvertToSha256(hashingData))
	state.{{ .State.ItemField }} = results
}
{{- end -}}
