---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardListStreamStorage-local-1767989217","widgets":[{"definition":{"requests":[{"columns":[{"field":"details","width":"auto"}],"query":{"data_source":"logs_stream","indexes":["timestamp","message"],"query_string":"env: prod","storage":"online_archives"},"response_format":"event_list"}],"title":"List Stream 1","title_align":"right","title_size":"16","type":"list_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"d46-4yn-y4i","title":"tf-TestAccDatadogDashboardListStreamStorage-local-1767989217","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/d46-4yn-y4i/tf-testaccdatadogdashboardliststreamstorage-local-1767989217","template_variables":[],"widgets":[{"definition":{"requests":[{"columns":[{"field":"details","width":"auto"}],"query":{"data_source":"logs_stream","indexes":["timestamp","message"],"query_string":"env: prod","storage":"online_archives"},"response_format":"event_list"}],"title":"List Stream 1","title_align":"right","title_size":"16","type":"list_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":4188749453438964}],"notify_list":[],"created_at":"2026-01-09T20:06:58.201434+00:00","modified_at":"2026-01-09T20:06:58.201434+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.798041ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/d46-4yn-y4i
        method: GET
      response:
            - chunked
        body: '{"id":"d46-4yn-y4i","title":"tf-TestAccDatadogDashboardListStreamStorage-local-1767989217","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/d46-4yn-y4i/tf-testaccdatadogdashboardliststreamstorage-local-1767989217","template_variables":[],"widgets":[{"definition":{"requests":[{"columns":[{"field":"details","width":"auto"}],"query":{"data_source":"logs_stream","indexes":["timestamp","message"],"query_string":"env: prod","storage":"online_archives"},"response_format":"event_list"}],"title":"List Stream 1","title_align":"right","title_size":"16","type":"list_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":4188749453438964}],"notify_list":[],"created_at":"2026-01-09T20:06:58.201434+00:00","modified_at":"2026-01-09T20:06:58.201434+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.051791ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/d46-4yn-y4i
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"d46-4yn-y4i"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 353.329167ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/d46-4yn-y4i
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID d46-4yn-y4i not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 95.171ms
