---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccMonitor_Fwprovider_FormulaFunction-local-1765462827","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":null,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","type":"rum alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.734708ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccMonitor_Fwprovider_FormulaFunction-local-1765462827","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":null,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","tags":[],"type":"rum alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":243441911,"org_id":321813,"type":"rum alert","name":"tf-TestAccMonitor_Fwprovider_FormulaFunction-local-1765462827","message":"test","tags":[],"query":"formula(\"var1 + var2\").last(\"5m\") > 100","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100.0},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}],"groupby_simple_monitor":false,"silenced":{}},"multi":false,"created_at":1765462828000,"created":"2025-12-11T14:20:28.529967+00:00","modified":"2025-12-11T14:20:28.529967+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","handle":"kevin.pombo@datadoghq.com","email":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.034583ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccMonitor_Fwprovider_FormulaFunction-local-1765462827","options":{"groupby_simple_monitor":false,"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":null,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","restricted_roles":null,"tags":[],"type":"rum alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/243441911/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.030125ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243441911?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":243441911,"org_id":321813,"type":"rum alert","name":"tf-TestAccMonitor_Fwprovider_FormulaFunction-local-1765462827","message":"test","tags":[],"query":"formula(\"var1 + var2\").last(\"5m\") > 100","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100.0},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}],"groupby_simple_monitor":false,"silenced":{}},"multi":false,"created_at":1765462828000,"created":"2025-12-11T14:20:28.529967+00:00","modified":"2025-12-11T14:20:28.529967+00:00","deleted":null,"priority":null,"restricted_roles":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","email":"kevin.pombo@datadoghq.com","handle":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.659208ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243441911
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":243441911}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 828.598583ms
