---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardEventStream-local-1767988518","widgets":[{"definition":{"event_size":"l","query":"*","tags_execution":"and","time":{"live_span":"4h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"sx9-euz-6nt","title":"tf-TestAccDatadogDashboardEventStream-local-1767988518","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/sx9-euz-6nt/tf-testaccdatadogdashboardeventstream-local-1767988518","template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","tags_execution":"and","time":{"live_span":"4h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":33874216122029}],"notify_list":[],"created_at":"2026-01-09T19:55:19.944594+00:00","modified_at":"2026-01-09T19:55:19.944594+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.983542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/sx9-euz-6nt
        method: GET
      response:
            - chunked
        body: '{"id":"sx9-euz-6nt","title":"tf-TestAccDatadogDashboardEventStream-local-1767988518","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/sx9-euz-6nt/tf-testaccdatadogdashboardeventstream-local-1767988518","template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","tags_execution":"and","time":{"live_span":"4h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":33874216122029}],"notify_list":[],"created_at":"2026-01-09T19:55:19.944594+00:00","modified_at":"2026-01-09T19:55:19.944594+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.896417ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/sx9-euz-6nt
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"sx9-euz-6nt"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 322.940709ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/sx9-euz-6nt
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID sx9-euz-6nt not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 79.293292ms
