---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardIFrame-local-1767989128","widgets":[{"definition":{"type":"iframe","url":"https://en.wikipedia.org/wiki/Datadog"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"bpk-vce-jhu","title":"tf-TestAccDatadogDashboardIFrame-local-1767989128","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/bpk-vce-jhu/tf-testaccdatadogdashboardiframe-local-1767989128","template_variables":[],"widgets":[{"definition":{"type":"iframe","url":"https://en.wikipedia.org/wiki/Datadog"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":6415587788285396}],"notify_list":[],"created_at":"2026-01-09T20:05:29.539994+00:00","modified_at":"2026-01-09T20:05:29.539994+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.430875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/bpk-vce-jhu
        method: GET
      response:
            - chunked
        body: '{"id":"bpk-vce-jhu","title":"tf-TestAccDatadogDashboardIFrame-local-1767989128","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/bpk-vce-jhu/tf-testaccdatadogdashboardiframe-local-1767989128","template_variables":[],"widgets":[{"definition":{"type":"iframe","url":"https://en.wikipedia.org/wiki/Datadog"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":6415587788285396}],"notify_list":[],"created_at":"2026-01-09T20:05:29.539994+00:00","modified_at":"2026-01-09T20:05:29.539994+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.817333ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/bpk-vce-jhu
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"bpk-vce-jhu"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 319.744916ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/bpk-vce-jhu
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID bpk-vce-jhu not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 84.523666ms
