---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardFreeText-local-1767989056","widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"ydf-j84-pr7","title":"tf-TestAccDatadogDashboardFreeText-local-1767989056","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/ydf-j84-pr7/tf-testaccdatadogdashboardfreetext-local-1767989056","template_variables":[],"widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":6391331541668920}],"notify_list":[],"created_at":"2026-01-09T20:04:17.238270+00:00","modified_at":"2026-01-09T20:04:17.238270+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.867875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ydf-j84-pr7
        method: GET
      response:
            - chunked
        body: '{"id":"ydf-j84-pr7","title":"tf-TestAccDatadogDashboardFreeText-local-1767989056","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/ydf-j84-pr7/tf-testaccdatadogdashboardfreetext-local-1767989056","template_variables":[],"widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":6391331541668920}],"notify_list":[],"created_at":"2026-01-09T20:04:17.238270+00:00","modified_at":"2026-01-09T20:04:17.238270+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.36875ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ydf-j84-pr7
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"ydf-j84-pr7"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 355.409958ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ydf-j84-pr7
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID ydf-j84-pr7 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 87.182083ms
