---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"name":"tf-TestDatadogDashListInDashboard-local-1767989580"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
        method: POST
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-09T20:13:01.787036+00:00","dashboards":null,"dashboard_count":0,"id":616265,"is_favorite":false,"modified":"2026-01-09T20:13:01.787044+00:00","name":"tf-TestDatadogDashListInDashboard-local-1767989580","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.358209ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListInDashboard-local-1767989580-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"vwt-mht-b9a","title":"tf-TestDatadogDashListInDashboard-local-1767989580-time","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/vwt-mht-b9a/tf-testdatadogdashlistindashboard-local-1767989580-time","template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":1028278502681313}],"notify_list":[],"created_at":"2026-01-09T20:13:02.116803+00:00","modified_at":"2026-01-09T20:13:02.116803+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 135.164333ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/vwt-mht-b9a
        method: GET
      response:
            - chunked
        body: '{"id":"vwt-mht-b9a","title":"tf-TestDatadogDashListInDashboard-local-1767989580-time","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/vwt-mht-b9a/tf-testdatadogdashlistindashboard-local-1767989580-time","template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":1028278502681313}],"notify_list":[],"created_at":"2026-01-09T20:13:02.116803+00:00","modified_at":"2026-01-09T20:13:02.116803+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.136459ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"dashboards":[{"id":"vwt-mht-b9a","type":"custom_timeboard"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616265/dashboards
        method: POST
      response:
            - chunked
        body: |
            {"added_dashboards_to_list":[{"type":"custom_timeboard","id":"vwt-mht-b9a"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.277667ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616265
        method: GET
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-09T20:13:01.787036+00:00","dashboards":null,"dashboard_count":1,"id":616265,"is_favorite":false,"modified":"2026-01-09T20:13:02.365467+00:00","name":"tf-TestDatadogDashListInDashboard-local-1767989580","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.007791ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616265/dashboards
        method: GET
      response:
            - chunked
        body: |
            {"dashboards":[{"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-09T20:13:02.116803+00:00","is_favorite":false,"is_shared":false,"modified":"2026-01-09T20:13:02.116803+00:00","title":"tf-TestDatadogDashListInDashboard-local-1767989580-time","type":"custom_timeboard","id":"vwt-mht-b9a","url":"/dashboard/vwt-mht-b9a/tf-testdatadogdashlistindashboard-local-1767989580-time","is_read_only":false,"tags":[],"icon":null,"integration_id":null,"popularity":0}],"total":1}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.870209ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: |
            {"dashboards":[{"id":"vwt-mht-b9a","type":"custom_timeboard"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616265/dashboards
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboards_from_list":[{"type":"custom_timeboard","id":"vwt-mht-b9a"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.630375ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616265
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_list_id":616265}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.072584ms
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/vwt-mht-b9a
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"vwt-mht-b9a"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 347.533167ms
    - id: 20
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616265
        method: GET
      response:
            - chunked
        body: '{"errors":["Manual Dashboard List with id 616265 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 73.541709ms
