---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogusersdatasourcefilter-local-17048377890@example.com","name":"user 0"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"e0dfbdd9-af3a-11ee-b8ef-6ad29c6b09a1","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcefilter-local-17048377890@example.com","created_at":"2024-01-09T22:03:11.078784+00:00","modified_at":"2024-01-09T22:03:11.078784+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17048377890@example.com","icon":"https://secure.gravatar.com/avatar/293743ed40fba1a309b3e03948f89746?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 660.882292ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"e0dadcc5-af3a-11ee-9759-02911c157043","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"e11e399c-af3a-11ee-a655-da7ad0900002","attributes":{"uuid":"e11e399c-af3a-11ee-a655-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2024-01-09T22:03:11.487917+00:00","expires_at":"2024-01-11T22:03:11.369674+00:00"},"relationships":{"user":{"data":{"type":"users","id":"e0dadcc5-af3a-11ee-9759-02911c157043"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 407.57375ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadogusersdatasourcefilter-local-17048377890%40example.com&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"e0dfbdd9-af3a-11ee-b8ef-6ad29c6b09a1","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcefilter-local-17048377890@example.com","created_at":"2024-01-09T22:03:11.078784+00:00","modified_at":"2024-01-09T22:03:11.078784+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17048377890@example.com","icon":"https://secure.gravatar.com/avatar/293743ed40fba1a309b3e03948f89746?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":251410,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.779733875s
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/e0dadb67-af3a-11ee-ace7-46b66802922f
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"e0dadb67-af3a-11ee-ace7-46b66802922f","attributes":{"name":"user 1","handle":"tf-testaccdatadogusersdatasourcefilter-local-17048377891@example.com","created_at":"2024-01-09T22:03:11.046772+00:00","modified_at":"2024-01-09T22:03:11.046772+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17048377891@example.com","icon":"https://secure.gravatar.com/avatar/1e0863c9390aa68b2bf8150ced210e0e?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.704958ms
[...]
