version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"api_key":"tf-TestAccIntegrationConfluentAccountBasic-local-1680633323","api_secret":"test-api-secret-123","tags":["foo:bar"]},"type":"confluent-cloud-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts
    method: POST
    id: 0
  response:
    body: |
      {"data":{"type":"confluent-cloud-accounts","attributes":{"tags":["foo:bar"],"api_key":"tf-TestAccIntegrationConfluentAccountBasic-local-1680633323","resources":[]},"id":"6l0bv6ckrf"}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/6l0bv6ckrf
    method: GET
    id: 1
  response:
    body: |
      {"data":{"type":"confluent-cloud-accounts","attributes":{"api_key":"tf-TestAccIntegrationConfluentAccountBasic-local-1680633323","resources":[],"tags":["foo:bar"]},"id":"6l0bv6ckrf"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
