---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Child team description.","handle":"tf-testaccteamhierarchylinksbasic-local-1764710645c","name":"tf-testaccteamhierarchylinksbasic-local-1764710645-child"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: '{"data":{"id":"4a0241e1-3ab3-490e-8550-0926e38d0929","type":"team","attributes":{"avatar":null,"banner":1,"created_at":"2025-12-02T21:24:06.147821+00:00","description":"Child team description.","handle":"tf-testaccteamhierarchylinksbasic-local-1764710645c","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2025-12-02T21:24:06.147821+00:00","name":"tf-testaccteamhierarchylinksbasic-local-1764710645-child","summary":"Child team description.","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/4a0241e1-3ab3-490e-8550-0926e38d0929/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/4a0241e1-3ab3-490e-8550-0926e38d0929/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 176.411417ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"relationships":{"parent_team":{"data":{"id":"4ce3c9ef-7d4d-4510-835d-60599739e39e","type":"team"}},"sub_team":{"data":{"id":"4a0241e1-3ab3-490e-8550-0926e38d0929","type":"team"}}},"type":"team_hierarchy_links"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team-hierarchy-links
        method: POST
      response:
        body: '{"data":{"id":"16b55787-7465-425c-8a88-87dd6635000f","type":"team_hierarchy_links","attributes":{"created_at":"2025-12-02T21:24:06.328855327Z","provisioned_by":""},"relationships":{"parent_team":{"data":{"id":"4ce3c9ef-7d4d-4510-835d-60599739e39e","type":"team"}},"sub_team":{"data":{"id":"4a0241e1-3ab3-490e-8550-0926e38d0929","type":"team"}}}},"included":[{"id":"4ce3c9ef-7d4d-4510-835d-60599739e39e","type":"team","attributes":{"avatar":null,"banner":12,"handle":"tf-testaccteamhierarchylinksbasic-local-1764710645p","is_managed":false,"is_open_membership":false,"link_count":0,"name":"tf-testaccteamhierarchylinksbasic-local-1764710645-parent","summary":"Parent team description.","user_count":0}},{"id":"4a0241e1-3ab3-490e-8550-0926e38d0929","type":"team","attributes":{"avatar":null,"banner":1,"handle":"tf-testaccteamhierarchylinksbasic-local-1764710645c","is_managed":false,"is_open_membership":false,"link_count":0,"name":"tf-testaccteamhierarchylinksbasic-local-1764710645-child","summary":"Child team description.","user_count":0}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 99.280791ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/4ce3c9ef-7d4d-4510-835d-60599739e39e
        method: GET
      response:
        body: '{"data":{"id":"4ce3c9ef-7d4d-4510-835d-60599739e39e","type":"team","attributes":{"created_at":"2025-12-02T21:24:06.145939+00:00","description":"Parent team description.","handle":"tf-testaccteamhierarchylinksbasic-local-1764710645p","is_managed":false,"link_count":0,"modified_at":"2025-12-02T21:24:06.145939+00:00","name":"tf-testaccteamhierarchylinksbasic-local-1764710645-parent","summary":"Parent team description.","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/4ce3c9ef-7d4d-4510-835d-60599739e39e/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/4ce3c9ef-7d4d-4510-835d-60599739e39e/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 50.369625ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team-hierarchy-links/16b55787-7465-425c-8a88-87dd6635000f
        method: GET
      response:
        body: '{"data":{"id":"16b55787-7465-425c-8a88-87dd6635000f","type":"team_hierarchy_links","attributes":{"created_at":"2025-12-02T21:24:06.328855Z","provisioned_by":""},"relationships":{"parent_team":{"data":{"id":"4ce3c9ef-7d4d-4510-835d-60599739e39e","type":"team"}},"sub_team":{"data":{"id":"4a0241e1-3ab3-490e-8550-0926e38d0929","type":"team"}}}},"links":{"self":"https://api.datadoghq.com/api/v2/team-hierarchy-links/16b55787-7465-425c-8a88-87dd6635000f"},"included":[{"id":"4a0241e1-3ab3-490e-8550-0926e38d0929","type":"team","attributes":{"avatar":null,"banner":1,"handle":"tf-testaccteamhierarchylinksbasic-local-1764710645c","is_managed":false,"is_open_membership":false,"link_count":0,"name":"tf-testaccteamhierarchylinksbasic-local-1764710645-child","summary":"Child team description.","user_count":0}},{"id":"4ce3c9ef-7d4d-4510-835d-60599739e39e","type":"team","attributes":{"avatar":null,"banner":12,"handle":"tf-testaccteamhierarchylinksbasic-local-1764710645p","is_managed":false,"is_open_membership":false,"link_count":0,"name":"tf-testaccteamhierarchylinksbasic-local-1764710645-parent","summary":"Parent team description.","user_count":0}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 60.334291ms
[...]
