---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"account_id":"123456789012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionDatasource_AWS_AssumeRole-local-1742825065"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"7d2b7ac9-7286-4f04-abcb-269f49cdc434","type":"action_connection","attributes":{"acting_user_can_resolve":false,"integration":{"credentials":{"account_id":"123456789012","external_id":"76ea1fe778944bab83d9d6f191717978","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionDatasource_AWS_AssumeRole-local-1742825065"},"relationships":{"created_by":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 764.294916ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/7d2b7ac9-7286-4f04-abcb-269f49cdc434
        method: GET
      response:
        body: '{"data":{"id":"7d2b7ac9-7286-4f04-abcb-269f49cdc434","type":"action_connection","attributes":{"acting_user_can_resolve":false,"created_at":"2025-03-24 14:04:27.337575 +0000 UTC","integration":{"credentials":{"account_id":"123456789012","external_id":"76ea1fe778944bab83d9d6f191717978","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"last_updated":"2025-03-24 14:04:27.337575 +0000 UTC","name":"tf-TestAccDatadogActionConnectionDatasource_AWS_AssumeRole-local-1742825065"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 133.731333ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/7d2b7ac9-7286-4f04-abcb-269f49cdc434
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 141.128333ms
