---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["s3-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"compression":"gzip","id":"s3-source-1","region":"us-east-1","type":"amazon_s3"}]},"name":"amazon_s3-source-compression-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"0825e068-33f9-11f1-a509-da7ad0900002","type":"pipelines","attributes":{"name":"amazon_s3-source-compression-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["s3-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"compression":"gzip","id":"s3-source-1","region":"us-east-1","type":"amazon_s3"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 823.218292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/0825e068-33f9-11f1-a509-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"0825e068-33f9-11f1-a509-da7ad0900002","type":"pipelines","attributes":{"name":"amazon_s3-source-compression-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["s3-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"compression":"gzip","id":"s3-source-1","region":"us-east-1","type":"amazon_s3"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 306.258625ms
[...]
