---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"logs-1","inputs":["sumo-logic-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"id":"sumo-logic-source-1","type":"sumo_logic"}]},"name":"sumo-source-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"c9af0a72-f20c-11f0-9dd0-da7ad0900002","type":"pipelines","attributes":{"name":"sumo-source-pipeline","config":{"destinations":[{"id":"logs-1","inputs":["sumo-logic-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"sumo-logic-source-1","type":"sumo_logic"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 383.829083ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/c9af0a72-f20c-11f0-9dd0-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"c9af0a72-f20c-11f0-9dd0-da7ad0900002","type":"pipelines","attributes":{"name":"sumo-source-pipeline","config":{"destinations":[{"id":"logs-1","inputs":["sumo-logic-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"sumo-logic-source-1","type":"sumo_logic"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 327.698959ms
[...]
