---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"data_stream":{"dtype":"logs"},"id":"opensearch-destination-1","inputs":["source-1"],"type":"opensearch"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"opensearch-datastream-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"d560fe18-fdc2-11f0-8c5d-da7ad0900002","type":"pipelines","attributes":{"name":"opensearch-datastream-pipeline","config":{"destinations":[{"data_stream":{"dtype":"logs"},"id":"opensearch-destination-1","inputs":["source-1"],"type":"opensearch"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 462.165542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/d560fe18-fdc2-11f0-8c5d-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"d560fe18-fdc2-11f0-8c5d-da7ad0900002","type":"pipelines","attributes":{"name":"opensearch-datastream-pipeline","config":{"destinations":[{"data_stream":{"dtype":"logs"},"id":"opensearch-destination-1","inputs":["source-1"],"type":"opensearch"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 337.391ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"data_stream":{"dataset":"my-application","dtype":"logs","namespace":"production"},"id":"opensearch-destination-1","inputs":["source-1"],"type":"opensearch"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"opensearch-datastream-pipeline-updated"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/d560fe18-fdc2-11f0-8c5d-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"d560fe18-fdc2-11f0-8c5d-da7ad0900002","type":"pipelines","attributes":{"name":"opensearch-datastream-pipeline-updated","config":{"destinations":[{"data_stream":{"dataset":"my-application","dtype":"logs","namespace":"production"},"id":"opensearch-destination-1","inputs":["source-1"],"type":"opensearch"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 485.70425ms
[...]
