---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"encoding":"json","id":"pubsub-destination-1","inputs":["source-1"],"project":"my-gcp-project","topic":"logs-topic","type":"google_pubsub"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"pubsub-destination-minimal-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"13687f5e-f20d-11f0-9e12-da7ad0900002","type":"pipelines","attributes":{"name":"pubsub-destination-minimal-pipeline","config":{"destinations":[{"encoding":"json","id":"pubsub-destination-1","inputs":["source-1"],"project":"my-gcp-project","topic":"logs-topic","type":"google_pubsub"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 605.927541ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/13687f5e-f20d-11f0-9e12-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"13687f5e-f20d-11f0-9e12-da7ad0900002","type":"pipelines","attributes":{"name":"pubsub-destination-minimal-pipeline","config":{"destinations":[{"encoding":"json","id":"pubsub-destination-1","inputs":["source-1"],"project":"my-gcp-project","topic":"logs-topic","type":"google_pubsub"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 244.088ms
[...]
