---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"auth":{"assume_role":"arn:aws:iam::123456789012:role/example-role","external_id":"external-id-123","session_name":"s3-generic-session"},"batch_settings":{"batch_size":100000000,"timeout_secs":900},"bucket":"my-generic-bucket","compression":{"algorithm":"gzip","level":6},"encoding":{"type":"parquet"},"id":"s3-generic-dest-1","inputs":["source-1"],"key_prefix":"logs/","region":"us-east-1","storage_class":"STANDARD","type":"amazon_s3_generic"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"amazon s3 generic pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"8a73c202-21f1-11f1-9eea-da7ad0900002","type":"pipelines","attributes":{"name":"amazon s3 generic pipeline","config":{"destinations":[{"auth":{"assume_role":"arn:aws:iam::123456789012:role/example-role","external_id":"external-id-123","session_name":"s3-generic-session"},"batch_settings":{"batch_size":100000000,"timeout_secs":900},"bucket":"my-generic-bucket","compression":{"algorithm":"gzip","level":6},"encoding":{"type":"parquet"},"id":"s3-generic-dest-1","inputs":["source-1"],"key_prefix":"logs/","region":"us-east-1","storage_class":"STANDARD","type":"amazon_s3_generic"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 852.415625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/8a73c202-21f1-11f1-9eea-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"8a73c202-21f1-11f1-9eea-da7ad0900002","type":"pipelines","attributes":{"name":"amazon s3 generic pipeline","config":{"destinations":[{"auth":{"assume_role":"arn:aws:iam::123456789012:role/example-role","external_id":"external-id-123","session_name":"s3-generic-session"},"batch_settings":{"batch_size":100000000,"timeout_secs":900},"bucket":"my-generic-bucket","compression":{"algorithm":"gzip","level":6},"encoding":{"type":"parquet"},"id":"s3-generic-dest-1","inputs":["source-1"],"key_prefix":"logs/","region":"us-east-1","storage_class":"STANDARD","type":"amazon_s3_generic"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 299.27375ms
[...]
