---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["splunk-hec-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"id":"splunk-hec-source-1","type":"splunk_hec"}]},"name":"splunk-hec-store-token-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"f48e9076-34b7-11f1-88ec-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-hec-store-token-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["splunk-hec-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"splunk-hec-source-1","type":"splunk_hec"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 450.308584ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/f48e9076-34b7-11f1-88ec-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"f48e9076-34b7-11f1-88ec-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-hec-store-token-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["splunk-hec-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"splunk-hec-source-1","type":"splunk_hec"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 293.992083ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["splunk-hec-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"id":"splunk-hec-source-1","store_hec_token":true,"type":"splunk_hec"}]},"name":"splunk-hec-store-token-pipeline"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/f48e9076-34b7-11f1-88ec-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"f48e9076-34b7-11f1-88ec-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-hec-store-token-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["splunk-hec-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"splunk-hec-source-1","store_hec_token":true,"type":"splunk_hec"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 544.118375ms
[...]
