---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["parser-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"parser-group-1","include":"env:parse","inputs":["source-1"],"processors":[{"enabled":true,"field":"message","id":"parser-1","include":"env:parse","type":"parse_json"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"parse-json-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"c6713d68-f20b-11f0-a388-da7ad0900002","type":"pipelines","attributes":{"name":"parse-json-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["parser-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"parser-group-1","include":"env:parse","inputs":["source-1"],"processors":[{"enabled":true,"field":"message","id":"parser-1","include":"env:parse","type":"parse_json"}]}],"processors":[{"enabled":true,"id":"parser-group-1","include":"env:parse","inputs":["source-1"],"processors":[{"enabled":true,"field":"message","id":"parser-1","include":"env:parse","type":"parse_json"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 384.9755ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/c6713d68-f20b-11f0-a388-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"c6713d68-f20b-11f0-a388-da7ad0900002","type":"pipelines","attributes":{"name":"parse-json-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["parser-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"parser-group-1","include":"env:parse","inputs":["source-1"],"processors":[{"enabled":true,"field":"message","id":"parser-1","include":"env:parse","type":"parse_json"}]}],"processors":[{"enabled":true,"id":"parser-group-1","include":"env:parse","inputs":["source-1"],"processors":[{"enabled":true,"field":"message","id":"parser-1","include":"env:parse","type":"parse_json"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 259.977ms
[...]
