---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["rsyslog-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"id":"rsyslog-source-1","mode":"tcp","tls":{"crt_file":"/etc/certs/rsyslog.crt"},"type":"rsyslog"}]},"name":"rsyslog-source-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"df729438-f20b-11f0-a3a6-da7ad0900002","type":"pipelines","attributes":{"name":"rsyslog-source-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["rsyslog-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"rsyslog-source-1","mode":"tcp","tls":{"crt_file":"/etc/certs/rsyslog.crt"},"type":"rsyslog"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 394.629792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/df729438-f20b-11f0-a3a6-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"df729438-f20b-11f0-a3a6-da7ad0900002","type":"pipelines","attributes":{"name":"rsyslog-source-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["rsyslog-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"rsyslog-source-1","mode":"tcp","tls":{"crt_file":"/etc/certs/rsyslog.crt"},"type":"rsyslog"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 219.397291ms
[...]
