---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["generate-metrics-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"generate-metrics-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"generate-metrics-1","include":"*","metrics":[{"group_by":["service","env"],"include":"service:payments","metric_type":"count","name":"logs.generated","value":{"field":"events.count","strategy":"increment_by_field"}},{"include":"service:checkout","metric_type":"count","name":"logs.default_count","value":{"strategy":"increment_by_one"}}],"type":"generate_datadog_metrics"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"generate-metrics-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"d748a00e-f20b-11f0-a39c-da7ad0900002","type":"pipelines","attributes":{"name":"generate-metrics-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["generate-metrics-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"generate-metrics-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"generate-metrics-1","include":"*","metrics":[{"group_by":["service","env"],"include":"service:payments","metric_type":"count","name":"logs.generated","value":{"field":"events.count","strategy":"increment_by_field"}},{"include":"service:checkout","metric_type":"count","name":"logs.default_count","value":{"strategy":"increment_by_one"}}],"type":"generate_datadog_metrics"}]}],"processors":[{"enabled":true,"id":"generate-metrics-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"generate-metrics-1","include":"*","metrics":[{"group_by":["service","env"],"include":"service:payments","metric_type":"count","name":"logs.generated","value":{"field":"events.count","strategy":"increment_by_field"}},{"include":"service:checkout","metric_type":"count","name":"logs.default_count","value":{"strategy":"increment_by_one"}}],"type":"generate_datadog_metrics"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 380.048583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/d748a00e-f20b-11f0-a39c-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"d748a00e-f20b-11f0-a39c-da7ad0900002","type":"pipelines","attributes":{"name":"generate-metrics-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["generate-metrics-group-1"],"type":"data[...]
[...]
