---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":{"destination_key":"env","if_tag_exists":"append","source_keys":["environment","stage"]},"name":"mapping-rule","query":null,"reference_table":null}]},"id":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRulesetDataSource_MappingRule-local-1770244780","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"f15ab7a9-a5d5-4d1b-b7d2-54eccd743a9a","type":"ruleset","attributes":{"created":{"seconds":1770244781,"nanos":655022000},"enabled":true,"last_modified_user_uuid":"8aa9beab-3c2a-11ef-8a8f-56d598d478b5","modified":{"seconds":1770244781,"nanos":655022000},"name":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRulesetDataSource_MappingRule-local-1770244780","position":20,"rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":false,"if_tag_exists":"append"},"reference_table":null,"metadata":null}],"version":3657253}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 115.649167ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/f15ab7a9-a5d5-4d1b-b7d2-54eccd743a9a
        method: GET
      response:
        body: '{"data":{"id":"f15ab7a9-a5d5-4d1b-b7d2-54eccd743a9a","type":"ruleset","attributes":{"created":{"seconds":1770244781,"nanos":655022000},"enabled":true,"last_modified_user_uuid":"8aa9beab-3c2a-11ef-8a8f-56d598d478b5","modified":{"seconds":1770244781,"nanos":655022000},"name":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRulesetDataSource_MappingRule-local-1770244780","position":20,"rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":false,"if_tag_exists":"append"},"reference_table":null,"metadata":null}],"version":3657253}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 61.942292ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/f15ab7a9-a5d5-4d1b-b7d2-54eccd743a9a
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset f15ab7a9-a5d5-4d1b-b7d2-54eccd743a9a not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 53.01525ms
[...]
