---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"test-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:test"},"reference_table":null}]},"id":"tf-test-tag-ruleset-tf-TestAccDatadogTagPipelineRuleset_Import-local-1759759815","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"26d1fe54-d24d-4009-b001-e53eb62f9220","type":"ruleset","attributes":{"created":{"seconds":1759759816,"nanos":910857000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759759816,"nanos":910857000},"name":"tf-test-tag-ruleset-tf-TestAccDatadogTagPipelineRuleset_Import-local-1759759815","position":4,"rules":[{"name":"test-rule","enabled":true,"query":{"query":"service:test","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3610349}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 213.359625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/26d1fe54-d24d-4009-b001-e53eb62f9220
        method: GET
      response:
        body: '{"data":{"id":"26d1fe54-d24d-4009-b001-e53eb62f9220","type":"ruleset","attributes":{"created":{"seconds":1759759816,"nanos":910857000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759759816,"nanos":910857000},"name":"tf-test-tag-ruleset-tf-TestAccDatadogTagPipelineRuleset_Import-local-1759759815","position":4,"processing_status":"error","rules":[{"name":"test-rule","enabled":true,"query":{"query":"service:test","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3610349}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 143.832458ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/26d1fe54-d24d-4009-b001-e53eb62f9220
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset 26d1fe54-d24d-4009-b001-e53eb62f9220 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 46.276ms
