
---
subcategory: ""
page_title: "Monitor Resource Examples"
description: |-
    Monitor Resource Examples
---

## Monitor Resource Examples

This page lists examples of how to create different Datadog monitor types within Terraform. This list is non exhaustive and will be updated over time to provide more examples.

## Watchdog Monitors

{{ tffile "examples/guides/watchdog_monitor.tf" }}

## Anomaly Monitors

{{ tffile "examples/guides/anomaly_monitor.tf" }}

## Process Monitors

{{ tffile "examples/guides/process_monitor.tf" }}
