---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2Funnel-local-1772139308","widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","query_string":"@browser.name:Chrome","steps":[{"facet":"@view.name","value":"/home"},{"facet":"@view.name","value":"/checkout"}]},"request_type":"funnel"}],"title":"Browser Funnel","type":"funnel"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"j68-etx-9ic","title":"tf-TestAccDatadogDashboardV2Funnel-local-1772139308","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/j68-etx-9ic/tf-testaccdatadogdashboardv2funnel-local-1772139308","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","query_string":"@browser.name:Chrome","steps":[{"facet":"@view.name","value":"/home"},{"facet":"@view.name","value":"/checkout"}]},"request_type":"funnel"}],"title":"Browser Funnel","type":"funnel"},"id":5430994011617850}],"notify_list":[],"created_at":"2026-02-26T20:55:12.204849+00:00","modified_at":"2026-02-26T20:55:12.204849+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.043375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/j68-etx-9ic
        method: GET
      response:
            - chunked
        body: '{"id":"j68-etx-9ic","title":"tf-TestAccDatadogDashboardV2Funnel-local-1772139308","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/j68-etx-9ic/tf-testaccdatadogdashboardv2funnel-local-1772139308","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","query_string":"@browser.name:Chrome","steps":[{"facet":"@view.name","value":"/home"},{"facet":"@view.name","value":"/checkout"}]},"request_type":"funnel"}],"title":"Browser Funnel","type":"funnel"},"id":5430994011617850}],"notify_list":[],"created_at":"2026-02-26T20:55:12.204849+00:00","modified_at":"2026-02-26T20:55:12.204849+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 112.801791ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/j68-etx-9ic
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"j68-etx-9ic"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 376.678958ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/j68-etx-9ic
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID j68-etx-9ic not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 108.44925ms
