---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"assets":[{"category":"runbook","name":"Datadog Runbook","resource_key":"1234","resource_type":"notebook","url":"/notebook/1234"},{"category":"runbook","name":"Confluence Runbook","url":"https://datadoghq.atlassian.net/wiki/spaces/ENG/pages/12345/Runbook"}],"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_Assets-local-1765476343","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2,"warning":1}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.642625ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"assets":[{"category":"runbook","name":"Datadog Runbook","resource_key":"1234","resource_type":"notebook","url":"/notebook/1234"},{"category":"runbook","name":"Confluence Runbook","url":"https://datadoghq.atlassian.net/wiki/spaces/ENG/pages/12345/Runbook"}],"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_Assets-local-1765476343","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2,"warning":1}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":243486163,"org_id":321813,"type":"query alert","name":"tf-TestAccDatadogMonitor_Assets-local-1765476343","message":"some message Notify: @hipchat-channel","tags":[],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0,"warning":1.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1765476344000,"created":"2025-12-11T18:05:44.267789+00:00","modified":"2025-12-11T18:05:44.267789+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[{"monitor_id":243486163,"name":"Datadog Runbook","category":"runbook","url":"/notebook/1234","template_variables":{},"options":{},"resource_key":"1234","resource_type":"notebook"},{"monitor_id":243486163,"name":"Confluence Runbook","category":"runbook","url":"https://datadoghq.atlassian.net/wiki/spaces/ENG/pages/12345/Runbook","template_variables":{},"options":{},"resource_key":null,"resource_type":null}],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","handle":"kevin.pombo@datadoghq.com","email":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.601667ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243486163
        method: GET
      response:
            - chunked
        body: |
            {"id":243486163,"org_id":321813,"type":"query alert","name":"tf-TestAccDatadogMonitor_Assets-local-1765476343","message":"some message Notify: @hipchat-channel","tags":[],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0,"warning":1.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1765476344000,"created":"2025-12-11T18:05:44.267789+00:00","modified":"2025-12-11T18:05:44.267789+00:00","deleted":null,"priority":null,"restricted_roles":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","email":"kevin.pombo@datadoghq.com","handle":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.041417ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243486163?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":243486163,"org_id":321813,"type":"query alert","name":"tf-TestAccDatadogMonitor_Assets-local-1765476343","message":"some message Notify: @hipchat-channel","tags":[],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:fo[...]
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243486163
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":243486163}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 363.4135ms
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243486163
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 96.727459ms
