---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1765465754","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1765465754","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.8865ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1765465754","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1765465754","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":243450666,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1765465754","message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1765465754","tags":[],"query":"avg(last_1h):avg:system.load.5{*} > 4","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4.0},"notify_audit":false,"silenced":{}},"multi":false,"created_at":1765465754000,"created":"2025-12-11T15:09:14.921063+00:00","modified":"2025-12-11T15:09:14.921063+00:00","deleted":null,"priority":3,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","handle":"kevin.pombo@datadoghq.com","email":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.725542ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243450666
        method: GET
      response:
            - chunked
        body: |
            {"id":243450666,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1765465754","message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1765465754","tags":[],"query":"avg(last_1h):avg:system.load.5{*} > 4","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4.0},"notify_audit":false,"silenced":{}},"multi":false,"created_at":1765465754000,"created":"2025-12-11T15:09:14.921063+00:00","modified":"2025-12-11T15:09:14.921063+00:00","deleted":null,"priority":3,"restricted_roles":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","email":"kevin.pombo@datadoghq.com","handle":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.672208ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1765465754","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1765465754","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/243450666/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.731791ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243450666?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":243450666,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1765465754","message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1765465754","tags":[],"query":"avg(last_1h):avg:system.load.5{*} > 4","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4.0},"notify_audit":false,"silenced":{}},"multi":false,"created_at":1765465754000,"created":"2025-12-11T15:09:14.921063+00:00","modified":"2025-12-11T15:09:14.921063+00:00","deleted":null,"priority":3,"restricted_roles":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","email":"kevin.pombo@datadoghq.com","handle":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.417541ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243450666
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":243450666}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.984417ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243450666
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 99.774417ms
