---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"updated message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1770666462","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":["tag_key_tf-TestAccDatadogMonitor_WithTagConfig-local-1770666462:bar"],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.694542ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"policy":{"tag_key":"tag_key_tf-TestAccDatadogMonitor_WithTagConfig-local-1770666462","tag_key_required":true,"valid_tag_values":["bar"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/monitor/policy
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-config-policy","attributes":{"policy":{"valid_tag_values":["bar"],"tag_key_required":true,"tag_key":"tag_key_tf-TestAccDatadogMonitor_WithTagConfig-local-1770666462"},"policy_type":"tag"},"id":"060f83c1-0a09-4e5e-8431-894813441a04"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.198125ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"updated message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1770666462","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":["tag_key_tf-TestAccDatadogMonitor_WithTagConfig-local-1770666462:bar"],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":257553166,"org_id":321813,"type":"query alert","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1770666462","message":"updated message Notify: @hipchat-channel","tags":["tag_key_tf-TestAccDatadogMonitor_WithTagConfig-local-1770666462:bar"],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1770666463000,"created":"2026-02-09T19:47:43.897631+00:00","modified":"2026-02-09T19:47:43.897631+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.5303775s
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"updated message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1770666462","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":["tag_key_tf-TestAccDatadogMonitor_WithTagConfig-local-1770666462:bar"],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/257553166/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.859167ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/monitor/policy/060f83c1-0a09-4e5e-8431-894813441a04
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-config-policy","attributes":{"policy_type":"tag","policy":{"valid_tag_values":["bar"],"tag_key":"tag_key_tf-TestAccDatadogMonitor_WithTagConfig-local-1770666462","tag_key_required":true}},"id":"060f83c1-0a09-4e5e-8431-894813441a04"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.683125ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/257553166?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":257553166,"org_id":321813,"type":"query alert","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1770666462","message":"updated message Notify: @hipchat-channel","tags":["tag_key_tf-TestAccDatadogMonitor_WithTagConfig-local-1770666462:bar"],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1770666463000,"created":"2026-02-09T19:47:43.897631+00:00","modified":"2026-02-09T19:47:43.897631+00:00","deleted":null,"priority":null,"restricted_roles":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.78375ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/257553166
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":257553166}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.694862084s
