---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_LogMultiAlert-local-1765465756","options":{"enable_logs_sample":true,"escalation_message":"the situation has escalated @pagerduty","evaluation_delay":700,"group_retention_duration":"2d","include_tags":true,"new_host_delay":600,"notify_by":["status"],"notify_no_data":false,"on_missing_data":"show_no_data","renotify_interval":60,"renotify_occurrences":5,"renotify_statuses":["alert","warn"],"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":1},"priority":null,"query":"logs(\"service:foo AND type:error\").index(\"main\").rollup(\"count\").by(\"source,status\").last(\"5m\") \u003e 2","restricted_roles":null,"tags":["baz","foo:bar"],"type":"log alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.5825ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_LogMultiAlert-local-1765465756","options":{"enable_logs_sample":true,"escalation_message":"the situation has escalated @pagerduty","evaluation_delay":700,"group_retention_duration":"2d","include_tags":true,"new_host_delay":600,"notify_by":["status"],"notify_no_data":false,"on_missing_data":"show_no_data","renotify_interval":60,"renotify_occurrences":5,"renotify_statuses":["alert","warn"],"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":1},"priority":null,"query":"logs(\"service:foo AND type:error\").index(\"main\").rollup(\"count\").by(\"source,status\").last(\"5m\") \u003e 2","restricted_roles":null,"tags":["baz","foo:bar"],"type":"log alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":243450685,"org_id":321813,"type":"log alert","name":"tf-TestAccDatadogMonitor_LogMultiAlert-local-1765465756","message":"some message Notify: @hipchat-channel","tags":["baz","foo:bar"],"query":"logs(\"service:foo AND type:error\").index(\"main\").rollup(\"count\").by(\"source,status\").last(\"5m\") > 2","options":{"enable_logs_sample":true,"escalation_message":"the situation has escalated @pagerduty","evaluation_delay":700,"group_retention_duration":"2d","include_tags":true,"new_host_delay":600,"notify_by":["status"],"notify_no_data":false,"on_missing_data":"show_no_data","renotify_interval":60,"renotify_occurrences":5,"renotify_statuses":["alert","warn"],"require_full_window":true,"thresholds":{"critical":2.0,"warning":1.0},"timeout_h":1,"notify_audit":false,"groupby_simple_monitor":false,"silenced":{}},"multi":true,"created_at":1765465757000,"created":"2025-12-11T15:09:17.895428+00:00","modified":"2025-12-11T15:09:17.895428+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","handle":"kevin.pombo@datadoghq.com","email":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 264.624834ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243450685
        method: GET
      response:
            - chunked
        body: |
            {"id":243450685,"org_id":321813,"type":"log alert","name":"tf-TestAccDatadogMonitor_LogMultiAlert-local-1765465756","message":"some message Notify: @hipchat-channel","tags":["baz","foo:bar"],"query":"logs(\"service:foo AND type:error\").ind[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_LogMultiAlert-local-1765465756","options":{"enable_logs_sample":true,"escalation_message":"the situation has escalated @pagerduty","evaluation_delay":700,"group_retention_duration":"2d","include_tags":true,"new_host_delay":600,"notify_by":["status"],"notify_no_data":false,"on_missing_data":"show_no_data","renotify_interval":60,"renotify_occurrences":5,"renotify_statuses":["alert","warn"],"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":1},"priority":null,"query":"logs(\"service:foo AND type:error\").index(\"main\").rollup(\"count\").by(\"source,status\").last(\"5m\") \u003e 2","restricted_roles":null,"tags":["baz","foo:bar"],"type":"log alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/243450685/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.874334ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243450685?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":243450685,"org_id":321813,"type":"log alert","name":"tf-TestAccDatadogMonitor_LogMultiAlert-local-1765465756","message":"some message Notify: @hipchat-channel","tags":["baz","foo:bar"],"query":"logs(\"service:foo AND [...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243450685
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":243450685}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.142125ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243450685
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 313.068209ms
