---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSloList-local-1767989452","widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"b8f-tns-qbi","title":"tf-TestAccDatadogDashboardSloList-local-1767989452","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/b8f-tns-qbi/tf-testaccdatadogdashboardslolist-local-1767989452","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"},"id":6161934649279406}],"notify_list":[],"created_at":"2026-01-09T20:10:53.364951+00:00","modified_at":"2026-01-09T20:10:53.364951+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.303958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/b8f-tns-qbi
        method: GET
      response:
            - chunked
        body: '{"id":"b8f-tns-qbi","title":"tf-TestAccDatadogDashboardSloList-local-1767989452","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/b8f-tns-qbi/tf-testaccdatadogdashboardslolist-local-1767989452","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"},"id":6161934649279406}],"notify_list":[],"created_at":"2026-01-09T20:10:53.364951+00:00","modified_at":"2026-01-09T20:10:53.364951+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.904375ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/b8f-tns-qbi
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"b8f-tns-qbi"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 323.23125ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/b8f-tns-qbi
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID b8f-tns-qbi not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 87.82675ms
