---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2TimeseriesEventQuery_import-local-1772141328","widgets":[{"definition":{"requests":[{"display_type":"bars","event_query":{"compute":{"aggregation":"count"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"count","order":"desc"}}],"index":"*","search":{"query":"status:error"}},"on_right_yaxis":false}],"show_legend":false,"title":"Timeseries with event_query","type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"wux-878-p3j","title":"tf-TestAccDatadogDashboardV2TimeseriesEventQuery_import-local-1772141328","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/wux-878-p3j/tf-testaccdatadogdashboardv2timeserieseventqueryimport-local-1772141328","template_variables":[],"widgets":[{"definition":{"requests":[{"display_type":"bars","event_query":{"compute":{"aggregation":"count"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"count","order":"desc"}}],"index":"*","search":{"query":"status:error"}},"on_right_yaxis":false}],"show_legend":false,"title":"Timeseries with event_query","type":"timeseries"},"id":4313614517429876}],"notify_list":[],"created_at":"2026-02-26T21:28:52.244709+00:00","modified_at":"2026-02-26T21:28:52.244709+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.405416ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/wux-878-p3j
        method: GET
      response:
            - chunked
        body: '{"id":"wux-878-p3j","title":"tf-TestAccDatadogDashboardV2TimeseriesEventQuery_import-local-1772141328","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/wux-878-p3j/tf-testaccdatadogdashboardv2timeserieseventqueryimport-local-1772141328","template_variables":[],"widgets":[{"definition":{"requests":[{"display_type":"bars","event_query":{"compute":{"aggregation":"count"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"count","order":"desc"}}],"index":"*","search":{"query":"status:error"}},"on_right_yaxis":false}],"show_legend":false,"title":"Timeseries with event_query","type":"timeseries"},"id":4313614517429876}],"notify_list":[],"created_at":"2026-02-26T21:28:52.244709+00:00","modified_at":"2026-02-26T21:28:52.244709+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.376167ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/wux-878-p3j
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"wux-878-p3j"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.230041ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/wux-878-p3j
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID wux-878-p3j not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 93.752ms
