---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_id":"12345678-1234-1234-1234-123456789012","actual_bill_config":{"export_name":"test-actual-export","export_path":"/actual-cost","storage_account":"teststorageaccount","storage_container":"test-container"},"amortized_bill_config":{"export_name":"test-amortized-export","export_path":"/amortized-cost","storage_account":"teststorageaccount","storage_container":"test-container"},"client_id":"87654321-4321-4321-4321-210987654321","scope":"/subscriptions/12345678-1234-1234-1234-123456789012"},"type":"azure_uc_config_post_request"},"meta":{"setup_method":"terraform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/azure_uc_config
        method: POST
      response:
        body: '{"data":{"id":"1270","type":"azure_uc_configs","attributes":{"configs":[{"account_id":"12345678-1234-1234-1234-123456789012","client_id":"87654321-4321-4321-4321-210987654321","status":"active","status_updated_at":"2026-01-30T21:27:28Z","error_messages":null,"id":"342","dataset_type":"amortized","storage_account":"teststorageaccount","storage_container":"test-container","export_name":"test-amortized-export","export_path":"/amortized-cost","scope":"/subscriptions/12345678-1234-1234-1234-123456789012","months":15,"created_at":"2026-01-30T21:27:28Z","updated_at":"2026-01-30T21:27:28Z"},{"account_id":"12345678-1234-1234-1234-123456789012","client_id":"87654321-4321-4321-4321-210987654321","status":"active","status_updated_at":"2026-01-30T21:27:28Z","error_messages":null,"id":"341","dataset_type":"actual","storage_account":"teststorageaccount","storage_container":"test-container","export_name":"test-actual-export","export_path":"/actual-cost","scope":"/subscriptions/12345678-1234-1234-1234-123456789012","months":15,"created_at":"2026-01-30T21:27:28Z","updated_at":"2026-01-30T21:27:28Z"}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 2.846000125s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/azure_uc_config/1270
        method: GET
      response:
        body: '{"data":{"id":"1270","type":"azure_uc_configs","attributes":{"configs":[{"account_id":"12345678-1234-1234-1234-123456789012","client_id":"87654321-4321-4321-4321-210987654321","status":"active","status_updated_at":"2026-01-30T21:27:28Z","error_messages":null,"id":"342","dataset_type":"amortized","storage_account":"teststorageaccount","storage_container":"test-container","export_name":"test-amortized-export","export_path":"/amortized-cost","scope":"/subscriptions/12345678-1234-1234-1234-123456789012","months":15,"created_at":"2026-01-30T21:27:28Z","updated_at":"2026-01-30T21:27:28Z"},{"account_id":"12345678-1234-1234-1234-123456789012","client_id":"87654321-4321-4321-4321-210987654321","status":"active","status_updated_at":"2026-01-30T21:27:28Z","error_messages":null,"id":"341","dataset_type":"actual","storage_account":"teststorageaccount","storage_container":"test-container","export_name":"test-actual-export","export_path":"/actual-cost","scope":"/subscriptions/12345678-1234-1234-1234-123456789012","months":15,"created_at":"2026-01-30T21:27:28Z","updated_at":"2026-01-30T21:27:28Z"}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 42.626166ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/azure_uc_config/1270
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Cloud account not found","detail":"Cloud account with ID 1270 was not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 38.113ms
