---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: "apiVersion: v3\nkind: service\nmetadata: \n  name: tf-testaccdatadogcatalogentity_order-local-1730900816\n  contacts:\n    - name: AA\n      type: slack\n      contact: AAA\n    - name: BB\n      type: email\n      contact: BBB@example.com\n    - name: AA\n      type: email\n      contact: AAA@example.com\n    - name: BB\n      type: email\n      contact: AAA@example.com\n    - name: AA\n      type: email\n      contact: BBB@example.com\n  tags:\n    - 'bbb'\n    - 'aaa'\n"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity
        method: POST
      response:
        body: '{"data":[{"id":"fe22bcbc-9dcc-483c-8537-31d4d20ac3ce","type":"entity","attributes":{"apiVersion":"v3","kind":"service","name":"tf-testaccdatadogcatalogentity_order-local-1730900816","namespace":"default","tags":["bbb","aaa"]},"relationships":{"schema":{"data":{"id":"fe22bcbc-9dcc-483c-8537-31d4d20ac3ce","type":"schema"}}},"meta":{"createdAt":"2024-11-06T13:46:58.542513502Z","modifiedAt":"2024-11-06T13:46:58.542513402Z","ingestionSource":"api"}}],"meta":{"count":1,"includeCount":1},"included":[{"id":"fe22bcbc-9dcc-483c-8537-31d4d20ac3ce","type":"schema","attributes":{"schema":{"apiVersion":"v3","kind":"service","metadata":{"name":"tf-testaccdatadogcatalogentity_order-local-1730900816","namespace":"default","tags":["bbb","aaa"],"contacts":[{"name":"AA","type":"slack","contact":"AAA"},{"name":"BB","type":"email","contact":"BBB@example.com"},{"name":"AA","type":"email","contact":"AAA@example.com"},{"name":"BB","type":"email","contact":"AAA@example.com"},{"name":"AA","type":"email","contact":"BBB@example.com"}],"managed":{"ingestionSource":"api","createdAt":"2024-11-06T13:46:58.542513502Z","modifiedAt":"2024-11-06T13:46:58.542513402Z"}}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 202 Accepted
        code: 202
        duration: 339.534042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf-testaccdatadogcatalogentity_order-local-1730900816&include=raw_schema
        method: GET
      response:
        body: '{"data":[{"id":"fe22bcbc-9dcc-483c-8537-31d4d20ac3ce","type":"entity","attributes":{"apiVersion":"v3","kind":"service","name":"tf-testaccdatadogcatalogentity_order-local-1730900816","namespace":"default","tags":["bbb","aaa"]},"relationships":{"rawSchema":{"data":{"id":"fe22bcbc-9dcc-483c-8537-31d4d20ac3ce","type":"rawSchema"}}},"meta":{"createdAt":"2024-11-06T13:46:58.542513Z","modifiedAt":"2024-11-06T13:46:58.542513402Z","ingestionSource":"api"}}],"meta":{"count":1,"includeCount":1},"links":{"self":"/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf-testaccdatadogcatalogentity_order-local-1730900816\u0026include=raw_schema\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=0"},"included":[{"id":"fe22bcbc-9dcc-483c-8537-31d4d20ac3ce","type":"rawSchema","attributes":{"rawSchema":"LS0tCmFwaVZlcnNpb246IHYzCmtpbmQ6IHNlcnZpY2UKbWV0YWRhdGE6CiAgbmFtZTogdGYtdGVzdGFjY2RhdGFkb2djYXRhbG9nZW50aXR5X29yZGVyLWxvY2FsLTE3MzA5MDA4MTYKICBjb250YWN0czoKICAgIC0gbmFtZTogQUEKICAgICAgdHlwZTogc2xhY2sKICAgICAgY29udGFjdDogQUFBCiAgICAtIG5hbWU6IEJCCiAgICAgIHR5cGU6IGVtYWlsCiAgICAgIGNvbnRhY3Q6IEJCQkBleGFtcGxlLmNvbQogICAgLSBuYW1lOiBBQQogICAgICB0eXBlOiBlbWFpbAogICAgICBjb250YWN0OiBBQUFAZXhhbXBsZS5jb20KICAgIC0gbmFtZTogQkIKICAgICAgdHlwZTogZW1haWwKICAgICAgY29udGFjdDogQUFBQGV4YW1wbGUuY29tCiAgICAtIG5hbWU6IEFBCiAgICAgIHR5cGU6IGVtYWlsCiAgICAgIGNvbnRhY3Q6IEJCQkBleGFtcGxlLmNvbQogIHRhZ3M6CiAgICAtICdiYmInCiAgICAtICdhYWEnCg=="}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 50.986917ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity/service:default/tf-testaccdatadogcatalogentity_order-local-1730900816
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 510.100333ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf-testaccdatadogcatalogentity_order-local-1730900816
        method: GET
      response:
        body: '{"data":[],"meta":{"count":0,"includeCount":0},"links":{"self":"/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf-testaccdatadogcatalogentity_order-local-1730900816\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 38.7315ms
