---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"assertions":[{"operator":"lessThan","property":"max","target":100,"type":"latency"},{"operator":"lessThan","target":10,"type":"jitter"},{"operator":"lessThan","target":0.05,"type":"packetLossPercentage"},{"operator":"lessThan","property":"max","target":15,"type":"multiNetworkHop"}],"request":{"destination_service":"dns-server","e2e_queries":5,"host":"example.com","max_ttl":30,"port":53,"source_service":"monitoring","timeout":10,"traceroute_queries":3}},"locations":["aws:us-east-1"],"message":"Notify @pagerduty","name":"tf-TestAccDatadogSyntheticsNetworkTest_Basic-local-1771350170","options":{"httpVersion":"any","min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0},"retry":{"count":2,"interval":300},"tick_every":900},"status":"paused","subtype":"udp","tags":["network:udp","env:prod"],"type":"network"},"type":"network"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/synthetics/tests/network
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"network_test","attributes":{"locations":["aws:us-east-1"],"message":"Notify @pagerduty","type":"network","tags":["network:udp","env:prod"],"status":"paused","options":{"min_location_failed":1,"retry":{"count":2,"interval":300},"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"tick_every":900},"subtype":"udp","name":"tf-TestAccDatadogSyntheticsNetworkTest_Basic-local-1771350170","config":{"assertions":[{"operator":"lessThan","property":"max","target":100,"type":"latency"},{"operator":"lessThan","target":10,"type":"jitter"},{"operator":"lessThan","target":0.05,"type":"packetLossPercentage"},{"operator":"lessThan","property":"max","target":15,"type":"multiNetworkHop"}],"request":{"destination_service":"dns-server","host":"example.com","max_ttl":30,"timeout":10,"source_service":"monitoring","e2e_queries":5,"traceroute_queries":3,"port":53}},"creation_source":"terraform","public_id":"n74-vsk-yck"},"id":"n74-vsk-yck"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 692.72175ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/synthetics/tests/network/n74-vsk-yck
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"network_test","attributes":{"options":{"tick_every":900,"min_location_failed":1,"retry":{"count":2,"interval":300},"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true}},"status":"paused","tags":["network:udp","env:prod"],"config":[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/n74-vsk-yck
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"n74-vsk-yck","name":"tf-TestAccDatadogSyntheticsNetworkTest_Basic-local-1771350170","status":"paused","type":"network","subtype":"udp","tags":["network:udp","env:prod"],"created_at":"2026-02-17T17:42:53.777170+00:00","modified_at":"2026-02-17T17:42:53.777170+00:00","config":{"assertions":[{"operator":"lessThan","property":"max","target":100,"type":"latency"},{"operator":"lessThan","target":10,"type":"jitter"},{"operator":"lessThan","target":0.05,"type":"packetLossPercentage"},{"operator":"lessThan","property":"max","target":15,"type":"multiNetworkHop"}],"request":{"destination_service":"dns-server","e2e_queries":5,"host":"example.com","max_ttl":30,"port":53,"source_service":"monitoring","timeout":10,"traceroute_queries":3}},"message":"Notify @pagerduty","options":{"httpVersion":"any","min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"retry":{"count":2,"interval":300},"tick_every":900},"locations":["aws:us-east-1"],"monitor_id":259557780,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.160917ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["n74-vsk-yck"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"n74-vsk-yck","deleted_at":"2026-02-17T17:42:56.104590+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 531.584417ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/n74-vsk-yck
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 136.221541ms
