---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"configVariables":[],"request":{"bodyType":"multipart/form-data","files":[{"content":"dGhpcyBpcyB0aGUgb3JpZ2luYWwgZmlsZSBjb250ZW50","encoding":"base64","name":"file1","originalFileName":"file.txt","size":33,"type":"text/plain"}],"form":{"foo":"bar"},"headers":{"Content-Type":"multipart/form-data; boundary=\"DatadogSyntheticsFiles\""},"method":"POST","noSavingResponseBody":true,"timeout":30,"url":"https://www.datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsApiTest_FileUpload-local-1772792325","options":{"allow_insecure":true,"ci":{"executionRule":"blocking"},"follow_redirects":true,"httpVersion":"http2","ignoreServerCertificateError":true,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsApiTest_FileUpload-local-1772792325-monitor","monitor_priority":5,"retry":{"count":1,"interval":300},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"cmf-sc7-zr4","name":"tf-TestAccDatadogSyntheticsApiTest_FileUpload-local-1772792325","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2026-03-06T10:18:48.423280+00:00","modified_at":"2026-03-06T10:18:48.423280+00:00","config":{"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"configVariables":[],"request":{"bodyType":"multipart/form-data","files":[{"name":"file1","originalFileName":"file.txt","size":33,"type":"text/plain","bucketKey":"api-upload-file/cmf-sc7-zr4/2026-03-06T10:18:48.240963_b59da603-af9c-43b5-827e-6977ed514d7b.json"}],"form":{"foo":"bar"},"headers":{"Content-Type":"multipart/form-data; boundary=\"DatadogSyntheticsFiles\""},"method":"POST","noSavingResponseBody":true,"timeout":30,"url":"https://www.datadoghq.com"}},"message":"Notify @datadog.user","options":{"allow_insecure":true,"ci":{"executionRule":"blocking"},"follow_redirects":true,"httpVersion":"http2","ignoreServerCertificateError":true,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsApiTest_FileUpload-local-1772792325-monitor","monitor_priority":5,"retry":{"count":1,"interval":300},"tick_every":60},"locations":["aws:eu-central-1"],"created_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":263888032,"org_id":321813,"modified_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"creation_source":"terraform"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 891.169208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/cmf-sc7-zr4
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"cmf-sc7-zr4","name":"tf-TestAccDatadogSyntheticsApiTest_FileUpload-local-1772792325","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2026-03-06T10:18:48.423280+00:00","modi[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/cmf-sc7-zr4
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"cmf-sc7-zr4","name":"tf-TestAccDatadogSyntheticsApiTest_FileUpload-local-1772792325","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2026-03-06T10:18:48.423280+00:00","modified[...]
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["cmf-sc7-zr4"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"cmf-sc7-zr4","deleted_at":"2026-03-06T10:18:58.669027+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 538.754625ms
    - id: 17
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/cmf-sc7-zr4
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 140.980125ms
