---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"assertions":[{"operator":"lessThan","property":"max","target":100,"type":"latency"},{"operator":"lessThan","target":10,"type":"jitter"},{"operator":"lessThan","target":0.05,"type":"packetLossPercentage"},{"operator":"lessThan","property":"max","target":15,"type":"multiNetworkHop"}],"request":{"destination_service":"dns-server","e2e_queries":5,"host":"example.com","max_ttl":30,"port":53,"source_service":"monitoring","timeout":10,"traceroute_queries":3}},"locations":["aws:us-east-1"],"message":"Notify @pagerduty","name":"tf-TestAccDatadogSyntheticsNetworkTest_Updated-local-1771350293","options":{"httpVersion":"any","min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0},"retry":{"count":2,"interval":300},"tick_every":900},"status":"paused","subtype":"udp","tags":["network:udp","env:prod"],"type":"network"},"type":"network"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/synthetics/tests/network
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"network_test","attributes":{"options":{"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"min_location_failed":1,"tick_every":900,"retry":{"count":2,"interval":300}},"subtype":"udp","name":"tf-TestAccDatadogSyntheticsNetworkTest_Updated-local-1771350293","type":"network","config":{"request":{"max_ttl":30,"e2e_queries":5,"port":53,"timeout":10,"destination_service":"dns-server","traceroute_queries":3,"host":"example.com","source_service":"monitoring"},"assertions":[{"operator":"lessThan","property":"max","target":100,"type":"latency"},{"operator":"lessThan","target":10,"type":"jitter"},{"operator":"lessThan","target":0.05,"type":"packetLossPercentage"},{"operator":"lessThan","property":"max","target":15,"type":"multiNetworkHop"}]},"tags":["network:udp","env:prod"],"status":"paused","public_id":"cbt-55q-gk5","locations":["aws:us-east-1"],"message":"Notify @pagerduty","creation_source":"terraform"},"id":"cbt-55q-gk5"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 719.614333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/synthetics/tests/network/cbt-55q-gk5
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"network_test","attributes":{"name":"tf-TestAccDatadogSyntheticsNetworkTest_Updated-local-1771350293","public_id":"cbt-55q-gk5","status":"paused","subtype":"udp","options":{"tick_every":900,"min_location_failed":1,"retry":{"count":2,"interval":300},"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true}},"message":"Notify @pagerduty","config":{"assertions":[{"operator":"lessThan","property":"max","target":100,"type":"latency"},{"operator":"lessThan","target":10,"type":"jitter"},{"operator":"lessThan","target":0.05,"type":"packetLossPercentage"},{"operator":"lessThan","property":"max","target":15,"type":"multiNetworkHop"}],"request":{"host":"example.com","timeout":10,"max_ttl":30,"port":53,"source_service":"monitoring","e2e_queries":5,"destination_service":"dns-server","traceroute_queries":3}},"tags":["network:udp","env:prod"],"type":"network","locations":["aws:us-east-1"]},"id":"cbt-55q-gk5"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.451542ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/cbt-55q-gk5
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"cbt-55q-gk5","name":"tf-TestAccDatadogSyntheticsNetworkTest_Updated-local-1771350293","status":"paused","type":"network","subtype":"udp","tags":["network:udp","env:prod"],"created_at":"2026-02-17T17:44:56.952076+00:00","modified_at":"2026-02-17T17:44:56.952076+00:00","config":{"assertions":[{"operator":"lessThan","property":"max","target":100,"type":"latency"},{"operator":"lessThan","target":10,"type":"jitter"},{"operator":"lessThan","target":0.05,"type":"packetLossPercentage"},{"operator":"lessThan","property":"max","target":15,"type":"multiNetworkHop"}],"request":{"destination_service":"dns-server","e2e_queries":5,"host":"example.com","max_ttl":30,"port":53,"source_service":"monitoring","timeout":10,"traceroute_queries":3}},"message":"Notify @pagerduty","options":{"httpVersion":"any","min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"retry":{"count":2,"interval":300},"tick_every":900},"locations":["aws:us-east-1"],"monitor_id":259558236,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.768709ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["cbt-55q-gk5"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"cbt-55q-gk5","deleted_at":"2026-02-17T17:45:03.711563+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 464.401458ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/cbt-55q-gk5
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 136.97475ms
