---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardAlertGraph_import-local-1767988425","widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"}},{"definition":{"alert_id":"895606","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"alert_graph","viz_type":"toplist"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"6b8-747-39r","title":"tf-TestAccDatadogDashboardAlertGraph_import-local-1767988425","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/6b8-747-39r/tf-testaccdatadogdashboardalertgraphimport-local-1767988425","template_variables":[],"widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"},"id":7512175799226885},{"definition":{"alert_id":"895606","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"alert_graph","viz_type":"toplist"},"id":3722751014191178}],"notify_list":[],"created_at":"2026-01-09T19:53:46.536027+00:00","modified_at":"2026-01-09T19:53:46.536027+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.051542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/6b8-747-39r
        method: GET
      response:
            - chunked
        body: '{"id":"6b8-747-39r","title":"tf-TestAccDatadogDashboardAlertGraph_import-local-1767988425","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/6b8-747-39r/tf-testaccdatadogdashboardalertgraphimport-local-1767988425","template_variables":[],"widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"},"id":7512175799226885},{"definition":{"alert_id":"895606","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"alert_graph","viz_type":"toplist"},"id":3722751014191178}],"notify_list":[],"created_at":"2026-01-09T19:53:46.536027+00:00","modified_at":"2026-01-09T19:53:46.536027+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.276958ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/6b8-747-39r
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"6b8-747-39r"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 356.218291ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/6b8-747-39r
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID 6b8-747-39r not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 108.288084ms
