---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1767989366","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"ske-7tu-t24","title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1767989366","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/ske-7tu-t24/tf-testaccdatadogdashboardrbacupdatetoadmin-local-1767989366","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":6797744258002286}],"notify_list":[],"created_at":"2026-01-09T20:09:27.153408+00:00","modified_at":"2026-01-09T20:09:27.153408+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.7755ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ske-7tu-t24
        method: GET
      response:
            - chunked
        body: '{"id":"ske-7tu-t24","title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1767989366","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/ske-7tu-t24/tf-testaccdatadogdashboardrbacupdatetoadmin-local-1767989366","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":6797744258002286}],"notify_list":[],"created_at":"2026-01-09T20:09:27.153408+00:00","modified_at":"2026-01-09T20:09:27.153408+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.514541ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ske-7tu-t24
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"ske-7tu-t24"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 329.032875ms
