version: 2
interactions:
- request:
    body: |
      {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardDatasource-local-1682003522 two","widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"zz4-zcf-ejn","title":"tf-TestAccDatadogDashboardDatasource-local-1682003522 two","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/zz4-zcf-ejn/tf-testaccdatadogdashboarddatasource-local-1682003522-two","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":471851511938427}],"notify_list":[],"created_at":"2023-04-20T15:12:04.040255+00:00","modified_at":"2023-04-20T15:12:04.040255+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/zz4-zcf-ejn
    method: GET
    id: 2
  response:
    body: |
      {"id":"zz4-zcf-ejn","title":"tf-TestAccDatadogDashboardDatasource-local-1682003522 two","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/zz4-zcf-ejn/tf-testaccdatadogdashboarddatasource-local-1682003522-two","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":471851511938427}],"notify_list":[],"created_at":"2023-04-20T15:12:04.040255+00:00","modified_at":"2023-04-20T15:12:04.040255+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/guj-cc2-mtz
    method: GET
    id: 3
  response:
    body: |
      {"id":"guj-cc2-mtz","title":"tf-TestAccDatadogDashboardDatasource-local-1682003522 one","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/guj-cc2-mtz/tf-testaccdatadogdashboarddatasource-local-1682003522-one","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":2557160645547143}],"notify_list":[],"created_at":"2023-04-20T15:12:04.082395+00:00","modified_at":"2023-04-20T15:12:04.082395+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard
    method: GET
    id: 4
  response:
    body: |
      {"dashboards":[{"id":"5vp-fxm-s4j","title":"PCF Testing","description":"","layout_type":"ordered","url":"/dashboard/5vp-fxm-s4j/pcf-testing","is_read_only":false,"created_at":"2022-06-08T10:40:29.941695+00:00","modified_at":"2023-04-05T13:08:01.464157+00:00","author_handle":"noueman.khalikine@datadoghq.com","deleted_at":null},{"id":"c8v-45p-qip","title":"Kevin's Dashboard Thu, Mar 2, 3:17:17 pm","description":null,"layout_type":"ordered","url":"/dashboard/c8v-45p-qip/kevins-dashboard-thu-mar-2-31717-pm","is_read_only":false,"created_at":"2023-03-02T20:17:17.300648+00:00","modified_at":"2023-03-24T15:16:32.989532+00:00","author_handle":"kevin.zou@datadoghq.com","deleted_at":null},{"id":"rrn-3m3-56v","title":"Example-Update_a_dashboard_returns_OK_response_1674075254 with list_stream widget","description":"Updated[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/zz4-zcf-ejn
    method: DELETE
    id: 10
  response:
    body: |
      {"deleted_dashboard_id":"zz4-zcf-ejn"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/guj-cc2-mtz
    method: GET
    id: 12
  response:
    body: '{"errors":["Dashboard with ID guj-cc2-mtz not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
