---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550"},"relationships":{},"type":"roles"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles
        method: POST
      response:
        body: '{"data":{"id":"f9da4a28-9c44-11ef-a8c4-da7ad0900002","type":"roles","attributes":{"created_at":"2024-11-06T13:42:33.521067Z","modified_at":"2024-11-06T13:42:33.531415Z","name":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550","user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 125.382875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles/f9da4a28-9c44-11ef-a8c4-da7ad0900002
        method: GET
      response:
        body: '{"data":{"id":"f9da4a28-9c44-11ef-a8c4-da7ad0900002","type":"roles","attributes":{"created_at":"2024-11-06T13:42:33.521067Z","created_by_handle":"frog@datadoghq.com","modified_at":"2024-11-06T13:42:33.531415Z","modified_by_handle":"frog@datadoghq.com","name":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550","user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 53.226916ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/permissions
        method: GET
      response:
            - chunked
        body: '{"data":[{"id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","type":"permissions","attributes":{"created":"2018-10-19T15:35:23.734317Z","description":"Deprecated. Privileged Access (also known as Admin permission) has been replaced by more specific permissions: Access Management, Org Management, Billing Read/Write, Usage Read/Write.","display_name":"Privileged Access","display_type":"other","group_name":"General","name":"admin","restricted":false}},{"id":"984d2f00-d3b4-11e8-a200-bb47109e9987","type":"permissions","attributes":{"created":"2018-10-19T15:35:23.756736Z","description":"Deprecated. Standard Access has been replaced by more specific permissions.","display_name":"Standard Access","display_type":"other","group_name":"General","name":"standard","restricted":false}},{"id":"5e605652-dd12-11e8-9e53-375565b8970e","type":"permissions","attributes":{"created":"2018-10-31T13:39:19.72745Z","description":"Read log data, possibly scop[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"fa1b9a7b-9c44-11ef-9062-3652d25ddf53","attributes":{"name":null,"handle":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550@example.com","created_at":"2024-11-06T13:42:33.959721+00:00","modified_at":"2024-11-06T13:42:33.959721+00:00","email":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550@example.com","icon":"https://secure.gravatar.com/avatar/4f87a7b36feae9a0a217114aa5d11e63?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 548.029084ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"fa1b9a7b-9c44-11ef-9062-3652d25ddf53","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"fa5f8292-9c44-11ef-962f-da7ad0900002","attributes":{"uuid":"fa5f8292-9c44-11ef-962f-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2024-11-06T13:42:34.404401+00:00","expires_at":"2024-11-08T13:42:34.115902+00:00"},"relationships":{"user":{"data":{"type":"users","id":"fa1b9a7b-9c44-11ef-9062-3652d25ddf53"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 445.220334ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"fa1b9a7b-9c44-11ef-9062-3652d25ddf53","type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles/f9da4a28-9c44-11ef-a8c4-da7ad0900002/users
        method: POST
      response:
        body: '{"data":[{"id":"fa1b9a7b-9c44-11ef-9062-3652d25ddf53","type":"users","attributes":{"allowed_login_methods":[],"created_at":"2024-11-06T13:42:33.959721Z","disabled":false,"email":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550@example.com","handle":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550@example.com","icon":"https://secure.gravatar.com/avatar/4f87a7b36feae9a0a217114aa5d11e63?d=retro\u0026s=48","modified_at":"2024-11-06T13:42:33.959721Z","name":"","service_account":false,"status":"Pending","title":null,"verified":false},"relationships":{"org":{"data":{"id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","type":"orgs"}},"roles":{"data":[{"id":"f9da4a28-9c44-11ef-a8c4-da7ad0900002","type":"roles"}]}}}],"meta":{"page":{"total_count":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 68.56775ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles/f9da4a28-9c44-11ef-a8c4-da7ad0900002/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"fa1b9a7b-9c44-11ef-9062-3652d25ddf53","type":"users","attributes":{"allowed_login_methods":[],"created_at":"2024-11-06T13:42:33.959721Z","disabled":false,"email":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550@example.com","handle":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550@example.com","icon":"https://secure.gravatar.com/avatar/4f87a7b36feae9a0a217114aa5d11e63?d=retro\u0026s=48","modified_at":"2024-11-06T13:42:33.959721Z","name":"","service_account":false,"status":"Pending","title":null,"verified":false},"relationships":{"org":{"data":{"id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","type":"orgs"}},"roles":{"data":[{"id":"f9da4a28-9c44-11ef-a8c4-da7ad0900002","type":"roles"}]}}}],"meta":{"page":{"total_count":1,"total_filtered_count":1}},"included":[{"id":"f9da4a28-9c44-11ef-a8c4-da7ad0900002","type":"roles","attributes":{"created_at":"2024-11-06T13:42:33.521067Z","modified_at":"2024-11-06T13:42:33.531415Z","name":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550","user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc2[...]
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/fa1b9a7b-9c44-11ef-9062-3652d25ddf53
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"fa1b9a7b-9c44-11ef-9062-3652d25ddf53","attributes":{"name":null,"handle":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550@example.com","created_at":"2024-11-06T13:42:33.959721+00:00","modified_at":"2024-11-06T13:42:33.959721+00:00","email":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550@example.com","icon":"https://secure.gravatar.com/avatar/4f87a7b36feae9a0a217114aa5d11e63?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[{"type":"roles","id":"f9da4a28-9c44-11ef-a8c4-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},"included":[{"type":"roles","id":"f9da4a28-9c44-11ef-a8c4-da7ad0900002","attributes":{"name":"tf-testaccdatadogroleusersdatasourcebasic-local-1730900550","managed":false,"created_at":"2024-11-06T13:42:33.521067+00:00","modified_at":"2024-11-06T13:42:33.531415+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions"[...]
[...]
