{%- import "utils/request_builder_helper.j2" as requestBuilderMacros %}
{%- set parameterCreateBody = createOperationParams.get("body") %}
{%- set parameterUpdateBody = updateOperationParams.get("body") %}

{% if parameterCreateBody %}
{{ requestBuilderMacros.requestBaseFunc(name, "build"~name|camel_case~"RequestBody", parameterCreateBody|parameter_schema) }}
{% endif %}

{% if parameterUpdateBody %}
{% if not parameterCreateBody or (parameterCreateBody|parameter_schema != parameterUpdateBody|parameter_schema) %}
{{ requestBuilderMacros.requestBaseFunc(name, "build"~name|camel_case~"UpdateRequestBody", parameterUpdateBody|parameter_schema) }}
{% endif%}
{% endif %}