---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardScatterplotFormula_import-local-1767989419","widgets":[{"definition":{"requests":{"table":{"formulas":[{"dimension":"x","formula":"my_query_1"},{"alias":"second_query","dimension":"color","formula":"my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo} by {env}"},{"aggregator":"sum","data_source":"metrics","name":"my_query_2","query":"avg:system.cpu.idle{bar} by {env}"}],"response_format":"scalar"}},"type":"scatterplot"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"qk3-w8x-g8v","title":"tf-TestAccDatadogDashboardScatterplotFormula_import-local-1767989419","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/qk3-w8x-g8v/tf-testaccdatadogdashboardscatterplotformulaimport-local-1767989419","template_variables":[],"widgets":[{"definition":{"requests":{"table":{"formulas":[{"dimension":"x","formula":"my_query_1"},{"alias":"second_query","dimension":"color","formula":"my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo} by {env}"},{"aggregator":"sum","data_source":"metrics","name":"my_query_2","query":"avg:system.cpu.idle{bar} by {env}"}],"response_format":"scalar"}},"type":"scatterplot"},"id":6319855452046093}],"notify_list":[],"created_at":"2026-01-09T20:10:20.684668+00:00","modified_at":"2026-01-09T20:10:20.684668+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.361583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/qk3-w8x-g8v
        method: GET
      response:
            - chunked
        body: '{"id":"qk3-w8x-g8v","title":"tf-TestAccDatadogDashboardScatterplotFormula_import-local-1767989419","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/qk3-w8x-g8v/tf-testaccdatadogdashboardscatterplotformulaimport-local-1767989419","template_variables":[],"widgets":[{"definition":{"requests":{"table":{"formulas":[{"dimension":"x","formula":"my_query_1"},{"alias":"second_query","dimension":"color","formula":"my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo} by {env}"},{"aggregator":"sum","data_source":"metrics","name":"my_query_2","query":"avg:system.cpu.idle{bar} by {env}"}],"response_format":"scalar"}},"type":"scatterplot"},"id":6319855452046093}],"notify_list":[],"created_at":"2026-01-09T20:10:20.684668+00:00","modified_at":"2026-01-09T20:10:20.684668+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.926541ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/qk3-w8x-g8v
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"qk3-w8x-g8v"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.044209ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/qk3-w8x-g8v
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID qk3-w8x-g8v not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 101.319625ms
