---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"end":1770638831,"message":"tf-TestAccDatadogDowntime_TrimWhitespace-local-1770631631","monitor_tags":["*"],"recurrence":{"period":1,"type":"days"},"scope":["host:Whitespace"],"start":1770635231,"timezone":"UTC"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/downtime
        method: POST
      response:
            - chunked
        body: |
            {"id":6344473394,"monitor_id":null,"org_id":321813,"start":1770635231,"end":1770638831,"canceled":null,"created":1770631633,"modified":1770631633,"message":"tf-TestAccDatadogDowntime_TrimWhitespace-local-1770631631","active":false,"disabled":false,"recurrence":{"type":"days","period":1,"week_days":null,"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":1,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"d3fd09ee-33f0-4d8f-95e9-ad3b672571ba","scope":["host:Whitespace"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.992473458s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/downtime/6344473394
        method: GET
      response:
            - chunked
        body: |
            {"id":6344473394,"monitor_id":null,"org_id":321813,"start":1770635231,"end":1770638831,"canceled":null,"created":1770631633,"modified":1770631633,"message":"tf-TestAccDatadogDowntime_TrimWhitespace-local-1770631631","active":false,"disabled":false,"recurrence":{"type":"days","period":1,"week_days":null,"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":1,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"d3fd09ee-33f0-4d8f-95e9-ad3b672571ba","scope":["host:Whitespace"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.037083ms
[...]
