---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"end":1770638831,"message":"Example Datadog downtime message.","monitor_tags":["foo:bar"],"scope":["host:X","host:Y"],"start":1770635231,"timezone":"UTC"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/downtime
        method: POST
      response:
            - chunked
        body: |
            {"id":6344473393,"monitor_id":null,"org_id":321813,"start":1770635231,"end":1770638831,"canceled":null,"created":1770631633,"modified":1770631633,"message":"Example Datadog downtime message.","active":false,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":2,"status":"scheduled","monitor_tags":["foo:bar"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"5fb973ce-936e-4415-b1a1-a96cff662cb1","scope":["host:X","host:Y"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.856065875s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/downtime/6344473393
        method: GET
      response:
            - chunked
        body: |
            {"id":6344473393,"monitor_id":null,"org_id":321813,"start":1770635231,"end":1770638831,"canceled":null,"created":1770631633,"modified":1770631633,"message":"Example Datadog downtime message.","active":false,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":2,"status":"scheduled","monitor_tags":["foo:bar"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"5fb973ce-936e-4415-b1a1-a96cff662cb1","scope":["host:X","host:Y"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.915541ms
[...]
