{{/*
  A tiny template that simply links to the GitHub source
  Hashicorp and OpenTofu would otherwise truncate the resource documentation due to size limits.
*/}}
---
page_title: "datadog_dashboard Resource - terraform-provider-datadog"
subcategory: ""
description: |-
  Provides a Datadog dashboard resource. This can be used to create and manage Datadog dashboards.
  !> The is_read_only field is deprecated and non-functional. Use restricted_roles instead to define which roles are required to edit the dashboard.
---

# datadog_dashboard (Resource)

Provides a Datadog dashboard resource. This can be used to create and manage Datadog dashboards.


#### *Warning*
The documentation for this resource is very large and may not render correctly in the Terraform documentation site.
You can view the full documentation on GitHub: [datadog_dashboard](https://github.com/DataDog/terraform-provider-datadog/blob/main/docs/resources/dashboard_full.md)