---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppressionDataSource-local-1757025261","rule_query":"source:cloudtrail","suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/validation
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 432.005708ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppressionDataSource-local-1757025261","rule_query":"source:cloudtrail","suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: POST
      response:
        body: '{"data":{"id":"z4d-qp9-nnr","type":"suppressions","attributes":{"creation_date":1757025264697,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppressionDataSource-local-1757025261","rule_query":"source:cloudtrail","suppression_query":"env:staging","tags":[],"update_date":1757025264697,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 148.82125ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/z4d-qp9-nnr
        method: GET
      response:
        body: '{"data":{"id":"z4d-qp9-nnr","type":"suppressions","attributes":{"creation_date":1757025264697,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppressionDataSource-local-1757025261","rule_query":"source:cloudtrail","suppression_query":"env:staging","tags":[],"update_date":1757025264697,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 149.651417ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: GET
      response:
        body: '{"data":[{"id":"2v0-mpc-h2s","type":"suppressions","attributes":{"creation_date":1711550926776,"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI Account"},"data_exclusion_query":"","description":"This rule suppresses low-severity signals in staging environments.","editable":true,"enabled":true,"expiration_date":1703187336000,"name":"Test-Create_a_suppression_rule_returns_OK_response-1711550926","rule_query":"type:log_detection source:cloudtrail","suppression_query":"env:staging status:low","tags":[],"update_date":1711550926776,"updater":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI Account"},"version":1}},{"id":"2v0-mpc-h2s","type":"suppressions","attributes":{"creation_date":1711550926776,"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI Account"},"data_exclusion_quer[...]
[...]
    - id: 17
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/z4d-qp9-nnr
        method: GET
      response:
        body: '{"errors":["not_found(Suppression with ID z4d-qp9-nnr not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 119.502625ms
