---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test datastore for acceptance testing","name":"tf-test-datastore-tf-TestAccDatastoreBasic-local-1768498207","org_access":"manager","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions-datastores
        method: POST
      response:
        body: '{"data":{"id":"151746f7-77c0-4b2d-b561-f0adc01d9c10","type":"datastores"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 158.821042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions-datastores/151746f7-77c0-4b2d-b561-f0adc01d9c10
        method: GET
      response:
        body: '{"data":{"id":"151746f7-77c0-4b2d-b561-f0adc01d9c10","type":"datastores","attributes":{"created_at":"2026-01-15T17:30:07.620096Z","creator_user_id":1123028,"creator_user_uuid":"74dc9a7f-5fe1-11ef-8d67-dec0c2fdd3d9","description":"Test datastore for acceptance testing","modified_at":"2026-01-15T17:30:07.620096Z","name":"tf-test-datastore-tf-TestAccDatastoreBasic-local-1768498207","org_id":2,"primary_column_name":"id","primary_key_generation_strategy":"none"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 59.966958ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions-datastores/151746f7-77c0-4b2d-b561-f0adc01d9c10
        method: GET
      response:
        body: '{"errors":[{"status":"404","id":"574e1075-aa15-4429-ae54-9b197c6cc500","title":"datastore not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 42.784667ms
