---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTopologyMap-local-1767989533","widgets":[{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"},{"is_hidden":true,"link":"https://app.datadoghq.com/dashboard/lists","override_label":"logs"}],"requests":[{"query":{"data_source":"service_map","filters":["env:prod","datacenter:dc1"],"service":"master-db"},"request_type":"topology"}],"title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","title_size":"16","type":"topology_map"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"gex-9zw-qgz","title":"tf-TestAccDatadogDashboardTopologyMap-local-1767989533","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/gex-9zw-qgz/tf-testaccdatadogdashboardtopologymap-local-1767989533","template_variables":[],"widgets":[{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"},{"is_hidden":true,"link":"https://app.datadoghq.com/dashboard/lists","override_label":"logs"}],"requests":[{"query":{"data_source":"service_map","filters":["env:prod","datacenter:dc1"],"service":"master-db"},"request_type":"topology"}],"title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","title_size":"16","type":"topology_map"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":3465737571194613}],"notify_list":[],"created_at":"2026-01-09T20:12:14.351251+00:00","modified_at":"2026-01-09T20:12:14.351251+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.631125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/gex-9zw-qgz
        method: GET
      response:
            - chunked
        body: '{"id":"gex-9zw-qgz","title":"tf-TestAccDatadogDashboardTopologyMap-local-1767989533","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/gex-9zw-qgz/tf-testaccdatadogdashboardtopologymap-local-1767989533","template_variables":[],"widgets":[{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"},{"is_hidden":true,"link":"https://app.datadoghq.com/dashboard/lists","override_label":"logs"}],"requests":[{"query":{"data_source":"service_map","filters":["env:prod","datacenter:dc1"],"service":"master-db"},"request_type":"topology"}],"title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","title_size":"16","type":"topology_map"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":3465737571194613}],"notify_list":[],"created_at":"2026-01-09T20:12:14.351251+00:00","modified_at":"2026-01-09T20:12:14.351251+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 99.336875ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/gex-9zw-qgz
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"gex-9zw-qgz"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.782709ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/gex-9zw-qgz
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID gex-9zw-qgz not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 85.382542ms
