---
layout: ""
page_title: "Provider: Datadog"
description: |-
  The Datadog provider allows you to interact with the Datadog API.
---

# Datadog Provider

The [Datadog](https://www.datadoghq.com) provider is used to interact with the resources supported by Datadog. The provider needs to be configured with the proper credentials before it can be used. It requires terraform 0.12 or later.

Try the [hands-on tutorial](https://developer.hashicorp.com/terraform/tutorials/use-case/datadog-provider) on the Datadog provider on the HashiCorp Learn site.

Use the navigation to the left to read about the available resources.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
