---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplicationDatasourceErrorMultiple-local-1758891998","type":"android"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"product_scales":{"rum_event_processing_scale":{"last_modified_at":1758892000285,"state":"ALL"},"product_analytics_retention_scale":{"last_modified_at":1758892000285,"state":"NONE"}},"ootb_metrics_installed":false,"short_name":"tf_testaccdatadogrumapplicationd_67","created_by_handle":"frog@datadoghq.com","created_at":1758892000285,"client_token":"pub1278af7c4de1e8349de26d9cfa3c4956","updated_by_handle":"frog@datadoghq.com","name":"tf-TestAccDatadogRUMApplicationDatasourceErrorMultiple-local-1758891998","hash":"pub1278af7c4de1e8349de26d9cfa3c4956","application_id":"acef1a30-4461-4af4-b1ef-8057128fe629","updated_at":1758892000285,"type":"android","is_active":false,"org_id":569509,"tags":[],"product_analytics_replay_sample_rate":100,"api_key_id":658968},"id":"acef1a30-4461-4af4-b1ef-8057128fe629"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 533.895042ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/29583a9a-a952-4b00-8043-8fc9ef6c8408
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 207.773667ms
[...]
