---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1758891998","type":"android"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1758892000361},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1758892000361}},"created_by_handle":"frog@datadoghq.com","type":"android","application_id":"0bb261f4-f8e5-4aaf-8074-632255ef656e","client_token":"pubc27284f4b49c29fb71be1ed1a3f327ce","name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1758891998","hash":"pubc27284f4b49c29fb71be1ed1a3f327ce","api_key_id":658973,"org_id":569509,"tags":[],"product_analytics_replay_sample_rate":100,"updated_by_handle":"frog@datadoghq.com","is_active":false,"ootb_metrics_installed":false,"created_at":1758892000361,"updated_at":1758892000361,"short_name":"tf_testaccdatadogrumapplicationd_69"},"id":"0bb261f4-f8e5-4aaf-8074-632255ef656e"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 618.448917ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/ac7db384-43cf-4449-a383-c6e111314a68
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"api_key_id":658972,"hash":"pub740b7f0066fd1f6da87f903859d2b306","type":"browser","short_name":"tf_testaccdatadogrumapplicationd_70","is_active":false,"product_analytics_replay_sample_rate":100,"application_id":"ac7db384-43cf-4449-a383-c6e111314a68","updated_at":1758892000382,"updated_by_handle":"frog@datadoghq.com","org_id":569509,"tags":[],"name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1758891998","created_at":1758892000382,"client_token":"pub740b7f0066fd1f6da87f903859d2b306","ootb_metrics_installed":false,"product_scales":{"product_analytics_retention_scale":{"last_modified_at":1758892000382,"state":"NONE"},"rum_event_processing_scale":{"last_modified_at":1758892000382,"state":"ALL"}},"created_by_handle":"frog@datadoghq.com"},"id":"ac7db384-43cf-4449-a383-c6e111314a68"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.411375ms
[...]
