---
page_title: "{{.Type}} {{.Name}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} ({{.Name}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/datadog_org_groups/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
