{%- import "utils/types_helper.j2" as typesHelper %}

type datadog{{ name|camel_case }}DataSource struct {
	Api  *datadog{{ version }}.{{ apiName }}
	Auth context.Context
}

type datadog{{ name|camel_case }}DataSourceModel struct {
    // Query Parameters
    {%- for name, schema in singularParamAttr[0].items() %}
    {{- typesHelper.primitiveTypeProperty(name, get_terraform_schema_type(schema)) }}
    {%- endfor %}

    {%- for name, schema in primitiveParamAttr.items() %}
    {{- typesHelper.primitiveTypeProperty(name, get_terraform_schema_type(schema)) }}
    {%- endfor %}

    {%- for name, schema in primitiveParamArrAttr.items() %}
    {{- typesHelper.primitiveTypeProperty(name, get_terraform_schema_type(schema)) }}
    {%- endfor %}

    {%- for name, schema in nonPrimitiveParamListAttr.items() %}
    {{- typesHelper.nonPrimitiveTypeProperty(name, array=True) }}
    {%- endfor %}

    {%- for name, schema in nonPrimitiveParamObjAttr.items() %}
    {{- typesHelper.nonPrimitiveTypeProperty(name) }}
    {%- endfor %}
}

{% for name, schema in nonPrimitiveParamListAttr.items() %}
{{- typesHelper.basePropertyTypeBuilder(name, schema) }}
{% endfor %}

{% for name, schema in nonPrimitiveParamObjAttr.items() %}
{{- typesHelper.basePropertyTypeBuilder(name, schema) }}
{% endfor %}

