---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test incident type for notification template","is_default":false,"name":"test-tpl-basic-1757516920-it"},"type":"incident_types"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/incidents/config/types
        method: POST
      response:
        body: '{"data":{"id":"2f289dcb-3937-476c-9e98-238386ef07cf","type":"incident_types","attributes":{"createdAt":"2025-09-10T15:08:43.127352946Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test incident type for notification template","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2025-09-10T15:08:43.127353036Z","name":"test-tpl-basic-1757516920-it","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 209.441459ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-tpl-basic-1757516920\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","name":"test-tpl-basic-1757516920","subject":"SEV-2 Incident: test-tpl-basic-1757516920"},"relationships":{"incident_type":{"data":{"id":"2f289dcb-3937-476c-9e98-238386ef07cf","type":"incident_types"}}},"type":"notification_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
        method: POST
      response:
        body: '{"data":{"id":"30c437ed-adeb-4fd8-b563-52df3f88ead8","type":"notification_templates","attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-tpl-basic-1757516920\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","created":"2025-09-10T15:08:43.536352Z","modified":"2025-09-10T15:08:43.536352Z","name":"test-tpl-basic-1757516920","subject":"SEV-2 Incident: test-tpl-basic-1757516920"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"2f289dcb-3937-476c-9e98-238386ef07cf","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 60.020666ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/30c437ed-adeb-4fd8-b563-52df3f88ead8
        method: GET
      response:
        body: '{"data":{"id":"30c437ed-adeb-4fd8-b563-52df3f88ead8","type":"notification_templates","attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-tpl-basic-1757516920\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","created":"2025-09-10T15:08:43.536352Z","modified":"2025-09-10T15:08:43.536352Z","name":"test-tpl-basic-1757516920","subject":"SEV-2 Incident: test-tpl-basic-1757516920"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"2f289dcb-3937-476c-9e98-238386ef07cf","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 39.234667ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/types/2f289dcb-3937-476c-9e98-238386ef07cf
        method: GET
      response:
        body: '{"data":{"id":"2f289dcb-3937-476c-9e98-238386ef07cf","type":"incident_types","attributes":{"createdAt":"2025-09-10T15:08:43.127352Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test incident type for notification template","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2025-09-10T15:08:43.127353Z","name":"test-tpl-basic-1757516920-it","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 97.154209ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/30c437ed-adeb-4fd8-b563-52df3f88ead8
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 51.028166ms
