---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTimeseriesHasValueLabels-local-1773418630","widgets":[{"definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"q":"avg:system.cpu.user{*} by {host}","style":{"has_value_labels":true,"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":false,"title":"Timeseries With Value Labels","type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"gnd-5jd-eij","title":"tf-TestAccDatadogDashboardTimeseriesHasValueLabels-local-1773418630","description":"Created using the Datadog provider in Terraform","author_handle":"becca.jellinek@datadoghq.com","author_name":"Becca Jellinek","layout_type":"ordered","url":"/dashboard/gnd-5jd-eij/tf-testaccdatadogdashboardtimeserieshasvaluelabels-local-1773418630","template_variables":[],"widgets":[{"definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"q":"avg:system.cpu.user{*} by {host}","style":{"has_value_labels":true,"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":false,"title":"Timeseries With Value Labels","type":"timeseries"},"id":1565359865373830}],"notify_list":[],"created_at":"2026-03-13T16:17:12.644134+00:00","modified_at":"2026-03-13T16:17:12.644134+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 286.439458ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/gnd-5jd-eij
        method: GET
      response:
            - chunked
        body: '{"id":"gnd-5jd-eij","title":"tf-TestAccDatadogDashboardTimeseriesHasValueLabels-local-1773418630","description":"Created using the Datadog provider in Terraform","author_handle":"becca.jellinek@datadoghq.com","author_name":"Becca Jellinek","layout_type":"ordered","url":"/dashboard/gnd-5jd-eij/tf-testaccdatadogdashboardtimeserieshasvaluelabels-local-1773418630","template_variables":[],"widgets":[{"definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"q":"avg:system.cpu.user{*} by {host}","style":{"has_value_labels":true,"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":false,"title":"Timeseries With Value Labels","type":"timeseries"},"id":1565359865373830}],"notify_list":[],"created_at":"2026-03-13T16:17:12.644134+00:00","modified_at":"2026-03-13T16:17:12.644134+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.569542ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/gnd-5jd-eij
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"gnd-5jd-eij"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.216791ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/gnd-5jd-eij
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID gnd-5jd-eij not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 79.257125ms
