version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackSloList-local-1701196981","type":"group","widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"}}]}},"name":"tf-TestAccDatadogPowerpackSloList-local-1701196981","tags":["tag:foo1"],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/powerpacks
    method: POST
    id: 0
  response:
    body: |
      {"data":{"type":"powerpack","id":"f6fa6d5a-8e1d-11ee-bab0-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackSloList-local-1701196981","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackSloList-local-1701196981","type":"group","widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"},"id":4029012678495437}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/f6fa6d5a-8e1d-11ee-bab0-da7ad0900002
    method: GET
    id: 1
  response:
    body: |
      {"data":{"type":"powerpack","id":"f6fa6d5a-8e1d-11ee-bab0-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackSloList-local-1701196981","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackSloList-local-1701196981","type":"group","widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"},"id":4029012678495437}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/f6fa6d5a-8e1d-11ee-bab0-da7ad0900002
    method: GET
    id: 5
  response:
    body: '{"errors":["Powerpack with ID f6fa6d5a-8e1d-11ee-bab0-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
