---
version: 1
interactions:
- request:
    body: '{"type":"service check","query":"\"custom.check\".over(\"environment:foo\").last(2).count_by_status()","name":"name
      for monitor foo","message":"some message Notify: @hipchat-channel","tags":["baz","foo:bar"],"options":{"notify_no_data":false,"renotify_interval":60,"new_host_delay":600,"evaluation_delay":700,"timeout_h":60,"escalation_message":"the
      situation has escalated @pagerduty","thresholds":{"ok":1,"critical":1,"warning":1,"unknown":1},"include_tags":true,"require_full_window":true},"state":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":["baz","foo:bar"],"deleted":null,"query":"\"custom.check\".over(\"environment:foo\").last(2).count_by_status()","message":"some
      message Notify: @hipchat-channel","id":16229101,"multi":true,"name":"name for
      monitor foo","created":"2020-03-04T15:07:15.069483+00:00","created_at":1583334435000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2020-03-04T15:07:15.069483+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"service check","options":{"notify_audit":false,"locked":false,"timeout_h":60,"silenced":{},"include_tags":true,"thresholds":{"unknown":1,"warning":1,"ok":1,"critical":1},"new_host_delay":600,"require_full_window":true,"notify_no_data":false,"renotify_interval":60,"evaluation_delay":700,"escalation_message":"the
      situation has escalated @pagerduty"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nSRgqrrNNmPPT6VSGZq0R9QdtdJF1qxzho2//eboP+tsIQDRgfSx3bSVb1t6QyYb
      X-Dd-Version:
      - "35.2240891"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "6"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/16229101
    method: GET
  response:
    body: '{"restricted_roles":null,"tags":["baz","foo:bar"],"deleted":null,"query":"\"custom.check\".over(\"environment:foo\").last(2).count_by_status()","message":"some
      message Notify: @hipchat-channel","id":16229101,"multi":true,"name":"name for
      monitor foo","created":"2020-03-04T15:07:15.069483+00:00","created_at":1583334435000,"creator":{"id":1[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/16229101
    method: DELETE
  response:
    body: '{"deleted_monitor_id":16229101}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 562ySu37xnxKxbTr0NFd7oH3+L3JO3D7GcG/Lb1Dr0vgKuyocJBk1SrO7ogLRZuZ
      X-Dd-Version:
      - "35.2240891"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/16229101
    method: GET
  response:
    body: '{"errors":["Monitor not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2240891"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2986"
      X-Ratelimit-Reset:
      - "4"
    status: 404 Not Found
    code: 404
    duration: ""
