---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListPermissions
    url: https://api.datadoghq.com/api/v2/permissions
    method: GET
  response:
    body: '{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","attributes":{"name":"admin","display_name":"Privileged
      Access","description":"This permission gives you the ability to view and edit
      everything in your Datadog organization that does not have an explicitly defined
      permission. This includes billing and usage, user, key, and organization management.
      This permission is inclusive of all Standard access permissions.","created":"2018-10-19T15:35:23.734317+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard
      Access","description":"This permission gives you the ability to view and edit
      components in your Datadog organization that do not have explicitly defined
      permissions. This includes APM, Events, and other non-Account Management functionality.","created":"2018-10-19T15:35:23.756736+00:00","group_name":"General","display_type":"other","restricted":fals[...]
[...]
- request:
    body: |
      {"data":{"attributes":{"name":"tf-testaccdatadogroledatasourceexactmatch-local-1605783656 main cloned"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"8010025a-2a56-11eb-8404-ffd1a9e13f12","attributes":{"name":"tf-testaccdatadogroledatasourceexactmatch-local-1605783656
      main cloned","created_at":"2020-11-19T11:00:56.900796+00:00","modified_at":"2020-11-19T11:00:56.900796+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 1P9wTBqAbIBgrelvLhZC6yMU4dh3hoPJxqgVxGKRZAP7KGr8YPkzxcmHF9q0g7sB
      X-Dd-Version:
      - "35.3397207"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/8010025a-2a56-11eb-8404-ffd1a9e13f12
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"8010025a-2a56-11eb-8404-ffd1a9e13f12","attributes":{"name":"tf-testaccdatadogroledatasourceexactmatch-local-1605783656
      main cloned","created_at":"2020-11-19T11:00:56.900796+00:00","modified_at":"2020-11-19T11:00:56.900796+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - a52+bkva5fMDFMmi2v17bUHPljQFhzXPnsLiGGP3HLm+LCaJfIpSjqgfWqa8LIOd
      X-Dd-Version:
      - "35.3397207"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "497"
      X-Ratelimit-Reset:
      - "3"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoles
    url: https://api.datadoghq.com/api/v2/roles?filter=tf-testaccdatadogroledatasourceexactmatch-local-1605783656
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":2,"total_count":25}},"data":[{"type":"roles","id":"8012285a-2a56-11eb-8404-175aae7d6c41","attributes":{"name":"tf-testaccdatadogroledatasourceexactmatch-local-1605783656
      main","created_at":"2020-11-19T11:00:56.915180+00:00","modified_at":"2020-11-19T11:00:56.915180+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}},{"type":"roles","id":"8010025a-2a56-11eb-8404-ffd1a9e13f12","attributes":{"name":"tf-testaccdatadogroledatasourceexactmatch-local-1605783656
      main cloned","created_at":"2020-11-19T11:00:56.900796+00:00","modified_at":"2020-11-19T11:00:56.900796+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 3AvoK4pndynA7PY/liBTdpx9AsQktJu+aWgi7foN678xjM6qh6SX+QmI+4s5bpFv
      X-Dd-Version:
      - "35.3397207"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "490"
      X-Ratelimit-Reset:
      - "3"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoles
    url: https://api.datadoghq.com/api/v2/roles?filter=tf-testaccdatadogroledatasourceexactmatch-local-1605783656+main
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":2,"total_count":25}},"data":[{"type":"roles","id":"8012285a-2a56-11eb-8404-175aae7d6c41","attributes":{"name":"tf-testaccdatadogroledatasourceexactmatch-local-1605783656
      main","created_at":"2020-11-19T11:0[...]
[...]
