---
version: 1
interactions:
- request:
    body: |
      {"auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","auth_uri":"https://accounts.google.com/o/oauth2/auth","client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1603360307@awesome-project-id.iam.gserviceaccount.com","client_id":"123456789012345678901","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/tf-TestAccDatadogLogsArchiveGCS_basic-local-1603360307@awesome-project-id.iam.gserviceaccount.com","host_filters":"foo:bar,buzz:lightyear","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","private_key_id":"1234567890123456789012345678901234567890","project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1603360307","token_uri":"https://accounts.google.com/o/oauth2/token","type":"service_account"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGCPIntegration
    url: https://api.datadoghq.com/api/v1/integration/gcp
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - sQOy8a0Uobuto7YUtlnbqZIuXh5uDLMP34xhBMJaioPr6917JNPh2PehnbSMnQ69
      X-Dd-Version:
      - "35.3237394"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListGCPIntegration
    url: https://api.datadoghq.com/api/v1/integration/gcp
    method: GET
  response:
    body: '[{"automute":false,"project_id":"test-archives","client_email":"dd-44-69@test-archives.iam.gserviceaccount.com","errors":["Datadog
      could not query this project properly. You need to reconfigure this project''s
      credentials/permissions"],"host_filters":""},{"automute":false,"project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1603360307","client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1603360307@awesome-project-id.iam.gserviceaccount.com","errors":[],"host_filters":"foo:bar,buzz:lightyear"}]'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 4/n0qOsNbcCLs0O62LExTPssq0SdRyX2Rk0dgQQIozMoViHF7e4pyB0ZeXOioNEA
      X-Dd-Version:
      - "35.3237600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"destination":{"bucket":"dd-logs-test-datadog-api-client-go","integration":{"client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1603360307@awesome-project-id.iam.gserviceaccount.com","project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1603360307"},"path":"/path/blah","type":"gcs"},"include_tags":false,"name":"my first gcs archive","query":"service:tata","rehydration_tags":[]},"type":"archives"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsArchive
    url: https://api.datadoghq.com/api/v2/logs/config/archives
    method: POST
  response:
    body: '{"data":{"type":"archives","id":"CUQrIPIJQNalG3OBXjEtxA","attributes":{"name":"my
      first gcs archive","query":"service:tata","state":"UNKNOWN","destination":{"bucket":"dd-logs-test-datadog-api-client-go","path":"/path/blah","type":"gcs","integration":{"project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1603360307","client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1603360307@awesome-project-id.iam.gserviceaccount.com"}},"rehydration_tags":[],"include_tags":false}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bCBSaf0t3cWhIJuGOGz9PtbBY7MrMPu1HpZVAposegdxNlFMe/qHi/UbtNAIVmzS
      X-Dd-Version:
      - "35.3237394"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "80"
      X-Ratelimit-Reset:
      - "491"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsArchive
    url: https://api.datadoghq.com/api/v2/logs/config/archives/CUQrIPIJQNalG3OBXjEtxA
    method: GET
  response:
    body: '{"data":{"type":"archives","id":"CUQrIPIJQNalG3OBXjEtxA","attributes":{"name":"my
      first gcs archive","query":"service:tata","state":"UNKNOWN","destination":{"bucket":"dd-logs-test-datadog-api-client-go","path":"/path/blah","type":"gcs","integration":{"project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1603360307","client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1603360307@awesome-project-id.iam.gserviceaccount.com"}},"rehydration_tags":[],"include_tags":false}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - T0M8IUSL6bs+R5gmxnIS28KoD5lx0N0IU04TSlNtiD3lkhl9dUsMKLoAlE6epfmg
      X-Dd-Version:
      - "35.3237394"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4953"
      X-Ratelimit-Reset:
      - "491"
    status: 200 OK
    code: 200
    duration: ""
[...]
