---
version: 1
interactions:
- request:
    body: |
<<<<<<< HEAD
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardServiceMap-local-1602246891","widgets":[{"definition":{"filters":["env:prod","datacenter:us1.prod.dog"],"service":"master-db","title":"env: prod, datacenter:us1.prod.dog, service: master-db","title_align":"left","title_size":"16","type":"servicemap"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
=======
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardServiceMap-local-1602169793","widgets":[{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"}],"filters":["env:prod","datacenter:us1.prod.dog"],"service":"master-db","title":"env: prod, datacenter:us1.prod.dog, service: master-db","title_align":"left","title_size":"16","type":"servicemap"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "4460786927600504849"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "5327300543902605109"
=======
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.13.1; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "1735137968508962562"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "1567016652407616561"
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
<<<<<<< HEAD
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"22u-755-n2a","title":"tf-TestAccDatadogDashboardServiceMap-local-1602246891","url":"/dashboard/22u-755-n2a/tf-testaccdatadogdashboardservicemap-local-1602246891","created_at":"2020-10-09T12:39:46.773796+00:00","modified_at":"2020-10-09T12:39:46.773796+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","service":"master-db","title":"env:
      prod, datacenter:us1.prod.dog, service: master-db","title_align":"left","filters":["env:prod","datacenter:us1.prod.dog"],"type":"servicemap"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":7434383267854895}],"layout_type":"free"}'
=======
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"2sp-2tf-htb","title":"tf-TestAccDatadogDashboardServiceMap-local-1602169793","url":"/dashboard/2sp-2tf-htb/tf-testaccdatadogdashboardservicemap-local-1602169793","created_at":"2020-10-08T15:09:57.178610+00:00","modified_at":"2020-10-08T15:09:57.178610+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"custom_links":[{"link":"https://app.datadoghq.com/dashboard/lists","label":"Test
      Custom Link label"}],"title_size":"16","service":"master-db","title":"env: prod,
      datacenter:us1.prod.dog, service: master-db","title_align":"left","filters":["env:prod","datacenter:us1.prod.dog"],"type":"servicemap"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":8331011543761503}],"layout_type":"free"}'
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Fri, 09 Oct 2020 12:39:46 GMT
=======
      - Thu, 08 Oct 2020 15:09:57 GMT
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      Dd-Pool:
      - dogweb
      Pragma:
      - no-cache
      Set-Cookie:
<<<<<<< HEAD
      - DD-PSHARD=233; Max-Age=604800; Path=/; expires=Fri, 16-Oct-2020 12:39:46 GMT;
=======
      - DD-PSHARD=233; Max-Age=604800; Path=/; expires=Thu, 15-Oct-2020 15:09:57 GMT;
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
        secure; HttpOnly
      Strict-Transport-Security:
      - max-age=15724800;
      Vary:
      - Accept-Encoding
      X-Content-Type-Options:
      - nosniff
      X-Dd-Debug:
<<<<<<< HEAD
      - ZTMib3S/rZeXw/RhaeaehRILC7QJAaERfyf3m4/am8FN44e9rxbkPcmk4YzKBISj
      X-Dd-Version:
      - "35.3169891"
=======
      - /3efrffY0fOidOw5YXy+ujUt+jIWndj9KkkaQ3CKNiYFs6CCTkTChAR8M9mejUqc
      X-Dd-Version:
      - "35.3163187"
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      X-Frame-Options:
      - SAMEORIGIN
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "225509803276467277"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "5327300543902605109"
    url: https://api.datadoghq.com/api/v1/dashboard/22u-755-n2a
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "7383962008202788665"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "5327300543902605109"
    url: https://api.datadoghq.com/api/v1/dashboard/22u-755-n2a
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"22u-755-n2a"}'
=======
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.13.1; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "673409692224543652"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "1567016652407616561"
    url: https://api.datadoghq.com/api/v1/dashboard/2sp-2tf-htb
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"2sp-2tf-htb"}'
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    headers:
      Content-Ty[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "8190721155203623879"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "5327300543902605109"
    url: https://api.datadoghq.com/api/v1/dashboard/22u-755-n2a
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID 22u-755-n2a not found"]}'
=======
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.13.1; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "5293659910285520445"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "1567016652407616561"
    url: https://api.datadoghq.com/api/v1/dashboard/2sp-2tf-htb
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID 2sp-2tf-htb not found"]}'
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Fri, 09 Oct 2020 12:40:46 GMT
=======
      - Thu, 08 Oct 2020 15:10:52 GMT
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      Dd-Pool:
      - dogweb
      Pragma:
      - no-cache
      Strict-Transport-Security:
      - max-age=15724800;
      Vary:
      - Accept-Encoding
      X-Content-Type-Options:
      - nosniff
      X-Dd-Version:
<<<<<<< HEAD
      - "35.3169891"
=======
      - "35.3163187"
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      X-Frame-Options:
      - SAMEORIGIN
    status: 404 Not Found
    code: 404
    duration: ""
