---
version: 1
interactions:
- request:
    body: '{"type":"gauge","description":"some description","short_name":"short name
      for metric_metadata foo","unit":"byte","per_unit":"second","statsd_interval":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/metrics/foo
    method: PUT
  response:
    body: '{"description":"some description","short_name":"short name for metric_metadata
      foo","integration":null,"statsd_interval":1,"per_unit":"second","type":"gauge","unit":"byte"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb_events
      X-Dd-Debug:
      - PEuuvPc1jDW76IiD03oq/vcWxp1BAuV8eSWt+Kjq6GmEku/WMrJ1smUa9xDRZ/Fb
      X-Dd-Version:
      - "35.2232835"
      X-Ratelimit-Limit:
      - "2000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "1998"
      X-Ratelimit-Reset:
      - "34"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"series":[{"metric":"foo","points":[[1583176586,1]]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
      Dd-Pool:
      - propjoe
    status: 202 Accepted
    code: 202
    duration: ""
[...]
