---
version: 1
interactions:
- request:
    body: |
<<<<<<< HEAD
      {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"},{"operator":"validatesJSONPath","target":{"jsonPath":"something","operator":"moreThan","targetValue":5},"type":"body"},{"operator":"isNot","target":200,"type":"statusCode"},{"operator":"matches","target":"20[04]","type":"statusCode"},{"operator":"doesNotMatch","target":"20[04]","type":"statusCode"}],"configVariables":[],"request":{"basicAuth":{"password":"secret","username":"admin"},"body":"this is a body","certificate":{"cert":{"content":"content-certificate","filename":"Provided in Terraform config"},"key":{"content":"content-key","filename":"key"}},"headers":{},"method":"GET","query":{"foo":"bar"},"timeout":30,"url":"https://www.datadoghq.com"},"variables":[]},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions-local-1609770669","options":{"follow_redirects":true,"min_location_failed":1,"monitor_options":{"renotify_interval":100},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
=======
      {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"},{"operator":"validatesJSONPath","target":{"jsonPath":"something","operator":"moreThan","targetValue":5},"type":"body"},{"operator":"isNot","target":200,"type":"statusCode"},{"operator":"matches","target":"20[04]","type":"statusCode"},{"operator":"doesNotMatch","target":"20[04]","type":"statusCode"}],"request":{"basicAuth":{"password":"secret","username":"admin"},"body":"this is a body","certificate":{"cert":{"content":"content-certificate","filename":"Provided in Terraform config"},"key":{"content":"content-key","filename":"key"}},"headers":{},"method":"GET","query":{"foo":"bar"},"timeout":30,"url":"https://www.datadoghq.com"},"variables":[]},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions-local-1609425877","options":{"follow_redirects":true,"min_location_failed":1,"monitor_options":{"renotify_interval":100},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.13+dev (go go1.15.3; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "1384775222634695697"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "4404757145481576858"
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"dzq-yjv-ggp","tags":["foo:bar","baz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","deleted_at":null,"name":"tf-TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions-local-1609770669","monitor_id":28176198,"type":"api","created_at":"2021-01-04T14:31:10.401431+00:00","modified_at":"2021-01-04T14:31:10.401431+00:00","subtype":"http","config":{"variables":[],"request":{"body":"this
      is a body","certificate":{"cert":{"filename":"Provided in Terraform config","updatedAt":"2021-01-04T14:31:09.744830+00:00"},"key":{"filename":"key","updatedAt":"2021-01-04T14:31:09.744798+00:00"}},"url":"https://www.datadoghq.com","basicAuth":{"username":"admin","password":"secret"},"headers":{},"timeout":30,"query":{"foo":"bar"},"method":"GET"},"assertions":[{"operator":"contains","property":"content-type","type":"header","target":"application/json"},{"operator":"is","type":"statusCode","target":200},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}},{"operator":"validatesJSONPath","type":"body","target":{"operator":"moreThan","targetValue":5,"jsonPath":"something"}},{"operator":"isNot","type":"statusCode","target":200},{"operator":"matches","type":"statusCode","target":"20[04]"},{"operator":"doesNotMatch","type":"statusCode","target":"20[04]"}],"configVariables":[]},"options":{"follow_redirects":true,"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":100},"min_location_failed":1,"tick_every":60}}'
=======
        datadog-api-client-go/1.0.0-beta.13+dev (go go1.15.4; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "1916219024028279666"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "8538068514137552188"
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"8d6-2dj-zri","tags":["foo:bar","baz"],"org[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.13+dev (go go1.15.3; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "4348470700739669871"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "4404757145481576858"
    url: https://api.datadoghq.com/api/v1/synthetics/tests/dzq-yjv-ggp
    method: GET
  response:
    body: '{"status":"paused","public_id":"dzq-yjv-ggp[...]
[...]
- request:
    body: |
<<<<<<< HEAD
      {"public_ids":["dzq-yjv-ggp"]}
=======
      {"public_ids":["8d6-2dj-zri"]}
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.13+dev (go go1.15.3; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "3155719596499577347"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "4404757145481576858"
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-01-04T14:31:11.399119+00:00","public_id":"dzq-yjv-ggp"}]}'
=======
        datadog-api-client-go/1.0.0-beta.13+dev (go go1.15.4; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "1425349260334811798"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "8538068514137552188"
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-12-31T14:53:48.980804+00:00","public_id":"8d6-2dj-zri"}]}'
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Mon, 04 Jan 2021 14:31:11 GMT
      Pragma:
      - no-cache
      Set-Cookie:
      - DD-PSHARD=233; Max-Age=604800; Path=/; expires=Mon, 11-Jan-2021 14:31:11 GMT;
=======
      - Thu, 31 Dec 2020 14:53:49 GMT
      Pragma:
      - no-cache
      Set-Cookie:
      - DD-PSHARD=233; Max-Age=604800; Path=/; expires=Thu, 07-Jan-2021 14:53:48 GMT;
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
        secure; HttpOnly
      Strict-Transport-Security:
      - max-age=15724800;
      Vary:
      - Accept-Encoding
      X-Content-Type-Options:
      - nosniff
      X-Dd-Debug:
<<<<<<< HEAD
      - 91aMs4Xd/NaPhGMoIvSvdd0mjw6sy0ZqzVUdTt9hqt35qwhu0snxCQESFXt90Pzi
      X-Dd-Version:
      - "35.3633422"
=======
      - hhAfI9DpjHRbHS2z+2prVh0mHwAun3McFDOF8AzNv8c8J6c/l2q8Kye8syKGTxkY
      X-Dd-Version:
      - "35.3622023"
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
      X-Frame-Options:
      - SAMEORIGIN
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "117"
      X-Ratelimit-Reset:
<<<<<<< HEAD
      - "49"
=======
      - "12"
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.13+dev (go go1.15.3; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "7887363437965658169"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "4404757145481576858"
    url: https://api.datadoghq.com/api/v1/synthetics/tests/dzq-yjv-ggp
=======
        datadog-api-client-go/1.0.0-beta.13+dev (go go1.15.4; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "6014326610804025816"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "8538068514137552188"
    url: https://api.datadoghq.com/api/v1/synthetics/tests/8d6-2dj-zri
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
    method: GET
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Mon, 04 Jan 2021 14:31:11 GMT
=======
      - Thu, 31 Dec 2020 14:53:49 GMT
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
      Pragma:
      - no-cache
      Strict-Transport-Security:
      - max-age=15724800;
      Vary:
      - Accept-Encoding
      X-Content-Type-Options:
      - nosniff
      X-Dd-Version:
<<<<<<< HEAD
      - "35.3633422"
=======
      - "35.3622023"
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
      X-Frame-Options:
      - SAMEORIGIN
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
<<<<<<< HEAD
      - "969"
      X-Ratelimit-Reset:
      - "49"
=======
      - "976"
      X-Ratelimit-Reset:
      - "11"
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
    status: 404 Not Found
    code: 404
    duration: ""
