---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1609928655@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"570f6b1a-5009-11eb-8bb4-6735c93ffc73","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1609928655@example.com","created_at":"2021-01-06T10:24:21.046563+00:00","email":"tf-testaccdatadoguser_existing-local-1609928655@example.com","icon":"https://secure.gravatar.com/avatar/0ca0a1152e3ab09650a116c4dfa277b5?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - EZL7bEfcgNGbknKpx0YgUay5sRnB08o7ifIkIU7pH4DOkkWS5DRjfEr3ib9KggTa
      X-Dd-Version:
      - "35.3647765"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"570f6b1a-5009-11eb-8bb4-6735c93ffc73","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"574b90d6-5009-11eb-8bb4-e70edb91c016","attributes":{"uuid":"574b90d6-5009-11eb-8bb4-e70edb91c016","login_method":null,"invite_type":"basic_invite","created_at":"2021-01-06T10:24:21.442418+00:00","expires_at":"2021-01-08T10:24:21.327051+00:00"},"relationships":{"user":{"data":{"type":"users","id":"570f6b1a-5009-11eb-8bb4-6735c93ffc73"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tn++ajambiboc22yEZp2LPSDqkKgxYU69+naXgFtW57aX7Q9JfJBptYV8xTFKhXT
      X-Dd-Version:
      - "35.3647765"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/570f6b1a-5009-11eb-8bb4-6735c93ffc73
    method: GET
  response:
    body: '{"data":{"type":"users","id":"570f6b1a-5009-11eb-8bb4-6735c93ffc73","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1609928655@example.com","created_at":"2021-01-06T10:24:21.046563+00:00","email":"tf-testaccdatadoguser_existing-local-1609928655@example.com","icon":"https://secure.gravatar.com/avatar/0ca0a1152e3ab09650a116c4dfa277b5?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - UYUatcf3IdBEK3ui4JFBsiRpfETkEcKU5oMVtUXXipuDCcAKJWzH92TLEnrmDoLr
      X-Dd-Version:
      - "35.3647765"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1609928655@example.com","name":"Other User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"errors": ["User tf-testaccdatadoguser_existing-local-1609928655@example.com
      already exists"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3647765"
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguser_existing-local-1609928655%40example.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":98367}},"data":[{"type":"users","id":"570f6b1a-5009-11eb-8bb4-6735c93ffc73","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1609928655@example.com","created_at":"2021-01-06T10:24:21.046563+00:00","email":"tf-testaccdatadoguser_existing-local-1609928655@example.com","icon":"https://secure.gravatar.com/avatar/0ca0a1152e3ab09650a116c4dfa277b5?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - lFrksZMz0TAfmkfXqA+joIhqff9XI0eK5d8n7wOVd6ze5TT6MYngm1maZRo2uB6a
      X-Dd-Version:
      - "35.3647765"
    status: 200 OK
    code: 200
    duration: ""
[...]
