---
version: 1
interactions:
- request:
    body: |
<<<<<<< HEAD
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardScatterplot-local-1602246891","widgets":[{"definition":{"color_by_groups":["app"],"requests":{"x":{"aggregator":"avg","q":"avg:system.cpu.user{account:prod} by {service, team, app}"},"y":{"aggregator":"avg","q":"avg:system.mem.used{env:prod} by {service, team, app}"}},"time":{"live_span":"15m"},"title":"system.mem.used and system.cpu.user by service,team,app colored by app","title_align":"right","title_size":"16","type":"scatterplot","xaxis":{"include_zero":false,"label":"cpu (%)","max":"100","min":"0","scale":"log"},"yaxis":{"include_zero":false,"label":"mem (Gib)","min":"1","scale":"log"}}}]}
=======
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardScatterplot-local-1602169633","widgets":[{"definition":{"color_by_groups":["app"],"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"}],"requests":{"x":{"aggregator":"avg","q":"avg:system.cpu.user{account:prod} by {service, team, app}"},"y":{"aggregator":"avg","q":"avg:system.mem.used{env:prod} by {service, team, app}"}},"time":{"live_span":"15m"},"title":"system.mem.used and system.cpu.user by service,team,app colored by app","title_align":"right","title_size":"16","type":"scatterplot","xaxis":{"include_zero":false,"label":"cpu (%)","max":"100","min":"0","scale":"log"},"yaxis":{"include_zero":false,"label":"mem (Gib)","min":"1","scale":"log"}}}]}
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "3100630657544558373"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "9160354481776217425"
=======
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.13.1; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "7137443908066802051"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "1889086978194460157"
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
<<<<<<< HEAD
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"mt8-5n8-qaq","title":"tf-TestAccDatadogDashboardScatterplot-local-1602246891","url":"/dashboard/mt8-5n8-qaq/tf-testaccdatadogdashboardscatterplot-local-1602246891","created_at":"2020-10-09T12:39:51.368065+00:00","modified_at":"2020-10-09T12:39:51.368065+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","yaxis":{"include_zero":false,"scale":"log","min":"1","label":"mem
=======
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"nth-xvf-faq","title":"tf-TestAccDatadogDashboardScatterplot-local-1602169633","url":"/dashboard/nth-xvf-faq/tf-testaccdatadogdashboardscatterplot-local-1602169633","created_at":"2020-10-08T15:07:16.899932+00:00","modified_at":"2020-10-08T15:07[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "3421359685907297990"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "9160354481776217425"
    url: https://api.datadoghq.com/api/v1/dashboard/mt8-5n8-qaq
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "4078214600334080357"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "9160354481776217425"
    url: https://api.datadoghq.com/api/v1/dashboard/mt8-5n8-qaq
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"mt8-5n8-qaq"}'
=======
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.13.1; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "6071085672716082656"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "1889086978194460157"
    url: https://api.datadoghq.com/api/v1/dashboard/nth-xvf-faq
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"nth-xvf-faq"}'
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Fri, 09 Oct 2020 12:40:49 GMT
=======
      - Thu, 08 Oct 2020 15:08:11 GMT
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      Dd-Pool:
      - dogweb
      Pragma:
      - no-cache
      Set-Cookie:
<<<<<<< HEAD
      - DD-PSHARD=233; Max-Age=604800; Path=/; expires=Fri, 16-Oct-2020 12:40:02 GMT;
=======
      - DD-PSHARD=233; Max-Age=604800; Path=/; expires=Thu, 15-Oct-2020 15:07:25 GMT;
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
        secure; HttpOnly
      Strict-Transport-Security:
      - max-age=15724800;
      Vary:
      - Accept-Encoding
      X-Content-Type-Options:
      - nosniff
      X-Dd-Debug:
<<<<<<< HEAD
      - hhAfI9DpjHRbHS2z+2prVh0mHwAun3McFDOF8AzNv8c8J6c/l2q8Kye8syKGTxkY
      X-Dd-Version:
      - "35.3169891"
=======
      - V26KHlc/RfdWahgILvghYzp00rgLN6YCNAgg+V0KrlqUWK5TouaimNqGpGYzd/eX
      X-Dd-Version:
      - "35.3163138"
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      X-Frame-Options:
      - SAMEORIGIN
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "9178878143575614776"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "9160354481776217425"
    url: https://api.datadoghq.com/api/v1/dashboard/mt8-5n8-qaq
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID mt8-5n8-qaq not found"]}'
=======
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.13.1; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "7855612941562371451"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "1889086978194460157"
    url: https://api.datadoghq.com/api/v1/dashboard/nth-xvf-faq
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID nth-xvf-faq not found"]}'
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Fri, 09 Oct 2020 12:40:49 GMT
=======
      - Thu, 08 Oct 2020 15:08:11 GMT
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      Dd-Pool:
      - dogweb
      Pragma:
      - no-cache
      Strict-Transport-Security:
      - max-age=15724800;
      Vary:
      - Accept-Encoding
      X-Content-Type-Options:
      - nosniff
      X-Dd-Version:
<<<<<<< HEAD
      - "35.3169891"
=======
      - "35.3163187"
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      X-Frame-Options:
      - SAMEORIGIN
    status: 404 Not Found
    code: 404
    duration: ""
