---
version: 1
interactions:
- request:
    body: '{"handle":"tf-testdatadoguser_import-local-1596468236@example.com","name":"Test
      User"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"tf-testdatadoguser_import-local-1596468236@example.com","name":"Test
      User","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"tf-testdatadoguser_import-local-1596468236@example.com","icon":"https://secure.gravatar.com/avatar/550d27fe59ea91d4e7c5d5d639549003?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ThFAspOud8TIFb0i462vW51jgqmLEl+lbRrGZWrEJWVv0X5koObHP/UOy3Lmv2cU
      X-Dd-Version:
      - "35.2824579"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"email":"tf-testdatadoguser_import-local-1596468236@example.com","name":"Test
      User","access_role":"st","disabled":false,"is_admin":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user/tf-testdatadoguser_import-local-1596468236@example.com
    method: PUT
  response:
    body: '{"user":{"disabled":false,"handle":"tf-testdatadoguser_import-local-1596468236@example.com","name":"Test
      User","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"tf-testdatadoguser_import-local-1596468236@example.com","icon":"https://secure.gravatar.com/avatar/550d27fe59ea91d4e7c5d5d639549003?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - b3teWysCa3A1cBr80pfdt6+L7rgB7wrHHYTaij/NhQpjYERmoA01onr7gtwbUd07
      X-Dd-Version:
      - "35.2824579"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/tf-testdatadoguser_import-local-1596468236@example.com
    method: GET
  response:
    body: '{"user":{"handle":"tf-testdatadoguser_import-local-1596468236@example.com","access_role":"st","disabled":false,"is_admin":false,"icon":"https://secure.gravatar.com/avatar/550d27fe59ea91d4e7c5d5d639549003?s=48&d=retro","verified":false,"name":"Test
      User","roles":[{"uuid":"94172443-be03-11e9-a77a-373332f69711","created_at":"2019-08-13T19:50:19.075284","name":"Datadog
      Standard Role","last_modified":"2019-08-13T19:50:19.075284","id":904116,"permissions":[{"display_name":"Security
      Signals","description":"The ability to view Security signals.","restricted":false,"created_at":"2020-06-09T13:52:48.410398","name":"security_monitoring_signals_read","uuid":"80de1ec0-aa58-11ea-95e2-aff381626d5d"},{"display_name":"Detection
      Rules","description":"The ability to create and edit Detection rules.","restricted":false,"created_at":"2020-06-09T13:52:39.099413","name":"security_monitoring_rules_write","uuid":"7b516476-aa58-11ea-95e2-93718cd56369"},{"display_name":"Detection
      Rules","description":"The ability to read Detection rules.","restricted":fals[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/tf-testdatadoguser_import-local-1596468236@example.com
    method: DELETE
  response:
    body: '{"message":"User tf-testdatadoguser_import-local-1596468236@example.com
      disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - fMb1yHOfz8UDRcjFaUBSntNHP9ThzcJ00vIOftZqpOKWltPwU155XEtc9b+Lqgru
      X-Dd-Version:
      - "35.2824579"
    status: 200 OK
    code: 200
    duration: ""
[...]
