---
version: 1
interactions:
- request:
    body: |
      {"account_id":"1234567890","role_name":"testacc-datadog-integration-role"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"178fde0addbb4b799ae79616e7ce36ef"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aXjMB79zBLTKMyvTsQhcLjluqSZJuzqP/1YDG8953RFaowbE1v4lFn4Gcxkomkg7
      X-Dd-Version:
      - "35.2823352"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAWSAccounts
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: GET
  response:
    body: '{"accounts":[{"role_name":"Java Client Role Name_0","excluded_regions":[],"account_id":"java_9234560","host_tags":["java_test_tag:value"],"account_specific_namespace_rules":{"api_gateway":false},"errors":[],"filter_tags":["dontCollect:java"]},{"role_name":"Java
      Client Role Name_1","excluded_regions":[],"account_id":"java_9234561","host_tags":["java_test_tag:value"],"account_specific_namespace_rules":{"api_gateway":false},"errors":[],"filter_tags":["dontCollect:java"]},{"role_name":"Java
      Client Role Name_2","excluded_regions":[],"account_id":"java_9234562","host_tags":["java_test_tag:value"],"account_specific_namespace_rules":{"api_gateway":false},"errors":[],"filter_tags":["dontCollect:java"]},{"role_name":"testacc-datadog-integration-role","excluded_regions":[],"account_id":"1234567890","host_tags":[],"account_specific_namespace_rules":{},"errors":[],"filter_tags":[]}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - HjTiOLkf7BSSh5CnlIvxi+NF7PvA5AFcXaUyHcNLP+PB2QwnnvpNcny3K9NcNXpO
      X-Dd-Version:
      - "35.2823352"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"1234567890","services":["lambda"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - EnableAWSLogServices
    url: https://api.datadoghq.com/api/v1/integration/aws/logs/services
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - elIBTmnVeKYBYxzmu63DiSgmS6a0okZZD4qpfPyYYRQiAWBrNo6sKBNUnwz+2PkA
      X-Dd-Version:
      - "35.2823352"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAWSLogsIntegrations
    url: https://api.datadoghq.com/api/v1/integration/aws/logs
    method: GET
  response:
    body: '[{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"123456789101","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"java_4264229","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"java_7579580","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"go_010439100","lambdas":[{"arn":"arn:aws:lambda:us-east-1:123456789101:function:GoClientTest"}]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"go_017003100","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda","s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"java_9019655","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda","s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"java_0101873","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda","s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"java_3136751","lambdas":[]},{"services":["lambda"],"account_id":"1234567890","lambdas":[]},{"services":[],"account_id":"be5781d67222","lambdas":[]},{"services":[],"account_id":"575055485210","lambdas":[]}]'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 8zzC3v+l7U6bV7p68nbY4AXTHn5SrfTFUbDwCiV0sq8KOVV50NDeH3nYG30nzou6
      X-Dd-Version:
      - "35.2823352"
    status: 200 OK
    code: 200
    duration: ""
[...]
