---
version: 1
interactions:
- request:
    body: |
      {"api_token":"*****","schedules":["https://ddog.pagerduty.com/schedules/X123VF","https://ddog.pagerduty.com/schedules/X321XX"],"services":[{"service_key":"*****","service_name":"testing_bar"},{"service_key":"*****","service_name":"testing_foo"}],"subdomain":"ddog"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreatePagerDutyIntegration
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vLqqOLcWkbQm3aIBHfcEmIwzrJtjtqNdArlWt57BFwl8nfWymjIeK67csuZ1woEb
      X-Dd-Version:
      - "35.2437917"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"service_name":"testing_foo","service_key":"9876543210123456789"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services
    method: POST
  response:
    body: '{"service_name":"testing_foo"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - rk3iIRyevtXsTLLTMsm8PoHrVjRY2UIgJwOnYxasATpPihgg0ps3VPSw7zz+6jrL
      X-Dd-Version:
      - "35.2437917"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services/testing_foo
    method: GET
  response:
    body: '{"service_name":"testing_foo"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aiFdvD+ESSGWQuLeXGShIAaySBrTSq6aZf+crfPnDVFrMRUU9f0HobLUCBopvakz
      X-Dd-Version:
      - "35.2437917"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services/testing_bar
    method: GET
  response:
    body: '{"service_name":"testing_bar"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - IRAJ1mQ+c3epm0CLGtZoe/y8O4TCss3jYw+fwQOm7+eSKRCE+p3OtawVnIQ5ts76
      X-Dd-Version:
      - "35.2437917"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: GET
  response:
    body: '{"errors": ["pagerduty not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2437917"
    status: 404 Not Found
    code: 404
    duration: ""
