---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"first \u003e 3 || second \u003e 10","name":"high case","notifications":["@user"],"status":"high"},{"condition":"first \u003e 0 || second \u003e 0","name":"warning case","notifications":[],"status":"medium"}],"isEnabled":true,"message":"acceptance rule triggered","name":"tf-TestAccDatadogSecurityMonitoringDefaultRule_Basic-local-1606233622","options":{"evaluationWindow":300,"keepAlive":600,"maxSignalDuration":900},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":["host"],"metric":"","name":"first","query":"does not really match much"},{"aggregation":"cardinality","distinctFields":["@orgId"],"groupByFields":["host"],"metric":"@network.bytes_read","name":"second","query":"does not really match much either"}],"tags":["i:tomato","u:tomato"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://dd.datad0g.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":42577,"tags":["i:tomato","u:tomato"],"isEnabled":true,"hasExtendedTitle":false,"message":"acceptance
      rule triggered","options":{"evaluationWindow":300,"maxSignalDuration":900,"keepAlive":600},"version":1,"createdAt":1606233623345,"filters":[],"queries":[{"distinctFields":[],"name":"first","metric":"","aggregation":"count","groupByFields":["host"],"query":"does
      not really match much","trackType":"logs"},{"distinctFields":["@orgId"],"name":"second","metric":"@network.bytes_read","aggregation":"cardinality","groupByFields":["host"],"query":"does
      not really match much either","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"high","notifications":["@user"],"name":"high
      case","condition":"first > 3 || second > 10"},{"status":"medium","notifications":[],"name":"warning
      case","condition":"first > 0 || second > 0"}],"type":"threshold","id":"ern-ufg-zfk","isDefault":false,"name":"tf-TestAccDatadogSecurityMonitoringDefaultRule_Basic-local-1606233622"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - "35.3425795"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringRules
    url: https://dd.datad0g.com/api/v2/security_monitoring/rules
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":10,"total_count":95}},"data":[{"creationAuthorId":0,"tags":["security:compliance","framework:cis-aws","control:cis-3.5","source:cloudtrail","scope:cloudtrail"],"isEnabled":false,"hasExtendedTitle":true,"message":"###
      Goal\nDetect when an attacker is trying to evade defenses by disabling or modifying
      CloudTrail.\n\n### Strategy\nThis rule lets you monitor these CloudTrail API
      calls to detect if an attacker is modifying or disabling CloudTrail:\n\n* [DeleteTrail][1]\n*
      [UpdateTrail][2]\n* [StopLogging][3]\n\n### Triage & Response\n1. Determine
      which user in your organization owns the API key that made this API call.\n2.
      Contact the user to see if they intended to make this API call.\n3. If the user
      did not make the API call:\n * Rotate the credentials.\n * Investigate if the
      same credentials made other unauthorized API calls.\n\n[1]: https://docs.aws.amazon.com/awscloudtrail/latest/APIReference/API_DeleteTrail.html\n[2]:
      https://docs.aws.amazon.com/awscloudtrail/latest/APIReference/API_UpdateTrail.html\n[3]:
      https://docs.aws.amazon.com/awscloudtrail/latest/APIReference/API_StopLogging.html","options":{"evaluationWindow":300,"maxSignalDuration":3600,"keepAlive":3600},"version":4,"createdAt":1585058906229,"filters":[],"queries":[{"distinctFields":[],"name":"","aggregation":"count","groupByFields":["@userIdentity.arn"],"query":"source:cloudtrail
      @evt.name:(DeleteTrail OR UpdateTrail OR StopLogging OR CreateTr[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSecurityMonitoringRule
    url: https://dd.datad0g.com/api/v2/security_monitoring/rules/ern-ufg-zfk
    method: GET
  response:
    body: '{"creationAuthorId":42577,"tags":["i:tomato","u:tomato"],"isEnabled":true,"hasExtendedTitle":false,"message":"acceptance
      rule triggered","options":{"evaluationWindow":300,"maxSignalDuration":900,"keepAlive":600},"version":1,"createdAt":1606233623345,"filters":[],"queries":[{"distinctFields":[],"name":"first","metric":"","aggregation":"count","groupByFields":["host"],"query":"does
      not really match much","trackType":"logs"},{"distinctFields":["@orgId"],"name":"second","metric":"@network.bytes_read","aggregation":"cardinality","groupByFields":["host"],"query":"does
      not really match much either","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"high","notifications":["@user"],"name":"high
      case","condition":"first > 3 || second > 10"},{"status":"medium","notifications":[],"name":"warning
      case","condition":"first > 0 || second > 0"}],"type":"threshold","id":"ern-ufg-zfk","isDefault":false,"name":"tf-TestAccDatadogSecurityMonitoringDefaultRule_Basic-local-1606233622"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Version:
      - "35.3425795"
    status: 200 OK
    code: 200
    duration: ""
[...]
