---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_updated-local-1606749557@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"6a10a3d4-331f-11eb-86f9-937d974a8649","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1606749557@example.com","created_at":"2020-11-30T15:19:18.139549+00:00","email":"tf-testaccdatadoguser_updated-local-1606749557@example.com","icon":"https://secure.gravatar.com/avatar/d02fe488804080342c52b3f52d744c86?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2yLQyeuXdHKf2qhVlcnhVSRUgzA6Krta0LEltrGESIMHoX7HWgb/dSrVA+a76Sm3
      X-Dd-Version:
      - "35.3435414"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/6a10a3d4-331f-11eb-86f9-937d974a8649
    method: GET
  response:
    body: '{"data":{"type":"users","id":"6a10a3d4-331f-11eb-86f9-937d974a8649","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1606749557@example.com","created_at":"2020-11-30T15:19:18.139549+00:00","email":"tf-testaccdatadoguser_updated-local-1606749557@example.com","icon":"https://secure.gravatar.com/avatar/d02fe488804080342c52b3f52d744c86?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Dx/lglfFHSSR55lZZXPJOntjJp7qb35tIKm/SqO1nkg0n+U6yMAlHYP22LPWSHfP
      X-Dd-Version:
      - "35.3435414"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/6a10a3d4-331f-11eb-86f9-937d974a8649
    method: DELETE
  response:
    body: '{"errors": ["6a10a3d4-331f-11eb-86f9-937d974a8649 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3435414"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
