---
version: 1
interactions:
- request:
    body: |
      {"id":"","layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardDatasource-local-1609425705 one","widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"kss-cme-q82","title":"tf-TestAccDatadogDashboardDatasource-local-1609425705
      one","url":"/dashboard/kss-cme-q82/tf-testaccdatadogdashboarddatasource-local-1609425705-one","created_at":"2020-12-31T14:53:49.510342+00:00","modified_at":"2020-12-31T14:53:49.510342+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":3737691521620344}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - cwBlcFIcwDsv4IobSK5BCzc5xYE7Ob8qdF8Udq49IJhq23UAvY7SHKc1FyJJqC66
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/kss-cme-q82
    method: GET
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"kss-cme-q82","title":"tf-TestAccDatadogDashboardDatasource-local-1609425705
      one","url":"/dashboard/kss-cme-q82/tf-testaccdatadogdashboarddatasource-local-1609425705-one","created_at":"2020-12-31T14:53:49.510342+00:00","modified_at":"2020-12-31T14:53:49.510342+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":3737691521620344}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - ilZ2Tz4sOtnH2tGRqlD9p6NDcucj4gVBdvczlxiOPhY/AWnWhycAWjVucOU5/NQA
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/3s9-twu-d5k
    method: GET
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"3s9-twu-d5k","title":"tf-TestAccDatadogDashboardDatasource-local-1609425705
      two","url":"/dashboard/3s9-twu-d5k/tf-testaccdatadogdashboarddatasource-local-1609425705-two","created_at":"2020-12-31T14:53:49.678215+00:00","modified_at":"2020-12-31T14:53:49.678215+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":4150125277391948}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - s0LsNvQsMm21RUzMLDODd6jiqqojzRfEoHLrnASSfK5zaa+QnpY16tmznkR4zVSs
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListDashboards
    url: https://api.datadoghq.com/api/v1/dashboard
    method: GET
  response:
    body: '{"dashboards":[{"created_at":"2020-03-30T14:11:10.427628+00:00","author_handle":"nicholas.muesch@datadoghq.com","is_read_only":false,"description":"Test
      dashboard for Java client","title":"Java Client Test ORDERED Dashboard","url":"/dashboard/cwv-bmd-ugf/java-client-test-ordered-dashboard","layout_type":"ordered","modified_at":"2020-03-30T14:11:10.427628+00:00","id":"cwv-bmd-ugf"},{"created_at":"2020-12-31T14:53:49.678215+00:00","author_handle":"frog@datadoghq.com","is_read_only":false,"description":nul[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/3s9-twu-d5k
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"3s9-twu-d5k"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - E/n/F3cyfMhzzJeB7O6BVmaq6hO3dCQFUY5AzeSSV4syTTIgel8CkF1YlP8TXzmG
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/3s9-twu-d5k
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID 3s9-twu-d5k not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3622023"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
