---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_updated-local-1606812262@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"691479aa-33b1-11eb-8724-83bf1bf8613d","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1606812262@example.com","created_at":"2020-12-01T08:44:23.009297+00:00","email":"tf-testaccdatadoguser_updated-local-1606812262@example.com","icon":"https://secure.gravatar.com/avatar/b52ad34d394c3c1468edc7fba7cf35c4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - gxfSlUtZJz4/cDPBxW1+YhseAnu5514ckuMWbI3rl8N4exeAZPF+KTE0BQhrBgSI
      X-Dd-Version:
      - "35.3451487"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/691479aa-33b1-11eb-8724-83bf1bf8613d
    method: GET
  response:
    body: '{"data":{"type":"users","id":"691479aa-33b1-11eb-8724-83bf1bf8613d","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1606812262@example.com","created_at":"2020-12-01T08:44:23.009297+00:00","email":"tf-testaccdatadoguser_updated-local-1606812262@example.com","icon":"https://secure.gravatar.com/avatar/b52ad34d394c3c1468edc7fba7cf35c4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - VfsOYTBPajdIURjGpWdSf1qbyO21kEmlCNna/tfODfKKzbp6OFbIz8G+Qerctd6m
      X-Dd-Version:
      - "35.3451487"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/691479aa-33b1-11eb-8724-83bf1bf8613d
    method: DELETE
  response:
    body: '{"errors": ["691479aa-33b1-11eb-8724-83bf1bf8613d not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3451487"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
