---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"Acceptance Test Free Text Widget Dashboard","widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"ar2-9ui-za5","title":"Acceptance
      Test Free Text Widget Dashboard","url":"/dashboard/ar2-9ui-za5/acceptance-test-free-text-widget-dashboard","created_at":"2020-07-28T11:40:10.731433+00:00","modified_at":"2020-07-28T11:40:10.731433+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"color":"#eb364b","text":"Free
      Text","font_size":"56","text_align":"left","type":"free_text"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":587687310902643}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - k1Mz6OjWYVchuBh0sXk4vbOrR0G99ISkuNo2wSEbZwGaJZC//mav3c+Njv9N8KSm
      X-Dd-Version:
      - "35.2795924"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ar2-9ui-za5
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"ar2-9ui-za5","title":"Acceptance
      Test Free Text Widget Dashboard","url":"/dashboard/ar2-9ui-za5/acceptance-test-free-text-widget-dashboard","created_at":"2020-07-28T11:40:10.731433+00:00","modified_at":"2020-07-28T11:40:10.731433+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"color":"#eb364b","text":"Free
      Text","font_size":"56","text_align":"left","type":"free_text"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":587687310902643}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - iTCu0VD4qRuVwxqwPJPtBHBafVtvRXzNXY5PXADP8gu+hwwk7sqd5h71qE1Z9SIh
      X-Dd-Version:
      - "35.2795924"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ar2-9ui-za5
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"ar2-9ui-za5"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - iMDc4dwqRZx9Xt62zXoNnQ0j6OO5jF9C8cKU0TVG/RCgT6ys1Aqsv6iO8A4M+p/9
      X-Dd-Version:
      - "35.2795924"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ar2-9ui-za5
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID ar2-9ui-za5 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2795924"
    status: 404 Not Found
    code: 404
    duration: ""
