---
version: 1
interactions:
- request:
    body: '{"handle":"test@example.com","name":"Test User"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"test@example.com","name":"Test User","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"test@example.com","icon":"https://secure.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - J5PL0LnJukdy69mckjXi3cjye/YJX2hkoCBkqKQi+tYjrsXYELx6DfDD11fhyjYF
      X-Dd-Version:
      - "35.2481874"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"email":"test@example.com","name":"Test User","access_role":"st","disabled":false,"is_admin":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user/test@example.com
    method: PUT
  response:
    body: '{"user":{"disabled":false,"handle":"test@example.com","name":"Test User","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"test@example.com","icon":"https://secure.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - o8MFmk+4Ge4vq85ax+5C1nfQs0lbtaPPYZrpqzeG6IsYGNLGMu/G7PbJElpjPS5i
      X-Dd-Version:
      - "35.2481874"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/test@example.com
    method: GET
  response:
    body: '{"user":{"handle":"test@example.com","access_role":"st","disabled":false,"is_admin":false,"icon":"https://secure.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&d=retro","verified":false,"name":"Test
      User","roles":[{"uuid":"a51e1ec4-9156-11ea-93e2-5bed15dc1350","created_at":"2020-05-08T18:06:31.376759","name":"Datadog
      Standard Role","last_modified":"2020-05-08T18:06:31.376759","id":1139626,"permissions":[{"display_name":"Monitors
      Manage Downtimes","description":"The ability to set downtimes for your organization.
      A user with this permission can suppress alerts from any monitor using a downtime,
      even if they do not have permission to edit those monitors explicitly.","restricted":false,"created_at":"2019-09-16T18:39:23.306702","name":"monitors_downtime","uuid":"4d87d5f8-d8b1-11e9-a77a-eb9c8350d04f"},{"display_name":"Monitors","description":"The
      ability to change, mute, and delete individual monitors.","restricted":false,"created_at":"2019-09-16T18:39:15.597109","name":"monitors_write","uuid":"48ef71ea-d8b1-11e9-a77a-93f408470ad0"},{"display_name":"Monitors","description":"The
      ability to view monitors.","restricted":true,"created_at":"2019-09-16T18:39:07.74429[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/test@example.com
    method: DELETE
  response:
    body: '{"message":"User test@example.com disabled"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aJ6GOq3zw1bWl+5n1TKdeAvWSB1g5Zer85qbkQ07UFNZhgfVh/zeqVhNb8FjtbN9
      X-Dd-Version:
      - "35.2481874"
    status: 200 OK
    code: 200
    duration: ""
[...]
