---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"archive_ids":[]},"type":"archive_order"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsArchiveOrder
    url: https://api.datadoghq.com/api/v2/logs/config/archive-order
    method: PUT
  response:
    body: '{"errors":["Missing order for archive bJsYRD4uRh64DoHxQo79Yw"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3190877"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "98"
      X-Ratelimit-Reset:
      - "2331"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsArchiveOrder
    url: https://api.datadoghq.com/api/v2/logs/config/archive-order
    method: GET
  response:
    body: '{"data":{"type":"archive_order","attributes":{"archive_ids":["bJsYRD4uRh64DoHxQo79Yw","4ykNeqRuST6vdTul8baLVw"]}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - oqlClNgBffXSYxjxM4MXW8YBCUkTvkeEyGekJFD2ia4zlDKNcD3ROot7wMYW8Xj+
      X-Dd-Version:
      - "35.3190877"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4993"
      X-Ratelimit-Reset:
      - "2331"
    status: 200 OK
    code: 200
    duration: ""
[...]
