---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_updated-local-1604313164@example.com","name":"Test User","title":""},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"beb5e2b2-1cf6-11eb-bfc7-73fed2484458","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1604313164@example.com","created_at":"2020-11-02T10:32:45.203852+00:00","email":"tf-testaccdatadoguser_updated-local-1604313164@example.com","icon":"https://secure.gravatar.com/avatar/0654de53ba942a8e8f5c49f3384f9d7e?s=48&d=retro","title":"","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - TFCg6TPxHCdpQyTTnaGFjBa5vzZnKeyQ4F7e1flYSnImhl2xBoRKXVAV7LhvPUlL
      X-Dd-Version:
      - "35.3295593"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/beb5e2b2-1cf6-11eb-bfc7-73fed2484458
    method: GET
  response:
    body: '{"data":{"type":"users","id":"beb5e2b2-1cf6-11eb-bfc7-73fed2484458","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1604313164@example.com","created_at":"2020-11-02T10:32:45.203852+00:00","email":"tf-testaccdatadoguser_updated-local-1604313164@example.com","icon":"https://secure.gravatar.com/avatar/0654de53ba942a8e8f5c49f3384f9d7e?s=48&d=retro","title":"","verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - KdWc5RppKH51u1oZ6tf2ghJTVEevh006eS91RDKZLGoax50FN2VjMvek2ayUmkXw
      X-Dd-Version:
      - "35.3295593"
    status: 200 OK
    code: 200
    duration: ""
[...]
