---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardAlertGraph-local-1609425728","widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"}},{"definition":{"alert_id":"895606","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"alert_graph","viz_type":"toplist"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"ur7-28y-pv6","title":"tf-TestAccDatadogDashboardAlertGraph-local-1609425728","url":"/dashboard/ur7-28y-pv6/tf-testaccdatadogdashboardalertgraph-local-1609425728","created_at":"2020-12-31T14:53:26.864190+00:00","modified_at":"2020-12-31T14:53:26.864190+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"},"id":4416570098454767},{"definition":{"title_size":"16","viz_type":"toplist","title":"Widget
      Title","title_align":"right","alert_id":"895606","time":{"live_span":"1h"},"type":"alert_graph"},"id":8236583752004240}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - uJ83xA1OCfjNbetv+4JhF+oFizEHF56t3Lja6jtB8P5etMWBi14GRkWSrGetOvyr
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ur7-28y-pv6
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"ur7-28y-pv6","title":"tf-TestAccDatadogDashboardAlertGraph-local-1609425728","url":"/dashboard/ur7-28y-pv6/tf-testaccdatadogdashboardalertgraph-local-1609425728","created_at":"2020-12-31T14:53:26.864190+00:00","modified_at":"2020-12-31T14:53:26.864190+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"},"id":4416570098454767},{"definition":{"title_size":"16","viz_type":"toplist","title":"Widget
      Title","title_align":"right","alert_id":"895606","time":{"live_span":"1h"},"type":"alert_graph"},"id":8236583752004240}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gwxwlHJSLmAXGvHTSu/VslfvUPji2blx0q1wqJSN+1mxCKSPKKSSC5xzBG+/OLHq
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ur7-28y-pv6
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"ur7-28y-pv6"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - ylBElmyGwKGD9U7vyDU/qHCi6QpDzALB8kY9TyVsQmpRCm4VjPYEdilo336ix6wj
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ur7-28y-pv6
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID ur7-28y-pv6 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3622023"
    status: 404 Not Found
    code: 404
    duration: ""
