---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"Acceptance Test Heatmap Widget Dashboard","widgets":[{"definition":{"requests":[{"q":"avg:system.cpu.user{account:prod} by {app}","style":{"palette":"blue"}}],"time":{"live_span":"1mo"},"title":"Avg of system.cpu.user over account:prod by app","title_align":"center","title_size":"16","type":"heatmap","yaxis":{"include_zero":false,"max":"100"}}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":"Nicholas Muesch","template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"psy-4j3-2u6","title":"Acceptance
      Test Heatmap Widget Dashboard","url":"/dashboard/psy-4j3-2u6/acceptance-test-heatmap-widget-dashboard","created_at":"2020-06-17T16:51:52.896612+00:00","modified_at":"2020-06-17T16:51:52.896612+00:00","author_handle":"nicholas.muesch@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Avg
      of system.cpu.user over account:prod by app","title_align":"center","yaxis":{"include_zero":false,"max":"100"},"time":{"live_span":"1mo"},"requests":[{"q":"avg:system.cpu.user{account:prod}
      by {app}","style":{"palette":"blue"}}],"type":"heatmap"},"id":6059823499574180}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - wNaVyRyNliLxKeX4pqFHOJTBG1dRCwo1/ihrnAf0GXtGNGahc1XK8Xzj/ssA3R20
      X-Dd-Version:
      - "35.2632563"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/psy-4j3-2u6
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":"Nicholas Muesch","template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"psy-4j3-2u6","title":"Acceptance
      Test Heatmap Widget Dashboard","url":"/dashboard/psy-4j3-2u6/acceptance-test-heatmap-widget-dashboard","created_at":"2020-06-17T16:51:52.896612+00:00","modified_at":"2020-06-17T16:51:52.896612+00:00","author_handle":"nicholas.muesch@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Avg
      of system.cpu.user over account:prod by app","title_align":"center","yaxis":{"include_zero":false,"max":"100"},"time":{"live_span":"1mo"},"requests":[{"q":"avg:system.cpu.user{account:prod}
      by {app}","style":{"palette":"blue"}}],"type":"heatmap"},"id":6059823499574180}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - rxkz+JB0yzarEINDeNWQGs9dk7PLNAMnAw2wV8MNkZOhKDtz+JOpGuIyyBUaWwyF
      X-Dd-Version:
      - "35.2632563"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/psy-4j3-2u6
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"psy-4j3-2u6"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - KKQq2SiaDLpychKSp47ffvU6SRxUV+VzBWr187ESkULBuGOI+kREfb/2NCy8DAWC
      X-Dd-Version:
      - "35.2632563"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/psy-4j3-2u6
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID psy-4j3-2u6 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2632563"
    status: 404 Not Found
    code: 404
    duration: ""
