---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testdatadoguser_import-local-1605516651@example.com","name":"Test User","title":""},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"d4f9e6de-27e8-11eb-82fd-1b5ddc72bacd","attributes":{"name":"Test
      User","handle":"tf-testdatadoguser_import-local-1605516651@example.com","created_at":"2020-11-16T08:50:52.395034+00:00","email":"tf-testdatadoguser_import-local-1605516651@example.com","icon":"https://secure.gravatar.com/avatar/df230d35171e32af7f182ae08b2aecec?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - LSvqfCNKuJQN5oAMgicB0LCJSMqBhaMaYHfLaKzBumKF+HG8Kk13DRv43BL/WWBk
      X-Dd-Version:
      - "35.3371076"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/d4f9e6de-27e8-11eb-82fd-1b5ddc72bacd
    method: GET
  response:
    body: '{"data":{"type":"users","id":"d4f9e6de-27e8-11eb-82fd-1b5ddc72bacd","attributes":{"name":"Test
      User","handle":"tf-testdatadoguser_import-local-1605516651@example.com","created_at":"2020-11-16T08:50:52.395034+00:00","email":"tf-testdatadoguser_import-local-1605516651@example.com","icon":"https://secure.gravatar.com/avatar/df230d35171e32af7f182ae08b2aecec?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bCBSaf0t3cWhIJuGOGz9PtbBY7MrMPu1HpZVAposegdxNlFMe/qHi/UbtNAIVmzS
      X-Dd-Version:
      - "35.3371076"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/d4f9e6de-27e8-11eb-82fd-1b5ddc72bacd
    method: GET
  response:
    body: '{"errors": ["user not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3371076"
    status: 404 Not Found
    code: 404
    duration: ""
