---
version: 1
interactions:
- request:
    body: '{"type":"metric alert","query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} \u003e 2","name":"name for monitor foo","message":"some message Notify:
      @hipchat-channel","tags":null,"options":{"notify_no_data":false,"new_host_delay":300,"silenced":{"*":1582827622},"escalation_message":"the
      situation has escalated @pagerduty","thresholds":{"critical":2.0,"warning":1.0},"include_tags":true,"require_full_window":true},"state":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":[],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} > 2","message":"some message Notify: @hipchat-channel","id":16074063,"multi":true,"name":"name
      for monitor foo","created":"2020-02-27T14:20:22.989181+00:00","created_at":1582813222000,"creator":{"id":1628996,"handle":"jiri.kuncar@datadoghq.com","name":"Ji\u0159\u00ed
      Kun\u010dar","email":"jiri.kuncar@datadoghq.com"},"org_id":382568,"modified":"2020-02-27T14:20:22.989181+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"metric alert","options":{"notify_audit":false,"locked":false,"silenced":{"*":1582827622},"include_tags":true,"thresholds":{"critical":2.0,"warning":1.0},"new_host_delay":300,"require_full_window":true,"notify_no_data":false,"escalation_message":"the
      situation has escalated @pagerduty"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - XsUcj00kgZUn78/yrMgBc2B4U9QizwFFNtN2OKmtTvmSRTdL165j4Ltg6xvjCzDU
      X-Dd-Version:
      - "35.2220515"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/16074063
    method: GET
  response:
    body: '{"restricted_roles":null,"tags":[],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} > 2","message":"some message Notify: @hipchat-channel","id":16074063,"multi":true,"name":"name
      for monitor foo","created":"2020-02-27T14:20:22.989181+00:00","created_at":1582813222000,"creator":{"id":1628996,"handle":"jiri.kuncar@datadoghq.com","name":"Ji\u0159\u00ed
      Kun\u010dar","email":"jiri.kuncar@datadoghq.com"},"org_id":382568,"modified":"2020-02-27T14:20:22.989181+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"metric alert","options":{"notify_audit":false,"locked":false,"silenced":{"*":1582827622},"include_tags":true,"thresholds":{"critical":2.0,"warning":1.0},"new_host_delay":300,"require_full_window":true,"notify_no_data":false,"escalation_message":"the
      situation has escalated @pagerduty"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Lo9psmCk9egobltaxBGqrQFhgCcgUTQoFZpr2xiSR+6tucB/owychJvFjr9YMWzu
      X-Dd-Version:
      - "35.2220515"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2999"
      X-Ratelimit-Reset:
      - "7"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"end":1582827622,"message":"Example Datadog downtime message.","monitor_id":16074063,"timezone":"UTC","scope":["*"],"start":1582824022}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":null,"end":1582827622,"monitor_tags":["*"],"canceled":null,"monitor_id":16074063,"org_id":382568,"disabled":false,"start":1582824022,"creator_id":1628996,"parent_id":null,"timezone":"UTC","active":false,"scope":["*"],"message":"Example
      Datadog downtime message.","downtime_type":0,"id":749506306,"updater_id":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - zgs4/R8U39Dx88K274ycCG8gmotK2r1yjyecTfeITqBuGEc/zW9V1MMOyMl9URns
      X-Dd-Version:
      - "35.2220515"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/downtime/749506306
    method: GET
  response:
    body: '{"recurrence":null,"end":1582827622,"monitor_tags":["*"],"canceled":null,"monitor_id":16074063,"org_id":382568,"disabled":false,"start":1582824022,"creator_id":1628996,"parent_id":null,"timezone":"UTC","active":false,"scope":["*"],"message":"Example
      Datadog downtime message.","downtime_type":0,"id":749506306,"updater_id":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 0Ldh7zbvTvxG6fwW0tw8N7mZPnI2XNOUoKCE8H0O1+b4UJVtdo0G52qWoFveZXDz
      X-Dd-Version:
      - "35.2220515"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/16074063
    method: DELETE
  response:
    body: '{"deleted_monitor_id":16074063}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - xWBl6EQ7zJ83bRwMRX5o/d34f1JMs+KyihhH9fua7krbgQkOsGFusXhvqkH02q3L
      X-Dd-Version:
      - "35.2220515"
    status: 200 OK
    code: 200
    duration: ""
[...]
