---
version: 1
interactions:
- request:
    body: |
<<<<<<< HEAD
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardHostMap_import-local-1602246890","widgets":[{"definition":{"group":["region"],"no_group_hosts":true,"no_metric_hosts":true,"node_type":"host","requests":{"fill":{"q":"avg:system.cpu.idle{env:prod} by {host}"},"size":{"q":"max:system.cpu.user{env:prod} by {host}"}},"scope":["env:prod"],"style":{"fill_max":"30","fill_min":"10","palette":"YlOrRd","palette_flip":true},"title":"system.cpu.idle, system.cpu.user","title_align":"right","title_size":"16","type":"hostmap"}}]}
=======
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardHostMap_import-local-1602169523","widgets":[{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"}],"group":["region"],"no_group_hosts":true,"no_metric_hosts":true,"node_type":"host","requests":{"fill":{"q":"avg:system.cpu.idle{env:prod} by {host}"},"size":{"q":"max:system.cpu.user{env:prod} by {host}"}},"scope":["env:prod"],"style":{"fill_max":"30","fill_min":"10","palette":"YlOrRd","palette_flip":true},"title":"system.cpu.idle, system.cpu.user","title_align":"right","title_size":"16","type":"hostmap"}}]}
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
<<<<<<< HEAD
      - terraform-provider-datadog/dev (terraform 1.15.0; terraform-cli ) datadog-api-client-go/1.0.0-beta.9+dev
        (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "2549574261614322761"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "6566758593373723555"
=======
      - terraform-provider-datadog/dev (terraform 1.15.0; terraform-cli 0.12.7-sdk)
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.13.1; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "221623331144482270"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "8412943551142812266"
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
<<<<<<< HEAD
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"g3n-sxn-urg","title":"tf-TestAccDatadogDashboardHostMap_import-local-1602246890","url":"/dashboard/g3n-sxn-urg/tf-testaccdatadogdashboardhostmapimport-local-1602246890","created_at":"2020-10-09T12:36:03.978727+00:00","modified_at":"2020-10-09T12:36:03.978727+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"style":{"fill_min":"10","fill_max":"30","palette":"YlOrRd","palette_flip":true},"group":["region"],"title":"system.cpu.idle,
      system.cpu.user","title_align":"right","node_type":"host","no_metric_hosts":true,"title_size":"16","requests":{"size":{"q":"max:system.cpu.user{env:prod}
      by {host}"},"fill":{"q":"avg:system.cpu.idle{env:prod} by {host}"}},"no_group_hosts":true,"type":"hostmap","scope":["env:prod"]},"id":1180306640391972}],"layout_[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
<<<<<<< HEAD
      - terraform-provider-datadog/dev (terraform 1.15.0; terraform-cli ) datadog-api-client-go/1.0.0-beta.9+dev
        (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "6449012375900774004"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "6566758593373723555"
    url: https://api.datadoghq.com/api/v1/dashboard/g3n-sxn-urg
    method:[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
<<<<<<< HEAD
      - terraform-provider-datadog/dev (terraform 1.15.0; terraform-cli ) datadog-api-client-go/1.0.0-beta.9+dev
        (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "245001511641331926"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "6566758593373723555"
    url: https://api.datadoghq.com/api/v1/dashboard/g3n-sxn-urg
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"g3n-sxn-urg"}'
=======
      - terraform-provider-datadog/dev (terraform 1.15.0; terraform-cli 0.12.7-sdk)
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.13.1; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "2289759402741017865"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "8412943551142812266"
    url: https://api.datadoghq.com/api/v1/dashboard/i3i-b7p-r9g
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"i3i-b7p-r9g"}'
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Fri, 09 Oct 2020 12:37:15 GMT
=======
      - Thu, 08 Oct 2020 15:06:21 GMT
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      Dd-Pool:
      - dogweb
      Pragma:
      - no-cache
      Set-Cookie:
<<<<<<< HEAD
      - DD-PSHARD=233; Max-Age=604800; Path=/; expires=Fri, 16-Oct-2020 12:36:23 GMT;
=======
      - DD-PSHARD=233; Max-Age=604800; Path=/; expires=Thu, 15-Oct-2020 15:05:34 GMT;
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
        secure; HttpOnly
      Strict-Transport-Security:
      - max-age=15724800;
      Vary:
      - Accept-Encoding
      X-Content-Type-Options:
      - nosniff
      X-Dd-Debug:
<<<<<<< HEAD
      - UiHAIpiIPiMTUiGNeR+rZVnFnmJkUm64kqWBQawJNSrsYAeselUV6xrARY3WHwv4
      X-Dd-Version:
      - "35.3169891"
=======
      - RKpd63U5fOB9KQENZW/9vNmGmUgGzAVI24Vei0avdDhXQLPqbS5iSkbtN5YHNt1I
      X-Dd-Version:
      - "35.3163138"
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      X-Frame-Options:
      - SAMEORIGIN
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
<<<<<<< HEAD
      - terraform-provider-datadog/dev (terraform 1.15.0; terraform-cli ) datadog-api-client-go/1.0.0-beta.9+dev
        (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "8505694924657264263"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "6566758593373723555"
    url: https://api.datadoghq.com/api/v1/dashboard/g3n-sxn-urg
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID g3n-sxn-urg not found"]}'
=======
      - terraform-provider-datadog/dev (terraform 1.15.0; terraform-cli 0.12.7-sdk)
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.13.1; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "7804206145324043079"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "8412943551142812266"
    url: https://api.datadoghq.com/api/v1/dashboard/i3i-b7p-r9g
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID i3i-b7p-r9g not found"]}'
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Fri, 09 Oct 2020 12:37:15 GMT
=======
      - Thu, 08 Oct 2020 15:06:21 GMT
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      Dd-Pool:
      - dogweb
      Pragma:
      - no-cache
      Strict-Transport-Security:
      - max-age=15724800;
      Vary:
      - Accept-Encoding
      X-Content-Type-Options:
      - nosniff
      X-Dd-Version:
<<<<<<< HEAD
      - "35.3169891"
=======
      - "35.3163187"
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      X-Frame-Options:
      - SAMEORIGIN
    status: 404 Not Found
    code: 404
    duration: ""
