---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_invitation-local-1613469419@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"5035486a-703d-11eb-9351-da7ad0900002","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_invitation-local-1613469419@example.com","created_at":"2021-02-16T09:57:00.590389+00:00","email":"tf-testaccdatadoguser_invitation-local-1613469419@example.com","icon":"https://secure.gravatar.com/avatar/c03a9b794797b210fa97ed7905cd81c5?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - "35.3913923"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"5035486a-703d-11eb-9351-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"505d25ec-703d-11eb-9351-da7ad0900002","attributes":{"uuid":"505d25ec-703d-11eb-9351-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2021-02-16T09:57:00.852469+00:00","expires_at":"2021-02-18T09:57:00.803912+00:00"},"relationships":{"user":{"data":{"type":"users","id":"5035486a-703d-11eb-9351-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      X-Dd-Version:
      - "35.3913923"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/5035486a-703d-11eb-9351-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"5035486a-703d-11eb-9351-da7ad0900002","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_invitation-local-1613469419@example.com","created_at":"2021-02-16T09:57:00.590389+00:00","email":"tf-testaccdatadoguser_invitation-local-1613469419@example.com","icon":"https://secure.gravatar.com/avatar/c03a9b794797b210fa97ed7905cd81c5?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      X-Dd-Version:
      - "35.3913923"
    status: 200 OK
    code: 200
    duration: ""
[...]
