---
version: 1
interactions:
- request:
    body: '{"type":"query alert","query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} \u003e 2.5","name":"name for monitor foo","message":"some message
      Notify: @hipchat-channel","tags":["bar:baz","foo:bar"],"options":{"notify_no_data":false,"renotify_interval":60,"new_host_delay":600,"timeout_h":60,"escalation_message":"the
      situation has escalated @pagerduty","thresholds":{"ok":1.5,"critical":2.5,"warning":2.3},"include_tags":true,"require_full_window":true},"state":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":["bar:baz","foo:bar"],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} > 2.5","message":"some message Notify: @hipchat-channel","id":16887112,"multi":true,"name":"name
      for monitor foo","created":"2020-03-16T13:02:36.065192+00:00","created_at":1584363756000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2020-03-16T13:02:36.065192+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"query alert","options":{"notify_audit":false,"locked":false,"timeout_h":60,"silenced":{},"include_tags":true,"thresholds":{"warning":2.3,"ok":1.5,"critical":2.5},"new_host_delay":600,"require_full_window":true,"notify_no_data":false,"renotify_interval":60,"escalation_message":"the
      situation has escalated @pagerduty"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 69kiClanS8NcBSsdd51HHifvhQSGoRbJJjhU9l40yqxQHVNrndFN9zVtFJW1OcSf
      X-Dd-Version:
      - "35.2282030"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/16887112
    method: GET
  response:
    body: '{"restricted_roles":null,"tags":["bar:baz","foo:bar"],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} > 2.5","message":"some message Notify: @hipchat-channel","id":16887112,"multi":true,"name":"name
      for monitor foo","created":"2020-03-16T13:02:36.065192+00:00","created_at":1584363756000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2020-03-16T13:02:36.065192+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"query alert","options":{"notify_audit":false,"locked":false,"timeout_h":60,"silenced":{},"include_tags":true,"thresholds":{"warning":2.3,"ok":1.5,"critical":2.5},"new_host_delay":600,"require_full_window":true,"notify_no_data":false,"renotify_interval":60,"escalation_message":"the
      situation has escalated @pagerduty"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ty7T8eIeXOfZhM7KDN5nGo8JS7ZSIWAqBNFeZshTg3LLDJJa7mPU5wqGt0nOPCpy
      X-Dd-Version:
      - "35.2282030"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2990"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/16887112
    method: DELETE
  response:
    body: '{"deleted_monitor_id":16887112}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ADT0ms9dQnbDHbbduv4c09ChngZrYY7A/Pgms/qacMOruS4mPwZ1GJWq74I7G11W
      X-Dd-Version:
      - "35.2282030"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/16887112
    method: GET
  response:
    body: '{"errors":["Monitor not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2282030"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2982"
      X-Ratelimit-Reset:
      - "3"
    status: 404 Not Found
    code: 404
    duration: ""
