---
version: 1
interactions:
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_BasicNoTreshold-local-1605874009","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{},"timeout_h":60},"priority":0,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","tags":["bar:baz","foo:bar"],"type":"query alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ValidateMonitor
    url: https://api.datadoghq.com/api/v1/monitor/validate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - LeIXOZ//FAgX4PAg4j6Bsh31EU8EFOlq+rcBJ6/UKozJVG3ekjClEE/+uYnXssRC
      X-Dd-Version:
      - "35.3405561"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_BasicNoTreshold-local-1605874009","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{},"timeout_h":60},"priority":0,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","tags":["bar:baz","foo:bar"],"type":"query alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateMonitor
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":["bar:baz","foo:bar"],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} > 2","message":"some message Notify: @hipchat-channel","id":26020851,"multi":true,"name":"tf-TestAccDatadogMonitor_BasicNoTreshold-local-1605874009","created":"2020-11-20T12:06:54.984155+00:00","created_at":1605874014000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2020-11-20T12:06:54.984155+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"query alert","options":{"notify_audit":false,"locked":false,"timeout_h":60,"silenced":{},"include_tags":true,"require_full_window":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":60,"escalation_message":"the
      situation has escalated @pagerduty"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - H6YNJZe2hxg7AD4MytxnK6WTGV3v238t6qy6wX4rqFlv+Cb0Gp+GU8J41gMZvmVb
      X-Dd-Version:
      - "35.3405561"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "494"
      X-Ratelimit-Reset:
      - "6"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetMonitor
    url: https://api.datadoghq.com/api/v1/monitor/26020851
    method: GET
  response:
    body: '{"restricted_roles":null,"tags":["bar:baz","foo:bar"],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} > 2","message":"some message Notify: @hipchat-channel","id":26020851,"multi":true,"name":"tf-TestAccDatadogMonitor_BasicNoTreshold-local-1605874009","created":"2020-11-20T12:06:54.984155+00:00","created_at":1605874014000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2020-11-20T12:06:54.984155+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"query alert","options":{"notify_audit":false,"locked":false,"timeout_h":60,"silenced":{},"include_tags":true,"require_full_window":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":60,"escalation_message":"the
      situation has escalated @pagerduty"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ilZ2Tz4sOtnH2tGRqlD9p6NDcucj4gVBdvczlxiOPhY/AWnWhycAWjVucOU5/NQA
      X-Dd-Version:
      - "35.3405561"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2954"
      X-Ratelimit-Reset:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteMonitor
    url: https://api.datadoghq.com/api/v1/monitor/26020851
    method: DELETE
  response:
    body: '{"deleted_monitor_id":26020851}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - zMJDTIeaITirZf9FedmyCj+4WXuqmfQREjdA1T11xGKF1XQWYK1Ifc+omhARu60w
      X-Dd-Version:
      - "35.3405561"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/26020851
    method: GET
  response:
    body: '{"errors":["Monitor not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3405561"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2933"
      X-Ratelimit-Reset:
      - "3"
    status: 404 Not Found
    code: 404
    duration: ""
