---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListPermissions
    url: https://api.datadoghq.com/api/v2/permissions
    method: GET
  response:
    body: '{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","attributes":{"name":"admin","display_name":"Privileged
      Access","description":"This permission gives you the ability to view and edit
      everything in your Datadog organization that does not have an explicitly defined
      permission. This includes billing and usage, key, and organization management.
      This permission is inclusive of all Standard access permissions.","created":"2018-10-19T15:35:23.734317+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard
      Access","description":"This permission gives you the ability to view and edit
      components in your Datadog organization that do not have explicitly defined
      permissions. This includes APM, Events, and other non-Account Management functionality.","created":"2018-10-19T15:35:23.756736+00:00","group_name":"General","display_type":"other","restricted":fals[...]
[...]
