---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1605025996@example.com","name":"Test User","title":""},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"6fe86b78-2372-11eb-81fa-73bc7370802b","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1605025996@example.com","created_at":"2020-11-10T16:33:17.566498+00:00","email":"tf-testaccdatadoguser_existing-local-1605025996@example.com","icon":"https://secure.gravatar.com/avatar/6bcfad415605bf00b53a08ffd9626150?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - R1+MRQNzRD0HfjBgLVIjclr4gto/LBUvaJZAn2oF8rsW7iHushLxjdvt+30jZQLP
      X-Dd-Version:
      - "35.3337413"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/6fe86b78-2372-11eb-81fa-73bc7370802b
    method: GET
  response:
    body: '{"data":{"type":"users","id":"6fe86b78-2372-11eb-81fa-73bc7370802b","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1605025996@example.com","created_at":"2020-11-10T16:33:17.566498+00:00","email":"tf-testaccdatadoguser_existing-local-1605025996@example.com","icon":"https://secure.gravatar.com/avatar/6bcfad415605bf00b53a08ffd9626150?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ilZ2Tz4sOtnH2tGRqlD9p6NDcucj4gVBdvczlxiOPhY/AWnWhycAWjVucOU5/NQA
      X-Dd-Version:
      - "35.3337413"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1605025996@example.com","name":"Other User","title":""},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"errors": ["User tf-testaccdatadoguser_existing-local-1605025996@example.com
      already exists"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3337413"
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguser_existing-local-1605025996%40example.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":60412}},"data":[{"type":"users","id":"6fe86b78-2372-11eb-81fa-73bc7370802b","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1605025996@example.com","created_at":"2020-11-10T16:33:17.566498+00:00","email":"tf-testaccdatadoguser_existing-local-1605025996@example.com","icon":"https://secure.gravatar.com/avatar/6bcfad415605bf00b53a08ffd9626150?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - oY1U+Bw1sQyS4cySYbM3yP2PHmEdjLzb50z+L43vQMCCtEGfcc06BRHI9VdccfS3
      X-Dd-Version:
      - "35.3337413"
    status: 200 OK
    code: 200
    duration: ""
[...]
