---
version: 1
interactions:
- request:
    body: '{"title":"Acceptance Test Free Dashboard","widgets":[{"definition":{"type":"event_stream","query":"*","event_size":"l","title":"Widget
      Title","title_size":"16","title_align":"left","time":{"live_span":"1h"}},"layout":{"x":5,"y":5,"height":43,"width":32}},{"definition":{"type":"event_timeline","query":"*","title":"Widget
      Title","title_size":"16","title_align":"left","time":{"live_span":"1h"}},"layout":{"x":42,"y":73,"height":9,"width":65}},{"definition":{"type":"free_text","text":"free
      text content","color":"#d00","font_size":"88","text_align":"left"},"layout":{"x":42,"y":5,"height":20,"width":30}},{"definition":{"type":"iframe","url":"http://google.com"},"layout":{"x":111,"y":8,"height":46,"width":39}},{"definition":{"type":"image","url":"https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","sizing":"fit","margin":"small"},"layout":{"x":77,"y":7,"height":20,"width":30}},{"definition":{"type":"log_stream","logset":"19","query":"error","columns":["core_host","core_service","tag_source"]},"layout":{"x":5,"y":51,"height":36,"width":32}},{"definition":{"type":"manage_status","summary_type":"monitors","query":"type:metric","sort":"status,asc","count":50,"start":0,"display_format":"countsAndList","color_preference":"text","hide_zero_counts":true,"show_last_triggered":true,"title":"Widget
      Title","title_size":"16","title_align":"left"},"layout":{"x":112,"y":55,"height":40,"width":30}},{"definition":{"type":"trace_service","env":"datad0g.com","service":"alerting-cassandra","span_name":"cassandra.query","show_hits":true,"show_errors":true,"show_latency":false,"show_breakdown":true,"show_distribution":true,"show_resource_list":false,"size_format":"large","display_format":"three_column","title":"alerting-cassandra
      #env:datad0g.com","title_size":"13","title_align":"center","time":{"live_span":"1h"}},"layout":{"x":40,"y":28,"height":38,"width":67}}],"layout_type":"free","id":"","description":"Created
      using the Datadog provider in Terraform","template_variables":[{"name":"var_1","prefix":"host","default":"aws"},{"name":"var_2","prefix":"service_name","default":"autoscaling"}],"template_variable_presets":[{"name":"preset_1","template_variables":[{"name":"var_1","value":"var_1_value"},{"name":"var_2","value":"var_2_value"}]},{"name":"preset_2","template_variables":[{"name":"var_1","value":"var_1_value"}]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[{"template_variables":[{"name":"var_1","value":"var_1_value"},{"name":"var_2","value":"var_2_value"}],"name":"preset_1"},{"template_variables":[{"name":"var_1","value":"var_1_value"}],"name":"preset_2"}],"template_variables":[{"default":"aws","prefix":"host","name":"var_1"},{"default":"autoscaling","prefix":"service_name","name":"var_2"}],"is_read_only":false,"id":"ivm-4z2-icd","title":"Acceptance
      Test Free Dashboard","url":"/dashboard/ivm-4z2-icd/acceptance-test-free-dashboard","created_at":"2020-04-29T23:30:39.653780+00:00","modified_at":"2020-04-29T23:30:39.653790+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"x":5,"width":32,"height":43},"id":3421955992720660},{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_timeline"},"layout":{"y":73,"x":42,"width":65,"height":9},"id":2131262514376303},{"definition":{"color"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/ivm-4z2-icd
    method: GET
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[{"template_variables":[{"name":"var_1","value":"var_1_value"},{"name":"var_2","value":"var_2_value"}],"name":"preset_1"},{"template_variables":[{"name":"var_1","value":"var_1_value"}],"name":"preset_2"}],"temp[...]
- request:
    body: '{"title":"Acceptance Test Ordered Dashboard","widgets":[{"definition":{"type":"alert_graph","alert_id":"895605","viz_type":"timeseries","title":"Widget
      Title","time":{"live_span":"1h"}}},{"definition":{"type":"alert_value","alert_id":"895605","precision":3,"unit":"b","text_align":"center","title":"Widget
      Title"}},{"definition":{"type":"change","requests":[{"change_type":"absolute","compare_to":"week_before","increase_good":true,"order_by":"name","order_dir":"desc","show_present":true,"q":"avg:system.load.1{env:staging}
      by {account}"}],"title":"Widget Title","time":{"live_span":"1h"}}},{"definition":{"type":"distribution","requests":[{"style":{"palette":"warm"},"q":"avg:system.load.1{env:staging}
      by {account}"}],"title":"Widget Title","time":{"live_span":"1h"}}},{"definition":{"type":"check_status","check":"aws.ecs.agent_connected","grouping":"cluster","group_by":["account","cluster"],"tags":["account:demo","cluster:awseb-ruthebdog-env-8-dn3m6u3gvk"],"title":"Widget
      Title","time":{"live_span":"1h"}}},{"definition":{"type":"heatmap","requests":[{"style":{"palette":"warm"},"q":"avg:system.load.1{env:staging}
      by {account}"}],"yaxis":{"scale":"sqrt","min":"1","max":"2","include_zero":true},"title":"Widget
      Title","time":{"live_span":"1h"}}},{"definition":{"type":"hostmap","requests":{"fill":{"q":"avg:system.load.1{*}
      by {host}"},"size":{"q":"avg:memcache.uptime{*} by {host}"}},"node_type":"container","no_metric_hosts":true,"no_group_hosts":true,"group":["host","region"],"scope":["region:us-east-1","aws_account:727006795293"],"style":{"palette":"yellow_to_green","palette_flip":true,"fill_min":"10","fill_max":"20"},"title":"Widget
      Title"}},{"definition":{"type":"note","content":"note text","background_color":"pink","font_size":"14","text_align":"center","show_tick":true,"tick_pos":"50%","tick_edge":"left"}},{"definition":{"type":"query_value","requests":[{"conditional_formats":[{"comparator":"\u003c","value":2,"palette":"white_on_green","hide_value":false},{"comparator":"\u003e","value":2.2,"palette":"white_on_red","hide_value":false}],"aggregator":"sum","q":"avg:system.load.1{env:staging}
      by {account}"}],"autoscale":true,"custom_unit":"xx","precision":4,"text_align":"right","title":"Widget
      Title","time":{"live_span":"1h"}}},{"definition":{"type":"scatterplot","requests":{"x":{"aggregator":"max","q":"avg:system.cpu.user{*}
      by {service, account}"},"y":{"aggregator":"min","q":"avg:system.mem.used{*}
      by {service, account}"}},"xaxis":{"label":"x","scale":"pow","min":"1","max":"2000","include_zero":true},"yaxis":{"label":"y","scale":"log","min":"5","max":"2222","include_zero":false},"color_by_groups":["account","apm-role-group"],"title":"Widget
      Title","time":{"live_span":"1h"}}},{"definition":{"type":"timeseries","requests":[{"style":{"palette":"warm","line_type":"dashed","line_width":"thin"},"metadata":[{"expression":"avg:system.cpu.user{app:general}
      by {env}","alias_name":"Alpha"}],"display_type":"line","q":"avg:system.cpu.user{app:general}
      by {env}"},{"display_type":"area","log_query":{"index":"mcnulty","compute":{"aggregation":"count","facet":"@duration","interval":5000},"search":{"query":"status:info"},"group_by":[{"facet":"host","limit":10,"sort":{"aggregation":"avg","order":"desc","facet":"@duration"}}]}},{"display_type":"bars","apm_query":{"index":"apm-search","compute":{"aggregation":"count","facet":"@duration","interval":5000},"search":{"query":"type:web"},"group_by":[{"facet":"resource_name","limit":50,"sort":{"aggregation":"avg","order":"desc","facet":"@string_query.interval"}}]}},{"display_type":"area","process_query":{"metric":"process.stat.cpu.total_pct","search_by":"error","filter_by":["active"],"limit":50}}],"yaxis":{"scale":"log","max":"100","include_zero":false},"events":[{"q":"sources:test
      tags:1"},{"q":"sources:test tags:2"}],"markers":[{"value":"y = 4","display_type":"error
      dashed","label":" z=6 "},{"value":"10 \u003c y \u003c 999","display_type":"ok
      solid","label":" x=8 "}],"title":"Widget Title","show_legend":true,"legend_size":"2","time":{"live_span":"1h"}}},{"definition":{"type":"toplist","requests":[{"conditional_formats":[{"comparator":"\u003c","value":2,"palette":"white_on_green","hide_value":false},{"comparator":"\u003e","value":2.2,"palette":"white_on_red","hide_value":false}],"q":"avg:system.cpu.user{app:general}
      by {env}"}],"title":"Widget Title"}},{"definition":{"type":"group","layout_type":"ordered","widgets":[{"definition":{"type":"note","content":"cluster
      note widget","background_color":"yellow","font_size":"16","text_align":"left","show_tick":false,"tick_pos":"50%","tick_edge":"left"}},{"definition":{"type":"alert_graph","alert_id":"123","viz_type":"toplist","title":"Alert
      Graph","time":{"live_span":"1h"}}}],"title":"Group Widget"}},{"definition":{"type":"slo","title":"Widget
      Title","view_type":"detail","slo_id":"56789","show_error_budget":true,"view_mode":"overall","time_windows":["7d","previous_week"]}},{"definition":{"type":"query_table","requests":[{"conditional_formats":[{"comparator":"\u003c","value":2,"palette":"white_on_green","hide_value":false},{"comparator":"\u003e","value":2.2,"palette":"white_on_red","hide_value":false}],"aggregator":"sum","limit":10,"q":"avg:system.load.1{env:staging}
      by {account}"}],"title":"Widget Title","time":{"live_span":"1h"}}}],"layout_type":"ordered","id":"","description":"Created
      using the Datadog provider in Terraform",[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/xwf-wa5-9t4
    method: GET
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[{"template_variables":[{"name":"var_1","value":"var_1_value"},{"name":"var_2","value":"var_2_value"}],"name":"preset_1"},{"template_variables":[{"name":"var_1","value":"var_1_value"}],"name":"preset_2"}],"temp[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/ivm-4z2-icd
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"ivm-4z2-icd"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - kg+/Cls6zaJcT2blJLlU62BwgGePGdpqSwWrJ0xEIvzmSMWHXxGNsiyEzBPJ1a96
      X-Dd-Version:
      - "35.2450091"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/ivm-4z2-icd
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID ivm-4z2-icd not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2450091"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
