---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"archive_ids":[]},"type":"archive_order"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsArchiveOrder
    url: https://api.datadoghq.com/api/v2/logs/config/archive-order
    method: PUT
  response:
    body: '{"errors":["Missing order for archive vXHibqofT8uOyfpF56WdBA"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "34.3622270"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "90"
      X-Ratelimit-Reset:
      - "964"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsArchiveOrder
    url: https://api.datadoghq.com/api/v2/logs/config/archive-order
    method: GET
  response:
    body: '{"data":{"type":"archive_order","attributes":{"archive_ids":["vXHibqofT8uOyfpF56WdBA"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - lgQawiZEOFHj/SKplEcqOwzaMI6OQtdSQ9dotiTxYUar2ksXhijPkw9yrBoSKHNa
      X-Dd-Version:
      - "35.3622023"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4963"
      X-Ratelimit-Reset:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
[...]
