---
version: 1
interactions:
- request:
    body: |
      {"id":"","layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardDatasource-local-1604083740","widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"a8p-46x-hed","title":"tf-TestAccDatadogDashboardDatasource-local-1604083740","url":"/dashboard/a8p-46x-hed/tf-testaccdatadogdashboarddatasource-local-1604083740","created_at":"2020-10-30T18:49:03.635745+00:00","modified_at":"2020-10-30T18:49:03.635745+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":4288537754085274}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - gr+QII7IFZVxhXS35BsEOrW9Uz3gs+l7g2tB1FOjy4hKCe3rtnWg3KfE74dirBtE
      X-Dd-Version:
      - "35.3288747"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/a8p-46x-hed
    method: GET
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"a8p-46x-hed","title":"tf-TestAccDatadogDashboardDatasource-local-1604083740","url":"/dashboard/a8p-46x-hed/tf-testaccdatadogdashboarddatasource-local-1604083740","created_at":"2020-10-30T18:49:03.635745+00:00","modified_at":"2020-10-30T18:49:03.635745+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":4288537754085274}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - TFCg6TPxHCdpQyTTnaGFjBa5vzZnKeyQ4F7e1flYSnImhl2xBoRKXVAV7LhvPUlL
      X-Dd-Version:
      - "35.3288747"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListDashboards
    url: https://api.datadoghq.com/api/v1/dashboard
    method: GET
  response:
    body: '{"dashboards":[{"created_at":"2020-02-11T13:48:52.362473+00:00","author_handle":"hippolyte.henry@datadoghq.com","is_read_only":false,"description":null,"title":"For
      dashboard list tests - DO NOT DELETE","url":"/dashboard/q5j-nti-fv6/for-dashboard-list-tests---do-not-delete","layout_type":"ordered","modified_at":"2020-02-11T13:49:16.919666+00:00","id":"q5j-nti-fv6"},{"created_at":"2020-02-11T13:49:29.555334+00:00","author_handle":"hippolyte.henry@datadoghq.com","is_read_only":true,"description":"","title[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/a8p-46x-hed
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"a8p-46x-hed"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - weu815+ZWWbGQq5tr1Pbgn9tz03CIxMGqv8+DypizfBZ1wZXms1G/y6kUb21vi3s
      X-Dd-Version:
      - "35.3288747"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/a8p-46x-hed
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID a8p-46x-hed not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3288747"
    status: 404 Not Found
    code: 404
    duration: ""
