---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_updated-local-1606487469@example.com","name":"Test User","title":""},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"319f917c-30bd-11eb-86bd-0b8f2b094477","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1606487469@example.com","created_at":"2020-11-27T14:31:10.440973+00:00","email":"tf-testaccdatadoguser_updated-local-1606487469@example.com","icon":"https://secure.gravatar.com/avatar/821b8f2216a3d4d242c9214e2e65a658?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bCBSaf0t3cWhIJuGOGz9PtbBY7MrMPu1HpZVAposegdxNlFMe/qHi/UbtNAIVmzS
      X-Dd-Version:
      - "35.3435414"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/319f917c-30bd-11eb-86bd-0b8f2b094477
    method: GET
  response:
    body: '{"data":{"type":"users","id":"319f917c-30bd-11eb-86bd-0b8f2b094477","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1606487469@example.com","created_at":"2020-11-27T14:31:10.440973+00:00","email":"tf-testaccdatadoguser_updated-local-1606487469@example.com","icon":"https://secure.gravatar.com/avatar/821b8f2216a3d4d242c9214e2e65a658?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - fbpub1YRPbOoyJvhJBk1iFu2e+h0/QC0EzprMcQ+j5QBEVxUjSwBwj1+J3+NnpX8
      X-Dd-Version:
      - "35.3435414"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/319f917c-30bd-11eb-86bd-0b8f2b094477
    method: DELETE
  response:
    body: '{"errors": ["319f917c-30bd-11eb-86bd-0b8f2b094477 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3435414"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
