---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_updated-local-1605025996@example.com","name":"Test User","title":""},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"6ff254c6-2372-11eb-81fa-5b9442903387","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1605025996@example.com","created_at":"2020-11-10T16:33:17.630756+00:00","email":"tf-testaccdatadoguser_updated-local-1605025996@example.com","icon":"https://secure.gravatar.com/avatar/5c18c8584c1114d353138d6193be38c9?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - WInJ5NoKnWsGfpc5/7O8IFkOGqBCSPXHlW+v7fDYTqv2rGTGsFEBI9cuh2tqdLoD
      X-Dd-Version:
      - "35.3337413"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/6ff254c6-2372-11eb-81fa-5b9442903387
    method: GET
  response:
    body: '{"data":{"type":"users","id":"6ff254c6-2372-11eb-81fa-5b9442903387","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1605025996@example.com","created_at":"2020-11-10T16:33:17.630756+00:00","email":"tf-testaccdatadoguser_updated-local-1605025996@example.com","icon":"https://secure.gravatar.com/avatar/5c18c8584c1114d353138d6193be38c9?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ylBElmyGwKGD9U7vyDU/qHCi6QpDzALB8kY9TyVsQmpRCm4VjPYEdilo336ix6wj
      X-Dd-Version:
      - "35.3337413"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/6ff254c6-2372-11eb-81fa-5b9442903387
    method: DELETE
  response:
    body: '{"errors": ["6ff254c6-2372-11eb-81fa-5b9442903387 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3337413"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
