---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://ip-ranges.datadoghq.com
    method: GET
  response:
    body: |
      {
          "version": 27,
          "modified": "2019-10-31-20-00-00",
          "agents": {
              "prefixes_ipv4": [
                  "107.21.15.22/32",
                  "107.21.18.19/32",
                  "107.23.209.202/32",
                  "107.23.59.124/32",
                  "107.23.68.220/32",
                  "107.23.74.206/32",
                  "184.72.98.113/32",
                  "23.20.237.209/32",
                  "23.20.34.99/32",
                  "23.21.6.126/32",
                  "23.22.46.186/32",
                  "23.22.66.198/32",
                  "3.223.166.128/25",
          [...]
[...]
