---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"Acceptance Test Alert Value Widget Dashboard","widgets":[{"definition":{"alert_id":"895605","type":"alert_value"}},{"definition":{"alert_id":"895606","precision":1,"text_align":"center","title":"Widget Title","title_align":"center","title_size":"16","type":"alert_value","unit":"b"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"ivw-g9v-mpf","title":"Acceptance
      Test Alert Value Widget Dashboard","url":"/dashboard/ivw-g9v-mpf/acceptance-test-alert-value-widget-dashboard","created_at":"2020-07-28T11:34:10.554579+00:00","modified_at":"2020-07-28T11:34:10.554579+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_value"},"id":8820321342720498},{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"center","text_align":"center","precision":1,"alert_id":"895606","type":"alert_value","unit":"b"},"id":104236699044765}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bBbioXpa6ShaRFS3TVifmUpCp9OwAEO7+Tw5VY8cvHkl6RMQIabk8Abv1cyspWNN
      X-Dd-Version:
      - "35.2795924"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ivw-g9v-mpf
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"ivw-g9v-mpf","title":"Acceptance
      Test Alert Value Widget Dashboard","url":"/dashboard/ivw-g9v-mpf/acceptance-test-alert-value-widget-dashboard","created_at":"2020-07-28T11:34:10.554579+00:00","modified_at":"2020-07-28T11:34:10.554579+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_value"},"id":8820321342720498},{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"center","text_align":"center","precision":1,"alert_id":"895606","type":"alert_value","unit":"b"},"id":104236699044765}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - f3e3e50u7NIIDhE9f3grDYpKKCYhFJV+CB738Ysix/JboGIAnKUrKL73BauSPYZw
      X-Dd-Version:
      - "35.2795924"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ivw-g9v-mpf
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"ivw-g9v-mpf"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - QLf6imu5Kn1QWcX+kGBAgXEm4TxbVy092SyJ2NaeTp6DZvCJaM50gt71VUGoodc1
      X-Dd-Version:
      - "35.2795924"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ivw-g9v-mpf
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID ivw-g9v-mpf not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2795924"
    status: 404 Not Found
    code: 404
    duration: ""
