---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: GET
  response:
    body: '{"errors": ["pagerduty not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2687958"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"services":[{"service_name":"testing_bar","service_key":"*****"},{"service_name":"testing_foo","service_key":"*****"}],"subdomain":"ddog","schedules":["https://ddog.pagerduty.com/schedules/X123VF","https://ddog.pagerduty.com/schedules/X321XX"],"api_token":"secret"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nDs7oXQtOYsvIIpPzuNZX0qDgGBu3ENkec7da4phztYl7kD88B7t5enRlUQmZVgO
      X-Dd-Version:
      - "35.2687853"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services/testing_bar
    method: DELETE
  response:
    body: "null"
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - PmDXJXCpOnq24qtagNCLPTUoILSRgi3DGaXUca70kUEAM8DZBLYkwSVilYSYEHCG
      X-Dd-Version:
      - "35.2687958"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services/testing_foo
    method: DELETE
  response:
    body: "null"
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - cYNsy3QDuOaYo2clO/PharSNtCykS9KtUfiNevH3xDbHJlRyddWkNpuDhMgHWZ43
      X-Dd-Version:
      - "35.2687958"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"service_key":"9876543210123456789","service_name":"testing_foo"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreatePagerDutyIntegrationService
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services
    method: POST
  response:
    body: '{"service_name":"testing_foo"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 7vC9CD2UnUYbC7cu05B95RgDyGt2vcRq8GQJgBahx4BAPKzA8OvLqEF8NdaLccla
      X-Dd-Version:
      - "35.2687958"
    status: 201 Created
    code: 201
    duration: ""
[...]
