---
version: 1
interactions:
- request:
    body: '{"title":"TF Test Free Layout Dashboard","widgets":[{"definition":{"type":"event_stream","query":"*","event_size":"l","title":"Widget
      Title","title_size":"16","title_align":"left","time":{"live_span":"1h"}},"layout":{"x":5,"y":5,"height":43,"width":32}}],"layout_type":"free","id":"","description":"Created
      using the Datadog provider in Terraform"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":false,"id":"hvk-sar-ttp","title":"TF
      Test Free Layout Dashboard","url":"/dashboard/hvk-sar-ttp/tf-test-free-layout-dashboard","created_at":"2020-04-24T19:28:53.166391+00:00","modified_at":"2020-04-24T19:28:53.166400+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"x":5,"width":32,"height":43},"id":4717925935585407}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - mIWJPPM06xs5rSGFgggpdD5UbOnt6ntntAO8/8YDsVuXnSmp/k0aZ5dEUtAKB7Td
      X-Dd-Version:
      - "35.2431390"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/hvk-sar-ttp
    method: GET
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":false,"id":"hvk-sar-ttp","title":"TF
      Test Free Layout Dashboard","url":"/dashboard/hvk-sar-ttp/tf-test-free-layout-dashboard","created_at":"2020-04-24T19:28:53.166391+00:00","modified_at":"2020-04-24T19:28:53.166400+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"x":5,"width":32,"height":43},"id":4717925935585407}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pNNj5PhODCVJlRBPEhZP3s9KL9kvFYv//TnGsiPp+3AqL7R5kIW2JlCWtfMcXeFn
      X-Dd-Version:
      - "35.2431390"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"title":"TF Test Layout Dashboard","widgets":[{"definition":{"type":"alert_graph","alert_id":"1234","viz_type":"timeseries","title":"Widget
      Title","time":{"live_span":"1h"}}}],"layout_type":"ordered","id":"","description":"Created
      using the Datadog provider in Terraform","is_read_only":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":true,"id":"2sp-ahs-phq","title":"TF
      Test Layout Dashboard","url":"/dashboard/2sp-ahs-phq/tf-test-layout-dashboard","created_at":"2020-04-24T19:28:53.955438+00:00","modified_at":"2020-04-24T19:28:53.955438+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"type":"alert_graph","viz_type":"timeseries","title":"Widget
      Title"},"id":4577934007929608}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bJj7D3RvHsKo+7eO3lrtPpPG0z8SsAwLw7bNfLb4htD+N9Ub8bD3AFgh45XaVsFM
      X-Dd-Version:
      - "35.2431390"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/2sp-ahs-phq
    method: GET
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":true,"id":"2sp-ahs-phq","title":"TF
      Test Layout Dashboard","url":"/dashboard/2sp-ahs-phq/tf-test-layout-dashboard","created_at":"2020-04-24T19:28:53.955438+00:00","modified_at":"2020-04-24T19:28:53.955438+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"type":"alert_graph","viz_type":"timeseries","title":"Widget
      Title"},"id":4577934007929608}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - FB5oGxuL9E/cplxahdQnU5Nw5E7KX0Smq18it9qYKIt8BXsSloE0IpDRA39tfQwn
      X-Dd-Version:
      - "35.2431390"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"Terraform newest Created List"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"Terraform newest Created List","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-04-24T19:28:54.302092+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-04-24T19:28:54.302106+00:00","id":92936}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 0Ldh7zbvTvxG6fwW0tw8N7mZPnI2XNOUoKCE8H0O1+b4UJVtdo0G52qWoFveZXDz
      X-Dd-Version:
      - "35.2431390"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"2sp-ahs-phq","type":"custom_timeboard"},{"id":"hvk-sar-ttp","type":"custom_screenboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/92936/dashboards
    method: PUT
  response:
    body: '{"dashboards":[{"type":"custom_timeboard","id":"2sp-ahs-phq"},{"type":"custom_screenboard","id":"hvk-sar-ttp"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - OdMYjD4Lcx2EOYJ2NSqLNRIyMqxNYyUQxCcT6zY9ZmZ+zl9yipXz0nuLjH5hVxTY
      X-Dd-Version:
      - "35.2431390"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/92936
    method: GET
  response:
    body: '{"is_favorite":false,"name":"Terraform newest Created List","dashboard_count":2,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-04-24T19:28:54.302092+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-04-24T19:28:54.429511+00:00","id":92936}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - qA85Kiicwd/s93AfT3MSf+l6IYc5FQ6tEbp4Kft/ri41UOumJ967MPQKmz3gwejd
      X-Dd-Version:
      - "35.2431390"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/92936/dashboards
    method: GET
  response:
    body: '{"total":2,"dashboards":[{"popularity":0,"title":"TF Test Layout Dashboard","is_favorite":false,"id":"2sp-ahs-phq","icon":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/2sp-ahs-phq/tf-test-layout-dashboard","created":"2020-04-24T19:28:53.955438+00:00","modified":"2020-04-24T19:28:53.955438+00:00","is_read_only":true,"type":"custom_timeboard"},{"popularity":0,"title":"TF
      Test Free Layout Dashboard","is_favorite":false,"id":"hvk-sar-ttp","icon":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/hvk-sar-ttp/tf-test-free-layout-dashboard","created":"2020-04-24T19:28:53.166391+00:00","modified":"2020-04-24T19:28:53.166400+00:00","is_read_only":false,"type":"custom_screenboard"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - hABsPq9DIvV7yAEiU7rMxs7UCRuTbRH/kYpwue4a0q9qmwd4SUh9bBZ5SHPkBLc6
      X-Dd-Version:
      - "35.2431390"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/92936
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":92936}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ty7T8eIeXOfZhM7KDN5nGo8JS7ZSIWAqBNFeZshTg3LLDJJa7mPU5wqGt0nOPCpy
      X-Dd-Version:
      - "35.2431390"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/2sp-ahs-phq
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"2sp-ahs-phq"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - i/tjaZJ1Vhpke5HNSziupF5eEnHtDP3NjcuF7Ija0/AGuxq0WEQiFfpqy+mDADxv
      X-Dd-Version:
      - "35.2431390"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/92936
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 92936 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2431390"
    status: 404 Not Found
    code: 404
    duration: ""
