---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_updated-local-1609425877@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"b96f6234-4b76-11eb-8b55-7f4f6f0b713f","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1609425877@example.com","created_at":"2020-12-31T14:44:45.422781+00:00","email":"tf-testaccdatadoguser_updated-local-1609425877@example.com","icon":"https://secure.gravatar.com/avatar/c61437ca3faea3ba0ba8d325a95e7406?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - n9uz1T+WujhmfsGndIdy1tCYb5bh9AzSyYOT5TTjJX23RGEavHxGqcz400IC+bY1
      X-Dd-Version:
      - "35.3622023"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/b96f6234-4b76-11eb-8b55-7f4f6f0b713f
    method: GET
  response:
    body: '{"data":{"type":"users","id":"b96f6234-4b76-11eb-8b55-7f4f6f0b713f","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1609425877@example.com","created_at":"2020-12-31T14:44:45.422781+00:00","email":"tf-testaccdatadoguser_updated-local-1609425877@example.com","icon":"https://secure.gravatar.com/avatar/c61437ca3faea3ba0ba8d325a95e7406?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 35J49GdWRZ44BXWQv5M8k5DMOKDsnUL/+b8VnKl01OT828ngNdfZvXJ9jRXKLHFA
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/b96f6234-4b76-11eb-8b55-7f4f6f0b713f
    method: DELETE
  response:
    body: '{"errors": ["b96f6234-4b76-11eb-8b55-7f4f6f0b713f not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3622023"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
