---
version: 1
interactions:
- request:
    body: '{"title":"TF Test Free Layout Dashboard","widgets":[{"definition":{"type":"event_stream","query":"*","event_size":"l","title":"Widget
      Title","title_size":"16","title_align":"left","time":{"live_span":"1h"}},"layout":{"x":5,"y":5,"height":43,"width":32}}],"layout_type":"free","id":"","description":"Created
      using the Datadog provider in Terraform"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":false,"id":"eab-dk7-8wj","title":"TF
      Test Free Layout Dashboard","url":"/dashboard/eab-dk7-8wj/tf-test-free-layout-dashboard","created_at":"2020-02-28T17:00:02.600611+00:00","modified_at":"2020-02-28T17:00:02.600617+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"x":5,"width":32,"height":43},"id":3872214481231316}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nRZqCODixwNZX0HLyT17WzYwenviVG0rmnZak57k5KsDWun3aWEsPedTsRpiFQxf
      X-Dd-Version:
      - "35.2224914"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"title":"TF Test Layout Dashboard","widgets":[{"definition":{"type":"alert_graph","alert_id":"1234","viz_type":"timeseries","title":"Widget
      Title","time":{"live_span":"1h"}}}],"layout_type":"ordered","id":"","description":"Created
      using the Datadog provider in Terraform","is_read_only":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":true,"id":"bbt-jwh-ucw","title":"TF
      Test Layout Dashboard","url":"/dashboard/bbt-jwh-ucw/tf-test-layout-dashboard","created_at":"2020-02-28T17:00:02.771778+00:00","modified_at":"2020-02-28T17:00:02.771778+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"type":"alert_graph","viz_type":"timeseries","title":"Widget
      Title"},"id":5595310789234187}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - i90G6k4M6qI4UypyvMoczcO5m+jatiEQSMeHpdjycp0h4nWxRpKUHr6efynkbQs+
      X-Dd-Version:
      - "35.2224914"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/eab-dk7-8wj
    method: GET
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":false,"id":"eab-dk7-8wj","title":"TF
      Test Free Layout Dashboard","url":"/dashboard/eab-dk7-8wj/tf-test-free-layout-dashboard","created_at":"2020-02-28T17:00:02.600611+00:00","modified_at":"2020-02-28T17:00:02.600617+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"x":5,"width":32,"height":43},"id":3872214481231316}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - xKFgbVhCHArG4Y0sXMtZ5P8r3tuxi63adTKFxNzM7f4aJAAu82zS1Bp7ak9HjM4Y
      X-Dd-Version:
      - "35.2224914"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/bbt-jwh-ucw
    method: GET
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":true,"id":"bbt-jwh-ucw","title":"TF
      Test Layout Dashboard","url":"/dashboard/bbt-jwh-ucw/tf-test-layout-dashboard","created_at":"2020-02-28T17:00:02.771778+00:00","modified_at":"2020-02-28T17:00:02.771778+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"type":"alert_graph","viz_type":"timeseries","title":"Widget
      Title"},"id":5595310789234187}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - gCSZ7BDMU1GjNFaR6hO6ZgwcgG3iOVugDLAlbR+YVBEuMFHhC330JIFkvjLveHm3
      X-Dd-Version:
      - "35.2224914"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"Terraform newest Created List"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"Terraform newest Created List","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-02-28T17:00:03.288930+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-02-28T17:00:03.288944+00:00","id":82356}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - eORbNuNjI+uNwQ5fL4WiSFLQTO+rx/Fd8RRk0TnSyEY4gQIkjrXIuJ1XAoOa+8yj
      X-Dd-Version:
      - "35.2224914"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"dashboards":[{"id":"bbt-jwh-ucw","type":"custom_timeboard"},{"id":"eab-dk7-8wj","type":"custom_screenboard"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/82356/dashboards
    method: PUT
  response:
    body: '{"dashboards":[{"type":"custom_timeboard","id":"bbt-jwh-ucw"},{"type":"custom_screenboard","id":"eab-dk7-8wj"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - IRAJ1mQ+c3epm0CLGtZoe/y8O4TCss3jYw+fwQOm7+eSKRCE+p3OtawVnIQ5ts76
      X-Dd-Version:
      - "35.2224914"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/82356
    method: GET
  response:
    body: '{"is_favorite":false,"name":"Terraform newest Created List","dashboard_count":2,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-02-28T17:00:03.288930+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-02-28T17:00:03.558876+00:00","id":82356}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bJj7D3RvHsKo+7eO3lrtPpPG0z8SsAwLw7bNfLb4htD+N9Ub8bD3AFgh45XaVsFM
      X-Dd-Version:
      - "35.2224914"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/82356/dashboards
    method: GET
  response:
    body: '{"total":2,"dashboards":[{"popularity":0,"title":"TF Test Layout Dashboard","is_favorite":false,"id":"bbt-jwh-ucw","icon":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/bbt-jwh-ucw/tf-test-layout-dashboard","created":"2020-02-28T17:00:02.771778+00:00","modified":"2020-02-28T17:00:02.771778+00:00","is_read_only":true,"type":"custom_timeboard"},{"popularity":0,"title":"TF
      Test Free Layout Dashboard","is_favorite":false,"id":"eab-dk7-8wj","icon":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/eab-dk7-8wj/tf-test-free-layout-dashboard","created":"2020-02-28T17:00:02.600611+00:00","modified":"2020-02-28T17:00:02.600617+00:00","is_read_only":false,"type":"custom_screenboard"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nwn8Akm+cp12Jtby9xyfYjHWK2KZDWf5LxY+SMa+2NK6hVIBcKsVHXjynaTEG+o0
      X-Dd-Version:
      - "35.2224914"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/82356
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":82356}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - B/LXPck0nGNX0RSV/Gw7cnZ0oe92FUOfg1ec7WcU0kSvw/UBT+IXTFTD87Snvz2v
      X-Dd-Version:
      - "35.2224914"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/eab-dk7-8wj
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"eab-dk7-8wj"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - AVsav2jjRGvwjNvJeRUS7kJsgTlhh9y9smyL3UJVQTMAUoPyejdL0bVSnanIQLK4
      X-Dd-Version:
      - "35.2224914"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/82356
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 82356 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2224914"
    status: 404 Not Found
    code: 404
    duration: ""
