---
version: 1
interactions:
- request:
    body: '{"name":"foo"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/api_key
    method: POST
  response:
    body: '{"api_key":{"name":"foo","created":"2020-04-16 04:02:05","disabled_by":"","is_active":true,"created_by":"frog@datadoghq.com","disabled":"","key":"84e9a927e6cc2a3b4145b531316311d0"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2396352"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/api_key/84e9a927e6cc2a3b4145b531316311d0
    method: GET
  response:
    body: '{"api_key":{"name":"foo","created":"2020-04-16 04:02:05","disabled_by":"","is_active":true,"created_by":"frog@datadoghq.com","disabled":"","key":"84e9a927e6cc2a3b4145b531316311d0"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2396352"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/api_key/84e9a927e6cc2a3b4145b531316311d0
    method: GET
  response:
    body: '{"errors": ["API key not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2396352"
    status: 404 Not Found
    code: 404
    duration: ""
