---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.datadoghq.com/api/v1/validate
    method: GET
  response:
    body: '{"valid":true}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - cYNsy3QDuOaYo2clO/PharSNtCykS9KtUfiNevH3xDbHJlRyddWkNpuDhMgHWZ43
      X-Dd-Version:
      - "35.2219923"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"handle":"tftestuser@example.com","name":"Test User"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":true,"handle":"tftestuser@example.com","name":"Test
      User","title":null,"is_admin":true,"role":null,"access_role":"adm","verified":false,"email":"tftestuser@example.com","icon":"https://secure.gravatar.com/avatar/bda0bc2045f65f937cfc3ec984e87ed7?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - fFk0sZgwwse+ZeEmqVGZPgcNG+SDXdM7Y74n6iOGuvoZenvaYEqZOvpOSMu1XDXx
      X-Dd-Version:
      - "35.2219923"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"email":"tftestuser@example.com","name":"Test User","access_role":"st","disabled":false,"is_admin":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user/tftestuser@example.com
    method: PUT
  response:
    body: '{"user":{"disabled":false,"handle":"tftestuser@example.com","name":"Test
      User","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"tftestuser@example.com","icon":"https://secure.gravatar.com/avatar/bda0bc2045f65f937cfc3ec984e87ed7?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - hlZGwPPL87Cire+2SDWJrcKtg5ChXKBaVFmtHdrZS+BoDfdo10256wfXrEDRUv8c
      X-Dd-Version:
      - "35.2219923"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/tftestuser@example.com
    method: GET
  response:
    body: '{"user":{"handle":"tftestuser@example.com","access_role":"st","disabled":false,"is_admin":false,"icon":"https://secure.gravatar.com/avatar/bda0bc2045f65f937cfc3ec984e87ed7?s=48&d=retro","verified":false,"name":"Test
      User","roles":[{"uuid":"c827950e-57ad-11ea-a799-7799a3e4da8c","created_at":"2020-02-25T09:04:09.017252","name":"Datadog
      Standard Role","last_modified":"2020-02-25T09:04:09.017252","id":1044471,"permissions":[{"display_name":"Monitors
      Manage Downtimes","description":"The ability to set downtimes for your organization.
      A user with this permission can suppress alerts from any monitor using a downtime,
      even if they do not have permission to edit those monitors explicitly.","restricted":false,"created_at":"2019-09-16T18:39:23.306702","name":"monitors_downtime","uuid":"4d87d5f8-d8b1-11e9-a77a-eb9c8350d04f"},{"display_name":"Monitors","description":"The
      ability to change, mute, and delete individual monitors.","restricted":false,"created_at":"2019-09-16T18:39:15.597109","name":"monitors_write","uuid":"48ef71ea-d8b1-11e9-a77a-93f408470ad0"},{"display_name":"Monitors","description":"The
      ability to view monitors.","restricted":true,"created_at":"2019-09-16T18:39:07.74429[...]
[...]
