---
version: 1
interactions:
- request:
    body: '{"name":"name for synthetics browser test bar","type":"browser","tags":["foo:bar","baz"],"config":{"request":{"url":"https://www.datadoghq.com","method":"GET","timeout":30,"headers":{},"body":"this
      is a body"}},"message":"Notify @datadog.user","options":{"tick_every":900,"min_failure_duration":0,"min_location_failed":1,"device_ids":["laptop_large","mobile_small"]},"locations":["aws:eu-central-1"],"status":"paused"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"usq-jnp-cy5","tags":["foo:bar","baz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","deleted_at":null,"name":"name for synthetics browser test bar","monitor_id":16226874,"type":"browser","created_at":"2020-03-04T13:22:28.583230+00:00","modified_at":"2020-03-04T13:22:28.583230+00:00","config":{"request":{"url":"https://www.datadoghq.com","headers":{},"body":"this
      is a body","method":"GET","timeout":30}},"options":{"min_failure_duration":0,"device_ids":["laptop_large","mobile_small"],"tick_every":900,"min_location_failed":1}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 0Ldh7zbvTvxG6fwW0tw8N7mZPnI2XNOUoKCE8H0O1+b4UJVtdo0G52qWoFveZXDz
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/usq-jnp-cy5
    method: GET
  response:
    body: '{"status":"paused","public_id":"usq-jnp-cy5","tags":["foo:bar","baz"],"stepCount":0,"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","modified_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"name":"name
      for synthetics browser test bar","monitor_id":16226874,"type":"browser","created_at":"2020-03-04T13:22:28.583230+00:00","modified_at":"2020-03-04T13:22:28.583230+00:00","created_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"config":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/usq-jnp-cy5
    method: GET
  response:
    body: '{"status":"paused","public_id":"usq-jnp-cy5","tags":["foo:bar","baz"],"stepCount":0,"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","modified_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"name":"name
      for synthetics browser test bar","monitor_id":16226874,"type":"browser","created_at":"2020-03-04T13:22:28.583230+00:00","modified_at":"2020-03-04T13:22:28.583230+00:00","created_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"overall_state_modified":"2020-03-04T13:22:29.324124+00:00","overall_state":2,"config":[...]
- request:
    body: '{"public_ids":["usq-jnp-cy5"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-03-04T13:22:29.535547+00:00","public_id":"usq-jnp-cy5"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - F11u7JCZTPrHz8VfzL5YeXThxcQSR6CdLGgk2tF52+EbYWhXciN8nv9vA8oQ9C9A
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/usq-jnp-cy5
    method: GET
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2240669"
    status: 404 Not Found
    code: 404
    duration: ""
