---
version: 1
interactions:
- request:
    body: '{"title":"TF Test Layout Dashboard","widgets":[{"definition":{"type":"alert_graph","alert_id":"1234","viz_type":"timeseries","title":"Widget
      Title","time":{"live_span":"1h"}}}],"layout_type":"ordered","id":"","description":"Created
      using the Datadog provider in Terraform","is_read_only":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":true,"id":"9nk-pz4-e8e","title":"TF
      Test Layout Dashboard","url":"/dashboard/9nk-pz4-e8e/tf-test-layout-dashboard","created_at":"2020-03-02T19:14:13.650223+00:00","modified_at":"2020-03-02T19:14:13.650223+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"type":"alert_graph","viz_type":"timeseries","title":"Widget
      Title"},"id":6445662678784420}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - qA85Kiicwd/s93AfT3MSf+l6IYc5FQ6tEbp4Kft/ri41UOumJ967MPQKmz3gwejd
      X-Dd-Version:
      - "35.2232835"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"title":"TF Test Free Layout Dashboard","widgets":[{"definition":{"type":"event_stream","query":"*","event_size":"l","title":"Widget
      Title","title_size":"16","title_align":"left","time":{"live_span":"1h"}},"layout":{"x":5,"y":5,"height":43,"width":32}}],"layout_type":"free","id":"","description":"Created
      using the Datadog provider in Terraform"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":false,"id":"cvp-4mb-q4t","title":"TF
      Test Free Layout Dashboard","url":"/dashboard/cvp-4mb-q4t/tf-test-free-layout-dashboard","created_at":"2020-03-02T19:14:13.804404+00:00","modified_at":"2020-03-02T19:14:13.804410+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"x":5,"width":32,"height":43},"id":1007115475918992}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - /Ib6MMQTHlX0/jTb6tlEMzSZs2crLqjkGjYkoQ/zb0RHtMaXT744DZRFpy23W0oi
      X-Dd-Version:
      - "35.2232835"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/9nk-pz4-e8e
    method: GET
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":true,"id":"9nk-pz4-e8e","title":"TF
      Test Layout Dashboard","url":"/dashboard/9nk-pz4-e8e/tf-test-layout-dashboard","created_at":"2020-03-02T19:14:13.650223+00:00","modified_at":"2020-03-02T19:14:13.650223+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"type":"alert_graph","viz_type":"timeseries","title":"Widget
      Title"},"id":6445662678784420}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - GM3qkj4SwEuhNLnO2bGVKXmYyTyl+x7nOBmAec7P90wogSgnhOkciAg/AUC2jkes
      X-Dd-Version:
      - "35.2232835"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/cvp-4mb-q4t
    method: GET
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":false,"id":"cvp-4mb-q4t","title":"TF
      Test Free Layout Dashboard","url":"/dashboard/cvp-4mb-q4t/tf-test-free-layout-dashboard","created_at":"2020-03-02T19:14:13.804404+00:00","modified_at":"2020-03-02T19:14:13.804410+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"x":5,"width":32,"height":43},"id":1007115475918992}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - HtltRxB6FWULKbr8JD/35HKWhI+dqAFQg/rNpMbjeMOPUq5j5iWk+nIs8OwDOqUR
      X-Dd-Version:
      - "35.2232835"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"Terraform newest Created List"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"Terraform newest Created List","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-03-02T19:14:14.406408+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-03-02T19:14:14.406423+00:00","id":82651}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - +0e88dcOoH2a7qrZ5zz4PnubdrAKvSl+k8YKr4bhBQyArPBFiYg3oXWqeVKLPB1I
      X-Dd-Version:
      - "35.2232835"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"dashboards":[{"id":"9nk-pz4-e8e","type":"custom_timeboard"},{"id":"cvp-4mb-q4t","type":"custom_screenboard"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/82651/dashboards
    method: PUT
  response:
    body: '{"dashboards":[{"type":"custom_timeboard","id":"9nk-pz4-e8e"},{"type":"custom_screenboard","id":"cvp-4mb-q4t"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - gCSZ7BDMU1GjNFaR6hO6ZgwcgG3iOVugDLAlbR+YVBEuMFHhC330JIFkvjLveHm3
      X-Dd-Version:
      - "35.2232835"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/82651
    method: GET
  response:
    body: '{"is_favorite":false,"name":"Terraform newest Created List","dashboard_count":2,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-03-02T19:14:14.406408+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-03-02T19:14:14.606019+00:00","id":82651}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 69kiClanS8NcBSsdd51HHifvhQSGoRbJJjhU9l40yqxQHVNrndFN9zVtFJW1OcSf
      X-Dd-Version:
      - "35.2232835"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/82651/dashboards
    method: GET
  response:
    body: '{"total":2,"dashboards":[{"popularity":0,"title":"TF Test Free Layout Dashboard","is_favorite":false,"id":"cvp-4mb-q4t","icon":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/cvp-4mb-q4t/tf-test-free-layout-dashboard","created":"2020-03-02T19:14:13.804404+00:00","modified":"2020-03-02T19:14:13.804410+00:00","is_read_only":false,"type":"custom_screenboard"},{"popularity":0,"title":"TF
      Test Layout Dashboard","is_favorite":false,"id":"9nk-pz4-e8e","icon":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/9nk-pz4-e8e/tf-test-layout-dashboard","created":"2020-03-02T19:14:13.650223+00:00","modified":"2020-03-02T19:14:13.650223+00:00","is_read_only":true,"type":"custom_timeboard"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - gH++OYwf8a2QZXnzDsHHnXqPhHbI48oqNvFjE/0p0ObpMBY4290QCI5SB0tU0MAF
      X-Dd-Version:
      - "35.2232835"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/82651
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":82651}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - RngFxOd8mVeT14auLfzsH/6kz142QLoKkYXZjfmXpXDkZ/eN6uoCM3cTScXuFEa0
      X-Dd-Version:
      - "35.2232835"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/cvp-4mb-q4t
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"cvp-4mb-q4t"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - u9VEJv4YNx+Fl9tRGJNbGm0+76jyym0t+mec2t84PhoJYEedil3ajyEhP7U3EneZ
      X-Dd-Version:
      - "35.2232835"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/82651
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 82651 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2232835"
    status: 404 Not Found
    code: 404
    duration: ""
