---
version: 1
interactions:
- request:
    body: |
      {"auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","auth_uri":"https://accounts.google.com/o/oauth2/auth","client_email":"tf-TestAccDatadogLogsArchiveGCS_basicDeprecated-local-1610630990@awesome-project-id.iam.gserviceaccount.com","client_id":"123456789012345678901","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/tf-TestAccDatadogLogsArchiveGCS_basicDeprecated-local-1610630990@awesome-project-id.iam.gserviceaccount.com","host_filters":"foo:bar,buzz:lightyear","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","private_key_id":"1234567890123456789012345678901234567890","project_id":"tf-TestAccDatadogLogsArchiveGCS_basicDeprecated-local-1610630990","token_uri":"https://accounts.google.com/o/oauth2/token","type":"service_account"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGCPIntegration
    url: https://api.datadoghq.com/api/v1/integration/gcp
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - uHOv5pdB1PveHLHifUeHewDqzfK3bQT4PA6+oh5BOE9GG8iP9eBr1zLtfDAkxY0n
      X-Dd-Version:
      - "35.3702083"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListGCPIntegration
    url: https://api.datadoghq.com/api/v1/integration/gcp
    method: GET
  response:
    body: '[{"automute":false,"project_id":"go-TestGCPCreate-25132-1600970650","client_email":"go-TestGCPCreate-25132-1600970650@fake-sandbox.iam.gserviceaccount.com","errors":[],"host_filters":"fake:tag,example:test"},{"automute":true,"project_id":"go-TestUpdateGCPAccount-39829-1610312816","client_email":"go-TestUpdateGCPAccount-39829-1610312816@fake-sandbox.iam.gserviceaccount.com","errors":[],"host_filters":"fake:update,example:update"},{"automute":true,"project_id":"go-TestUpdateGCPAccount-39939-1610374022","client_email":"go-TestUpdateGCPAccount-39939-1610374022@fake-sandbox.iam.gserviceaccount.com","errors":[],"host_filters":"fake:update,example:update"},{"autom[...]
- request:
    body: |
      {"data":{"attributes":{"destination":{"bucket":"dd-logs-test-datadog-api-client-go","integration":{"client_email":"tf-TestAccDatadogLogsArchiveGCS_basicDeprecated-local-1610630990@awesome-project-id.iam.gserviceaccount.com","project_id":"tf-TestAccDatadogLogsArchiveGCS_basicDeprecated-local-1610630990"},"path":"/path/blah","type":"gcs"},"include_tags":false,"name":"my first gcs archive","query":"service:tata","rehydration_tags":[]},"type":"archives"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsArchive
    url: https://api.datadoghq.com/api/v2/logs/config/archives
    method: POST
  response:
    body: '{"data":{"type":"archives","id":"EnEm_kyvS36M5Hah_M26dg","attributes":{"name":"my
      first gcs archive","query":"service:tata","state":"UNKNOWN","destination":{"bucket":"dd-logs-test-datadog-api-client-go","path":"/path/blah","type":"gcs","integration":{"project_id":"tf-TestAccDatadogLogsArchiveGCS_basicDeprecated-local-1610630990","client_email":"tf-TestAccDatadogLogsArchiveGCS_basicDeprecated-local-1610630990@awesome-project-id.iam.gserviceaccount.com"}},"rehydration_tags":[],"include_tags":false}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5Cj6NNcncFcQ6G9NKti+kar8gWVql7fBvPeJG7XhNnPs269m3W9o1I+JeGPUiuK3
      X-Dd-Version:
      - "35.3702083"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "299"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsArchive
    url: https://api.datadoghq.com/api/v2/logs/config/archives/EnEm_kyvS36M5Hah_M26dg
    method: GET
  response:
    body: '{"data":{"type":"archives","id":"EnEm_kyvS36M5Hah_M26dg","attributes":{"name":"my
      first gcs archive","query":"service:tata","state":"UNKNOWN","destination":{"bucket":"dd-logs-test-datadog-api-client-go","path":"/path/blah","type":"gcs","integration":{"project_id":"tf-TestAccDatadogLogsArchiveGCS_basicDeprecated-local-1610630990","client_email":"tf-TestAccDatadogLogsArchiveGCS_basicDeprecated-local-1610630990@awesome-project-id.iam.gserviceaccount.com"}},"rehydration_tags":[],"include_tags":false}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - amxMFAqiSVjNyNv9bH0oCnBEjAVk4yOIMrMQTyRWQ0WFa2JUcjQXHejBMO8Fj7RQ
      X-Dd-Version:
      - "35.3702083"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4991"
      X-Ratelimit-Reset:
      - "1808"
    status: 200 OK
    code: 200
    duration: ""
[...]
