---
version: 1
interactions:
- request:
    body: |
      {"id":"","is_read_only":true,"layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[{"default":"service","name":"service","prefix":"service/component"},{"default":"*","name":"region","prefix":"region"},{"default":"*","name":"environment","prefix":"environment"}],"title":"Apache","widgets":[{"definition":{"sizing":"zoom","type":"image","url":"--redacted--"},"layout":{"height":11,"width":17,"x":1,"y":1}},{"definition":{"sizing":"center","type":"image","url":"--redacted--"},"layout":{"height":12,"width":17,"x":1,"y":13}},{"definition":{"background_color":"gray","content":"**Availability**","font_size":"18","show_tick":true,"text_align":"center","tick_edge":"bottom","tick_pos":"50%","type":"note"},"layout":{"height":5,"width":17,"x":1,"y":26}},{"definition":{"check":"apache.can_connect","grouping":"cluster","tags":["$service","$region","$environment"],"time":{"live_span":"10m"},"title":"Server can connect","title_align":"center","title_size":"16","type":"check_status"},"layout":{"height":13,"width":17,"x":1,"y":33}},{"definition":{"autoscale":true,"precision":0,"requests":[{"aggregator":"last","conditional_formats":[{"comparator":"\u003e","hide_value":false,"palette":"white_on_green","value":0}],"q":"min:apache.performance.uptime{$service,$region,$environment}"}],"title":"Min Uptime","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":13,"width":17,"x":1,"y":48}},{"definition":{"background_color":"gray","content":"**Throughput**","font_size":"18","show_tick":true,"text_align":"center","tick_edge":"bottom","tick_pos":"50%","type":"note"},"layout":{"height":5,"width":47,"x":20,"y":1}},{"definition":{"requests":[{"display_type":"line","q":"sum:apache.net.request_per_s{$service,$region,$environment} by {region}","style":{"line_type":"solid","line_width":"normal","palette":"cool"}}],"show_legend":false,"title":"Rate of requests (per region)","title_align":"left","title_size":"16","type":"timeseries"},"layout":{"height":17,"width":47,"x":20,"y":8}},{"definition":{"requests":[{"display_type":"line","q":"sum:apache.net.bytes_per_s{$service,$region,$environment} by {region}","style":{"line_type":"solid","line_width":"normal","palette":"cool"}}],"show_legend":false,"title":"Bytes served (per region)","title_align":"left","title_size":"16","type":"timeseries"},"layout":{"height":17,"width":47,[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ruf-iem-8b9
    method: GET
  response:
    body: '{"notify_list":[],"description":null,"author_name":"Nicholas Muesch","template_variable_presets":[],"template_variables":[{"default":"service","prefix":"service/component","name":"service"},{"default":"*","prefix":"region","name":"region"},{"default":"*","prefix":"environment","name":"environment"}],"is_read_only":true,"id":"ruf-iem-8b9","title":"Apache","url":"/dashboard/ruf-iem-8b9/apache","created_at":"2020-06-11T13:36:50.018782+00:00","modified_at":"2020-06-11T13:36:50.018782+00:00","author_handle":"nicholas.muesch@datadoghq.com","widgets":[{"definition":{"sizing":"zoom","url":"--redacted--","type":"image"},"layout":{"y":1,"width":17,"x":1,"height":11},"id":8289580619467321},{"definition":{"sizing":"center","url":"--redacted--","type":"image"},"layout":{"y":13,"width":17,"x":1,"height":12},"id":7497494141529544},{"definition":{"tick_pos":"50%","font_size":"18","type":"note","tick_edge":"bottom","text_align":"center","content":"**Availability**","show_tick":true,"background_color":"gray"},"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ruf-iem-8b9
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"ruf-iem-8b9"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - nRZqCODixwNZX0HLyT17WzYwenviVG0rmnZak57k5KsDWun3aWEsPedTsRpiFQxf
      X-Dd-Version:
      - "35.2609325"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ruf-iem-8b9
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID ruf-iem-8b9 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2609325"
    status: 404 Not Found
    code: 404
    duration: ""
