---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1605007218@example.com","name":"Test User","title":""},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"b7785c68-2346-11eb-81f7-e39287003892","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1605007218@example.com","created_at":"2020-11-10T11:20:19.771521+00:00","email":"tf-testaccdatadoguser_existing-local-1605007218@example.com","icon":"https://secure.gravatar.com/avatar/91ab9a57d98e298447c71c01443d4b5b?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yHg1SN54kOfDRp2Aod0BXYSVxFx21V1jRKSkwPBeHEmd2sEVS/QK2WhkC8rNJWsm
      X-Dd-Version:
      - "35.3337413"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/b7785c68-2346-11eb-81f7-e39287003892
    method: GET
  response:
    body: '{"data":{"type":"users","id":"b7785c68-2346-11eb-81f7-e39287003892","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1605007218@example.com","created_at":"2020-11-10T11:20:19.771521+00:00","email":"tf-testaccdatadoguser_existing-local-1605007218@example.com","icon":"https://secure.gravatar.com/avatar/91ab9a57d98e298447c71c01443d4b5b?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - EDCzTXtRLv8zbNh6LPdV9QtgRpCK5JG59t19TocHPF2cDocJtqDzJin2eCJyUekp
      X-Dd-Version:
      - "35.3337413"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1605007218@example.com","name":"Other User","title":""},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"errors": ["User tf-testaccdatadoguser_existing-local-1605007218@example.com
      already exists"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3337413"
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguser_existing-local-1605007218%40example.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":60312}},"data":[{"type":"users","id":"b7785c68-2346-11eb-81f7-e39287003892","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1605007218@example.com","created_at":"2020-11-10T11:20:19.771521+00:00","email":"tf-testaccdatadoguser_existing-local-1605007218@example.com","icon":"https://secure.gravatar.com/avatar/91ab9a57d98e298447c71c01443d4b5b?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - WInJ5NoKnWsGfpc5/7O8IFkOGqBCSPXHlW+v7fDYTqv2rGTGsFEBI9cuh2tqdLoD
      X-Dd-Version:
      - "35.3337413"
    status: 200 OK
    code: 200
    duration: ""
[...]
