---
version: 1
interactions:
- request:
    body: '{"type":"query alert","query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} \u003e 2","name":"name for monitor foo","message":"some message Notify:
      @hipchat-channel","tags":null,"options":{"notify_no_data":false,"new_host_delay":300,"silenced":{"*":0},"thresholds":{},"include_tags":true,"require_full_window":true},"state":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":[],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} > 2","message":"some message Notify: @hipchat-channel","id":16176591,"multi":true,"name":"name
      for monitor foo","created":"2020-03-02T19:17:06.387301+00:00","created_at":1583176626000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2020-03-02T19:17:06.387301+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"query alert","options":{"notify_audit":false,"locked":false,"silenced":{"*":null},"include_tags":true,"new_host_delay":300,"require_full_window":true,"notify_no_data":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - og1WGdy+2nV+rkkclmd3Cf2I26XhV3/6yjBeQCP8aHbH2k2cKwC+X9WmhIghcJ94
      X-Dd-Version:
      - "35.2232835"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "497"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/16176591
    method: GET
  response:
    body: '{"restricted_roles":null,"tags":[],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} > 2","message":"some message Notify: @hipchat-channel","id":16176591,"multi":true,"name":"name
      for monitor foo","created":"2020-03-02T19:17:06.387301+00:00","created_at":1583176626000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2020-03-02T19:17:06.387301+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"query alert","options":{"notify_audit":false,"locked":false,"silenced":{"*":null},"include_tags":true,"new_host_delay":300,"require_full_window":true,"notify_no_data":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - QaEGvF++JqTbTiFomKhE21Fdnra2zinKOaCEqOgwcd7OtJatRLgvovBbCNyGqcpO
      X-Dd-Version:
      - "35.2232835"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2974"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
[...]
{"scope":"*"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/monitor/16176591/unmute
    method: POST
  response:
    body: '{"errors":["query alert \"name for monitor foo\" is already unmuted"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2232835"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/16176591
    method: DELETE
  response:
    body: '{"deleted_monitor_id":16176591}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - cQFL4MaIw90DmTTH7z4Gqhr8PBtz47vyzddN9k7nXjUK2yrLiBjbdIgydUT8r1ut
      X-Dd-Version:
      - "35.2232835"
    status: 200 OK
    code: 200
    duration: ""
[...]
