---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_noinvitation-local-1609927302@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"2de4b1d0-5006-11eb-8bb4-a7972f19b898","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_noinvitation-local-1609927302@example.com","created_at":"2021-01-06T10:01:43.490563+00:00","email":"tf-testaccdatadoguser_noinvitation-local-1609927302@example.com","icon":"https://secure.gravatar.com/avatar/d39d5aab07b9ce7669d7f6a4ba16df32?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /AIuUBUzXheMzx1cvxhB+WjJEVZnNytkpRgIpTWZSwENaLk6ZqapvZetzfxbHHYM
      X-Dd-Version:
      - "35.3647695"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/2de4b1d0-5006-11eb-8bb4-a7972f19b898
    method: GET
  response:
    body: '{"data":{"type":"users","id":"2de4b1d0-5006-11eb-8bb4-a7972f19b898","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_noinvitation-local-1609927302@example.com","created_at":"2021-01-06T10:01:43.490563+00:00","email":"tf-testaccdatadoguser_noinvitation-local-1609927302@example.com","icon":"https://secure.gravatar.com/avatar/d39d5aab07b9ce7669d7f6a4ba16df32?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - s8aX5NtChXwcC0ZqCGPgUtbvI/yT4gadlVvE6/Mqbm4BIdrCBC60TudMJNU/SbvE
      X-Dd-Version:
      - "35.3647661"
    status: 200 OK
    code: 200
    duration: ""
[...]
