---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"Acceptance Test Alert Value Widget Dashboard","widgets":[{"definition":{"alert_id":"895605","type":"alert_value"}},{"definition":{"alert_id":"895606","precision":1,"text_align":"center","title":"Widget Title","title_align":"center","title_size":"16","type":"alert_value","unit":"b"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"v26-piy-zh4","title":"Acceptance
      Test Alert Value Widget Dashboard","url":"/dashboard/v26-piy-zh4/acceptance-test-alert-value-widget-dashboard","created_at":"2020-07-28T11:34:33.947217+00:00","modified_at":"2020-07-28T11:34:33.947217+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_value"},"id":2196128265619470},{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"center","text_align":"center","precision":1,"alert_id":"895606","type":"alert_value","unit":"b"},"id":3501797368461167}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - l6Rwlp2asiNASzErE4Tp2YkATBOM1MMKCuJVpnbReRcjtkaDbxEowoEAN3cIExk3
      X-Dd-Version:
      - "35.2795924"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/v26-piy-zh4
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"v26-piy-zh4","title":"Acceptance
      Test Alert Value Widget Dashboard","url":"/dashboard/v26-piy-zh4/acceptance-test-alert-value-widget-dashboard","created_at":"2020-07-28T11:34:33.947217+00:00","modified_at":"2020-07-28T11:34:33.947217+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_value"},"id":2196128265619470},{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"center","text_align":"center","precision":1,"alert_id":"895606","type":"alert_value","unit":"b"},"id":3501797368461167}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - MZP0PcaX9dH/DjZhXTwlBn6Pk3A69T07Bs4hPMy2cWmQUYTL4O3b0G/AxWzbdyaO
      X-Dd-Version:
      - "35.2795924"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/v26-piy-zh4
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"v26-piy-zh4"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - jO9QnTPHV3f15HPs4ilQsD9R4cDEobDNGroAuDNirJYMK6UjwbcyQFQhCQsf4htu
      X-Dd-Version:
      - "35.2795924"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/v26-piy-zh4
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID v26-piy-zh4 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2795924"
    status: 404 Not Found
    code: 404
    duration: ""
