---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"}],"configVariables":[],"request":{"host":"agent-intake.logs.datadoghq.com","port":443},"variables":[]},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsTCPTest_importBasic-local-1612367819","options":{"min_location_failed":1,"tick_every":60},"status":"paused","subtype":"tcp","tags":["foo:bar","baz"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"6em-vab-sxr","tags":["foo:bar","baz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","deleted_at":null,"name":"tf-TestAccDatadogSyntheticsTCPTest_importBasic-local-1612367819","monitor_id":29767420,"type":"api","created_at":"2021-02-03T15:57:05.508184+00:00","modified_at":"2021-02-03T15:57:05.508184+00:00","subtype":"tcp","config":{"variables":[],"request":{"host":"agent-intake.logs.datadoghq.com","port":443},"assertions":[{"operator":"lessThan","type":"responseTime","target":2000}],"configVariables":[]},"options":{"min_location_failed":1,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - "35.3835302"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "111"
      X-Ratelimit-Reset:
      - "55"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/6em-vab-sxr
    method: GET
  response:
    body: '{"status":"paused","public_id":"6em-vab-sxr","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","name":"tf-TestAccDatadogSyntheticsTCPTest_importBasic-local-1612367819","monitor_id":29767420,"type":"api","subtype":"tcp","config":{"variables":[],"request":{"host":"agent-intake.logs.datadoghq.com","port":443},"assertions":[{"operator":"lessThan","type":"responseTime","target":2000}],"configVariables":[]},"options":{"min_location_failed":1,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - "35.3835302"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "908"
      X-Ratelimit-Reset:
      - "55"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"public_ids":["6em-vab-sxr"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-02-03T15:57:06.992621+00:00","public_id":"6em-vab-sxr"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - "35.3835302"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "105"
      X-Ratelimit-Reset:
      - "54"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/6em-vab-sxr
    method: GET
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3835302"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "886"
      X-Ratelimit-Reset:
      - "53"
    status: 404 Not Found
    code: 404
    duration: ""
