---
version: 1
interactions:
- request:
    body: '{"name":"name for synthetics browser test bar","type":"browser","tags":["foo:bar","baz"],"config":{"request":{"url":"https://www.datadoghq.com","method":"GET","timeout":30,"headers":{},"body":"this
      is a body"}},"message":"Notify @datadog.user","options":{"tick_every":900,"min_failure_duration":0,"min_location_failed":1,"device_ids":["laptop_large","mobile_small"]},"locations":["aws:eu-central-1"],"status":"paused"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"2ax-7t2-vtk","tags":["foo:bar","baz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","deleted_at":null,"name":"name for synthetics browser test bar","monitor_id":16133651,"type":"browser","created_at":"2020-02-28T16:42:59.544548+00:00","modified_at":"2020-02-28T16:42:59.544548+00:00","config":{"request":{"url":"https://www.datadoghq.com","headers":{},"body":"this
      is a body","method":"GET","timeout":30}},"options":{"min_failure_duration":0,"device_ids":["laptop_large","mobile_small"],"tick_every":900,"min_location_failed":1}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 5gIeAyE850e1lqVwTAgwvudewR8EzuQd3qGaXsS2D0CKQVhFOIjBoeQYiH0qPohy
      X-Dd-Version:
      - "35.2224896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/2ax-7t2-vtk
    method: GET
  response:
    body: '{"status":"paused","public_id":"2ax-7t2-vtk","tags":["foo:bar","baz"],"stepCount":0,"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","modified_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"name":"name
      for synthetics browser test bar","monitor_id":16133651,"type":"browser","created_at":"2020-02-28T16:42:59.544548+00:00","modified_at":"2020-02-28T16:42:59.544548+00:00","created_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"config":[...]
{"request":{"url":"https://docs.datadoghq.com","method":"PUT","timeout":60,"headers":{},"body":"this
      is an updated body"}},"message":"Notify @pagerduty","options":{"tick_every":1800,"min_failure_duration":10,"min_location_failed":1,"device_ids":["laptop_large","tablet"]},"locations":["aws:eu-central-1"],"status":"live"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/2ax-7t2-vtk
    method: PUT
  response:
    body: '{"status":"live","public_id":"2ax-7t2-vtk","tags":["foo:bar","buz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify
      @pagerduty","deleted_at":null,"name":"updated name for synthetics browser test
      bar","monitor_id":16133651,"type":"browser","created_at":"2020-02-28T16:42:59.544548+00:00","modified_at":"2020-02-28T16:43:00.605091+00:00","config":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/2ax-7t2-vtk
    method: GET
  response:
    body: '{"status":"live","public_id":"2ax-7t2-vtk","tags":["foo:bar","buz"],"stepCount":0,"locations":["aws:eu-central-1"],"message":"Notify
      @pagerduty","modified_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"name":"updated
      name for synthetics browser test bar","monitor_id":16133651,"type":"browser","created_at":"2020-02-28T16:42:59.544548+00:00","modified_at":"2020-02-28T16:43:00.605091+00:00","created_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"overall_state_modified":"2020-02-28T16:43:01.335127+00:00","overall_state":2,"config":[...]
- request:
    body: '{"public_ids":["2ax-7t2-vtk"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-02-28T16:43:01.729903+00:00","public_id":"2ax-7t2-vtk"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - rpB/2GMZHvzTHZxhwmnNa1XnSQuif7FV+gIndoDc8IvUeRNb65r4x+P7Djp1119C
      X-Dd-Version:
      - "35.2224896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/2ax-7t2-vtk
    method: GET
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2224896"
    status: 404 Not Found
    code: 404
    duration: ""
