---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"archive_ids":[]},"type":"archive_order"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsArchiveOrder
    url: https://api.datadoghq.com/api/v2/logs/config/archive-order
    method: PUT
  response:
    body: '{"errors":["Missing order for archive vXHibqofT8uOyfpF56WdBA"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3191346"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "80"
      X-Ratelimit-Reset:
      - "32"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsArchiveOrder
    url: https://api.datadoghq.com/api/v2/logs/config/archive-order
    method: GET
  response:
    body: '{"data":{"type":"archive_order","attributes":{"archive_ids":["vXHibqofT8uOyfpF56WdBA"]}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - kS9NSnhl4uQ8VlOuLb8SB7TQURuCRIbRwHRx1a1SKX/xDGoogXWL0I8r2t0CM40K
      X-Dd-Version:
      - "35.3191346"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4922"
      X-Ratelimit-Reset:
      - "32"
    status: 200 OK
    code: 200
    duration: ""
[...]
