---
version: 1
interactions:
- request:
    body: |
      {"account_id":"1234567890","role_name":"testacc-datadog-integration-role"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"ab4a716d1c704c1a98f6d3100b95d7d6"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - pEDVi2191MvoIMwusdL+COAxndBmcRhJtxAtWxDDnECWDI8Z99hIoBZbpR57tJKz
      X-Dd-Version:
      - "35.2479740"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAWSAccounts
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: GET
  response:
    body: '{"accounts":[{"role_name":"testacc-datadog-integration-role","excluded_regions":[],"account_id":"1234567890","host_tags":[],"account_specific_namespace_rules":{},"errors":[],"filter_tags":[]}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 1/ye/L7/S9djtmh0CDbapYOAoYP2Xz5NE904aTai4cgQw/Kmmv343hpHqBIP3PC5
      X-Dd-Version:
      - "35.2479740"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"1234567890","services":["lambda"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - EnableAWSLogServices
    url: https://api.datadoghq.com/api/v1/integration/aws/logs/services
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - JEThRmJp6qTNp8pxXQqPpRD40l23OvSASz6GutTWG+aCw+n9cF/5KqfPSziGHWsU
      X-Dd-Version:
      - "35.2479740"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAWSLogsIntegrations
    url: https://api.datadoghq.com/api/v1/integration/aws/logs
    method: GET
  response:
    body: '[{"services":["lambda"],"account_id":"1234567890","lambdas":[]}]'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - J7vOWsxZd7Grxzg2TIaQpn2nGjrOScgI4Kwzur8V2oOTYInX6xbVT4leinNkGLPk
      X-Dd-Version:
      - "35.2479740"
    status: 200 OK
    code: 200
    duration: ""
[...]
