---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardAlertGraph-local-1611850704","widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"}},{"definition":{"alert_id":"895606","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"alert_graph","viz_type":"toplist"}},{"definition":{"alert_id":"895606","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"alert_graph","viz_type":"toplist"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"gui-44q-qfx","title":"tf-TestAccDatadogDashboardAlertGraph-local-1611850704","url":"/dashboard/gui-44q-qfx/tf-testaccdatadogdashboardalertgraph-local-1611850704","created_at":"2021-01-28T16:51:02.765098+00:00","modified_at":"2021-01-28T16:51:02.765098+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"},"id":6341847069634979},{"definition":{"title_size":"16","viz_type":"toplist","title":"Widget
      Title","title_align":"right","alert_id":"895606","time":{"live_span":"1h"},"type":"alert_graph"},"id":2727567254659067},{"definition":{"title_size":"16","viz_type":"toplist","title":"Widget
      Title","title_align":"right","alert_id":"895606","time":{"live_span":"1h"},"type":"alert_graph"},"id":8268915654013276}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.3796727"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/gui-44q-qfx
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"gui-44q-qfx","title":"tf-TestAccDatadogDashboardAlertGraph-local-1611850704","url":"/dashboard/gui-44q-qfx/tf-testaccdatadogdashboardalertgraph-local-1611850704","created_at":"2021-01-28T16:51:02.765098+00:00","modified_at":"2021-01-28T16:51:02.765098+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"},"id":6341847069634979},{"definition":{"title_size":"16","viz_type":"toplist","title":"Widget
      Title","title_align":"right","alert_id":"895606","time":{"live_span":"1h"},"type":"alert_graph"},"id":2727567254659067},{"definition":{"title_size":"16","viz_type":"toplist","title":"Widget
      Title","title_align":"right","alert_id":"895606","time":{"live_span":"1h"},"type":"alert_graph"},"id":8268915654013276}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      X-Dd-Version:
      - "35.3796727"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/gui-44q-qfx
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"gui-44q-qfx"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - "35.3796727"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/gui-44q-qfx
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID gui-44q-qfx not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3796727"
    status: 404 Not Found
    code: 404
    duration: ""
