---
version: 1
interactions:
- request:
    body: |
      {"auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","auth_uri":"https://accounts.google.com/o/oauth2/auth","client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1596445997@awesome-project-id.iam.gserviceaccount.com","client_id":"123456789012345678901","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/tf-TestAccDatadogLogsArchiveGCS_basic-local-1596445997@awesome-project-id.iam.gserviceaccount.com","host_filters":"foo:bar,buzz:lightyear","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","private_key_id":"1234567890123456789012345678901234567890","project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1596445997","token_uri":"https://accounts.google.com/o/oauth2/token","type":"service_account"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGCPIntegration
    url: https://api.datadoghq.com/api/v1/integration/gcp
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - eqrH1g3VF0oj6xRRluneeUlf2+KlOLMDwfb+2r9w9N8dBjyazw8AOgUZ4CXhSQfA
      X-Dd-Version:
      - "35.2823408"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListGCPIntegration
    url: https://api.datadoghq.com/api/v1/integration/gcp
    method: GET
  response:
    body: '[{"automute":false,"project_id":"super-awesome-project-id","client_email":"awesome-service-account@awesome-project-id.iam.gserviceaccount.com","errors":[],"host_filters":""},{"automute":false,"project_id":"super-awesome-project-id","client_email":"tf-TestAccDatadogIntegrationGCP-local-1596441808@awesome-project-id.iam.gserviceaccount.com","errors":[],"host_filters":"foo:bar,buzz:lightyear"},{"automute":false,"project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1596445997","client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1596445997@awesome-project-id.iam.gserviceaccount.com","errors":[],"host_filters":"foo:bar,buzz:lightyear"}]'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - RQZfi9UJivwK6GLT0cXtqibKFWvkX3M0YsaDjHVc36xHo+pmT/F8qyKc32w95NR3
      X-Dd-Version:
      - "35.2823408"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"destination":{"bucket":"dd-logs-test-datadog-api-client-go","integration":{"client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1596445997@awesome-project-id.iam.gserviceaccount.com","project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1596445997"},"path":"/path/blah","type":"gcs"},"name":"my first gcs archive","query":"service:tata"},"type":"archives"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsArchive
    url: https://api.datadoghq.com/api/v2/logs/config/archives
    method: POST
  response:
    body: '{"data":{"type":"archives","id":"B9-T8PyYRje_cDwugckyFA","attributes":{"name":"my
      first gcs archive","query":"service:tata","state":"UNKNOWN","destination":{"bucket":"dd-logs-test-datadog-api-client-go","path":"/path/blah","type":"gcs","integration":{"project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1596445997","client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1596445997@awesome-project-id.iam.gserviceaccount.com"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2+A4G0IXWvp8cBoj7yp8IXOjy4Y5Lj6wS8EHYGdy2wuEnhsro4/89BfSiayAX9PP
      X-Dd-Version:
      - "35.2823408"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "66"
      X-Ratelimit-Reset:
      - "2801"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsArchive
    url: https://api.datadoghq.com/api/v2/logs/config/archives/B9-T8PyYRje_cDwugckyFA
    method: GET
  response:
    body: '{"data":{"type":"archives","id":"B9-T8PyYRje_cDwugckyFA","attributes":{"name":"my
      first gcs archive","query":"service:tata","state":"UNKNOWN","destination":{"bucket":"dd-logs-test-datadog-api-client-go","path":"/path/blah","type":"gcs","integration":{"project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1596445997","client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1596445997@awesome-project-id.iam.gserviceaccount.com"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - xjDodEkCeDd9w63VQx0nakCtB6QMjIyjhxKQ261ZcL0I1tcNAY3wZgLFrJZWZbMy
      X-Dd-Version:
      - "35.2823408"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4896"
      X-Ratelimit-Reset:
      - "2801"
    status: 200 OK
    code: 200
    duration: ""
[...]
