---
version: 1
interactions:
- request:
    body: '{"name":"name for synthetics test ssl","type":"api","subtype":"ssl","tags":["foo:bar","baz"],"config":{"request":{"host":"datadoghq.com","port":443},"assertions":[{"operator":"isInMoreThan","type":"certificate","target":30}]},"message":"Notify
      @datadog.user","options":{"tick_every":60,"accept_self_signed":true},"locations":["aws:eu-central-1"],"status":"paused"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"fxn-enp-f7v","tags":["foo:bar","baz"],"org_id":413403,"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","deleted_at":null,"name":"name for synthetics test ssl","monitor_id":18336553,"type":"api","created_at":"2020-05-08T18:14:46.725580+00:00","modified_at":"2020-05-08T18:14:46.725580+00:00","subtype":"ssl","config":{"request":{"host":"datadoghq.com","port":443},"assertions":[{"operator":"isInMoreThan","type":"certificate","target":30}]},"options":{"accept_self_signed":true,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - og1WGdy+2nV+rkkclmd3Cf2I26XhV3/6yjBeQCP8aHbH2k2cKwC+X9WmhIghcJ94
      X-Dd-Version:
      - "35.2481874"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "117"
      X-Ratelimit-Reset:
      - "14"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/fxn-enp-f7v
    method: GET
  response:
    body: '{"status":"paused","public_id":"fxn-enp-f7v","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","modified_by":{"email":"bvdrucker+trial@gmail.com","handle":"bvdrucker+trial@gmail.com","id":1765347,"name":"Ben
      Drucker"},"name":"name for synthetics test ssl","monitor_id":18336553,"type":"api","created_at":"2020-05-08T18:14:46.725580+00:00","modified_at":"2020-05-08T18:14:46.725580+00:00","created_by":{"email":"bvdrucker+trial@gmail.com","handle":"bvdrucker+trial@gmail.com","id":1765347,"name":"Ben
      Drucker"},"subtype":"ssl","config":[...]
- request:
    body: '{"public_ids":["fxn-enp-f7v"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-05-08T18:14:47.710231+00:00","public_id":"fxn-enp-f7v"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - L5yd3v29mZzDtdpTLB/OLdaP/nm856X8oKVK7IsHIbLmKRYkqq5Jv7+SBx/bs1VS
      X-Dd-Version:
      - "35.2481874"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "117"
      X-Ratelimit-Reset:
      - "13"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/fxn-enp-f7v
    method: GET
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2481874"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "986"
      X-Ratelimit-Reset:
      - "12"
    status: 404 Not Found
    code: 404
    duration: ""
