---
version: 1
interactions:
- request:
    body: |
<<<<<<< HEAD
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardScatterplot_import-local-1602246891","widgets":[{"definition":{"color_by_groups":["app"],"requests":{"x":{"aggregator":"avg","q":"avg:system.cpu.user{account:prod} by {service, team, app}"},"y":{"aggregator":"avg","q":"avg:system.mem.used{env:prod} by {service, team, app}"}},"time":{"live_span":"15m"},"title":"system.mem.used and system.cpu.user by service,team,app colored by app","title_align":"right","title_size":"16","type":"scatterplot","xaxis":{"include_zero":false,"label":"cpu (%)","max":"100","min":"0","scale":"log"},"yaxis":{"include_zero":false,"label":"mem (Gib)","min":"1","scale":"log"}}}]}
=======
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardScatterplot_import-local-1602169633","widgets":[{"definition":{"color_by_groups":["app"],"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"}],"requests":{"x":{"aggregator":"avg","q":"avg:system.cpu.user{account:prod} by {service, team, app}"},"y":{"aggregator":"avg","q":"avg:system.mem.used{env:prod} by {service, team, app}"}},"time":{"live_span":"15m"},"title":"system.mem.used and system.cpu.user by service,team,app colored by app","title_align":"right","title_size":"16","type":"scatterplot","xaxis":{"include_zero":false,"label":"cpu (%)","max":"100","min":"0","scale":"log"},"yaxis":{"include_zero":false,"label":"mem (Gib)","min":"1","scale":"log"}}}]}
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "6529661950321526958"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "9019828328757064889"
=======
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.13.1; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "2068016126747615380"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "5671450375353180248"
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
<<<<<<< HEAD
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"mgu-e7x-hhx","title":"tf-TestAccDatadogDashboardScatterplot_import-local-1602246891","url":"/dashboard/mgu-e7x-hhx/tf-testaccdatadogdashboardscatterplotimport-local-1602246891","created_at":"2020-10-09T12:39:47.401238+00:00","modified_at":"2020-10-09T12:39:47.401238+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","yaxis":{"include_zero":false,"scale":"log","min":"1","label":"mem
=======
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"pac-hnb-wrr","title":"tf-TestAccDatadogDashboardScatterplot_import-local-1602169633","url":"/dashboard/pac-hnb-wrr/tf-testaccdatadogdashboardscatterplotimport-local-1602169633","created_at":"2020-10-08T15:07:16.919065+00:00","modified_at":"202[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "2633504823310555061"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "9019828328757064889"
    url: https://api.datadoghq.com/api/v1/dashboard/mgu-e7x-hhx
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "6609679868117662530"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "9019828328757064889"
    url: https://api.datadoghq.com/api/v1/dashboard/mgu-e7x-hhx
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"mgu-e7x-hhx"}'
=======
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.13.1; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "5054394838099207511"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "5671450375353180248"
    url: https://api.datadoghq.com/api/v1/dashboard/pac-hnb-wrr
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"pac-hnb-wrr"}'
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Fri, 09 Oct 2020 12:40:46 GMT
=======
      - Thu, 08 Oct 2020 15:08:13 GMT
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      Dd-Pool:
      - dogweb
      Pragma:
      - no-cache
      Set-Cookie:
<<<<<<< HEAD
      - DD-PSHARD=233; Max-Age=604800; Path=/; expires=Fri, 16-Oct-2020 12:39:59 GMT;
=======
      - DD-PSHARD=233; Max-Age=604800; Path=/; expires=Thu, 15-Oct-2020 15:07:25 GMT;
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
        secure; HttpOnly
      Strict-Transport-Security:
      - max-age=15724800;
      Vary:
      - Accept-Encoding
      X-Content-Type-Options:
      - nosniff
      X-Dd-Debug:
<<<<<<< HEAD
      - 9yeVJjClEU/6raHJlYfllzCTOtXzS//Mfm4MIk+dxQ9wRvMbFDy5xrIlZe/VS4yX
      X-Dd-Version:
      - "35.3169891"
=======
      - 1yK3PnBzCoxF/WGKEJeJqS2Jb9mutr3xDuvLdPbJCfX1HVDqeCXkaWYDO6wQpQhO
      X-Dd-Version:
      - "35.3163187"
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      X-Frame-Options:
      - SAMEORIGIN
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.14.2; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "1346964523289947532"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "9019828328757064889"
    url: https://api.datadoghq.com/api/v1/dashboard/mgu-e7x-hhx
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID mgu-e7x-hhx not found"]}'
=======
        datadog-api-client-go/1.0.0-beta.9+dev (go go1.13.1; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "2913528278458529704"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "5671450375353180248"
    url: https://api.datadoghq.com/api/v1/dashboard/pac-hnb-wrr
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID pac-hnb-wrr not found"]}'
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Fri, 09 Oct 2020 12:40:47 GMT
=======
      - Thu, 08 Oct 2020 15:08:13 GMT
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      Dd-Pool:
      - dogweb
      Pragma:
      - no-cache
      Strict-Transport-Security:
      - max-age=15724800;
      Vary:
      - Accept-Encoding
      X-Content-Type-Options:
      - nosniff
      X-Dd-Version:
<<<<<<< HEAD
      - "35.3169891"
=======
      - "35.3163187"
>>>>>>> 39d86cfa... Re-record cassettes for other widgets
      X-Frame-Options:
      - SAMEORIGIN
    status: 404 Not Found
    code: 404
    duration: ""
