---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"A","target":"0.0.0.0","type":"recordSome"}],"request":{"host":"https://www.datadoghq.com"},"variables":[]},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsDNSTest_Basic-local-1601287300","options":{"min_location_failed":1,"tick_every":60},"status":"paused","subtype":"dns","tags":["foo:bar","baz"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
    url: https://app.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"npb-mnc-d6y","tags":["foo:bar","baz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","deleted_at":null,"name":"tf-TestAccDatadogSyntheticsDNSTest_Basic-local-1601287300","monitor_id":22862902,"type":"api","created_at":"2020-09-28T10:01:41.183193+00:00","modified_at":"2020-09-28T10:01:41.183193+00:00","subtype":"dns","config":{"variables":[],"request":{"host":"https://www.datadoghq.com"},"assertions":[{"operator":"is","property":"A","type":"recordSome","target":"0.0.0.0"}]},"options":{"min_location_failed":1,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 84uqub9zpmlgg8irRO/sOXYuWjXevKJ3PeFDkydS20gUrNiRDeiB84n5Q67dF4oL
      X-Dd-Version:
      - "35.3100421"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "116"
      X-Ratelimit-Reset:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://app.datadoghq.com/api/v1/synthetics/tests/npb-mnc-d6y
    method: GET
  response:
    body: '{"status":"paused","public_id":"npb-mnc-d6y","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","name":"tf-TestAccDatadogSyntheticsDNSTest_Basic-local-1601287300","monitor_id":22862902,"type":"api","subtype":"dns","config":{"variables":[],"request":{"host":"https://www.datadoghq.com"},"assertions":[{"operator":"is","property":"A","type":"recordSome","target":"0.0.0.0"}]},"options":{"min_location_failed":1,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - IEUzjgpnyUrp74lH2dqPweGXNQU7es3CY44HHPIdy7aSNeimMebMvcKCoCgyWWVx
      X-Dd-Version:
      - "35.3100493"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "983"
      X-Ratelimit-Reset:
      - "18"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"public_ids":["npb-mnc-d6y"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://app.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-09-28T10:01:43.436201+00:00","public_id":"npb-mnc-d6y"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - Kk/IK0yKFQFO85P6+hozZV6nj4lzf3jJe8dZhRkIu12QKZF7MHi2yPiBbpLyX6Ve
      X-Dd-Version:
      - "35.3100421"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "117"
      X-Ratelimit-Reset:
      - "17"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://app.datadoghq.com/api/v1/synthetics/tests/npb-mnc-d6y
    method: GET
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3100493"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "973"
      X-Ratelimit-Reset:
      - "17"
    status: 404 Not Found
    code: 404
    duration: ""
