---
version: 1
interactions:
- request:
    body: |
      {"description":"a secure global variable","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_BASIC_LOCAL_1609927125","tags":["foo:bar","baz"],"value":{"secure":true,"value":"variable-secure-value"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_extracted_at":null,"description":"a secure global variable","tags":["foo:bar","baz"],"parse_test_public_id":null,"value":{"secure":true},"id":"57ebd6de-1f26-42e3-a8e3-d578d3e2cbe0","parse_test_options":null,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_BASIC_LOCAL_1609927125","parse_test_name":null,"type":"variable"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HPVlkUpFXGYcqD93XIv+Hev5A7X2V4P4zD5qLStQWMHCrtOXDwFh+ruPewqnpfPS
      X-Dd-Version:
      - "35.3647661"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "14"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/57ebd6de-1f26-42e3-a8e3-d578d3e2cbe0
    method: GET
  response:
    body: '{"parse_test_extracted_at":null,"description":"a secure global variable","tags":["foo:bar","baz"],"parse_test_public_id":null,"value":{"secure":true},"id":"57ebd6de-1f26-42e3-a8e3-d578d3e2cbe0","parse_test_options":null,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_BASIC_LOCAL_1609927125","created_at":"2021-01-06T09:58:46.214124+00:00","modified_at":"2021-01-06T09:58:46.214124+00:00","created_by":1445416,"parse_test_name":null,"type":"variable"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - q5LZgdQyaeyVGPNSaYfaXI15usQY6VerSpOcr6YoOhwKyednUK9qVYPwCUtgztbj
      X-Dd-Version:
      - "35.3647661"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "14"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/57ebd6de-1f26-42e3-a8e3-d578d3e2cbe0
    method: GET
  response:
    body: '{"errors": ["Synthetics variable not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3647661"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "115"
      X-Ratelimit-Reset:
      - "13"
    status: 404 Not Found
    code: 404
    duration: ""
