---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_updated-local-1609928655@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"55488082-5009-11eb-8bb4-eb8e27976af3","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1609928655@example.com","created_at":"2021-01-06T10:24:18.065647+00:00","email":"tf-testaccdatadoguser_updated-local-1609928655@example.com","icon":"https://secure.gravatar.com/avatar/52d49d29f13b0fafe41e7e36e74da946?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - xX5B3VEUzj/lf2mLoLzvYApJQ8Milw+OjpcorJhw8mNeFxMv2SeFpmruGZDusq8/
      X-Dd-Version:
      - "35.3647765"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"55488082-5009-11eb-8bb4-eb8e27976af3","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"55768eaa-5009-11eb-8bb4-b315f64c483d","attributes":{"uuid":"55768eaa-5009-11eb-8bb4-b315f64c483d","login_method":null,"invite_type":"basic_invite","created_at":"2021-01-06T10:24:18.368810+00:00","expires_at":"2021-01-08T10:24:18.297840+00:00"},"relationships":{"user":{"data":{"type":"users","id":"55488082-5009-11eb-8bb4-eb8e27976af3"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - czEVy5beKXV4pQAZ5xftzVoEe/6sl5mAUrgslod1oQM8E1r6UMNK9mDY9umj8H+Q
      X-Dd-Version:
      - "35.3647765"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/55488082-5009-11eb-8bb4-eb8e27976af3
    method: GET
  response:
    body: '{"data":{"type":"users","id":"55488082-5009-11eb-8bb4-eb8e27976af3","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1609928655@example.com","created_at":"2021-01-06T10:24:18.065647+00:00","email":"tf-testaccdatadoguser_updated-local-1609928655@example.com","icon":"https://secure.gravatar.com/avatar/52d49d29f13b0fafe41e7e36e74da946?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gxfSlUtZJz4/cDPBxW1+YhseAnu5514ckuMWbI3rl8N4exeAZPF+KTE0BQhrBgSI
      X-Dd-Version:
      - "35.3647765"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/55488082-5009-11eb-8bb4-eb8e27976af3
    method: DELETE
  response:
    body: '{"errors": ["55488082-5009-11eb-8bb4-eb8e27976af3 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3647765"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
