---
version: 1
interactions:
- request:
    body: '{"name":"imported pipeline","is_enabled":false,"filter":{"query":"source:kafka"},"processors":[{"expression":"(time1
      - time2)*1000","is_enabled":false,"is_replace_missing":true,"name":"test arithmetic
      processor","target":"my_arithmetic","type":"arithmetic-processor"},{"is_enabled":true,"name":"test
      attribute remapper","override_on_conflict":false,"preserve_source":true,"source_type":"tag","sources":["db.instance"],"target":"db","target_type":"tag","type":"attribute-remapper"},{"categories":[{"filter":{"query":"@severity:
      \".\""},"name":"debug"},{"filter":{"query":"@severity: \"-\""},"name":"verbose"}],"is_enabled":false,"name":"test
      category processor","target":"redis.severity","type":"category-processor"},{"is_enabled":true,"name":"test
      date remapper","sources":["date"],"type":"date-remapper"},{"is_enabled":true,"name":"2nd
      date remapper","sources":["other"],"type":"date-remapper"},{"is_enabled":false,"name":"test
      message remapper","sources":["message"],"type":"message-remapper"},{"is_enabled":false,"name":"test
      service remapper","sources":["service"],"type":"service-remapper"},{"is_enabled":false,"name":"test
      status remapper","sources":["status","extra"],"type":"status-remapper"},{"is_enabled":false,"name":"test
      trace id remapper","sources":["dd.trace_id"],"type":"trace-id-remapper"},{"filter":{"query":"source:redis"},"is_enabled":false,"name":"nested
      pipeline","processors":[{"grok":{"match_rules":"Rule %{word:my_word2} %{number:my_float2}","support_rules":""},"is_enabled":false,"name":"test
      grok parser","samples":null,"source":"message","type":"grok-parser"},{"is_enabled":false,"name":"test
      url parser","normalize_ending_slashes":true,"sources":["url","extra"],"target":"http_url","type":"url-parser"}],"type":"pipeline"},{"is_enabled":false,"is_encoded":false,"name":"test
      user agent parser","sources":["user","agent"],"target":"http_agent","type":"user-agent-parser"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
    method: POST
  response:
    body: '{"id":"wUWoOnRES7KV7ANNA0jbkg","type":"pipeline","name":"imported pipeline","is_enabled":false,"is_read_only":false,"filter":{"query":"source:kafka"},"processors":[{"name":"test
      arithmetic processor","is_enabled":false,"expression":"(time1 - time2)*1000","target":"my_arithmetic","is_replace_missing":true,"type":"arithmetic-processor"},{"name":"test
      attribute remapper","is_enabled":true,"sources":["db.instance"],"source_type":"tag","target":"db","target_type":"tag","preserve_source":true,"override_on_conflict":false,"type":"attribute-remapper"},{"name":"test
      category processor","is_enab[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/wUWoOnRES7KV7ANNA0jbkg
    method: GET
  response:
    body: '{"id":"wUWoOnRES7KV7ANNA0jbkg","type":"pipeline","name":"imported pipeline","is_enabled":false,"is_read_only":false,"filter":{"query":"source:kafka"},"processors":[{"name":"test
      arithmetic processor","is_enabled":false,"expression":"(time1 - time2)*1000","target":"my_arithmetic","is_replace_missing":true,"type":"arit[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/wUWoOnRES7KV7ANNA0jbkg
    method: DELETE
  response:
    body: ""
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - NueLa2zkdBcl9S7BHrRuWyjAeR9iWgPFe330KTY6Cp0/yUhjUktbxu5rG2fG6gBk
      X-Dd-Version:
      - "35.2224896"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "98"
      X-Ratelimit-Reset:
      - "1188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/wUWoOnRES7KV7ANNA0jbkg
    method: GET
  response:
    body: '{"error":{"code":"InvalidArgument","message":"Non existing pipeline"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2224896"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4991"
      X-Ratelimit-Reset:
      - "1188"
    status: 400 Bad Request
    code: 400
    duration: ""
