---
version: 1
interactions:
- request:
    body: '{"title":"TF Test Free Layout Dashboard","widgets":[{"definition":{"type":"event_stream","query":"*","event_size":"l","title":"Widget
      Title","title_size":"16","title_align":"left","time":{"live_span":"1h"}},"layout":{"x":5,"y":5,"height":43,"width":32}}],"layout_type":"free","id":"","description":"Created
      using the Datadog provider in Terraform"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":false,"id":"397-vfs-397","title":"TF
      Test Free Layout Dashboard","url":"/dashboard/397-vfs-397/tf-test-free-layout-dashboard","created_at":"2020-03-04T13:19:29.524956+00:00","modified_at":"2020-03-04T13:19:29.524962+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"x":5,"width":32,"height":43},"id":98761223279832}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 11g4TM+MO8VJV6iUJTOff4hAGEXsIqbG4IMv2YuWygOleCGxCxx6NihCkVtjenZN
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"title":"TF Test Layout Dashboard","widgets":[{"definition":{"type":"alert_graph","alert_id":"1234","viz_type":"timeseries","title":"Widget
      Title","time":{"live_span":"1h"}}}],"layout_type":"ordered","id":"","description":"Created
      using the Datadog provider in Terraform","is_read_only":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":true,"id":"jam-tab-yr7","title":"TF
      Test Layout Dashboard","url":"/dashboard/jam-tab-yr7/tf-test-layout-dashboard","created_at":"2020-03-04T13:19:29.671963+00:00","modified_at":"2020-03-04T13:19:29.671963+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"type":"alert_graph","viz_type":"timeseries","title":"Widget
      Title"},"id":8144795433111278}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2AZOmbSnS2o4jaTO55IoEgDi10r3ewUAnpo5XLuAFAThAxt0uvbRy8dZoSIDmBYA
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/jam-tab-yr7
    method: GET
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":true,"id":"jam-tab-yr7","title":"TF
      Test Layout Dashboard","url":"/dashboard/jam-tab-yr7/tf-test-layout-dashboard","created_at":"2020-03-04T13:19:29.671963+00:00","modified_at":"2020-03-04T13:19:29.671963+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"type":"alert_graph","viz_type":"timeseries","title":"Widget
      Title"},"id":8144795433111278}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - KHJbOoqp3I4BOBzIFnc/Ois3eg3Rjmudy0YalRpnXQEDXDoppykpDMDaJPIufi9t
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/397-vfs-397
    method: GET
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variables":null,"is_read_only":false,"id":"397-vfs-397","title":"TF
      Test Free Layout Dashboard","url":"/dashboard/397-vfs-397/tf-test-free-layout-dashboard","created_at":"2020-03-04T13:19:29.524956+00:00","modified_at":"2020-03-04T13:19:29.524962+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"x":5,"width":32,"height":43},"id":98761223279832}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ADT0ms9dQnbDHbbduv4c09ChngZrYY7A/Pgms/qacMOruS4mPwZ1GJWq74I7G11W
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"Terraform newest Created List"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"Terraform newest Created List","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-03-04T13:19:30.189473+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-03-04T13:19:30.189487+00:00","id":82967}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - HIunaScoW4AWw8tnSbk8zc5V6c9XLV6++/KbgzaC4HIb212+evjUYL1yRLeLtS2T
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"dashboards":[{"id":"397-vfs-397","type":"custom_screenboard"},{"id":"jam-tab-yr7","type":"custom_timeboard"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/82967/dashboards
    method: PUT
  response:
    body: '{"dashboards":[{"type":"custom_screenboard","id":"397-vfs-397"},{"type":"custom_timeboard","id":"jam-tab-yr7"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - em3KoJu1XYdqq1w4EpLi4L54svjYBxZahEDJ8c5gcdIOxnNafHMdF5LLysPLuNcH
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/82967
    method: GET
  response:
    body: '{"is_favorite":false,"name":"Terraform newest Created List","dashboard_count":2,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-03-04T13:19:30.189473+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-03-04T13:19:30.433595+00:00","id":82967}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - og1WGdy+2nV+rkkclmd3Cf2I26XhV3/6yjBeQCP8aHbH2k2cKwC+X9WmhIghcJ94
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/82967/dashboards
    method: GET
  response:
    body: '{"total":2,"dashboards":[{"popularity":0,"title":"TF Test Layout Dashboard","is_favorite":false,"id":"jam-tab-yr7","icon":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/jam-tab-yr7/tf-test-layout-dashboard","created":"2020-03-04T13:19:29.671963+00:00","modified":"2020-03-04T13:19:29.671963+00:00","is_read_only":true,"type":"custom_timeboard"},{"popularity":0,"title":"TF
      Test Free Layout Dashboard","is_favorite":false,"id":"397-vfs-397","icon":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/397-vfs-397/tf-test-free-layout-dashboard","created":"2020-03-04T13:19:29.524956+00:00","modified":"2020-03-04T13:19:29.524962+00:00","is_read_only":false,"type":"custom_screenboard"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aiFdvD+ESSGWQuLeXGShIAaySBrTSq6aZf+crfPnDVFrMRUU9f0HobLUCBopvakz
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/82967
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":82967}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - e8t0cvW5uVKXk1zUsTcAcDpqv28dgy+lCs/R2sCfbKW6stomFiq2a4ijzxRdPBn5
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/397-vfs-397
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"397-vfs-397"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bZxgHnChon9vZm5xdRa4NrQAYSVWc7iQc54D228L4geTT/U2FwMh0nkSo8j+6vpL
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/82967
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 82967 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2240669"
    status: 404 Not Found
    code: 404
    duration: ""
