---
version: 1
interactions:
- request:
    body: '{"services":[{"service_name":"tf_TestAccDatadogIntegrationPagerduty_Basic_local_1596469290","service_key":"*****"}],"subdomain":"testdomain","schedules":["https://ddog.pagerduty.com/schedules/X123VF"],"api_token":"secret"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - u5ujmR15h/aY+2LHwfabLkzpOa3zrVrgmWmSq6UnIpOZ6rPZGDFhkfwYoaHkKXJu
      X-Dd-Version:
      - "35.2824963"
    status: 204 No Content
    code: 204
    duration: ""
[...]
