---
version: 1
interactions:
- request:
    body: |
      {"name":"tf-TestDatadogDashListInDashboard-local-1609425728"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListInDashboard-local-1609425728","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-12-31T14:49:58.898329+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-12-31T14:49:58.898346+00:00","id":157349}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - VFEd9WEYHg4A4gkQ37Kh8VC+38V/yfH2X0MUdUVsECnCE1FSV9c52Sqrn7OQ0Mvj
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/157349
    method: GET
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListInDashboard-local-1609425728","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-12-31T14:49:58.898329+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-12-31T14:49:58.898346+00:00","id":157349}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 1P9wTBqAbIBgrelvLhZC6yMU4dh3hoPJxqgVxGKRZAP7KGr8YPkzxcmHF9q0g7sB
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/157349/dashboards
    method: GET
  response:
    body: '{"total":0,"dashboards":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - VFEd9WEYHg4A4gkQ37Kh8VC+38V/yfH2X0MUdUVsECnCE1FSV9c52Sqrn7OQ0Mvj
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListInDashboard-local-1609425728-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"ctx-hqn-nyh","title":"tf-TestDatadogDashListInDashboard-local-1609425728-time","url":"/dashboard/ctx-hqn-nyh/tf-testdatadogdashlistindashboard-local-1609425728-time","created_at":"2020-12-31T14:50:02.839994+00:00","modified_at":"2020-12-31T14:50:02.839994+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":7040058418818510}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dkPC7h1IhtieQ7hDwGKZ3LdM53Z2+XQ6pWT/sK6/v5L2qKrddV2g+eVtGbkN4F8/
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ctx-hqn-nyh
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"ctx-hqn-nyh","title":"tf-TestDatadogDashListInDashboard-local-1609425728-time","url":"/dashboard/ctx-hqn-nyh/tf-testdatadogdashlistindashboard-local-1609425728-time","created_at":"2020-12-31T14:50:02.839994+00:00","modified_at":"2020-12-31T14:50:02.839994+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":7040058418818510}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - DRZWTHDeKolQqk6GEAFoSVDF1cV93C/z8xwO7umb9e0luQPYr8BUl8IXxXdpfaM5
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"ctx-hqn-nyh","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/157349/dashboards
    method: POST
  response:
    body: '{"added_dashboards_to_list":[{"type":"custom_timeboard","id":"ctx-hqn-nyh"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - EQzhJSeNziVWIN4Gtgvm49DBQgA/xSWPBZSORg2i40a13gmPz8gOAFcYwqtQKjIG
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/157349/dashboards
    method: GET
  response:
    body: '{"total":1,"dashboards":[{"popularity":0,"title":"tf-TestDatadogDashListInDashboard-local-1609425728-time","is_favorite":false,"id":"ctx-hqn-nyh","icon":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/ctx-hqn-nyh/tf-testdatadogdashlistindashboard-local-1609425728-time","created":"2020-12-31T14:50:02.839994+00:00","modified":"2020-12-31T14:50:02.839994+00:00","is_read_only":true,"type":"custom_timeboard"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Q8knEw82SgGErSuAaD0RuA7obbJQJNFXaFmNNzPtQBtywdtSi82Z9gGaD787DJ0K
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"dashboards":[{"id":"ctx-hqn-nyh","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/157349/dashboards
    method: DELETE
  response:
    body: '{"deleted_dashboards_from_list":[{"type":"custom_timeboard","id":"ctx-hqn-nyh"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 4XEHrKCjPbSbs1iu1F78+tH4eaIPZCq+IGDoHN/GQcOsLq6w3Zzz7ZK1RqpTUzFS
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/157349
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":157349}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - KOOy1lPBGMLqgfaB9uC20OTIJWXg6RQf2/pgyl9zFLuYtKhixa8ypYEhkGX7WYxW
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ctx-hqn-nyh
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"ctx-hqn-nyh"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - GNNaCEaWbc3UTUClxoMWS01sWxumNliK7MHAxNSLzSt+cr/umvBLJdbOFDCcNeME
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/157349
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 157349 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3622023"
    status: 404 Not Found
    code: 404
    duration: ""
