---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"Acceptance Test Free Text Widget Dashboard","widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"zs3-8j9-zbp","title":"Acceptance
      Test Free Text Widget Dashboard","url":"/dashboard/zs3-8j9-zbp/acceptance-test-free-text-widget-dashboard","created_at":"2020-07-28T09:06:13.828534+00:00","modified_at":"2020-07-28T09:06:13.828534+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"color":"#eb364b","text":"Free
      Text","font_size":"56","text_align":"left","type":"free_text"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":1750200753557395}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bqc6ZtfHNHA7OLHIEHGArzcKmRM5UN9gzHI+VQdw1mTNBHQ7r5tr5qib5AnYVRIX
      X-Dd-Version:
      - "35.2795924"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/zs3-8j9-zbp
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"zs3-8j9-zbp","title":"Acceptance
      Test Free Text Widget Dashboard","url":"/dashboard/zs3-8j9-zbp/acceptance-test-free-text-widget-dashboard","created_at":"2020-07-28T09:06:13.828534+00:00","modified_at":"2020-07-28T09:06:13.828534+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"color":"#eb364b","text":"Free
      Text","font_size":"56","text_align":"left","type":"free_text"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":1750200753557395}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - YAdUIW7YfaZf6fXJMHwD7/CHMGB8SyHaonnyQATX6ca4vxdfbS54Qr5fGo4pSvCt
      X-Dd-Version:
      - "35.2795924"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/zs3-8j9-zbp
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"zs3-8j9-zbp"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 8cBjdL9NHZ03vd4LQtB6qzJXSQC3gY1Xjcpa9r0z+AYcijmIJyzcnXd0bE0tCzu7
      X-Dd-Version:
      - "35.2795924"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/zs3-8j9-zbp
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID zs3-8j9-zbp not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2795924"
    status: 404 Not Found
    code: 404
    duration: ""
