---
version: 1
interactions:
- request:
    body: '{"handle":"tftestuser@example.com","name":"Test User"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":true,"handle":"tftestuser@example.com","name":"Test
      User","title":null,"is_admin":true,"role":null,"access_role":"adm","verified":false,"email":"tftestuser@example.com","icon":"https://secure.gravatar.com/avatar/bda0bc2045f65f937cfc3ec984e87ed7?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - EbXB0e7cF4uDRViRvI+w6qPg1YzykoJqZiw5SbqL/81VRQW4a286h09eTGyIVvXJ
      X-Dd-Version:
      - "35.2282030"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"email":"tftestuser@example.com","name":"Test User","access_role":"st","disabled":false,"is_admin":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user/tftestuser@example.com
    method: PUT
  response:
    body: '{"user":{"disabled":false,"handle":"tftestuser@example.com","name":"Test
      User","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"tftestuser@example.com","icon":"https://secure.gravatar.com/avatar/bda0bc2045f65f937cfc3ec984e87ed7?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 1bzfAqb/6TIngEeU7r7YcGGp2+NaI+ne9J3bzgQrdB0qTrgVrMtd4iKXr1zCNOHr
      X-Dd-Version:
      - "35.2282030"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/tftestuser@example.com
    method: GET
  response:
    body: '{"user":{"handle":"tftestuser@example.com","access_role":"st","disabled":false,"is_admin":false,"icon":"https://secure.gravatar.com/avatar/bda0bc2045f65f937cfc3ec984e87ed7?s=48&d=retro","verified":false,"name":"Test
      User","roles":[{"uuid":"94172443-be03-11e9-a77a-373332f69711","created_at":"2019-08-13T19:50:19.075284","name":"Datadog
      Standard Role","last_modified":"2019-08-13T19:50:19.075284","id":904116,"permissions":[{"display_name":"Log
      Write Processors","description":"The ability to add and change some or all log
      processor configurations. Can be granted in a limited capacity per pipeline
      to specific roles via the Logs interface or API. If granted via the Roles interface
      or API the permission has global scope.","restricted":false,"created_at":"2018-10-31T13:40:23.969725","name":"logs_write_processors","uuid":"84aa3ae4-dd12-11e8-9e58-a373a514ccd0"},{"display_name":"Monitors
      Manage Downtimes","description":"The ability to set downtimes for your organization.
      A user with this permission can suppress alerts from any monitor using a downtime,
      even if they do not have permission to edit those monitors explicitly.","restricted":false,"created_at":"2019-09-16T18:39:23.306702","name":"monitors_downtime","u[...]
[...]
