---
version: 1
interactions:
- request:
    body: '{"name":"name for synthetics browser test bar","type":"browser","tags":["foo:bar","baz"],"config":{"request":{"url":"https://www.datadoghq.com","method":"GET","timeout":30,"headers":{},"body":"this
      is a body"}},"message":"Notify @datadog.user","options":{"tick_every":900,"min_failure_duration":0,"min_location_failed":1,"device_ids":["laptop_large","mobile_small"]},"locations":["aws:eu-central-1"],"status":"paused"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"n87-2rg-qaz","tags":["foo:bar","baz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","deleted_at":null,"name":"name for synthetics browser test bar","monitor_id":16226865,"type":"browser","created_at":"2020-03-04T13:22:15.590414+00:00","modified_at":"2020-03-04T13:22:15.590414+00:00","config":{"request":{"url":"https://www.datadoghq.com","headers":{},"body":"this
      is a body","method":"GET","timeout":30}},"options":{"min_failure_duration":0,"device_ids":["laptop_large","mobile_small"],"tick_every":900,"min_location_failed":1}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - YKF8+1vTI0wiWlB3VWhiMVnZ1RLtV3h2yAW6/TGe9qIMWdYXxsNpy3J4QxfrJoDD
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/n87-2rg-qaz
    method: GET
  response:
    body: '{"status":"paused","public_id":"n87-2rg-qaz","tags":["foo:bar","baz"],"stepCount":0,"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","modified_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"name":"name
      for synthetics browser test bar","monitor_id":16226865,"type":"browser","created_at":"2020-03-04T13:22:15.590414+00:00","modified_at":"2020-03-04T13:22:15.590414+00:00","created_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"config":[...]
{"request":{"url":"https://docs.datadoghq.com","method":"PUT","timeout":60,"headers":{},"body":"this
      is an updated body"}},"message":"Notify @pagerduty","options":{"tick_every":1800,"min_failure_duration":10,"min_location_failed":1,"device_ids":["laptop_large","tablet"]},"locations":["aws:eu-central-1"],"status":"live"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/n87-2rg-qaz
    method: PUT
  response:
    body: '{"status":"live","public_id":"n87-2rg-qaz","tags":["foo:bar","buz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify
      @pagerduty","deleted_at":null,"name":"updated name for synthetics browser test
      bar","monitor_id":16226865,"type":"browser","created_at":"2020-03-04T13:22:15.590414+00:00","modified_at":"2020-03-04T13:22:16.613552+00:00","config":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/n87-2rg-qaz
    method: GET
  response:
    body: '{"status":"live","public_id":"n87-2rg-qaz","tags":["foo:bar","buz"],"stepCount":0,"locations":["aws:eu-central-1"],"message":"Notify
      @pagerduty","modified_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"name":"updated
      name for synthetics browser test bar","monitor_id":16226865,"type":"browser","created_at":"2020-03-04T13:22:15.590414+00:00","modified_at":"2020-03-04T13:22:16.613552+00:00","created_by":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416,"name":null},"overall_state_modified":"2020-03-04T13:22:17.277348+00:00","overall_state":2,"config":[...]
- request:
    body: '{"public_ids":["n87-2rg-qaz"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-03-04T13:22:17.435908+00:00","public_id":"n87-2rg-qaz"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bZxgHnChon9vZm5xdRa4NrQAYSVWc7iQc54D228L4geTT/U2FwMh0nkSo8j+6vpL
      X-Dd-Version:
      - "35.2240669"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/n87-2rg-qaz
    method: GET
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2240669"
    status: 404 Not Found
    code: 404
    duration: ""
