---
version: 1
interactions:
- request:
    body: |
<<<<<<< HEAD
      {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"doesNotContain","target":"terraform","type":"body"}],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","type":"text"}],"request":{"body":"this is a body","headers":{},"method":"GET","timeout":30,"url":"https://www.datadoghq.com"},"variables":[]},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1609770669","options":{"allow_insecure":true,"follow_redirects":true,"min_failure_duration":0,"min_location_failed":1,"retry":{"count":1},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
=======
      {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"doesNotContain","target":"terraform","type":"body"}],"request":{"body":"this is a body","headers":{},"method":"GET","timeout":30,"url":"https://www.datadoghq.com"},"variables":[]},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1609425877","options":{"allow_insecure":true,"follow_redirects":true,"min_failure_duration":0,"min_location_failed":1,"retry":{"count":1},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTest
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.13+dev (go go1.15.3; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "1436382974031356919"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "4100409752128942746"
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"x3g-mps-c3r","tags":["foo:bar","baz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","deleted_at":null,"name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1609770669","monitor_id":28176193,"type":"api","created_at":"2021-01-04T14:31:09.735537+00:00","modified_at":"2021-01-04T14:31:09.735537+00:00","subtype":"http","config":{"variables":[],"request":{"body":"this
      is a body","headers":{},"url":"https://www.datadoghq.com","timeout":30,"method":"GET"},"assertions":[{"operator":"contains","property":"content-type","type":"header","target":"application/json"},{"operator":"is","type":"statusCode","target":200},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"doesNotContain","type":"body","target":"terraform"}],"configVariables":[{"[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.13+dev (go go1.15.3; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "4464228016712905576"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "4100409752128942746"
    url: https://api.datadoghq.com/api/v1/synthetics/tests/x3g-mps-c3r
    method: GET
  response:
    body: '{"status":"paused","public_id":"x3g-mps-c3r[...]
[...]
- request:
    body: |
<<<<<<< HEAD
      {"config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"},"variables":[]},"locations":["aws:eu-central-1"],"message":"Notify @pagerduty","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1609770669-updated","options":{"min_failure_duration":10,"min_location_failed":1,"monitor_options":{"renotify_interval":100},"retry":{"count":3,"interval":500},"tick_every":900},"status":"live","subtype":"http","tags":["foo:bar","foo","env:test"],"type":"api"}
=======
      {"config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"},"variables":[]},"locations":["aws:eu-central-1"],"message":"Notify @pagerduty","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1609425877-updated","options":{"min_failure_duration":10,"min_location_failed":1,"monitor[...]
[...]
- request:
    body: |
<<<<<<< HEAD
      {"public_ids":["x3g-mps-c3r"]}
=======
      {"public_ids":["zs2-exu-43e"]}
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.13+dev (go go1.15.3; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "1224724887191509225"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "4100409752128942746"
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-01-04T14:31:12.283754+00:00","public_id":"x3g-mps-c3r"}]}'
=======
        datadog-api-client-go/1.0.0-beta.13+dev (go go1.15.4; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "2019032459630025110"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "1300294539381599841"
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-12-31T14:45:02.900784+00:00","public_id":"zs2-exu-43e"}]}'
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Mon, 04 Jan 2021 14:31:12 GMT
      Pragma:
      - no-cache
      Set-Cookie:
      - DD-PSHARD=233; Max-Age=604800; Path=/; expires=Mon, 11-Jan-2021 14:31:12 GMT;
=======
      - Thu, 31 Dec 2020 14:45:03 GMT
      Pragma:
      - no-cache
      Set-Cookie:
      - DD-PSHARD=233; Max-Age=604800; Path=/; expires=Thu, 07-Jan-2021 14:45:02 GMT;
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
        secure; HttpOnly
      Strict-Transport-Security:
      - max-age=15724800;
      Vary:
      - Accept-Encoding
      X-Content-Type-Options:
      - nosniff
      X-Dd-Debug:
<<<<<<< HEAD
      - KdWc5RppKH51u1oZ6tf2ghJTVEevh006eS91RDKZLGoax50FN2VjMvek2ayUmkXw
      X-Dd-Version:
      - "35.3633422"
=======
      - LuHK+OcIuxuCTL7xVM4sMdR/Gv1H1hu+bgYJvWIAWOVtmiGVhdUVKBuef1C5aMk6
      X-Dd-Version:
      - "35.3622023"
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
      X-Frame-Options:
      - SAMEORIGIN
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
<<<<<<< HEAD
      - "115"
      X-Ratelimit-Reset:
      - "48"
=======
      - "116"
      X-Ratelimit-Reset:
      - "58"
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
<<<<<<< HEAD
        datadog-api-client-go/1.0.0-beta.13+dev (go go1.15.3; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "3051901459434335545"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "4100409752128942746"
    url: https://api.datadoghq.com/api/v1/synthetics/tests/x3g-mps-c3r
=======
        datadog-api-client-go/1.0.0-beta.13+dev (go go1.15.4; os darwin; arch amd64)
      X-Datadog-Parent-Id:
      - "3237553907120249398"
      X-Datadog-Sampling-Priority:
      - "1"
      X-Datadog-Trace-Id:
      - "1300294539381599841"
    url: https://api.datadoghq.com/api/v1/synthetics/tests/zs2-exu-43e
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
    method: GET
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - Mon, 04 Jan 2021 14:31:12 GMT
=======
      - Thu, 31 Dec 2020 14:45:04 GMT
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
      Pragma:
      - no-cache
      Strict-Transport-Security:
      - max-age=15724800;
      Vary:
      - Accept-Encoding
      X-Content-Type-Options:
      - nosniff
      X-Dd-Version:
<<<<<<< HEAD
      - "35.3633422"
=======
      - "35.3622023"
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
      X-Frame-Options:
      - SAMEORIGIN
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
<<<<<<< HEAD
      - "962"
      X-Ratelimit-Reset:
      - "48"
=======
      - "976"
      X-Ratelimit-Reset:
      - "56"
>>>>>>> a4cb5ceee9ba46b55da1e1156bd9bf84d66f6b5d
    status: 404 Not Found
    code: 404
    duration: ""
