---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.datadoghq.com/api/v1/validate
    method: GET
  response:
    body: '{"valid":true}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - /Ib6MMQTHlX0/jTb6tlEMzSZs2crLqjkGjYkoQ/zb0RHtMaXT744DZRFpy23W0oi
      X-Dd-Version:
      - "35.2219923"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"end":1735765200,"message":"Example Datadog downtime message.","monitor_tags":["*"],"timezone":"UTC","recurrence":{"period":1,"type":"days","until_date":1736226000},"scope":["host:UntilDateRecurrence"],"start":1735707600}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":{"until_date":1736226000,"until_occurrences":null,"week_days":null,"type":"days","period":1},"end":1735765200,"monitor_tags":["*"],"canceled":null,"monitor_id":null,"org_id":382568,"disabled":false,"start":1735707600,"creator_id":1628996,"parent_id":null,"timezone":"UTC","active":false,"scope":["host:UntilDateRecurrence"],"message":"Example
      Datadog downtime message.","downtime_type":1,"id":749395405,"updater_id":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - AVsav2jjRGvwjNvJeRUS7kJsgTlhh9y9smyL3UJVQTMAUoPyejdL0bVSnanIQLK4
      X-Dd-Version:
      - "35.2219923"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/downtime/749395405
    method: GET
  response:
    body: '{"recurrence":{"until_date":1736226000,"until_occurrences":null,"week_days":null,"type":"days","period":1},"end":1735765200,"monitor_tags":["*"],"canceled":null,"monitor_id":null,"org_id":382568,"disabled":false,"start":1735707600,"creator_id":1628996,"parent_id":null,"timezone":"UTC","active":false,"scope":["host:UntilDateRecurrence"],"message":"Example
      Datadog downtime message.","downtime_type":1,"id":749395405,"updater_id":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - ns395qtajdi4vImLC5PhByq3vzX3KV9r4kOaLqZ3Kb42AGxxpM06vNzB/Pdubr1b
      X-Dd-Version:
      - "35.2219923"
    status: 200 OK
    code: 200
    duration: ""
[...]
