---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1609425728-screen","widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"v35-rbn-iwi","title":"tf-TestDatadogDashListImport-local-1609425728-screen","url":"/dashboard/v35-rbn-iwi/tf-testdatadogdashlistimport-local-1609425728-screen","created_at":"2020-12-31T14:50:15.058202+00:00","modified_at":"2020-12-31T14:50:15.058202+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":4495144693001040}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Y9+v2iJC/5twluKZH+Abk+sCd7+zW2qB+wWhdwPtTfzsXiAGXu1np/KJsw5b93OQ
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/v35-rbn-iwi
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"v35-rbn-iwi","title":"tf-TestDatadogDashListImport-local-1609425728-screen","url":"/dashboard/v35-rbn-iwi/tf-testdatadogdashlistimport-local-1609425728-screen","created_at":"2020-12-31T14:50:15.058202+00:00","modified_at":"2020-12-31T14:50:15.058202+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":4495144693001040}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - mjjix3i7KxHakJGjOSXbyjGLp+IPNWPrPaCVopgkuqm46lk1b+kLivuxRokDQC1N
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1609425728-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"si6-yhd-w6p","title":"tf-TestDatadogDashListImport-local-1609425728-time","url":"/dashboard/si6-yhd-w6p/tf-testdatadogdashlistimport-local-1609425728-time","created_at":"2020-12-31T14:50:18.627724+00:00","modified_at":"2020-12-31T14:50:18.627724+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":1791845836045250}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 4800hhM5D8qj6yrPc+dlMvhUa+SbSJAXG/yPCxJaOKK9a5IkPxDsNnyOdNMLl2nJ
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/si6-yhd-w6p
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"si6-yhd-w6p","title":"tf-TestDatadogDashListImport-local-1609425728-time","url":"/dashboard/si6-yhd-w6p/tf-testdatadogdashlistimport-local-1609425728-time","created_at":"2020-12-31T14:50:18.627724+00:00","modified_at":"2020-12-31T14:50:18.627724+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":1791845836045250}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - R1+MRQNzRD0HfjBgLVIjclr4gto/LBUvaJZAn2oF8rsW7iHushLxjdvt+30jZQLP
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-TestDatadogDashListImport-local-1609425728"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListImport-local-1609425728","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-12-31T14:50:23.378137+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-12-31T14:50:23.378167+00:00","id":157350}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - motUb+3MrSbL60qP2VQvKfticEMFw/ITb9aZ1t0IvCT8MphWULXKj1d6mnYOkJDn
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"v35-rbn-iwi","type":"custom_screenboard"},{"id":"si6-yhd-w6p","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/157350/dashboards
    method: PUT
  response:
    body: '{"dashboards":[{"type":"custom_screenboard","id":"v35-rbn-iwi"},{"type":"custom_timeboard","id":"si6-yhd-w6p"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - GzqFsJiHmsMG2ZkgPZxP4KU7BbP1543ieTDBlTOcSv7mMVZ5sYoywme9ykeCrzfU
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/157350
    method: GET
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListImport-local-1609425728","dashboard_count":2,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-12-31T14:50:23.378137+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-12-31T14:50:23.660317+00:00","id":157350}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - UYUatcf3IdBEK3ui4JFBsiRpfETkEcKU5oMVtUXXipuDCcAKJWzH92TLEnrmDoLr
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/157350/dashboards
    method: GET
  response:
    body: '{"total":2,"dashboards":[{"popularity":0,"title":"tf-TestDatadogDashListImport-local-1609425728-time","is_favorite":false,"id":"si6-yhd-w6p","icon":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/si6-yhd-w6p/tf-testdatadogdashlistimport-local-1609425728-time","created":"2020-12-31T14:50:18.627724+00:00","modified":"2020-12-31T14:50:18.627724+00:00","is_read_only":true,"type":"custom_timeboard"},{"popularity":0,"title":"tf-TestDatadogDashListImport-local-1609425728-screen","is_favorite":false,"id":"v35-rbn-iwi","icon":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/v35-rbn-iwi/tf-testdatadogdashlistimport-local-1609425728-screen","created":"2020-12-31T14:50:15.058202+00:00","modified":"2020-12-31T14:50:15.058202+00:00","is_read_only":false,"type":"custom_screenboard"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - YMUurOrBBSQDW8c48zSvcN5vlrEH+LpXx/tElldVcj/y8fT1cTjwsBugqb97UH4Q
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/157350
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":157350}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 4XEHrKCjPbSbs1iu1F78+tH4eaIPZCq+IGDoHN/GQcOsLq6w3Zzz7ZK1RqpTUzFS
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/si6-yhd-w6p
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"si6-yhd-w6p"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5Cj6NNcncFcQ6G9NKti+kar8gWVql7fBvPeJG7XhNnPs269m3W9o1I+JeGPUiuK3
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/157350
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 157350 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3622023"
    status: 404 Not Found
    code: 404
    duration: ""
