---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"archive_ids":[]},"type":"archive_order"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsArchiveOrder
    url: https://api.datadoghq.com/api/v2/logs/config/archive-order
    method: PUT
  response:
    body: '{"errors":["Missing order for archive vXHibqofT8uOyfpF56WdBA"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3622023"
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "91"
      X-Ratelimit-Reset:
      - "965"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsArchiveOrder
    url: https://api.datadoghq.com/api/v2/logs/config/archive-order
    method: GET
  response:
    body: '{"data":{"type":"archive_order","attributes":{"archive_ids":["vXHibqofT8uOyfpF56WdBA"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - EZL7bEfcgNGbknKpx0YgUay5sRnB08o7ifIkIU7pH4DOkkWS5DRjfEr3ib9KggTa
      X-Dd-Version:
      - "35.3622023"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4968"
      X-Ratelimit-Reset:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
[...]
