---
version: 1
interactions:
- request:
    body: |
      {"end":4097160000,"message":"tf-TestAccDatadogDowntimeDates-local-1609425728","monitor_tags":["*"],"recurrence":{"period":1,"type":"days"},"scope":["*"],"start":4097124660,"timezone":"UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":{"until_date":null,"until_occurrences":null,"week_days":null,"type":"days","period":1},"end":4097160000,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":4097124660,"creator_id":1445416,"parent_id":null,"timezone":"UTC","active":false,"scope":["*"],"message":"tf-TestAccDatadogDowntimeDates-local-1609425728","downtime_type":0,"id":1087028916,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 9yeVJjClEU/6raHJlYfllzCTOtXzS//Mfm4MIk+dxQ9wRvMbFDy5xrIlZe/VS4yX
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDowntime
    url: https://api.datadoghq.com/api/v1/downtime/1087028916
    method: GET
  response:
    body: '{"recurrence":{"until_date":null,"until_occurrences":null,"week_days":null,"type":"days","period":1},"end":4097160000,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":4097124660,"creator_id":1445416,"parent_id":null,"timezone":"UTC","active":false,"scope":["*"],"message":"tf-TestAccDatadogDowntimeDates-local-1609425728","downtime_type":0,"id":1087028916,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - uHOv5pdB1PveHLHifUeHewDqzfK3bQT4PA6+oh5BOE9GG8iP9eBr1zLtfDAkxY0n
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
[...]
