---
version: 1
interactions:
- request:
    body: '{"handle":"tf-testaccdatadoguser_updated-local-1596467977@example.com","name":"Test
      User"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user
    method: POST
  response:
    body: '{"user":{"disabled":false,"handle":"tf-testaccdatadoguser_updated-local-1596467977@example.com","name":"Test
      User","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"tf-testaccdatadoguser_updated-local-1596467977@example.com","icon":"https://secure.gravatar.com/avatar/1097d35d67274981f6a97fa6bb5853c8?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - LF4YQmWguMLUmq9O0R5mvikMzP6UOUE0kZyZahQHAERCXjiu7gBgY5N5RjX/ExWH
      X-Dd-Version:
      - "35.2824579"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"email":"tf-testaccdatadoguser_updated-local-1596467977@example.com","name":"Test
      User","access_role":"st","disabled":false,"is_admin":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/user/tf-testaccdatadoguser_updated-local-1596467977@example.com
    method: PUT
  response:
    body: '{"user":{"disabled":false,"handle":"tf-testaccdatadoguser_updated-local-1596467977@example.com","name":"Test
      User","title":null,"is_admin":false,"role":null,"access_role":"st","verified":false,"email":"tf-testaccdatadoguser_updated-local-1596467977@example.com","icon":"https://secure.gravatar.com/avatar/1097d35d67274981f6a97fa6bb5853c8?s=48&d=retro"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - KWFYkqq/bCYPvFkmXv6yRC22pYi3ixhtj5Lwkuex88jCzYJThjuX8yZSJbFftuIx
      X-Dd-Version:
      - "35.2824579"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/tf-testaccdatadoguser_updated-local-1596467977@example.com
    method: GET
  response:
    body: '{"user":{"handle":"tf-testaccdatadoguser_updated-local-1596467977@example.com","access_role":"st","disabled":false,"is_admin":false,"icon":"https://secure.gravatar.com/avatar/1097d35d67274981f6a97fa6bb5853c8?s=48&d=retro","verified":false,"name":"Test
      User","roles":[{"uuid":"94172443-be03-11e9-a77a-373332f69711","created_at":"2019-08-13T19:50:19.075284","name":"Datadog
      Standard Role","last_modified":"2019-08-13T19:50:19.075284","id":904116,"permissions":[{"display_name":"Security
      Signals","description":"The ability to view Security signals.","restricted":false,"created_at":"2020-06-09T13:52:48.410398","name":"security_monitoring_signals_read","uuid":"80de1ec0-aa58-11ea-95e2-aff381626d5d"},{"display_name":"Detection
      Rules","description":"The ability to create and edit Detection rules.","restricted":false,"created_at":"2020-06-09T13:52:39.099413","name":"security_monitoring_rules_write","uuid":"7b516476-aa58-11ea-95e2-93718cd56369"},{"display_name":"Detection
      Rules","description":"The ability to read Detection rules.","restricted":fals[...]
[...]
