---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_updated-local-1605516205@example.com","name":"Test User","title":""},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"cb063bc4-27e7-11eb-82fd-fb930741e160","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1605516205@example.com","created_at":"2020-11-16T08:43:26.202176+00:00","email":"tf-testaccdatadoguser_updated-local-1605516205@example.com","icon":"https://secure.gravatar.com/avatar/cf8d2a79f7ee81f9e1dafabca34887bb?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 4800hhM5D8qj6yrPc+dlMvhUa+SbSJAXG/yPCxJaOKK9a5IkPxDsNnyOdNMLl2nJ
      X-Dd-Version:
      - "35.3371076"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/cb063bc4-27e7-11eb-82fd-fb930741e160
    method: GET
  response:
    body: '{"data":{"type":"users","id":"cb063bc4-27e7-11eb-82fd-fb930741e160","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1605516205@example.com","created_at":"2020-11-16T08:43:26.202176+00:00","email":"tf-testaccdatadoguser_updated-local-1605516205@example.com","icon":"https://secure.gravatar.com/avatar/cf8d2a79f7ee81f9e1dafabca34887bb?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - PdDr7CGzRKV1JiazIN9M5t58W3VmC092V0tka6KkG4tNQ2dswwjUu1lc7Z0OYqEX
      X-Dd-Version:
      - "35.3371076"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/cb063bc4-27e7-11eb-82fd-fb930741e160
    method: DELETE
  response:
    body: '{"errors": ["cb063bc4-27e7-11eb-82fd-fb930741e160 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3371076"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
