---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1596529961-screen","widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":"Slavek Kabrda","template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"5sk-bhn-ibi","title":"tf-TestDatadogDashListImport-local-1596529961-screen","url":"/dashboard/5sk-bhn-ibi/tf-testdatadogdashlistimport-local-1596529961-screen","created_at":"2020-08-04T08:32:45.425920+00:00","modified_at":"2020-08-04T08:32:45.425920+00:00","author_handle":"slavek.kabrda@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":4378913335006395}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - I8QPQE4pGF/QkEXlHsoWJ/ESMY+/K3j5GLJA9voJ9OC5qW90wAfoLpBgh2Rmr3av
      X-Dd-Version:
      - "35.2828800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/5sk-bhn-ibi
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":"Slavek Kabrda","template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"5sk-bhn-ibi","title":"tf-TestDatadogDashListImport-local-1596529961-screen","url":"/dashboard/5sk-bhn-ibi/tf-testdatadogdashlistimport-local-1596529961-screen","created_at":"2020-08-04T08:32:45.425920+00:00","modified_at":"2020-08-04T08:32:45.425920+00:00","author_handle":"slavek.kabrda@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":4378913335006395}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bfiNuFMc/KQX9egCswVMwk69XQDSSxyrFobJmZY4lbvlLyixzvXSfeOCp/GBQVkT
      X-Dd-Version:
      - "35.2828800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1596529961-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":"Slavek Kabrda","template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"zkb-vjt-93n","title":"tf-TestDatadogDashListImport-local-1596529961-time","url":"/dashboard/zkb-vjt-93n/tf-testdatadogdashlistimport-local-1596529961-time","created_at":"2020-08-04T08:32:46.857372+00:00","modified_at":"2020-08-04T08:32:46.857372+00:00","author_handle":"slavek.kabrda@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":6172573249120083}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - OvROF9pCiCF8JnC+0Y3nwl6ylcafQIJwV4XwhicKtApCmwQyCxf8k5FzckOzJdWw
      X-Dd-Version:
      - "35.2828800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/zkb-vjt-93n
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":"Slavek Kabrda","template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"zkb-vjt-93n","title":"tf-TestDatadogDashListImport-local-1596529961-time","url":"/dashboard/zkb-vjt-93n/tf-testdatadogdashlistimport-local-1596529961-time","created_at":"2020-08-04T08:32:46.857372+00:00","modified_at":"2020-08-04T08:32:46.857372+00:00","author_handle":"slavek.kabrda@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":6172573249120083}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - HjTiOLkf7BSSh5CnlIvxi+NF7PvA5AFcXaUyHcNLP+PB2QwnnvpNcny3K9NcNXpO
      X-Dd-Version:
      - "35.2828800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-TestDatadogDashListImport-local-1596529961"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListImport-local-1596529961","dashboard_count":0,"author":{"handle":"slavek.kabrda@datadoghq.com","name":"Slavek
      Kabrda"},"created":"2020-08-04T08:32:47.671028+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-08-04T08:32:47.671049+00:00","id":118561}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - FGZc3Mf8OA2JwJGJg6vVUKpUj9a6QK4iUt4etWonM72SPoDhQHTvR4PktQX+3TEl
      X-Dd-Version:
      - "35.2828800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"5sk-bhn-ibi","type":"custom_screenboard"},{"id":"zkb-vjt-93n","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/118561/dashboards
    method: PUT
  response:
    body: '{"dashboards":[{"type":"custom_screenboard","id":"5sk-bhn-ibi"},{"type":"custom_timeboard","id":"zkb-vjt-93n"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - XPkBc1E5evrlSUbwtvj6UWJuOYiXQoJFx9tTHKYm7eKRMflW8WOY1iBr4Q0SGyNf
      X-Dd-Version:
      - "35.2828800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/118561
    method: GET
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListImport-local-1596529961","dashboard_count":2,"author":{"handle":"slavek.kabrda@datadoghq.com","name":"Slavek
      Kabrda"},"created":"2020-08-04T08:32:47.671028+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-08-04T08:32:48.169123+00:00","id":118561}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - E8x8m42GtYkod5MhnMhpUbRMnMjpWAQELDb4ZWQJCRhOTaifcb0bgfyhd6Umeaj1
      X-Dd-Version:
      - "35.2828800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/118561/dashboards
    method: GET
  response:
    body: '{"total":2,"dashboards":[{"popularity":0,"title":"tf-TestDatadogDashListImport-local-1596529961-time","is_favorite":false,"id":"zkb-vjt-93n","icon":null,"is_shared":false,"author":{"handle":"slavek.kabrda@datadoghq.com","name":"Slavek
      Kabrda"},"url":"/dashboard/zkb-vjt-93n/tf-testdatadogdashlistimport-local-1596529961-time","created":"2020-08-04T08:32:46.857372+00:00","modified":"2020-08-04T08:32:46.857372+00:00","is_read_only":true,"type":"custom_timeboard"},{"popularity":0,"title":"tf-TestDatadogDashListImport-local-1596529961-screen","is_favorite":false,"id":"5sk-bhn-ibi","icon":null,"is_shared":false,"author":{"handle":"slavek.kabrda@datadoghq.com","name":"Slavek
      Kabrda"},"url":"/dashboard/5sk-bhn-ibi/tf-testdatadogdashlistimport-local-1596529961-screen","created":"2020-08-04T08:32:45.425920+00:00","modified":"2020-08-04T08:32:45.425920+00:00","is_read_only":false,"type":"custom_screenboard"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - qscu/HQVQfao+z4hqlhMvZr91qnlMOCHwzEo9buPAC1YX8X+uqhztYjQQUCa5qZw
      X-Dd-Version:
      - "35.2828800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/118561
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":118561}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 5SAG8lv0MhY4kZJnd5qEW3TFs7P9UpN3X2ioDrINr25HfRaRWrwlUDc5/3lM+wZb
      X-Dd-Version:
      - "35.2828800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/zkb-vjt-93n
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"zkb-vjt-93n"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - WBrxrTsMxB8iVDKB+1Equz3L2mcKjoc7UD3AhleLr4u0zRDMehyYfsRMRM1ohaar
      X-Dd-Version:
      - "35.2828800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/118561
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 118561 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2828800"
    status: 404 Not Found
    code: 404
    duration: ""
