---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoles
    url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Admin+Role
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":96}},"data":[{"type":"roles","id":"94172442-be03-11e9-a77a-3b7612558ac1","attributes":{"name":"Datadog
      Admin Role","created_at":"2019-08-13T19:50:19.022791+00:00","modified_at":"2019-08-13T19:50:19.022791+00:00","user_count":8},"relationships":{"permissions":{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029"},{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"62cc036c-dd12-11e8-9e54-db9995643092"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"811ac4ca-dd12-11e8-9e57-676a7f0beef9"},{"type":"permissions","id":"87b00304-dd12-11e8-9e59-cbeb5f71f72f"},{"type":"permissions","id":"1a92ede2-6cb2-11e9-99c6-2b3a4a0cdf0a"},{"type":"permissions",[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoles
    url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Read+Only+Role
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":96}},"data":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog
      Read Only Role","created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00","user_count":2},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"1af86ce4-7823-11ea-93dc-d7cad1b1c6cb"},{"type":"permissions","id":"b382b982-8535-11ea-93de-2bf1bdf20798"},{"type":"permissions","id":"7314eb20-aa58-11ea-95e2-6fb6e4a451d5"},{"type":"permissions","id":"80de1ec0-aa58-11ea-95e2-aff381626d5d"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - atVIhZUeGZ/oddBgD+uTNMit/o4lgr7Hd6v/BdM+YQmOiFWaMaIQpsRUBsDDJKBd
      X-Dd-Version:
      - "35.3431572"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "39"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoles
    url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Standard+Role
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":96}},"data":[{"type":"roles","id":"94172443-be03-11e9-a77a-373332f69711","attributes":{"name":"Datadog
      Standard Role","created_at":"2019-08-13T19:50:19.075284+00:00","modified_at":"2019-08-13T19:50:19.075284+00:00","user_count":5},[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_updaterole-local-1606320380@example.com","name":"Test User","title":""},"relationships":{"roles":{"data":[{"id":"94172443-be03-11e9-a77a-373332f69711","type":"roles"},{"id":"94172444-be03-11e9-a77a-db1879185210","type":"roles"}]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"included":[{"type":"permissions","id":"d90f6832-d3d8-11e9-a77a-bf8a2607f864","attributes":{"name":"dashboards_public_share","display_name":"Dashboards
      Share","description":"The ability to share dashboards externally.","created":"2019-09-10T14:39:51.967094+00:00","group_name":"Dashboards","display_type":"other","restricted":false}},{"type":"permissions","id":"d90f6831-d3d8-11e9-a77a-4fd230ddbc6a","attributes":{"name":"dashboards_write","display_name":"Dashboards","description":"The
      ability to create and change dashboards.","created":"2019-09-10T14:39:51.962944+00:00","group_name":"Dashboards","display_type":"write","restricted":false}},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73","attributes":{"name":"logs_live_tail","display_name":"Logs
      Live Tail Access","description":"The ability [...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/28fb99e8-2f38-11eb-858c-4fe376838c38
    method: GET
  response:
    body: '{"included":[{"type":"permissions","id":"7d7c98ac-dd12-11e8-9e56-93700598622d","attributes":{"name":"logs_write_exclusion_filters","display_name":"Logs
      Write Exclusion Filters","description":"The ability to add and change exclusion
      filters for all or some log indexes. Can be[...]
[...]
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"email":"tf-testaccdatadoguser_updaterole-local-1606320380@example.com","name":"Test User"},"id":"28fb99e8-2f38-11eb-858c-4fe376838c38","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.com/api/v2/users/28fb99e8-2f38-11eb-858c-4fe376838c38
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2V6J6bfi8Lp+2UjnPdTvcW5IjbRGxJrhStYZW/ACt/za6xfDiK/Y5IuDyUadsRtA
      X-Dd-Version:
      - "35.3431572"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: |
      {"data":{"id":"28fb99e8-2f38-11eb-858c-4fe376838c38","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemoveUserFromRole
    url: https://api.datadoghq.com/api/v2/roles/94172444-be03-11e9-a77a-db1879185210/users
    method: DELETE
  response:
    body: '{"meta":{"page":{"total_count":8918}},"data":[{"type":"users","id":"20b7c816-8e29-11ea-93e1-23588a2aa2c0","attributes":{"name":"Dhruv
      Sahni","handle":"dhruv.sahni@datadoghq.com","created_at":"2020-05-04T17:03:08.192667+00:00","email":"dhruv.sahni@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9de7191a807a492a126b0943aa239292?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},{"type":"users","id":"415e0e12-9460-11ea-93e2-9324fa777ee7","attributes":{"name":"go-TestCreateUser-15629-1589295171","handle":"go-testcreateuser-15629-1589295171@integration-tests-accnt-for-sdk-ci.com","created_at":"2020-05-12T14:52:52.265973+00:00","email":"go-testcreateuser-15629-1589295171@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/87b90503c422f512d192fa6040d3f9a2?s=48&d=retro","tit[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/user/94172442-be03-11e9-a77a-3b7612558ac1
    method: GET
  response:
    body: '{"errors": ["user not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3431572"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
