---
version: 1
interactions:
- request:
    body: '{"title":"TF Test Free Layout Dashboard","widgets":[{"definition":{"type":"event_stream","query":"*","event_size":"l","title":"Widget
      Title","title_size":"16","title_align":"left","time":{"live_span":"1h"}},"layout":{"x":5,"y":5,"height":43,"width":32}}],"layout_type":"free","id":"","description":"Created
      using the Datadog provider in Terraform"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":"Ben Drucker","template_variables":null,"is_read_only":false,"id":"pvq-hwj-v8p","title":"TF
      Test Free Layout Dashboard","url":"/dashboard/pvq-hwj-v8p/tf-test-free-layout-dashboard","created_at":"2020-05-08T18:40:46.873518+00:00","modified_at":"2020-05-08T18:40:46.873524+00:00","author_handle":"bvdrucker+trial@gmail.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"x":5,"width":32,"height":43},"id":27163837426766}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - YKF8+1vTI0wiWlB3VWhiMVnZ1RLtV3h2yAW6/TGe9qIMWdYXxsNpy3J4QxfrJoDD
      X-Dd-Version:
      - "35.2481896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/pvq-hwj-v8p
    method: GET
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":"Ben Drucker","template_variables":null,"is_read_only":false,"id":"pvq-hwj-v8p","title":"TF
      Test Free Layout Dashboard","url":"/dashboard/pvq-hwj-v8p/tf-test-free-layout-dashboard","created_at":"2020-05-08T18:40:46.888157+00:00","modified_at":"2020-05-08T18:40:46.888157+00:00","author_handle":"bvdrucker+trial@gmail.com","widgets":[{"definition":{"title_size":"16","title":"Widget
      Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"x":5,"width":32,"height":43},"id":27163837426766}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - AVsav2jjRGvwjNvJeRUS7kJsgTlhh9y9smyL3UJVQTMAUoPyejdL0bVSnanIQLK4
      X-Dd-Version:
      - "35.2481896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"title":"TF Test Layout Dashboard","widgets":[{"definition":{"type":"alert_graph","alert_id":"1234","viz_type":"timeseries","title":"Widget
      Title","time":{"live_span":"1h"}}}],"layout_type":"ordered","id":"","description":"Created
      using the Datadog provider in Terraform","is_read_only":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":"Ben Drucker","template_variables":null,"is_read_only":true,"id":"rp4-8ga-6r7","title":"TF
      Test Layout Dashboard","url":"/dashboard/rp4-8ga-6r7/tf-test-layout-dashboard","created_at":"2020-05-08T18:40:47.917567+00:00","modified_at":"2020-05-08T18:40:47.917567+00:00","author_handle":"bvdrucker+trial@gmail.com","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"type":"alert_graph","viz_type":"timeseries","title":"Widget
      Title"},"id":5332818374763908}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - yEcEaKqmSUfeSlQ/kN/c5E6EpIXbM1JPI9KV27pdsvBWWv3FI4tsqqRarYTS+fS+
      X-Dd-Version:
      - "35.2481896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/rp4-8ga-6r7
    method: GET
  response:
    body: '{"notify_list":null,"description":"Created using the Datadog provider in
      Terraform","author_name":"Ben Drucker","template_variables":null,"is_read_only":true,"id":"rp4-8ga-6r7","title":"TF
      Test Layout Dashboard","url":"/dashboard/rp4-8ga-6r7/tf-test-layout-dashboard","created_at":"2020-05-08T18:40:47.917567+00:00","modified_at":"2020-05-08T18:40:47.917567+00:00","author_handle":"bvdrucker+trial@gmail.com","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"type":"alert_graph","viz_type":"timeseries","title":"Widget
      Title"},"id":5332818374763908}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - aiFdvD+ESSGWQuLeXGShIAaySBrTSq6aZf+crfPnDVFrMRUU9f0HobLUCBopvakz
      X-Dd-Version:
      - "35.2481896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"Terraform newest Created List"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"Terraform newest Created List","dashboard_count":0,"author":{"handle":"bvdrucker+trial@gmail.com","name":"Ben
      Drucker"},"created":"2020-05-08T18:40:48.432149+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-05-08T18:40:48.432163+00:00","id":96589}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - +24qoGfe5Pp4qbS1m8KO9qioq2P4fxuj80XQhtr/9vInDLECmYZT0VSsbqISZgqC
      X-Dd-Version:
      - "35.2481896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"pvq-hwj-v8p","type":"custom_screenboard"},{"id":"rp4-8ga-6r7","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/96589/dashboards
    method: PUT
  response:
    body: '{"dashboards":[{"type":"custom_screenboard","id":"pvq-hwj-v8p"},{"type":"custom_timeboard","id":"rp4-8ga-6r7"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - skwclWwYkKW38qisoeAm0+G71HHbXaQZSRP+zaGh2pZ7dRVTlLXlAp6DZVg5jg4x
      X-Dd-Version:
      - "35.2481896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/96589
    method: GET
  response:
    body: '{"is_favorite":false,"name":"Terraform newest Created List","dashboard_count":2,"author":{"handle":"bvdrucker+trial@gmail.com","name":"Ben
      Drucker"},"created":"2020-05-08T18:40:48.432149+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-05-08T18:40:48.615342+00:00","id":96589}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - vLqqOLcWkbQm3aIBHfcEmIwzrJtjtqNdArlWt57BFwl8nfWymjIeK67csuZ1woEb
      X-Dd-Version:
      - "35.2481896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/96589/dashboards
    method: GET
  response:
    body: '{"total":2,"dashboards":[{"popularity":0,"title":"TF Test Layout Dashboard","is_favorite":false,"id":"rp4-8ga-6r7","icon":null,"is_shared":false,"author":{"handle":"bvdrucker+trial@gmail.com","name":"Ben
      Drucker"},"url":"/dashboard/rp4-8ga-6r7/tf-test-layout-dashboard","created":"2020-05-08T18:40:47.917567+00:00","modified":"2020-05-08T18:40:47.917567+00:00","is_read_only":true,"type":"custom_timeboard"},{"popularity":0,"title":"TF
      Test Free Layout Dashboard","is_favorite":false,"id":"pvq-hwj-v8p","icon":null,"is_shared":false,"author":{"handle":"bvdrucker+trial@gmail.com","name":"Ben
      Drucker"},"url":"/dashboard/pvq-hwj-v8p/tf-test-free-layout-dashboard","created":"2020-05-08T18:40:46.873518+00:00","modified":"2020-05-08T18:40:46.873524+00:00","is_read_only":false,"type":"custom_screenboard"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - skwclWwYkKW38qisoeAm0+G71HHbXaQZSRP+zaGh2pZ7dRVTlLXlAp6DZVg5jg4x
      X-Dd-Version:
      - "35.2481896"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/96589
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":96589}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - J7vOWsxZd7Grxzg2TIaQpn2nGjrOScgI4Kwzur8V2oOTYInX6xbVT4leinNkGLPk
      X-Dd-Version:
      - "35.2481896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/rp4-8ga-6r7
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"rp4-8ga-6r7"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - lyzq/AwBoYy31tqkvQ8mzBugAZOys447o2yCYdRfm1oPuJTtZy0Uz+ukzrgaZfIT
      X-Dd-Version:
      - "35.2481896"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/96589
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 96589 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2481896"
    status: 404 Not Found
    code: 404
    duration: ""
