---
version: 1
interactions:
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"tf_TestAccDatadogMonitorDatasource_local_1609425705","options":{"escalation_message":"the situation has escalated @pagerduty","evaluation_delay":700,"include_tags":true,"new_host_delay":600,"no_data_timeframe":10,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"critical_recovery":1.5,"warning":1,"warning_recovery":0.5},"timeout_h":60},"priority":0,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo,test_datasource_monitor_scope:tf_TestAccDatadogMonitorDatasource_local_1609425705} by {host} \u003e 2","tags":["baz","test_datasource_monitor:tf_TestAccDatadogMonitorDatasource_local_1609425705"],"type":"query alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ValidateMonitor
    url: https://api.datadoghq.com/api/v1/monitor/validate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dkPC7h1IhtieQ7hDwGKZ3LdM53Z2+XQ6pWT/sK6/v5L2qKrddV2g+eVtGbkN4F8/
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"tf_TestAccDatadogMonitorDatasource_local_1609425705","options":{"escalation_message":"the situation has escalated @pagerduty","evaluation_delay":700,"include_tags":true,"new_host_delay":600,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"critical_recovery":1.5,"warning":1,"warning_recovery":0.5},"timeout_h":60},"priority":0,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo,test_datasource_monitor_scope:tf_TestAccDatadogMonitorDatasource_local_1609425705} by {host} \u003e 2","tags":["baz","test_datasource_monitor:tf_TestAccDatadogMonitorDatasource_local_1609425705"],"type":"query alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateMonitor
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":["baz","test_datasource_monitor:tf_TestAccDatadogMonitorDatasource_local_1609425705"],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo,test_datasource_monitor_scope:tf_TestAccDatadogMonitorDatasource_local_1609425705}
      by {host} > 2","message":"some message Notify: @hipchat-channel","id":28076644,"multi":true,"name":"tf_TestAccDatadogMonitorDatasource_local_1609425705","created":"2020-12-31T14:53:42.814514+00:00","created_at":1609426422000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2020-12-31T14:53:42.814514+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"query alert","options":{"notify_audit":false,"locked":false,"timeout_h":60,"silenced":{},"include_tags":true,"thresholds":{"critical":2.0,"warning":1.0,"warning_recovery":0.5,"critical_recovery":1.5},"new_host_delay":600,"require_full_window":true,"notify_no_data":false,"renotify_interval":60,"evaluation_delay":700,"escalation_message":"the
      situation has escalated @pagerduty"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - VbuXVkM6abYwIF9A0EUx/hxlOb2fUYUuj3PZZOBGVUtLSPf9Jpa+BbRUppU4yJ6y
      X-Dd-Version:
      - "35.3622023"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetMonitor
    url: https://api.datadoghq.com/api/v1/monitor/28076644
    method: GET
  response:
    body: '{"restricted_roles":null,"tags":["baz","test_datasource_monitor:tf_TestAccDatadogMonitorDatasource_local_1609425705"],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo,test_datasource_monitor_scope:tf_TestAccDatadogMonitorDatasource_local_1609425705}
      by {host} > 2","message":[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListMonitors
    url: https://api.datadoghq.com/api/v1/monitor?name=tf_TestAccDatadogMonitorDatasource_local_1609425705
    method: GET
  response:
    body: '[{"restricted_roles":null,"tags":["baz","test_datasource_monitor:tf_TestAccDatadogMonitorDatasource_local_1609425705"],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo,test_datasource_monitor_scope:tf_TestAccDatadogMonitorDatasource_local_1609425705}
      by {host} > 2","message":"some message Notify: @hipchat-channel","matching_downtimes":[{"end":null,"monitor_id":null,"start":1607068885,"groups":[],"active":true,"scope":["*"],"id":1056613203},{"end":null,"monitor_id":null,"start":1607601796,"groups":[],"active":true,"scope":["*"],"id":1064022423},{"end":null,"monitor_id":null,"start":1607612764,"groups":[],"active":true,"scope":["*"],"id":1064206958},{"end":null,"monitor_id":null,"start":1607612764,"groups":[],"active":true,"scope":["*"],"id":1064206959},{"end":null,"monitor_id":null,"start":1607612764,"groups":[],"active":true,"scope":["*"],"id":1064206960}],"id":28076644,"multi":true,"name":"tf_TestAccDatadogMonitorDatasource_local_1609425705","created":"2020-12-31T14:53:42.814514+00:00","created_at":1609426422000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2020-12-31T14:53:42.814514+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"query alert","options":{"notify_audit":false,"locked":false,"timeout_h":60,"silenced":{},"include_tags":true,"thresholds":{"critical":2.0,"warning":1.0,"warning_recovery":0.5,"critical_recovery":1.5},"new_host_delay":600,"require_full_window":true,"notify_no_data":false,"renotify_interval":60,"evaluation_delay":700,"escalation_message":"the
      situation has escalated @pagerduty"}}]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e3b45ad677480a0e1dc719f416bdbb49"
      X-Dd-Debug:
      - qKfjlUOd47rTL8Zfe+ult0NC1XrJJZn5FzZo3l0g8EiEJqsLoAxULWUGtB1CS4r/
      X-Dd-Version:
      - "35.3622023"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "999"
      X-Ratelimit-Reset:
      - "7"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListMonitors
    url: https://api.datadoghq.com/api/v1/monitor?tags=test_datasource_monitor_scope%3Atf_TestAccDatadogMonitorDatasource_local_1609425705
    method: GET
  response:
    body: '[{"restricted_roles":null,"tags":["baz","test_datasource_monitor:tf_TestAccDatadogMonitorDatasource_local_1609425705"],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo,test_datasource_monitor_scope:t[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListMonitors
    url: https://api.datadoghq.com/api/v1/monitor?monitor_tags=test_datasource_monitor%3Atf_TestAccDatadogMonitorDatasource_local_1609425705
    method: GET
  response:
    body: '[{"restricted_roles":null,"tags":["baz","test_datasource_monitor:tf_TestAccDatadogMonitorDatasource_local_1609425705"],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo,test_datasource_monitor_scope[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteMonitor
    url: https://api.datadoghq.com/api/v1/monitor/28076644
    method: DELETE
  response:
    body: '{"deleted_monitor_id":28076644}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HPVlkUpFXGYcqD93XIv+Hev5A7X2V4P4zD5qLStQWMHCrtOXDwFh+ruPewqnpfPS
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/28076644
    method: GET
  response:
    body: '{"errors":["Monitor not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3622023"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2986"
      X-Ratelimit-Reset:
      - "2"
    status: 404 Not Found
    code: 404
    duration: ""
