---
version: 1
interactions:
- request:
    body: '{"name":"foo"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/application_key
    method: POST
  response:
    body: '{"application_key":{"owner":"frog@datadoghq.com","org_id":403816,"hash":"11b8d6f152e47d7b952d3119ed5d07f8458d559b","name":"foo","revoked":false}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2396352"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/application_key/11b8d6f152e47d7b952d3119ed5d07f8458d559b
    method: GET
  response:
    body: '{"application_key":{"owner":"frog@datadoghq.com","org_id":403816,"hash":"11b8d6f152e47d7b952d3119ed5d07f8458d559b","name":"foo","revoked":false}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2396352"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/application_key/11b8d6f152e47d7b952d3119ed5d07f8458d559b
    method: GET
  response:
    body: '{"errors": ["Application key not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.2396352"
    status: 404 Not Found
    code: 404
    duration: ""
