---
version: 1
interactions:
- request:
    body: |
      {"account_id":"549810048535","role_name":"testacc-datadog-integration-role"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"ad36eb193439404aa3fab968dfc01f1a"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - "35.3792345"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAWSAccounts
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: GET
  response:
    body: '{"accounts":[{"role_name":"testacc-datadog-integration-role","excluded_regions":[],"account_id":"529710110055","host_tags":[],"account_specific_namespace_rules":{},"errors":[],"filter_tags":[]},{"role_name":"testacc-datadog-integration-role","excluded_regions":[],"account_id":"100491015010","host_tags":[],"account_specific_namespace_rules":{},"errors":[],"filter_tags":[]},{"role_name":"testacc-datadog-integration-role","excluded_regions":[],"account_id":"1234567890","host_tags":[],"account_specific_namespace_rules":{},"errors":[],"filter_tags":[]},{"role_name":"testacc-datadog-integration-role","excluded_regions":[],"account_id":"102101511025","host_tags":[],"account_specific_namespace_rules":{},"errors":[],"filter_tags":[]},{"role_name":"testacc-datadog-integration-role","excluded_regions":[],"account_id":"555456984952","host_tags":[],"account_specific_namespace_rules":{},"errors":[],"filter_tags":[]},{"role_name":"testacc-datadog-integration-role","excluded_regions":[],"account_id":"549810048535","host_tags":[],"account_specific_namespace_rules":{},"errors":[],"filter_tags":[]}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - "35.3792345"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"549810048535","lambda_arn":"arn:aws:lambda:us-east-1:549810048535:function:datadog-forwarder-Forwarder"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSLambdaARN
    url: https://api.datadoghq.com/api/v1/integration/aws/logs
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      X-Dd-Version:
      - "35.3792345"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAWSLogsIntegrations
    url: https://api.datadoghq.com/api/v1/integration/aws/logs
    method: GET
  response:
    body: '[{"services":["s3","elb","elbv2","cloudfront","redshift","lambda","s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"java_AN+P/OP","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda","s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"java_z+E6oo4","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"go-TestAddAndSaveAWSLogs-42504-1611576209","lambdas":[{"arn":"arn:aws:lambda:us-east-1:123456789101:function:GoClientTest"}]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"go-TestListAndDeleteAWSLogs-42504-1611576217","lambdas":[]},{"services":[],"account_id":"975457539710","lambdas":[]},{"services":["s3","elb","elbv2","cloudfront","redshift","lambda"],"account_id":"go-TestAddAndSaveAWSLogs-42513-1611580183","lambdas":[{"arn":"arn:aws:lambda:us-east-1:123456789101:function:GoClientTest"}]},{"services":["s3","elb","elbv2",[...]
- request:
    body: |
      {"account_id":"549810048535","services":["lambda"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - EnableAWSLogServices
    url: https://api.datadoghq.com/api/v1/integration/aws/logs/services
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.3792345"
    status: 200 OK
    code: 200
    duration: ""
[...]
