---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1605516205@example.com","name":"Test User","title":""},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"cb0ff74a-27e7-11eb-82fd-4fd342e090ec","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1605516205@example.com","created_at":"2020-11-16T08:43:26.266019+00:00","email":"tf-testaccdatadoguser_existing-local-1605516205@example.com","icon":"https://secure.gravatar.com/avatar/8b697bf39c6ab0c748c5377b972a474e?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - H6YNJZe2hxg7AD4MytxnK6WTGV3v238t6qy6wX4rqFlv+Cb0Gp+GU8J41gMZvmVb
      X-Dd-Version:
      - "35.3371076"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/cb0ff74a-27e7-11eb-82fd-4fd342e090ec
    method: GET
  response:
    body: '{"data":{"type":"users","id":"cb0ff74a-27e7-11eb-82fd-4fd342e090ec","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1605516205@example.com","created_at":"2020-11-16T08:43:26.266019+00:00","email":"tf-testaccdatadoguser_existing-local-1605516205@example.com","icon":"https://secure.gravatar.com/avatar/8b697bf39c6ab0c748c5377b972a474e?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - oY1U+Bw1sQyS4cySYbM3yP2PHmEdjLzb50z+L43vQMCCtEGfcc06BRHI9VdccfS3
      X-Dd-Version:
      - "35.3371076"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1605516205@example.com","name":"Other User","title":""},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"errors": ["User tf-testaccdatadoguser_existing-local-1605516205@example.com
      already exists"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3371076"
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguser_existing-local-1605516205%40example.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":63297}},"data":[{"type":"users","id":"cb0ff74a-27e7-11eb-82fd-4fd342e090ec","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1605516205@example.com","created_at":"2020-11-16T08:43:26.266019+00:00","email":"tf-testaccdatadoguser_existing-local-1605516205@example.com","icon":"https://secure.gravatar.com/avatar/8b697bf39c6ab0c748c5377b972a474e?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 35J49GdWRZ44BXWQv5M8k5DMOKDsnUL/+b8VnKl01OT828ngNdfZvXJ9jRXKLHFA
      X-Dd-Version:
      - "35.3371076"
    status: 200 OK
    code: 200
    duration: ""
[...]
