---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.datadoghq.com/api/v1/validate
    method: GET
  response:
    body: '{"valid":true}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - xNK8D8E4U1PyLMVOdDgzcc4izX6UzMbP9Ygv1jJl/dgpKsJQ0NHsqPPadJ+IsqEV
      X-Dd-Version:
      - "35.2219923"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"name for synthetics test foo","type":"api","subtype":"http","tags":["foo:bar","baz"],"config":{"request":{"url":"https://www.datadoghq.com","method":"GET","timeout":30,"headers":{},"body":"this
      is a body"},"assertions":[{"operator":"contains","property":"content-type","type":"header","target":"application/json"},{"operator":"is","type":"statusCode","target":200},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"doesNotContain","type":"body","target":"terraform"}]},"message":"Notify
      @datadog.user","options":{"tick_every":60,"follow_redirects":true,"min_failure_duration":0,"min_location_failed":1},"locations":["aws:eu-central-1"],"status":"paused"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests
    method: POST
  response:
    body: '{"status":"paused","public_id":"55d-cvh-vrm","tags":["foo:bar","baz"],"org_id":382568,"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","deleted_at":null,"name":"name for synthetics test foo","monitor_id":16070523,"type":"api","created_at":"2020-02-27T11:39:36.744622+00:00","modified_at":"2020-02-27T11:39:36.744622+00:00","subtype":"http","config":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/55d-cvh-vrm
    method: GET
  response:
    body: '{"status":"paused","public_id":"55d-cvh-vrm","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify
      @datadog.user","modified_by":{"email":"jiri.kuncar@datadoghq.com","handle":"jiri.kuncar@datadoghq.com","id":1628996,"name":"Ji\u0159\u00ed
      Kun\u010dar"},"name":"name for synthetics test foo","monitor_id":16070523,"type":"api","created_at":"2020-02-27T11:39:36.744622+00:00","modified_at":"2020-02-27T11:39:36.744622+00:00","created_by":{"email":"jiri.kuncar@datadoghq.com","handle":"jiri.kuncar@datadoghq.com","id":1628996,"name":"Ji\u0159\u00ed
      Kun\u010dar"},"subtype":"http","config":[...]
- request:
    body: '{"public_ids":["55d-cvh-vrm"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2020-02-27T11:39:38.440614+00:00","public_id":"55d-cvh-vrm"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - LOVPYRkvxiVgJlSU7tTR5QW5I3IByFfoP5oRWZk6jukYFQiYGeCZXWoo6PiPBzrK
      X-Dd-Version:
      - "35.2219923"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/55d-cvh-vrm
    method: GET
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2219923"
    status: 404 Not Found
    code: 404
    duration: ""
