---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1606487469@example.com","name":"Test User","title":""},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"31a104b2-30bd-11eb-86bd-2b5814d0184f","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1606487469@example.com","created_at":"2020-11-27T14:31:10.450349+00:00","email":"tf-testaccdatadoguser_existing-local-1606487469@example.com","icon":"https://secure.gravatar.com/avatar/c3920e96124fa2119278b8a0bcf36751?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - HvCCHsTxMdYM0gaKHtI2IcmEJsAxsAXyEwSakV4VwU0gJM0DBm5BMD3H6ZYBdo1H
      X-Dd-Version:
      - "35.3435414"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/31a104b2-30bd-11eb-86bd-2b5814d0184f
    method: GET
  response:
    body: '{"data":{"type":"users","id":"31a104b2-30bd-11eb-86bd-2b5814d0184f","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1606487469@example.com","created_at":"2020-11-27T14:31:10.450349+00:00","email":"tf-testaccdatadoguser_existing-local-1606487469@example.com","icon":"https://secure.gravatar.com/avatar/c3920e96124fa2119278b8a0bcf36751?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - 2vDhfmOEUBStl6KJFsHicYMybqtUSJ6AfSEVJTVlECBUwTgB5ievW7vT4NcYmXtK
      X-Dd-Version:
      - "35.3435414"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1606487469@example.com","name":"Other User","title":""},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"errors": ["User tf-testaccdatadoguser_existing-local-1606487469@example.com
      already exists"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3435414"
    status: 409 Conflict
    code: 409
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguser_existing-local-1606487469%40example.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":71558}},"data":[{"type":"users","id":"31a104b2-30bd-11eb-86bd-2b5814d0184f","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1606487469@example.com","created_at":"2020-11-27T14:31:10.450349+00:00","email":"tf-testaccdatadoguser_existing-local-1606487469@example.com","icon":"https://secure.gravatar.com/avatar/c3920e96124fa2119278b8a0bcf36751?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - VfsOYTBPajdIURjGpWdSf1qbyO21kEmlCNna/tfODfKKzbp6OFbIz8G+Qerctd6m
      X-Dd-Version:
      - "35.3435414"
    status: 200 OK
    code: 200
    duration: ""
[...]
