---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_invitation-local-1609927302@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"2de4f924-5006-11eb-8bb4-af0cf2c398e3","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_invitation-local-1609927302@example.com","created_at":"2021-01-06T10:01:43.492238+00:00","email":"tf-testaccdatadoguser_invitation-local-1609927302@example.com","icon":"https://secure.gravatar.com/avatar/1eaaf1a9fc22d57df9d102d12f6141f4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - EZL7bEfcgNGbknKpx0YgUay5sRnB08o7ifIkIU7pH4DOkkWS5DRjfEr3ib9KggTa
      X-Dd-Version:
      - "35.3647695"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"2de4f924-5006-11eb-8bb4-af0cf2c398e3","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"2e3232b6-5006-11eb-8bb4-a7335e426a17","attributes":{"uuid":"2e3232b6-5006-11eb-8bb4-a7335e426a17","login_method":null,"invite_type":"basic_invite","created_at":"2021-01-06T10:01:43.999324+00:00","expires_at":"2021-01-08T10:01:43.901646+00:00"},"relationships":{"user":{"data":{"type":"users","id":"2de4f924-5006-11eb-8bb4-af0cf2c398e3"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /0aUVUH/0B08LSgkH1j961ejfqRhimJkYAixzpnRf5lscmOFHWjl/leOQ3Mnfn7R
      X-Dd-Version:
      - "35.3647695"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/2de4f924-5006-11eb-8bb4-af0cf2c398e3
    method: GET
  response:
    body: '{"data":{"type":"users","id":"2de4f924-5006-11eb-8bb4-af0cf2c398e3","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_invitation-local-1609927302@example.com","created_at":"2021-01-06T10:01:43.492238+00:00","email":"tf-testaccdatadoguser_invitation-local-1609927302@example.com","icon":"https://secure.gravatar.com/avatar/1eaaf1a9fc22d57df9d102d12f6141f4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - SRq2Z9lEwLlAnf16mGl+bpeU/aiRKnFBfHHwmTvzUhnzfsNFrKLMMmOgcRDhRFd6
      X-Dd-Version:
      - "35.3647695"
    status: 200 OK
    code: 200
    duration: ""
[...]
