---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardLogStream_import-local-1602487053","widgets":[{"definition":{"columns":["core_host","core_service"],"indexes":["main"],"logset":"","message_display":"expanded-md","query":"status:error env:prod","show_date_column":true,"show_message_column":true,"sort":{"column":"time","order":"desc"},"time":{"live_span":"1d"},"title":"Log Stream","title_align":"right","title_size":"16","type":"log_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"g5f-suy-nf2","title":"tf-TestAccDatadogDashboardLogStream_import-local-1602487053","url":"/dashboard/g5f-suy-nf2/tf-testaccdatadogdashboardlogstreamimport-local-1602487053","created_at":"2020-10-12T07:23:22.608490+00:00","modified_at":"2020-10-12T07:23:22.608490+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"logset":"","sort":{"column":"time","order":"desc"},"show_message_column":true,"title_size":"16","title":"Log
      Stream","title_align":"right","message_display":"expanded-md","indexes":["main"],"columns":["core_host","core_service"],"time":{"live_span":"1d"},"query":"status:error
      env:prod","type":"log_stream","show_date_column":true},"layout":{"y":5,"width":32,"x":5,"height":43},"id":5237727114436879}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - F+MB1uJtICegWSQGMRxkng/mFaS+IzSp7MVdNCMxEuNz7Df8CVcsilcdpPZyVGTp
      X-Dd-Version:
      - "35.3178388"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/g5f-suy-nf2
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in
      Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"g5f-suy-nf2","title":"tf-TestAccDatadogDashboardLogStream_import-local-1602487053","url":"/dashboard/g5f-suy-nf2/tf-testaccdatadogdashboardlogstreamimport-local-1602487053","created_at":"2020-10-12T07:23:22.608490+00:00","modified_at":"2020-10-12T07:23:22.608490+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"logset":"","sort":{"column":"time","order":"desc"},"show_message_column":true,"title_size":"16","title":"Log
      Stream","title_align":"right","message_display":"expanded-md","indexes":["main"],"columns":["core_host","core_service"],"time":{"live_span":"1d"},"query":"status:error
      env:prod","type":"log_stream","show_date_column":true},"layout":{"y":5,"width":32,"x":5,"height":43},"id":5237727114436879}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - flm57y1PQqDCGTMvz2Hc0LeaE4WpeyLyl0nK7TyUHhnh1/aAaCfINCnK5EAgp4id
      X-Dd-Version:
      - "35.3178388"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/g5f-suy-nf2
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"g5f-suy-nf2"}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - xRBFY2Rp8NHDG9Rp4RaGjcqlKnbzhHpETMjn37ZNtmzdKqGU6DeuhyyL4o7jfpVZ
      X-Dd-Version:
      - "35.3178388"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/g5f-suy-nf2
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID g5f-suy-nf2 not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.3178388"
    status: 404 Not Found
    code: 404
    duration: ""
