---
version: 1
interactions:
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"tf-TestDatadogMonitor_import-local-1596617445","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":600,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2.5,"critical_recovery":2.4,"ok":1.5,"warning":2.3,"warning_recovery":2.2},"timeout_h":60},"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2.5","tags":["bar:baz","foo:bar"],"type":"query alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateMonitor
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":["bar:baz","foo:bar"],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} > 2.5","message":"some message Notify: @hipchat-channel","id":20749697,"multi":true,"name":"tf-TestDatadogMonitor_import-local-1596617445","created":"2020-08-05T08:50:46.597126+00:00","created_at":1596617446000,"creator":{"id":1379826,"handle":"slavek.kabrda@datadoghq.com","name":"Slavek
      Kabrda","email":"slavek.kabrda@datadoghq.com"},"org_id":321813,"modified":"2020-08-05T08:50:46.597126+00:00","overall_state_modified":null,"overall_state":"No
      Data","type":"query alert","options":{"notify_audit":false,"locked":false,"timeout_h":60,"silenced":{},"include_tags":true,"thresholds":{"warning":2.3,"ok":1.5,"critical":2.5,"warning_recovery":2.2,"critical_recovery":2.4},"require_full_window":true,"new_host_delay":600,"notify_no_data":false,"renotify_interval":60,"escalation_message":"the
      situation has escalated @pagerduty"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - t8b3bBWrQ8+4AGVI2/Y7yXRpT1kBqhtDg2wL3A11Vpp6ttWpgnVC0jBZ/zUG9OQT
      X-Dd-Version:
      - "35.2834818"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetMonitor
    url: https://api.datadoghq.com/api/v1/monitor/20749697
    method: GET
  response:
    body: '{"restricted_roles":null,"tags":["bar:baz","foo:bar"],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} > 2.5","message":"some message Notify: @hipchat-channel","id":20749697,"multi":true,"name":"tf-TestDatadogMonitor_import-local-1596617445","created":"2020-08-05T[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteMonitor
    url: https://api.datadoghq.com/api/v1/monitor/20749697
    method: DELETE
  response:
    body: '{"deleted_monitor_id":20749697}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dd-Pool:
      - dogweb
      X-Dd-Debug:
      - bfiNuFMc/KQX9egCswVMwk69XQDSSxyrFobJmZY4lbvlLyixzvXSfeOCp/GBQVkT
      X-Dd-Version:
      - "35.2834902"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/20749697
    method: GET
  response:
    body: '{"errors":["Monitor not found"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Pool:
      - dogweb
      X-Dd-Version:
      - "35.2834902"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2985"
      X-Ratelimit-Reset:
      - "1"
    status: 404 Not Found
    code: 404
    duration: ""
