---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"suppression for validation test","enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_ValidationEnabled-local-1763123459","rule_query":"severity:low source:cloudtrail","start_date":4072775400000,"suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/validation
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 241.80775ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"suppression for validation test","enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_ValidationEnabled-local-1763123459","rule_query":"severity:low source:cloudtrail","start_date":4072775400000,"suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: POST
      response:
        body: '{"data":{"id":"nqb-u0q-jpq","type":"suppressions","attributes":{"creation_date":1763123460928,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"suppression for validation test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_ValidationEnabled-local-1763123459","rule_query":"severity:low source:cloudtrail","start_date":4072775400000,"suppression_query":"env:staging","tags":[],"update_date":1763123460928,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 250.070042ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/nqb-u0q-jpq
        method: GET
      response:
        body: '{"data":{"id":"nqb-u0q-jpq","type":"suppressions","attributes":{"creation_date":1763123460928,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"suppression for validation test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_ValidationEnabled-local-1763123459","rule_query":"severity:low source:cloudtrail","start_date":4072775400000,"suppression_query":"env:staging","tags":[],"update_date":1763123460928,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 236.965583ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/nqb-u0q-jpq
        method: GET
      response:
        body: '{"errors":["not_found(Suppression with ID nqb-u0q-jpq not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 225.834792ms
