version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackEventStream-local-1701197201","type":"group","widgets":[{"definition":{"event_size":"l","query":"*","title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"}}]},"live_span":"4h"},"name":"tf-TestAccDatadogPowerpackEventStream-local-1701197201","tags":["tag:foo1"],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/powerpacks
    method: POST
    id: 0
  response:
    body: |
      {"data":{"type":"powerpack","id":"794968ec-8e1e-11ee-852a-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackEventStream-local-1701197201","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackEventStream-local-1701197201","type":"group","widgets":[{"definition":{"event_size":"l","query":"*","title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"id":2282022053925617}]},"live_span":"4h","layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/794968ec-8e1e-11ee-852a-da7ad0900002
    method: GET
    id: 1
  response:
    body: |
      {"data":{"type":"powerpack","id":"794968ec-8e1e-11ee-852a-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackEventStream-local-1701197201","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackEventStream-local-1701197201","type":"group","widgets":[{"definition":{"event_size":"l","query":"*","title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"id":2282022053925617}]},"live_span":"4h","layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/794968ec-8e1e-11ee-852a-da7ad0900002
    method: GET
    id: 5
  response:
    body: '{"errors":["Powerpack with ID 794968ec-8e1e-11ee-852a-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
