---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardImage_import-local-1767989147","widgets":[{"definition":{"has_background":true,"has_border":true,"margin":"small","sizing":"fit","type":"image","url":"https://i.picsum.photos/id/826/200/300.jpg"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"gtj-ahb-gu7","title":"tf-TestAccDatadogDashboardImage_import-local-1767989147","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/gtj-ahb-gu7/tf-testaccdatadogdashboardimageimport-local-1767989147","template_variables":[],"widgets":[{"definition":{"has_background":true,"has_border":true,"margin":"small","sizing":"fit","type":"image","url":"https://i.picsum.photos/id/826/200/300.jpg"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":2438380671633350}],"notify_list":[],"created_at":"2026-01-09T20:05:48.940011+00:00","modified_at":"2026-01-09T20:05:48.940011+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.406125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/gtj-ahb-gu7
        method: GET
      response:
            - chunked
        body: '{"id":"gtj-ahb-gu7","title":"tf-TestAccDatadogDashboardImage_import-local-1767989147","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/gtj-ahb-gu7/tf-testaccdatadogdashboardimageimport-local-1767989147","template_variables":[],"widgets":[{"definition":{"has_background":true,"has_border":true,"margin":"small","sizing":"fit","type":"image","url":"https://i.picsum.photos/id/826/200/300.jpg"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":2438380671633350}],"notify_list":[],"created_at":"2026-01-09T20:05:48.940011+00:00","modified_at":"2026-01-09T20:05:48.940011+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.057084ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/gtj-ahb-gu7
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"gtj-ahb-gu7"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.407167ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/gtj-ahb-gu7
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID gtj-ahb-gu7 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 89.430625ms
