---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2QueryValueConditionalFormats_import-local-1772572409","widgets":[{"definition":{"autoscale":true,"precision":0,"requests":[{"conditional_formats":[{"comparator":"\u003c","hide_value":false,"palette":"white_on_green","value":1},{"comparator":"\u003c","hide_value":false,"palette":"black_on_light_yellow","value":5},{"comparator":"\u003e=","hide_value":false,"palette":"black_on_light_red","value":5}],"formulas":[{"formula":"default_zero(query1)"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"query1","query":"sum:system.cpu.user{*}.as_count()"}],"response_format":"scalar"}],"timeseries_background":{"type":"area","yaxis":{"include_zero":true}},"title":"Error count with conditional formats","type":"query_value"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"sby-77f-2rh","title":"tf-TestAccDatadogDashboardV2QueryValueConditionalFormats_import-local-1772572409","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/sby-77f-2rh/tf-testaccdatadogdashboardv2queryvalueconditionalformatsimport-local-1772572409","template_variables":[],"widgets":[{"definition":{"autoscale":true,"precision":0,"requests":[{"conditional_formats":[{"comparator":"<","hide_value":false,"palette":"white_on_green","value":1},{"comparator":"<","hide_value":false,"palette":"black_on_light_yellow","value":5},{"comparator":">=","hide_value":false,"palette":"black_on_light_red","value":5}],"formulas":[{"formula":"default_zero(query1)"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"query1","query":"sum:system.cpu.user{*}.as_count()"}],"response_format":"scalar"}],"timeseries_background":{"type":"area","yaxis":{"include_zero":true}},"title":"Error count with conditional formats","type":"query_value"},"id":6588015692467546}],"notify_list":[],"created_at":"2026-03-03T21:13:34.879717+00:00","modified_at":"2026-03-03T21:13:34.879717+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.56075ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/sby-77f-2rh
        method: GET
      response:
            - chunked
        body: '{"id":"sby-77f-2rh","title":"tf-TestAccDatadogDashboardV2QueryValueConditionalFormats_import-local-1772572409","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog",[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/sby-77f-2rh
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"sby-77f-2rh"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.979916ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/sby-77f-2rh
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID sby-77f-2rh not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 103.942833ms
