---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Created using the Datadog provider in terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackDatasource-local-1720643727 foo","type":"group","widgets":[{"definition":{"event_size":"l","query":"*","title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"}}]},"layout":{"height":10,"width":3,"x":1,"y":0},"live_span":"4h"},"name":"tf-TestAccDatadogPowerpackDatasource-local-1720643727 foo","tags":[],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/powerpacks
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"f1f18ff2-3efb-11ef-bccf-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackDatasource-local-1720643727 foo","description":"Created using the Datadog provider in terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackDatasource-local-1720643727 foo","type":"group","widgets":[{"definition":{"event_size":"l","query":"*","title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"id":1595118903503481}]},"layout":{"height":10,"width":3,"x":1,"y":0},"live_span":"4h"},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":[]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.938791ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/powerpacks/f1f18ff2-3efb-11ef-bccf-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"f1f18ff2-3efb-11ef-bccf-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackDatasource-local-1720643727 foo","description":"Created using the Datadog provider in terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackDatasource-local-1720643727 foo","type":"group","widgets":[{"definition":{"event_size":"l","query":"*","title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"id":1595118903503481}]},"layout":{"height":10,"width":3,"x":1,"y":0},"live_span":"4h"},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":[]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.660542ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/powerpacks?page%5Blimit%5D=100
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"powerpack","id":"f9027c00-1d79-11ef-b3ec-da7ad0900002","attributes":{"name":"Test-Rust-Get_all_powerpacks_returns_OK_response-1716959517","description":"Sample powerpack","group_widget":{"definition":{"layout_type":"ordered","show_title":true,"title":"Sample Powerpack","type":"group","widgets":[{"definition":{"content":"test","type":"note"},"id":4359871925655728}]},"layout":{"height":3,"width":12,"x":0,"y":0},"live_span":"1h"},"template_variables":[{"defaults":["*"],"name":"sample"}],"tags":["tag:sample"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},{"type":"powerpack","id":"f1f37934-3efb-11ef-b16a-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackDatasource-local-1720643727 bar","description":"Created using the Datadog provider in terraform","g[...]
[...]
