name: Prepare release

permissions:
  contents: write
  pull-requests: write
  id-token: write # Required for dd-octo-sts action

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version number (e.g. '3.45.0' or '4.0.0-rc.1', without the 'v' prefix)"
        required: true
      branch:
        description: "Target branch"
        required: false
        default: "master"
        type: choice
        options:
          - master
          - "4.x"

jobs:
  prepare_release:
    name: Create release PR
    runs-on: ubuntu-latest
    steps:
      - uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/terraform-provider-datadog
          policy: self.release.prepare-release
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
        with:
          ref: ${{ github.event.inputs.branch }}
      - name: Create PR
        uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410
        env:
          RELEASE_VERSION: ${{ github.event.inputs.version }}
          TARGET_BRANCH: ${{ github.event.inputs.branch }}
        with:
          github-token: ${{ steps.octo-sts.outputs.token }}
          script: |
            const { data: notes } = await github.rest.repos.generateReleaseNotes({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: `v${process.env.RELEASE_VERSION}`,
              target_commitish: process.env.TARGET_BRANCH,
            });
            const today = new Date().toLocaleDateString('en-US', {"month": "long", "day": "numeric", "year": "numeric"});
            const header = [`## ${process.env.RELEASE_VERSION} (${today})\n`];
            const changes = header.concat(notes.body.split("\n").slice(3));
            changes.push("");
            const { data: content } = await github.rest.repos.getContent({
              owner: context.repo.owner,
              repo: context.repo.repo,
              path: "CHANGELOG.md",
              ref: process.env.TARGET_BRANCH,
            });
            const rawContent = Buffer.from(content.content, "base64")
              .toString("utf-8")
              .split("\n");
            const newContent = changes.concat(rawContent).join("\n");

            const { data: master } = await github.rest.git.getRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `heads/${process.env.TARGET_BRANCH}`,
            });
            await github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `refs/heads/release/${process.env.RELEASE_VERSION}`,
              sha: master.object.sha,
            });

            await github.rest.repos.createOrUpdateFileContents({
              owner: context.repo.owner,
              repo: context.repo.repo,
              message: "Update CHANGELOG",
              content: Buffer.from(newContent).toString("base64"),
              path: "CHANGELOG.md",
              branch: `release/${process.env.RELEASE_VERSION}`,
              sha: content.sha,
            });
            const { data: pr } = await github.rest.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head: `release/${process.env.RELEASE_VERSION}`,
              base: process.env.TARGET_BRANCH,
              title: `Release ${process.env.RELEASE_VERSION}`,
              body: "Update CHANGELOG",
            });
            await github.rest.issues.addLabels({
              issue_number: pr.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ["changelog/no-changelog"],
            });
