name: SDKv2 Deprecation Check

on:
  pull_request:
    branches:
      - master
      - 4.x

jobs:
  check-sdkv2:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          fetch-depth: 2
      - name: Get changed files
        id: new-resources
        uses: tj-actions/changed-files@d6e91a2266cdb9d62096cebf1e8546899c6aa18f
        with:
          files: "datadog/*.go"
          files_ignore: "datadog/*_test.go"
      - run: echo "::error::All new resources must use the `terraform-plugin-framework`"
        if: steps.new-resources.outputs.added_files_count != '0'
      - uses: exercism/pr-commenter-action@085ef62d2a541a112c3ade1d24deea83665ea186
        if: ${{ ! github.event.pull_request.head.repo.fork && steps.new-resources.outputs.added_files_count != '0' }}
        with:
          github-token: "${{ github.token }}"
          config-file: ".github/sdkv2-warning.yml"
      - run: exit 1
        if: steps.new-resources.outputs.added_files_count != '0'
