version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTopologyMap_import-local-1682003479","widgets":[{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"},{"is_hidden":true,"link":"https://app.datadoghq.com/dashboard/lists","override_label":"logs"}],"requests":[{"query":{"data_source":"service_map","filters":["env:prod","datacenter:dc1"],"service":"master-db"},"request_type":"topology"}],"title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","title_size":"16","type":"topology_map"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"t7k-3sx-557","title":"tf-TestAccDatadogDashboardTopologyMap_import-local-1682003479","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/t7k-3sx-557/tf-testaccdatadogdashboardtopologymapimport-local-1682003479","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"},{"is_hidden":true,"link":"https://app.datadoghq.com/dashboard/lists","override_label":"logs"}],"requests":[{"query":{"data_source":"service_map","filters":["env:prod","datacenter:dc1"],"service":"master-db"},"request_type":"topology"}],"title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","title_size":"16","type":"topology_map"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":2011539842956210}],"notify_list":[],"created_at":"2023-04-20T15:11:21.115236+00:00","modified_at":"2023-04-20T15:11:21.115236+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/t7k-3sx-557
    method: GET
    id: 1
  response:
    body: |
      {"id":"t7k-3sx-557","title":"tf-TestAccDatadogDashboardTopologyMap_import-local-1682003479","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/t7k-3sx-557/tf-testaccdatadogdashboardtopologymapimport-local-1682003479","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"},{"is_hidden":true,"link":"https://app.datadoghq.com/dashboard/lists","override_label":"logs"}],"requests":[{"query":{"data_source":"service_map","filters":["env:prod","datacenter:dc1"],"service":"master-db"},"request_type":"topology"}],"title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","title_size":"16","type":"topology_map"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":2011539842956210}],"notify_list":[],"created_at":"2023-04-20T15:11:21.115236+00:00","modified_at":"2023-04-20T15:11:21.115236+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/t7k-3sx-557
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"t7k-3sx-557"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/t7k-3sx-557
    method: GET
    id: 5
  response:
    body: '{"errors":["Dashboard with ID t7k-3sx-557 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
