---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1758619442","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"vkk-432-y2x","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1758619442","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/vkk-432-y2x/tf-testaccdatadogdashboardrbaccreateopen-local-1758619442","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":2766232092517909}],"notify_list":[],"created_at":"2025-09-23T09:24:09.257551+00:00","modified_at":"2025-09-23T09:24:09.257551+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.995792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/vkk-432-y2x
        method: GET
      response:
        body: '{"id":"vkk-432-y2x","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1758619442","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/vkk-432-y2x/tf-testaccdatadogdashboardrbaccreateopen-local-1758619442","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":2766232092517909}],"notify_list":[],"created_at":"2025-09-23T09:24:09.257551+00:00","modified_at":"2025-09-23T09:24:09.257551+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.925958ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/vkk-432-y2x
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"vkk-432-y2x"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 449.887667ms
