---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1765292197","name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1765292197"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: '{"data":{"id":"1d3c9281-afd4-43e3-866f-ab07bee5daa9","type":"team","attributes":{"avatar":null,"banner":1,"created_at":"2025-12-09T14:56:41.169784+00:00","description":"Description","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1765292197","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2025-12-09T14:56:41.169784+00:00","name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1765292197","summary":"Description","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/1d3c9281-afd4-43e3-866f-ab07bee5daa9/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/1d3c9281-afd4-43e3-866f-ab07bee5daa9/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 682.681083ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallescalationpolicycreateandupdate-local-1765292197@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"457a2ada-d50f-11f0-a2cd-fa12e3ac8b47","attributes":{"name":null,"handle":"tf-testacconcallescalationpolicycreateandupdate-local-1765292197@example.com","created_at":"2025-12-09T14:56:41.534594+00:00","modified_at":"2025-12-09T14:56:41.534594+00:00","email":"tf-testacconcallescalationpolicycreateandupdate-local-1765292197@example.com","icon":"https://secure.gravatar.com/avatar/28b908f7c6ae6348fa6d8b9df5fe14b5?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.07296075s
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"457a2ada-d50f-11f0-a2cd-fa12e3ac8b47","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"45b5dc7e-d50f-11f0-91ae-da7ad0900002","attributes":{"uuid":"45b5dc7e-d50f-11f0-91ae-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-12-09T14:56:41.925474+00:00","expires_at":"2025-12-11T14:56:41.816947+00:00"},"relationships":{"user":{"data":{"type":"users","id":"457a2ada-d50f-11f0-a2cd-fa12e3ac8b47"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 366.24275ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"457a2ada-d50f-11f0-a2cd-fa12e3ac8b47"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1765292197","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"1d3c9281-afd4-43e3-866f-ab07bee5daa9","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"075d8908-e026-4e04-8fd6-2ab936e6f3b3","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1765292197","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"114eddcf-902b-4b6e-b094-13ad3d42db43","type":"layers"}]},"teams":{"data":[{"id":"1d3c9281-afd4-43e3-866f-ab07bee5daa9","type":"teams"}]}}},"included":[{"id":"114eddcf-902b-4b6e-b094-13ad3d42db43","type":"layers","attributes":{"effective_date":"2025-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"114eddcf-902b-4b6e-b094-13ad3d42db43-member-1","type":"members"},{"id":"114eddcf-902b-4b6e-b094-13ad3d42db43-member-2","type":"members"}]}}},{"id":"114eddcf-902b-4b6e-b094-13ad3d42db43-member-1","type":"members","relationships":{"user":{"data":{"id":"457a2ada-d50f-11f0-a2cd-fa12e3ac8b47","type":"users"}}}},{"id":"457a2ada-d50f-11f0-a2cd-fa12e3ac8b47","type":"users","attributes":{"email":"tf-testacconcallescalationpolicycreateandupdate-local-1765292197@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 178.599041ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"policy_test_defaults","resolve_page_on_policy_end":false,"retries":0,"steps":[{"assignment":"default","escalate_after_seconds":100,"targets":[{"id":"075d8908-e026-4e04-8fd6-2ab936e6f3b3","type":"schedules"}]}]},"type":"policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
        method: POST
      response:
        body: '{"data":{"id":"75f693de-adb3-472f-b95a-2ad5252700a5","type":"policies","attributes":{"name":"policy_test_defaults","resolve_page_on_policy_end":false,"retries":0},"relationships":{"steps":{"data":[{"id":"cb8fe310-072d-4c72-9fe2-61eb9a3fb6af","type":"steps"}]},"teams":{"data":[]}}},"included":[{"id":"cb8fe310-072d-4c72-9fe2-61eb9a3fb6af","type":"steps","attributes":{"assignment":"default","escalate_after_seconds":100},"relationships":{"targets":{"data":[{"id":"075d8908-e026-4e04-8fd6-2ab936e6f3b3","type":"schedules"}]}}},{"id":"075d8908-e026-4e04-8fd6-2ab936e6f3b3","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1765292197","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"114eddcf-902b-4b6e-b094-13ad3d42db43","type":"layers"}]},"teams":{"data":[{"id":"1d3c9281-afd4-43e3-866f-ab07bee5daa9","type":"teams"}]}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 168.945959ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testacconcallescalationpolicycreateandupdate-local-1765292197","resolve_page_on_policy_end":true,"retries":0,"steps":[{"assignment":"round-robin","escalate_after_seconds":300,"targets":[{"id":"1d3c9281-afd4-43e3-866f-ab07bee5daa9","type":"teams"},{"id":"457a2ada-d50f-11f0-a2cd-fa12e3ac8b47","type":"users"},{"id":"075d8908-e026-4e04-8fd6-2ab936e6f3b3","type":"schedules"}]},{"assignment":"default","escalate_after_seconds":600,"targets":[{"config":{"schedule":{"position":"next"}},"id":"075d8908-e026-4e04-8fd6-2ab936e6f3b3","type":"schedules"}]}]},"type":"policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
        method: POST
      response:
        body: '{"data":{"id":"1eb0ab8e-4f3c-4693-8b8c-f8615f69a19d","type":"policies","attributes":{"name":"tf-testacconcallescalationpolicycreateandupdate-local-1765292197","[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/1d3c9281-afd4-43e3-866f-ab07bee5daa9
        method: GET
      response:
        body: '{"data":{"id":"1d3c9281-afd4-43e3-866f-ab07bee5daa9","type":"team","attributes":{"created_at":"2025-12-09T14:56:41.169784+00:00","description":"Description","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1765292197","is_managed":false,"link_count":0,"modified_at":"2025-12-09T14:56:41.169784+00:00","name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1765292197","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/1d3c9281-afd4-43e3-866f-ab07bee5daa9/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/1d3c9281-afd4-43e3-866f-ab07bee5daa9/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 189.967375ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/457a2ada-d50f-11f0-a2cd-fa12e3ac8b47
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"457a2ada-d50f-11f0-a2cd-fa12e3ac8b47","attributes":{"name":null,"handle":"tf-testacconcallescalationpolicycreateandupdate-local-1765292197@example.com","created_at":"2025-12-09T14:56:41.534594+00:00","modified_at":"2025-12-09T14:56:41.534594+00:00","email":"tf-testacconcallescalationpolicycreateandupdate-local-1765292197@example.com","icon":"https://secure.gravatar.com/avatar/28b908f7c6ae6348fa6d8b9df5fe14b5?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.038125ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/075d8908-e026-4e04-8fd6-2ab936e6f3b3?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"075d8908-e026-4e04-8fd6-2ab936e6f3b3","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1765292197","time_zon[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/75f693de-adb3-472f-b95a-2ad5252700a5?include=steps.targets
        method: GET
      response:
        body: '{"data":{"id":"75f693de-adb3-472f-b95a-2ad5252700a5","type":"policies","attributes":{"name":"policy_test_defaults","resolve_page_on_policy_end":false,"retries":0},"relationships":{"steps":{"data":[{"id":"cb8fe310-072d-4c72-9fe2-61eb9a3fb6af","type":"steps"}]},"teams":{"data":[]}}},"included":[{"id":"cb8fe310-072d-4c72-9fe2-61eb9a3fb6af","type":"steps","attributes":{"assignment":"default","escalate_after_seconds":100},"relationships":{"targets":{"data":[{"id":"075d8908-e026-4e04-8fd6-2ab936e6f3b3","type":"schedules"}]}}},{"id":"075d8908-e026-4e04-8fd6-2ab936e6f3b3","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1765292197","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"114eddcf-902b-4b6e-b094-13ad3d42db43","type":"layers"}]},"teams":{"data":[{"id":"1d3c9281-afd4-43e3-866f-ab07bee5daa9","type":"teams"}]}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 132.256584ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/75f693de-adb3-472f-b95a-2ad5252700a5
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 217.996ms
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/075d8908-e026-4e04-8fd6-2ab936e6f3b3
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 185.610959ms
[...]
