version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackEventTimeline-local-1701197178","type":"group","widgets":[{"definition":{"query":"status:error","tags_execution":"and","title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":4,"width":3,"x":5,"y":5}}]}},"name":"tf-TestAccDatadogPowerpackEventTimeline-local-1701197178","tags":["tag:foo1"],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/powerpacks
    method: POST
    id: 0
  response:
    body: |
      {"data":{"type":"powerpack","id":"6b7c0648-8e1e-11ee-a8c0-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackEventTimeline-local-1701197178","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackEventTimeline-local-1701197178","type":"group","widgets":[{"definition":{"query":"status:error","tags_execution":"and","title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":4,"width":3,"x":5,"y":5},"id":2309975445484157}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/6b7c0648-8e1e-11ee-a8c0-da7ad0900002
    method: GET
    id: 1
  response:
    body: |
      {"data":{"type":"powerpack","id":"6b7c0648-8e1e-11ee-a8c0-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackEventTimeline-local-1701197178","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackEventTimeline-local-1701197178","type":"group","widgets":[{"definition":{"query":"status:error","tags_execution":"and","title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":4,"width":3,"x":5,"y":5},"id":2309975445484157}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
