---
version: 2
interactions:
  - id: 0
    request:
      host: api.datadoghq.com
      body: |
        {"meta":{"setup_method":"terraform"},"data":{"attributes":{"account_filters":{"excluded_accounts":["123456789012"],"include_new_accounts":true},"account_id":"123456789012","bucket_name":"test-cur-bucket","bucket_region":"us-east-1","report_name":"test-cur-report","report_prefix":"test-cur-prefix"},"type":"aws_cur_config_post_request"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.datadoghq.com/api/v2/cost/aws_cur_config
      method: POST
    response:
      body: '{"data":{"id":"618","type":"aws_cur_config","attributes":{"account_filters":{"include_new_accounts":true,"excluded_accounts":["123456789012"]},"account_id":"123456789012","bucket_name":"test-cur-bucket","bucket_region":"us-east-1","created_at":"2025-09-29T18:42:32.170995","error_messages":null,"months":15,"report_name":"test-cur-report","report_prefix":"test-cur-prefix","status":"active","status_updated_at":"2025-09-29T18:42:32.168227","updated_at":"2025-09-29T18:42:32.170995"}}}'
      headers:
        Content-Type:
          - application/vnd.api+json
      status: 200 OK
      code: 200
      duration: 866.744167ms
  - id: 1
    request:
      host: api.datadoghq.com
      body: ""
      form: {}
      headers:
      url: https://api.datadoghq.com/api/v2/cost/aws_cur_config/618
      method: GET
    response:
      body: '{"data":{"id":"618","type":"aws_cur_config","attributes":{"account_filters":{"include_new_accounts":true,"excluded_accounts":["123456789012"]},"account_id":"123456789012","bucket_name":"test-cur-bucket","bucket_region":"us-east-1","created_at":"2025-09-29T18:42:32.170995","error_messages":null,"months":15,"report_name":"test-cur-report","report_prefix":"test-cur-prefix","status":"active","status_updated_at":"2025-09-29T18:42:32.168227","updated_at":"2025-09-29T18:42:32.170995"}}}'
      headers:
        Content-Type:
          - application/vnd.api+json
      status: 200 OK
      code: 200
      duration: 58.373041ms
[...]
  - id: 4
    request:
      host: api.datadoghq.com
      body: |
        {"data":{"attributes":{"account_filters":{"include_new_accounts":false,"included_accounts":["123456789013"]}},"type":"aws_cur_config_patch_request"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.datadoghq.com/api/v2/cost/aws_cur_config/618
      method: PATCH
    response:
      body: '{"data":[{"id":"618","type":"aws_cur_config","attributes":{"account_filters":{"include_new_accounts":false,"included_accounts":["123456789013"]},"account_id":"123456789012","bucket_name":"test-cur-bucket","bucket_region":"us-east-1","created_at":"2025-09-29T18:42:32.168227","error_messages":null,"months":15,"report_name":"test-cur-report","report_prefix":"test-cur-prefix","status":"active","status_updated_at":"2025-09-29T18:42:33.165557","updated_at":"2025-09-29T18:42:33.165554"}}]}'
      headers:
        Content-Type:
          - application/vnd.api+json
      status: 200 OK
      code: 200
      duration: 82.482375ms
[...]
