---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Team with no notification rules","handle":"tf-testaccdatadogteamnotificationruledatasourceempty-local-1768299802-empty","name":"tf-testaccdatadogteamnotificationruledatasourceempty-local-1768299802-empty"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"2da8baa0-8b3b-4dc4-a8ac-e26e21748b8e","type":"team","attributes":{"avatar":null,"banner":7,"created_at":"2026-01-13T10:23:24.672657+00:00","description":"Team with no notification rules","handle":"tf-testaccdatadogteamnotificationruledatasourceempty-local-1768299802-empty","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-13T10:23:24.672657+00:00","name":"tf-testaccdatadogteamnotificationruledatasourceempty-local-1768299802-empty","summary":"Team with no notification rules","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/2da8baa0-8b3b-4dc4-a8ac-e26e21748b8e/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/2da8baa0-8b3b-4dc4-a8ac-e26e21748b8e/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 518.919041ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/2da8baa0-8b3b-4dc4-a8ac-e26e21748b8e/notification-rules
        method: GET
      response:
        body: '{"data":[],"meta":{"page":{"type":"offset_limit","offset":0,"limit":100,"total":0,"first_offset":0,"prev_offset":null,"next_offset":null,"last_offset":0}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 146.276208ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/2da8baa0-8b3b-4dc4-a8ac-e26e21748b8e
        method: GET
      response:
        body: '{"data":{"id":"2da8baa0-8b3b-4dc4-a8ac-e26e21748b8e","type":"team","attributes":{"created_at":"2026-01-13T10:23:24.672657+00:00","description":"Team with no notification rules","handle":"tf-testaccdatadogteamnotificationruledatasourceempty-local-1768299802-empty","is_managed":false,"link_count":0,"modified_at":"2026-01-13T10:23:24.672657+00:00","name":"tf-testaccdatadogteamnotificationruledatasourceempty-local-1768299802-empty","summary":"Team with no notification rules","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/2da8baa0-8b3b-4dc4-a8ac-e26e21748b8e/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/2da8baa0-8b3b-4dc4-a8ac-e26e21748b8e/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 180.732708ms
[...]
