---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["ws-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"auth_strategy":"none","decoding":"json","id":"ws-source-1","type":"websocket"}]},"name":"websocket-source-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"2d73d5ac-70ce-11f1-b377-da7ad0900002","type":"pipelines","attributes":{"name":"websocket-source-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["ws-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"auth_strategy":"none","decoding":"json","id":"ws-source-1","type":"websocket"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 388.434208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/2d73d5ac-70ce-11f1-b377-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"2d73d5ac-70ce-11f1-b377-da7ad0900002","type":"pipelines","attributes":{"name":"websocket-source-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["ws-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"auth_strategy":"none","decoding":"json","id":"ws-source-1","type":"websocket"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 165.175ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["ws-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"auth_strategy":"bearer","decoding":"json","id":"ws-source-1","tls":{"ca_file":"/certs/ca.crt","crt_file":"/certs/client.crt","key_file":"/certs/client.key","mode":"with_client_cert"},"token_key":"BEARER_TOKEN","type":"websocket","uri_key":"WEBSOCKET_URI"}]},"name":"websocket-source-pipeline-tls"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/2d73d5ac-70ce-11f1-b377-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"2d73d5ac-70ce-11f1-b377-da7ad0900002","type":"pipelines","attributes":{"name":"websocket-source-pipeline-tls","config":{"destinations":[{"id":"destination-1","inputs":["ws-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"auth_strategy":"bearer","decoding":"json","id":"ws-source-1","tls":{"ca_file":"/certs/ca.crt","crt_file":"/certs/client.crt","key_file":"/certs/client.key","mode":"with_client_cert"},"token_key":"BEARER_TOKEN","type":"websocket","uri_key":"WEBSOCKET_URI"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 433.095875ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["ws-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"auth_strategy":"basic","decoding":"json","id":"ws-source-1","password_key":"WEBSOCKET_PASSWORD","tls":{"mode":"enabled"},"type":"websocket","uri_key":"WEBSOCKET_URI","username_key":"WEBSOCKET_USERNAME"}]},"name":"websocket-source-pipeline-basic"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/2d73d5ac-70ce-11f1-b377-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"2d73d5ac-70ce-11f1-b377-da7ad0900002","type":"pipelines","attributes":{"name":"websocket-source-pipeline-basic","config":{"destinations":[{"id":"destination-1","inputs":["ws-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"auth_strategy":"basic","decoding":"json","id":"ws-source-1","password_key":"WEBSOCKET_PASSWORD","tls":{"mode":"enabled"},"type":"websocket","uri_key":"WEBSOCKET_URI","username_key":"WEBSOCKET_USERNAME"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 531.546875ms
[...]
