---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1623444891","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"9cf-bmh-734","title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1623444891","url":"/dashboard/9cf-bmh-734/tf-testaccdatadogdashboardrbaccreateadmin-local-1623444891","created_at":"2021-06-11T20:55:02.417444+00:00","modified_at":"2021-06-11T20:55:02.417444+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":1539309291479890}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      X-Dd-Version:
      - "35.4734225"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/9cf-bmh-734
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"9cf-bmh-734","title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1623444891","url":"/dashboard/9cf-bmh-734/tf-testaccdatadogdashboardrbaccreateadmin-local-1623444891","created_at":"2021-06-11T20:55:02.417444+00:00","modified_at":"2021-06-11T20:55:02.417444+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":1539309291479890}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - EFjE6I+AUQmTiNqZcuE1nqoFeAjWD0Xtzy3edDrinkwlU/Wzr/2Dbl5kWk3qLVaQ
      X-Dd-Version:
      - "35.4734225"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/9cf-bmh-734
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"9cf-bmh-734"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4734225"
    status: 200 OK
    code: 200
    duration: ""
