---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"description":"Secrets in production are always critical","severity":"critical","type":"set"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRule-local-1790863500","rule":{"finding_types":["secret"],"query":"env:prod"}},"type":"severity_modifier_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
        method: POST
      response:
        body: '{"data":{"id":"a7c3664a-aed3-439b-8a56-f290728f32c2","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"critical","description":"Secrets in production are always critical"},"created_at":1790863502932,"created_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"enabled":true,"modified_at":1790863502932,"modified_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRule-local-1790863500","rule":{"finding_types":["secret"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 268.467916ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/a7c3664a-aed3-439b-8a56-f290728f32c2
        method: GET
      response:
        body: '{"data":{"id":"a7c3664a-aed3-439b-8a56-f290728f32c2","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"critical","description":"Secrets in production are always critical"},"created_at":1790863502932,"created_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"enabled":true,"modified_at":1790863502932,"modified_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRule-local-1790863500","rule":{"finding_types":["secret"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 327.790667ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"severity_delta":"down_one","type":"shift"},"enabled":false,"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRule-local-1790863500-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:dev"}},"id":"a7c3664a-aed3-439b-8a56-f290728f32c2","type":"severity_modifier_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/a7c3664a-aed3-439b-8a56-f290728f32c2
        method: PUT
      response:
        body: '{"data":{"id":"a7c3664a-aed3-439b-8a56-f290728f32c2","type":"severity_modifier_rules","attributes":{"action":{"type":"shift","severity_delta":"down_one"},"created_at":1790863502932,"created_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"enabled":false,"modified_at":1790863506000,"modified_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRule-local-1790863500-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 390.859959ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/a7c3664a-aed3-439b-8a56-f290728f32c2
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 195.589ms
