---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTagConfigurationByName
    url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_Basic_local_1614958598/tags
    method: GET
  response:
    body: '{"errors": ["tf_TestAccDatadogMetricTagConfiguration_Basic_local_1614958598 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4039221"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "22"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"include_percentiles":false,"metric_type":"distribution","tags":["sport","datacenter"]},"id":"tf_TestAccDatadogMetricTagConfiguration_Basic_local_1614958598","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_Basic_local_1614958598/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"tf_TestAccDatadogMetricTagConfiguration_Basic_local_1614958598","attributes":{"tags":["datacenter","sport"],"include_percentiles":false,"created_at":"2021-03-05T15:36:38.695408+00:00","updated_at":"2021-03-05T15:36:38.695408+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      X-Dd-Version:
      - "35.4039221"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "48"
      X-Ratelimit-Reset:
      - "22"
    status: 201 Created
    code: 201
    duration: ""
[...]
