---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"bucket":"my-logs-bucket","id":"s3-dest-basic-1","inputs":["source-1"],"key_prefix":"logs/","region":"us-east-1","storage_class":"STANDARD","type":"amazon_s3"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"amazon s3 pipeline (minimal)"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"2227bcc2-d5ba-11f0-908e-da7ad0900002","type":"pipelines","attributes":{"name":"amazon s3 pipeline (minimal)","config":{"destinations":[{"bucket":"my-logs-bucket","id":"s3-dest-basic-1","inputs":["source-1"],"key_prefix":"logs/","region":"us-east-1","storage_class":"STANDARD","type":"amazon_s3"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 515.515292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/2227bcc2-d5ba-11f0-908e-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"2227bcc2-d5ba-11f0-908e-da7ad0900002","type":"pipelines","attributes":{"name":"amazon s3 pipeline (minimal)","config":{"destinations":[{"bucket":"my-logs-bucket","id":"s3-dest-basic-1","inputs":["source-1"],"key_prefix":"logs/","region":"us-east-1","storage_class":"STANDARD","type":"amazon_s3"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 295.788208ms
[...]
