---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":{"destination_key":"env","if_not_exists":true,"source_keys":["environment","stage"]},"name":"mapping-rule","query":null,"reference_table":null}]},"id":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRule-local-1759254156","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"c7e3969b-27e3-48e2-b90e-501d725bd5e1","type":"ruleset","attributes":{"created":{"seconds":1759254158,"nanos":214169000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759254158,"nanos":214169000},"name":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRule-local-1759254156","position":3,"rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":true},"reference_table":null,"metadata":null}],"version":3608131}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 144.373666ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/c7e3969b-27e3-48e2-b90e-501d725bd5e1
        method: GET
      response:
        body: '{"data":{"id":"c7e3969b-27e3-48e2-b90e-501d725bd5e1","type":"ruleset","attributes":{"created":{"seconds":1759254158,"nanos":214169000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759254158,"nanos":214169000},"name":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRule-local-1759254156","position":3,"processing_status":"error","rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":true},"reference_table":null,"metadata":null}],"version":3608131}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 103.181083ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/c7e3969b-27e3-48e2-b90e-501d725bd5e1
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset c7e3969b-27e3-48e2-b90e-501d725bd5e1 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 40.84275ms
