---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateForceNew-local-1765532839","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"2a5a980d-c22f-4c20-942e-d094aee00392","type":"deployment_gate","attributes":{"created_at":"2025-12-12T09:47:20.365307Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateForceNew-local-1765532839","service":"my-service","updated_at":"2025-12-12T09:47:20.365307Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 142.99325ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/2a5a980d-c22f-4c20-942e-d094aee00392
        method: GET
      response:
        body: '{"data":{"id":"2a5a980d-c22f-4c20-942e-d094aee00392","type":"deployment_gate","attributes":{"created_at":"2025-12-12T09:47:20.365307Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateForceNew-local-1765532839","service":"my-service","updated_at":"2025-12-12T09:47:20.365307Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 168.4545ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/2a5a980d-c22f-4c20-942e-d094aee00392/rules
        method: GET
      response:
        body: '{"data":{"id":"2a5a980d-c22f-4c20-942e-d094aee00392","type":"list_deployment_rules","attributes":{"rules":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 155.272333ms
[...]
