---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"max_tickets_per_day":100,"project_id":"11111111-1111-1111-1111-111111111111","target":"jira"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRule_OutOfBandDelete-local-1782480709","rule":{"finding_types":["misconfiguration"]}},"type":"ticket_creation_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules
        method: POST
      response:
        body: '{"data":{"id":"069dd6ae-0ba5-4215-82d8-3f69a27946aa","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":100},"created_at":1782480711583,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782480711583,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRule_OutOfBandDelete-local-1782480709","rule":{"finding_types":["misconfiguration"]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 556.971334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/069dd6ae-0ba5-4215-82d8-3f69a27946aa
        method: GET
      response:
        body: '{"data":{"id":"069dd6ae-0ba5-4215-82d8-3f69a27946aa","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":100},"created_at":1782480711583,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782480711583,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRule_OutOfBandDelete-local-1782480709","rule":{"finding_types":["misconfiguration"]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 127.402834ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/069dd6ae-0ba5-4215-82d8-3f69a27946aa
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 190.847083ms
[...]
