---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-test-Update-1785485101","principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"],"product_filters":[{"filters":["@application.id:fbce0eb7-5883-6f76-0ffa-67344996e1ab"],"product":"rum"}]},"type":"dataset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/datasets
        method: POST
      response:
        body: |
            {"data":{"type":"dataset","id":"79973036-9086-4692-96d1-e212fd416f80","attributes":{"name":"tf-test-Update-1785485101","product_filters":[{"product":"rum","filters":["@application.id:fbce0eb7-5883-6f76-0ffa-67344996e1ab"]}],"principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 327.015166ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/datasets/79973036-9086-4692-96d1-e212fd416f80
        method: GET
      response:
        body: |
            {"data":{"type":"dataset","id":"79973036-9086-4692-96d1-e212fd416f80","attributes":{"name":"tf-test-Update-1785485101","product_filters":[{"product":"rum","filters":["@application.id:fbce0eb7-5883-6f76-0ffa-67344996e1ab"]}],"principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.871958ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/datasets/79973036-9086-4692-96d1-e212fd416f80
        method: GET
      response:
        body: |
            {"errors":["Invalid request: [DatasetNotFound] dataset \"79973036-9086-4692-96d1-e212fd416f80\" not found"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 108.567709ms
