---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
    method: POST
  response:
    body: |
      {"data":{"type":"gcp_sts_delegate","id":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com","attributes":{"delegate_account_email":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"automute":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1685480167@test-project.iam.gserviceaccount.com","host_filters":["tag:one","tag:two"],"is_cspm_enabled":false},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
    method: POST
  response:
    body: |
      {"data":{"type":"gcp_service_account","attributes":{"host_filters":["tag:one","tag:two"],"automute":false,"is_cspm_enabled":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1685480167@test-project.iam.gserviceaccount.com"},"id":"095a6fd4-b396-4df9-a07f-6c8564b77aeb"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
    method: GET
  response:
    body: |
      {"data":[{"type":"gcp_service_account","attributes":{"host_filters":[],"automute":false,"is_cspm_enabled":false,"client_email":"gray-test-20220225@datadog-eventarc-dev.iam.gserviceaccount.com"},"meta":{"accessible_projects":["datadog-eventarc-dev"]},"id":"c036a628-1e95-411f-b841-b1d76a9d4e18"},{"type":"gcp_service_account","attributes":{"host_filters":[],"automute":false,"is_cspm_enabled":false,"client_email":"audrey-yuan@datadog-cloud-ints-staging.iam.gserviceaccount.com"},"meta":{"accessible_projects":["datadog-cloud-ints-staging"]},"id":"44cdbb2f-b0ac-48c5-b1b9-5d9c7f531edb"},{"type":"gcp_service_account","attributes":{"host_filters":["!asdf:ghjkl"],"automute":false,"is_cspm_enabled":false,"client_email":"ricky-[...]
[...]
- request:
    body: |
      {"data":{"attributes":{"automute":true,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1685480167@test-project.iam.gserviceaccount.com","host_filters":[],"is_cspm_enabled":true},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/095a6fd4-b396-4df9-a07f-6c8564b77aeb
    method: PATCH
  response:
    body: |
      {"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":true,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1685480167@test-project.iam.gserviceaccount.com","automute":true,"host_filters":[]},"id":"095a6fd4-b396-4df9-a07f-6c8564b77aeb"}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
