---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/aws/generate_new_external_id
        method: POST
      response:
        body: '{"data":{"id":"726ae1fc3ddb4afaacedff21fa4abdb6","type":"external_id","attributes":{"external_id":"726ae1fc3ddb4afaacedff21fa4abdb6"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 540.259833ms
