---
version: 1
interactions:
- request:
    body: |
      {"description":"some description about foo SLO","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722{type:good}.as_count()"},"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722"],"target_threshold":99.5,"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"},{"target":99,"timeframe":"90d"}],"timeframe":"7d","type":"metric","warning_threshold":99.8}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: |
      {"data":[{"id":"cb0eb0b7250e56b286aebe56dd21b1b9","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722","tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1673545723,"modified_at":1673545723}],"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?ids=cb0eb0b7250e56b286aebe56dd21b1b9
    method: GET
  response:
    body: |
      {"data":[{"id":"cb0eb0b7250e56b286aebe56dd21b1b9","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722","tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1673545723,"modified_at":1673545723}],"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/cb0eb0b7250e56b286aebe56dd21b1b9
    method: GET
  response:
    body: |
      {"data":{"id":"cb0eb0b7250e56b286aebe56dd21b1b9","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722","tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1673545723,"modified_at":1673545723},"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?query=tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722
    method: GET
  response:
    body: |
      {"data":[{"id":"cb0eb0b7250e56b286aebe56dd21b1b9","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722","tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1673545723,"modified_at":1673545723}],"error":null,"metadata":{"page":{"total_count":1,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?tags_query=tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722
    method: GET
  response:
    body: |
      {"data":[{"id":"cb0eb0b7250e56b286aebe56dd21b1b9","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722","tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1673545723,"modified_at":1673545723}],"error":null,"metadata":{"page":{"total_count":1,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?metrics_query=tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722
    method: GET
  response:
    body: |
      {"data":[{"id":"cb0eb0b7250e56b286aebe56dd21b1b9","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722","tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1673545722{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1673545723,"modified_at":1673545723}],"error":null,"metadata":{"page":{"total_count":1,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/cb0eb0b7250e56b286aebe56dd21b1b9
    method: GET
  response:
    body: '{"errors":["SLO not found: cb0eb0b7250e56b286aebe56dd21b1b9 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
