version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"archive_ids":[]},"type":"archive_order"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/logs/config/archive-order
    method: PUT
    id: 0
  response:
    body: '{"errors":["Missing order for archive FDhaAaBtQ9yXG41RPzHFzQ"]}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: "0ms"
[...]
