---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a policy","enabled":true,"hostTags":["host_name:test_host"],"name":"pspvjpjwqj"},"type":"policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
        method: POST
      response:
        body: '{"data":{"id":"ytz-t7j-wyb","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["host_name:test_host"]],"monitoringRulesCount":7,"name":"pspvjpjwqj","pinned":false,"policyVersion":"1","ruleCount":8,"updateDate":1761293060275,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 884.839654ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/ytz-t7j-wyb
        method: GET
      response:
        body: '{"data":{"id":"ytz-t7j-wyb","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTagsLists":[["host_name:test_host"]],"monitoringRulesCount":0,"name":"pspvjpjwqj","pinned":false,"policyVersion":"1","ruleCount":0,"updateDate":1761293060275,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.383226ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"actions":[{"hash":{},"set":{"append":false,"field":"exec.file.path","name":"test_action","scope":"process"}}],"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","name":"pspvjpjwqj","policy_id":"ytz-t7j-wyb","product_tags":["compliance_framework:PCI-DSS"]},"type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
        method: POST
      response:
        body: '{"data":{"id":"nqi-eyx-9u9","type":"agent_rule","attributes":{"actions":[{"hash":{},"set":{"name":"test_action","field":"exec.file.path","scope":"process","inherited":false},"disabled":false}],"category":"File Activity","creationDate":1761293062688,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["ytz-t7j-wyb"],"name":"pspvjpjwqj","product_tags":["compliance_framework:PCI-DSS"],"updateDate":1761293062688,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 656.717364ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/nqi-eyx-9u9?policy_id=ytz-t7j-wyb
        method: GET
      response:
        body: '{"data":{"id":"nqi-eyx-9u9","type":"agent_rule","attributes":{"actions":[{"hash":{},"set":{"name":"test_action","field":"exec.file.path","scope":"process","inherited":false},"disabled":false}],"category":"File Activity","creationDate":1761293062688,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["ytz-t7j-wyb"],"name":"pspvjpjwqj","product_tags":["compliance_framework:PCI-DSS"],"updateDate":1761293062688,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 347.381977ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"actions":[{"hash":{},"set":{"append":true,"name":"updated_action","scope":"container","value":"new_value"}}],"description":"updated agent rule for terraform provider test","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","policy_id":"ytz-t7j-wyb","product_tags":["compliance_framework:ISO-27799"]},"id":"nqi-eyx-9u9","type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/nqi-eyx-9u9
        method: PATCH
      response:
        body: '{"data":{"id":"nqi-eyx-9u9","type":"agent_rule","attributes":{"actions":[{"hash":{},"set":{"name":"updated_action","value":"new_value","append":true,"scope":"container","inherited":false},"disabled":false}],"category":"File Activity","creationDate":1761293062688,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"updated agent rule for terraform provider test","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["ytz-t7j-wyb"],"name":"pspvjpjwqj","product_tags":["compliance_framework:ISO-27799"],"updateDate":1761293066405,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 729.435ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"actions":[{"hash":{},"set":{"default_value":"abc","expression":"\"value_${builtins.uuid4}\"","inherited":true,"name":"updated_action","scope":"process"}}],"description":"updated agent rule for terraform provider test","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","policy_id":"ytz-t7j-wyb","product_tags":["compliance_framework:ISO-27799"]},"id":"nqi-eyx-9u9","type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/nqi-eyx-9u9
        method: PATCH
      response:
        body: '{"data":{"id":"nqi-eyx-9u9","type":"agent_rule","attributes":{"actions":[{"hash":{},"set":{"name":"updated_action","default_value":"abc","scope":"process","expression":"\"value_${builtins.uuid4}\"","inherited":true},"disabled":false}],"category":"File Activity","creationDate":1761293062688,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"updated agent rule for terraform provider test","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["ytz-t7j-wyb"],"name":"pspvjpjwqj","product_tags":["compliance_framework:ISO-27799"],"updateDate":1761293070509,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 651.213978ms
[...]
    - id: 22
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/nqi-eyx-9u9?policy_id=ytz-t7j-wyb
        method: GET
      response:
        body: |
            {"errors":[{"title":"failed to get rule"}]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 379.898271ms
