---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/17a2877d-5a77-406e-9039-9da24714936e/retention_filters
        method: GET
      response:
        body: '{"data":[{"id":"default_replays","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"Sessions with replays","query":"@session.has_replay:true","sample_rate":100},"meta":{"source":"default"}},{"id":"f019db04-dee5-4ee0-b9c4-fc70a1518732","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"tf-TestAccRumRetentionFilterAttributes-local-1742480427","query":"","sample_rate":25},"meta":{"source":"terraform"}},{"id":"4ab744fc-a2f8-4905-899f-d3d86950fba4","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"tf-TestAccRumRetentionFilterAttributes-local-1742480417","query":"@session.has_replay:true ","sample_rate":25},"meta":{"source":"terraform"}},{"id":"506c8d00-f3aa-4e23-b8c3-59dd5bd2edff","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"tf-TestAccRumRetentionFilterImport-local-1742581232","query":"","sample_rate":25},"meta":{"source":"terraform"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 116.926125ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"default_replays","type":"retention_filters"},{"id":"f019db04-dee5-4ee0-b9c4-fc70a1518732","type":"retention_filters"},{"id":"4ab744fc-a2f8-4905-899f-d3d86950fba4","type":"retention_filters"},{"id":"506c8d00-f3aa-4e23-b8c3-59dd5bd2edff","type":"retention_filters"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications/17a2877d-5a77-406e-9039-9da24714936e/relationships/retention_filters
        method: PATCH
      response:
        body: '{"data":[{"id":"default_replays","type":"retention_filters"},{"id":"f019db04-dee5-4ee0-b9c4-fc70a1518732","type":"retention_filters"},{"id":"4ab744fc-a2f8-4905-899f-d3d86950fba4","type":"retention_filters"},{"id":"506c8d00-f3aa-4e23-b8c3-59dd5bd2edff","type":"retention_filters"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 42.7745ms
[...]
