---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":["@1","@2"]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":["@3"]}],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTab_import-local-1773781052","widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
        body: '{"id":"52g-jax-2kg","title":"tf-TestAccDatadogDashboardTab_import-local-1773781052","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/52g-jax-2kg/tf-testaccdatadogdashboardtabimport-local-1773781052","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":694548869541197},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":2032293889866098},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":1174831779405268}],"notify_list":[],"created_at":"2026-03-17T20:57:33.629028+00:00","modified_at":"2026-03-17T20:57:33.629028+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[694548869541197,2032293889866098]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[1174831779405268]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 696.683416ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/52g-jax-2kg
        method: GET
      response:
        body: '{"id":"52g-jax-2kg","title":"tf-TestAccDatadogDashboardTab_import-local-1773781052","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/52g-jax-2kg/tf-testaccdatadogdashboardtabimport-local-1773781052","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":694548869541197},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":2032293889866098},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":1174831779405268}],"notify_list":[],"created_at":"2026-03-17T20:57:33.629028+00:00","modified_at":"2026-03-17T20:57:33.629028+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[694548869541197,2032293889866098]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[1174831779405268]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.76025ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/52g-jax-2kg
        method: DELETE
      response:
        body: '{"deleted_dashboard_id":"52g-jax-2kg"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 482.05075ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/52g-jax-2kg
        method: GET
      response:
        body: '{"errors":["Dashboard with ID 52g-jax-2kg not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 144.223083ms
