---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"lessThan","property":"avg","target":200,"type":"latency"}],"configVariables":[],"request":{"host":"www.datadoghq.com","numberOfPackets":2,"shouldTrackHops":true}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsICMPTest_Basic-local-1619592670","options":{"min_location_failed":1,"tick_every":60},"status":"paused","subtype":"icmp","tags":["foo:bar","baz"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"paused","public_id":"2yz-mtt-bqu","tags":["foo:bar","baz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","deleted_at":null,"name":"tf-TestAccDatadogSyntheticsICMPTest_Basic-local-1619592670","monitor_id":34560401,"type":"api","created_at":"2021-04-28T06:51:11.801016+00:00","modified_at":"2021-04-28T06:51:11.801016+00:00","subtype":"icmp","config":{"request":{"numberOfPackets":2,"host":"www.datadoghq.com","shouldTrackHops":true},"assertions":[{"operator":"lessThan","property":"avg","type":"latency","target":200}],"configVariables":[]},"options":{"min_location_failed":1,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      X-Dd-Version:
      - "35.4408204"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "49"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/2yz-mtt-bqu
    method: GET
  response:
    body: '{"status":"paused","public_id":"2yz-mtt-bqu","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsICMPTest_Basic-local-1619592670","monitor_id":34560401,"type":"api","subtype":"icmp","config":[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api/2yz-mtt-bqu
    method: GET
  response:
    body: '{"status":"paused","public_id":"2yz-mtt-bqu","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsICMPTest_Basic-local-1619592670","monitor_id":34560401,"type":"api","subtype":"icmp","config":[...]
- request:
    body: |
      {"public_ids":["2yz-mtt-bqu"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-04-28T06:51:13.304298+00:00","public_id":"2yz-mtt-bqu"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - "35.4408204"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "47"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/2yz-mtt-bqu
    method: GET
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4408204"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "992"
      X-Ratelimit-Reset:
      - "47"
    status: 404 Not Found
    code: 404
    duration: ""
