---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2TimeseriesLegendColumns_import-local-1772572429","widgets":[{"definition":{"legend_columns":["avg","max","min","sum","value"],"legend_layout":"auto","requests":[{"display_type":"bars","formulas":[{"formula":"query1"}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"title":"CPU Utilization with legend columns","type":"timeseries","yaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"}}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"afr-d56-ysp","title":"tf-TestAccDatadogDashboardV2TimeseriesLegendColumns_import-local-1772572429","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/afr-d56-ysp/tf-testaccdatadogdashboardv2timeserieslegendcolumnsimport-local-1772572429","template_variables":[],"widgets":[{"definition":{"legend_columns":["avg","max","min","sum","value"],"legend_layout":"auto","requests":[{"display_type":"bars","formulas":[{"formula":"query1"}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"title":"CPU Utilization with legend columns","type":"timeseries","yaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"}},"id":7633122778613783}],"notify_list":[],"created_at":"2026-03-03T21:13:55.817087+00:00","modified_at":"2026-03-03T21:13:55.817087+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.935708ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/afr-d56-ysp
        method: GET
      response:
            - chunked
        body: '{"id":"afr-d56-ysp","title":"tf-TestAccDatadogDashboardV2TimeseriesLegendColumns_import-local-1772572429","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layo[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/afr-d56-ysp
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"afr-d56-ysp"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.054375ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/afr-d56-ysp
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID afr-d56-ysp not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 264.946292ms
