---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"message":"tf-TestAccDatadogDowntime_DiffStart-local-1758619285","monitor_tags":["*"],"scope":["new:somescope"],"timezone":"UTC"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/downtime
        method: POST
      response:
            - chunked
        body: |
            {"id":5746496618,"monitor_id":null,"org_id":321813,"start":1758619287,"end":null,"canceled":null,"created":1758619287,"modified":1758619287,"message":"tf-TestAccDatadogDowntime_DiffStart-local-1758619285","active":true,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"29e4e0fb-f7e0-4dd4-9057-32db16d14039","scope":["new:somescope"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 350.358584ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/downtime/5746496618
        method: GET
      response:
            - chunked
        body: |
            {"id":5746496618,"monitor_id":null,"org_id":321813,"start":1758619287,"end":null,"canceled":null,"created":1758619287,"modified":1758619287,"message":"tf-TestAccDatadogDowntime_DiffStart-local-1758619285","active":true,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"29e4e0fb-f7e0-4dd4-9057-32db16d14039","scope":["new:somescope"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.605125ms
[...]
