---
version: 1
interactions:
- request:
    body: |
      {"description":"some description about foo SLO","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136{type:good}.as_count()"},"tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136"],"target_threshold":99.5,"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"},{"target":99,"timeframe":"90d"}],"timeframe":"7d","type":"metric","warning_threshold":99.8}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: |
      {"data":[{"id":"9d01281ec98557a0a99b249d9f52fca9","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1699286138,"modified_at":1699286138}],"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?ids=9d01281ec98557a0a99b249d9f52fca9
    method: GET
  response:
    body: |
      {"data":[{"id":"9d01281ec98557a0a99b249d9f52fca9","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1699286138,"modified_at":1699286138}],"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/9d01281ec98557a0a99b249d9f52fca9
    method: GET
  response:
    body: |
      {"data":{"id":"9d01281ec98557a0a99b249d9f52fca9","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1699286138,"modified_at":1699286138},"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136
    method: GET
  response:
    body: |
      {"data":[{"id":"9d01281ec98557a0a99b249d9f52fca9","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136"],"monitor[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/search?page%5Bnumber%5D=0&page%5Bsize%5D=100&query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136
    method: GET
  response:
    body: |
      {"data":{"type":"service_level_objective_search_results","attributes":{"slos":[{"data":{"type":"slo","attributes":{"team_tags":[],"slo_type":"metric","created_at":1699286142,"timeframe":"7d","modified_at":1699286142,"groups":null,"query":{"numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136{type:good}.as_count()","denominator":"sum:my.metric{*}.as_count()","metrics":null},"warning_threshold":99.8,"name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","thresholds":[{"target":99.5,"warning_display":"99.5","timeframe":"7d","warning":99.8,"target_display":"99.5"},{"target":99.0,"warning_display":null,"timeframe":"30d","warning":null,"target_display":"99"},{"target":99.0,"warning_display":null,"timeframe":"90d","warning":null,"target_display":"99"}],"description":"some description about foo SLO","target_threshold":99.5,"creator":{"id":1445416,"email":"frog@datadoghq.com","name":null},"monitor_ids":null,"env_tags":[],"all_tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136"],"service_tags":[]},"id":"63e4a48ba85b51d99508ea696f7f6749"}},{"data":{"type":"slo","attributes":{"team_tags":[],"slo_type":"metric","created_at":1699286138,"timeframe":"7d","modified_at":1699286138,"groups":null,"query":{"numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136{type:good}.as_count()","denominator":"sum:my.metric{*}.as_count()","metrics":null},"warning_threshold":99.8,"name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","thresholds":[{"target":99.5,"warning_display":"99.5","timeframe":"7d","warning":99.8,"target_display":"99.5"},{"target":99.0,"warning_display":null,"timeframe":"30d","warning":null,"target_display":"99"},{"target":99.0,"warning_display":null,"timeframe":"90d","warning":null,"target_display":"99"}],"description":"some description about foo SLO","target_threshold":99.5,"creator":{"id":1445416,"email":"frog@datadoghq.com","name":null},"monitor_ids":null,"env_tags":[],"all_tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136"],"service_tags":[]},"id":"9d01281ec98557a0a99b249d9f52fca9"}}]}},"meta":{"pagination":{"number":0,"first_number":0,"prev_number":0,"next_number":1,"last_number":0,"size":100,"type":"number_size","total":2}},"links":{"self":"https://api.datadoghq.com/api/v1/slo/search?page%5Bnumber%5D=0&page%5Bsize%5D=100&query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","last":null,"next":"https://api.datadoghq.com/api/v1/slo/search?query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136&page[number]=1&page[size]=100","prev":null,"first":"https://api.datadoghq.com/api/v1/slo/search?query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136&page[number]=0&page[size]=100"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?tags_query=foo%3Atf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136
    method: GET
  response:
    body: |
      {"data":[{"id":"9d01281ec98557a0a99b249d9f52fca9","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/search?page%5Bnumber%5D=0&page%5Bsize%5D=100&query=foo%3Atf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136
    method: GET
  response:
    body: |
      {"data":{"type":"service_level_objective_search_results","attributes":{"slos":[{"data":{"type":"slo","attributes":{"slo_type":"metric","groups":null,"timeframe":"7d","team_tags":[],"thresholds":[{"target":99.5,"warning":99.8,"warning_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?metrics_query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136
    method: GET
  response:
    body: |
      {"data":[{"id":"9d01281ec98557a0a99b249d9f52fca9","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136","tf_testaccdatadogservicelevelobjectivesdatasource_local_1699286136"],[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/9d01281ec98557a0a99b249d9f52fca9
    method: GET
  response:
    body: '{"errors":["SLO not found: 9d01281ec98557a0a99b249d9f52fca9 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
