---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTimeseriesSemanticMode_import-local-1773418630","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}","semantic_mode":"combined"}],"response_format":"timeseries"}],"show_legend":false,"title":"Timeseries with Semantic Mode Combined","type":"timeseries"}},{"definition":{"requests":[{"formulas":[{"formula":"query2"}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query2","query":"avg:system.cpu.user{*}","semantic_mode":"native"}],"response_format":"timeseries"}],"show_legend":false,"title":"Timeseries with Semantic Mode Native","type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"7sj-f76-gnf","title":"tf-TestAccDatadogDashboardTimeseriesSemanticMode_import-local-1773418630","description":"Created using the Datadog provider in Terraform","author_handle":"becca.jellinek@datadoghq.com","author_name":"Becca Jellinek","layout_type":"ordered","url":"/dashboard/7sj-f76-gnf/tf-testaccdatadogdashboardtimeseriessemanticmodeimport-local-1773418630","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}","semantic_mode":"combined"}],"response_format":"timeseries"}],"show_legend":false,"title":"Timeseries with Semantic Mode Combined","type":"timeseries"},"id":8115656712858039},{"definition":{"requests":[{"formulas":[{"formula":"query2"}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query2","query":"avg:system.cpu.user{*}","semantic_mode":"native"}],"response_format":"timeseries"}],"show_legend":false,"title":"Timeseries with Semantic Mode Native","type":"timeseries"},"id":2319136896236647}],"notify_list":[],"created_at":"2026-03-13T16:17:12.760306+00:00","modified_at":"2026-03-13T16:17:12.760306+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.797291ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/7sj-f76-gnf
        method: GET
      response:
            - chunked
        body: '{"id":"7sj-f76-gnf","title":"tf-TestAccDatadogDashboardTimeseriesSemanticMode_import-local-1773418630","description":"Created using the Datadog provider in Terraform","author_handle":"becca.jellinek@datadoghq.com","author_name":"Becca Jellinek","lay[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/7sj-f76-gnf
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"7sj-f76-gnf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 382.057208ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/7sj-f76-gnf
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID 7sj-f76-gnf not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 97.30975ms
