---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: '{"subdomain":"testdomain","schedules":["https://ddog.pagerduty.com/schedules/X123VF"],"api_token":"********************"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/pagerduty
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - text/html; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 349.297041ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers: {}
        url: https://api.datadoghq.com/api/v1/integration/pagerduty
        method: GET
      response:
            - chunked
        body: |
            {"services":[{"service_name":"tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_74909_1631710301_foo","service_key":"*****"},{"service_name":"tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_74909_1631710301_bar","service_key":"*****"},{"service_name":"tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_79995_1635873433_bar_2","service_key":"*****"},{"service_name":"java-lifecyclePagerDutyIntegrationTest-local-1636450824","service_key":"*****"},{"service_name":"Test-Go-TestPagerDutyLifecycle-1639138041","service_key":"*****"},{"service_name":"Test-Go-TestPagerDutyServicesUpdateErrors-1639502439_1[...]
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"service_key":"9876543210123456789","service_name":"tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_local_1758619108_foo"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services
        method: POST
      response:
            - chunked
        body: |
            {"service_name":"tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_local_1758619108_foo"}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 192.790916ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services/tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_local_1758619108_foo
        method: GET
      response:
            - chunked
        body: |
            {"service_name":"tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_local_1758619108_foo"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.772292ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services/tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_local_1758619108_bar
        method: GET
      response:
            - chunked
        body: |
            {"service_name":"tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_local_1758619108_bar"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.165209ms
[...]
    - id: 17
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services/tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_local_1758619108_foo_2
        method: GET
      response:
            - chunked
        body: |
            {"service_name":"tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_local_1758619108_foo_2"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.799291ms
[...]
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services/tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_local_1758619108_bar_2
        method: GET
      response:
            - chunked
        body: |
            {"service_name":"tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_local_1758619108_bar_2"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.883083ms
[...]
