---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"name":"tf-TestAccDatadogNotificationRuleVulnerabilityRuleSimple-local-1738676195","selectors":{"query":"simple:query","rule_types":["misconfiguration"],"severities":["critical"],"trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600},"type":"notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules
        method: POST
      response:
        body: '{"data":{"id":"u0i-anf-xja","type":"notification_rules","attributes":{"created_at":1738676198355,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1738676198355,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleVulnerabilityRuleSimple-local-1738676195","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 287.765875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/u0i-anf-xja
        method: GET
      response:
        body: '{"data":{"id":"u0i-anf-xja","type":"notification_rules","attributes":{"created_at":1738676198355,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1738676198355,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleVulnerabilityRuleSimple-local-1738676195","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 136.258291ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/u0i-anf-xja
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''u0i-anf-xja'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 135.566625ms
[...]
