---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSloList_import-local-1767989458","widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"xdr-fqs-ypb","title":"tf-TestAccDatadogDashboardSloList_import-local-1767989458","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xdr-fqs-ypb/tf-testaccdatadogdashboardslolistimport-local-1767989458","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"},"id":8061921802764407}],"notify_list":[],"created_at":"2026-01-09T20:10:59.554104+00:00","modified_at":"2026-01-09T20:10:59.554104+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.355333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xdr-fqs-ypb
        method: GET
      response:
            - chunked
        body: '{"id":"xdr-fqs-ypb","title":"tf-TestAccDatadogDashboardSloList_import-local-1767989458","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xdr-fqs-ypb/tf-testaccdatadogdashboardslolistimport-local-1767989458","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"},"id":8061921802764407}],"notify_list":[],"created_at":"2026-01-09T20:10:59.554104+00:00","modified_at":"2026-01-09T20:10:59.554104+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.225792ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xdr-fqs-ypb
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"xdr-fqs-ypb"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 520.236833ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xdr-fqs-ypb
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID xdr-fqs-ypb not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 85.281666ms
