---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/aws/iam_permissions/resource_collection
        method: GET
      response:
            - chunked
        body: '{"data":{"id":"permissions","type":"permissions","attributes":{"permissions":["account:GetContactInformation","amplify:ListApps","amplify:ListBackendEnvironments","amplify:ListBranches","amplify:ListDomainAssociations","amplify:ListJobs","amplify:ListWebhooks","aoss:BatchGetCollection","aoss:ListCollections","app-integrations:GetApplication","app-integrations:GetDataIntegration","app-integrations:ListApplicationAssociations","app-integrations:ListApplications","app-integrations:ListDataIntegrationAssociations","app-integrations:ListDataIntegrations","app-integrations:Lis[...]
[...]
