---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestDatadogApiKey_import-local-1627995076"},"type":"api_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAPIKey
    url: https://api.datadoghq.com/api/v2/api_keys
    method: POST
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-08-03T12:51:18.626465+00:00","key":"c2c89bcbfdb338d52266f6b28ccf5bd1","last4":"5bd1","modified_at":"2021-08-03T12:51:18.626465+00:00","name":"tf-TestDatadogApiKey_import-local-1627995076"},"relationships":{"created_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}},"modified_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}}},"id":"3dd7f0b8-864d-55e2-940c-0dd1d2a59634"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPIKey
    url: https://api.datadoghq.com/api/v2/api_keys/3dd7f0b8-864d-55e2-940c-0dd1d2a59634
    method: GET
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-08-03T12:51:18.626465+00:00","key":"c2c89bcbfdb338d52266f6b28ccf5bd1","last4":"5bd1","modified_at":"2021-08-03T12:51:18.626465+00:00","name":"tf-TestDatadogApiKey_import-local-1627995076"},"relationships":{"created_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}},"modified_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}}},"id":"3dd7f0b8-864d-55e2-940c-0dd1d2a59634"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/3dd7f0b8-864d-55e2-940c-0dd1d2a59634
    method: GET
  response:
    body: '{"errors": ["user not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
