---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/aws/logs/services
        method: GET
      response:
        body: '{"data":{"id":"logs_services","type":"logs_services","attributes":{"logs_services":["apigw-access-logs","apigw-execution-logs","appsync","batch","cloudfront","cloudtrail","codebuild","dms","docdb","ecs","eks","eks-container-insights","elb","elbv2","lambda","lambda-edge","mwaa","network-firewall","pcs","rds","redshift","redshift-serverless","route53","route53-resolver","s3","ssm","states","verified-access","vpc","vpn","waf"]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 134.336875ms
[...]
