version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Read+Only+Role
    method: GET
    id: 0
  response:
    body: |
      {"data":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00","user_count":4},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"1af86ce4-7823-11ea-93dc-d7cad1b1c6cb"},{"type":"permissions","id":"b382b982-8535-11ea-93de-2bf1bdf20798"},{"type":"permissions","id":"7314eb20-aa58-11ea-95e2-6fb6e4a451d5"},{"type":"permissions",[...]
[...]
- request:
    body: |
      {"data":{"attributes":{"attribute_key":"key_1","attribute_value":"value_1"},"relationships":{"role":{"data":{"id":"94172444-be03-11e9-a77a-db1879185210","type":"roles"}}},"type":"authn_mappings"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/authn_mappings
    method: POST
    id: 2
  response:
    body: |
      {"data":{"type":"authn_mappings","id":"8a7bc3b8-beb1-11ed-8f2d-da7ad0900002","attributes":{"attribute_key":"key_1","attribute_value":"value_1","created_at":"2023-03-09T19:35:26.020009+00:00","modified_at":"2023-03-09T19:35:26.020009+00:00"},"relationships":{"role":{"data":{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210"}}}},"included":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/authn_mappings/8a7bc3b8-beb1-11ed-8f2d-da7ad0900002
    method: GET
    id: 3
  response:
    body: |
      {"data":{"type":"authn_mappings","id":"8a7bc3b8-beb1-11ed-8f2d-da7ad0900002","attributes":{"attribute_key":"key_1","attribute_value":"value_1","created_at":"2023-03-09T19:35:26.020009+00:00","modified_at":"2023-03-09T19:35:26.020009+00:00"},"relationships":{"role":{"data":{"type":"roles","id":"94172[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/authn_mappings/8a7bc3b8-beb1-11ed-8f2d-da7ad0900002
    method: DELETE
    id: 10
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
    code: 204
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/authn_mappings/8a7bc3b8-beb1-11ed-8f2d-da7ad0900002
    method: GET
    id: 11
  response:
    body: '{"errors":["Mapping with id 8a7bc3b8-beb1-11ed-8f2d-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
