---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"domain_prefix":"tfspd6d67dfb81","name":"tf-sp-d6d67dfb81","type":"internal","visualization_type":"bars_only"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"c80119cd-0ee9-4ad6-b62f-0096f2809d29","type":"status_pages","attributes":{"company_logo":null,"components":[],"created_at":"2026-08-14T17:53:45.660891Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"tfspd6d67dfb81","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-14T17:53:45.660891Z","name":"tf-sp-d6d67dfb81","page_url":"https://us5.datadoghq.com/status-pages/c80119cd-0ee9-4ad6-b62f-0096f2809d29/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_only"},"relationships":{"created_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}},"last_modified_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.642571083s
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"tf-sp-d6d67dfb81-c1","position":0,"type":"component"},{"name":"tf-sp-d6d67dfb81-c2","position":1,"type":"component"}],"name":"tf-sp-d6d67dfb81-group","position":0,"type":"group"},"type":"components"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/c80119cd-0ee9-4ad6-b62f-0096f2809d29/components
        method: POST
      response:
        body: '{"data":{"id":"d2f1e578-c236-458f-ac6d-6ec6f6a32fc1","type":"components","attributes":{"components":[{"id":"1af35c4f-495e-4247-991b-d60a894cb45b","name":"tf-sp-d6d67dfb81-c1","type":"component","status":"operational","position":0},{"id":"e6de53a6-3113-4e00-99f5-5c8a0d4fafb8","name":"tf-sp-d6d67dfb81-c2","type":"component","status":"operational","position":1}],"created_at":"2026-08-14T17:53:47.321465Z","modified_at":"2026-08-14T17:53:47.321465Z","name":"tf-sp-d6d67dfb81-group","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}},"status_page":{"data":{"id":"c80119cd-0ee9-4ad6-b62f-0096f2809d29","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 123.252708ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/c80119cd-0ee9-4ad6-b62f-0096f2809d29
        method: GET
      response:
        body: '{"data":{"id":"c80119cd-0ee9-4ad6-b62f-0096f2809d29","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"d2f1e578-c236-458f-ac6d-6ec6f6a32fc1","name":"tf-sp-d6d67dfb81-group","type":"group","position":0,"components":[{"[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/c80119cd-0ee9-4ad6-b62f-0096f2809d29/components/d2f1e578-c236-458f-ac6d-6ec6f6a32fc1
        method: GET
      response:
        body: '{"data":{"id":"d2f1e578-c236-458f-ac6d-6ec6f6a32fc1","type":"components","attributes":{"components":[{"id":"1af35c4f-495e-4247-991b-d60a894cb45b","name":"tf-sp-d6d67dfb81-c1","type":"component","status":"operational","position":0},{"id":"e6de53a6-3113-4e00-99f5-5c8a0d4fafb8","name":"tf-sp-d6d67dfb81-c2","type":"component","status":"operational","position":1}],"created_at":"2026-08-14T17:53:47.321465Z","modified_at":"2026-08-14T17:53:47.321465Z","name":"tf-sp-d6d67dfb81-group","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}},"status_page":{"data":{"id":"c80119cd-0ee9-4ad6-b62f-0096f2809d29","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 149.040667ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/c80119cd-0ee9-4ad6-b62f-0096f2809d29/components/d2f1e578-c236-458f-ac6d-6ec6f6a32fc1
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 102.29325ms
