---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplication_Basic-local-1758619266","type":"browser"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"hash":"pubcff4f2b30ee7daecfe723f01582fb93a","created_at":1758619267128,"updated_by_handle":"frog@datadoghq.com","name":"tf-TestAccDatadogRUMApplication_Basic-local-1758619266","created_by_handle":"frog@datadoghq.com","application_id":"be68470a-9678-4fea-9862-68cf9abed662","org_id":321813,"ootb_metrics_installed":false,"client_token":"pubcff4f2b30ee7daecfe723f01582fb93a","is_active":false,"short_name":"tf_testaccdatadogrumapplication__488","type":"browser","api_key_id":652582,"product_analytics_replay_sample_rate":100,"tags":[],"product_scales":{"product_analytics_retention_scale":{"last_modified_at":1758619267128,"state":"NONE"},"rum_event_processing_scale":{"last_modified_at":1758619267128,"state":"ALL"}},"updated_at":1758619267128},"id":"be68470a-9678-4fea-9862-68cf9abed662"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 607.531083ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/be68470a-9678-4fea-9862-68cf9abed662
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"name":"tf-TestAccDatadogRUMApplication_Basic-local-1758619266","api_key_id":652582,"created_by_handle":"frog@datadoghq.com","hash":"pubcff4f2b30ee7daecfe723f01582fb93a","tags":[],"ootb_metrics_installed":false,"is_active":false,"org_id":321813,"type":"browser","created_at":1758619267128,"application_id":"be68470a-9678-4fea-9862-68cf9abed662","updated_at":1758619267128,"short_name":"tf_testaccdatadogrumapplication__488","updated_by_handle":"frog@datadoghq.com","client_token":"pubcff4f2b30ee7daecfe723f01582fb93a","product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1758619267128},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1758619267128}},"product_analytics_replay_sample_rate":100},"id":"be68470a-9678-4fea-9862-68cf9abed662"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.494625ms
[...]
