---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1740563709","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"e6t-3ad-3y8","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1740563709","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/e6t-3ad-3y8/tf-testaccdatadogdashboardrbaccreateopen-local-1740563709","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":7342337628128255}],"notify_list":[],"created_at":"2025-02-26T09:55:12.415941+00:00","modified_at":"2025-02-26T09:55:12.415941+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 605.668583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/e6t-3ad-3y8
        method: GET
      response:
            - chunked
        body: |
            {"id":"e6t-3ad-3y8","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1740563709","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/e6t-3ad-3y8/tf-testaccdatadogdashboardrbaccreateopen-local-1740563709","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":7342337628128255}],"notify_list":[],"created_at":"2025-02-26T09:55:12.415941+00:00","modified_at":"2025-02-26T09:55:12.415941+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.973291ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/e6t-3ad-3y8
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"e6t-3ad-3y8"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.549542ms
