---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguserdatasourcewithexactmatcherror-local-1768840994@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"29cbfdcf-2bd3-4aba-9a59-d1e22e516c82","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourcewithexactmatcherror-local-1768840994@example.com","created_at":"2026-01-19T16:43:16.657534+00:00","modified_at":"2026-01-19T16:43:16.657534+00:00","email":"tf-testaccdatadoguserdatasourcewithexactmatcherror-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/61020e6a76e4772a41f9b7a92bd6a9e6?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 824.30875ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/29cbfdcf-2bd3-4aba-9a59-d1e22e516c82
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"29cbfdcf-2bd3-4aba-9a59-d1e22e516c82","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourcewithexactmatcherror-local-1768840994@example.com","created_at":"2026-01-19T16:43:16.657534+00:00","modified_at":"2026-01-19T16:43:16.657534+00:00","email":"tf-testaccdatadoguserdatasourcewithexactmatcherror-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/61020e6a76e4772a41f9b7a92bd6a9e6?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.681334ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguserdatasourcewithexactmatcherror-local-1768840994%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"c0ed047d-e60b-4887-9a67-276f975179ea","attributes":{"name":"","handle":"othertf-testaccdatadoguserdatasourcewithexactmatcherror-loca[...]
[...]
