---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1749435245","name":"team-tf-testacconcallschedulecreateandupdate-local-1749435245"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"5750ee46-0641-4ec5-84b4-5901a3fa257e","attributes":{"name":"team-tf-testacconcallschedulecreateandupdate-local-1749435245","handle":"team-tf-testacconcallschedulecreateandupdate-local-1749435245","summary":"Description","description":"Description","avatar":null,"banner":6,"visible_modules":[],"hidden_modules":[],"created_at":"2025-06-09T02:14:07.966844+00:00","modified_at":"2025-06-09T02:14:07.966874+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5750ee46-0641-4ec5-84b4-5901a3fa257e/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5750ee46-0641-4ec5-84b4-5901a3fa257e/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 913.734667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1749435245@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"6ce18c05-44d7-11f0-adf4-62ae9012bf65","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1749435245@example.com","created_at":"2025-06-09T02:14:08.386387+00:00","modified_at":"2025-06-09T02:14:08.386387+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1749435245@example.com","icon":"https://secure.gravatar.com/avatar/747a43058b9324faa72531e936acbe9a?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.23437775s
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"6ce18c05-44d7-11f0-adf4-62ae9012bf65","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"6d35a52c-44d7-11f0-b058-da7ad0900002","attributes":{"uuid":"6d35a52c-44d7-11f0-b058-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-06-09T02:14:08.936645+00:00","expires_at":"2025-06-11T02:14:08.761439+00:00"},"relationships":{"user":{"data":{"type":"users","id":"6ce18c05-44d7-11f0-adf4-62ae9012bf65"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 600.744459ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00-08:00","end_date":"2026-01-01T00:00:00+05:00","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"6ce18c05-44d7-11f0-adf4-62ae9012bf65"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00-09:00"}],"name":"tf-testacconcallschedulecreateandupdate-local-1749435245","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"5750ee46-0641-4ec5-84b4-5901a3fa257e","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"423b892b-396c-48b1-86f6-a5513840abd2","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1749435245","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"0c816d95-9766-465c-b2d1-c7c518a13cc7","type":"layers"}]},"teams":{"data":[{"id":"5750ee46-0641-4ec5-84b4-5901a3fa257e","type":"teams"}]}}},"included":[{"id":"0c816d95-9766-465c-b2d1-c7c518a13cc7","type":"layers","attributes":{"effective_date":"2025-01-01T00:00:00-08:00","end_date":"2026-01-01T00:00:00+05:00","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00-09:00"},"relationships":{"members":{"data":[{"id":"0c816d95-9766-465c-b2d1-c7c518a13cc7-member-1","type":"members"},{"id":"0c816d95-9766-465c-b2d1-c7c518a13cc7-member-2","type":"members"}]}}},{"id":"0c816d95-9766-465c-b2d1-c7c518a13cc7-member-1","type":"members","relationships":{"user":{"data":{"id":"6ce18c05-44d7-11f0-adf4-62ae9012bf65","type":"users"}}}},{"id":"6ce18c05-44d7-11f0-adf4-62ae9012bf65","type":"users","attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1749435245@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 242.287375ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/6ce18c05-44d7-11f0-adf4-62ae9012bf65
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"6ce18c05-44d7-11f0-adf4-62ae9012bf65","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1749435245@example.com","created_at":"2025-06-09T02:14:08.386387+00:00","modified_at":"2025-06-09T02:14:08.386387+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1749435245@example.com","icon":"https://secure.gravatar.com/avatar/747a43058b9324faa72531e936acbe9a?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 262.483167ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/5750ee46-0641-4ec5-84b4-5901a3fa257e
        method: GET
      response:
        body: '{"data":{"id":"5750ee46-0641-4ec5-84b4-5901a3fa257e","type":"team","attributes":{"created_at":"2025-06-09T02:14:07.966844+00:00","description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1749435245","is_managed":false,"link_count":0,"modified_at":"2025-06-09T02:14:07.966874+00:00","name":"team-tf-testacconcallschedulecreateandupdate-local-1749435245","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/5750ee46-0641-4ec5-84b4-5901a3fa257e/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/5750ee46-0641-4ec5-84b4-5901a3fa257e/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 265.16ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/423b892b-396c-48b1-86f6-a5513840abd2?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"423b892b-396c-48b1-86f6-a5513840abd2","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1749435245","time_zone":"America/New_York"},"relationships":{[...]
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/423b892b-396c-48b1-86f6-a5513840abd2
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 230.027042ms
[...]
