---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"bulk_index":"logs-datastream","id":"opensearch-dest-1","inputs":["source-1"],"type":"opensearch"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"opensearch pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"ec9d1c44-985d-11f0-b356-da7ad0900002","type":"pipelines","attributes":{"name":"opensearch pipeline","config":{"destinations":[{"bulk_index":"logs-datastream","id":"opensearch-dest-1","inputs":["source-1"],"type":"opensearch"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 513.086791ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/ec9d1c44-985d-11f0-b356-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"ec9d1c44-985d-11f0-b356-da7ad0900002","type":"pipelines","attributes":{"name":"opensearch pipeline","config":{"destinations":[{"bulk_index":"logs-datastream","id":"opensearch-dest-1","inputs":["source-1"],"type":"opensearch"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 271.970625ms
[...]
