---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test rule description","enabled":true,"level":1,"name":"tf-TestAccDatadogScorecardRule_Basic-local-1778786897","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Basic-local-1778786897-scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scorecard/rules
        method: POST
      response:
        body: '{"data":{"id":"1d9dqhulhitd9usu","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Basic-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.35684215Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-05-14T19:28:19.35684215Z","name":"tf-TestAccDatadogScorecardRule_Basic-local-1778786897","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Basic-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"1d9dqhulhitd9usu","type":"policy-scope"}},"scorecard":{"data":{"id":"Eu5-gXbdJJKN","type":"scorecard"}}}},"included":[{"id":"1d9dqhulhitd9usu","type":"policy-scope","attributes":{"scopes":[{"kind":"service","query":"has_definition:\"true\""},{"kind":"queue","query":"has_definition:\"true\""},{"kind":"datastore","query":"has_definition:\"true\""}]}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 576.064ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=1d9dqhulhitd9usu&page%5Bsize%5D=1
        method: GET
      response:
        body: '{"data":[{"id":"1d9dqhulhitd9usu","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Basic-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.356842Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-05-14T19:28:19.356842Z","name":"tf-TestAccDatadogScorecardRule_Basic-local-1778786897","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Basic-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"1d9dqhulhitd9usu","type":"policy-scope"}},"scorecard":{"data":{"id":"Eu5-gXbdJJKN","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=1d9dqhulhitd9usu\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 45.251334ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Updated description","enabled":false,"level":2,"name":"tf-TestAccDatadogScorecardRule_Basic-local-1778786897","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Basic-local-1778786897-scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scor[...]
[...]
