---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"end":1768839213,"message":"tf-TestAccDatadogDowntime_BasicNoRecurrence-local-1768832013","monitor_tags":["*"],"scope":["host:NoRecurrence"],"start":1768835613,"timezone":"UTC"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/downtime
        method: POST
      response:
            - chunked
        body: |
            {"id":6253331939,"monitor_id":null,"org_id":321813,"start":1768835613,"end":1768839213,"canceled":null,"created":1768832014,"modified":1768832014,"message":"tf-TestAccDatadogDowntime_BasicNoRecurrence-local-1768832013","active":false,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":1,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"cf40eb59-2b13-43e4-aec2-133240130602","scope":["host:NoRecurrence"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.906956458s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/downtime/6253331939
        method: GET
      response:
            - chunked
        body: |
            {"id":6253331939,"monitor_id":null,"org_id":321813,"start":1768835613,"end":1768839213,"canceled":null,"created":1768832014,"modified":1768832014,"message":"tf-TestAccDatadogDowntime_BasicNoRecurrence-local-1768832013","active":false,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":1,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"cf40eb59-2b13-43e4-aec2-133240130602","scope":["host:NoRecurrence"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.686292ms
[...]
