---
version: 2
interactions:
    - id: 0
      request:
        host: dd.datad0g.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"auth":{"client_id":"my-oauth-client-id","client_secret_key":"DESTINATION_DATABRICKS_ZEROBUS_OAUTH_CLIENT_SECRET"},"id":"databricks-zerobus-dest-1","ingestion_endpoint":"https://ingest.databricks.example.com/v1/logs","inputs":["source-1"],"table_name":"my_catalog.my_schema.my_table","type":"databricks_zerobus","unity_catalog_endpoint":"https://unity.databricks.example.com"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"databricks zerobus pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"8527e4d4-43f4-11f1-af28-da7ad0900001","type":"pipelines","attributes":{"name":"databricks zerobus pipeline","config":{"destinations":[{"auth":{"client_id":"my-oauth-client-id","client_secret_key":"DESTINATION_DATABRICKS_ZEROBUS_OAUTH_CLIENT_SECRET"},"id":"databricks-zerobus-dest-1","ingestion_endpoint":"https://ingest.databricks.example.com/v1/logs","inputs":["source-1"],"table_name":"my_catalog.my_schema.my_table","type":"databricks_zerobus","unity_catalog_endpoint":"https://unity.databricks.example.com"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.350409625s
    - id: 1
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://dd.datad0g.com/api/v2/obs-pipelines/pipelines/8527e4d4-43f4-11f1-af28-da7ad0900001
        method: GET
      response:
        body: |
            {"data":{"id":"8527e4d4-43f4-11f1-af28-da7ad0900001","type":"pipelines","attributes":{"name":"databricks zerobus pipeline","config":{"destinations":[{"auth":{"client_id":"my-oauth-client-id","client_secret_key":"DESTINATION_DATABRICKS_ZEROBUS_OAUTH_CLIENT_SECRET"},"id":"databricks-zerobus-dest-1","ingestion_endpoint":"https://ingest.databricks.example.com/v1/logs","inputs":["source-1"],"table_name":"my_catalog.my_schema.my_table","type":"databricks_zerobus","unity_catalog_endpoint":"https://unity.databricks.example.com"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 559.706792ms
[...]
