---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardDistribution-local-1615587207","widgets":[{"definition":{"legend_size":"2","requests":[{"q":"avg:system.cpu.user{account:prod} by {service,account}","style":{"palette":"purple"}}],"show_legend":true,"time":{"live_span":"1h"},"title":"Avg of system.cpu.user over account:prod by service,account","title_align":"left","title_size":"16","type":"distribution"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"tg8-bif-m8c","title":"tf-TestAccDatadogDashboardDistribution-local-1615587207","url":"/dashboard/tg8-bif-m8c/tf-testaccdatadogdashboarddistribution-local-1615587207","created_at":"2021-03-12T22:13:29.922982+00:00","modified_at":"2021-03-12T22:13:29.922982+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Avg of system.cpu.user over account:prod by service,account","title_align":"left","show_legend":true,"time":{"live_span":"1h"},"legend_size":"2","type":"distribution","requests":[{"q":"avg:system.cpu.user{account:prod} by {service,account}","style":{"palette":"purple"}}]},"id":7626171845985683}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/tg8-bif-m8c
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"tg8-bif-m8c","title":"tf-TestAccDatadogDashboardDistribution-local-1615587207","url":"/dashboard/tg8-bif-m8c/tf-testaccdatadogdashboarddistribution-local-1615587207","created_at":"2021-03-12T22:13:29.922982+00:00","modified_at":"2021-03-12T22:13:29.922982+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Avg of system.cpu.user over account:prod by service,account","title_align":"left","show_legend":true,"time":{"live_span":"1h"},"legend_size":"2","type":"distribution","requests":[{"q":"avg:system.cpu.user{account:prod} by {service,account}","style":{"palette":"purple"}}]},"id":7626171845985683}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/tg8-bif-m8c
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"tg8-bif-m8c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/tg8-bif-m8c
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID tg8-bif-m8c not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
