---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"some updated description about foo SLO","name":"tf-TestAccDatadogSloCorrection_Updated-local-1775814616","query":{"denominator":"sum:my.metric{type:good}.as_count() + sum:my.metric{type:bad}.as_count()","numerator":"sum:my.metric{type:good}.as_count()"},"tags":["foo:bar","baz"],"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":98,"timeframe":"30d","warning":99},{"target":99.9,"timeframe":"90d"}],"type":"metric"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/slo
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"id":"3bf302e4561e5fe486bd22bc56e75067","name":"tf-TestAccDatadogSloCorrection_Updated-local-1775814616","tags":["baz","foo:bar"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":98.0,"target_display":"98.","warning":99.0,"warning_display":"99."},{"timeframe":"90d","target":99.9,"target_display":"99.9"}],"type":"metric","type_id":1,"description":"some updated description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{type:good}.as_count() + sum:my.metric{type:bad}.as_count()","numerator":"sum:my.metric{type:good}.as_count()"},"creator":{"name":"Francesco Pighi","handle":"francesco.pighi@datadoghq.com","email":"francesco.pighi@datadoghq.com"},"created_at":1775814619,"modified_at":1775814619,"sli_specification":{"count":{"queries":[{"data_source":"metrics","name":"query1","query":"sum:my.metric{type:good}.as_count()"},{"data_source":"metrics","name":"query2","query":"sum:my.metric{type:bad}.as_count()"}],"good_events_formula":{"formula":"query1"},"total_events_formula":{"formula":"(query1 + query2)"}}}}],"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 497.527458ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"category":"Scheduled Maintenance","description":"test correction on slo tf-TestAccDatadogSloCorrection_Updated-local-1775814616","end":1775829016,"slo_id":"3bf302e4561e5fe486bd22bc56e75067","start":1775818216,"timezone":"UTC"},"type":"correction"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/slo/correction
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"correction","id":"af5b095c-34c2-11f1-bb1b-da7ad0902002","attributes":{"slo_id":"3bf302e4561e5fe486bd22bc56e75067","start":1775818216,"end":1775829016,"description":"test correction on slo tf-TestAccDatadogSloCorrection_Updated-local-1775814616","category":"Scheduled Maintenance","timezone":"UTC","created_at":null,"modified_at":null,"rrule":null,"duration":null,"creator":{"data":{"type":"users","id":"48e5159f-e308-11ef-bcfc-2666505bfd8f","attributes":{"uuid":"48e5159f-e308-11ef-bcfc-2666505bfd8f","handle":"francesco.pighi@datadoghq.com","email":"francesco.pighi@datadoghq.com","name":"Francesco Pighi","icon":"https://secure.gravatar.com/avatar/54aa49f4b855e62d827e32c0ae6d4bb9?s=48&d=retro"}}},"modifier":null}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.15725ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/correction/af5b095c-34c2-11f1-bb1b-da7ad0902002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"correction","id":"af5b095c-34c2-11f1-bb1b-da7ad0902002","attributes":{"slo_id":"3bf302e4561e5fe486bd22bc56e75067","start":1775818216,"end":1775829016,"description":"test correction on slo tf-TestAccDatadogSloCorrection_Updated-local-1775814616","category":"Scheduled Maintenance","timezone":"UTC","created_at":1775814619,"modified_at":1775814619,"rrule":null,"duration":null,"creator":{"data":{"type":"users","id":"48e5159f-e308-11ef-bcfc-2666505bfd8f","attributes":{"uuid":"48e5159f-e308-11ef-bcfc-2666505bfd8f","handle":"francesco.pighi@datadoghq.com","email":"francesco.pighi@datadoghq.com","name":"Francesco Pighi","icon":"https://secure.gravatar.com/avatar/54aa49f4b855e62d827e32c0ae6d4bb9?s=48&d=retro"}}},"modifier":null}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.419541ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/ef53f90ce6db53a2b5c58d14192a29f7
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"ef53f90ce6db53a2b5c58d14192a29f7","name":"tf-TestAccDatadogSloCorrection_Recurring-local-1775814616","tags":["foo:bar","baz"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display"[...]
[...]
    - id: 14
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/correction/af5eb8c2-34c2-11f1-a6d1-da7ad0902002
        method: GET
      response:
            - chunked
        body: '{"errors":["slo correction public id af5eb8c2-34c2-11f1-a6d1-da7ad0902002 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 167.017334ms
