---
version: 1
interactions:
- request:
    body: |
      {"auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","auth_uri":"https://accounts.google.com/o/oauth2/auth","automute":false,"client_email":"tf-TestAccDatadogIntegrationGCP-local-1626979991@awesome-project-id.iam.gserviceaccount.com","client_id":"123456789012345678901","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/tf-TestAccDatadogIntegrationGCP-local-1626979991@awesome-project-id.iam.gserviceaccount.com","host_filters":"foo:bar,buzz:lightyear","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","private_key_id":"1234567890123456789012345678901234567890","project_id":"tf-TestAccDatadogIntegrationGCP-local-1626979991","token_uri":"https://accounts.google.com/o/oauth2/token","type":"service_account"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGCPIntegration
    url: https://api.datadoghq.com/api/v1/integration/gcp
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListGCPIntegration
    url: https://api.datadoghq.com/api/v1/integration/gcp
    method: GET
  response:
    body: '[{"automute":false,"project_id":"Test-Go-TestGCPCreate-1621436722","client_email":"Test-Go-TestGCPCreate-1621436722@fake-sandbox.iam.gserviceaccount.com","errors":[],"host_filters":"fake:tag,example:test"},{"automute":false,"project_id":"Test-Go-TestGCPListandDelete-1621436723","client_email":"Test-Go-TestGCPListandDelete-1621436723@fake-sandbox.iam.gserviceaccount.com","errors":[],"host_filters":"fake:tag,example:test"},{"automute":false,"project_id":"Test-Go-TestGCPListandDelete-1621436948","client_email":"Test-Go-TestGCPListandDelete-1621436948@fake-sandbox.iam.gserviceaccount.com","errors":[],"host_filters":"fake:tag,example:test"},{"automute":true,"p[...]
[...]
