---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"Disposable monitor for deployment gate rule options test.","name":"Terraform deployment gate CRUD tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":false,"thresholds":{}},"priority":null,"query":"avg(last_5m):avg:system.cpu.user{service:tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257} by {host} \u003e 100","restricted_roles":null,"tags":["env:staging","service:tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257"],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.901042ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"Disposable monitor for deployment gate rule options test.","name":"Terraform deployment gate CRUD tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":false,"thresholds":{}},"priority":null,"query":"avg(last_5m):avg:system.cpu.user{service:tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257} by {host} \u003e 100","restricted_roles":null,"tags":["env:staging","service:tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257"],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
        body: |
            {"id":34858926,"org_id":2,"type":"metric alert","name":"Terraform deployment gate CRUD tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257","message":"Disposable monitor for deployment gate rule options test.","tags":["env:staging","service:tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257"],"query":"avg(last_5m):avg:system.cpu.user{service:tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257} by {host} > 100","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":false,"notify_audit":false,"silenced":{},"avalanche_window":10},"multi":true,"created_at":1791543261000,"created":"2026-10-09T10:54:21.036327+00:00","modified":"2026-10-09T10:54:21.036327+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com","email":"aaron.hoffman@datadoghq.com","id":419945},"run_as":null,"restricted":false}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 517.101417ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"_metadata":{"created_from":"terraform"},"attributes":{"dry_run":true,"env":"staging","identifier":"tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257","service":"tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"3d66f80c-ff09-4c9d-a098-f106f849c1cb","type":"deployment_gate","attributes":{"created_at":"2026-10-09T10:54:21.458372Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"env":"staging","identifier":"tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257","service":"tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257","updated_at":"2026-10-09T10:54:21.458372Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 144.024875ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"_metadata":{"created_from":"terraform"},"attributes":{"dry_run":true,"name":"resource-selection","options":{"allowed_resources":["GET /v1/health"],"duration":900},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/3d66f80c-ff09-4c9d-a098-f106f849c1cb/rules
        method: POST
      response:
        body: '{"data":{"id":"68b6bd5a-0966-4b8e-a414-1fc1f6025b8d","type":"deployment_rule","attributes":{"created_at":"2026-10-09T10:54:21.6128Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"gate_id":"3d66f80c-ff09-4c9d-a098-f106f849c1cb","name":"resource-selection","options":{"duration":900,"excluded_resources":[],"allowed_resources":["GET /v1/health"]},"type":"faulty_deployment_detection","updated_at":"2026-10-09T10:54:21.6128Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 145.415292ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"_metadata":{"created_from":"terraform"},"attributes":{"dry_run":true,"name":"monitor-query","options":{"duration":300,"fail_on_no_data":false,"fail_on_no_groups_found":true,"query":"service:tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257 env:staging","warmup":0},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/3d66f80c-ff09-4c9d-a098-f106f849c1cb/rules
        method: POST
      response:
        body: '{"data":{"id":"f4671376-b853-4f65-8095-e9a99f40a277","type":"deployment_rule","attributes":{"created_at":"2026-10-09T10:54:21.771777Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"gate_id":"3d66f80c-ff09-4c9d-a098-f106f849c1cb","name":"monitor-query","options":{"query":"service:tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257 env:staging","duration":300,"fail_on_no_groups_found":true,"fail_on_no_data":false},"type":"monitor","updated_at":"2026-10-09T10:54:21.771777Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 184.216583ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"_metadata":{"created_from":"terraform"},"attributes":{"dry_run":true,"name":"monitor-id-selection","options":{"duration":300,"fail_on_no_data":true,"fail_on_no_groups_found":false,"monitor_ids":[{"groups":[],"id":"34858926"}],"warmup":5},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/3d66f80c-ff09-4c9d-a098-f106f849c1cb/rules
        method: POST
      response:
        body: '{"data":{"id":"69f3907d-6450-4b29-9399-b67b08183131","type":"deployment_rule","attributes":{"created_at":"2026-10-09T10:54:21.949225Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"gate_id":"3d66f80c-ff09-4c9d-a098-f106f849c1cb","name":"monitor-id-selection","options":{"monitor_ids":[{"id":"34858926","groups":[]}],"duration":300,"warmup":5,"fail_on_no_data":true},"type":"monitor","updated_at":"2026-10-09T10:54:21.949225Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 145.089375ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/3d66f80c-ff09-4c9d-a098-f106f849c1cb
        method: GET
      response:
        body: '{"data":{"id":"3d66f80c-ff09-4c9d-a098-f106f849c1cb","type":"deployment_gate","attributes":{"created_at":"2026-10-09T10:54:21.458372Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"env":"staging","identifier":"tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257","service":"tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257","updated_at":"2026-10-09T10:54:21.458372Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 135.676125ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/3d66f80c-ff09-4c9d-a098-f106f849c1cb/rules
        method: GET
      response:
        body: '{"data":{"id":"3d66f80c-ff09-4c9d-a098-f106f849c1cb","type":"list_deployment_rules","attributes":{"rules":[{"id":"68b6bd5a-0966-4b8e-a414-1fc1f6025b8d","name":"resource-selection","type":"faulty_deployment_detection","dry_run":true,"created_at":"2026-10-09T10:54:21.6128Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2026-10-09T10:54:21.6128Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"3d66f80c-ff09-4c9d-a098-f106f849c1cb","[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"Disposable monitor for deployment gate rule options test.","name":"Terraform deployment gate CRUD tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":false,"thresholds":{}},"priority":null,"query":"avg(last_5m):avg:system.cpu.user{service:tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257} by {host} \u003e 100","restricted_roles":null,"tags":["env:staging","service:tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257"],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/34858926/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.290333ms
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/34858926?with_assets=true
        method: GET
      response:
        body: |
            {"id":34858926,"org_id":2,"type":"metric alert","name":"Terraform deployment gate CRUD tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257","message":"Disposable monitor for deployment gate rule options test.","tags":["env:staging","service:tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257"],"query":"avg(last_5m):avg:system.cpu.user{service:tf-dg-tf-TestAccDeploymentGateRuleOptionsCRUD-local-1791543257} by {host} > 100","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":false,"notify_audit":false,"silenced":{},"avalanche_window":10},"multi":true,"created_at":1791543261000,"created":"2026-10-09T10:54:21.036327+00:00","modified":"2026-10-09T10:54:21.036327+00:00","deleted":null,"priority":null,"restricted_roles":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Aaron Hoffman","email":"aaron.hoffman@datadoghq.com","handle":"aaron.hoffman@datadoghq.com","id":419945},"run_as":null,"restricted":false}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 269.731667ms
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":true,"name":"resource-selection","options":{"allowed_resources":["GET /v2/status"],"duration":1800}},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/3d66f80c-ff09-4c9d-a098-f106f849c1cb/rules/68b6bd5a-0966-4b8e-a414-1fc1f6025b8d
        method: PUT
      response:
        body: '{"data":{"id":"68b6bd5a-0966-4b8e-a414-1fc1f6025b8d","type":"deployment_rule","attributes":{"created_at":"2026-10-09T10:54:21.6128Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"gate_id":"3d66f80c-ff09-4c9d-a098-f106f849c1cb","name":"resource-selection","options":{"duration":1800,"excluded_resources":[],"allowed_resources":["GET /v2/status"]},"type":"faulty_deployment_detection","updated_at":"2026-10-09T10:54:25.960327Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 135.505042ms
[...]
    - id: 48
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/34858926
        method: DELETE
      response:
        body: |
            {"deleted_monitor_id":34858926}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 369.133208ms
[...]
