---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2BarChart-local-1775577167","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"scalar"}],"title":"Avg of system.cpu.user","type":"bar_chart"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"6j8-9dn-mnf","title":"tf-TestAccDatadogDashboardV2BarChart-local-1775577167","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/6j8-9dn-mnf/tf-testaccdatadogdashboardv2barchart-local-1775577167","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"scalar"}],"title":"Avg of system.cpu.user","type":"bar_chart"},"id":6868316285073736}],"notify_list":[],"created_at":"2026-04-07T15:52:49.866804+00:00","modified_at":"2026-04-07T15:52:49.866804+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.853667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/6j8-9dn-mnf
        method: GET
      response:
            - chunked
        body: '{"id":"6j8-9dn-mnf","title":"tf-TestAccDatadogDashboardV2BarChart-local-1775577167","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/6j8-9dn-mnf/tf-testaccdatadogdashboardv2barchart-local-1775577167","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"scalar"}],"title":"Avg of system.cpu.user","type":"bar_chart"},"id":6868316285073736}],"notify_list":[],"created_at":"2026-04-07T15:52:49.866804+00:00","modified_at":"2026-04-07T15:52:49.866804+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.750333ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/6j8-9dn-mnf
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"6j8-9dn-mnf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 900.2875ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/6j8-9dn-mnf
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID 6j8-9dn-mnf not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 100.923541ms
