---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["tag-cardinality-limit-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"tag-cardinality-limit-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"tag-cardinality-limit-processor","include":"*","limit_exceeded_action":"drop_tag","per_metric_limits":[{"limit_exceeded_action":"drop_tag","metric_name":"request.count","mode":"tracked","per_tag_limits":[{"mode":"limit_override","tag_key":"env","value_limit":50}],"value_limit":1000}],"type":"tag_cardinality_limit","value_limit":5000}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"tag cardinality limit processor test (rich)"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"67c8c660-5592-11f1-a164-da7ad0900001","type":"pipelines","attributes":{"name":"tag cardinality limit processor test (rich)","config":{"destinations":[{"id":"destination-1","inputs":["tag-cardinality-limit-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"tag-cardinality-limit-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"tag-cardinality-limit-processor","include":"*","limit_exceeded_action":"drop_tag","per_metric_limits":[{"limit_exceeded_action":"drop_tag","metric_name":"request.count","mode":"tracked","per_tag_limits":[{"mode":"limit_override","tag_key":"env","value_limit":50}],"value_limit":1000}],"type":"tag_cardinality_limit","value_limit":5000}]}],"processors":[{"enabled":true,"id":"tag-cardinality-limit-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"tag-cardinality-limit-processor","include":"*","limit_exceeded_action":"drop_tag","per_metric_limits":[{"limit_exceeded_action":"drop_tag","metric_name":"request.count","mode":"tracked","per_tag_limits":[{"mode":"limit_override","tag_key":"env","value_limit":50}],"value_limit":1000}],"type":"tag_cardinality_limit","value_limit":5000}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 342.779394ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/67c8c660-5592-11f1-a164-da7ad0900001
        method: GET
      response:
        body: |
            {"data":{"id":"67c8c660-5592-11f1-a164-da7ad0900001","type":"pipelines","attributes":{"name":"tag cardinality limit processor test (rich)","config":{"destinations":[{"id":"destination-1","inputs":["tag-cardinality-limit[...]
[...]
