---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"UTC","monitor_identifier":{"monitor_tags":["cat:hat"]},"mute_first_recovery_notification":false,"schedule":{"end":null,"start":"2050-01-02T03:04:05Z"},"scope":"env:tf-TestAccDowntimeScheduleChanged-local-1690392881"},"type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime
    method: POST
  response:
    body: |
      {"data":{"type":"downtime","id":"b56d60ea-2bda-11ee-802e-da7ad0900002","relationships":{"monitor":{"data":null},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"attributes":{"notify_end_states":["warn","no data","alert"],"canceled":null,"status":"scheduled","scope":"env:tf-TestAccDowntimeScheduleChanged-local-1690392881","modified":"2023-07-26T17:34:44.176107+00:00","display_timezone":"UTC","created":"2023-07-26T17:34:44.176107+00:00","notify_end_types":["expired"],"schedule":{"start":"2050-01-02T03:04:05+00:00","end":null},"message":null,"mute_first_recovery_notification":false,"monitor_identifier":{"monitor_tags":["cat:hat"]}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/downtime/b56d60ea-2bda-11ee-802e-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"downtime","attributes":{"message":null,"modified":"2023-07-26T17:34:44.176107+00:00","display_timezone":"UTC","schedule":{"end":null,"start":"2050-01-02T03:04:05+00:00"},"canceled":null,"monitor_identifier":{"monitor_tags":["cat:hat"]},"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","warn","no data"],"status":"scheduled","created":"2023-07-26T17:34:44.176107+00:00","scope":"env:tf-TestAccDowntimeScheduleChanged-local-1690392881"},"id":"b56d60ea-2bda-11ee-802e-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"UTC","message":null,"monitor_identifier":{"monitor_tags":["cat:hat"]},"mute_first_recovery_notification":false,"schedule":{"recurrences":[{"duration":"1d","rrule":"FREQ=DAILY;INTERVAL=11","start":null}],"timezone":"UTC"},"scope":"env:tf-TestAccDowntimeScheduleChanged-local-1690392881"},"id":"","type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime/b56d60ea-2bda-11ee-802e-da7ad0900002
    method: PATCH
  response:
    body: |
      {"data":{"type":"downtime","relationships":{"monitor":{"data":null},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"attributes":{"canceled":null,"monitor_identifier":{"monitor_tags":["cat:hat"]},"scope":"env:tf-TestAccDowntimeScheduleChanged-local-1690392881","display_timezone":"UTC","schedule":{"recurrences":[{"duration":"1d","rrule":"FREQ=DAILY;INTERVAL=11","start":"2023-07-26T17:34:48"}],"timezone":"UTC","current_downtime":{"end":"2023-07-27T17:34:48+00:00","start":"2023-07-26T17:34:48+00:00"}},"modified":"2023-07-26T17:34:49.245490+00:00","message":null,"notify_end_states":["alert","no data","warn"],"notify_end_types":["expired"],"mute_first_recovery_notification":false,"status":"active","created":"2023-07-26T17:34:44.176107+00:00"},"id":"b56d60ea-2bda-11ee-802e-da7ad0900002"},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
