---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1626980108","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"red-uhj-k8p","title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1626980108","url":"/dashboard/red-uhj-k8p/tf-testaccdatadogdashboardrbacupdatetoadmin-local-1626980108","created_at":"2021-07-22T18:55:11.552143+00:00","modified_at":"2021-07-22T18:55:11.552143+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":6644891101647344}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/red-uhj-k8p
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"red-uhj-k8p","title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1626980108","url":"/dashboard/red-uhj-k8p/tf-testaccdatadogdashboardrbacupdatetoadmin-local-1626980108","created_at":"2021-07-22T18:55:11.552143+00:00","modified_at":"2021-07-22T18:55:11.552143+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":6644891101647344}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/red-uhj-k8p
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"red-uhj-k8p"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
