---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccountswitherror-local-1768840994@example.com","name":"tf-service-account-tf-testaccdatadoguserdatasource","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"f3fddf7f-f555-11f0-8f8b-6e8ebd915fe8","attributes":{"name":"tf-service-account-tf-testaccdatadoguserdatasource","handle":"f3fddf7f-f555-11f0-8f8b-6e8ebd915fe8","created_at":"2026-01-19T16:43:16.301253+00:00","modified_at":"2026-01-19T16:43:16.301253+00:00","email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccountswitherror-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/8110c7053e3e8c9cc8d7c0e6dd5aa512?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 503.464459ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccountswitherror-local-1768840994@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"bbe4cff4-245d-4667-9a99-54bbc54a3f82","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccountswitherror-local-1768840994@example.com","created_at":"2026-01-19T16:43:16.713458+00:00","modified_at":"2026-01-19T16:43:16.713458+00:00","email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccountswitherror-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/8110c7053e3e8c9cc8d7c0e6dd5aa512?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 847.141208ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/bbe4cff4-245d-4667-9a99-54bbc54a3f82
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"bbe4cff4-245d-4667-9a99-54bbc54a3f82","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccountswitherror-local-1768840994@example.com","created_at":"2026-01-19T16:43:16.713458+00:00","modified_at":"2026-01-19T16:43:16.713458+00:00","email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccountswitherror-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/8110c7053e3e8c9cc8d7c0e6dd5aa512?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 363.133541ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguserdatasourcewithexcludeserviceaccountswitherror-local-1768840994%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"f3fddf7f-f555-11f0-8f8b-6e8ebd915fe8","attributes":{"name":"tf-service-account-tf-testaccdatadoguserdatasource","han[...]
[...]
