---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleOptions-local-1765466763","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"fca6b7b9-2e50-43ba-bf0e-d39adccc1eee","type":"deployment_gate","attributes":{"created_at":"2025-12-11T15:26:05.776015Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleOptions-local-1765466763","service":"my-service","updated_at":"2025-12-11T15:26:05.776015Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 120.62825ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"fdd_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/fca6b7b9-2e50-43ba-bf0e-d39adccc1eee/rules
        method: POST
      response:
        body: '{"data":{"id":"f6fbcb8d-a3dc-43a5-800b-a9345ebf8718","type":"deployment_rule","attributes":{"created_at":"2025-12-11T15:26:05.910668Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"fca6b7b9-2e50-43ba-bf0e-d39adccc1eee","name":"fdd_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-11T15:26:05.910668Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 132.080708ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/fca6b7b9-2e50-43ba-bf0e-d39adccc1eee
        method: GET
      response:
        body: '{"data":{"id":"fca6b7b9-2e50-43ba-bf0e-d39adccc1eee","type":"deployment_gate","attributes":{"created_at":"2025-12-11T15:26:05.776015Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleOptions-local-1765466763","service":"my-service","updated_at":"2025-12-11T15:26:05.776015Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 150.250708ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/fca6b7b9-2e50-43ba-bf0e-d39adccc1eee/rules
        method: GET
      response:
        body: '{"data":{"id":"fca6b7b9-2e50-43ba-bf0e-d39adccc1eee","type":"list_deployment_rules","attributes":{"rules":[{"id":"f6fbcb8d-a3dc-43a5-800b-a9345ebf8718","name":"fdd_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-11T15:26:05.910668Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-11T15:26:05.910668Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"fca6b7b9-2e50-43ba-bf0e-d39adccc1eee","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 142.489958ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/fca6b7b9-2e50-43ba-bf0e-d39adccc1eee/rules/f6fbcb8d-a3dc-43a5-800b-a9345ebf8718
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 129.435666ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"fdd_rule","options":{"duration":1800,"excluded_resources":["GET /health"]},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/fca6b7b9-2e50-43ba-bf0e-d39adccc1eee/rules
        method: POST
      response:
        body: '{"data":{"id":"0c918db9-c1ff-40fe-b48e-a2d17693356c","type":"deployment_rule","attributes":{"created_at":"2025-12-11T15:26:07.895474Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"fca6b7b9-2e50-43ba-bf0e-d39adccc1eee","name":"fdd_rule","options":{"duration":1800,"excluded_resources":["GET /health"]},"type":"faulty_deployment_detection","updated_at":"2025-12-11T15:26:07.895474Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 132.877334ms
[...]
