---
version: 1
interactions:
- request:
    body: |
      {"description":"a secure global variable","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_BASIC_LOCAL_1617116760","tags":["foo:bar","baz"],"value":{"secure":true,"value":"variable-secure-value"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://app.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_extracted_at":null,"description":"a secure global variable","tags":["foo:bar","baz"],"parse_test_public_id":null,"value":{"secure":true},"id":"ab29b6a8-d47b-475b-81cf-fbf3c01234c3","parse_test_options":null,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_BASIC_LOCAL_1617116760","parse_test_name":null,"type":"variable"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      X-Dd-Version:
      - "35.4200574"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "59"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://app.datadoghq.com/api/v1/synthetics/variables/ab29b6a8-d47b-475b-81cf-fbf3c01234c3
    method: GET
  response:
    body: '{"parse_test_extracted_at":null,"description":"a secure global variable","tags":["foo:bar","baz"],"parse_test_public_id":null,"value":{"secure":true},"id":"ab29b6a8-d47b-475b-81cf-fbf3c01234c3","parse_test_options":null,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_BASIC_LOCAL_1617116760","created_at":"2021-03-30T15:06:01.401148+00:00","modified_at":"2021-03-30T15:06:01.401148+00:00","created_by":1445416,"parse_test_name":null,"type":"variable"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      X-Dd-Version:
      - "35.4200574"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "115"
      X-Ratelimit-Reset:
      - "59"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://app.datadoghq.com/api/v1/synthetics/variables/ab29b6a8-d47b-475b-81cf-fbf3c01234c3
    method: GET
  response:
    body: '{"errors": ["Synthetics variable not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4200574"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "98"
      X-Ratelimit-Reset:
      - "57"
    status: 404 Not Found
    code: 404
    duration: ""
