---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["geoip-enrichment"],"type":"datadog_logs"}],"processors":[{"file":{"encoding":{"delimiter":",","includes_headers":true,"type":"csv"},"key":[{"column":"user_id","comparison":"equals","field":"log.user.id"}],"path":"/etc/enrichment/lookup.csv","schema":[{"column":"region","type":"string"},{"column":"city","type":"string"}]},"id":"csv-enrichment","include":"*","inputs":["source-1"],"target":"log.geo.csv","type":"enrichment_table"},{"geoip":{"key_field":"log.source.ip","locale":"en","path":"/etc/geoip/GeoLite2-City.mmdb"},"id":"geoip-enrichment","include":"*","inputs":["csv-enrichment"],"target":"log.geo.geoip","type":"enrichment_table"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"enrichment pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"e2c5dcce-985d-11f0-84f0-da7ad0900002","type":"pipelines","attributes":{"name":"enrichment pipeline","config":{"destinations":[{"id":"destination-1","inputs":["geoip-enrichment"],"type":"datadog_logs"}],"processors":[{"file":{"encoding":{"delimiter":",","includes_headers":true,"type":"csv"},"key":[{"column":"user_id","comparison":"equals","field":"log.user.id"}],"path":"/etc/enrichment/lookup.csv","schema":[{"column":"region","type":"string"},{"column":"city","type":"string"}]},"id":"csv-enrichment","include":"*","inputs":["source-1"],"target":"log.geo.csv","type":"enrichment_table"},{"geoip":{"key_field":"log.source.ip","locale":"en","path":"/etc/geoip/GeoLite2-City.mmdb"},"id":"geoip-enrichment","include":"*","inputs":["csv-enrichment"],"target":"log.geo.geoip","type":"enrichment_table"}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 554.475417ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/e2c5dcce-985d-11f0-84f0-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"e2c5dcce-985d-11f0-84f0-da7ad0900002","type":"pipelines","attributes":{"name":"enrichment pipeline","config":{"destinations":[{"id":"destination-1","inputs":["geoip-enrichment"],"type":"datadog_logs"}],"processors":[{"file":{"encoding":{"delimiter":",","includes_headers":true,"type":"csv"},"key":[{"column":"user_id","comparison":"equals","field":"log.user.id"}],"path":"/etc/enrichment/lookup.csv","schema":[{"column":"region","type":"string"},{"column":"city","type":"string"}]},"id":"csv-enrichment","include":"*","inputs":["source-1"],"target":"log.geo.csv","type":"enrichment_table"},{"geoip":{"key_field":"log.source.ip","locale":"en","path":"/etc/geoip/GeoLite2-City.mmdb"},"id":"geoip-enrichment","include":"*","inputs":["csv-enrichment"],"target":"log.geo.geoip","type":"enrichment_table"}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 267.420167ms
[...]
