---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=does_not_exist_tf-testaccdatadogserviceaccountdatasourceerror-local-1758619401%40example.com&page%5Bnumber%5D=0&page%5Bsize%5D=10
        method: GET
      response:
            - chunked
        body: |
            {"data":[],"meta":{"page":{"total_count":170834,"total_filtered_count":0,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.502208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1758619401@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"f5b29344-985e-11f0-b817-72d874262dfd","attributes":{"name":null,"handle":"tf-testaccdatadogserviceaccountdatasourceerror-local-1758619401@example.com","created_at":"2025-09-23T09:23:26.495445+00:00","modified_at":"2025-09-23T09:23:26.495445+00:00","email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1758619401@example.com","icon":"https://secure.gravatar.com/avatar/a7e590c3a3db17867b90ca005b734fac?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 616.538041ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"f5b29344-985e-11f0-b817-72d874262dfd","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"f634c06c-985e-11f0-a7cd-da7ad0900002","attributes":{"uuid":"f634c06c-985e-11f0-a7cd-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:23:27.348156+00:00","expires_at":"2025-09-25T09:23:26.763479+00:00"},"relationships":{"user":{"data":{"type":"users","id":"f5b29344-985e-11f0-b817-72d874262dfd"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 850.971834ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/f5b29344-985e-11f0-b817-72d874262dfd
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"f5b29344-985e-11f0-b817-72d874262dfd","attributes":{"name":null,"handle":"tf-testaccdatadogserviceaccountdatasourceerror-local-1758619401@example.com","created_at":"2025-09-23T09:23:26.495445+00:00","modified_at":"2025-09-23T09:23:26.495445+00:00","email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1758619401@example.com","icon":"https://secure.gravatar.com/avatar/a7e590c3a3db17867b90ca005b734fac?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.274833ms
[...]
