---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSLO-local-1682003509","widgets":[{"definition":{"global_time_target":"99.0","show_error_budget":true,"slo_id":"b4c7739b2af25f9d947f828730357832","time_windows":["90d","previous_week","global_time"],"title_align":"center","title_size":"16","type":"slo","view_mode":"both","view_type":"detail"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"68u-cq5-spt","title":"tf-TestAccDatadogDashboardSLO-local-1682003509","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/68u-cq5-spt/tf-testaccdatadogdashboardslo-local-1682003509","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"global_time_target":"99.0","show_error_budget":true,"slo_id":"b4c7739b2af25f9d947f828730357832","time_windows":["90d","previous_week","global_time"],"title_align":"center","title_size":"16","type":"slo","view_mode":"both","view_type":"detail"},"id":2216612146815478}],"notify_list":[],"created_at":"2023-04-20T15:11:50.669867+00:00","modified_at":"2023-04-20T15:11:50.669867+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/68u-cq5-spt
    method: GET
  response:
    body: |
      {"id":"68u-cq5-spt","title":"tf-TestAccDatadogDashboardSLO-local-1682003509","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/68u-cq5-spt/tf-testaccdatadogdashboardslo-local-1682003509","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"global_time_target":"99.0","show_error_budget":true,"slo_id":"b4c7739b2af25f9d947f828730357832","time_windows":["90d","previous_week","global_time"],"title_align":"center","title_size":"16","type":"slo","view_mode":"both","view_type":"detail"},"id":2216612146815478}],"notify_list":[],"created_at":"2023-04-20T15:11:50.669867+00:00","modified_at":"2023-04-20T15:11:50.669867+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/68u-cq5-spt
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"68u-cq5-spt"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/68u-cq5-spt
    method: GET
  response:
    body: '{"errors":["Dashboard with ID 68u-cq5-spt not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
