---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"reason":"risk_accepted"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder_OutOfBandRuleAdded-local-1782479858-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}},"type":"mute_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
        method: POST
      response:
        body: '{"data":{"id":"02171735-6e2f-4e08-92b7-921977be7a16","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1782479859675,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782479859675,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder_OutOfBandRuleAdded-local-1782479858-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 249.018917ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"3182879c-c62c-413c-b1d6-6320b65fa4c0","type":"mute_rules"},{"id":"02171735-6e2f-4e08-92b7-921977be7a16","type":"mute_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"mute_rules","id":"3182879c-c62c-413c-b1d6-6320b65fa4c0"},{"type":"mute_rules","id":"02171735-6e2f-4e08-92b7-921977be7a16"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 241.845334ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/3182879c-c62c-413c-b1d6-6320b65fa4c0
        method: GET
      response:
        body: '{"data":{"id":"3182879c-c62c-413c-b1d6-6320b65fa4c0","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1782479859680,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782479859680,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder_OutOfBandRuleAdded-local-1782479858-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 209.854958ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"3182879c-c62c-413c-b1d6-6320b65fa4c0","type":"mute_rules"},{"id":"02171735-6e2f-4e08-92b7-921977be7a16","type":"mute_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/reorder
        method: POST
      response:
        body: '{"errors":[{"status":"422","title":"Unprocessable Entity","detail":"reorder must include all 3 rules, got 2"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 422 Unprocessable Entity
        code: 422
        duration: 104.665833ms
[...]
