---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["datadog-tags-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"datadog-tags-group-1","include":"service:my-service","inputs":["source-1"],"processors":[{"action":"include","enabled":true,"id":"datadog-tags-processor","include":"service:my-service","keys":["env","service","version"],"mode":"filter","type":"datadog_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"datadog tags processor test"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"ef21d500-f20c-11f0-9df0-da7ad0900002","type":"pipelines","attributes":{"name":"datadog tags processor test","config":{"destinations":[{"id":"destination-1","inputs":["datadog-tags-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"datadog-tags-group-1","include":"service:my-service","inputs":["source-1"],"processors":[{"action":"include","enabled":true,"id":"datadog-tags-processor","include":"service:my-service","keys":["env","service","version"],"mode":"filter","type":"datadog_tags"}]}],"processors":[{"enabled":true,"id":"datadog-tags-group-1","include":"service:my-service","inputs":["source-1"],"processors":[{"action":"include","enabled":true,"id":"datadog-tags-processor","include":"service:my-service","keys":["env","service","version"],"mode":"filter","type":"datadog_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 518.095917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/ef21d500-f20c-11f0-9df0-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"ef21d500-f20c-11f0-9df0-da7ad0900002","type":"pipelines","attributes":{"name":"datadog tags processor test","config":{"destinations":[{"id":"destination-1","inputs":["datadog-tags-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"datadog-tags-group-1","include":"service:my-service","inputs":["source-1"],"processors":[{"action":"include","enabled":true,"id":"datadog-tags-processor","include":"service:my-service","keys":["env","service","version"],"mode":"filter","type":"datadog_tags"}]}],"processors":[{"enabled":true,"id":"datadog-tags-group-1","include":"service:my-service","inputs":["source-1"],"processors":[{"action":"include","enabled":true,"id":"datadog-tags-processor","include":"service:my-service","keys":["env","service","version"],"mode":"filter","type":"datadog_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 263.380458ms
[...]
