---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Created using the Datadog provider in terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackDatasource-local-1720450787 foo","type":"group","widgets":[{"definition":{"event_size":"l","query":"*","title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"}}]},"layout":{"height":10,"width":3,"x":1,"y":0},"live_span":"4h"},"name":"tf-TestAccDatadogPowerpackDatasource-local-1720450787 foo","tags":[],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/powerpacks
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"b99755fa-3d3a-11ef-8f98-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackDatasource-local-1720450787 foo","description":"Created using the Datadog provider in terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackDatasource-local-1720450787 foo","type":"group","widgets":[{"definition":{"event_size":"l","query":"*","title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"id":4412523129294725}]},"layout":{"height":10,"width":3,"x":1,"y":0},"live_span":"4h"},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":[]},"relationships":{"author":{"data":{"type":"users","id":"223d3023-32d4-11ef-a898-ae07f903f02f"}}}},"included":[{"type":"users","id":"223d3023-32d4-11ef-a898-ae07f903f02f","attributes":{"name":"Ben Harling","email":"ben.harling@samsara.com"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 493.831292ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/powerpacks/b9975668-3d3a-11ef-b57a-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"b9975668-3d3a-11ef-b57a-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackDatasource-local-1720450787 bar","description":"Created using the Datadog provider in terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackDatasource-local-1720450787 bar","type":"group","widgets":[{"definition":{"event_size":"l","query":"*","title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"id":8958271794272314}]},"layout":{"height":10,"width":3,"x":1,"y":0},"live_span":"4h"},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":[]},"relationships":{"author":{"data":{"type":"users","id":"223d3023-32d4-11ef-a898-ae07f903f02f"}}}},"included":[{"type":"users","id":"223d3023-32d4-11ef-a898-ae07f903f02f","attributes":{"name":"Ben Harling","email":"ben.harling@samsara.com"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.935167ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/powerpacks?page%5Blimit%5D=100&page%5Boffset%5D=0
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"powerpack","id":"b9975668-3d3a-11ef-b57a-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackDatasource-local-1720450787 bar","description":"Created using the Datadog provider in t[...]
[...]
