---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"logs-1","inputs":["sumo-logic-source-1"],"type":"datadog_logs"}],"sources":[{"id":"sumo-logic-source-1","type":"sumo_logic"}]},"name":"sumo-source-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"1009929a-d5c4-11f0-a3cb-da7ad0900002","type":"pipelines","attributes":{"name":"sumo-source-pipeline","config":{"destinations":[{"id":"logs-1","inputs":["sumo-logic-source-1"],"type":"datadog_logs"}],"processors":[],"sources":[{"id":"sumo-logic-source-1","type":"sumo_logic"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 595.116ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/1009929a-d5c4-11f0-a3cb-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"1009929a-d5c4-11f0-a3cb-da7ad0900002","type":"pipelines","attributes":{"name":"sumo-source-pipeline","config":{"destinations":[{"id":"logs-1","inputs":["sumo-logic-source-1"],"type":"datadog_logs"}],"processors":[],"sources":[{"id":"sumo-logic-source-1","type":"sumo_logic"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.669ms
[...]
