---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1615213964@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"2988cc4e-801b-11eb-96d7-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_existing-local-1615213964@example.com","created_at":"2021-03-08T14:32:51.421712+00:00","email":"tf-testaccdatadoguser_existing-local-1615213964@example.com","icon":"https://secure.gravatar.com/avatar/bb5c33dd6bf61e9a5399a2bbe606f755?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4051267"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"2988cc4e-801b-11eb-96d7-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"29d4d4b8-801b-11eb-96d7-da7ad0900002","attributes":{"uuid":"29d4d4b8-801b-11eb-96d7-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2021-03-08T14:32:51.921286+00:00","expires_at":"2021-03-10T14:32:51.759442+00:00"},"relationships":{"user":{"data":{"type":"users","id":"2988cc4e-801b-11eb-96d7-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4051267"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/2988cc4e-801b-11eb-96d7-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"2988cc4e-801b-11eb-96d7-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_existing-local-1615213964@example.com","created_at":"2021-03-08T14:32:51.421712+00:00","email":"tf-testaccdatadoguser_existing-local-1615213964@example.com","icon":"https://secure.gravatar.com/avatar/bb5c33dd6bf61e9a5399a2bbe606f755?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4051267"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1615213964@example.com","name":"Other User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"errors": ["User tf-testaccdatadoguser_existing-local-1615213964@example.com already exists"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4051267"
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguser_existing-local-1615213964%40example.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":149175}},"data":[{"type":"users","id":"2988cc4e-801b-11eb-96d7-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_existing-local-1615213964@example.com","created_at":"2021-03-08T14:32:51.421712+00:00","email":"tf-testaccdatadoguser_existing-local-1615213964@example.com","icon":"https://secure.gravatar.com/avatar/bb5c33dd6bf61e9a5399a2bbe606f755?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.4051267"
    status: 200 OK
    code: 200
    duration: ""
[...]
