---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"FO2oWdBDRaGRPZ6rotbrSA","attributes":{"name":"my group","is_enabled":true,"filter":{"query":"*"},"product_list":["logs"],"description":""},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"0a0fbaa128db50122e932b9b90c4ec2297e5a1a72a33bf385ac7b144409022d6","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":97}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 796.685542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1705911597","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"FO2oWdBDRaGRPZ6rotbrSA","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"TGpAE74nSDismjqqxTokrg","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1705911597","namespaces":[],"excluded_namespaces":["username"],"pattern":"regex","text_replacement":{"type":"none"},"tags":["sensitive_data:true"],"is_enabled":true,"description":"a description"},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"FO2oWdBDRaGRPZ6rotbrSA","type":"sensitive_data_scanner_group"}}}},"meta":{"version":98}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.06175ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"0a0fbaa128db50122e932b9b90c4ec2297e5a1a72a33bf385ac7b144409022d6","attributes":{},"type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"xLXhi1Q_ShyCR_W-CbB70g","type":"sensitive_data_scanner_group"},{"id":"zh4ywhwqT4ySZdOAoh6cqg","type":"sensitive_data_scanner_group"},{"id":"TJkcbdrkRFGqEDhWQUVU4Q","type":"sensitive_data_scanner_group"},{"id":"dR860H66Rki-3_7enOu0IA","type":"sensitive_data_scanner_group"},{"id":"OeS7e8wOQ3aW01BCw7d3nw","type":"sensitive_data_scanner_group"},{"id":"FO2oWdBDRaGRPZ6rotbrSA","type":"sensitive_data_scanner_group"}]}}},"meta":{"version":98,"count_limit":100,"group_count_limit":20,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true},"included":[{"id":"xLXhi1Q_ShyCR_W-CbB70g","attributes":{"name":"my real group","is_enabled":true,"filter":{"query":"chicken:tikkamassala"},"product_list":["logs"],"description":""},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"0a0fbaa128db50122e932b9b90c4ec2297e5a1a72a33bf385ac7b144409022d6","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[{"id":"yr8tT_DYTCOOYNTXmw6NZA","type":"sensitive_data_scanner_rule"},{"id":"ZwV_4PSwQnqH0UdIsXTrNw","type":"sensitive_data_scanner_rule"}]}}},{"id":"yr8tT_DYTCOOYNTXmw6NZA","attributes":{"name":"my aws rule","namespaces":[],"excluded_namespaces":["username"],"text_replacement":{"type":"none"},"tags":["sensitive_data:true"],"is_enabled":true},"type":"sensitive_data_scanner_rule","relationships":{"standard_pattern":{"data":{"id":"OfGqX8R9TRqAcorxenl2fQ","type":"sensitive_data_scanner_standard_pattern"}},"group":{"data":{"id":"xLXhi1Q_ShyCR_W-CbB70g","type":"sensitive_data_scanner_group"}}}},{"id":"ZwV_4PSwQnqH0UdIsXTrNw","attributes":{"name":"hello world","namespaces":[],"excluded_namespaces":["email"],"pattern":"regex","text_replacement":{"type":"none"},"tags":["sensitive_data:true"],"is_enabled":true,"description":"another description"},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/TGpAE74nSDismjqqxTokrg
        method: DELETE
      response:
        body: |
            {"meta":{"version":99}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.297541ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my group","product_list":["logs"]},"id":"FO2oWdBDRaGRPZ6rotbrSA","type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/FO2oWdBDRaGRPZ6rotbrSA
        method: PATCH
      response:
        body: |
            {"meta":{"version":100}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.642209ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1705911597","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"relationships":{"group":{"data":{"id":"FO2oWdBDRaGRPZ6rotbrSA","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"sh06oaZ8QoiyVaC-O_73ww","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1705911597","namespaces":[],"excluded_namespaces":["email"],"pattern":"regex","text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"},"tags":["sensitive_data:true"],"is_enabled":false,"description":"another description","included_keyword_configuration":{"keywords":["credit card","cc"],"character_count":20}},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"FO2oWdBDRaGRPZ6rotbrSA","type":"sensitive_data_scanner_group"}}}},"meta":{"version":101}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.1035ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/sh06oaZ8QoiyVaC-O_73ww
        method: DELETE
      response:
        body: |
            {"meta":{"version":102}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.08925ms
[...]
    - id: 25
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/XeUIdc0-TsmLmjjkWUtgXw
        method: DELETE
      response:
        body: |
            {"meta":{"version":105}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.213916ms
[...]
    - id: 32
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/tdSlMXuDS-Wm2FodeDcehw
        method: DELETE
      response:
        body: |
            {"meta":{"version":108}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.382ms
    - id: 33
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/9Pkea_jsRx-AHZq5SwFIfg
        method: DELETE
      response:
        body: |
            {"meta":{"version":109}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.330333ms
[...]
