---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Team for connection test","handle":"tf-testaccteamconnectionbasic-local-1773925686","name":"tf-testaccteamconnectionbasic-local-1773925686"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"9b6072ca-99b9-423c-8aa7-1bf02acc3edc","type":"team","attributes":{"avatar":null,"banner":14,"created_at":"2026-03-19T13:08:09.993002+00:00","description":"Team for connection test","handle":"tf-testaccteamconnectionbasic-local-1773925686","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-03-19T13:08:09.993002+00:00","name":"tf-testaccteamconnectionbasic-local-1773925686","summary":"Team for connection test","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/9b6072ca-99b9-423c-8aa7-1bf02acc3edc/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/9b6072ca-99b9-423c-8aa7-1bf02acc3edc/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 423.439875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"attributes":{},"relationships":{"connected_team":{"data":{"id":"@DataDog/tf-testaccteamconnectionbasic-local-1773925686","type":"github_team"}},"team":{"data":{"id":"9b6072ca-99b9-423c-8aa7-1bf02acc3edc","type":"team"}}},"type":"team_connection"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/connections
        method: POST
      response:
        body: '{"data":[{"id":"adbc2b60-2394-11f1-b13d-da7ad0900002","type":"team_connection","attributes":{"managed_by":"aa00523c-2f79-4fd9-8829-f18024e47b84","source":"github"},"relationships":{"connected_team":{"data":{"id":"@DataDog/tf-testaccteamconnectionbasic-local-1773925686","type":"github_team"}},"team":{"data":{"id":"9b6072ca-99b9-423c-8aa7-1bf02acc3edc","type":"team"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 186.890375ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/connections?filter%5Bconnection_ids%5D=adbc2b60-2394-11f1-b13d-da7ad0900002
        method: GET
      response:
        body: '{"data":[{"id":"adbc2b60-2394-11f1-b13d-da7ad0900002","type":"team_connection","attributes":{"managed_by":"aa00523c-2f79-4fd9-8829-f18024e47b84","source":"github"},"relationships":{"connected_team":{"data":{"id":"@DataDog/tf-testaccteamconnectionbasic-local-1773925686","type":"github_team"}},"team":{"data":{"id":"9b6072ca-99b9-423c-8aa7-1bf02acc3edc","type":"team"}}}}],"meta":{"page":{"type":"offset_limit","offset":0,"limit":100,"total":1,"first_offset":0,"prev_offset":null,"next_offset":null,"last_offset":0}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 148.231708ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/9b6072ca-99b9-423c-8aa7-1bf02acc3edc
        method: GET
      response:
        body: '{"data":{"id":"9b6072ca-99b9-423c-8aa7-1bf02acc3edc","type":"team","attributes":{"created_at":"2026-03-19T13:08:09.993002+00:00","description":"Team for connection test","handle":"tf-testaccteamconnectionbasic-local-1773925686","is_managed":false,"link_count":0,"modified_at":"2026-03-19T13:08:09.993002+00:00","name":"tf-testaccteamconnectionbasic-local-1773925686","summary":"Team for connection test","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/9b6072ca-99b9-423c-8aa7-1bf02acc3edc/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/9b6072ca-99b9-423c-8aa7-1bf02acc3edc/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 148.912833ms
[...]
