---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1640025693","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"cbn-ydz-t9p","title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1640025693","url":"/dashboard/cbn-ydz-t9p/tf-testaccdatadogdashboardrbacupdatetorbac-local-1640025693","created_at":"2021-12-20T18:41:37.681084+00:00","modified_at":"2021-12-20T18:41:37.681084+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":1776992983721073}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/cbn-ydz-t9p
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"cbn-ydz-t9p","title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1640025693","url":"/dashboard/cbn-ydz-t9p/tf-testaccdatadogdashboardrbacupdatetorbac-local-1640025693","created_at":"2021-12-20T18:41:37.681084+00:00","modified_at":"2021-12-20T18:41:37.681084+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":1776992983721073}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1640025693"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"7b018d00-61c4-11ec-aef0-da7ad0900002","attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1640025693","created_at":"2021-12-20T18:41:44.681777+00:00","modified_at":"2021-12-20T18:41:44.735752+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "476"
      X-Ratelimit-Reset:
      - "16"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/7b018d00-61c4-11ec-aef0-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"7b018d00-61c4-11ec-aef0-da7ad0900002","attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1640025693","created_at":"2021-12-20T18:41:44.681777+00:00","modified_at":"2021-12-20T18:41:44.735752+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "475"
      X-Ratelimit-Reset:
      - "15"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"cbn-ydz-t9p","layout_type":"ordered","notify_list":[],"restricted_roles":["7b018d00-61c4-11ec-aef0-da7ad0900002"],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1640025693","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/cbn-ydz-t9p
    method: PUT
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","restricted_roles":["7b018d00-61c4-11ec-aef0-da7ad0900002"],"author_name":null,"template_variable_presets":[],"template_variables":[],"id":"cbn-ydz-t9p","title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1640025693","url":"/dashboard/cbn-ydz-t9p/tf-testaccdatadogdashboardrbacupdatetorbac-local-1640025693","created_at":"2021-12-20T18:41:37.681084+00:00","modified_at":"2021-12-20T18:41:45.693114+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":7051462697575708}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/cbn-ydz-t9p
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"cbn-ydz-t9p"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
