---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardListRumEvents-local-1767989198","widgets":[{"definition":{"requests":[{"columns":[{"field":"has_replay","width":"auto"},{"field":"timestamp","width":"auto"},{"field":"@view.action.count","width":"auto"}],"query":{"data_source":"rum_stream","query_string":"@type:view @session.type:user","sort":{"column":"@view.action.count","order":"desc"}},"response_format":"event_list"}],"title":"List Stream 2","title_align":"right","title_size":"16","type":"list_stream"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"j5h-kfm-ndw","title":"tf-TestAccDatadogDashboardListRumEvents-local-1767989198","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/j5h-kfm-ndw/tf-testaccdatadogdashboardlistrumevents-local-1767989198","template_variables":[],"widgets":[{"definition":{"requests":[{"columns":[{"field":"has_replay","width":"auto"},{"field":"timestamp","width":"auto"},{"field":"@view.action.count","width":"auto"}],"query":{"data_source":"rum_stream","query_string":"@type:view @session.type:user","sort":{"column":"@view.action.count","order":"desc"}},"response_format":"event_list"}],"title":"List Stream 2","title_align":"right","title_size":"16","type":"list_stream"},"id":6503550157729260}],"notify_list":[],"created_at":"2026-01-09T20:06:39.869588+00:00","modified_at":"2026-01-09T20:06:39.869588+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.705875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/j5h-kfm-ndw
        method: GET
      response:
            - chunked
        body: '{"id":"j5h-kfm-ndw","title":"tf-TestAccDatadogDashboardListRumEvents-local-1767989198","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/j5h-kfm-ndw/tf-testaccdatadogdashboardlistrumevents-local-1767989198","template_variables":[],"widgets":[{"definition":{"requests":[{"columns":[{"field":"has_replay","width":"auto"},{"field":"timestamp","width":"auto"},{"field":"@view.action.count","width":"auto"}],"query":{"data_source":"rum_stream","query_string":"@type:view @session.type:user","sort":{"column":"@view.action.count","order":"desc"}},"response_format":"event_list"}],"title":"List Stream 2","title_align":"right","title_size":"16","type":"list_stream"},"id":6503550157729260}],"notify_list":[],"created_at":"2026-01-09T20:06:39.869588+00:00","modified_at":"2026-01-09T20:06:39.869588+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.246125ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/j5h-kfm-ndw
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"j5h-kfm-ndw"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.433667ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/j5h-kfm-ndw
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID j5h-kfm-ndw not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 100.131416ms
