---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testoncalluserphonenotificationchannel-local-1767805816@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"2d00846b-0c4d-4822-94b2-89ed8a6034e4","attributes":{"name":null,"handle":"tf-testoncalluserphonenotificationchannel-local-1767805816@example.com","created_at":"2026-01-07T17:10:17.775523+00:00","modified_at":"2026-01-07T17:10:17.775523+00:00","email":"tf-testoncalluserphonenotificationchannel-local-1767805816@example.com","icon":"https://secure.gravatar.com/avatar/072fe071657ecddc4fe2ab7601802128?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 586.24075ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"2d00846b-0c4d-4822-94b2-89ed8a6034e4","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"bdbc1ed4-ebeb-11f0-aefe-da7ad0900002","attributes":{"uuid":"bdbc1ed4-ebeb-11f0-aefe-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2026-01-07T17:10:18.154609+00:00","expires_at":"2026-01-09T17:10:17.924271+00:00"},"relationships":{"user":{"data":{"type":"users","id":"2d00846b-0c4d-4822-94b2-89ed8a6034e4"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 379.066084ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"number":"+17039389548","type":"phone"}},"type":"notification_channels"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/users/2d00846b-0c4d-4822-94b2-89ed8a6034e4/notification-channels
        method: POST
      response:
        body: '{"data":{"id":"d23ed951-6268-4826-a804-edeb98cc7cba","type":"notification_channels","attributes":{"active":true,"config":{"type":"phone","number":"+17039389548","formatted_number":"+1 703-938-9548","region":"us","verified":false}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 67.712ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/users/2d00846b-0c4d-4822-94b2-89ed8a6034e4/notification-channels/d23ed951-6268-4826-a804-edeb98cc7cba
        method: GET
      response:
        body: '{"data":{"id":"d23ed951-6268-4826-a804-edeb98cc7cba","type":"notification_channels","attributes":{"active":true,"config":{"type":"phone","number":"+17039389548","formatted_number":"+1 703-938-9548","region":"us","verified":false}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 61.007625ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/2d00846b-0c4d-4822-94b2-89ed8a6034e4
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"2d00846b-0c4d-4822-94b2-89ed8a6034e4","attributes":{"name":null,"handle":"tf-testoncalluserphonenotificationchannel-local-1767805816@example.com","created_at":"2026-01-07T17:10:17.775523+00:00","modified_at":"2026-01-07T17:10:17.775523+00:00","email":"tf-testoncalluserphonenotificationchannel-local-1767805816@example.com","icon":"https://secure.gravatar.com/avatar/072fe071657ecddc4fe2ab7601802128?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.167834ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/users/2d00846b-0c4d-4822-94b2-89ed8a6034e4/notification-channels/d23ed951-6268-4826-a804-edeb98cc7cba
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"notification channel not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 54.776708ms
