---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"compression":"none","endpoint_url_key":"SPLUNK_HEC_ENDPOINT_URL","id":"splunk-hec-metrics-1","inputs":["source-1"],"token_key":"SPLUNK_HEC_TOKEN","type":"splunk_hec_metrics"}],"pipeline_type":"metrics","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"splunk-hec-metrics-destination-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"08d6d084-5ab0-11f1-8537-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-hec-metrics-destination-pipeline","config":{"destinations":[{"compression":"none","endpoint_url_key":"SPLUNK_HEC_ENDPOINT_URL","id":"splunk-hec-metrics-1","inputs":["source-1"],"token_key":"SPLUNK_HEC_TOKEN","type":"splunk_hec_metrics"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 717.199583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/08d6d084-5ab0-11f1-8537-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"08d6d084-5ab0-11f1-8537-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-hec-metrics-destination-pipeline","config":{"destinations":[{"compression":"none","endpoint_url_key":"SPLUNK_HEC_ENDPOINT_URL","id":"splunk-hec-metrics-1","inputs":["source-1"],"token_key":"SPLUNK_HEC_TOKEN","type":"splunk_hec_metrics"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 373.887917ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"buffer":{"max_size":1073741824,"type":"disk","when_full":"drop_newest"},"compression":"gzip","default_namespace":"custom_namespace","endpoint_url_key":"SPLUNK_HEC_ENDPOINT_URL","id":"splunk-hec-metrics-1","index":"metrics","inputs":["source-1"],"source":"observability_pipelines","sourcetype":"httpevent","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/splunk.crt","key_file":"/etc/ssl/private/splunk.key"},"token_key":"SPLUNK_HEC_TOKEN","type":"splunk_hec_metrics"}],"pipeline_type":"metrics","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"splunk-hec-metrics-destination-pipeline"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/08d6d084-5ab0-11f1-8537-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"08d6d084-5ab0-11f1-8537-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-hec-metrics-destination-pipeline","config":{"destinations":[{"buffer":{"max_size":1073741824,"type":"disk","when_full":"drop_newest"},"compression":"gzip","default_namespace":"custom_namespace","endpoint_url_key":"SPLUNK_HEC_ENDPOINT_URL","id":"splunk-hec-metrics-1","index":"metrics","inputs":["source-1"],"source":"observability_pipelines","sourcetype":"httpevent","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/splunk.crt","key_file":"/etc/ssl/private/splunk.key"},"token_key":"SPLUNK_HEC_TOKEN","type":"splunk_hec_metrics"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 1.14604325s
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"buffer":{"max_events":10000,"type":"memory","when_full":"block"},"compression":"none","endpoint_url_key":"SPLUNK_HEC_ENDPOINT_URL","id":"splunk-hec-metrics-1","inputs":["source-1"],"token_key":"SPLUNK_HEC_TOKEN","type":"splunk_hec_metrics"}],"pipeline_type":"metrics","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"splunk-hec-metrics-destination-pipeline"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/08d6d084-5ab0-11f1-8537-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"08d6d084-5ab0-11f1-8537-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-hec-metrics-destination-pipeline","config":{"destinations":[{"buffer":{"max_events":10000,"type":"memory","when_full":"block"},"compression":"none","endpoint_url_key":"SPLUNK_HEC_ENDPOINT_URL","id":"splunk-hec-metrics-1","inputs":["source-1"],"token_key":"SPLUNK_HEC_TOKEN","type":"splunk_hec_metrics"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 1.089060875s
[...]
