version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Team description","handle":"tf-testaccdatadogteamdatasourcebasic-local-1685647571","name":"tf-testaccdatadogteamdatasourcebasic-local-1685647571"},"type":"team"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/team
    method: POST
    id: 0
  response:
    body: |
      {"data":{"type":"team","id":"2b43ecd4-00b2-11ee-8f10-da7ad0900002","attributes":{"name":"tf-testaccdatadogteamdatasourcebasic-local-1685647571","handle":"tf-testaccdatadogteamdatasourcebasic-local-1685647571","summary":"Team description","description":"Team description","created_at":"2023-06-01T19:26:12.510213+00:00","modified_at":"2023-06-01T19:26:12.510218+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2b43ecd4-00b2-11ee-8f10-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2b43ecd4-00b2-11ee-8f10-da7ad0900002/permission-settings"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/team/2b43ecd4-00b2-11ee-8f10-da7ad0900002
    method: GET
    id: 1
  response:
    body: |
      {"data":{"type":"team","id":"2b43ecd4-00b2-11ee-8f10-da7ad0900002","attributes":{"name":"tf-testaccdatadogteamdatasourcebasic-local-1685647571","handle":"tf-testaccdatadogteamdatasourcebasic-local-1685647571","summary":"Team description","description":"Team description","created_at":"2023-06-01T19:26:12.510213+00:00","modified_at":"2023-06-01T19:26:12.510218+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2b43ecd4-00b2-11ee-8f10-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2b43ecd4-00b2-11ee-8f10-da7ad0900002/permission-settings"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
