---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"auth":{"assume_role":"arn:aws:iam::123456789012:role/SecurityLakeRole","external_id":"external-id","session_name":"session-name"},"bucket":"my-security-lake-bucket","custom_source_name":"my-custom-source","id":"security-lake-dest-1","inputs":["source-1"],"region":"us-east-1","tls":{"ca_file":"/path/to/ca.crt","crt_file":"/path/to/cert.crt","key_file":"/path/to/key.key"},"type":"amazon_security_lake"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"amazon-security-lake-destination-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"b67ed7be-2ea9-11f1-85b5-da7ad0900002","type":"pipelines","attributes":{"name":"amazon-security-lake-destination-pipeline","config":{"destinations":[{"auth":{"assume_role":"arn:aws:iam::123456789012:role/SecurityLakeRole","external_id":"external-id","session_name":"session-name"},"bucket":"my-security-lake-bucket","custom_source_name":"my-custom-source","id":"security-lake-dest-1","inputs":["source-1"],"region":"us-east-1","tls":{"ca_file":"/path/to/ca.crt","crt_file":"/path/to/cert.crt","key_file":"/path/to/key.key"},"type":"amazon_security_lake"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 514.640458ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/b67ed7be-2ea9-11f1-85b5-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"b67ed7be-2ea9-11f1-85b5-da7ad0900002","type":"pipelines","attributes":{"name":"amazon-security-lake-destination-pipeline","config":{"destinations":[{"auth":{"assume_role":"arn:aws:iam::123456789012:role/SecurityLakeRole","external_id":"external-id","session_name":"session-name"},"bucket":"my-security-lake-bucket","custom_source_name":"my-custom-source","id":"security-lake-dest-1","inputs":["source-1"],"region":"us-east-1","tls":{"ca_file":"/path/to/ca.crt","crt_file":"/path/to/cert.crt","key_file":"/path/to/key.key"},"type":"amazon_security_lake"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 273.227375ms
[...]
