---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {
               "title": "tf-TestAccDatadogDashboardJSONNoDiff-local-1758619323",
               "description": "",
               "widgets": [],
               "template_variables": [],
               "layout_type": "ordered",
               "notify_list": [],
               "reflow_type": "fixed",
               "id": "3fa-nkp-wty"
            }
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"f7x-cdc-zf4","title":"tf-TestAccDatadogDashboardJSONNoDiff-local-1758619323","description":"","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/f7x-cdc-zf4/tf-testaccdatadogdashboardjsonnodiff-local-1758619323","template_variables":[],"widgets":[],"notify_list":[],"created_at":"2025-09-23T09:22:06.441146+00:00","modified_at":"2025-09-23T09:22:06.441146+00:00","reflow_type":"fixed"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 436.917792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/f7x-cdc-zf4
        method: GET
      response:
        body: '{"id":"f7x-cdc-zf4","title":"tf-TestAccDatadogDashboardJSONNoDiff-local-1758619323","description":"","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/f7x-cdc-zf4/tf-testaccdatadogdashboardjsonnodiff-local-1758619323","template_variables":[],"widgets":[],"notify_list":[],"created_at":"2025-09-23T09:22:06.441146+00:00","modified_at":"2025-09-23T09:22:06.441146+00:00","reflow_type":"fixed"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.91825ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/f7x-cdc-zf4
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"f7x-cdc-zf4"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.392708ms
