---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":["tag:tf-TestAccIntegrationAwsAccount_RoleBased-local-1758619167"],"auth_config":{"role_name":"test"},"aws_account_id":"985048505155","aws_partition":"aws","aws_regions":{"include_all":true},"logs_config":{"lambda_forwarder":{"lambdas":[],"log_source_config":{"tag_filters":[{"source":"s3","tags":["tag1","tag2"]}]},"sources":[]}},"metrics_config":{"automute_enabled":true,"collect_cloudwatch_alarms":false,"collect_custom_metrics":false,"enabled":true,"namespace_filters":{"exclude_only":["AWS/SQS","AWS/ElasticMapReduce","AWS/Usage"]},"tag_filters":[]},"resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":true},"traces_config":{"xray_services":{"include_only":[]}}},"type":"account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/aws/accounts
        method: POST
      response:
        body: '{"data":{"id":"7cde8a5a-a865-4bbf-a861-4eaf4a6d1668","type":"account","attributes":{"account_tags":["tag:tf-TestAccIntegrationAwsAccount_RoleBased-local-1758619167"],"auth_config":{"role_name":"test","external_id":"ce6ef968aafc4cdcb380437071faf40e"},"aws_account_id":"985048505155","aws_partition":"aws","aws_regions":{"include_all":true},"created_at":"2025-09-23T09:19:29.499880283Z","logs_config":{"lambda_forwarder":{"lambdas":[],"sources":[],"log_source_config":{"tag_filters":[{"source":"s3","tags":["tag1","tag2"]}]}}},"metrics_config":{"enabled":true,"automute_enabled":true,"collect_custom_metrics":false,"collect_cloudwatch_alarms":false,"tag_filters":[],"namespace_filters":{"exclude_only":["AWS/SQS","AWS/ElasticMapReduce","AWS/Usage"]}},"modified_at":"2025-09-23T09:19:29.499880283Z","resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":true},"traces_config":{"xray_services":{"include_only":[]}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 1.513780583s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/aws/accounts/%227cde8a5a-a865-4bbf-a861-4eaf4a6d1668%22
        method: GET
      response:
        body: '{"data":{"id":"7cde8a5a-a865-4bbf-a861-4eaf4a6d1668","type":"account","attributes":{"account_tags":["tag:tf-TestAccIntegrationAwsAccount_RoleBased-local-1758619167"],"auth_config":{"role_name":"test","external_id":"ce6ef968aafc4cdcb380437071faf40e"},"aws_account_id":"985048505155","aws_partition":"aws","aws_regions":{"include_all":true},"created_at":"2025-09-23T09:19:29.49988Z","logs_config":{"lambda_forwarder":{"lambdas":[],"sources":[],"log_source_config":{"tag_filters":[{"source":"s3","tags":["tag1","tag2"]}]}}},"metrics_config":{"enabled":true,"automute_enabled":true,"collect_custom_metrics":false,"collect_cloudwatch_alarms":false,"tag_filters":[],"namespace_filters":{"exclude_only":["AWS/SQS","AWS/ElasticMapReduce","AWS/Usage"]}},"modified_at":"2025-09-23T09:19:29.49988Z","resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":true},"traces_config":{"xray_services":{"include_only":[]}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 314.365709ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":["!test-update","*"],"auth_config":{"external_id":"ce6ef968aafc4cdcb380437071faf40e","role_name":"test-tf-TestAccIntegrationAwsAccount_RoleBased-local-1758619167"},"aws_account_id":"985048505155","aws_partition":"aws","aws_regions":{"include_only":["us-east-1"]},"logs_config":{"lambda_forwarder":{"lambdas":["arn:aws:lambda:us-east-1:123456789123:function:test-fn"],"log_source_config":{"tag_filters":[{"source":"lambda","tags":["tag3","tag4"]},{"source":"cloudtrail","tags":["tag5","tag6"]}]},"sources":["s3","lambda","cloudtrail"]}},"metrics_config":{"automute_enabled":false,"collect_cloudwatch_alarms":true,"collect_custom_metrics":true,"enabled":false,"namespace_filters":{"include_only":["AWS/EC2"]},"tag_filters":[{"namespace":"AWS/EC2","tags":["tag1","tag2"]},{"namespace":"AWS/Lambda","tags":["tag3","tag4"]}]},"resources_config":{"cloud_security_posture_management_collection":true,"extended_collection":true},"traces_config":{"xray_services":{"include_all":true}}},"type":"account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/aws/accounts/%227cde8a5a-a865-4bbf-a861-4eaf4a6d1668%22
        method: PATCH
      re[...]
[...]
