---
version: 1
interactions:
- request:
    body: |
      {"name":"tf-TestDatadogDashListInDashboard-local-1690910469"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: |
      {"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-01T17:21:12.729812+00:00","dashboards":null,"dashboard_count":0,"id":404973,"is_favorite":false,"modified":"2023-08-01T17:21:12.729818+00:00","name":"tf-TestDatadogDashListInDashboard-local-1690910469","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListInDashboard-local-1690910469-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"g8e-27i-t9s","title":"tf-TestDatadogDashListInDashboard-local-1690910469-time","description":"Created using the Datadog provider in Terraform","author_handle":"hanting.zhang@datadoghq.com","author_name":"Hanting Zhang","layout_type":"ordered","url":"/dashboard/g8e-27i-t9s/tf-testdatadogdashlistindashboard-local-1690910469-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":2783692773127749}],"notify_list":[],"created_at":"2023-08-01T17:21:13.198600+00:00","modified_at":"2023-08-01T17:21:13.198600+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/g8e-27i-t9s
    method: GET
  response:
    body: |
      {"id":"g8e-27i-t9s","title":"tf-TestDatadogDashListInDashboard-local-1690910469-time","description":"Created using the Datadog provider in Terraform","author_handle":"hanting.zhang@datadoghq.com","author_name":"Hanting Zhang","layout_type":"ordered","url":"/dashboard/g8e-27i-t9s/tf-testdatadogdashlistindashboard-local-1690910469-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":2783692773127749}],"notify_list":[],"created_at":"2023-08-01T17:21:13.198600+00:00","modified_at":"2023-08-01T17:21:13.198600+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"g8e-27i-t9s","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/404973/dashboards
    method: POST
  response:
    body: |
      {"added_dashboards_to_list":[{"type":"custom_timeboard","id":"g8e-27i-t9s"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/404973
    method: GET
  response:
    body: |
      {"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-01T17:21:12.729812+00:00","dashboards":null,"dashboard_count":1,"id":404973,"is_favorite":false,"modified":"2023-08-01T17:21:13.766897+00:00","name":"tf-TestDatadogDashListInDashboard-local-1690910469","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/404973/dashboards
    method: GET
  response:
    body: |
      {"dashboards":[{"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-01T17:21:13.198600+00:00","is_favorite":false,"is_shared":false,"modified":"2023-08-01T17:21:13.198600+00:00","title":"tf-TestDatadogDashListInDashboard-local-1690910469-time","type":"custom_timeboard","id":"g8e-27i-t9s","url":"/dashboard/g8e-27i-t9s/tf-testdatadogdashlistindashboard-local-1690910469-time","is_read_only":true,"tags":[],"icon":null,"integration_id":null,"popularity":0}],"total":1}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"dashboards":[{"id":"g8e-27i-t9s","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/404973/dashboards
    method: DELETE
  response:
    body: |
      {"deleted_dashboards_from_list":[{"type":"custom_timeboard","id":"g8e-27i-t9s"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/404973
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_list_id":404973}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/g8e-27i-t9s
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"g8e-27i-t9s"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/404973
    method: GET
  response:
    body: '{"errors":["Manual Dashboard List with id 404973 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
