---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackTopologyMap-local-1758619070","type":"group","widgets":[{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"},{"is_hidden":true,"link":"https://app.datadoghq.com/dashboard/lists","override_label":"logs"}],"requests":[{"query":{"data_source":"service_map","filters":["env:prod","datacenter:dc1"],"service":"master-db"},"request_type":"topology"}],"title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","title_size":"16","type":"topology_map"},"layout":{"height":4,"width":3,"x":5,"y":5}}]}},"name":"tf-TestAccDatadogPowerpackTopologyMap-local-1758619070","tags":["tag:foo1"],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/powerpacks
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"2e7c0c24-985e-11f0-8198-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackTopologyMap-local-1758619070","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackTopologyMap-local-1758619070","type":"group","widgets":[{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"},{"is_hidden":true,"link":"https://app.datadoghq.com/dashboard/lists","override_label":"logs"}],"requests":[{"query":{"data_source":"service_map","filters":["env:prod","datacenter:dc1"],"service":"master-db"},"request_type":"topology"}],"title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","title_size":"16","type":"topology_map"},"layout":{"height":4,"width":3,"x":5,"y":5},"id":4888272307791155}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","email":"frog@datadoghq.com"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.846625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/powerpacks/2e7c0c24-985e-11f0-8198-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"2e7c0c24-985e-11f0-8198-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackTopologyMap-local-1758619070","description":"Created using the Datadog provider in Terrafo[...]
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/powerpacks/2e7c0c24-985e-11f0-8198-da7ad0900002
        method: GET
      response:
            - chunked
        body: '{"errors":["Powerpack with ID 2e7c0c24-985e-11f0-8198-da7ad0900002 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 153.434916ms
