---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"end_month":202502,"entries":[{"amount":1000,"month":202501,"tag_filters":[{"tag_key":"service","tag_value":"ec2"}]},{"amount":1000,"month":202502,"tag_filters":[{"tag_key":"service","tag_value":"ec2"}]}],"metrics_query":"sum:aws.cost.amortized{service:ec2} by {service}","name":"tf-TestAccDatadogCostCustomForecast_Update-local-1784282056","start_month":202501},"type":"budget"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/budget/validate
        method: POST
      response:
        body: '{"data":{"id":"budget_validation","type":"budget_validation","attributes":{"valid":true}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 116.987041ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"end_month":202502,"entries":[{"amount":1000,"month":202501,"tag_filters":[{"tag_key":"service","tag_value":"ec2"}]},{"amount":1000,"month":202502,"tag_filters":[{"tag_key":"service","tag_value":"ec2"}]}],"metrics_query":"sum:aws.cost.amortized{service:ec2} by {service}","name":"tf-TestAccDatadogCostCustomForecast_Update-local-1784282056","start_month":202501},"type":"budget"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/budget
        method: PUT
      response:
        body: '{"data":{"id":"6ff19638-6946-40c9-9357-a73cf8cde0d8","type":"budget","attributes":{"created_at":1784282060605,"created_by":"5bca00bb-9154-4108-8376-7bc61f976482","end_month":202502,"entries":[{"month":202501,"amount":1000,"tag_filters":[{"tag_key":"service","tag_value":"ec2"}]},{"month":202502,"amount":1000,"tag_filters":[{"tag_key":"service","tag_value":"ec2"}]}],"metrics_query":"sum:aws.cost.amortized{service:ec2} by {service}","name":"tf-TestAccDatadogCostCustomForecast_Update-local-1784282056","org_id":321813,"start_month":202501,"total_amount":2000,"updated_at":1784282060605,"updated_by":"5bca00bb-9154-4108-8376-7bc61f976482"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 285.370917ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"budget_uid":"6ff19638-6946-40c9-9357-a73cf8cde0d8","entries":[{"amount":400,"month":202501,"tag_filters":[{"tag_key":"service","tag_value":"ec2"}]}]},"type":"custom_forecast"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/budget/custom-forecast
        method: PUT
      response:
        body: '{"data":{"id":"9fb4f927-a7ed-4cb7-a3c4-22ee11c3eb9d","type":"custom_forecast","attributes":{"budget_uid":"6ff19638-6946-40c9-9357-a73cf8cde0d8","created_at":1784282061022,"created_by":"5bca00bb-9154-4108-8376-7bc61f976482","entries":[{"month":202501,"amount":400,"tag_filters":[{"tag_key":"service","tag_value":"ec2"}]}],"updated_at":1784282061022,"updated_by":"5bca00bb-9154-4108-8376-7bc61f976482"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 394.481833ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/6ff19638-6946-40c9-9357-a73cf8cde0d8
        method: GET
      response:
        body: '{"data":{"id":"6ff19638-6946-40c9-9357-a73cf8cde0d8","type":"budget","attributes":{"created_at":1784282060605,"created_by":"5bca00bb-9154-4108-8376-7bc61f976482","end_month":202502,"entries":[{"month":202501,"amount":1000,"tag_filters":[{"tag_key":"service","tag_value":"ec2"}]},{"month":202502,"amount":1000,"tag_filters":[{"tag_key":"service","tag_value":"ec2"}]}],"metrics_query":"sum:aws.cost.amortized{service:ec2} by {service}","name":"tf-TestAccDatadogCostCustomForecast_Update-local-1784282056","org_id":321813,"start_month":202501,"total_amount":2000,"updated_at":1784282060605,"updated_by":"5bca00bb-9154-4108-8376-7bc61f976482"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 195.048958ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/6ff19638-6946-40c9-9357-a73cf8cde0d8/custom-forecast
        method: GET
      response:
        body: '{"data":{"id":"9fb4f927-a7ed-4cb7-a3c4-22ee11c3eb9d","type":"custom_forecast","attributes":{"budget_uid":"6ff19638-6946-40c9-9357-a73cf8cde0d8","created_at":1784282061022,"created_by":"5bca00bb-9154-4108-8376-7bc61f976482","entries":[{"month":202501,"amount":400,"tag_filters":[{"tag_key":"service","tag_value":"ec2"}]}],"updated_at":1784282061022,"updated_by":"5bca00bb-9154-4108-8376-7bc61f976482"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 263.754417ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/6ff19638-6946-40c9-9357-a73cf8cde0d8/custom-forecast
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"rpc error: code = NotFound desc = custom forecast not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 173.784792ms
