---
version: 1
interactions:
- request:
    body: |
      {"id":"","layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardDatasource-local-1611850704 two","widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"hu4-sq9-sfw","title":"tf-TestAccDatadogDashboardDatasource-local-1611850704
      two","url":"/dashboard/hu4-sq9-sfw/tf-testaccdatadogdashboarddatasource-local-1611850704-two","created_at":"2021-01-28T16:56:32.906398+00:00","modified_at":"2021-01-28T16:56:32.906398+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":1389750466763187}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.3796727"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/hu4-sq9-sfw
    method: GET
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"hu4-sq9-sfw","title":"tf-TestAccDatadogDashboardDatasource-local-1611850704
      two","url":"/dashboard/hu4-sq9-sfw/tf-testaccdatadogdashboarddatasource-local-1611850704-two","created_at":"2021-01-28T16:56:32.906398+00:00","modified_at":"2021-01-28T16:56:32.906398+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":1389750466763187}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.3796727"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/pg3-bhd-tj8
    method: GET
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"pg3-bhd-tj8","title":"tf-TestAccDatadogDashboardDatasource-local-1611850704
      one","url":"/dashboard/pg3-bhd-tj8/tf-testaccdatadogdashboarddatasource-local-1611850704-one","created_at":"2021-01-28T16:56:34.366064+00:00","modified_at":"2021-01-28T16:56:34.366064+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget
      Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":7046293513764545}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.3796727"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListDashboards
    url: https://api.datadoghq.com/api/v1/dashboard
    method: GET
  response:
    body: '{"dashboards":[{"created_at":"2020-12-09T04:18:00.388550+00:00","author_handle":"gregory.zussa@datadoghq.com","is_read_only":false,"description":"Created
      using the Datadog provider in Terraform","title":"Acceptance Test Timeboard","url":"/dashboard/ia3-mtz-d4e/acceptance-test-timeboard","layout_type":"ordered","modified_at":"2020-12-09T04:18:00.388550+00:00","id":"ia3-mtz-d4e"},{"created_at":"2021-01-28T16:56:34.366064+00:00","author_handle":"frog@datadoghq.com","is_read_only":false,"description":null,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/hu4-sq9-sfw
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"hu4-sq9-sfw"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - "35.3796727"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/pg3-bhd-tj8
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID pg3-bhd-tj8 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3796727"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
