---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test rule description","enabled":true,"level":1,"name":"tf-TestAccDatadogScorecardRuleDataSource_Basic-local-1778786897","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRuleDataSource_Basic-local-1778786897-scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scorecard/rules
        method: POST
      response:
        body: '{"data":{"id":"insg1_1w3e5zzag1","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRuleDataSource_Basic-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.355696927Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-05-14T19:28:19.355696927Z","name":"tf-TestAccDatadogScorecardRuleDataSource_Basic-local-1778786897","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRuleDataSource_Basic-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"insg1_1w3e5zzag1","type":"policy-scope"}},"scorecard":{"data":{"id":"HXVXewxHEtmg","type":"scorecard"}}}},"included":[{"id":"insg1_1w3e5zzag1","type":"policy-scope","attributes":{"scopes":[{"kind":"service","query":"has_definition:\"true\""},{"kind":"queue","query":"has_definition:\"true\""},{"kind":"datastore","query":"has_definition:\"true\""}]}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 512.263959ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=insg1_1w3e5zzag1&page%5Bsize%5D=1
        method: GET
      response:
        body: '{"data":[{"id":"insg1_1w3e5zzag1","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRuleDataSource_Basic-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.355696Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-05-14T19:28:19.355696Z","name":"tf-TestAccDatadogScorecardRuleDataSource_Basic-local-1778786897","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRuleDataSource_Basic-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"insg1_1w3e5zzag1","type":"policy-scope"}},"scorecard":{"data":{"id":"HXVXewxHEtmg","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=insg1_1w3e5zzag1\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 38.030375ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules/insg1_1w3e5zzag1
        method: DELETE
      response:
        body: '{"data":{"id":"insg1_1w3e5zzag1","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRuleDataSource_Basic-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.355696Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-05-14T19:28:19.355696Z","name":"tf-TestAccDatadogScorecardRuleDataSource_Basic-local-1778786897","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRuleDataSource_Basic-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"insg1_1w3e5zzag1","type":"policy-scope"}},"scorecard":{"data":{"id":"HXVXewxHEtmg","type":"scorecard"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 726.699583ms
[...]
