---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplicationDatasourceNameFilter-local-1758891998-extra","type":"android"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"updated_by_handle":"frog@datadoghq.com","short_name":"tf_testaccdatadogrumapplicationd_68","name":"tf-TestAccDatadogRUMApplicationDatasourceNameFilter-local-1758891998-extra","org_id":569509,"is_active":false,"ootb_metrics_installed":false,"product_analytics_replay_sample_rate":100,"hash":"pub91bfc0e6d16aa202d94f356b5f7d2175","api_key_id":658971,"created_at":1758892000306,"tags":[],"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1758892000306},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1758892000306}},"updated_at":1758892000306,"application_id":"36ece488-e17c-4b06-aaf2-0e43260a3c9f","client_token":"pub91bfc0e6d16aa202d94f356b5f7d2175","type":"android","created_by_handle":"frog@datadoghq.com"},"id":"36ece488-e17c-4b06-aaf2-0e43260a3c9f"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 584.1245ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/c6661fcf-86f1-49e5-9c14-8eb1f43cd264
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"api_key_id":658975,"client_token":"pub35abd342b3c83af8883a9473160325fc","ootb_metrics_installed":false,"product_scales":{"rum_event_processing_scale":{"last_modified_at":1758892000403,"state":"ALL"},"product_analytics_retention_scale":{"last_modified_at":1758892000403,"state":"NONE"}},"application_id":"c6661fcf-86f1-49e5-9c14-8eb1f43cd264","hash":"pub35abd342b3c83af8883a9473160325fc","type":"browser","updated_by_handle":"frog@datadoghq.com","tags":[],"name":"tf-TestAccDatadogRUMApplicationDatasourceNameFilter-local-1758891998","created_at":1758892000403,"product_analytics_replay_sample_rate":100,"short_name":"tf_testaccdatadogrumapplicationd_72","created_by_handle":"frog@datadoghq.com","is_active":false,"updated_at":1758892000403,"org_id":569509},"id":"c6661fcf-86f1-49e5-9c14-8eb1f43cd264"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.860125ms
[...]
