---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationDatasource-local-1741116941","published":false,"spec":{"triggers":[{"workflowTrigger":{}}]},"tags":["foo:bar","service:foo","team:bar"],"webhookSecret":""},"type":"workflows"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/workflows
        method: POST
      response:
        body: '{"data":{"id":"dd7539aa-9560-456e-86dc-fa517e7c18b4","type":"workflows","attributes":{"createdAt":"2025-03-04T19:35:43.278739Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationDatasource-local-1741116941","published":false,"spec":{"triggers":[{"workflowTrigger":{}}]},"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2025-03-04T19:35:43.278739Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 132.240833ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/dd7539aa-9560-456e-86dc-fa517e7c18b4
        method: GET
      response:
        body: '{"data":{"id":"dd7539aa-9560-456e-86dc-fa517e7c18b4","type":"workflows","attributes":{"createdAt":"2025-03-04T19:35:43.278739Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationDatasource-local-1741116941","published":false,"spec":{"triggers":[{"workflowTrigger":{}}]},"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2025-03-04T19:35:43.278739Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 122.521375ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/dd7539aa-9560-456e-86dc-fa517e7c18b4
        method: GET
      response:
        body: '{"errors":[{"detail":"workflow not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 58.769166ms
