---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccteamnotificationruleupdate-local-1787701958","name":"tf-testaccteamnotificationruleupdate-local-1787701958"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"e1b1b425-42d6-4b16-a74b-260472c48a4d","type":"team","attributes":{"avatar":null,"banner":5,"created_at":"2026-08-25T23:52:39.733818+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleupdate-local-1787701958","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-08-25T23:52:39.733818+00:00","name":"tf-testaccteamnotificationruleupdate-local-1787701958","provisioned_by":"teams_terraform","summary":"Example team","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/e1b1b425-42d6-4b16-a74b-260472c48a4d/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/e1b1b425-42d6-4b16-a74b-260472c48a4d/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 116.693375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":true}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/e1b1b425-42d6-4b16-a74b-260472c48a4d/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"2df3d94d-cb9e-4630-b646-71061a39f16a","type":"team_notification_rules","attributes":{"email":{"enabled":true}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 112.734625ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/e1b1b425-42d6-4b16-a74b-260472c48a4d/notification-rules/2df3d94d-cb9e-4630-b646-71061a39f16a
        method: GET
      response:
        body: '{"data":{"id":"2df3d94d-cb9e-4630-b646-71061a39f16a","type":"team_notification_rules","attributes":{"email":{"enabled":true}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 68.545375ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/e1b1b425-42d6-4b16-a74b-260472c48a4d
        method: GET
      response:
        body: '{"data":{"id":"e1b1b425-42d6-4b16-a74b-260472c48a4d","type":"team","attributes":{"created_at":"2026-08-25T23:52:39.733818+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleupdate-local-1787701958","is_managed":false,"link_count":0,"modified_at":"2026-08-25T23:52:39.733818+00:00","name":"tf-testaccteamnotificationruleupdate-local-1787701958","provisioned_by":"teams_terraform","summary":"Example team","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/e1b1b425-42d6-4b16-a74b-260472c48a4d/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/e1b1b425-42d6-4b16-a74b-260472c48a4d/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 56.983ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":false},"slack":{"channel":"#alerts","workspace":"MyWorkspace"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/e1b1b425-42d6-4b16-a74b-260472c48a4d/notification-rules/2df3d94d-cb9e-4630-b646-71061a39f16a
        method: PUT
      response:
        body: '{"data":{"id":"2df3d94d-cb9e-4630-b646-71061a39f16a","type":"team_notification_rules","attributes":{"email":{"enabled":false},"slack":{"workspace":"MyWorkspace","channel":"#alerts"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 133.260584ms
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"channel":"#test-channel","workspace":"Datadog"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/e1b1b425-42d6-4b16-a74b-260472c48a4d/notification-rules/2df3d94d-cb9e-4630-b646-71061a39f16a
        method: PUT
      response:
        body: '{"data":{"id":"2df3d94d-cb9e-4630-b646-71061a39f16a","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 131.369583ms
[...]
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/e1b1b425-42d6-4b16-a74b-260472c48a4d/notification-rules/2df3d94d-cb9e-4630-b646-71061a39f16a
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 57.478167ms
