---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1747758260","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1747758260","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.320625ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1747758260","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1747758260","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":172678242,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1747758260","message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1747758260","tags":[],"query":"avg(last_1h):avg:system.load.5{*} > 4","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4.0},"notify_audit":false,"silenced":{}},"multi":false,"created_at":1747758262000,"created":"2025-05-20T16:24:22.268645+00:00","modified":"2025-05-20T16:24:22.268645+00:00","deleted":null,"priority":3,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.349917ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/172678242
        method: GET
      response:
            - chunked
        body: |
            {"id":172678242,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1747758260","message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1747758260","tags":[],"query":"avg(last_1h):avg:system.load.5{*} > 4","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4.0},"notify_audit":false,"silenced":{}},"multi":false,"created_at":1747758262000,"created":"2025-05-20T16:24:22.268645+00:00","modified":"2025-05-20T16:24:22.268645+00:00","deleted":null,"priority":3,"restricted_roles":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.823792ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1747758260","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1747758260","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/172678242/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.105333ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/172678242
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":172678242}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.902083ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/172678242
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.084875ms
