---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"output","inputs":["remap-group"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"filter-group","include":"*","inputs":["my-source"],"processors":[{"enabled":true,"id":"filter-1","include":"*","type":"filter"},{"enabled":true,"fields":["old_field","another_field"],"id":"filter-2","include":"*","type":"remove_fields"}]},{"enabled":true,"id":"remap-group","include":"*","inputs":["filter-group"],"processors":[{"enabled":true,"fields":[{"name":"new_field","value":".old_field"}],"id":"remap-1","include":"*","type":"add_fields"}]}],"sources":[{"id":"my-source","type":"datadog_agent"}]},"name":"multiple-processor-groups-test"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"272374d6-d507-11f0-b9de-da7ad0900002","type":"pipelines","attributes":{"name":"multiple-processor-groups-test","config":{"destinations":[{"id":"output","inputs":["remap-group"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"filter-group","include":"*","inputs":["my-source"],"processors":[{"enabled":true,"id":"filter-1","include":"*","type":"filter"},{"enabled":true,"fields":["old_field","another_field"],"id":"filter-2","include":"*","type":"remove_fields"}]},{"enabled":true,"id":"remap-group","include":"*","inputs":["filter-group"],"processors":[{"enabled":true,"fields":[{"name":"new_field","value":".old_field"}],"id":"remap-1","include":"*","type":"add_fields"}]}],"sources":[{"id":"my-source","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 670.058125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/272374d6-d507-11f0-b9de-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"272374d6-d507-11f0-b9de-da7ad0900002","type":"pipelines","attributes":{"name":"multiple-processor-groups-test","config":{"destinations":[{"id":"output","inputs":["remap-group"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"filter-group","include":"*","inputs":["my-source"],"processors":[{"enabled":true,"id":"filter-1","include":"*","type":"filter"},{"enabled":true,"fields":["old_field","another_field"],"id":"filter-2","include":"*","type":"remove_fields"}]},{"enabled":true,"id":"remap-group","include":"*","inputs":["filter-group"],"processors":[{"enabled":true,"fields":[{"name":"new_field","value":".old_field"}],"id":"remap-1","include":"*","type":"add_fields"}]}],"sources":[{"id":"my-source","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 385.419375ms
[...]
