---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"forward_tags":true,"forward_tags_restriction_list_type":"ALLOW_LIST","forwarder_destination":{"auth":{"password":"test-pass","type":"basic","username":"test-user"},"endpoint":"https://example.org","type":"http"},"name":"tf-TestAccDatadogLogsCustomDestination_basic-local-1758619105","query":""},"type":"custom_destination"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations
        method: POST
      response:
            - chunked
        body: |
            {"errors":["Max number of 20 custom destinations reached"]}
        headers:
            Content-Type:
                - application/json
        status: 422 Unprocessable Entity
        code: 422
        duration: 394.488041ms
