---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_invitation-local-1615213964@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"2986ca0c-801b-11eb-96d7-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_invitation-local-1615213964@example.com","created_at":"2021-03-08T14:32:51.407696+00:00","email":"tf-testaccdatadoguser_invitation-local-1615213964@example.com","icon":"https://secure.gravatar.com/avatar/85cf765d10b584836079212710c385d9?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4051267"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"2986ca0c-801b-11eb-96d7-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"29c1b1b2-801b-11eb-96d7-da7ad0900002","attributes":{"uuid":"29c1b1b2-801b-11eb-96d7-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2021-03-08T14:32:51.795042+00:00","expires_at":"2021-03-10T14:32:51.677487+00:00"},"relationships":{"user":{"data":{"type":"users","id":"2986ca0c-801b-11eb-96d7-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4051267"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/2986ca0c-801b-11eb-96d7-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"2986ca0c-801b-11eb-96d7-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_invitation-local-1615213964@example.com","created_at":"2021-03-08T14:32:51.407696+00:00","email":"tf-testaccdatadoguser_invitation-local-1615213964@example.com","icon":"https://secure.gravatar.com/avatar/85cf765d10b584836079212710c385d9?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4051267"
    status: 200 OK
    code: 200
    duration: ""
[...]
