---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"Query":"service:web"},"type":"validate_query"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/validate-query
        method: POST
      response:
        body: '{"data":{"id":"a87facdb-4720-4082-acc9-9bc8fa7f18d4","type":"validate_response","attributes":{"Canonical":"service:web"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 118.949416ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":{"destination_key":"env","if_not_exists":true,"source_keys":["environment"]},"name":"mapping-rule","query":null,"reference_table":null},{"enabled":true,"mapping":null,"name":"query-rule","query":{"addition":{"key":"tier","value":"frontend"},"case_insensitivity":false,"if_not_exists":false,"query":"service:web"},"reference_table":null},{"enabled":true,"mapping":null,"name":"ref-table-rule","query":null,"reference_table":{"case_insensitivity":false,"field_pairs":[{"input_column":"application","output_key":"app_name"}],"if_not_exists":false,"source_keys":["app"],"table_name":"lookup_table"}}]},"id":"tf-test-multi-ruleset-tf-TestAccDatadogTagPipelineRuleset_MultipleRules-local-1782916289","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"ae9a10de-a2b6-459d-be20-78741d571427","type":"ruleset","attributes":{"created":{"seconds":1782916292,"nanos":258216000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1782916292,"nanos":258216000},"name":"tf-test-multi-ruleset-tf-TestAccDatadogTagPipelineRuleset_MultipleRules-local-1782916289","position":1,"rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment"],"destination_key":"env","if_not_exists":true,"if_tag_exists":"do_not_apply"},"reference_table":null,"metadata":null},{"name":"query-rule","enabled":true,"query":{"query":"service:web","addition":{"key":"tier","value":"frontend"},"if_not_exists":false,"case_insensitivity":false,"if_tag_exists":"append"},"mapping":null,"reference_table":null,"metadata":null},{"name":"ref-table-rule","enabled":true,"query":null,"mapping":null,"reference_table":{"table_name":"lookup_table","source_keys":["app"],"field_pairs":[{"input_column":"application","output_key":"app_name"}],"case_insensitivity":false,"if_not_exists":false,"if_tag_exists":"append"},"metadata":null}],"version":3718510}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 98.450459ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/ae9a10de-a2b6-459d-be20-78741d571427
        method: GET
      response:
        body: '{"data":{"id":"ae9a10de-a2b6-459d-be20-78741d571427","type":"ruleset","attributes":{"created":{"seconds":1782916292,"nanos":258216000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":178[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/ae9a10de-a2b6-459d-be20-78741d571427
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset ae9a10de-a2b6-459d-be20-78741d571427 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 72.825166ms
