---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{},"type":"governance_control"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/governance/control/unused_api_keys
        method: PATCH
      response:
        body: '{"data":{"id":"unused_api_keys","type":"governance_control","attributes":{"active_detections_count":0,"category":"security","created_at":"2026-08-03T09:35:38.97538Z","created_by":"48e5159f-e308-11ef-bcfc-2666505bfd8f","description":"Identifies API keys that have not been used within your specified time threshold, helping reduce security risks from dormant credentials. The default threshold is 30 days of inactivity, and can be adjusted.","detection_frequency":"daily","detection_parameters":{},"insights":[],"last_detection_at":null,"mitigated_detections_count":0,"mitigation_parameters":{},"mitigation_type":"","mitigations":[{"id":"revoke_api_key","title":"Revoke Unused API Keys","description":"Automatically identifies and revokes inactive API keys to improve security and reduce potential attack surface.","supported_parameters":[],"permissions":["api_keys_write","api_keys_delete"],"execution_modes":["manual","automatic"]}],"name":"Unused API Keys","priority":"High","product":"api_keys","resource_type":"api_key","resource_type_display_name":"API Key","supported_detection_parameters":[{"name":"api_key_threshold","display_name":"Unused API Key Threshold","description":"Number of days of inactivity before an API key is considered unused.","type":"integer","required":false,"supported_values":null,"default_value":30},{"name":"key_name_exclusion_patterns","display_name":"Key Name Exclusion Patterns","description":"Patterns to exclude specific API key names. Supports wildcards (* and ?).","type":"pattern_list","required":false,"supported_values":null,"default_value":[]},{"name":"governance_remediation_delay","display_name":"Remediation Delay","description":"Number of days to wait before automatically remediating detections for this control","type":"integer","required":false,"supported_values":null,"default_value":7}],"type":"Proactive","usage_concern":"Security"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 199.611583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/governance/control/unused_api_keys/notification_settings
        method: GET
      response:
        body: '{"data":{"id":"unused_api_keys","type":"control_notification_settings","attributes":{"event_settings":[{"event_type":"new_detection","enabled":true,"targets":[{"type":"email","handle":"test@datadoghq.com"}]}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 159.826125ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"detection_parameters":{"api_key_threshold":45,"governance_remediation_delay":14},"mitigation_parameters":{},"mitigation_type":"revoke_api_key"},"type":"governance_control"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/governance/control/unused_api_keys
        method: PATCH
      response:
        body: '{"data":{"id":"unused_api_keys","type":"governance_control","attributes":{"active_detections_count":0,"category":"security","created_at":"2026-08-03T09:35:38.97538Z","created[...]
[...]
