---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["datadog-tags-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"datadog-tags-group-1","include":"service:my-service","inputs":["source-1"],"processors":[{"action":"include","enabled":true,"id":"datadog-tags-processor","include":"service:my-service","keys":["env","service","version"],"mode":"filter","type":"datadog_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"datadog tags processor test"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"29f891fc-db59-11f0-b5a6-da7ad0900002","type":"pipelines","attributes":{"name":"datadog tags processor test","config":{"destinations":[{"id":"destination-1","inputs":["datadog-tags-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"datadog-tags-group-1","include":"service:my-service","inputs":["source-1"],"processors":[{"action":"include","enabled":true,"id":"datadog-tags-processor","include":"service:my-service","keys":["env","service","version"],"mode":"filter","type":"datadog_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 873.218292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/29f891fc-db59-11f0-b5a6-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"29f891fc-db59-11f0-b5a6-da7ad0900002","type":"pipelines","attributes":{"name":"datadog tags processor test","config":{"destinations":[{"id":"destination-1","inputs":["datadog-tags-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"datadog-tags-group-1","include":"service:my-service","inputs":["source-1"],"processors":[{"action":"include","enabled":true,"id":"datadog-tags-processor","include":"service:my-service","keys":["env","service","version"],"mode":"filter","type":"datadog_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 366.160458ms
[...]
