---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateRuleWithExcludedResources-local-1765529950","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"1ddbde66-5472-4f89-acdd-112f6b17a5da","type":"deployment_gate","attributes":{"created_at":"2025-12-12T08:59:11.400178Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateRuleWithExcludedResources-local-1765529950","service":"my-service","updated_at":"2025-12-12T08:59:11.400178Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 170.252416ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"fdd_with_exclusions","options":{"duration":1300,"excluded_resources":["GET /api/v1/health","GET /api/v1/status"]},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/1ddbde66-5472-4f89-acdd-112f6b17a5da/rules
        method: POST
      response:
        body: '{"data":{"id":"9c95bf59-ae4e-4fb9-911f-8b8678364a82","type":"deployment_rule","attributes":{"created_at":"2025-12-12T08:59:11.542417Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"1ddbde66-5472-4f89-acdd-112f6b17a5da","name":"fdd_with_exclusions","options":{"duration":1300,"excluded_resources":["GET /api/v1/health","GET /api/v1/status"]},"type":"faulty_deployment_detection","updated_at":"2025-12-12T08:59:11.542417Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 137.923125ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/1ddbde66-5472-4f89-acdd-112f6b17a5da
        method: GET
      response:
        body: '{"data":{"id":"1ddbde66-5472-4f89-acdd-112f6b17a5da","type":"deployment_gate","attributes":{"created_at":"2025-12-12T08:59:11.400178Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateRuleWithExcludedResources-local-1765529950","service":"my-service","updated_at":"2025-12-12T08:59:11.400178Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 145.288167ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/1ddbde66-5472-4f89-acdd-112f6b17a5da/rules
        method: GET
      response:
        body: '{"data":{"id":"1ddbde66-5472-4f89-acdd-112f6b17a5da","type":"list_deployment_rules","attributes":{"rules":[{"id":"9c95bf59-ae4e-4fb9-911f-8b8678364a82","name":"fdd_with_exclusions","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-12T08:59:11.542417Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-12T08:59:11.542417Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"1ddbde66-5472-4f89-acdd-112f6b17a5da","options":{"duration":1300,"excluded_resources":["GET /api/v1/health","GET /api/v1/status"]}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 146.772208ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/1ddbde66-5472-4f89-acdd-112f6b17a5da/rules/9c95bf59-ae4e-4fb9-911f-8b8678364a82
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 138.758792ms
[...]
