---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"message":"tf-TestAccDatadogDowntime_DiffStart-local-1768832013","monitor_tags":["*"],"scope":["new:somescope"],"timezone":"UTC"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/downtime
        method: POST
      response:
            - chunked
        body: |
            {"id":6253331937,"monitor_id":null,"org_id":321813,"start":1768832014,"end":null,"canceled":null,"created":1768832014,"modified":1768832014,"message":"tf-TestAccDatadogDowntime_DiffStart-local-1768832013","active":true,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"db8db3c3-9b1e-46ad-94e7-6bdba66ac80c","scope":["new:somescope"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 432.996666ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/downtime/6253331937
        method: GET
      response:
            - chunked
        body: |
            {"id":6253331937,"monitor_id":null,"org_id":321813,"start":1768832014,"end":null,"canceled":null,"created":1768832014,"modified":1768832014,"message":"tf-TestAccDatadogDowntime_DiffStart-local-1768832013","active":true,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"db8db3c3-9b1e-46ad-94e7-6bdba66ac80c","scope":["new:somescope"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 271.999417ms
[...]
