---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogusersdatasourcefilterstatus-local-17031666952@example.com","name":"user 2"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"10a3871a-a008-11ee-984c-a64f775a818e","attributes":{"name":"user 2","handle":"tf-testaccdatadogusersdatasourcefilterstatus-local-17031666952@example.com","created_at":"2023-12-21T13:51:39.439930+00:00","modified_at":"2023-12-21T13:51:39.439930+00:00","email":"tf-testaccdatadogusersdatasourcefilterstatus-local-17031666952@example.com","icon":"https://secure.gravatar.com/avatar/f22ff313c7cfcc2ae39c8c6fc37e483d?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 686.271541ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"10a42134-a008-11ee-9dc0-0a6c606fff74","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"10e1395a-a008-11ee-a625-da7ad0900002","attributes":{"uuid":"10e1395a-a008-11ee-a625-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2023-12-21T13:51:39.843868+00:00","expires_at":"2023-12-23T13:51:39.732978+00:00"},"relationships":{"user":{"data":{"type":"users","id":"10a42134-a008-11ee-9dc0-0a6c606fff74"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 299.954709ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter%5Bstatus%5D=Active&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"f0182270-a635-11ed-af86-0ec0bd96ac3b","attributes":{"name":"Aldrick Castro","handle":"aldrick.castro@datadoghq.com","created_at":"2023-02-06T15:50:10.995740+00:00","modified_at":"2023-02-06T15:51:59.847148+00:00","email":"aldrick.castro@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c4b2f071a7e83e98302afbc9889cfc18?s=48&d=retro","title":"","verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active","mfa_enabled":false},"relationships":{"roles":{"data":[{"type":"roles","id":"94172442-be03-11e9-a77a-3b7612558ac1"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},{"type":"users","id":"af29975c-059c-11ea-a77c-c3d911d2ed55","attributes":{"name":"Andrew McBurney","handle":"andrew.mcburney@datadoghq.com","created_at":"2019-11-12T22:35:09.997764+00:00","modified_at":"2019-11-12T22:35:27.629304+00:00","email":"andrew.mcburney@datadoghq.com","icon":"https://secure.gravatar.com/avatar[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/10a42134-a008-11ee-9dc0-0a6c606fff74
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 243.74625ms
[...]
