---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/permissions
    method: GET
  response:
    body: '{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","attributes":{"name":"admin","display_name":"Privileged Access","description":"Deprecated. Privileged Access (also known as Admin permission) has been replaced by more specific permissions: Access Management, Org Management, Billing Read/Write, Usage Read/Write.","created":"2018-10-19T15:35:23.734317+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard Access","description":"View and edit components in your Datadog organization that do not have explicitly defined permissions. This includes configuring integrations (from the UI), SLOs, events, most facets, and saved views.","created":"2018-10-19T15:35:23.756736+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"5e60[...]
- request:
    body: |
      {"data":{"attributes":{"name":"abc"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"667cbd82-c7d1-11ec-aad8-da7ad0900002","attributes":{"name":"abc","created_at":"2022-04-29T15:31:12.318318+00:00","modified_at":"2022-04-29T15:31:12.389973+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles/667cbd82-c7d1-11ec-aad8-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"667cbd82-c7d1-11ec-aad8-da7ad0900002","attributes":{"name":"abc","created_at":"2022-04-29T15:31:12.318318+00:00","modified_at":"2022-04-29T15:31:12.389973+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"a private location","metadata":{"restricted_roles":["667cbd82-c7d1-11ec-aad8-da7ad0900002"]},"name":"tf-TestAccDatadogSyntheticsPrivateLocation_importBasic-local-1651246257","tags":["foo:bar","baz"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/private-locations
    method: POST
  response:
    body: '{"private_location":{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_importBasic-local-1651246257","tags":["foo:bar","baz"],"secrets":{"authentication":{"id":"d85657b39a8aedacb1d3392ffb40cd44","key":"a3307747158348309e35b2b39bca14824d69940862126f36df933001c9c748b1"},"config_decryption":{"id":"a5d93bb661f81a43f10ed1bd2a430092","key":"-----BEGIN RSA PRIVATE KEY-----\nMIIJJwIBAAKCAgEAkYf2kNP2+oiFdDLZyJ0qXxJcbZ/TkhnkoeIDiDsqV2PMyS6F\nazNHenl+g7dlW6Cm+1mEwvPE4pXREXDOzffzWMyJN0cFpmhyXxVtzH7p+3umoGjy\nKm+1wwPf2nlj1icunpieOf5l2YsLIgaYKrhduqxCnVkIY/dx3xC+kNOmBcdhlE+8\nbRUghXs1xbmtC9aSlFSJneS6JxcS3RaT56SojKohZQvnf4HvbfsnYpTf/Jk6Wds6\noHt8Hsp6NS8AnqtPvXrZf/DEnmp7OissX/1EcDgBSRFG4nTDAjbKJXCZf1ZcfTIK\nuhZY/4TsjEz21Uy/Bt4TsfN4W4Eb/nR0v7/68LHxd36DeN/YBCGvxWYggXl7vAbw\nQ/GNc/I/SpVg7bT0DEicauV[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:tf-testaccdatadogsyntheticsprivatelocation_importbasic-local-1651246257-bfa87cd8faa318ede5e9e44db301e52e
    method: GET
  response:
    body: '{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_importBasic-local-1651246257","tags":["foo:bar","baz"],"description":"a private location","modifiedAt":"2022-04-29T15:31:13.106347+00:00","createdBy":"frog@datadoghq.com","id":"pl:tf-testaccdatadogsyntheticsprivatelocation_importbasic-local-1651246257-bfa87cd8faa318ede5e9e44db301e52e","createdAt":"2022-04-29T15:31:13.106347+00:00","metadata":{"restricted_roles":["667cbd82-c7d1-11ec-aad8-da7ad0900002"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:tf-testaccdatadogsyntheticsprivatelocation_importbasic-local-1651246257-bfa87cd8faa318ede5e9e44db301e52e
    method: DELETE
  response:
    body: "<html>\r\n<head><title>502 Bad Gateway</title></head>\r\n<body>\r\n<center><h1>502 Bad Gateway</h1></center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
    status: 502 Bad Gateway
    code: 502
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:tf-testaccdatadogsyntheticsprivatelocation_importbasic-local-1651246257-bfa87cd8faa318ede5e9e44db301e52e
    method: DELETE
  response:
    body: '{"errors": ["Forbidden"]}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
