---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a policy","enabled":true,"hostTags":["host_name:test_host"],"name":"zvlizjfmub"},"type":"policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
        method: POST
      response:
        body: '{"data":{"id":"ire-zj7-2xc","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":0,"name":"zvlizjfmub","policyVersion":"1","priority":1000000034,"ruleCount":0,"updateDate":1747295221428,"updater":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.65ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/ire-zj7-2xc
        method: GET
      response:
        body: '{"data":{"id":"ire-zj7-2xc","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":0,"name":"zvlizjfmub","policyVersion":"1","priority":1000000034,"ruleCount":0,"updateDate":1747295221428,"updater":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.250375ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/ire-zj7-2xc
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found"}]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 204.584416ms
