---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action_pattern":{"action_fqns":["*"],"integration":"INTEGRATION_SCRIPT"},"effect":"allow","name":"tf-TestAccDatadogActionExecutionPolicy_TargetCanonicalization-local-1787229677","targets":[{"agent_tags":["env:prod","region:a"],"name":"z-target"},{"agent_tags":["service:web"],"name":"a-target"}]},"type":"execution_policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/execution-policies
        method: POST
      response:
        body: '{"data":{"id":"78b49eeb-c5e5-41dd-9655-e9a414cbf3eb","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["*"]},"created_at":"2026-08-20T12:41:21Z","created_by":"d72ee86c-6207-4077-b40c-93fded100245","effect":"allow","name":"tf-TestAccDatadogActionExecutionPolicy_TargetCanonicalization-local-1787229677","targets":[{"agent_tags":["service:web"],"name":"a-target"},{"agent_tags":["region:a","env:prod"],"name":"z-target"}],"updated_at":"2026-08-20T12:41:21Z","updated_by":"d72ee86c-6207-4077-b40c-93fded100245","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 0s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/execution-policies/78b49eeb-c5e5-41dd-9655-e9a414cbf3eb
        method: GET
      response:
        body: '{"data":{"id":"78b49eeb-c5e5-41dd-9655-e9a414cbf3eb","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["*"]},"created_at":"2026-08-20T12:41:21Z","created_by":"d72ee86c-6207-4077-b40c-93fded100245","effect":"allow","name":"tf-TestAccDatadogActionExecutionPolicy_TargetCanonicalization-local-1787229677","targets":[{"agent_tags":["service:web"],"name":"a-target"},{"agent_tags":["region:a","env:prod"],"name":"z-target"}],"updated_at":"2026-08-20T12:41:21Z","updated_by":"d72ee86c-6207-4077-b40c-93fded100245","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 0s
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/execution-policies/78b49eeb-c5e5-41dd-9655-e9a414cbf3eb
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting execution policy"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 0s
