---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateChangeRuleType-local-1765960238","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"4b68658d-21ca-4b24-8147-3ba3d6468317","type":"deployment_gate","attributes":{"created_at":"2025-12-17T08:30:39.353157Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateChangeRuleType-local-1765960238","service":"my-service","updated_at":"2025-12-17T08:30:39.353157Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 114.782417ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/4b68658d-21ca-4b24-8147-3ba3d6468317/rules
        method: POST
      response:
        body: '{"data":{"id":"7e65c750-5ce4-4b4c-8632-a6e50a43c595","type":"deployment_rule","attributes":{"created_at":"2025-12-17T08:30:39.488847Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"4b68658d-21ca-4b24-8147-3ba3d6468317","name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-17T08:30:39.488847Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 134.518583ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/4b68658d-21ca-4b24-8147-3ba3d6468317
        method: GET
      response:
        body: '{"data":{"id":"4b68658d-21ca-4b24-8147-3ba3d6468317","type":"deployment_gate","attributes":{"created_at":"2025-12-17T08:30:39.353157Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateChangeRuleType-local-1765960238","service":"my-service","updated_at":"2025-12-17T08:30:39.353157Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 120.777958ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/4b68658d-21ca-4b24-8147-3ba3d6468317/rules
        method: GET
      response:
        body: '{"data":{"id":"4b68658d-21ca-4b24-8147-3ba3d6468317","type":"list_deployment_rules","attributes":{"rules":[{"id":"7e65c750-5ce4-4b4c-8632-a6e50a43c595","name":"test_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-17T08:30:39.488847Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-17T08:30:39.488847Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"4b68658d-21ca-4b24-8147-3ba3d6468317","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 120.371ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"test_rule","options":{"duration":300,"query":"service:test"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/4b68658d-21ca-4b24-8147-3ba3d6468317/rules
        method: POST
      response:
        body: '{"data":{"id":"d9c3c056-3b0f-46a2-b164-bfe45bc84135","type":"deployment_rule","attributes":{"created_at":"2025-12-17T08:30:41.853957Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"4b68658d-21ca-4b24-8147-3ba3d6468317","name":"test_rule","options":{"query":"service:test","duration":300},"type":"monitor","updated_at":"2025-12-17T08:30:41.853957Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 124.740875ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/4b68658d-21ca-4b24-8147-3ba3d6468317/rules/7e65c750-5ce4-4b4c-8632-a6e50a43c595
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 119.522917ms
[...]
