---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"reflow_type":"auto","template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardMultiSizeLayout_createAuto-local-1626166248","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"3q9-4sf-736","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createAuto-local-1626166248","url":"/dashboard/3q9-4sf-736/tf-testaccdatadogdashboardmultisizelayoutcreateauto-local-1626166248","created_at":"2021-07-13T08:50:50.740594+00:00","modified_at":"2021-07-13T08:50:50.740594+00:00","reflow_type":"auto","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"id":309680444138856},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"id":8904560347123632}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/3q9-4sf-736
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"3q9-4sf-736","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createAuto-local-1626166248","url":"/dashboard/3q9-4sf-736/tf-testaccdatadogdashboardmultisizelayoutcreateauto-local-1626166248","created_at":"2021-07-13T08:50:50.740594+00:00","modified_at":"2021-07-13T08:50:50.740594+00:00","reflow_type":"auto","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"id":309680444138856},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"id":8904560347123632}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/3q9-4sf-736
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"3q9-4sf-736"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
