---
version: 1
interactions:
- request:
    body: |
      {"description":"a global variable","name":"TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1628858335","tags":["foo:bar","baz"],"value":{"secure":false,"value":"variable-value"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_options":null,"parse_test_extracted_at":null,"description":"a global variable","tags":["foo:bar","baz"],"is_totp":null,"value":{"secure":false,"value":"variable-value"},"parse_test_public_id":null,"parse_test_name":null,"type":"variable","id":"bed6d2c6-caff-457c-b845-038988ed39a3","name":"TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1628858335"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "3"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/bed6d2c6-caff-457c-b845-038988ed39a3
    method: GET
  response:
    body: '{"parse_test_options":null,"parse_test_extracted_at":null,"description":"a global variable","tags":["foo:bar","baz"],"type":"variable","created_at":"2021-08-13T12:38:57.641382+00:00","creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"modified_at":"2021-08-13T12:38:57.641382+00:00","value":{"secure":false,"value":"variable-value"},"parse_test_public_id":null,"parse_test_name":null,"is_totp":null,"id":"bed6d2c6-caff-457c-b845-038988ed39a3","name":"TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1628858335"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "3"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[],"configVariables":[{"id":"bed6d2c6-caff-457c-b845-038988ed39a3","name":"VARIABLE_NAME","type":"global"}],"steps":[{"allowFailure":true,"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"extractedValues":[{"field":"content-length","name":"VAR_EXTRACT","parser":{"type":"regex","value":".*"},"type":"http_header"}],"isCritical":false,"name":"First api step","request":{"allow_insecure":true,"basicAuth":{"password":"secret","username":"admin"},"body":"this is a body","certificate":{"cert":{"content":"content-certificate","filename":"Provided in Terraform config"},"key":{"content":"content-key","filename":"key"}},"headers":{},"method":"GET","query":{"foo":"bar"},"timeout":30,"url":"https://www.datadoghq.com"},"subtype":"http"}]},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1628858335","options":{"min_location_failed":1,"tick_every":900},"status":"paused","subtype":"multi","tags":["multistep"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"paused","public_id":"mht-wzk-qvp","tags":["multistep"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","deleted_at":null,"name":"tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1628858335","monitor_id":43594789,"type":"api","created_at":"2021-08-13T12:38:58.787423+00:00","modified_at":"2021-08-13T12:38:58.787423+00:00","subtype":"multi","config":{"steps":[{"name":"First api step","request":{"body":"this is a body","allow_insecure":true,"certificate":{"cert":{"filename":"Provided in Terraform config"},"key":{"filename":"key"}},"url":"https://www.datadoghq.com","basicAuth":{"username":"admin","password":"secret"},"headers":{},"timeout":30,"query":{"foo":"bar"},"method":"GET"},"subtype":"http","allowFailure":true,"assertions":[{"operator":"is","type":"statusCode","target":200}],"isCritical":false,"id":"c7r-y8a-spi","extractedValues":[{"field":"content-length","parser":{"type":"regex","value":".*"},"type":"http_header","name":"VAR_EXTRACT"}]}],"assertions":[],"configVariables":[{"type":"global","id":"bed6d2c6-caff-457c-b845-038988ed39a3","name":"VARIABLE_NAME"}]},"options":{"min_location_failed":1,"tick_every":900}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11990"
      X-Ratelimit-Reset:
      - "3"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/mht-wzk-qvp
    method: GET
  response:
    body: '{"status":"paused","public_id":"mht-wzk-qvp","tags":["multistep"],"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1628858335","monitor_id":43594789,"type":"api","subtype":"multi","config":{"steps":[{"name":"First api st[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api/mht-wzk-qvp
    method: GET
  response:
    body: '{"status":"paused","public_id":"mht-wzk-qvp","tags":["multistep"],"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1628858335","monitor_id":43594789,"type":"api","subtype":"multi","config":{"steps":[{"name":"First[...]
- request:
    body: |
      {"public_ids":["mht-wzk-qvp"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-08-13T12:39:01.308770+00:00","public_id":"mht-wzk-qvp"}]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "59"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/bed6d2c6-caff-457c-b845-038988ed39a3
    method: GET
  response:
    body: '{"errors": ["Synthetics global variable not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "59"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
