---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardDistribution_import-local-1728677714","widgets":[{"definition":{"legend_size":"2","requests":[{"q":"avg:system.cpu.user{account:prod} by {service,account}","style":{"palette":"purple"}}],"show_legend":true,"time":{"live_span":"1h"},"title":"Avg of system.cpu.user over account:prod by service,account","title_align":"left","title_size":"16","type":"distribution","xaxis":{"include_zero":true,"max":"100","min":"10","scale":"linear"},"yaxis":{"include_zero":true,"label":"cpu (%)","max":"50","min":"0","scale":"linear"}}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"9s5-nje-k6e","title":"tf-TestAccDatadogDashboardDistribution_import-local-1728677714","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/9s5-nje-k6e/tf-testaccdatadogdashboarddistributionimport-local-1728677714","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"legend_size":"2","requests":[{"q":"avg:system.cpu.user{account:prod} by {service,account}","style":{"palette":"purple"}}],"show_legend":true,"time":{"live_span":"1h"},"title":"Avg of system.cpu.user over account:prod by service,account","title_align":"left","title_size":"16","type":"distribution","xaxis":{"include_zero":true,"max":"100","min":"10","scale":"linear"},"yaxis":{"include_zero":true,"label":"cpu (%)","max":"50","min":"0","scale":"linear"}},"id":1833247623638183}],"notify_list":[],"created_at":"2024-10-11T20:15:17.169161+00:00","modified_at":"2024-10-11T20:15:17.169161+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 338.431417ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/9s5-nje-k6e
        method: GET
      response:
            - chunked
        body: |
            {"id":"9s5-nje-k6e","title":"tf-TestAccDatadogDashboardDistribution_import-local-1728677714","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/9s5-nje-k6e/tf-testaccdatadogdashboarddistributionimport-local-1728677714","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"legend_size":"2","requests":[{"q":"avg:system.cpu.user{account:prod} by {service,account}","style":{"palette":"purple"}}],"show_legend":true,"time":{"live_span":"1h"},"title":"Avg of system.cpu.user over account:prod by service,account","title_align":"left","title_size":"16","type":"distribution","xaxis":{"include_zero":true,"max":"100","min":"10","scale":"linear"},"yaxis":{"include_zero":true,"label":"cpu (%)","max":"50","min":"0","scale":"linear"}},"id":1833247623638183}],"notify_list":[],"created_at":"2024-10-11T20:15:17.169161+00:00","modified_at":"2024-10-11T20:15:17.169161+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.692167ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/9s5-nje-k6e
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"9s5-nje-k6e"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.189334ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/9s5-nje-k6e
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID 9s5-nje-k6e not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 90.54575ms
