---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Acceptance test rule","enabled":true,"level":2,"name":"tf-testaccscorecardrulebasic-local-1750419468","owner":"terraform","scope_query":"env:prod team:platform","scorecard_name":"terraform_scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scorecard/rules
        method: POST
      response:
        body: '{"data":{"id":"51a5rrh_ldaxbclj","type":"rule","attributes":{"category":"terraform_scorecard","created_at":"2025-06-20T11:37:55.073486049Z","custom":true,"description":"Acceptance test rule","enabled":true,"level":2,"modified_at":"2025-06-20T11:37:55.073486049Z","name":"tf-testaccscorecardrulebasic-local-1750419468","owner":"terraform","scope_query":"env:prod team:platform","scorecard_name":"terraform_scorecard"},"relationships":{"scope":{"data":{"id":"5600279c-60f3-5784-8aca-d2f2a25ba022","type":"entity-scope"}},"scorecard":{"data":{"id":"QUEQlS7ULLJv","type":"scorecard"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 840.673667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=51a5rrh_ldaxbclj
        method: GET
      response:
        body: '{"data":[{"id":"51a5rrh_ldaxbclj","type":"rule","attributes":{"category":"terraform_scorecard","created_at":"2025-06-20T11:37:55.073486Z","custom":true,"description":"Acceptance test rule","enabled":true,"level":2,"modified_at":"2025-06-20T11:37:55.073486Z","name":"tf-testaccscorecardrulebasic-local-1750419468","owner":"terraform","scope_query":"env:prod team:platform","scorecard_name":"terraform_scorecard"},"relationships":{"scope":{"data":{"id":"5600279c-60f3-5784-8aca-d2f2a25ba022","type":"entity-scope"}},"scorecard":{"data":{"id":"QUEQlS7ULLJv","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=51a5rrh_ldaxbclj\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=100"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 207.840292ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Updated description","enabled":true,"level":1,"name":"tf-testaccscorecardrulebasic-local-1750419468","owner":"terraform","scope_query":"env:staging team:development","scorecard_name":"terraform_scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scorecard/rules/51a5rrh_ldaxbclj
        method: PUT
      response:
        body: '{"data":{"id":"51a5rrh_ldaxbclj","type":"rule","attributes":{"category":"terraform_scorecard","created_at":"2025-06-20T11:37:55.073486Z","custom":true,"description":"Updated description","enabled":true,"level":1,"modified_at":"2025-06-20T11:38:02.124598Z","name":"tf-testaccscorecardrulebasic-local-1750419468","owner":"terraform","scope_query":"env:staging team:development","scorecard_name":"terraform_scorecard"},"relationships":[...]
