---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"TeamMemberships description","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1768841018","name":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1768841018"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"54a7d3d2-64d6-4b4c-affb-c73136684dba","attributes":{"name":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1768841018","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1768841018","summary":"TeamMemberships description","description":"TeamMemberships description","avatar":null,"banner":6,"visible_modules":[],"hidden_modules":[],"created_at":"2026-01-19T16:43:40.031074+00:00","modified_at":"2026-01-19T16:43:40.031083+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/54a7d3d2-64d6-4b4c-affb-c73136684dba/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/54a7d3d2-64d6-4b4c-affb-c73136684dba/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 569.172958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1768841018@example.com","name":"Foo BarBar"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"72502f19-0a11-4dbd-95b0-63c4753b897e","attributes":{"name":"Foo BarBar","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1768841018@example.com","created_at":"2026-01-19T16:43:40.401238+00:00","modified_at":"2026-01-19T16:43:40.401238+00:00","email":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1768841018@example.com","icon":"https://secure.gravatar.com/avatar/53909093290968522fe19182ea9212fc?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 830.702125ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"role":"admin"},"relationships":{"user":{"data":{"id":"72502f19-0a11-4dbd-95b0-63c4753b897e","type":"users"}}},"type":"team_memberships"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/54a7d3d2-64d6-4b4c-affb-c73136684dba/memberships
        method: POST
      response:
        body: '{"data":{"id":"TeamMembership-54a7d3d2-64d6-4b4c-affb-c73136684dba-65128003","type":"team_memberships","attributes":{"provisioned_by":null,"provisioned_by_id":"48e5159f-e308-11ef-bcfc-2666505bfd8f","role":"admin"},"relationships":{"user":{"data":{"id":"72502f19-0a11-4dbd-95b0-63c4753b897e","type":"users"}}}},"included":[{"id":"72502f19-0a11-4dbd-95b0-63c4753b897e","type":"users","attributes":{"disabled":false,"email":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1768841018@example.com","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1768841018@example.com","icon":"https://secure.gravatar.com/avatar/53909093290968522fe19182ea9212fc?d=retro\u0026s=48","name":"Foo BarBar","service_account":false,"status":"Pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 187.564458ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/54a7d3d2-64d6-4b4c-affb-c73136684dba/memberships?filter%5Bkeyword%5D=Foo+Bar&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"TeamMembership-54a7d3d2-64d6-4b4c-affb-c73136684dba-65128004","type":"team_memberships","attributes":{"provisioned_by":null,"provisioned_by_id":"48e5159f-e308-11ef-bcfc-2666505bfd8f","role":"admin"},"relationships":{"user":{"data":{"id":"40ab0782-1540-42a9-b298-531cabad8ab2","type":"users"}}}},{"id":"TeamMembership-54a7d3d2-64d6-4b4c-affb-c73136684dba-65128003","type":"team_memberships","attributes":{"provisioned_by":null,"provisioned_by_id":"48e5159f-e308-11ef-bcfc-2666505bfd8f","role":"admin"},"relationships":{"user":{"data":{"id":"72502f19-0a11-4dbd-95b0-63c4753b897e","type":"users"}}}}],"meta":{"pagination":{"type":"number_size","number":0,"size":100,"total":2,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/team/54a7d3d2-64d6-4b4c-affb-c73136684dba/memberships?filter%5Bkeyword%5D=Foo+Bar\u0026page%5Bnumber%5D=0\u0026page%5Bsize%5D=100","first":"https://api.datadoghq.com/api/v2/team/54a7d3d2-64d6-4b4c-affb-c73136684dba/memberships?filter[keyword]=Foo Bar\u0026page[number]=0\u0026page[size]=100","last":"https://api.datadoghq.com/api/v2/team/54a7d3d2-64d6-4b4c-affb-c73136684dba/memberships?filter[keyword]=Foo Bar\u0026page[number]=0\u0026page[size]=100"},"included":[{"id":"40ab0782-1540-42a9-b298-531cabad8ab2","type":"users","attributes":{"disabled":false,"email":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-17688410181@example.com","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-17688410181@example.com","icon":"https://secure.gravatar.com/avatar/7ce006b3c4fabc61617f088f1a9d4871?d=retro\u0026s=48","name":"Foo Bar","service_account":false,"status":"Pending"}},{"id":"72502f19-0a11-4dbd-95b0-63c4753b897e","type":"users","attributes":{"disabled":false,"email":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1768841018@example.com","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1768841018@example.com","icon":"https://secure.gravatar.com/avatar/53909093290968522fe19182ea9212fc?d=retro\u0026s=48","name":"Foo BarBar","service_account":false,"status":"Pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 124.267416ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/40ab0782-1540-42a9-b298-531cabad8ab2
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"40ab0782-1540-42a9-b298-531cabad8ab2","attributes":{"name":"Foo Bar","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-17688410181@example.com","created_at":"2026-01-19T16:43:40.428006+00:00","modified_at":"2026-01-19T16:43:40.428006+00:00","email":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-17688410181@example.com","icon":"https://secure.gravatar.com/avatar/7ce006b3c4fabc61617f088f1a9d4871?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.301125ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/54a7d3d2-64d6-4b4c-affb-c73136684dba
        method: GET
      response:
        body: '{"data":{"id":"54a7d3d2-64d6-4b4c-affb-c73136684dba","type":"team","attributes":{"created_at":"2026-01-19T16:43:40.031074+00:00","description":"TeamMemberships description","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1768841018","is_managed":false,"link_count":0,"modified_at":"2026-01-19T16:43:40.031083+00:00","name":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1768841018","summary":"TeamMemberships description","user_count":2},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/54a7d3d2-64d6-4b4c-affb-c73136684dba/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/54a7d3d2-64d6-4b4c-affb-c73136684dba/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 315.755667ms
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/54a7d3d2-64d6-4b4c-affb-c73136684dba/memberships?page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"TeamMembership-54a7d3d2-64d6-4b4c-affb-c73136684dba-65128004","type":"team_memberships","attributes":{"provisioned_by":null,"provisioned_by_id":"48e5159f-e308-11ef-bcfc-2666505bfd8f","[...]
[...]
    - id: 32
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/54a7d3d2-64d6-4b4c-affb-c73136684dba/memberships/40ab0782-1540-42a9-b298-531cabad8ab2
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 191.934625ms
[...]
