version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"z-user@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
    id: 0
  response:
    body: '{"errors":["User z-user@example.com already exists"]}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=z-user%40example.com
    method: GET
    id: 3
  response:
    body: |
      {"data":[{"type":"users","id":"41af244c-5dbc-11ec-ada4-da7ad0900002","attributes":{"name":"Test User","handle":"z-user@example.com","created_at":"2021-12-15T15:32:47.885715+00:00","modified_at":"2023-04-20T15:10:00.323061+00:00","email":"z-user@example.com","icon":"https://secure.gravatar.com/avatar/f96d6b5408696ed0088d9dd6a5840d9d?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":157822,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"email":"z-user@example.com","name":"Test User"},"id":"41af244c-5dbc-11ec-ada4-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users/41af244c-5dbc-11ec-ada4-da7ad0900002
    method: PATCH
    id: 4
  response:
    body: |
      {"data":{"type":"users","id":"41af244c-5dbc-11ec-ada4-da7ad0900002","attributes":{"name":"Test User","handle":"z-user@example.com","created_at":"2021-12-15T15:32:47.885715+00:00","modified_at":"2023-04-20T15:11:33.227925+00:00","email":"z-user@example.com","icon":"https://secure.gravatar.com/avatar/f96d6b5408696ed0088d9dd6a5840d9d?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=a-user%40example.com
    method: GET
    id: 5
  response:
    body: |
      {"data":[{"type":"users","id":"3e3379ee-5457-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"a-user@example.com","created_at":"2021-12-03T16:37:02.407801+00:00","modified_at":"2023-04-20T15:11:24.000272+00:00","email":"a-user@example.com","icon":"https://secure.gravatar.com/avatar/d3f689172d62d7bcc2e4698422091ecf?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":157822,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"41af244c-5dbc-11ec-ada4-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
    id: 6
  response:
    body: |
      {"data":[{"type":"user_invitations","id":"a2e67a22-df8d-11ed-9dea-da7ad0900002","attributes":{"uuid":"a2e67a22-df8d-11ed-9dea-da7ad0900002","login_method":null,"invite_type":"basic_reminder","created_at":"2023-04-20T15:11:33.474664+00:00","expires_at":"2023-04-22T15:11:33.400780+00:00"},"relationships":{"user":{"data":{"type":"users","id":"41af244c-5dbc-11ec-ada4-da7ad0900002"}}}}]}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=k-user%40example.com
    method: GET
    id: 8
  response:
    body: |
      {"data":[{"type":"users","id":"3e344a0e-5457-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"k-user@example.com","created_at":"2021-12-03T16:37:02.412935+00:00","modified_at":"2023-04-20T15:11:24.002595+00:00","email":"k-user@example.com","icon":"https://secure.gravatar.com/avatar/98eadd67eaa2d8c224d446b2e88f0bf2?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":157822,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":["z-user@example.com","k-user@example.com","a-user@example.com"],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardNotifyListDiff-local-1682003487","widgets":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 12
  response:
    body: |
      {"id":"6ns-8m6-uxc","title":"tf-TestAccDatadogDashboardNotifyListDiff-local-1682003487","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/6ns-8m6-uxc/tf-testaccdatadogdashboardnotifylistdiff-local-1682003487","is_read_only":true,"template_variables":[],"widgets":[],"notify_list":["k-user@example.com","z-user@example.com","a-user@example.com"],"created_at":"2023-04-20T15:11:35.945932+00:00","modified_at":"2023-04-20T15:11:35.945932+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/6ns-8m6-uxc
    method: GET
    id: 13
  response:
    body: |
      {"id":"6ns-8m6-uxc","title":"tf-TestAccDatadogDashboardNotifyListDiff-local-1682003487","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/6ns-8m6-uxc/tf-testaccdatadogdashboardnotifylistdiff-local-1682003487","is_read_only":true,"template_variables":[],"widgets":[],"notify_list":["k-user@example.com","z-user@example.com","a-user@example.com"],"created_at":"2023-04-20T15:11:35.945932+00:00","modified_at":"2023-04-20T15:11:35.945932+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/6ns-8m6-uxc
    method: DELETE
    id: 19
  response:
    body: |
      {"deleted_dashboard_id":"6ns-8m6-uxc"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
