---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["socket-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"framing":{"method":"newline_delimited"},"id":"socket-source-1","mode":"tcp","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/socket.crt","key_file":"/etc/ssl/private/socket.key"},"type":"socket"}]},"name":"socket-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"29e28c72-f55d-11f0-9a12-da7ad0900002","type":"pipelines","attributes":{"name":"socket-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["socket-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"framing":{"method":"newline_delimited"},"id":"socket-source-1","mode":"tcp","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/socket.crt","key_file":"/etc/ssl/private/socket.key"},"type":"socket"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 855.035291ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/29e28c72-f55d-11f0-9a12-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"29e28c72-f55d-11f0-9a12-da7ad0900002","type":"pipelines","attributes":{"name":"socket-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["socket-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"framing":{"method":"newline_delimited"},"id":"socket-source-1","mode":"tcp","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/socket.crt","key_file":"/etc/ssl/private/socket.key"},"type":"socket"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 252.745708ms
[...]
