---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {
                "name": "tf-TestAccDatadogMonitorJSONImport-local-1761588668",
                "type": "service check",
                "query": "\"ntp.in_sync\".by(\"*\").last(2).count_by_status()",
                "message": "Change the message triggers if any host's clock goes out of sync with the time given by NTP. The offset threshold is configured in the Agent's 'ntp.yaml' file.\n\nSee [Troubleshooting NTP Offset issues](https://docs.datadoghq.com/agent/troubleshooting/ntp for more details on cause and resolution.",
                "tags": [],
                "multi": true,
                "options": {
                    "include_tags": true,
                    "new_host_delay": 150,
                    "notify_audit": false,
                    "notify_no_data": false,
                    "thresholds": {
                        "warning": 1,
                        "ok": 1,
                        "critical": 1
                    }
                },
                "priority": null,
                "classification": "custom"
            }
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":230485121,"org_id":197728,"type":"service check","name":"tf-TestAccDatadogMonitorJSONImport-local-1761588668","message":"Change the message triggers if any host's clock goes out of sync with the time given by NTP. The offset threshold is configured in the Agent's 'ntp.yaml' file.\n\nSee [Troubleshooting NTP Offset issues](https://docs.datadoghq.com/agent/troubleshooting/ntp for more details on cause and resolution.","tags":[],"query":"\"ntp.in_sync\".by(\"*\").last(2).count_by_status()","options":{"include_tags":true,"new_host_delay":150,"notify_audit":false,"notify_no_data":false,"thresholds":{"warning":1,"ok":1,"critical":1},"silenced":{}},"multi":true,"created_at":1761588670000,"created":"2025-10-27T18:11:10.121251+00:00","modified":"2025-10-27T18:11:10.121251+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","handle":"kevin.pombo@datadoghq.com","email":"kevin.pombo@datadoghq.com","id":25712273}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 291.680375ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/230485121?with_restricted_roles=false
        method: GET
      response:
            - chunked
        body: |
            {"id":230485121,"org_id":197728,"type":"service check","name":"tf-TestAccDatadogMonitorJSONImport-local-1761588668","message":"Change the message trigg[...]
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {
                "name": "tf-TestAccDatadogMonitorJSONBasic-local-1761588668-updated",
                "type": "service check",
                "query": "\"ntp.in_sync\".by(\"*\").last(2).count_by_status()",
                "message": "Change the message triggers if any host's clock goes out of sync with the time given by NTP. The offset threshold is configured in the Agent's 'ntp.yaml' file.\n\nSee [Troubles[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/230485121
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":230485121}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.154125ms
[...]
