---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackCheckStatus-local-1701197171","type":"group","widgets":[{"definition":{"check":"aws.ecs.agent_connected","group_by":["account","cluster"],"grouping":"cluster","tags":["account:demo","cluster:awseb-ruthebdog-env-8-dn3m6u3gvk"],"title":"Widget Title!!","type":"check_status"}}]}},"name":"tf-TestAccDatadogPowerpackCheckStatus-local-1701197171","tags":["tag:foo1"],"template_variables":[]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/powerpacks
    method: POST
  response:
    body: |
      {"data":{"type":"powerpack","id":"6769cc20-8e1e-11ee-81a9-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackCheckStatus-local-1701197171","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackCheckStatus-local-1701197171","type":"group","widgets":[{"definition":{"check":"aws.ecs.agent_connected","group_by":["account","cluster"],"grouping":"cluster","tags":["account:demo","cluster:awseb-ruthebdog-env-8-dn3m6u3gvk"],"title":"Widget Title!!","type":"check_status"},"id":2534111375631422}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/6769cc20-8e1e-11ee-81a9-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"powerpack","id":"6769cc20-8e1e-11ee-81a9-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackCheckStatus-local-1701197171","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackCheckStatus-local-1701197171","type":"group","widgets":[{"definition":{"check":"aws.ecs.agent_connected","group_by":["account","cluster"],"grouping":"cluster","tags":["account:demo","cluster:awseb-ruthebdog-env-8-dn3m6u3gvk"],"title":"Widget Title!!","type":"check_status"},"id":2534111375631422}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/6769cc20-8e1e-11ee-81a9-da7ad0900002
    method: GET
  response:
    body: '{"errors":["Powerpack with ID 6769cc20-8e1e-11ee-81a9-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
