---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a global variable","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASIC_LOCAL_1730219217","tags":["foo:bar","baz"],"value":{"secure":false,"value":"variable-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"f1f78f5f-ac8d-48e5-80ae-3ede8f8cf4c4","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASIC_LOCAL_1730219217","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":false,"value":"variable-value"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 428.036125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/f1f78f5f-ac8d-48e5-80ae-3ede8f8cf4c4
        method: GET
      response:
            - chunked
        body: |
            {"id":"f1f78f5f-ac8d-48e5-80ae-3ede8f8cf4c4","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASIC_LOCAL_1730219217","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2024-10-29T16:27:01.984646+00:00","modified_at":"2024-10-29T16:27:01.984646+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.411083ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"operator":"doesNotContain","target":"terraform","type":"body"},{"operator":"md5","target":"a","type":"bodyHash"},{"code":"const hello = 'world';","type":"javascript"}],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"},{"example":"","name":"SECURE_VARIABLE_NAME","pattern":"","secure":true,"type":"text"},{"id":"f1f78f5f-ac8d-48e5-80ae-3ede8f8cf4c4","name":"GLOBAL_VAR","type":"global"}],"request":{"basicAuth":{"domain":"ntlm-domain","password":"ntlm-password","type":"ntlm","username":"ntlm-username","workstation":"ntlm-workstation"},"bodyType":"text/plain","headers":{},"method":"GET","noSavingResponseBody":true,"proxy":{"headers":{},"url":"https://proxy.url"},"url":"https://www.datadoghq.com"},"variablesFromScript":"dd.variable.set('FOO', 'hello');"},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1730219217","options":{"allow_insecure":true,"ci":{"executionRule":"blocking"},"follow_redirects":true,"httpVersion":"http2","ignoreServerCertificateError":true,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1730219217-monitor","monitor_priority":5,"retry":{"count":1,"interval":300},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"w32-7qh-qxg","name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1730219217","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2024-10-29T16:27:02.758017+00:00","modified_at":"2024-10-29T16:27:02.758017+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"respons[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/w32-7qh-qxg
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"w32-7qh-qxg","name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1730219217","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2024-10-29T16:27:02.758017+00:00","modified_[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/w32-7qh-qxg
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"w32-7qh-qxg","name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1730219217","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2024-10-29T16:27:02.758017+00:00","modified_at":[...]
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["w32-7qh-qxg"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"w32-7qh-qxg","deleted_at":"2024-10-29T16:27:05.675223+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 748.406292ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/w32-7qh-qxg
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 142.689708ms
