---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"id":"bc0-fow-e4j","attributes":{"version":1,"name":"all ingested logs","query":"*","is_enabled":true,"exclusion_filters":[],"filtered_data_type":"logs","is_builtin":true},"type":"security_filters"},{"id":"qhn-iuy-4oc","attributes":{"version":1,"name":"Custom security filter","query":"service:api","is_enabled":true,"exclusion_filters":[{"name":"Exclude staging","query":"source:staging"}],"filtered_data_type":"logs","is_builtin":false},"type":"security_filters"},{"id":"7no-kjl-tnb","attributes":{"version":1,"name":"tf-TestAccDatadogSecurityMonitoringFilter-local-1626096168","query":"acceptance rule triggered","is_enabled":true,"exclusion_filters":[{"name":"first","query":[...]
[...]
