---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringRules
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules?page%5Bnumber%5D=0&page%5Bsize%5D=100
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":100,"total_count":317}},"data":[{"updateAuthorId":0,"creationAuthorId":0,"tags":["scope:iam","source:guardduty","technique:T1069-permission-groups-discovery","tactic:TA0007-discovery","security:attack"],"isEnabled":true,"hasExtendedTitle":true,"message":"### Goal\nDetect when an attacker is enumerating IAM principals.\n\n### Strategy\nThis rule lets you leverage GuardDuty to detect when an attacker is enumerating IAM principals. The GuardDuty Findings which trigger this signal:\n\n* [Recon:IAMUser/NetworkPermissions][1]\n* [Recon:IAMUser/ResourcePermissions][2]\n* [Recon:IAMUser/UserPermissions][3] \n\n\n### Triage and response\n1. Determine which user in your organization owns the API key that made this API call.\n2. Contact the user to see if they intended to make this API call.\n3. If the user did not make the API call:\n * Rotate the credentials.\n * Investigate if the same credentials made other unauthorized API calls.\n\n[1]: https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_recon.html#recon7\n[2]: https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_recon.html#recon8\n[3]: https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_recon.html#recon9\n","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":3600,"keepAlive":3600},"version":5,"isDefault":true,"filters":[],"queries":[{"query":"source:guardduty @evt.name:(Recon\\:IAMUser\\/NetworkPermissions OR Recon\\:IAMUser\\/ResourcePermissions OR Recon\\:IAMUser\\/UserPermissions)","groupByFields":["@detail.resource.accessKeyDetails.userName"],"aggregation":"count","name":"","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"medium","notifications":[],"name":"","condition":"a > 0"}],"type":"log_detection","id":"u2j-xph-kc7","createdAt":1585870276065,"name":"AWS IAM principal enumeration"},{"updateAuthorId":0,"creationAuthorId":0,"tags":["scope:ec2","source:guardduty","tactic:TA0040-impact","technique:T1496-resource-hijacking","security:attack"],"isEnabled":true,"hasExtendedTitle":true,"message":"### Goal\nDetect when an EC2 instance is communicating with a cryptocurrency server\n\n### Strategy\nThis rule lets you leverage GuardDuty to detect when an EC2 instance has made a DNS request or is communicating with an IP that is ass[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringRules
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules?page%5Bnumber%5D=2&page%5Bsize%5D=100
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":100,"total_count":317}},"data":[{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1632824854986,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":[],"query":"@agent.rule_id:(Test_Typescript_Create_a_detection_rule_with_type_workload_security_returns_OK_response_1632824854_kernel_module_unlink_2 OR kernel_module_unlink_2)","agentRule":{"expression":"(open.flags & ((O_CREAT|O_RDWR|O_WRONLY|O_TRUNC)) > 0)","agentRuleId":"kernel_module_unlink_2"}}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a > 0"}],"type":"workload_security","id":"kgr-0bg-npl","isDefault":false,"name":"Test-Typescript-Create_a_detection_rule_with_type_workload_security_returns_OK_response-1632824854"},{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSecurityMonitoringRules
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules?page%5Bnumber%5D=4&page%5Bsize%5D=100
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":0,"total_count":317}},"data":[]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "576"
      X-Ratelimit-Reset:
      - "22"
    status: 200 OK
    code: 200
    duration: ""
[...]
