---
version: 1
interactions:
- request:
    body: |
      {"description":"some description about foo SLO","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063{type:good}.as_count()"},"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063"],"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"},{"target":99,"timeframe":"90d"}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063{type:good}.as_count()"},"id":"c8fb13bc094d5519bdb82c1ae963edaf","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063","created_at":1621470065,"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063"],"modified_at":1621470065,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?ids=c8fb13bc094d5519bdb82c1ae963edaf
    method: GET
  response:
    body: '{"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063{type:good}.as_count()"},"id":"c8fb13bc094d5519bdb82c1ae963edaf","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063","created_at":1621470065,"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063"],"modified_at":1621470065,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/c8fb13bc094d5519bdb82c1ae963edaf
    method: GET
  response:
    body: '{"data":{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063{type:good}.as_count()"},"id":"c8fb13bc094d5519bdb82c1ae963edaf","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063","created_at":1621470065,"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063"],"modified_at":1621470065,"type":"metric"},"error":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?query=tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063{type:good}.as_count()"},"id":"c8fb13bc094d5519bdb82c1ae963edaf","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063","created_at":1621470065,"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063"],"modified_at":1621470065,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?tags_query=tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063{type:good}.as_count()"},"id":"c8fb13bc094d5519bdb82c1ae963edaf","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063","created_at":1621470065,"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063"],"modified_at":1621470065,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?metrics_query=tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063{type:good}.as_count()"},"id":"c8fb13bc094d5519bdb82c1ae963edaf","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063","created_at":1621470065,"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1621470063"],"modified_at":1621470065,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/c8fb13bc094d5519bdb82c1ae963edaf
    method: GET
  response:
    body: '{"errors": ["SLO not found: c8fb13bc094d5519bdb82c1ae963edaf not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
