---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"12-tf-testaccdatadogserviceaccountdatasourcepagination-local-1755176076@example.com","name":"tf-TestAccServiceAccountPagination-8309b0d53b0188f9-12","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"d650653a-790d-11f0-b29d-92d7cbacbb4f","attributes":{"name":"tf-TestAccServiceAccountPagination-8309b0d53b0188f9-12","handle":"d650653a-790d-11f0-b29d-92d7cbacbb4f","created_at":"2025-08-14T12:54:38.561441+00:00","modified_at":"2025-08-14T12:54:38.561441+00:00","email":"12-tf-testaccdatadogserviceaccountdatasourcepagination-local-1755176076@example.com","icon":"https://secure.gravatar.com/avatar/c62eda11ee86b6d7660ac4be1093cc3b?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"a1391f74-eebe-11ef-a427-6a2b8e4c7763"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 562.828667ms
[...]
    - id: 20
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-TestAccServiceAccountPagination-8309b0d53b0188f9-20&page%5Bnumber%5D=0&page%5Bsize%5D=10
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"d67f0990-790d-11f0-ae82-96a292221b58","attributes":{"name":"tf-TestAccServiceAccountPagination-8309b0d53b0188f9-20","handle":"d67f0990-790d-11f0-ae82-96a292221b58","created_at":"2025-08-14T12:54:38.867108+00:00","modified_at":"2025-08-14T12:54:38.867108+00:00","email":"20-tf-testaccdatadogserviceaccountdatasourcepagination-local-1755176076@example.com","icon":"https://secure.gravatar.com/avatar/d96dd39df65815123acb52ad93a19b9e?s=48&d=retro","title":"","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"a1391f74-eebe-11ef-a427-6a2b8e4c7763"}}}}],"meta":{"page":{"total_count":297,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.011875ms
[...]
    - id: 22
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/d67abf55-790d-11f0-8ef8-6a020aa62ff8
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"d67abf55-790d-11f0-8ef8-6a020aa62ff8","attributes":{"name":"tf-TestAccServiceAccountPagination-8309b0d53b0188f9-2","handle":"d67abf55-790d-11f0-8ef8-6a020aa62ff8","created_at":"2025-08-14T12:54:38.838999+00:00","modified_at":"2025-08-14T12:54:38.838999+00:00","email":"2-tf-testaccdatadogserviceaccountdatasourcepagination-local-1755176076@example.com","icon":"https://secure.gravatar.com/avatar/af6bb3d9d94c1ebbaa6bf965c8e5dc03?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"a1391f74-eebe-11ef-a427-6a2b8e4c7763"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.29725ms
[...]
