---
version: 1
interactions:
- request:
    body: |
      {"account_id":"529951579857","account_specific_namespace_rules":{},"cspm_resource_collection_enabled":false,"excluded_regions":[],"filter_tags":[],"host_tags":[],"metrics_collection_enabled":true,"resource_collection_enabled":false,"role_name":"testacc-datadog-integration-role"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: |
      {"external_id":"ce12a5a342a244ebbfdfbd889c0cf00d"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: GET
  response:
    body: |
      {"accounts":[{"account_id":"601427279990","role_name":"datadog-aws-integration-role-katie","filter_tags":["key:value"],"host_tags":["key:value","key2:value2"],"account_specific_namespace_rules":{"route53resolver":false,"cloudwatch_events":false,"elastictranscoder":false,"billing":false,"workspaces":false,"sagemakerendpoints":false,"ec2":false,"codewhisperer":false,"elasticache":false,"inspector":false,"sagemakermodelbuildingpipeline":false,"sagemakertrainingjobs":false,"redshift":false,"transitgateway":false,"textract":false,"privatelinkendpoints":false,"vpn":false,"service_quotas":false,"nat_gateway":false,"shield":false,"lex":false,"cloudfront":false,"xray":false,"budgeting":false,"msk":false,"mediatailor":false,"storage_gateway":false,"rds":false,"ml":false,"rekognition":false,"application_elb":false,"es":false,"mwaa":false,"dynamodb":false,"step_functions":false,"elb":false,"network_elb":false,"rdsproxy":false,"glue":false,"cloudwatch_logs":false,"swf":false,"opsworks":false,"s3":false,"kinesis_analytics":false,"sagemakerlabelingjobs":false,"s3storagelens":false,"mediaconnect":false,"mediaconvert":false,"athena":false,"cloudhsm":false,"trusted_advisor":false,"connect":false,"keyspaces":false,"translate":false,"gamelift":false,"mq":false,"neptune":false,"certificatemanager":false,"directconnect":false,"cognito":false,"waf":false,"ec2api":false,"ec2spot":false,"appsync":false,"privatelinkservices":false,"fsx":false,"mediastore":false,"ecs":false,"backup":false,"sns":false,"cloudsearch":false,"ecr":false,"auto_scaling":false,"bedrock":false,"route53":false,"ebs":false,"api_gateway":false,"mediapackage":false,"sagemakerprocessingjobs":false,"firehose":false,"iot":false,"medialive":false,"elasticbeanstalk":false,"lambda":false,"appstream":false,"kms":false,"dynamodbaccelerator":false,"efs":false,"polly":false,"dms":false,"ses":false,"sagemakerworkteam":false,"wafv2":false,"sagemakertransformjobs":false,"sagemaker":false,"codebuild":false,"elasticinference":false,"kinesis":false,"documentdb":false,"networkfirewall":false,"usage":false,"apprunner":false},"excluded_regions":["us-east-2","us-west-1","us-west-2","eu-west-1","eu-central-1","ap-southeast-1","ap-southeast-2","ap-northeast-1","ap-northeast-2","ap-northeast-3","sa-east-1","ap-south-1","ca-central-1","eu-west-2","eu-west-3","eu-north-1","af-south-1","ap-east-1","ap-south-2","ap-southeast-3","ap-southeast-4","eu-central-2","eu-south-1","eu-south-2","il-central-1","me-central-1","me-south-1"],"metrics_collection_enabled":true,"errors":["Datadog is not authorized to perform action sts:AssumeRole\nAccount affected: 601427279990\nRegions affected: every region\nError was last seen 13m ago"],"cspm_resource_collection_enabled":false,"extended_resource_collection_enabled":false,"resource_collection_enabled":false},{"account_id":"529951579857","role_name":"testacc-datadog-integration-role","filter_tags":[],"host_tags":[],"account_specific_namespace_rules":{},"excluded_regions":[],"metrics_collection_enabled":true,"errors":[],"cspm_resource_collection_enabled":false,"extended_resource_collection_enabled":false,"resource_collection_enabled":false}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"529951579857","create_event_bus":false,"event_generator_name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1703271009","region":"us-east-1"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws/event_bridge
    method: POST
  response:
    body: |
      {"status":"created","region":"us-east-1","event_source_name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1703271009-mptaqa41","has_bus":false}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/aws/event_bridge
    method: GET
  response:
    body: |
      {"accounts":[{"accountId":"601427279990","tags":["key:value","key2:value2"],"eventHubs":[{"name":"ktmq7854598735-tv2bxh6b","region":"us-east-1"}]},{"accountId":"529951579857","tags":[],"eventHubs":[{"name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1703271009-mptaqa41","region":"us-east-1"}]}],"isInstalled":true}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
