---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","name":"tnduikfycu"},"type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
        method: POST
      response:
        body: |
            {"data":{"id":"81e-vez-mu5","attributes":{"version":1,"name":"tnduikfycu","description":"im a rule","expression":"open.file.name == \"etc/shadow/password\"","category":"File Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","creationDate":1747295186009,"updateAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","updateDate":1747295186009,"filters":["os == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"},"updater":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"}},"type":"agent_rule"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 562.337ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/81e-vez-mu5
        method: GET
      response:
        body: |
            {"data":{"id":"81e-vez-mu5","attributes":{"version":1,"name":"tnduikfycu","description":"im a rule","expression":"open.file.name == \"etc/shadow/password\"","category":"File Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","creationDate":1747295186009,"updateAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","updateDate":1747295186009,"filters":["os == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"},"updater":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"}},"type":"agent_rule"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.35725ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/81e-vez-mu5
        method: GET
      response:
        body: |
            {"errors":["not_found(Agent rule not found: agentRuleId=81e-vez-mu5)"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 128.791458ms
