---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"max_tickets_per_day":100,"project_id":"11111111-1111-1111-1111-111111111111","target":"jira"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRule-local-1789117926","rule":{"finding_types":["misconfiguration"],"query":"env:prod @severity:critical"}},"type":"ticket_creation_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules
        method: POST
      response:
        body: '{"data":{"id":"551eff6d-5dfc-4e7b-9e96-54ffe076885e","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":100},"created_at":1789117928103,"created_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"enabled":true,"modified_at":1789117928103,"modified_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRule-local-1789117926","rule":{"finding_types":["misconfiguration"],"query":"env:prod @severity:critical"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 273.713875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/551eff6d-5dfc-4e7b-9e96-54ffe076885e
        method: GET
      response:
        body: '{"data":{"id":"551eff6d-5dfc-4e7b-9e96-54ffe076885e","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":100},"created_at":1789117928103,"created_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"enabled":true,"modified_at":1789117928103,"modified_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRule-local-1789117926","rule":{"finding_types":["misconfiguration"],"query":"env:prod @severity:critical"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 135.310833ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"assignee_id":"22222222-2222-2222-2222-222222222222","fields":{"labels":["security"]},"max_tickets_per_day":50,"project_id":"11111111-1111-1111-1111-111111111111","target":"jira"},"enabled":false,"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRule-local-1789117926-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:prod @severity:critical"}},"type":"ticket_creation_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/551eff6d-5dfc-4e7b-9e96-54ffe076885e
        method: PUT
      response:
        body: '{"data":{"id":"551eff6d-5dfc-4e7b-9e96-54ffe076885e","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","assignee_id":"22222222-2222-2222-2222-222222222222","fields":{"labels":["security"]},"max_tickets_per_day":50},"created_at":1789117928103,"created_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"enabled":false,"modified_at":1789117930418,"modified_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRule-local-1789117926-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:prod @severity:critical"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 254.205333ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"assignee_id":"22222222-2222-2222-2222-222222222222","fields":{"linear_label_ids":["44444444-4444-4444-4444-444444444444"],"linear_project_id":"33333333-3333-3333-3333-333333333333"},"max_tickets_per_day":50,"project_id":"11111111-1111-1111-1111-111111111111","target":"linear"},"enabled":false,"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRule-local-1789117926-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:prod @severity:critical"}},"type":"ticket_creation_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/a[...]
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/551eff6d-5dfc-4e7b-9e96-54ffe076885e
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 109.77625ms
