version: 2
interactions:
- request:
    body: |
      schema-version: v2
      dd-service: tf-testaccdatadogservicedefinition_order-local-1682529311
      contacts:
        - name: AA
          type: slack
          contact: AAA
        - name: BB
          type: email
          contact: BBB@example.com
        - name: AA
          type: email
          contact: AAA@example.com
        - name: BB
          type: email
          contact: AAA@example.com
        - name: AA
          type: email
          contact: BBB@example.com
      tags:
        - 'bbb'
        - 'aaa'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/services/definitions
    method: POST
    id: 0
  response:
    body: |
      {"data":[{"type":"service-definition","attributes":{"meta":{"last-modified-time":"2023-04-26T17:15:13.215753744Z","github-html-url":"","ingestion-source":"api","origin":"dd_terraform","origin-detail":"","warnings":[{"keyword-location":"/properties/contacts/items/$ref/allOf/1/then/properties/contact/pattern","instance-location":"/contacts/0/contact","message":"does not match pattern 'https://[a-zA-Z0-9_\\\\-]+.slack\\\\.com/archives/[a-zA-Z0-9_\\\\-]+'"}],"ingested-schema-version":"v2"},"schema":{"schema-version":"v2","dd-service":"tf-testaccdatadogservicedefinition_order-local-1682529311","team":"","contacts":[{"name":"AA","type":"slack","contact":"AAA"},{"name":"BB","type":"email","contact":"BBB@example.com"},{"name":"AA","type":"email","contact":"AAA@example.com"},{"name":"BB","type":"email","contact":"AAA@example.com"},{"name":"AA","type":"email","contact":"BBB@example.com"}],"links":[],"repos":[],"docs":[],"tags":["aaa","bbb"],"integrations":{},"extensions":{}}}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/services/definitions/tf-testaccdatadogservicedefinition_order-local-1682529311
    method: GET
    id: 1
  response:
    body: |
      {"data":{"type":"service-definition","id":"1d78c0d8134b6fe2d97acc7e295936fb","attributes":{"meta":{"last-modified-time":"2023-04-26T17:15:13Z","github-html-url":"","ingestion-source":"api","origin":"dd_terraform","origin-detail":"","warnings":[{"keyword-location":"/properties/contacts/items/$ref/allOf/1/then/properties/contact/pattern","instance-location":"/contacts/0/contact","message":"does not match pattern 'https://[a-zA-Z0-9_\\\\-]+.slack\\\\.com/archives/[a-zA-Z0-9_\\\\-]+'"}],"ingested-schema-version":"v2"},"schema":{"schema-version":"v2","dd-service":"tf-testaccdatadogservicedefinition_order-local-1682529311","team":"","contacts":[{"name":"AA","type":"slack","contact":"AAA"},{"name":"AA","type":"email","contact":"AAA@example.com"},{"name":"BB","type":"email","contact":"AAA@example.com"},{"name":"AA","type":"email","contact":"BBB@example.com"},{"name":"BB","type":"email","contact":"BBB@example.com"}],"links":[],"repos":[],"docs":[],"tags":["aaa","bbb"],"integrations":{},"extensions":{}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
