---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-test-Update-1758619346","principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"],"product_filters":[{"filters":["@application.id:ce9843b0-7a45-453c-a831-55dd15f85141"],"product":"rum"}]},"type":"dataset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/datasets
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"dataset","id":"bce3834d-78ea-4572-9522-056e78024074","attributes":{"name":"tf-test-Update-1758619346","product_filters":[{"product":"rum","filters":["@application.id:ce9843b0-7a45-453c-a831-55dd15f85141"]}],"principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.232208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/datasets/bce3834d-78ea-4572-9522-056e78024074
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"dataset","id":"bce3834d-78ea-4572-9522-056e78024074","attributes":{"name":"tf-test-Update-1758619346","product_filters":[{"product":"rum","filters":["@application.id:ce9843b0-7a45-453c-a831-55dd15f85141"]}],"principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.393333ms
[...]
