---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogusersdatasourcestatus-local-17031688490@example.com","name":"user 0"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"14538d10-a00d-11ee-9dc0-0a6c606fff74","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcestatus-local-17031688490@example.com","created_at":"2023-12-21T14:27:33.110327+00:00","modified_at":"2023-12-21T14:27:33.110327+00:00","email":"tf-testaccdatadogusersdatasourcestatus-local-17031688490@example.com","icon":"https://secure.gravatar.com/avatar/2962fec326b08965e6710393844f3e07?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 571.11225ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"14538d10-a00d-11ee-9dc0-0a6c606fff74","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"1480cb66-a00d-11ee-a136-da7ad0900002","attributes":{"uuid":"1480cb66-a00d-11ee-a136-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2023-12-21T14:27:33.405971+00:00","expires_at":"2023-12-23T14:27:33.293491+00:00"},"relationships":{"user":{"data":{"type":"users","id":"14538d10-a00d-11ee-9dc0-0a6c606fff74"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 301.009834ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=user+0&filter%5Bstatus%5D=user+0&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
            - chunked
        body: '{"errors":["Invalid status filter. Allowed comma separated values are Active, Pending, Disabled"]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 63.88625ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/145918a5-a00d-11ee-8a9c-6ea47261c204
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 211.840375ms
[...]
