---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardAlertValue-local-1767988432","widgets":[{"definition":{"alert_id":"895605","type":"alert_value"}},{"definition":{"alert_id":"895606","precision":1,"text_align":"center","title":"Widget Title","title_align":"center","title_size":"16","type":"alert_value","unit":"b"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"4qt-v7h-7by","title":"tf-TestAccDatadogDashboardAlertValue-local-1767988432","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/4qt-v7h-7by/tf-testaccdatadogdashboardalertvalue-local-1767988432","template_variables":[],"widgets":[{"definition":{"alert_id":"895605","type":"alert_value"},"id":6961882156889422},{"definition":{"alert_id":"895606","precision":1,"text_align":"center","title":"Widget Title","title_align":"center","title_size":"16","type":"alert_value","unit":"b"},"id":381516772402642}],"notify_list":[],"created_at":"2026-01-09T19:53:53.329742+00:00","modified_at":"2026-01-09T19:53:53.329742+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.361209ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/4qt-v7h-7by
        method: GET
      response:
            - chunked
        body: '{"id":"4qt-v7h-7by","title":"tf-TestAccDatadogDashboardAlertValue-local-1767988432","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/4qt-v7h-7by/tf-testaccdatadogdashboardalertvalue-local-1767988432","template_variables":[],"widgets":[{"definition":{"alert_id":"895605","type":"alert_value"},"id":6961882156889422},{"definition":{"alert_id":"895606","precision":1,"text_align":"center","title":"Widget Title","title_align":"center","title_size":"16","type":"alert_value","unit":"b"},"id":381516772402642}],"notify_list":[],"created_at":"2026-01-09T19:53:53.329742+00:00","modified_at":"2026-01-09T19:53:53.329742+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.713167ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/4qt-v7h-7by
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"4qt-v7h-7by"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 321.74325ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/4qt-v7h-7by
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID 4qt-v7h-7by not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 99.604708ms
