---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a policy","enabled":true,"hostTags":["host_name:test_host"],"name":"kphpmudixd"},"type":"policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
        method: POST
      response:
        body: '{"data":{"id":"zzx-roy-j7b","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["host_name:test_host"]],"monitoringRulesCount":7,"name":"kphpmudixd","pinned":false,"policyType":"policy","policyVersion":"1","ruleCount":8,"updateDate":1766482718261,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 436.594178ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"actions":[{"set":{"append":false,"field":"open.file.path","name":"test_action","scope":"process"}},{"hash":{"field":"open.file"}}],"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","name":"kphpmudixd","policy_id":"zzx-roy-j7b","product_tags":["compliance_framework:PCI-DSS"],"silent":false},"type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
        method: POST
      response:
        body: '{"data":{"id":"v3r-d3q-bkc","type":"agent_rule","attributes":{"actions":[{"set":{"name":"test_action","field":"open.file.path","scope":"process"},"disabled":false},{"hash":{"field":"open.file"},"disabled":false}],"category":"File Activity","creationDate":1766482718704,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["zzx-roy-j7b"],"name":"kphpmudixd","product_tags":["compliance_framework:PCI-DSS"],"silent":false,"updateDate":1766482718704,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 682.138804ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/v3r-d3q-bkc?policy_id=zzx-roy-j7b
        method: GET
      response:
        body: '{"data":{"id":"v3r-d3q-bkc","type":"agent_rule","attributes":{"actions":[{"set":{"name":"test_action","field":"open.file.path","scope":"process"},"disabled":false},{"hash":{"field":"open.file"},"disabled":false}],"category":"File Activity","creationDate":1766482718704,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["zzx-roy-j7b"],"name":"kphpmudixd","product_tags":["compliance_framework:PCI-DSS"],"silent":false,"updateDate":1766482718704,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.101735ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/zzx-roy-j7b
        method: GET
      response:
        body: '{"data":{"id":"zzx-roy-j7b","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTagsLists":[["host_name:test_host"]],"monitoringRulesCount":1,"name":"kphpmudixd","pinned":false,"policyType":"policy","policyVersion":"2","ruleCount":1,"updateDate":1766482718704,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 367.324615ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules?policy_id=zzx-roy-j7b
        method: GET
      response:
        body: '{"data":[{"id":"v3r-d3q-bkc","type":"agent_rule","attributes":{"actions":[{"set":{"name":"test_action","field":"open.file.path","scope":"process"},"disabled":false},{"hash":{"field":"open.file"},"disabled":false}],"category":"File Activity","creationDate":1766482718704,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["zzx-roy-j7b"],"name":"kphpmudixd","product_tags":["compliance_framework:PCI-DSS"],"silent":false,"updateDate":1766482718704,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 305.035739ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/v3r-d3q-bkc?policy_id=zzx-roy-j7b
        method: GET
      response:
        body: |
            {"errors":[{"title":"failed to get rule"}]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 412.333694ms
