---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a policy","enabled":true,"hostTags":["host_name:test_host"],"name":"nyefcskgua"},"type":"policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
        method: POST
      response:
        body: '{"data":{"id":"16v-tfc-2yz","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":0,"name":"nyefcskgua","policyVersion":"1","priority":1000000034,"ruleCount":0,"updateDate":1747295201951,"updater":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.865916ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/16v-tfc-2yz
        method: GET
      response:
        body: '{"data":{"id":"16v-tfc-2yz","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":0,"name":"nyefcskgua","policyVersion":"1","priority":1000000034,"ruleCount":0,"updateDate":1747295201951,"updater":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.469292ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","name":"nyefcskgua","policy_id":"16v-tfc-2yz","product_tags":["compliance_framework:PCI-DSS"]},"type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
        method: POST
      response:
        body: '{"data":{"id":"spu-aqk-k94","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1747295204221,"creator":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["16v-tfc-2yz"],"name":"nyefcskgua","product_tags":["compliance_framework:PCI-DSS"],"updateDate":0,"updater":{"name":"Datadog","handle":""}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 543.777625ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/spu-aqk-k94?policy_id=16v-tfc-2yz
        method: GET
      response:
        body: '{"data":{"id":"spu-aqk-k94","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1747295204221,"creator":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["16v-tfc-2yz"],"name":"nyefcskgua","product_tags":["compliance_framework:PCI-DSS"],"updateDate":0,"updater":{"name":"Datadog","handle":""}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.902208ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"updated agent rule for terraform provider test","enabled":true,"policy_id":"16v-tfc-2yz","product_tags":["compliance_framework:ISO-27799"]},"id":"spu-aqk-k94","type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/spu-aqk-k94
        method: PATCH
      response:
        body: '{"data":{"id":"spu-aqk-k94","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1747295204221,"creator":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"},"defaultRule":false,"description":"updated agent rule for terraform provider test","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["16v-tfc-2yz"],"name":"nyefcskgua","product_tags":["compliance_framework:ISO-27799"],"updateDate":1747295207148,"updater":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 516.514166ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/spu-aqk-k94?policy_id=16v-tfc-2yz
        method: GET
      response:
        body: |
            {"errors":[{"title":"failed to get rule"}]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 184.876709ms
