---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test incident type for notification template","is_default":false,"name":"test-ds-name-1758619463-it"},"type":"incident_types"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/incidents/config/types
        method: POST
      response:
        body: '{"data":{"id":"7bb058e9-540d-4299-b1be-94ed986a0be4","type":"incident_types","attributes":{"createdAt":"2025-09-23T09:24:26.414467175Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test incident type for notification template","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2025-09-23T09:24:26.414467298Z","name":"test-ds-name-1758619463-it","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 234.046666ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-ds-name-1758619463\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","name":"test-ds-name-1758619463","subject":"SEV-2 Incident: test-ds-name-1758619463"},"relationships":{"incident_type":{"data":{"id":"7bb058e9-540d-4299-b1be-94ed986a0be4","type":"incident_types"}}},"type":"notification_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
        method: POST
      response:
        body: '{"data":{"id":"8620e458-d029-4c8d-892f-2162d248702f","type":"notification_templates","attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-ds-name-1758619463\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","created":"2025-09-23T09:24:26.786076Z","modified":"2025-09-23T09:24:26.786076Z","name":"test-ds-name-1758619463","subject":"SEV-2 Incident: test-ds-name-1758619463"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"7bb058e9-540d-4299-b1be-94ed986a0be4","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 238.372875ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/types/7bb058e9-540d-4299-b1be-94ed986a0be4
        method: GET
      response:
        body: '{"data":{"id":"7bb058e9-540d-4299-b1be-94ed986a0be4","type":"incident_types","attributes":{"createdAt":"2025-09-23T09:24:26.414467Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test incident type for notification template","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2025-09-23T09:24:26.414467Z","name":"test-ds-name-1758619463-it","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 138.63625ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/8620e458-d029-4c8d-892f-2162d248702f
        method: GET
      response:
        body: '{"data":{"id":"8620e458-d029-4c8d-892f-2162d248702f","type":"notification_templates","attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-ds-name-1758619463\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","created":"2025-09-23T09:24:26.786076Z","modified":"2025-09-23T09:24:26.786076Z","name":"test-ds-name-1758619463","subject":"SEV-2 Incident: test-ds-name-1758619463"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"7bb058e9-540d-4299-b1be-94ed986a0be4","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 216.108417ms
[...]
