---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogusersdatasourcefilter-local-17031870331@example.com","name":"user 1"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"6a9e2736-a037-11ee-b119-8a35b4935f7e","attributes":{"name":"user 1","handle":"tf-testaccdatadogusersdatasourcefilter-local-17031870331@example.com","created_at":"2023-12-21T19:30:36.745939+00:00","modified_at":"2023-12-21T19:30:36.745939+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17031870331@example.com","icon":"https://secure.gravatar.com/avatar/d55367f7b95f3ce72949233c1cc4b952?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 570.868ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"6aa14f7e-a037-11ee-b119-8a35b4935f7e","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"6ac5fee0-a037-11ee-8475-da7ad0900002","attributes":{"uuid":"6ac5fee0-a037-11ee-8475-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2023-12-21T19:30:37.006190+00:00","expires_at":"2023-12-23T19:30:36.909113+00:00"},"relationships":{"user":{"data":{"type":"users","id":"6aa14f7e-a037-11ee-b119-8a35b4935f7e"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 237.333792ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadogusersdatasourcefilter-local-17031870330%40example.com&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"6a9f0fb6-a037-11ee-b113-62d7349a329a","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcefilter-local-17031870330@example.com","created_at":"2023-12-21T19:30:36.751895+00:00","modified_at":"2023-12-21T19:30:36.751895+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17031870330@example.com","icon":"https://secure.gravatar.com/avatar/540008d79586d1a605e77d3d4c3f270b?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":244381,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.722610375s
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/6aa14f7e-a037-11ee-b119-8a35b4935f7e
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"6aa14f7e-a037-11ee-b119-8a35b4935f7e","attributes":{"name":"user 2","handle":"tf-testaccdatadogusersdatasourcefilter-local-17031870332@example.com","created_at":"2023-12-21T19:30:36.766635+00:00","modified_at":"2023-12-21T19:30:36.766635+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17031870332@example.com","icon":"https://secure.gravatar.com/avatar/6df4c6c887aa08bf96fb17056d89c9e4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.129125ms
[...]
