---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"bucket":"my-logs-bucket","compression":{"algorithm":"zstd","level":9},"id":"s3-dest-compression-1","inputs":["source-1"],"key_prefix":"logs/","region":"us-east-1","storage_class":"STANDARD","type":"amazon_s3"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"amazon s3 compression pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"18aa7504-f20d-11f0-9e06-da7ad0900010","type":"pipelines","attributes":{"name":"amazon s3 compression pipeline","config":{"destinations":[{"bucket":"my-logs-bucket","compression":{"algorithm":"zstd","level":9},"id":"s3-dest-compression-1","inputs":["source-1"],"key_prefix":"logs/","region":"us-east-1","storage_class":"STANDARD","type":"amazon_s3"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 479.710792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/18aa7504-f20d-11f0-9e06-da7ad0900010
        method: GET
      response:
        body: |
            {"data":{"id":"18aa7504-f20d-11f0-9e06-da7ad0900010","type":"pipelines","attributes":{"name":"amazon s3 compression pipeline","config":{"destinations":[{"bucket":"my-logs-bucket","compression":{"algorithm":"zstd","level":9},"id":"s3-dest-compression-1","inputs":["source-1"],"key_prefix":"logs/","region":"us-east-1","storage_class":"STANDARD","type":"amazon_s3"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 347.259666ms
[...]
