---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2WildcardHistogram_import-local-1778266609","widgets":[{"definition":{"requests":[{"query":{"data_source":"metrics","name":"query1","query":"histogram:trace.Load{*}"},"request_type":"histogram","style":{"palette":"dog_classic"}}],"specification":{"contents":{"$schema":"https://vega.github.io/schema/vega-lite/v5.json","data":{"name":"query1"},"encoding":{"x":{"field":"bucket","title":"Latency bucket","type":"ordinal"},"y":{"field":"count","title":"Sample count","type":"quantitative"}},"mark":"bar"},"type":"vega-lite"},"title":"Latency distribution by endpoint","type":"wildcard"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"3j8-cs6-3uf","title":"tf-TestAccDatadogDashboardV2WildcardHistogram_import-local-1778266609","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/3j8-cs6-3uf/tf-testaccdatadogdashboardv2wildcardhistogramimport-local-1778266609","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"metrics","name":"query1","query":"histogram:trace.Load{*}"},"request_type":"histogram","style":{"palette":"dog_classic"}}],"specification":{"contents":{"$schema":"https://vega.github.io/schema/vega-lite/v5.json","data":{"name":"query1"},"encoding":{"x":{"field":"bucket","title":"Latency bucket","type":"ordinal"},"y":{"field":"count","title":"Sample count","type":"quantitative"}},"mark":"bar"},"type":"vega-lite"},"title":"Latency distribution by endpoint","type":"wildcard"},"id":1427709696416747}],"notify_list":[],"created_at":"2026-05-08T18:56:51.371224+00:00","modified_at":"2026-05-08T18:56:51.371224+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.36925ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/3j8-cs6-3uf
        method: GET
      response:
            - chunked
        body: '{"id":"3j8-cs6-3uf","title":"tf-TestAccDatadogDashboardV2WildcardHistogram_import-local-1778266609","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_typ[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/3j8-cs6-3uf
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"3j8-cs6-3uf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 494.884791ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/3j8-cs6-3uf
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID 3j8-cs6-3uf not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 81.273167ms
