---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"reason":"risk_accepted"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder-local-1782479836-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}},"type":"mute_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
        method: POST
      response:
        body: '{"data":{"id":"d02d23ba-126d-4708-8eb1-1645bdd87b48","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1782479839776,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782479839776,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder-local-1782479836-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 642.441584ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"d02d23ba-126d-4708-8eb1-1645bdd87b48","type":"mute_rules"},{"id":"6f3ec181-c4cc-41cc-b69c-76d63914ef6d","type":"mute_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"mute_rules","id":"d02d23ba-126d-4708-8eb1-1645bdd87b48"},{"type":"mute_rules","id":"6f3ec181-c4cc-41cc-b69c-76d63914ef6d"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 237.907209ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/d02d23ba-126d-4708-8eb1-1645bdd87b48
        method: GET
      response:
        body: '{"data":{"id":"d02d23ba-126d-4708-8eb1-1645bdd87b48","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1782479839776,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782479839776,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder-local-1782479836-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 171.443541ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
        method: GET
      response:
        body: '{"data":[{"id":"d02d23ba-126d-4708-8eb1-1645bdd87b48","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1782479839776,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782479839776,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder-local-1782479836-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}},{"id":"6f3ec181-c4cc-41cc-b69c-76d63914ef6d","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1782479839778,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782479839778,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder-local-1782479836-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}],"meta":{"page":{"total_filtered_count":2}},"links":{"first":"/api/v2/security/findings/automation/mute_rules?page[size]=1000\u0026page[number]=0","last":"/api/v2/security/findings/automation/mute_rules?page[size]=1000\u0026page[number]=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 181.426125ms
[...]
    - id: 39
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/d02d23ba-126d-4708-8eb1-1645bdd87b48
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 121.845917ms
[...]
