---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/org
        method: GET
      response:
        body: |
            {"orgs":[{"public_id":"ff4a8255-6931-58d1-add0-a6b3602d5421","name":"Org Mgmt Root","description":null,"created":"2026-02-04 23:00:24","subscription":{"id":null,"billing_plan_id":8,"started":1770246024,"expires":null,"finished":null,"type":"dogfood","is_custom":false,"is_trial":false,"is_expired":true},"billing":{},"settings":{"default_landing_page":"Dashboard Lists","saml":{"enabled":false},"saml_can_be_enabled":false,"saml_login_url":null,"saml_idp_metadata_uploaded":false,"saml_idp_endpoint":null,"saml_idp_metadata_valid_until":null,"custom_landing_page":null,"saml_idp_initiated_login":{"enabled":false},"saml_strict_mode":{"enabled":false},"saml_autocreate_access_role":"st","saml_autocreate_users_domains":{"enabled":false,"domains":[]},"private_widget_share":true,"manage_reports":"true"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.482256ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_memberships?filter%5Borg_uuid%5D=ff4a8255-6931-58d1-add0-a6b3602d5421
        method: GET
      response:
        body: '{"data":[{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-04-22T20:57:00.348597Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019c2ae2-b05d-7cc9-aa88-38e1f26b7a0d","type":"org_groups"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 29.966533ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicyOverride_EnforceCascade-local-1776891421"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019db6fb-68cd-706b-b637-a5b027c5e6c5","type":"org_groups","attributes":{"created_at":"2026-04-22T20:57:02.925Z","modified_at":"2026-04-22T20:57:02.928041Z","name":"tf-TestAccDatadogOrgGroupPolicyOverride_EnforceCascade-local-1776891421","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 32.137083ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","policy_name":"is_widget_copy_paste_enabled"},"relationships":{"org_group":{"data":{"id":"019db6fb-68cd-706b-b637-a5b027c5e6c5","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019db6fb-68fd-7f1b-9464-cc8feabcfd73","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-22T20:57:02.975232Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db6fb-68cd-706b-b637-a5b027c5e6c5","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 44.849301ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","relationships":{"org_group":{"data":{"id":"019db6fb-68cd-706b-b637-a5b027c5e6c5","type":"org_groups"}}},"type":"org_group_memberships"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_memberships/019c2ae2-b060-7954-8606-6fe2b42616c4
        method: PATCH
      response:
        body: '{"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-04-22T20:57:03.013905Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db6fb-68cd-706b-b637-a5b027c5e6c5","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 56.547223ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db6fb-68cd-706b-b637-a5b027c5e6c5","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db6fb-68fd-7f1b-9464-cc8feabcfd73","type":"org_group_policies"}}},"type":"org_group_policy_overrides"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides
        method: POST
      response:
        body: '{"data":{"id":"019db6fb-695c-7b16-9397-b823b3e15fab","type":"org_group_policy_overrides","attributes":{"created_at":"2026-04-22T20:57:03.06952Z","modified_at":"2026-04-22T20:57:03.06952Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db6fb-68cd-706b-b637-a5b027c5e6c5","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db6fb-68fd-7f1b-9464-cc8feabcfd73","type":"org_group_policies"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 43.399699ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides/019db6fb-695c-7b16-9397-b823b3e15fab
        method: GET
      response:
        body: '{"data":{"id":"019db6fb-695c-7b16-9397-b823b3e15fab","type":"org_group_policy_overrides","attributes":{"created_at":"2026-04-22T20:57:03.06952Z","modified_at":"2026-04-22T20:57:03.06952Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db6fb-68cd-706b-b637-a5b027c5e6c5","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db6fb-68fd-7f1b-9464-cc8feabcfd73","type":"org_group_policies"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 40.642407ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db6fb-68cd-706b-b637-a5b027c5e6c5
        method: GET
      response:
        body: '{"data":{"id":"019db6fb-68cd-706b-b637-a5b027c5e6c5","type":"org_groups","attributes":{"created_at":"2026-04-22T20:57:02.925Z","modified_at":"2026-04-22T20:57:02.928041Z","name":"tf-TestAccDatadogOrgGroupPolicyOverride_EnforceCascade-local-1776891421","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 44.88195ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019db6fb-68fd-7f1b-9464-cc8feabcfd73
        method: GET
      response:
        body: '{"data":{"id":"019db6fb-68fd-7f1b-9464-cc8feabcfd73","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-22T20:57:02.975232Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db6fb-68cd-706b-b637-a5b027c5e6c5","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 52.307816ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enforcement_tier":"ENFORCE"},"id":"019db6fb-68fd-7f1b-9464-cc8feabcfd73","type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies/019db6fb-68fd-7f1b-9464-cc8feabcfd73
        method: PATCH
      response:
        body: '{"data":{"id":"019db6fb-68fd-7f1b-9464-cc8feabcfd73","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforced_at":"2026-04-22T20:57:04.420297Z","enforcement_tier":"ENFORCE","modified_at":"2026-04-22T20:57:04.420297Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db6fb-68cd-706b-b637-a5b027c5e6c5","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 135.548919ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides/019db6fb-695c-7b16-9397-b823b3e15fab
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"override 019db6fb-695c-7b16-9397-b823b3e15fab not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 30.415703ms
[...]
