---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1746665848","name":"team-tf-testacconcallschedulecreateandupdate-local-1746665848"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"24695920-ecd2-4892-80c7-64c98859e3be","attributes":{"name":"team-tf-testacconcallschedulecreateandupdate-local-1746665848","handle":"team-tf-testacconcallschedulecreateandupdate-local-1746665848","summary":"Description","description":"Description","avatar":null,"banner":1,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-08T00:57:31.242240+00:00","modified_at":"2025-05-08T00:57:31.242250+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/24695920-ecd2-4892-80c7-64c98859e3be/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/24695920-ecd2-4892-80c7-64c98859e3be/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 935.328542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1746665848@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"6bd08f43-2ba7-11f0-b6fb-6e621690b5c5","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1746665848@example.com","created_at":"2025-05-08T00:57:31.684879+00:00","modified_at":"2025-05-08T00:57:31.684879+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1746665848@example.com","icon":"https://secure.gravatar.com/avatar/c3a87c323559529f694474c29ffe8390?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.292795125s
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"6bd08f43-2ba7-11f0-b6fb-6e621690b5c5","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"6c211be2-2ba7-11f0-8601-da7ad0900002","attributes":{"uuid":"6c211be2-2ba7-11f0-8601-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-05-08T00:57:32.212367+00:00","expires_at":"2025-05-10T00:57:32.050779+00:00"},"relationships":{"user":{"data":{"type":"users","id":"6bd08f43-2ba7-11f0-b6fb-6e621690b5c5"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 532.303875ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","end_date":"2026-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"6bd08f43-2ba7-11f0-b6fb-6e621690b5c5"}},{},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"tf-testacconcallschedulecreateandupdate-local-1746665848","tags":["foo:bar"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"24695920-ecd2-4892-80c7-64c98859e3be","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"ef176be8-60a3-457f-a4d4-ad54eeb5078d","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1746665848","tags":["foo:bar"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"87ce3a83-4eb7-4d0f-88d3-93c3ccf8ad7b","type":"layers"}]},"teams":{"data":[{"id":"24695920-ecd2-4892-80c7-64c98859e3be","type":"teams"}]}}},"included":[{"id":"87ce3a83-4eb7-4d0f-88d3-93c3ccf8ad7b","type":"layers","attributes":{"effective_date":"2025-05-08T00:57:32.494393062Z","end_date":"2026-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"87ce3a83-4eb7-4d0f-88d3-93c3ccf8ad7b-member-1","type":"members"},{"id":"87ce3a83-4eb7-4d0f-88d3-93c3ccf8ad7b-member-2","type":"members"},{"id":"87ce3a83-4eb7-4d0f-88d3-93c3ccf8ad7b-member-3","type":"members"}]}}},{"id":"87ce3a83-4eb7-4d0f-88d3-93c3ccf8ad7b-member-1","type":"members","relationships":{"user":{"data":{"id":"6bd08f43-2ba7-11f0-b6fb-6e621690b5c5","type":"users"}}}},{"id":"6bd08f43-2ba7-11f0-b6fb-6e621690b5c5","type":"users","attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1746665848@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 237.957334ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/6bd08f43-2ba7-11f0-b6fb-6e621690b5c5
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"6bd08f43-2ba7-11f0-b6fb-6e621690b5c5","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1746665848@example.com","created_at":"2025-05-08T00:57:31.684879+00:00","modified_at":"2025-05-08T00:57:31.684879+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1746665848@example.com","icon":"https://secure.gravatar.com/avatar/c3a87c323559529f694474c29ffe8390?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.83075ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/24695920-ecd2-4892-80c7-64c98859e3be
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"24695920-ecd2-4892-80c7-64c98859e3be","attributes":{"modified_at":"2025-05-08T00:57:31.242250+00:00","summary":"Description","description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1746665848","created_at":"2025-05-08T00:57:31.242240+00:00","is_managed":false,"user_count":0,"name":"team-tf-testacconcallschedulecreateandupdate-local-1746665848","link_count":0},"relationships":{"user_team_permissions":{"links":{"related":"/api/v2/team/24695920-ecd2-4892-80c7-64c98859e3be/permission-settings"}},"team_links":{"links":{"related":"/api/v2/team/24695920-ecd2-4892-80c7-64c98859e3be/links"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.625958ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/ef176be8-60a3-457f-a4d4-ad54eeb5078d?include=layers%2Clayers.members%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"ef176be8-60a3-457f-a4d4-ad54eeb5078d","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1746665848","tags":["foo:bar"],"time_zone":"[...]
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/ef176be8-60a3-457f-a4d4-ad54eeb5078d
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 263.751166ms
[...]
