---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"locations":["aws:eu-central-1"],"message":"","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1759838669","options":{"device_ids":["chrome.laptop_large"],"initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"status":"paused","steps":[{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name without local key","noScreenshot":false,"params":{"check":"contains","element":{"multiLocator":{"ab":"ab no local key","at":"at no local key","cl":"cl no local key","clt":"clt no local key","co":"co no local key"},"targetOuterHTML":"targetOuterHTML no local key","url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"value":"step value"},"timeout":0,"type":"assertElementContent"},{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name second","noScreenshot":false,"params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".second"}]}},"value":"step second value"},"timeout":0,"type":"assertElementContent"},{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name third","noScreenshot":false,"params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".third"}]}},"value":"step third value"},"timeout":0,"type":"assertElementContent"},{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name fourth","noScreenshot":false,"params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".fourth"}]}},"value":"step fourth value"},"timeout":0,"type":"assertElementContent"}],"tags":[],"type":"browser"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"9fv-nhv-tta","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1759838669","status":"paused","type":"browser","tags":[],"created_at":"2025-10-07T12:04:31.216645+00:00","modified_at":"2025-10-07T12:04:31.216645+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"message":"","options":{"device_ids":["chrome.laptop_large"],"initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"locations":["aws:eu-central-1"],"created_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":223925759,"org_id":569509,"modified_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"creation_source":"terraform","steps":[{"name":"step name without local key","params":{"check":"contains","element":{"multiLocator":{"ab":"ab no local key","at":"at no local key","cl":"cl no local key","clt":"clt no local key","co":"co no local key"},"targetOuterHTML":"targetOuterHTML no local key","url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"value":"step value"},"timeout":0,"type":"assertElementContent","public_id":"xky-a9f-ten","allowFailure":false,"isCritical":false,"noScreen[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/browser/9fv-nhv-tta
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"9fv-nhv-tta","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1759838669","status":"paused","type":"browser","tags":[],"created_at":"2025-10-07T12:04:31.216645+00:00","modified_at":"2025-10-07T12:04:31.216645+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"message":"","options":{"device_ids":["chrome.laptop_large"],"initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"locations":["aws:eu-central-1"],"monitor_id":223925759,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"steps":[{"name":"step name without local key","params":{"check":"contains","element":{"multiLocator":{"ab":"ab no local key","at":"at no local key","cl":"cl no local key","clt":"clt no local key","co":"co no local key"},"targetOuterHTML":"targetOuterHTML no local key","url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"value":"step value"},"timeout":0,"type":"assertElementContent","public_id":[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/9fv-nhv-tta
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"9fv-nhv-tta","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1759838669","status":"paused","type":"browser","tags":[],"created_at":"2025-10-07T12:04:31.216645+00:00","modified_at":"2025-10-07T12:04:31.216645+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"message":"","options":{"device_ids":["chrome.laptop_large"],"initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"locations":["aws:eu-central-1"],"monitor_id":223925759,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.235875ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["9fv-nhv-tta"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"9fv-nhv-tta","deleted_at":"2025-10-07T12:04:40.213261+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.337583709s
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/9fv-nhv-tta
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 124.233375ms
