version: 2
interactions:
- request:
    body: |
      {"description":"some description about foo SLO","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761{type:good}.as_count()"},"tags":["foo:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761"],"target_threshold":99.5,"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"},{"target":99,"timeframe":"90d"}],"timeframe":"7d","type":"metric","warning_threshold":99.8}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
    id: 0
  response:
    body: |
      {"data":[{"id":"e3126692af715377b8b6e83eab5fca7e","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","foo:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1699286763,"modified_at":1699286763}],"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?ids=e3126692af715377b8b6e83eab5fca7e
    method: GET
    id: 1
  response:
    body: |
      {"data":[{"id":"e3126692af715377b8b6e83eab5fca7e","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","foo:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1699286763,"modified_at":1699286763}],"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/e3126692af715377b8b6e83eab5fca7e
    method: GET
    id: 2
  response:
    body: |
      {"data":{"id":"e3126692af715377b8b6e83eab5fca7e","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","tags":["foo:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1699286763,"modified_at":1699286763},"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?query=tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761
    method: GET
    id: 9
  response:
    body: |
      {"data":[{"id":"e3126692af715377b8b6e83eab5fca7e","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","foo:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1699286763,"modified_at":1699286763}],"error":null,"metadata":{"page":{"total_count":1,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?tags_query=tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761
    method: GET
    id: 18
  response:
    body: |
      {"data":[{"id":"e3126692af715377b8b6e83eab5fca7e","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","tags":["foo:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1699286763,"modified_at":1699286763}],"error":null,"metadata":{"page":{"total_count":1,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?metrics_query=tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761
    method: GET
    id: 27
  response:
    body: |
      {"data":[{"id":"e3126692af715377b8b6e83eab5fca7e","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761","foo:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1699286761{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1699286763,"modified_at":1699286763}],"error":null,"metadata":{"page":{"total_count":1,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/e3126692af715377b8b6e83eab5fca7e
    method: GET
    id: 36
  response:
    body: '{"errors":["SLO not found: e3126692af715377b8b6e83eab5fca7e not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
[...]
