---
version: 1
interactions:
- request:
    body: |
      {"description":"some updated description about foo SLO","id":"","name":"tf-TestAccDatadogSloCorrection_Basic-local-1613137986","query":{"denominator":"sum:my.metric{type:good}.as_count() + sum:my.metric{type:bad}.as_count()","numerator":"sum:my.metric{type:good}.as_count()"},"tags":["foo:bar","baz"],"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":98,"timeframe":"30d","warning":99},{"target":99.9,"timeframe":"90d"}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"some updated description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"warning":99.0,"warning_display":"99.","target":98.0,"target_display":"98.","timeframe":"30d"},{"target":99.9,"target_display":"99.9","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{type:good}.as_count()
      + sum:my.metric{type:bad}.as_count()","numerator":"sum:my.metric{type:good}.as_count()"},"id":"ce71282dcaab5b849b185532e7e43899","name":"tf-TestAccDatadogSloCorrection_Basic-local-1613137986","created_at":1613137986,"tags":["foo:bar","baz"],"modified_at":1613137986,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - "35.3897955"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "54"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"category":"Scheduled Maintenance","description":"test correction on slo tf-TestAccDatadogSloCorrection_Basic-local-1613137986","end":1735718600,"slo_id":"ce71282dcaab5b849b185532e7e43899","start":1735707000,"timezone":"UTC"},"type":"correction"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLOCorrection
    url: https://api.datadoghq.com/api/v1/slo/correction
    method: POST
  response:
    body: '{"data":{"type":"correction","id":"a2651338-6d39-11eb-92f6-da7ad0900002","attributes":{"slo_id":"ce71282dcaab5b849b185532e7e43899","start":1735707000,"end":1735718600,"description":"test
      correction on slo tf-TestAccDatadogSloCorrection_Basic-local-1613137986","category":"Scheduled
      Maintenance","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      X-Dd-Version:
      - "35.3897955"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11998"
      X-Ratelimit-Reset:
      - "54"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLOCorrection
    url: https://api.datadoghq.com/api/v1/slo/correction/a2651338-6d39-11eb-92f6-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"correction","id":"a2651338-6d39-11eb-92f6-da7ad0900002","attributes":{"slo_id":"ce71282dcaab5b849b185532e7e43899","start":1735707000,"end":1735718600,"description":"test
      correction on slo tf-TestAccDatadogSloCorrection_Basic-local-1613137986","category":"Scheduled
      Maintenance","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.3897955"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11998"
      X-Ratelimit-Reset:
      - "53"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLO
    url: https://api.datadoghq.com/api/v1/slo/ce71282dcaab5b849b185532e7e43899
    method: GET
  response:
    body: '{"data":{"description":"some updated description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"warning":99.0,"warning_display":"99.","target":98.0,"target_display":"98.","timeframe":"30d"},{"target":99.9,"target_display":"99.9","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{type:good}.as_count()
      + sum:my.metric{type:bad}.as_count()","numerator":"sum:my.metric{type:good}.as_count()"},"id":"ce71282dcaab5b849b185532e7e43899","name":"tf-TestAccDatadogSloCorrection_Basic-local-1613137986","created_at":1613137986,"tags":["foo:bar","baz"],"modified_at":1613137986,"type":"metric"},"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      X-Dd-Version:
      - "35.3897955"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2999"
      X-Ratelimit-Reset:
      - "3"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLOCorrection
    url: https://api.datadoghq.com/api/v1/slo/correction/a2651338-6d39-11eb-92f6-da7ad0900002
    method: GET
  response:
    body: '{"errors": ["slo correction public id a2651338-6d39-11eb-92f6-da7ad0900002
      not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3897955"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11992"
      X-Ratelimit-Reset:
      - "52"
    status: 404 Not Found
    code: 404
    duration: ""
