---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-sp-degrade-tmpl-basic-1787179210","name":"test-sp-degrade-tmpl-basic-1787179210","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"048b2701-7d86-4acd-b79a-c89d082f0094","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"30651c2b-de1b-48cb-be27-1e51af34df4c","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T22:40:13.345234Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-basic-1787179210","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T22:40:13.345234Z","name":"test-sp-degrade-tmpl-basic-1787179210","page_url":"https://frog.datadoghq.com/status-pages/048b2701-7d86-4acd-b79a-c89d082f0094/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.331942334s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/048b2701-7d86-4acd-b79a-c89d082f0094
        method: GET
      response:
        body: '{"data":{"id":"048b2701-7d86-4acd-b79a-c89d082f0094","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"30651c2b-de1b-48cb-be27-1e51af34df4c","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T22:40:13.345234Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-basic-1787179210","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T22:40:13.345234Z","name":"test-sp-degrade-tmpl-basic-1787179210","page_url":"https://frog.datadoghq.com/status-pages/048b2701-7d86-4acd-b79a-c89d082f0094/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 63.360125ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components_affected":[{"id":"30651c2b-de1b-48cb-be27-1e51af34df4c","status":"degraded"}],"degradation_title":"API degradation","name":"test-sp-degrade-tmpl-basic-1787179210","updates":[{"message":"We are investigating the issue.","status":"investigating"}]},"type":"degradation_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/048b2701-7d86-4acd-b79a-c89d082f0094/degradation_templates
        method: POST
      response:
        body: '{"data":{"id":"9f750d63-5b75-45b3-acf4-fa2f7fa2436e","type":"degradation_templates","attributes":{"components_affected":[{"id":"30651c2b-de1b-48cb-be27-1e51af34df4c","status":"degraded"}],"created_at":"2026-08-19T22:40:17.098955Z","degradation_title":"API degradation","modified_at":"2026-08-19T22:40:17.098955Z","name":"test-sp-degrade-tmpl-basic-1787179210","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"048b2701-7d86-4acd-b79a-c89d082f0094","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 85.331458ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/048b2701-7d86-4acd-b79a-c89d082f0094/degradation_templates/9f750d63-5b75-45b3-acf4-fa2f7fa2436e
        method: GET
      response:
        body: '{"data":{"id":"9f750d63-5b75-45b3-acf4-fa2f7fa2436e","type":"degradation_templates","attributes":{"components_affected":[{"id":"30651c2b-de1b-48cb-be27-1e51af34df4c","status":"degraded"}],"created_at":"2026-08-19T22:40:17.098955Z","degradation_title":"API degradation","modified_at":"2026-08-19T22:40:17.098955Z","name":"test-sp-degrade-tmpl-basic-1787179210","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"048b2701-7d86-4acd-b79a-c89d082f0094","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 73.632334ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/048b2701-7d86-4acd-b79a-c89d082f0094/degradation_templates/9f750d63-5b75-45b3-acf4-fa2f7fa2436e
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 37.980125ms
