---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Description of the variable","is_fido":false,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASICTARGETANDTARGETVALUECANBENUMBERORSTRING_LOCAL_1749217152","tags":["foo:bar","env:test"],"value":{"secure":false,"value":"variable-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"615f604d-a112-4c5d-999d-32e2b9dc7938","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASICTARGETANDTARGETVALUECANBENUMBERORSTRING_LOCAL_1749217152","description":"Description of the variable","type":"variable","tags":["foo:bar","env:test"],"last_error":null,"value":{"secure":false,"value":"variable-value"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 431.833042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"is","target":200,"type":"statusCode"},{"operator":"validatesJSONSchema","target":{"jsonSchema":"{\"type\": \"object\", \"properties\":{\"slideshow\":{\"type\":\"object\"}}}","metaSchema":"draft-07"},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"},{"operator":"validatesXPath","target":{"operator":"contains","targetValue":"12","xPath":"something"},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.myKey","operator":"isUndefined"},"type":"body"},{"operator":"moreThan","property":"content-length","target":74000,"type":"header"},{"operator":"moreThan","property":"content-length","target":74001,"type":"header"},{"operator":"md5","target":"ab1f88dc59fc43e4bc07ca52f7bf4d12","type":"bodyHash"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.discountPercentage","operator":"lessThan","targetValue":18.48},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.discountPercentage","operator":"lessThan","targetValue":18.49},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.discountPercentage","operator":"moreThan","targetValue":8},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.discountPercentage","operator":"moreThan","targetValue":7},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.discountPercentage","operator":"contains","targetValue":"10.48"},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.discountPercentage","operator":"contains","targetValue":"10.48"},"type":"body"}],"configVariables":[],"request":{"method":"GET","timeout":30,"url":"https://www.datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_BasicTargetAndTargetValueCanBeNumberOrString-local-1749217152","options":{"follow_redirects":true,"httpVersion":"any","min_location_failed":1,"monitor_options":{"escalation_message":"test escalation message","notification_preset_name":"show_all","renotify_interval":120,"renotify_occurrences":5},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"bpm-xtz-pdb","name":"tf-TestAccDatadogSyntheticsAPITest_BasicTargetAndTargetValueCanBeNumberOrString-local-1749217152","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-06-06T13:39:14.288027+00:00","modified_at":"2025-06-06T13:39:14.288027+00:00","config":{"assertions":[{"operator":"is","target":200,"type":"statusCode"},{"operator":"validatesJSONSchema","target":{"jsonSchema":"{\"type\": \"object\", \"properties\":{\"slideshow\":{\"type\":\"object\"}}}","metaSchema":"draft-07"},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"},{"operator":"validatesXPath","target":{"operator":"contain[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/bpm-xtz-pdb
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"bpm-xtz-pdb","name":"tf-TestAccDatadogSyntheticsAPITest_BasicTargetAndTargetValueCanBeNumberOrString-local-1749217152","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/bpm-xtz-pdb
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"bpm-xtz-pdb","name":"tf-TestAccDatadogSyntheticsAPITest_BasicTargetAndTargetValueCanBeNumberOrString-local-1749217152","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-06-0[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/615f604d-a112-4c5d-999d-32e2b9dc7938
        method: GET
      response:
            - chunked
        body: |
            {"id":"615f604d-a112-4c5d-999d-32e2b9dc7938","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASICTARGETANDTARGETVALUECANBENUMBERORSTRING_LOCAL_1749217152","description":"Description of the variable","type":"variable","tags":["foo:bar","env:test"],"created_at":"2025-06-06T13:39:14.066149+00:00","modified_at":"2025-06-06T13:39:14.066149+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.682625ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["bpm-xtz-pdb"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"bpm-xtz-pdb","deleted_at":"2025-06-06T13:39:16.744410+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 797.7145ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/bpm-xtz-pdb
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 142.286375ms
