---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {
               "title": "tf-TestAccDatadogDashboardJSONNoDiff-local-1767989174",
               "description": "",
               "widgets": [],
               "template_variables": [],
               "layout_type": "ordered",
               "notify_list": [],
               "reflow_type": "fixed",
               "id": "3fa-nkp-wty"
            }
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"g63-vcn-hcz","title":"tf-TestAccDatadogDashboardJSONNoDiff-local-1767989174","description":"","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/g63-vcn-hcz/tf-testaccdatadogdashboardjsonnodiff-local-1767989174","template_variables":[],"widgets":[],"notify_list":[],"created_at":"2026-01-09T20:06:15.004376+00:00","modified_at":"2026-01-09T20:06:15.004376+00:00","reflow_type":"fixed"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.48325ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/g63-vcn-hcz
        method: GET
      response:
            - chunked
        body: '{"id":"g63-vcn-hcz","title":"tf-TestAccDatadogDashboardJSONNoDiff-local-1767989174","description":"","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/g63-vcn-hcz/tf-testaccdatadogdashboardjsonnodiff-local-1767989174","template_variables":[],"widgets":[],"notify_list":[],"created_at":"2026-01-09T20:06:15.004376+00:00","modified_at":"2026-01-09T20:06:15.004376+00:00","reflow_type":"fixed"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.125667ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/g63-vcn-hcz
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"g63-vcn-hcz"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.754083ms
