---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Workflow used by on-call team routing rules test.","name":"Team Rules Test Workflow tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","published":true,"runAs":{"type":"owner"},"spec":{"handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","steps":[],"triggers":[{"onCallTrigger":{},"startStepNames":[]}]},"tags":["service:foo","team:bar"],"webhookSecret":""},"type":"workflows"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/workflows
        method: POST
      response:
        body: '{"data":{"id":"5d827ae4-f1b9-43d2-8c0e-2aae8562154e","type":"workflows","attributes":{"createdAt":"2026-09-08T18:41:42.969289Z","description":"Workflow used by on-call team routing rules test.","name":"Team Rules Test Workflow tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","published":true,"runAsUserMode":"owner","sensitivePrivileges":false,"spec":{"triggers":[{"startStepNames":[],"onCallTrigger":{}}],"steps":[],"handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1788892901"},"tags":["service:foo","team:bar"],"updatedAt":"2026-09-08T18:41:42.969289Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 115.399933ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallteamroutingrulescreateandupdate-local-1788892901@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"f573193f-742c-4da1-afe8-6c6ce9f3e8fe","attributes":{"uuid":"f573193f-742c-4da1-afe8-6c6ce9f3e8fe","name":null,"handle":"tf-testacconcallteamroutingrulescreateandupdate-local-1788892901@example.com","created_at":"2026-09-08T18:41:42.974772+00:00","modified_at":"2026-09-08T18:41:42.974772+00:00","email":"tf-testacconcallteamroutingrulescreateandupdate-local-1788892901@example.com","icon":"https://secure.gravatar.com/avatar/47284915eca3daae9abffb6d46a4ac2d?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 131.591005ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1788892901"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"d9c5d3de-3b9a-4e09-9310-4faeecaac2e3","type":"team","attributes":{"avatar":null,"banner":12,"created_at":"2026-09-08T18:41:42.996901+00:00","description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-09-08T18:41:42.996901+00:00","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","provisioned_by":"teams_terraform","summary":"Description","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/d9c5d3de-3b9a-4e09-9310-4faeecaac2e3/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/d9c5d3de-3b9a-4e09-9310-4faeecaac2e3/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 159.78437ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"f573193f-742c-4da1-afe8-6c6ce9f3e8fe","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"efef90dc-abb4-11f1-b21a-da7ad0900002","attributes":{"uuid":"efef90dc-abb4-11f1-b21a-da7ad0900002","login_method":null,"invite_type":"saml_invite","created_at":"2026-09-08T18:41:43.311031+00:00","expires_at":"2026-09-10T18:41:43.161589+00:00"},"relationships":{"user":{"data":{"type":"users","id":"f573193f-742c-4da1-afe8-6c6ce9f3e8fe"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 372.414588ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"f573193f-742c-4da1-afe8-6c6ce9f3e8fe"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"d9c5d3de-3b9a-4e09-9310-4faeecaac2e3","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"2ce4c514-a9b7-4820-addc-b18516017e1c","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","tags":[],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"d60dd29f-d548-49b2-8637-01ceca3dd265","type":"layers"}]},"teams":{"data":[{"id":"d9c5d3de-3b9a-4e09-9310-4faeecaac2e3","type":"teams"}]}}},"included":[{"id":"d60dd29f-d548-49b2-8637-01ceca3dd265","type":"layers","attributes":{"applied_rotation_start":"2025-01-01T00:00:00Z","effective_date":"2025-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"d60dd29f-d548-49b2-8637-01ceca3dd265-member-1","type":"members"},{"id":"d60dd29f-d548-49b2-8637-01ceca3dd265-member-2","type":"members"}]}}},{"id":"d60dd29f-d548-49b2-8637-01ceca3dd265-member-1","type":"members","relationships":{"user":{"data":{"id":"f573193f-742c-4da1-afe8-6c6ce9f3e8fe","type":"users"}}}},{"id":"f573193f-742c-4da1-afe8-6c6ce9f3e8fe","type":"users","attributes":{"email":"tf-testacconcallteamroutingrulescreateandupdate-local-1788892901@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 105.300928ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","resolve_page_on_policy_end":true,"retries":3,"steps":[{"assignment":"round-robin","escalate_after_seconds":300,"targets":[{"id":"d9c5d3de-3b9a-4e09-9310-4faeecaac2e3","type":"teams"},{"id":"f573193f-742c-4da1-afe8-6c6ce9f3e8fe","type":"users"},{"id":"2ce4c514-a9b7-4820-addc-b18516017e1c","type":"schedules"}]}]},"type":"policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
        method: POST
      response:
        body: '{"data":{"id":"0ba3a25e-953d-421c-8c6a-09e8af[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"rules":[{"actions":[{"handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","type":"workflow"}],"query":"tags.service:test","time_restriction":{"restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"time_zone":"America/New_York"}},{"actions":[{"ack_timeout_minutes":30,"policy_id":"0ba3a25e-953d-421c-8c6a-09e8afa53ea2","support_hours":{"restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"},{"end_day":"tuesday","end_time":"17:00:00","start_day":"tuesday","start_time":"09:00:00"},{"end_day":"wednesday","end_time":"17:00:00","start_day":"wednesday","start_time":"09:00:00"},{"end_day":"thursday","end_time":"17:00:00","start_day":"thursday","start_time":"09:00:00"},{"end_day":"friday","end_time":"17:00:00","start_day":"friday","start_time":"09:00:00"}],"time_zone":"America/New_York"},"type":"escalation_policy","urgency":"low"}],"query":"tags.service:payment"},{"actions":[],"policy_id":"0ba3a25e-953d-421c-8c6a-09e8afa53ea2","query":"","urgency":"dynamic"}]},"id":"d9c5d3de-3b9a-4e09-9310-4faeecaac2e3","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/d9c5d3de-3b9a-4e09-9310-4faeecaac2e3/routing-rules?include=rules
        method: PUT
      response:
        body: '{"data":{"id":"d9c5d3de-3b9a-4e09-9310-4faeecaac2e3","type":"team_routing_rules","relationships":{"rules":{"data":[{"id":"5cac92a6-0949-47ef-813d-68cc582ae621","type":"team_routing_rules"},{"id":"a749b8a2-5e2f-4a25-a949-93fac1bc12bf","type":"team_routing_rules"},{"id":"3ebcd61c-c1bd-4f97-a7ec-3803423895dd","type":"team_routing_rules"}]}}},"included":[{"id":"5cac92a6-0949-47ef-813d-68cc582ae621","type":"team_routing_rules","attributes":{"actions":[{"type":"workflow","handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1788892901"}],"query":"tags.service:test","time_restriction":{"time_zone":"America/New_York","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}]}}},{"id":"a749b8a2-5e2f-4a25-a949-93fac1bc12bf","type":"team_routing_rules","attributes":{"actions":[],"query":"tags.service:payment","urgency":"low"},"relationships":{"policy":{"data":{"id":"0ba3a25e-953d-421c-8c6a-09e8afa53ea2","type":"policies"}}}},{"id":"3ebcd61c-c1bd-4f97-a7ec-3803423895dd","type":"team_routing_rules","attributes":{"actions":[],"query":"","urgency":"dynamic"},"relationships":{"policy":{"data":{"id":"0ba3a25e-953d-421c-8c6a-09e8afa53ea2","type":"policies"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 215.073098ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/d9c5d3de-3b9a-4e09-9310-4faeecaac2e3
        method: GET
      response:
        body: '{"data":{"id":"d9c5d3de-3b9a-4e09-9310-4faeecaac2e3","type":"team","attributes":{"created_at":"2026-09-08T18:41:42.996901+00:00","description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","is_managed":false,"link_count":0,"modified_at":"2026-09-08T18:41:42.996901+00:00","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","provisioned_by":"teams_terraform","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/d9c5d3de-3b9a-4e09-9310-4faeecaac2e3/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/d9c5d3de-3b9a-4e09-9310-4faeecaac2e3/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 65.840552ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/f573193f-742c-4da1-afe8-6c6ce9f3e8fe
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"f573193f-742c-4da1-afe8-6c6ce9f3e8fe","attributes":{"uuid":"f573193f-742c-4da1-afe8-6c6ce9f3e8fe","name":null,"handle":"tf-testacconcallteamroutingrulescreateandupdate-local-1788892901@example.com","created_at":"2026-09-08T18:41:42.974772+00:00","modified_at":"2026-09-08T18:41:42.974772+00:00","email":"tf-testacconcallteamroutingrulescreateandupdate-local-1788892901@example.com","icon":"https://secure.gravatar.com/avatar/47284915eca3daae9abffb6d46a4ac2d?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["SAML","google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"team_roles":{"data":[]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.292165ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/2ce4c514-a9b7-4820-addc-b18516017e1c?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"2ce4c514-a9b7-4820-addc-b18516017e1c","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","tags":[][...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/5d827ae4-f1b9-43d2-8c0e-2aae8562154e
        method: GET
      response:
        body: '{"data":{"id":"5d827ae4-f1b9-43d2-8c0e-2aae8562154e","type":"workflows","attributes":{"createdAt":"2026-09-08T18:41:42.969289Z","description":"Workflow used by on-call team routing rules test.","name":"Team Rules Test Workflow tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","published":true,"runAsUserMode":"owner","sensitivePrivileges":false,"spec":{"triggers":[{"startStepNames":[],"onCallTrigger":{}}],"steps":[],"handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1788892901"},"tags":["service:foo","team:bar"],"updatedAt":"2026-09-08T18:41:42.997104Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 270.841753ms
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/0ba3a25e-953d-421c-8c6a-09e8afa53ea2?include=steps.targets
        method: GET
      response:
        body: '{"data":{"id":"0ba3a25e-953d-421c-8c6a-09e8afa53ea2","type":"policies","attributes":{"name":"tf-testacconcallteamroutingrulescreateandupdate-local-1788892901","resolve_page_on_policy_end":true,"retries":3,[...]
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"d9c5d3de-3b9a-4e09-9310-4faeecaac2e3","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/d9c5d3de-3b9a-4e09-9310-4faeecaac2e3/routing-rules
        method: PUT
      response:
        body: '{"data":{"id":"d9c5d3de-3b9a-4e09-9310-4faeecaac2e3","type":"team_routing_rules","relationships":{"rules":{"data":[]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 128.868018ms
    - id: 14
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/0ba3a25e-953d-421c-8c6a-09e8afa53ea2
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 86.379302ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/2ce4c514-a9b7-4820-addc-b18516017e1c
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 121.067923ms
[...]
