---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_id":"694513996623","create_event_bus":false,"event_generator_name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1770047919","region":"us-east-1"},"type":"event_bridge"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/aws/event_bridge
        method: POST
      response:
        body: '{"data":{"id":"create_event_bridge","type":"event_bridge","attributes":{"event_source_name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1770047919-z6h7efxe","has_bus":false,"region":"us-east-1","status":"created"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 296.578917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/aws/event_bridge
        method: GET
      response:
        body: '{"data":{"id":"get_event_bridge","type":"event_bridge","attributes":{"accounts":[{"account_id":"074787506366","tags":[],"event_hubs":[]},{"account_id":"584647299176","tags":["account:staging","team:kubernetes-experiences","terraform:true"],"event_hubs":[{"name":"hugo-ferreira-event-bridge-test-h2f7hfds","region":"us-east-1"}]},{"account_id":"202749265359","tags":[],"event_hubs":[]},{"account_id":"789012345678","tags":[],"event_hubs":[]},{"account_id":"352312075024","tags":[],"event_hubs":[]},{"account_id":"152767366405","tags":["account:staging","team:k9-findings-prioritization","terraform:true"],"event_hubs":[]},{"account_id":"714338498832","tags":[],"event_hubs":[]},{"account_id":"771964207833","tags":["account:clip-sandbox","team:cloud-integrations-[...]
[...]
