---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-testaccdatadogroledatasourceerror-local-1626980282 main cloned"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"bea203f4-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"tf-testaccdatadogroledatasourceerror-local-1626980282 main cloned","created_at":"2021-07-22T18:58:04.476191+00:00","modified_at":"2021-07-22T18:58:04.476191+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "490"
      X-Ratelimit-Reset:
      - "56"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/beb69576-eb1e-11eb-b233-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"beb69576-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"tf-testaccdatadogroledatasourceerror-local-1626980282 main","created_at":"2021-07-22T18:58:04.611244+00:00","modified_at":"2021-07-22T18:58:04.611244+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "488"
      X-Ratelimit-Reset:
      - "54"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoles
    url: https://api.datadoghq.com/api/v2/roles?filter=tf-testaccdatadogroledatasourceerror-local-1626980282
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":2,"total_count":3487}},"data":[{"type":"roles","id":"beb69576-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"tf-testaccdatadogroledatasourceerror-local-1626980282 main","created_at":"2021-07-22T18:58:04.611244+00:00","modified_at":"2021-07-22T18:58:04.611244+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}},{"type":"roles","id":"bea203f4-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"tf-testaccdatadogroledatasourceerror-local-1626980282 main cloned","created_at":"2021-07-22T18:58:04.476191+00:00","modified_at":"2021-07-22T18:58:04.476191+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "484"
      X-Ratelimit-Reset:
      - "53"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/bea203f4-eb1e-11eb-b233-da7ad0900002
    method: GET
  response:
    body: '{"errors": ["The role bea203f4-eb1e-11eb-b233-da7ad0900002 does not exist not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "481"
      X-Ratelimit-Reset:
      - "51"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
