---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"locations":["aws:eu-central-1"],"message":"","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1760533960","options":{"blockedRequestPatterns":["https://example.com/*"],"device_ids":["chrome.laptop_large"],"httpVersion":"any","initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"status":"paused","steps":[{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name without local key","noScreenshot":false,"params":{"check":"contains","element":{"multiLocator":{"ab":"ab no local key","at":"at no local key","cl":"cl no local key","clt":"clt no local key","co":"co no local key"},"targetOuterHTML":"targetOuterHTML no local key","url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"value":"step value"},"timeout":0,"type":"assertElementContent"},{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name second","noScreenshot":false,"params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".second"}]}},"value":"step second value"},"timeout":0,"type":"assertElementContent"},{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name third","noScreenshot":false,"params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".third"}]}},"value":"step third value"},"timeout":0,"type":"assertElementContent"},{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name fourth","noScreenshot":false,"params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".fourth"}]}},"value":"step fourth value"},"timeout":0,"type":"assertElementContent"}],"tags":[],"type":"browser"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"3ga-spg-xxj","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1760533960","status":"paused","type":"browser","tags":[],"created_at":"2025-10-15T13:12:42.601851+00:00","modified_at":"2025-10-15T13:12:42.601851+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"message":"","options":{"blockedRequestPatterns":["https://example.com/*"],"device_ids":["chrome.laptop_large"],"httpVersion":"any","initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"locations":["aws:eu-central-1"],"created_by":{"name":"Zacharie Brodard","handle":"zacharie.brodard@datadoghq.com","email":"zacharie.brodard@datadoghq.com"},"deleted_at":null,"monitor_id":227581446,"org_id":321813,"modified_by":{"name":"Zacharie Brodard","handle":"zacharie.brodard@datadoghq.com","email":"zacharie.brodard@datadoghq.com"},"creation_source":"terraform","steps":[{"name":"step name without local key","params":{"check":"contains","element":{"multiLocator":{"ab":"ab no local key","at":"at no local key","cl":"cl no local key","clt":"clt no local key","co":"co no local key"},"targetOuterHTML":"targetOuterHTML no local key","url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"value":"step value"},"timeout":0,"type":"assertElementContent","public_id":"24t-6uu-aar","allowFailure":false,"isCritical":false,"noScreen[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/browser/3ga-spg-xxj
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"3ga-spg-xxj","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1760533960","status":"paused","type":"browser","tags":[],"created_at":"2025-10-15T13:12:42.601851+00:00","modified_at":"2025-10-15T13:12:42.601851+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"message":"","options":{"blockedRequestPatterns":["https://example.com/*"],"device_ids":["chrome.laptop_large"],"httpVersion":"any","initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"locations":["aws:eu-central-1"],"monitor_id":227581446,"creator":{"name":"Zacharie Brodard","handle":"zacharie.brodard@datadoghq.com","email":"zacharie.brodard@datadoghq.com"},"steps":[{"name":"step name without local key","params":{"check":"contains","element":{"multiLocator":{"ab":"ab no local key","at":"at no local key","cl":"cl no local key","clt":"clt no local key","co":"co no local key"},"targetOuterHTML":"targetOuterHTML no local key","url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"value":"step value"},"timeout":0,"type"[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/3ga-spg-xxj
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"3ga-spg-xxj","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1760533960","status":"paused","type":"browser","tags":[],"created_at":"2025-10-15T13:12:42.601851+00:00","modified_at":"2025-10-15T13:12:42.601851+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"message":"","options":{"blockedRequestPatterns":["https://example.com/*"],"device_ids":["chrome.laptop_large"],"httpVersion":"any","initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"locations":["aws:eu-central-1"],"monitor_id":227581446,"creator":{"name":"Zacharie Brodard","handle":"zacharie.brodard@datadoghq.com","email":"zacharie.brodard@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.826959ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["3ga-spg-xxj"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"3ga-spg-xxj","deleted_at":"2025-10-15T13:12:51.091197+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 587.72075ms
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/3ga-spg-xxj
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 147.114458ms
