---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"end":1768839213,"message":"tf-TestAccDatadogDowntime_TrimWhitespace-local-1768832013","monitor_tags":["*"],"recurrence":{"period":1,"type":"days"},"scope":["host:Whitespace"],"start":1768835613,"timezone":"UTC"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/downtime
        method: POST
      response:
            - chunked
        body: |
            {"id":6253331963,"monitor_id":null,"org_id":321813,"start":1768835613,"end":1768839213,"canceled":null,"created":1768832015,"modified":1768832015,"message":"tf-TestAccDatadogDowntime_TrimWhitespace-local-1768832013","active":false,"disabled":false,"recurrence":{"type":"days","period":1,"week_days":null,"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":1,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"0979ac29-5ddb-4fa3-9733-766e464a28f5","scope":["host:Whitespace"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.536045166s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/downtime/6253331963
        method: GET
      response:
            - chunked
        body: |
            {"id":6253331963,"monitor_id":null,"org_id":321813,"start":1768835613,"end":1768839213,"canceled":null,"created":1768832015,"modified":1768832015,"message":"tf-TestAccDatadogDowntime_TrimWhitespace-local-1768832013","active":false,"disabled":false,"recurrence":{"type":"days","period":1,"week_days":null,"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":1,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"0979ac29-5ddb-4fa3-9733-766e464a28f5","scope":["host:Whitespace"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 226.035958ms
[...]
