---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/hosts?count=1000&filter=&from=0&include_hosts_metadata=true&include_muted_hosts_data=true
    method: GET
  response:
    body: |
      {"host_list":[{"id":4014307004,"tags_by_source":{"Datadog":["host:host"]},"aliases":["host"],"apps":[],"sources":[],"name":"host","host_name":"host","up":false,"last_reported_time":0,"is_muted":false,"mute_timeout":null,"meta":{},"metrics":{"cpu":null,"iowait":null,"load":null}},{"id":7941089568,"tags_by_source":{"Datadog":["host:dummyhost"]},"aliases":["dummyhost"],"apps":[],"sources":[],"name":"dummyhost","host_name":"dummyhost","up":false,"last_reported_time":1685963459,"is_muted":false,"mute_timeout":null,"meta":{},"metrics":{"cpu":null,"iowait":null,"load":null}},{"id":11684947910,"tags_by_source":{"Datadog":["host:Test-Go-TestHosts-1685923543"]},"aliases":["Test-Go-TestHosts-1685923543"],"apps":["go"],"sources":[],"name":"Test-Go-TestHosts-1685923543","host_name":"Test-Go-TestHosts-1685923543","up":false,"last_reported_time":1685923548,"is_muted":false,"mute_timeout":null,"meta":{},"metrics":{"cpu":null,"iowait":null,"load":null}},{"id":1750845160,"tags_by_source":{"Users":["environment:production","lala:lolo","role:webserver"],"Datadog":["host:go-client-test-host"]},"aliases":["go-client-test-host"],"apps":["(no-namespace)"],"sources":[],"name":"go-client-test-host","host_name":"go-client-test-host","up":false,"last_reported_time":1685837256,"is_muted":false,"mute_timeout":null,"meta":{},"metrics":{"cpu":null,"iowait":null,"load":null}},{"id":1349740975,"tags_by_source":{"Datadog":["host:host0"]},"aliases":["host0"],"apps":[],"sources":[],"name":"host0","host_nam[...]
[...]
