---
version: 1
interactions:
- request:
    body: |
      {"client_id":"testc7f6-1234-5678-9101-3fcbf464test","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","host_filters":"foo:bar,buzz:lightyear","tenant_name":"tf-TestAccDatadogIntegrationAzure-local-1609425762"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAzureIntegration
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - n9uz1T+WujhmfsGndIdy1tCYb5bh9AzSyYOT5TTjJX23RGEavHxGqcz400IC+bY1
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAzureIntegration
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: GET
  response:
    body: '[{"tenant_name":"java-createAzureIntegrationTest-30774-1604680419","errors":["Datadog
      could not query tenant java-createAzureIntegrationTest-30774-1604680419 and
      client ID javatest-1234-5678-9101-3fcbf464test: invalid credentials"],"host_filters":"","client_id":"javatest-1234-5678-9101-3fcbf464test"},{"tenant_name":"testc44-1234-5678-9101-cc00736ftest","errors":["Datadog
      could not query tenant testc44-1234-5678-9101-cc00736ftest and client ID testc7f6-1234-5678-9101-3fcbf464test:
      invalid credentials"],"host_filters":"api:test","client_id":"testc7f6-1234-5678-9101-3fcbf464test"},{"tenant_name":"tf-TestAccDatadogIntegrationAzure-local-1609425762","errors":[],"host_filters":"foo:bar,buzz:lightyear","client_id":"testc7f6-1234-5678-9101-3fcbf464test"}]'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Xg/YZweB8L/9y2bk9dLfKv6mTe53iWJN13eGXk6rwnDvTKZPuXf1i9AdXnCIzJ+B
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
[...]
