---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[]},"type":"grid"}],"description":"Test app created using the Datadog provider in Terraform.","favorite":false,"name":"tf-TestAccDatadogAppBuilderAppJSONResource_Inline_Basic-local-1739516337","queries":[],"rootInstanceName":"grid0","selfService":false,"tags":[]},"type":"appDefinitions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/app-builder/apps
        method: POST
      response:
        body: '{"data":{"id":"5c416529-05b6-4524-b3a5-ea22aab96115","type":"appDefinitions"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 332.68525ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/5c416529-05b6-4524-b3a5-ea22aab96115
        method: GET
      response:
        body: '{"data":{"id":"5c416529-05b6-4524-b3a5-ea22aab96115","type":"appDefinitions","attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[]},"type":"grid"}],"description":"Test app created using the Datadog provider in Terraform.","favorite":false,"name":"tf-TestAccDatadogAppBuilderAppJSONResource_Inline_Basic-local-1739516337","queries":[],"rootInstanceName":"grid0","selfService":false,"tags":[]},"meta":{"org_id":2,"user_id":4318134,"user_uuid":"3b5e795a-1368-11ed-aee5-da7ad0900002","user_name":"tiffany.trinh@datadoghq.com","version":1,"updated_since_deployment":false,"created_at":"2025-02-14T06:58:58.765766Z","updated_at":"2025-02-14T06:58:58.765766Z","deleted_at":"0001-01-01T00:00:00Z"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 116.588042ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/5c416529-05b6-4524-b3a5-ea22aab96115
        method: GET
      response:
        body: '{"errors":[{"title":"app not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 97.365792ms
