---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"metric SLO using bad events formula","name":"tf-TestAccDatadogServiceLevelObjective_CountSpecBadEvents-local-1772677644","sli_specification":{"count":{"bad_events_formula":{"formula":"query2"},"good_events_formula":{"formula":"query1"},"queries":[{"data_source":"metrics","name":"query1","query":"sum:trace.servlet.request.hits{http.status_code:2*} by {env}.as_count()"},{"data_source":"metrics","name":"query2","query":"sum:trace.servlet.request.hits{http.status_code:5*} by {env}.as_count()"}]}},"tags":["foo:bar","baz"],"target_threshold":99,"thresholds":[{"target":99,"timeframe":"7d","warning":99.5}],"timeframe":"7d","type":"metric","warning_threshold":99.5}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/slo
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"id":"642cb149756e5d17ba1e97abe7e87975","name":"tf-TestAccDatadogServiceLevelObjective_CountSpecBadEvents-local-1772677644","tags":["baz","foo:bar"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.0,"target_display":"99.","warning":99.5,"warning_display":"99.5"}],"type":"metric","type_id":1,"description":"metric SLO using bad events formula","timeframe":"7d","warning_threshold":99.5,"target_threshold":99,"query":{"numerator":"sum:trace.servlet.request.hits{http.status_code:2*} by {env}.as_count()","denominator":"(sum:trace.servlet.request.hits{http.status_code:2*} by {env}.as_count()) + (sum:trace.servlet.request.hits{http.status_code:5*} by {env}.as_count())"},"creator":{"name":"May Fu","handle":"may.fu@datadoghq.com","email":"may.fu@datadoghq.com"},"created_at":1772677646,"modified_at":1772677646,"sli_specification":{"count":{"bad_events_formula":{"formula":"query2"},"good_events_formula":{"formula":"query1"},"queries":[{"data_source":"metrics","name":"query1","query":"sum:trace.servlet.request.hits{http.status_code:2*} by {env}.as_count()"},{"data_source":"metrics","name":"query2","query":"sum:trace.servlet.request.hits{http.status_code:5*} by {env}.as_count()"}]}}}],"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.796834ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/642cb149756e5d17ba1e97abe7e87975
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"642cb149756e5d17ba1e97abe7e87975","name":"tf-TestAccDatadogServiceLevelObjective_CountSpecBadEvents-local-1772677644","tags":["baz","foo:bar"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.0[...]
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/642cb149756e5d17ba1e97abe7e87975
        method: GET
      response:
            - chunked
        body: '{"errors":["SLO not found: 642cb149756e5d17ba1e97abe7e87975 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 93.465625ms
