---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Read+Only+Role
        method: GET
      response:
        body: '{"data":[{"id":"94172444-be03-11e9-a77a-db1879185210","type":"roles","attributes":{"created_at":"2019-08-13T19:50:19.111007Z","managed":true,"modified_at":"2019-08-13T19:50:19.111007Z","name":"Datadog Read Only Role","team_count":0,"user_count":6},"relationships":{"permissions":{"data":[{"id":"5e605652-dd12-11e8-9e53-375565b8970e","type":"permissions"},{"id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73","type":"permissions"},{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"1af86ce4-7823-11ea-93dc-d7cad1b1c6cb","type":"permissions"},{"id":"b382b982-8535-11ea-93de-2bf1bdf20798","type":"permissions"},{"id":"7314eb20-aa58-11ea-95e2-6fb6e4a451d5","type":"permissions"},{"id":"80de1ec0-aa58-1[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguser_roledatasource-local-1758619250@example.com","name":"Test User"},"relationships":{"roles":{"data":[{"id":"94172444-be03-11e9-a77a-db1879185210","type":"roles"}]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"9958756a-985e-11f0-9651-7220f0448ba8","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_roledatasource-local-1758619250@example.com","created_at":"2025-09-23T09:20:51.554474+00:00","modified_at":"2025-09-23T09:20:51.554474+00:00","email":"tf-testaccdatadoguser_roledatasource-local-1758619250@example.com","icon":"https://secure.gravatar.com/avatar/0c7d35e93f1d5dff7b3bb1d20b57e378?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},"included":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","managed":true,"created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"9958756a-985e-11f0-9651-7220f0448ba8","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"99d1e638-985e-11f0-bdfa-da7ad0900002","attributes":{"uuid":"99d1e638-985e-11f0-bdfa-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:20:52.349912+00:00","expires_at":"2025-09-25T09:20:51.857481+00:00"},"relationships":{"user":{"data":{"type":"users","id":"9958756a-985e-11f0-9651-7220f0448ba8"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 727.707459ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/9958756a-985e-11f0-9651-7220f0448ba8
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"9958756a-985e-11f0-9651-7220f0448ba8","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_roledatasource-local-1758619250@example.com","created_at":"2025-09-23T09:20:51.554474+00:00","modified_at":"2025-09-23T09:20:51.554474+00:00","email":"tf-testaccdatadoguser_roledatasource-local-1758619250@example.com","icon":"https://secure.gravatar.com/avatar/0c7d35e93f1d5dff7b3bb1d20b57e378?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},"included":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","managed":true,"created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9[...]
[...]
