---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1626980107","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"nny-ysa-jxu","title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1626980107","url":"/dashboard/nny-ysa-jxu/tf-testaccdatadogdashboardrbacupdatetorbac-local-1626980107","created_at":"2021-07-22T18:55:11.193355+00:00","modified_at":"2021-07-22T18:55:11.193355+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":4914092199029422}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/nny-ysa-jxu
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"nny-ysa-jxu","title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1626980107","url":"/dashboard/nny-ysa-jxu/tf-testaccdatadogdashboardrbacupdatetorbac-local-1626980107","created_at":"2021-07-22T18:55:11.193355+00:00","modified_at":"2021-07-22T18:55:11.193355+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":4914092199029422}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1626980107"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"5b349fc0-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1626980107","created_at":"2021-07-22T18:55:17.664579+00:00","modified_at":"2021-07-22T18:55:17.664579+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "43"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"nny-ysa-jxu","layout_type":"ordered","notify_list":[],"restricted_roles":["5b349fc0-eb1e-11eb-b233-da7ad0900002"],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1626980107","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/nny-ysa-jxu
    method: PUT
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","restricted_roles":["5b349fc0-eb1e-11eb-b233-da7ad0900002"],"author_name":null,"template_variable_presets":[],"template_variables":[],"id":"nny-ysa-jxu","title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1626980107","url":"/dashboard/nny-ysa-jxu/tf-testaccdatadogdashboardrbacupdatetorbac-local-1626980107","created_at":"2021-07-22T18:55:11.193355+00:00","modified_at":"2021-07-22T18:55:18.752327+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":3505709750183248}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/5b349fc0-eb1e-11eb-b233-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"5b349fc0-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1626980107","created_at":"2021-07-22T18:55:17.664579+00:00","modified_at":"2021-07-22T18:55:17.664579+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "495"
      X-Ratelimit-Reset:
      - "40"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/nny-ysa-jxu
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"nny-ysa-jxu"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
