---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["source-1"],"region":"us","type":"sentinel_one"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"sentinelone pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"0d9b924c-dcfe-11f0-b8a0-da7ad0900002","type":"pipelines","attributes":{"name":"sentinelone pipeline","config":{"destinations":[{"id":"destination-1","inputs":["source-1"],"region":"us","type":"sentinel_one"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 544.34725ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/0d9b924c-dcfe-11f0-b8a0-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"0d9b924c-dcfe-11f0-b8a0-da7ad0900002","type":"pipelines","attributes":{"name":"sentinelone pipeline","config":{"destinations":[{"id":"destination-1","inputs":["source-1"],"region":"us","type":"sentinel_one"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 217.794ms
[...]
