---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguser_updated-local-1758619271@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"a6334846-985e-11f0-9651-7220f0448ba8","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_updated-local-1758619271@example.com","created_at":"2025-09-23T09:21:13.121215+00:00","modified_at":"2025-09-23T09:21:13.121215+00:00","email":"tf-testaccdatadoguser_updated-local-1758619271@example.com","icon":"https://secure.gravatar.com/avatar/6f1e8de5ab5300142b8cea9076bad459?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 718.309209ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"a6334846-985e-11f0-9651-7220f0448ba8","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"a6acaf32-985e-11f0-8632-da7ad0900002","attributes":{"uuid":"a6acaf32-985e-11f0-8632-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:21:13.916389+00:00","expires_at":"2025-09-25T09:21:13.388988+00:00"},"relationships":{"user":{"data":{"type":"users","id":"a6334846-985e-11f0-9651-7220f0448ba8"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 834.63825ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/a6334846-985e-11f0-9651-7220f0448ba8
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"a6334846-985e-11f0-9651-7220f0448ba8","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_updated-local-1758619271@example.com","created_at":"2025-09-23T09:21:13.121215+00:00","modified_at":"2025-09-23T09:21:13.121215+00:00","email":"tf-testaccdatadoguser_updated-local-1758619271@example.com","icon":"https://secure.gravatar.com/avatar/6f1e8de5ab5300142b8cea9076bad459?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.737459ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/a6334846-985e-11f0-9651-7220f0448ba8
        method: DELETE
      response:
            - chunked
        body: '{"errors":["a6334846-985e-11f0-9651-7220f0448ba8 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 207.208667ms
[...]
