---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1686239254@example.com","name":"tf-TestAccServiceAccountDatasource-15ef33126c002ab8","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"ca1daa2f-0613-11ee-9cfd-9e791e69b7e1","attributes":{"name":"tf-TestAccServiceAccountDatasource-15ef33126c002ab8","handle":"ca1daa2f-0613-11ee-9cfd-9e791e69b7e1","created_at":"2023-06-08T15:47:36.016286+00:00","modified_at":"2023-06-08T15:47:36.019444+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1686239254@example.com","icon":"https://secure.gravatar.com/avatar/0333fd841cf1470466bda783b6a83b46?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=tf-TestAccServiceAccountDatasource-15ef33126c002ab8
    method: GET
  response:
    body: |
      {"data":[{"type":"users","id":"ca1daa2f-0613-11ee-9cfd-9e791e69b7e1","attributes":{"name":"tf-TestAccServiceAccountDatasource-15ef33126c002ab8","handle":"ca1daa2f-0613-11ee-9cfd-9e791e69b7e1","created_at":"2023-06-08T15:47:36.016286+00:00","modified_at":"2023-06-08T15:47:36.019444+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1686239254@example.com","icon":"https://secure.gravatar.com/avatar/0333fd841cf1470466bda783b6a83b46?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":173250,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/ca1daa2f-0613-11ee-9cfd-9e791e69b7e1
    method: GET
  response:
    body: |
      {"data":{"type":"users","id":"ca1daa2f-0613-11ee-9cfd-9e791e69b7e1","attributes":{"name":"tf-TestAccServiceAccountDatasource-15ef33126c002ab8","handle":"ca1daa2f-0613-11ee-9cfd-9e791e69b7e1","created_at":"2023-06-08T15:47:36.016286+00:00","modified_at":"2023-06-08T15:47:36.019444+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1686239254@example.com","icon":"https://secure.gravatar.com/avatar/0333fd841cf1470466bda783b6a83b46?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
