---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/sync?filter%5Bsource%5D=github
        method: GET
      response:
        body: '{"data":[{"id":"dca73026-30aa-44a2-a515-f35096713741","type":"team_sync_bulk","attributes":{"frequency":"paused","source":"github","sync_membership":false,"type":"link"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 493.008042ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"frequency":"once","selection_state":[{"external_id":{"type":"organization","value":"12345"},"operation":"include","scope":"subtree"}],"source":"github","sync_membership":true,"type":"provision"},"type":"team_sync_bulk"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/sync
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 355.821834ms
[...]
