---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":["@1","@2"]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":["@3"]}],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTab_import-local-1774283313","widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"7ew-ack-uam","title":"tf-TestAccDatadogDashboardTab_import-local-1774283313","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/7ew-ack-uam/tf-testaccdatadogdashboardtabimport-local-1774283313","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":7432443338537629},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":1124939370015788},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":4482783650239335}],"notify_list":[],"created_at":"2026-03-23T16:28:35.485457+00:00","modified_at":"2026-03-23T16:28:35.485457+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[7432443338537629,1124939370015788]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[4482783650239335]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.839958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/7ew-ack-uam
        method: GET
      response:
            - chunked
        body: '{"id":"7ew-ack-uam","title":"tf-TestAccDatadogDashboardTab_import-local-1774283313","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/7ew-ack-uam/tf-testaccdatadogdashboardtabimport-local-1774283313","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":7432443338537629},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":1124939370015788},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":4482783650239335}],"notify_list":[],"created_at":"2026-03-23T16:28:35.485457+00:00","modified_at":"2026-03-23T16:28:35.485457+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[7432443338537629,1124939370015788]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[4482783650239335]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.364333ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/7ew-ack-uam
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"7ew-ack-uam"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 320.2825ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/7ew-ack-uam
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID 7ew-ack-uam not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 89.656875ms
