---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
    method: GET
  response:
    body: |
      [{"is_enabled":true,"name":"python","filter":{"query":"source:python"},"is_read_only":true,"type":"pipeline","id":"rTxbr2MpQsSCEtn66XmwnQ","processors":[{"is_enabled":true,"grok":{"support_rules":"_datadog_prefix (%{date(\"yyyy-MM-dd HH:mm:ss,SSS\"):timestamp}|%{date(\"yyyy-MM-dd H:mm:ss,SSS\"):timestamp}) %{word:levelname}\\s+\\[%{notSpace:process.name}\\]\\s+\\[%{notSpace:filename}:%{number:lineno}\\]\\s+\\[%{data::keyvalue}dd.trace_id=%{word:dd.trace_id} dd.span_id=%{word:dd.span_id}\\] -\n\n_python_prefix %{date(\"yyyy-MM-dd'T'HH:mm:ss','SSS\"):timestamp}\\s+%{word:levelname}\\s+\\[%{notSpace:process.name}\\]\\s+\\[%{integer:process.id}\\]\n","match_rules":"traceback_format (%{_python_prefix}|%{_datadog_prefix})\\s+%{data::keyvalue}Traceback \\(most recent call last\\):(?s)\\s*%{data:error.stack}\n\npython_format (%{_python_prefix}|%{_datadog_prefix})\\s+%{data::keyvalue}\n\npython_fallback %{date(\"yyyy-MM-dd'T'HH:mm:ss','SSS\"):timestamp}\\s+%{word:levelname}\\s+%{data::keyvalue}((\\n|\\t)%{data:error.stack})?\n\n#Samples\n#2017-12-19T14:37:58,995 INFO  [process.name] [20081] this is my python log\n\n# Datadog format\n#2019-01-07 15:20:15,972 DEBUG [flask.app] [app.py:100] [dd.trace_id=5688176451479556031 dd.span_id=4663104081780224235] - Hook: teardown_appcontext\n"},"name":"Parsing python default format","source":"message","samples":["2017-12-19T14:37:58,995 INFO  [process.name] [20081] this is my python log","2019-01-07 15:20:15,972 DEBUG [flask.app] [app.py:100] [dd.trace_id=5688176451479556031 dd.span_id=4663104081780224235] - Hook: teardown_appcontext","2020-03-20 14:15:07,124 INFO [root] [app.py:78] [dd.service=excelsior dd.env=prod dd.version=abc123 dd.trace_id=9659687005038611690 dd.span_id=6632586210846541907] - This is a test of info logs","2021-07-09 8:58:31,137 WARNING [root] [views.py:42] [dd.service=datadoggo dd.env=prod dd.version=abc546 dd.trace_id=2296056412404370861 dd.span_id=16818077145337196836] - New post view.","2017-12-26T10:44:59,311 ERROR [dd.dogweb.lib.static_asset] [20081] rid=b0RV4J Error reading statics_version file.Traceback (most recent call last): File \"/home/pythonrepo/lib/asset.py\", line 16, in version    with open(\"/etc/statics_version.txt\", \"r\") as statics_version_file: IOError: [Errno 2] No such file or directory: /etc/statics_version.txt"],"type":"grok-parser"},{"is_enabled":true,"sources":["timestamp"],"type":"date-remapper","name":"Define `timestamp` as the official date of the log"},{"is_enabled":true,"sources":["levelname"],"type":"status-remapper","name":"Define `levelname` as the official status of the log"},{"is_enabled":true,"override_on_conflict":false,"target":"error.stack","source_type":"attribute","target_type":"attribute","sources":["traceback"],"preserve_source":false,"type":"attribute-remapper","name":"Map `traceback` to `error.stack`"},{"is_enabled":true,"override_on_conflict":false,"target":"logger.name","source_type":"attribute","target_type":"attribute","sources":["name"],"preserve_source":false,"type":"attribute-remapper","name":"Map `name` to `logger.name`"},{"is_enabled":true,"override_on_conflict":false,"target":"logger.thread_name","source_type":"attribute","target_type":"attribute","sources":["threadName"],"preserve_source":false,"type":"attr[...]
[...]
