---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2Wildcard-local-1775577336","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {env}"}],"response_format":"scalar"}],"specification":{"contents":{"$schema":"https://vega.github.io/schema/vega-lite/v5.json","data":{"name":"table1"},"encoding":{"x":{"field":"env","sort":"-y","type":"nominal"},"y":{"field":"query1","type":"quantitative"}},"mark":"bar"},"type":"vega-lite"},"title":"Custom Vega-Lite Chart","type":"wildcard"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"tmh-69m-kym","title":"tf-TestAccDatadogDashboardV2Wildcard-local-1775577336","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/tmh-69m-kym/tf-testaccdatadogdashboardv2wildcard-local-1775577336","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {env}"}],"response_format":"scalar"}],"specification":{"contents":{"$schema":"https://vega.github.io/schema/vega-lite/v5.json","data":{"name":"table1"},"encoding":{"x":{"field":"env","sort":"-y","type":"nominal"},"y":{"field":"query1","type":"quantitative"}},"mark":"bar"},"type":"vega-lite"},"title":"Custom Vega-Lite Chart","type":"wildcard"},"id":3683632505225850}],"notify_list":[],"created_at":"2026-04-07T15:55:39.005897+00:00","modified_at":"2026-04-07T15:55:39.005897+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 379.941459ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/tmh-69m-kym
        method: GET
      response:
            - chunked
        body: '{"id":"tmh-69m-kym","title":"tf-TestAccDatadogDashboardV2Wildcard-local-1775577336","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/tmh-69m-kym/tf-testaccdatadogdashboardv2wildcard-local-1775577336","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {env}"}],"response_format":"scalar"}],"specification":{"contents":{"$schema":"https://vega.github.io/schema/vega-lite/v5.json","data":{"name":"table1"},"encoding":{"x":{"field":"env","sort":"-y","type":"nominal"},"y":{"field":"query1","type":"quantitative"}},"mark":"bar"},"type":"vega-lite"},"title":"Custom Vega-Lite Chart","type":"wildcard"},"id":3683632505225850}],"notify_list":[],"created_at":"2026-04-07T15:55:39.005897+00:00","modified_at":"2026-04-07T15:55:39.005897+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.711833ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/tmh-69m-kym
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"tmh-69m-kym"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 507.087334ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/tmh-69m-kym
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID tmh-69m-kym not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 85.768875ms
