---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccteamnotificationruleupdate-local-1768301395","name":"tf-testaccteamnotificationruleupdate-local-1768301395"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"568299b1-5d41-47e3-85f1-23932af47f2f","type":"team","attributes":{"avatar":null,"banner":1,"created_at":"2026-01-13T10:49:57.618053+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleupdate-local-1768301395","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-13T10:49:57.618053+00:00","name":"tf-testaccteamnotificationruleupdate-local-1768301395","summary":"Example team","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/568299b1-5d41-47e3-85f1-23932af47f2f/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/568299b1-5d41-47e3-85f1-23932af47f2f/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 527.693083ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":true}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/568299b1-5d41-47e3-85f1-23932af47f2f/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"201ab802-8a0c-495f-84f0-037170480c69","type":"team_notification_rules","attributes":{"email":{"enabled":true}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 206.437959ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/568299b1-5d41-47e3-85f1-23932af47f2f/notification-rules/201ab802-8a0c-495f-84f0-037170480c69
        method: GET
      response:
        body: '{"data":{"id":"201ab802-8a0c-495f-84f0-037170480c69","type":"team_notification_rules","attributes":{"email":{"enabled":true}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 138.309375ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/568299b1-5d41-47e3-85f1-23932af47f2f
        method: GET
      response:
        body: '{"data":{"id":"568299b1-5d41-47e3-85f1-23932af47f2f","type":"team","attributes":{"created_at":"2026-01-13T10:49:57.618053+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleupdate-local-1768301395","is_managed":false,"link_count":0,"modified_at":"2026-01-13T10:49:57.618053+00:00","name":"tf-testaccteamnotificationruleupdate-local-1768301395","summary":"Example team","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/568299b1-5d41-47e3-85f1-23932af47f2f/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/568299b1-5d41-47e3-85f1-23932af47f2f/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 150.994042ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":false},"slack":{"channel":"#alerts","workspace":"MyWorkspace"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/568299b1-5d41-47e3-85f1-23932af47f2f/notification-rules/201ab802-8a0c-495f-84f0-037170480c69
        method: PUT
      response:
        body: '{"data":{"id":"201ab802-8a0c-495f-84f0-037170480c69","type":"team_notification_rules","attributes":{"slack":{"workspace":"MyWorkspace","channel":"#alerts"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 210.819958ms
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"channel":"#test-channel","workspace":"Datadog"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/568299b1-5d41-47e3-85f1-23932af47f2f/notification-rules/201ab802-8a0c-495f-84f0-037170480c69
        method: PUT
      response:
        body: '{"data":{"id":"201ab802-8a0c-495f-84f0-037170480c69","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 219.438583ms
[...]
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/568299b1-5d41-47e3-85f1-23932af47f2f/notification-rules/201ab802-8a0c-495f-84f0-037170480c69
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 139.369291ms
