---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1740561202","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"ccf-8xc-832","title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1740561202","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/ccf-8xc-832/tf-testaccdatadogdashboardrbacupdatetoadmin-local-1740561202","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":2368130173625047}],"notify_list":[],"created_at":"2025-02-26T09:13:26.300249+00:00","modified_at":"2025-02-26T09:13:26.300249+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 534.510292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ccf-8xc-832
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID ccf-8xc-832 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 181.171208ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ccf-8xc-832
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"ccf-8xc-832"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.240792ms
