---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"expire_at":4070908800000,"reason":"no_fix","reason_description":"context"},"enabled":false,"name":"tf-TestAccDatadogSecurityFindingsMuteRule_OptionalChurn-local-1790863500","rule":{"finding_types":["misconfiguration"],"query":"env:prod"}},"type":"mute_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
        method: POST
      response:
        body: '{"data":{"id":"b8ebfb76-1ae7-4884-90d7-e99b961a5a42","type":"mute_rules","attributes":{"action":{"reason":"no_fix","reason_description":"context","expire_at":4070908800000},"created_at":1790863502983,"created_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"enabled":false,"modified_at":1790863502983,"modified_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"name":"tf-TestAccDatadogSecurityFindingsMuteRule_OptionalChurn-local-1790863500","rule":{"finding_types":["misconfiguration"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 235.753792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/b8ebfb76-1ae7-4884-90d7-e99b961a5a42
        method: GET
      response:
        body: '{"data":{"id":"b8ebfb76-1ae7-4884-90d7-e99b961a5a42","type":"mute_rules","attributes":{"action":{"reason":"no_fix","reason_description":"context","expire_at":4070908800000},"created_at":1790863502983,"created_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"enabled":false,"modified_at":1790863502983,"modified_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"name":"tf-TestAccDatadogSecurityFindingsMuteRule_OptionalChurn-local-1790863500","rule":{"finding_types":["misconfiguration"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 439.329916ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/b8ebfb76-1ae7-4884-90d7-e99b961a5a42
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 218.002375ms
