---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"Data quality threshold exceeded","name":"tf-TestAccDatadogMonitor_DataQuality_EmptyGroupBy-local-1788879065","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":1000},"variables":[{"data_source":"data_quality_metrics","filter":"search for column where `database:production AND table:users`","measure":"row_count","name":"query1"}]},"priority":null,"query":"formula(\"query1\").last(\"30m\") \u003e 1000","restricted_roles":null,"tags":[],"type":"data-quality alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.56725ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"Data quality threshold exceeded","name":"tf-TestAccDatadogMonitor_DataQuality_EmptyGroupBy-local-1788879065","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":1000},"variables":[{"data_source":"data_quality_metrics","filter":"search for column where `database:production AND table:users`","measure":"row_count","name":"query1"}]},"priority":null,"query":"formula(\"query1\").last(\"30m\") \u003e 1000","restricted_roles":null,"tags":[],"type":"data-quality alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":320047316,"org_id":321813,"type":"data-quality alert","name":"tf-TestAccDatadogMonitor_DataQuality_EmptyGroupBy-local-1788879065","message":"Data quality threshold exceeded","tags":[],"query":"formula(\"query1\").last(\"30m\") > 1000","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":1000.0},"variables":[{"data_source":"data_quality_metrics","filter":"search for column where `database:production AND table:users`","measure":"row_count","name":"query1"}],"notify_audit":false,"silenced":{}},"multi":false,"created_at":1788879066000,"created":"2026-09-08T14:51:06.825592+00:00","modified":"2026-09-08T14:51:06.825592+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 240.761917ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/320047316
        method: GET
      response:
            - chunked
        body: |
            {"id":320047316,"org_id":321813,"type":"data-quality alert","name":"tf-TestAccDatadogMonitor_DataQuality_EmptyGroupBy-local-1788879065","message":"Data quality threshold exceeded","tags":[],"query":"formula(\"query1\").last(\"30m\") > 1000","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":1000.0},"variables":[{"data_source":"data_quality_metrics","filter":"search for column where `database:production AND table:users`","measure":"row_count","name":"query1"}],"notify_audit":false,"silenced":{}},"multi":false,"created_at":1788879066000,"created":"2026-09-08T14:51:06.825592+00:00","modified":"2026-09-08T14:51:06.825592+00:00","deleted":null,"priority":null,"restricted_roles":null,"draft_status":"published","overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.2385ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"Data quality threshold exceeded","name":"tf-TestAccDatadogMonitor_DataQuality_EmptyGroupBy-local-1788879065","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":1000},"variables":[{"data_source":"data_quality_metrics","filter":"search for column where `database:production AND table:users`","measure":"row_count","name":"query1"}]},"priority":null,"query":"formula(\"query1\").last(\"30m\") \u003e 1000","restricted_roles":null,"tags":[],"type":"data-quality alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/320047316/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.560459ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/320047316?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":320047316,"org_id":321813,"type":"data-quality alert","name":"tf-TestAccDatadogMonitor_DataQuality_EmptyGroupBy-local-1788879065","message":"Data quality threshold exceeded","tags":[],"query":"formula(\"query1\").last(\"30m\") > 1000","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":1000.0},"variables":[{"data_source":"data_quality_metrics","filter":"search for column where `database:production AND table:users`","measure":"row_count","name":"query1"}],"notify_audit":false,"silenced":{}},"multi":false,"created_at":1788879066000,"created":"2026-09-08T14:51:06.825592+00:00","modified":"2026-09-08T14:51:06.825592+00:00","deleted":null,"priority":null,"restricted_roles":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.199041ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/320047316
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":320047316}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.997417ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/320047316
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 82.942291ms
