---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: "apiVersion: v3\nkind: service\nmetadata: \n  name: tf-testaccdatadogcatalogentity_order-local-1724787783\n  contacts:\n    - name: AA\n      type: slack\n      contact: AAA\n    - name: BB\n      type: email\n      contact: BBB@example.com\n    - name: AA\n      type: email\n      contact: AAA@example.com\n    - name: BB\n      type: email\n      contact: AAA@example.com\n    - name: AA\n      type: email\n      contact: BBB@example.com\n  tags:\n    - 'bbb'\n    - 'aaa'\n"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity
        method: POST
      response:
        body: '{"data":[{"id":"b5dca440-5302-4917-b084-2bfcd9516a3b","type":"entity","attributes":{"apiVersion":"v3","kind":"service","name":"tf-testaccdatadogcatalogentity_order-local-1724787783","namespace":"default","tags":["bbb","aaa"]},"relationships":{"schema":{"data":{"id":"b5dca440-5302-4917-b084-2bfcd9516a3b","type":"schema"}}},"meta":{"createdAt":"2024-08-27T19:43:04.799711772Z","modifiedAt":"2024-08-27T19:43:04.799711665Z","ingestionSource":"api","origin":"unknown"}}],"meta":{"count":1,"includeCount":1},"included":[{"id":"b5dca440-5302-4917-b084-2bfcd9516a3b","type":"schema","attributes":{"schema":{"apiVersion":"v3","kind":"service","metadata":{"name":"tf-testaccdatadogcatalogentity_order-local-1724787783","namespace":"default","tags":["bbb","aaa"],"contacts":[{"name":"AA","type":"slack","contact":"AAA"},{"name":"BB","type":"email","contact":"BBB@example.com"},{"name":"AA","type":"email","contact":"AAA@example.com"},{"name":"BB","type":"email","contact":"AAA@example.com"},{"name":"AA","type":"email","contact":"BBB@example.com"}],"managed":{"origin":{"origin":"unknown"},"ingestionSource":"api","createdAt":"2024-08-27T19:43:04.799711772Z","modifiedAt":"2024-08-27T19:43:04.799711665Z","status":{"warnings":[{"keyword_location":"/allOf/0/$ref/properties/metadata/$ref/properties/contacts/items/else/properties/contact/format","instance_location":"/metadata/contacts/0/contact","message":"''AAA'' is not valid ''uri''"}]}}}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 202 Accepted
        code: 202
        duration: 100.970792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf-testaccdatadogcatalogentity_order-local-1724787783&include=schema
        method: GET
      response:
        body: '{"data":[{"id":"b5dca440-5302-4917-b084-2bfcd9516a3b","type":"entity","attributes":{"apiVersion":"v3","kind":"service","name":"tf-testaccdatadogcatalogentity_order-local-1724787783","namespace":"default","tags":["bbb","aaa"]},"relationships":{"schema":{"data":{"id":"b5dca440-5302-4917-b084-2bfcd9516a3b","type":"schema"}}},"meta":{"createdAt":"2024-08-27T19:43:04.799711772Z","modifiedAt":"2024-08-27T19:43:04.799711665Z","ingestionSource":"api","origin":"unknown"}}],"meta":{"count":1,"includeCount":1},"links":{"self":"/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf-testaccdatadogcatalogentity_order-local-1724787783\u0026include=schema\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=0"},"included":[{"id":"b5dca440-5302-4917-b084-2bfcd9516a3b","type":"schema","attributes":{"schema":{"apiVersion":"v3","kind":"service","metadata":{"name":"tf-testaccdatadogcatalogentity_order-local-1724787783","namespace":"default","tags":["bbb","aaa"],"contacts":[{"name":"AA","type":"slack","contact":"AAA"},{"name":"BB","type":"email","contact":"BBB@example.com"},{"name":"AA","type":"email","contact":"AAA@example.com"},{"name":"BB","type":"email","contact":"AAA@example.com"},{"name":"AA","type":"email","contact":"BBB@example.com"}],"managed":{"origin":{"origin":"unknown"},"ingestionSource":"api","createdAt":"2024-08-27T19:43:04.799711772Z","modifiedAt":"2024-08-27T19:43:04.799711665Z","status":{"warnings":[{"keyword_location":"/allOf/0/$ref/properties/metadata/$ref/properties/contacts/items/else/properties/contact/format","instance_location":"/metadata/contacts/0/contact","message":"''AAA'' is not valid ''uri''"}]}}}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 36.993375ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity/service:default/tf-testaccdatadogcatalogentity_order-local-1724787783
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 204 No Content
        code: 204
        duration: 77.101958ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf-testaccdatadogcatalogentity_order-local-1724787783
        method: GET
      response:
        body: '{"data":[],"meta":{"count":0,"includeCount":0},"links":{"self":"/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf-testaccdatadogcatalogentity_order-local-1724787783\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 38.293541ms
