---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/metrics/%22foo%22
        method: GET
      response:
            - chunked
        body: |
            {"description":"a different description","short_name":"short name for metric_metadata foo","type":"gauge","unit":"byte","per_unit":"second","statsd_interval":1,"integration":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.322917ms
