---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogDashboardRbac_createRbac-local-1758619432"},"relationships":{},"type":"roles"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles
        method: POST
      response:
        body: '{"data":{"id":"0819ffea-985f-11f0-b93e-da7ad0900002","type":"roles","attributes":{"created_at":"2025-09-23T09:23:57.369999Z","modified_at":"2025-09-23T09:23:57.372006Z","name":"tf-TestAccDatadogDashboardRbac_createRbac-local-1758619432","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 158.752208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles/0819ffea-985f-11f0-b93e-da7ad0900002
        method: GET
      response:
        body: '{"data":{"id":"0819ffea-985f-11f0-b93e-da7ad0900002","type":"roles","attributes":{"created_at":"2025-09-23T09:23:57.369999Z","created_by_handle":"frog@datadoghq.com","modified_at":"2025-09-23T09:23:57.372006Z","modified_by_handle":"frog@datadoghq.com","name":"tf-TestAccDatadogDashboardRbac_createRbac-local-1758619432","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 373.711167ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"restricted_roles":["0819ffea-985f-11f0-b93e-da7ad0900002"],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createRbac-local-1758619432","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"xe9-5p7-cg3","title":"tf-TestAccDatadogDashboardRbac_createRbac-local-1758619432","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xe9-5p7-cg3/tf-testaccdatadogdashboardrbaccreaterbac-local-1758619432","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":4415024756670642}],"notify_list":[],"created_at":"2025-09-23T09:24:00.665188+00:00","modified_at":"2025-09-23T09:24:00.665188+00:00","template_variable_presets":[],"tags":[],"restricted_roles":["0819ffea-985f-11f0-b93e-da7ad0900002"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 612.569ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xe9-5p7-cg3
        method: GET
      response:
        body: '{"id":"xe9-5p7-cg3","title":"tf-TestAccDatadogDashboardRbac_createRbac-local-1758619432","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xe9-5p7-cg3/tf-testaccdatadogdashboardrbaccreaterbac-local-1758619432","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":4415024756670642}],"notify_list":[],"created_at":"2025-09-23T09:24:00.665188+00:00","modified_at":"2025-09-23T09:24:00.665188+00:00","template_variable_presets":[],"tags":[],"restricted_roles":["0819ffea-985f-11f0-b93e-da7ad0900002"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.269166ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xe9-5p7-cg3
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"xe9-5p7-cg3"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.266541ms
[...]
