---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction_Cost-local-1749222072","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":6},"variables":[{"aggregator":"sum","data_source":"cloud_cost","name":"query1","query":"sum:aws.cost.amortized{servicename: ec2} by {account}"}]},"priority":null,"query":"formula(\"query1\").last(\"30d\").anomaly(direction=\"both\") \u003e 6","restricted_roles":null,"tags":[],"type":"cost alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.433792ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction_Cost-local-1749222072","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":6},"variables":[{"aggregator":"sum","data_source":"cloud_cost","name":"query1","query":"sum:aws.cost.amortized{servicename: ec2} by {account}"}]},"priority":null,"query":"formula(\"query1\").last(\"30d\").anomaly(direction=\"both\") \u003e 6","restricted_roles":null,"tags":[],"type":"cost alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":174341709,"org_id":321813,"type":"cost alert","name":"tf-TestAccDatadogMonitor_FormulaFunction_Cost-local-1749222072","message":"test","tags":[],"query":"formula(\"query1\").last(\"30d\").anomaly(direction=\"both\") > 6","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":6.0},"variables":[{"aggregator":"sum","data_source":"cloud_cost","name":"query1","query":"sum:aws.cost.amortized{servicename: ec2} by {account}"}],"notify_audit":false,"silenced":{}},"multi":false,"created_at":1749222073000,"created":"2025-06-06T15:01:13.469506+00:00","modified":"2025-06-06T15:01:13.469506+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 367.949708ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction_Cost-local-1749222072","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":6},"variables":[{"aggregator":"sum","data_source":"cloud_cost","name":"query1","query":"sum:aws.cost.amortized{servicename: ec2} by {account}"}]},"priority":null,"query":"formula(\"query1\").last(\"30d\").anomaly(direction=\"both\") \u003e 6","restricted_roles":null,"tags":[],"type":"cost alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/174341709/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.212708ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/174341709
        method: GET
      response:
            - chunked
        body: |
            {"id":174341709,"org_id":321813,"type":"cost alert","name":"tf-TestAccDatadogMonitor_FormulaFunction_Cost-local-1749222072","message":"test","tags":[],"query":"formula(\"query1\").last(\"30d\").anomaly(direction=\"both\") > 6","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":6.0},"variables":[{"aggregator":"sum","data_source":"cloud_cost","name":"query1","query":"sum:aws.cost.amortized{servicename: ec2} by {account}"}],"notify_audit":false,"silenced":{}},"multi":false,"created_at":1749222073000,"created":"2025-06-06T15:01:13.469506+00:00","modified":"2025-06-06T15:01:13.469506+00:00","deleted":null,"priority":null,"restricted_roles":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.965125ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/174341709
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":174341709}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.159875ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/174341709
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 306.096041ms
