---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1747758260","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":null,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","restricted_roles":null,"tags":[],"type":"rum alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.906708ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1747758260","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":null,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","restricted_roles":null,"tags":[],"type":"rum alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":172678245,"org_id":321813,"type":"rum alert","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1747758260","message":"test","tags":[],"query":"formula(\"var1 + var2\").last(\"5m\") > 100","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100.0},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}],"notify_audit":false,"groupby_simple_monitor":false,"silenced":{}},"multi":false,"created_at":1747758262000,"created":"2025-05-20T16:24:22.256334+00:00","modified":"2025-05-20T16:24:22.256334+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.975167ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1747758260","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":null,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","restricted_roles":null,"tags":[],"type":"rum alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/172678245/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.706375ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/172678245
        method: GET
      response:
            - chunked
        body: |
            {"id":172678245,"org_id":321813,"type":"rum alert","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1747758260","message":"test","tags":[],"query":"formula(\"var1 + var2\").last(\"5m\") > 100","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100.0},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}],"notify_audit":false,"groupby_simple_monitor":false,"silenced":{}},"multi":false,"created_at":1747758262000,"created":"2025-05-20T16:24:22.256334+00:00","modified":"2025-05-20T16:24:22.256334+00:00","deleted":null,"priority":null,"restricted_roles":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.589083ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/172678245
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":172678245}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.686708ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/172678245
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 66.143584ms
