---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a policy","enabled":true,"hostTagsLists":[["host_name:test_host","env:prod"],["host_name:test_host2","env:staging"]],"name":"jokbmxzkof"},"type":"policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
        method: POST
      response:
        body: '{"data":{"id":"y6n-dxf-nn1","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["host_name:test_host","env:prod"],["host_name:test_host2","env:staging"]],"monitoringRulesCount":225,"name":"jokbmxzkof","policyVersion":"1","priority":1000000011,"ruleCount":226,"updateDate":1747903240323,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 910.68575ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/y6n-dxf-nn1
        method: GET
      response:
        body: '{"data":{"id":"y6n-dxf-nn1","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["host_name:test_host","env:prod"],["host_name:test_host2","env:staging"]],"monitoringRulesCount":225,"name":"jokbmxzkof","policyVersion":"1","priority":1000000011,"ruleCount":226,"updateDate":1747903240323,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.186959ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
        method: GET
      response:
            - chunked
        body: '{"data":[{"id":"y6n-dxf-nn1","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["host_name:test_host","env:prod"],["host_name:test_host2","env:staging"]],"monitoringRulesCount":225,"name":"jokbmxzkof","policyVersion":"1","priority":1000000011,"ruleCount":226,"updateDate":1747903240323,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}},{"id":"tq0-tji-i5m","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"exampledeleteacsmthreatsagentrulereturnsokresponse1747597121","policyVersion":"3","priority":1000000010,"ruleCount":226,"updateDate":1747597121931,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}},{"id":"flw-lrk-xzo","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"exampledeleteacs[...]
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/y6n-dxf-nn1
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found"}]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 277.551375ms
