---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardFunnel_import-local-1771961809","widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","query_string":"@browser.name:Chrome","steps":[{"facet":"@view.name","value":"/logs"},{"facet":"@view.name","value":"/apm/home"}]},"request_type":"funnel"}],"title":"Funnel Widget","title_align":"left","title_size":"16","type":"funnel"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"pmr-nu4-pgq","title":"tf-TestAccDatadogDashboardFunnel_import-local-1771961809","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/pmr-nu4-pgq/tf-testaccdatadogdashboardfunnelimport-local-1771961809","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","query_string":"@browser.name:Chrome","steps":[{"facet":"@view.name","value":"/logs"},{"facet":"@view.name","value":"/apm/home"}]},"request_type":"funnel"}],"title":"Funnel Widget","title_align":"left","title_size":"16","type":"funnel"},"id":8608196638778573}],"notify_list":[],"created_at":"2026-02-24T19:36:51.417436+00:00","modified_at":"2026-02-24T19:36:51.417436+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.623167ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/pmr-nu4-pgq
        method: GET
      response:
            - chunked
        body: '{"id":"pmr-nu4-pgq","title":"tf-TestAccDatadogDashboardFunnel_import-local-1771961809","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/pmr-nu4-pgq/tf-testaccdatadogdashboardfunnelimport-local-1771961809","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","query_string":"@browser.name:Chrome","steps":[{"facet":"@view.name","value":"/logs"},{"facet":"@view.name","value":"/apm/home"}]},"request_type":"funnel"}],"title":"Funnel Widget","title_align":"left","title_size":"16","type":"funnel"},"id":8608196638778573}],"notify_list":[],"created_at":"2026-02-24T19:36:51.417436+00:00","modified_at":"2026-02-24T19:36:51.417436+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.488459ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/pmr-nu4-pgq
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"pmr-nu4-pgq"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 331.801375ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/pmr-nu4-pgq
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID pmr-nu4-pgq not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 113.165375ms
