---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[],"configVariables":[],"steps":[{"allowFailure":false,"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"exitIfSucceed":false,"extractedValues":[],"extractedValuesFromScript":"","isCritical":false,"name":"Upload file","request":{"allow_insecure":false,"bodyType":"multipart/form-data","files":[{"content":"this is the original file content","name":"file1","originalFileName":"file.txt","size":33,"type":"text/plain"}],"follow_redirects":false,"form":{"foo":"bar"},"headers":{"Content-Type":"multipart/form-data; boundary=\"DatadogSyntheticsFiles\""},"method":"POST","noSavingResponseBody":true,"persistCookies":false,"timeout":30,"url":"https://www.datadoghq.com"},"subtype":"http"}]},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_FileUpload-local-1759829768","options":{"min_location_failed":1,"tick_every":60},"status":"paused","subtype":"multi","tags":[],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"inj-eig-qih","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_FileUpload-local-1759829768","status":"paused","type":"api","subtype":"multi","tags":[],"created_at":"2025-10-07T09:36:10.103344+00:00","modified_at":"2025-10-07T09:36:10.103344+00:00","config":{"assertions":[],"configVariables":[],"steps":[{"allowFailure":false,"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"exitIfSucceed":false,"extractedValues":[],"extractedValuesFromScript":"","isCritical":false,"name":"Upload file","request":{"allow_insecure":false,"bodyType":"multipart/form-data","files":[{"name":"file1","originalFileName":"file.txt","size":33,"type":"text/plain","bucketKey":"api-upload-file/inj-eig-qih/2025-10-07T09:36:09.923309_8cf8da5e-97a0-4b09-b436-cd3b7021fe95.json"}],"follow_redirects":false,"form":{"foo":"bar"},"headers":{"Content-Type":"multipart/form-data; boundary=\"DatadogSyntheticsFiles\""},"method":"POST","noSavingResponseBody":true,"persistCookies":false,"timeout":30,"url":"https://www.datadoghq.com"},"subtype":"http","id":"hcv-v85-fir"}]},"message":"Notify @datadog.user","options":{"min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"created_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":223886685,"org_id":569509,"modified_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"creation_source":"terraform"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 782.376292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/inj-eig-qih
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"inj-eig-qih","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_FileUpload-local-1759829768","status":"paused","type":"api","subtype":"multi","tags":[],"created_at":"2025-10-07T09:36:10.103344+00:00","modified_at":"2025-10-07T09:36:10.103344+00:00","config":{"assertions":[],"configVariables":[],"steps":[{"allowFailure":false,"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"exitIfSucceed":false,"extractedValues":[],"extractedValuesFromScript":"","isCritical":false,"name":"Upload file","request":{"allow_insecure":false,"bodyType":"multipart/form-data","files":[{"name":"file1","originalFileName":"file.txt","size":33,"type":"text/plain","bucketKey":"api-upload-file/inj-eig-qih/2025-10-07T09:36:09.923309_8cf8da5e-97a0-4b09-b436-cd3b7021fe95.json"}],"follow_redirects":false,"form":{"foo":"bar"},"headers":{"Content-Type":"multipart/form-data; boundary=\"DatadogSyntheticsFiles\""},"method":"POST","noSavingResponseBody":true,"persistCookies":false,"timeout":30,"url":"https://www.datadoghq.com"},"subtype":"http","id":"hcv-v85-fir"}]},"message":"Notify @datadog.user","options":{"min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"monitor_id":223886685,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 271.024625ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/inj-eig-qih
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"inj-eig-qih","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_FileUpload-local-1759829768","status":"paused","type":"api","subtype":"multi","tags":[],"created_at":"2025-10-07T09:36:10.103344+00:00","modified_at":[...]
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["inj-eig-qih"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"inj-eig-qih","deleted_at":"2025-10-07T09:36:18.353913+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.490902291s
    - id: 17
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/inj-eig-qih
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 127.344583ms
