---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"forward_tags":true,"forward_tags_restriction_list":["a"],"forward_tags_restriction_list_type":"ALLOW_LIST","forwarder_destination":{"auth":{"password":"test-pass","type":"basic","username":"test-user"},"endpoint":"https://example.org","type":"http"},"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1758619102","query":"non-existent-query"},"type":"custom_destination"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"7ef448f5-56bc-40ee-9eba-60f1996aef27","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1758619102","query":"non-existent-query","enabled":false,"forwarder_destination":{"endpoint":"https://example.org","auth":{"type":"basic"},"type":"http"},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":["a"],"forward_tags":true},"type":"custom_destination"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 306.862875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/7ef448f5-56bc-40ee-9eba-60f1996aef27
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"7ef448f5-56bc-40ee-9eba-60f1996aef27","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1758619102","query":"non-existent-query","enabled":false,"forwarder_destination":{"endpoint":"https://example.org","auth":{"type":"basic"},"type":"http"},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":["a"],"forward_tags":true},"type":"custom_destination"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.290041ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"forward_tags":false,"forward_tags_restriction_list":["a","b"],"forward_tags_restriction_list_type":"BLOCK_LIST","forwarder_destination":{"auth":{"header_name":"test-header-name","header_value":"test-header-value","type":"custom_header"},"endpoint":"https://example.org","type":"http"},"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1758619102-updated","query":"updated-non-existent-query"},"id":"7ef448f5-56bc-40ee-9eba-60f1996aef27","type":"custom_destination"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/7ef448f5-56bc-40ee-9eba-60f1996aef27
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"id":"7ef448f5-56bc-40ee-9eba-60f1996aef27","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1758619102-updated","query":"updated-non-existent-query","enabled":true,"forwarder_destination":{"endpoint":"https://example.org","auth":{"header_name":"test-header-name","type":"custom_header"},"type":"http"},"forward_tags_restriction_list_type":"BLOCK_LIST","forward_tags_restriction_list":["a","b"],"forward_tags":false},"type":"custom_destination"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.623125ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"forward_tags":false,"forward_tags_restriction_list":["a","b"],"forward_tags_restriction_list_type":"BLOCK_LIST","forwarder_destination":{"access_token":"test-token","endpoint":"https://example.org","type":"splunk_hec"},"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1758619102-updated","query":"updated-non-existent-query"},"id":"7ef448f5-56bc-40ee-9eba-60f1996aef27","type":"custom_destination"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/7ef448f5-56bc-40ee-9eba-60f1996aef27
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"id":"7ef448f5-56bc-40ee-9eba-60f1996aef27","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1758619102-updated","query":"updated-non-existent-query","enabled":true,"forwarder_destination":{"endpoint":"https://example.org","type":"splunk_hec"},"forward_tags_restriction_list_type":"BLOCK_LIST","forward_tags_restriction_list":["a","b"],"forward_tags":false},"type":"custom_destination"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.205709ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"forward_tags":false,"forward_tags_restriction_list":["a","b"],"forward_tags_restriction_list_type":"BLOCK_LIST","forwarder_destination":{"auth":{"password":"test-pass","username":"test-user"},"endpoint":"https://example.org","index_name":"test-index","index_rotation":"yyyy-'W'ww","type":"elasticsearch"},"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1758619102-updated","query":"updated-non-existent-query"},"id":"7ef448f5-56bc-40ee-9eba-60f1996aef27","type":"custom_destination"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/7ef448f5-56bc-40ee-9eba-60f1996aef27
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"id":"7ef448f5-56bc-40ee-9eba-60f1996aef27","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1758619102-updated","query":"updated-non-existent-query","enabled":true,"forwarder_destination":{"index_name":"test-index","index_rotation":"yyyy-'W'ww","endpoint":"https://example.org","auth":{},"type":"elasticsearch"},"forward_tags_restriction_list_type":"BLOCK_LIST","forward_tags_restriction_list":["a","b"],"forward_tags":false},"type":"custom_destination"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 510.462875ms
[...]
