---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"","filter":{"query":"project:sample"},"is_enabled":false,"name":"tf-testaccdatadoglogspipelinesorderdatasource-local-1740395694-sample","processors":[],"tags":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs/config/pipelines
        method: POST
      response:
            - chunked
        body: |
            {"id":"Hsp7_9lXSgOwZ2l2wP9FpQ","type":"pipeline","name":"tf-testaccdatadoglogspipelinesorderdatasource-local-1740395694-sample","is_enabled":false,"is_read_only":false,"filter":{"query":"project:sample"},"processors":[],"tags":[],"description":""}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.435042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/pipeline-order
        method: GET
      response:
            - chunked
        body: |
            {"pipeline_ids":["NiV_xm67QWiahCk5V6mQSQ","Hsp7_9lXSgOwZ2l2wP9FpQ","mZXGPGSvTAeDmoNoC3CZkw"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 292.874042ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/pipelines/Hsp7_9lXSgOwZ2l2wP9FpQ
        method: GET
      response:
            - chunked
        body: |
            {"id":"Hsp7_9lXSgOwZ2l2wP9FpQ","type":"pipeline","name":"tf-testaccdatadoglogspipelinesorderdatasource-local-1740395694-sample","is_enabled":false,"is_read_only":false,"filter":{"query":"project:sample"},"processors":[],"tags":[],"description":""}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 297.86575ms
[...]
