---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":["tag:tf-TestAccAwsAccountV2Basic-local-1724363234"],"auth_config":{"role_name":"test"},"aws_account_id":"101489854984","aws_partition":"aws","logs_config":{"lambda_forwarder":{"lambdas":[],"sources":[]}},"metrics_config":{"automute_enabled":true,"collect_cloudwatch_alarms":true,"collect_custom_metrics":true,"enabled":true},"resources_config":{"cloud_security_posture_management_collection":true,"extended_collection":true},"traces_config":{}},"type":"account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/aws/accounts
        method: POST
      response:
        body: '{"data":{"id":"12086c38-c8c5-4e86-a866-c66f605b27ce","type":"account","attributes":{"account_tags":["tag:tf-TestAccAwsAccountV2Basic-local-1724363234"],"auth_config":{"role_name":"test","external_id":"ccf399acc18e4d27ad581062bebe8976"},"aws_account_id":"101489854984","aws_partition":"aws","aws_regions":{"include_all":true},"created_at":"2024-08-22T21:47:15.833801754Z","logs_config":{"lambda_forwarder":{}},"metrics_config":{"enabled":true,"automute_enabled":true,"collect_custom_metrics":true,"collect_cloudwatch_alarms":true,"namespace_filters":{"exclude_only":["AWS/SQS","AWS/ElasticMapReduce"]}},"modified_at":"2024-08-22T21:47:15.833806078Z","resources_config":{"cloud_security_posture_management_collection":true,"extended_collection":true}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 490.329334ms
