---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"api_token":"openai-token","type":"OpenAIAPIKey"},"type":"OpenAI"},"name":"tf-TestAccDatadogActionConnectionResource_OpenAI-local-1783949276"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"f3fe51e7-5ee2-4f0d-9f66-2241a2524f85","type":"action_connection","attributes":{"acting_user_can_resolve":false,"external_secrets_manager":null,"integration":{"credentials":{"api_token":"","type":"OpenAIAPIKey"},"type":"OpenAI"},"is_favorite":false,"name":"tf-TestAccDatadogActionConnectionResource_OpenAI-local-1783949276"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 131.15095ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/f3fe51e7-5ee2-4f0d-9f66-2241a2524f85
        method: GET
      response:
        body: '{"data":{"id":"f3fe51e7-5ee2-4f0d-9f66-2241a2524f85","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2026-07-13 13:28:02.909227 +0000 UTC","external_secrets_manager":null,"integration":{"credentials":{"api_token":"","type":"OpenAIAPIKey"},"type":"OpenAI"},"is_favorite":false,"last_updated":"2026-07-13 13:28:02.909227 +0000 UTC","name":"tf-TestAccDatadogActionConnectionResource_OpenAI-local-1783949276"},"relationships":{"created_by":{"data":{"id":"9c2cc44c-0fd5-4356-b457-9413333601f1","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 39.568003ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/f3fe51e7-5ee2-4f0d-9f66-2241a2524f85
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 29.821836ms
