---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: "schema-version: v2.1\ndd-service: tf-testaccdatadogservicedefinition_basicv2_1-local-1758619232\ncontacts:\n  - contact: contact@datadoghq.com\n    name: Team Email\n    type: email\nextensions:\n  myorgextension: extensionvalue\nintegrations:\n  opsgenie:\n    region: US\n    service-url: https://my-org.opsgenie.com/service/123e4567-e89b-12d3-a456-426614174000\n  pagerduty:\n    service-url: https://my-org.pagerduty.com/service-directory/PMyService\nlinks:\n  - name: Architecture\n    type: doc\n    provider: Gigoogle drivetHub\n    url: https://my-runbook\n  - name: Runbook\n    type: runbook\n    url: https://my-runbook\n  - name: Source Code\n    type: repo\n    provider: GitHub\n    url: https://github.com/DataDog/schema\ntags:\n  - my:tag\n  - service:tag\nteam: my-team  \n"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/services/definitions
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"service-definition","attributes":{"meta":{"last-modified-time":"2025-09-23T09:20:33.247986895Z","github-html-url":"","ingestion-source":"api","origin":"dd_terraform","origin-detail":"","warnings":[],"ingested-schema-version":"v2.1"},"schema":{"schema-version":"v2.1","dd-service":"tf-testaccdatadogservicedefinition_basicv2_1-local-1758619232","team":"my-team","contacts":[{"name":"Team Email","type":"email","contact":"contact@datadoghq.com"}],"links":[{"name":"Architecture","type":"doc","provider":"Gigoogle drivetHub","url":"https://my-runbook"},{"name":"Runbook","type":"runbook","url":"https://my-runbook"},{"name":"Source Code","type":"repo","provider":"GitHub","url":"https://github.com/DataDog/schema"}],"tags":["my:tag","service:tag"],"integrations":{"pagerduty":{"service-url":"https://my-org.pagerduty.com/service-directory/PMyService"},"opsgenie":{"service-url":"https://my-org.opsgenie.com/service/123e4567-e89b-12d3-a456-426614174000","region":"US"}},"extensions":{"myorgextension":"extensionvalue"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.968459ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/services/definitions/tf-testaccdatadogservicedefinition_basicv2_1-local-1758619232
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"service-definition","id":"7cc47d69-ca0a-40da-8122-496ffb767275","attributes":{"meta":{"last-modif[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/services/definitions/tf-testaccdatadogservicedefinition_basicv2_1-local-1758619232
        method: GET
      response:
            - chunked
        body: |
            {"errors":["404 Not Found: Not Found"],"error_details":[{}]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 150.929708ms
