---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"account_id":"123456789012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionDatasource_AWS_AssumeRole-local-1739210753"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"12eab7db-3b38-4568-9f60-79faa1f0446c","type":"action_connection","attributes":{"integration":{"credentials":{"account_id":"123456789012","external_id":"8aaa47a6cdda4c64964eb8a623adf5d1","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionDatasource_AWS_AssumeRole-local-1739210753"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 469.404838ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/12eab7db-3b38-4568-9f60-79faa1f0446c
        method: GET
      response:
        body: '{"data":{"id":"12eab7db-3b38-4568-9f60-79faa1f0446c","type":"action_connection","attributes":{"integration":{"credentials":{"account_id":"123456789012","external_id":"8aaa47a6cdda4c64964eb8a623adf5d1","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionDatasource_AWS_AssumeRole-local-1739210753"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 70.91684ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/12eab7db-3b38-4568-9f60-79faa1f0446c
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 58.497748ms
