---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"encoding":"json","id":"splunk-hec-1","inputs":["source-1"],"type":"splunk_hec"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"splunk-hec-endpoint-target-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"5386656a-a5e0-11f1-9955-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-hec-endpoint-target-pipeline","config":{"destinations":[{"encoding":"json","id":"splunk-hec-1","inputs":["source-1"],"type":"splunk_hec"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 916.296208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/5386656a-a5e0-11f1-9955-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"5386656a-a5e0-11f1-9955-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-hec-endpoint-target-pipeline","config":{"destinations":[{"encoding":"json","id":"splunk-hec-1","inputs":["source-1"],"type":"splunk_hec"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 444.083291ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"encoding":"json","endpoint_target":"raw","id":"splunk-hec-1","inputs":["source-1"],"type":"splunk_hec"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"splunk-hec-endpoint-target-pipeline"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/5386656a-a5e0-11f1-9955-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"5386656a-a5e0-11f1-9955-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-hec-endpoint-target-pipeline","config":{"destinations":[{"encoding":"json","endpoint_target":"raw","id":"splunk-hec-1","inputs":["source-1"],"type":"splunk_hec"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 1.95113725s
[...]
