---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a policy","enabled":true,"hostTags":["host_name:test_host"],"name":"opldypoobh"},"type":"policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
        method: POST
      response:
        body: '{"data":{"id":"jtf-7q5-kwe","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":0,"name":"opldypoobh","policyVersion":"1","priority":1000000034,"ruleCount":0,"updateDate":1747295151643,"updater":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 386.141625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","name":"opldypoobh","policy_id":"jtf-7q5-kwe","product_tags":["compliance_framework:PCI-DSS"]},"type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
        method: POST
      response:
        body: '{"data":{"id":"sx1-knp-lvg","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1747295152026,"creator":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["jtf-7q5-kwe"],"name":"opldypoobh","product_tags":["compliance_framework:PCI-DSS"],"updateDate":0,"updater":{"name":"Datadog","handle":""}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 754.260833ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/sx1-knp-lvg?policy_id=jtf-7q5-kwe
        method: GET
      response:
        body: '{"data":{"id":"sx1-knp-lvg","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1747295152026,"creator":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["jtf-7q5-kwe"],"name":"opldypoobh","product_tags":["compliance_framework:PCI-DSS"],"updateDate":0,"updater":{"name":"Datadog","handle":""}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.943291ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/jtf-7q5-kwe
        method: GET
      response:
        body: '{"data":{"id":"jtf-7q5-kwe","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":1,"name":"opldypoobh","policyVersion":"2","priority":1000000034,"ruleCount":1,"updateDate":1747295152026,"updater":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.963042ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules?policy_id=jtf-7q5-kwe
        method: GET
      response:
        body: '{"data":[{"id":"sx1-knp-lvg","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1747295152026,"creator":{"name":"Quentin Guillard","handle":"quentin.guillard@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["jtf-7q5-kwe"],"name":"opldypoobh","product_tags":["compliance_framework:PCI-DSS"],"updateDate":0,"updater":{"name":"Datadog","handle":""}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.324333ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/sx1-knp-lvg?policy_id=jtf-7q5-kwe
        method: GET
      response:
        body: |
            {"errors":[{"title":"failed to get rule"}]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 221.188375ms
