---
version: 1
interactions:
- request:
    body: |
      {"name":"tf-TestDatadogDashListInDashboardJSON-local-1690910469"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: |
      {"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-01T17:21:12.290927+00:00","dashboards":null,"dashboard_count":0,"id":404972,"is_favorite":false,"modified":"2023-08-01T17:21:12.290933+00:00","name":"tf-TestDatadogDashListInDashboardJSON-local-1690910469","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\n   \"author_handle\":\"removed_handle\",\n   \"title\":\"tf-TestDatadogDashListInDashboardJSON-local-1690910469\",\n   \"description\":\"Created using the Datadog provider in Terraform\",\n   \"widgets\":[\n      {\n         \"id\":5436370674582587,\n         \"definition\":{\n            \"title\":\"Widget Title\",\n            \"type\":\"alert_value\",\n            \"alert_id\":\"895605\",\n            \"unit\":\"b\",\n            \"text_align\":\"center\",\n            \"precision\":3\n         }\n      }\n   ],\n   \"template_variables\":[\n      \n   ],\n   \"layout_type\":\"ordered\",\n   \"is_read_only\":true,\n   \"notify_list\":[\n      \n   ],\n   \"id\":\"5uw-bbj-xec\"\n}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"x22-dye-p9g","title":"tf-TestDatadogDashListInDashboardJSON-local-1690910469","description":"Created using the Datadog provider in Terraform","author_handle":"hanting.zhang@datadoghq.com","author_name":"Hanting Zhang","layout_type":"ordered","url":"/dashboard/x22-dye-p9g/tf-testdatadogdashlistindashboardjson-local-1690910469","is_read_only":true,"template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2023-08-01T17:21:12.517752+00:00","modified_at":"2023-08-01T17:21:12.517752+00:00"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/x22-dye-p9g
    method: GET
  response:
    body: |
      {"id":"x22-dye-p9g","title":"tf-TestDatadogDashListInDashboardJSON-local-1690910469","description":"Created using the Datadog provider in Terraform","author_handle":"hanting.zhang@datadoghq.com","author_name":"Hanting Zhang","layout_type":"ordered","url":"/dashboard/x22-dye-p9g/tf-testdatadogdashlistindashboardjson-local-1690910469","is_read_only":true,"template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2023-08-01T17:21:12.517752+00:00","modified_at":"2023-08-01T17:21:12.517752+00:00"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"x22-dye-p9g","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/404972/dashboards
    method: POST
  response:
    body: |
      {"added_dashboards_to_list":[{"type":"custom_timeboard","id":"x22-dye-p9g"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/404972
    method: GET
  response:
    body: |
      {"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-01T17:21:12.290927+00:00","dashboards":null,"dashboard_count":1,"id":404972,"is_favorite":false,"modified":"2023-08-01T17:21:13.050602+00:00","name":"tf-TestDatadogDashListInDashboardJSON-local-1690910469","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/404972/dashboards
    method: GET
  response:
    body: |
      {"dashboards":[{"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-01T17:21:12.517752+00:00","is_favorite":false,"is_shared":false,"modified":"2023-08-01T17:21:12.517752+00:00","title":"tf-TestDatadogDashListInDashboardJSON-local-1690910469","type":"custom_timeboard","id":"x22-dye-p9g","url":"/dashboard/x22-dye-p9g/tf-testdatadogdashlistindashboardjson-local-1690910469","is_read_only":true,"tags":null,"icon":null,"integration_id":null,"popularity":0}],"total":1}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"dashboards":[{"id":"x22-dye-p9g","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/404972/dashboards
    method: DELETE
  response:
    body: |
      {"deleted_dashboards_from_list":[{"type":"custom_timeboard","id":"x22-dye-p9g"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/404972
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_list_id":404972}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/x22-dye-p9g
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"x22-dye-p9g"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/404972
    method: GET
  response:
    body: '{"errors":["Manual Dashboard List with id 404972 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
