---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/pipelines
        method: GET
      response:
            - chunked
        body: |
            [{"id":"NiV_xm67QWiahCk5V6mQSQ","type":"pipeline","name":"Golang key=value style logging","is_enabled":true,"is_read_only":false,"filter":{"query":"service:(agent OR prometheus) image_name:(\"grafana/agent\" OR \"prom/prometheus\")"},"processors":[{"name":"Golang key/value","is_enabled":true,"source":"message","samples":["ts=2022-01-25T19:44:10.626987538Z caller=tailer.go:99 level=info component=logs logs_config=default component=tailer msg=\"position timer: exited\" path=/var/log/pods/qa_devices-background-jobs-27385663-bs677_e10ba094-2ab4-41b2-9ffd-b46618c06b91/devices-background-jobs/0.log","ts=2022-01-27T00:12:14.759138219Z caller=filetarget.go:159 level=info component=logs logs_config=default msg=\"filetarget: watcher closed, tailer stopped, positions saved\" path=\"/var/log/pods/*d9a89e52-6065-4805-843d-418a0dd96eea/devices-background-jobs/*.log\"","ts=2022-01-27T00:19:11.517593648Z caller=filetargetmanager.go:275 level=info component=logs logs_config=default msg=\"Removing target\" key=\"{app=\\\"background-jobs\\\", container=\\\"devices-background-jobs\\\", controller_uid=\\\"4ad670d7-e7c3-4ae6-92cc-5b83d1d6f958\\\", fluentd=\\\"true\\\", job=\\\"dev/background-jobs\\\", job_name=\\\"devices-background-jobs-27387378\\\", namespace=\\\"dev\\\", pod=\\\"devices-background-jobs-27387378-5b9x5\\\", service=\\\"devices\\\"}\""],"grok":{"support_rules":"","match_rules":"# How do we handle the embedded JSON in the `key` key?\nkey_value %{data::keyvalue(\"=\", \"/-:*\")}\n"},"type":"grok-parser"}],"tags":[]}]
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 399.2495ms
[...]
