---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"action":{"due_days_per_severity":[{"due_in_days":7,"severity":"critical"}],"due_from":"first_seen"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsDueDateRulesOrder-local-1782143055-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}},"type":"due_date_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules
        method: POST
      response:
        body: '{"data":{"id":"da82609c-05b3-40da-ae32-27ea19f1de59","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7}],"due_from":"first_seen"},"created_at":1782143058300,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782143058300,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsDueDateRulesOrder-local-1782143055-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 380.05475ms
[...]
    - id: 2
      request:
        host: api.datad0g.com
        body: |
            {"data":[{"id":"7a2f4ef6-3e8a-4f03-a566-95adbdbc8285","type":"due_date_rules"},{"id":"da82609c-05b3-40da-ae32-27ea19f1de59","type":"due_date_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"due_date_rules","id":"7a2f4ef6-3e8a-4f03-a566-95adbdbc8285"},{"type":"due_date_rules","id":"da82609c-05b3-40da-ae32-27ea19f1de59"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 354.974042ms
    - id: 3
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules/7a2f4ef6-3e8a-4f03-a566-95adbdbc8285
        method: GET
      response:
        body: '{"data":{"id":"7a2f4ef6-3e8a-4f03-a566-95adbdbc8285","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7}],"due_from":"first_seen"},"created_at":1782143058312,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782143058312,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsDueDateRulesOrder-local-1782143055-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 127.924125ms
[...]
    - id: 7
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules
        method: GET
      response:
        body: '{"data":[{"id":"7a2f4ef6-3e8a-4f03-a566-95adbdbc8285","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7}],"due_from":"first_seen"},"created_at":1782143058312,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782143058312,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsDueDateRulesOrder-local-1782143055-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}},{"id":"da82609c-05b3-40da-ae32-27ea19f1de59","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7}],"due_from":"first_seen"},"created_at":1782143058300,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782143058300,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsDueDateRulesOrder-local-1782143055-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}],"meta":{"page":{"total_filtered_count":2}},"links":{"first":"/api/v2/security/findings/automation/due_date_rules?page[size]=1000\u0026page[number]=0","last":"/api/v2/security/findings/automation/due_date_rules?page[size]=1000\u0026page[number]=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 335.64975ms
[...]
    - id: 39
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules/7a2f4ef6-3e8a-4f03-a566-95adbdbc8285
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 134.346958ms
[...]
