---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["throttle-group-2"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"throttle-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"throttle-global","include":"*","threshold":1000,"type":"throttle","window":60}]},{"enabled":true,"id":"throttle-group-2","include":"*","inputs":["throttle-group-1"],"processors":[{"enabled":true,"group_by":["log.user.id","log.level"],"id":"throttle-grouped","include":"*","threshold":100,"type":"throttle","window":10}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"throttle pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"e4dd8fc8-26a8-11f1-bb2f-da7ad0900002","type":"pipelines","attributes":{"name":"throttle pipeline","config":{"destinations":[{"id":"destination-1","inputs":["throttle-group-2"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"throttle-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"throttle-global","include":"*","threshold":1000,"type":"throttle","window":60}]},{"enabled":true,"id":"throttle-group-2","include":"*","inputs":["throttle-group-1"],"processors":[{"enabled":true,"group_by":["log.user.id","log.level"],"id":"throttle-grouped","include":"*","threshold":100,"type":"throttle","window":10}]}],"processors":[{"enabled":true,"id":"throttle-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"throttle-global","include":"*","threshold":1000,"type":"throttle","window":60}]},{"enabled":true,"id":"throttle-group-2","include":"*","inputs":["throttle-group-1"],"processors":[{"enabled":true,"group_by":["log.user.id","log.level"],"id":"throttle-grouped","include":"*","threshold":100,"type":"throttle","window":10}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 514.518125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/e4dd8fc8-26a8-11f1-bb2f-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"e4dd8fc8-26a8-11f1-bb2f-da7ad0900002","type":"pipelines","attributes":{"name":"throttle pipeline","config":{"destinations":[{"id":"destination-1","inputs":["throttle-group-2"],"type":"datadog_logs"}],"pip[...]
[...]
