---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardNote-local-1615214333","widgets":[{"definition":{"background_color":"green","content":"This is a note widget","font_size":"18","show_tick":true,"text_align":"center","tick_edge":"bottom","tick_pos":"50%","type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"wvg-wp4-mrb","title":"tf-TestAccDatadogDashboardNote-local-1615214333","url":"/dashboard/wvg-wp4-mrb/tf-testaccdatadogdashboardnote-local-1615214333","created_at":"2021-03-08T14:38:55.887054+00:00","modified_at":"2021-03-08T14:38:55.887054+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"tick_pos":"50%","font_size":"18","type":"note","tick_edge":"bottom","text_align":"center","content":"This is a note widget","show_tick":true,"background_color":"green"},"id":1407870809719548}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - "35.4051376"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/wvg-wp4-mrb
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"wvg-wp4-mrb","title":"tf-TestAccDatadogDashboardNote-local-1615214333","url":"/dashboard/wvg-wp4-mrb/tf-testaccdatadogdashboardnote-local-1615214333","created_at":"2021-03-08T14:38:55.887054+00:00","modified_at":"2021-03-08T14:38:55.887054+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"tick_pos":"50%","font_size":"18","type":"note","tick_edge":"bottom","text_align":"center","content":"This is a note widget","show_tick":true,"background_color":"green"},"id":1407870809719548}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      X-Dd-Version:
      - "35.4051376"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/wvg-wp4-mrb
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"wvg-wp4-mrb"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - "35.4051376"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/wvg-wp4-mrb
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID wvg-wp4-mrb not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4051376"
    status: 404 Not Found
    code: 404
    duration: ""
