---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardDistribution-local-1728677714","widgets":[{"definition":{"legend_size":"2","requests":[{"q":"avg:system.cpu.user{account:prod} by {service,account}","style":{"palette":"purple"}}],"show_legend":true,"time":{"live_span":"1h"},"title":"Avg of system.cpu.user over account:prod by service,account","title_align":"left","title_size":"16","type":"distribution","xaxis":{"include_zero":true,"max":"100","min":"10","scale":"linear"},"yaxis":{"include_zero":true,"label":"cpu (%)","max":"50","min":"0","scale":"linear"}}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"ip3-gcj-cta","title":"tf-TestAccDatadogDashboardDistribution-local-1728677714","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/ip3-gcj-cta/tf-testaccdatadogdashboarddistribution-local-1728677714","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"legend_size":"2","requests":[{"q":"avg:system.cpu.user{account:prod} by {service,account}","style":{"palette":"purple"}}],"show_legend":true,"time":{"live_span":"1h"},"title":"Avg of system.cpu.user over account:prod by service,account","title_align":"left","title_size":"16","type":"distribution","xaxis":{"include_zero":true,"max":"100","min":"10","scale":"linear"},"yaxis":{"include_zero":true,"label":"cpu (%)","max":"50","min":"0","scale":"linear"}},"id":3550811698999843}],"notify_list":[],"created_at":"2024-10-11T20:15:17.081031+00:00","modified_at":"2024-10-11T20:15:17.081031+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.835042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ip3-gcj-cta
        method: GET
      response:
            - chunked
        body: |
            {"id":"ip3-gcj-cta","title":"tf-TestAccDatadogDashboardDistribution-local-1728677714","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/ip3-gcj-cta/tf-testaccdatadogdashboarddistribution-local-1728677714","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"legend_size":"2","requests":[{"q":"avg:system.cpu.user{account:prod} by {service,account}","style":{"palette":"purple"}}],"show_legend":true,"time":{"live_span":"1h"},"title":"Avg of system.cpu.user over account:prod by service,account","title_align":"left","title_size":"16","type":"distribution","xaxis":{"include_zero":true,"max":"100","min":"10","scale":"linear"},"yaxis":{"include_zero":true,"label":"cpu (%)","max":"50","min":"0","scale":"linear"}},"id":3550811698999843}],"notify_list":[],"created_at":"2024-10-11T20:15:17.081031+00:00","modified_at":"2024-10-11T20:15:17.081031+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.595ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ip3-gcj-cta
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"ip3-gcj-cta"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.290917ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ip3-gcj-cta
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID ip3-gcj-cta not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 67.323875ms
