---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/permissions
    method: GET
  response:
    body: |
      {"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","attributes":{"name":"admin","display_name":"Privileged Access","description":"Deprecated. Privileged Access (also known as Admin permission) has been replaced by more specific permissions: Access Management, Org Management, Billing Read/Write, Usage Read/Write.","created":"2018-10-19T15:35:23.734317+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard Access","description":"View and edit components in your Datadog organization that do not have explicitly defined permissions. This includes configuring some integrations (from the UI), events, most facets, and saved views. In order to configure integrations from the UI, a user must also have Integrations API.","created":"2018-10-19T15:35:23.756736+00:00","group_name"[...]
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_Updated-local-1662000781_role"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: |
      {"data":{"type":"roles","id":"328d0acc-29a1-11ed-b75b-da7ad0900002","attributes":{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_Updated-local-1662000781_role","created_at":"2022-09-01T02:53:03.292899+00:00","modified_at":"2022-09-01T02:53:03.365957+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"},{"type":"permissions","id":"f8e941cf-e746-11ec-b22d-da7ad0900002"}]}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles/328d0acc-29a1-11ed-b75b-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"roles","id":"328d0acc-29a1-11ed-b75b-da7ad0900002","attributes":{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_Updated-local-1662000781_role","created_at":"2022-09-01T02:53:03.292899+00:00","modified_at":"2022-09-01T02:53:03.365957+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"},{"type":"permissions","id":"f8e941cf-e746-11ec-b22d-da7ad0900002"}]}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"a private location","metadata":{"restricted_roles":["328d0acc-29a1-11ed-b75b-da7ad0900002"]},"name":"tf-TestAccDatadogSyntheticsPrivateLocation_Updated-local-1662000781","tags":["foo:bar","baz"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/private-locations
    method: POST
  response:
    body: '{"private_location":{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_Updated-local-1662000781","tags":["foo:bar","baz"],"secrets":{"authentication":{"id":"56a304230d5df30d1de6256a1f72bc00","key":"49384ca573ff1a33b536ea05b05047b35d211bee0f93f0531c943b5e7c06f639"},"config_decryption":{"id":"83797e8dc7409de1ea4033d5a3ecf2e2","key":"-----BEGIN RSA PRIVATE KEY-----\nMIIJJwIBAAKCAgEA4euX3EGPaC33KyYcsSMJK7yjgawZWTEWRnWqacID+VInj1yi\nIVaIjImWlUMSst8R1S9FkKet/KBul0OlZ977/KFAGZYSJjkemK02pRvRMR6GoGUD\nt/N3vBeNsZPWQxofEaAtJZAqTESjTuDbbK2iuVwmhbgt6e332fw2nmmV2lEVkNgh\nXCVq+4vF43bgggDB9My2MORMPEO6WTqsXel2LSDO+gr7kgr/Fen31aeLZaPq/4DD\n07d7CxciBz24RBpivaguhW9pJ00i3uF1k8UjovLEtqk3uNMgEtC2WcvHmZfZp26Y\nFnp63W7Fk3s9BTKRSYyIo1hecVqo6dhNrmVydryLEyvNylQuIrkbup/rO9HXeomN\nqcXOnGQwCXT12yTMWs7AgyU[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:tf-testaccdatadogsyntheticsprivatelocation_updated-local-1662000781-fce0f9333dcd269a1645188142a5877c
    method: GET
  response:
    body: '{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_Updated-local-1662000781","tags":["foo:bar","baz"],"description":"a private location","modifiedAt":"2022-09-01T02:53:05.089755+00:00","createdBy":"frog@datadoghq.com","id":"pl:tf-testaccdatadogsyntheticsprivatelocation_updated-local-1662000781-fce0f9333dcd269a1645188142a5877c","createdAt":"2022-09-01T02:53:05.089755+00:00","metadata":{"restricted_roles":["328d0acc-29a1-11ed-b75b-da7ad0900002"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:tf-testaccdatadogsyntheticsprivatelocation_updated-local-1662000781-fce0f9333dcd269a1645188142a5877c
    method: GET
  response:
    body: '{"errors": ["Synthetics Private Location: pl:tf-testaccdatadogsyntheticsprivatelocation_updated-local-1662000781-fce0f9333dcd269a1645188142a5877c not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
