---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"api_key":"ABCDEFG123","name":"tf-TestAccIntegrationFastlyAccountBasic-local-1758619111","services":[]},"type":"fastly-accounts"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integrations/fastly/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"fastly-accounts","id":"4be1709ed0ca1a06f3bfb382f1ac7d3b","attributes":{"name":"tf-TestAccIntegrationFastlyAccountBasic-local-1758619111","services":[]}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 263.298833ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integrations/fastly/accounts/4be1709ed0ca1a06f3bfb382f1ac7d3b
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"fastly-accounts","attributes":{"name":"tf-TestAccIntegrationFastlyAccountBasic-local-1758619111","services":[]},"id":"4be1709ed0ca1a06f3bfb382f1ac7d3b"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.317125ms
[...]
