---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_sts_delegate","id":"ddgci-d427c1b4a96cca3986b2@datadog-gci-sts-us1-prod.iam.gserviceaccount.com","attributes":{"delegate_account_email":"ddgci-d427c1b4a96cca3986b2@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.494458ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":true,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1704918354@test-project.iam.gserviceaccount.com","host_filters":[],"cloud_run_revision_filters":[],"is_cspm_enabled":false,"is_security_command_center_enabled":false},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"is_security_command_center_enabled":false,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1704918354@test-project.iam.gserviceaccount.com","account_tags":[],"resource_collection_enabled":false,"is_cspm_enabled":false,"automute":true,"host_filters":[],"cloud_run_revision_filters":[]},"id":"73d61f8a-f4cb-4f6c-92b6-ee79aab08104"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 616.633792ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"gcp_service_account","attributes":{"account_tags":[],"automute":false,"is_security_command_center_enabled":false,"resource_collection_enabled":false,"host_filters":[],"cloud_run_revision_filters":[],"client_email":"96942532bb1c698b@test-project.iam.gserviceaccount.com","is_cspm_enabled":false},"id":"64a9af1e-015f-424a-acbe-8c0e059e37fc","meta":{"accessible_projects":[]}},{"type":"gcp_service_account","attributes":{"account_tags":["lorem","ipsum"],"automute":false,"is_security_command_center_enabled":false,"resource_collection_enabled":false,"host_filters":[],"cloud_run_revision_filters":[],"client_email":"ac1de3dc0c8bd5db@test-project.iam.gserviceaccount.com","is_cspm_enabled":false},"id":"7df76efa-fdc1-4229-b58c-46d985b94126","meta":{"accessible_projects":[]}},{"type":"gcp_service_account","attributes":{"account_tags":[],"automute":false,"is_security_comma[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/73d61f8a-f4cb-4f6c-92b6-ee79aab08104
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 101.895875ms
