---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"Query":"source:app AND env:prod"},"type":"validate_query"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/validate-query
        method: POST
      response:
        body: '{"data":{"id":"8675d61f-6aa5-45e6-ba00-5c3a5151c380","type":"validate_response","attributes":{"Canonical":"source:app AND env:prod"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 56.540708ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"query-rule","query":{"addition":{"key":"team","value":"backend"},"case_insensitivity":true,"if_tag_exists":"append","query":"source:app AND env:prod"},"reference_table":null}]},"id":"tf-test-query-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRuleIfTagExists-local-1782916370","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"440fe25e-9a74-4e35-9f7f-6d6358137aa3","type":"ruleset","attributes":{"created":{"seconds":1782916371,"nanos":849662000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1782916371,"nanos":849662000},"name":"tf-test-query-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRuleIfTagExists-local-1782916370","position":1,"rules":[{"name":"query-rule","enabled":true,"query":{"query":"source:app AND env:prod","addition":{"key":"team","value":"backend"},"if_not_exists":false,"case_insensitivity":true,"if_tag_exists":"append"},"mapping":null,"reference_table":null,"metadata":null}],"version":3718512}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 184.355292ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/440fe25e-9a74-4e35-9f7f-6d6358137aa3
        method: GET
      response:
        body: '{"data":{"id":"440fe25e-9a74-4e35-9f7f-6d6358137aa3","type":"ruleset","attributes":{"created":{"seconds":1782916371,"nanos":849662000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1782916371,"nanos":849662000},"name":"tf-test-query-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRuleIfTagExists-local-1782916370","position":1,"rules":[{"name":"query-rule","enabled":true,"query":{"query":"source:app AND env:prod","addition":{"key":"team","value":"backend"},"if_not_exists":false,"case_insensitivity":true,"if_tag_exists":"append"},"mapping":null,"reference_table":null,"metadata":null}],"version":3718512}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 131.86525ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"last_version":3718512,"name":"tf-test-query-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRuleIfTagExists-local-1782916370","rules":[{"enabled":true,"mapping":null,"name":"query-rule","query":{"addition":{"key":"team","value":"backend"},"case_insensitivity":true,"if_tag_exists":"replace","query":"source:app AND env:prod"},"reference_table":null}]},"type":"update_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/440fe25e-9a74-4e35-9f7f-6d6358137aa3
        method: PATCH
      response:
        body: '{"data":{"id":"440fe25e-9a74-4e35-9f7f-6d6358137aa3","type":"ruleset","attributes":{"created":{"seconds":1782916373,"nanos":888860000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1782916373,"nanos":888860000},"name":"tf-test-query-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRuleIfTagExists-local-1782916370","position":1,"rules":[{"name":"query-rule","enabled":true,"query":{"query":"source:app AND env:prod","addition":{"key":"team","value":"backend"},"if_not_exists":false,"case_insensitivity":true,"if_tag_exists":"replace"},"mapping":null,"reference_table":null,"metadata":null}],"version":3718513}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 120.029375ms
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/440fe25e-9a74-4e35-9f7f-6d6358137aa3
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset 440fe25e-9a74-4e35-9f7f-6d6358137aa3 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 78.109375ms
