---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"ref-table-rule","query":null,"reference_table":{"case_insensitivity":true,"field_pairs":[{"input_column":"service_name","output_key":"service"},{"input_column":"team_name","output_key":"team"}],"if_not_exists":false,"source_keys":["service"],"table_name":"service_mapping"}}]},"id":"tf-test-ref-table-ruleset-tf-TestAccDatadogTagPipelineRuleset_ReferenceTableRule-local-1759525242","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"fd6b7a56-9b68-44a4-808a-1580e81389eb","type":"ruleset","attributes":{"created":{"seconds":1759525245,"nanos":456986000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759525245,"nanos":456986000},"name":"tf-test-ref-table-ruleset-tf-TestAccDatadogTagPipelineRuleset_ReferenceTableRule-local-1759525242","position":4,"rules":[{"name":"ref-table-rule","enabled":true,"query":null,"mapping":null,"reference_table":{"table_name":"service_mapping","source_keys":["service"],"field_pairs":[{"input_column":"service_name","output_key":"service"},{"input_column":"team_name","output_key":"team"}],"case_insensitivity":true,"if_not_exists":false},"metadata":null}],"version":3609228}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 220.19025ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/fd6b7a56-9b68-44a4-808a-1580e81389eb
        method: GET
      response:
        body: '{"data":{"id":"fd6b7a56-9b68-44a4-808a-1580e81389eb","type":"ruleset","attributes":{"created":{"seconds":1759525245,"nanos":456986000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759525245,"nanos":456986000},"name":"tf-test-ref-table-ruleset-tf-TestAccDatadogTagPipelineRuleset_ReferenceTableRule-local-1759525242","position":3,"processing_status":"error","rules":[{"name":"ref-table-rule","enabled":true,"query":null,"mapping":null,"reference_table":{"table_name":"service_mapping","source_keys":["service"],"field_pairs":[{"input_column":"service_name","output_key":"service"},{"input_column":"team_name","output_key":"team"}],"case_insensitivity":true,"if_not_exists":false},"metadata":null}],"version":3609228}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 222.300417ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/fd6b7a56-9b68-44a4-808a-1580e81389eb
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset fd6b7a56-9b68-44a4-808a-1580e81389eb not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 49.557708ms
