---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_filters":{"excluded_accounts":["123456789012"],"include_new_accounts":true},"account_id":"123456789012","bucket_name":"test-cur-bucket","bucket_region":"us-east-1","report_name":"test-cur-report","report_prefix":"test-cur-prefix"},"type":"aws_cur_config_post_request"},"meta":{"setup_method":"terraform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/aws_cur_config
        method: POST
      response:
        body: '{"data":{"id":"1266","type":"aws_cur_config","attributes":{"account_filters":{"include_new_accounts":true,"excluded_accounts":["123456789012"]},"account_id":"123456789012","bucket_name":"test-cur-bucket","bucket_region":"us-east-1","created_at":"2026-01-30T20:42:44Z","error_messages":null,"months":15,"report_name":"test-cur-report","report_prefix":"test-cur-prefix","status":"active","status_updated_at":"2026-01-30T20:42:44Z","updated_at":"2026-01-30T20:42:44Z"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 1.287776125s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/aws_cur_config/1266
        method: GET
      response:
        body: '{"data":{"id":"1266","type":"aws_cur_config","attributes":{"account_filters":{"include_new_accounts":true,"excluded_accounts":["123456789012"]},"account_id":"123456789012","bucket_name":"test-cur-bucket","bucket_region":"us-east-1","created_at":"2026-01-30T20:42:44Z","error_messages":null,"months":15,"report_name":"test-cur-report","report_prefix":"test-cur-prefix","status":"active","status_updated_at":"2026-01-30T20:42:44Z","updated_at":"2026-01-30T20:42:44Z"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 42.659833ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_filters":{"include_new_accounts":false,"included_accounts":["123456789013"]}},"type":"aws_cur_config_patch_request"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/aws_cur_config/1266
        method: PATCH
      response:
        body: '{"data":[{"id":"1266","type":"aws_cur_config","attributes":{"account_filters":{"include_new_accounts":false,"included_accounts":["123456789013"]},"account_id":"123456789012","bucket_name":"test-cur-bucket","bucket_region":"us-east-1","created_at":"2026-01-30T20:42:44Z","error_messages":null,"months":15,"report_name":"test-cur-report","report_prefix":"test-cur-prefix","status":"active","status_updated_at":"2026-01-30T20:42:45Z","updated_at":"2026-01-30T20:42:45Z"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 68.339583ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/aws_cur_config/1266
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Cloud account not found","detail":"Cloud account with ID 1266 was not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 33.877083ms
