---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"auth_config":{"external_id":"8b424c40dafa4034ab825bd16ccc74dd","role_name":"DatadogIntegrationRole"},"aws_account_id":"495754985450","aws_partition":"aws","aws_regions":{"include_all":true},"logs_config":{"lambda_forwarder":{"lambdas":[],"log_source_config":{"tag_filters":[]},"sources":[]}},"metrics_config":{"automute_enabled":true,"collect_cloudwatch_alarms":false,"collect_custom_metrics":false,"enabled":true,"namespace_filters":{"exclude_only":["AWS/SQS","AWS/ElasticMapReduce","AWS/Usage"]},"tag_filters":[]},"resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":true},"traces_config":{"xray_services":{"include_only":[]}}},"type":"account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/aws/accounts
        method: POST
      response:
        body: '{"data":{"id":"bb5d83c9-fcc5-4717-b4a7-e3b4dc5d8da2","type":"account","attributes":{"account_tags":null,"auth_config":{"role_name":"DatadogIntegrationRole","external_id":"8b424c40dafa4034ab825bd16ccc74dd"},"aws_account_id":"495754985450","aws_partition":"aws","aws_regions":{"include_all":true},"created_at":"2026-02-02T19:12:42.481006419Z","logs_config":{"lambda_forwarder":{"lambdas":[],"sources":[],"log_source_config":{"tag_filters":[]}}},"metrics_config":{"enabled":true,"automute_enabled":true,"collect_custom_metrics":false,"collect_cloudwatch_alarms":false,"tag_filters":[],"namespace_filters":{"exclude_only":["AWS/SQS","AWS/ElasticMapReduce","AWS/Usage"]}},"modified_at":"2026-02-02T19:12:42.481006419Z","resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":true},"traces_config":{"xray_services":{"include_only":[]}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 1.24641275s
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_id":"495754985450","create_event_bus":false,"event_generator_name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1770059559","region":"us-east-1"},"type":"event_bridge"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/aws/event_bridge
        method: POST
      response:
        body: '{"data":{"id":"create_event_bridge","type":"event_bridge","attributes":{"event_source_name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1770059559-0qpvzxfg","has_bus":false,"region":"us-east-1","status":"created"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 506.745208ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/aws/accounts/%22bb5d83c9-fcc5-4717-b4a7-e3b4dc5d8da2%22
        method: GET
      response:
        body: '{"data":{"id":"bb5d83c9-fcc5-4717-b4a7-e3b4dc5d8da2","type":"account","attributes":{"account_tags":[],"auth_config":{"role_name":"DatadogIntegrationRole","external_id":"8b424c40dafa4034ab825bd16ccc74dd"},"aws_account_id":"495754985450","aws_partition":"aws","aws_regions":{"include_all":true},"created_at":"2026-02-02T19:12:42.481006Z","logs_config":{"lambda_forwarder":{"lambdas":[],"sources":[],"log_source_config":{"tag_filters":[]}}},"metrics_config":{"enabled":true,"automute_enabled":true,"collect_custom_metrics":false,"collect_cloudwatch_alarms":false,"tag_filters":[],"namespace_filters":{"exclude_only":["AWS/SQS","AWS/ElasticMapReduce","AWS/Usage"]}},"modified_at":"2026-02-02T19:12:42.481006Z","resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":true},"traces_config":{"xray_services":{"include_only":[]}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 85.761042ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/aws/event_bridge
        method: GET
      response:
        body: '{"data":{"id":"get_event_bridge","type":"event_bridge","attributes":{"accounts":[{"account_id":"123123123123","tags":[],"event_hubs":[]},{"account_id":"694513996623","tags":[],"event_hubs":[]},{"account_id":"495754985450","tags":[],"event_hubs":[{"name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1770059559-0qpvzxfg","region":"us-east-1"}]}],"is_installed":true}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 69.657667ms
[...]
