---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/hosts?count=1000&filter=&include_hosts_metadata=true&include_muted_hosts_data=true
    method: GET
  response:
    body: |
      {"host_list":[{"id":10832557748,"tags_by_source":{"Datadog":["bosh_address:10.0.4.8","bosh_az:us-central1-f","bosh_deployment:cf-8aa864eb954b62af8f64","bosh_id:a301759c-f113-4809-a58a-51ef03a8abb1","bosh_index:0","bosh_ip:10.0.4.8","bosh_job:compute","bosh_name:compute","cf-8aa864eb954b62af8f64","cf-8aa864eb954b62af8f64-compute","cloudfoundry","compute","created_at:2023-03-31t22:09:50z","deployment:cf-8aa864eb954b62af8f64","director:p-bosh","env:pcf-mintcream","id:a301759c-f113-4809-a58a-51ef03a8abb1","index:0","index:a301759c-f113-4809-a58a-51ef03a8abb1","instance-id:7358504004634731763","instance-type:n1-highmem-2","instance_group:compute","internal-hostname:vm-7796d5e8-2977-482a-4d42-a805f50cba5d.c.cf-security-triage-dist-secur.internal","ip:10.0.4.8","job:compute","name:compute/a301759c-f113-4809-a58a-51ef03a8abb1","numeric_project_id:734559154119","p-bosh","p-bosh-cf-8aa864eb954b62af8f64","p-bosh-cf-8aa864eb954b62af8f64-compute","pcf-mintcream","project:cf-security-triage-dist-secur","user_data:_server_:_name_:_vm-7796d5e8-2977-482a-4d42-a805f50cba5d_registry_:_endpoint_:_://:_:0_dns_:_nameserver_:_8.8.8.8","zone:us-central1-f","host:compute-0-a301759c-f113-4809-a58a-51ef03a8abb1"]},"aliases":["vm-7796d5e8-2977-482a-4d42-a805f50cba5d.cf-security-triage-dist-secur","vm-7796d5e8-2977-482a-4d42-a805f50cba5d.c.cf-security-triage-dist-secur.internal","compute-0-a301759c-f113-4809-a58a-51ef03a8abb1","a301759c-f113-4809-a58a-51ef03a8abb1"],"apps":["trace","pcf","container","cloudfoundry","agent","ntp"],"sources":["agent"],"name":"compute-0-a301759c-f113-4809-a58a-51ef03a8abb1","host_name":"compute-0-a301759c-f113-4809-a58a-51ef03a8abb1","up":true,"last_reported_time":1680802572,"is_muted":false,"mute_timeout":null,"meta":{"socket-hostname":"f7791ff0-e507-4174-9b95-8c43e08757a4","gohai":"{\"cpu\":{\"cache_size\":\"46080 KB\",\"cpu_cores\":\"1\",\"cpu_logical_processors\":\"2\",\"family\":\"6\",\"mhz\":\"2299.998\",\"model\":\"63\",\"model_name\":\"Intel(R) Xeon(R) CPU @ 2.30GHz\",\"stepping\":\"0\",\"vendor_id\":\"GenuineIntel\"},\"filesystem\":[{\"kb_size\":\"6649300\",\"mounted_on\":\"/dev\",\"name\":\"devtmpfs\"},{\"kb_size\":\"6664488\",\"mounted_on\":\"/dev/shm\",\"name\":\"tmpfs\"},{\"kb_size\":\"6664488\",\"mounted_on\":\"/run\",\"name\":\"tmpfs\"},{\"kb_size\":\"5120\",\"mounted_on\":\"/run/lock\",\"name\":\"tmpfs\"},{\"kb_size\":\"6664488\",\"mounted_on\":\"/sys/fs/cgroup\",\"name\":\"tmpfs\"},{\"kb_size\":\"2881912\",\"mounted_on\":\"/\",\"name\":\"/dev/sda1\"},{\"kb_size\":\"118942436\",\"mounted_on\":\"/var/vcap/data\",\"name\":\"/dev/sda3\"},{\"kb_size\":\"16384\",\"mounted_on\":\"/var/vcap/data/sys/run\",\"name\":\"tmpfs\"},{\"kb_size\":\"95546060\",\"mounted_on\":\"/var/vcap/data/grootfs/store/unprivileged\",\"name\":\"/dev/loop0\"},{\"kb_size\":\"95545852\",\"mounted_on\":\"/var/vcap/data/grootfs/store/privileged\",\"name\":\"/dev/loop1\"},{\"kb_size\":\"2796\",\"mounted_on\":\"/var/vcap/data/rep/shared/garden/instance_identity\",\"name\":\"tmpfs\"}],\"memory\":{\"swap_total\":\"13328976kB\",\"total\":\"13328980kB\"},\"network\":{\"interfaces\":[{\"ipv4\":[\"10.0.4.8\"],\"ipv4-network\":\"10.0.4.8/32\",\"ipv6\":[],\"macaddress\":\"42:01:0a:00:04:08\",\"name\":\"eth0\"},{\"ipv4\":[\"10.255.19.0\"],\"ipv4-network\":\"10.255.0.0/16\",\"ipv6\":[],\"macaddress\":\"ee:ee:0a:ff:13:00\",\"name\":\"silk-vtep\"},{\"ipv4\":[\"169.254.0.1\"],\"ipv4-network\":\"169.254.0.1/32\",\"ipv6\":[],\"macaddress\":\"aa:aa:0a:ff:13:10\",\"name\":\"s-010255019016\"},{\"ipv4\":[\"169.254.0.1\"],\"ipv4-network\":\"169.254.0.1/32\",\"ipv6\":[],\"macaddress\":\"aa:aa:0a:ff:13:11\",\"name\":\"s-010255019017\"},{\"ipv4\":[\"169.254.0.1\"],\"ipv4-network\":\"169.254.0.1/32\",\"ipv6\":[],\"macaddress\":\"aa:aa:0a:ff:13:12\",\"name\":\"s-010255019018\"},{\"ipv4\":[\"169.254.0.1\"],\"ipv4-network\":\"169.254.0.1/32\",\"ipv6\":[],\"macaddress\":\"aa:aa:0a:ff:13:14\",\"name\":\"s-010255019020\"},{\"ipv4\":[\"169.254.0.1\"],\"ipv4-network\":\"169.254.0.1/32\",\"ipv6\":[],\"macaddress\":\"aa:aa:0a:ff:13:27\",\"name\":\"s-010255019039\"}],\"ipaddress\":\"10.0.4.8\",\"macaddress\":\"42:01:0a:00:04:08\"},\"platform\":{\"GOOARCH\":\"amd64\",\"GOOS\":\"linux\",\"goV\":\"1.18.9\",\"hardware_platform\":\"x86_64\",\"hostname\":\"f7791ff0-e507-4174-9b95-8c43e08757a4\",\"kernel_name\":\"Linux\",\"kernel_release\":\"4.15.0-206-generic\",\"kernel_version\":\"#217~16.04.1-Ubuntu SMP Wed Feb 8 12:03:32 UTC 2023\",\"machine\":\"x86_64\",\"os\":\"GNU/Linux\",\"processor\":\"x86_64\"}}","network":{"network-id":"projects/734559154119/networks/mintcream-pcf-network","public-ipv4":"35.222.110.155"},"platform":"linux","nixV":["ubuntu","16.04",""],"processor":"Intel(R) Xeon(R) CPU @ 2.30GHz","macV":["","",""],"machine":"amd64","winV":["","",""],"install_method":{"installer_version":null,"tool":null,"tool_version":"undefined"},"cpuCores":1,"agent_checks":[["ntp","ntp","ntp:abc4dd01ed069179","OK","",""],["network","network","network:4568a8c8c4d5d3d5","OK","",""],["disk","disk","disk:17d8571dea6d7adf","OK","",""],["load","load","load","OK","",""],["container","container","container","OK","",""],["memory","memory","memory","OK","",""],["process","process","process:netmon:5a4d96913933a354","OK","",""],["process","process","process:monit:ba1b4f0db0e68cdb","OK","",""],["process","process","process:garden:5103b5aa45b0a808","OK","",""],["process","proce[...]
[...]
