---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["remove-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"remove-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"fields":["temp.debug","internal.trace_id"],"id":"remove-1","include":"*","type":"remove_fields"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"remove-fields-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"c292231a-f20b-11f0-a384-da7ad0900002","type":"pipelines","attributes":{"name":"remove-fields-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["remove-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"remove-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"fields":["temp.debug","internal.trace_id"],"id":"remove-1","include":"*","type":"remove_fields"}]}],"processors":[{"enabled":true,"id":"remove-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"fields":["temp.debug","internal.trace_id"],"id":"remove-1","include":"*","type":"remove_fields"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 638.566958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/c292231a-f20b-11f0-a384-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"c292231a-f20b-11f0-a384-da7ad0900002","type":"pipelines","attributes":{"name":"remove-fields-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["remove-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"remove-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"fields":["temp.debug","internal.trace_id"],"id":"remove-1","include":"*","type":"remove_fields"}]}],"processors":[{"enabled":true,"id":"remove-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"fields":["temp.debug","internal.trace_id"],"id":"remove-1","include":"*","type":"remove_fields"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 230.472666ms
[...]
