---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"first \u003e 3","name":"high case","notifications":[],"status":"high"}],"hasExtendedTitle":false,"isEnabled":false,"message":"acceptance rule triggered","name":"tf-TestAccDatadogSecurityMonitoringRule_CwsRule-local-1641297058","options":{"detectionMethod":"threshold","evaluationWindow":300,"keepAlive":600,"maxSignalDuration":900},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":["host"],"metric":"","name":"first","query":"@agent.rule_id:(tf_TestAccDatadogSecurityMonitoringRule_CwsRule_local_1641297058_random_id OR random_id)"}],"tags":["i:tomato","u:tomato"],"type":"workload_security"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":["u:tomato","i:tomato"],"isEnabled":false,"hasExtendedTitle":false,"message":"acceptance rule triggered","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":900,"keepAlive":600},"version":1,"createdAt":1641297079274,"filters":[],"queries":[{"distinctFields":[],"name":"first","metric":"","aggregation":"count","groupByFields":["host"],"query":"@agent.rule_id:(tf_TestAccDatadogSecurityMonitoringRule_CwsRule_local_1641297058_random_id OR random_id)"}],"isDeleted":false,"cases":[{"status":"high","notifications":[],"name":"high case","condition":"first > 3"}],"type":"workload_security","id":"oji-nib-gy5","isDefault":false,"name":"tf-TestAccDatadogSecurityMonitoringRule_CwsRule-local-1641297058"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Name:
      - security_analytics
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "999"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/oji-nib-gy5
    method: GET
  response:
    body: '{"creationAuthorId":1445416,"tags":["u:tomato","i:tomato"],"isEnabled":false,"hasExtendedTitle":false,"message":"acceptance rule triggered","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":900,"keepAlive":600},"version":1,"createdAt":1641297079274,"filters":[],"queries":[{"distinctFields":[],"name":"first","metric":"","aggregation":"count","groupByFields":["host"],"query":"@agent.rule_id:(tf_TestAccDatadogSecurityMonitoringRule_CwsRule_local_1641297058_random_id OR random_id)"}],"isDeleted":false,"cases":[{"status":"high","notifications":[],"name":"high case","condition":"first > 3"}],"type":"workload_security","id":"oji-nib-gy5","isDefault":false,"name":"tf-TestAccDatadogSecurityMonitoringRule_CwsRule-local-1641297058"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Name:
      - security_analytics
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "999"
      X-Ratelimit-Reset:
      - "9"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"cases":[{"condition":"first \u003e 10","name":"high case (updated)","notifications":["@user"],"status":"medium"}],"hasExtendedTitle":false,"isEnabled":true,"message":"acceptance rule triggered (updated)","name":"tf-TestAccDatadogSecurityMonitoringRule_CwsRule-local-1641297058","options":{"detectionMethod":"threshold","evaluationWindow":300,"keepAlive":600,"maxSignalDuration":900},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":["service"],"metric":"@network.bytes_read","name":"first","query":"@agent.rule_id:(tf_TestAccDatadogSecurityMonitoringRule_CwsRule_local_1641297058_random_id OR random_id)"}],"tags":["u:tomato","i:tomato"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/oji-nib-gy5
    method: PUT
  response:
    body: '{"updateAuthorId":1445416,"creationAuthorId":1445416,"tags":["u:tomato","i:tomato"],"isEnabled":true,"hasExtendedTitle":false,"message":"acceptance rule triggered (updated)","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":900,"keepAlive":600},"version":2,"isDefault":false,"filters":[],"queries":[{"distinctFields":[],"name":"first","metric":"@network.bytes_read","aggregation":"count","groupByFields":["service"],"query":"@agent.rule_id:(tf_TestAccDatadogSecurityMonitoringRule_CwsRule_local_1641297058_random_id OR random_id)"}],"isDeleted":false,"cases":[{"status":"medium","notifications":["@user"],"name":"high case (updated)","condition":"first > 10"}],"type":"workload_security","id":"oji-nib-gy5","createdAt":1641297079274,"name":"tf-TestAccDatadogSecurityMonitoringRule_CwsRule-local-1641297058"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Name:
      - security_analytics
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "999"
      X-Ratelimit-Reset:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/oji-nib-gy5
    method: GET
  response:
    body: '{"errors":["Threat detection rule not found: oji-nib-gy5"]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Name:
      - security_analytics
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "998"
      X-Ratelimit-Reset:
      - "7"
    status: 404 Not Found
    code: 404
    duration: ""
