---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
        body: '{"data":{"id":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com","type":"gcp_sts_delegate","attributes":{"delegate_account_email":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 104.635625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":["acct:one","acct:three","acct:two"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsWithEmptyFilter-local-1760984006@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":false,"is_per_project_quota_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[{"disabled":true,"id":"aiplatform"}],"monitored_resource_configs":[{"filters":[],"type":"cloud_function"}],"resource_collection_enabled":false},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: POST
      response:
        body: '{"data":{"id":"da4d1880-3599-4248-b82f-9bc54560982e","type":"gcp_service_account","attributes":{"account_tags":["acct:one","acct:three","acct:two"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsWithEmptyFilter-local-1760984006@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_bq_datasets_monitoring_enabled":false,"is_bq_jobs_monitoring_enabled":false,"is_cspm_enabled":false,"is_per_project_quota_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[{"id":"aiplatform","disabled":true,"filters":[]}],"monitored_resource_configs":[],"resource_collection_enabled":false}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 49.962542ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: GET
      response:
        body: '{"data":[{"id":"b213616c-4a02-4e7d-87c0-16f160771077","type":"gcp_service_account","attributes":{"account_tags":[],"automute":true,"client_email":"teddymonitoringsubfolder@datadog-gcp-ints-test-d.iam.gserviceaccount.com","cloud_run_revision_filters":["sdf"],"host_filters":[],"is_bq_datasets_monitoring_enabled":false,"is_bq_jobs_monitoring_enabled":false,"is_cspm_enabled":false,"is_per_project_quota_enabled":true,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[{"id":"prometheus","disabled":true,"filters":[]}],"monitored_resource_configs":[{"type":"cloud_run_revision","filters":["sdf"]}],"resource_collection_enabled":true},"meta":{"accessible_projects":["datadog-gcp-ints-test-a","datadog-gcp-ints-test-b","datadog-gcp-ints-test-c","datadog-gcp-ints-test-d"]}},{"id":"23c9d378-afdc-428d-beed-06559c09b11b","type":"gcp_service_account","attributes":{"account_tags":["acct:one","acct:three","acct:two"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1760650114@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":["rev:one","rev:two"],"host_filters":["host:one"],"is_bq_datasets_monitoring_enabled":false,"is_bq_job[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/da4d1880-3599-4248-b82f-9bc54560982e
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 68.09725ms
