---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"logs-1","inputs":["quota-1"],"type":"datadog_logs"}],"processors":[{"drop_events":false,"id":"quota-1","include":"*","inputs":["source-1"],"limit":{"enforce":"events","limit":1000},"name":"MyQuota","overflow_action":"drop","type":"quota"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"quota with overflow_action"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"errors":[{"title":"drop_events and overflow_action cannot both be present","meta":{"field":"drop_events","id":"quota-1","message":"drop_events and overflow_action cannot both be present"}}]}
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 121.338875ms
