---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogApplicationKeyDatasource_matchId-local-1627995126 2"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateCurrentUserApplicationKey
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
    method: POST
  response:
    body: '{"data":{"type":"application_keys","id":"c32d1fa1-da84-5944-9c49-853ddf5f30ee","attributes":{"name":"tf-TestAccDatadogApplicationKeyDatasource_matchId-local-1627995126 2","created_at":"2021-08-03T12:52:09.133934+00:00","last4":"119a","key":"2b07bca09d37bef8bb075ab4b3b5ebbd5ac5119a"},"relationships":{"owned_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "200"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "172"
      X-Ratelimit-Reset:
      - "471"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetCurrentUserApplicationKey
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/441f62dd-e1d3-5b1a-95f4-44d35c85d0d0
    method: GET
  response:
    body: '{"included":[{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928","attributes":{"name":"Bartosz Janda","handle":"janda.bartosz@bcg.com","created_at":"2021-01-13T10:33:34.050067+00:00","modified_at":"2021-08-02T10:48:26.430954+00:00","email":"janda.bartosz@bcg.com","icon":"https://secure.gravatar.com/avatar/6dd3ecad162a6c2f1b7296931b3c341f?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[{"type":"roles","id":"956f96c6-f490-11e9-a77b-5f92b9cd1bb2"}]}}},{"type":"roles","id":"956f96c6-f490-11e9-a77b-5f92b9cd1bb2","attributes":{"name":"Datadog Admin Role","created_at":"2019-10-22T05:55:43.108652+00:00","modified_at":"2019-10-22T05:55:43.108652+00:00"}}],"data":{"type":"application_keys","id":"441f62dd-e1d3-5b1a-95f4-44d35c85d0d0","attributes":{"name":"tf-TestAccDatadogApplicationKeyDatasource_matchId-local-1627995126 1","created_at":"2021-08-03T12:52:09.137012+00:00","last4":"68aa","key":"e326753776b1047b31e653777de6df81fdfc68aa"},"relationships":{"owned_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetCurrentUserApplicationKey
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/441f62dd-e1d3-5b1a-95f4-44d35c85d0d0
    method: GET
  response:
    body: '{"errors": ["Application key not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
