---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"domain_prefix":"test-status-page-updated-1787184434","name":"test-status-page-updated-1787184434","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"feb04977-17fe-4a1e-a588-3f645cb18de1","type":"status_pages","attributes":{"company_logo":null,"components":[],"created_at":"2026-08-20T00:07:18.073135Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-status-page-updated-1787184434","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-20T00:07:18.073135Z","name":"test-status-page-updated-1787184434","page_url":"https://frog.datadoghq.com/status-pages/feb04977-17fe-4a1e-a588-3f645cb18de1/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.22082475s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/feb04977-17fe-4a1e-a588-3f645cb18de1
        method: GET
      response:
        body: '{"data":{"id":"feb04977-17fe-4a1e-a588-3f645cb18de1","type":"status_pages","attributes":{"company_logo":null,"components":[],"created_at":"2026-08-20T00:07:18.073135Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-status-page-updated-1787184434","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-20T00:07:18.073135Z","name":"test-status-page-updated-1787184434","page_url":"https://frog.datadoghq.com/status-pages/feb04977-17fe-4a1e-a588-3f645cb18de1/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 113.476292ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/feb04977-17fe-4a1e-a588-3f645cb18de1
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 42.30725ms
