---
version: 1
interactions:
- request:
    body: |
      {"description":"a global variable","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_BASIC_LOCAL_1617196411","tags":["foo:bar","baz"],"value":{"secure":false,"value":"variable-value"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_extracted_at":null,"description":"a global variable","tags":["foo:bar","baz"],"parse_test_public_id":null,"value":{"secure":false,"value":"variable-value"},"id":"b72f4840-0701-441e-bb06-b36c29971197","parse_test_options":null,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_BASIC_LOCAL_1617196411","parse_test_name":null,"type":"variable"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - "35.4208607"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "116"
      X-Ratelimit-Reset:
      - "28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/b72f4840-0701-441e-bb06-b36c29971197
    method: GET
  response:
    body: '{"parse_test_extracted_at":null,"description":"a global variable","tags":["foo:bar","baz"],"parse_test_public_id":null,"value":{"secure":false,"value":"variable-value"},"id":"b72f4840-0701-441e-bb06-b36c29971197","parse_test_options":null,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_BASIC_LOCAL_1617196411","created_at":"2021-03-31T13:13:32.244874+00:00","modified_at":"2021-03-31T13:13:32.244874+00:00","created_by":1445416,"parse_test_name":null,"type":"variable"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      X-Dd-Version:
      - "35.4208607"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "100"
      X-Ratelimit-Reset:
      - "28"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/b72f4840-0701-441e-bb06-b36c29971197
    method: GET
  response:
    body: '{"errors": ["Synthetics variable not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4208607"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "96"
      X-Ratelimit-Reset:
      - "27"
    status: 404 Not Found
    code: 404
    duration: ""
