---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/metrics/%22foo.bar%22/active-configurations
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"actively_queried_configurations","id":"\"foo.bar\"","attributes":{"active_tags":[],"active_aggregations":[]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 302.846208ms
