---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1749222072","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":null,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","restricted_roles":null,"tags":[],"type":"rum alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 418.412958ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1749222072","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":null,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","restricted_roles":null,"tags":[],"type":"rum alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":174341712,"org_id":321813,"type":"rum alert","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1749222072","message":"test","tags":[],"query":"formula(\"var1 + var2\").last(\"5m\") > 100","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100.0},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}],"notify_audit":false,"groupby_simple_monitor":false,"silenced":{}},"multi":false,"created_at":1749222073000,"created":"2025-06-06T15:01:13.503704+00:00","modified":"2025-06-06T15:01:13.503704+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.635625ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1749222072","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":null,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","restricted_roles":null,"tags":[],"type":"rum alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/174341712/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 301.056916ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/174341712
        method: GET
      response:
            - chunked
        body: |
            {"id":174341712,"org_id":321813,"type":"rum alert","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1749222072","message":"test","tags":[],"query":"formula(\"var1 + var2\").last(\"5m\") > 100","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100.0},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}],"notify_audit":false,"groupby_simple_monitor":false,"silenced":{}},"multi":false,"created_at":1749222073000,"created":"2025-06-06T15:01:13.503704+00:00","modified":"2025-06-06T15:01:13.503704+00:00","deleted":null,"priority":null,"restricted_roles":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.019834ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/174341712
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":174341712}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.38775ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/174341712
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 301.906292ms
