---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test rule description","enabled":true,"level":1,"name":"tf-TestAccDatadogScorecardRule_Import-local-1778786897","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Import-local-1778786897-scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scorecard/rules
        method: POST
      response:
        body: '{"data":{"id":"h43lgc53wo4vcpfx","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Import-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.34031426Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-05-14T19:28:19.34031426Z","name":"tf-TestAccDatadogScorecardRule_Import-local-1778786897","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Import-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"h43lgc53wo4vcpfx","type":"policy-scope"}},"scorecard":{"data":{"id":"HtC-iGbzEZ1Q","type":"scorecard"}}}},"included":[{"id":"h43lgc53wo4vcpfx","type":"policy-scope","attributes":{"scopes":[{"kind":"service","query":"has_definition:\"true\""},{"kind":"queue","query":"has_definition:\"true\""},{"kind":"datastore","query":"has_definition:\"true\""}]}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 447.151041ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=h43lgc53wo4vcpfx&page%5Bsize%5D=1
        method: GET
      response:
        body: '{"data":[{"id":"h43lgc53wo4vcpfx","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Import-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.340314Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-05-14T19:28:19.340314Z","name":"tf-TestAccDatadogScorecardRule_Import-local-1778786897","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Import-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"h43lgc53wo4vcpfx","type":"policy-scope"}},"scorecard":{"data":{"id":"HtC-iGbzEZ1Q","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=h43lgc53wo4vcpfx\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 87.098666ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules/h43lgc53wo4vcpfx
        method: DELETE
      response:
        body: '{"data":{"id":"h43lgc53wo4vcpfx","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Import-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.340314Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-05-14T19:28:19.340314Z","name":"tf-TestAccDatadogScorecardRule_Import-local-1778786897","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Import-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"h43lgc53wo4vcpfx","type":"policy-scope"}},"scorecard":{"data":{"id":"HtC-iGbzEZ1Q","type":"scorecard"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 674.019625ms
[...]
