---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["remap-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"remap-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"remap-processor-1","include":"*","remaps":[{"drop_on_error":false,"enabled":true,"include":"service:web","name":"Parse JSON from message","source":". = parse_json!(string!(.message))"},{"drop_on_error":true,"enabled":true,"include":"env:prod","name":"Add timestamp","source":".timestamp = now()"}],"type":"custom_processor"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"remap-vrl-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"3f3b3582-d5c4-11f0-a3e5-da7ad0900002","type":"pipelines","attributes":{"name":"remap-vrl-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["remap-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"remap-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"remap-processor-1","include":"*","remaps":[{"drop_on_error":false,"enabled":true,"include":"service:web","name":"Parse JSON from message","source":". = parse_json!(string!(.message))"},{"drop_on_error":true,"enabled":true,"include":"env:prod","name":"Add timestamp","source":".timestamp = now()"}],"type":"custom_processor"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 812.716667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/3f3b3582-d5c4-11f0-a3e5-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"3f3b3582-d5c4-11f0-a3e5-da7ad0900002","type":"pipelines","attributes":{"name":"remap-vrl-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["remap-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"remap-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"remap-processor-1","include":"*","remaps":[{"drop_on_error":false,"enabled":true,"include":"service:web","name":"Parse JSON from message","source":". = parse_json!(string!(.message))"},{"drop_on_error":true,"enabled":true,"include":"env:prod","name":"Add timestamp","source":".timestamp = now()"}],"type":"custom_processor"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 456.470917ms
[...]
