---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"im a policy","enabled":true,"hostTags":["host_name:test_host"],"name":"rvvkkuinpn"},"type":"policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
        method: POST
      response:
        body: '{"data":{"id":"9cd-z0m-e2x","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":23,"name":"rvvkkuinpn","policyVersion":"1","priority":1000000070,"ruleCount":23,"updateDate":1749569913160,"updater":{"name":"Sarra ZAGHBIB","handle":"sarra.zaghbib@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 440.025042ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy/9cd-z0m-e2x
        method: GET
      response:
        body: '{"data":{"id":"9cd-z0m-e2x","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":0,"name":"rvvkkuinpn","policyVersion":"1","priority":1000000070,"ruleCount":0,"updateDate":1749569913160,"updater":{"name":"Sarra ZAGHBIB","handle":"sarra.zaghbib@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 366.782458ms
[...]
    - id: 7
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"actions":[{"set":{"append":false,"field":"exec.file.path","name":"test_action","scope":"process"}}],"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","name":"rvvkkuinpn","policy_id":"9cd-z0m-e2x","product_tags":["compliance_framework:PCI-DSS"]},"type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/agent_rules
        method: POST
      response:
        body: '{"data":{"id":"s5g-5tb-rqo","type":"agent_rule","attributes":{"actions":[{"set":{"name":"test_action","field":"exec.file.path","scope":"process"},"disabled":false}],"category":"File Activity","creationDate":1749569916665,"creator":{"name":"Sarra ZAGHBIB","handle":"sarra.zaghbib@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["9cd-z0m-e2x"],"name":"rvvkkuinpn","product_tags":["compliance_framework:PCI-DSS"],"updateDate":1749569916665,"updater":{"name":"Sarra ZAGHBIB","handle":"sarra.zaghbib@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 687.141875ms
    - id: 8
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/agent_rules/s5g-5tb-rqo?policy_id=9cd-z0m-e2x
        method: GET
      response:
        body: '{"data":{"id":"s5g-5tb-rqo","type":"agent_rule","attributes":{"actions":[{"set":{"name":"test_action","field":"exec.file.path","scope":"process"},"disabled":false}],"category":"File Activity","creationDate":1749569916665,"creator":{"name":"Sarra ZAGHBIB","handle":"sarra.zaghbib@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["9cd-z0m-e2x"],"name":"rvvkkuinpn","product_tags":["compliance_framework:PCI-DSS"],"updateDate":1749569916665,"updater":{"name":"Sarra ZAGHBIB","handle":"sarra.zaghbib@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.892792ms
[...]
    - id: 13
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"actions":[{"set":{"append":true,"name":"updated_action","scope":"container","value":"new_value"}}],"description":"updated agent rule for terraform provider test","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","policy_id":"9cd-z0m-e2x","product_tags":["compliance_framework:ISO-27799"]},"id":"s5g-5tb-rqo","type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/agent_rules/s5g-5tb-rqo
        method: PATCH
      response:
        body: '{"data":{"id":"s5g-5tb-rqo","type":"agent_rule","attributes":{"actions":[{"set":{"name":"updated_action","value":"new_value","append":true,"scope":"container"},"disabled":false}],"category":"File Activity","creationDate":1749569916665,"creator":{"name":"Sarra ZAGHBIB","handle":"sarra.zaghbib@datadoghq.com"},"defaultRule":false,"description":"updated agent rule for terraform provider test","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["9cd-z0m-e2x"],"name":"rvvkkuinpn","product_tags":["compliance_framework:ISO-27799"],"updateDate":1749569919433,"updater":{"name":"Sarra ZAGHBIB","handle":"sarra.zaghbib@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 393.191708ms
[...]
    - id: 19
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/agent_rules/s5g-5tb-rqo?policy_id=9cd-z0m-e2x
        method: GET
      response:
        body: |
            {"errors":[{"title":"failed to get rule"}]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 218.159459ms
