---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"UTC","monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"mute_first_recovery_notification":false,"notify_end_types":[],"schedule":{"end":null,"start":"2050-01-02T03:04:05Z"},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689527315)"},"type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime
    method: POST
  response:
    body: |
      {"data":{"type":"downtime","relationships":{"monitor":{"data":null},"created_by":{"data":{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92"}}},"attributes":{"status":"scheduled","scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689527315)","monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"display_timezone":"UTC","mute_first_recovery_notification":false,"schedule":{"start":"2050-01-02T03:04:05+00:00","end":null},"notify_end_states":["warn","no data","alert"],"created":"2023-07-16T17:08:37.058324+00:00","canceled":null,"notify_end_types":[],"modified":"2023-07-16T17:08:37.058324+00:00","message":null},"id":"6738af24-23fb-11ee-9c18-da7ad0900002"},"included":[{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92","attributes":{"name":"Carl Martensen","handle":"carl.martensen@datadoghq.com","created_at":"2019-01-15T14:36:15.423919+00:00","modified_at":"2019-01-15T14:36:15.457748+00:00","email":"carl.martensen@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ed460c2fc567a43e34c2bd7cda76bdd1?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/downtime/6738af24-23fb-11ee-9c18-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"downtime","attributes":{"display_timezone":"UTC","canceled":null,"modified":"2023-07-16T17:08:37.058324+00:00","schedule":{"start":"2050-01-02T03:04:05+00:00","end":null},"status":"scheduled","created":"2023-07-16T17:08:37.058324+00:00","message":null,"mute_first_recovery_notification":false,"notify_end_types":[],"notify_end_states":["warn","no data","alert"],"monitor_identifier":{"monitor_tags":["mat:sat","cat:hat"]},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689527315)"},"id":"6738af24-23fb-11ee-9c18-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
