---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"test description","handle":"fake-handle","icon_url":"test url","name":"new-framework-terraform","requirements":[{"controls":[{"name":"control1","rules_id":["def-000-be9"]}],"name":"requirement1"}],"version":"fake-version"},"type":"custom_framework"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
        method: POST
      response:
        body: '{"data":{"id":"fake-handle-fake-version","type":"custom_framework","attributes":{"handle":"fake-handle","version":"fake-version"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 376.17375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/fake-handle/fake-version
        method: GET
      response:
        body: '{"data":{"id":"fake-handle-fake-version","type":"custom_framework","attributes":{"description":"test description","handle":"fake-handle","icon_url":"test url","name":"new-framework-terraform","requirements":[{"name":"requirement1","controls":[{"name":"control1","rules_id":["def-000-be9"]}]}],"version":"fake-version"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 217.58925ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/fake-handle/fake-version
        method: GET
      response:
        body: '{"errors":[{"status":"400","title":"Bad Request"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 41.793375ms
