---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSplitGraph-local-1773671384","widgets":[{"definition":{"has_uniform_y_axes":false,"size":"md","source_widget_definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"has_value_labels":false,"line_type":"solid","line_width":"thin","palette":"dog_classic"}}],"show_legend":false,"title":"system.cpu.user","title_align":"left","title_size":"16","type":"timeseries"},"split_config":{"limit":24,"sort":{"order":"asc"},"split_dimensions":[{"one_graph_per":"service"}]},"time":{"live_span":"5m"},"title":"Terraform Split Graph Widget","type":"split_group"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"tqy-dvv-fdr","title":"tf-TestAccDatadogDashboardSplitGraph-local-1773671384","description":"Created using the Datadog provider in Terraform","author_handle":"becca.jellinek@datadoghq.com","author_name":"Becca Jellinek","layout_type":"ordered","url":"/dashboard/tqy-dvv-fdr/tf-testaccdatadogdashboardsplitgraph-local-1773671384","template_variables":[],"widgets":[{"definition":{"has_uniform_y_axes":false,"size":"md","source_widget_definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"has_value_labels":false,"line_type":"solid","line_width":"thin","palette":"dog_classic"}}],"show_legend":false,"title":"system.cpu.user","title_align":"left","title_size":"16","type":"timeseries"},"split_config":{"limit":24,"sort":{"order":"asc"},"split_dimensions":[{"one_graph_per":"service"}]},"time":{"live_span":"5m"},"title":"Terraform Split Graph Widget","type":"split_group"},"id":289451655628046}],"notify_list":[],"created_at":"2026-03-16T14:29:46.306736+00:00","modified_at":"2026-03-16T14:29:46.306736+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.411791ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/tqy-dvv-fdr
        method: GET
      response:
            - chunked
        body: '{"id":"tqy-dvv-fdr","title":"tf-TestAccDatadogDashboardSplitGraph-local-1773671384","description":"Created using the Datadog provider in Terraform","author_handle":"becca.jellinek@datadoghq.com","author_name":"Becca Jellinek","layout_type":"ordered"[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/tqy-dvv-fdr
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"tqy-dvv-fdr"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 319.057542ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/tqy-dvv-fdr
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID tqy-dvv-fdr not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 155.766542ms
