---
version: 2
interactions:
- id: 0
  request:
    host: api.datadoghq.com
    body: '{"data":{"attributes":{"name":"tf-TestAccDatadogFleetSchedule_Lifecycle-local-1789474278","query":"env:terraform-fleet-test
      host:nonexistent-1789474278","rule":{"days_of_week":["Tue"],"maintenance_window_duration":60,"start_maintenance_window":"03:00","timezone":"UTC"},"status":"inactive","version_to_latest":1},"type":"schedule"}}

'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/unstable/fleet/schedules
    method: POST
  response:
    body: '{"data":{"id":"IsV-EoP-Vhq","type":"schedule","attributes":{"created_at_unix":1789474279,"created_by":"test@example.com","is_default":false,"name":"tf-TestAccDatadogFleetSchedule_Lifecycle-local-1789474278","next_run":"2026-09-22T03:00:00Z","query":"env:terraform-fleet-test
      host:nonexistent-1789474278","rule":{"days_of_week":["Tue"],"start_maintenance_window":"0300","maintenance_window_duration":60,"timezone":"UTC"},"status":"inactive","updated_at_unix":1789474279,"updated_by":"test@example.com","version_to_latest":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
    code: 201
    duration: 56.141958ms
- id: 1
  request:
    host: api.datadoghq.com
    body: '{"data":{"attributes":{"status":"inactive","version_to_latest":1},"type":"schedule"}}

'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/unstable/fleet/schedules/IsV-EoP-Vhq
    method: PATCH
  response:
    body: '{"data":{"id":"IsV-EoP-Vhq","type":"schedule","attributes":{"created_at_unix":1789474279,"created_by":"test@example.com","is_default":false,"name":"tf-TestAccDatadogFleetSchedule_Lifecycle-local-1789474278","next_run":"2026-09-22T03:00:00Z","query":"env:terraform-fleet-test
      host:nonexistent-1789474278","rule":{"days_of_week":["Tue"],"start_maintenance_window":"0300","maintenance_window_duration":60,"timezone":"UTC"},"status":"inactive","updated_at_unix":1789474279,"updated_by":"test@example.com","version_to_latest":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: 75.32875ms
- id: 2
  request:
    host: api.datadoghq.com
    body: ''
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/fleet/schedules/IsV-EoP-Vhq
    method: GET
  response:
    body: '{"data":{"id":"IsV-EoP-Vhq","type":"schedule","attributes":{"created_at":"2026-09-15T12:11:19Z","created_by":"test@example.com","is_default":false,"name":"tf-TestAccDatadogFleetSchedule_Lifecycle-local-1789474278","next_run":"2026-09-22T03:00:00Z","query":"env:terraform-fleet-test
      host:nonexistent-1789474278","rule":{"days_of_week":["Tue"],"start_maintenance_window":"0300","maintenance_window_duration":60,"timezone":"UTC"},"status":"inactive","updated_at":"2026-09-15T12:11:19Z","updated_by":"test@example.com","version_to_latest":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: 50.912583ms
[...]
- id: 4
  request:
    host: api.datadoghq.com
    body: ''
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/fleet/schedules
    method: GET
  response:
    body: '{"data":[{"id":"IsV-EoP-Vhq","type":"schedule","attributes":{"created_at":"2026-09-15T12:11:19Z","created_by":"test@example.com","is_default":false,"name":"tf-TestAccDatadogFleetSchedule_Lifecycle-local-1789474278","next_run":"2026-09-22T03:00:00Z","query":"env:terraform-fleet-test
      host:nonexistent-1789474278","rule":{"days_of_week":["Tue"],"start_maintenance_window":"0300","maintenance_window_duration":60,"timezone":"UTC"},"status":"inactive","updated_at":"2026-09-15T12:11:19Z","updated_by":"test@example.com","version_to_latest":1}}],"meta":{"page":{"total_count":1}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: 80.530583ms
[...]
- id: 24
  request:
    host: api.datadoghq.com
    body: ''
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/fleet/schedules/IsV-EoP-Vhq
    method: GET
  response:
    body: '{"errors":[{"status":"404","title":"Schedule Not Found","detail":"schedule
      not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
    code: 404
    duration: 47.425084ms
[...]
