---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Standard+Role
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"roles","id":"7187962c-2fb9-11ed-8384-da7ad0900002","attributes":{"name":"Datadog Standard Role","created_at":"2022-09-08T21:01:44.479379+00:00","modified_at":"2022-09-08T21:01:44.479379+00:00","user_count":2},"relationships":{"permissions":{"data":[{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987"},{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"62cc036c-dd12-11e8-9e54-db9995643092"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"7d7c98ac-dd12-11e8-9e56-93700598622d"},{"type":"permissions","id":"811ac4ca-dd12-11e8-9e57-676a7f0beef9"},{"type":"permissions","id":"84aa3ae4-dd12-11e8-9e58-a373a514ccd0"},{"type":"permissions",[...]
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccuserrolebasic-local-1710339167@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"c5ef7d93-e143-11ee-a011-e226c55d0fc3","attributes":{"name":null,"handle":"tf-testaccuserrolebasic-local-1710339167@example.com","created_at":"2024-03-13T14:12:49.492956+00:00","modified_at":"2024-03-13T14:12:49.492956+00:00","email":"tf-testaccuserrolebasic-local-1710339167@example.com","icon":"https://secure.gravatar.com/avatar/ddcd15654598c4ebfb12cc18267f75e7?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"7187962a-2fb9-11ed-8384-da7ad0900002"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 560.508833ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"c5ef7d93-e143-11ee-a011-e226c55d0fc3","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"c6273658-e143-11ee-803d-da7ad0900002","attributes":{"uuid":"c6273658-e143-11ee-803d-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2024-03-13T14:12:49.857765+00:00","expires_at":"2024-03-15T14:12:49.677948+00:00"},"relationships":{"user":{"data":{"type":"users","id":"c5ef7d93-e143-11ee-a011-e226c55d0fc3"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 341.237459ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"c5ef7d93-e143-11ee-a011-e226c55d0fc3","type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles/7187962c-2fb9-11ed-8384-da7ad0900002/users
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"69557843-3142-488e-bb3a-4e2f6c767c3[...]
