---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"end":1768922013,"message":"tf-TestAccDatadogDowntime_RRule-local-1768832013","monitor_tags":["*"],"recurrence":{"rrule":"FREQ=MONTHLY;BYSETPOS=3;BYDAY=WE;INTERVAL=1","type":"rrule"},"scope":["scope:RRuleRecurrence"],"start":1768835613,"timezone":"UTC"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/downtime
        method: POST
      response:
            - chunked
        body: |
            {"id":6253332517,"monitor_id":null,"org_id":321813,"start":1768835613,"end":1768922013,"canceled":null,"created":1768832024,"modified":1768832024,"message":"tf-TestAccDatadogDowntime_RRule-local-1768832013","active":false,"disabled":false,"recurrence":{"type":"rrule","rrule":"FREQ=MONTHLY;BYSETPOS=3;BYDAY=WE;INTERVAL=1"},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":2,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"aeed950e-2159-4ce2-9222-dc500c3e7a2c","scope":["scope:RRuleRecurrence"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 10.419473541s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/downtime/6253332517
        method: GET
      response:
            - chunked
        body: |
            {"id":6253332517,"monitor_id":null,"org_id":321813,"start":1768835613,"end":1768922013,"canceled":null,"created":1768832024,"modified":1768832024,"message":"tf-TestAccDatadogDowntime_RRule-local-1768832013","active":false,"disabled":false,"recurrence":{"type":"rrule","rrule":"FREQ=MONTHLY;BYSETPOS=3;BYDAY=WE;INTERVAL=1"},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":2,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"aeed950e-2159-4ce2-9222-dc500c3e7a2c","scope":["scope:RRuleRecurrence"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.517417ms
[...]
