---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2DistributionHistogram-local-1778266524","widgets":[{"definition":{"requests":[{"query":{"data_source":"metrics","name":"query1","query":"avg:container.cpu.usage.dist{*}"},"request_type":"histogram","style":{"palette":"cool"}}],"show_legend":false,"title":"CPU Usage Distribution","type":"distribution"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"pch-5qj-iwh","title":"tf-TestAccDatadogDashboardV2DistributionHistogram-local-1778266524","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/pch-5qj-iwh/tf-testaccdatadogdashboardv2distributionhistogram-local-1778266524","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"metrics","name":"query1","query":"avg:container.cpu.usage.dist{*}"},"request_type":"histogram","style":{"palette":"cool"}}],"show_legend":false,"title":"CPU Usage Distribution","type":"distribution"},"id":301289134539029}],"notify_list":[],"created_at":"2026-05-08T18:55:26.955866+00:00","modified_at":"2026-05-08T18:55:26.955866+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.085125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/pch-5qj-iwh
        method: GET
      response:
            - chunked
        body: '{"id":"pch-5qj-iwh","title":"tf-TestAccDatadogDashboardV2DistributionHistogram-local-1778266524","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/pch-5qj-iwh/tf-testaccdatadogdashboardv2distributionhistogram-local-1778266524","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"metrics","name":"query1","query":"avg:container.cpu.usage.dist{*}"},"request_type":"histogram","style":{"palette":"cool"}}],"show_legend":false,"title":"CPU Usage Distribution","type":"distribution"},"id":301289134539029}],"notify_list":[],"created_at":"2026-05-08T18:55:26.955866+00:00","modified_at":"2026-05-08T18:55:26.955866+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.762042ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/pch-5qj-iwh
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"pch-5qj-iwh"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 414.324708ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/pch-5qj-iwh
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID pch-5qj-iwh not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 375.385084ms
