---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test incident type for notification template","is_default":false,"name":"test-ds-id-1758619445-it"},"type":"incident_types"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/incidents/config/types
        method: POST
      response:
        body: '{"data":{"id":"5075b570-c25b-42f0-b2c1-e282c9a34dc0","type":"incident_types","attributes":{"createdAt":"2025-09-23T09:24:08.925749927Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test incident type for notification template","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2025-09-23T09:24:08.925750009Z","name":"test-ds-id-1758619445-it","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 302.951542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-ds-id-1758619445\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","name":"test-ds-id-1758619445","subject":"SEV-2 Incident: test-ds-id-1758619445"},"relationships":{"incident_type":{"data":{"id":"5075b570-c25b-42f0-b2c1-e282c9a34dc0","type":"incident_types"}}},"type":"notification_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
        method: POST
      response:
        body: '{"data":{"id":"54180fa2-a013-4a47-8117-eb3ceba9e355","type":"notification_templates","attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-ds-id-1758619445\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","created":"2025-09-23T09:24:09.281358Z","modified":"2025-09-23T09:24:09.281358Z","name":"test-ds-id-1758619445","subject":"SEV-2 Incident: test-ds-id-1758619445"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"5075b570-c25b-42f0-b2c1-e282c9a34dc0","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 239.065083ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/54180fa2-a013-4a47-8117-eb3ceba9e355
        method: GET
      response:
        body: '{"data":{"id":"54180fa2-a013-4a47-8117-eb3ceba9e355","type":"notification_templates","attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-ds-id-1758619445\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","created":"2025-09-23T09:24:09.281358Z","modified":"2025-09-23T09:24:09.281358Z","name":"test-ds-id-1758619445","subject":"SEV-2 Incident: test-ds-id-1758619445"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"5075b570-c25b-42f0-b2c1-e282c9a34dc0","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 228.151208ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/types/5075b570-c25b-42f0-b2c1-e282c9a34dc0
        method: GET
      response:
        body: '{"data":{"id":"5075b570-c25b-42f0-b2c1-e282c9a34dc0","type":"incident_types","attributes":{"createdAt":"2025-09-23T09:24:08.925749Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test incident type for notification template","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2025-09-23T09:24:08.92575Z","name":"test-ds-id-1758619445-it","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 143.443458ms
[...]
