---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"name":"tf-TestDatadogDashListInDashboardJSON-local-1758619325"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
        method: POST
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2025-09-23T09:22:06.934130+00:00","dashboards":null,"dashboard_count":0,"id":591240,"is_favorite":false,"modified":"2025-09-23T09:22:06.934137+00:00","name":"tf-TestDatadogDashListInDashboardJSON-local-1758619325","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.940375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: "{\n   \"author_handle\":\"removed_handle\",\n   \"title\":\"tf-TestDatadogDashListInDashboardJSON-local-1758619325\",\n   \"description\":\"Created using the Datadog provider in Terraform\",\n   \"widgets\":[\n      {\n         \"id\":5436370674582587,\n         \"definition\":{\n            \"title\":\"Widget Title\",\n            \"type\":\"alert_value\",\n            \"alert_id\":\"895605\",\n            \"unit\":\"b\",\n            \"text_align\":\"center\",\n            \"precision\":3\n         }\n      }\n   ],\n   \"template_variables\":[\n      \n   ],\n   \"layout_type\":\"ordered\",\n   \"is_read_only\":true,\n   \"notify_list\":[\n      \n   ],\n   \"id\":\"5uw-bbj-xec\"\n}\n"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"errors":[{"id":null,"links":null,"status":"HTTPStatus.BAD_REQUEST","code":null,"title":"Bad Request","detail":"The is_read_only attribute is no longer supported. https://docs.datadoghq.com/dashboards/guide/is-read-only-deprecation/","source":null,"meta":null}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 138.485208ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/591240
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_list_id":591240}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 716.593166ms
[...]
