version: 2
interactions:
- request:
    body: |
      {"name":"tf-TestAccDatadogDashboardListDatasource-local-1690985857"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
    id: 0
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-08-02T14:17:40.075467+00:00","dashboards":null,"dashboard_count":0,"id":405189,"is_favorite":false,"modified":"2023-08-02T14:17:40.075473+00:00","name":"tf-TestAccDatadogDashboardListDatasource-local-1690985857","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: GET
    id: 1
  response:
    body: |
      {"dashboard_lists":[{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2020-09-08T07:12:57.679027+00:00","dashboards":null,"dashboard_count":0,"id":126798,"is_favorite":true,"modified":"2020-09-09T08:48:11.523877+00:00","name":"frog's List","type":"manual_dashboard_list"},{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-08-02T14:14:42.047870+00:00","dashboards":null,"dashboard_count":2,"id":405186,"is_favorite":false,"modified":"2023-08-02T14:16:47.477436+00:00","name":"Terraform[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405189
    method: GET
    id: 3
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-08-02T14:17:40.075467+00:00","dashboards":null,"dashboard_count":0,"id":405189,"is_favorite":false,"modified":"2023-08-02T14:17:40.075473+00:00","name":"tf-TestAccDatadogDashboardListDatasource-local-1690985857","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/405189/dashboards
    method: GET
    id: 4
  response:
    body: |
      {"dashboards":[],"total":0}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405189
    method: DELETE
    id: 7
  response:
    body: |
      {"deleted_dashboard_list_id":405189}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405189
    method: GET
    id: 8
  response:
    body: '{"errors":["Manual Dashboard List with id 405189 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
[...]
