---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"api_version":"v7","bulk_index":"logs-datastream","id":"elasticsearch-destination-1","inputs":["source-1"],"type":"elasticsearch"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"elasticsearch-dest-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"fb2bbba6-db58-11f0-b57e-da7ad0900002","type":"pipelines","attributes":{"name":"elasticsearch-dest-pipeline","config":{"destinations":[{"api_version":"v7","bulk_index":"logs-datastream","id":"elasticsearch-destination-1","inputs":["source-1"],"type":"elasticsearch"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 769.396333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/fb2bbba6-db58-11f0-b57e-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"fb2bbba6-db58-11f0-b57e-da7ad0900002","type":"pipelines","attributes":{"name":"elasticsearch-dest-pipeline","config":{"destinations":[{"api_version":"v7","bulk_index":"logs-datastream","id":"elasticsearch-destination-1","inputs":["source-1"],"type":"elasticsearch"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 255.858417ms
[...]
