---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallscheduleupdate-local-1746160046","name":"team-tf-testacconcallscheduleupdate-local-1746160046"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"a4c6fe20-d679-4a35-bcdb-14ba97c72798","attributes":{"name":"team-tf-testacconcallscheduleupdate-local-1746160046","handle":"team-tf-testacconcallscheduleupdate-local-1746160046","summary":"Description","description":"Description","avatar":null,"banner":0,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-02T04:27:29.473642+00:00","modified_at":"2025-05-02T04:27:29.473651+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a4c6fe20-d679-4a35-bcdb-14ba97c72798/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a4c6fe20-d679-4a35-bcdb-14ba97c72798/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.015490167s
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallscheduleupdate-local-1746160046@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"c2739b73-270d-11f0-b0eb-ee6faf7ba39b","attributes":{"name":null,"handle":"tf-testacconcallscheduleupdate-local-1746160046@example.com","created_at":"2025-05-02T04:27:29.890008+00:00","modified_at":"2025-05-02T04:27:29.890008+00:00","email":"tf-testacconcallscheduleupdate-local-1746160046@example.com","icon":"https://secure.gravatar.com/avatar/a2647ee284d165e38a946e4a8c075450?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.323706875s
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"c2739b73-270d-11f0-b0eb-ee6faf7ba39b","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"c2bf7e74-270d-11f0-8fcb-da7ad0900002","attributes":{"uuid":"c2bf7e74-270d-11f0-8fcb-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-05-02T04:27:30.387148+00:00","expires_at":"2025-05-04T04:27:30.237021+00:00"},"relationships":{"user":{"data":{"type":"users","id":"c2739b73-270d-11f0-b0eb-ee6faf7ba39b"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 490.536875ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","end_date":"2026-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"c2739b73-270d-11f0-b0eb-ee6faf7ba39b"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"tf-testacconcallscheduleupdate-local-1746160046","tags":["foo:bar"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"a4c6fe20-d679-4a35-bcdb-14ba97c72798","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"81be1277-167d-4c93-8e8c-25bbfdedaa00","type":"schedules","attributes":{"name":"tf-testacconcallscheduleupdate-local-1746160046","tags":["foo:bar"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"ef476360-080c-4b81-b1b8-e8b32df05177","type":"layers"}]},"teams":{"data":[{"id":"a4c6fe20-d679-4a35-bcdb-14ba97c72798","type":"teams"}]}}},"included":[{"id":"ef476360-080c-4b81-b1b8-e8b32df05177","type":"layers","attributes":{"effective_date":"2025-05-02T04:27:30.670889193Z","end_date":"2026-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"ef476360-080c-4b81-b1b8-e8b32df05177-member-1","type":"members"},{"id":"ef476360-080c-4b81-b1b8-e8b32df05177-member-2","type":"members"}]}}},{"id":"ef476360-080c-4b81-b1b8-e8b32df05177-member-1","type":"members","relationships":{"user":{"data":{"id":"c2739b73-270d-11f0-b0eb-ee6faf7ba39b","type":"users"}}}},{"id":"c2739b73-270d-11f0-b0eb-ee6faf7ba39b","type":"users","attributes":{"email":"tf-testacconcallscheduleupdate-local-1746160046@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 257.841667ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/c2739b73-270d-11f0-b0eb-ee6faf7ba39b
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"c2739b73-270d-11f0-b0eb-ee6faf7ba39b","attributes":{"name":null,"handle":"tf-testacconcallscheduleupdate-local-1746160046@example.com","created_at":"2025-05-02T04:27:29.890008+00:00","modified_at":"2025-05-02T04:27:29.890008+00:00","email":"tf-testacconcallscheduleupdate-local-1746160046@example.com","icon":"https://secure.gravatar.com/avatar/a2647ee284d165e38a946e4a8c075450?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.225084ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/a4c6fe20-d679-4a35-bcdb-14ba97c72798
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"team","attributes":{"description":"Description","link_count":0,"is_managed":false,"name":"team-tf-testacconcallscheduleupdate-local-1746160046","handle":"team-tf-testacconcallscheduleupdate-local-1746160046","summary":"Description","created_at":"2025-05-02T04:27:29.473642+00:00","modified_at":"2025-05-02T04:27:29.473651+00:00","user_count":0},"id":"a4c6fe20-d679-4a35-bcdb-14ba97c72798","relationships":{"user_team_permissions":{"links":{"related":"/api/v2/team/a4c6fe20-d679-4a35-bcdb-14ba97c72798/permission-settings"}},"team_links":{"links":{"related":"/api/v2/team/a4c6fe20-d679-4a35-bcdb-14ba97c72798/links"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 305.616125ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/81be1277-167d-4c93-8e8c-25bbfdedaa00?include=layers%2Clayers.members%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"81be1277-167d-4c93-8e8c-25bbfdedaa00","type":"schedules","attributes":{"name":"tf-testacconcallscheduleupdate-local-1746160046","tags":["foo:bar"],"time_zone":"America/N[...]
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/81be1277-167d-4c93-8e8c-25bbfdedaa00
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 242.385542ms
[...]
