---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"prod","identifier":"tf-TestAccDeploymentRuleBasic-local-1762264610","service":"test-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"157c8afb-ec62-4ed5-8f96-7cfa2b51b1d5","type":"deployment_gate","attributes":{"created_at":"2025-11-04T13:56:52.582185Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"prod","identifier":"tf-TestAccDeploymentRuleBasic-local-1762264610","service":"test-service","updated_at":"2025-11-04T13:56:52.582185Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 272.997917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"My deployment rule","options":{"duration":10,"excluded_resources":["resource1"]},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/157c8afb-ec62-4ed5-8f96-7cfa2b51b1d5/rules
        method: POST
      response:
        body: '{"data":{"id":"5652dae6-1139-4fef-a99f-031199525314","type":"deployment_rule","attributes":{"created_at":"2025-11-04T13:56:52.881945Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"157c8afb-ec62-4ed5-8f96-7cfa2b51b1d5","name":"My deployment rule","options":{"duration":10,"excluded_resources":["resource1"]},"type":"faulty_deployment_detection","updated_at":"2025-11-04T13:56:52.881945Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 228.862ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/157c8afb-ec62-4ed5-8f96-7cfa2b51b1d5
        method: GET
      response:
        body: '{"data":{"id":"157c8afb-ec62-4ed5-8f96-7cfa2b51b1d5","type":"deployment_gate","attributes":{"created_at":"2025-11-04T13:56:52.582185Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"prod","identifier":"tf-TestAccDeploymentRuleBasic-local-1762264610","service":"test-service","updated_at":"2025-11-04T13:56:52.582185Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 327.078208ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/157c8afb-ec62-4ed5-8f96-7cfa2b51b1d5/rules/5652dae6-1139-4fef-a99f-031199525314
        method: GET
      response:
        body: '{"data":{"id":"5652dae6-1139-4fef-a99f-031199525314","type":"deployment_rule","attributes":{"created_at":"2025-11-04T13:56:52.881945Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"157c8afb-ec62-4ed5-8f96-7cfa2b51b1d5","name":"My deployment rule","options":{"duration":10,"excluded_resources":["resource1"]},"type":"faulty_deployment_detection","updated_at":"2025-11-04T13:56:52.881945Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 213.503458ms
[...]
