---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"second-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:second"},"reference_table":null}]},"id":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesetOrder_Basic-local-1759254118","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"a2fd0c95-b4bc-4422-a2a1-aef44ab1c389","type":"ruleset","attributes":{"created":{"seconds":1759254119,"nanos":249882000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759254119,"nanos":249882000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesetOrder_Basic-local-1759254118","position":2,"rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3608120}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 129.811167ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[{"id":"1b680ec0-8e29-4b79-bb01-45f0c645a789","type":"ruleset","attributes":{"created":{"seconds":1758041403,"nanos":117388000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758041403,"nanos":117388000},"name":"New Ruleset","position":1,"processing_status":"error","rules":[{"name":"Add Cost Center Tag","enabled":true,"query":{"query":"account_id:\"123456789\" AND service:\"web-api\"","addition":{"key":"cost_center","value":"engineering"},"if_not_exists":true,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3603412}},{"id":"a2fd0c95-b4bc-4422-a2a1-aef44ab1c389","type":"ruleset","attributes":{"created":{"seconds":1759254119,"nanos":249882000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a7[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"6b1b52e4-8d05-4a5e-aaba-1a853da48282","type":"ruleset"},{"id":"a2fd0c95-b4bc-4422-a2a1-aef44ab1c389","type":"ruleset"},{"id":"21867f0c-5522-44bd-8edd-022a21f7757c","type":"ruleset"},{"id":"1b680ec0-8e29-4b79-bb01-45f0c645a789","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 54.838875ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/21867f0c-5522-44bd-8edd-022a21f7757c
        method: GET
      response:
        body: '{"data":{"id":"21867f0c-5522-44bd-8edd-022a21f7757c","type":"ruleset","attributes":{"created":{"seconds":1759254119,"nanos":255953000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759254119,"nanos":255953000},"name":"tf-test-order-third-tf-TestAccDatadogTagPipelineRulesetOrder_Basic-local-1759254118","position":3,"processing_status":"error","rules":[{"name":"third-rule","enabled":true,"query":{"query":"service:third","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3608121}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 99.968375ms
[...]
