---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_noinvitation-local-1615926497@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"251a5d72-8696-11eb-9814-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_noinvitation-local-1615926497@example.com","created_at":"2021-03-16T20:28:19.062111+00:00","email":"tf-testaccdatadoguser_noinvitation-local-1615926497@example.com","icon":"https://secure.gravatar.com/avatar/d33d0c6a3fbf02b50003fb2921010b84?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/251a5d72-8696-11eb-9814-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"251a5d72-8696-11eb-9814-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_noinvitation-local-1615926497@example.com","created_at":"2021-03-16T20:28:19.062111+00:00","email":"tf-testaccdatadoguser_noinvitation-local-1615926497@example.com","icon":"https://secure.gravatar.com/avatar/d33d0c6a3fbf02b50003fb2921010b84?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
