---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"}],"configVariables":[],"request":{"method":"GET","timeout":30,"url":"https://www.datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1758324241","options":{"follow_redirects":true,"httpVersion":"any","min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0},"tick_every":60},"status":"paused","subtype":"http","tags":[],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"h8p-7zg-gsf","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1758324241","status":"paused","type":"api","subtype":"http","tags":[],"created_at":"2025-09-19T23:24:03.493852+00:00","modified_at":"2025-09-19T23:24:03.493852+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"}],"configVariables":[],"request":{"method":"GET","timeout":30,"url":"https://www.datadoghq.com"}},"message":"","options":{"follow_redirects":true,"httpVersion":"any","min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"tick_every":60},"locations":["aws:eu-central-1"],"created_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":216264692,"org_id":321813,"modified_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"creation_source":"terraform"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 435.500041ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/h8p-7zg-gsf
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"h8p-7zg-gsf","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1758324241","status":"paused","type":"api","subtype":"http","tags":[],"created_at":"2025-09-19T23:24:03.493852+00:00","modified_at":"2025-09-19T23:24:03.493852+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"}],"configVariables":[],"request":{"method":"GET","timeout":30,"url":"https://www.datadoghq.com"}},"message":"","options":{"follow_redirects":true,"httpVersion":"any","min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"tick_every":60},"locations":["aws:eu-central-1"],"monitor_id":216264692,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.550625ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a global variable with dynamic blocks","is_fido":false,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1758324241","parse_test_options":{"field":"content-type","parser":{"type":"regex","value":".*"},"type":"http_header"},"parse_test_public_id":"h8p-7zg-gsf","tags":["foo:bar","baz"],"value":{"secure":false,"value":""}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"1e58f7be-d630-4fbe-b94a-7a8cfe88aebc","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1758324241","description":"a global variable with dynamic blocks","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":false,"value":""},"parse_test_public_id":"h8p-7zg-gsf","parse_test_name":null,"parse_test_options":{"field":"content-type","parser":{"type":"regex","value":".*"},"type":"http_header"},"parse_test_extracted_at":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.693917ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/1e58f7be-d630-4fbe-b94a-7a8cfe88aebc
        method: GET
      response:
            - chunked
        body: |
            {"id":"1e58f7be-d630-4fbe-b94a-7a8cfe88aebc","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1758324241","description":"a global variable with dynamic blocks","type":"variable","tags":["foo:bar","baz"],"created_at":"2025-09-19T23:24:03.853120+00:00","modified_at":"2025-09-19T23:24:03.853120+00:00","last_error":null,"value":{"secure":false,"value":""},"parse_test_public_id":"h8p-7zg-gsf","parse_test_name":null,"parse_test_options":{"field":"content-type","parser":{"type":"regex","value":".*"},"type":"http_header"},"parse_test_extracted_at":null,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.587959ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/h8p-7zg-gsf
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"h8p-7zg-gsf","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1758324241","status":"paused","type":"api","subtype":"http","tags":[],"created_at":"2025-09-19T23:24:03.493852+00:00","modified_at":"2025-09-19T23:24:03.493852+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"}],"configVariables":[],"request":{"method":"GET","timeout":30,"url":"https://www.datadoghq.com"}},"message":"","options":{"tick_every":60,"httpVersion":"any","monitor_options":{"include_tags":true,"notify_audit":false,"new_host_delay":300,"on_missing_data":"show_no_data","renotify_interval":120,"escalation_message":"","renotify_occurrences":0},"follow_redirects":true,"min_location_failed":1},"locations":["aws:eu-central-1"],"monitor_id":216264692,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.414709ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["h8p-7zg-gsf"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"h8p-7zg-gsf","deleted_at":"2025-09-19T23:24:06.708924+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.396791916s
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/1e58f7be-d630-4fbe-b94a-7a8cfe88aebc
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 94.919375ms
