---
version: 1
interactions:
- request:
    body: |
      {"description":"","name":"TF_TESTACCDATATOGSYNTHETICSGLOBALVARIABLE_LOCAL_1640025895","tags":[],"value":{"secure":false,"value":"bar"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_options":null,"parse_test_extracted_at":null,"description":"","tags":[],"last_error":null,"is_totp":null,"value":{"secure":false,"value":"bar"},"parse_test_public_id":null,"parse_test_name":null,"type":"variable","id":"4364e6bc-d0c7-43e9-b1a7-b63ff0b8ba67","name":"TF_TESTACCDATATOGSYNTHETICSGLOBALVARIABLE_LOCAL_1640025895"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11993"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/4364e6bc-d0c7-43e9-b1a7-b63ff0b8ba67
    method: GET
  response:
    body: '{"parse_test_extracted_at":null,"description":"","tags":[],"last_error":null,"parse_test_public_id":null,"is_totp":null,"id":"4364e6bc-d0c7-43e9-b1a7-b63ff0b8ba67","parse_test_options":null,"name":"TF_TESTACCDATATOGSYNTHETICSGLOBALVARIABLE_LOCAL_1640025895","created_at":"2021-12-20T18:44:56.154149+00:00","creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"modified_at":"2021-12-20T18:44:56.154149+00:00","value":{"secure":false,"value":"bar"},"parse_test_name":null,"type":"variable"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11971"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListGlobalVariables
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: GET
  response:
    body: '{"variables":[{"parse_test_extracted_at":null,"description":"variable description","tags":["synthetics"],"last_error":null,"parse_test_public_id":null,"is_totp":null,"id":"00fb8423-3aad-4834-a352-da7c073c5aa2","parse_test_options":null,"name":"TEST_GO_TESTSYNTHETICSAPIMULTISTEPTESTENDPOINTLIFECYCLE_1639613268","created_at":"2021-12-16T00:07:48.544303+00:00","creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","name":"CI Account"},"modified_at":"2021-12-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/4364e6bc-d0c7-43e9-b1a7-b63ff0b8ba67
    method: GET
  response:
    body: '{"errors": ["Synthetics global variable not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
