---
version: 1
interactions:
- request:
    body: |
      {"message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1686931018","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":0,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","restricted_roles":null,"tags":[],"type":"rum alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/monitor/validate
    method: POST
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1686931018","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":0,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","restricted_roles":null,"tags":[],"type":"rum alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: |
      {"id":122222523,"org_id":321813,"type":"rum alert","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1686931018","message":"test","tags":[],"query":"formula(\"var1 + var2\").last(\"5m\") > 100","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100.0},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}],"notify_audit":false,"groupby_simple_monitor":false,"silenced":{}},"multi":false,"created_at":1686931019000,"created":"2023-06-16T15:56:59.770434+00:00","modified":"2023-06-16T15:56:59.770434+00:00","deleted":null,"restricted_roles":null,"priority":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1686931018","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":0,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","restricted_roles":null,"tags":[],"type":"rum alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/monitor/122222523/validate
    method: POST
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/122222523
    method: GET
  response:
    body: |
      {"id":122222523,"org_id":321813,"type":"rum alert","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1686931018","message":"test","tags":[],"query":"formula(\"var1 + var2\").last(\"5m\") > 100","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100.0},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}],"notify_audit":false,"groupby_simple_monitor":false,"silenced":{}},"multi":false,"created_at":1686931019000,"created":"2023-06-16T15:56:59.770434+00:00","modified":"2023-06-16T15:56:59.770434+00:00","deleted":null,"restricted_roles":null,"priority":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/122222523
    method: DELETE
  response:
    body: |
      {"deleted_monitor_id":122222523}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/122222523
    method: GET
  response:
    body: '{"errors":["Monitor not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
