---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2Sankey-local-1775577183","widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","mode":"source","query_string":"@type:view"},"request_type":"sankey"}],"title":"RUM Sankey","type":"sankey"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"ysb-m72-3z5","title":"tf-TestAccDatadogDashboardV2Sankey-local-1775577183","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/ysb-m72-3z5/tf-testaccdatadogdashboardv2sankey-local-1775577183","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","mode":"source","query_string":"@type:view"},"request_type":"sankey"}],"title":"RUM Sankey","type":"sankey"},"id":8116591922898623}],"notify_list":[],"created_at":"2026-04-07T15:53:05.986211+00:00","modified_at":"2026-04-07T15:53:05.986211+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 287.862625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/ysb-m72-3z5
        method: GET
      response:
            - chunked
        body: '{"id":"ysb-m72-3z5","title":"tf-TestAccDatadogDashboardV2Sankey-local-1775577183","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/ysb-m72-3z5/tf-testaccdatadogdashboardv2sankey-local-1775577183","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","mode":"source","query_string":"@type:view"},"request_type":"sankey"}],"title":"RUM Sankey","type":"sankey"},"id":8116591922898623}],"notify_list":[],"created_at":"2026-04-07T15:53:05.986211+00:00","modified_at":"2026-04-07T15:53:05.986211+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.218875ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/ysb-m72-3z5
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"ysb-m72-3z5"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 522.342833ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ysb-m72-3z5
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID ysb-m72-3z5 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 87.455291ms
