---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardManageStatus_import-local-1767989257","widgets":[{"definition":{"color_preference":"background","display_format":"countsAndList","hide_zero_counts":true,"query":"env:prod group_status:alert","show_last_triggered":true,"show_priority":false,"sort":"triggered,desc","summary_type":"combined","title_align":"center","title_size":"20","type":"manage_status"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"qxt-wpp-r46","title":"tf-TestAccDatadogDashboardManageStatus_import-local-1767989257","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/qxt-wpp-r46/tf-testaccdatadogdashboardmanagestatusimport-local-1767989257","template_variables":[],"widgets":[{"definition":{"color_preference":"background","display_format":"countsAndList","hide_zero_counts":true,"query":"env:prod group_status:alert","show_last_triggered":true,"show_priority":false,"sort":"triggered,desc","summary_type":"combined","title_align":"center","title_size":"20","type":"manage_status"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":2266324315454542}],"notify_list":[],"created_at":"2026-01-09T20:07:38.380409+00:00","modified_at":"2026-01-09T20:07:38.380409+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.325375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/qxt-wpp-r46
        method: GET
      response:
            - chunked
        body: '{"id":"qxt-wpp-r46","title":"tf-TestAccDatadogDashboardManageStatus_import-local-1767989257","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/qxt-wpp-r46/tf-testaccdatadogdashboardmanagestatusimport-local-1767989257","template_variables":[],"widgets":[{"definition":{"color_preference":"background","display_format":"countsAndList","hide_zero_counts":true,"query":"env:prod group_status:alert","show_last_triggered":true,"show_priority":false,"sort":"triggered,desc","summary_type":"combined","title_align":"center","title_size":"20","type":"manage_status"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":2266324315454542}],"notify_list":[],"created_at":"2026-01-09T20:07:38.380409+00:00","modified_at":"2026-01-09T20:07:38.380409+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.338208ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/qxt-wpp-r46
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"qxt-wpp-r46"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 384.9575ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/qxt-wpp-r46
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID qxt-wpp-r46 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 75.010291ms
