---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTagConfigurationByName
    url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_import_local_1614958461/tags
    method: GET
  response:
    body: '{"errors": ["tf_TestAccDatadogMetricTagConfiguration_import_local_1614958461 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4039221"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "39"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"include_percentiles":false,"metric_type":"distribution","tags":["sport","datacenter"]},"id":"tf_TestAccDatadogMetricTagConfiguration_import_local_1614958461","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_import_local_1614958461/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"tf_TestAccDatadogMetricTagConfiguration_import_local_1614958461","attributes":{"tags":["datacenter","sport"],"include_percentiles":false,"created_at":"2021-03-05T15:34:21.887559+00:00","updated_at":"2021-03-05T15:34:21.887559+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - "35.4039221"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "48"
      X-Ratelimit-Reset:
      - "39"
    status: 201 Created
    code: 201
    duration: ""
[...]
