---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationDatasource-local-1758618584","published":false,"spec":{"steps":[],"triggers":[{"startStepNames":[],"workflowTrigger":{}}]},"tags":["foo:bar","service:foo","team:bar"],"webhookSecret":""},"type":"workflows"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/workflows
        method: POST
      response:
        body: '{"data":{"id":"3a8c990e-059f-4efb-8291-2f902f25f074","type":"workflows","attributes":{"createdAt":"2025-09-23T09:09:45.788324Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationDatasource-local-1758618584","published":false,"spec":{"triggers":[{"startStepNames":[],"workflowTrigger":{}}],"steps":[]},"systemTags":[],"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2025-09-23T09:09:45.788324Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 177.4655ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/3a8c990e-059f-4efb-8291-2f902f25f074
        method: GET
      response:
        body: '{"data":{"id":"3a8c990e-059f-4efb-8291-2f902f25f074","type":"workflows","attributes":{"createdAt":"2025-09-23T09:09:45.788324Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationDatasource-local-1758618584","published":false,"spec":{"triggers":[{"startStepNames":[],"workflowTrigger":{}}],"steps":[]},"systemTags":[],"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2025-09-23T09:09:45.788324Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 175.498584ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/3a8c990e-059f-4efb-8291-2f902f25f074
        method: GET
      response:
        body: '{"errors":[{"detail":"workflow not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 154.365292ms
