---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"UTC","monitor_identifier":{"monitor_tags":["cat:hat"]},"mute_first_recovery_notification":false,"schedule":{"end":null,"start":"2050-01-02T03:04:05Z"},"scope":"env:tf-TestAccDowntimeScheduleChanged-local-1690396646"},"type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime
    method: POST
  response:
    body: |
      {"data":{"type":"downtime","id":"79b7cef6-2be3-11ee-9bdf-da7ad0900002","attributes":{"mute_first_recovery_notification":false,"created":"2023-07-26T18:37:29.471154+00:00","status":"scheduled","schedule":{"start":"2050-01-02T03:04:05+00:00","end":null},"display_timezone":"UTC","message":null,"notify_end_types":["expired"],"notify_end_states":["no data","alert","warn"],"canceled":null,"modified":"2023-07-26T18:37:29.471154+00:00","monitor_identifier":{"monitor_tags":["cat:hat"]},"scope":"env:tf-TestAccDowntimeScheduleChanged-local-1690396646"},"relationships":{"monitor":{"data":null},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/downtime/79b7cef6-2be3-11ee-9bdf-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"downtime","id":"79b7cef6-2be3-11ee-9bdf-da7ad0900002","attributes":[...]
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"UTC","message":null,"monitor_identifier":{"monitor_tags":["cat:hat"]},"mute_first_recovery_notification":false,"schedule":{"recurrences":[{"duration":"1d","rrule":"FREQ=DAILY;INTERVAL=11","start":null}],"timezone":"UTC"},"scope":"env:tf-TestAccDowntimeScheduleChanged-local-1690396646"},"id":"","type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime/79b7cef6-2be3-11ee-9bdf-da7ad0900002
    method: PATCH
  response:
    body: |
      {"data":{"type":"downtime","attributes":{"modified":"2023-07-26T18:37:31.365057+00:00","canceled":null,"mute_first_recovery_notification":false,"monitor_identifier":{"monitor_tags":["cat:hat"]},"scope":"env:tf-TestAccDowntimeScheduleChanged-local-1690396646","notify_end_types":["expired"],"notify_end_states":["alert","warn","no data"],"display_timezone":"UTC","created":"2023-07-26T18:37:29.471154+00:00","message":null,"schedule":{"recurrences":[{"rrule":"FREQ=DAILY;INTERVAL=11","start":"2023-07-26T18:37:31","duration":"1d"}],"timezone":"UTC","current_downtime":{"start":"2023-07-26T18:37:31+00:00","end":"2023-07-27T18:37:31+00:00"}},"status":"active"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"monitor":{"data":null}},"id":"79b7cef6-2be3-11ee-9bdf-da7ad0900002"},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
