---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1758619078","name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1758619078"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"f4669070-69c8-43a8-94bd-841e22023343","attributes":{"name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1758619078","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1758619078","summary":"Description","description":"Description","avatar":null,"banner":8,"visible_modules":[],"hidden_modules":[],"created_at":"2025-09-23T09:17:59.511213+00:00","modified_at":"2025-09-23T09:17:59.511222+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/f4669070-69c8-43a8-94bd-841e22023343/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/f4669070-69c8-43a8-94bd-841e22023343/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 320.421958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallescalationpolicycreateandupdate-local-1758619078@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"33125ab0-985e-11f0-9236-3a9645c0fdcf","attributes":{"name":null,"handle":"tf-testacconcallescalationpolicycreateandupdate-local-1758619078@example.com","created_at":"2025-09-23T09:17:59.967430+00:00","modified_at":"2025-09-23T09:17:59.967430+00:00","email":"tf-testacconcallescalationpolicycreateandupdate-local-1758619078@example.com","icon":"https://secure.gravatar.com/avatar/61cc13e0c723ad0f5f33d9d6036cab79?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 682.265792ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"33125ab0-985e-11f0-9236-3a9645c0fdcf","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"3381cb3c-985e-11f0-b9f3-da7ad0900002","attributes":{"uuid":"3381cb3c-985e-11f0-b9f3-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:18:00.696835+00:00","expires_at":"2025-09-25T09:18:00.219464+00:00"},"relationships":{"user":{"data":{"type":"users","id":"33125ab0-985e-11f0-9236-3a9645c0fdcf"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 727.126375ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"33125ab0-985e-11f0-9236-3a9645c0fdcf"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1758619078","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"f4669070-69c8-43a8-94bd-841e22023343","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"9bde8b13-93fb-4e78-9d7a-1b17c6346cd7","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1758619078","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"fb910cf5-a083-484d-930c-ee862ec9a0cf","type":"layers"}]},"teams":{"data":[{"id":"f4669070-69c8-43a8-94bd-841e22023343","type":"teams"}]}}},"included":[{"id":"fb910cf5-a083-484d-930c-ee862ec9a0cf","type":"layers","attributes":{"effective_date":"2025-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"fb910cf5-a083-484d-930c-ee862ec9a0cf-member-1","type":"members"},{"id":"fb910cf5-a083-484d-930c-ee862ec9a0cf-member-2","type":"members"}]}}},{"id":"fb910cf5-a083-484d-930c-ee862ec9a0cf-member-1","type":"members","relationships":{"user":{"data":{"id":"33125ab0-985e-11f0-9236-3a9645c0fdcf","type":"users"}}}},{"id":"33125ab0-985e-11f0-9236-3a9645c0fdcf","type":"users","attributes":{"email":"tf-testacconcallescalationpolicycreateandupdate-local-1758619078@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 184.580875ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"policy_test_defaults","resolve_page_on_policy_end":false,"retries":0,"steps":[{"assignment":"default","escalate_after_seconds":100,"targets":[{"id":"9bde8b13-93fb-4e78-9d7a-1b17c6346cd7","type":"schedules"}]}]},"type":"policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
        method: POST
      response:
        body: '{"data":{"id":"00937c5c-92ff-4157-b5d2-e4c176d79717","type":"policies","attributes":{"name":"policy_test_defaults","resolve_page_on_policy_end":false,"retries":0},"relationships":{"steps":{"data":[{"id":"09701e4f-bff8-48a1-8403-32aed49d8cc8","type":"steps"}]},"teams":{"data":[]}}},"included":[{"id":"09701e4f-bff8-48a1-8403-32aed49d8cc8","type":"steps","attributes":{"assignment":"default","escalate_after_seconds":100},"relationships":{"targets":{"data":[{"id":"9bde8b13-93fb-4e78-9d7a-1b17c6346cd7","type":"schedules"}]}}},{"id":"9bde8b13-93fb-4e78-9d7a-1b17c6346cd7","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1758619078","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"fb910cf5-a083-484d-930c-ee862ec9a0cf","type":"layers"}]},"teams":{"data":[{"id":"f4669070-69c8-43a8-94bd-841e22023343","type":"teams"}]}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 164.265167ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/f4669070-69c8-43a8-94bd-841e22023343
        method: GET
      response:
        body: '{"data":{"id":"f4669070-69c8-43a8-94bd-841e22023343","type":"team","attributes":{"created_at":"2025-09-23T09:17:59.511213+00:00","description":"Description","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1758619078","is_managed":false,"link_count":0,"modified_at":"2025-09-23T09:17:59.511222+00:00","name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1758619078","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/f4669070-69c8-43a8-94bd-841e22023343/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/f4669070-69c8-43a8-94bd-841e22023343/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 311.301958ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/33125ab0-985e-11f0-9236-3a9645c0fdcf
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"33125ab0-985e-11f0-9236-3a9645c0fdcf","attributes":{"name":null,"handle":"tf-testacconcallescalationpolicycreateandupdate-local-1758619078@example.com","created_at":"2025-09-23T09:17:59.967430+00:00","modified_at":"2025-09-23T09:17:59.967430+00:00","email":"tf-testacconcallescalationpolicycreateandupdate-local-1758619078@example.com","icon":"https://secure.gravatar.com/avatar/61cc13e0c723ad0f5f33d9d6036cab79?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 337.099167ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/9bde8b13-93fb-4e78-9d7a-1b17c6346cd7?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"9bde8b13-93fb-4e78-9d7a-1b17c6346cd7","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1758619078","time_zon[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/00937c5c-92ff-4157-b5d2-e4c176d79717?include=steps.targets
        method: GET
      response:
        body: '{"data":{"id":"00937c5c-92ff-4157-b5d2-e4c176d79717","type":"policies","attributes":{"name":"policy_test_defaults","resolve_page_on_policy_end":false,"retries":0},"relationships":{"steps":{"data":[{"id":"09701e4f-bff8-48a1-8403-32aed49d8cc8","type":"steps"}]},"teams":{"data":[]}}},"included":[{"id":"09701e4f-bff8-48a1-8403-32aed49d8cc8","type":"steps","attributes":{"assignment":"default","escalate_after_seconds":100},"relationships":{"targets":{"data":[{"id":"9bde8b13-93fb-4e78-9d7a-1b17c6346cd7","type":"schedules"}]}}},{"id":"9bde8b13-93fb-4e78-9d7a-1b17c6346cd7","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1758619078","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"fb910cf5-a083-484d-930c-ee862ec9a0cf","type":"layers"}]},"teams":{"data":[{"id":"f4669070-69c8-43a8-94bd-841e22023343","type":"teams"}]}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 138.506292ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/1366c66b-f3cd-4371-b9f7-31ce86ee8f2a
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 190.07675ms
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/9bde8b13-93fb-4e78-9d7a-1b17c6346cd7
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 177.546417ms
[...]
