---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"api_key":"tf-TestAccIntegrationConfluentResourceBasic-local-1689861062","api_secret":"test-api-secret-123"},"type":"confluent-cloud-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts
    method: POST
  response:
    body: |
      {"data":{"type":"confluent-cloud-accounts","attributes":{"tags":[],"api_key":"tf-TestAccIntegrationConfluentResourceBasic-local-1689861062","resources":[]},"id":"d89d7d5298d6197a1ae380de17721b26"}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"enable_custom_metrics":false,"resource_type":"kafka","tags":["mytag","mytag2:myvalue"]},"id":"12345678910","type":"confluent-cloud-resources"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/d89d7d5298d6197a1ae380de17721b26/resources
    method: POST
  response:
    body: |
      {"data":{"type":"confluent-cloud-resources","attributes":{"enable_custom_metrics":false,"resource_type":"kafka","tags":["mytag","mytag2:myvalue"]},"id":"12345678910"}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/d89d7d5298d6197a1ae380de17721b26
    method: GET
  response:
    body: |
      {"data":{"type":"confluent-cloud-accounts","attributes":{"tags":[],"resources":[{"enable_custom_metrics":false,"id":"12345678910","tags":["mytag","mytag2:myvalue"],"resource_type":"kafka"}],"api_key":"tf-TestAccIntegrationConfluentResourceBasic-local-1689861062"},"id":"d89d7d5298d6197a1ae380de17721b26"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/d89d7d5298d6197a1ae380de17721b26/resources/12345678910
    method: GET
  response:
    body: |
      {"data":{"type":"confluent-cloud-resources","id":"12345678910","attributes":{"tags":["mytag","mytag2:myvalue"],"resource_type":"kafka","enable_custom_metrics":false}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
