---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {
               "title": "tf-TestAccDatadogDashboardJSONNoDiff-local-1767993168",
               "description": "",
               "widgets": [],
               "template_variables": [],
               "layout_type": "ordered",
               "notify_list": [],
               "reflow_type": "fixed",
               "id": "3fa-nkp-wty"
            }
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"8nm-b6x-k2e","title":"tf-TestAccDatadogDashboardJSONNoDiff-local-1767993168","description":"","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/8nm-b6x-k2e/tf-testaccdatadogdashboardjsonnodiff-local-1767993168","template_variables":[],"widgets":[],"notify_list":[],"created_at":"2026-01-09T21:12:49.560229+00:00","modified_at":"2026-01-09T21:12:49.560229+00:00","reflow_type":"fixed"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.971459ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/8nm-b6x-k2e
        method: GET
      response:
            - chunked
        body: '{"id":"8nm-b6x-k2e","title":"tf-TestAccDatadogDashboardJSONNoDiff-local-1767993168","description":"","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/8nm-b6x-k2e/tf-testaccdatadogdashboardjsonnodiff-local-1767993168","template_variables":[],"widgets":[],"notify_list":[],"created_at":"2026-01-09T21:12:49.560229+00:00","modified_at":"2026-01-09T21:12:49.560229+00:00","reflow_type":"fixed"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.927083ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/8nm-b6x-k2e
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"8nm-b6x-k2e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 505.642083ms
