---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2Wildcard_import-local-1775577336","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {env}"}],"response_format":"scalar"}],"specification":{"contents":{"$schema":"https://vega.github.io/schema/vega-lite/v5.json","data":{"name":"table1"},"encoding":{"x":{"field":"env","sort":"-y","type":"nominal"},"y":{"field":"query1","type":"quantitative"}},"mark":"bar"},"type":"vega-lite"},"title":"Custom Vega-Lite Chart","type":"wildcard"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"tf9-wgv-7qj","title":"tf-TestAccDatadogDashboardV2Wildcard_import-local-1775577336","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/tf9-wgv-7qj/tf-testaccdatadogdashboardv2wildcardimport-local-1775577336","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {env}"}],"response_format":"scalar"}],"specification":{"contents":{"$schema":"https://vega.github.io/schema/vega-lite/v5.json","data":{"name":"table1"},"encoding":{"x":{"field":"env","sort":"-y","type":"nominal"},"y":{"field":"query1","type":"quantitative"}},"mark":"bar"},"type":"vega-lite"},"title":"Custom Vega-Lite Chart","type":"wildcard"},"id":3442764469494976}],"notify_list":[],"created_at":"2026-04-07T15:55:38.985647+00:00","modified_at":"2026-04-07T15:55:38.985647+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.775ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/tf9-wgv-7qj
        method: GET
      response:
            - chunked
        body: '{"id":"tf9-wgv-7qj","title":"tf-TestAccDatadogDashboardV2Wildcard_import-local-1775577336","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/tf9-wgv-7qj/tf-testaccdatadogdashboardv2wildcardimport-local-1775577336","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {env}"}],"response_format":"scalar"}],"specification":{"contents":{"$schema":"https://vega.github.io/schema/vega-lite/v5.json","data":{"name":"table1"},"encoding":{"x":{"field":"env","sort":"-y","type":"nominal"},"y":{"field":"query1","type":"quantitative"}},"mark":"bar"},"type":"vega-lite"},"title":"Custom Vega-Lite Chart","type":"wildcard"},"id":3442764469494976}],"notify_list":[],"created_at":"2026-04-07T15:55:38.985647+00:00","modified_at":"2026-04-07T15:55:38.985647+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.500541ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/tf9-wgv-7qj
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"tf9-wgv-7qj"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 519.389917ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/tf9-wgv-7qj
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID tf9-wgv-7qj not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 85.960375ms
