---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"policy":{"tag_key":"tagKey1","tag_key_required":false,"valid_tag_values":["value"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/monitor/policy
    method: POST
  response:
    body: |
      {"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key":"tagKey1","tag_key_required":false,"valid_tag_values":["value"]},"policy_type":"tag"},"id":"de0c3414-a27c-11ed-8e7c-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/monitor/policy/de0c9ca6-a27c-11ed-b9d1-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key_required":false,"tag_key":"tagKey2","valid_tag_values":["value"]},"policy_type":"tag"},"id":"de0c9ca6-a27c-11ed-b9d1-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
