---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":["tag:tf-TestAccIntegrationAwsAccount_OptionalLogSourceConfig-local-1758619163"],"auth_config":{"role_name":"test"},"aws_account_id":"974952102575","aws_partition":"aws","aws_regions":{"include_all":true},"logs_config":{"lambda_forwarder":{"lambdas":[],"log_source_config":{"tag_filters":[]},"sources":[]}},"metrics_config":{"automute_enabled":true,"collect_cloudwatch_alarms":false,"collect_custom_metrics":false,"enabled":true,"namespace_filters":{"exclude_only":["AWS/SQS","AWS/ElasticMapReduce","AWS/Usage"]},"tag_filters":[]},"resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":true},"traces_config":{"xray_services":{"include_only":[]}}},"type":"account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/aws/accounts
        method: POST
      response:
        body: '{"data":{"id":"719cd2fb-0394-4379-8eef-fe2f1a34022a","type":"account","attributes":{"account_tags":["tag:tf-TestAccIntegrationAwsAccount_OptionalLogSourceConfig-local-1758619163"],"auth_config":{"role_name":"test","external_id":"85eb5f7973944615a4bd40e40a3387d6"},"aws_account_id":"974952102575","aws_partition":"aws","aws_regions":{"include_all":true},"created_at":"2025-09-23T09:19:24.93159686Z","logs_config":{"lambda_forwarder":{"lambdas":[],"sources":[],"log_source_config":{"tag_filters":[]}}},"metrics_config":{"enabled":true,"automute_enabled":true,"collect_custom_metrics":false,"collect_cloudwatch_alarms":false,"tag_filters":[],"namespace_filters":{"exclude_only":["AWS/SQS","AWS/ElasticMapReduce","AWS/Usage"]}},"modified_at":"2025-09-23T09:19:24.93159686Z","resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":true},"traces_config":{"xray_services":{"include_only":[]}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 1.090506666s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/aws/accounts/%22719cd2fb-0394-4379-8eef-fe2f1a34022a%22
        method: GET
      response:
        body: '{"data":{"id":"719cd2fb-0394-4379-8eef-fe2f1a34022a","type":"account","attributes":{"account_tags":["tag:tf-TestAccIntegrationAwsAccount_OptionalLogSourceConfig-local-1758619163"],"auth_config":{"role_name":"test","external_id":"85eb5f7973944615a4bd40e40a3387d6"},"aws_account_id":"974952102575","aws_partition":"aws","aws_regions":{"include_all":true},"created_at":"2025-09-23T09:19:24.931596Z","logs_config":{"lambda_forwarder":{"lambdas":[],"sources":[],"log_source_config":{"tag_filters":[]}}},"metrics_config":{"enabled":true,"automute_enabled":true,"collect_custom_metrics":false,"collect_cloudwatch_alarms":false,"tag_filters":[],"namespace_filters":{"exclude_only":["AWS/SQS","AWS/ElasticMapReduce","AWS/Usage"]}},"modified_at":"2025-09-23T09:19:24.931596Z","resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":true},"traces_config":{"xray_services":{"include_only":[]}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 259.390208ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":["tag:tf-TestAccIntegrationAwsAccount_OptionalLogSourceConfig-local-1758619163"],"auth_config":{"external_id":"85eb5f7973944615a4bd40e40a3387d6","role_name":"test"},"aws_account_id":"974952102575","aws_partition":"aws","aws_regions":{"include_all":true},"logs_config":{"lambda_forwarder":{"lambdas":[],"log_source_config":{"tag_filters":[{"source":"s3","tags":["tag1","tag2"]}]},"sources":[]}},"metrics_config":{"automute_enabled":true,"collect_cloudwatch_alarms":false,"collect_custom_metrics":false,"enabled":true,"namespace_filters":{"exclude_only":["AWS/SQS","AWS/ElasticMapReduce","AWS/Usage"]},"tag_filters":[]},"resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":true},"traces_config":{"xray_services":{"include_only":[]}}},"type":"account"}}
        form: {}
        headers:
            Content-Type:
       [...]
[...]
