---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
    method: GET
  response:
    body: |
      {"data":[{"id":"cQ9X4t6OROuFAgx4pDlVjw","attributes":{"name":"Dynamic Instrumentation Default","rate":1.0,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"operation_name:dd.dynamic.span"},"editable":true,"execution_order":1,"modified_by":"","modified_at":0,"created_by":"","created_at":0},"type":"apm_retention_filter"},{"id":"7RBOb7dLSYWI01yc3pIH8w","attributes":{"name":"Error Default","rate":1.0,"enabled":true,"filter_type":"spans-errors-sampling-processor","filter":{"query":"status:error"},"editable":true,"execution_order":2,"modified_by":"frog@datadoghq.com","modified_at":1695634009,"created_by":"","created_at":0},"type":"apm_retention_filter"},{"id":"jdZrilSJQLqzb6Cu7aub9Q","attributes":{"name":"Application Security Monitoring Default","rate":1.0,"enabled":false,"filter_type":"spans-appsec-sampling-processor","filter":{"query":"@appsec.event:true"},"editable":true,"execution_order":3,"modified_by":"","modified_at":0,"created_by":"","created_at":0},"type":"apm_retention_filter"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
