---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
        body: |
            {"data":{"id":"_Pgwv1IySCqoAie7pdQ21Q","attributes":{"name":"my group","is_enabled":true,"filter":{"query":"*"},"product_list":["logs"],"description":""},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"75c8c98216e17608c0b526e962c5e08cb526316a4a3aa5acd87f6f5018ab41f0","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":749}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.08175ms
    - id: 1
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1705054335","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"_Pgwv1IySCqoAie7pdQ21Q","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
        body: |
            {"data":{"id":"2H6nzIgZTRSokYiO3D7HoA","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1705054335","namespaces":[],"excluded_namespaces":["username"],"pattern":"regex","text_replacement":{"type":"none"},"tags":["sensitive_data:true"],"is_enabled":true,"description":"a description"},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"_Pgwv1IySCqoAie7pdQ21Q","type":"sensitive_data_scanner_group"}}}},"meta":{"version":750}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.520167ms
    - id: 2
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
        body: |
            {"data":{"id":"75c8c98216e17608c0b526e962c5e08cb526316a4a3aa5acd87f6f5018ab41f0","attributes":{},"type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"YPQGGU13RBGLfEm9WDdWxw","type":"sensitive_data_scanner_group"},{"id":"IUfNAJiPRgCM5c6y15hDAQ","type":"sensitive_data_scanner_group"},{"id":"_Pgwv1IySCqoAie7pdQ21Q","type":"sensitive_data_scanner_group"}]}}},"meta":{"version":750,"count_limit":100,"group_count_limit":20,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true},"included":[{"id":"YPQGGU13RBGLfEm9WDdWxw","attributes":{"name":"dfd","is_enabled":false,"filter":{"query":"*"},"product_list":["logs"]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"75c8c98216e17608c0b526e962c5e08cb526316a4a3aa5acd87f6f5018ab41f0","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[{"id":"F7ISTbJkTGa5STKPWUiRvg","type":"sensitive_data_scanner_rule"},{"id":"m0nvkaMwS1uV7fW9lNr0dw","type":"sensitive_data_scanner_rule"}]}}},{"id":"F7ISTbJkTGa5STKPWUiRvg","attributes":{"name":"AWS Access Key ID Scanner","namespaces":[],"excluded_namespaces":[],"text_replacement":{"type":"none"},"tags":["sensitive_data_category:credentials","sensitive_data:aws_access_key_id"],"is_enabled":true},"type":"sensitive_data_scanner_rule","relationships":{"standard_pattern":{"data":{"id":"OfGqX8R9TRqAcorxenl2fQ","type":"sensitive_data_scanner_standard_pattern"}},"group":{"data":{"id":"YPQGGU13RBGLfEm9WDdWxw","type":"sensitive_data_scanner_group"}}}},{"id":"m0nvkaMwS1uV7fW9lNr0dw","attributes":{"name":"IPv6 Address Scanner","namespaces":[],"excluded_namespaces":[],"text_replacement":{"type":"none"},"tags":["sensitive_data_category:ip_address","sensitive_data:ipv6_address"],"is_enabled":true},"type":"sensitive_data_scanner_rule","relationships":{"standard_pattern":{"[...]
[...]
    - id: 7
      request:
        host: api.datad0g.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/rules/2H6nzIgZTRSokYiO3D7HoA
        method: DELETE
      response:
        body: |
            {"meta":{"version":751}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 362.572625ms
    - id: 8
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my group","product_list":["logs"]},"id":"_Pgwv1IySCqoAie7pdQ21Q","type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/groups/_Pgwv1IySCqoAie7pdQ21Q
        method: PATCH
      response:
        body: |
            {"meta":{"version":752}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.74975ms
    - id: 9
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1705054335","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"relationships":{"group":{"data":{"id":"_Pgwv1IySCqoAie7pdQ21Q","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
        body: |
            {"data":{"id":"Efaqww-hT7aInk5sa5HJ6A","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1705054335","namespaces":[],"excluded_namespaces":["email"],"pattern":"regex","text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"},"tags":["sensitive_data:true"],"is_enabled":false,"description":"another description","included_keyword_configuration":{"keywords":["credit card","cc"],"character_count":20}},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"_Pgwv1IySCqoAie7pdQ21Q","type":"sensitive_data_scanner_group"}}}},"meta":{"version":753}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.470916ms
[...]
    - id: 15
      request:
        host: api.datad0g.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/rules/Efaqww-hT7aInk5sa5HJ6A
        method: DELETE
      response:
        body: |
            {"meta":{"version":754}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 276.836459ms
[...]
    - id: 25
      request:
        host: api.datad0g.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/rules/_DHkNGBjTYeZVbC7Gj9IkA
        method: DELETE
      response:
        body: |
            {"meta":{"version":757}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.624458ms
[...]
    - id: 32
      request:
        host: api.datad0g.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/rules/mu36RMAKTm2jKWkSgk71rA
        method: DELETE
      response:
        body: |
            {"meta":{"version":760}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 218.856834ms
    - id: 33
      request:
        host: api.datad0g.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/groups/eLxfig1IQdy_X4nZzxyKSQ
        method: DELETE
      response:
        body: |
            {"meta":{"version":761}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.2815ms
[...]
