---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"@ident:ha-proxy"},"group_by":[{"path":"@env","tag_name":"env"},{"path":"@http_status_code","tag_name":"http_status_code"}]},"id":"tf_TestAccDatadogLogsMetricCount_Basic_local_1758619102","type":"logs_metrics"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/metrics
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"tf_TestAccDatadogLogsMetricCount_Basic_local_1758619102","attributes":{"filter":{"query":"@ident:ha-proxy"},"group_by":[{"path":"@env","tag_name":"env"},{"path":"@http_status_code","tag_name":"http_status_code"}],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 371.586458ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/metrics/tf_TestAccDatadogLogsMetricCount_Basic_local_1758619102
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"tf_TestAccDatadogLogsMetricCount_Basic_local_1758619102","attributes":{"filter":{"query":"@ident:ha-proxy"},"group_by":[{"path":"@env","tag_name":"env"},{"path":"@http_status_code","tag_name":"http_status_code"}],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.411292ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"compute":{},"filter":{"query":"@ident:ha-proxy"},"group_by":[{"path":"@http_status_code","tag_name":"http_status_code"},{"path":"@env","tag_name":"env_updated"}]},"type":"logs_metrics"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/metrics/tf_TestAccDatadogLogsMetricCount_Basic_local_1758619102
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"id":"tf_TestAccDatadogLogsMetricCount_Basic_local_1758619102","attributes":{"filter":{"query":"@ident:ha-proxy"},"group_by":[{"path":"@env","tag_name":"env_updated"},{"path":"@http_status_code","tag_name":"http_status_code"}],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 411.298584ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/metrics/tf_TestAccDatadogLogsMetricCount_Basic_local_1758619102
        method: GET
      response:
            - chunked
        body: |
            {"errors":["not_found(Metric with name 'tf_TestAccDatadogLogsMetricCount_Basic_local_1758619102' not found)"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 284.883458ms
