---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallcreateschedule-local-1746160046","name":"team-tf-testacconcallcreateschedule-local-1746160046"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"867cb807-277a-44b5-9c0c-7221dac4b0b2","attributes":{"name":"team-tf-testacconcallcreateschedule-local-1746160046","handle":"team-tf-testacconcallcreateschedule-local-1746160046","summary":"Description","description":"Description","avatar":null,"banner":15,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-02T04:27:29.433324+00:00","modified_at":"2025-05-02T04:27:29.433333+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/867cb807-277a-44b5-9c0c-7221dac4b0b2/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/867cb807-277a-44b5-9c0c-7221dac4b0b2/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 963.82775ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallcreateschedule-local-1746160046@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"c2709db3-270d-11f0-8fbb-e622ddb0c5a3","attributes":{"name":null,"handle":"tf-testacconcallcreateschedule-local-1746160046@example.com","created_at":"2025-05-02T04:27:29.870409+00:00","modified_at":"2025-05-02T04:27:29.870409+00:00","email":"tf-testacconcallcreateschedule-local-1746160046@example.com","icon":"https://secure.gravatar.com/avatar/a81b532f6684eb1d9c13916286be0ea0?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.301972375s
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"c2709db3-270d-11f0-8fbb-e622ddb0c5a3","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"c2c141f0-270d-11f0-9199-da7ad0900002","attributes":{"uuid":"c2c141f0-270d-11f0-9199-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-05-02T04:27:30.398459+00:00","expires_at":"2025-05-04T04:27:30.212894+00:00"},"relationships":{"user":{"data":{"type":"users","id":"c2709db3-270d-11f0-8fbb-e622ddb0c5a3"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 546.087125ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","end_date":"2026-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"c2709db3-270d-11f0-8fbb-e622ddb0c5a3"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"tf-testacconcallcreateschedule-local-1746160046","tags":["foo:bar"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"867cb807-277a-44b5-9c0c-7221dac4b0b2","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"eee1b767-c8e3-47ec-8566-ef6345fec2fc","type":"schedules","attributes":{"name":"tf-testacconcallcreateschedule-local-1746160046","tags":["foo:bar"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"9e1fba46-bed3-43c6-bc37-f9639dceb5bb","type":"layers"}]},"teams":{"data":[{"id":"867cb807-277a-44b5-9c0c-7221dac4b0b2","type":"teams"}]}}},"included":[{"id":"9e1fba46-bed3-43c6-bc37-f9639dceb5bb","type":"layers","attributes":{"effective_date":"2025-05-02T04:27:30.704416538Z","end_date":"2026-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"9e1fba46-bed3-43c6-bc37-f9639dceb5bb-member-1","type":"members"},{"id":"9e1fba46-bed3-43c6-bc37-f9639dceb5bb-member-2","type":"members"}]}}},{"id":"9e1fba46-bed3-43c6-bc37-f9639dceb5bb-member-1","type":"members","relationships":{"user":{"data":{"id":"c2709db3-270d-11f0-8fbb-e622ddb0c5a3","type":"users"}}}},{"id":"c2709db3-270d-11f0-8fbb-e622ddb0c5a3","type":"users","attributes":{"email":"tf-testacconcallcreateschedule-local-1746160046@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 274.680125ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/c2709db3-270d-11f0-8fbb-e622ddb0c5a3
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"c2709db3-270d-11f0-8fbb-e622ddb0c5a3","attributes":{"name":null,"handle":"tf-testacconcallcreateschedule-local-1746160046@example.com","created_at":"2025-05-02T04:27:29.870409+00:00","modified_at":"2025-05-02T04:27:29.870409+00:00","email":"tf-testacconcallcreateschedule-local-1746160046@example.com","icon":"https://secure.gravatar.com/avatar/a81b532f6684eb1d9c13916286be0ea0?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 474.419041ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/867cb807-277a-44b5-9c0c-7221dac4b0b2
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"team","attributes":{"user_count":0,"handle":"team-tf-testacconcallcreateschedule-local-1746160046","link_count":0,"is_managed":false,"description":"Description","summary":"Description","created_at":"2025-05-02T04:27:29.433324+00:00","modified_at":"2025-05-02T04:27:29.433333+00:00","name":"team-tf-testacconcallcreateschedule-local-1746160046"},"id":"867cb807-277a-44b5-9c0c-7221dac4b0b2","relationships":{"user_team_permissions":{"links":{"related":"/api/v2/team/867cb807-277a-44b5-9c0c-7221dac4b0b2/permission-settings"}},"team_links":{"links":{"related":"/api/v2/team/867cb807-277a-44b5-9c0c-7221dac4b0b2/links"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 532.914208ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/eee1b767-c8e3-47ec-8566-ef6345fec2fc?include=layers%2Clayers.members%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"eee1b767-c8e3-47ec-8566-ef6345fec2fc","type":"schedules","attributes":{"name":"tf-testacconcallcreateschedule-local-1746160046","tags":["foo:bar"],"time_zone":"America/N[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/eee1b767-c8e3-47ec-8566-ef6345fec2fc
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 382.105125ms
[...]
