---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourcematchfilterexact-local-1726045732@example.com","name":"tf-TestAccServiceAccountExact-d028705b33d5323f - Plus","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"784383e3-701d-11ef-97cb-4e28bace5116","attributes":{"name":"tf-TestAccServiceAccountExact-d028705b33d5323f - Plus","handle":"784383e3-701d-11ef-97cb-4e28bace5116","created_at":"2024-09-11T09:08:54.582807+00:00","modified_at":"2024-09-11T09:08:54.582807+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilterexact-local-1726045732@example.com","icon":"https://secure.gravatar.com/avatar/2a3ab7588230887efb015f2dbf2ecde2?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"29c00926-0d2a-11ef-94c7-da7ad0900002"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 539.432958ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-TestAccServiceAccountExact-d028705b33d5323f
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"78477bc5-701d-11ef-9182-eeea1b3eec34","attributes":{"name":"tf-TestAccServiceAccountExact-d028705b33d5323f","handle":"78477bc5-701d-11ef-9182-eeea1b3eec34","created_at":"2024-09-11T09:08:54.608812+00:00","modified_at":"2024-09-11T09:08:54.608812+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilterexact-local-1726045732@example.com","icon":"https://secure.gravatar.com/avatar/2a3ab7588230887efb015f2dbf2ecde2?s=48&d=retro","title":"","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"29c00926-0d2a-11ef-94c7-da7ad0900002"}}}},{"type":"users","id":"784383e3-701d-11ef-97cb-4e28bace5116","attributes":{"name":"tf-TestAccServiceAccountExact-d028705b33d5323f - Plus","handle":"784383e3-701d-11ef-97cb-4e28bace5116","created_at":"2024-09-11T09:08:54.582807+00:00","modified_at":"2024-09-11T09:08:54.582807+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilterexact-local-1726045732@example.com","icon":"https://secure.gravatar.com/avatar/2a3ab7588230887efb015f2dbf2ecde2?s=48&d=retro","title":"","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"29c00926-0d2a-11ef-94c7-da7ad0900002"}}}}],"meta":{"page":{"total_count":14,"total_filtered_count":2,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.963041ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/784383e3-701d-11ef-97cb-4e28bace5116
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"784383e3-701d-11ef-97cb-4e28bace5116","attributes":{"name":"tf-TestAccServiceAccountExact-d028705b33d5323f - Plus","handle":"784383e3-701d-11ef-97cb-4e28bace5116","created_at":"2024-09-11T09:08:54.582807+00:00","modified_at":"2024-09-11T09:08:54.582807+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilterexact-local-1726045732@example.com","icon":"https://secure.gravatar.com/avatar/2a3ab7588230887efb015f2dbf2ecde2?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"29c00926-0d2a-11ef-94c7-da7ad0900002"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.121334ms
[...]
