---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1748428537","name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1748428537"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"a0fb888c-31cc-4e2a-9045-d18c5e269cde","attributes":{"name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1748428537","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1748428537","summary":"Description","description":"Description","avatar":null,"banner":2,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-28T10:35:41.019367+00:00","modified_at":"2025-05-28T10:35:41.019377+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a0fb888c-31cc-4e2a-9045-d18c5e269cde/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a0fb888c-31cc-4e2a-9045-d18c5e269cde/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 587.64175ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallescalationpolicycreateandupdate-local-1748428537@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"80ca184a-3baf-11f0-97ed-2aeaad0563c4","attributes":{"name":null,"handle":"tf-testacconcallescalationpolicycreateandupdate-local-1748428537@example.com","created_at":"2025-05-28T10:35:41.452942+00:00","modified_at":"2025-05-28T10:35:41.452942+00:00","email":"tf-testacconcallescalationpolicycreateandupdate-local-1748428537@example.com","icon":"https://secure.gravatar.com/avatar/ecfbb1ba6e158c2186a8e3d6c8f6d09e?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 918.75975ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"80ca184a-3baf-11f0-97ed-2aeaad0563c4","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"8124012c-3baf-11f0-8ed7-da7ad0900002","attributes":{"uuid":"8124012c-3baf-11f0-8ed7-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-05-28T10:35:42.041264+00:00","expires_at":"2025-05-30T10:35:41.686148+00:00"},"relationships":{"user":{"data":{"type":"users","id":"80ca184a-3baf-11f0-97ed-2aeaad0563c4"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 591.480583ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"80ca184a-3baf-11f0-97ed-2aeaad0563c4"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1748428537","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"a0fb888c-31cc-4e2a-9045-d18c5e269cde","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"d5856b7b-b878-410e-813b-fb3624a7bb97","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1748428537","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"b65cb3ce-f4c3-4a9d-8910-4ed959fed209","type":"layers"}]},"teams":{"data":[{"id":"a0fb888c-31cc-4e2a-9045-d18c5e269cde","type":"teams"}]}}},"included":[{"id":"b65cb3ce-f4c3-4a9d-8910-4ed959fed209","type":"layers","attributes":{"effective_date":"2025-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"b65cb3ce-f4c3-4a9d-8910-4ed959fed209-member-1","type":"members"},{"id":"b65cb3ce-f4c3-4a9d-8910-4ed959fed209-member-2","type":"members"}]}}},{"id":"b65cb3ce-f4c3-4a9d-8910-4ed959fed209-member-1","type":"members","relationships":{"user":{"data":{"id":"80ca184a-3baf-11f0-97ed-2aeaad0563c4","type":"users"}}}},{"id":"80ca184a-3baf-11f0-97ed-2aeaad0563c4","type":"users","attributes":{"email":"tf-testacconcallescalationpolicycreateandupdate-local-1748428537@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 152.171417ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testacconcallescalationpolicycreateandupdate-local-1748428537","resolve_page_on_policy_end":true,"retries":0,"steps":[{"assignment":"round-robin","escalate_after_seconds":300,"targets":[{"id":"a0fb888c-31cc-4e2a-9045-d18c5e269cde","type":"teams"},{"id":"80ca184a-3baf-11f0-97ed-2aeaad0563c4","type":"users"},{"id":"d5856b7b-b878-410e-813b-fb3624a7bb97","type":"schedules"}]}]},"type":"policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
        method: POST
      response:
        body: '{"data":{"id":"90f4f466-d741-438d-88b9-305bc4[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/80ca184a-3baf-11f0-97ed-2aeaad0563c4
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"80ca184a-3baf-11f0-97ed-2aeaad0563c4","attributes":{"name":null,"handle":"tf-testacconcallescalationpolicycreateandupdate-local-1748428537@example.com","created_at":"2025-05-28T10:35:41.452942+00:00","modified_at":"2025-05-28T10:35:41.452942+00:00","email":"tf-testacconcallescalationpolicycreateandupdate-local-1748428537@example.com","icon":"https://secure.gravatar.com/avatar/ecfbb1ba6e158c2186a8e3d6c8f6d09e?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.540042ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/a0fb888c-31cc-4e2a-9045-d18c5e269cde
        method: GET
      response:
        body: '{"data":{"id":"a0fb888c-31cc-4e2a-9045-d18c5e269cde","type":"team","attributes":{"created_at":"2025-05-28T10:35:41.019367+00:00","description":"Description","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1748428537","is_managed":false,"link_count":0,"modified_at":"2025-05-28T10:35:41.019377+00:00","name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1748428537","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/a0fb888c-31cc-4e2a-9045-d18c5e269cde/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/a0fb888c-31cc-4e2a-9045-d18c5e269cde/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 191.997541ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/d5856b7b-b878-410e-813b-fb3624a7bb97?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"d5856b7b-b878-410e-813b-fb3624a7bb97","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1748428537","time_zon[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/90f4f466-d741-438d-88b9-305bc4bebbf5?include=steps.targets
        method: GET
      response:
        body: '{"data":{"id":"90f4f466-d741-438d-88b9-305bc4bebbf5","type":"policies","attributes":{"name":"tf-testacconcallescalationpolicycreateandupdate-local-1748428537","resolve_page_on_policy_end":true,"retries":0},[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/90f4f466-d741-438d-88b9-305bc4bebbf5
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 143.234292ms
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/d5856b7b-b878-410e-813b-fb3624a7bb97
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 160.037167ms
[...]
