---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"","filter":{"query":"project:sample"},"is_enabled":false,"name":"tf-testaccdatadoglogspipelinesorderdatasource-local-1738080340-sample","processors":[],"tags":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs/config/pipelines
        method: POST
      response:
            - chunked
        body: |
            {"id":"THY1V0ijS4aVsdeyEBMWZQ","type":"pipeline","name":"tf-testaccdatadoglogspipelinesorderdatasource-local-1738080340-sample","is_enabled":false,"is_read_only":false,"filter":{"query":"project:sample"},"processors":[],"tags":[],"description":""}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 422.512ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/pipeline-order
        method: GET
      response:
            - chunked
        body: |
            {"pipeline_ids":["TL1aouiMTNmpCCN1iZxoSA","rTxbr2MpQsSCEtn66XmwnQ","2QGdoZWESWi6WArjxl4cxg","0mc2Xh9XTOKHDRooX8oU7Q","htXFf5DCQ_ay1IhQ9Tr4uw","pMhyxnUeS6ugpnLdWckGIw","7YBUZ3J_RJGDRk6b5ayIIQ","UodPu7HbQ-Gcp2K1aZBRhw","K2HR3G6PSlC_KIhceFuxig","UBNUhCTxR_Goiw7w4wEOlw","cgS5obmTSi6NgGX05lf0tg","JW6WRX6zSYO6P27n-R85vw","4I6FNy5GToqi2fKVAqNZJw","vL--Mbs7SceY84ADEYu40w","dRPabp5dQLO24WxISJq4mg","RSbXaJxLS8WSZbAV6vJnYg","r-jB58U1TI6y_vJbBX2nzA","wLD85Kf3RiGkCu35OTl9KA","C3rLxhf7RrOMi4M9rrBv6g","GJYHVcVzT6uN_0crZdRpzQ","bwxMrzakQfyaPoHxy2Hgsw","LWIrk9TLT3Kp9hnIbWBs2w","XCYdgKpPQFKyhKexiTkbcQ","THY1V0ijS4aVsdeyEBMWZQ"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.490667ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/pipelines/THY1V0ijS4aVsdeyEBMWZQ
        method: GET
      response:
            - chunked
        body: |
            {"id":"THY1V0ijS4aVsdeyEBMWZQ","type":"pipeline","name":"tf-testaccdatadoglogspipelinesorderdatasource-local-1738080340-sample","is_enabled":false,"is_read_only":false,"filter":{"query":"project:sample"},"processors":[],"tags":[],"description":""}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.137ms
[...]
