---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":1,"type":"grpcHealthcheckStatus"}],"configVariables":[],"request":{"host":"google.com","method":"GET","port":50050,"service":"Hello","timeout":60}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1658501483","options":{"min_location_failed":1,"tick_every":60},"status":"paused","subtype":"grpc","tags":["foo:bar","baz"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"paused","public_id":"p7z-xup-ykk","tags":["foo:bar","baz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","deleted_at":null,"name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1658501483","monitor_id":77932425,"type":"api","created_at":"2022-07-22T14:51:37.522437+00:00","modified_at":"2022-07-22T14:51:37.522437+00:00","subtype":"grpc","config":{"request":{"host":"google.com","service":"Hello","method":"GET","timeout":60,"port":50050},"assertions":[{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"is","type":"grpcHealthcheckStatus","target":1}],"configVariables":[]},"options":{"min_location_failed":1,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api/p7z-xup-ykk
    method: GET
  response:
    body: '{"status":"paused","public_id":"p7z-xup-ykk","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1658501483","monitor_id":77932425,"type":"api","created_at":"2022-07-22T14:51:37.522437+00:00","creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"modified_at":"2022-07-22T14:51:37.522437+00:00","subtype":"grpc","config":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/p7z-xup-ykk
    method: GET
  response:
    body: '{"status":"paused","public_id":"p7z-xup-ykk","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1658501483","monitor_id":77932425,"type":"api","created_at":"2022-07-22T14:51:37.522437+00:00","creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"modified_at":"2022-07-22T14:51:37.522437+00:00","subtype":"grpc","config":[...]
- request:
    body: |
      {"public_ids":["p7z-xup-ykk"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2022-07-22T14:52:08.865182+00:00","public_id":"p7z-xup-ykk"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/p7z-xup-ykk
    method: GET
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
