---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardStyle-local-1758619276","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query","style":{"palette":"warm","palette_index":2}}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query","query":"avg:system.cpu.user{app:general} by {env}"}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"hjw-7bz-ab3","title":"tf-TestAccDatadogDashboardStyle-local-1758619276","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/hjw-7bz-ab3/tf-testaccdatadogdashboardstyle-local-1758619276","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query","style":{"palette":"warm","palette_index":2}}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query","query":"avg:system.cpu.user{app:general} by {env}"}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"},"id":8043851030116821}],"notify_list":[],"created_at":"2025-09-23T09:21:18.015138+00:00","modified_at":"2025-09-23T09:21:18.015138+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.859292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/hjw-7bz-ab3
        method: GET
      response:
        body: '{"id":"hjw-7bz-ab3","title":"tf-TestAccDatadogDashboardStyle-local-1758619276","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/hjw-7bz-ab3/tf-testaccdatadogdashboardstyle-local-1758619276","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query","style":{"palette":"warm","palette_index":2}}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query","query":"avg:system.cpu.user{app:general} by {env}"}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"},"id":8043851030116821}],"notify_list":[],"created_at":"2025-09-23T09:21:18.015138+00:00","modified_at":"2025-09-23T09:21:18.015138+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.537084ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/hjw-7bz-ab3
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"hjw-7bz-ab3"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.647667ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/hjw-7bz-ab3
        method: GET
      response:
        body: '{"errors":["Dashboard with ID hjw-7bz-ab3 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 242.79475ms
