---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=does_not_exist_tf-testaccdatadogserviceaccountdatasourceerror-local-1686239254%40example.com
    method: GET
  response:
    body: |
      {"data":[],"meta":{"page":{"total_count":173248,"total_filtered_count":0}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1686239254@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"cd9bc621-0613-11ee-b3cc-aeed1d28de17","attributes":{"name":null,"handle":"tf-testaccdatadogserviceaccountdatasourceerror-local-1686239254@example.com","created_at":"2023-06-08T15:47:41.875609+00:00","modified_at":"2023-06-08T15:47:41.878263+00:00","email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1686239254@example.com","icon":"https://secure.gravatar.com/avatar/39520db7592ec44a00858c70a128dd18?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"cd9bc621-0613-11ee-b3cc-aeed1d28de17","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: |
      {"data":[{"type":"user_invitations","id":"cdc9d44e-0613-11ee-a444-da7ad0900002","attributes":{"uuid":"cdc9d44e-0613-11ee-a444-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2023-06-08T15:47:42.176248+00:00","expires_at":"2023-06-10T15:47:42.061517+00:00"},"relationships":{"user":{"data":{"type":"users","id":"cd9bc621-0613-11ee-b3cc-aeed1d28de17"}}}}]}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/cd9bc621-0613-11ee-b3cc-aeed1d28de17
    method: GET
  response:
    body: |
      {"data":{"type":"users","id":"cd9bc621-0613-11ee-b3cc-aeed1d28de17","attributes":{"name":null,"handle":"tf-testaccdatadogserviceaccountdatasourceerror-local-1686239254@example.com","created_at":"2023-06-08T15:47:41.875609+00:00","modified_at":"2023-06-08T15:47:41.878263+00:00","email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1686239254@example.com","icon":"https://secure.gravatar.com/avatar/39520db7592ec44a00858c70a128dd18?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
