---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackEventTimeline-local-1758619069","type":"group","widgets":[{"definition":{"query":"status:error","tags_execution":"and","title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":4,"width":3,"x":5,"y":5}}]}},"name":"tf-TestAccDatadogPowerpackEventTimeline-local-1758619069","tags":["tag:foo1"],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/powerpacks
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"2da24dea-985e-11f0-b67d-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackEventTimeline-local-1758619069","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackEventTimeline-local-1758619069","type":"group","widgets":[{"definition":{"query":"status:error","tags_execution":"and","title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":4,"width":3,"x":5,"y":5},"id":2826221876331470}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","email":"frog@datadoghq.com"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.427791ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/powerpacks/2da24dea-985e-11f0-b67d-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"2da24dea-985e-11f0-b67d-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackEventTimeline-local-1758619069","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackEventTimeline-local-1758619069","type":"group","widgets":[{"definition":{"query":"status:error","tags_execution":"and","title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":4,"width":3,"x":5,"y":5},"id":2826221876331470}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","email":"frog@datadoghq.com"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.008208ms
[...]
