---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"category":"Scheduled Maintenance","description":"test correction with slo_query","end":1790023479,"slo_query":"env:prod service:checkout","start":1790012679,"timezone":"UTC"},"type":"correction"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/slo/correction
        method: POST
      response:
            - chunked
        body: '{"data":{"type":"correction","id":"bdf399bc-b5db-11f1-ada1-da7ad0902002","attributes":{"slo_id":null,"start":1790012679,"end":1790023479,"description":"test correction with slo_query","category":"Scheduled Maintenance","timezone":"UTC","created_at":null,"modified_at":null,"rrule":null,"duration":null,"slo_query":"env:prod service:checkout","creator":{"data":{"type":"users","id":"780cfef8-1736-4a4e-a826-b875b1cadcec","attributes":{"uuid":"780cfef8-1736-4a4e-a826-b875b1cadcec","handle":"blaise.vonohlen@datadoghq.com","email":"blaise.vonohlen@datadoghq.com","name":"Blaise von Ohlen","icon":"https://secure.gravatar.com/avatar/c78d8282d57321884e8f77172229634f?s=48&d=retro"}}},"modifier":null}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.192ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/correction/bdf399bc-b5db-11f1-ada1-da7ad0902002
        method: GET
      response:
            - chunked
        body: '{"data":{"type":"correction","id":"bdf399bc-b5db-11f1-ada1-da7ad0902002","attributes":{"slo_id":null,"start":1790012679,"end":1790023479,"description":"test correction with slo_query","category":"Scheduled Maintenance","timezone":"UTC","created_at":1790009081,"modified_at":1790009081,"rrule":null,"duration":null,"slo_query":"env:prod service:checkout","creator":{"data":{"type":"users","id":"780cfef8-1736-4a4e-a826-b875b1cadcec","attributes":{"uuid":"780cfef8-1736-4a4e-a826-b875b1cadcec","handle":"blaise.vonohlen@datadoghq.com","email":"blaise.vonohlen@datadoghq.com","name":"Blaise von Ohlen","icon":"https://secure.gravatar.com/avatar/c78d8282d57321884e8f77172229634f?d=retro&s=48"}}},"modifier":null}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.400792ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/correction/bdf399bc-b5db-11f1-ada1-da7ad0902002
        method: GET
      response:
            - chunked
        body: '{"errors":["slo correction public id bdf399bc-b5db-11f1-ada1-da7ad0902002 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 77.272417ms
