---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplicationDatasourceNameFilter-local-1758619420","type":"browser"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","id":"ba3413ab-66cd-4db7-85a8-06c329bfaab8","attributes":{"type":"browser","org_id":321813,"hash":"pubad1eb35dfce38a8246433977459b0c6d","application_id":"ba3413ab-66cd-4db7-85a8-06c329bfaab8","ootb_metrics_installed":false,"short_name":"tf_testaccdatadogrumapplicationd_2552","created_by_handle":"frog@datadoghq.com","name":"tf-TestAccDatadogRUMApplicationDatasourceNameFilter-local-1758619420","updated_at":1758619423419,"updated_by_handle":"frog@datadoghq.com","tags":[],"client_token":"pubad1eb35dfce38a8246433977459b0c6d","created_at":1758619423419,"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1758619423419},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1758619423419}},"is_active":false,"api_key_id":652591,"product_analytics_replay_sample_rate":100}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 787.087834ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/ba3413ab-66cd-4db7-85a8-06c329bfaab8
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"org_id":321813,"product_scales":{"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1758619423419},"rum_event_processing_scale":{"state":"ALL","last_modified_at":1758619423419}},"client_token":"pubad1eb35dfce38a8246433977459b0c6d","hash":"pubad1eb35dfce38a8246433977459b0c6d","name":"tf-TestAccDatadogRUMApplicationDatasourceNameFilter-local-1758619420","is_active":false,"created_by_handle":"frog@datadoghq.com","type":"browser","short_name":"tf_testaccdatadogrumapplicationd_2552","created_at":1758619423419,"updated_at":1758619423419,"ootb_metrics_installed":false,"product_analytics_replay_sample_rate":100,"application_id":"ba3413ab-66cd-4db7-85a8-06c329bfaab8","updated_by_handle":"frog@datadoghq.com","api_key_id":652591,"tags":[]},"id":"ba3413ab-66cd-4db7-85a8-06c329bfaab8"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.641583ms
[...]
