---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a policy","enabled":true,"hostTags":["host_name:test_host"],"name":"vfnkpgedpv"},"type":"policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
        method: POST
      response:
        body: '{"data":{"id":"fgn-8mb-t4w","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":1,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":225,"name":"vfnkpgedpv","policyVersion":"1","priority":1000000013,"ruleCount":226,"updateDate":1748870650305,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 968.85225ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/fgn-8mb-t4w
        method: GET
      response:
        body: '{"data":{"id":"fgn-8mb-t4w","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":0,"name":"vfnkpgedpv","policyVersion":"1","priority":1000000013,"ruleCount":0,"updateDate":1748870650305,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.059917ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","name":"vfnkpgedpv","policy_id":"fgn-8mb-t4w","product_tags":["compliance_framework:PCI-DSS"]},"type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
        method: POST
      response:
        body: '{"data":{"id":"6ph-nop-wvc","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1748870653161,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["fgn-8mb-t4w"],"name":"vfnkpgedpv","product_tags":["compliance_framework:PCI-DSS"],"updateDate":1748870653161,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.241480583s
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/6ph-nop-wvc?policy_id=fgn-8mb-t4w
        method: GET
      response:
        body: '{"data":{"id":"6ph-nop-wvc","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1748870653161,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["fgn-8mb-t4w"],"name":"vfnkpgedpv","product_tags":["compliance_framework:PCI-DSS"],"updateDate":1748870653161,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.72725ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"updated agent rule for terraform provider test","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","policy_id":"fgn-8mb-t4w","product_tags":["compliance_framework:ISO-27799"]},"id":"6ph-nop-wvc","type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/6ph-nop-wvc
        method: PATCH
      response:
        body: '{"data":{"id":"6ph-nop-wvc","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1748870653161,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"updated agent rule for terraform provider test","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["fgn-8mb-t4w"],"name":"vfnkpgedpv","product_tags":["compliance_framework:ISO-27799"],"updateDate":1748870657423,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 512.696667ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/6ph-nop-wvc?policy_id=fgn-8mb-t4w
        method: GET
      response:
        body: |
            {"errors":[{"title":"failed to get rule"}]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 269.2095ms
