---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/archive-order
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"archive_order","attributes":{"archive_ids":["FDhaAaBtQ9yXG41RPzHFzQ","mSsyVnGVQjqsjtELbIsodA","jsZgsptVRwOFVwfhI0AuZA","SeP5uMpbRYSfvCik91qJtA"]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.980542ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"account_id":"551005253515","account_specific_namespace_rules":{},"cspm_resource_collection_enabled":false,"excluded_regions":[],"extended_resource_collection_enabled":false,"filter_tags":[],"host_tags":[],"metrics_collection_enabled":true,"resource_collection_enabled":false,"role_name":"testacc-datadog-integration-role"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: POST
      response:
            - chunked
        body: |
            {"external_id":"71be66b4739e45a78774590c98f33e84"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.090230708s
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: GET
      response:
            - chunked
        body: |
            {"accounts":[{"account_id":"171198138700","role_name":"DatadogAWSIntegrationRole","filter_tags":["$KEY:$VALUE"],"host_tags":["$KEY:$VALUE"],"account_specific_namespace_rules":{"auto_scaling":false},"excluded_regions":["us-east-1","us-west-2"],"metrics_collection_enabled":false,"errors":["Datadog is not authorized to perform action sts:AssumeRole\nAccount affected: 171198138700\nRegions affected: every region\nError was last seen 1m ago"],"cspm_resource_collection_enabled":true,"extended_resource_collection_enabled":true,"resource_collection_enabled":true},{"account_id":"170844477300","role_name":"DatadogAWSIntegrationRole","filter_tags":["$KEY:$VALUE"],"host_tags":["$KEY:$VALUE"],"account_specific_namespace_rules":{"auto_scaling":false},"excluded_regions":["us-east-1","us-west[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"destination":{"bucket":"my-bucket","integration":{"account_id":"551005253515","role_name":"testacc-datadog-integration-role"},"path":"/path/foo","type":"s3"},"include_tags":true,"name":"my first s3 archive","query":"service:tutu","rehydration_max_scan_size_in_gb":123,"rehydration_tags":["team:intake","team:app"]},"type":"archives"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/archives
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"zAQpdktZQiewJGNd0GQrRw","attributes":{"name":"my first s3 archive","query":"service:tutu","state":"UNKNOWN","destination":{"bucket":"my-bucket","path":"/path/foo","type":"s3","integration":{"role_name":"testacc-datadog-integration-role","account_id":"551005253515"}},"rehydration_tags":["team:intake","team:app"],"include_tags":true,"rehydration_max_scan_size_in_gb":123}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.256125ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/archives/zAQpdktZQiewJGNd0GQrRw
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"zAQpdktZQiewJGNd0GQrRw","attributes":{"name":"my first s3 archive","query":"service:tutu","state":"UNKNOWN","destination":{"bucket":"my-bucket","path":"/path/foo","type":"s3","integration":{"role_name":"testacc-datadog-integration-role","account_id":"551005253515"}},"rehydration_tags":["team:intake","team:app"],"include_tags":true,"rehydration_max_scan_size_in_gb":123}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.1385ms
[...]
