version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardScatterplotFormula_import-local-1682003514","widgets":[{"definition":{"requests":{"table":{"formulas":[{"dimension":"x","formula":"my_query_1"},{"alias":"second_query","dimension":"color","formula":"my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo} by {env}"},{"aggregator":"sum","data_source":"metrics","name":"my_query_2","query":"avg:system.cpu.idle{bar} by {env}"}],"response_format":"scalar"}},"type":"scatterplot"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"395-uvb-wwp","title":"tf-TestAccDatadogDashboardScatterplotFormula_import-local-1682003514","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/395-uvb-wwp/tf-testaccdatadogdashboardscatterplotformulaimport-local-1682003514","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"requests":{"table":{"formulas":[{"dimension":"x","formula":"my_query_1"},{"alias":"second_query","dimension":"color","formula":"my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo} by {env}"},{"aggregator":"sum","data_source":"metrics","name":"my_query_2","query":"avg:system.cpu.idle{bar} by {env}"}],"response_format":"scalar"}},"type":"scatterplot"},"id":2319414714698779}],"notify_list":[],"created_at":"2023-04-20T15:11:55.635554+00:00","modified_at":"2023-04-20T15:11:55.635554+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/395-uvb-wwp
    method: GET
    id: 1
  response:
    body: |
      {"id":"395-uvb-wwp","title":"tf-TestAccDatadogDashboardScatterplotFormula_import-local-1682003514","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/395-uvb-wwp/tf-testaccdatadogdashboardscatterplotformulaimport-local-1682003514","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"requests":{"table":{"formulas":[{"dimension":"x","formula":"my_query_1"},{"alias":"second_query","dimension":"color","formula":"my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo} by {env}"},{"aggregator":"sum","data_source":"metrics","name":"my_query_2","query":"avg:system.cpu.idle{bar} by {env}"}],"response_format":"scalar"}},"type":"scatterplot"},"id":2319414714698779}],"notify_list":[],"created_at":"2023-04-20T15:11:55.635554+00:00","modified_at":"2023-04-20T15:11:55.635554+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/395-uvb-wwp
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"395-uvb-wwp"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/395-uvb-wwp
    method: GET
    id: 5
  response:
    body: '{"errors":["Dashboard with ID 395-uvb-wwp not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
