---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"archive_ids":[]},"type":"archive_order"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsArchiveOrder
    url: https://api.datadoghq.com/api/v2/logs/config/archive-order
    method: PUT
  response:
    body: '{"errors":["Missing order for archive FDhaAaBtQ9yXG41RPzHFzQ"]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "29"
      X-Ratelimit-Reset:
      - "3"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
