---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_Import_OnMissingData_Conflict-local-1780966041","options":{"include_tags":true,"min_failure_duration":0,"min_location_failed":1,"new_host_delay":300,"notification_preset_name":"show_all","notify_audit":false,"on_missing_data":"show_and_notify_no_data","renotify_interval":null,"thresholds":{"critical":2},"timeout_h":null},"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":292998918,"org_id":321813,"type":"query alert","name":"tf-TestAccDatadogMonitor_Import_OnMissingData_Conflict-local-1780966041","message":"some message Notify: @hipchat-channel","tags":[],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"include_tags":true,"min_failure_duration":0,"min_location_failed":1,"new_host_delay":300,"notification_preset_name":"show_all","notify_audit":false,"on_missing_data":"show_and_notify_no_data","renotify_interval":null,"thresholds":{"critical":2.0},"timeout_h":null,"silenced":{}},"multi":true,"created_at":1780966043000,"created":"2026-06-09T00:47:23.061289+00:00","modified":"2026-06-09T00:47:23.061289+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.901334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/292998918?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":292998918,"org_id":321813,"type":"query alert","name":"tf-TestAccDatadogMonitor_Import_OnMissingData_Conflict-local-1780966041","message":"some message Notify: @hipchat-channel","tags":[],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"include_tags":true,"min_failure_duration":0,"min_location_failed":1,"new_host_delay":300,"notification_preset_name":"show_all","notify_audit":false,"on_missing_data":"show_and_notify_no_data","renotify_interval":null,"thresholds":{"critical":2.0},"timeout_h":null,"silenced":{}},"multi":true,"created_at":1780966043000,"created":"2026-06-09T00:47:23.061289+00:00","modified":"2026-06-09T00:47:23.061289+00:00","deleted":null,"priority":null,"restricted_roles":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.321958ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_Import_OnMissingData_Conflict-local-1780966041","options":{"include_tags":true,"new_host_delay":300,"notification_preset_name":"show_all","notify_no_data":false,"on_missing_data":"show_and_notify_no_data","require_full_window":false,"thresholds":{"critical":2}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/292998918/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.101666ms
