---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplicationDatasourceNameFilter-local-1756173087","type":"browser"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"tags":[],"product_scales":{"product_analytics_retention_scale":{"last_modified_at":1756173088831,"state":"NONE"},"rum_event_processing_scale":{"last_modified_at":1756173088831,"state":"ALL"}},"type":"browser","created_at":1756173088831,"updated_by_handle":"frog@datadoghq.com","is_active":false,"product_analytics_replay_sample_rate":100,"updated_at":1756173088831,"org_id":321813,"application_id":"1164310a-4ba5-4232-98b3-4764a0ee7879","hash":"pub7e29c0fcd40f628511434cc2fa461a3c","name":"tf-TestAccDatadogRUMApplicationDatasourceNameFilter-local-1756173087","client_token":"pub7e29c0fcd40f628511434cc2fa461a3c","created_by_handle":"frog@datadoghq.com"},"id":"1164310a-4ba5-4232-98b3-4764a0ee7879"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.259162166s
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/1164310a-4ba5-4232-98b3-4764a0ee7879
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"org_id":321813,"client_token":"pub7e29c0fcd40f628511434cc2fa461a3c","hash":"pub7e29c0fcd40f628511434cc2fa461a3c","created_by_handle":"frog@datadoghq.com","product_analytics_replay_sample_rate":100,"name":"tf-TestAccDatadogRUMApplicationDatasourceNameFilter-local-1756173087","created_at":1756173088831,"tags":[],"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1756173088831},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1756173088831}},"updated_by_handle":"frog@datadoghq.com","application_id":"1164310a-4ba5-4232-98b3-4764a0ee7879","is_active":false,"type":"browser","updated_at":1756173088831},"id":"1164310a-4ba5-4232-98b3-4764a0ee7879"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.30475ms
[...]
