version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"reflow_type":"auto","tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardMultiSizeLayout_createAuto-local-1682003487","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"v4w-9th-nva","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createAuto-local-1682003487","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/v4w-9th-nva/tf-testaccdatadogdashboardmultisizelayoutcreateauto-local-1682003487","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"id":2199010037072634},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"id":2133264698837527}],"notify_list":[],"created_at":"2023-04-20T15:11:28.877167+00:00","modified_at":"2023-04-20T15:11:28.877167+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/v4w-9th-nva
    method: GET
    id: 1
  response:
    body: |
      {"id":"v4w-9th-nva","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createAuto-local-1682003487","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/v4w-9th-nva/tf-testaccdatadogdashboardmultisizelayoutcreateauto-local-1682003487","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"id":2199010037072634},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"id":2133264698837527}],"notify_list":[],"created_at":"2023-04-20T15:11:28.877167+00:00","modified_at":"2023-04-20T15:11:28.877167+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/v4w-9th-nva
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"v4w-9th-nva"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
