version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardFreeText-local-1682003504","widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"cdx-m7p-4cy","title":"tf-TestAccDatadogDashboardFreeText-local-1682003504","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/cdx-m7p-4cy/tf-testaccdatadogdashboardfreetext-local-1682003504","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":8982455980625450}],"notify_list":[],"created_at":"2023-04-20T15:11:46.233398+00:00","modified_at":"2023-04-20T15:11:46.233398+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/cdx-m7p-4cy
    method: GET
    id: 1
  response:
    body: |
      {"id":"cdx-m7p-4cy","title":"tf-TestAccDatadogDashboardFreeText-local-1682003504","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/cdx-m7p-4cy/tf-testaccdatadogdashboardfreetext-local-1682003504","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":8982455980625450}],"notify_list":[],"created_at":"2023-04-20T15:11:46.233398+00:00","modified_at":"2023-04-20T15:11:46.233398+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/cdx-m7p-4cy
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"cdx-m7p-4cy"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/cdx-m7p-4cy
    method: GET
    id: 5
  response:
    body: '{"errors":["Dashboard with ID cdx-m7p-4cy not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
