---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"encoding":"raw_message","framing":{"delimiter":"|","method":"character_delimited"},"id":"socket-dest-2","inputs":["source-1"],"mode":"udp","type":"socket"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"socket-destination-pipeline-udp"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"aefa8fb6-a9f6-11f0-9e6b-da7ad0900002","type":"pipelines","attributes":{"name":"socket-destination-pipeline-udp","config":{"destinations":[{"encoding":"raw_message","framing":{"delimiter":"|","method":"character_delimited"},"id":"socket-dest-2","inputs":["source-1"],"mode":"udp","type":"socket"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 390.193459ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/aefa8fb6-a9f6-11f0-9e6b-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"aefa8fb6-a9f6-11f0-9e6b-da7ad0900002","type":"pipelines","attributes":{"name":"socket-destination-pipeline-udp","config":{"destinations":[{"encoding":"raw_message","framing":{"delimiter":"|","method":"character_delimited"},"id":"socket-dest-2","inputs":["source-1"],"mode":"udp","type":"socket"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.341875ms
[...]
