---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateBasic-local-1765535267","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"2ac05dd3-93e2-4443-98a2-9a1c9f28a7c4","type":"deployment_gate","attributes":{"created_at":"2025-12-12T10:27:51.561762Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateBasic-local-1765535267","service":"my-service","updated_at":"2025-12-12T10:27:51.561762Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 162.586042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/2ac05dd3-93e2-4443-98a2-9a1c9f28a7c4
        method: GET
      response:
        body: '{"data":{"id":"2ac05dd3-93e2-4443-98a2-9a1c9f28a7c4","type":"deployment_gate","attributes":{"created_at":"2025-12-12T10:27:51.561762Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateBasic-local-1765535267","service":"my-service","updated_at":"2025-12-12T10:27:51.561762Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 175.897542ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/2ac05dd3-93e2-4443-98a2-9a1c9f28a7c4/rules
        method: GET
      response:
        body: '{"data":{"id":"2ac05dd3-93e2-4443-98a2-9a1c9f28a7c4","type":"list_deployment_rules","attributes":{"rules":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 159.035375ms
[...]
