---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"description":"context"},"enabled":false,"name":"tf-TestAccDatadogSecurityFindingsInboxRule_OptionalChurn-local-1789744815","rule":{"finding_types":["misconfiguration"],"query":"env:prod"}},"type":"inbox_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules
        method: POST
      response:
        body: '{"data":{"id":"8338d12a-f050-4893-981e-0c967291d9c2","type":"inbox_rules","attributes":{"action":{"description":"context"},"created_at":1789744817158,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":false,"modified_at":1789744817158,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRule_OptionalChurn-local-1789744815","rule":{"finding_types":["misconfiguration"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 969.586542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/8338d12a-f050-4893-981e-0c967291d9c2
        method: GET
      response:
        body: '{"data":{"id":"8338d12a-f050-4893-981e-0c967291d9c2","type":"inbox_rules","attributes":{"action":{"description":"context"},"created_at":1789744817158,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":false,"modified_at":1789744817158,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRule_OptionalChurn-local-1789744815","rule":{"finding_types":["misconfiguration"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 232.919792ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/8338d12a-f050-4893-981e-0c967291d9c2
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 157.325833ms
