---
version: 1
interactions:
- request:
    body: |
      {"end":1677930060,"message":"tf-TestAccDatadogDowntime_BeginningAtDuration-local-1677863311","monitor_tags":["*"],"recurrence":{"period":1,"type":"days"},"scope":["*"],"start":1677924660,"timezone":"UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: |
      {"id":2721498488,"monitor_id":null,"org_id":820577,"start":1677924660,"end":1677930060,"canceled":null,"created":1677863315,"modified":1677863315,"message":"tf-TestAccDatadogDowntime_BeginningAtDuration-local-1677863311","active":false,"disabled":false,"recurrence":{"type":"days","period":1,"week_days":null,"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":5166061,"updater_id":null,"downtime_type":0,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"scope":["*"]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/downtime/2721498488
    method: GET
  response:
    body: |
      {"id":2721498488,"monitor_id":null,"org_id":820577,"start":1677924660,"end":1677930060,"canceled":null,"created":1677863315,"modified":1677863315,"message":"tf-TestAccDatadogDowntime_BeginningAtDuration-local-1677863311","active":false,"disabled":false,"recurrence":{"type":"days","period":1,"week_days":null,"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":5166061,"updater_id":null,"downtime_type":0,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"scope":["*"]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
