---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_sts_delegate","attributes":{"delegate_account_email":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"},"id":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.727167ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":["a:tag","and:another","another:one"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1728591792@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":["tag:one","tag:two"],"host_filters":["tag:one","tag:two"],"is_cspm_enabled":false,"is_security_command_center_enabled":false,"resource_collection_enabled":false},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1728591792@test-project.iam.gserviceaccount.com","is_security_command_center_enabled":false,"host_filters":["tag:one","tag:two"],"account_tags":["a:tag","and:another","another:one"],"resource_collection_enabled":false,"cloud_run_revision_filters":["tag:one","tag:two"],"is_resource_change_collection_enabled":false,"automute":false,"is_cspm_enabled":false},"id":"b554f804-4240-4fe2-a04e-af5a4d147883"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 476.108042ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"gcp_service_account","attributes":{"client_email":"ui@google.com","resource_collection_enabled":true,"is_security_command_center_enabled":false,"account_tags":[],"is_cspm_enabled":false,"automute":false,"is_resource_change_collection_enabled":false,"host_filters":[],"cloud_run_revision_filters":[]},"meta":{"accessible_projects":[]},"id":"8f12ca8e-5b6e-4904-8853-4b49ee096fbe"},{"type":"gcp_service_account","attributes":{"client_email":"bozo@google.com","resource_collection_enabled":false,"is_security_command_center_enabled":false,"account_tags":[],"is_cspm_enabled":false,"automute":false,"is_resource_change_collection_enabled":false,"host_filters":[],"cloud_run_revision_filters":[]},"meta":{"accessible_projects":[]},"id":"e06c6a63-983c-4858-9d43-c4f560c132d9"},{"type":"gcp_service_account","attributes":{"client_email":"[...]
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":true,"cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":true,"is_security_command_center_enabled":true,"resource_collection_enabled":true},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/b554f804-4240-4fe2-a04e-af5a4d147883
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"is_security_command_center_enabled":true,"host_filters":[],"account_tags":[],"is_resource_change_collection_enabled":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1728591792@test-project.iam.gserviceaccount.com","is_cspm_enabled":true,"resource_collection_enabled":true,"cloud_run_revision_filters":[],"automute":true},"id":"b554f804-4240-4fe2-a04e-af5a4d147883"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 627.329458ms
[...]
