---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["prometheus-source-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","sources":[{"auth_strategy":"none","id":"prometheus-source-1","path":"/api/v1/write","type":"prometheus_remote_write"}]},"name":"prometheus-remote-write-source-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"3fd8baa4-ad5b-11f1-8af1-da7ad0900002","type":"pipelines","attributes":{"name":"prometheus-remote-write-source-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["prometheus-source-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"auth_strategy":"none","id":"prometheus-source-1","path":"/api/v1/write","type":"prometheus_remote_write"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 726.971542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/3fd8baa4-ad5b-11f1-8af1-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"3fd8baa4-ad5b-11f1-8af1-da7ad0900002","type":"pipelines","attributes":{"name":"prometheus-remote-write-source-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["prometheus-source-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"auth_strategy":"none","id":"prometheus-source-1","path":"/api/v1/write","type":"prometheus_remote_write"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 315.258584ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["prometheus-source-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","sources":[{"address_key":"PROMETHEUS_ADDRESS","auth_strategy":"none","id":"prometheus-source-1","path":"/api/v1/write","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/prometheus.crt","key_file":"/etc/ssl/private/prometheus.key","verify_certificate":true},"type":"prometheus_remote_write","valid_tokens":[{"enabled":true,"path_to_token":{"header":"X-Auth-Token"},"token_key":"PROMETHEUS_TOKEN_PRIMARY"},{"enabled":true,"path_to_token":"path","token_key":"PROMETHEUS_TOKEN_SECONDARY"}]}]},"name":"prometheus-remote-write-source-pipeline"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/3fd8baa4-ad5b-11f1-8af1-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"3fd8baa4-ad5b-11f1-8af1-da7ad0900002","type":"pipelines","attributes":{"name":"prometheus-remote-write-source-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["prometheus-source-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"address_key":"PROMETHEUS_ADDRESS","auth_strategy":"none","id":"prometheus-source-1","path":"/api/v1/write","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/prometheus.crt","key_file":"/etc/ssl/private/prometheus.key","verify_certificate":true},"type":"prometheus_remote_write","valid_tokens":[{"enabled":true,"path_to_token":{"header":"X-Auth-Token"},"token_key":"PROMETHEUS_TOKEN_PRIMARY"},{"enabled":true,"path_to_token":"path","token_key":"PROMETHEUS_TOKEN_SECONDARY"}]}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 1.070648625s
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["prometheus-source-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","sources":[{"address_key":"PROMETHEUS_ADDRESS","auth_strategy":"plain","id":"prometheus-source-1","password_key":"PROMETHEUS_PASSWORD","path":"/api/v1/write","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/prometheus.crt","key_file":"/etc/ssl/private/prometheus.key","verify_certificate":true},"type":"prometheus_remote_write","username_key":"PROMETHEUS_USERNAME"}]},"name":"prometheus-remote-write-source-pipeline"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/3fd8baa4-ad5b-11f1-8af1-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"3fd8baa4-ad5b-11f1-8af1-da7ad0900002","type":"pipelines","attributes":{"name":"prometheus-remote-write-source-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["prometheus-source-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"address_key":"PROMETHEUS_ADDRESS","auth_strategy":"plain","id":"prometheus-source-1","password_key":"PROMETHEUS_PASSWORD","path":"/api/v1/write","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/prometheus.crt","key_file":"/etc/ssl/private/prometheus.key","verify_certificate":true},"type":"prometheus_remote_write","username_key":"PROMETHEUS_USERNAME"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 1.329821083s
[...]
