---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"filter":{"query":"error_code:123 service:my-service @duration:\u003e600ms"},"filter_type":"spans-sampling-processor","name":"tf-TestAccApmRetentionFilter-local-1720616290 - second","rate":0.1},"type":"apm_retention_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"qu0N5MSuSYao_C6cNMKOFA","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1720616290 - second","rate":0.1,"trace_rate":0.0,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 AND service:my\\-service AND @duration:>600000000"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1720616292,"created_by":"frog@datadoghq.com","created_at":1720616292},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 503.03575ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/qu0N5MSuSYao_C6cNMKOFA
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"qu0N5MSuSYao_C6cNMKOFA","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1720616290 - second","rate":0.1,"trace_rate":0.0,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 AND service:my\\-service AND @duration:>600000000"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1720616292,"created_by":"frog@datadoghq.com","created_at":1720616292},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.949083ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/rIbF0jxFSMeXs75nduLCkA
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"rIbF0jxFSMeXs75nduLCkA","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1720616290","rate":0.1,"trace_rate":0.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 AND service:my\\-service AND @duration:>600000000"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1720616292,"created_by":"frog@datadoghq.com","created_at":1720616292},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.165667ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/rIbF0jxFSMeXs75nduLCkA
        method: GET
      response:
            - chunked
        body: '{"errors":["retention filter with id: ''rIbF0jxFSMeXs75nduLCkA'' not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 142.091667ms
[...]
