---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules?page%5Bnumber%5D=0&page%5Bsize%5D=100
    method: GET
  response:
    body: |
      {"meta":{"page":{"total_filtered_count":100,"total_count":152}},"data":[{"updateAuthorId":0,"creationAuthorId":0,"tags":["framework_version:1.5.1","scored:true","security:compliance","requirement:Controller-Manager","control:1.3.5","source:compliance-agent","framework:cis-kubernetes"],"isEnabled":true,"hasExtendedTitle":true,"message":"## Description\n\nAllow pods to verify the API server's serving certificate before establishing connections.\n\n## Rationale\n\nProcesses running within pods that need to contact the API server must verify the API server's serving certificate. Failing to do so could be a subject to man-in-the-middle attacks. Providing the root certificate for the API server's serving certificate to the controller manager with the `--root-ca-file` argument allows the controller manager to inject the trusted bund[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules?page%5Bnumber%5D=2&page%5Bsize%5D=100
    method: GET
  response:
    body: |
      {"meta":{"page":{"total_filtered_count":0,"total_count":152}},"data":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
