---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"@http.status_code:200 service:my-service"}},"id":"\"tf_TestAccSpansMetricDynamicGroupBys_empty_local_1745501999\"","type":"spans_metrics"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/apm/config/metrics
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"tf_TestAccSpansMetricDynamicGroupBys_empty_local_1745501999","attributes":{"filter":{"query":"@http.status_code:200 service:my-service"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"spans_metrics"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 732.442167ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/metrics/tf_TestAccSpansMetricDynamicGroupBys_empty_local_1745501999
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"tf_TestAccSpansMetricDynamicGroupBys_empty_local_1745501999","attributes":{"filter":{"query":"@http.status_code:200 service:my-service"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"spans_metrics"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.014542ms
[...]
