---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1749436032","name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1749436032"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"8ff5cdbe-ebde-4814-b6cf-03561b6bbb5c","attributes":{"name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1749436032","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1749436032","summary":"Description","description":"Description","avatar":null,"banner":11,"visible_modules":[],"hidden_modules":[],"created_at":"2025-06-09T02:27:14.432606+00:00","modified_at":"2025-06-09T02:27:14.432617+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/8ff5cdbe-ebde-4814-b6cf-03561b6bbb5c/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/8ff5cdbe-ebde-4814-b6cf-03561b6bbb5c/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 918.2775ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallescalationpolicycreateandupdate-local-1749436032@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"41ab767c-44d9-11f0-b964-f6ad3c97316c","attributes":{"name":null,"handle":"tf-testacconcallescalationpolicycreateandupdate-local-1749436032@example.com","created_at":"2025-06-09T02:27:14.883410+00:00","modified_at":"2025-06-09T02:27:14.883410+00:00","email":"tf-testacconcallescalationpolicycreateandupdate-local-1749436032@example.com","icon":"https://secure.gravatar.com/avatar/fa8f774106c4473ea2cf0b5a22679007?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.271877875s
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"41ab767c-44d9-11f0-b964-f6ad3c97316c","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"41f89ea8-44d9-11f0-a38f-da7ad0900002","attributes":{"uuid":"41f89ea8-44d9-11f0-a38f-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-06-09T02:27:15.388289+00:00","expires_at":"2025-06-11T02:27:15.226496+00:00"},"relationships":{"user":{"data":{"type":"users","id":"41ab767c-44d9-11f0-b964-f6ad3c97316c"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 506.597583ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"41ab767c-44d9-11f0-b964-f6ad3c97316c"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1749436032","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"8ff5cdbe-ebde-4814-b6cf-03561b6bbb5c","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"70dd3ff3-a940-4935-b143-9fd1407f73f1","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1749436032","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"3e1df86d-a58d-43bc-b97f-370e73086d8d","type":"layers"}]},"teams":{"data":[{"id":"8ff5cdbe-ebde-4814-b6cf-03561b6bbb5c","type":"teams"}]}}},"included":[{"id":"3e1df86d-a58d-43bc-b97f-370e73086d8d","type":"layers","attributes":{"effective_date":"2025-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"3e1df86d-a58d-43bc-b97f-370e73086d8d-member-1","type":"members"},{"id":"3e1df86d-a58d-43bc-b97f-370e73086d8d-member-2","type":"members"}]}}},{"id":"3e1df86d-a58d-43bc-b97f-370e73086d8d-member-1","type":"members","relationships":{"user":{"data":{"id":"41ab767c-44d9-11f0-b964-f6ad3c97316c","type":"users"}}}},{"id":"41ab767c-44d9-11f0-b964-f6ad3c97316c","type":"users","attributes":{"email":"tf-testacconcallescalationpolicycreateandupdate-local-1749436032@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 237.77825ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"policy_test_defaults","resolve_page_on_policy_end":false,"retries":0,"steps":[{"assignment":"default","escalate_after_seconds":100,"targets":[{"id":"70dd3ff3-a940-4935-b143-9fd1407f73f1","type":"schedules"}]}]},"type":"policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
        method: POST
      response:
        body: '{"data":{"id":"0467184b-a2e6-4227-b634-23da0741c39d","type":"policies","attributes":{"name":"policy_test_defaults","resolve_page_on_policy_end":false,"retries":0},"relationships":{"steps":{"data":[{"id":"9b6e1bc1-07d7-4e18-8948-860bee641d88","type":"steps"}]},"teams":{"data":[]}}},"included":[{"id":"9b6e1bc1-07d7-4e18-8948-860bee641d88","type":"steps","attributes":{"assignment":"default","escalate_after_seconds":100},"relationships":{"targets":{"data":[{"id":"70dd3ff3-a940-4935-b143-9fd1407f73f1","type":"schedules"}]}}},{"id":"70dd3ff3-a940-4935-b143-9fd1407f73f1","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1749436032","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"3e1df86d-a58d-43bc-b97f-370e73086d8d","type":"layers"}]},"teams":{"data":[{"id":"8ff5cdbe-ebde-4814-b6cf-03561b6bbb5c","type":"teams"}]}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 249.213875ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/41ab767c-44d9-11f0-b964-f6ad3c97316c
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"41ab767c-44d9-11f0-b964-f6ad3c97316c","attributes":{"name":null,"handle":"tf-testacconcallescalationpolicycreateandupdate-local-1749436032@example.com","created_at":"2025-06-09T02:27:14.883410+00:00","modified_at":"2025-06-09T02:27:14.883410+00:00","email":"tf-testacconcallescalationpolicycreateandupdate-local-1749436032@example.com","icon":"https://secure.gravatar.com/avatar/fa8f774106c4473ea2cf0b5a22679007?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.831291ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/8ff5cdbe-ebde-4814-b6cf-03561b6bbb5c
        method: GET
      response:
        body: '{"data":{"id":"8ff5cdbe-ebde-4814-b6cf-03561b6bbb5c","type":"team","attributes":{"created_at":"2025-06-09T02:27:14.432606+00:00","description":"Description","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1749436032","is_managed":false,"link_count":0,"modified_at":"2025-06-09T02:27:14.432617+00:00","name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1749436032","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/8ff5cdbe-ebde-4814-b6cf-03561b6bbb5c/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/8ff5cdbe-ebde-4814-b6cf-03561b6bbb5c/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 261.912625ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/70dd3ff3-a940-4935-b143-9fd1407f73f1?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"70dd3ff3-a940-4935-b143-9fd1407f73f1","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1749436032","time_zon[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/0467184b-a2e6-4227-b634-23da0741c39d?include=steps.targets
        method: GET
      response:
        body: '{"data":{"id":"0467184b-a2e6-4227-b634-23da0741c39d","type":"policies","attributes":{"name":"policy_test_defaults","resolve_page_on_policy_end":false,"retries":0},"relationships":{"steps":{"data":[{"id":"9b6e1bc1-07d7-4e18-8948-860bee641d88","type":"steps"}]},"teams":{"data":[]}}},"included":[{"id":"9b6e1bc1-07d7-4e18-8948-860bee641d88","type":"steps","attributes":{"assignment":"default","escalate_after_seconds":100},"relationships":{"targets":{"data":[{"id":"70dd3ff3-a940-4935-b143-9fd1407f73f1","type":"schedules"}]}}},{"id":"70dd3ff3-a940-4935-b143-9fd1407f73f1","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1749436032","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"3e1df86d-a58d-43bc-b97f-370e73086d8d","type":"layers"}]},"teams":{"data":[{"id":"8ff5cdbe-ebde-4814-b6cf-03561b6bbb5c","type":"teams"}]}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 216.854333ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/0467184b-a2e6-4227-b634-23da0741c39d
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 212.117541ms
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/70dd3ff3-a940-4935-b143-9fd1407f73f1
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 239.274042ms
[...]
