---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"domain_prefix":"test-sp-component-basic-1787184434","name":"test-sp-component-basic-1787184434","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"ea6b91d5-4c89-4310-b2dd-c7fdc4c8a873","type":"status_pages","attributes":{"company_logo":null,"components":[],"created_at":"2026-08-20T00:07:17.971231Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-component-basic-1787184434","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-20T00:07:17.971231Z","name":"test-sp-component-basic-1787184434","page_url":"https://frog.datadoghq.com/status-pages/ea6b91d5-4c89-4310-b2dd-c7fdc4c8a873/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 772.896042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"API","position":0,"type":"component"},"type":"components"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/ea6b91d5-4c89-4310-b2dd-c7fdc4c8a873/components
        method: POST
      response:
        body: '{"data":{"id":"c79bfe36-547f-428e-b613-a081891f7994","type":"components","attributes":{"created_at":"2026-08-20T00:07:18.745058Z","modified_at":"2026-08-20T00:07:18.745058Z","name":"API","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"ea6b91d5-4c89-4310-b2dd-c7fdc4c8a873","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 64.956542ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/ea6b91d5-4c89-4310-b2dd-c7fdc4c8a873/components/c79bfe36-547f-428e-b613-a081891f7994
        method: GET
      response:
        body: '{"data":{"id":"c79bfe36-547f-428e-b613-a081891f7994","type":"components","attributes":{"created_at":"2026-08-20T00:07:18.745058Z","modified_at":"2026-08-20T00:07:18.745058Z","name":"API","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"ea6b91d5-4c89-4310-b2dd-c7fdc4c8a873","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 140.926792ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/ea6b91d5-4c89-4310-b2dd-c7fdc4c8a873
        method: GET
      response:
        body: '{"data":{"id":"ea6b91d5-4c89-4310-b2dd-c7fdc4c8a873","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"c79bfe36-547f-428e-b613-a081891f7994","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-20T00:07:17.971231Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-component-basic-1787184434","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-20T00:07:17.971231Z","name":"test-sp-component-basic-1787184434","page_url":"https://frog.datadoghq.com/status-pages/ea6b91d5-4c89-4310-b2dd-c7fdc4c8a873/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 90.613375ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/ea6b91d5-4c89-4310-b2dd-c7fdc4c8a873/components/c79bfe36-547f-428e-b613-a081891f7994
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 57.911042ms
