---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"some description about foo SLO","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393{type:good}.as_count()"},"tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393"],"target_threshold":99.5,"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"},{"target":99,"timeframe":"90d"}],"timeframe":"7d","type":"metric","warning_threshold":99.8}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/slo
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"id":"aa6c5c8a97fe5e64b6e7ed0ddf71efa1","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393{type:good}.as_count()"},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1758619396,"modified_at":1758619396}],"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.073291ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo?ids=aa6c5c8a97fe5e64b6e7ed0ddf71efa1
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"id":"aa6c5c8a97fe5e64b6e7ed0ddf71efa1","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393{type:good}.as_count()"},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1758619396,"modified_at":1758619396}],"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.560875ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/aa6c5c8a97fe5e64b6e7ed0ddf71efa1
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"aa6c5c8a97fe5e64b6e7ed0ddf71efa1","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393{type:good}.as_count()"},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1758619396,"modified_at":1758619396},"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 323.234041ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo?query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"id":"aa6c5c8a97fe5e64b6e7ed0ddf71efa1","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","tags":["foo:tf_testaccdatadogservicelevelobjectivesdat[...]
[...]
    - id: 14
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/search?page%5Bnumber%5D=0&page%5Bsize%5D=100&query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"service_level_objective_search_results","attributes":{"slos":[{"data":{"type":"slo","attributes":{"warning_threshold":99.8,"monitor_ids":null,"timeframe":"7d","env_tags":[],"query":{"numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393{type:good}.as_count()","metrics":null,"denominator":"sum:my.metric{*}.as_count()"},"name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","all_tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393"],"target_threshold":99.5,"service_tags":[],"thresholds":[{"target_display":"99.5","timeframe":"7d","warning_display":"99.5","warning":99.8,"target":99.5},{"target_display":"99","timeframe":"30d","target":99.0},{"target_display":"99","timeframe":"90d","target":99.0}],"team_tags":[],"slo_type":"metric","description":"some description about foo SLO","creator":{"id":1445416,"email":"frog@datadoghq.com","name":"frog"},"modified_at":1758619406,"groups":null,"created_at":1758619406},"id":"eca61e21605e5cda93eb6d63da6e40de"}},{"data":{"type":"slo","attributes":{"warning_threshold":99.8,"monitor_ids":null,"timeframe":"7d","env_tags":[],"query":{"numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393{type:good}.as_count()","metrics":null,"denominator":"sum:my.metric{*}.as_count()"},"name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","all_tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393"],"target_threshold":99.5,"service_tags":[],"thresholds":[{"target_display":"99.5","timeframe":"7d","warning_display":"99.5","warning":99.8,"target":99.5},{"target_display":"99","timeframe":"30d","target":99.0},{"target_display":"99","timeframe":"90d","target":99.0}],"team_tags":[],"slo_type":"metric","description":"some description about foo SLO","creator":{"id":1445416,"email":"frog@datadoghq.com","name":"frog"},"modified_at":1758619396,"groups":null,"created_at":1758619396},"id":"aa6c5c8a97fe5e64b6e7ed0ddf71efa1"}}]}},"meta":{"pagination":{"number":0,"first_number":0,"prev_number":0,"next_number":1,"last_number":0,"size":100,"type":"number_size","total":2}},"links":{"self":"https://api.datadoghq.com/api/v1/slo/search?page[number]=0&page[size]=100&query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","last":null,"next":"https://api.datadoghq.com/api/v1/slo/search?query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393&page[number]=1&page[size]=100","prev":null,"first":"https://api.datadoghq.com/api/v1/slo/search?query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393&page[number]=0&page[size]=100"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.24375ms
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo?tags_query=foo%3Atf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"id":"aa6c5c8a97fe5e64b6e7ed0ddf71efa1","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","tags":["foo:tf_testaccdatadogservicelevelo[...]
[...]
    - id: 28
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/search?page%5Bnumber%5D=0&page%5Bsize%5D=100&query=foo%3Atf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"service_level_objective_search_results","attributes":{"slos":[{"data":{"type":"slo","attributes":{"team_tags":[],"thresholds":[{"warning":99.8,"timeframe":"7d","target":99.5,"target_display":"99.5","warning_display":"99.5"},{"timeframe":"30d","target":99.0,"target_display":"99"},{"timeframe":"90d","target":99.0,"target_display":"99"}],"service_tags":[],"target_threshold":99.5,"monitor_ids":null,"name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","overall_status":[{"state":"no_data","error":"overall denominator (total events) is 0","timeframe":"7d","target":99.5,"indexed_at":1758619421},{"state":"no_data","error":"overall denominator (total events) is 0","timeframe":"30d","target":99.0,"indexed_at":1758619422},{"state":"no_data","error":"overall denominator (total events) is 0","timeframe":"90d","target":99.0,"indexed_at":1758619422}],"creator":{"email":"frog@datadoghq.com","name":"frog","id":1445416},"description":"some description about foo SLO","warning_threshold":99.8,"created_at":1758619406,"modified_at":1758619406,"groups":null,"timeframe":"7d","query":{"numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393{type:good}.as_count()","metrics":null,"denominator":"sum:my.metric{*}.as_count()"},"status":{"indexed_at":1758619421,"calculation_error":"overall denominator (total events) is 0","state":"no_data"},"env_tags":[],"all_tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393"],"slo_type":"metric"},"id":"eca61e21605e5cda93eb6d63da6e40de"}},{"data":{"type":"slo","attributes":{"team_tags":[],"thresholds":[{"warning":99.8,"timeframe":"7d","target":99.5,"target_display":"99.5","warning_display":"99.5"},{"timeframe":"30d","target":99.0,"target_disp[...]
[...]
    - id: 35
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo?metrics_query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"id":"aa6c5c8a97fe5e64b6e7ed0ddf71efa1","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1758619393","tags":["tf_testaccdatadogservicelevelobjectiv[...]
[...]
    - id: 49
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/eca61e21605e5cda93eb6d63da6e40de
        method: GET
      response:
            - chunked
        body: '{"errors":["SLO not found: eca61e21605e5cda93eb6d63da6e40de not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 165.065417ms
[...]
