---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: '{"description":"Created using the Datadog provider in Terraform","layout_type":"ordered","notify_list":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":["@1","@2"]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":["@3"]}],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardJSONTab-local-1773852218","widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
        body: '{"id":"mgs-5t7-gpz","title":"tf-TestAccDatadogDashboardJSONTab-local-1773852218","description":"Created using the Datadog provider in Terraform","author_handle":"40d8f8bd-9573-11f0-ad48-6a6a7ae62a4c","author_name":"Bruce Service Account Admin","layout_type":"ordered","url":"/dashboard/mgs-5t7-gpz/tf-testaccdatadogdashboardjsontab-local-1773852218","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":8755800675276396},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":6983783457121013},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":6921163295912071}],"notify_list":[],"created_at":"2026-03-18T16:43:44.978134+00:00","modified_at":"2026-03-18T16:43:44.978134+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[8755800675276396,6983783457121013]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[6921163295912071]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.153084ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/mgs-5t7-gpz
        method: GET
      response:
        body: '{"id":"mgs-5t7-gpz","title":"tf-TestAccDatadogDashboardJSONTab-local-1773852218","description":"Created using the Datadog provider in Terraform","author_handle":"40d8f8bd-9573-11f0-ad48-6a6a7ae62a4c","author_na[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/mgs-5t7-gpz
        method: DELETE
      response:
        body: '{"deleted_dashboard_id":"mgs-5t7-gpz"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 510.506125ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/mgs-5t7-gpz
        method: GET
      response:
        body: '{"errors":["Dashboard with ID mgs-5t7-gpz not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 186.188125ms
