---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1765278250","name":"team-tf-testacconcallschedulecreateandupdate-local-1765278250"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: '{"data":{"id":"8d0a962b-251c-408d-ae85-b0821a0fe024","type":"team","attributes":{"avatar":null,"banner":4,"created_at":"2025-12-09T11:04:14.100266+00:00","description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1765278250","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2025-12-09T11:04:14.100266+00:00","name":"team-tf-testacconcallschedulecreateandupdate-local-1765278250","summary":"Description","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/8d0a962b-251c-408d-ae85-b0821a0fe024/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/8d0a962b-251c-408d-ae85-b0821a0fe024/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 506.410167ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1765278250@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"cc6027e4-d4ee-11f0-a8e3-f2bbd5292343","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1765278250@example.com","created_at":"2025-12-09T11:04:14.464464+00:00","modified_at":"2025-12-09T11:04:14.464464+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1765278250@example.com","icon":"https://secure.gravatar.com/avatar/35f2be1b6b98ddfbef08ef12f9988cdc?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 869.782166ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"cc6027e4-d4ee-11f0-a8e3-f2bbd5292343","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"ccbb858c-d4ee-11f0-ac0c-da7ad0900002","attributes":{"uuid":"ccbb858c-d4ee-11f0-ac0c-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-12-09T11:04:15.062811+00:00","expires_at":"2025-12-11T11:04:14.715343+00:00"},"relationships":{"user":{"data":{"type":"users","id":"cc6027e4-d4ee-11f0-a8e3-f2bbd5292343"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 590.197625ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00-08:00","end_date":"2026-01-01T00:00:00+05:00","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"cc6027e4-d4ee-11f0-a8e3-f2bbd5292343"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00-09:00"}],"name":"tf-testacconcallschedulecreateandupdate-local-1765278250","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"8d0a962b-251c-408d-ae85-b0821a0fe024","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"c0287ce7-67ef-4db4-bc32-d307bc5ff587","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1765278250","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"a09724f4-4f24-4b18-a92d-2bb50cb7e2a7","type":"layers"}]},"teams":{"data":[{"id":"8d0a962b-251c-408d-ae85-b0821a0fe024","type":"teams"}]}}},"included":[{"id":"a09724f4-4f24-4b18-a92d-2bb50cb7e2a7","type":"layers","attributes":{"effective_date":"2025-01-01T00:00:00-08:00","end_date":"2026-01-01T00:00:00+05:00","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00-09:00"},"relationships":{"members":{"data":[{"id":"a09724f4-4f24-4b18-a92d-2bb50cb7e2a7-member-1","type":"members"},{"id":"a09724f4-4f24-4b18-a92d-2bb50cb7e2a7-member-2","type":"members"}]}}},{"id":"a09724f4-4f24-4b18-a92d-2bb50cb7e2a7-member-1","type":"members","relationships":{"user":{"data":{"id":"cc6027e4-d4ee-11f0-a8e3-f2bbd5292343","type":"users"}}}},{"id":"cc6027e4-d4ee-11f0-a8e3-f2bbd5292343","type":"users","attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1765278250@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 148.515333ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/8d0a962b-251c-408d-ae85-b0821a0fe024
        method: GET
      response:
        body: '{"data":{"id":"8d0a962b-251c-408d-ae85-b0821a0fe024","type":"team","attributes":{"created_at":"2025-12-09T11:04:14.100266+00:00","description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1765278250","is_managed":false,"link_count":0,"modified_at":"2025-12-09T11:04:14.100266+00:00","name":"team-tf-testacconcallschedulecreateandupdate-local-1765278250","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/8d0a962b-251c-408d-ae85-b0821a0fe024/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/8d0a962b-251c-408d-ae85-b0821a0fe024/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 119.394375ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/cc6027e4-d4ee-11f0-a8e3-f2bbd5292343
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"cc6027e4-d4ee-11f0-a8e3-f2bbd5292343","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1765278250@example.com","created_at":"2025-12-09T11:04:14.464464+00:00","modified_at":"2025-12-09T11:04:14.464464+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1765278250@example.com","icon":"https://secure.gravatar.com/avatar/35f2be1b6b98ddfbef08ef12f9988cdc?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.630167ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/c0287ce7-67ef-4db4-bc32-d307bc5ff587?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"c0287ce7-67ef-4db4-bc32-d307bc5ff587","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1765278250","time_zone":"America/New_York"},"relationships":{[...]
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/c0287ce7-67ef-4db4-bc32-d307bc5ff587
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 139.298333ms
[...]
