---
version: 1
interactions:
- request:
    body: |
      {"daily_limit":200000,"exclusion_filters":[],"filter":{"query":"non-existent-query"},"name":"tf-testaccdatadoglogsindex-basic-local-1627305201","num_retention_days":15}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsIndex
    url: https://api.datadoghq.com/api/v1/logs/config/indexes
    method: POST
  response:
    body: '{"num_retention_days":15,"name":"tf-testaccdatadoglogsindex-basic-local-1627305201","is_rate_limited":false,"filter":{"query":"non-existent-query"},"exclusion_filters":[],"daily_limit":200000}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "29"
      X-Ratelimit-Reset:
      - "7"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsIndex
    url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindex-basic-local-1627305201
    method: GET
  response:
    body: '{"num_retention_days":15,"name":"tf-testaccdatadoglogsindex-basic-local-1627305201","is_rate_limited":false,"filter":{"query":"non-existent-query"},"exclusion_filters":[],"daily_limit":200000}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "29"
      X-Ratelimit-Reset:
      - "6"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"daily_limit":20000,"exclusion_filters":[{"filter":{"query":"app:coredns","sample_rate":0.97},"is_enabled":true,"name":"Filter coredns logs"}],"filter":{"query":"test:query"},"num_retention_days":15}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsIndex
    url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindex-basic-local-1627305201
    method: PUT
  response:
    body: '{"num_retention_days":15,"name":"tf-testaccdatadoglogsindex-basic-local-1627305201","is_rate_limited":false,"filter":{"query":"test:query"},"exclusion_filters":[{"is_enabled":true,"filter":{"query":"app:coredns","sample_rate":0.97},"name":"Filter coredns logs"}],"daily_limit":20000}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "29"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"daily_limit":20000,"disable_daily_limit":true,"exclusion_filters":[],"filter":{"query":"test:query"},"num_retention_days":15}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsIndex
    url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindex-basic-local-1627305201
    method: PUT
  response:
    body: '{"num_retention_days":15,"name":"tf-testaccdatadoglogsindex-basic-local-1627305201","is_rate_limited":false,"filter":{"query":"test:query"},"exclusion_filters":[],"daily_limit":null}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "29"
      X-Ratelimit-Reset:
      - "2"
    status: 200 OK
    code: 200
    duration: ""
[...]
