---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["generate-metrics-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"generate-metrics-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"generate-metrics-1","include":"*","metrics":[{"group_by":["service","env"],"include":"service:payments","metric_type":"count","name":"logs.generated","value":{"field":"events.count","strategy":"increment_by_field"}},{"include":"service:checkout","metric_type":"count","name":"logs.default_count","value":{"strategy":"increment_by_one"}}],"type":"generate_datadog_metrics"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"generate-metrics-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"ec67508a-db58-11f0-a53e-da7ad0900002","type":"pipelines","attributes":{"name":"generate-metrics-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["generate-metrics-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"generate-metrics-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"generate-metrics-1","include":"*","metrics":[{"group_by":["service","env"],"include":"service:payments","metric_type":"count","name":"logs.generated","value":{"field":"events.count","strategy":"increment_by_field"}},{"include":"service:checkout","metric_type":"count","name":"logs.default_count","value":{"strategy":"increment_by_one"}}],"type":"generate_datadog_metrics"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 363.539916ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/ec67508a-db58-11f0-a53e-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"ec67508a-db58-11f0-a53e-da7ad0900002","type":"pipelines","attributes":{"name":"generate-metrics-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["generate-metrics-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"generate-metrics-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"generate-metrics-1","include":"*","metrics":[{"group_by":["service","env"],"include":"service:payments","metric_type":"count","name":"logs.generated","value":{"field":"events.count","strategy":"increment_by_field"}},{"include":"service:checkout","metric_type":"count","name":"logs.default_count","value":{"strategy":"increment_by_one"}}],"type":"generate_datadog_metrics"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.938917ms
[...]
