---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1781083155-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
        body: '{"data":{"id":"0135f1ca-21e8-4551-8b38-65ef63afbef2","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1781083155-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]},"targeted_obfuscations":{"data":[]}}},"meta":{"group_count_limit":20,"rule_count_limit":750,"custom_rule_count_limit":100,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"has_cascading_enabled":false,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"min_sampling_rate":10,"is_onboarded_to_telemetry":true,"version":313065,"count_limit":750}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 356.257833ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"included_keyword_configuration":{"character_count":30,"keywords":[]},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1781083155","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"0135f1ca-21e8-4551-8b38-65ef63afbef2","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
        body: '{"data":{"id":"99fc6d0e-fc42-470b-a95e-a30914ace3c5","type":"sensitive_data_scanner_rule","attributes":{"description":"a description","excluded_namespaces":["username"],"included_keyword_configuration":{"keywords":[],"character_count":30},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1781083155","namespaces":[],"pattern":"regex","suppressions":{},"tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"0135f1ca-21e8-4551-8b38-65ef63afbef2","type":"sensitive_data_scanner_group"}},"targeted_obfuscations":{"data":[]}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 289.664084ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
        body: '{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"0135f1ca-21e8-4551-8b38-65ef63afbef2","type":"sensitive_data_scanner_group"}]}}},"meta":{"group_count_limit":20,"rule_count_limit":750,"custom_rule_count_limit":100,"group_targeted_obfuscation_limit":50,"org_targeted_obfuscation_limit":1000,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"has_cascading_enabled":false,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"min_sampling_rate":10,"is_onboarded_to_telemetry":true,"version":313066,"count_limit":750},"included":[{"id":"0135f1ca-21e8-4551-8b38-65ef63afbef2","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1781083155-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[{"id":"99fc6d0e-fc42-470b-a95e-a30914ace3c5","type":"sensitive_data_scanner_rule"}]}}},{"id":"99fc6d0e-fc42-470b-a95e-a30914ace3c5","type":"sensitive_data_scanner_rule","attributes":{"description":"a description","excluded_namespaces":["username"],"included_keyword_configuration":{"keywords":[],"character_count":30},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1781083155","namespaces":[],"pattern":"regex","suppressions":{},"tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"0135f1ca-21e8-4551-8b38-65ef63afbef2","type":"sensitive_data_scanner_group"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 158.849375ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1781083155-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"id":"0135f1ca-21e8-4551-8b38-65ef63afbef2","type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/0135f1ca-21e8-4551-8b38-65ef63afbef2
        method: PATCH
      response:
        body: '{"data":null,"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 307.037042ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1781083155","namespaces":[],"pattern":"regex","priority":1,"suppressions":{"ends_with":["@datadoghq.com"]},"tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"id":"99fc6d0e-fc42-470b-a95e-a30914ace3c5","type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/99fc6d0e-fc42-470b-a95e-a30914ace3c5
        method: PATCH
      response:
        body: '{"data":null,"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 386.348083ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1781083155","namespaces":[],"pattern":"regex","priority":1,"suppressions":{"ends_with":["@datadoghq.com"],"exact_match":["admin@datadoghq.com"],"starts_with":["arthur"]},"tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"relationships":{"group":{"data":{"id":"cdd0658e-7067-4561-825c-fc9f1cd26fa4","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
        body: '{"data":{"id":"6b777cdb-4239-4c01-985a-2b3a0e8efc0a","type":"sensitive_data_scanner_rule","attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"keywords":["credit card","cc"],"character_count":20},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1781083155","namespaces":[],"pattern":"regex","priority":1,"suppressions":{"starts_with":["arthur"],"ends_with":["@datadoghq.com"],"exact_match":["admin@datadoghq.com"]},"tags":["sensitive_data:true"],"text_replacement":{"type":"partial_replacement_from_beginning","number_of_chars":10}},"relationships":{"group":{"data":{"id":"cdd0658e-7067-4561-825c-fc9f1cd26fa4","type":"sensitive_data_scanner_group"}},"targeted_obfuscations":{"data":[]}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 277.294833ms
[...]
    - id: 26
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1781083155","namespaces":[],"pattern":"regex","priority":1,"suppressions":{},"tags":["sensitive_data:true"],"text_replacement":{"replacement_string":"REDACTED","should_save_match":true,"type":"replacement_string"}},"id":"6b777cdb-4239-4c01-985a-2b3a0e8efc0a","type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/6b777cdb-4239-4c01-985a-2b3a0e8efc0a
        method: PATCH
      response:
        body: '{"data":null,"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 381.32475ms
[...]
