---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"initialApplicationArguments":{"test_process_argument":"test1","test_process_argument_too":"test2"},"variables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"}]},"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsMobileTest_Updated-local-1731684268","options":{"bindings":[{"principals":["org:4dee724d-00cc-11ea-a77b-570c9d03c6c5","role:667cbd82-c7d1-11ec-aad8-da7ad0900002"],"relation":"editor"}],"ci":{"executionRule":"blocking"},"defaultStepTimeout":10,"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16","synthetics:mobile:device:apple_iphone_14_pro_ios_16"],"disableAutoAcceptAlert":true,"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_name":"tf-TestAccDatadogSyntheticsMobileTest_Updated-local-1731684268-monitor","monitor_options":{"escalation_message":"test escalation message","notification_preset_name":"show_all","renotify_interval":10,"renotify_occurrences":3},"monitor_priority":5,"noScreenshot":true,"restricted_roles":["role2","role1"],"retry":{"count":0,"interval":300},"scheduling":{"timeframes":[{"day":5,"from":"07:00","to":"16:00"},{"day":7,"from":"07:00","to":"16:00"}],"timezone":"UTC"},"tick_every":43200},"status":"paused","tags":["foo:bar","baz"],"type":"mobile"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/mobile
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"vrp-rgq-8qy","name":"tf-TestAccDatadogSyntheticsMobileTest_Updated-local-1731684268","status":"paused","type":"mobile","tags":["foo:bar","baz"],"created_at":"2024-11-15T15:24:32.227404+00:00","modified_at":"2024-11-15T15:24:32.227404+00:00","config":{"initialApplicationArguments":{"test_process_argument":"test1","test_process_argument_too":"test2"},"variables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"}]},"message":"Notify @datadog.user","options":{"bindings":[{"principals":["org:4dee724d-00cc-11ea-a77b-570c9d03c6c5","role:667cbd82-c7d1-11ec-aad8-da7ad0900002"],"relation":"editor"}],"ci":{"executionRule":"blocking"},"defaultStepTimeout":10,"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16","synthetics:mobile:device:apple_iphone_14_pro_ios_16"],"disableAutoAcceptAlert":true,"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_name":"tf-TestAccDatadogSyntheticsMobileTest_Updated-local-1731684268-monitor","monitor_options":{"escalation_message":"test escalation message","notification_preset_name":"show_all","renotify_interval":10,"renotify_occurrences":3,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"monitor_priority":5,"noScreenshot":true,"restricted_roles":["role2","role1"],"retry":{"count":0,"interval":300},"scheduling":{"timeframes":[{"day":5,"from":"07:00","to":"16:00"},{"day":7,"from":"07:00","to":"16:00"}],"timezone":"UTC"},"tick_every":43200},"locations":["aws:us-west-2"],"created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":158327570,"org_id":321813,"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"stepCount":{"assertions":0,"subtests":0,"total":0}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 676.630333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/mobile/vrp-rgq-8qy
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"vrp-rgq-8qy","name":"tf-TestAccDatadogSyntheticsMobileTest_Updated-local-1731684268","status":"paused","type":"mobile","tags":["foo:bar","baz"],"created_at":"2024-11-15T15:24:32.227404+00:00","modified_at":"2[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/vrp-rgq-8qy
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"vrp-rgq-8qy","name":"tf-TestAccDatadogSyntheticsMobileTest_Updated-local-1731684268","status":"paused","type":"mobile","tags":["foo:bar","baz"],"created_at":"2024-11-15T15:24:32.227404+00:00","modified_at":"2024-11-[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"initialApplicationArguments":{"test_process_argument":"test2"},"variables":[{"example":"","name":"NEW_VARIABLE_NAME","pattern":"","secure":true,"type":"text"}]},"message":"Notify @pagerduty","name":"tf-TestAccDatadogSyntheticsMobileTest_Updated-local-1731684268-updated-updated","options":{"allowApplicationCrash":true,"bindings":[{"principals":["org:4dee724d-00cc-11ea-a77b-570c9d03c6c5","role:667cbd82-c7d1-11ec-aad8-da7ad0900002"],"relation":"editor"}],"ci":{"executionRule":"skipped"},"defaultStepTimeout":20,"device_ids":["synthetics:mobile:device:apple_iphone_14_pro_ios_16"],"min_failure_duration":1,"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_name":"tf-TestAccDatadogSyntheticsMobileTest_Updated-local-1731684268-updated-monitor-updated","monitor_options":{"escalation_message":"updated test escalation message","notification_preset_name":"hide_query","renotify_interval":20,"renotify_occurrences":4},"monitor_priority":4,"restricted_roles":["role3","role4"],"retry":{"count":[...]
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["vrp-rgq-8qy"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"vrp-rgq-8qy","deleted_at":"2024-11-15T15:24:38.068926+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 781.760042ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/vrp-rgq-8qy
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 146.28975ms
