---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"default_timeframe":{"type":"live","unit":"week","value":1},"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardDefaultTimeframe-local-1776000001","widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"dtf-abc-001","title":"tf-TestAccDatadogDashboardDefaultTimeframe-local-1776000001","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/dtf-abc-001/tf-testaccdatadogdashboarddefaulttimeframe-local-1776000001","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":1234567890123456}],"notify_list":[],"created_at":"2026-04-11T18:40:01.000000+00:00","modified_at":"2026-04-11T18:40:01.000000+00:00","template_variable_presets":[],"tags":[],"default_timeframe":{"type":"live","unit":"week","value":1}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/dtf-abc-001
        method: GET
      response:
            - chunked
        body: '{"id":"dtf-abc-001","title":"tf-TestAccDatadogDashboardDefaultTimeframe-local-1776000001","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/dtf-abc-001/tf-testaccdatadogdashboarddefaulttimeframe-local-1776000001","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":1234567890123456}],"notify_list":[],"created_at":"2026-04-11T18:40:01.000000+00:00","modified_at":"2026-04-11T18:40:01.000000+00:00","template_variable_presets":[],"tags":[],"default_timeframe":{"type":"live","unit":"week","value":1}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/dtf-abc-001
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"dtf-abc-001"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/dtf-abc-001
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID dtf-abc-001 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 100ms
