---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a secure write-only global variable","is_fido":false,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEWRITEONLYSECURE_BASIC_LOCAL_1766409839","tags":["foo:bar","baz"],"value":{"secure":true,"value":"variable-wo-secure-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"478dfaa1-8370-43ac-b713-13f1d018c944","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEWRITEONLYSECURE_BASIC_LOCAL_1766409839","description":"a secure write-only global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.847291ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/478dfaa1-8370-43ac-b713-13f1d018c944
        method: GET
      response:
            - chunked
        body: |
            {"id":"478dfaa1-8370-43ac-b713-13f1d018c944","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEWRITEONLYSECURE_BASIC_LOCAL_1766409839","description":"a secure write-only global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2025-12-22T13:24:00.227175+00:00","modified_at":"2025-12-22T13:24:00.227175+00:00","last_error":null,"value":{"secure":true},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.281ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/478dfaa1-8370-43ac-b713-13f1d018c944
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 158.158458ms
