---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1640025693","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"5jj-e93-nrb","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1640025693","url":"/dashboard/5jj-e93-nrb/tf-testaccdatadogdashboardrbaccreateopen-local-1640025693","created_at":"2021-12-20T18:41:37.660338+00:00","modified_at":"2021-12-20T18:41:37.660338+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":3169559695341701}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/5jj-e93-nrb
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"5jj-e93-nrb","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1640025693","url":"/dashboard/5jj-e93-nrb/tf-testaccdatadogdashboardrbaccreateopen-local-1640025693","created_at":"2021-12-20T18:41:37.660338+00:00","modified_at":"2021-12-20T18:41:37.660338+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":3169559695341701}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/5jj-e93-nrb
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"5jj-e93-nrb"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
