---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"severity":"high","type":"set"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRulesOrder_Drift-local-1788858068-b","rule":{"finding_types":["secret"],"query":"env:dev"}},"type":"severity_modifier_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
        method: POST
      response:
        body: '{"data":{"id":"978b7313-a3c8-407f-973f-673f6dbc007e","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"high"},"created_at":1788858069549,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858069549,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRulesOrder_Drift-local-1788858068-b","rule":{"finding_types":["secret"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 326.518084ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"59bff3e2-12e7-4575-876f-99b53fa6464e","type":"severity_modifier_rules"},{"id":"978b7313-a3c8-407f-973f-673f6dbc007e","type":"severity_modifier_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"severity_modifier_rules","id":"59bff3e2-12e7-4575-876f-99b53fa6464e"},{"type":"severity_modifier_rules","id":"978b7313-a3c8-407f-973f-673f6dbc007e"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 278.385833ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/59bff3e2-12e7-4575-876f-99b53fa6464e
        method: GET
      response:
        body: '{"data":{"id":"59bff3e2-12e7-4575-876f-99b53fa6464e","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"high"},"created_at":1788858069554,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858069554,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRulesOrder_Drift-local-1788858068-a","rule":{"finding_types":["secret"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 171.646958ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
        method: GET
      response:
        body: '{"data":[{"id":"59bff3e2-12e7-4575-876f-99b53fa6464e","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"high"},"created_at":1788858069554,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858069554,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRulesOrder_Drift-local-1788858068-a","rule":{"finding_types":["secret"],"query":"env:dev"}}},{"id":"978b7313-a3c8-407f-973f-673f6dbc007e","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"high"},"created_at":1788858069549,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858069549,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRulesOrder_Drift-local-1788858068-b","rule":{"finding_types":["secret"],"query":"env:dev"}}}],"meta":{"page":{"total_filtered_count":2}},"links":{"first":"/api/v2/security/findings/automation/severity_modifier_rules?page[size]=1000\u0026page[number]=0","last":"/api/v2/security/findings/automation/severity_modifier_rules?page[size]=1000\u0026page[number]=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 166.786542ms
[...]
    - id: 23
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/59bff3e2-12e7-4575-876f-99b53fa6464e
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 151.420625ms
[...]
