---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"compression":"none","endpoint_url_key":"SPLUNK_HEC_ENDPOINT","id":"splunk-metrics-dest","inputs":["gen-metrics-v2-proc.metrics"],"token_key":"SPLUNK_HEC_TOKEN","type":"splunk_hec_metrics"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"gen-metrics-v2-group","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"gen-metrics-v2-proc","include":"*","metrics":[{"group_by":["service","env"],"include":"service:billing","metric_type":"count","name":"logs.processed","value":{"field":"events.count","strategy":"increment_by_field"}},{"include":"status:error","metric_type":"count","name":"logs.errors","value":{"strategy":"increment_by_one"}}],"type":"generate_metrics"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"generate-metrics-v2-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"3268b1f2-68c9-11f1-9b85-da7ad0900002","type":"pipelines","attributes":{"name":"generate-metrics-v2-pipeline","config":{"destinations":[{"compression":"none","endpoint_url_key":"SPLUNK_HEC_ENDPOINT","id":"splunk-metrics-dest","inputs":["gen-metrics-v2-proc.metrics"],"token_key":"SPLUNK_HEC_TOKEN","type":"splunk_hec_metrics"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"gen-metrics-v2-group","include":"*","inputs":["source-1"],"proce[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/3268b1f2-68c9-11f1-9b85-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"3268b1f2-68c9-11f1-9b85-da7ad0900002","type":"pipelines","attributes":{"name":"generate-metrics-v2-pipeline","config":{"destinations":[{"compression":"none","endpoint_url_key":"SPLUNK_HEC_ENDPOINT","id":"[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/3268b1f2-68c9-11f1-9b85-da7ad0900002
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 797.15675ms
