---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_invitation-local-1626980068@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"3f184224-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_invitation-local-1626980068@example.com","created_at":"2021-07-22T18:54:30.501390+00:00","modified_at":"2021-07-22T18:54:30.827054+00:00","email":"tf-testaccdatadoguser_invitation-local-1626980068@example.com","icon":"https://secure.gravatar.com/avatar/dc7a832c91eca2a45f875c250834d870?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"3f184224-eb1e-11eb-b233-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"3f769eb4-eb1e-11eb-b233-da7ad0900002","attributes":{"uuid":"3f769eb4-eb1e-11eb-b233-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2021-07-22T18:54:31.121042+00:00","expires_at":"2021-07-24T18:54:30.995336+00:00"},"relationships":{"user":{"data":{"type":"users","id":"3f184224-eb1e-11eb-b233-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/3f184224-eb1e-11eb-b233-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"3f184224-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_invitation-local-1626980068@example.com","created_at":"2021-07-22T18:54:30.501390+00:00","modified_at":"2021-07-22T18:54:30.827054+00:00","email":"tf-testaccdatadoguser_invitation-local-1626980068@example.com","icon":"https://secure.gravatar.com/avatar/dc7a832c91eca2a45f875c250834d870?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
