---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: "schema-version: v2.2\ndd-service: tf-testaccdatadogservicedefinition_basicv2_2-local-1758619230\ncontacts:\n  - contact: contact@datadoghq.com\n    name: Team Email\n    type: email\nextensions:\n  myorgextension: extensionvalue\nintegrations:\n  opsgenie:\n    region: US\n    service-url: https://my-org.opsgenie.com/service/123e4567-e89b-12d3-a456-426614174000\n  pagerduty:\n    service-url: https://my-org.pagerduty.com/service-directory/PMyService\nlinks:\n  - name: Architecture\n    type: doc\n    provider: Gigoogle drivetHub\n    url: https://my-runbook\n  - name: Runbook\n    type: runbook\n    url: https://my-runbook\n  - name: Source Code\n    type: repo\n    provider: GitHub\n    url: https://github.com/DataDog/schema\ntags:\n  - my:tag\n  - service:tag\nteam: my-team  \nlanguages:\n  - go\n  - python\ntype: web\n"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/services/definitions
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"service-definition","attributes":{"meta":{"last-modified-time":"2025-09-23T09:20:31.241709787Z","github-html-url":"","ingestion-source":"api","origin":"dd_terraform","origin-detail":"","warnings":[],"ingested-schema-version":"v2.2"},"schema":{"schema-version":"v2.2","dd-service":"tf-testaccdatadogservicedefinition_basicv2_2-local-1758619230","team":"my-team","contacts":[{"name":"Team Email","type":"email","contact":"contact@datadoghq.com"}],"links":[{"name":"Architecture","type":"doc","provider":"Gigoogle drivetHub","url":"https://my-runbook"},{"name":"Runbook","type":"runbook","url":"https://my-runbook"},{"name":"Source Code","type":"repo","provider":"GitHub","url":"https://github.com/DataDog/schema"}],"tags":["my:tag","service:tag"],"integrations":{"pagerduty":{"service-url":"https://my-org.pagerduty.com/service-directory/PMyService"},"opsgenie":{"service-url":"https://my-org.opsgenie.com/service/123e4567-e89b-12d3-a456-426614174000","region":"US"}},"extensions":{"myorgextension":"extensionvalue"},"type":"web","languages":["go","python"]}}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.438708ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/services/definitions/tf-testaccdatadogservicedefinition_basicv2_2-local-1758619230
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"service-definition","id":"c5c408fc-6bad-4b3d-96a9-d20b649122ce","attributes":{"meta":{"last-modif[...]
[...]
