---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Read+Only+Role
    method: GET
  response:
    body: |
      {"meta":{"page":{"total_filtered_count":1,"total_count":3}},"data":[{"type":"roles","id":"759f1c29-338b-11ed-8a3d-da7ad0900002","attributes":{"name":"Datadog Read Only Role","created_at":"2022-09-13T17:42:39.394190+00:00","modified_at":"2022-09-13T17:42:39.394190+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"1af86ce4-7823-11ea-93dc-d7cad1b1c6cb"},{"type":"permissions","id":"b382b982-8535-11ea-93de-2bf1bdf20798"},{"type":"permissions","id":"7314eb20-aa58-11ea-95e2-6fb6e4a451d5"},{"type":"permissions",[...]
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"some_linked_users_email@test.com","name":"Service account linked to some user","service_account":true},"relationships":{"roles":{"data":[{"id":"759f1c29-338b-11ed-8a3d-da7ad0900002","type":"roles"}]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"b26f2b96-82d5-11ed-bdde-92aebe549726","attributes":{"name":"Service account linked to some user","handle":"b26f2b96-82d5-11ed-bdde-92aebe549726","created_at":"2022-12-23T15:23:05.165267+00:00","modified_at":"2022-12-23T15:23:05.167751+00:00","email":"some_linked_users_email@test.com","icon":"https://secure.gravatar.com/avatar/d0d20c02bab484469978748ebb5c6c4b?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[{"type":"roles","id":"759f1c29-338b-11ed-8a3d-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"759f1c26-338b-11ed-8a3d-da7ad0900002"}}}},"included":[{"type":"roles","id":"759f1c29-338b-11ed-8a3d-da7ad0900002","attributes":{"name":"Datadog Read Only Role","created_at":"2022-09-13T17:42:39.394190+00:00","modified_at":"2022-09-13T17:42:39.394190+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/b26f2b96-82d5-11ed-bdde-92aebe549726
    method: GET
  response:
    body: |
      {"data":{"type":"users","id":"b26f2b96-82d5-11ed-bdde-92aebe549726","attributes":{"name":"Service account linked to some user","handle":"b26f2b96-82d5-11ed-bdde-92aebe549726","created_at":"2022-12-23T15:23:05.165267+00:00","modified_at":"2022-12-23T15:23:05.167751+00:00","email":"some_linked_users_email@test.com","ico[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/b26f2b96-82d5-11ed-bdde-92aebe549726
    method: DELETE
  response:
    body: ""
    headers: {}
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/759f1c29-338b-11ed-8a3d-da7ad0900002
    method: GET
  response:
    body: '{"errors":["user not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
