---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testaccdatadogroleusersdatasourceexactmatch-local-1758619422"},"relationships":{},"type":"roles"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles
        method: POST
      response:
        body: '{"data":{"id":"01c590dc-985f-11f0-934b-da7ad0900002","type":"roles","attributes":{"created_at":"2025-09-23T09:23:46.750536Z","modified_at":"2025-09-23T09:23:46.751702Z","name":"tf-testaccdatadogroleusersdatasourceexactmatch-local-1758619422","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 201.667834ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles/01c590dc-985f-11f0-934b-da7ad0900002
        method: GET
      response:
        body: '{"data":{"id":"01c590dc-985f-11f0-934b-da7ad0900002","type":"roles","attributes":{"created_at":"2025-09-23T09:23:46.750536Z","created_by_handle":"frog@datadoghq.com","modified_at":"2025-09-23T09:23:46.751702Z","modified_by_handle":"frog@datadoghq.com","name":"tf-testaccdatadogroleusersdatasourceexactmatch-local-1758619422","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 169.282334ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogroleusersdatasourceexactmatch-local-17586194221@example.com","name":"Foo Bar"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"020aab3f-985f-11f0-9671-cef28084537d","attributes":{"name":"Foo Bar","handle":"tf-testaccdatadogroleusersdatasourceexactmatch-local-17586194221@example.com","created_at":"2025-09-23T09:23:47.205434+00:00","modified_at":"2025-09-23T09:23:47.205434+00:00","email":"tf-testaccdatadogroleusersdatasourceexactmatch-local-17586194221@example.com","icon":"https://secure.gravatar.com/avatar/2b2aee10e32b989e3b8fc16d8c5e91b8?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 671.668875ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"0211f7a9-985f-11f0-8853-66a7e2ec2c13","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"028d5a7c-985f-11f0-9be2-da7ad0900002","attributes":{"uuid":"028d5a7c-985f-11f0-9be2-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:23:48.060916+00:00","expires_at":"2025-09-25T09:23:47.527226+00:00"},"relationships":{"user":{"data":{"type":"users","id":"0211f7a9-985f-11f0-8853-66a7e2ec2c13"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 830.994833ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"0211f7a9-985f-11f0-8853-66a7e2ec2c13","type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles/01c590dc-985f-11f0-934b-da7ad0900002/users
        method: POST
      response:
        body: '{"data":[{"id":"0211f7a9-985f-11f0-8853-66a7e2ec2c13","type":"users","attributes":{"allowed_login_methods":[],"created_at":"2025-09-23T09:23:47.253268Z","disabled":false,"email":"tf-testaccdatadogroleusersdatasourceexactmatch-local-1758619422@example.com","handle":"tf-testaccdatadogroleusersdatasourceexactmatch-local-1758619422@example.com","icon":"https://secure.gravatar.com/avatar/0ed1e5cfe65d4a61f6cb8578d680d4a8?d=retro\u0026s=48","modified_at":"2025-09-23T09:23:47.253268Z","name":"Foo BarBar","service_account":false,"status":"Pending","title":null,"verified":false},"relationships":{"org":{"data":{"id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","type":"orgs"}},"roles":{"data":[{"id":"01c590dc-985f-11f0-934b-da7ad0900002","type":"roles"}]}}}],"meta":{"page":{"total_count":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 171.434583ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles/01c590dc-985f-11f0-934b-da7ad0900002/users?filter=Foo+Bar&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"020aab3f-985f-11f0-9671-cef28084537d","type":"users","attributes":{"allowed_login_methods":[],"created_at":"2025-09-23T09:23:47.205434Z","disabled":false,"email":"tf-testaccda[...]
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/020aab3f-985f-11f0-9671-cef28084537d
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"020aab3f-985f-11f0-9671-cef28084537d","attributes":{"name":"Foo Bar","handle":"tf-testaccdatadogroleusersdatasourceexactmatch-local-17586194221@example.com","created_at":"2025-09-23T09:23:47.205434+00:00","modified_at":"2025-09-23T09:23:47.205434+00:00","email":"tf-testaccdatadogroleusersdatasourceexactmatch-local-17586194221@example.com","icon":"https://secure.gravatar.com/avatar/2b2aee10e32b989e3b8fc16d8c5e91b8?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[{"type":"roles","id":"01c590dc-985f-11f0-934b-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},"included":[{"type":"roles","id":"01c590dc-985f-11f0-934b-da7ad0900002","attributes":{"name":"tf-testaccdatadogroleusersdatasourceexactmatch-local-1758619422","managed":false,"created_at":"2025-09-23T09:23:46.750536+00:00","modified_at":"2025-09-23T09:23:46.751702+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"},{"type":"permissions","id":"f8e941cf-e746-11ec-b22d-da7ad0900002"},{"type":"permissions","id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002"},{"type":"permissions","id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002"},{"type":"permissions","id":"50c270de-69ee-11ee-9151-da7ad0900002"}]}}},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","attributes":{"name":"dashboards_read","display_name":"Dashboards Read","description":"View dashboards.","created":"2019-09-10T14:39:51.955175+00:00","group_name":"Dashboards","display_type":"read","restricted":true}},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304","attributes":{"name":"monitors_read","display_name":"Monitors Read","description":"View monitors.","created":"2019-09-16T18:39:07.744297+00:00","group_name":"Monitors","display_type":"read","restricted":true}},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","attributes":{"name":"apm_read","display_name":"APM Read","description":"Read and query APM and Trace Analytics.","created":"2020-11-23T20:55:45.006110[...]
[...]
