---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicy_Role-local-1788487160"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"01a06a24-5fd2-7f08-af3e-7e9745568297","type":"org_groups","attributes":{"created_at":"2026-09-04T01:59:23.858Z","modified_at":"2026-09-04T01:59:23.861027Z","name":"tf-TestAccDatadogOrgGroupPolicy_Role-local-1788487160","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 188.962667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"permissions":["d99415a4-dc4d-11e8-b4b1-4f9e475593a0"]},"enforcement_tier":"GROUP_MANAGED","policy_name":"finance_read_only","policy_type":"role"},"relationships":{"org_group":{"data":{"id":"01a06a24-5fd2-7f08-af3e-7e9745568297","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"01a06a24-6091-7ed0-b477-a6698a50f397","type":"org_group_policies","attributes":{"content":{"permissions":["d99415a4-dc4d-11e8-b4b1-4f9e475593a0"]},"enforced_at":"2026-09-04T01:59:24.04896Z","enforcement_tier":"GROUP_MANAGED","modified_at":"2026-09-04T01:59:24.04896Z","policy_name":"finance_read_only","policy_type":"role"},"relationships":{"org_group":{"data":{"id":"01a06a24-5fd2-7f08-af3e-7e9745568297","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 202.6315ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/01a06a24-6091-7ed0-b477-a6698a50f397
        method: GET
      response:
        body: '{"data":{"id":"01a06a24-6091-7ed0-b477-a6698a50f397","type":"org_group_policies","attributes":{"content":{"permissions":["d99415a4-dc4d-11e8-b4b1-4f9e475593a0"]},"enforced_at":"2026-09-04T01:59:24.04896Z","enforcement_tier":"GROUP_MANAGED","modified_at":"2026-09-04T01:59:24.04896Z","policy_name":"finance_read_only","policy_type":"role"},"relationships":{"org_group":{"data":{"id":"01a06a24-5fd2-7f08-af3e-7e9745568297","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 150.413291ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/01a06a24-5fd2-7f08-af3e-7e9745568297
        method: GET
      response:
        body: '{"data":{"id":"01a06a24-5fd2-7f08-af3e-7e9745568297","type":"org_groups","attributes":{"created_at":"2026-09-04T01:59:23.858Z","modified_at":"2026-09-04T01:59:23.861027Z","name":"tf-TestAccDatadogOrgGroupPolicy_Role-local-1788487160","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 133.448833ms
[...]
