---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"logs-1","inputs":["quota-1"],"type":"datadog_logs"}],"processors":[{"drop_events":false,"id":"quota-1","include":"*","inputs":["source-1"],"limit":{"enforce":"events","limit":1000},"name":"MyQuota","overflow_action":"drop","type":"quota"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"quota with overflow_action"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"ff7ee496-24e0-11f0-b6fc-da7ad0900002","type":"pipelines","attributes":{"name":"quota with overflow_action","config":{"destinations":[{"id":"logs-1","inputs":["quota-1"],"type":"datadog_logs"}],"processors":[{"drop_events":false,"id":"quota-1","include":"*","inputs":["source-1"],"limit":{"enforce":"events","limit":1000},"name":"MyQuota","overflow_action":"drop","type":"quota"}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 588.714375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/ff7ee496-24e0-11f0-b6fc-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"ff7ee496-24e0-11f0-b6fc-da7ad0900002","type":"pipelines","attributes":{"name":"quota with overflow_action","config":{"destinations":[{"id":"logs-1","inputs":["quota-1"],"type":"datadog_logs"}],"processors":[{"drop_events":false,"id":"quota-1","include":"*","inputs":["source-1"],"limit":{"enforce":"events","limit":1000},"name":"MyQuota","overflow_action":"drop","type":"quota"}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 256.303708ms
[...]
