---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"exclude_tags_mode":false,"metric_type":"gauge","tags":["sport","datacenter"]},"id":"tf_TestAccDatadogMetricTagConfiguration_GaugeUpdate_local_1768598396","type":"manage_tags"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_GaugeUpdate_local_1768598396/tags
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"manage_tags","id":"tf_TestAccDatadogMetricTagConfiguration_GaugeUpdate_local_1768598396","attributes":{"tags":["sport","datacenter"],"created_at":"2026-01-16T21:20:02.873447+00:00","modified_at":"2026-01-16T21:20:02.873447+00:00","metric_type":"gauge","aggregations":[{"time":"sum","space":"sum"}],"exclude_tags_mode":false}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 425.700084ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_GaugeUpdate_local_1768598396/tags
        method: GET
      response:
            - chunked
        body: |
            {"errors":["tf_TestAccDatadogMetricTagConfiguration_GaugeUpdate_local_1768598396 not found"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 86.642416ms
