---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"max_tickets_per_day":100,"project_id":"11111111-1111-1111-1111-111111111111","target":"jira"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRulesOrder-local-1782480522-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}},"type":"ticket_creation_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules
        method: POST
      response:
        body: '{"data":{"id":"dee9fd4e-d1e8-4502-add9-1bc91094cc62","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":100},"created_at":1782480525270,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782480525270,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRulesOrder-local-1782480522-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 522.88275ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"dee9fd4e-d1e8-4502-add9-1bc91094cc62","type":"ticket_creation_rules"},{"id":"927c782e-705d-45f4-8eca-9c19b546eaec","type":"ticket_creation_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"ticket_creation_rules","id":"dee9fd4e-d1e8-4502-add9-1bc91094cc62"},{"type":"ticket_creation_rules","id":"927c782e-705d-45f4-8eca-9c19b546eaec"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 312.8255ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/dee9fd4e-d1e8-4502-add9-1bc91094cc62
        method: GET
      response:
        body: '{"data":{"id":"dee9fd4e-d1e8-4502-add9-1bc91094cc62","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":100},"created_at":1782480525270,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782480525270,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRulesOrder-local-1782480522-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 206.766125ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules
        method: GET
      response:
        body: '{"data":[{"id":"dee9fd4e-d1e8-4502-add9-1bc91094cc62","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":100},"created_at":1782480525270,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782480525270,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRulesOrder-local-1782480522-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}},{"id":"927c782e-705d-45f4-8eca-9c19b546eaec","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":100},"created_at":1782480525288,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782480525288,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRulesOrder-local-1782480522-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}],"meta":{"page":{"total_filtered_count":2}},"links":{"first":"/api/v2/security/findings/automation/ticket_creation_rules?page[size]=1000\u0026page[number]=0","last":"/api/v2/security/findings/automation/ticket_creation_rules?page[size]=1000\u0026page[number]=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 149.042292ms
[...]
    - id: 39
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/dee9fd4e-d1e8-4502-add9-1bc91094cc62
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 109.877125ms
[...]
