---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1657750410@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"080f1c3e-02f9-11ed-aa38-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_serviceaccountforcenew-local-1657750410@example.com","created_at":"2022-07-13T22:13:32.382883+00:00","modified_at":"2022-07-13T22:13:32.404982+00:00","email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1657750410@example.com","icon":"https://secure.gravatar.com/avatar/981deaa62c7856c22bd4deef9d20e628?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"1bad3654-997a-11ec-844f-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"080f1c3e-02f9-11ed-aa38-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"0867fe60-02f9-11ed-aa38-da7ad0900002","attributes":{"uuid":"0867fe60-02f9-11ed-aa38-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2022-07-13T22:13:32.948878+00:00","expires_at":"2022-07-15T22:13:32.696317+00:00"},"relationships":{"user":{"data":{"type":"users","id":"080f1c3e-02f9-11ed-aa38-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/080f1c3e-02f9-11ed-aa38-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"080f1c3e-02f9-11ed-aa38-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_serviceaccountforcenew-local-1657750410@example.com","created_at":"2022-07-13T22:13:32.382883+00:00","modified_at":"2022-07-13T22:13:32.404982+00:00","email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1657750410@example.com","icon":"https://secure.gravatar.com/avatar/981deaa62c7856c22bd4deef9d20e628?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"1bad3654-997a-11ec-844f-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1657750410@example.com","name":"Updated User","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
  response:
    body: '{"data":{"type":"users","id":"b5b2604c-58e2-4d1d-88a3-3fd8d1c3ea60","attributes":{"name":"Updated User","handle":"b5b2604c-58e2-4d1d-88a3-3fd8d1c3ea60","created_at":"2022-07-13T22:13:35.074057+00:00","modified_at":"2022-07-13T22:13:35.198702+00:00","email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1657750410@example.com","icon":"https://secure.gravatar.com/avatar/981deaa62c7856c22bd4deef9d20e628?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"1bad3654-997a-11ec-844f-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1657750410@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"errors": ["User tf-testaccdatadoguser_serviceaccountforcenew-local-1657750410@example.com already exists"]}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguser_serviceaccountforcenew-local-1657750410%40example.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":2,"total_count":179}},"data":[{"type":"users","id":"b5b2604c-58e2-4d1d-88a3-3fd8d1c3ea60","attributes":{"name":"Updated User","handle":"b5b2604c-58e2-4d1d-88a3-3fd8d1c3ea60","created_at":"2022-07-13T22:13:35.074057+00:00","modified_at":"2022-07-13T22:13:36.958189+00:00","email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1657750410@example.com","icon":"https://secure.gravatar.com/avatar/981deaa62c7856c22bd4deef9d20e628?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"1bad3654-997a-11ec-844f-da7ad0900002"}}}},{"type":"users","id":"080f1c3e-02f9-11ed-aa38-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_serviceaccountforcenew-local-1657750410@example.com","created_at":"2022-07-13T22:13:32.382883+00:00","modified_at":"2022-07-13T22:13:34.650302+00:00","email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1657750410@example.com","icon":"https://secure.gravatar.com/avatar/981deaa62c7856c22bd4deef9d20e628?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"1bad3654-997a-11ec-844f-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
