---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"id":"54e97e1c-8ce8-49ad-a7b6-17ca30768508","attributes":{"name":"Nginx logs","query":"source:nginx","enabled":false,"forwarder_destination":{"endpoint":"https://example.com","auth":{"header_name":"MY-AUTHENTICATION-HEADER","type":"custom_header"},"type":"http"},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":["datacenter","host"],"forward_tags":false},"type":"custom_destination"},{"id":"85ac6ff6-c13c-4795-8382-00d2f40b64da","attributes":{"name":"Nginx logs","query":"source:nginx","enabled":false,"forwarder_destination":{"index_name":"nginx-logs","index_rotation":"yyyy-MM-dd","endpoint":"https://example.com","auth":{},"type":"elasticsearch"},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":["datacenter","host"],"forward_tags":false},"type":"custom_destination"},{"id":"d58cc747-4c87-42b0-a80a-4efabbfdbc83","attributes":{"name":"Nginx logs","query":"source:nginx","enabled":false,"forwarder_destination":{"endpoint":"https://example.com","type":"splunk_hec"},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_rest[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/54e97e1c-8ce8-49ad-a7b6-17ca30768508
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 218.211959ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/85ac6ff6-c13c-4795-8382-00d2f40b64da
        method: DELETE
      response:
        body: |
            {"errors":["NotFound"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 161.053167ms
[...]
    - id: 20
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"forward_tags":true,"forward_tags_restriction_list":["a"],"forward_tags_restriction_list_type":"ALLOW_LIST","forwarder_destination":{"auth":{"password":"test-pass","type":"basic","username":"test-user"},"endpoint":"https://example.org","type":"http"},"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1771518298","query":"non-existent-query"},"type":"custom_destination"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"920a9f8c-9c01-418b-84dd-00fc93e5d9db","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1771518298","query":"non-existent-query","enabled":false,"forwarder_destination":{"endpoint":"https://example.org","auth":{"type":"basic"},"type":"http"},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":["a"],"forward_tags":true},"type":"custom_destination"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 533.224417ms
[...]
    - id: 23
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"forward_tags":false,"forward_tags_restriction_list":["a","b"],"forward_tags_restriction_list_type":"BLOCK_LIST","forwarder_destination":{"auth":{"header_name":"test-header-name","header_value":"test-header-value","type":"custom_header"},"endpoint":"https://example.org","type":"http"},"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1771518298-updated","query":"updated-non-existent-query"},"id":"920a9f8c-9c01-418b-84dd-00fc93e5d9db","type":"custom_destination"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/920a9f8c-9c01-418b-84dd-00fc93e5d9db
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"id":"920a9f8c-9c01-418b-84dd-00fc93e5d9db","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1771518298-updated","query":"updated-non-existent-query","enabled":true,"forwarder_destination":{"endpoint":"https://example.org","auth":{"header_name":"test-header-name","type":"custom_header"},"type":"http"},"forward_tags_restriction_list_type":"BLOCK_LIST","forward_tags_restriction_list":["a","b"],"forward_tags":false},"type":"custom_destination"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.06575ms
[...]
    - id: 26
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"forward_tags":false,"forward_tags_restriction_list":["a","b"],"forward_tags_restriction_list_type":"BLOCK_LIST","forwarder_destination":{"access_token":"test-token","endpoint":"https://example.org","type":"splunk_hec"},"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1771518298-updated","query":"updated-non-existent-query"},"id":"920a9f8c-9c01-418b-84dd-00fc93e5d9db","type":"custom_destination"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/920a9f8c-9c01-418b-84dd-00fc93e5d9db
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"id":"920a9f8c-9c01-418b-84dd-00fc93e5d9db","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_forwarder_types-local-1771518298-updated","query":"updated-non-existent-query","enabled":true,"forwarder_destination":{"endpoint":"https://example.org","type":"splunk_hec"},"forward_tags_restriction_list_type":"BLOCK_LIST","forward_tags_restriction_list":["a","b"],"forward_tags":false},"type":"custom_destination"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 304.483875ms
[...]
