---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"api_token":"gitlab-token","type":"GitlabAPIKey"},"type":"Gitlab"},"name":"tf-TestAccDatadogActionConnectionResource_Gitlab-local-1783949276"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"59f505d9-4870-49e6-9f38-a557cb6cf3d1","type":"action_connection","attributes":{"acting_user_can_resolve":false,"external_secrets_manager":null,"integration":{"credentials":{"api_token":"","type":"GitlabAPIKey"},"type":"Gitlab"},"is_favorite":false,"name":"tf-TestAccDatadogActionConnectionResource_Gitlab-local-1783949276"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 102.115087ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/59f505d9-4870-49e6-9f38-a557cb6cf3d1
        method: GET
      response:
        body: '{"data":{"id":"59f505d9-4870-49e6-9f38-a557cb6cf3d1","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2026-07-13 13:28:02.277674 +0000 UTC","external_secrets_manager":null,"integration":{"credentials":{"api_token":"","type":"GitlabAPIKey"},"type":"Gitlab"},"is_favorite":false,"last_updated":"2026-07-13 13:28:02.277674 +0000 UTC","name":"tf-TestAccDatadogActionConnectionResource_Gitlab-local-1783949276"},"relationships":{"created_by":{"data":{"id":"9c2cc44c-0fd5-4356-b457-9413333601f1","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 54.701419ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/59f505d9-4870-49e6-9f38-a557cb6cf3d1
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 31.679424ms
