---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"updated message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1765494635","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":["foo:bar"],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.968584ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"policy":{"tag_key":"foo","tag_key_required":true,"valid_tag_values":["bar"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/monitor/policy
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-config-policy","attributes":{"policy_type":"tag","policy":{"tag_key":"foo","tag_key_required":true,"valid_tag_values":["bar"]}},"id":"9687e5b4-120d-4011-a0da-1c4737c2b8ea"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.001041ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"updated message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1765494635","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":["foo:bar"],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":243546527,"org_id":321813,"type":"query alert","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1765494635","message":"updated message Notify: @hipchat-channel","tags":["foo:bar"],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1765494636000,"created":"2025-12-11T23:10:36.166461+00:00","modified":"2025-12-11T23:10:36.166461+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.586555375s
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"updated message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1765494635","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":["foo:bar"],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/243546527/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.706334ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/monitor/policy/9687e5b4-120d-4011-a0da-1c4737c2b8ea
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-config-policy","id":"9687e5b4-120d-4011-a0da-1c4737c2b8ea","attributes":{"policy_type":"tag","policy":{"valid_tag_values":["bar"],"tag_key":"foo","tag_key_required":true}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.782083ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243546527?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":243546527,"org_id":321813,"type":"query alert","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1765494635","message":"updated message Notify: @hipchat-channel","tags":["foo:bar"],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1765494636000,"created":"2025-12-11T23:10:36.166461+00:00","modified":"2025-12-11T23:10:36.166461+00:00","deleted":null,"priority":null,"restricted_roles":null,"draft_status":"published","assets":[],"overall_state_modified":"2025-12-11T23:10:39+00:00","overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.54325ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243546527
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":243546527}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 3.173588167s
