---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a global variable","is_fido":false,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASIC_LOCAL_1791450761","tags":["foo:bar","baz"],"value":{"secure":false,"value":"variable-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"bbeca0b8-34e5-479f-842c-c5746bd8fa22","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASIC_LOCAL_1791450761","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":false,"value":"variable-value"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.678416ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"operator":"doesNotContain","target":"terraform","type":"body"},{"operator":"md5","target":"a","type":"bodyHash"},{"code":"const hello = 'world';","type":"javascript"}],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"},{"id":"bbeca0b8-34e5-479f-842c-c5746bd8fa22","name":"GLOBAL_VAR","type":"global"}],"request":{"basicAuth":{"domain":"ntlm-domain","password":"ntlm-password","type":"ntlm","username":"ntlm-username","workstation":"ntlm-workstation"},"bodyType":"text/plain","headers":{},"method":"GET","noSavingResponseBody":true,"proxy":{"headers":{},"url":"https://proxy.url"},"url":"https://www.datadoghq.com"},"variablesFromScript":"dd.variable.set('FOO', 'hello');"},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1791450761","options":{"allow_insecure":true,"bits_ai_auto_investigate":true,"ci":{"executionRule":"blocking"},"follow_redirects":true,"httpVersion":"http2","ignoreServerCertificateError":true,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1791450761-monitor","monitor_priority":5,"retry":{"count":1,"interval":300},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"7hm-gqz-xmf","name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1791450761","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2026-10-08T09:12:44.900910+00:00","modified_at":"2026-10-08T09:12:44.900910+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"operator":"doesNotContain","target":"terraform","type":"body"},{"operator":"md5","target":"a","type":"bodyHash"},{"code":"const hello = 'world';","type":"javascript"}],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"},{"id":"bbeca0b8-34e5-479f-842c-c5746bd8fa22","name":"GLOBAL_VAR","type":"global"}],"request":{"basicAuth":{"domain":"ntlm-domain","password":"ntlm-password","type":"ntlm","username":"ntlm-username","workstation":"ntlm-workstation"},"bodyType":"text/plain","headers":{},"method":"GET","noSavingResponseBody":true,"proxy":{"headers":{},"url":"https://proxy.url"},"url":"https://www.datadoghq.com"},"variablesFromScript":"dd.variable.set('FOO', 'hello');"},"message":"Notify @datadog.user","options":{"allow_insecure":true,"ci":{"executionRule":"blocking"},"follow_redirects":true,"httpVersion":"http2","ignoreServerCertificateError":true,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1791450761-monitor","monitor_priority":5,"retry":{"count":1,"interval":300},"tick_every":60,"bits_ai_auto_investigate":true},"locations":["aws:eu-central-1"],"created_by":{"name":"Antoine Do Nascimento","handle":"antoine.donascimento@datadoghq.com","email":"antoine.donascimento@datadoghq.com"},"deleted_at":null,"monitor_id":329938401,"org_id":321813,"modified_by":{"name":"Antoine Do Nascimento","handle":"antoine.donascimento@datadoghq.com","email":"antoine.donascimento@datadoghq.com"},"creation_source":"terraform"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 553.4655ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/7hm-gqz-xmf
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"7hm-gqz-xmf","name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1791450761","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2026-10-08T09:12:44.900910+00:00","modified_[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/7hm-gqz-xmf
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"7hm-gqz-xmf","name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1791450761","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2026-10-08T09:12:44.900910+00:00","modified_at":[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/bbeca0b8-34e5-479f-842c-c5746bd8fa22
        method: GET
      response:
            - chunked
        body: |
            {"id":"bbeca0b8-34e5-479f-842c-c5746bd8fa22","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASIC_LOCAL_1791450761","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2026-10-08T09:12:44.385140+00:00","modified_at":"2026-10-08T09:12:44.385140+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":"Antoine Do Nascimento","handle":"antoine.donascimento@datadoghq.com","email":"antoine.donascimento@datadoghq.com"},"editor":{"name":"Antoine Do Nascimento","handle":"antoine.donascimento@datadoghq.com","email":"antoine.donascimento@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.36225ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["7hm-gqz-xmf"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"7hm-gqz-xmf","deleted_at":"2026-10-08T09:12:48.444913+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 819.061917ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/7hm-gqz-xmf
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 135.711292ms
