---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourcematchid-local-1707408303@example.com","name":"tf-TestAccServiceAccountDatasource-973fb3cfe0f5519a","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"d39cc815-c69b-11ee-bfef-4a1236e8c55f","attributes":{"name":"tf-TestAccServiceAccountDatasource-973fb3cfe0f5519a","handle":"d39cc815-c69b-11ee-bfef-4a1236e8c55f","created_at":"2024-02-08T16:05:06.756228+00:00","modified_at":"2024-02-08T16:05:06.756228+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchid-local-1707408303@example.com","icon":"https://secure.gravatar.com/avatar/61e8cbf0b932451514ee75eb90c2d1fc?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 525.628831ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/d39cc815-c69b-11ee-bfef-4a1236e8c55f
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"d39cc815-c69b-11ee-bfef-4a1236e8c55f","attributes":{"name":"tf-TestAccServiceAccountDatasource-973fb3cfe0f5519a","handle":"d39cc815-c69b-11ee-bfef-4a1236e8c55f","created_at":"2024-02-08T16:05:06.756228+00:00","modified_at":"2024-02-08T16:05:06.756228+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchid-local-1707408303@example.com","icon":"https://secure.gravatar.com/avatar/61e8cbf0b932451514ee75eb90c2d1fc?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.771454ms
[...]
