---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"domain_prefix":"tfspc982c82ddc","name":"tf-sp-c982c82ddc","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"70eb2df8-c3a5-4f63-a8eb-49f48d6a76e9","type":"status_pages","attributes":{"company_logo":null,"components":[],"created_at":"2026-08-14T16:21:16.916741Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"tfspc982c82ddc","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-14T16:21:16.916741Z","name":"tf-sp-c982c82ddc","page_url":"https://us5.datadoghq.com/status-pages/70eb2df8-c3a5-4f63-a8eb-49f48d6a76e9/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}},"last_modified_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.549637583s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/70eb2df8-c3a5-4f63-a8eb-49f48d6a76e9
        method: GET
      response:
        body: '{"data":{"id":"70eb2df8-c3a5-4f63-a8eb-49f48d6a76e9","type":"status_pages","attributes":{"company_logo":null,"components":[],"created_at":"2026-08-14T16:21:16.916741Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"tfspc982c82ddc","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-14T16:21:16.916741Z","name":"tf-sp-c982c82ddc","page_url":"https://us5.datadoghq.com/status-pages/70eb2df8-c3a5-4f63-a8eb-49f48d6a76e9/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}},"last_modified_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 169.169792ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/70eb2df8-c3a5-4f63-a8eb-49f48d6a76e9
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 142.836083ms
