---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"logs-1","inputs":["quota-1"],"type":"datadog_logs"}],"processors":[{"id":"quota-1","include":"*","inputs":["source-1"],"limit":{"enforce":"events","limit":1000},"name":"MyQuota","overflow_action":"drop","type":"quota"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"quota with overflow_action"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"ad751508-7ed6-11f0-83f0-da7ad0900002","type":"pipelines","attributes":{"name":"quota with overflow_action","config":{"destinations":[{"id":"logs-1","inputs":["quota-1"],"type":"datadog_logs"}],"processors":[{"id":"quota-1","include":"*","inputs":["source-1"],"limit":{"enforce":"events","limit":1000},"name":"MyQuota","overflow_action":"drop","type":"quota"}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 407.311125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/ad751508-7ed6-11f0-83f0-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"ad751508-7ed6-11f0-83f0-da7ad0900002","type":"pipelines","attributes":{"name":"quota with overflow_action","config":{"destinations":[{"id":"logs-1","inputs":["quota-1"],"type":"datadog_logs"}],"processors":[{"id":"quota-1","include":"*","inputs":["source-1"],"limit":{"enforce":"events","limit":1000},"name":"MyQuota","overflow_action":"drop","type":"quota"}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.898458ms
[...]
