---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"suppression for terraform provider test","enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateThenAddAndRemoveExpirationDate-local-1712926513","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"dwt-kkz-ckk","attributes":{"name":"tf-TestAccSecurityMonitoringSuppression_CreateThenAddAndRemoveExpirationDate-local-1712926513","enabled":true,"description":"suppression for terraform provider test","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging","data_exclusion_query":"","version":1,"creation_date":1712926514341,"update_date":1712926514341,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.225042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/dwt-kkz-ckk
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"dwt-kkz-ckk","attributes":{"name":"tf-TestAccSecurityMonitoringSuppression_CreateThenAddAndRemoveExpirationDate-local-1712926513","enabled":true,"description":"suppression for terraform provider test","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging","data_exclusion_query":"","version":1,"creation_date":1712926514341,"update_date":1712926514341,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.246083ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"data_exclusion_query":"","description":"suppression for terraform provider test","enabled":true,"expiration_date":1705924800000,"name":"tf-TestAccSecurityMonitoringSuppression_CreateThenAddAndRemoveExpirationDate-local-1712926513","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/dwt-kkz-ckk
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"id":"dwt-kkz-ckk","attributes":{"name":"tf-TestAccSecurityMonitoringSuppression_CreateThenAddAndRemoveExpirationDate-local-1712926513","enabled":true,"description":"suppression for terraform provider test","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging","data_exclusion_query":"","expiration_date":1705924800000,"version":2,"creation_date":1712926514341,"update_date":1712926516330,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.757ms
[...]
    - id: 20
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/dwt-kkz-ckk
        method: GET
      response:
            - chunked
        body: |
            {"errors":["not_found(Suppression with ID dwt-kkz-ckk not found)"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 155.109375ms
