---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogApiKey_Update-local-1627979952"},"type":"api_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAPIKey
    url: https://api.datadoghq.com/api/v2/api_keys
    method: POST
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-08-03T08:39:13.601930+00:00","key":"0a156425bbb34491a195fde5f5d7cc82","last4":"cc82","modified_at":"2021-08-03T08:39:13.601930+00:00","name":"tf-TestAccDatadogApiKey_Update-local-1627979952"},"relationships":{"created_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}},"modified_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}}},"id":"0101342a-4808-549e-8bf4-88479956c4f8"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPIKey
    url: https://api.datadoghq.com/api/v2/api_keys/0101342a-4808-549e-8bf4-88479956c4f8
    method: GET
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-08-03T08:39:13.601930+00:00","key":"0a156425bbb34491a195fde5f5d7cc82","last4":"cc82","modified_at":"2021-08-03T08:39:13.601930+00:00","name":"tf-TestAccDatadogApiKey_Update-local-1627979952"},"relationships":{"created_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}},"modified_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}}},"id":"0101342a-4808-549e-8bf4-88479956c4f8"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPIKey
    url: https://api.datadoghq.com/api/v2/api_keys/0101342a-4808-549e-8bf4-88479956c4f8
    method: GET
  response:
    body: '{"errors": ["API key not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
