---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"suppression for terraform provider test","enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutExpirationDate-local-1712926508","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"xag-x5b-lnq","attributes":{"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutExpirationDate-local-1712926508","enabled":true,"description":"suppression for terraform provider test","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging","data_exclusion_query":"","version":1,"creation_date":1712926509810,"update_date":1712926509810,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.798875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/xag-x5b-lnq
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"xag-x5b-lnq","attributes":{"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutExpirationDate-local-1712926508","enabled":true,"description":"suppression for terraform provider test","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging","data_exclusion_query":"","version":1,"creation_date":1712926509810,"update_date":1712926509810,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.905458ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"data_exclusion_query":"","description":"updated suppression for terraform provider test","enabled":true,"expiration_date":null,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutExpirationDate-local-1712926508","rule_query":"severity:low source:(cloudtrail OR azure)","suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/xag-x5b-lnq
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"id":"xag-x5b-lnq","attributes":{"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutExpirationDate-local-1712926508","enabled":true,"description":"updated suppression for terraform provider test","rule_query":"severity:low source:(cloudtrail OR azure)","suppression_query":"env:staging","data_exclusion_query":"","version":2,"creation_date":1712926509810,"update_date":1712926511752,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.517583ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/xag-x5b-lnq
        method: GET
      response:
            - chunked
        body: |
            {"errors":["not_found(Suppression with ID xag-x5b-lnq not found)"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 161.441208ms
