---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: "apiVersion: v3\nkind: service\nmetadata: \n  name: tf-testaccdatadogcatalogentity_order-local-1758619219\n  contacts:\n    - name: AA\n      type: slack\n      contact: AAA\n    - name: BB\n      type: email\n      contact: BBB@example.com\n    - name: AA\n      type: email\n      contact: AAA@example.com\n    - name: BB\n      type: email\n      contact: AAA@example.com\n    - name: AA\n      type: email\n      contact: BBB@example.com\n  tags:\n    - 'bbb'\n    - 'aaa'\n"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity
        method: POST
      response:
        body: '{"data":[{"id":"46a2ed55-48c1-4704-824b-e157f64e6033","type":"entity","attributes":{"apiVersion":"v3","kind":"service","name":"tf-testaccdatadogcatalogentity_order-local-1758619219","namespace":"default","tags":["bbb","aaa"]},"relationships":{"schema":{"data":{"id":"46a2ed55-48c1-4704-824b-e157f64e6033","type":"schema"}}},"meta":{"createdAt":"2025-09-23T09:20:20.115338845Z","modifiedAt":"2025-09-23T09:20:20.115338738Z","ingestionSource":"api"}}],"meta":{"count":1,"includeCount":1},"included":[{"id":"46a2ed55-48c1-4704-824b-e157f64e6033","type":"schema","attributes":{"schema":{"apiVersion":"v3","kind":"service","metadata":{"name":"tf-testaccdatadogcatalogentity_order-local-1758619219","namespace":"default","tags":["bbb","aaa"],"contacts":[{"name":"AA","type":"slack","contact":"AAA"},{"name":"BB","type":"email","contact":"BBB@example.com"},{"name":"AA","type":"email","contact":"AAA@example.com"},{"name":"BB","type":"email","contact":"AAA@example.com"},{"name":"AA","type":"email","contact":"BBB@example.com"}],"managed":{"ingestionSource":"api","createdAt":"2025-09-23T09:20:20.115338845Z","modifiedAt":"2025-09-23T09:20:20.115338738Z"}}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 202 Accepted
        code: 202
        duration: 242.344583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf-testaccdatadogcatalogentity_order-local-1758619219&include=raw_schema
        method: GET
      response:
        body: '{"data":[{"id":"46a2ed55-48c1-4704-824b-e157f64e6033","type":"entity","attributes":{"apiVersion":"v3","kind":"service","name":"tf-testaccdatadogcatalogentity_order-local-1758619219","namespace":"default","tags":["bbb","aaa"]},"relationships":{"rawSchema":{"data":{"id":"46a2ed55-48c1-4704-824b-e157f64e6033","type":"rawSchema"}}},"meta":{"createdAt":"2025-09-23T09:20:20.115338Z","modifiedAt":"2025-09-23T09:20:20.115338738Z","ingestionSource":"api"}}],"meta":{"count":1,"includeCount":1},"links":{"self":"/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf-testaccdatadogcatalogentity_order-local-1758619219\u0026include=raw_schema\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=0"},"included":[{"id":"46a2ed55-48c1-4704-824b-e157f64e6033","type":"rawSchema","attributes":{"rawSchema":"LS0tCmFwaVZlcnNpb246IHYzCmtpbmQ6IHNlcnZpY2UKbWV0YWRhdGE6CiAgbmFtZTogdGYtdGVzdGFjY2RhdGFkb2djYXRhbG9nZW50aXR5X29yZGVyLWxvY2FsLTE3NTg2MTkyMTkKICBjb250YWN0czoKICAgIC0gbmFtZTogQUEKICAgICAgdHlwZTogc2xhY2sKICAgICAgY29udGFjdDogQUFBCiAgICAtIG5hbWU6IEJCCiAgICAgIHR5cGU6IGVtYWlsCiAgICAgIGNvbnRhY3Q6IEJCQkBleGFtcGxlLmNvbQogICAgLSBuYW1lOiBBQQogICAgICB0eXBlOiBlbWFpbAogICAgICBjb250YWN0OiBBQUFAZXhhbXBsZS5jb20KICAgIC0gbmFtZTogQkIKICAgICAgdHlwZTogZW1haWwKICAgICAgY29udGFjdDogQUFBQGV4YW1wbGUuY29tCiAgICAtIG5hbWU6IEFBCiAgICAgIHR5cGU6IGVtYWlsCiAgICAgIGNvbnRhY3Q6IEJCQkBleGFtcGxlLmNvbQogIHRhZ3M6CiAgICAtICdiYmInCiAgICAtICdhYWEnCg=="}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 122.090083ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity/service:default/tf-testaccdatadogcatalogentity_order-local-1758619219
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 131.035583ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf-testaccdatadogcatalogentity_order-local-1758619219
        method: GET
      response:
        body: '{"data":[{"id":"46a2ed55-48c1-4704-824b-e157f64e6033","type":"entity","attributes":{"apiVersion":"v3","kind":"service","name":"tf-testaccdatadogcatalogentity_order-local-1758619219","namespace":"default","tags":["bbb","aaa"]},"meta":{"createdAt":"2025-09-23T09:20:20.115338Z","modifiedAt":"2025-09-23T09:20:20.115338738Z","ingestionSource":"api"}}],"meta":{"count":1,"includeCount":0},"links":{"self":"/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf-testaccdatadogcatalogentity_order-local-1758619219\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 116.101125ms
