---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1626980068@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"3f013584-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_existing-local-1626980068@example.com","created_at":"2021-07-22T18:54:30.349985+00:00","modified_at":"2021-07-22T18:54:30.672265+00:00","email":"tf-testaccdatadoguser_existing-local-1626980068@example.com","icon":"https://secure.gravatar.com/avatar/5fdbb1d160badb29495eb59dd0ebb323?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"3f013584-eb1e-11eb-b233-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"3f5c5f72-eb1e-11eb-b233-da7ad0900002","attributes":{"uuid":"3f5c5f72-eb1e-11eb-b233-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2021-07-22T18:54:30.949322+00:00","expires_at":"2021-07-24T18:54:30.830283+00:00"},"relationships":{"user":{"data":{"type":"users","id":"3f013584-eb1e-11eb-b233-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/3f013584-eb1e-11eb-b233-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"3f013584-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_existing-local-1626980068@example.com","created_at":"2021-07-22T18:54:30.349985+00:00","modified_at":"2021-07-22T18:54:30.672265+00:00","email":"tf-testaccdatadoguser_existing-local-1626980068@example.com","icon":"https://secure.gravatar.com/avatar/5fdbb1d160badb29495eb59dd0ebb323?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1626980068@example.com","name":"Other User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"errors": ["User tf-testaccdatadoguser_existing-local-1626980068@example.com already exists"]}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguser_existing-local-1626980068%40example.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":54207}},"data":[{"type":"users","id":"3f013584-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_existing-local-1626980068@example.com","created_at":"2021-07-22T18:54:30.349985+00:00","modified_at":"2021-07-22T18:54:34.330374+00:00","email":"tf-testaccdatadoguser_existing-local-1626980068@example.com","icon":"https://secure.gravatar.com/avatar/5fdbb1d160badb29495eb59dd0ebb323?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
