---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"an agent rule","enabled":true,"expression":"exec.file.name == \"java\"","name":"tf_TestAccDatadogCloudWorkloadSecurityAgentRule_local_1643395377"},"type":"agent_rule"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateCloudWorkloadSecurityAgentRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
    method: POST
  response:
    body: '{"data":{"attributes":{"category":"Process Activity","name":"tf_TestAccDatadogCloudWorkloadSecurityAgentRule_local_1643395377","creator":{"handle":"frog@datadoghq.com","name":null},"description":"an agent rule","enabled":true,"defaultRule":false,"version":1,"updater":{"handle":"frog@datadoghq.com","name":null},"updateDate":1643395393582,"creationDate":1643395393582,"expression":"exec.file.name == \"java\""},"type":"agent_rule","id":"by9-ahe-vua"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Name:
      - security_analytics
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "999"
      X-Ratelimit-Reset:
      - "7"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetCloudWorkloadSecurityAgentRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/by9-ahe-vua
    method: GET
  response:
    body: '{"data":{"attributes":{"category":"Process Activity","name":"tf_TestAccDatadogCloudWorkloadSecurityAgentRule_local_1643395377","creator":{"handle":"frog@datadoghq.com","name":null},"description":"an agent rule","enabled":true,"defaultRule":false,"version":1,"updater":{"handle":"frog@datadoghq.com","name":null},"updateDate":1643395393582,"creationDate":1643395393582,"expression":"exec.file.name == \"java\""},"type":"agent_rule","id":"by9-ahe-vua"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Name:
      - security_analytics
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "998"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetCloudWorkloadSecurityAgentRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/by9-ahe-vua
    method: GET
  response:
    body: '{"errors":["not_found(Agent rule not found: agentRuleId=by9-ahe-vua)"]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Name:
      - security_analytics
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "998"
      X-Ratelimit-Reset:
      - "5"
    status: 404 Not Found
    code: 404
    duration: ""
