---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListCloudWorkloadSecurityAgentRules
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
    method: GET
  response:
    body: '{"data":[{"attributes":{"category":"Process Activity","name":"apparmor_modified_tty","creator":{"handle":"","name":""},"description":"AppArmor Profile Modified","enabled":true,"defaultRule":true,"version":1,"updater":{"handle":"","name":""},"updateDate":1636729678630,"creationDate":1627392836162,"expression":"exec.file.name in [\"aa-disable\", \"aa-complain\", \"aa-audit\"] && exec.tty_name !=\"\""},"type":"agent_rule","id":"ki7-koc-icf"},{"attributes":{"category":"File Activity","name":"pci_11_5_critical_binaries_chmod","creator":{"handle":"","name":""},"description":"Critical System Binaries","enabled":true,"defaultRule":true,"version":4,"updater":{"handle":"","name":""},"updateDate":1636729678212,"creationDate":1606142933669,"expression":"(\n    (chmod.file.path in [ ~\"/bin/*\", ~\"/sbin/*\", ~\"/usr/bin/*\", ~\"/usr/sbin/*\", ~\"/usr/local/bin/*\", ~\"/usr/local/sbin/*\", ~\"/boot/*\" ])\n    && process.file.p[...]
[...]
