---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768297117","name":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768297117"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"34e12bcd-5baf-4873-aaf0-80e06aa3d1fa","type":"team","attributes":{"avatar":null,"banner":13,"created_at":"2026-01-13T09:38:39.391534+00:00","description":"Example team","handle":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768297117","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-13T09:38:39.391534+00:00","name":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768297117","summary":"Example team","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/34e12bcd-5baf-4873-aaf0-80e06aa3d1fa/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/34e12bcd-5baf-4873-aaf0-80e06aa3d1fa/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 538.011375ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"channel":"#test-channel","workspace":"Datadog"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/34e12bcd-5baf-4873-aaf0-80e06aa3d1fa/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"3ea5e353-fa0f-4f60-a17e-c532a8d49f0a","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 202.518ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/34e12bcd-5baf-4873-aaf0-80e06aa3d1fa/notification-rules/3ea5e353-fa0f-4f60-a17e-c532a8d49f0a
        method: GET
      response:
        body: '{"data":{"id":"3ea5e353-fa0f-4f60-a17e-c532a8d49f0a","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 140.328458ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/34e12bcd-5baf-4873-aaf0-80e06aa3d1fa/notification-rules
        method: GET
      response:
        body: '{"data":[{"id":"3ea5e353-fa0f-4f60-a17e-c532a8d49f0a","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}],"meta":{"page":{"type":"offset_limit","offset":0,"limit":100,"total":1,"first_offset":0,"prev_offset":null,"next_offset":null,"last_offset":0}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 146.477375ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/74afb425-1117-4a7a-a327-696b96dac0e5
        method: GET
      response:
        body: '{"data":{"id":"74afb425-1117-4a7a-a327-696b96dac0e5","type":"team","attributes":{"created_at":"2026-01-13T09:38:39.387781+00:00","description":"Example team 2","handle":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768297117-2","is_managed":false,"link_count":0,"modified_at":"2026-01-13T09:38:39.387781+00:00","name":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768297117-2","summary":"Example team 2","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/74afb425-1117-4a7a-a327-696b96dac0e5/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/74afb425-1117-4a7a-a327-696b96dac0e5/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 153.018292ms
[...]
