---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["splunk-tcp-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"address_key":"SPLUNK_TCP_ADDRESS","id":"splunk-tcp-source-1","max_connection_duration_secs":3600,"tls":{"ca_file":"/etc/ssl/certs/tcp.ca","crt_file":"/etc/ssl/certs/tcp.crt","key_file":"/etc/ssl/private/tcp.key","key_pass_key":"SPLUNK_TCP_TLS_KEY_PASSPHRASE","verify_certificate":true},"type":"splunk_tcp"}]},"name":"splunk-tcp-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"360d6648-a6e2-11f1-89f0-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-tcp-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["splunk-tcp-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"address_key":"SPLUNK_TCP_ADDRESS","id":"splunk-tcp-source-1","max_connection_duration_secs":3600,"tls":{"ca_file":"/etc/ssl/certs/tcp.ca","crt_file":"/etc/ssl/certs/tcp.crt","key_file":"/etc/ssl/private/tcp.key","key_pass_key":"SPLUNK_TCP_TLS_KEY_PASSPHRASE","verify_certificate":true},"type":"splunk_tcp"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 437.412958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/360d6648-a6e2-11f1-89f0-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"360d6648-a6e2-11f1-89f0-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-tcp-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["splunk-tcp-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"address_key":"SPLUNK_TCP_ADDRESS","id":"splunk-tcp-source-1","max_connection_duration_secs":3600,"tls":{"ca_file":"/etc/ssl/certs/tcp.ca","crt_file":"/etc/ssl/certs/tcp.crt","key_file":"/etc/ssl/private/tcp.key","key_pass_key":"SPLUNK_TCP_TLS_KEY_PASSPHRASE","verify_certificate":true},"type":"splunk_tcp"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 204.28675ms
[...]
