---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"A relevant description","filter":{"query":"service:my-service"},"is_enabled":false,"name":"tf-testaccdatadogsdsgrouporderdatasource-local-1758619410","product_list":["apm"],"samplings":[{"product":"apm","rate":100}]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
            - chunked
        body: '{"errors":[{"status":"400","title":"Bad Request","detail":"input_validation_error(Field ''data.relationships.configuration'' is invalid: configuration relationship is invalid)"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 172.478125ms
