---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccIntegrationDatabricksAccountPat-local-1779187263","secrets":{"token":"dapi-test-token"},"settings":{"ccm_enabled":false,"djm_cluster_policy_enabled":false,"djm_enabled":true,"djm_global_init_script_enabled":false,"do_crawlers_cron":"0 * * * *","do_enabled":false,"model_serving_metrics_enabled":false,"script_gpum_enabled":false,"script_logs_enabled":false,"serverless_jobs_enabled":false,"table_lineage_enabled":false,"workspace_url":"https://dbc-097db9cd-e3d9.cloud.databricks.com/"}},"type":"Account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/web-integrations/databricks/accounts
        method: POST
      response:
        body: '{"data":{"id":"9b2d5c76-4807-4124-8d88-a6b256580aa3","type":"Account","attributes":{"name":"tf-TestAccIntegrationDatabricksAccountPat-local-1779187263","settings":{"ccm_enabled":false,"djm_cluster_policy_enabled":false,"djm_enabled":true,"djm_global_init_script_enabled":false,"do_crawlers_cron":"0 * * * *","do_enabled":false,"model_serving_metrics_enabled":false,"script_gpum_enabled":false,"script_logs_enabled":false,"serverless_jobs_enabled":false,"table_lineage_enabled":false,"workspace_url":"https://dbc-097db9cd-e3d9.cloud.databricks.com/"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 693.051708ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/web-integrations/databricks/accounts/9b2d5c76-4807-4124-8d88-a6b256580aa3
        method: GET
      response:
        body: '{"data":{"id":"9b2d5c76-4807-4124-8d88-a6b256580aa3","type":"Account","attributes":{"name":"tf-TestAccIntegrationDatabricksAccountPat-local-1779187263","settings":{"ccm_enabled":false,"djm_cluster_policy_enabled":false,"djm_enabled":true,"djm_global_init_script_enabled":false,"do_crawlers_cron":"0 * * * *","do_enabled":false,"model_serving_metrics_enabled":false,"script_gpum_enabled":false,"script_logs_enabled":false,"serverless_jobs_enabled":false,"table_lineage_enabled":false,"workspace_url":"https://dbc-097db9cd-e3d9.cloud.databricks.com/"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 181.458ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/web-integrations/databricks/accounts/9b2d5c76-4807-4124-8d88-a6b256580aa3
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"account not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 156.006167ms
