---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardPowerpack-local-1758619305","widgets":[{"definition":{"background_color":"blue","banner_img":"https://imgix.datadoghq.com/img/about/presskit/logo-v/dd_vertical_white.png","powerpack_id":"3c3096da-7cec-11ee-9b6f-da7ad0900002","show_title":true,"template_variables":{"controlled_by_powerpack":[{"name":"var","prefix":"pre","values":["default","values","here"]}],"controlled_externally":[{"name":"test","prefix":"dc","values":["test"]}]},"title":"Powerpack Widget Test","type":"powerpack"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"errors":[{"id":null,"links":null,"status":"HTTPStatus.BAD_REQUEST","code":null,"title":"Bad Request","detail":"The is_read_only attribute is no longer supported. https://docs.datadoghq.com/dashboards/guide/is-read-only-deprecation/","source":null,"meta":null}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 157.75975ms
