---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-testaccdatadogroledatasourceerror-local-1615834533 main"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"0587d6b4-85c0-11eb-97c0-da7ad0900002","attributes":{"name":"tf-testaccdatadogroledatasourceerror-local-1615834533 main","created_at":"2021-03-15T18:55:33.792479+00:00","modified_at":"2021-03-15T18:55:33.792479+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4100063"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "447"
      X-Ratelimit-Reset:
      - "27"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/058620da-85c0-11eb-97c0-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"058620da-85c0-11eb-97c0-da7ad0900002","attributes":{"name":"tf-testaccdatadogroledatasourceerror-local-1615834533 main cloned","created_at":"2021-03-15T18:55:33.780648+00:00","modified_at":"2021-03-15T18:55:33.780648+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - "35.4100063"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "446"
      X-Ratelimit-Reset:
      - "26"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoles
    url: https://api.datadoghq.com/api/v2/roles?filter=tf-testaccdatadogroledatasourceerror-local-1615834533
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":2,"total_count":3471}},"data":[{"type":"roles","id":"0587d6b4-85c0-11eb-97c0-da7ad0900002","attributes":{"name":"tf-testaccdatadogroledatasourceerror-local-1615834533 main","created_at":"2021-03-15T18:55:33.792479+00:00","modified_at":"2021-03-15T18:55:33.792479+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}},{"type":"roles","id":"058620da-85c0-11eb-97c0-da7ad0900002","attributes":{"name":"tf-testaccdatadogroledatasourceerror-local-1615834533 main cloned","created_at":"2021-03-15T18:55:33.780648+00:00","modified_at":"2021-03-15T18:55:33.780648+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      X-Dd-Version:
      - "35.4100063"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "442"
      X-Ratelimit-Reset:
      - "25"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/058620da-85c0-11eb-97c0-da7ad0900002
    method: GET
  response:
    body: '{"errors": ["The role 058620da-85c0-11eb-97c0-da7ad0900002 does not exist not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4100063"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "439"
      X-Ratelimit-Reset:
      - "25"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
