---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListLogIndexes
    url: https://api.datadoghq.com/api/v1/logs/config/indexes
    method: GET
  response:
    body: '{"indexes":[{"num_retention_days":15,"name":"main","is_rate_limited":false,"filter":{"query":""},"exclusion_filters":[],"daily_limit":null},{"num_retention_days":15,"name":"test-index","is_rate_limited":false,"filter":{"query":"query"},"exclusion_filters":[],"daily_limit":20202020},{"num_retention_days":15,"name":"test-index-2","is_rate_limited":false,"filter":{"query":"query"},"exclusion_filters":[],"daily_limit":20202020},{"num_retention_days":15,"name":"tf-testaccdatadoglogsindex-basic-local-1627305201","is_rate_limited":false,"filter":{"query":"test:query"},"exclusion_filters":[],"daily_limit":null}]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Name:
      - logs_public_config_api_indexes_read
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "29"
      X-Ratelimit-Reset:
      - "6"
    status: 200 OK
    code: 200
    duration: ""
[...]
