---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogDowntime_BasicWithMonitorTags-local-1720031045","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2,"warning":1}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":["app:webserver"],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.695667ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"end":1720045445,"message":"tf-TestAccDatadogDowntime_BasicWithMonitorTags-local-1720031045","monitor_tags":["app:webserver"],"scope":["*"],"start":1720041845,"timezone":"UTC"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/downtime
        method: POST
      response:
            - chunked
        body: |
            {"id":4100968995,"monitor_id":null,"org_id":321813,"start":1720041845,"end":1720045445,"canceled":null,"created":1720031047,"modified":1720031047,"message":"tf-TestAccDatadogDowntime_BasicWithMonitorTags-local-1720031045","active":false,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":0,"status":"scheduled","monitor_tags":["app:webserver"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"6f5a8aae-3969-11ef-aeac-da7ad0900002","scope":["*"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.664292ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogDowntime_BasicWithMonitorTags-local-1720031045","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2,"warning":1}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":["app:webserver"],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":148510266,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogDowntime_BasicWithMonitorTags-local-1720031045","message":"some message Notify: @hipchat-channel","tags":["app:webserver"],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0,"warning":1.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1720031047000,"created":"2024-07-03T18:24:07.364458+00:00","modified":"2024-07-03T18:24:07.364458+00:00","deleted":null,"restricted_roles":null,"priority":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.234875ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/downtime/4100968995
        method: GET
      response:
            - chunked
        body: |
            {"id":4100968995,"monitor_id":null,"org_id":321813,"start":1720041845,"end":1720045445,"canceled":null,"created":1720031047,"modified":1720031047,"message":"tf-TestAccDatadogDowntime_BasicWithMonitorTags-local-1720031045","active":false,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":0,"status":"scheduled","monitor_tags":["app:webserver"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"6f5a8aae-3969-11ef-aeac-da7ad0900002","scope":["*"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.626ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogDowntime_BasicWithMonitorTags-local-1720031045","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2,"warning":1}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":["app:webserver"],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/148510266/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.209292ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/148510266
        method: GET
      response:
            - chunked
        body: |
            {"id":148510266,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogDowntime_BasicWithMonitorTags-local-1720031045","message":"some message Notify: @hipchat-channel","tags":["app:webserver"],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0,"warning":1.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1720031047000,"created":"2024-07-03T18:24:07.364458+00:00","modified":"2024-07-03T18:24:07.364458+00:00","deleted":null,"restricted_roles":null,"priority":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":null,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.0955ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/148510266
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":148510266}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.2355ms
[...]
