---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"aggregate augmented test","name":"tf-TestAccDatadogMonitor_AggregateAugmentedQuery-local-1778505293","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":124},"variables":[{"augment_query":{"columns":[{"name":"org_id"},{"name":"name"}],"data_source":"reference_table","name":"filter_query","table_name":"test_table"},"base_query":{"data_source":"metrics","name":"query1","query":"avg:dd{*} by {org_id}.as_count()"},"compute":[{"aggregation":"max","name":"compute_result"}],"data_source":"aggregate_augmented_query","group_by":[{"facet":"org_id","source":"filter_query"},{"facet":"name","source":"filter_query"}],"join_condition":{"augment_attribute":"org_id","base_attribute":"org_id","join_type":"inner"},"name":"query1"}]},"priority":null,"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") \u003e 124","restricted_roles":null,"tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.4825ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"aggregate augmented test","name":"tf-TestAccDatadogMonitor_AggregateAugmentedQuery-local-1778505293","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":124},"variables":[{"augment_query":{"columns":[{"name":"org_id"},{"name":"name"}],"data_source":"reference_table","name":"filter_query","table_name":"test_table"},"base_query":{"data_source":"metrics","name":"query1","query":"avg:dd{*} by {org_id}.as_count()"},"compute":[{"aggregation":"max","name":"compute_result"}],"data_source":"aggregate_augmented_query","group_by":[{"facet":"org_id","source":"filter_query"},{"facet":"name","source":"filter_query"}],"join_condition":{"augment_attribute":"org_id","base_attribute":"org_id","join_type":"inner"},"name":"query1"}]},"priority":null,"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") \u003e 124","restricted_roles":null,"tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":281702876,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_AggregateAugmentedQuery-local-1778505293","message":"aggregate augmented test","tags":[],"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") > 124","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":124.0},"variables":[{"augment_query":{"columns":[{"name":"org_id"},{"name":"name"}],"data_source":"reference_table","name":"filter_query","table_name":"test_table"},"base_query":{"data_source":"metrics","name":"query1","query":"avg:dd{*} by {org_id}.as_count()"},"compute":[{"aggregation":"max","name":"compute_result"}],"data_source":"aggregate_augmented_query","group_by":[{"facet":"org_id","source":"filter_query"},{"facet":"name","source":"filter_query"}],"join_condition":{"augment_attribute":"org_id","base_attribute":"org_id","join_type":"inner"},"name":"query1"}],"notify_audit":false,"silenced":{}},"multi":false,"created_at":1778505295000,"created":"2026-05-11T13:14:55.094287+00:00","modified":"2026-05-11T13:14:55.094287+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","handle":"kevin.pombo@datadoghq.com","email":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 335.705334ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/281702876
        method: GET
      response:
            - chunked
        body: |
            {"id":281702876,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_AggregateAugmentedQuery-local-1778505293","message":"aggregate augmented test","tags":[],"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") > 124"[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"aggregate augmented test","name":"tf-TestAccDatadogMonitor_AggregateAugmentedQuery-local-1778505293","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":124},"variables":[{"augment_query":{"columns":[{"name":"org_id"},{"name":"name"}],"data_source":"reference_table","name":"filter_query","table_name":"test_table"},"base_query":{"data_source":"metrics","name":"query1","query":"avg:dd{*} by {org_id}.as_count()"},"compute":[{"aggregation":"max","name":"compute_result"}],"data_source":"aggregate_augmented_query","group_by":[{"facet":"org_id","source":"filter_query"},{"facet":"name","source":"filter_query"}],"join_condition":{"augment_attribute":"org_id","base_attribute":"org_id","join_type":"inner"},"name":"query1"}]},"priority":null,"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") \u003e 124","restricted_roles":null,"tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/281702876/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.383ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/281702876?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":281702876,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_AggregateAugmentedQuery-local-1778505293","message":"aggregate augmented test","tags":[],"query":"formula(\"query1\").rollup(\"sum\").la[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/281702876
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":281702876}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.379416ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/281702876
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 85.957125ms
