---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Team description","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17375550131","name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17375550131"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"fde016e1-69e3-4ec6-a528-a46666233ba4","attributes":{"name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17375550131","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17375550131","summary":"Team description","description":"Team description","avatar":null,"banner":13,"visible_modules":[],"hidden_modules":[],"created_at":"2025-01-22T14:10:14.583173+00:00","modified_at":"2025-01-22T14:10:14.583179+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/fde016e1-69e3-4ec6-a528-a46666233ba4/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/fde016e1-69e3-4ec6-a528-a46666233ba4/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 508.633708ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team?filter%5Bkeyword%5D=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17375550130&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"team","attributes":{"link_count":0,"name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173755501301","modified_at":"2025-01-22T14:10:14.578960+00:00","created_at":"2025-01-22T14:10:14.578955+00:00","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173755501301","summary":"Team description","is_managed":false,"description":"Team description","user_count":0},"relationships":{"user_team_permissions":{"links":{"related":"/api/v2/team/49510456-f9fa-44f8-bb72-9d8a65887244/permission-settings"}},"team_links":{"links":{"related":"/api/v2/team/49510456-f9fa-44f8-bb72-9d8a65887244/links"}}},"id":"49510456-f9fa-44f8-bb72-9d8a65887244"}],"meta":{"pagination":{"number":0,"first_number":0,"prev_number":0,"next_number":1,"last_number":0,"size":100,"type":"number_size","total":1}},"links":{"self":"https://api.datadoghq.com/api/v2/team?filter[keyword]=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17375550130&page[number]=0&page[size]=100","last":null,"next":"https://api.datadoghq.com/api/v2/team?filter[keyword]=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17375550130&page[number]=1&page[size]=100","prev":null,"first":"https://api.datadoghq.com/api/v2/team?filter[keyword]=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17375550130&page[number]=0&page[size]=100"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 288.502833ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/49510456-f9fa-44f8-bb72-9d8a65887244
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"team","attributes":{"handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173755501301","created_at":"2025-01-22T14:10:14.578955+00:00","is_managed":false,"link_count":0,"user_count":0,"summary":"Team description","modified_at":"2025-01-22T14:10:14.578960+00:00","description":"Team description","name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173755501301"},"relationships":{"user_team_permissions":{"links":{"related":"/api/v2/team/49510456-f9fa-44f8-bb72-9d8a65887244/permission-settings"}},"team_links":{"links":{"related":"/api/v2/team/49510456-f9fa-44f8-bb72-9d8a65887244/links"}}},"id":"49510456-f9fa-44f8-bb72-9d8a65887244"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.539959ms
[...]
