---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"action":{"reason":"risk_accepted"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder_OutOfBandRuleAdded-local-1782142019-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}},"type":"mute_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/mute_rules
        method: POST
      response:
        body: '{"data":{"id":"16ca0532-e553-44cf-8262-0a2a075330b3","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1782142019866,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782142019866,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder_OutOfBandRuleAdded-local-1782142019-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 542.877667ms
[...]
    - id: 2
      request:
        host: api.datad0g.com
        body: |
            {"data":[{"id":"ff17bf68-a8f9-4cc0-be3a-df38cc4c8062","type":"mute_rules"},{"id":"16ca0532-e553-44cf-8262-0a2a075330b3","type":"mute_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/mute_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"mute_rules","id":"ff17bf68-a8f9-4cc0-be3a-df38cc4c8062"},{"type":"mute_rules","id":"16ca0532-e553-44cf-8262-0a2a075330b3"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 366.810208ms
[...]
    - id: 4
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/mute_rules/ff17bf68-a8f9-4cc0-be3a-df38cc4c8062
        method: GET
      response:
        body: '{"data":{"id":"ff17bf68-a8f9-4cc0-be3a-df38cc4c8062","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1782142019867,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782142019867,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder_OutOfBandRuleAdded-local-1782142019-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 188.538334ms
[...]
    - id: 10
      request:
        host: api.datad0g.com
        body: |
            {"data":[{"id":"ff17bf68-a8f9-4cc0-be3a-df38cc4c8062","type":"mute_rules"},{"id":"16ca0532-e553-44cf-8262-0a2a075330b3","type":"mute_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/mute_rules/reorder
        method: POST
      response:
        body: '{"errors":[{"status":"422","title":"Unprocessable Entity","detail":"reorder must include all 3 rules, got 2"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 422 Unprocessable Entity
        code: 422
        duration: 151.538792ms
[...]
