---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"othertf-testaccdatadoguserdatasourcewithexactmatcherror-local-1758619294@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"b43f0878-985e-11f0-b817-72d874262dfd","attributes":{"name":null,"handle":"othertf-testaccdatadoguserdatasourcewithexactmatcherror-local-1758619294@example.com","created_at":"2025-09-23T09:21:36.686325+00:00","modified_at":"2025-09-23T09:21:36.686325+00:00","email":"othertf-testaccdatadoguserdatasourcewithexactmatcherror-local-1758619294@example.com","icon":"https://secure.gravatar.com/avatar/25d59b9c5ba2b0414a7ea704abccad55?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 824.47ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"b442175d-985e-11f0-b686-b6e754432c4e","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"b481b8fa-985e-11f0-9f6b-da7ad0900002","attributes":{"uuid":"b481b8fa-985e-11f0-9f6b-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:21:37.122989+00:00","expires_at":"2025-09-25T09:21:36.940240+00:00"},"relationships":{"user":{"data":{"type":"users","id":"b442175d-985e-11f0-b686-b6e754432c4e"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 416.388084ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguserdatasourcewithexactmatcherror-local-1758619294%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[],"meta":{"page":{"total_count":170827,"total_filtered_count":0,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.369208ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/b43f0878-985e-11f0-b817-72d874262dfd
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 348.863042ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/b442175d-985e-11f0-b686-b6e754432c4e
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"b442175d-985e-11f0-b686-b6e754432c4e","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourcewithexactmatcherror-local-1758619294@example.com","created_at":"2025-09-23T09:21:36.706367+00:00","modified_at":"2025-09-23T09:21:38.294243+00:00","email":"tf-testaccdatadoguserdatasourcewithexactmatcherror-local-1758619294@example.com","icon":"https://secure.gravatar.com/avatar/09450a8e6a960bdb6bf10b5d21343d74?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.687125ms
[...]
