---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1758619074","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1758619074"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"e568bc71-55c4-4e91-9d4c-2f8dcc3306a8","attributes":{"name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1758619074","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1758619074","summary":"Description","description":"Description","avatar":null,"banner":1,"visible_modules":[],"hidden_modules":[],"created_at":"2025-09-23T09:17:56.767444+00:00","modified_at":"2025-09-23T09:17:56.767453+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/e568bc71-55c4-4e91-9d4c-2f8dcc3306a8/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/e568bc71-55c4-4e91-9d4c-2f8dcc3306a8/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 620.514666ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallteamroutingrulescreateandupdate-local-1758619074@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"3166b693-985e-11f0-9651-7220f0448ba8","attributes":{"name":null,"handle":"tf-testacconcallteamroutingrulescreateandupdate-local-1758619074@example.com","created_at":"2025-09-23T09:17:57.164842+00:00","modified_at":"2025-09-23T09:17:57.164842+00:00","email":"tf-testacconcallteamroutingrulescreateandupdate-local-1758619074@example.com","icon":"https://secure.gravatar.com/avatar/f05674c7c67f267719a77ec58a794c31?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 903.678334ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"3166b693-985e-11f0-9651-7220f0448ba8","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"31fb6c00-985e-11f0-b9d8-da7ad0900002","attributes":{"uuid":"31fb6c00-985e-11f0-b9d8-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:17:58.138963+00:00","expires_at":"2025-09-25T09:17:57.578700+00:00"},"relationships":{"user":{"data":{"type":"users","id":"3166b693-985e-11f0-9651-7220f0448ba8"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.08556775s
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"3166b693-985e-11f0-9651-7220f0448ba8"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1758619074","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"e568bc71-55c4-4e91-9d4c-2f8dcc3306a8","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"5822c826-01b0-46a1-a46e-7e3d4de46e23","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1758619074","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"41a7570c-93b9-4579-8b0c-fd8ed690d44e","type":"layers"}]},"teams":{"data":[{"id":"e568bc71-55c4-4e91-9d4c-2f8dcc3306a8","type":"teams"}]}}},"included":[{"id":"41a7570c-93b9-4579-8b0c-fd8ed690d44e","type":"layers","attributes":{"effective_date":"2025-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"41a7570c-93b9-4579-8b0c-fd8ed690d44e-member-1","type":"members"},{"id":"41a7570c-93b9-4579-8b0c-fd8ed690d44e-member-2","type":"members"}]}}},{"id":"41a7570c-93b9-4579-8b0c-fd8ed690d44e-member-1","type":"members","relationships":{"user":{"data":{"id":"3166b693-985e-11f0-9651-7220f0448ba8","type":"users"}}}},{"id":"3166b693-985e-11f0-9651-7220f0448ba8","type":"users","attributes":{"email":"tf-testacconcallteamroutingrulescreateandupdate-local-1758619074@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 160.749791ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testacconcallteamroutingrulescreateandupdate-local-1758619074","resolve_page_on_policy_end":true,"retries":3,"steps":[{"assignment":"round-robin","escalate_after_seconds":300,"targets":[{"id":"e568bc71-55c4-4e91-9d4c-2f8dcc3306a8","type":"teams"},{"id":"3166b693-985e-11f0-9651-7220f0448ba8","type":"users"},{"id":"5822c826-01b0-46a1-a46e-7e3d4de46e23","type":"schedules"}]}]},"type":"policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
        method: POST
      response:
        body: '{"data":{"id":"4d29346d-4137-46fe-9a11-15a9da[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"rules":[{"actions":[{"channel":"channel","type":"send_slack_message","workspace":"workspace"}],"query":"tags.service:test","time_restriction":{"restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"time_zone":"America/New_York"}},{"actions":[],"policy_id":"4d29346d-4137-46fe-9a11-15a9da6063f1","query":"","urgency":"dynamic"}]},"id":"e568bc71-55c4-4e91-9d4c-2f8dcc3306a8","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/e568bc71-55c4-4e91-9d4c-2f8dcc3306a8/routing-rules?include=rules
        method: PUT
      response:
        body: '{"data":{"id":"e568bc71-55c4-4e91-9d4c-2f8dcc3306a8","type":"team_routing_rules","relationships":{"rules":{"data":[{"id":"virtual-e568bc71-55c4-4e91-9d4c-2f8dcc3306a8-rule-0","type":"team_routing_rules"},{"id":"virtual-e568bc71-55c4-4e91-9d4c-2f8dcc3306a8-rule-1","type":"team_routing_rules"}]}}},"included":[{"id":"virtual-e568bc71-55c4-4e91-9d4c-2f8dcc3306a8-rule-0","type":"team_routing_rules","attributes":{"actions":[{"type":"send_slack_message","channel":"channel","workspace":"workspace"}],"query":"tags.service:test","time_restriction":{"time_zone":"America/New_York","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}]}},"relationships":{"policy":{"data":null}}},{"id":"virtual-e568bc71-55c4-4e91-9d4c-2f8dcc3306a8-rule-1","type":"team_routing_rules","attributes":{"actions":[],"query":"","urgency":"dynamic"},"relationships":{"policy":{"data":{"id":"4d29346d-4137-46fe-9a11-15a9da6063f1","type":"policies"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 204.192334ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/e568bc71-55c4-4e91-9d4c-2f8dcc3306a8
        method: GET
      response:
        body: '{"data":{"id":"e568bc71-55c4-4e91-9d4c-2f8dcc3306a8","type":"team","attributes":{"created_at":"2025-09-23T09:17:56.767444+00:00","description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1758619074","is_managed":false,"link_count":0,"modified_at":"2025-09-23T09:17:56.767453+00:00","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1758619074","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/e568bc71-55c4-4e91-9d4c-2f8dcc3306a8/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/e568bc71-55c4-4e91-9d4c-2f8dcc3306a8/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 145.400583ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/3166b693-985e-11f0-9651-7220f0448ba8
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"3166b693-985e-11f0-9651-7220f0448ba8","attributes":{"name":null,"handle":"tf-testacconcallteamroutingrulescreateandupdate-local-1758619074@example.com","created_at":"2025-09-23T09:17:57.164842+00:00","modified_at":"2025-09-23T09:17:57.164842+00:00","email":"tf-testacconcallteamroutingrulescreateandupdate-local-1758619074@example.com","icon":"https://secure.gravatar.com/avatar/f05674c7c67f267719a77ec58a794c31?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.994208ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/5822c826-01b0-46a1-a46e-7e3d4de46e23?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"5822c826-01b0-46a1-a46e-7e3d4de46e23","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1758619074","time_zon[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/4d29346d-4137-46fe-9a11-15a9da6063f1?include=steps.targets
        method: GET
      response:
        body: '{"data":{"id":"4d29346d-4137-46fe-9a11-15a9da6063f1","type":"policies","attributes":{"name":"tf-testacconcallteamroutingrulescreateandupdate-local-1758619074","resolve_page_on_policy_end":true,"retries":3},[...]
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"e568bc71-55c4-4e91-9d4c-2f8dcc3306a8","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/e568bc71-55c4-4e91-9d4c-2f8dcc3306a8/routing-rules
        method: PUT
      response:
        body: '{"data":{"id":"e568bc71-55c4-4e91-9d4c-2f8dcc3306a8","type":"team_routing_rules","relationships":{"rules":{"data":[]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 162.365916ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/4d29346d-4137-46fe-9a11-15a9da6063f1
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 198.372333ms
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/5822c826-01b0-46a1-a46e-7e3d4de46e23
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 160.000458ms
[...]
