---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"18-tf-testaccdatadogserviceaccountdatasourcepagination-local-1758619401@example.com","name":"tf-TestAccServiceAccountPagination-219d7a67e05ec798-18","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"f573166b-985e-11f0-9651-7220f0448ba8","attributes":{"name":"tf-TestAccServiceAccountPagination-219d7a67e05ec798-18","handle":"f573166b-985e-11f0-9651-7220f0448ba8","created_at":"2025-09-23T09:23:26.079371+00:00","modified_at":"2025-09-23T09:23:26.079371+00:00","email":"18-tf-testaccdatadogserviceaccountdatasourcepagination-local-1758619401@example.com","icon":"https://secure.gravatar.com/avatar/44166542f1dbeb126621e4f1eb60bbcc?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 261.992209ms
[...]
    - id: 20
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-TestAccServiceAccountPagination-219d7a67e05ec798-20&page%5Bnumber%5D=0&page%5Bsize%5D=10
        method: GET
      response:
            - chunked
        body: |
            {"data":[],"meta":{"page":{"total_count":170842,"total_filtered_count":0,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.063125ms
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/f5b6ad15-985e-11f0-b3f1-166929e0c295
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 300.346958ms
[...]
