---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["metric-enrichment-table-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"metric-enrichment-table-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"file":{"encoding":{"delimiter":",","includes_headers":true,"type":"csv"},"key":{"column":"service","source":{"name":"service","type":"tag"}},"path":"/etc/enrichment/lookup.csv"},"id":"metric-enrichment-table-processor","include":"*","type":"enrichment_table"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"metric enrichment table processor test"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"b0dcf6c8-bcdf-11f1-9506-da7ad0900002","type":"pipelines","attributes":{"name":"metric enrichment table processor test","config":{"destinations":[{"id":"destination-1","inputs":["metric-enrichment-table-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"metric-enrichment-table-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"file":{"encoding":{"delimiter":",","includes_headers":true,"type":"csv"},"key":{"column":"service","source":{"name":"service","type":"tag"}},"path":"/etc/enrichment/lookup.csv"},"id":"metric-enrichment-table-processor","include":"*","type":"enrichment_table"}]}],"processors":[{"enabled":true,"id":"metric-enrichment-table-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"file":{"encoding":{"delimiter":",","includes_headers":true,"type":"csv"},"key":{"column":"service","source":{"name":"service","type":"tag"}},"path":"/etc/enrichment/lookup.csv"},"id":"metric-enrichment-table-processor","include":"*","type":"enrichment_table"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 256.144834ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/b0dcf6c8-bcdf-11f1-9506-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"b0dcf6c8-bcdf-11f1-9506-da7ad0900002","type":"pipelines","attributes":{"name":"metric enrichment table processor test","config":{"destinations":[{"id":"destination-1","inputs":["metric-enrichment-table-gr[...]
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["metric-enrichment-table-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"metric-enrichment-table-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"metric-enrichment-table-processor","include":"*","reference_table":{"app_key_key":"METRIC_ENRICHMENT_APP_KEY","columns":["environment","team"],"key":{"source":{"type":"metric_name"}},"table_id":"metric-enrichment"},"type":"enrichment_table"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"metric enrichment table processor test"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/b0dcf6c8-bcdf-11f1-9506-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"b0dcf6c8-bcdf-11f1-9506-da7ad0900002[...]
[...]
