---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action_pattern":{"action_fqns":["*"],"integration":"INTEGRATION_SCRIPT"},"effect":"allow","name":"tf-TestAccDatadogActionExecutionPolicy_EmptyScope-local-1787229737"},"type":"execution_policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/execution-policies
        method: POST
      response:
        body: '{"data":{"id":"634b8122-1a48-4975-a78f-4030e0f3d5a7","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["*"]},"created_at":"2026-08-20T12:42:20Z","created_by":"d72ee86c-6207-4077-b40c-93fded100245","effect":"allow","name":"tf-TestAccDatadogActionExecutionPolicy_EmptyScope-local-1787229737","targets":[],"updated_at":"2026-08-20T12:42:20Z","updated_by":"d72ee86c-6207-4077-b40c-93fded100245","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 191.209583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/execution-policies/634b8122-1a48-4975-a78f-4030e0f3d5a7
        method: GET
      response:
        body: '{"data":{"id":"634b8122-1a48-4975-a78f-4030e0f3d5a7","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["*"]},"created_at":"2026-08-20T12:42:20Z","created_by":"d72ee86c-6207-4077-b40c-93fded100245","effect":"allow","name":"tf-TestAccDatadogActionExecutionPolicy_EmptyScope-local-1787229737","scope":{},"targets":[],"updated_at":"2026-08-20T12:42:20Z","updated_by":"d72ee86c-6207-4077-b40c-93fded100245","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 205.876ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/execution-policies/634b8122-1a48-4975-a78f-4030e0f3d5a7
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting execution policy"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 207.079125ms
