---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-2"],"type":"datadog_metrics"}],"pipeline_type":"metrics","sources":[{"id":"opentelemetry-source-2","type":"opentelemetry"}]},"name":"opentelemetry-metrics-pipeline-no-tls"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"307cb3aa-2ea1-11f1-b834-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-metrics-pipeline-no-tls","config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-2"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"id":"opentelemetry-source-2","type":"opentelemetry"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 545.738375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/307cb3aa-2ea1-11f1-b834-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"307cb3aa-2ea1-11f1-b834-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-metrics-pipeline-no-tls","config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-2"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"id":"opentelemetry-source-2","type":"opentelemetry"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 286.835583ms
[...]
