---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1741121413","published":false,"spec":{"triggers":[{"workflowTrigger":{}}]},"tags":["foo:bar","service:foo","team:bar"],"webhookSecret":""},"type":"workflows"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/workflows
        method: POST
      response:
        body: '{"data":{"id":"faba58a2-a35b-46f6-ad0f-97e5817d88a8","type":"workflows","attributes":{"createdAt":"2025-03-04T20:50:15.292521Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1741121413","published":false,"spec":{"triggers":[{"workflowTrigger":{}}]},"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2025-03-04T20:50:15.292521Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 119.887125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/faba58a2-a35b-46f6-ad0f-97e5817d88a8
        method: GET
      response:
        body: '{"data":{"id":"faba58a2-a35b-46f6-ad0f-97e5817d88a8","type":"workflows","attributes":{"createdAt":"2025-03-04T20:50:15.292521Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1741121413","published":false,"spec":{"triggers":[{"workflowTrigger":{}}]},"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2025-03-04T20:50:15.292521Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 73.772667ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/faba58a2-a35b-46f6-ad0f-97e5817d88a8
        method: GET
      response:
        body: '{"errors":[{"detail":"workflow not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 78.079292ms
