---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":{"destination_key":"env","if_not_exists":true,"source_keys":["environment","stage"]},"name":"mapping-rule","query":null,"reference_table":null}]},"id":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRule-local-1759525242","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"88ffa2e4-5f14-48b6-ab73-8a29cd1021a5","type":"ruleset","attributes":{"created":{"seconds":1759525245,"nanos":456694000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759525245,"nanos":456694000},"name":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRule-local-1759525242","position":5,"rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":true},"reference_table":null,"metadata":null}],"version":3609229}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 281.521125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/88ffa2e4-5f14-48b6-ab73-8a29cd1021a5
        method: GET
      response:
        body: '{"data":{"id":"88ffa2e4-5f14-48b6-ab73-8a29cd1021a5","type":"ruleset","attributes":{"created":{"seconds":1759525245,"nanos":456694000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759525245,"nanos":456694000},"name":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRule-local-1759525242","position":4,"processing_status":"error","rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":true},"reference_table":null,"metadata":null}],"version":3609229}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 122.02675ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/88ffa2e4-5f14-48b6-ab73-8a29cd1021a5
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset 88ffa2e4-5f14-48b6-ab73-8a29cd1021a5 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 59.597792ms
