---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicy_Basic-local-1779841502"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019e66d2-0ef6-71e4-bc50-3736fb422bf1","type":"org_groups","attributes":{"created_at":"2026-05-27T00:25:02.966Z","modified_at":"2026-05-27T00:25:03.04376Z","name":"tf-TestAccDatadogOrgGroupPolicy_Basic-local-1779841502","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 130.874029ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d2-0ef6-71e4-bc50-3736fb422bf1","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019e66d2-0f8f-7c8f-88b0-58cdeb211c07","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","modified_at":"2026-05-27T00:25:03.120757Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d2-0ef6-71e4-bc50-3736fb422bf1","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 57.143549ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019e66d2-0f8f-7c8f-88b0-58cdeb211c07
        method: GET
      response:
        body: '{"data":{"id":"019e66d2-0f8f-7c8f-88b0-58cdeb211c07","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","modified_at":"2026-05-27T00:25:03.120757Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d2-0ef6-71e4-bc50-3736fb422bf1","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 33.953667ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019e66d2-0ef6-71e4-bc50-3736fb422bf1
        method: GET
      response:
        body: '{"data":{"id":"019e66d2-0ef6-71e4-bc50-3736fb422bf1","type":"org_groups","attributes":{"created_at":"2026-05-27T00:25:02.966Z","modified_at":"2026-05-27T00:25:03.04376Z","name":"tf-TestAccDatadogOrgGroupPolicy_Basic-local-1779841502","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 33.353327ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":true},"enforcement_tier":"GROUP_MANAGED"},"id":"019e66d2-0f8f-7c8f-88b0-58cdeb211c07","type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies/019e66d2-0f8f-7c8f-88b0-58cdeb211c07
        method: PATCH
      response:
        body: '{"data":{"id":"019e66d2-0f8f-7c8f-88b0-58cdeb211c07","type":"org_group_policies","attributes":{"content":{"org_config":true},"enforced_at":"2026-05-27T00:25:05.478131Z","enforcement_tier":"GROUP_MANAGED","modified_at":"2026-05-27T00:25:05.478131Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d2-0ef6-71e4-bc50-3736fb422bf1","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 90.24349ms
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019e66d2-2381-74ed-8b79-3f2f35b338fa
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"policy 019e66d2-2381-74ed-8b79-3f2f35b338fa not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 26.576995ms
