---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/apm/config/retention-filters
        method: GET
      response:
        body: |
            {"data":[{"id":"gqTKd0gDTXqz1n31o6qzXw","attributes":{"name":"Error Default","rate":1.0,"trace_rate":0,"enabled":true,"filter_type":"spans-errors-sampling-processor","filter":{"query":"status:error"},"editable":true,"execution_order":1,"modified_by":"","modified_at":0,"created_by":"","created_at":0},"type":"apm_retention_filter"},{"id":"ycMCvoF5ST2AmdSgYkmu_g","attributes":{"name":"Application Security Monitoring Default","rate":1.0,"trace_rate":0,"enabled":false,"filter_type":"spans-appsec-sampling-processor","filter":{"query":"@appsec.event:true"},"editable":true,"execution_order":2,"modified_by":"","modified_at":0,"created_by":"","created_at":0},"type":"apm_retention_filter"},{"id":"MhS61vvYS5CVZQW5tDGaBg","attributes":{"name":"Dynamic Instrumentation Default","rate":1.0,"trace_rate":0,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"operation_name:dd.dynamic.span"},"editable":true,"execution_order":3,"modified_by":"","modified_at":0,"created_by":"","created_at":0},"type":"apm_retention_filter"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.29825ms
[...]
    - id: 2
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"enabled":true,"filter":{"query":"error_code:123 service:my-service"},"filter_type":"spans-sampling-processor","name":"Dynamic Instrumentation Default","rate":0.1},"id":"","type":"apm_retention_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/apm/config/retention-filters/MhS61vvYS5CVZQW5tDGaBg
        method: PUT
      response:
        body: |
            {"data":{"id":"MhS61vvYS5CVZQW5tDGaBg","attributes":{"name":"Dynamic Instrumentation Default","rate":0.1,"trace_rate":0.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"salah.bachircherif@datadoghq.com","modified_at":1713113507,"created_by":"","created_at":0},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 435.979333ms
    - id: 3
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"enabled":false,"filter":{"query":"error_code:123 service:my-service"},"filter_type":"spans-appsec-sampling-processor","name":"Application Security Monitoring Default","rate":0.1},"id":"","type":"apm_retention_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/apm/config/retention-filters/ycMCvoF5ST2AmdSgYkmu_g
        method: PUT
      response:
        body: |
            {"data":{"id":"ycMCvoF5ST2AmdSgYkmu_g","attributes":{"name":"Application Security Monitoring Default","rate":0.1,"trace_rate":0.0,"enabled":false,"filter_type":"spans-appsec-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"salah.bachircherif@datadoghq.com","modified_at":1713113508,"created_by":"","created_at":0},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 387.050958ms
    - id: 4
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/apm/config/retention-filters/ycMCvoF5ST2AmdSgYkmu_g
        method: DELETE
      response:
        body: '{"errors":["Application Security Monitoring Default filter cannot be deleted"]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 219.731625ms
[...]
