---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"expire_at":4070908800000,"reason":"no_fix","reason_description":"context"},"enabled":false,"name":"tf-TestAccDatadogSecurityFindingsMuteRule_OptionalChurn-local-1782479931","rule":{"finding_types":["misconfiguration"],"query":"env:prod"}},"type":"mute_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
        method: POST
      response:
        body: '{"data":{"id":"51f4a34d-795a-4435-abdf-76b3fc96b165","type":"mute_rules","attributes":{"action":{"reason":"no_fix","reason_description":"context","expire_at":4070908800000},"created_at":1782479933711,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":false,"modified_at":1782479933711,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRule_OptionalChurn-local-1782479931","rule":{"finding_types":["misconfiguration"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 543.705917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/51f4a34d-795a-4435-abdf-76b3fc96b165
        method: GET
      response:
        body: '{"data":{"id":"51f4a34d-795a-4435-abdf-76b3fc96b165","type":"mute_rules","attributes":{"action":{"reason":"no_fix","reason_description":"context","expire_at":4070908800000},"created_at":1782479933711,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":false,"modified_at":1782479933711,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRule_OptionalChurn-local-1782479931","rule":{"finding_types":["misconfiguration"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 140.270042ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/51f4a34d-795a-4435-abdf-76b3fc96b165
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 110.376833ms
