version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardIFrame_import-local-1682003490","widgets":[{"definition":{"type":"iframe","url":"https://en.wikipedia.org/wiki/Datadog"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"etq-n4h-tyv","title":"tf-TestAccDatadogDashboardIFrame_import-local-1682003490","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/etq-n4h-tyv/tf-testaccdatadogdashboardiframeimport-local-1682003490","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"type":"iframe","url":"https://en.wikipedia.org/wiki/Datadog"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":8167071215204779}],"notify_list":[],"created_at":"2023-04-20T15:11:32.346950+00:00","modified_at":"2023-04-20T15:11:32.346950+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/etq-n4h-tyv
    method: GET
    id: 1
  response:
    body: |
      {"id":"etq-n4h-tyv","title":"tf-TestAccDatadogDashboardIFrame_import-local-1682003490","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/etq-n4h-tyv/tf-testaccdatadogdashboardiframeimport-local-1682003490","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"type":"iframe","url":"https://en.wikipedia.org/wiki/Datadog"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":8167071215204779}],"notify_list":[],"created_at":"2023-04-20T15:11:32.346950+00:00","modified_at":"2023-04-20T15:11:32.346950+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/etq-n4h-tyv
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"etq-n4h-tyv"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/etq-n4h-tyv
    method: GET
    id: 5
  response:
    body: '{"errors":["Dashboard with ID etq-n4h-tyv not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
