---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test rule description","enabled":true,"level":1,"name":"tf-TestAccDatadogScorecardRule_Import-local-1773265782","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Import-local-1773265782-scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scorecard/rules
        method: POST
      response:
        body: '{"data":{"id":"u2jsl0xh431idosl","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Import-local-1773265782-scorecard","created_at":"2026-03-11T21:49:44.247118266Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-03-11T21:49:44.247118266Z","name":"tf-TestAccDatadogScorecardRule_Import-local-1773265782","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Import-local-1773265782-scorecard"},"relationships":{"scorecard":{"data":{"id":"ZIf5cyk8p7Ln","type":"scorecard"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 176.459334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=u2jsl0xh431idosl&page%5Bsize%5D=1
        method: GET
      response:
        body: '{"data":[{"id":"u2jsl0xh431idosl","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Import-local-1773265782-scorecard","created_at":"2026-03-11T21:49:44.247118Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-03-11T21:49:44.247118Z","name":"tf-TestAccDatadogScorecardRule_Import-local-1773265782","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Import-local-1773265782-scorecard"},"relationships":{"scorecard":{"data":{"id":"ZIf5cyk8p7Ln","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=u2jsl0xh431idosl\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1\u0026page%5Bsize%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 45.047958ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules/u2jsl0xh431idosl
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 615.20675ms
[...]
