---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1758619404@example.com","name":"tf-TestAccServiceAccountDatasource-393e8b703570d8cd","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"f6741453-985e-11f0-b686-b6e754432c4e","attributes":{"name":"tf-TestAccServiceAccountDatasource-393e8b703570d8cd","handle":"f6741453-985e-11f0-b686-b6e754432c4e","created_at":"2025-09-23T09:23:27.763592+00:00","modified_at":"2025-09-23T09:23:27.763592+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1758619404@example.com","icon":"https://secure.gravatar.com/avatar/cbeafda187cd9c5736c9849c07b6beaa?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 375.367917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-TestAccServiceAccountDatasource-393e8b703570d8cd&page%5Bnumber%5D=0&page%5Bsize%5D=10
        method: GET
      response:
            - chunked
        body: |
            {"data":[],"meta":{"page":{"total_count":170846,"total_filtered_count":0,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 194.78275ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/f6741453-985e-11f0-b686-b6e754432c4e
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 418.806541ms
