---
version: 1
interactions:
- request:
    body: |
      {"name":"tf-TestDatadogDashListInDashboardJSON-local-1690985962"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-08-02T14:19:25.005013+00:00","dashboards":null,"dashboard_count":0,"id":405194,"is_favorite":false,"modified":"2023-08-02T14:19:25.005019+00:00","name":"tf-TestDatadogDashListInDashboardJSON-local-1690985962","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\n   \"author_handle\":\"removed_handle\",\n   \"title\":\"tf-TestDatadogDashListInDashboardJSON-local-1690985962\",\n   \"description\":\"Created using the Datadog provider in Terraform\",\n   \"widgets\":[\n      {\n         \"id\":5436370674582587,\n         \"definition\":{\n            \"title\":\"Widget Title\",\n            \"type\":\"alert_value\",\n            \"alert_id\":\"895605\",\n            \"unit\":\"b\",\n            \"text_align\":\"center\",\n            \"precision\":3\n         }\n      }\n   ],\n   \"template_variables\":[\n      \n   ],\n   \"layout_type\":\"ordered\",\n   \"is_read_only\":true,\n   \"notify_list\":[\n      \n   ],\n   \"id\":\"5uw-bbj-xec\"\n}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"xuj-y29-kzb","title":"tf-TestDatadogDashListInDashboardJSON-local-1690985962","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/xuj-y29-kzb/tf-testdatadogdashlistindashboardjson-local-1690985962","is_read_only":true,"template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2023-08-02T14:19:25.230996+00:00","modified_at":"2023-08-02T14:19:25.230996+00:00"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/xuj-y29-kzb
    method: GET
  response:
    body: |
      {"id":"xuj-y29-kzb","title":"tf-TestDatadogDashListInDashboardJSON-local-1690985962","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/xuj-y29-kzb/tf-testdatadogdashlistindashboardjson-local-1690985962","is_read_only":true,"template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2023-08-02T14:19:25.230996+00:00","modified_at":"2023-08-02T14:19:25.230996+00:00"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"xuj-y29-kzb","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/405194/dashboards
    method: POST
  response:
    body: |
      {"added_dashboards_to_list":[{"type":"custom_timeboard","id":"xuj-y29-kzb"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405194
    method: GET
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-08-02T14:19:25.005013+00:00","dashboards":null,"dashboard_count":1,"id":405194,"is_favorite":false,"modified":"2023-08-02T14:19:25.772211+00:00","name":"tf-TestDatadogDashListInDashboardJSON-local-1690985962","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/405194/dashboards
    method: GET
  response:
    body: |
      {"dashboards":[{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-08-02T14:19:25.230996+00:00","is_favorite":false,"is_shared":false,"modified":"2023-08-02T14:19:25.230996+00:00","title":"tf-TestDatadogDashListInDashboardJSON-local-1690985962","type":"custom_timeboard","id":"xuj-y29-kzb","url":"/dashboard/xuj-y29-kzb/tf-testdatadogdashlistindashboardjson-local-1690985962","is_read_only":true,"tags":null,"icon":null,"integration_id":null,"popularity":0}],"total":1}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"dashboards":[{"id":"xuj-y29-kzb","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/405194/dashboards
    method: DELETE
  response:
    body: |
      {"deleted_dashboards_from_list":[{"type":"custom_timeboard","id":"xuj-y29-kzb"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405194
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_list_id":405194}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/xuj-y29-kzb
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"xuj-y29-kzb"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405194
    method: GET
  response:
    body: '{"errors":["Manual Dashboard List with id 405194 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
