---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":["team:foobar"],"template_variable_presets":[{"name":"preset_1","template_variables":[{"name":"var_1","value":"var_1_value"},{"name":"var_2","value":"var_2_value"}]},{"name":"preset_2","template_variables":[{"name":"var_1","value":"var_1_value"}]},{"name":"preset_3","template_variables":[]}],"template_variables":[{"default":"aws","name":"var_1","prefix":"host"},{"default":"autoscaling","name":"var_2","prefix":"service_name"}],"title":"tf-TestAccDatadogDashboardLayoutForceNew-local-1767989189","widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"mkh-3uh-uss","title":"tf-TestAccDatadogDashboardLayoutForceNew-local-1767989189","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/mkh-3uh-uss/tf-testaccdatadogdashboardlayoutforcenew-local-1767989189","template_variables":[{"default":"aws","name":"var_1","prefix":"host"},{"default":"autoscaling","name":"var_2","prefix":"service_name"}],"widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":7246720858445701}],"notify_list":[],"created_at":"2026-01-09T20:06:30.685396+00:00","modified_at":"2026-01-09T20:06:30.685396+00:00","template_variable_presets":[{"name":"preset_1","template_variables":[{"name":"var_1","value":"var_1_value"},{"name":"var_2","value":"var_2_value"}]},{"name":"preset_2","template_variables":[{"name":"var_1","value":"var_1_value"}]},{"name":"preset_3","template_variables":[]}],"tags":["team:foobar"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.374459ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/mkh-3uh-uss
        method: GET
      response:
            - chunked
        body: '{"id":"mkh-3uh-uss","title":"tf-TestAccDatadogDashboardLayoutForceNew-local-1767989189","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/mkh-3uh-uss/tf-testaccdatadogdashboardlayoutforcenew-local-1767989189","template_variables":[{"default":"aws","name":"var_1","prefix":"host"},{"default":"autoscaling","name":"var_2","prefix":"service_name"}],"widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":7246720858445701}],"notify_list":[],"created_at":"2026-01-09T20:06:30.685396+00:00","modified_at":"2026-01-09T20:06:30.685396+00:00","template_variable_presets":[{"name":"preset_1","template_variables":[{"name":"var_1","value":"var_1_value"},{"name":"var_2","value":"var_2_value"}]},{"name":"preset_2","template_variables":[{"name":"var_1","value":"var_1_value"}]},{"name":"preset_3","template_variables":[]}],"tags":["team:foobar"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.225625ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/mkh-3uh-uss
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"mkh-3uh-uss"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 414.661625ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/eeb-hgr-34i
        method: GET
      response:
            - chunked
        body: '{"id":"eeb-hgr-34i","title":"tf-TestAccDatadogDashboardLayoutForceNew-local-1767989189","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/eeb-hgr-34i/tf-testaccdatadogdashboardlayoutforcenew-local-1767989189","template_variables":[{"default":"aws","name":"var_1","prefix":"host"},{"default":"autoscaling","name":"var_2","prefix":"service_name"}],"widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":360873764202094}],"notify_list":[],"created_at":"2026-01-09T20:06:33.777708+00:00","modified_at":"2026-01-09T20:06:33.777708+00:00","template_variable_presets":[{"name":"preset_1","template_variables":[{"name":"var_1","value":"var_1_value"},{"name":"var_2","value":"var_2_value"}]},{"name":"preset_2","template_variables":[{"name":"var_1","value":"var_1_value"}]},{"name":"preset_3","template_variables":[]}],"tags":["team:foobar"]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.950167ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/eeb-hgr-34i
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID eeb-hgr-34i not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 140.108458ms
