---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"event_type":"session","name":"tf-TestAccRumRetentionFilterAttributes-local-1758619175","query":"","sample_rate":25},"meta":{"source":"terraform"},"type":"retention_filters"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications/9ff07c10-11f9-402c-a9d4-9eca42ef4a64/retention_filters
        method: POST
      response:
        body: '{"data":{"id":"9be4320f-7105-4dc1-9c48-25914457b598","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"tf-TestAccRumRetentionFilterAttributes-local-1758619175","query":"","sample_rate":25},"meta":{"source":"terraform","updated_at":1758619176527,"updated_by_handle":"frog@datadoghq.com","edition_mode":"complete"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 182.394541ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/9ff07c10-11f9-402c-a9d4-9eca42ef4a64/retention_filters/9be4320f-7105-4dc1-9c48-25914457b598
        method: GET
      response:
        body: '{"data":{"id":"9be4320f-7105-4dc1-9c48-25914457b598","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"tf-TestAccRumRetentionFilterAttributes-local-1758619175","query":"","sample_rate":25},"meta":{"source":"terraform","updated_at":1758619176527,"updated_by_handle":"frog@datadoghq.com","edition_mode":"complete"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 171.870959ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/9ff07c10-11f9-402c-a9d4-9eca42ef4a64/retention_filters/9be4320f-7105-4dc1-9c48-25914457b598
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rpc error: code = NotFound desc = NotFound: This retention filter does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 158.705792ms
