---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2ApmMetricsQuery_import-local-1784742692","widgets":[{"definition":{"autoscale":false,"precision":0,"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"apm_metrics","group_by":["resource_name"],"name":"query1","operation_mode":"primary","operation_name":"web.request","peer_tags":["peer.service:payments"],"query_filter":"env:prod","resource_hash":"abc123","resource_name":"GET /api/v1/users","service":"web-store","span_kind":"server","stat":"hits"}],"response_format":"scalar"}],"title":"APM hits","type":"query_value"}},{"definition":{"requests":[{"query":{"data_source":"apm_metrics","name":"query1","service":"web-store","stat":"latency_distribution"},"request_type":"histogram"}],"show_legend":false,"title":"APM latency distribution","type":"distribution"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"r6s-73j-82p","title":"tf-TestAccDatadogDashboardV2ApmMetricsQuery_import-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/r6s-73j-82p/tf-testaccdatadogdashboardv2apmmetricsqueryimport-local-1784742692","template_variables":[],"widgets":[{"definition":{"autoscale":false,"precision":0,"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"apm_metrics","group_by":["resource_name"],"name":"query1","operation_mode":"primary","operation_name":"web.request","peer_tags":["peer.service:payments"],"query_filter":"env:prod","resource_hash":"abc123","resource_name":"GET /api/v1/users","service":"web-store","span_kind":"server","stat":"hits"}],"response_format":"scalar"}],"title":"APM hits","type":"query_value"},"id":4300867664648042},{"definition":{"requests":[{"query":{"data_source":"apm_metrics","name":"query1","service":"web-store","stat":"latency_distribution"},"request_type":"histogram"}],"show_legend":false,"title":"APM latency distribution","type":"distribution"},"id":4275958034820906}],"notify_list":[],"created_at":"2026-07-22T17:51:36.670073+00:00","modified_at":"2026-07-22T17:51:36.670073+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 475.916041ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/r6s-73j-82p
        method: GET
      response:
            - chunked
        body: '{"id":"r6s-73j-82p","title":"tf-TestAccDatadogDashboardV2ApmMetricsQuery_import-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type"[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2ListStreamOpenAPIParity_import-local-1784742692","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"compute":[{"aggregation":"count","facet":"resource_name"}],"data_source":"logs_transaction_stream","group_by":[{"facet":"service"}],"query_string":"service:web-store","version":"sequential_query"},"response_format":"event_list"}],"title":"Transaction stream","type":"list_stream"}},{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"assignee_uuids":["00000000-0000-0000-0000-000000000000"],"data_source":"issue_stream","persona":"backend","query_string":"service:web-store","states":["OPEN","ACKNOWLEDGED"],"suspected_causes":["deployment"],"team_handles":["platform"]},"response_format":"event_list"}],"title":"Issue stream","type":"list_stream"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"us8-ywm-z73","title":"tf-TestAccDatadogDashboardV2ListStreamOpenAPIParity_import-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"fro[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/us8-ywm-z73
        method: GET
      response:
            - chunked
        body: '{"id":"us8-ywm-z73","title":"tf-TestAccDatadogDashboardV2ListStreamOpenAPIParity_import-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layo[...]
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/r6s-73j-82p
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"r6s-73j-82p"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 708.225417ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/r6s-73j-82p
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID r6s-73j-82p not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 137.425ms
[...]
