---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":["tag:tf-TestAccIntegrationAwsAccountBasic-local-1733418127"],"auth_config":{"role_name":"test"},"aws_account_id":"489910297535","aws_partition":"aws","aws_regions":{"include_only":["us-east-1"]},"logs_config":{"lambda_forwarder":{"lambdas":["arn:aws:lambda:us-east-1:123456789123:function:test-fn"],"sources":["s3","lambda"]}},"metrics_config":{"automute_enabled":true,"collect_cloudwatch_alarms":true,"collect_custom_metrics":true,"enabled":true,"namespace_filters":{"include_only":["AWS/EC2"]},"tag_filters":[]},"resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":false},"traces_config":{"xray_services":{"include_all":true}}},"type":"account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/aws/accounts
        method: POST
      response:
        body: '{"data":{"id":"fd6a8ad3-f086-4ac4-9aeb-cded26c7f518","type":"account","attributes":{"account_tags":["tag:tf-TestAccIntegrationAwsAccountBasic-local-1733418127"],"auth_config":{"role_name":"test","external_id":"5c4c8ec406b84f1aa85d47d84c861cf8"},"aws_account_id":"489910297535","aws_partition":"aws","aws_regions":{"include_only":["us-east-1"]},"created_at":"2024-12-05T17:02:09.076012676Z","logs_config":{"lambda_forwarder":{"lambdas":["arn:aws:lambda:us-east-1:123456789123:function:test-fn"],"sources":["s3","lambda"]}},"metrics_config":{"enabled":true,"automute_enabled":true,"collect_custom_metrics":true,"collect_cloudwatch_alarms":true,"tag_filters":[],"namespace_filters":{"include_only":["AWS/EC2"]}},"modified_at":"2024-12-05T17:02:09.076017911Z","resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":false},"traces_config":{"xray_services":{"include_all":true}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 714.337375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/aws/accounts/%22fd6a8ad3-f086-4ac4-9aeb-cded26c7f518%22
        method: GET
      response:
        body: '{"data":{"id":"fd6a8ad3-f086-4ac4-9aeb-cded26c7f518","type":"account","attributes":{"account_tags":["tag:tf-TestAccIntegrationAwsAccountBasic-local-1733418127"],"auth_config":{"role_name":"test","external_id":"5c4c8ec406b84f1aa85d47d84c861cf8"},"aws_account_id":"489910297535","aws_partition":"aws","aws_regions":{"include_only":["us-east-1"]},"created_at":"2024-12-05T17:02:09.076013Z","logs_config":{"lambda_forwarder":{"lambdas":["arn:aws:lambda:us-east-1:123456789123:function:test-fn"],"sources":["s3","lambda"]}},"metrics_config":{"enabled":true,"automute_enabled":true,"collect_custom_metrics":true,"collect_cloudwatch_alarms":true,"tag_filters":[],"namespace_filters":{"include_only":["AWS/EC2"]}},"modified_at":"2024-12-05T17:02:09.076018Z","resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":false},"traces_config":{"xray_services":{"include_all":true}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 73.370542ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"auth_config":{"external_id":"5c4c8ec406b84f1aa85d47d84c861cf8","role_name":"test-tf-TestAccIntegrationAwsAccountBasic-local-1733418127"},"aws_account_id":"489910297535","aws_partition":"aws","aws_regions":{"include_all":true},"logs_config":{"lambda_forwarder":{"lambdas":[],"sources":[]}},"metrics_config":{"automute_enabled":false,"collect_cloudwatch_alarms":false,"collect_custom_metrics":false,"enabled":false,"namespace_filters":{"exclude_only":[]},"tag_filters":[]},"resources_config":{"cloud_security_posture_management_collection":true,"extended_collection":true},"traces_config":{"xray_services":{"include_only":[]}}},"type":"account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/aws/accounts/%22fd6a8ad3-f086-4ac4-9aeb-cded26c7f518%22
        method: PATCH
      response:
        body: '{"data":{"id":"fd6a8ad3-f086-4ac4-9aeb-cded26c7f518","type":"account","attributes":{"account_tags":null,"auth_config":{"role_name":"test-tf-TestAccIntegrationAwsAccountBasic-local-1733418127","external_id":"5c4c8ec406b84f1aa85d47d84c861cf8"},"aws_account_id":"489910297535","aws_partition":"aws","aws_regions":{"include_all":true},"created_at":"2024-12-05T17:02:09.076013Z","logs_config":{"lambda_forwarder":{"lambdas":[],"sources":[]}},"metrics_config":{"enabled":false,"automute_enabled":false,"collect_custom_metrics":false,"collect_cloudwatch_alarms":false,"tag_filters":[],"namespace_filters":{"exclude_only":[]}},"modified_at":"2024-12-05T17:02:11.234678256Z","resources_config":{"cloud_security_posture_management_collection":true,"extended_collection":true},"traces_config":{"xray_services":{"include_only":[]}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 495.249917ms
[...]
