---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardAlertValue_import-local-1767988438","widgets":[{"definition":{"alert_id":"895605","type":"alert_value"}},{"definition":{"alert_id":"895606","precision":1,"text_align":"center","title":"Widget Title","title_align":"center","title_size":"16","type":"alert_value","unit":"b"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"i43-xgx-rie","title":"tf-TestAccDatadogDashboardAlertValue_import-local-1767988438","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/i43-xgx-rie/tf-testaccdatadogdashboardalertvalueimport-local-1767988438","template_variables":[],"widgets":[{"definition":{"alert_id":"895605","type":"alert_value"},"id":4177427738782530},{"definition":{"alert_id":"895606","precision":1,"text_align":"center","title":"Widget Title","title_align":"center","title_size":"16","type":"alert_value","unit":"b"},"id":1635330359432347}],"notify_list":[],"created_at":"2026-01-09T19:53:59.854060+00:00","modified_at":"2026-01-09T19:53:59.854060+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 127.610333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/i43-xgx-rie
        method: GET
      response:
            - chunked
        body: '{"id":"i43-xgx-rie","title":"tf-TestAccDatadogDashboardAlertValue_import-local-1767988438","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/i43-xgx-rie/tf-testaccdatadogdashboardalertvalueimport-local-1767988438","template_variables":[],"widgets":[{"definition":{"alert_id":"895605","type":"alert_value"},"id":4177427738782530},{"definition":{"alert_id":"895606","precision":1,"text_align":"center","title":"Widget Title","title_align":"center","title_size":"16","type":"alert_value","unit":"b"},"id":1635330359432347}],"notify_list":[],"created_at":"2026-01-09T19:53:59.854060+00:00","modified_at":"2026-01-09T19:53:59.854060+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.307958ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/i43-xgx-rie
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"i43-xgx-rie"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 316.844125ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/i43-xgx-rie
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID i43-xgx-rie not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 78.01025ms
