---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","name":"dqyjfxecog"},"type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/agent_rules
        method: POST
      response:
        body: '{"data":{"id":"t70-q6o-bct","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1710337917400,"creator":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"name":"dqyjfxecog","updateDate":1710337917400,"updater":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 567.978291ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/agent_rules/t70-q6o-bct
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 476.934209ms
    - id: 2
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/agent_rules/t70-q6o-bct
        method: GET
      response:
        body: |
            {"errors":[{"title":"failed to get rule"}]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 211.728ms
