---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleDryRun-local-1765466740","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"5cec402b-2e36-47ad-b386-0b3f9be30b78","type":"deployment_gate","attributes":{"created_at":"2025-12-11T15:25:42.26656Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleDryRun-local-1765466740","service":"my-service","updated_at":"2025-12-11T15:25:42.26656Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 202.6415ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/5cec402b-2e36-47ad-b386-0b3f9be30b78/rules
        method: POST
      response:
        body: '{"data":{"id":"f3834e09-2ba7-4515-a417-58ec1e1d1d1d","type":"deployment_rule","attributes":{"created_at":"2025-12-11T15:25:42.415631Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"5cec402b-2e36-47ad-b386-0b3f9be30b78","name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-11T15:25:42.415631Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 144.486458ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/5cec402b-2e36-47ad-b386-0b3f9be30b78
        method: GET
      response:
        body: '{"data":{"id":"5cec402b-2e36-47ad-b386-0b3f9be30b78","type":"deployment_gate","attributes":{"created_at":"2025-12-11T15:25:42.26656Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleDryRun-local-1765466740","service":"my-service","updated_at":"2025-12-11T15:25:42.26656Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 212.43575ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/5cec402b-2e36-47ad-b386-0b3f9be30b78/rules
        method: GET
      response:
        body: '{"data":{"id":"5cec402b-2e36-47ad-b386-0b3f9be30b78","type":"list_deployment_rules","attributes":{"rules":[{"id":"f3834e09-2ba7-4515-a417-58ec1e1d1d1d","name":"test_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-11T15:25:42.415631Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-11T15:25:42.415631Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"5cec402b-2e36-47ad-b386-0b3f9be30b78","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 261.603292ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/5cec402b-2e36-47ad-b386-0b3f9be30b78/rules/f3834e09-2ba7-4515-a417-58ec1e1d1d1d
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 130.090375ms
[...]
