---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"exclude_tags_mode":false,"metric_name_matches":["tf.test.order.second.tf.TestAccDatadogTagIndexingRuleOrder_Basic.local.1784666548.*"],"name":"tf-test-order-second-tf-TestAccDatadogTagIndexingRuleOrder_Basic-local-1784666548","tags":[]},"type":"tag_indexing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules
        method: POST
      response:
        body: '{"data":{"id":"269eb50f-b18e-4853-8263-2b4b95c37762","type":"tag_indexing_rules","attributes":{"created_at":"2026-07-21T20:42:31.07304Z","created_by_handle":"eric.fraese@datadoghq.com","exclude_tags_mode":false,"metric_name_matches":["tf.test.order.second.tf.TestAccDatadogTagIndexingRuleOrder_Basic.local.1784666548.*"],"modified_at":"2026-07-21T20:42:31.07304Z","modified_by_handle":"eric.fraese@datadoghq.com","name":"tf-test-order-second-tf-TestAccDatadogTagIndexingRuleOrder_Basic-local-1784666548","options":{"version":1,"data":{"override_previous_rules":false,"manage_preexisting_metrics":true}},"rule_order":1,"tags":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 54.028459ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"rule_ids":["806a2135-d7e5-491c-9c6f-3ef27c163894","269eb50f-b18e-4853-8263-2b4b95c37762"]},"type":"tag_indexing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/order
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 68.070458ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/269eb50f-b18e-4853-8263-2b4b95c37762
        method: GET
      response:
        body: '{"data":{"id":"269eb50f-b18e-4853-8263-2b4b95c37762","type":"tag_indexing_rules","attributes":{"created_at":"2026-07-21T20:42:31.07304Z","created_by_handle":"eric.fraese@datadoghq.com","exclude_tags_mode":false,"metric_name_matches":["tf.test.order.second.tf.TestAccDatadogTagIndexingRuleOrder_Basic.local.1784666548.*"],"modified_at":"2026-07-21T20:42:31.218539Z","modified_by_handle":"eric.fraese@datadoghq.com","name":"tf-test-order-second-tf-TestAccDatadogTagIndexingRuleOrder_Basic-local-1784666548","options":{"version":1,"data":{"override_previous_rules":false,"manage_preexisting_metrics":true}},"rule_order":2,"tags":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 48.836875ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules
        method: GET
      response:
        body: '{"data":[{"id":"806a2135-d7e5-491c-9c6f-3ef27c163894","type":"tag_indexing_rules","attributes":{"created_at":"2026-07-21T20:42:31.128649Z","created_by_handle":"eric.fraese@datadoghq.com","exclude_tags_mode":false,"metric_name_matches":["tf.test.order.first.tf.TestAccDatadogTagIndexingRuleOrder_Basic.local.1784666548.*"],"modified_at":"2026-07-21T20:42:31.218539Z","modified_by_handle":"eric.fraese@datadoghq.com","name":"tf-test-order-first-tf-TestAccDatadogTagIndexingRuleOrder_Basic-local-1784666548","options":{"version":1,"data":{"override_previous_rules":false,"manage_preexisting_metrics":true}},"rule_order":1,"tags":[]}},{"id":"269eb50f-b18e-4853-8263-2b4b95c37762","type":"tag_indexing_rules","attributes":{"created_at":"2026-07-21T20:42:31.07304Z","created_by_handle":"eric.fraese@datadoghq.com","exclude_tags_mode":false,"metric_name_matches":["tf.test.order.second.tf.TestAccDatadogTagIndexingRuleOrder_Basic.local.1784666548.*"],"modified_at":"2026-07-21T20:42:31.218539Z","modified_by_handle":"eric.fraese@datadoghq.com","name":"tf-test-order-second-tf-TestAccDatadogTagIndexingRuleOrder_Basic-local-1784666548","options":{"version":1,"data":{"override_previous_rules":false,"manage_preexisting_metrics":true}},"rule_order":2,"tags":[]}}],"meta":{"total":2},"links":{"self":"https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules","first":"https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules?page%5Blimit%5D=100\u0026page%5Boffset%5D=0","last":"https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules?page%5Blimit%5D=100\u0026page%5Boffset%5D=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 41.707834ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/806a2135-d7e5-491c-9c6f-3ef27c163894
        method: GET
      response:
        body: '{"errors":["Tag indexing rule not found"]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 45.5115ms
[...]
