---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"Test incident type with configuration","is_default":false,"name":"test-it-config-1783448648"},"type":"incident_types"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/incidents/config/types
        method: POST
      response:
        body: '{"data":{"id":"2fdfd3c5-1486-44d1-9cef-942081f64817","type":"incident_types","attributes":{"configuration":{"private_incidents":false,"private_incidents_by_default":false,"allow_workflows":true,"allow_incident_deletion":false,"editable_timestamps":false,"test_incidents":true,"create_message":"","disable_out_of_the_box_postmortem_template":false,"slug_source":"default"},"createdAt":"2026-07-07T18:24:10.779171694Z","createdBy":"3dd3e8fb-8ead-11ef-b937-6257f296175f","description":"Test incident type with configuration","is_default":false,"lastModifiedBy":"3dd3e8fb-8ead-11ef-b937-6257f296175f","modifiedAt":"2026-07-07T18:24:10.779171784Z","name":"test-it-config-1783448648","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3dd3e8fb-8ead-11ef-b937-6257f296175f","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3dd3e8fb-8ead-11ef-b937-6257f296175f","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 308.282583ms
    - id: 1
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"configuration":{"allow_incident_deletion":false,"allow_workflows":true,"create_message":"","disable_out_of_the_box_postmortem_template":false,"editable_timestamps":false,"private_incidents":true,"private_incidents_by_default":false,"slug_source":"servicenow","test_incidents":false}},"id":"2fdfd3c5-1486-44d1-9cef-942081f64817","type":"incident_types"}}
        form: {}
        headers:
   [...]
[...]
    - id: 10
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/incidents/config/types/2fdfd3c5-1486-44d1-9cef-942081f64817
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"incident type doesn''t exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 44.0525ms
