---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["throttle-group-2"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"throttle-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"throttle-global","include":"*","threshold":1000,"type":"throttle","window":60}]},{"enabled":true,"id":"throttle-group-2","include":"*","inputs":["throttle-group-1"],"processors":[{"enabled":true,"group_by":["log.user.id","log.level"],"id":"throttle-grouped","include":"*","threshold":100,"type":"throttle","window":10}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"throttle pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"1e45d620-d5c4-11f0-a3d3-da7ad0900002","type":"pipelines","attributes":{"name":"throttle pipeline","config":{"destinations":[{"id":"destination-1","inputs":["throttle-group-2"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"throttle-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"throttle-global","include":"*","threshold":1000,"type":"throttle","window":60}]},{"enabled":true,"id":"throttle-group-2","include":"*","inputs":["throttle-group-1"],"processors":[{"enabled":true,"group_by":["log.user.id","log.level"],"id":"throttle-grouped","include":"*","threshold":100,"type":"throttle","window":10}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 964.641416ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/1e45d620-d5c4-11f0-a3d3-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"1e45d620-d5c4-11f0-a3d3-da7ad0900002","type":"pipelines","attributes":{"name":"throttle pipeline","config":{"destinations":[{"id":"destination-1","inputs":["throttle-group-2"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"throttle-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"throttle-global","include":"*","threshold":1000,"type":"throttle","window":60}]},{"enabled":true,"id":"throttle-group-2","include":"*","inputs":["throttle-group-1"],"processors":[{"enabled":true,"group_by":["log.user.id","log.level"],"id":"throttle-grouped","include":"*","threshold":100,"type":"throttle","window":10}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 343.998333ms
[...]
