---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_adminToRbac-local-1740494917","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"jk8-8jt-r5r","title":"tf-TestAccDatadogDashboardRbac_adminToRbac-local-1740494917","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/jk8-8jt-r5r/tf-testaccdatadogdashboardrbacadmintorbac-local-1740494917","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":832370349182560}],"notify_list":[],"created_at":"2025-02-25T14:48:40.741742+00:00","modified_at":"2025-02-25T14:48:40.741742+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 566.859917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/jk8-8jt-r5r
        method: GET
      response:
            - chunked
        body: |
            {"id":"jk8-8jt-r5r","title":"tf-TestAccDatadogDashboardRbac_adminToRbac-local-1740494917","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/jk8-8jt-r5r/tf-testaccdatadogdashboardrbacadmintorbac-local-1740494917","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":832370349182560}],"notify_list":[],"created_at":"2025-02-25T14:48:40.741742+00:00","modified_at":"2025-02-25T14:48:40.741742+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.318667ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogDashboardRbac_adminToRbac-local-1740494917"},"relationships":{},"type":"roles"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles
        method: POST
      response:
        body: '{"data":{"id":"9d9b0ff0-f387-11ef-a9cf-da7ad0900002","type":"roles","attributes":{"created_at":"2025-02-25T14:48:46.209205Z","modified_at":"2025-02-25T14:48:46.208652Z","name":"tf-TestAccDatadogDashboardRbac_adminToRbac-local-1740494917","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 139.717208ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles/9d9b0ff0-f387-11ef-a9cf-da7ad0900002
        method: GET
      response:
        body: '{"data":{"id":"9d9b0ff0-f387-11ef-a9cf-da7ad0900002","type":"roles","attributes":{"created_at":"2025-02-25T14:48:46.209205Z","created_by_handle":"frog@datadoghq.com","modified_at":"2025-02-25T14:48:46.208652Z","modified_by_handle":"frog@datadoghq.com","name":"tf-TestAccDatadogDashboardRbac_adminToRbac-local-1740494917","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 131.628334ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"jk8-8jt-r5r","layout_type":"ordered","notify_list":[],"restricted_roles":["9d9b0ff0-f387-11ef-a9cf-da7ad0900002"],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_adminToRbac-local-1740494917","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/jk8-8jt-r5r
        method: PUT
      response:
            - chunked
        body: |
            {"id":"jk8-8jt-r5r","title":"tf-TestAccDatadogDashboardRbac_adminToRbac-local-1740494917","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/jk8-8jt-r5r/tf-testaccdatadogdashboardrbacadmintorbac-local-1740494917","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":8298284489418048}],"notify_list":[],"created_at":"2025-02-25T14:48:40.741742+00:00","modified_at":"2025-02-25T14:48:46.942256+00:00","template_variable_presets":[],"tags":[],"restricted_roles":["9d9b0ff0-f387-11ef-a9cf-da7ad0900002"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 370.075375ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/jk8-8jt-r5r
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"jk8-8jt-r5r"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.392459ms
[...]
