---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test Powerpack","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpack_update-local-1699281874","type":"group","widgets":[{"definition":{"type":"iframe","url":"https://google.com"}}]},"live_span":"1h"},"name":"tf-TestAccDatadogPowerpack_update-local-1699281874","tags":["tag:foo1"],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/powerpacks
    method: POST
  response:
    body: |
      {"data":{"type":"powerpack","id":"019af80a-7cb3-11ee-a028-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpack_update-local-1699281874","description":"Test Powerpack","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpack_update-local-1699281874","type":"group","widgets":[{"definition":{"type":"iframe","url":"https://google.com"},"id":7272451209770546}]},"live_span":"1h"},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/019af80a-7cb3-11ee-a028-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"powerpack","id":"019af80a-7cb3-11ee-a028-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpack_update-local-1699281874","description":"Test Powerpack","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpack_update-local-1699281874","type":"group","widgets":[{"definition":{"type":"iframe","url":"https://google.com"},"id":7272451209770546}]},"live_span":"1h"},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/019af80a-7cb3-11ee-a028-da7ad0900002
    method: GET
  response:
    body: '{"errors":["Powerpack with ID 019af80a-7cb3-11ee-a028-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
