---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/hosts?count=1000&filter=&from=0&include_hosts_metadata=true&include_muted_hosts_data=true
        method: GET
      response:
            - chunked
        body: |
            {"host_list":[{"id":40878981266,"tags_by_source":{"Datadog":["host:i-090a3f76052bd8f1b"]},"aliases":["ip-172-29-196-46.ec2.internal","i-090a3f76052bd8f1b"],"apps":["ntp","integration","agent"],"sources":["agent"],"name":"i-090a3f76052bd8f1b","host_name":"i-090a3f76052bd8f1b","aws_id":"i-090a3f76052bd8f1b","up":true,"last_reported_time":1758618504,"is_muted":false,"mute_timeout":null,"meta":{"timezones":["UTC"],"machine":"amd64","pythonV":"3.12.9","cpuCores":1,"nixV":["ubuntu","24.04",""],"agent_checks":[["ntp","ntp","ntp:3c427a42a70bbf8","OK","",""],["memory","memory","memory","OK","",""],["disk","disk","disk:67cc0574430a16ba","OK","",""],["uptime","uptime","uptime","OK","",""],["telemetry","telemetry","telemetry","OK","",""],["container_lifecycle","container_lifecycle","container_lifecycle","OK","",""],["file_handle","file_handle","file_handle","OK","",""],["container_image","container_image","container_image","OK","",""],["cpu","cpu","cpu","OK","",""],["io","io","io","OK","",""],["load","load","load","OK","",""],["test2","test2","test2:e8139c31c1e5ac68","OK","",""],["network","network","network:4b0649b7e11f0772","OK","",""]],"macV":["","",""],"network":{"network-id":"vpc-d1aac1a8","public-ipv4":"98.84.161.247"},"install_method":{"installer_version":"install_script-1.38.0","tool":"install_script","tool_version":"install_script_agent7"},"gohai":"{\"cpu\":{\"cache_size\":\"46080 KB\",\"cpu_cores\":\"2\",\"cpu_logical_processors\":\"2\",\"family\":\"6\",\"mhz\":\"2299.998\",\"model\":\"79\",\"model_name\":\"Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz\",\"stepping\":\"1\",\"vendor_id\":\"GenuineIntel\"},\"filesystem\":[{\"kb_size\":\"400608\",\"mounted_on\":\"/run/user/1000\",\"name\":\"tmpfs\"},{\"kb_size\":\"49691512\",\"mounted_on\":\"/\",\"name\":\"/dev/root\"},{\"kb_size\":\"2003052\",\"mounted_on\":\"/dev/shm\",\"name\":\"tmpfs\"},{\"kb_size\":\"801224\",\"mounted_on\":\"/run\",\"name\":\"tmpfs\"},{\"kb_size\":\"5120\",\"mounted_on\":\"/run/lock\",\"name\":\"tmpfs\"},{\"kb_size\":\"901520\",\"mounted_on\":\"/boot\",\"name\":\"/dev/xvda16\"},{\"kb_size\":\"106831\",\"mounted_on\":\"/boot/efi\",\"name\":\"/dev/xvda15\"}],\"memory\":{\"swap_total\":\"0kB\",\"total\":\"4102250496\"},\"network\":{\"interfaces\":[{\"ipv4\":[\"172.29.196.46\"],\"ipv4-network\":\"172.29.192.0/20\",\"ipv6\":[\"2600:1f18:5b0:b800:496c:4448:d7df:ab21\",\"fe80::df:17ff:feea:4777\"],\"ipv6-network\":\"fe80::/64\",\"macaddress\":\"02:df:17:ea:47:77\",\"name\":\"enX0\"},{\"ipv4\":[\"172.17.0.1\"],\"ipv4-network\":\"172.17.0.0/16\",\"ipv6\":[],\"macaddress\":\"02:42:7f:ce:08:ad\",\"name\":\"docker0\"},{\"ipv4\":[\"172.18.0.1\"],\"ipv4-network\":\"172.18.0.0/16\",\"ipv6\":[\"fe80::42:1cff:fe70:652a\"],\"ipv6-network\":\"fe80::/64\",\"macaddress\":\"02:42:1c:70:65:2a\",\"name\":\"br-084952f5fce9\"}],\"ipaddress\":\"172.29.196.46\",\"ipaddressv6\":\"2600:1f18:5b0:b800:496c:4448:d7df:ab21\",\"macaddress\":\"02:df:17:ea:47:77\"},\"platform\":{\"GOOARCH\":\"amd64\",\"GOOS\":\"linux\",\"goV\":\"1.23.8\",\"hardware_platform\":\"x86_64\",\"hostname\":\"ip-172-29-196-46\",\"kernel_name\":\"Linux\",\"kernel_release\":\"6.8.0-1014-aws\",\"kernel_version\":\"#15-Ubuntu SMP Thu Aug  8 19:13:06 UTC 2024\",\"machine\":\"x86_64\",\"os\":\"GNU/Linux\",\"processor\":\"x86_64\"}}","logs_agent":{"auto_multi_line_detection_enabled":false,"transport":""},"agent_version":"7.66.1","socket-hostname":"ip-172-29-196-46","processor":"Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz","socket-fqdn":"ip-172-29-196-46.ec2.internal.","agent_flavor":"agent","fbsdV":["","",""],"platform":"linux","winV":["","",""],"host_id":40878981266},"metrics":{"cpu":4.981646,"iowait":0.008843912,"load":0}},{"id":4014307004,"tags_by_source":{"Datadog":["host:host"]},"aliases":["host"],"apps":[],"sources":[],"name":"host","host_name":"host","up":false,"last_reported_time":0,"is_muted":false,"mute_timeout":null,"meta":{},"metrics":{"cpu":null,"iowait":null,"load":null}},{"id":7941089568,"tags_by_source":{"Datadog":["host:dummyhost"]},"aliases":["dummyhost"],"apps":[],"sources":[],"name":"dummyhost","host_name":"dummyhost","up":false,"last_reported_time":1758604933,"is_muted":false,"mute_timeout":[...]
[...]
