---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyMonitorRuleQuery-local-1765532898","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"6a8adbde-fca9-41fa-80a1-d0cbc5245aa4","type":"deployment_gate","attributes":{"created_at":"2025-12-12T09:48:19.340625Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyMonitorRuleQuery-local-1765532898","service":"my-service","updated_at":"2025-12-12T09:48:19.340625Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 132.381ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"monitor_rule","options":{"duration":300,"query":"service:test"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/6a8adbde-fca9-41fa-80a1-d0cbc5245aa4/rules
        method: POST
      response:
        body: '{"data":{"id":"1bbce4b9-2427-46b8-8add-71304c5e6f59","type":"deployment_rule","attributes":{"created_at":"2025-12-12T09:48:19.489458Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"6a8adbde-fca9-41fa-80a1-d0cbc5245aa4","name":"monitor_rule","options":{"query":"service:test","duration":300},"type":"monitor","updated_at":"2025-12-12T09:48:19.489458Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 144.75675ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/6a8adbde-fca9-41fa-80a1-d0cbc5245aa4
        method: GET
      response:
        body: '{"data":{"id":"6a8adbde-fca9-41fa-80a1-d0cbc5245aa4","type":"deployment_gate","attributes":{"created_at":"2025-12-12T09:48:19.340625Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyMonitorRuleQuery-local-1765532898","service":"my-service","updated_at":"2025-12-12T09:48:19.340625Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 138.644209ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/6a8adbde-fca9-41fa-80a1-d0cbc5245aa4/rules
        method: GET
      response:
        body: '{"data":{"id":"6a8adbde-fca9-41fa-80a1-d0cbc5245aa4","type":"list_deployment_rules","attributes":{"rules":[{"id":"1bbce4b9-2427-46b8-8add-71304c5e6f59","name":"monitor_rule","type":"monitor","dry_run":false,"created_at":"2025-12-12T09:48:19.489458Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-12T09:48:19.489458Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"6a8adbde-fca9-41fa-80a1-d0cbc5245aa4","options":{"query":"service:test","duration":300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 136.58525ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"monitor_rule","options":{"duration":600,"query":"service:test-2"}},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/6a8adbde-fca9-41fa-80a1-d0cbc5245aa4/rules/1bbce4b9-2427-46b8-8add-71304c5e6f59
        method: PUT
      response:
        body: '{"data":{"id":"1bbce4b9-2427-46b8-8add-71304c5e6f59","type":"deployment_rule","attributes":{"created_at":"2025-12-12T09:48:19.489458Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"6a8adbde-fca9-41fa-80a1-d0cbc5245aa4","name":"monitor_rule","options":{"query":"service:test-2","duration":600},"type":"monitor","updated_at":"2025-12-12T09:48:21.411309Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 138.694208ms
[...]
