---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1640025693","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"d9e-4uj-z8k","title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1640025693","url":"/dashboard/d9e-4uj-z8k/tf-testaccdatadogdashboardrbaccreateadmin-local-1640025693","created_at":"2021-12-20T18:41:37.796071+00:00","modified_at":"2021-12-20T18:41:37.796071+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":8233930228192095}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/d9e-4uj-z8k
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"d9e-4uj-z8k","title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1640025693","url":"/dashboard/d9e-4uj-z8k/tf-testaccdatadogdashboardrbaccreateadmin-local-1640025693","created_at":"2021-12-20T18:41:37.796071+00:00","modified_at":"2021-12-20T18:41:37.796071+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":8233930228192095}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/d9e-4uj-z8k
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"d9e-4uj-z8k"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
