---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"type":"cloud_provider","id":"aws","attributes":{"aws":{"aws_account_id":"123456789012","destination_bucket_name":"test-inventory-bucket","destination_bucket_region":"us-east-1","destination_prefix":"inventory/"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/cloudinventoryservice/syncconfigs
        method: PUT
      response:
        body: '{"data":{"id":"0ee6710b-0e8a-4980-affc-4991531c91ad","type":"sync_configs"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 114.386209ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/cloudinventoryservice/syncconfigs/0ee6710b-0e8a-4980-affc-4991531c91ad
        method: GET
      response:
        body: '{"data":{"id":"0ee6710b-0e8a-4980-affc-4991531c91ad","type":"sync_configs","attributes":{"aws_account_id":"123456789012","aws_bucket_name":"test-inventory-bucket","aws_region":"us-east-1","cloud_provider":"aws","error":"SUCCESS","prefix":"inventory/"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 105.799458ms
[...]
    - id: 4
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/cloudinventoryservice/syncconfigs/0ee6710b-0e8a-4980-affc-4991531c91ad
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"sync config with ID 0ee6710b-0e8a-4980-affc-4991531c91ad not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 147.968834ms
