---
version: 1
interactions:
- request:
    body: '{"services":[{"service_name":"tf_TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects_local_1615213471_bar","service_key":"*****"},{"service_name":"tf_TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects_local_1615213471_foo","service_key":"*****"}],"subdomain":"ddog","schedules":["https://ddog.pagerduty.com/schedules/X123VF","https://ddog.pagerduty.com/schedules/X321XX"],"api_token":"secret"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4051246"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services/tf_TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects_local_1615213471_bar
    method: DELETE
  response:
    body: "null"
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      X-Dd-Version:
      - "35.4051246"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services/tf_TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects_local_1615213471_foo
    method: DELETE
  response:
    body: "null"
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4051246"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"service_key":"54321098765432109876","service_name":"tf_TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects_local_1615213471_bar"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreatePagerDutyIntegrationService
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services
    method: POST
  response:
    body: '{"service_name":"tf_TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects_local_1615213471_bar"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4051246"
    status: 201 Created
    code: 201
    duration: ""
[...]
