---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"name":"tf-TestAccDatadogNotificationRuleFull-local-1739193805signal","selectors":{"query":"simple:query","rule_types":["attack_path","misconfiguration"],"severities":["critical"],"trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0},"type":"notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules
        method: POST
      response:
        body: '{"data":{"id":"xki-c8s-2sq","type":"notification_rules","attributes":{"created_at":1739193807978,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1739193807978,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleFull-local-1739193805signal","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"simple:query","trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 144.852792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"name":"tf-TestAccDatadogNotificationRuleFull-local-1739193805vulnerability","selectors":{"query":"simple:query","rule_types":["misconfiguration"],"severities":["critical"],"trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600},"type":"notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules
        method: POST
      response:
        body: '{"data":{"id":"dr5-j39-jad","type":"notification_rules","attributes":{"created_at":1739193808316,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1739193808316,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleFull-local-1739193805vulnerability","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 337.304042ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/xki-c8s-2sq
        method: GET
      response:
        body: '{"data":{"id":"xki-c8s-2sq","type":"notification_rules","attributes":{"created_at":1739193807978,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1739193807978,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleFull-local-1739193805signal","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"simple:query","trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 142.850709ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/dr5-j39-jad
        method: GET
      response:
        body: '{"data":{"id":"dr5-j39-jad","type":"notification_rules","attributes":{"created_at":1739193808316,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1739193808316,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleFull-local-1739193805vulnerability","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 169.061458ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/xki-c8s-2sq
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''xki-c8s-2sq'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 143.60575ms
    - id: 17
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/xki-c8s-2sq
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''xki-c8s-2sq'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 136.74575ms
    - id: 18
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/dr5-j39-jad
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''dr5-j39-jad'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 144.998708ms
[...]
