---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_sts_delegate","attributes":{"delegate_account_email":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"},"id":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.308583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":true,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1730998405@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[]},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"metric_namespace_configs":[],"is_cspm_enabled":false,"automute":true,"cloud_run_revision_filters":[],"account_tags":[],"is_security_command_center_enabled":false,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1730998405@test-project.iam.gserviceaccount.com","resource_collection_enabled":true,"host_filters":[],"is_resource_change_collection_enabled":false},"id":"88296fa1-0368-4c55-9067-57a6a3a48d38"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 459.465125ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"gcp_service_account","attributes":{"resource_collection_enabled":true,"host_filters":[],"cloud_run_revision_filters":[],"metric_namespace_configs":[],"is_security_command_center_enabled":false,"automute":true,"account_tags":["team:gray"],"is_resource_change_collection_enabled":false,"client_email":"graytest@datadog-gcp-ints-test-b.iam.gserviceaccount.com","is_cspm_enabled":false},"id":"0f2b1be3-6c1a-4570-8e97-db356fcc37a7","meta":{"accessible_projects":["datadog-gcp-ints-test-b","datadog-gcp-ints-test-c"]}},{"type":"gcp_service_account","attributes":{"resource_collection_enabled":true,"host_filters":[],"cloud_run_revision_filters":[],"metric_namespace_configs":[],"is_security_command_center_enabled":false,"automute":false,"account_tags":[],"is_resource_change_collection_enabled":false,"client_email":"ui@google.com","is_cspm_enabled":false},"id":"8f12ca8e-5b6e-4904-8853-4b49ee096fbe","meta":{"accessible_projects":[]}},{"type":"gcp_service_account","attributes":{"resource_collection_enabled":false,"host_filters":[],"cloud_run_revision_filters":[],"metric_namespace_configs":[],"is_security_command_center_enabled":false,"automute":false,"account_tags":[],"is_resource_change_collection_enabled":false,"client_email":"bozo@google.com","is_cspm_enabled":false},"id":"e06c6a63-983c-4858-9d43-c4f560c132d9","meta":{"accessible_projects":[]}},{"type":"gcp_service_account","attributes":{"resource_collection_enabled":false,"host_filters":["tag:one","tag:two"],"cloud_run_revision_filters":["tag:one","tag:two"],"metric_namespace_configs":[{"id":"aiplatform","disabled":true}],"is_security_command_center_enabled":false,"automute":false,"account_tags":["a:tag","and:another","another:one"],"is_resource_change_collection_enabled":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1730997425@test-project.iam.gserviceaccount.com","is_cspm_enabled":false},"id":"6d94b1a1-3ae8-4980-841d-7e5db743debc","meta":{"accessible_projects":[]}},{"type":"gcp_service_account","attributes":{"resource_collection_enabled":false,"host_filters":["tag:one","tag:two"],"cloud_ru[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/88296fa1-0368-4c55-9067-57a6a3a48d38
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 91.442709ms
