---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"archive_ids":[]},"type":"archive_order"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/archive-order
        method: PUT
      response:
            - chunked
        body: |
            {"errors":["Missing order for archive BKmiim5bQXC9RDfsaq9bjQ"]}
        headers:
            Content-Type:
                - application/json
        status: 422 Unprocessable Entity
        code: 422
        duration: 140.062375ms
[...]
