---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740561202","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"wk7-sgd-q7y","title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740561202","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/wk7-sgd-q7y/tf-testaccdatadogdashboardrbacupdatetoopen-local-1740561202","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":5521447246072775}],"notify_list":[],"created_at":"2025-02-26T09:13:26.275458+00:00","modified_at":"2025-02-26T09:13:26.275458+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 623.253792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/wk7-sgd-q7y
        method: GET
      response:
            - chunked
        body: |
            {"id":"wk7-sgd-q7y","title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740561202","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/wk7-sgd-q7y/tf-testaccdatadogdashboardrbacupdatetoopen-local-1740561202","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":5521447246072775}],"notify_list":[],"created_at":"2025-02-26T09:13:26.275458+00:00","modified_at":"2025-02-26T09:13:26.275458+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.746083ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740561202"},"relationships":{},"type":"roles"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles
        method: POST
      response:
        body: '{"data":{"id":"f6288054-f421-11ef-ae18-da7ad0900002","type":"roles","attributes":{"created_at":"2025-02-26T09:13:37.27126Z","modified_at":"2025-02-26T09:13:37.271871Z","name":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740561202","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 121.60125ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles/f6288054-f421-11ef-ae18-da7ad0900002
        method: GET
      response:
        body: '{"data":{"id":"f6288054-f421-11ef-ae18-da7ad0900002","type":"roles","attributes":{"created_at":"2025-02-26T09:13:37.27126Z","created_by_handle":"frog@datadoghq.com","modified_at":"2025-02-26T09:13:37.271871Z","modified_by_handle":"frog@datadoghq.com","name":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740561202","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 122.456667ms
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"wk7-sgd-q7y","layout_type":"ordered","notify_list":[],"restricted_roles":["f6288054-f421-11ef-ae18-da7ad0900002"],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740561202","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/wk7-sgd-q7y
        method: PUT
      response:
            - chunked
        body: |
            {"id":"wk7-sgd-q7y","title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740561202","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/wk7-sgd-q7y/tf-testaccdatadogdashboardrbacupdatetoopen-local-1740561202","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":131736869096210}],"notify_list":[],"created_at":"2025-02-26T09:13:26.275458+00:00","modified_at":"2025-02-26T09:13:37.996654+00:00","template_variable_presets":[],"tags":[],"restricted_roles":["f6288054-f421-11ef-ae18-da7ad0900002"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 322.842291ms
[...]
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/wk7-sgd-q7y
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"wk7-sgd-q7y"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 429.977416ms
