---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"action"},"id":"\"tf_TestAccRumMetricAttributes_local_1731083681\"","type":"rum_metrics"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/rum/config/metrics
        method: POST
      response:
        body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1731083681","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count","include_percentiles":null,"path":""},"event_type":"action","group_by":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 760.036ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/rum/config/metrics/tf_TestAccRumMetricAttributes_local_1731083681
        method: GET
      response:
        body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1731083681","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count","include_percentiles":null,"path":""},"event_type":"action","group_by":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 109.609959ms
[...]
    - id: 3
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"action"},"id":"\"tf_TestAccRumMetricAttributes_local_1731083681\"","type":"rum_metrics"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/rum/config/metrics
        method: POST
      response:
        body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1731083681","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"action","group_by":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.01709575s
[...]
    - id: 6
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","filter":{"query":"@service:web-ui"}},"id":"\"tf_TestAccRumMetricAttributes_local_1731083681\"","type":"rum_metrics"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/rum/config/metrics
        method: POST
      response:
        body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1731083681","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count","include_percentiles":null,"path":""},"event_type":"action","filter":{"query":"@service:web-ui"},"group_by":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 853.209917ms
[...]
    - id: 9
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","group_by":[{"path":"@os","tag_name":"os"},{"path":"@service","tag_name":"service"}]},"id":"\"tf_TestAccRumMetricAttributes_local_1731083681\"","type":"rum_metrics"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/rum/config/metrics
        method: POST
      response:
        body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1731083681","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count","include_percentiles":null,"path":""},"event_type":"action","group_by":[{"path":"@os","tag_name":"os"},{"path":"@service","tag_name":"service"}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 965.583375ms
[...]
