---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetIPRanges
    url: https://ip-ranges.datadoghq.com/
    method: GET
  response:
    body: |
      {
          "version": 36,
          "modified": "2020-12-24-15-00-00",
          "agents": {
              "prefixes_ipv4": [
                  "107.21.15.22/32",
                  "107.21.18.19/32",
                  "107.23.209.202/32",
                  "107.23.59.124/32",
                  "184.72.98.113/32",
                  "23.20.237.209/32",
                  "23.20.34.99/32",
                  "23.21.6.126/32",
                  "3.228.26.0/25",
                  "3.228.26.128/25",
                  "3.228.27.0/25",
                  "3.233.144.0/20",
                  "34.192.143.1/32",
                  [...]
[...]
