---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplicationDatasourceErrorMultiple-local-1756173087","type":"android"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"created_by_handle":"frog@datadoghq.com","org_id":321813,"name":"tf-TestAccDatadogRUMApplicationDatasourceErrorMultiple-local-1756173087","product_analytics_replay_sample_rate":100,"created_at":1756173088817,"updated_by_handle":"frog@datadoghq.com","updated_at":1756173088817,"type":"android","tags":[],"client_token":"pub30628c9d85487436f1a796cd92a76596","product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1756173088817},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1756173088817}},"application_id":"83bfe81d-eabe-4f7f-a0a4-d8697953ccc8","hash":"pub30628c9d85487436f1a796cd92a76596","is_active":false},"id":"83bfe81d-eabe-4f7f-a0a4-d8697953ccc8"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.25651s
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/ee8c7ce4-0519-45a5-8906-6f7bbc5580c2
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 245.790875ms
[...]
