---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["pubsub-source-1"],"type":"datadog_logs"}],"sources":[{"auth":{"credentials_file":"/secrets/creds.json"},"decoding":"json","id":"pubsub-source-1","project":"my-gcp-project","subscription":"logs-subscription","tls":{"crt_file":"/certs/pubsub.crt"},"type":"google_pubsub"}]},"name":"pubsub pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"0b809792-db59-11f0-a54c-da7ad0900002","type":"pipelines","attributes":{"name":"pubsub pipeline","config":{"destinations":[{"id":"destination-1","inputs":["pubsub-source-1"],"type":"datadog_logs"}],"processors":[],"sources":[{"auth":{"credentials_file":"/secrets/creds.json"},"decoding":"json","id":"pubsub-source-1","project":"my-gcp-project","subscription":"logs-subscription","tls":{"crt_file":"/certs/pubsub.crt"},"type":"google_pubsub"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 376.285792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/0b809792-db59-11f0-a54c-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"0b809792-db59-11f0-a54c-da7ad0900002","type":"pipelines","attributes":{"name":"pubsub pipeline","config":{"destinations":[{"id":"destination-1","inputs":["pubsub-source-1"],"type":"datadog_logs"}],"processors":[],"sources":[{"auth":{"credentials_file":"/secrets/creds.json"},"decoding":"json","id":"pubsub-source-1","project":"my-gcp-project","subscription":"logs-subscription","tls":{"crt_file":"/certs/pubsub.crt"},"type":"google_pubsub"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 245.050333ms
[...]
