---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTreemap_import-local-1767989565","widgets":[{"definition":{"color_by":"user","requests":[{"formulas":[{"alias":"my ff query","formula":"my_query_1 + my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo:bar} by {env}"}],"response_format":"scalar"}],"type":"treemap"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"q68-ix3-wqx","title":"tf-TestAccDatadogDashboardTreemap_import-local-1767989565","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/q68-ix3-wqx/tf-testaccdatadogdashboardtreemapimport-local-1767989565","template_variables":[],"widgets":[{"definition":{"color_by":"user","requests":[{"formulas":[{"alias":"my ff query","formula":"my_query_1 + my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo:bar} by {env}"}],"response_format":"scalar"}],"type":"treemap"},"id":2349295488072812}],"notify_list":[],"created_at":"2026-01-09T20:12:46.777593+00:00","modified_at":"2026-01-09T20:12:46.777593+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 182.171834ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/q68-ix3-wqx
        method: GET
      response:
            - chunked
        body: '{"id":"q68-ix3-wqx","title":"tf-TestAccDatadogDashboardTreemap_import-local-1767989565","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/q68-ix3-wqx/tf-testaccdatadogdashboardtreemapimport-local-1767989565","template_variables":[],"widgets":[{"definition":{"color_by":"user","requests":[{"formulas":[{"alias":"my ff query","formula":"my_query_1 + my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo:bar} by {env}"}],"response_format":"scalar"}],"type":"treemap"},"id":2349295488072812}],"notify_list":[],"created_at":"2026-01-09T20:12:46.777593+00:00","modified_at":"2026-01-09T20:12:46.777593+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.737125ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/q68-ix3-wqx
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"q68-ix3-wqx"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 361.879417ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/q68-ix3-wqx
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID q68-ix3-wqx not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 95.112875ms
