---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1767989359","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"39i-j9f-i9m","title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1767989359","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/39i-j9f-i9m/tf-testaccdatadogdashboardrbaccreateadmin-local-1767989359","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":4485881373989394}],"notify_list":[],"created_at":"2026-01-09T20:09:21.138985+00:00","modified_at":"2026-01-09T20:09:21.138985+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.430333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/39i-j9f-i9m
        method: GET
      response:
            - chunked
        body: '{"id":"39i-j9f-i9m","title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1767989359","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/39i-j9f-i9m/tf-testaccdatadogdashboardrbaccreateadmin-local-1767989359","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":4485881373989394}],"notify_list":[],"created_at":"2026-01-09T20:09:21.138985+00:00","modified_at":"2026-01-09T20:09:21.138985+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.935792ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/39i-j9f-i9m
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"39i-j9f-i9m"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.391375ms
