---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"reflow_type":"auto","tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRunWorkflow-local-1682003517","widgets":[{"definition":{"inputs":[{"name":"env","value":"$Env.value"},{"name":"Foo","value":"$Env"}],"title":"My workflow widget","title_align":"left","title_size":"13","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"kpt-58b-rzs","title":"tf-TestAccDatadogDashboardRunWorkflow-local-1682003517","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/kpt-58b-rzs/tf-testaccdatadogdashboardrunworkflow-local-1682003517","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"inputs":[{"name":"env","value":"$Env.value"},{"name":"Foo","value":"$Env"}],"title":"My workflow widget","title_align":"left","title_size":"13","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"},"id":7749170971879414}],"notify_list":[],"created_at":"2023-04-20T15:11:59.141360+00:00","modified_at":"2023-04-20T15:11:59.141360+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/kpt-58b-rzs
    method: GET
  response:
    body: |
      {"id":"kpt-58b-rzs","title":"tf-TestAccDatadogDashboardRunWorkflow-local-1682003517","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/kpt-58b-rzs/tf-testaccdatadogdashboardrunworkflow-local-1682003517","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"inputs":[{"name":"env","value":"$Env.value"},{"name":"Foo","value":"$Env"}],"title":"My workflow widget","title_align":"left","title_size":"13","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"},"id":7749170971879414}],"notify_list":[],"created_at":"2023-04-20T15:11:59.141360+00:00","modified_at":"2023-04-20T15:11:59.141360+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/kpt-58b-rzs
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"kpt-58b-rzs"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/kpt-58b-rzs
    method: GET
  response:
    body: '{"errors":["Dashboard with ID kpt-58b-rzs not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
