---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 109.174209ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"first-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:first"},"reference_table":null}]},"id":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesets_Import-local-1759759720","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"a49b8547-5b2d-477f-8478-7ed6978c1287","type":"ruleset","attributes":{"created":{"seconds":1759759721,"nanos":356479000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759759721,"nanos":356479000},"name":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesets_Import-local-1759759720","position":1,"rules":[{"name":"first-rule","enabled":true,"query":{"query":"service:first","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3610342}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 108.673042ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[{"id":"a49b8547-5b2d-477f-8478-7ed6978c1287","type":"ruleset","attributes":{"created":{"seconds":1759759721,"nanos":356479000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759759721,"nanos":356479000},"name":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesets_Import-local-1759759720","position":1,"processing_status":"error","rules":[{"name":"first-rule","enabled":true,"query":{"query":"service:first","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3610342}},{"id":"6939d41e-6697-457b-91b3-d4ba997d8aa5","type":"ruleset","attributes":{"created":{"seconds":1759759721,"nanos":356188000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759759721,"nanos":[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"a49b8547-5b2d-477f-8478-7ed6978c1287","type":"ruleset"},{"id":"d199fd82-0a43-4b50-b2cc-b33fcfd43fc3","type":"ruleset"},{"id":"6939d41e-6697-457b-91b3-d4ba997d8aa5","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 52.627459ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/d199fd82-0a43-4b50-b2cc-b33fcfd43fc3
        method: GET
      response:
        body: '{"data":{"id":"d199fd82-0a43-4b50-b2cc-b33fcfd43fc3","type":"ruleset","attributes":{"created":{"seconds":1759759721,"nanos":369800000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759759721,"nanos":369800000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Import-local-1759759720","position":2,"processing_status":"error","rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3610344}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 116.701709ms
[...]
