---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a policy","enabled":true,"hostTags":["host_name:test_host"],"name":"dxnfjxgrbm"},"type":"policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
        method: POST
      response:
        body: '{"data":{"id":"ae9-ca1-p8y","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":1,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":225,"name":"dxnfjxgrbm","policyVersion":"1","priority":1000000011,"ruleCount":226,"updateDate":1747903418032,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 755.874917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","name":"dxnfjxgrbm","policy_id":"ae9-ca1-p8y","product_tags":["compliance_framework:PCI-DSS"]},"type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
        method: POST
      response:
        body: '{"data":{"id":"hop-hlk-ktz","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1747903418500,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["ae9-ca1-p8y"],"name":"dxnfjxgrbm","product_tags":["compliance_framework:PCI-DSS"],"updateDate":1747903418500,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 690.576833ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/hop-hlk-ktz?policy_id=ae9-ca1-p8y
        method: GET
      response:
        body: '{"data":{"id":"hop-hlk-ktz","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1747903418500,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["ae9-ca1-p8y"],"name":"dxnfjxgrbm","product_tags":["compliance_framework:PCI-DSS"],"updateDate":1747903418500,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 292.9505ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/ae9-ca1-p8y
        method: GET
      response:
        body: '{"data":{"id":"ae9-ca1-p8y","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":1,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":226,"name":"dxnfjxgrbm","policyVersion":"2","priority":1000000011,"ruleCount":227,"updateDate":1747903418500,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 580.064041ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules?policy_id=ae9-ca1-p8y
        method: GET
      response:
            - chunked
        body: '{"data":[{"id":"def-000-vjv","type":"agent_rule","attributes":{"category":"Process Activity","creationDate":1742407951000,"creator":{"name":"Datadog","handle":""},"defaultRule":true,"description":"Command execu[...]
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/hop-hlk-ktz?policy_id=ae9-ca1-p8y
        method: GET
      response:
        body: |
            {"errors":[{"title":"failed to get rule"}]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 293.933542ms
