---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"reflow_type":"auto","template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRunWorkflow-local-1676490105","widgets":[{"definition":{"inputs":[{"name":"env","value":"$Env.value"},{"name":"Foo","value":"$Env"}],"title":"My workflow widget","title_align":"left","title_size":"13","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"uij-qcm-847","title":"tf-TestAccDatadogDashboardRunWorkflow-local-1676490105","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/uij-qcm-847/tf-testaccdatadogdashboardrunworkflow-local-1676490105","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"inputs":[{"name":"env","value":"$Env.value"},{"name":"Foo","value":"$Env"}],"title":"My workflow widget","title_align":"left","title_size":"13","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"},"id":8466886100871260}],"notify_list":[],"created_at":"2023-02-15T19:41:47.096321+00:00","modified_at":"2023-02-15T19:41:47.096321+00:00","template_variable_presets":[],"reflow_type":"auto"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/uij-qcm-847
    method: GET
  response:
    body: |
      {"id":"uij-qcm-847","title":"tf-TestAccDatadogDashboardRunWorkflow-local-1676490105","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/uij-qcm-847/tf-testaccdatadogdashboardrunworkflow-local-1676490105","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"inputs":[{"name":"env","value":"$Env.value"},{"name":"Foo","value":"$Env"}],"title":"My workflow widget","title_align":"left","title_size":"13","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"},"id":8466886100871260}],"notify_list":[],"created_at":"2023-02-15T19:41:47.096321+00:00","modified_at":"2023-02-15T19:41:47.096321+00:00","template_variable_presets":[],"reflow_type":"auto"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/uij-qcm-847
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"uij-qcm-847"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/uij-qcm-847
    method: GET
  response:
    body: '{"errors":["Dashboard with ID uij-qcm-847 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
