---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"end":4097160000,"message":"tf-TestAccDatadogDowntimeDates-local-1758619285","monitor_tags":["*"],"recurrence":{"period":1,"type":"days"},"scope":["*"],"start":4097124660,"timezone":"UTC"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/downtime
        method: POST
      response:
            - chunked
        body: |
            {"id":5746496591,"monitor_id":null,"org_id":321813,"start":4097124660,"end":4097160000,"canceled":null,"created":1758619286,"modified":1758619286,"message":"tf-TestAccDatadogDowntimeDates-local-1758619285","active":false,"disabled":false,"recurrence":{"type":"days","period":1,"week_days":null,"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":0,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"acdb136b-27d5-4645-af07-86b55cd4dc6a","scope":["*"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.798542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/downtime/5746496591
        method: GET
      response:
            - chunked
        body: |
            {"id":5746496591,"monitor_id":null,"org_id":321813,"start":4097124660,"end":4097160000,"canceled":null,"created":1758619286,"modified":1758619286,"message":"tf-TestAccDatadogDowntimeDates-local-1758619285","active":false,"disabled":false,"recurrence":{"type":"days","period":1,"week_days":null,"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":0,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"acdb136b-27d5-4645-af07-86b55cd4dc6a","scope":["*"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.3175ms
[...]
