version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"reflow_type":"auto","tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRunWorkflow_import-local-1682003513","widgets":[{"definition":{"inputs":[{"name":"env","value":"$Env.value"},{"name":"Foo","value":"$Env"}],"title":"My workflow widget","title_align":"left","title_size":"13","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"vtu-mjp-sfq","title":"tf-TestAccDatadogDashboardRunWorkflow_import-local-1682003513","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/vtu-mjp-sfq/tf-testaccdatadogdashboardrunworkflowimport-local-1682003513","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"inputs":[{"name":"env","value":"$Env.value"},{"name":"Foo","value":"$Env"}],"title":"My workflow widget","title_align":"left","title_size":"13","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"},"id":7771643414946276}],"notify_list":[],"created_at":"2023-04-20T15:11:55.259462+00:00","modified_at":"2023-04-20T15:11:55.259462+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/vtu-mjp-sfq
    method: GET
    id: 1
  response:
    body: |
      {"id":"vtu-mjp-sfq","title":"tf-TestAccDatadogDashboardRunWorkflow_import-local-1682003513","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/vtu-mjp-sfq/tf-testaccdatadogdashboardrunworkflowimport-local-1682003513","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"inputs":[{"name":"env","value":"$Env.value"},{"name":"Foo","value":"$Env"}],"title":"My workflow widget","title_align":"left","title_size":"13","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"},"id":7771643414946276}],"notify_list":[],"created_at":"2023-04-20T15:11:55.259462+00:00","modified_at":"2023-04-20T15:11:55.259462+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/vtu-mjp-sfq
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"vtu-mjp-sfq"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/vtu-mjp-sfq
    method: GET
    id: 5
  response:
    body: '{"errors":["Dashboard with ID vtu-mjp-sfq not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
