---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"action":{"reason":"risk_accepted"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder-local-1782141995-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}},"type":"mute_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/mute_rules
        method: POST
      response:
        body: '{"data":{"id":"1f7936a2-ced8-4b07-8fa9-1139b81d2b79","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1782141998600,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782141998600,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder-local-1782141995-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 427.376291ms
[...]
    - id: 2
      request:
        host: api.datad0g.com
        body: |
            {"data":[{"id":"1f7936a2-ced8-4b07-8fa9-1139b81d2b79","type":"mute_rules"},{"id":"4019bdf1-2e68-4046-96df-a335cbe733b6","type":"mute_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/mute_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"mute_rules","id":"1f7936a2-ced8-4b07-8fa9-1139b81d2b79"},{"type":"mute_rules","id":"4019bdf1-2e68-4046-96df-a335cbe733b6"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 414.213459ms
    - id: 3
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/mute_rules/1f7936a2-ced8-4b07-8fa9-1139b81d2b79
        method: GET
      response:
        body: '{"data":{"id":"1f7936a2-ced8-4b07-8fa9-1139b81d2b79","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1782141998600,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782141998600,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder-local-1782141995-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 130.649583ms
[...]
    - id: 7
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/mute_rules
        method: GET
      response:
        body: '{"data":[{"id":"1f7936a2-ced8-4b07-8fa9-1139b81d2b79","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1782141998600,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782141998600,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder-local-1782141995-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}},{"id":"4019bdf1-2e68-4046-96df-a335cbe733b6","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1782141998605,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782141998605,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRulesOrder-local-1782141995-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}],"meta":{"page":{"total_filtered_count":2}},"links":{"first":"/api/v2/security/findings/automation/mute_rules?page[size]=1000\u0026page[number]=0","last":"/api/v2/security/findings/automation/mute_rules?page[size]=1000\u0026page[number]=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 127.195708ms
[...]
    - id: 39
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/mute_rules/1f7936a2-ced8-4b07-8fa9-1139b81d2b79
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 143.304375ms
[...]
