---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
        body: '{"data":{"id":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com","type":"gcp_sts_delegate","attributes":{"delegate_account_email":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 106.798208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":["a:tag","and:another","another:one"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1746141504@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":["tag:one","tag:two"],"host_filters":["tag:one","tag:two"],"is_cspm_enabled":false,"is_per_project_quota_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[{"disabled":true,"id":"aiplatform"}],"resource_collection_enabled":false},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: POST
      response:
        body: '{"data":{"id":"8a510671-d2a2-4a09-8589-6c41f96b0203","type":"gcp_service_account","attributes":{"account_tags":["a:tag","and:another","another:one"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1746141504@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":["tag:one","tag:two"],"host_filters":["tag:one","tag:two"],"is_bq_datasets_monitoring_enabled":false,"is_bq_jobs_monitoring_enabled":false,"is_cspm_enabled":false,"is_per_project_quota_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[{"id":"aiplatform","disabled":true}],"resource_collection_enabled":false}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 55.628292ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: GET
      response:
        body: '{"data":[{"id":"0f2b1be3-6c1a-4570-8e97-db356fcc37a7","type":"gcp_service_account","attributes":{"account_tags":["team:gray"],"automute":true,"client_email":"graytest@datadog-gcp-ints-test-b.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_bq_datasets_monitoring_enabled":false,"is_bq_jobs_monitoring_enabled":false,"is_cspm_enabled":false,"is_per_project_quota_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[],"resource_collection_enabled":true},"meta":{"accessible_projects":["datadog-gcp-ints-test-b","datadog-gcp-ints-test-c","datadog-gcp-ints-test-d","mario-test-proj"]}},{"id":"8f12ca8e-5b6e-4904-8853-4b49ee096fbe","type":"gcp_service_account","attributes":{"account_tags":[],"automute":false,"client_email":"ui@google.com","cloud_run_revision_filters":[],"host_filters":[],"is_bq_datasets_monitoring_enabled":false,"is_bq_jobs_monitoring_enabled":false,"is_cspm_enabled":false,"is_per_project_quota_enabled":false,"is_resource_change_collection_enabled":false,"is_secur[...]
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":true,"cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":true,"is_per_project_quota_enabled":true,"is_resource_change_collection_enabled":true,"is_security_command_center_enabled":true,"metric_namespace_configs":[],"resource_collection_enabled":true},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/8a510671-d2a2-4a09-8589-6c41f96b0203
        method: PATCH
      response:
        body: '{"data":{"id":"8a510671-d2a2-4a09-8589-6c41f96b0203","type":"gcp_service_account","attributes":{"account_tags":[],"automute":true,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1746141504@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_bq_datasets_monitoring_enabled":false,"is_bq_jobs_monitoring_enabled":false,"is_cspm_enabled":true,"is_per_project_quota_enabled":true,"is_resource_change_collection_enabled":true,"is_security_command_center_enabled":true,"metric_namespace_configs":[],"resource_collection_enabled":true}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.109410375s
[...]
