---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":1,"type":"grpcHealthcheckStatus"}],"configVariables":[],"request":{"host":"google.com","method":"GET","port":50050,"service":"Hello","timeout":60}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1678714341","options":{"min_location_failed":1,"tick_every":60},"status":"paused","subtype":"grpc","tags":["foo:bar","baz"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: |
      {"public_id":"wjb-4s2-7j2","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1678714341","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2023-03-13T13:32:23.114003+00:00","modified_at":"2023-03-13T13:32:23.114003+00:00","config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":1,"type":"grpcHealthcheckStatus"}],"configVariables":[],"request":{"host":"google.com","method":"GET","port":50050,"service":"Hello","timeout":60}},"message":"Notify @datadog.user","options":{"min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"subtype":"grpc","deleted_at":null,"monitor_id":113456131,"org_id":569509}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api/wjb-4s2-7j2
    method: GET
  response:
    body: |
      {"public_id":"wjb-4s2-7j2","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1678714341","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2023-03-13T13:32:23.114003+00:00","modified_at":"2023-03-13T13:32:23.114003+00:00","config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":1,"type":"grpcHealthcheckStatus"}],"configVariables":[],"request":{"host":"google.com","method":"GET","port":50050,"service":"Hello","timeout":60}},"message":"Notify @datadog.user","options":{"min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"subtype":"grpc","monitor_id":113456131,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/wjb-4s2-7j2
    method: GET
  response:
    body: |
      {"public_id":"wjb-4s2-7j2","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1678714341","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2023-03-13T13:32:23.114003+00:00","modified_at":"2023-03-13T13:32:23.114003+00:00","config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":1,"type":"grpcHealthcheckStatus"}],"configVariables":[],"request":{"host":"google.com","method":"GET","port":50050,"service":"Hello","timeout":60}},"message":"Notify @datadog.user","options":{"min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"subtype":"grpc","monitor_id":113456131,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"public_ids":["wjb-4s2-7j2"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: |
      {"deleted_tests":[{"public_id":"wjb-4s2-7j2","deleted_at":"2023-03-13T13:32:27.108298+00:00"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/wjb-4s2-7j2
    method: GET
  response:
    body: '{"errors":["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
