---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccountsmultipleuserswitherror-local-1768840994@example.com","name":"tf-service-account-tf-testaccdatadoguserdatasource","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"f3fde0a4-f555-11f0-a2d1-9283be2b6b23","attributes":{"name":"tf-service-account-tf-testaccdatadoguserdatasource","handle":"f3fde0a4-f555-11f0-a2d1-9283be2b6b23","created_at":"2026-01-19T16:43:16.301286+00:00","modified_at":"2026-01-19T16:43:16.301286+00:00","email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccountsmultipleuserswitherror-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/d0d45abf2bbef1d4e4c2229872d5df88?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 486.749042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccountsmultipleuserswitherror-local-1768840994@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"d046270a-5c27-499a-930a-726cc1d942aa","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccountsmultipleuserswitherror-local-1768840994@example.com","created_at":"2026-01-19T16:43:16.725423+00:00","modified_at":"2026-01-19T16:43:16.725423+00:00","email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccountsmultipleuserswitherror-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/d0d45abf2bbef1d4e4c2229872d5df88?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 855.507ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/659b0081-b3dc-4050-a6eb-f7e175a6a98d
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"659b0081-b3dc-4050-a6eb-f7e175a6a98d","attributes":{"name":null,"handle":"othertf-testaccdatadoguserdatasourcewithexcludeserviceaccountsmultipleuserswitherror-local-1768840994@example.com","created_at":"2026-01-19T16:43:16.846917+00:00","modified_at":"2026-01-19T16:43:16.846917+00:00","email":"othertf-testaccdatadoguserdatasourcewithexcludeserviceaccountsmultipleuserswitherror-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/c1d2dc67f64e103549054f2819cff8e7?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.91525ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguserdatasourcewithexcludeserviceaccountsmultipleuserswitherror-local-1768840994%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"659b0081-b3dc-4050-a6eb-f7e175a6a98d","attributes":{"name":"","handle":"othertf-testaccdatadoguserdatas[...]
[...]
