---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"severity":"high","type":"set"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRulesOrder_OutOfBandRuleAdded-local-1788858080-a","rule":{"finding_types":["secret"],"query":"env:dev"}},"type":"severity_modifier_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
        method: POST
      response:
        body: '{"data":{"id":"ade7a5bc-35e2-4e21-94bd-7e93db761212","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"high"},"created_at":1788858082756,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858082756,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRulesOrder_OutOfBandRuleAdded-local-1788858080-a","rule":{"finding_types":["secret"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 311.787208ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"ade7a5bc-35e2-4e21-94bd-7e93db761212","type":"severity_modifier_rules"},{"id":"8a3b1056-240e-479a-97a4-0f0ecf1748f2","type":"severity_modifier_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"severity_modifier_rules","id":"ade7a5bc-35e2-4e21-94bd-7e93db761212"},{"type":"severity_modifier_rules","id":"8a3b1056-240e-479a-97a4-0f0ecf1748f2"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 303.591834ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/ade7a5bc-35e2-4e21-94bd-7e93db761212
        method: GET
      response:
        body: '{"data":{"id":"ade7a5bc-35e2-4e21-94bd-7e93db761212","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"high"},"created_at":1788858082756,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858082756,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRulesOrder_OutOfBandRuleAdded-local-1788858080-a","rule":{"finding_types":["secret"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 151.498666ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"ade7a5bc-35e2-4e21-94bd-7e93db761212","type":"severity_modifier_rules"},{"id":"8a3b1056-240e-479a-97a4-0f0ecf1748f2","type":"severity_modifier_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/reorder
        method: POST
      response:
        body: '{"errors":[{"status":"422","title":"Unprocessable Entity","detail":"reorder must include all 3 rules, got 2"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 422 Unprocessable Entity
        code: 422
        duration: 174.036041ms
[...]
