---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"endpoint_url_key":"CLOUDPREM_ENDPOINT_URL","id":"cloud-prem-dest-tls-1","inputs":["source-1"],"tls":{"ca_file":"/path/to/ca.pem","crt_file":"/path/to/cert.pem","key_file":"/path/to/key.pem","key_pass_key":"TLS_KEY_PASSPHRASE"},"type":"cloud_prem"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"cloud-prem-destination-tls-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"f15b3882-7481-11f1-be0a-da7ad0900002","type":"pipelines","attributes":{"name":"cloud-prem-destination-tls-pipeline","config":{"destinations":[{"endpoint_url_key":"CLOUDPREM_ENDPOINT_URL","id":"cloud-prem-dest-tls-1","inputs":["source-1"],"tls":{"ca_file":"/path/to/ca.pem","crt_file":"/path/to/cert.pem","key_file":"/path/to/key.pem","key_pass_key":"TLS_KEY_PASSPHRASE"},"type":"cloud_prem"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 278.075274ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/f15b3882-7481-11f1-be0a-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"f15b3882-7481-11f1-be0a-da7ad0900002","type":"pipelines","attributes":{"name":"cloud-prem-destination-tls-pipeline","config":{"destinations":[{"endpoint_url_key":"CLOUDPREM_ENDPOINT_URL","id":"cloud-prem-dest-tls-1","inputs":["source-1"],"tls":{"ca_file":"/path/to/ca.pem","crt_file":"/path/to/cert.pem","key_file":"/path/to/key.pem","key_pass_key":"TLS_KEY_PASSPHRASE"},"type":"cloud_prem"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 156.678666ms
[...]
