version: 2
interactions:
- request:
    body: |
      {"description":"a secure global variable","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_UPDATED_LOCAL_1673557224","tags":["foo:bar","baz"],"value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":true,"value":"variable-secure-value"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
    id: 0
  response:
    body: |
      {"parse_test_options":null,"parse_test_extracted_at":null,"description":"a secure global variable","tags":["foo:bar","baz"],"last_error":null,"is_totp":null,"value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":true},"parse_test_public_id":null,"parse_test_name":null,"type":"variable","id":"c0184ae1-2234-4746-9d49-e0d1691e391b","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_UPDATED_LOCAL_1673557224"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/variables/c0184ae1-2234-4746-9d49-e0d1691e391b
    method: GET
    id: 1
  response:
    body: |
      {"parse_test_extracted_at":null,"description":"a secure global variable","tags":["foo:bar","baz"],"last_error":null,"parse_test_public_id":null,"is_totp":null,"id":"c0184ae1-2234-4746-9d49-e0d1691e391b","parse_test_options":null,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_UPDATED_LOCAL_1673557224","created_at":"2023-01-12T21:00:26.297044+00:00","creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"modified_at":"2023-01-12T21:00:26.297044+00:00","value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":true},"parse_test_name":null,"type":"variable"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/variables/c0184ae1-2234-4746-9d49-e0d1691e391b
    method: GET
    id: 11
  response:
    body: '{"errors":["Synthetics global variable not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
