---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"assets":[{"category":"runbook","name":"Datadog Runbook","resource_key":"1234","resource_type":"notebook","url":"/notebook/1234"},{"category":"runbook","name":"Confluence Runbook","url":"https://datadoghq.atlassian.net/wiki/spaces/ENG/pages/12345/Runbook"}],"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccMonitor_Fwprovider_Assets-local-1763660226","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":2,"warning":1}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.85ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"assets":[{"category":"runbook","name":"Datadog Runbook","resource_key":"1234","resource_type":"notebook","url":"/notebook/1234"},{"category":"runbook","name":"Confluence Runbook","url":"https://datadoghq.atlassian.net/wiki/spaces/ENG/pages/12345/Runbook"}],"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccMonitor_Fwprovider_Assets-local-1763660226","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":2,"warning":1}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":238431539,"org_id":197728,"type":"query alert","name":"tf-TestAccMonitor_Fwprovider_Assets-local-1763660226","message":"some message Notify: @hipchat-channel","tags":[],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":2.0,"warning":1.0},"silenced":{}},"multi":true,"created_at":1763660227000,"created":"2025-11-20T17:37:07.902676+00:00","modified":"2025-11-20T17:37:07.902676+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[{"monitor_id":238431539,"name":"Datadog Runbook","category":"runbook","url":"/notebook/1234","template_variables":{},"options":{},"resource_key":"1234","resource_type":"notebook"},{"monitor_id":238431539,"name":"Confluence Runbook","category":"runbook","url":"https://datadoghq.atlassian.net/wiki/spaces/ENG/pages/12345/Runbook","template_variables":{},"options":{},"resource_key":null,"resource_type":null}],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","handle":"kevin.pombo@datadoghq.com","email":"kevin.pombo@datadoghq.com","id":25712273}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.457375ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/238431539?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":238431539,"org_id":197728,"type":"query alert","name":"tf-TestAccMonitor_Fwprovider_Assets-local-1763660226","message":"some message Notify: @hipchat-channel","tags":[],"query":"avg(last_1h):avg:aws.ec2.cpu{environmen[...]
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/238431539
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":238431539}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.315603s
