---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-status-page-updated-1787172823","name":"test-status-page-updated-1787172823","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"2939c891-d605-41f3-bb54-419eae4f09a3","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"c59adc1f-4d1a-48f5-a610-4afbf0f50a95","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:53:47.406922Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-status-page-updated-1787172823","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:53:47.406922Z","name":"test-status-page-updated-1787172823","page_url":"https://frog.datadoghq.com/status-pages/2939c891-d605-41f3-bb54-419eae4f09a3/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.230734208s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/2939c891-d605-41f3-bb54-419eae4f09a3
        method: GET
      response:
        body: '{"data":{"id":"2939c891-d605-41f3-bb54-419eae4f09a3","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"c59adc1f-4d1a-48f5-a610-4afbf0f50a95","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:53:47.406922Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-status-page-updated-1787172823","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:53:47.406922Z","name":"test-status-page-updated-1787172823","page_url":"https://frog.datadoghq.com/status-pages/2939c891-d605-41f3-bb54-419eae4f09a3/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 62.432458ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"API","position":0},"id":"c59adc1f-4d1a-48f5-a610-4afbf0f50a95","type":"components"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/2939c891-d605-41f3-bb54-419eae4f09a3/components/c59adc1f-4d1a-48f5-a610-4afbf0f50a95
        method: PATCH
      response:
        body: '{"data":{"id":"c59adc1f-4d1a-48f5-a610-4afbf0f50a95","type":"components","attributes":{"created_at":"2026-08-19T20:53:47.406922Z","modified_at":"2026-08-19T20:53:50.958389Z","name":"API","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"2939c891-d605-41f3-bb54-419eae4f09a3","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 71.02925ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/2939c891-d605-41f3-bb54-419eae4f09a3
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 45.53125ms
