---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1690979139-screen","widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"gch-5nj-v4i","title":"tf-TestDatadogDashListImport-local-1690979139-screen","description":"Created using the Datadog provider in Terraform","author_handle":"hanting.zhang@datadoghq.com","author_name":"Hanting Zhang","layout_type":"free","url":"/dashboard/gch-5nj-v4i/tf-testdatadogdashlistimport-local-1690979139-screen","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":7304670458447286}],"notify_list":[],"created_at":"2023-08-02T12:25:43.092602+00:00","modified_at":"2023-08-02T12:25:43.092602+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/gch-5nj-v4i
    method: GET
  response:
    body: |
      {"id":"gch-5nj-v4i","title":"tf-TestDatadogDashListImport-local-1690979139-screen","description":"Created using the Datadog provider in Terraform","author_handle":"hanting.zhang@datadoghq.com","author_name":"Hanting Zhang","layout_type":"free","url":"/dashboard/gch-5nj-v4i/tf-testdatadogdashlistimport-local-1690979139-screen","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":7304670458447286}],"notify_list":[],"created_at":"2023-08-02T12:25:43.092602+00:00","modified_at":"2023-08-02T12:25:43.092602+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1690979139-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"bcp-bht-fxn","title":"tf-TestDatadogDashListImport-local-1690979139-time","description":"Created using the Datadog provider in Terraform","author_handle":"hanting.zhang@datadoghq.com","author_name":"Hanting Zhang","layout_type":"ordered","url":"/dashboard/bcp-bht-fxn/tf-testdatadogdashlistimport-local-1690979139-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":804646531605046}],"notify_list":[],"created_at":"2023-08-02T12:25:43.768790+00:00","modified_at":"2023-08-02T12:25:43.768790+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/bcp-bht-fxn
    method: GET
  response:
    body: |
      {"id":"bcp-bht-fxn","title":"tf-TestDatadogDashListImport-local-1690979139-time","description":"Created using the Datadog provider in Terraform","author_handle":"hanting.zhang@datadoghq.com","author_name":"Hanting Zhang","layout_type":"ordered","url":"/dashboard/bcp-bht-fxn/tf-testdatadogdashlistimport-local-1690979139-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":804646531605046}],"notify_list":[],"created_at":"2023-08-02T12:25:43.768790+00:00","modified_at":"2023-08-02T12:25:43.768790+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-TestDatadogDashListImport-local-1690979139"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: |
      {"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-02T12:25:44.288619+00:00","dashboards":null,"dashboard_count":0,"id":405163,"is_favorite":false,"modified":"2023-08-02T12:25:44.288626+00:00","name":"tf-TestDatadogDashListImport-local-1690979139","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"bcp-bht-fxn","type":"custom_timeboard"},{"id":"gch-5nj-v4i","type":"custom_screenboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/405163/dashboards
    method: PUT
  response:
    body: |
      {"dashboards":[{"type":"custom_timeboard","id":"bcp-bht-fxn"},{"type":"custom_screenboard","id":"gch-5nj-v4i"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405163
    method: GET
  response:
    body: |
      {"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-02T12:25:44.288619+00:00","dashboards":null,"dashboard_count":2,"id":405163,"is_favorite":false,"modified":"2023-08-02T12:25:45.269958+00:00","name":"tf-TestDatadogDashListImport-local-1690979139","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/405163/dashboards
    method: GET
  response:
    body: |
      {"dashboards":[{"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-02T12:25:43.768790+00:00","is_favorite":false,"is_shared":false,"modified":"2023-08-02T12:25:43.768790+00:00","title":"tf-TestDatadogDashListImport-local-1690979139-time","type":"custom_timeboard","id":"bcp-bht-fxn","url":"/dashboard/bcp-bht-fxn/tf-testdatadogdashlistimport-local-1690979139-time","is_read_only":true,"tags":[],"icon":null,"integration_id":null,"popularity":0},{"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-02T12:25:43.092602+00:00","is_favorite":false,"is_shared":false,"modified":"2023-08-02T12:25:43.092602+00:00","title":"tf-TestDatadogDashListImport-local-1690979139-screen","type":"custom_screenboard","id":"gch-5nj-v4i","url":"/dashboard/gch-5nj-v4i/tf-testdatadogdashlistimport-local-1690979139-screen","is_read_only":false,"tags":[],"icon":null,"integration_id":null,"popularity":0}],"total":2}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405163
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_list_id":405163}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/bcp-bht-fxn
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"bcp-bht-fxn"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405163
    method: GET
  response:
    body: '{"errors":["Manual Dashboard List with id 405163 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
