---
version: 1
interactions:
- request:
    body: |
      {"description":"some description about foo SLO","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010{type:good}.as_count()"},"tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010"],"target_threshold":99.5,"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"},{"target":99,"timeframe":"90d"}],"timeframe":"7d","type":"metric","warning_threshold":99.8}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: |
      {"data":[{"id":"3dcdf192685455a0894e45e602d53e72","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1686590012,"modified_at":1686590012}],"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?ids=3dcdf192685455a0894e45e602d53e72
    method: GET
  response:
    body: |
      {"data":[{"id":"3dcdf192685455a0894e45e602d53e72","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1686590012,"modified_at":1686590012}],"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/3dcdf192685455a0894e45e602d53e72
    method: GET
  response:
    body: |
      {"data":{"id":"3dcdf192685455a0894e45e602d53e72","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1686590012,"modified_at":1686590012},"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010
    method: GET
  response:
    body: |
      {"data":[{"id":"3dcdf192685455a0894e45e602d53e72","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?tags_query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010
    method: GET
  response:
    body: |
      {"data":[{"id":"3dcdf192685455a0894e45e602d53e72","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_disp[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?metrics_query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010
    method: GET
  response:
    body: |
      {"data":[{"id":"3dcdf192685455a0894e45e602d53e72","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1686590010"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_d[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/129337e9934c81d5e81f826a4282f51a51e6f92e306fcc0536956fc9ed529510
    method: GET
  response:
    body: '{"errors":["SLO not found: 129337e9934c81d5e81f826a4282f51a51e6f92e306fcc0536956fc9ed529510 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
