---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"America/New_York","message":"Message about the downtime","monitor_identifier":{"monitor_tags":["cat:hat"]},"mute_first_recovery_notification":true,"notify_end_states":["alert","warn"],"notify_end_types":["expired"],"schedule":{"recurrences":[{"duration":"1d","rrule":"FREQ=DAILY;INTERVAL=1","start":"2042-07-13T01:02:03"},{"duration":"1w","rrule":"FREQ=DAILY;INTERVAL=12","start":"2042-07-15T01:02:03"},{"duration":"1m","rrule":"FREQ=DAILY;INTERVAL=123","start":"2042-07-17T01:02:03"}],"timezone":"America/New_York"},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring-local-1689977121)"},"type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime
    method: POST
  response:
    body: |
      {"data":{"type":"downtime","attributes":{"notify_end_states":["alert","warn"],"created":"2023-07-21T22:05:24.135492+00:00","notify_end_types":["expired"],"canceled":null,"message":"Message about the downtime","display_timezone":"America/New_York","scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring-local-1689977121)","schedule":{"recurrences":[{"rrule":"FREQ=DAILY;INTERVAL=1","start":"2042-07-13T01:02:03","duration":"1d"},{"rrule":"FREQ=DAILY;INTERVAL=12","start":"2042-07-15T01:02:03","duration":"1w"},{"rrule":"FREQ=DAILY;INTERVAL=123","start":"2042-07-17T01:02:03","duration":"1m"}],"current_downtime":{"start":"2042-07-13T06:02:03+00:00","end":"2042-07-14T06:02:03+00:00"},"timezone":"America/New_York"},"status":"scheduled","monitor_identifier":{"monitor_tags":["cat:hat"]},"modified":"2023-07-21T22:05:24.135492+00:00","mute_first_recovery_notification":true},"id":"b121cc54-2812-11ee-878d-da7ad0900002","relationships":{"monitor":{"data":null},"created_by":{"data":{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92"}}}},"included":[{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92","attributes":{"name":"Carl Martensen","handle":"carl.martensen@datadoghq.com","created_at":"2019-01-15T14:36:15.423919+00:00","modified_at":"2019-01-15T14:36:15.457748+00:00","email":"carl.martensen@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ed460c2fc567a43e34c2bd7cda76bdd1?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/downtime/b121cc54-2812-11ee-878d-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"downtime","attributes":{"status":"scheduled","monitor_identifier":{"monitor_tags":["cat:hat"]},"schedule":{"timezone":"America/New_York","current_downtime":{"start":"2042-07-13T06:02:03+00:00","end":"2042-07-14T06:02:03+00:00"},"recurrences":[{"rrule":"FREQ=DAILY;INTERVAL=1","start":"2042-07-13T01:02:03","duration":"1d"},{"rrule":"FREQ=DAILY;INTERVAL=12","start":"2042-07-15T01:02:03","duration":"1w"},{"rrule":"FREQ=DAILY;INTERVAL=123","start":"2042-07-17T01:02:03","duration":"1m"}]},"canceled":null,"message":"Message about the downtime","mute_first_recovery_notification":true,"notify_end_types":["expired"],"display_timezone":"America/New_York","created":"2023-07-21T22:05:24.135492+00:00","modified":"2023-07-21T22:05:24.135492+00:00","notify_end_states":["alert","warn"],"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring-local-1689977121)"},"id":"b121cc54-2812-11ee-878d-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
