---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/new-terraform-framework-test/2
        method: GET
      response:
        body: '{"data":{"id":"new-terraform-framework-test-2","type":"custom_framework","attributes":{"description":"","handle":"new-terraform-framework-test","icon_url":"","name":"new-terraform-framework-test","requirements":[{"name":"requirement1","controls":[{"name":"control1","rules_id":["def-000-u48"]}]}],"version":"2"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 245.226916ms
[...]
