---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":["@1","@2"]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":["@3"]}],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTab-local-1774283301","widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"afe-4hq-ixt","title":"tf-TestAccDatadogDashboardTab-local-1774283301","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/afe-4hq-ixt/tf-testaccdatadogdashboardtab-local-1774283301","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":1455794194738927},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":1630084884495732},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":7469565025090949}],"notify_list":[],"created_at":"2026-03-23T16:28:23.290900+00:00","modified_at":"2026-03-23T16:28:23.290900+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[1455794194738927,1630084884495732]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[7469565025090949]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 312.904875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/afe-4hq-ixt
        method: GET
      response:
            - chunked
        body: '{"id":"afe-4hq-ixt","title":"tf-TestAccDatadogDashboardTab-local-1774283301","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/afe-4hq-ixt/tf-testaccdatadogdashboardtab-local-1774283301","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":1455794194738927},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":1630084884495732},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":7469565025090949}],"notify_list":[],"created_at":"2026-03-23T16:28:23.290900+00:00","modified_at":"2026-03-23T16:28:23.290900+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[1455794194738927,1630084884495732]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[7469565025090949]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.229916ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/afe-4hq-ixt
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"afe-4hq-ixt"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 344.281ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/afe-4hq-ixt
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID afe-4hq-ixt not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 91.057041ms
