---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"bd26fa6e-e1ba-4a0a-834c-f5349336c0f7","attributes":{"name":"my group","is_enabled":true,"filter":{"query":"*"},"product_list":["logs"],"description":"","samplings":[{"product":"logs","rate":100.0}]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"9fe1f43f8d7a473ad75d6fb608592cadb63f7d0d1a90f83e0f907d482642e565","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":66}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.621792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1750882792","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"bd26fa6e-e1ba-4a0a-834c-f5349336c0f7","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"5104dc7b-b070-449f-9e43-5647ccf5806c","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1750882792","namespaces":[],"excluded_namespaces":["username"],"pattern":"regex","text_replacement":{"type":"none"},"tags":["sensitive_data:true"],"labels":[],"is_enabled":true,"description":"a description"},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"bd26fa6e-e1ba-4a0a-834c-f5349336c0f7","type":"sensitive_data_scanner_group"}}}},"meta":{"version":67}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.527708ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"9fe1f43f8d7a473ad75d6fb608592cadb63f7d0d1a90f83e0f907d482642e565","attributes":{},"type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"086caa84-562b-43e9-89d1-8e2a1a645993","type":"sensitive_data_scanner_group"},{"id":"52e415ac-6a52-4c8a-8308-f383d7d6b539","type":"sensitive_data_scanner_group"},{"id":"77f282bc-d88f-4566-a1eb-d24f57d5ff0b","type":"sensitive_data_scanner_group"},{"id":"b5eaff49-962f-48ea-b0e8-7b4a825e0ad7","type":"sensitive_data_scanner_group"},{"id":"7bd68b19-a9e3-46b8-ac2b-9cb24c24c1ba","type":"sensitive_data_scanner_group"},{"id":"90bd886f-56b8-4e70-ad2e-0070c056f65d","type":"sensitive_data_scanner_group"},{"id":"bd26fa6e-e1ba-4a0a-834c-f5349336c0f7","type":"sensitive_data_scanner_group"}]}}},"meta":{"version":67,"count_limit":100,"group_count_limit":20,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"has_cascading_enabled":false,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"min_sampling_rate":10.0},"included":[{"id":"086caa84-562b-43e9-89d1-8e2a1a645993","attributes":{"name":"exercitation eiusmod Ut","is_enabled":false,"filter":{"query":"aute"},"product_list":["logs"],"description":"non ad magna","samplings":[]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"9fe1f43f8d7a473ad75d6fb608592cadb63f7d0d1a90f83e0f907d482642e565","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},{"id":"52e415ac-6a52-4c8a-8308-f383d7d6b539","attributes":{"name":"test2","is_enabled":false,"filter":{"query":"aute"},"product_list":["logs"],"description":"sampling test","samplings":[{"product":"logs","rate":50.0}]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"9fe1f43f8d7a473ad75d6fb608592cadb63f7d0d1a90f83e0f907d482642e565","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},{"id":"77f282bc-d88f-4566-a1eb-d24f57d5ff0b","attributes":{"name":"catch all","is_enabled":true,"filter":{"query":"*"},"product_list":["logs","events"],"samplings":[]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"9fe1f43f8d7a473ad75d6fb608592cadb63f7d0d1a90f83e0f907d482642e565","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[{"id":"c1c1a4c1-4fa7-4b3a-a2ce-78b42e2db910","type":"sensitive_data_scanner_rule"}]}}},{"id":"c1c1a4c1-4fa7-4b3a-a2ce-78b42e2db910","attributes":{"name":"scan test","namespaces":[],"excluded_namespaces":[],"pattern":"\\d{4}","text_replacement":{"replacement_string":"REDACTED","should_save_match":false,"type":"replacement_string"},"tags":["sensitive_data_category:pii"],"labels":[],"is_enabled":true,"description":"","priority":5,"included_keyword_configuration":{"keywords":[],"use_recommended_keywords":false,"character_count":30}},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"77f282bc-d88f-4566-a1eb-d24f57d5ff0b","type":"sensitive_data_scanner_group"}}}},{"id":"b5eaff49-962f-48ea-b0e8-7b4a825e0ad7","attributes":{"name":"tf-testaccdatadogsensitivedatascannergroup-basic-local-1750881009","is_enabled":false,"filter":{"query":"*"},"product_list":["logs"],"description":"","samplings":[{"product":"logs","rate":100.0}]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"d[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/5104dc7b-b070-449f-9e43-5647ccf5806c
        method: DELETE
      response:
        body: |
            {"meta":{"version":68}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.252792ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"id":"bd26fa6e-e1ba-4a0a-834c-f5349336c0f7","type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/bd26fa6e-e1ba-4a0a-834c-f5349336c0f7
        method: PATCH
      response:
        body: |
            {"meta":{"version":69}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.920583ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1750882792","namespaces":[],"pattern":"regex","priority":1,"tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"relationships":{"group":{"data":{"id":"bd26fa6e-e1ba-4a0a-834c-f5349336c0f7","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"3510d145-95b7-44d1-bb51-6226486ae77e","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1750882792","namespaces":[],"excluded_namespaces":["email"],"pattern":"regex","text_replacement":{"number_of_chars":10,"should_save_match":false,"type":"partial_replacement_from_beginning"},"tags":["sensitive_data:true"],"labels":[],"is_enabled":false,"description":"another description","priority":1,"included_keyword_configuration":{"keywords":["credit card","cc"],"character_count":20}},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"bd26fa6e-e1ba-4a0a-834c-f5349336c0f7","type":"sensitive_data_scanner_group"}}}},"meta":{"version":70}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 118.506125ms
[...]
