---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Admin+Role
        method: GET
      response:
        body: '{"data":[{"id":"94172442-be03-11e9-a77a-3b7612558ac1","type":"roles","attributes":{"created_at":"2019-08-13T19:50:19.022791Z","managed":true,"modified_at":"2019-08-13T19:50:19.022791Z","name":"Datadog Admin Role","team_count":0,"user_count":55},"relationships":{"permissions":{"data":[{"id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","type":"permissions"},{"id":"984d2f00-d3b4-11e8-a200-bb47109e9987","type":"permissions"},{"id":"5e605652-dd12-11e8-9e53-375565b8970e","type":"permissions"},{"id":"62cc036c-dd12-11e8-9e54-db9995643092","type":"permissions"},{"id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73","type":"permissions"},{"id":"7d7c98ac-dd12-11e8-9e56-93700598622d","type":"permissions"},{"id":"811ac4ca-dd12-11e8-9e57-676a7f0beef9","type":"permissions"},{"id":"84aa3ae4-dd12-1[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Standard+Role
        method: GET
      response:
        body: '{"data":[{"id":"94172443-be03-11e9-a77a-373332f69711","type":"roles","attributes":{"created_at":"2019-08-13T19:50:19.075284Z","managed":true,"modified_at":"2019-08-13T19:50:19.075284Z","name":"Datadog Standard Role","team_count":0,"user_count":55},"relations[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Read+Only+Role
        method: GET
      response:
        body: '{"data":[{"id":"94172444-be03-11e9-a77a-db1879185210","type":"roles","attributes":{"created_at":"2019-08-13T19:50:19.111007Z","managed":true,"modified_at":"2019-08-13T19:50:19.111007Z","name":"Datadog Read Only Role","team_count":0,"user_count":5},"relation[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguser_updaterole-local-1758619247@example.com","name":"Test User"},"relationships":{"roles":{"data":[{"id":"94172443-be03-11e9-a77a-373332f69711","type":"roles"},{"id":"94172444-be03-11e9-a77a-db1879185210","type":"roles"}]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"9808b11e-985e-11f0-b817-72d874262dfd","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_updaterole-local-1758619247@example.com","created_at":"2025-09-23T09:20:49.353988+00:00","modified_at":"2025-09-23T09:20:49.353988+00:00","email":"tf-testaccdatadoguser_updaterole-local-1758619247@example.com","icon":"https://secure.gravatar.com/avatar/9734693469afd6f8a91e3ca233dea08b?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210"},{"type":"roles","id":"94172443-be03-11e9-a77a-373332f69711"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},"included":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","managed":true,"created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"9808b11e-985e-11f0-b817-72d874262dfd","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"98b9ef20-985e-11f0-a213-da7ad0900002","attributes":{"uuid":"98b9ef20-985e-11f0-a213-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:20:50.515161+00:00","expires_at":"2025-09-25T09:20:49.849428+00:00"},"relationships":{"user":{"data":{"type":"users","id":"9808b11e-985e-11f0-b817-72d874262dfd"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 974.781167ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/9808b11e-985e-11f0-b817-72d874262dfd
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"9808b11e-985e-11f0-b817-72d874262dfd","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_updaterole-local-1758619247@example.com","created_at":"2025-09-23T09:20:49.353988+00:00","modified_at":"2025-09-23T09:20:49.353988+00:00","email":"tf-testaccdatadoguser_updaterole-local-1758619247@example.com","icon":"https://secure.gravatar.com/avatar/9734693469afd6f8a91e3ca233dea08b?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210"},{"type":"roles","id":"94172443-be03-11e9-a77a-373332f69711"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},"included":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","managed":true,"created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00"},"relationships":{"permissio[...]
[...]
    - id: 17
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"9808b11e-985e-11f0-b817-72d874262dfd","type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles/94172442-be03-11e9-a77a-3b7612558ac1/users
        method: POST
      response:
        body: '{"data":[{"id":"3844ffa5-6c89-11f0-b22e-ba4380a88814","type":"users","attributes":{"allowed_login_me[...]
[...]
