---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"some description","per_unit":"second","short_name":"short name for metric_metadata foo","statsd_interval":1,"type":"gauge","unit":"byte"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/metrics/foo
        method: PUT
      response:
            - chunked
        body: |
            {"description":"some description","short_name":"short name for metric_metadata foo","type":"gauge","unit":"byte","per_unit":"second","statsd_interval":1,"integration":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.909333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: '{"series":[{"metric":"foo","points":[[1758619097,1]]}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/series
        method: POST
      response:
        body: '{"status": "ok"}'
        headers:
            Content-Type:
                - text/json
        status: 202 Accepted
        code: 202
        duration: 227.993958ms
[...]
