---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateChangeRuleType-local-1765466798","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"1e187aef-41a3-43f1-85ae-5876c9da47bb","type":"deployment_gate","attributes":{"created_at":"2025-12-11T15:26:39.813632Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateChangeRuleType-local-1765466798","service":"my-service","updated_at":"2025-12-11T15:26:39.813632Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 123.89025ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/1e187aef-41a3-43f1-85ae-5876c9da47bb/rules
        method: POST
      response:
        body: '{"data":{"id":"fcf444b5-8689-4672-aaba-31948c1991ec","type":"deployment_rule","attributes":{"created_at":"2025-12-11T15:26:39.940584Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"1e187aef-41a3-43f1-85ae-5876c9da47bb","name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-11T15:26:39.940584Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 126.238791ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/1e187aef-41a3-43f1-85ae-5876c9da47bb
        method: GET
      response:
        body: '{"data":{"id":"1e187aef-41a3-43f1-85ae-5876c9da47bb","type":"deployment_gate","attributes":{"created_at":"2025-12-11T15:26:39.813632Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateChangeRuleType-local-1765466798","service":"my-service","updated_at":"2025-12-11T15:26:39.813632Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 142.980625ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/1e187aef-41a3-43f1-85ae-5876c9da47bb/rules
        method: GET
      response:
        body: '{"data":{"id":"1e187aef-41a3-43f1-85ae-5876c9da47bb","type":"list_deployment_rules","attributes":{"rules":[{"id":"fcf444b5-8689-4672-aaba-31948c1991ec","name":"test_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-11T15:26:39.940584Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-11T15:26:39.940584Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"1e187aef-41a3-43f1-85ae-5876c9da47bb","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 121.320917ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/1e187aef-41a3-43f1-85ae-5876c9da47bb/rules/fcf444b5-8689-4672-aaba-31948c1991ec
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 125.807083ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"test_rule","options":{"duration":300,"query":"service:test"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/1e187aef-41a3-43f1-85ae-5876c9da47bb/rules
        method: POST
      response:
        body: '{"data":{"id":"ef3bba97-cf76-45ab-815e-21ed4a75cd7c","type":"deployment_rule","attributes":{"created_at":"2025-12-11T15:26:42.001219Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"1e187aef-41a3-43f1-85ae-5876c9da47bb","name":"test_rule","options":{"query":"service:test","duration":300},"type":"monitor","updated_at":"2025-12-11T15:26:42.001219Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 132.600291ms
[...]
