---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"query":"source:runtime-security-agent","rule_query":"type:log_detection source:cloudtrail","severity":"increase","tags":["test:tf-tf-TestAccSecurityMonitoringCriticalAsset_Description-local-1782921600"]},"type":"critical_assets"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets
        method: POST
      response:
        body: '{"data":{"id":"b2c3d4e5-6f70-4a1b-8c2d-3e4f5a6b7c80","type":"critical_assets","attributes":{"creation_author_id":1445416,"creation_date":1768600036726,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"enabled":true,"query":"source:runtime-security-agent","rule_query":"type:log_detection source:cloudtrail","severity":"increase","tags":["test:tf-tf-TestAccSecurityMonitoringCriticalAsset_Description-local-1782921600"],"update_author_id":1445416,"update_date":1768600036726,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/b2c3d4e5-6f70-4a1b-8c2d-3e4f5a6b7c80
        method: GET
      response:
        body: '{"data":{"id":"b2c3d4e5-6f70-4a1b-8c2d-3e4f5a6b7c80","type":"critical_assets","attributes":{"creation_author_id":1445416,"creation_date":1768600036726,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"enabled":true,"query":"source:runtime-security-agent","rule_query":"type:log_detection source:cloudtrail","severity":"increase","tags":["test:tf-tf-TestAccSecurityMonitoringCriticalAsset_Description-local-1782921600"],"update_author_id":1445416,"update_date":1768600036726,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 100ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"A critical asset description","enabled":true,"query":"source:runtime-security-agent","rule_query":"type:log_detection source:cloudtrail","severity":"increase","tags":["test:tf-tf-TestAccSecurityMonitoringCriticalAsset_Description-local-1782921600"]},"type":"critical_assets"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/b2c3d4e5-6f70-4a1b-8c2d-3e4f5a6b7c80
        method: PATCH
      response:
        body: '{"data":{"id":"b2c3d4e5-6f70-4a1b-8c2d-3e4f5a6b7c80","type":"critical_assets","attributes":{"creation_author_id":1445416,"creation_date":1768600036726,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"description":"A critical asset description","enabled":true,"query":"source:runtime-security-agent","rule_query":"type:log_detection source:cloudtrail","severity":"increase","tags":["test:tf-tf-TestAccSecurityMonitoringCriticalAsset_Description-local-1782921600"],"update_author_id":1445416,"update_date":1768600036726,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":2}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 100ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/b2c3d4e5-6f70-4a1b-8c2d-3e4f5a6b7c80
        method: GET
      response:
        body: '{"errors":["not_found(Critical asset with ID b2c3d4e5-6f70-4a1b-8c2d-3e4f5a6b7c80 not found)"]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 100ms
