---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"A","target":"0.0.0.0","type":"recordSome"}],"configVariables":[],"request":{"dnsServer":"8.8.8.8","dnsServerPort":120,"host":"https://www.datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsDNSTest_Basic-local-1640024601","options":{"min_location_failed":1,"tick_every":60},"status":"paused","subtype":"dns","tags":["foo:bar","baz"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"paused","public_id":"hwc-6aj-g9a","tags":["foo:bar","baz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","deleted_at":null,"name":"tf-TestAccDatadogSyntheticsDNSTest_Basic-local-1640024601","monitor_id":58556896,"type":"api","created_at":"2021-12-20T18:23:23.913703+00:00","modified_at":"2021-12-20T18:23:23.913703+00:00","subtype":"dns","config":{"request":{"dnsServerPort":120,"host":"https://www.datadoghq.com","dnsServer":"8.8.8.8"},"assertions":[{"operator":"is","property":"A","type":"recordSome","target":"0.0.0.0"}],"configVariables":[]},"options":{"min_location_failed":1,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11983"
      X-Ratelimit-Reset:
      - "37"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api/hwc-6aj-g9a
    method: GET
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/hwc-6aj-g9a
    method: GET
  response:
    body: '{"status":"paused","public_id":"hwc-6aj-g9a","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsDNSTest_Basic-local-1640024601","monitor_id":58556896,"type":"api","subtype":"dns","config":[...]
- request:
    body: |
      {"public_ids":["hwc-6aj-g9a"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-12-20T18:23:28.725033+00:00","public_id":"hwc-6aj-g9a"}]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11980"
      X-Ratelimit-Reset:
      - "32"
    status: 200 OK
    code: 200
    duration: ""
[...]
