---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2ListStreamOpenAPIParity-local-1784742692","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"compute":[{"aggregation":"count","facet":"resource_name"}],"data_source":"logs_transaction_stream","group_by":[{"facet":"service"}],"query_string":"service:web-store","version":"sequential_query"},"response_format":"event_list"}],"title":"Transaction stream","type":"list_stream"}},{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"assignee_uuids":["00000000-0000-0000-0000-000000000000"],"data_source":"issue_stream","persona":"backend","query_string":"service:web-store","states":["OPEN","ACKNOWLEDGED"],"suspected_causes":["deployment"],"team_handles":["platform"]},"response_format":"event_list"}],"title":"Issue stream","type":"list_stream"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"fmz-bpi-wm6","title":"tf-TestAccDatadogDashboardV2ListStreamOpenAPIParity-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/fmz-bpi-wm6/tf-testaccdatadogdashboardv2liststreamopenapiparity-local-1784742692","template_variables":[],"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"compute":[{"aggregation":"count","facet":"resource_name"}],"data_source":"logs_transaction_stream","group_by":[{"facet":"service"}],"query_string":"service:web-store","version":"sequential_query"},"response_format":"event_list"}],"title":"Transaction stream","type":"list_stream"},"id":8346707175416161},{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"assignee_uuids":["00000000-0000-0000-0000-000000000000"],"data_source":"issue_stream","persona":"backend","query_string":"service:web-store","states":["OPEN","ACKNOWLEDGED"],"suspected_causes":["deployment"],"team_handles":["platform"]},"response_format":"event_list"}],"title":"Issue stream","type":"list_stream"},"id":3055956207837417}],"notify_list":[],"created_at":"2026-07-22T17:51:36.765301+00:00","modified_at":"2026-07-22T17:51:36.765301+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 551.825292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/fmz-bpi-wm6
        method: GET
      response:
            - chunked
        body: '{"id":"fmz-bpi-wm6","title":"tf-TestAccDatadogDashboardV2ListStreamOpenAPIParity-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/fmz-bpi-wm6
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"fmz-bpi-wm6"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 621.82175ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/fmz-bpi-wm6
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID fmz-bpi-wm6 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 159.842541ms
