---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_noinvitation-local-1626980068@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"3f036f22-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_noinvitation-local-1626980068@example.com","created_at":"2021-07-22T18:54:30.424798+00:00","modified_at":"2021-07-22T18:54:30.747788+00:00","email":"tf-testaccdatadoguser_noinvitation-local-1626980068@example.com","icon":"https://secure.gravatar.com/avatar/b066c6044a99b297848f173f4a8cf258?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/3f036f22-eb1e-11eb-b233-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"3f036f22-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_noinvitation-local-1626980068@example.com","created_at":"2021-07-22T18:54:30.424798+00:00","modified_at":"2021-07-22T18:54:30.747788+00:00","email":"tf-testaccdatadoguser_noinvitation-local-1626980068@example.com","icon":"https://secure.gravatar.com/avatar/b066c6044a99b297848f173f4a8cf258?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
