---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"name":"tf-TestDatadogDashListInDashboardJSON-local-1768230376"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
        method: POST
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-12T15:06:17.655696+00:00","dashboards":null,"dashboard_count":0,"id":616665,"is_favorite":false,"modified":"2026-01-12T15:06:17.655702+00:00","name":"tf-TestDatadogDashListInDashboardJSON-local-1768230376","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.695375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: '{"author_handle":"removed_handle","description":"Created using the Datadog provider in Terraform","id":"5uw-bbj-xec","layout_type":"ordered","notify_list":[],"template_variables":[],"title":"tf-TestDatadogDashListInDashboardJSON-local-1768230376","widgets":[{"definition":{"alert_id":"895605","precision":3,"text_align":"center","title":"Widget Title","type":"alert_value","unit":"b"},"id":5436370674582587}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"ufh-7xf-9ab","title":"tf-TestDatadogDashListInDashboardJSON-local-1768230376","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/ufh-7xf-9ab/tf-testdatadogdashlistindashboardjson-local-1768230376","template_variables":[],"widgets":[{"definition":{"alert_id":"895605","precision":3,"text_align":"center","title":"Widget Title","type":"alert_value","unit":"b"},"id":5436370674582587}],"notify_list":[],"created_at":"2026-01-12T15:06:17.774071+00:00","modified_at":"2026-01-12T15:06:17.774071+00:00"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.277333ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/ufh-7xf-9ab
        method: GET
      response:
            - chunked
        body: '{"id":"ufh-7xf-9ab","title":"tf-TestDatadogDashListInDashboardJSON-local-1768230376","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/ufh-7xf-9ab/tf-testdatadogdashlistindashboardjson-local-1768230376","template_variables":[],"widgets":[{"definition":{"alert_id":"895605","precision":3,"text_align":"center","title":"Widget Title","type":"alert_value","unit":"b"},"id":5436370674582587}],"notify_list":[],"created_at":"2026-01-12T15:06:17.774071+00:00","modified_at":"2026-01-12T15:06:17.774071+00:00"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.553959ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"dashboards":[{"id":"ufh-7xf-9ab","type":"custom_timeboard"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616665/dashboards
        method: POST
      response:
            - chunked
        body: |
            {"added_dashboards_to_list":[{"type":"custom_timeboard","id":"ufh-7xf-9ab"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.760167ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616665
        method: GET
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-12T15:06:17.655696+00:00","dashboards":null,"dashboard_count":1,"id":616665,"is_favorite":false,"modified":"2026-01-12T15:06:18.026732+00:00","name":"tf-TestDatadogDashListInDashboardJSON-local-1768230376","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.323125ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616665/dashboards
        method: GET
      response:
            - chunked
        body: |
            {"dashboards":[{"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-12T15:06:17.774071+00:00","is_favorite":false,"is_shared":false,"modified":"2026-01-12T15:06:17.774071+00:00","title":"tf-TestDatadogDashListInDashboardJSON-local-1768230376","type":"custom_timeboard","id":"ufh-7xf-9ab","url":"/dashboard/ufh-7xf-9ab/tf-testdatadogdashlistindashboardjson-local-1768230376","is_read_only":false,"tags":null,"icon":null,"integration_id":null,"popularity":0}],"total":1}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.529833ms
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: |
            {"dashboards":[{"id":"ufh-7xf-9ab","type":"custom_timeboard"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616665/dashboards
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboards_from_list":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.489291ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616665
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_list_id":616665}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.241792ms
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/ufh-7xf-9ab
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"ufh-7xf-9ab"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 578.676292ms
    - id: 20
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616665
        method: GET
      response:
            - chunked
        body: '{"errors":["Manual Dashboard List with id 616665 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.955ms
