---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["add-env-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"add-env-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"add-env-1","include":"*","type":"add_env_vars","variables":[{"field":"log.environment.region","name":"AWS_REGION"},{"field":"log.environment.account","name":"AWS_ACCOUNT_ID"}]}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"add-env-vars pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"02fca902-d5ba-11f0-906e-da7ad0900002","type":"pipelines","attributes":{"name":"add-env-vars pipeline","config":{"destinations":[{"id":"destination-1","inputs":["add-env-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"add-env-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"add-env-1","include":"*","type":"add_env_vars","variables":[{"field":"log.environment.region","name":"AWS_REGION"},{"field":"log.environment.account","name":"AWS_ACCOUNT_ID"}]}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 698.295416ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/02fca902-d5ba-11f0-906e-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"02fca902-d5ba-11f0-906e-da7ad0900002","type":"pipelines","attributes":{"name":"add-env-vars pipeline","config":{"destinations":[{"id":"destination-1","inputs":["add-env-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"add-env-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"add-env-1","include":"*","type":"add_env_vars","variables":[{"field":"log.environment.region","name":"AWS_REGION"},{"field":"log.environment.account","name":"AWS_ACCOUNT_ID"}]}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.684542ms
[...]
