---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":{"destination_key":"env","if_not_exists":true,"source_keys":["environment","stage"]},"name":"mapping-rule","query":null,"reference_table":null}]},"id":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRule-local-1758197761","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"d787474b-97b9-4910-a1a7-f8ea5dc2ceb0","type":"ruleset","attributes":{"created":{"seconds":1758197763,"nanos":315246000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758197763,"nanos":315246000},"name":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRule-local-1758197761","position":4,"rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":true},"reference_table":null,"metadata":null}],"version":3604073}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 191.164ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/d787474b-97b9-4910-a1a7-f8ea5dc2ceb0
        method: GET
      response:
        body: '{"data":{"id":"d787474b-97b9-4910-a1a7-f8ea5dc2ceb0","type":"ruleset","attributes":{"created":{"seconds":1758197763,"nanos":315246000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758197763,"nanos":315246000},"name":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRule-local-1758197761","position":4,"rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":true},"reference_table":null,"metadata":null}],"version":3604073}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 48.809209ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/d787474b-97b9-4910-a1a7-f8ea5dc2ceb0
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset d787474b-97b9-4910-a1a7-f8ea5dc2ceb0 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 96.536666ms
