---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"variables":[]},"message":"","name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760434027","options":{"defaultStepTimeout":10,"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16","synthetics:mobile:device:apple_iphone_14_pro_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760434027-monitor","retry":{"count":0,"interval":300},"tick_every":43200},"status":"paused","steps":[],"type":"mobile"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/mobile
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"fqe-7pc-7cv","name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760434027","status":"paused","type":"mobile","tags":[],"created_at":"2025-10-14T09:27:09.828294+00:00","modified_at":"2025-10-14T09:27:09.828294+00:00","config":{"variables":[]},"message":"","options":{"defaultStepTimeout":10,"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16","synthetics:mobile:device:apple_iphone_14_pro_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760434027-monitor","retry":{"count":0,"interval":300},"tick_every":43200},"locations":["aws:us-west-2"],"created_by":{"name":"Antonin Lenfant Kodia","handle":"antonin.lenfant@datadoghq.com","email":"antonin.lenfant@datadoghq.com"},"deleted_at":null,"monitor_id":226811063,"org_id":321813,"modified_by":{"name":"Antonin Lenfant Kodia","handle":"antonin.lenfant@datadoghq.com","email":"antonin.lenfant@datadoghq.com"},"creation_source":"terraform","stepCount":{"assertions":0,"subtests":0,"total":0}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 670.701334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/mobile/fqe-7pc-7cv
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"fqe-7pc-7cv","name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760434027","status":"paused","type":"mobile","tags":[],"created_at":"2025-10-14T09:27:09.828294+00:00","modified_at":"2025-10-14T09:27:09.828294+00:00","config":{"variables":[]},"message":"","options":{"defaultStepTimeout":10,"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16","synthetics:mobile:device:apple_iphone_14_pro_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760434027-monitor","retry":{"count":0,"interval":300},"tick_every":43200},"locations":["aws:us-west-2"],"monitor_id":226811063,"creator":{"name":"Antonin Lenfant Kodia","handle":"antonin.lenfant@datadoghq.com","email":"antonin.lenfant@datadoghq.com"},"steps":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 227.586708ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/fqe-7pc-7cv
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"fqe-7pc-7cv","name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760434027","status":"paused","type":"mobile","tags":[],"created_at":"2025-10-14T09:27:09.828294+00:00","modified_at":"2025-10-14T09:27:09.828294+00:00","config":{"variables":[]},"message":"","options":{"defaultStepTimeout":10,"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16","synthetics:mobile:device:apple_iphone_14_pro_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760434027-monitor","retry":{"count":0,"interval":300},"tick_every":43200},"locations":["aws:us-west-2"],"monitor_id":226811063,"creator":{"name":"Antonin Lenfant Kodia","handle":"antonin.lenfant@datadoghq.com","email":"antonin.lenfant@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.550375ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["fqe-7pc-7cv"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"fqe-7pc-7cv","deleted_at":"2025-10-14T09:27:12.168631+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 467.1495ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/fqe-7pc-7cv
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 160.223292ms
