---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"filter":{"query":"error_code:456 service:my-other-service"},"filter_type":"spans-sampling-processor","name":"tf-TestAccApmRetentionFilterWithTraceRate-local-1744672702 - second","rate":0.1,"trace_rate":0.5},"type":"apm_retention_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"D_GzebETREud_eWvRSiTjg","attributes":{"name":"tf-TestAccApmRetentionFilterWithTraceRate-local-1744672702 - second","rate":0.1,"trace_rate":0.5,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:456 service:my-other-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1744672704,"created_by":"frog@datadoghq.com","created_at":1744672704},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 314.645375ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/HhR4d-G-RTmlDZZmQwC5qw
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"HhR4d-G-RTmlDZZmQwC5qw","attributes":{"name":"tf-TestAccApmRetentionFilterWithTraceRate-local-1744672702","rate":0.1,"trace_rate":0.5,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:456 service:my-other-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1744672704,"created_by":"frog@datadoghq.com","created_at":1744672704},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.723833ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/D_GzebETREud_eWvRSiTjg
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"D_GzebETREud_eWvRSiTjg","attributes":{"name":"tf-TestAccApmRetentionFilterWithTraceRate-local-1744672702 - second","rate":0.1,"trace_rate":0.5,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:456 service:my-other-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1744672704,"created_by":"frog@datadoghq.com","created_at":1744672704},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 383.166667ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/HhR4d-G-RTmlDZZmQwC5qw
        method: GET
      response:
            - chunked
        body: '{"errors":["retention filter with id: ''HhR4d-G-RTmlDZZmQwC5qw'' not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 234.991125ms
[...]
