---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardNote-local-1767989267","widgets":[{"definition":{"background_color":"green","content":"This is a note widget","font_size":"18","has_padding":true,"show_tick":true,"text_align":"center","tick_edge":"bottom","tick_pos":"50%","type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"xrx-rb4-6b7","title":"tf-TestAccDatadogDashboardNote-local-1767989267","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xrx-rb4-6b7/tf-testaccdatadogdashboardnote-local-1767989267","template_variables":[],"widgets":[{"definition":{"background_color":"green","content":"This is a note widget","font_size":"18","has_padding":true,"show_tick":true,"text_align":"center","tick_edge":"bottom","tick_pos":"50%","type":"note"},"id":8135265288269187}],"notify_list":[],"created_at":"2026-01-09T20:07:47.997501+00:00","modified_at":"2026-01-09T20:07:47.997501+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.456625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xrx-rb4-6b7
        method: GET
      response:
            - chunked
        body: '{"id":"xrx-rb4-6b7","title":"tf-TestAccDatadogDashboardNote-local-1767989267","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xrx-rb4-6b7/tf-testaccdatadogdashboardnote-local-1767989267","template_variables":[],"widgets":[{"definition":{"background_color":"green","content":"This is a note widget","font_size":"18","has_padding":true,"show_tick":true,"text_align":"center","tick_edge":"bottom","tick_pos":"50%","type":"note"},"id":8135265288269187}],"notify_list":[],"created_at":"2026-01-09T20:07:47.997501+00:00","modified_at":"2026-01-09T20:07:47.997501+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.068708ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xrx-rb4-6b7
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"xrx-rb4-6b7"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 320.285958ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xrx-rb4-6b7
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID xrx-rb4-6b7 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 79.461125ms
