---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"severity":"high","type":"set"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRulesOrder-local-1788858046-b","rule":{"finding_types":["secret"],"query":"env:dev"}},"type":"severity_modifier_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
        method: POST
      response:
        body: '{"data":{"id":"25082968-44e5-4818-9968-03f507524b48","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"high"},"created_at":1788858051571,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858051571,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRulesOrder-local-1788858046-b","rule":{"finding_types":["secret"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 305.3565ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"2cedebfc-d88b-4922-bbce-9c3aff969eda","type":"severity_modifier_rules"},{"id":"25082968-44e5-4818-9968-03f507524b48","type":"severity_modifier_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"severity_modifier_rules","id":"2cedebfc-d88b-4922-bbce-9c3aff969eda"},{"type":"severity_modifier_rules","id":"25082968-44e5-4818-9968-03f507524b48"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 266.983334ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/2cedebfc-d88b-4922-bbce-9c3aff969eda
        method: GET
      response:
        body: '{"data":{"id":"2cedebfc-d88b-4922-bbce-9c3aff969eda","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"high"},"created_at":1788858051837,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858051837,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRulesOrder-local-1788858046-a","rule":{"finding_types":["secret"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 156.281291ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
        method: GET
      response:
        body: '{"data":[{"id":"2cedebfc-d88b-4922-bbce-9c3aff969eda","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"high"},"created_at":1788858051837,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858051837,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRulesOrder-local-1788858046-a","rule":{"finding_types":["secret"],"query":"env:dev"}}},{"id":"25082968-44e5-4818-9968-03f507524b48","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"high"},"created_at":1788858051571,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858051571,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRulesOrder-local-1788858046-b","rule":{"finding_types":["secret"],"query":"env:dev"}}}],"meta":{"page":{"total_filtered_count":2}},"links":{"first":"/api/v2/security/findings/automation/severity_modifier_rules?page[size]=1000\u0026page[number]=0","last":"/api/v2/security/findings/automation/severity_modifier_rules?page[size]=1000\u0026page[number]=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 177.415875ms
[...]
    - id: 39
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/2cedebfc-d88b-4922-bbce-9c3aff969eda
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 165.982417ms
[...]
