---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
        body: '{"data":{"id":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com","type":"gcp_sts_delegate","attributes":{"delegate_account_email":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 45.776375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":false,"client_email":"tf-TestAccIntGcpStsMetricNamespaceConfigs-local-1768506433@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":false,"is_security_command_center_enabled":false,"monitored_resource_configs":[],"region_filter_configs":[]},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: POST
      response:
        body: '{"data":{"id":"7cca1704-4b32-4453-bf2c-c884ab0a6e40","type":"gcp_service_account","attributes":{"account_tags":[],"automute":false,"client_email":"tf-TestAccIntGcpStsMetricNamespaceConfigs-local-1768506433@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_bq_datasets_monitoring_enabled":false,"is_bq_jobs_monitoring_enabled":false,"is_cspm_enabled":false,"is_global_location_enabled":true,"is_per_project_quota_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[{"id":"prometheus","disabled":true,"filters":[]}],"monitored_resource_configs":[],"region_filter_configs":[],"resource_collection_enabled":true}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 307.711709ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: GET
      response:
        body: '{"data":[{"id":"2df0a05b-444a-44d8-8599-0012e3da9213","type":"gcp_service_account","attributes":{"account_tags":[],"automute":true,"client_email":"sujay-test-region-filter@datadog-gcp-ints-test-d.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_bq_datasets_monitoring_enabled":false,"is_bq_jobs_monitoring_enabled":false,"is_cspm_enabled":false,"is_global_location_enabled":false,"is_per_project_quota_enabled":true,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[{"id":"prometheus","disabled":true,"filters":[]}],"monitored_resource_configs":[],"region_filter_configs":["eu","europe-west9","me-central2","nam4","us-west2"],"resource_collection_enabled":true},"meta":{"accessible_projects":["datadog-gcp-ints-test-d"]}},{"id":"7cca1704-4b32-4453-bf2c-c884ab0a6e40","type":"gcp_service_account","attributes":{"account_tags":[],"automute":false,"client_email":"tf-TestAccIntGcpStsMetricNamespaceConfigs-local-1768506433@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_bq_datasets_monitoring_enabled":false,"is_bq_jobs_monitoring_enabled":false,"is_cspm_enabled":false,"is_global_location_enabled":true,"is_per_project_quota_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[{"id":"prometheus","disabled":true,"filters":[]}],"monitored_resource_configs":[],"region_filter_configs":[],"resource_collection_enabled":true},"meta":{"accessible_projects":[]}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 41.165541ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":false,"cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":true,"is_security_command_center_enabled":false,"monitored_resource_configs":[],"region_filter_configs":[]},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integra[...]
[...]
