---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"datadog-metrics-dest-1","inputs":["filter-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"filter-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"*","type":"filter"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"datadog metrics destination test"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"24f26ff0-f20d-11f0-9e1c-da7ad0900002","type":"pipelines","attributes":{"name":"datadog metrics destination test","config":{"destinations":[{"id":"datadog-metrics-dest-1","inputs":["filter-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"filter-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"*","type":"filter"}]}],"processors":[{"enabled":true,"id":"filter-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"*","type":"filter"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 425.225666ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/24f26ff0-f20d-11f0-9e1c-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"24f26ff0-f20d-11f0-9e1c-da7ad0900002","type":"pipelines","attributes":{"name":"datadog metrics destination test","config":{"destinations":[{"id":"datadog-metrics-dest-1","inputs":["filter-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"filter-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"*","type":"filter"}]}],"processors":[{"enabled":true,"id":"filter-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"*","type":"filter"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 225.369583ms
[...]
