---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"_metadata":{"created_from":"terraform"},"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateChangeRuleType-local-1766049894","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"931764a8-d52f-4f7d-9baa-3261e225619e","type":"deployment_gate","attributes":{"created_at":"2025-12-18T09:24:55.64732Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateChangeRuleType-local-1766049894","service":"my-service","updated_at":"2025-12-18T09:24:55.64732Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 112.957458ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"_metadata":{"created_from":"terraform"},"attributes":{"dry_run":false,"name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/931764a8-d52f-4f7d-9baa-3261e225619e/rules
        method: POST
      response:
        body: '{"data":{"id":"26680cf5-3f4e-490c-9efe-5b8ba577485b","type":"deployment_rule","attributes":{"created_at":"2025-12-18T09:24:55.768758Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"931764a8-d52f-4f7d-9baa-3261e225619e","name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-18T09:24:55.768758Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 121.116542ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/931764a8-d52f-4f7d-9baa-3261e225619e
        method: GET
      response:
        body: '{"data":{"id":"931764a8-d52f-4f7d-9baa-3261e225619e","type":"deployment_gate","attributes":{"created_at":"2025-12-18T09:24:55.64732Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateChangeRuleType-local-1766049894","service":"my-service","updated_at":"2025-12-18T09:24:55.64732Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 122.514166ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/931764a8-d52f-4f7d-9baa-3261e225619e/rules
        method: GET
      response:
        body: '{"data":{"id":"931764a8-d52f-4f7d-9baa-3261e225619e","type":"list_deployment_rules","attributes":{"rules":[{"id":"26680cf5-3f4e-490c-9efe-5b8ba577485b","name":"test_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-18T09:24:55.768758Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-18T09:24:55.768758Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"931764a8-d52f-4f7d-9baa-3261e225619e","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 125.208541ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"_metadata":{"created_from":"terraform"},"attributes":{"dry_run":false,"name":"test_rule","options":{"duration":300,"query":"service:test"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/931764a8-d52f-4f7d-9baa-3261e225619e/rules
        method: POST
      response:
        body: '{"data":{"id":"308fe604-81b7-4a0c-aaf9-48ddb0e07fe2","type":"deployment_rule","attributes":{"created_at":"2025-12-18T09:24:57.901589Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"931764a8-d52f-4f7d-9baa-3261e225619e","name":"test_rule","options":{"query":"service:test","duration":300},"type":"monitor","updated_at":"2025-12-18T09:24:57.901589Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 125.909167ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/931764a8-d52f-4f7d-9baa-3261e225619e/rules/26680cf5-3f4e-490c-9efe-5b8ba577485b
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 117.320458ms
[...]
