---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"filter":{"query":"error_code:123 service:my-service"},"filter_type":"spans-sampling-processor","name":"tf-TestAccApmRetentionFilter-local-1758619286","rate":0.1},"type":"apm_retention_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"0-PtBcLXRQ-XHXNhztooRw","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1758619286","rate":0.1,"trace_rate":0.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1758619287,"created_by":"frog@datadoghq.com","created_at":1758619287},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 372.883208ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/0-PtBcLXRQ-XHXNhztooRw
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"0-PtBcLXRQ-XHXNhztooRw","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1758619286","rate":0.1,"trace_rate":0.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1758619287,"created_by":"frog@datadoghq.com","created_at":1758619287},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.2245ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/alh7W0IsQXmaBl6Zsyf3Sg
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"alh7W0IsQXmaBl6Zsyf3Sg","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1758619286 - second","rate":0.1,"trace_rate":0.0,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1758619287,"created_by":"frog@datadoghq.com","created_at":1758619287},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.330833ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/0-PtBcLXRQ-XHXNhztooRw
        method: GET
      response:
            - chunked
        body: '{"errors":["retention filter with id: ''0-PtBcLXRQ-XHXNhztooRw'' not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 209.343833ms
[...]
