---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroup_Basic-local-1775681508"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019d6edd-969f-736b-8cea-a3a61f1d3385","type":"org_groups","attributes":{"created_at":"2026-04-08T20:51:49.023Z","modified_at":"2026-04-08T20:51:49.025963Z","name":"tf-TestAccDatadogOrgGroup_Basic-local-1775681508","owner_org_site":"us1.staging.dog","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 39.674871ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019d6edd-969f-736b-8cea-a3a61f1d3385
        method: GET
      response:
        body: '{"data":{"id":"019d6edd-969f-736b-8cea-a3a61f1d3385","type":"org_groups","attributes":{"created_at":"2026-04-08T20:51:49.023Z","modified_at":"2026-04-08T20:51:49.025963Z","name":"tf-TestAccDatadogOrgGroup_Basic-local-1775681508","owner_org_site":"us1.staging.dog","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 45.085225ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019d6edd-969f-736b-8cea-a3a61f1d3385
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"org group 019d6edd-969f-736b-8cea-a3a61f1d3385 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 32.614448ms
