---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-test-tag-rule-softdelete-1787677052","rule_type":"surfacing","scope":"tf-test-tag-rule-softdelete-1787677052","source":"logs","tag_key":"env","tag_value_patterns":["prod","staging"]},"type":"tag_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/governance/tag_rules
        method: POST
      response:
        body: '{"data":{"id":"2119","type":"tag_policy","attributes":{"created_at":"2026-08-25T16:57:36.36887Z","created_by":"f6188377-1854-42ac-9174-a7a1944647cb","enabled":true,"modified_at":"2026-08-25T16:57:36.36887Z","modified_by":"f6188377-1854-42ac-9174-a7a1944647cb","name":"tf-test-tag-rule-softdelete-1787677052","negated":false,"policy_name":"tf-test-tag-rule-softdelete-1787677052","policy_type":"surfacing","required":false,"rule_type":"surfacing","scope":"tf-test-tag-rule-softdelete-1787677052","source":"logs","tag_key":"env","tag_value_patterns":["prod","staging"],"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 294.887372ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/governance/tag_rules/2119
        method: GET
      response:
        body: '{"data":{"id":"2119","type":"tag_policy","attributes":{"created_at":"2026-08-25T16:57:36.36887Z","created_by":"f6188377-1854-42ac-9174-a7a1944647cb","enabled":true,"modified_at":"2026-08-25T16:57:36.36887Z","modified_by":"f6188377-1854-42ac-9174-a7a1944647cb","name":"tf-test-tag-rule-softdelete-1787677052","negated":false,"policy_name":"tf-test-tag-rule-softdelete-1787677052","policy_type":"surfacing","required":false,"rule_type":"surfacing","scope":"tf-test-tag-rule-softdelete-1787677052","source":"logs","tag_key":"env","tag_value_patterns":["prod","staging"],"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 114.87468ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/governance/tag_rules/2119?hard_delete=false
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 126.687444ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/governance/tag_rules/2119
        method: GET
      response:
        body: '{"data":{"id":"2119","type":"tag_policy","attributes":{"created_at":"2026-08-25T16:57:36.36887Z","created_by":"f6188377-1854-42ac-9174-a7a1944647cb","deleted_at":"2026-08-25T16:57:40.178552Z","deleted_by":"f6188377-1854-42ac-9174-a7a1944647cb","enabled":false,"modified_at":"2026-08-25T16:57:40.178552Z","modified_by":"f6188377-1854-42ac-9174-a7a1944647cb","name":"tf-test-tag-rule-softdelete-1787677052","negated":false,"policy_name":"tf-test-tag-rule-softdelete-1787677052","policy_type":"surfacing","required":false,"rule_type":"surfacing","scope":"tf-test-tag-rule-softdelete-1787677052","source":"logs","tag_key":"env","tag_value_patterns":["prod","staging"],"version":2}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 103.346917ms
