---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"new@example.com","name":"testTerraformServiceAccountApplicationKeys","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"7d0117b6-04a7-11ee-8c13-5eb7c0ddf338","attributes":{"name":"testTerraformServiceAccountApplicationKeys","handle":"7d0117b6-04a7-11ee-8c13-5eb7c0ddf338","created_at":"2023-06-06T20:19:49.834482+00:00","modified_at":"2023-06-06T20:19:49.838116+00:00","email":"new@example.com","icon":"https://secure.gravatar.com/avatar/b681d72feaf8bf6a93d9a8ab86679ec3?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccServiceAccountApplicationKeyBasic-local-1686082788"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts/7d0117b6-04a7-11ee-8c13-5eb7c0ddf338/application_keys
    method: POST
  response:
    body: |
      {"data":{"type":"application_keys","id":"e0e8cbef-f0ae-4aad-ace1-30007bbf2481","attributes":{"name":"tf-TestAccServiceAccountApplicationKeyBasic-local-1686082788","created_at":"2023-06-06T20:19:50.072157+00:00","last4":"1940","key":"86c814b6b78eb9d1e99be70e85bfc6edb4121940","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"7d0117b6-04a7-11ee-8c13-5eb7c0ddf338"}},"leak_information":{"data":null}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/7d0117b6-04a7-11ee-8c13-5eb7c0ddf338
    method: GET
  response:
    body: |
      {"data":{"type":"users","id":"7d0117b6-04a7-11ee-8c13-5eb7c0ddf338","attributes":{"name":"testTerraformServiceAccountApplicationKeys","handle":"7d0117b6-04a7-11ee-8c13-5eb7c0ddf338","created_at":"2023-06-06T20:19:49.834482+00:00","modified_at":"2023-06-06T20:19:49.838116+00:00","email":"new@example.com","icon":"https://secure.gravatar.com/avatar/b681d72feaf8bf6a93d9a8ab86679ec3?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/service_accounts/7d0117b6-04a7-11ee-8c13-5eb7c0ddf338/application_keys/e0e8cbef-f0ae-4aad-ace1-30007bbf2481
    method: GET
  response:
    body: |
      {"data":{"type":"application_keys","id":"e0e8cbef-f0ae-4aad-ace1-30007bbf2481","attributes":{"name":"tf-TestAccServiceAccountApplicationKeyBasic-local-1686082788","created_at":"2023-06-06T20:19:50.072157+00:00","last4":"1940","scopes":null},"relationships":{"leak_information":{"data":null}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
