---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"action"},"id":"tf_TestAccRumMetricAttributes_local_1758619175","type":"rum_metrics"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/config/metrics
        method: POST
      response:
        body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1758619175","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","group_by":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 618.145583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/config/metrics/tf_TestAccRumMetricAttributes_local_1758619175
        method: GET
      response:
        body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1758619175","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","group_by":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 138.372584ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"action"},"id":"tf_TestAccRumMetricAttributes_local_1758619175","type":"rum_metrics"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/config/metrics
        method: POST
      response:
        body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1758619175","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"action","group_by":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 211.946625ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","filter":{"query":"@service:web-ui"}},"id":"tf_TestAccRumMetricAttributes_local_1758619175","type":"rum_metrics"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/config/metrics
        method: POST
      response:
        body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1758619175","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","filter":{"query":"@service:web-ui"},"group_by":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 404.931042ms
[...]
    - id: 19
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","group_by":[{"path":"@os","tag_name":"os"},{"path":"@service","tag_name":"service"},{"path":"path_only","tag_name":"path_only"}]},"id":"tf_TestAccRumMetricAttributes_local_1758619175","type":"rum_metrics"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/config/metrics
        method: POST
      response:
        body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1758619175","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","group_by":[{"path":"@os","tag_name":"os"},{"path":"@service","tag_name":"service"},{"path":"path_only","tag_name":"path_only"}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 208.804584ms
[...]
    - id: 28
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"session","uniqueness":{"when":"match"}},"id":"tf_TestAccRumMetricAttributes_local_1758619175","type":"rum_metrics"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/config/metrics
        method: POST
      response:
        body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1758619175","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count"},"event_type":"session","group_by":[],"uniqueness":{"when":"match"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 314.234667ms
[...]
