---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["remap-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"remap-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"remap-processor-1","include":"*","remaps":[{"drop_on_error":false,"enabled":true,"include":"service:web","name":"Parse JSON from message","source":". = parse_json!(string!(.message))"},{"drop_on_error":false,"enabled":false,"include":"env:prod","name":"Add timestamp","source":".timestamp = now()"}],"type":"custom_processor"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"remap-vrl-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"06ade934-f20d-11f0-9e04-da7ad0900002","type":"pipelines","attributes":{"name":"remap-vrl-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["remap-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"remap-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"remap-processor-1","include":"*","remaps":[{"drop_on_error":false,"enabled":true,"include":"service:web","name":"Parse JSON from message","source":". = parse_json!(string!(.message))"},{"drop_on_error":false,"enabled":false,"include":"env:prod","name":"Add timestamp","source":".timestamp = now()"}],"type":"custom_processor"}]}],"processors":[{"enabled":true,"id":"remap-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"remap-processor-1","include":"*","remaps":[{"drop_on_error":false,"enabled":true,"include":"service:web","name":"Parse JSON from message","source":". = parse_json!(string!(.message))"},{"drop_on_error":false,"enabled":false,"include":"env:prod","name":"Add timestamp","source":".timestamp = now()"}],"type":"custom_processor"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 511.354084ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/06ade934-f20d-11f0-9e04-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"06ade934-f20d-11f0-9e04-da7ad0900002","type":"pipelines","attributes":{"name":"remap-vrl-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["remap-group-1"],"type":"datadog_logs"}],"pipel[...]
[...]
