---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardGeomap_import-local-1614624440","widgets":[{"definition":{"requests":[{"q":"avg:system.load.1{*}"}],"style":{"palette":"hostmap_blues","palette_flip":false},"type":"geomap","view":{"focus":"WORLD"}}},{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"}],"requests":[{"log_query":{"compute":{"aggregation":"count"},"index":"*","search":{"query":""}}}],"style":{"palette":"hostmap_blues","palette_flip":false},"time":{"live_span":"1h"},"type":"geomap","view":{"focus":"WORLD"}}},{"definition":{"requests":[{"rum_query":{"compute":{"aggregation":"count"},"index":"*","search":{"query":""}}}],"style":{"palette":"hostmap_blues","palette_flip":false},"time":{"live_span":"4h"},"type":"geomap","view":{"focus":"WORLD"}}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"i7z-h73-btb","title":"tf-TestAccDatadogDashboardGeomap_import-local-1614624440","url":"/dashboard/i7z-h73-btb/tf-testaccdatadogdashboardgeomapimport-local-1614624440","created_at":"2021-03-01T18:47:21.298453+00:00","modified_at":"2021-03-01T18:47:21.298453+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"q":"avg:system.load.1{*}"}],"type":"geomap","style":{"palette":"hostmap_blues","palette_flip":false},"view":{"focus":"WORLD"}},"id":5257848164284472},{"definition":{"style":{"palette":"hostmap_blues","palette_flip":false},"custom_links":[{"link":"https://app.datadoghq.com/dashboard/lists","label":"Test Custom Link label"}],"time":{"live_span":"1h"},"requests":[{"log_query":{"index":"*","search":{"query":""},"compute":{"aggregation":"count"}}}],"type":"geomap","view":{"focus":"WORLD"}},"id":4080615887771550},{"definition":{"requests":[{"rum_query":{"index":"*","search":{"query":""},"compute":{"aggregation":"count"}}}],"view":{"focus":"WORLD"},"type":"geomap","style":{"palette":"hostmap_blues","palette_flip":false},"time":{"live_span":"4h"}},"id":6973049843836176}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4004047"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/i7z-h73-btb
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"i7z-h73-btb","title":"tf-TestAccDatadogDashboardGeomap_import-local-1614624440","url":"/dashboard/i7z-h73-btb/tf-testaccd[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/i7z-h73-btb
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"i7z-h73-btb"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4004047"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/i7z-h73-btb
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID i7z-h73-btb not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4004047"
    status: 404 Not Found
    code: 404
    duration: ""
