---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"auth":{"strategy":"basic"},"id":"destination-1","inputs":["source-1"],"type":"amazon_opensearch"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"amazon opensearch (basic auth)"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"93efe6ea-fd1a-11f0-9d6f-da7ad0900002","type":"pipelines","attributes":{"name":"amazon opensearch (basic auth)","config":{"destinations":[{"auth":{"strategy":"basic"},"id":"destination-1","inputs":["source-1"],"type":"amazon_opensearch"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 551.641208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/93efe6ea-fd1a-11f0-9d6f-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"93efe6ea-fd1a-11f0-9d6f-da7ad0900002","type":"pipelines","attributes":{"name":"amazon opensearch (basic auth)","config":{"destinations":[{"auth":{"strategy":"basic"},"id":"destination-1","inputs":["source-1"],"type":"amazon_opensearch"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 249.757042ms
[...]
