---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"im a policy","enabled":true,"hostTags":["host_name:test_host"],"name":"zvmzeitqss"},"type":"policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
        method: POST
      response:
        body: '{"data":{"id":"qdp-ukc-h9o","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":23,"name":"zvmzeitqss","policyVersion":"1","priority":1000000070,"ruleCount":23,"updateDate":1749589636718,"updater":{"name":"Sarra ZAGHBIB","handle":"sarra.zaghbib@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 409.805542ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy/qdp-ukc-h9o
        method: GET
      response:
        body: '{"data":{"id":"qdp-ukc-h9o","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTags":["host_name:test_host"],"monitoringRulesCount":0,"name":"zvmzeitqss","policyVersion":"1","priority":1000000070,"ruleCount":0,"updateDate":1749589636718,"updater":{"name":"Sarra ZAGHBIB","handle":"sarra.zaghbib@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.027584ms
[...]
    - id: 8
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/policy/qdp-ukc-h9o
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found"}]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 279.382666ms
