---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"bulk_index":"logs-datastream","id":"destination-1","inputs":["source-1"],"type":"opensearch"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"opensearch pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"35bc8cfe-2204-11f1-9cf0-da7ad0900002","type":"pipelines","attributes":{"name":"opensearch pipeline","config":{"destinations":[{"bulk_index":"logs-datastream","id":"destination-1","inputs":["source-1"],"type":"opensearch"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 425.921875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/35bc8cfe-2204-11f1-9cf0-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"35bc8cfe-2204-11f1-9cf0-da7ad0900002","type":"pipelines","attributes":{"name":"opensearch pipeline","config":{"destinations":[{"bulk_index":"logs-datastream","id":"destination-1","inputs":["source-1"],"type":"opensearch"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 335.6585ms
[...]
