---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"Query":"service:web-api"},"type":"validate_query"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/validate-query
        method: POST
      response:
        body: '{"data":{"id":"dfd1a5de-3fd5-408e-ac9c-87ab517da4ef","type":"validate_response","attributes":{"Canonical":"service:web-api"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 43.753458ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"Add Team Tag","query":{"addition":{"key":"team","value":"backend"},"case_insensitivity":true,"if_tag_exists":"do_not_apply","query":"service:web-api"},"reference_table":null}]},"id":"tf-TestAccDatadogTagPipelineRulesetDataSource_Basic-local-1782916422","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"d3bacdc6-41d5-4a9d-8174-075bea9d5b12","type":"ruleset","attributes":{"created":{"seconds":1782916423,"nanos":648538000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1782916423,"nanos":648538000},"name":"tf-TestAccDatadogTagPipelineRulesetDataSource_Basic-local-1782916422","position":1,"rules":[{"name":"Add Team Tag","enabled":true,"query":{"query":"service:web-api","addition":{"key":"team","value":"backend"},"if_not_exists":true,"case_insensitivity":true,"if_tag_exists":"do_not_apply"},"mapping":null,"reference_table":null,"metadata":null}],"version":3718518}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 119.69375ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/d3bacdc6-41d5-4a9d-8174-075bea9d5b12
        method: GET
      response:
        body: '{"data":{"id":"d3bacdc6-41d5-4a9d-8174-075bea9d5b12","type":"ruleset","attributes":{"created":{"seconds":1782916423,"nanos":648538000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1782916423,"nanos":648538000},"name":"tf-TestAccDatadogTagPipelineRulesetDataSource_Basic-local-1782916422","position":1,"rules":[{"name":"Add Team Tag","enabled":true,"query":{"query":"service:web-api","addition":{"key":"team","value":"backend"},"if_not_exists":true,"case_insensitivity":true,"if_tag_exists":"do_not_apply"},"mapping":null,"reference_table":null,"metadata":null}],"version":3718518}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 74.09075ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/d3bacdc6-41d5-4a9d-8174-075bea9d5b12
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset d3bacdc6-41d5-4a9d-8174-075bea9d5b12 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 56.474625ms
[...]
