---
version: 1
interactions:
- request:
    body: |
      {"description":"a global variable","name":"TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1692260348","tags":["foo:bar","baz"],"value":{"secure":false,"value":"variable-value"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: |
      {"id":"2f15cdee-bf7b-4d12-923a-47f026574f38","name":"TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1692260348","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"last_error":null,"value":{"secure":false,"value":"variable-value"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1692260348"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: |
      {"data":{"type":"roles","id":"bdb6a010-3cd6-11ee-a700-da7ad0900002","attributes":{"name":"tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1692260348","created_at":"2023-08-17T08:19:09.858775+00:00","modified_at":"2023-08-17T08:19:09.902733+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"},{"type":"permissions","id":"f8e941cf-e746-11ec-b22d-da7ad0900002"},{"type":"permissions","id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002"}]}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/variables/2f15cdee-bf7b-4d12-923a-47f026574f38
    method: GET
  response:
    body: |
      {"id":"2f15cdee-bf7b-4d12-923a-47f026574f38","name":"TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1692260348","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2023-08-17T08:19:09.854039+00:00","modified_at":"2023-08-17T08:19:09.854039+00:00","parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles/bdb6a010-3cd6-11ee-a700-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"roles","id":"bdb6a010-3cd6-11ee-a700-da7ad0900002","attributes":{"name":"tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1692260348","created_at":"2023-08-17T08:19:09.858775+00:00","modified_at":"2023-08-17T08:19:09.902733+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"},{"type":"permissions","id":"f8e941cf-e746-11ec-b22d-da7ad0900002"},{"type":"permissions","id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002"}]}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/permissions
    method: GET
  response:
    body: |
      {"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","attributes":{"name":"admin","display_name":"Privileged Access","description":"Deprecated. Privileged Access (also known as Admin permission) has been replaced by more specific permissions: Access Management, Org Management, Billing Read/Write, Usage Read/Write.","created":"2018-10-19T15:35:23.734317+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard Access","description":"View and edit components in your Datadog organization that do not have explicitly defined permissions.","created":"2018-10-19T15:35:23.756736+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e","attributes":{"name":"logs_read_index_data","display_name":"Logs[...]
- request:
    body: |
      {"config":{"assertions":[],"configVariables":[{"id":"2f15cdee-bf7b-4d12-923a-47f026574f38","name":"VARIABLE_NAME","type":"global"}],"steps":[{"allowFailure":true,"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"extractedValues":[{"field":"content-length","name":"VAR_EXTRACT","parser":{"type":"regex","value":".*"},"secure":true,"type":"http_header"}],"isCritical":false,"name":"First api step","request":{"allow_insecure":true,"basicAuth":{"accessKey":"sigv4-access-key","region":"sigv4-region","secretKey":"sigv4-secret-key","serviceName":"sigv4-service-name","sessionToken":"sigv4-session-token","type":"sigv4"},"body":"this is a body","certificate":{"cert":{"content":"content-certificate","filename":"Provided in Terraform config"},"key":{"content":"content-key","filename":"key"}},"follow_redirects":true,"headers":{},"method":"GET","persistCookies":false,"proxy":{"headers":{},"url":"https://proxy.url"},"query":{"foo":"bar"},"timeout":30,"url":"https://www.datadoghq.com"},"retry":{"count":5,"interval":1000},"subtype":"http"},{"allowFailure":false,"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"extractedValues":[],"isCritical":false,"name":"Second api step","request":{"allow_insecure":true,"basicAuth":{"accessTokenUrl":"https://token.datadoghq.com","audience":"audience","clientId":"client-id","clientSecret":"client-secret","scope":"scope","tokenApiAuthentication":"header","type":"oauth-client"},"body":"","follow_redirects":true,"method":"GET","persistCookies":false,"timeout":30,"url":"https://docs.datadoghq.com"},"subtype":"http"},{"allowFailure":false,"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"extractedValues":[],"isCritical":false,"name":"Third api step","request":{"allow_insecure":true,"basicAuth":{"accessTokenUrl":"https://token.datadoghq.com","audience":"audience","clientId":"client-id","clientSecret":"client-secret","password":"password","resource":"resource","scope":"scope","tokenApiAuthentication":"body","type":"oauth-rop","username":"username"},"body":"","follow_redirects":true,"method":"GET","persistCookies":false,"timeout":30,"url":"https://docs.datadoghq.com"},"subtype":"http"},{"allowFailure":false,"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"extractedValues":[],"isCritical":false,"name":"Fourth api step","request":{"allow_insecure":true,"basicAuth":{"password":"password","type":"digest","username":"username"},"body":"","follow_redirects":true,"method":"GET","persistCookies":false,"timeout":30,"url":"https://docs.datadoghq.com"},"subtype":"http"}]},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1692260348","options":{"min_location_failed":1,"restricted_roles":["bdb6a010-3cd6-11ee-a700-da7ad0900002"],"tick_every":900},"status":"paused","subtype":"multi","tags":["multistep"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: |
      {"public_id":"gva-a5y-9na","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1692260348","status":"paused","type":"api","tags":["multistep"],"created_at":"2023-08-17T08:19:10.623846+00:00","modified_at":"2023-08-17T08:19:10.623846+00:00","config":{"assertions":[],"configVariables":[{"id":"2f15cdee-bf7b-4d12-923a-47f026574f38","name":"VARIABLE_NAME","type":"global"}],"steps":[{"allowFailure":true,"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"extractedValues":[{"field":"conte[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api/gva-a5y-9na
    method: GET
  response:
    body: |
      {"public_id":"gva-a5y-9na","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1692260348","status":"paused","type":"api","tags":["multistep"],"created_at":"2023-08-17T08:19:10.623846+00:00","modified_at":"2023-08-17T08:19:10.623846+00:00","config":{"assertions":[],"configVariables":[{"id":"2f15cdee-bf7b-4d12-923a-4[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/gva-a5y-9na
    method: GET
  response:
    body: |
      {"public_id":"gva-a5y-9na","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1692260348","status":"paused","type":"api","tags":["multistep"],"created_at":"2023-08-17T08:19:10.623846+00:00","modified_at":"2023-08-17T08:19:10.623846+00:00","config":{"assertions":[],"configVariables":[{"id":"2f15cdee-bf7b-4d12-923a-47f02[...]
[...]
- request:
    body: |
      {"public_ids":["gva-a5y-9na"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: |
      {"deleted_tests":[{"public_id":"gva-a5y-9na","deleted_at":"2023-08-17T08:19:12.647103+00:00"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/variables/2f15cdee-bf7b-4d12-923a-47f026574f38
    method: GET
  response:
    body: '{"errors":["Synthetics global variable not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
