---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
        method: GET
      response:
            - chunked
        body: '{"data":[{"id":"bc0-fow-e4j","type":"security_filters","attributes":{"exclusion_filters":[],"filtered_data_type":"logs","is_builtin":true,"is_enabled":true,"name":"all ingested logs","query":"*","version":1}},{"id":"qhn-iuy-4oc","type":"security_filters","attributes":{"exclusion_filters":[{"name":"Exclude staging","query":"source:staging"}],"filtered_data_type":"logs","is_builtin":false,"is_enabled":true,"name":"Custom security filter","query":"service:api","version":1}},{"id":"7no-kjl-tnb","type":"security_filters","attributes":{"exclusion_filters":[{"name":"first","query":"does not really match much"},{"name":"second","query":"neither does it"}],"filtered_data_type":"logs","is_bui[...]
[...]
