---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"action":{"reason":"risk_accepted","reason_description":"Accepted for dev environments only"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1782142025","rule":{"finding_types":["misconfiguration"],"query":"env:dev @severity:low"}},"type":"mute_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/mute_rules
        method: POST
      response:
        body: '{"data":{"id":"51309633-365d-4bdb-bf00-a1c9fe4b3758","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted","reason_description":"Accepted for dev environments only"},"created_at":1782142026001,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782142026001,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1782142025","rule":{"finding_types":["misconfiguration"],"query":"env:dev @severity:low"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 427.868ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/mute_rules/51309633-365d-4bdb-bf00-a1c9fe4b3758
        method: GET
      response:
        body: '{"data":{"id":"51309633-365d-4bdb-bf00-a1c9fe4b3758","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted","reason_description":"Accepted for dev environments only"},"created_at":1782142026001,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782142026001,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1782142025","rule":{"finding_types":["misconfiguration"],"query":"env:dev @severity:low"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 242.144542ms
[...]
    - id: 4
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"action":{"expire_at":4070908800000,"reason":"false_positive"},"enabled":false,"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1782142025-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:prod"}},"type":"mute_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/mute_rules/51309633-365d-4bdb-bf00-a1c9fe4b3758
        method: PUT
      response:
        body: '{"data":{"id":"51309633-365d-4bdb-bf00-a1c9fe4b3758","type":"mute_rules","attributes":{"action":{"reason":"false_positive","expire_at":4070908800000},"created_at":1782142026001,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":false,"modified_at":1782142028392,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1782142025-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 415.474833ms
[...]
    - id: 9
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/mute_rules/51309633-365d-4bdb-bf00-a1c9fe4b3758
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 136.230625ms
