---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupMembership_NoMembershipFound-local-1776881125"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019db65e-4d86-7855-9013-e010028b42bd","type":"org_groups","attributes":{"created_at":"2026-04-22T18:05:26.79Z","modified_at":"2026-04-22T18:05:26.793511Z","name":"tf-TestAccDatadogOrgGroupMembership_NoMembershipFound-local-1776881125","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 58.423796ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_memberships?filter%5Borg_uuid%5D=00000000-0000-0000-0000-000000000001
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"org group membership not found for org 00000000-0000-0000-0000-000000000001"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 47.811111ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db65e-4d86-7855-9013-e010028b42bd
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 61.777003ms
