---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"{{#is_alert}}\nTo debug this alert, \n1. Follow the error logs and see what errors the stream is encountering. \n2. If you do not find any errors, check that the table is being referenced by DBT entities because Pyairbyte is only triggered in those cases.\n    \n{{/is_alert}}\n    \n{{#is_renotify}}\n{{table.name}} is still stale and has not been refreshed since {{eval \"round(value/86400, 2)\"}} days.\n{{/is_renotify}}\n    \n{{#is_alert_recovery}}\n{{table.name}} had a successful sync and is fresh!\n{{/is_alert_recovery}}\n    \n    \n[View stream error logs](https://app.datadoghq.com/logs?query=service:%28mortar-luigi-runner%20OR%20mortar-kubernetes-job%29%20-status:debug%20stream_name:{{eval \"strip(table.name, '_airbyte_raw_')\"}}\u0026agg_m=count\u0026agg_m_source=base\u0026agg_t=count\u0026cols=host%2Cservice\u0026fromUser=true\u0026index=mortar%2Cdata-eng\u0026messageDisplay=inline\u0026refresh_mode=sliding\u0026storage=hot\u0026stream_sort=desc\u0026viz=stream\u0026from_ts=1770298423747\u0026to_ts=1770903223747\u0026live=true)\n[View lineage](https://app.datadoghq.com/data-obs/lineage?anchors=search%20for%20%2A%20where%20%60name%3A{{table.name}}%60\u0026fromUser=false\u0026group_id=\u0026mode=map\u0026scope_types=\u0026start=1769778454487\u0026end=1770383254487\u0026paused=false)\n    \n@slack-dna-integrations-ops-low-prio","name":"tf-TestAccDatadogMonitor_DataQuality_WithoutMonitorOptions-local-1790691305","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notification_preset_name":"hide_all","notify_no_data":false,"renotify_interval":1440,"renotify_statuses":["alert"],"require_full_window":false,"thresholds":{"critical":129600},"variables":[{"data_source":"data_quality_metrics","filter":"search for database_table where `name:_airbyte_raw_* -schema:(staging_* OR test_*)`","group_by":["entity_id","table","schema","database"],"measure":"freshness","name":"query1","schema_version":"0.0.1"}]},"priority":3,"query":"formula(\"query1\").last(\"30m\") \u003e 129600","restricted_roles":null,"tags":["team:analytics-data-platform-integrations","terraform:true","terraform_path:prod/data-and-analytics-integrations","terraform_repo:DataDog/terraform-config"],"type":"data-quality alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.120042ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/326271258
        method: GET
      response:
            - chunked
        body: |
            {"id":326271258,"org_id":321813,"type":"data-quality alert","name":"tf-TestAccDatadogMonitor_DataQuality_WithoutMonitorOptions-local-1790691305","message":"{{#is_alert}}\nTo debug this alert, \n1. Follow the error logs and see what errors the stream is encountering. \n2. If you do not find any errors, check that the table is being referenced by DBT entities because Pyairbyte is only triggered in those cases.\n    \n{{/is_alert}}\n    \n{{#is_renotify}}\n{{table.name}} is still stale and has not been refreshed since {{ev[...]
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/326271258?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":326271258,"org_id":321813,"type":"data-quality alert","name":"tf-TestAccDatadogMonitor_DataQuality_WithoutMonitorOptions-local-1790691305","message":"{{#is_alert}}\nTo debug this alert, \n1. Follow the error logs and [...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/326271258
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":326271258}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.878166ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/326271258
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 90.457ms
