---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"test description","handle":"handle-54746","icon_url":"test url","name":"new-framework-terraform","requirements":[{"controls":[{"name":"control1","rules_id":["def-000-be9"]}],"name":"requirement1"},{"controls":[{"name":"control2","rules_id":["def-000-cea"]},{"name":"control2.2","rules_id":["def-000-be9"]}],"name":"requirement2"},{"controls":[{"name":"control3","rules_id":["def-000-be9","def-000-cea"]}],"name":"requirement3"}],"version":"version-61251"},"type":"custom_framework"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
        method: POST
      response:
        body: '{"data":{"id":"handle-54746-version-61251","type":"custom_framework","attributes":{"handle":"handle-54746","version":"version-61251"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 541.320792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/handle-54746/version-61251
        method: GET
      response:
        body: '{"data":{"id":"handle-54746-version-61251","type":"custom_framework","attributes":{"description":"test description","handle":"handle-54746","icon_url":"test url","name":"new-framework-terraform","requirements":[{"name":"requirement1","controls":[{"name":"control1","rules_id":["def-000-be9"]}]},{"name":"requirement2","controls":[{"name":"control2","rules_id":["def-000-cea"]},{"name":"control2.2","rules_id":["def-000-be9"]}]},{"name":"requirement3","controls":[{"name":"control3","rules_id":["def-000-be9","def-000-cea"]}]}],"version":"version-61251"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 693.301709ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/handle-54746/version-61251
        method: GET
      response:
        body: '{"errors":[{"status":"400","title":"Bad Request"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 64.415625ms
