---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"reason":"risk_accepted","reason_description":"Accepted for dev environments only"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1782479864","rule":{"finding_types":["misconfiguration"],"query":"env:dev @severity:low"}},"type":"mute_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
        method: POST
      response:
        body: '{"data":{"id":"278a6b71-9b26-46ab-bef6-c9e7d3db1de6","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted","reason_description":"Accepted for dev environments only"},"created_at":1782479865345,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782479865345,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1782479864","rule":{"finding_types":["misconfiguration"],"query":"env:dev @severity:low"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 497.126375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/278a6b71-9b26-46ab-bef6-c9e7d3db1de6
        method: GET
      response:
        body: '{"data":{"id":"278a6b71-9b26-46ab-bef6-c9e7d3db1de6","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted","reason_description":"Accepted for dev environments only"},"created_at":1782479865345,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782479865345,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1782479864","rule":{"finding_types":["misconfiguration"],"query":"env:dev @severity:low"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 143.229042ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"expire_at":4070908800000,"reason":"false_positive"},"enabled":false,"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1782479864-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:prod"}},"type":"mute_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/278a6b71-9b26-46ab-bef6-c9e7d3db1de6
        method: PUT
      response:
        body: '{"data":{"id":"278a6b71-9b26-46ab-bef6-c9e7d3db1de6","type":"mute_rules","attributes":{"action":{"reason":"false_positive","expire_at":4070908800000},"created_at":1782479865345,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":false,"modified_at":1782479867399,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1782479864-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 249.867ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/278a6b71-9b26-46ab-bef6-c9e7d3db1de6
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 109.822292ms
