---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"daily_limit":200000,"daily_limit_reset":{"reset_time":"10:00","reset_utc_offset":"+02:00"},"daily_limit_warning_threshold_percentage":70,"exclusion_filters":[],"filter":{"query":"non-existent-query"},"name":"tf-testaccdatadoglogsindex-basic-local-1780385574","num_flex_logs_retention_days":180,"num_retention_days":15,"tags":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs/config/indexes
        method: POST
      response:
            - chunked
        body: |
            {"name":"tf-testaccdatadoglogsindex-basic-local-1780385574","filter":{"query":"non-existent-query"},"num_retention_days":15,"daily_limit":200000,"is_rate_limited":false,"daily_limit_reset":{"reset_time":"10:00","reset_utc_offset":"+02:00"},"daily_limit_warning_threshold_percentage":70.0,"exclusion_filters":[],"tags":[],"num_flex_logs_retention_days":180}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 565.00775ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindex-basic-local-1780385574
        method: GET
      response:
            - chunked
        body: |
            {"name":"tf-testaccdatadoglogsindex-basic-local-1780385574","filter":{"query":"non-existent-query"},"num_retention_days":15,"daily_limit":200000,"is_rate_limited":false,"daily_limit_reset":{"reset_time":"10:00","reset_utc_offset":"+02:00"},"daily_limit_warning_threshold_percentage":70.0,"exclusion_filters":[],"tags":[],"num_flex_logs_retention_days":180}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.065291291s
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"daily_limit":20000,"daily_limit_reset":{"reset_time":"12:00","reset_utc_offset":"-02:00"},"daily_limit_warning_threshold_percentage":99.99,"exclusion_filters":[{"filter":{"query":"app:coredns","sample_attribute":"@request_id","sample_rate":0.97},"is_enabled":true,"name":"Filter coredns logs"}],"filter":{"query":"test:query"},"num_flex_logs_retention_days":180,"num_retention_days":15,"tags":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindex-basic-local-1780385574
        method: PUT
      response:
            - chunked
        body: |
            {"name":"tf-testaccdatadoglogsindex-basic-local-1780385574","filter":{"query":"test:query"},"num_retention_days":15,"daily_limit":20000,"is_rate_limited":false,"daily_limit_reset":{"reset_time":"12:00","reset_utc_offset":"-02:00"},"daily_limit_warning_threshold_percentage":99.99,"exclusion_filters":[{"name":"Filter coredns logs","is_enabled":true,"filter":{"query":"app:coredns","sample_rate":0.97,"sample_attribute":"@request_id"}}],"tags":[],"num_flex_logs_retention_days":180}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.33367s
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"daily_limit":20000,"daily_limit_reset":{"reset_time":"12:00","reset_utc_offset":"-02:00"},"daily_limit_warning_threshold_percentage":99.99,"disable_daily_limit":true,"exclusion_filters":[],"filter":{"query":"test:query"},"num_flex_logs_retention_days":180,"num_retention_days":15,"tags":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindex-basic-local-1780385574
        method: PUT
      response:
            - chunked
        body: |
            {"name":"tf-testaccdatadoglogsindex-basic-local-1780385574","filter":{"query":"test:query"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"tags":[],"num_flex_logs_retention_days":180}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 405.114292ms
[...]
    - id: 17
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindex-basic-local-1780385574-flex
        method: GET
      response:
            - chunked
        body: |
            {"name":"tf-testaccdatadoglogsindex-basic-local-1780385574-flex","filter":{"query":"non-existent-flex-query"},"num_retention_days":0,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"tags":[],"num_flex_logs_retention_days":360}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.207563833s
[...]
