---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccMonitor_Fwprovider_ZeroDelay-local-1756247449","options":{"include_tags":true,"new_host_delay":0,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":2,"critical_recovery":1.5,"warning":1,"warning_recovery":0.5}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.9705ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccMonitor_Fwprovider_ZeroDelay-local-1756247449","options":{"include_tags":true,"new_host_delay":0,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":2,"critical_recovery":1.5,"warning":1,"warning_recovery":0.5}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":187417223,"org_id":321813,"type":"query alert","name":"tf-TestAccMonitor_Fwprovider_ZeroDelay-local-1756247449","message":"some message Notify: @hipchat-channel","tags":[],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"include_tags":true,"new_host_delay":0,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":2.0,"critical_recovery":1.5,"warning":1.0,"warning_recovery":0.5},"silenced":{}},"multi":true,"created_at":1756247450000,"created":"2025-08-26T22:30:50.199553+00:00","modified":"2025-08-26T22:30:50.199553+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.284292ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccMonitor_Fwprovider_ZeroDelay-local-1756247449","options":{"include_tags":true,"new_host_delay":0,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":2,"critical_recovery":1.5,"warning":1,"warning_recovery":0.5}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/187417223/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.976791ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/187417223
        method: GET
      response:
            - chunked
        body: |
            {"id":187417223,"org_id":321813,"type":"query alert","name":"tf-TestAccMonitor_Fwprovider_ZeroDelay-local-1756247449","message":"some message Notify: @hipchat-channel","tags":[],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"include_tags":true,"new_host_delay":0,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":2.0,"critical_recovery":1.5,"warning":1.0,"warning_recovery":0.5},"silenced":{}},"multi":true,"created_at":1756247450000,"created":"2025-08-26T22:30:50.199553+00:00","modified":"2025-08-26T22:30:50.199553+00:00","deleted":null,"priority":null,"restricted_roles":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.499958ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/187417223
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":187417223}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 210.066958ms
