---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1758619061","published":false,"spec":{"steps":[],"triggers":[{"startStepNames":[],"workflowTrigger":{}}]},"tags":["foo:bar","service:foo","team:bar"],"webhookSecret":""},"type":"workflows"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/workflows
        method: POST
      response:
        body: '{"data":{"id":"dbe15dda-fdd8-4043-96a6-e9cbc18c1c6b","type":"workflows","attributes":{"createdAt":"2025-09-23T09:17:42.115219Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1758619061","published":false,"spec":{"triggers":[{"startStepNames":[],"workflowTrigger":{}}],"steps":[]},"systemTags":[],"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2025-09-23T09:17:42.115219Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 160.955375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/dbe15dda-fdd8-4043-96a6-e9cbc18c1c6b
        method: GET
      response:
        body: '{"data":{"id":"dbe15dda-fdd8-4043-96a6-e9cbc18c1c6b","type":"workflows","attributes":{"createdAt":"2025-09-23T09:17:42.115219Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1758619061","published":false,"spec":{"triggers":[{"startStepNames":[],"workflowTrigger":{}}],"steps":[]},"systemTags":[],"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2025-09-23T09:17:42.115219Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 161.798333ms
[...]
