---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardAlertGraph-local-1615587218","widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"}},{"definition":{"alert_id":"895606","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"alert_graph","viz_type":"toplist"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"qin-aa5-de8","title":"tf-TestAccDatadogDashboardAlertGraph-local-1615587218","url":"/dashboard/qin-aa5-de8/tf-testaccdatadogdashboardalertgraph-local-1615587218","created_at":"2021-03-12T22:13:40.769141+00:00","modified_at":"2021-03-12T22:13:40.769141+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"},"id":4225635627462113},{"definition":{"title_size":"16","viz_type":"toplist","title":"Widget Title","title_align":"right","alert_id":"895606","time":{"live_span":"1h"},"type":"alert_graph"},"id":131913911346488}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4088130"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/qin-aa5-de8
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"qin-aa5-de8","title":"tf-TestAccDatadogDashboardAlertGraph-local-1615587218","url":"/dashboard/qin-aa5-de8/tf-testaccdatadogdashboardalertgraph-local-1615587218","created_at":"2021-03-12T22:13:40.769141+00:00","modified_at":"2021-03-12T22:13:40.769141+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"},"id":4225635627462113},{"definition":{"title_size":"16","viz_type":"toplist","title":"Widget Title","title_align":"right","alert_id":"895606","time":{"live_span":"1h"},"type":"alert_graph"},"id":131913911346488}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      X-Dd-Version:
      - "35.4088130"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/qin-aa5-de8
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"qin-aa5-de8"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4088130"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/qin-aa5-de8
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID qin-aa5-de8 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4088130"
    status: 404 Not Found
    code: 404
    duration: ""
