---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardGeomap_import-local-1614345887","widgets":[{"definition":{"requests":[{"q":"avg:system.load.1{*}"}],"style":{"palette":"hostmap_blues","palette_flip":false},"type":"geomap","view":{"focus":"WORLD"}}},{"definition":{"requests":[{"log_query":{"compute":{"aggregation":"count"},"index":"*","search":{"query":""}}}],"style":{"palette":"hostmap_blues","palette_flip":false},"time":{"live_span":"1h"},"type":"geomap","view":{"focus":"WORLD"}}},{"definition":{"requests":[{"rum_query":{"compute":{"aggregation":"count"},"index":"*","search":{"query":""}}}],"style":{"palette":"hostmap_blues","palette_flip":false},"time":{"live_span":"4h"},"type":"geomap","view":{"focus":"WORLD"}}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"xtq-cs2-rdf","title":"tf-TestAccDatadogDashboardGeomap_import-local-1614345887","url":"/dashboard/xtq-cs2-rdf/tf-testaccdatadogdashboardgeomapimport-local-1614345887","created_at":"2021-02-26T13:24:48.078630+00:00","modified_at":"2021-02-26T13:24:48.078630+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"q":"avg:system.load.1{*}"}],"type":"geomap","style":{"palette":"hostmap_blues","palette_flip":false},"view":{"focus":"WORLD"}},"id":8909217722318498},{"definition":{"requests":[{"log_query":{"index":"*","search":{"query":""},"compute":{"aggregation":"count"}}}],"view":{"focus":"WORLD"},"type":"geomap","style":{"palette":"hostmap_blues","palette_flip":false},"time":{"live_span":"1h"}},"id":5167480637545580},{"definition":{"requests":[{"rum_query":{"index":"*","search":{"query":""},"compute":{"aggregation":"count"}}}],"view":{"focus":"WORLD"},"type":"geomap","style":{"palette":"hostmap_blues","palette_flip":false},"time":{"live_span":"4h"}},"id":3745296539424475}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.3988770"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/xtq-cs2-rdf
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"xtq-cs2-rdf","title":"tf-TestAccDatadogDashboardGeomap_import-local-1614345887","url":"/dashboard/xtq-cs2-rdf/tf-testaccd[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/xtq-cs2-rdf
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"xtq-cs2-rdf"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.3988770"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/xtq-cs2-rdf
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID xtq-cs2-rdf not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3988770"
    status: 404 Not Found
    code: 404
    duration: ""
