version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"api_key":"tf-TestAccIntegrationConfluentAccountUpdated-local-1680634555","api_secret":"test-api-secret-123","tags":["foo:bar"]},"type":"confluent-cloud-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts
    method: POST
    id: 0
  response:
    body: |
      {"data":{"type":"confluent-cloud-accounts","attributes":{"api_key":"tf-TestAccIntegrationConfluentAccountUpdated-local-1680634555","tags":["foo:bar"],"resources":[]},"id":"2vc2ry3vdk"}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/2vc2ry3vdk
    method: GET
    id: 1
  response:
    body: |
      {"data":{"type":"confluent-cloud-accounts","id":"2vc2ry3vdk","attributes":{"tags":["foo:bar"],"resources":[],"api_key":"tf-TestAccIntegrationConfluentAccountUpdated-local-1680634555"}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
