---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccteamnotificationruleempty-local-1768214751","name":"tf-testaccteamnotificationruleempty-local-1768214751"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"004a0266-b363-434a-94d0-45173ed26184","attributes":{"name":"tf-testaccteamnotificationruleempty-local-1768214751","handle":"tf-testaccteamnotificationruleempty-local-1768214751","summary":"Example team","description":"Example team","avatar":null,"banner":2,"visible_modules":[],"hidden_modules":[],"created_at":"2026-01-12T10:45:55.042832+00:00","modified_at":"2026-01-12T10:45:55.042842+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/004a0266-b363-434a-94d0-45173ed26184/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/004a0266-b363-434a-94d0-45173ed26184/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 627.159583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":false}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/004a0266-b363-434a-94d0-45173ed26184/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"36d8b22c-8a96-472b-874a-d045769b5986","type":"team_notification_rules"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 202.105167ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/004a0266-b363-434a-94d0-45173ed26184
        method: GET
      response:
        body: '{"data":{"id":"004a0266-b363-434a-94d0-45173ed26184","type":"team","attributes":{"created_at":"2026-01-12T10:45:55.042832+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleempty-local-1768214751","is_managed":false,"link_count":0,"modified_at":"2026-01-12T10:45:55.042842+00:00","name":"tf-testaccteamnotificationruleempty-local-1768214751","summary":"Example team","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/004a0266-b363-434a-94d0-45173ed26184/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/004a0266-b363-434a-94d0-45173ed26184/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 146.871125ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/004a0266-b363-434a-94d0-45173ed26184/notification-rules/36d8b22c-8a96-472b-874a-d045769b5986
        method: GET
      response:
        body: '{"data":{"id":"36d8b22c-8a96-472b-874a-d045769b5986","type":"team_notification_rules"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 137.637375ms
[...]
