version: 2
interactions:
- request:
    body: |
      {"auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","auth_uri":"https://accounts.google.com/o/oauth2/auth","automute":false,"client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1675254300@awesome-project-id.iam.gserviceaccount.com","client_id":"123456789012345678901","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/tf-TestAccDatadogLogsArchiveGCS_basic-local-1675254300@awesome-project-id.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":"foo:bar,buzz:lightyear","is_cspm_enabled":false,"is_security_command_center_enabled":false,"private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","private_key_id":"1234567890123456789012345678901234567890","project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1675254300","token_uri":"https://oauth2.googleapis.com/token","type":"service_account"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/gcp
    method: POST
    id: 0
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/gcp
    method: GET
    id: 1
  response:
    body: |
      [{"errors":[],"automute":false,"client_email":"Test-Go-TestGCPCreate-1674259475@fake-sandbox.iam.gserviceaccount.com","is_cspm_enabled":false,"is_security_command_center_enabled":false,"project_id":"Test-Go-TestGCPCreate-1674259475","host_filters":"fake:tag,example:test"},{"errors":[],"automute":false,"client_email":"api-test@fake-sandbox.iam.gserviceaccount.com","is_cspm_enabled":false,"is_security_command_center_enabled":false,"project_id":"java-createGCPIntegrationTest-local-1620768601","host_filters":"[...]
- request:
    body: |
      {"data":{"attributes":{"destination":{"bucket":"dd-logs-test-datadog-api-client-go","integration":{"client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1675254300@awesome-project-id.iam.gserviceaccount.com","project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1675254300"},"path":"/path/blah","type":"gcs"},"include_tags":false,"name":"my first gcs archive","query":"service:tata","rehydration_max_scan_size_in_gb":null,"rehydration_tags":[]},"type":"archives"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/logs/config/archives
    method: POST
    id: 2
  response:
    body: |
      {"data":{"type":"archives","id":"QWPTxu_fRN61TTtx1YS76w","attributes":{"name":"my first gcs archive","query":"service:tata","state":"UNKNOWN","destination":{"bucket":"dd-logs-test-datadog-api-client-go","path":"/path/blah","type":"gcs","integration":{"project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1675254300","client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1675254300@awesome-project-id.iam.gserviceaccount.com"}},"rehydration_tags":[],"include_tags":false,"rehydration_max_scan_size_in_gb":null}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/logs/config/archives/QWPTxu_fRN61TTtx1YS76w
    method: GET
    id: 3
  response:
    body: |
      {"data":{"type":"archives","id":"QWPTxu_fRN61TTtx1YS76w","attributes":{"name":"my first gcs archive","query":"service:tata","state":"UNKNOWN","destination":{"bucket":"dd-logs-test-datadog-api-client-go","path":"/path/blah","type":"gcs","integration":{"project_id":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1675254300","client_email":"tf-TestAccDatadogLogsArchiveGCS_basic-local-1675254300@awesome-project-id.iam.gserviceaccount.com"}},"rehydration_tags":[],"include_tags":false,"rehydration_max_scan_size_in_gb":null}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
