---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"action":{"due_days_per_severity":[{"due_in_days":7,"severity":"critical"},{"due_in_days":30,"severity":"high"}],"due_from":"first_seen","reason_description":"Standard remediation SLA"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsDueDateRule-local-1782143087","rule":{"finding_types":["misconfiguration"],"query":"env:prod"}},"type":"due_date_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules
        method: POST
      response:
        body: '{"data":{"id":"cfeb8525-b60c-4800-814c-63d29ddf7cc5","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7},{"severity":"high","due_in_days":30}],"due_from":"first_seen","reason_description":"Standard remediation SLA"},"created_at":1782143088201,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782143088201,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsDueDateRule-local-1782143087","rule":{"finding_types":["misconfiguration"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 523.821583ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules/cfeb8525-b60c-4800-814c-63d29ddf7cc5
        method: GET
      response:
        body: '{"data":{"id":"cfeb8525-b60c-4800-814c-63d29ddf7cc5","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7},{"severity":"high","due_in_days":30}],"due_from":"first_seen","reason_description":"Standard remediation SLA"},"created_at":1782143088201,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782143088201,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsDueDateRule-local-1782143087","rule":{"finding_types":["misconfiguration"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 139.631333ms
[...]
    - id: 9
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules/cfeb8525-b60c-4800-814c-63d29ddf7cc5
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 114.339ms
