---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.eu/api/v2/users?filter=doesntexists%40example.com&page%5Bnumber%5D=0&page%5Bsize%5D=20
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":0,"total_count":2}},"data":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4288583"
    status: 200 OK
    code: 200
    duration: ""
[...]
