---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListPermissions
    url: https://api.datadoghq.com/api/v2/permissions
    method: GET
  response:
    body: '{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","attributes":{"name":"admin","display_name":"Privileged
      Access","description":"This permission gives you the ability to view and edit
      everything in your Datadog organization that does not have an explicitly defined
      permission. This includes billing and usage, key, and organization management.
      This permission is inclusive of all Standard access permissions.","created":"2018-10-19T15:35:23.734317+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard
      Access","description":"This permission gives you the ability to view and edit
      components in your Datadog organization that do not have explicitly defined
      permissions. This includes APM, Events, and other non-Account Management functionality.","created":"2018-10-19T15:35:23.756736+00:00","group_name":"General","display_type":"other","restricted":fals[...]
- request:
    body: |
      {"data":{"attributes":{"name":"tf-testaccdatadogrole_createupdate-local-1609425877"},"relationships":{"permissions":{"data":[{"id":"984d2f00-d3b4-11e8-a200-bb47109e9987","type":"permissions"},{"id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","type":"permissions"}]}},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"052d97e4-4b78-11eb-8b55-8bb4d33d5e18","attributes":{"name":"tf-testaccdatadogrole_createupdate-local-1609425877","created_at":"2020-12-31T14:54:01.994533+00:00","modified_at":"2020-12-31T14:54:01.994533+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029"},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - saoIV/FA/z8H0gcXHP3CQ32hxYowRdGCvx+QRO7UdacLP4hVHOLNCuxXnf6LPRGD
      X-Dd-Version:
      - "35.3622023"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "59"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/052d97e4-4b78-11eb-8b55-8bb4d33d5e18
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"052d97e4-4b78-11eb-8b55-8bb4d33d5e18","attributes":{"name":"tf-testaccdatadogrole_createupdate-local-1609425877","created_at":"2020-12-31T14:54:01.994533+00:00","modified_at":"2020-12-31T14:54:01.994533+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029"},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - cwBlcFIcwDsv4IobSK5BCzc5xYE7Ob8qdF8Udq49IJhq23UAvY7SHKc1FyJJqC66
      X-Dd-Version:
      - "35.3622023"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "58"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","type":"permissions"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemovePermissionFromRole
    url: https://api.datadoghq.com/api/v2/roles/052d97e4-4b78-11eb-8b55-8bb4d33d5e18/permissions
    method: DELETE
  response:
    body: '{"data":[{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standa[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/052d97e4-4b78-11eb-8b55-8bb4d33d5e18
    method: GET
  response:
    body: '{"errors": ["The role 052d97e4-4b78-11eb-8b55-8bb4d33d5e18 does not exist
      not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3622023"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "479"
      X-Ratelimit-Reset:
      - "53"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
