---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","auth_uri":"https://accounts.google.com/o/oauth2/auth","automute":false,"client_email":"tf-TestGCPIntegrationEmptyMrcFilters-local-1760992085@awesome-project-id.iam.gserviceaccount.com","client_id":"123456789012345678901","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/tf-TestGCPIntegrationEmptyMrcFilters-local-1760992085@awesome-project-id.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":"","is_cspm_enabled":false,"is_security_command_center_enabled":false,"monitored_resource_configs":[{"filters":[],"type":"cloud_function"}],"private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","private_key_id":"1234567890123456789012345678901234567890","project_id":"tf-TestGCPIntegrationEmptyMrcFilters-local-1760992085","token_uri":"https://oauth2.googleapis.com/token","type":"service_account"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/gcp
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.034959042s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/gcp
        method: GET
      response:
            - chunked
        body: '[{"project_id":"","client_email":"teddymonitoringsubfolder@datadog-gcp-ints-test-d.iam.gserviceaccount.com","id":"b213616c-4a02-4e7d-87c0-16f160771077","host_filters":"","automute":true,"is_cspm_enabled":false,"resource_collection_enabled":true,"is_security_command_center_enabled":false,"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":["sdf"],"monitored_resource_configs":[{"type":"cloud_run_revision","filters":["sdf"]}],"errors":[]},{"project_id":"","client_email":"tf-TestAccIntegrationGcpStsBasic-local-1760650114@test-project.iam.gserviceaccount.com","id":"23c9d378-afdc-428d-beed-06559c09b11b","host_filters":"host:one","automute":false,"is_cspm_enabled":false,"resource_collection_enabled":false,"is_security_command_center_enabled":false,"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":["rev:one","rev:two"],"monitored_resource_configs":[{"type":"cloud_run_revision","filters":["rev:one","rev:two[...]
[...]
