---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"logs-1","inputs":["quota-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"quota-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"quota-1","include":"*","limit":{"enforce":"events","limit":1000},"name":"MyQuota","overflow_action":"drop","type":"quota"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"quota with overflow_action"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"f2c9fd86-f20c-11f0-9df2-da7ad0900002","type":"pipelines","attributes":{"name":"quota with overflow_action","config":{"destinations":[{"id":"logs-1","inputs":["quota-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"quota-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"quota-1","include":"*","limit":{"enforce":"events","limit":1000},"name":"MyQuota","overflow_action":"drop","type":"quota"}]}],"processors":[{"enabled":true,"id":"quota-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"quota-1","include":"*","limit":{"enforce":"events","limit":1000},"name":"MyQuota","overflow_action":"drop","type":"quota"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 499.740042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/f2c9fd86-f20c-11f0-9df2-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"f2c9fd86-f20c-11f0-9df2-da7ad0900002","type":"pipelines","attributes":{"name":"quota with overflow_action","config":{"destinations":[{"id":"logs-1","inputs":["quota-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"quota-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"quota-1","include":"*","limit":{"enforce":"events","limit":1000},"name":"MyQuota","overflow_action":"drop","type":"quota"}]}],"processors":[{"enabled":true,"id":"quota-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"quota-1","include":"*","limit":{"enforce":"events","limit":1000},"name":"MyQuota","overflow_action":"drop","type":"quota"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 377.03425ms
[...]
