---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=does_not_exist_tf-testaccdatadogserviceaccountdatasourceerror-local-1686248363%40example.com
    method: GET
  response:
    body: |
      {"data":[],"meta":{"page":{"total_count":173282,"total_filtered_count":0}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1686248363@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"034d3d74-0629-11ee-9cfd-9e791e69b7e1","attributes":{"name":null,"handle":"tf-testaccdatadogserviceaccountdatasourceerror-local-1686248363@example.com","created_at":"2023-06-08T18:19:31.389700+00:00","modified_at":"2023-06-08T18:19:31.393400+00:00","email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1686248363@example.com","icon":"https://secure.gravatar.com/avatar/25f97f5e1cb4f2309d84e5976f38e312?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"034d3d74-0629-11ee-9cfd-9e791e69b7e1","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: |
      {"data":[{"type":"user_invitations","id":"0371aada-0629-11ee-a82c-da7ad0900002","attributes":{"uuid":"0371aada-0629-11ee-a82c-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2023-06-08T18:19:31.626806+00:00","expires_at":"2023-06-10T18:19:31.545681+00:00"},"relationships":{"user":{"data":{"type":"users","id":"034d3d74-0629-11ee-9cfd-9e791e69b7e1"}}}}]}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/034d3d74-0629-11ee-9cfd-9e791e69b7e1
    method: GET
  response:
    body: |
      {"data":{"type":"users","id":"034d3d74-0629-11ee-9cfd-9e791e69b7e1","attributes":{"name":null,"handle":"tf-testaccdatadogserviceaccountdatasourceerror-local-1686248363@example.com","created_at":"2023-06-08T18:19:31.389700+00:00","modified_at":"2023-06-08T18:19:31.393400+00:00","email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1686248363@example.com","icon":"https://secure.gravatar.com/avatar/25f97f5e1cb4f2309d84e5976f38e312?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
