---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"type":"cloud_provider","id":"aws","attributes":{"aws":{"aws_account_id":"123456789012","destination_bucket_name":"test-inventory-bucket","destination_bucket_region":"us-east-1","destination_prefix":"inventory/"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cloudinventoryservice/syncconfigs
        method: PUT
      response:
        body: '{"data":{"id":"3526615b-4d65-4d9b-947a-d89c18faf0dc","type":"sync_configs"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 140.673334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cloudinventoryservice/syncconfigs/3526615b-4d65-4d9b-947a-d89c18faf0dc
        method: GET
      response:
        body: '{"data":{"id":"3526615b-4d65-4d9b-947a-d89c18faf0dc","type":"sync_configs","attributes":{"aws_account_id":"123456789012","aws_bucket_name":"test-inventory-bucket","aws_region":"us-east-1","cloud_provider":"aws","error":"SUCCESS","prefix":"inventory/"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 140.657708ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cloudinventoryservice/syncconfigs/3526615b-4d65-4d9b-947a-d89c18faf0dc
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"sync config with ID 3526615b-4d65-4d9b-947a-d89c18faf0dc not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 83.432167ms
