---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguserdatasourceexactmatch-local-1758619261@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"9fff593c-985e-11f0-9651-7220f0448ba8","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourceexactmatch-local-1758619261@example.com","created_at":"2025-09-23T09:21:02.714544+00:00","modified_at":"2025-09-23T09:21:02.714544+00:00","email":"tf-testaccdatadoguserdatasourceexactmatch-local-1758619261@example.com","icon":"https://secure.gravatar.com/avatar/a644a0f0e8b9801019d8449ccc1dbe1a?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 923.591ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"9fff593c-985e-11f0-9651-7220f0448ba8","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"a069b354-985e-11f0-9281-da7ad0900002","attributes":{"uuid":"a069b354-985e-11f0-9281-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:21:03.411096+00:00","expires_at":"2025-09-25T09:21:03.068001+00:00"},"relationships":{"user":{"data":{"type":"users","id":"9fff593c-985e-11f0-9651-7220f0448ba8"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 735.210459ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguserdatasourceexactmatch-local-1758619261%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[],"meta":{"page":{"total_count":170815,"total_filtered_count":0,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.67225ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/9fff593c-985e-11f0-9651-7220f0448ba8
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 373.769666ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/9fff593c-985e-11f0-9651-7220f0448ba8
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"9fff593c-985e-11f0-9651-7220f0448ba8","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourceexactmatch-local-1758619261@example.com","created_at":"2025-09-23T09:21:02.714544+00:00","modified_at":"2025-09-23T09:21:04.302871+00:00","email":"tf-testaccdatadoguserdatasourceexactmatch-local-1758619261@example.com","icon":"https://secure.gravatar.com/avatar/a644a0f0e8b9801019d8449ccc1dbe1a?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.612417ms
