---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTimeseriesOrderBy_import-local-1773418630","widgets":[{"definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"q":"avg:system.cpu.user{*} by {host}","style":{"has_value_labels":false,"line_type":"solid","line_width":"normal","order_by":"values","palette":"dog_classic"}}],"show_legend":false,"title":"Timeseries Ordered by Values","type":"timeseries"}},{"definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"q":"avg:system.mem.used{*} by {host}","style":{"has_value_labels":false,"line_type":"dashed","line_width":"thick","order_by":"tags","palette":"warm"}}],"show_legend":false,"title":"Timeseries Ordered by Tags","type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"xsz-h8w-ug9","title":"tf-TestAccDatadogDashboardTimeseriesOrderBy_import-local-1773418630","description":"Created using the Datadog provider in Terraform","author_handle":"becca.jellinek@datadoghq.com","author_name":"Becca Jellinek","layout_type":"ordered","url":"/dashboard/xsz-h8w-ug9/tf-testaccdatadogdashboardtimeseriesorderbyimport-local-1773418630","template_variables":[],"widgets":[{"definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"q":"avg:system.cpu.user{*} by {host}","style":{"has_value_labels":false,"line_type":"solid","line_width":"normal","order_by":"values","palette":"dog_classic"}}],"show_legend":false,"title":"Timeseries Ordered by Values","type":"timeseries"},"id":5033342278299051},{"definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"q":"avg:system.mem.used{*} by {host}","style":{"has_value_labels":false,"line_type":"dashed","line_width":"thick","order_by":"tags","palette":"warm"}}],"show_legend":false,"title":"Timeseries Ordered by Tags","type":"timeseries"},"id":5257543806169262}],"notify_list":[],"created_at":"2026-03-13T16:17:12.655855+00:00","modified_at":"2026-03-13T16:17:12.655855+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.221292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xsz-h8w-ug9
        method: GET
      response:
            - chunked
        body: '{"id":"xsz-h8w-ug9","title":"tf-TestAccDatadogDashboardTimeseriesOrderBy_import-local-1773418630","description":"Created using the Datadog provider in Terraform","author_handle":"becca.jellinek@datadoghq.com","author_name":"Becca Jellinek","layout_t[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xsz-h8w-ug9
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"xsz-h8w-ug9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 375.014917ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xsz-h8w-ug9
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID xsz-h8w-ug9 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 149.293875ms
