---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"message":"This is a test suite","name":"tf-TestAccDatadogSyntheticsSuite_Basic-local-1769177372","options":{"alerting_threshold":0.5},"tags":["env:test","team:synthetics"],"tests":[],"type":"suite"},"type":"suites"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/synthetics/suites
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"suites","attributes":{"modified_by":{"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":"Frog"},"created_at":"2026-01-23T14:09:34.649138+00:00","created_by":{"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":"Frog"},"tags":["env:test","team:synthetics"],"org_id":569509,"options":{"alerting_threshold":0.5},"monitor_id":253217929,"public_id":"9xf-rxg-cdn","type":"suite","modified_at":"2026-01-23T14:09:34.649138+00:00","name":"tf-TestAccDatadogSyntheticsSuite_Basic-local-1769177372","message":"This is a test suite","tests":[]},"id":"9xf-rxg-cdn"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 430.437375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/synthetics/suites/9xf-rxg-cdn
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"suites","attributes":{"created_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"name":"tf-TestAccDatadogSyntheticsSuite_Basic-local-1769177372","tags":["env:test","team:synthetics"],"tests":[],"created_at":"2026-01-23T14:09:34.649138+00:00","org_id":569509,"modified_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"version_uuid":"25245cf0-f865-11f0-8780-da7ad0901002","type":"suite","message":"This is a test suite","monitor_id":253217929,"version":1,"modified_at":"2026-01-23T14:09:34.649138+00:00","options":{"alerting_threshold":0.5},"public_id":"9xf-rxg-cdn"},"id":"9xf-rxg-cdn"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.573333ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"public_ids":["9xf-rxg-cdn"]},"type":"delete_suites_request"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/synthetics/suites/bulk-delete
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"suites","attributes":{"deleted_at":"2026-01-23 14:09:36.302841","public_id":"9xf-rxg-cdn"},"id":"9xf-rxg-cdn"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 444.895375ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/synthetics/suites/9xf-rxg-cdn
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 296.029625ms
