---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {
               "title": "tf-TestAccDatadogDashboardJSONNoDiff-local-1767995754",
               "description": "",
               "widgets": [],
               "template_variables": [],
               "layout_type": "ordered",
               "notify_list": [],
               "reflow_type": "fixed",
               "id": "3fa-nkp-wty"
            }
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"gck-wr9-96w","title":"tf-TestAccDatadogDashboardJSONNoDiff-local-1767995754","description":"","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/gck-wr9-96w/tf-testaccdatadogdashboardjsonnodiff-local-1767995754","template_variables":[],"widgets":[],"notify_list":[],"created_at":"2026-01-09T21:55:54.904705+00:00","modified_at":"2026-01-09T21:55:54.904705+00:00","reflow_type":"fixed"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.492083ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/gck-wr9-96w
        method: GET
      response:
            - chunked
        body: '{"id":"gck-wr9-96w","title":"tf-TestAccDatadogDashboardJSONNoDiff-local-1767995754","description":"","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/gck-wr9-96w/tf-testaccdatadogdashboardjsonnodiff-local-1767995754","template_variables":[],"widgets":[],"notify_list":[],"created_at":"2026-01-09T21:55:54.904705+00:00","modified_at":"2026-01-09T21:55:54.904705+00:00","reflow_type":"fixed"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.489833ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/gck-wr9-96w
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"gck-wr9-96w"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.586584ms
