---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/org
        method: GET
      response:
        body: |
            {"orgs":[{"public_id":"ff4a8255-6931-58d1-add0-a6b3602d5421","name":"Org Mgmt Root","description":null,"created":"2026-02-04 23:00:24","subscription":{"id":null,"billing_plan_id":8,"started":1770246024,"expires":null,"finished":null,"type":"dogfood","is_custom":false,"is_trial":false,"is_expired":true},"billing":{},"settings":{"default_landing_page":"Dashboard Lists","saml":{"enabled":false},"saml_can_be_enabled":false,"saml_login_url":null,"saml_idp_metadata_uploaded":false,"saml_idp_endpoint":null,"saml_idp_metadata_valid_until":null,"custom_landing_page":null,"saml_idp_initiated_login":{"enabled":false},"saml_strict_mode":{"enabled":false},"saml_autocreate_access_role":"st","saml_autocreate_users_domains":{"enabled":false,"domains":[]},"private_widget_share":false,"manage_reports":"true"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.377932ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_memberships?filter%5Borg_uuid%5D=ff4a8255-6931-58d1-add0-a6b3602d5421
        method: GET
      response:
        body: '{"data":[{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-04-22T20:59:16.928156Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019c2ae2-b05d-7cc9-aa88-38e1f26b7a0d","type":"org_groups"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 32.782766ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicyOverridesDataSource_Basic-local-1776891558"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019db6fd-7ea8-7302-bdc4-c5bb6a4d990e","type":"org_groups","attributes":{"created_at":"2026-04-22T20:59:19.592Z","modified_at":"2026-04-22T20:59:19.594589Z","name":"tf-TestAccDatadogOrgGroupPolicyOverridesDataSource_Basic-local-1776891558","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 30.447714ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","policy_name":"is_widget_copy_paste_enabled"},"relationships":{"org_group":{"data":{"id":"019db6fd-7ea8-7302-bdc4-c5bb6a4d990e","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019db6fd-7ee5-7cf3-90f1-2d84f70df102","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-22T20:59:19.656642Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db6fd-7ea8-7302-bdc4-c5bb6a4d990e","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 63.39205ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","relationships":{"org_group":{"data":{"id":"019db6fd-7ea8-7302-bdc4-c5bb6a4d990e","type":"org_groups"}}},"type":"org_group_memberships"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_memberships/019c2ae2-b060-7954-8606-6fe2b42616c4
        method: PATCH
      response:
        body: '{"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-04-22T20:59:19.69752Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db6fd-7ea8-7302-bdc4-c5bb6a4d990e","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 64.140611ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db6fd-7ea8-7302-bdc4-c5bb6a4d990e","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db6fd-7ee5-7cf3-90f1-2d84f70df102","type":"org_group_policies"}}},"type":"org_group_policy_overrides"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides
        method: POST
      response:
        body: '{"data":{"id":"019db6fd-7f4c-7cd9-869b-2b26f378de2b","type":"org_group_policy_overrides","attributes":{"created_at":"2026-04-22T20:59:19.758557Z","modified_at":"2026-04-22T20:59:19.758557Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db6fd-7ea8-7302-bdc4-c5bb6a4d990e","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db6fd-7ee5-7cf3-90f1-2d84f70df102","type":"org_group_policies"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 62.867502ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019db6fd-7ea8-7302-bdc4-c5bb6a4d990e&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019db6fd-7f4c-7cd9-869b-2b26f378de2b","type":"org_group_policy_overrides","attributes":{"content":{"org_config":true},"created_at":"2026-04-22T20:59:19.758557Z","modified_at":"2026-04-22T20:59:19.758557Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db6fd-7ea8-7302-bdc4-c5bb6a4d990e","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db6fd-7ee5-7cf3-90f1-2d84f70df102","type":"org_group_policies"}}}}],"meta":{"page":{"type":"number_size","number":0,"size":100,"total":1,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019db6fd-7ea8-7302-bdc4-c5bb6a4d990e\u0026page%5Bnumber%5D=0\u0026page%5Bsize%5D=100","first":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019db6fd-7ea8-7302-bdc4-c5bb6a4d990e\u0026page[number]=0\u0026page[size]=100","last":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019db6fd-7ea8-7302-bdc4-c5bb6a4d990e\u0026page[number]=0\u0026page[size]=100"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 99.111433ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019db6fd-7ea8-7302-bdc4-c5bb6a4d990e&filter%5Bpolicy_id%5D=019db6fd-7ee5-7cf3-90f1-2d84f70df102&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019db6fd-7f4c-7cd9-869b-2b26f378de2b","type":"org_group_policy_overrides","attributes":{"co[...]
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db6fd-7ea8-7302-bdc4-c5bb6a4d990e
        method: GET
      response:
        body: '{"data":{"id":"019db6fd-7ea8-7302-bdc4-c5bb6a4d990e","type":"org_groups","attributes":{"created_at":"2026-04-22T20:59:19.592Z","modified_at":"2026-04-22T20:59:19.594589Z","name":"tf-TestAccDatadogOrgGroupPolicyOverridesDataSource_Basic-local-1776891558","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 30.741223ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019db6fd-7ee5-7cf3-90f1-2d84f70df102
        method: GET
      response:
        body: '{"data":{"id":"019db6fd-7ee5-7cf3-90f1-2d84f70df102","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-22T20:59:19.656642Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db6fd-7ea8-7302-bdc4-c5bb6a4d990e","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 60.209636ms
[...]
    - id: 14
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides/019db6fd-7f4c-7cd9-869b-2b26f378de2b
        method: GET
      response:
        body: '{"data":{"id":"019db6fd-7f4c-7cd9-869b-2b26f378de2b","type":"org_group_policy_overrides","attributes":{"created_at":"2026-04-22T20:59:19.758557Z","modified_at":"2026-04-22T20:59:19.758557Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db6fd-7ea8-7302-bdc4-c5bb6a4d990e","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db6fd-7ee5-7cf3-90f1-2d84f70df102","type":"org_group_policies"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 37.145168ms
[...]
    - id: 27
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db6fd-7ea8-7302-bdc4-c5bb6a4d990e
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"org group 019db6fd-7ea8-7302-bdc4-c5bb6a4d990e not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 105.664847ms
