---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"first-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:first"},"reference_table":null}]},"id":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesetOrder_Update-local-1759254120","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"d7dce24b-94bd-4be8-81b9-99f9b05bbed5","type":"ruleset","attributes":{"created":{"seconds":1759254121,"nanos":107315000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759254121,"nanos":107315000},"name":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesetOrder_Update-local-1759254120","position":2,"rules":[{"name":"first-rule","enabled":true,"query":{"query":"service:first","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3608123}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 68.177ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[{"id":"1b680ec0-8e29-4b79-bb01-45f0c645a789","type":"ruleset","attributes":{"created":{"seconds":1758041403,"nanos":117388000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758041403,"nanos":117388000},"name":"New Ruleset","position":1,"processing_status":"error","rules":[{"name":"Add Cost Center Tag","enabled":true,"query":{"query":"account_id:\"123456789\" AND service:\"web-api\"","addition":{"key":"cost_center","value":"engineering"},"if_not_exists":true,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3603412}},{"id":"d7dce24b-94bd-4be8-81b9-99f9b05bbed5","type":"ruleset","attributes":{"created":{"seconds":1759254121,"nanos":107315000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a7[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"d7dce24b-94bd-4be8-81b9-99f9b05bbed5","type":"ruleset"},{"id":"27210cea-7477-49dc-87fa-82f6cafb04a7","type":"ruleset"},{"id":"8f51bd71-c4b4-422e-ae9c-dd74986def9e","type":"ruleset"},{"id":"1b680ec0-8e29-4b79-bb01-45f0c645a789","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 55.231916ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/8f51bd71-c4b4-422e-ae9c-dd74986def9e
        method: GET
      response:
        body: '{"data":{"id":"8f51bd71-c4b4-422e-ae9c-dd74986def9e","type":"ruleset","attributes":{"created":{"seconds":1759254121,"nanos":163353000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759254121,"nanos":163353000},"name":"tf-test-order-third-tf-TestAccDatadogTagPipelineRulesetOrder_Update-local-1759254120","position":3,"processing_status":"error","rules":[{"name":"third-rule","enabled":true,"query":{"query":"service:third","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3608125}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 102.072625ms
[...]
