---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"distribution","path":"@duration"},"filter":{"query":"service:test"},"group_by":[{"path":"@my.status","tag_name":"status"},{"path":"service","tag_name":"service"}]},"id":"tf_TestAccDatadogLogsMetric_Basic_local_1626980099","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
    method: POST
  response:
    body: '{"data":{"id":"tf_TestAccDatadogLogsMetric_Basic_local_1626980099","attributes":{"filter":{"query":"service:test"},"group_by":[{"path":"@my.status","tag_name":"status"},{"path":"service","tag_name":"service"}],"compute":{"aggregation_type":"distribution","path":"@duration"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "29"
      X-Ratelimit-Reset:
      - "9"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/tf_TestAccDatadogLogsMetric_Basic_local_1626980099
    method: GET
  response:
    body: '{"data":{"id":"tf_TestAccDatadogLogsMetric_Basic_local_1626980099","attributes":{"filter":{"query":"service:test"},"group_by":[{"path":"@my.status","tag_name":"status"},{"path":"service","tag_name":"service"}],"compute":{"aggregation_type":"distribution","path":"@duration"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "29"
      X-Ratelimit-Reset:
      - "9"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsMetric
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/tf_TestAccDatadogLogsMetric_Basic_local_1626980099
    method: GET
  response:
    body: '{"errors":["not_found(Metric with name ''tf_TestAccDatadogLogsMetric_Basic_local_1626980099'' not found)"]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "26"
      X-Ratelimit-Reset:
      - "6"
    status: 404 Not Found
    code: 404
    duration: ""
