---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardFreeText-local-1626081406","widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"7k3-ijf-r8j","title":"tf-TestAccDatadogDashboardFreeText-local-1626081406","url":"/dashboard/7k3-ijf-r8j/tf-testaccdatadogdashboardfreetext-local-1626081406","created_at":"2021-07-12T09:16:49.280266+00:00","modified_at":"2021-07-12T09:16:49.280266+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"color":"#eb364b","text":"Free Text","font_size":"56","text_align":"left","type":"free_text"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":2615911807389779}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/7k3-ijf-r8j
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"7k3-ijf-r8j","title":"tf-TestAccDatadogDashboardFreeText-local-1626081406","url":"/dashboard/7k3-ijf-r8j/tf-testaccdatadogdashboardfreetext-local-1626081406","created_at":"2021-07-12T09:16:49.280266+00:00","modified_at":"2021-07-12T09:16:49.280266+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"color":"#eb364b","text":"Free Text","font_size":"56","text_align":"left","type":"free_text"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":2615911807389779}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/7k3-ijf-r8j
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"7k3-ijf-r8j"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/7k3-ijf-r8j
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID 7k3-ijf-r8j not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
