---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1740561202","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"q4g-dg6-g8p","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1740561202","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/q4g-dg6-g8p/tf-testaccdatadogdashboardrbaccreateopen-local-1740561202","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":3337191839951989}],"notify_list":[],"created_at":"2025-02-26T09:13:26.344262+00:00","modified_at":"2025-02-26T09:13:26.344262+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 536.285708ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/q4g-dg6-g8p
        method: GET
      response:
            - chunked
        body: |
            {"id":"q4g-dg6-g8p","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1740561202","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/q4g-dg6-g8p/tf-testaccdatadogdashboardrbaccreateopen-local-1740561202","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":3337191839951989}],"notify_list":[],"created_at":"2025-02-26T09:13:26.344262+00:00","modified_at":"2025-02-26T09:13:26.344262+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.95775ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/q4g-dg6-g8p
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"q4g-dg6-g8p"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 319.163667ms
