---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/pipelines
        method: GET
      response:
            - chunked
        body: |
            [{"id":"XCYdgKpPQFKyhKexiTkbcQ","type":"pipeline","name":"Fly.io","is_enabled":true,"is_read_only":true,"filter":{"query":"source:fly_io"},"processors":[{"name":"Map attribute `env` to a tag","is_enabled":true,"sources":["env"],"source_type":"attribute","target":"env","target_type":"tag","preserve_source":true,"override_on_conflict":false,"type":"attribute-remapper"},{"name":"Define `fly.app.name` as the official service of the log","is_enabled":true,"sources":["fly.app.name"],"type":"service-remapper"},{"name":"Define `log.level` as the official status of the log","is_enabled":true,"sources":["log.level"],"type":"status-remapper"}]},{"id":"BKzW_XrPTZulQdDH2-Vx_g","type":"pipeline","name":"testPipelineArrayAppend","is_enabled":false,"is_read_only":false,"filter":{"query":"source:python"},"processors":[{"name":"append_ip_to_array","is_enabled":true,"operation":{"source":"network.client.ip","target":"sourceIps","preserve_source":true,"type":"append"},"type":"array-processor"}],"tags":[]},{"id":"B13c14PFTqCVeeK-hFYqkA","type":"pipeline","name":"testPipelineArrayAppendNoPreserve","is_enabled":false,"is_read_only":false,"filter":{"query":"source:python"},"processors":[{"name":"append_ip_and_remove_source","is_enabled":true,"operation":{"source":"network.client.ip","target":"sourceIps","preserve_source":false,"type":"append"},"type":"array-processor"}],"tags":[]},{"id":"TL1aouiMTNmpCCN1iZxoSA","type":"pipeline","name":"Ruby","is_enabled":true,"is_read_only":true,"filter":{"query":"source:ruby"},"processors":[{"name":"Map `logger` to `logger.name`","is_enabled":true,"sources":["logger"],"source_type":"attribute","target":"logger.name","target_type":"attribute","preserve_source":false,"override_on_conflict":false,"type":"attribute-remapper"},{"name":"Map `thread` to `logger.thread_name`","is_enabled":true,"sources":["thread"],"source_type":"attribute","target":"logger.thread_name","target_type":"attribute","preserve_source":false,"override_on_conflict":false,"type":"attribute-remapper"},{"name":"Map `exception`, `stack_trace` to `error.stack`","is_enabled":true,"sources":["exception","stack_trace"],"source_type":"attribute","target":"error.stack","target_type":"attribute","preserve_source":false,"override_on_conflict":false,"type":"attribute-remapper"},{"name":"Parsing Ruby Default formats","is_enabled":true,"source":"message","samples":["I, [1999-03-03T02:34:24.895701 #19074]  INFO -- : Completed 200 OK in 41ms (Views: 0.2ms | ActiveRecord: 6.2ms)","I, [1999-03-03T02:34:24.895701 #19074]  INFO -- : Started GET \"/api/v1/example/query\" for 123.123.123.123 at 1999-03-03 02:34:24+0000","I, [1999-03-03T02:34:24.895701 #19074]  INFO -- : Processing by MyCheck::CheckController#index as JSON","I, [2018-06-27T08:01:52.991728 #1]  INFO -- : Received: {\"action\":\"cancel\",\"order\":{\"id\":1234567,\"timestamp\":153012312}}","[2019-01-16 15:38:45 +0000][my_app][WARN][dd.trace_id=7396234561907730428 dd.span_id=1152346429682372911] This is a test message!"],"grok":{"support_rules":"_date (?:%{date(\"yyyy-MM-dd'T'HH:mm:ss.SSSSSS\"):date}|%{date(\"yyyy-MM-dd'T'HH:mm:ss.SSS\"):date})\n_status %{word:level}\n_thread_id %{word:logger.thread_id}\n_thread_name %{notSpace:logger.thread_name}\n_logger_name %{notSpace:logger.name}\n_ruby_log_prefix %{word}, \\[%{_date} #%{_thread_id}\\]\\s+%{_status}\\s+--\\s+(?:%{_logger_name})?:(?:\\s+%{_trace_rule})?\n_trace_rule \\[%{data::keyvalue}dd.trace_id=%{word:dd.trace_id} dd.span_id=%{word:dd.span_id}\\]\n_datadog_prefix \\[%{date(\"yyyy-MM-dd HH:mm:ss Z\"):date}\\]\\[%{word:application}\\]\\[%{_status}\\]%{_trace_rule}\n_activate_status %{word:active_directory.process_status}\n","match_rules":"# Active Directory Rails logs\n\ncompleted_rule (?>%{_ruby_log_prefix}\\s+|%{_trace_rule}\\s+)?%{_activate_status} %{integer:http.status_code}(?: (?:%{word}|Internal Server Error))? in %{number:duration}ms \\((?>Views: %{number:views}ms \\| )?ActiveRecord: %{number:activerecord}ms\\)\n\nprocessing_rule (?>%{_ruby_log_prefix}\\s+|%{_trace_rule}\\s+)?%{_activate_status} by %{notSpace:processor}.*\n\nstarted_rule (?>%{_ruby_log_prefix}\\s+|%{_trace_rule}\\s+)?%{_activate_status} %{word:http.method[...]
[...]
