---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"api_token":"circle-ci-token","type":"CircleCIAPIKey"},"type":"CircleCI"},"name":"tf-TestAccDatadogActionConnectionResource_CircleCI-local-1783949291"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"74dfe90f-fbf8-4499-80c1-e1dde0d52a15","type":"action_connection","attributes":{"acting_user_can_resolve":false,"external_secrets_manager":null,"integration":{"credentials":{"api_token":"","type":"CircleCIAPIKey"},"type":"CircleCI"},"is_favorite":false,"name":"tf-TestAccDatadogActionConnectionResource_CircleCI-local-1783949291"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 63.36798ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/74dfe90f-fbf8-4499-80c1-e1dde0d52a15
        method: GET
      response:
        body: '{"data":{"id":"74dfe90f-fbf8-4499-80c1-e1dde0d52a15","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2026-07-13 13:28:15.511845 +0000 UTC","external_secrets_manager":null,"integration":{"credentials":{"api_token":"","type":"CircleCIAPIKey"},"type":"CircleCI"},"is_favorite":false,"last_updated":"2026-07-13 13:28:15.511845 +0000 UTC","name":"tf-TestAccDatadogActionConnectionResource_CircleCI-local-1783949291"},"relationships":{"created_by":{"data":{"id":"9c2cc44c-0fd5-4356-b457-9413333601f1","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 38.821356ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/74dfe90f-fbf8-4499-80c1-e1dde0d52a15
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 29.03712ms
