---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackFreeText-local-1698166819","type":"group","widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":4,"width":5,"x":5,"y":5}}]}},"name":"tf-TestAccDatadogPowerpackFreeText-local-1698166819","tags":["tag:foo1"]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/powerpacks
    method: POST
  response:
    body: |
      {"data":{"type":"powerpack","id":"d2daa4da-728e-11ee-8af8-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackFreeText-local-1698166819","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackFreeText-local-1698166819","type":"group","widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":4,"width":5,"x":5,"y":5},"id":6794477441982770}]}},"template_variables":null,"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/d2daa4da-728e-11ee-8af8-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"powerpack","id":"d2daa4da-728e-11ee-8af8-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackFreeText-local-1698166819","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackFreeText-local-1698166819","type":"group","widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":4,"width":5,"x":5,"y":5},"id":6794477441982770}]}},"template_variables":null,"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/d2daa4da-728e-11ee-8af8-da7ad0900002
    method: GET
  response:
    body: '{"errors":["Powerpack with ID d2daa4da-728e-11ee-8af8-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
