---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"access_token":"asana-access-token","type":"AsanaAccessToken"},"type":"Asana"},"name":"tf-TestAccDatadogActionConnectionResource_Asana-local-1783949172"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"66813e20-b1c0-49a7-b83b-11bc2e655a51","type":"action_connection","attributes":{"acting_user_can_resolve":false,"external_secrets_manager":null,"integration":{"credentials":{"access_token":"","type":"AsanaAccessToken"},"type":"Asana"},"is_favorite":false,"name":"tf-TestAccDatadogActionConnectionResource_Asana-local-1783949172"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 100.567937ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/66813e20-b1c0-49a7-b83b-11bc2e655a51
        method: GET
      response:
        body: '{"data":{"id":"66813e20-b1c0-49a7-b83b-11bc2e655a51","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2026-07-13 13:26:14.087087 +0000 UTC","external_secrets_manager":null,"integration":{"credentials":{"access_token":"","type":"AsanaAccessToken"},"type":"Asana"},"is_favorite":false,"last_updated":"2026-07-13 13:26:14.087087 +0000 UTC","name":"tf-TestAccDatadogActionConnectionResource_Asana-local-1783949172"},"relationships":{"created_by":{"data":{"id":"9c2cc44c-0fd5-4356-b457-9413333601f1","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 50.220407ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/66813e20-b1c0-49a7-b83b-11bc2e655a51
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 42.791765ms
