version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardEventTimeline-local-1682003510","widgets":[{"definition":{"query":"status:error","tags_execution":"and","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"bdg-7pe-8nm","title":"tf-TestAccDatadogDashboardEventTimeline-local-1682003510","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/bdg-7pe-8nm/tf-testaccdatadogdashboardeventtimeline-local-1682003510","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"query":"status:error","tags_execution":"and","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":7346596833895358}],"notify_list":[],"created_at":"2023-04-20T15:11:51.886644+00:00","modified_at":"2023-04-20T15:11:51.886644+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/bdg-7pe-8nm
    method: GET
    id: 1
  response:
    body: |
      {"id":"bdg-7pe-8nm","title":"tf-TestAccDatadogDashboardEventTimeline-local-1682003510","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/bdg-7pe-8nm/tf-testaccdatadogdashboardeventtimeline-local-1682003510","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"query":"status:error","tags_execution":"and","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":7346596833895358}],"notify_list":[],"created_at":"2023-04-20T15:11:51.886644+00:00","modified_at":"2023-04-20T15:11:51.886644+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/bdg-7pe-8nm
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"bdg-7pe-8nm"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/bdg-7pe-8nm
    method: GET
    id: 5
  response:
    body: '{"errors":["Dashboard with ID bdg-7pe-8nm not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
