---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"a message","name":"tf-TestAccMonitor_Fwprovider_SchedulingOptionsHourStart-local-1765462861","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"scheduling_options":{"evaluation_window":{"hour_starts":0}},"thresholds":{"critical":0.5}},"priority":3,"query":"avg(current_1h):avg:system.load.5{*} \u003e 0.5","type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.926709ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"a message","name":"tf-TestAccMonitor_Fwprovider_SchedulingOptionsHourStart-local-1765462861","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"scheduling_options":{"evaluation_window":{"hour_starts":0}},"thresholds":{"critical":0.5}},"priority":3,"query":"avg(current_1h):avg:system.load.5{*} \u003e 0.5","tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":243441976,"org_id":321813,"type":"metric alert","name":"tf-TestAccMonitor_Fwprovider_SchedulingOptionsHourStart-local-1765462861","message":"a message","tags":[],"query":"avg(current_1h):avg:system.load.5{*} > 0.5","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"scheduling_options":{"evaluation_window":{"hour_starts":0}},"thresholds":{"critical":0.5},"silenced":{}},"multi":false,"created_at":1765462861000,"created":"2025-12-11T14:21:01.895995+00:00","modified":"2025-12-11T14:21:01.895995+00:00","deleted":null,"priority":3,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","handle":"kevin.pombo@datadoghq.com","email":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.863792ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"a message","name":"tf-TestAccMonitor_Fwprovider_SchedulingOptionsHourStart-local-1765462861","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"scheduling_options":{"evaluation_window":{"hour_starts":0}},"thresholds":{"critical":0.5}},"priority":3,"query":"avg(current_1h):avg:system.load.5{*} \u003e 0.5","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/243441976/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.901958ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243441976?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":243441976,"org_id":321813,"type":"metric alert","name":"tf-TestAccMonitor_Fwprovider_SchedulingOptionsHourStart-local-1765462861","message":"a message","tags":[],"query":"avg(current_1h):avg:system.load.5{*} > 0.5","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"scheduling_options":{"evaluation_window":{"hour_starts":0}},"thresholds":{"critical":0.5},"silenced":{}},"multi":false,"created_at":1765462861000,"created":"2025-12-11T14:21:01.895995+00:00","modified":"2025-12-11T14:21:01.895995+00:00","deleted":null,"priority":3,"restricted_roles":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","email":"kevin.pombo@datadoghq.com","handle":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.208208ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243441976
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":243441976}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 218.428375ms
