---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogusersdatasourcebasic-local-17031074860@example.com","name":"user 0"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"3495970f-9f7e-11ee-95d6-ced3bd55fdf2","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcebasic-local-17031074860@example.com","created_at":"2023-12-20T21:24:49.197895+00:00","modified_at":"2023-12-20T21:24:49.197895+00:00","email":"tf-testaccdatadogusersdatasourcebasic-local-17031074860@example.com","icon":"https://secure.gravatar.com/avatar/e2348927b1659ec748812d7c6760bfbf?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 577.275709ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"3495970f-9f7e-11ee-95d6-ced3bd55fdf2","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"34be7f70-9f7e-11ee-989b-da7ad0900002","attributes":{"uuid":"34be7f70-9f7e-11ee-989b-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2023-12-20T21:24:49.465101+00:00","expires_at":"2023-12-22T21:24:49.356958+00:00"},"relationships":{"user":{"data":{"type":"users","id":"3495970f-9f7e-11ee-95d6-ced3bd55fdf2"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 266.889208ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadogusersdatasourcebasic-local-1703107486&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"3495970f-9f7e-11ee-95d6-ced3bd55fdf2","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcebasic-local-17031074860@example.com","created_at":"2023-12-20T21:24:49.197895+00:00","modified_at":"2023-12-20T21:24:49.197895+00:00","email":"tf-testaccdatadogusersdatasourcebasic-local-17031074860@example.com","icon":"https://secure.gravatar.com/avatar/e2348927b1659ec748812d7c6760bfbf?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},{"type":"users","id":"34956a9f-9f7e-11ee-9ba2-a6dd14db1d63","attributes":{"name":"user 1","handle":"tf-testaccdatadogusersdatasourcebasic-local-17031074861@example.com","created_at":"2023-12-20T21:24:49.196760+00:00","modified_at":"2023-12-20T21:24:49.196760+00:00","email":"tf-testaccdatadogusersdatasourcebasic-local-17031074861@example.com","icon":"https://secure.gravatar.com/avatar/dcae2893586e64b8c12dd0d13fa44601?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},{"type":"users","id":"3494b7bf-9f7e-11ee-8871-a2ba68b07cbd","attributes":{"name":"user 2","handle":"tf-testaccdatadogusersdatasourcebasic-local-17031074862@example.com","created_at":"2023-12-20T21:24:49.192168+00:00","modified_at":"2023-12-20T21:24:49.192168+00:00","email":"tf-testaccdatadogusersdatasourcebasic-local-17031074862@example.com","icon":"https://secure.gravatar.com/avatar/e12dfcb97979381a3c1200b34ea1d5f9?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":243868,"total_filtered_count":3,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.66093625s
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/3494b7bf-9f7e-11ee-8871-a2ba68b07cbd
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"3494b7bf-9f7e-11ee-8871-a2ba68b07cbd","attributes":{"name":"user 2","handle":"tf-testaccdatadogusersdatasourcebasic-local-17031074862@example.com","created_at":"2023-12-20T21:24:49.192168+00:00","modified_at":"2023-12-20T21:24:49.192168+00:00","email":"tf-testaccdatadogusersdatasourcebasic-local-17031074862@example.com","icon":"https://secure.gravatar.com/avatar/e12dfcb97979381a3c1200b34ea1d5f9?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.792917ms
[...]
