version: 2
interactions:
- request:
    body: "{\n   \"author_handle\":\"removed_handle\",\n   \"title\":\"tf-TestAccDatadogDashboardJSONRbacDiff-local-1682003475\",\n   \"description\":\"Created using the Datadog provider in Terraform\",\n   \"widgets\":[\n      {\n         \"id\":5436370674582587,\n         \"definition\":{\n            \"title\":\"Widget Title\",\n            \"type\":\"alert_value\",\n            \"alert_id\":\"895605\",\n            \"unit\":\"b\",\n            \"text_align\":\"center\",\n            \"precision\":3\n         }\n      }\n   ],\n   \"template_variables\":[\n      \n   ],\n   \"layout_type\":\"ordered\",\n   \"is_read_only\":true,\n   \"restricted_roles\":[],\n   \"notify_list\":[\n      \n   ],\n   \"id\":\"5uw-bbj-xec\"\n}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"ykf-cgi-ys8","title":"tf-TestAccDatadogDashboardJSONRbacDiff-local-1682003475","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/ykf-cgi-ys8/tf-testaccdatadogdashboardjsonrbacdiff-local-1682003475","template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2023-04-20T15:11:16.369013+00:00","modified_at":"2023-04-20T15:11:16.369013+00:00","restricted_roles":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/ykf-cgi-ys8
    method: GET
    id: 1
  response:
    body: |
      {"id":"ykf-cgi-ys8","title":"tf-TestAccDatadogDashboardJSONRbacDiff-local-1682003475","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/ykf-cgi-ys8/tf-testaccdatadogdashboardjsonrbacdiff-local-1682003475","template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2023-04-20T15:11:16.369013+00:00","modified_at":"2023-04-20T15:11:16.369013+00:00","restricted_roles":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/ykf-cgi-ys8
    method: DELETE
    id: 3
  response:
    body: |
      {"deleted_dashboard_id":"ykf-cgi-ys8"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
