---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPoliciesDataSource_Basic-local-1779841502"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019e66d2-0ef5-75b9-8ff6-5ef851ec8690","type":"org_groups","attributes":{"created_at":"2026-05-27T00:25:02.965Z","modified_at":"2026-05-27T00:25:02.971263Z","name":"tf-TestAccDatadogOrgGroupPoliciesDataSource_Basic-local-1779841502","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 45.817201ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","policy_name":"is_dashboard_reports_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d2-0ef5-75b9-8ff6-5ef851ec8690","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019e66d2-0f41-7a43-afbe-17cac85b38c8","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","modified_at":"2026-05-27T00:25:03.043949Z","policy_name":"is_dashboard_reports_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d2-0ef5-75b9-8ff6-5ef851ec8690","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 74.124274ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies?filter%5Borg_group_id%5D=019e66d2-0ef5-75b9-8ff6-5ef851ec8690&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019e66d2-0f39-7957-a0a9-7f627eed43d5","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","modified_at":"2026-05-27T00:25:03.040566Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d2-0ef5-75b9-8ff6-5ef851ec8690","type":"org_groups"}}}},{"id":"019e66d2-0f41-7a43-afbe-17cac85b38c8","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","modified_at":"2026-05-27T00:25:03.043949Z","policy_name":"is_dashboard_reports_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d2-0ef5-75b9-8ff6-5ef851ec8690","type":"org_groups"}}}}],"meta":{"page":{"type":"number_size","number":0,"size":100,"total":2,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/org_group_policies?filter%5Borg_group_id%5D=019e66d2-0ef5-75b9-8ff6-5ef851ec8690\u0026page%5Bnumber%5D=0\u0026page%5Bsize%5D=100","first":"https://api.datadoghq.com/api/v2/org_group_policies?filter[org_group_id]=019e66d2-0ef5-75b9-8ff6-5ef851ec8690\u0026page[number]=0\u0026page[size]=100","last":"https://api.datadoghq.com/api/v2/org_group_policies?filter[org_group_id]=019e66d2-0ef5-75b9-8ff6-5ef851ec8690\u0026page[number]=0\u0026page[size]=100"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 25.610323ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies?filter%5Borg_group_id%5D=019e66d2-0ef5-75b9-8ff6-5ef851ec8690&filter%5Bpolicy_name%5D=is_widget_copy_paste_enabled&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019e66d2-0f39-7957-a0a9-7f627eed43d5","type":"org_group_policies","attributes":{"content":{"org_config":f[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019e66d2-0ef5-75b9-8ff6-5ef851ec8690
        method: GET
      response:
        body: '{"data":{"id":"019e66d2-0ef5-75b9-8ff6-5ef851ec8690","type":"org_groups","attributes":{"created_at":"2026-05-27T00:25:02.965Z","modified_at":"2026-05-27T00:25:02.971263Z","name":"tf-TestAccDatadogOrgGroupPoliciesDataSource_Basic-local-1779841502","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 25.334718ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019e66d2-0f41-7a43-afbe-17cac85b38c8
        method: GET
      response:
        body: '{"data":{"id":"019e66d2-0f41-7a43-afbe-17cac85b38c8","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","modified_at":"2026-05-27T00:25:03.043949Z","policy_name":"is_dashboard_reports_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d2-0ef5-75b9-8ff6-5ef851ec8690","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 58.040929ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019e66d2-0f41-7a43-afbe-17cac85b38c8
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"policy 019e66d2-0f41-7a43-afbe-17cac85b38c8 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 26.681577ms
[...]
