---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"a message","name":"tf-TestAccMonitor_Fwprovider_SchedulingOptionsHourStart-local-1758618775","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"scheduling_options":{"evaluation_window":{"hour_starts":0}},"thresholds":{"critical":0.5}},"priority":3,"query":"avg(current_1h):avg:system.load.5{*} \u003e 0.5","type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.243958ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"a message","name":"tf-TestAccMonitor_Fwprovider_SchedulingOptionsHourStart-local-1758618775","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"scheduling_options":{"evaluation_window":{"hour_starts":0}},"thresholds":{"critical":0.5}},"priority":3,"query":"avg(current_1h):avg:system.load.5{*} \u003e 0.5","tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":217465645,"org_id":321813,"type":"metric alert","name":"tf-TestAccMonitor_Fwprovider_SchedulingOptionsHourStart-local-1758618775","message":"a message","tags":[],"query":"avg(current_1h):avg:system.load.5{*} > 0.5","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"scheduling_options":{"evaluation_window":{"hour_starts":0}},"thresholds":{"critical":0.5},"silenced":{}},"multi":false,"created_at":1758618776000,"created":"2025-09-23T09:12:56.888902+00:00","modified":"2025-09-23T09:12:56.888902+00:00","deleted":null,"priority":3,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.81475ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"a message","name":"tf-TestAccMonitor_Fwprovider_SchedulingOptionsHourStart-local-1758618775","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"scheduling_options":{"evaluation_window":{"hour_starts":0}},"thresholds":{"critical":0.5}},"priority":3,"query":"avg(current_1h):avg:system.load.5{*} \u003e 0.5","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/217465645/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.991625ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/217465645
        method: GET
      response:
            - chunked
        body: |
            {"id":217465645,"org_id":321813,"type":"metric alert","name":"tf-TestAccMonitor_Fwprovider_SchedulingOptionsHourStart-local-1758618775","message":"a message","tags":[],"query":"avg(current_1h):avg:system.load.5{*} > 0.5","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"scheduling_options":{"evaluation_window":{"hour_starts":0}},"thresholds":{"critical":0.5},"silenced":{}},"multi":false,"created_at":1758618776000,"created":"2025-09-23T09:12:56.888902+00:00","modified":"2025-09-23T09:12:56.888902+00:00","deleted":null,"priority":3,"restricted_roles":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.712958ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/217465645
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":217465645}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.045125ms
