---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicy_Basic-local-1776988438"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019dbcc3-c159-7a96-81dd-3e8ea81ad766","type":"org_groups","attributes":{"created_at":"2026-04-23T23:53:58.873Z","modified_at":"2026-04-23T23:53:58.876002Z","name":"tf-TestAccDatadogOrgGroupPolicy_Basic-local-1776988438","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 25.884044ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019dbcc3-c159-7a96-81dd-3e8ea81ad766","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019dbcc3-c190-7102-821d-d8c157d07b58","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-23T23:53:58.93661Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019dbcc3-c159-7a96-81dd-3e8ea81ad766","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 55.206694ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019dbcc3-c190-7102-821d-d8c157d07b58
        method: GET
      response:
        body: '{"data":{"id":"019dbcc3-c190-7102-821d-d8c157d07b58","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-23T23:53:58.93661Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019dbcc3-c159-7a96-81dd-3e8ea81ad766","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 32.445572ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019dbcc3-c159-7a96-81dd-3e8ea81ad766
        method: GET
      response:
        body: '{"data":{"id":"019dbcc3-c159-7a96-81dd-3e8ea81ad766","type":"org_groups","attributes":{"created_at":"2026-04-23T23:53:58.873Z","modified_at":"2026-04-23T23:53:58.876002Z","name":"tf-TestAccDatadogOrgGroupPolicy_Basic-local-1776988438","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 41.261575ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":true},"enforcement_tier":"ENFORCE"},"id":"019dbcc3-c190-7102-821d-d8c157d07b58","type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies/019dbcc3-c190-7102-821d-d8c157d07b58
        method: PATCH
      response:
        body: '{"data":{"id":"019dbcc3-c190-7102-821d-d8c157d07b58","type":"org_group_policies","attributes":{"content":{"org_config":true},"enforced_at":"2026-04-23T23:54:01.158044Z","enforcement_tier":"ENFORCE","modified_at":"2026-04-23T23:54:01.158044Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019dbcc3-c159-7a96-81dd-3e8ea81ad766","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 52.076612ms
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019dbcc3-d34f-7311-a7ec-ef27232dd351
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"policy 019dbcc3-d34f-7311-a7ec-ef27232dd351 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 29.661083ms
