version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Test Powerpack","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpack_update-local-1701196944","type":"group","widgets":[{"definition":{"type":"iframe","url":"https://google.com"}}]},"live_span":"1h"},"name":"tf-TestAccDatadogPowerpack_update-local-1701196944","tags":["tag:foo1"],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/powerpacks
    method: POST
    id: 0
  response:
    body: |
      {"data":{"type":"powerpack","id":"e02226f4-8e1d-11ee-a6b2-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpack_update-local-1701196944","description":"Test Powerpack","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpack_update-local-1701196944","type":"group","widgets":[{"definition":{"type":"iframe","url":"https://google.com"},"id":4048369415966304}]},"live_span":"1h","layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/e02226f4-8e1d-11ee-a6b2-da7ad0900002
    method: GET
    id: 1
  response:
    body: |
      {"data":{"type":"powerpack","id":"e02226f4-8e1d-11ee-a6b2-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpack_update-local-1701196944","description":"Test Powerpack","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpack_update-local-1701196944","type":"group","widgets":[{"definition":{"type":"iframe","url":"https://google.com"},"id":4048369415966304}]},"live_span":"1h","layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/e02226f4-8e1d-11ee-a6b2-da7ad0900002
    method: GET
    id: 5
  response:
    body: '{"errors":["Powerpack with ID e02226f4-8e1d-11ee-a6b2-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
