---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2Sankey_import-local-1775579913","widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","mode":"source","query_string":"@type:view"},"request_type":"sankey"}],"title":"RUM Sankey","type":"sankey"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"ket-qcj-bfp","title":"tf-TestAccDatadogDashboardV2Sankey_import-local-1775579913","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/ket-qcj-bfp/tf-testaccdatadogdashboardv2sankeyimport-local-1775579913","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","mode":"source","query_string":"@type:view"},"request_type":"sankey"}],"title":"RUM Sankey","type":"sankey"},"id":6461965510590066}],"notify_list":[],"created_at":"2026-04-07T16:38:35.552199+00:00","modified_at":"2026-04-07T16:38:35.552199+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 558.52275ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/ket-qcj-bfp
        method: GET
      response:
            - chunked
        body: '{"id":"ket-qcj-bfp","title":"tf-TestAccDatadogDashboardV2Sankey_import-local-1775579913","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/ket-qcj-bfp/tf-testaccdatadogdashboardv2sankeyimport-local-1775579913","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","mode":"source","query_string":"@type:view"},"request_type":"sankey"}],"title":"RUM Sankey","type":"sankey"},"id":6461965510590066}],"notify_list":[],"created_at":"2026-04-07T16:38:35.552199+00:00","modified_at":"2026-04-07T16:38:35.552199+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.4655ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/ket-qcj-bfp
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"ket-qcj-bfp"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 467.8585ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ket-qcj-bfp
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID ket-qcj-bfp not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 95.0285ms
