---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["splunk-tcp-source-1"],"type":"datadog_logs"}],"sources":[{"id":"splunk-tcp-source-1","tls":{"ca_file":"/etc/ssl/certs/tcp.ca","crt_file":"/etc/ssl/certs/tcp.crt","key_file":"/etc/ssl/private/tcp.key"},"type":"splunk_tcp"}]},"name":"splunk-tcp-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"c3ec6b56-24e0-11f0-b6ea-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-tcp-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["splunk-tcp-source-1"],"type":"datadog_logs"}],"processors":[],"sources":[{"id":"splunk-tcp-source-1","tls":{"ca_file":"/etc/ssl/certs/tcp.ca","crt_file":"/etc/ssl/certs/tcp.crt","key_file":"/etc/ssl/private/tcp.key"},"type":"splunk_tcp"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 540.826458ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/c3ec6b56-24e0-11f0-b6ea-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"c3ec6b56-24e0-11f0-b6ea-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-tcp-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["splunk-tcp-source-1"],"type":"datadog_logs"}],"processors":[],"sources":[{"id":"splunk-tcp-source-1","tls":{"ca_file":"/etc/ssl/certs/tcp.ca","crt_file":"/etc/ssl/certs/tcp.crt","key_file":"/etc/ssl/private/tcp.key"},"type":"splunk_tcp"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.936375ms
[...]
