---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-test-InvalidInput-1785485101","principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"],"product_filters":[{"filters":["@application.id:404342b8-9cdd-272b-de03-cff7c71d0135"],"product":"ci-visibility"}]},"type":"dataset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/datasets
        method: POST
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"Invalid product: Datasets are not supported for ci-visibility"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 322.062875ms
[...]
