---
version: 1
interactions:
- request:
    body: |
      {"end":1735765200,"message":"tf-TestAccDatadogDowntime_TrimWhitespace-local-1615213547","monitor_tags":["*"],"recurrence":{"period":1,"type":"days"},"scope":["host:Whitespace"],"start":1735707600,"timezone":"UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":{"until_date":null,"until_occurrences":null,"week_days":null,"type":"days","period":1},"end":1735765200,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1735707600,"creator_id":1445416,"parent_id":null,"timezone":"UTC","active":false,"scope":["host:Whitespace"],"message":"tf-TestAccDatadogDowntime_TrimWhitespace-local-1615213547","downtime_type":1,"id":1170723727,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4051246"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDowntime
    url: https://api.datadoghq.com/api/v1/downtime/1170723727
    method: GET
  response:
    body: '{"recurrence":{"until_date":null,"until_occurrences":null,"week_days":null,"type":"days","period":1},"end":1735765200,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1735707600,"creator_id":1445416,"parent_id":null,"timezone":"UTC","active":false,"scope":["host:Whitespace"],"message":"tf-TestAccDatadogDowntime_TrimWhitespace-local-1615213547","downtime_type":1,"id":1170723727,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4051246"
    status: 200 OK
    code: 200
    duration: ""
[...]
