---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"policy":{"tag_key":"tf-TestAccDatadogMonitorConfigPoliciesDatasource-local-1758618559-1","tag_key_required":false,"valid_tag_values":["value"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/monitor/policy
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-config-policy","id":"d08176e5-b17e-46c9-920f-3d2e34c4329b","attributes":{"policy_type":"tag","policy":{"valid_tag_values":["value"],"tag_key_required":false,"tag_key":"tf-TestAccDatadogMonitorConfigPoliciesDatasource-local-1758618559-1"}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.656333ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/monitor/policy/d08176e5-b17e-46c9-920f-3d2e34c4329b
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-config-policy","attributes":{"policy_type":"tag","policy":{"valid_tag_values":["value"],"tag_key_required":false,"tag_key":"tf-TestAccDatadogMonitorConfigPoliciesDatasource-local-1758618559-1"}},"id":"d08176e5-b17e-46c9-920f-3d2e34c4329b"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.777875ms
[...]
