---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1690910177-screen","widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"86d-jaj-ym4","title":"tf-TestDatadogDashListImport-local-1690910177-screen","description":"Created using the Datadog provider in Terraform","author_handle":"hanting.zhang@datadoghq.com","author_name":"Hanting Zhang","layout_type":"free","url":"/dashboard/86d-jaj-ym4/tf-testdatadogdashlistimport-local-1690910177-screen","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":5130893252056120}],"notify_list":[],"created_at":"2023-08-01T17:16:23.381408+00:00","modified_at":"2023-08-01T17:16:23.381408+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/86d-jaj-ym4
    method: GET
  response:
    body: |
      {"id":"86d-jaj-ym4","title":"tf-TestDatadogDashListImport-local-1690910177-screen","description":"Created using the Datadog provider in Terraform","author_handle":"hanting.zhang@datadoghq.com","author_name":"Hanting Zhang","layout_type":"free","url":"/dashboard/86d-jaj-ym4/tf-testdatadogdashlistimport-local-1690910177-screen","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":5130893252056120}],"notify_list":[],"created_at":"2023-08-01T17:16:23.381408+00:00","modified_at":"2023-08-01T17:16:23.381408+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1690910177-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"jef-kge-pkx","title":"tf-TestDatadogDashListImport-local-1690910177-time","description":"Created using the Datadog provider in Terraform","author_handle":"hanting.zhang@datadoghq.com","author_name":"Hanting Zhang","layout_type":"ordered","url":"/dashboard/jef-kge-pkx/tf-testdatadogdashlistimport-local-1690910177-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":8156784494169468}],"notify_list":[],"created_at":"2023-08-01T17:16:24.050484+00:00","modified_at":"2023-08-01T17:16:24.050484+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/jef-kge-pkx
    method: GET
  response:
    body: |
      {"id":"jef-kge-pkx","title":"tf-TestDatadogDashListImport-local-1690910177-time","description":"Created using the Datadog provider in Terraform","author_handle":"hanting.zhang@datadoghq.com","author_name":"Hanting Zhang","layout_type":"ordered","url":"/dashboard/jef-kge-pkx/tf-testdatadogdashlistimport-local-1690910177-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":8156784494169468}],"notify_list":[],"created_at":"2023-08-01T17:16:24.050484+00:00","modified_at":"2023-08-01T17:16:24.050484+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-TestDatadogDashListImport-local-1690910177"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: |
      {"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-01T17:16:24.587364+00:00","dashboards":null,"dashboard_count":0,"id":404968,"is_favorite":false,"modified":"2023-08-01T17:16:24.587374+00:00","name":"tf-TestDatadogDashListImport-local-1690910177","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"86d-jaj-ym4","type":"custom_screenboard"},{"id":"jef-kge-pkx","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/404968/dashboards
    method: PUT
  response:
    body: |
      {"dashboards":[{"type":"custom_screenboard","id":"86d-jaj-ym4"},{"type":"custom_timeboard","id":"jef-kge-pkx"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/404968
    method: GET
  response:
    body: |
      {"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-01T17:16:24.587364+00:00","dashboards":null,"dashboard_count":2,"id":404968,"is_favorite":false,"modified":"2023-08-01T17:16:24.800582+00:00","name":"tf-TestDatadogDashListImport-local-1690910177","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/404968/dashboards
    method: GET
  response:
    body: |
      {"dashboards":[{"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-01T17:16:24.050484+00:00","is_favorite":false,"is_shared":false,"modified":"2023-08-01T17:16:24.050484+00:00","title":"tf-TestDatadogDashListImport-local-1690910177-time","type":"custom_timeboard","id":"jef-kge-pkx","url":"/dashboard/jef-kge-pkx/tf-testdatadogdashlistimport-local-1690910177-time","is_read_only":true,"tags":[],"icon":null,"integration_id":null,"popularity":0},{"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-01T17:16:23.381408+00:00","is_favorite":false,"is_shared":false,"modified":"2023-08-01T17:16:23.381408+00:00","title":"tf-TestDatadogDashListImport-local-1690910177-screen","type":"custom_screenboard","id":"86d-jaj-ym4","url":"/dashboard/86d-jaj-ym4/tf-testdatadogdashlistimport-local-1690910177-screen","is_read_only":false,"tags":[],"icon":null,"integration_id":null,"popularity":0}],"total":2}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/404968
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_list_id":404968}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/jef-kge-pkx
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"jef-kge-pkx"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/404968
    method: GET
  response:
    body: '{"errors":["Manual Dashboard List with id 404968 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
