---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"z-user1@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: '{"errors":["User z-user1@example.com already exists"]}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 84.709666ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=z-user1%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"5aad1674-5458-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"z-user1@example.com","created_at":"2021-12-03T16:44:59.676899+00:00","modified_at":"2026-01-12T15:01:24.867354+00:00","email":"z-user1@example.com","icon":"https://secure.gravatar.com/avatar/aa14440b86c5f63ef8622b92e85e3360?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":["google_oidc","standard"],"status":"Disabled","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":228989,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.329917ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=a-user%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"3e3379ee-5457-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"a-user@example.com","created_at":"2021-12-03T16:37:02.407801+00:00","modified_at":"2026-01-12T15:01:24.988000+00:00","email":"a-user@example.com","icon":"https://secure.gravatar.com/avatar/d3f689172d62d7bcc2e4698422091ecf?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":["google_oidc","standard"],"status":"Disabled","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":228989,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.978ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=k-user%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"3e344a0e-5457-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"k-user@example.com","created_at":"2021-12-03T16:37:02.412935+00:00","modified_at":"2026-01-12T15:01:24.879076+00:00","email":"k-user@example.com","icon":"https://secure.gravatar.com/avatar/98eadd67eaa2d8c224d446b2e88f0bf2?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":["google_oidc","standard"],"status":"Disabled","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":228989,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.827792ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"disabled":false,"email":"z-user1@example.com","name":"Test User"},"id":"5aad1674-5458-11ec-a8c2-da7ad0900002","type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users/5aad1674-5458-11ec-a8c2-da7ad0900002
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"5aad1674-5458-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"z-user1@example.com","created_at":"2021-12-03T16:44:59.676899+00:00","modified_at":"2026-01-12T15:06:07.644994+00:00","email":"z-user1@example.com","icon":"https://secure.gravatar.com/avatar/aa14440b86c5f63ef8622b92e85e3360?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.707084ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"5aad1674-5458-11ec-a8c2-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"3924410c-efc8-11f0-a3d3-da7ad0900002","attributes":{"uuid":"3924410c-efc8-11f0-a3d3-da7ad0900002","login_method":null,"invite_type":"basic_reminder","created_at":"2026-01-12T15:06:07.965114+00:00","expires_at":"2026-01-14T15:06:07.814180+00:00"},"relationships":{"user":{"data":{"type":"users","id":"5aad1674-5458-11ec-a8c2-da7ad0900002"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 320.79875ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: '{"author_handle":"removed_handle","description":"Created using the Datadog provider in Terraform","id":"5uw-bbj-xec","layout_type":"ordered","notify_list":["z-user1@example.com","a-user@example.com","k-user@example.com"],"restricted_roles":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardJSONNotifyListDiff-local-1768230366","widgets":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"cmx-fqq-x43","title":"tf-TestAccDatadogDashboardJSONNotifyListDiff-local-1768230366","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/cmx-fqq-x43/tf-testaccdatadogdashboardjsonnotifylistdiff-local-1768230366","template_variables":[],"widgets":[],"notify_list":["a-user@example.com","k-user@example.com","z-user1@example.com"],"created_at":"2026-01-12T15:06:08.290365+00:00","modified_at":"2026-01-12T15:06:08.290365+00:00","restricted_roles":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.961084ms
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/cmx-fqq-x43
        method: GET
      response:
            - chunked
        body: '{"id":"cmx-fqq-x43","title":"tf-TestAccDatadogDashboardJSONNotifyListDiff-local-1768230366","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/cmx-fqq-x43/tf-testaccdatadogdashboardjsonnotifylistdiff-local-1768230366","template_variables":[],"widgets":[],"notify_list":["a-user@example.com","k-user@example.com","z-user1@example.com"],"created_at":"2026-01-12T15:06:08.290365+00:00","modified_at":"2026-01-12T15:06:08.290365+00:00","restricted_roles":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 106.689417ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/cmx-fqq-x43
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"cmx-fqq-x43"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 375.057584ms
[...]
