---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a totp global variable","is_fido":false,"is_totp":true,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLETOTP_BASIC_LOCAL_1741269872","tags":["foo:bar","baz"],"value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":true,"value":"variable-secure-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"bad65c27-3e2a-4df0-801b-4602ccf0969a","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLETOTP_BASIC_LOCAL_1741269872","description":"a totp global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"is_totp":true,"value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 432.719042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/bad65c27-3e2a-4df0-801b-4602ccf0969a
        method: GET
      response:
            - chunked
        body: |
            {"id":"bad65c27-3e2a-4df0-801b-4602ccf0969a","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLETOTP_BASIC_LOCAL_1741269872","description":"a totp global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2025-03-06T14:04:36.709686+00:00","modified_at":"2025-03-06T14:04:36.709686+00:00","last_error":null,"is_totp":true,"value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":true},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.407042ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/bad65c27-3e2a-4df0-801b-4602ccf0969a
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 164.1485ms
