---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["ocsf-mapper"],"type":"datadog_logs"}],"processors":[{"id":"ocsf-mapper","include":"*","inputs":["source-1"],"mappings":[{"include":"source:lib","mapping":"CloudTrail Account Change"}],"type":"ocsf_mapper"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"ocsf mapper (library only)"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"f7c85b6a-24e0-11f0-b6f8-da7ad0900002","type":"pipelines","attributes":{"name":"ocsf mapper (library only)","config":{"destinations":[{"id":"destination-1","inputs":["ocsf-mapper"],"type":"datadog_logs"}],"processors":[{"id":"ocsf-mapper","include":"*","inputs":["source-1"],"mappings":[{"include":"source:lib","mapping":"CloudTrail Account Change"}],"type":"ocsf_mapper"}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 592.048542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/f7c85b6a-24e0-11f0-b6f8-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"f7c85b6a-24e0-11f0-b6f8-da7ad0900002","type":"pipelines","attributes":{"name":"ocsf mapper (library only)","config":{"destinations":[{"id":"destination-1","inputs":["ocsf-mapper"],"type":"datadog_logs"}],"processors":[{"id":"ocsf-mapper","include":"*","inputs":["source-1"],"mappings":[{"include":"source:lib","mapping":"CloudTrail Account Change"}],"type":"ocsf_mapper"}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.650292ms
[...]
