---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogusersdatasourcefilter-local-17031716842@example.com","name":"user 2"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"ad792059-a013-11ee-875f-82008b9f90c4","attributes":{"name":"user 2","handle":"tf-testaccdatadogusersdatasourcefilter-local-17031716842@example.com","created_at":"2023-12-21T15:14:47.028363+00:00","modified_at":"2023-12-21T15:14:47.028363+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17031716842@example.com","icon":"https://secure.gravatar.com/avatar/ba9e49c9d79761844b8215edfe1a09b0?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 563.362541ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"ad792059-a013-11ee-875f-82008b9f90c4","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"ada5f18a-a013-11ee-93b9-da7ad0900002","attributes":{"uuid":"ada5f18a-a013-11ee-93b9-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2023-12-21T15:14:47.321251+00:00","expires_at":"2023-12-23T15:14:47.196604+00:00"},"relationships":{"user":{"data":{"type":"users","id":"ad792059-a013-11ee-875f-82008b9f90c4"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 294.964ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadogusersdatasourcefilter-local-17031716840%40example.com&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"ad7dbd94-a013-11ee-9ba2-8a288173867b","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcefilter-local-17031716840@example.com","created_at":"2023-12-21T15:14:47.058602+00:00","modified_at":"2023-12-21T15:14:47.058602+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17031716840@example.com","icon":"https://secure.gravatar.com/avatar/666450d3b9405aa6cfd37091b67921d0?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":244335,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.741947125s
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/adf90dbb-a013-11ee-aa66-9e9e98795f4e
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"adf90dbb-a013-11ee-aa66-9e9e98795f4e","attributes":{"name":"user 1","handle":"tf-testaccdatadogusersdatasourcefilter-local-17031716841@example.com","created_at":"2023-12-21T15:14:47.866747+00:00","modified_at":"2023-12-21T15:14:47.866747+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17031716841@example.com","icon":"https://secure.gravatar.com/avatar/9495e852418ce9c5ec5f5cf9e11958b1?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.447708ms
[...]
