---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
            - chunked
        body: '{"data":{"attributes":{},"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","relationships":{"groups":{"data":[{"id":"a7b82f83-bc48-4e83-8bc4-b3c49e90891d","type":"sensitive_data_scanner_group"},{"id":"ea3c029e-0e81-4276-8a60-9cd5cfde4060","type":"sensitive_data_scanner_group"},{"id":"2ce23920-b624-4dee-b2f7-6f7642ae6bab","type":"sensitive_data_scanner_group"},{"id":"7a03c333-e611-463f-9be4-eb543ef0770e","type":"sensitive_data_scanner_group"},{"id":"54885c3d-b58a-49c2-8f67-99d37a1c7486","type":"sensitive_data_scanner_group"},{"id":"c68321b1-d750-40b0-be6c-79d23b1a6c14","type":"sensitive_data_scanner_group"},{"id":"f85ee73e-99aa-463b-abad-2cb450edfd8c","ty[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"A relevant description","filter":{"query":"service:my-service"},"is_enabled":false,"name":"tf-testaccdatadogsdsgrouporder-basic-local-1758619244","product_list":["apm"],"samplings":[{"product":"apm","rate":100}]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
            - chunked
        body: '{"errors":[{"status":"400","title":"Bad Request","detail":"input_validation_error(Field ''data.relationships.configuration'' is invalid: configuration relationship is invalid)"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 176.19075ms
