---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"account_id":"123456789012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionResource_DefaultTags-local-1787232449","tags":["env:test","managed_by:terraform"]},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"b0cc9a92-ff49-442a-8ad3-1727dfac0fd7","type":"action_connection","attributes":{"acting_user_can_resolve":false,"external_secrets_manager":null,"integration":{"credentials":{"account_id":"123456789012","external_id":"b3e366ccc7064a78a2766941b34a7d35","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"is_favorite":false,"name":"tf-TestAccDatadogActionConnectionResource_DefaultTags-local-1787232449","tags":["env:test","managed_by:terraform"]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 481.959116ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/b0cc9a92-ff49-442a-8ad3-1727dfac0fd7
        method: GET
      response:
        body: '{"data":{"id":"b0cc9a92-ff49-442a-8ad3-1727dfac0fd7","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2026-08-20 13:27:31.325773 +0000 UTC","external_secrets_manager":null,"integration":{"credentials":{"account_id":"123456789012","external_id":"b3e366ccc7064a78a2766941b34a7d35","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"is_favorite":false,"last_updated":"2026-08-20 13:27:31.325773 +0000 UTC","name":"tf-TestAccDatadogActionConnectionResource_DefaultTags-local-1787232449","tags":["env:test","managed_by:terraform"]},"relationships":{"created_by":{"data":{"id":"9c2cc44c-0fd5-4356-b457-9413333601f1","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 54.805754ms
[...]
