---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccteampermissionsettingbasic-local-1758619471","name":"tf-testaccteampermissionsettingbasic-local-1758619471"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"498367c4-5a5d-411e-a083-d87cb874f509","attributes":{"name":"tf-testaccteampermissionsettingbasic-local-1758619471","handle":"tf-testaccteampermissionsettingbasic-local-1758619471","summary":"Example team","description":"Example team","avatar":null,"banner":5,"visible_modules":[],"hidden_modules":[],"created_at":"2025-09-23T09:24:36.555883+00:00","modified_at":"2025-09-23T09:24:36.555891+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/498367c4-5a5d-411e-a083-d87cb874f509/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/498367c4-5a5d-411e-a083-d87cb874f509/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 317.9005ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"value":"teams_manage"},"type":"team_permission_settings"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/498367c4-5a5d-411e-a083-d87cb874f509/permission-settings/edit
        method: PUT
      response:
            - chunked
        body: |
            {"data":{"type":"team_permission_settings","id":"TeamPermission-498367c4-5a5d-411e-a083-d87cb874f509-edit","attributes":{"action":"edit","options":["admins","members","organization","user_access_manage","teams_manage","saml","scim"],"value":"teams_manage"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.58125ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/498367c4-5a5d-411e-a083-d87cb874f509
        method: GET
      response:
        body: '{"data":{"id":"498367c4-5a5d-411e-a083-d87cb874f509","type":"team","attributes":{"created_at":"2025-09-23T09:24:36.555883+00:00","description":"Example team","handle":"tf-testaccteampermissionsettingbasic-local-1758619471","is_managed":false,"link_count":0,"modified_at":"2025-09-23T09:24:36.555891+00:00","name":"tf-testaccteampermissionsettingbasic-local-1758619471","summary":"Example team","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/498367c4-5a5d-411e-a083-d87cb874f509/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/498367c4-5a5d-411e-a083-d87cb874f509/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 138.643917ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/498367c4-5a5d-411e-a083-d87cb874f509/permission-settings
        method: GET
      response:
        body: '{"data":[{"id":"TeamPermission-498367c4-5a5d-411e-a083-d87cb874f509-manage_membership","type":"team_permission_settings","attributes":{"action":"manage_membership","editable":true,"options":["user_access_manage","admins","members","organization"],"title":"Add and Remove Members","value":"organization"}},{"id":"TeamPermission-498367c4-5a5d-411e-a083-d87cb874f509-edit","type":"team_permission_settings","attributes":{"action":"edit","editable":true,"options":["teams_manage","admins","members"],"title":"Edit Team Details","value":"teams_manage"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 160.063834ms
[...]
