---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguserdatasourcewithexactmatch-local-1768840994@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"e886a301-5d52-4295-830f-8ca92d52518f","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourcewithexactmatch-local-1768840994@example.com","created_at":"2026-01-19T16:43:16.657769+00:00","modified_at":"2026-01-19T16:43:16.657769+00:00","email":"tf-testaccdatadoguserdatasourcewithexactmatch-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/e9608359597e45f26ff8be92adac0355?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 826.435292ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/e886a301-5d52-4295-830f-8ca92d52518f
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"e886a301-5d52-4295-830f-8ca92d52518f","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourcewithexactmatch-local-1768840994@example.com","created_at":"2026-01-19T16:43:16.657769+00:00","modified_at":"2026-01-19T16:43:16.657769+00:00","email":"tf-testaccdatadoguserdatasourcewithexactmatch-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/e9608359597e45f26ff8be92adac0355?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 385.108292ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguserdatasourcewithexactmatch-local-1768840994%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"78e8f1d4-14c7-494c-919a-e20e52bd6e1d","attributes":{"name":"","handle":"othertf-testaccdatadoguserdatasourcewithexactmatch-local-17688409[...]
[...]
