---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-testaccdatadogroledatasourceexactmatch-local-1609425705 main"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"f81f1f46-4b77-11eb-8b55-6fed4f66970a","attributes":{"name":"tf-testaccdatadogroledatasourceexactmatch-local-1609425705
      main","created_at":"2020-12-31T14:53:40.090252+00:00","modified_at":"2020-12-31T14:53:40.090252+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - ilZ2Tz4sOtnH2tGRqlD9p6NDcucj4gVBdvczlxiOPhY/AWnWhycAWjVucOU5/NQA
      X-Dd-Version:
      - "35.3622023"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "484"
      X-Ratelimit-Reset:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/f81f1f46-4b77-11eb-8b55-6fed4f66970a
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"f81f1f46-4b77-11eb-8b55-6fed4f66970a","attributes":{"name":"tf-testaccdatadogroledatasourceexactmatch-local-1609425705
      main","created_at":"2020-12-31T14:53:40.090252+00:00","modified_at":"2020-12-31T14:53:40.090252+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JGlWx87vjxzcVRF7plc107v2ByhH6ulQ34FTks4+z+qF42As7SYEoQXA/cO3iKfw
      X-Dd-Version:
      - "35.3622023"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "482"
      X-Ratelimit-Reset:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListRoles
    url: https://api.datadoghq.com/api/v2/roles?filter=tf-testaccdatadogroledatasourceexactmatch-local-1609425705+main
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":2,"total_count":3378}},"data":[{"type":"roles","id":"f81f1f46-4b77-11eb-8b55-6fed4f66970a","attributes":{"name":"tf-testaccdatadogroledatasourceexactmatch-local-1609425705
      main","created_at":"2020-12-31T14:53:40.090252+00:00","modified_at":"2020-12-31T14:53:40.090252+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}},{"type":"roles","id":"f8350964-4b77-11eb-8b55-d383eff014c8","attributes":{"name":"tf-testaccdatadogroledatasourceexactmatch-local-1609425705
      main cloned","created_at":"2020-12-31T14:53:40.233666+00:00","modified_at":"2020-12-31T14:53:40.233666+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Eb2J7DZKGMCxUULFPVCE5N014uh3tvnvHgnaA7NVroaoqvWd6z7v+RZklq5100Rp
      X-Dd-Version:
      - "35.3622023"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "469"
      X-Ratelimit-Reset:
      - "19"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/f81f1f46-4b77-11eb-8b55-6fed4f66970a
    method: GET
  response:
    body: '{"errors": ["The role f81f1f46-4b77-11eb-8b55-6fed4f66970a does not exist
      not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3622023"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "460"
      X-Ratelimit-Reset:
      - "18"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
