---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testoncalluserphonenotificationrule-local-1776159481@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"f50b6ee0-16f4-4fa9-bb07-1a7eaba40b2c","attributes":{"uuid":"f50b6ee0-16f4-4fa9-bb07-1a7eaba40b2c","name":null,"handle":"tf-testoncalluserphonenotificationrule-local-1776159481@example.com","created_at":"2026-04-14T09:38:04.155342+00:00","modified_at":"2026-04-14T09:38:04.155342+00:00","email":"tf-testoncalluserphonenotificationrule-local-1776159481@example.com","icon":"https://secure.gravatar.com/avatar/94d46ff1c09759a686697cb19fbfa144?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.335123959s
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"f50b6ee0-16f4-4fa9-bb07-1a7eaba40b2c","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"a2ee9c1c-37e5-11f1-8f7d-da7ad0900002","attributes":{"uuid":"a2ee9c1c-37e5-11f1-8f7d-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2026-04-14T09:38:04.577809+00:00","expires_at":"2026-04-16T09:38:04.406873+00:00"},"relationships":{"user":{"data":{"type":"users","id":"f50b6ee0-16f4-4fa9-bb07-1a7eaba40b2c"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 414.499541ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"number":"+17039389548","type":"phone"}},"type":"notification_channels"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/users/f50b6ee0-16f4-4fa9-bb07-1a7eaba40b2c/notification-channels
        method: POST
      response:
        body: '{"data":{"id":"d8d1e270-1b4e-46fb-b853-1eb3a9bc098b","type":"notification_channels","attributes":{"active":true,"config":{"type":"phone","number":"+17039389548","formatted_number":"+1 703-938-9548","region":"us","verified":true,"sms_subscribed_at":"2026-04-14T09:38:04.750102Z"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 123.3135ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"category":"high_urgency","channel_settings":{"method":"voice","type":"phone"},"delay_minutes":1},"relationships":{"channel":{"data":{"id":"d8d1e270-1b4e-46fb-b853-1eb3a9bc098b","type":"notification_channels"}}},"type":"notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/users/f50b6ee0-16f4-4fa9-bb07-1a7eaba40b2c/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"2b157eb7-8b64-4b67-bd4c-3bfca3f43b40","type":"notification_rules","attributes":{"category":"high_urgency","channel_settings":{"type":"phone","method":"voice"},"delay_minutes":1},"relationships":{"channel":{"data":{"id":"d8d1e270-1b4e-46fb-b853-1eb3a9bc098b","type":"notification_channels"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 195.387042ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/users/f50b6ee0-16f4-4fa9-bb07-1a7eaba40b2c/notification-rules/2b157eb7-8b64-4b67-bd4c-3bfca3f43b40
        method: GET
      response:
        body: '{"data":{"id":"2b157eb7-8b64-4b67-bd4c-3bfca3f43b40","type":"notification_rules","attributes":{"category":"high_urgency","channel_settings":{"type":"phone","method":"voice"},"delay_minutes":1},"relationships":{"channel":{"data":{"id":"d8d1e270-1b4e-46fb-b853-1eb3a9bc098b","type":"notification_channels"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 106.64375ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/f50b6ee0-16f4-4fa9-bb07-1a7eaba40b2c
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"f50b6ee0-16f4-4fa9-bb07-1a7eaba40b2c","attributes":{"uuid":"f50b6ee0-16f4-4fa9-bb07-1a7eaba40b2c","name":null,"handle":"tf-testoncalluserphonenotificationrule-local-1776159481@example.com","created_at":"2026-04-14T09:38:04.155342+00:00","modified_at":"2026-04-14T09:38:04.155342+00:00","email":"tf-testoncalluserphonenotificationrule-local-1776159481@example.com","icon":"https://secure.gravatar.com/avatar/94d46ff1c09759a686697cb19fbfa144?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"team_roles":{"data":[]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.194292ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/users/f50b6ee0-16f4-4fa9-bb07-1a7eaba40b2c/notification-channels/d8d1e270-1b4e-46fb-b853-1eb3a9bc098b
        method: GET
      response:
        body: '{"data":{"id":"d8d1e270-1b4e-46fb-b853-1eb3a9bc098b","type":"notification_channels","attributes":{"active":true,"config":{"type":"phone","number":"+17039389548","formatted_number":"+1 703-938-9548","region":"us","verified":true,"sms_subscribed_at":"2026-04-14T09:38:04.750102Z"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 109.676458ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/users/f50b6ee0-16f4-4fa9-bb07-1a7eaba40b2c/notification-rules/2b157eb7-8b64-4b67-bd4c-3bfca3f43b40
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"notification rule not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 116.619625ms
[...]
