---
version: 1
interactions:
- request:
    body: |
      {"name":"tf-TestDatadogDashListInDashboardJSON-local-1682004047"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-04-20T15:20:48.688178+00:00","dashboards":null,"dashboard_count":0,"id":379594,"is_favorite":false,"modified":"2023-04-20T15:20:48.688184+00:00","name":"tf-TestDatadogDashListInDashboardJSON-local-1682004047","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/379594
    method: GET
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-04-20T15:20:48.688178+00:00","dashboards":null,"dashboard_count":0,"id":379594,"is_favorite":false,"modified":"2023-04-20T15:20:48.688184+00:00","name":"tf-TestDatadogDashListInDashboardJSON-local-1682004047","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/379594/dashboards
    method: GET
  response:
    body: |
      {"dashboards":[],"total":0}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\n   \"author_handle\":\"removed_handle\",\n   \"title\":\"tf-TestDatadogDashListInDashboardJSON-local-1682004047\",\n   \"description\":\"Created using the Datadog provider in Terraform\",\n   \"widgets\":[\n      {\n         \"id\":5436370674582587,\n         \"definition\":{\n            \"title\":\"Widget Title\",\n            \"type\":\"alert_value\",\n            \"alert_id\":\"895605\",\n            \"unit\":\"b\",\n            \"text_align\":\"center\",\n            \"precision\":3\n         }\n      }\n   ],\n   \"template_variables\":[\n      \n   ],\n   \"layout_type\":\"ordered\",\n   \"is_read_only\":true,\n   \"notify_list\":[\n      \n   ],\n   \"id\":\"5uw-bbj-xec\"\n}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"g5i-625-f8m","title":"tf-TestDatadogDashListInDashboardJSON-local-1682004047","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/g5i-625-f8m/tf-testdatadogdashlistindashboardjson-local-1682004047","is_read_only":true,"template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2023-04-20T15:20:49.388707+00:00","modified_at":"2023-04-20T15:20:49.388707+00:00"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/g5i-625-f8m
    method: GET
  response:
    body: |
      {"id":"g5i-625-f8m","title":"tf-TestDatadogDashListInDashboardJSON-local-1682004047","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/g5i-625-f8m/tf-testdatadogdashlistindashboardjson-local-1682004047","is_read_only":true,"template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2023-04-20T15:20:49.388707+00:00","modified_at":"2023-04-20T15:20:49.388707+00:00"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"g5i-625-f8m","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/379594/dashboards
    method: POST
  response:
    body: |
      {"added_dashboards_to_list":[{"type":"custom_timeboard","id":"g5i-625-f8m"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/379594/dashboards
    method: GET
  response:
    body: |
      {"dashboards":[{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-04-20T15:20:49.388707+00:00","is_favorite":false,"is_shared":false,"modified":"2023-04-20T15:20:49.388707+00:00","title":"tf-TestDatadogDashListInDashboardJSON-local-1682004047","type":"custom_timeboard","id":"g5i-625-f8m","url":"/dashboard/g5i-625-f8m/tf-testdatadogdashlistindashboardjson-local-1682004047","is_read_only":true,"tags":null,"icon":null,"integration_id":null,"popularity":0}],"total":1}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"dashboards":[{"id":"g5i-625-f8m","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/379594/dashboards
    method: DELETE
  response:
    body: |
      {"deleted_dashboards_from_list":[{"type":"custom_timeboard","id":"g5i-625-f8m"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/379594
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_list_id":379594}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/g5i-625-f8m
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"g5i-625-f8m"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/379594
    method: GET
  response:
    body: '{"errors":["Manual Dashboard List with id 379594 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
