---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-sp-degrade-tmpl-import-1787179210","name":"test-sp-degrade-tmpl-import-1787179210","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"05829b73-2b48-431e-aad6-67f8da441bff","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"53ab1890-b6d7-4fe5-9c15-875fd540ad8b","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T22:40:13.330014Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-import-1787179210","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T22:40:13.330014Z","name":"test-sp-degrade-tmpl-import-1787179210","page_url":"https://frog.datadoghq.com/status-pages/05829b73-2b48-431e-aad6-67f8da441bff/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 782.579958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/05829b73-2b48-431e-aad6-67f8da441bff
        method: GET
      response:
        body: '{"data":{"id":"05829b73-2b48-431e-aad6-67f8da441bff","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"53ab1890-b6d7-4fe5-9c15-875fd540ad8b","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T22:40:13.330014Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-import-1787179210","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T22:40:13.330014Z","name":"test-sp-degrade-tmpl-import-1787179210","page_url":"https://frog.datadoghq.com/status-pages/05829b73-2b48-431e-aad6-67f8da441bff/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 67.585334ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components_affected":[{"id":"53ab1890-b6d7-4fe5-9c15-875fd540ad8b","status":"degraded"}],"degradation_title":"API degradation","name":"test-sp-degrade-tmpl-import-1787179210","updates":[{"message":"We are investigating the issue.","status":"investigating"}]},"type":"degradation_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/05829b73-2b48-431e-aad6-67f8da441bff/degradation_templates
        method: POST
      response:
        body: '{"data":{"id":"bc5eb1b6-8708-4b84-8ee4-58d9d5032426","type":"degradation_templates","attributes":{"components_affected":[{"id":"53ab1890-b6d7-4fe5-9c15-875fd540ad8b","status":"degraded"}],"created_at":"2026-08-19T22:40:16.321274Z","degradation_title":"API degradation","modified_at":"2026-08-19T22:40:16.321274Z","name":"test-sp-degrade-tmpl-import-1787179210","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"05829b73-2b48-431e-aad6-67f8da441bff","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 85.726416ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/05829b73-2b48-431e-aad6-67f8da441bff/degradation_templates/bc5eb1b6-8708-4b84-8ee4-58d9d5032426
        method: GET
      response:
        body: '{"data":{"id":"bc5eb1b6-8708-4b84-8ee4-58d9d5032426","type":"degradation_templates","attributes":{"components_affected":[{"id":"53ab1890-b6d7-4fe5-9c15-875fd540ad8b","status":"degraded"}],"created_at":"2026-08-19T22:40:16.321274Z","degradation_title":"API degradation","modified_at":"2026-08-19T22:40:16.321274Z","name":"test-sp-degrade-tmpl-import-1787179210","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"05829b73-2b48-431e-aad6-67f8da441bff","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 69.245292ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/05829b73-2b48-431e-aad6-67f8da441bff/degradation_templates/bc5eb1b6-8708-4b84-8ee4-58d9d5032426
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 42.551917ms
