---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardIFrame_import-local-1767989134","widgets":[{"definition":{"type":"iframe","url":"https://en.wikipedia.org/wiki/Datadog"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"d2z-cee-k6r","title":"tf-TestAccDatadogDashboardIFrame_import-local-1767989134","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/d2z-cee-k6r/tf-testaccdatadogdashboardiframeimport-local-1767989134","template_variables":[],"widgets":[{"definition":{"type":"iframe","url":"https://en.wikipedia.org/wiki/Datadog"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":4404632125884489}],"notify_list":[],"created_at":"2026-01-09T20:05:35.819961+00:00","modified_at":"2026-01-09T20:05:35.819961+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.730583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/d2z-cee-k6r
        method: GET
      response:
            - chunked
        body: '{"id":"d2z-cee-k6r","title":"tf-TestAccDatadogDashboardIFrame_import-local-1767989134","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/d2z-cee-k6r/tf-testaccdatadogdashboardiframeimport-local-1767989134","template_variables":[],"widgets":[{"definition":{"type":"iframe","url":"https://en.wikipedia.org/wiki/Datadog"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":4404632125884489}],"notify_list":[],"created_at":"2026-01-09T20:05:35.819961+00:00","modified_at":"2026-01-09T20:05:35.819961+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.854625ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/d2z-cee-k6r
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"d2z-cee-k6r"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 308.041125ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/d2z-cee-k6r
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID d2z-cee-k6r not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 85.862458ms
