---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardDatasource-local-1758619475 one","widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"iew-g49-zds","title":"tf-TestAccDatadogDashboardDatasource-local-1758619475 one","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/iew-g49-zds/tf-testaccdatadogdashboarddatasource-local-1758619475-one","template_variables":[],"widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":8175226705769507}],"notify_list":[],"created_at":"2025-09-23T09:24:52.177923+00:00","modified_at":"2025-09-23T09:24:52.177923+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 534.25575ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/iew-g49-zds
        method: GET
      response:
        body: '{"id":"iew-g49-zds","title":"tf-TestAccDatadogDashboardDatasource-local-1758619475 one","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/iew-g49-zds/tf-testaccdatadogdashboarddatasource-local-1758619475-one","template_variables":[],"widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":8175226705769507}],"notify_list":[],"created_at":"2025-09-23T09:24:52.177923+00:00","modified_at":"2025-09-23T09:24:52.177923+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.757875ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/suq-fd7-2zy
        method: GET
      response:
        body: '{"id":"suq-fd7-2zy","title":"tf-TestAccDatadogDashboardDatasource-local-1758619475 two","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/suq-fd7-2zy/tf-testaccdatadogdashboarddatasource-local-1758619475-two","template_variables":[],"widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":1500257772614369}],"notify_list":[],"created_at":"2025-09-23T09:24:52.288992+00:00","modified_at":"2025-09-23T09:24:52.288992+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.580334ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard
        method: GET
      response:
            - chunked
        body: |
            {"dashboards":[{"id":"d5e-dpd-umy","title":"Cloud Foundry - Infrastructure Overview","description":"","layout_type":"ordered","url":"/dashboard/d5e-dpd-umy/cloud-foundry---infrastructure-overview","is_read_only":false,"created_at":"2024-01-05T16:22:20.712589+00:00","modified_at":"2025-07-30T11:19:42.575524+00:00","author_handle":"noueman.khalikine@datadoghq.com","deleted_at":null},{"id":"qzq-ecf-9wt","title":"Bruce test dashboard","description":"Created using the Datadog provider in Terraform","layout_type":"ordered","url":"/dashboard/qzq-ecf-9wt/bruce-test-dashboard","is_read_only":true,"created_at":"2024-10-04T18:55:30.675257+00:00","modified_at":"2025-09-17T21:22:14.874791+00:00","author_handle":"frog@datadoghq.com","deleted_at":null},{"id":"3f9-4ni-c37","title":"Bruce Ordered Layout Dashboard","description":"Created using the Datadog provider in Terraform","layo[...]
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/iew-g49-zds
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"iew-g49-zds"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 254.550042ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/suq-fd7-2zy
        method: GET
      response:
        body: '{"errors":["Dashboard with ID suq-fd7-2zy not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 168.008541ms
