---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1758619075","name":"team-tf-testacconcallschedulecreateandupdate-local-1758619075"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"a34d475c-550c-419d-8f4b-f5a1ecb94a2a","attributes":{"name":"team-tf-testacconcallschedulecreateandupdate-local-1758619075","handle":"team-tf-testacconcallschedulecreateandupdate-local-1758619075","summary":"Description","description":"Description","avatar":null,"banner":8,"visible_modules":[],"hidden_modules":[],"created_at":"2025-09-23T09:17:57.154750+00:00","modified_at":"2025-09-23T09:17:57.154759+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a34d475c-550c-419d-8f4b-f5a1ecb94a2a/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a34d475c-550c-419d-8f4b-f5a1ecb94a2a/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 294.169625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1758619075@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"31b446f3-985e-11f0-b02d-42a89f2fb4a2","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1758619075@example.com","created_at":"2025-09-23T09:17:57.673166+00:00","modified_at":"2025-09-23T09:17:57.673166+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1758619075@example.com","icon":"https://secure.gravatar.com/avatar/c8d11e8a9189c60d235947c6de6e76a5?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 720.272292ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"31b446f3-985e-11f0-b02d-42a89f2fb4a2","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"32307026-985e-11f0-a359-da7ad0900002","attributes":{"uuid":"32307026-985e-11f0-a359-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:17:58.486397+00:00","expires_at":"2025-09-25T09:17:58.001017+00:00"},"relationships":{"user":{"data":{"type":"users","id":"31b446f3-985e-11f0-b02d-42a89f2fb4a2"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 827.496708ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00-08:00","end_date":"2026-01-01T00:00:00+05:00","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"31b446f3-985e-11f0-b02d-42a89f2fb4a2"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00-09:00"}],"name":"tf-testacconcallschedulecreateandupdate-local-1758619075","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"a34d475c-550c-419d-8f4b-f5a1ecb94a2a","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"6821951e-49ce-4d2b-ba60-bc32f447aa17","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1758619075","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"0bbb89c0-f4e1-44c1-beb0-ac8e379c6103","type":"layers"}]},"teams":{"data":[{"id":"a34d475c-550c-419d-8f4b-f5a1ecb94a2a","type":"teams"}]}}},"included":[{"id":"0bbb89c0-f4e1-44c1-beb0-ac8e379c6103","type":"layers","attributes":{"effective_date":"2025-01-01T00:00:00-08:00","end_date":"2026-01-01T00:00:00+05:00","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00-09:00"},"relationships":{"members":{"data":[{"id":"0bbb89c0-f4e1-44c1-beb0-ac8e379c6103-member-1","type":"members"},{"id":"0bbb89c0-f4e1-44c1-beb0-ac8e379c6103-member-2","type":"members"}]}}},{"id":"0bbb89c0-f4e1-44c1-beb0-ac8e379c6103-member-1","type":"members","relationships":{"user":{"data":{"id":"31b446f3-985e-11f0-b02d-42a89f2fb4a2","type":"users"}}}},{"id":"31b446f3-985e-11f0-b02d-42a89f2fb4a2","type":"users","attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1758619075@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 153.814167ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/a34d475c-550c-419d-8f4b-f5a1ecb94a2a
        method: GET
      response:
        body: '{"data":{"id":"a34d475c-550c-419d-8f4b-f5a1ecb94a2a","type":"team","attributes":{"created_at":"2025-09-23T09:17:57.154750+00:00","description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1758619075","is_managed":false,"link_count":0,"modified_at":"2025-09-23T09:17:57.154759+00:00","name":"team-tf-testacconcallschedulecreateandupdate-local-1758619075","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/a34d475c-550c-419d-8f4b-f5a1ecb94a2a/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/a34d475c-550c-419d-8f4b-f5a1ecb94a2a/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 148.961583ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/31b446f3-985e-11f0-b02d-42a89f2fb4a2
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"31b446f3-985e-11f0-b02d-42a89f2fb4a2","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1758619075@example.com","created_at":"2025-09-23T09:17:57.673166+00:00","modified_at":"2025-09-23T09:17:57.673166+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1758619075@example.com","icon":"https://secure.gravatar.com/avatar/c8d11e8a9189c60d235947c6de6e76a5?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.5555ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/6821951e-49ce-4d2b-ba60-bc32f447aa17?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"6821951e-49ce-4d2b-ba60-bc32f447aa17","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1758619075","time_zone":"America/New_York"},"relationships":{[...]
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/6821951e-49ce-4d2b-ba60-bc32f447aa17
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 377.077417ms
[...]
