version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"new@example.com","name":"testTerraformServiceAccountApplicationKeys","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
    id: 0
  response:
    body: |
      {"data":{"type":"users","id":"c311800f-0613-11ee-ae2c-72a5b6567120","attributes":{"name":"testTerraformServiceAccountApplicationKeys","handle":"c311800f-0613-11ee-ae2c-72a5b6567120","created_at":"2023-06-08T15:47:24.192031+00:00","modified_at":"2023-06-08T15:47:24.195070+00:00","email":"new@example.com","icon":"https://secure.gravatar.com/avatar/b681d72feaf8bf6a93d9a8ab86679ec3?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: "0ms"
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccServiceAccountApplicationKeyBasic-local-1686239241"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts/c311800f-0613-11ee-ae2c-72a5b6567120/application_keys
    method: POST
    id: 1
  response:
    body: |
      {"data":{"type":"application_keys","id":"8bce8554-5d84-4035-abc7-ddfe841dd171","attributes":{"name":"tf-TestAccServiceAccountApplicationKeyBasic-local-1686239241","created_at":"2023-06-08T15:47:24.420410+00:00","last4":"8ce2","key":"34b16e33c7607c1264408a069dd45f50948e8ce2","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"c311800f-0613-11ee-ae2c-72a5b6567120"}},"leak_information":{"data":null}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/c311800f-0613-11ee-ae2c-72a5b6567120
    method: GET
    id: 2
  response:
    body: |
      {"data":{"type":"users","id":"c311800f-0613-11ee-ae2c-72a5b6567120","attributes":{"name":"testTerraformServiceAccountApplicationKeys","handle":"c311800f-0613-11ee-ae2c-72a5b6567120","created_at":"2023-06-08T15:47:24.192031+00:00","modified_at":"2023-06-08T15:47:24.195070+00:00","email":"new@example.com","icon":"https://secure.gravatar.com/avatar/b681d72feaf8bf6a93d9a8ab86679ec3?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/service_accounts/c311800f-0613-11ee-ae2c-72a5b6567120/application_keys/8bce8554-5d84-4035-abc7-ddfe841dd171
    method: GET
    id: 3
  response:
    body: |
      {"data":{"type":"application_keys","id":"8bce8554-5d84-4035-abc7-ddfe841dd171","attributes":{"name":"tf-TestAccServiceAccountApplicationKeyBasic-local-1686239241","created_at":"2023-06-08T15:47:24.420410+00:00","last4":"8ce2","scopes":null},"relationships":{"leak_information":{"data":null}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
