---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 192.604333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"second-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:second"},"reference_table":null}]},"id":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Update-local-1762446219","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"86b0789e-fc3a-4636-b8e5-4f261f5fc104","type":"ruleset","attributes":{"created":{"seconds":1762446220,"nanos":742012000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1762446220,"nanos":742012000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Update-local-1762446219","position":1,"rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3621651}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 101.517458ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[{"id":"86b0789e-fc3a-4636-b8e5-4f261f5fc104","type":"ruleset","attributes":{"created":{"seconds":1762446220,"nanos":742012000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1762446220,"nanos":742012000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Update-local-1762446219","position":1,"processing_status":"error","rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3621651}},{"id":"d0c1a7aa-9db0-4d28-826d-4627f04010f6","type":"ruleset","attributes":{"created":{"seconds":1762446220,"nanos":798498000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1762446220,"nanos[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"d0c1a7aa-9db0-4d28-826d-4627f04010f6","type":"ruleset"},{"id":"86b0789e-fc3a-4636-b8e5-4f261f5fc104","type":"ruleset"},{"id":"f65a39e8-a636-4f2b-be31-b7a311cfb993","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 49.786958ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/d0c1a7aa-9db0-4d28-826d-4627f04010f6
        method: GET
      response:
        body: '{"data":{"id":"d0c1a7aa-9db0-4d28-826d-4627f04010f6","type":"ruleset","attributes":{"created":{"seconds":1762446220,"nanos":798498000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1762446220,"nanos":798498000},"name":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesets_Update-local-1762446219","position":1,"processing_status":"error","rules":[{"name":"first-rule","enabled":true,"query":{"query":"service:first","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3621652}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 103.628291ms
[...]
