---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"service:sds-scenario-runner"},"is_enabled":true,"name":"tf-testaccdatadogsensitivedatascannergroup-samplingorder-local-1781076728","product_list":["logs","apm","rum","events"],"samplings":[{"product":"logs","rate":25},{"product":"rum","rate":25},{"product":"events","rate":25},{"product":"apm","rate":25}]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
        body: '{"data":{"id":"2972a46a-3f75-4694-b325-9faed10e1b6f","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"service:sds-scenario-runner"},"is_enabled":true,"name":"tf-testaccdatadogsensitivedatascannergroup-samplingorder-local-1781076728","product_list":["logs","apm","rum","events"],"samplings":[{"product":"apm","rate":25},{"product":"rum","rate":25},{"product":"events","rate":25},{"product":"logs","rate":25}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]},"targeted_obfuscations":{"data":[]}}},"meta":{"group_count_limit":20,"rule_count_limit":750,"custom_rule_count_limit":100,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"has_cascading_enabled":false,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"min_sampling_rate":10,"is_onboarded_to_telemetry":true,"version":312845,"count_limit":750}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 301.829166ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
        body: '{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"6aab3c19-cfba-4b88-b20e-c438f86d8b3f","type":"sensitive_data_scanner_group"},{"id":"090318d4-e191-4463-9948-0b4eccd07b89","type":"sensitive_data_scanner_group"},{"id":"451a0943-c994-46c9-9e92-e6748d6e0745","type":"sensitive_data_scanner_group"},{"id":"8e321a05-a6ea-43a0-b951-477bdc031f58","type":"sensitive_data_scanner_group"},{"id":"781e63bb-b3cf-485c-8c3e-dfac61dfd6c4","type":"sensitive_data_scanner_group"},{"id":"311eefdb-8f3e-44ee-bd76-570ffb8459b4","type":"sensitive_data_sca[...]
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/2972a46a-3f75-4694-b325-9faed10e1b6f
        method: DELETE
      response:
        body: '{"data":null,"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 316.658459ms
[...]
