---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"test-rule","query":{"addition":{"key":"env","value":"test"},"if_not_exists":false,"query":"service:test"},"reference_table":null}]},"id":"tf-test-tag-ruleset-tf-TestAccDatadogTagPipelineRuleset_Import-local-1759525280","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"c3032998-064e-4add-9e08-0fb57bebd5b6","type":"ruleset","attributes":{"created":{"seconds":1759525282,"nanos":86556000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759525282,"nanos":86556000},"name":"tf-test-tag-ruleset-tf-TestAccDatadogTagPipelineRuleset_Import-local-1759525280","position":2,"rules":[{"name":"test-rule","enabled":true,"query":{"query":"service:test","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3609240}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 132.237917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/c3032998-064e-4add-9e08-0fb57bebd5b6
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 79.914ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/c3032998-064e-4add-9e08-0fb57bebd5b6
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset c3032998-064e-4add-9e08-0fb57bebd5b6 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 59.539333ms
