---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles
        method: GET
      response:
        body: '{"data":[{"id":"5f002dba-7cd2-11ef-8717-da7ad0900002","type":"ms-teams-tenant-based-handle-info","attributes":{"channel_id":"19:m2LnqTUOkhuzGCyeG_0xql4rbKc2ZSJ25JS6UZINc-01@thread.tacv2","channel_name":"General","name":"test","team_id":"008b01f1-4b68-4e81-b8a9-cfa27ba6c112","team_name":"incident-6252-is_this_a_new_title","tenant_id":"4d3bac44-0230-4732-9e70-cc00736f0a97","tenant_name":"Datadog, Inc."}},{"id":"9fc79cf6-7ffd-11ef-b391-da7ad0900002","type":"ms-teams-tenant-based-handle-info","attributes":{"channel_id":"19:iD_D2xy_sAa-JV851JJYwIa6mlW9F9Nxm3SLyZq68qY1@thread.tacv2","channel_name":"General-1","name":"TwA43H2NIrilngRZ6dOvNBVNFx4fZvPgdYaroSwcvoObDbJ8RRJtSyKCjkiV2AaVziZSfxNKrL7oV4XHAC0gDv4cuZwGzkv3hJyPGqCuUEHP89CyJMOrtkCRgCM5XeNqoK28J2todRY8ibd3S3xwIwmCK83F2bnBjVB6WEDbmO92F7B9XcIglNwPpy7KMeNRjzxy8Y3c0Ji6jYQIIMRDnawdBGWqCQmGtJ7mFPCHpYlZHKBT7uyV1gIAuGtwIr","team_id":"e5[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/channel/Datadog%2C%20Inc./incident-6252-is_this_a_new_title/General
        method: GET
      response:
        body: '{"data":{"id":"19:m2LnqTUOkhuzGCyeG_0xql4rbKc2ZSJ25JS6UZINc-01@thread.tacv2","type":"ms-teams-channel-info","attributes":{"is_primary":true,"team_id":"008b01f1-4b68-4e81-b8a9-cfa27ba6c112","tenant_id":"4d3bac44-0230-4732-9e70-cc00736f0a97"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 488.485917ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles?name=tf-testaccmsteamstenantbasedhandlesbasic-local-1758619109
        method: GET
      response:
        body: '{"data":[{"id":"46022bda-985e-11f0-8aff-da7ad0900002","type":"ms-teams-tenant-based-handle-info","attributes":{"channel_id":"19:m2LnqTUOkhuzGCyeG_0xql4rbKc2ZSJ25JS6UZINc-01@thread.tacv2","channel_name":"General","name":"tf-testaccmsteamstenantbasedhandlesbasic-local-1758619109","team_id":"008b01f1-4b68-4e81-b8a9-cfa27ba6c112","team_name":"incident-6252-is_this_a_new_title","tenant_id":"4d3bac44-0230-4732-9e70-cc00736f0a97","tenant_name":"Datadog, Inc."}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 249.250667ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles/46022bda-985e-11f0-8aff-da7ad0900002
        method: GET
      response:
        body: '{"data":{"id":"46022bda-985e-11f0-8aff-da7ad0900002","type":"tenant-based-handle","attributes":{"channel_id":"19:m2LnqTUOkhuzGCyeG_0xql4rbKc2ZSJ25JS6UZINc-01@thread.tacv2","name":"tf-testaccmsteamstenantbasedhandlesbasic-local-1758619109","team_id":"008b01f1-4b68-4e81-b8a9-cfa27ba6c112","tenant_id":"4d3bac44-0230-4732-9e70-cc00736f0a97"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 286.828792ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/tenant-based-handles?name=tf-testaccmsteamstenantbasedhandlesbasic-local-1758619109-updated
        method: GET
      response:
        body: '{"data":[{"id":"46022bda-985e-11f0-8aff-da7ad0900002","type":"ms-teams-tenant-based-handle-info","attributes":{"channel_id":"19:m2LnqTUOkhuzGCyeG_0xql4rbKc2ZSJ25JS6UZINc-01@thread.tacv2","channel_name":"General","name":"tf-testaccmsteamstenantbasedhandlesbasic-local-1758619109-updated","team_id":"008b01f1-4b68-4e81-b8a9-cfa27ba6c112","team_name":"incident-6252-is_this_a_new_title","tenant_id":"4d3bac44-0230-4732-9e70-cc00736f0a97","tenant_name":"Datadog, Inc."}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 222.38375ms
[...]
