---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2QueryTableSort-local-1784742692","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {host}"}],"response_format":"scalar","sort":{"count":25,"order_by":[{"order":"desc","type":"formula"}]}}],"title":"Formula request sort","type":"query_table"}},{"definition":{"requests":[{"q":"avg:system.mem.used{*} by {host}","sort":{"count":10,"order_by":[{"name":"host","order":"asc","type":"group"}]}}],"title":"Legacy request sort","type":"query_table"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"z2v-8wv-brv","title":"tf-TestAccDatadogDashboardV2QueryTableSort-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/z2v-8wv-brv/tf-testaccdatadogdashboardv2querytablesort-local-1784742692","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {host}"}],"response_format":"scalar","sort":{"count":25,"order_by":[{"order":"desc","type":"formula"}]}}],"title":"Formula request sort","type":"query_table"},"id":2028926355876115},{"definition":{"requests":[{"q":"avg:system.mem.used{*} by {host}","sort":{"count":10,"order_by":[{"name":"host","order":"asc","type":"group"}]}}],"title":"Legacy request sort","type":"query_table"},"id":8850624330527790}],"notify_list":[],"created_at":"2026-07-22T17:51:36.761149+00:00","modified_at":"2026-07-22T17:51:36.761149+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 558.484834ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/z2v-8wv-brv
        method: GET
      response:
            - chunked
        body: '{"id":"z2v-8wv-brv","title":"tf-TestAccDatadogDashboardV2QueryTableSort-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/z2v-8wv-brv/tf-testaccdatadogdashboardv2querytablesort-local-1784742692","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {host}"}],"response_format":"scalar","sort":{"count":25,"order_by":[{"order":"desc","type":"formula"}]}}],"title":"Formula request sort","type":"query_table"},"id":2028926355876115},{"definition":{"requests":[{"q":"avg:system.mem.used{*} by {host}","sort":{"count":10,"order_by":[{"name":"host","order":"asc","type":"group"}]}}],"title":"Legacy request sort","type":"query_table"},"id":8850624330527790}],"notify_list":[],"created_at":"2026-07-22T17:51:36.761149+00:00","modified_at":"2026-07-22T17:51:36.761149+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.192ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/z2v-8wv-brv
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"z2v-8wv-brv"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 754.719875ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/z2v-8wv-brv
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID z2v-8wv-brv not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 240.219834ms
