---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"reflow_type":"auto","template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardMultiSizeLayout_createAuto-local-1626980196","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"t5w-r85-zp6","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createAuto-local-1626980196","url":"/dashboard/t5w-r85-zp6/tf-testaccdatadogdashboardmultisizelayoutcreateauto-local-1626980196","created_at":"2021-07-22T18:56:40.223289+00:00","modified_at":"2021-07-22T18:56:40.223289+00:00","reflow_type":"auto","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"id":1128161204247016},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"id":6449044663052239}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/t5w-r85-zp6
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"t5w-r85-zp6","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createAuto-local-1626980196","url":"/dashboard/t5w-r85-zp6/tf-testaccdatadogdashboardmultisizelayoutcreateauto-local-1626980196","created_at":"2021-07-22T18:56:40.223289+00:00","modified_at":"2021-07-22T18:56:40.223289+00:00","reflow_type":"auto","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"id":1128161204247016},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"id":6449044663052239}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/t5w-r85-zp6
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"t5w-r85-zp6"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
