---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"name":"tf-TestAccDatadogNotificationRuleVulnerabilityRuleSimple-local-1738684654","selectors":{"query":"simple:query","rule_types":["misconfiguration"],"severities":["critical"],"trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600},"type":"notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules
        method: POST
      response:
        body: '{"data":{"id":"jpa-psj-mjx","type":"notification_rules","attributes":{"created_at":1738684657296,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1738684657296,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleVulnerabilityRuleSimple-local-1738684654","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 153.028625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/jpa-psj-mjx
        method: GET
      response:
        body: '{"data":{"id":"jpa-psj-mjx","type":"notification_rules","attributes":{"created_at":1738684657296,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1738684657296,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleVulnerabilityRuleSimple-local-1738684654","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 305.40475ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/jpa-psj-mjx
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''jpa-psj-mjx'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 161.395292ms
[...]
