---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"locations":["aws:eu-central-1"],"message":"","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1737636570","options":{"device_ids":["chrome.laptop_large"],"httpVersion":"any","initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"status":"paused","steps":[{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name without local key","noScreenshot":false,"params":{"check":"contains","element":{"multiLocator":{"ab":"ab no local key","at":"at no local key","cl":"cl no local key","clt":"clt no local key","co":"co no local key"},"targetOuterHTML":"targetOuterHTML no local key","url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"value":"step value"},"timeout":0,"type":"assertElementContent"},{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name second","noScreenshot":false,"params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".second"}]}},"value":"step second value"},"timeout":0,"type":"assertElementContent"},{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name third","noScreenshot":false,"params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".third"}]}},"value":"step third value"},"timeout":0,"type":"assertElementContent"},{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name fourth","noScreenshot":false,"params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".fourth"}]}},"value":"step fourth value"},"timeout":0,"type":"assertElementContent"}],"tags":[],"type":"browser"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"gp6-wsd-uwy","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1737636570","status":"paused","type":"browser","tags":[],"created_at":"2025-01-23T12:49:33.476573+00:00","modified_at":"2025-01-23T12:49:33.476573+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"message":"","options":{"device_ids":["chrome.laptop_large"],"httpVersion":"any","initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"locations":["aws:eu-central-1"],"created_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":163275941,"org_id":321813,"modified_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"steps":[{"name":"step name without local key","params":{"check":"contains","element":{"multiLocator":{"ab":"ab no local key","at":"at no local key","cl":"cl no local key","clt":"clt no local key","co":"co no local key"},"targetOuterHTML":"targetOuterHTML no local key","url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"value":"step value"},"timeout":0,"type":"assertElementContent","public_id":[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/browser/gp6-wsd-uwy
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"gp6-wsd-uwy","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1737636570","status":"paused","type":"browser","tags":[],"created_at":"2025-01-23T12:49:33.476573+00:00","modified_at":"2025-01-23T12:49:33.476573+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"message":"","options":{"device_ids":["chrome.laptop_large"],"httpVersion":"any","initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"locations":["aws:eu-central-1"],"monitor_id":163275941,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"steps":[{"name":"step name without local key","params":{"check":"contains","element":{"multiLocator":{"ab":"ab no local key","at":"at no local key","cl":"cl no local key","clt":"clt no local key","co":"co no local key"},"targetOuterHTML":"targetOuterHTML no local key","url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"value":"step value"},"timeout":0,"type":"assertElementContent","public_id":[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/gp6-wsd-uwy
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"gp6-wsd-uwy","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1737636570","status":"paused","type":"browser","tags":[],"created_at":"2025-01-23T12:49:33.476573+00:00","modified_at":"2025-01-23T12:49:33.476573+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"message":"","options":{"device_ids":["chrome.laptop_large"],"httpVersion":"any","initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"locations":["aws:eu-central-1"],"monitor_id":163275941,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.252167ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["gp6-wsd-uwy"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"gp6-wsd-uwy","deleted_at":"2025-01-23T12:49:45.164895+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 764.450833ms
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/gp6-wsd-uwy
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 129.436833ms
