---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"api_key":"datadog-api-key","app_key":"datadog-app-key","datacenter":"us1.datadoghq.com","subdomain":"example","type":"DatadogAPIKey"},"type":"Datadog"},"name":"tf-TestAccDatadogActionConnectionResource_Datadog-local-1783949276"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"cec3e913-6bde-4095-be37-9279b3e45d64","type":"action_connection","attributes":{"acting_user_can_resolve":false,"external_secrets_manager":null,"integration":{"credentials":{"api_key":"","app_key":"","datacenter":"us1.datadoghq.com","subdomain":"example","type":"DatadogAPIKey"},"type":"Datadog"},"is_favorite":false,"name":"tf-TestAccDatadogActionConnectionResource_Datadog-local-1783949276"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 81.729825ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/cec3e913-6bde-4095-be37-9279b3e45d64
        method: GET
      response:
        body: '{"data":{"id":"cec3e913-6bde-4095-be37-9279b3e45d64","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2026-07-13 13:28:03.301875 +0000 UTC","external_secrets_manager":null,"integration":{"credentials":{"api_key":"","app_key":"","datacenter":"us1.datadoghq.com","subdomain":"example","type":"DatadogAPIKey"},"type":"Datadog"},"is_favorite":false,"last_updated":"2026-07-13 13:28:03.301875 +0000 UTC","name":"tf-TestAccDatadogActionConnectionResource_Datadog-local-1783949276"},"relationships":{"created_by":{"data":{"id":"9c2cc44c-0fd5-4356-b457-9413333601f1","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 59.437349ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/cec3e913-6bde-4095-be37-9279b3e45d64
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 37.898851ms
