version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardCheckStatus_import-local-1682003511","widgets":[{"definition":{"check":"aws.ec2.host_status","group_by":["app"],"grouping":"cluster","tags":["account:prod"],"title":"Agent Up","title_align":"center","title_size":"16","type":"check_status"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"zr5-eek-4z7","title":"tf-TestAccDatadogDashboardCheckStatus_import-local-1682003511","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/zr5-eek-4z7/tf-testaccdatadogdashboardcheckstatusimport-local-1682003511","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"check":"aws.ec2.host_status","group_by":["app"],"grouping":"cluster","tags":["account:prod"],"title":"Agent Up","title_align":"center","title_size":"16","type":"check_status"},"id":3512573131384036}],"notify_list":[],"created_at":"2023-04-20T15:11:53.037379+00:00","modified_at":"2023-04-20T15:11:53.037379+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/zr5-eek-4z7
    method: GET
    id: 1
  response:
    body: |
      {"id":"zr5-eek-4z7","title":"tf-TestAccDatadogDashboardCheckStatus_import-local-1682003511","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/zr5-eek-4z7/tf-testaccdatadogdashboardcheckstatusimport-local-1682003511","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"check":"aws.ec2.host_status","group_by":["app"],"grouping":"cluster","tags":["account:prod"],"title":"Agent Up","title_align":"center","title_size":"16","type":"check_status"},"id":3512573131384036}],"notify_list":[],"created_at":"2023-04-20T15:11:53.037379+00:00","modified_at":"2023-04-20T15:11:53.037379+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/zr5-eek-4z7
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"zr5-eek-4z7"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/zr5-eek-4z7
    method: GET
    id: 5
  response:
    body: '{"errors":["Dashboard with ID zr5-eek-4z7 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
