---
version: 1
interactions:
- request:
    body: |
      {"filter":{"query":"source:kafka"},"is_enabled":false,"name":"tf-TestAccLogsCustomPipeline_importBasic-local-1615213622","processors":[{"expression":"(time1 - time2)*1000","is_enabled":false,"is_replace_missing":true,"name":"test arithmetic processor","target":"my_arithmetic","type":"arithmetic-processor"},{"is_enabled":true,"name":"test attribute remapper","override_on_conflict":false,"preserve_source":true,"source_type":"tag","sources":["db.instance"],"target":"db","target_type":"tag","type":"attribute-remapper"},{"categories":[{"filter":{"query":"@severity: \".\""},"name":"debug"},{"filter":{"query":"@severity: \"-\""},"name":"verbose"}],"is_enabled":false,"name":"test category processor","target":"redis.severity","type":"category-processor"},{"is_enabled":true,"name":"test date remapper","sources":["date"],"type":"date-remapper"},{"is_enabled":true,"name":"2nd date remapper","sources":["other"],"type":"date-remapper"},{"is_enabled":false,"name":"test message remapper","sources":["message"],"type":"message-remapper"},{"is_enabled":false,"name":"test service remapper","sources":["service"],"type":"service-remapper"},{"is_enabled":false,"name":"test status remapper","sources":["status","extra"],"type":"status-remapper"},{"is_enabled":false,"name":"test trace id remapper","sources":["dd.trace_id"],"type":"trace-id-remapper"},{"filter":{"query":"source:redis"},"is_enabled":false,"name":"nested pipeline","processors":[{"grok":{"match_rules":"Rule %{word:my_word2} %{number:my_float2}","support_rules":""},"is_enabled":false,"name":"test grok parser","source":"message","type":"grok-parser"},{"is_enabled":false,"name":"test url parser","normalize_ending_slashes":true,"sources":["url","extra"],"target":"http_url","type":"url-parser"}],"type":"pipeline"},{"is_enabled":false,"is_encoded":false,"name":"test user agent parser","sources":["user","agent"],"target":"http_agent","type":"user-agent-parser"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
    method: POST
  response:
    body: '{"id":"DgtYMnzzS8mL_MqXWDOOuA","type":"pipeline","name":"tf-TestAccLogsCustomPipeline_importBasic-local-1615213622","is_enabled":false,"is_read_only":false,"filter":{"query":"source:kafka"},"processors":[{"name":"test arithmetic processor","is_enabled":false,"expression":"(time1 - time2)*1000","target":"my_arithmetic","is_replace_missing":true,"type":"arithmetic-processor"},{"name":"test attribute remapper","is_enabled":true,"sources":["db.instance"],"source_type":"tag","target":"db","target_type":"tag","preserve_source":true,"override_on_conflict":false,"type":"attribute-remapper"},{"name":"test category processor","is_enabled":false,"categories":[{"filter":{"query":"@severity: \".\""},"name":"debug"},{"filter":{"query":"@severity: \"-\""},"name":"verbose"}],"target":"redis.severity","type":"category-processor"},{"name":"test date remapper","is_enabled":true,"sources":["date"],"type":"date-remapper"},{"name":"2nd date remapper","is_enabled":true,"sources":["other"],"type":"date-remapper"},{"name":"test message remapper","is_enabled":false,"sources":["message"],"type":"message-remapper"},{"name":"test service remapper","is_enabled":false,"sources":["service"],"type":"service-remapper"},{"name":"test status remapper","is_enabled":false,"sources":["status","extra"],"type":"status-remapper"},{"name":"test trace id remapper","is_enabled":false,"sources":["dd.trace_id"],"type":"trace-id-remapper"},{"type":"pipeline","name":"nested pipeline","is_enabled":false,"filter":{"query":"source:redis"},"processors":[{"name":"test grok parser","is_enabled":false,"source":"message","samples":[],"grok":{"support_rules":"","match_rules":"Rule %{word:my_word2} %{number:my_float2}"},"type":"grok-parser"},{"name":"test url parser","is_enabled":false,"sources":["url","extra"],"target":"http_url","normalize_ending_slashes":true,"type":"url-parser"}]},{"name":"test user agent parser","is_enabled":false,"sources":["user","agent"],"target":"http_agent","is_encoded":false,"type":"user-agent-parser"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.4051246"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "284"
      X-Ratelimit-Reset:
      - "177"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/DgtYMnzzS8mL_MqXWDOOuA
    method: GET
  response:
    body: '{"id":"DgtYMnzzS8mL_MqXWDOOuA","type":"pipeline","name":"tf-TestAccLogsCustomPipeline_importBasic-local-1615213622","is_enabled":false,"is_read_only":false,"filter":{"query":"source:kafka"},"processors":[{"name":"test arithmetic processor","is_enabled":false,"expression":"(tim[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/DgtYMnzzS8mL_MqXWDOOuA
    method: GET
  response:
    body: '{"error":{"code":"InvalidArgument","message":"Non existing pipeline"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4051246"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4952"
      X-Ratelimit-Reset:
      - "1974"
    status: 400 Bad Request
    code: 400
    duration: ""
