---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
        body: '{"id":"abc-123-xyz","title":"tf-TestAccDatadogDashboardSecureEmbed_Basic-local-1748004837","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/abc-123-xyz","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"background_color":"white","content":"placeholder","font_size":"14","has_padding":true,"show_tick":false,"text_align":"left","tick_edge":"left","tick_pos":"50%","type":"note"},"id":1234567890}],"notify_list":[],"tags":[],"created_at":"2026-03-03T23:51:33+00:00","modified_at":"2026-03-03T23:51:33+00:00","template_variable_presets":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/abc-123-xyz
        method: GET
      response:
        body: '{"id":"abc-123-xyz","title":"tf-TestAccDatadogDashboardSecureEmbed_Basic-local-1748004837","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/abc-123-xyz","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"background_color":"white","content":"placeholder","font_size":"14","has_padding":true,"show_tick":false,"text_align":"left","tick_edge":"left","tick_pos":"50%","type":"note"},"id":1234567890}],"notify_list":[],"tags":[],"created_at":"2026-03-03T23:51:33+00:00","modified_at":"2026-03-03T23:51:33+00:00","template_variable_presets":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: '{"data":{"type":"secure_embed_request","attributes":{"title":"tf-TestAccDatadogDashboardSecureEmbed_Basic-local-1748004837","status":"active","global_time":{"live_span":"1h"},"global_time_selectable":true,"viewing_preferences":{"theme":"system"}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/dashboard/abc-123-xyz/shared/secure-embed
        method: POST
      response:
        body: '{"data":{"type":"secure_embed","attributes":{"token":"SecureEmbedToken123456789","url":"https://app.datadoghq.com/sb/SecureEmbedToken123456789","credential":"hmac-credential-abc123xyz","title":"tf-TestAccDatadogDashboardSecureEmbed_Basic-local-1748004837","status":"active","global_time":{"live_span":"1h"},"global_time_selectable":true,"selectable_template_vars":[],"viewing_preferences":{"theme":"system","high_density":false}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 300ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/dashboard/abc-123-xyz/shared/secure-embed/SecureEmbedToken123456789
        method: GET
      response:
        body: '{"data":{"type":"secure_embed","attributes":{"token":"SecureEmbedToken123456789","url":"https://app.datadoghq.com/sb/SecureEmbedToken123456789","title":"tf-TestAccDatadogDashboardSecureEmbed_Basic-local-1748004837","status":"active","global_time":{"live_span":"1h"},"global_time_selectable":true,"selectable_template_vars":[],"viewing_preferences":{"theme":"system","high_density":false}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 100ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/abc-123-xyz
        method: DELETE
      response:
        body: '{"deleted_dashboard_id":"abc-123-xyz"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/dashboard/abc-123-xyz/shared/secure-embed/SecureEmbedToken123456789
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 100ms
