---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-sp-degrade-tmpl-updated-1787179210","name":"test-sp-degrade-tmpl-updated-1787179210","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"5dc45db3-a8fe-4ab1-a9ca-845df91631f0","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"b97deea1-24e5-495a-af99-05eae6314ec4","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T22:40:13.285976Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-updated-1787179210","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T22:40:13.285976Z","name":"test-sp-degrade-tmpl-updated-1787179210","page_url":"https://frog.datadoghq.com/status-pages/5dc45db3-a8fe-4ab1-a9ca-845df91631f0/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.943661583s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/5dc45db3-a8fe-4ab1-a9ca-845df91631f0
        method: GET
      response:
        body: '{"data":{"id":"5dc45db3-a8fe-4ab1-a9ca-845df91631f0","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"b97deea1-24e5-495a-af99-05eae6314ec4","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T22:40:13.285976Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-updated-1787179210","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T22:40:13.285976Z","name":"test-sp-degrade-tmpl-updated-1787179210","page_url":"https://frog.datadoghq.com/status-pages/5dc45db3-a8fe-4ab1-a9ca-845df91631f0/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 64.695709ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components_affected":[{"id":"b97deea1-24e5-495a-af99-05eae6314ec4","status":"degraded"}],"degradation_title":"API degradation","name":"test-sp-degrade-tmpl-updated-1787179210","updates":[{"message":"We are investigating the issue.","status":"investigating"}]},"type":"degradation_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/5dc45db3-a8fe-4ab1-a9ca-845df91631f0/degradation_templates
        method: POST
      response:
        body: '{"data":{"id":"8dc5b89e-2fdd-4cb3-bc36-1518702da119","type":"degradation_templates","attributes":{"components_affected":[{"id":"b97deea1-24e5-495a-af99-05eae6314ec4","status":"degraded"}],"created_at":"2026-08-19T22:40:17.722122Z","degradation_title":"API degradation","modified_at":"2026-08-19T22:40:17.722122Z","name":"test-sp-degrade-tmpl-updated-1787179210","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"5dc45db3-a8fe-4ab1-a9ca-845df91631f0","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 86.3025ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/5dc45db3-a8fe-4ab1-a9ca-845df91631f0/degradation_templates/8dc5b89e-2fdd-4cb3-bc36-1518702da119
        method: GET
      response:
        body: '{"data":{"id":"8dc5b89e-2fdd-4cb3-bc36-1518702da119","type":"degradation_templates","attributes":{"components_affected":[{"id":"b97deea1-24e5-495a-af99-05eae6314ec4","status":"degraded"}],"created_at":"2026-08-19T22:40:17.722122Z","degradation_title":"API degradation","modified_at":"2026-08-19T22:40:17.722122Z","name":"test-sp-degrade-tmpl-updated-1787179210","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"5dc45db3-a8fe-4ab1-a9ca-845df91631f0","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 75.220167ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/5dc45db3-a8fe-4ab1-a9ca-845df91631f0/degradation_templates/8dc5b89e-2fdd-4cb3-bc36-1518702da119
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 43.663333ms
