---
version: 2
interactions:
    - id: 0
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
        body: |
            {"data":{"type":"gcp_sts_delegate","id":"ddgci-1145fac3f772a31fb964@datadog-cloud-ints-staging.iam.gserviceaccount.com","attributes":{"delegate_account_email":"ddgci-1145fac3f772a31fb964@datadog-cloud-ints-staging.iam.gserviceaccount.com"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.977791ms
    - id: 1
      request:
        host: dd.datad0g.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":true,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1728585307@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":false,"is_security_command_center_enabled":false},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v2/integration/gcp/accounts
        method: POST
      response:
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1728585307@test-project.iam.gserviceaccount.com","automute":true,"is_cspm_enabled":false,"is_resource_change_collection_enabled":false,"account_tags":[],"host_filters":[],"cloud_run_revision_filters":[],"is_security_command_center_enabled":false,"resource_collection_enabled":true},"id":"55e12dc0-2394-41ca-aab3-d707ba0aed1e"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 850.845833ms
    - id: 2
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://dd.datad0g.com/api/v2/integration/gcp/accounts
        method: GET
      response:
        body: |
            {"data":[{"type":"gcp_service_account","attributes":{"client_email":"ashraf-hanafy-sabbirs-test-org@datadog-gcp-ints-test-b.iam.gserviceaccount.com","automute":false,"is_cspm_enabled":true,"is_resource_change_collection_enabled":false,"account_tags":[],"host_filters":[],"cloud_run_revision_filters":[],"is_security_command_center_enabled":false,"resource_collection_enabled":true},"meta":{"accessible_projects":["datadog-gcp-ints-test-b"]},"id":"bec95f56-48ad-480f-86cf-6cee4ee52300"},{"type":"gcp_service_account","attributes":{"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1728585307@test-project.iam.gserviceaccount.com","automute":true,"is_cspm_enabled":false,"is_resource_change_collection_enabled":false,"account_tags":[],"host_filters":[],"cloud_run_revision_filters":[],"is_security_command_center_enabled":false,"resource_collection_enabled":true},"meta":{"accessible_projects":[]},"id":"55e[...]
[...]
    - id: 4
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://dd.datad0g.com/api/v2/integration/gcp/accounts/55e12dc0-2394-41ca-aab3-d707ba0aed1e
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 102.795458ms
