---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"api_key":"tf-TestAccIntegrationConfluentAccountBasic-local-1758618653","api_secret":"test-api-secret-123","tags":["foo:bar"]},"type":"confluent-cloud-accounts"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"confluent-cloud-accounts","attributes":{"api_key":"tf-TestAccIntegrationConfluentAccountBasic-local-1758618653","tags":["foo:bar"],"resources":[]},"id":"2a7e4fc151aa9c51b2f116e511fda848"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 539.364833ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/2a7e4fc151aa9c51b2f116e511fda848
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"confluent-cloud-accounts","attributes":{"resources":[],"api_key":"tf-TestAccIntegrationConfluentAccountBasic-local-1758618653","tags":["foo:bar"]},"id":"2a7e4fc151aa9c51b2f116e511fda848"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.524834ms
[...]
