---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1747127865","name":"team-tf-testacconcallschedulecreateandupdate-local-1747127865"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"c6d90171-687c-4c8b-9eb5-aa26f475cdc4","attributes":{"name":"team-tf-testacconcallschedulecreateandupdate-local-1747127865","handle":"team-tf-testacconcallschedulecreateandupdate-local-1747127865","summary":"Description","description":"Description","avatar":null,"banner":12,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-13T09:17:47.194449+00:00","modified_at":"2025-05-13T09:17:47.194458+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/c6d90171-687c-4c8b-9eb5-aa26f475cdc4/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/c6d90171-687c-4c8b-9eb5-aa26f475cdc4/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 534.924167ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1747127865@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"22cbf330-2fdb-11f0-a8c6-ae25280e2fc4","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1747127865@example.com","created_at":"2025-05-13T09:17:47.662039+00:00","modified_at":"2025-05-13T09:17:47.662039+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1747127865@example.com","icon":"https://secure.gravatar.com/avatar/83ee3dfd3646892ca2e854311ba3fc54?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 900.254625ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"22cbf330-2fdb-11f0-a8c6-ae25280e2fc4","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"230d7ab2-2fdb-11f0-b7ea-da7ad0900002","attributes":{"uuid":"230d7ab2-2fdb-11f0-b7ea-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-05-13T09:17:48.091047+00:00","expires_at":"2025-05-15T09:17:47.900262+00:00"},"relationships":{"user":{"data":{"type":"users","id":"22cbf330-2fdb-11f0-a8c6-ae25280e2fc4"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 431.29625ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","end_date":"2026-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"22cbf330-2fdb-11f0-a8c6-ae25280e2fc4"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"tf-testacconcallschedulecreateandupdate-local-1747127865","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"c6d90171-687c-4c8b-9eb5-aa26f475cdc4","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"833c3951-cc40-47e5-b71e-e8ddf2a29be9","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1747127865","tags":null,"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"7dd07032-c5c3-4c3b-a728-b57f58ada161","type":"layers"}]},"teams":{"data":[{"id":"c6d90171-687c-4c8b-9eb5-aa26f475cdc4","type":"teams"}]}}},"included":[{"id":"7dd07032-c5c3-4c3b-a728-b57f58ada161","type":"layers","attributes":{"effective_date":"2025-05-13T09:17:48.287620872Z","end_date":"2026-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"7dd07032-c5c3-4c3b-a728-b57f58ada161-member-1","type":"members"},{"id":"7dd07032-c5c3-4c3b-a728-b57f58ada161-member-2","type":"members"}]}}},{"id":"7dd07032-c5c3-4c3b-a728-b57f58ada161-member-1","type":"members","relationships":{"user":{"data":{"id":"22cbf330-2fdb-11f0-a8c6-ae25280e2fc4","type":"users"}}}},{"id":"22cbf330-2fdb-11f0-a8c6-ae25280e2fc4","type":"users","attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1747127865@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 162.427584ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/22cbf330-2fdb-11f0-a8c6-ae25280e2fc4
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"22cbf330-2fdb-11f0-a8c6-ae25280e2fc4","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1747127865@example.com","created_at":"2025-05-13T09:17:47.662039+00:00","modified_at":"2025-05-13T09:17:47.662039+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1747127865@example.com","icon":"https://secure.gravatar.com/avatar/83ee3dfd3646892ca2e854311ba3fc54?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.908292ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/c6d90171-687c-4c8b-9eb5-aa26f475cdc4
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"c6d90171-687c-4c8b-9eb5-aa26f475cdc4","relationships":{"user_team_permissions":{"links":{"related":"/api/v2/team/c6d90171-687c-4c8b-9eb5-aa26f475cdc4/permission-settings"}},"team_links":{"links":{"related":"/api/v2/team/c6d90171-687c-4c8b-9eb5-aa26f475cdc4/links"}}},"attributes":{"handle":"team-tf-testacconcallschedulecreateandupdate-local-1747127865","link_count":0,"name":"team-tf-testacconcallschedulecreateandupdate-local-1747127865","is_managed":false,"created_at":"2025-05-13T09:17:47.194449+00:00","user_count":0,"summary":"Description","modified_at":"2025-05-13T09:17:47.194458+00:00","description":"Description"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.862708ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/833c3951-cc40-47e5-b71e-e8ddf2a29be9?include=layers%2Clayers.members%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"833c3951-cc40-47e5-b71e-e8ddf2a29be9","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1747127865","tags":null,"time_zone":"America[...]
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/833c3951-cc40-47e5-b71e-e8ddf2a29be9
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 139.056792ms
[...]
