---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"encoding":"json","id":"pubsub-destination-1","inputs":["source-1"],"project":"my-gcp-project","topic":"logs-topic","type":"google_pubsub"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"pubsub-destination-minimal-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"4e475984-d5c4-11f0-9f11-da7ad0900002","type":"pipelines","attributes":{"name":"pubsub-destination-minimal-pipeline","config":{"destinations":[{"encoding":"json","id":"pubsub-destination-1","inputs":["source-1"],"project":"my-gcp-project","topic":"logs-topic","type":"google_pubsub"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 729.416458ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/4e475984-d5c4-11f0-9f11-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"4e475984-d5c4-11f0-9f11-da7ad0900002","type":"pipelines","attributes":{"name":"pubsub-destination-minimal-pipeline","config":{"destinations":[{"encoding":"json","id":"pubsub-destination-1","inputs":["source-1"],"project":"my-gcp-project","topic":"logs-topic","type":"google_pubsub"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.064792ms
[...]
