---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"level":1,"name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-matching","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scorecard/rules
        method: POST
      response:
        body: '{"data":{"id":"4zusljvw52bjpjfs","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-scorecard","created_at":"2026-05-14T19:32:24.85885013Z","custom":true,"enabled":true,"level":1,"modified_at":"2026-05-14T19:32:24.85885013Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-matching","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-scorecard"},"relationships":{"policy_scope":{"data":{"id":"4zusljvw52bjpjfs","type":"policy-scope"}},"scorecard":{"data":{"id":"oiWt2LlNrIz2","type":"scorecard"}}}},"included":[{"id":"4zusljvw52bjpjfs","type":"policy-scope","attributes":{"scopes":[{"kind":"service","query":"has_definition:\"true\""},{"kind":"queue","query":"has_definition:\"true\""},{"kind":"datastore","query":"has_definition:\"true\""}]}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 375.727209ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bname%5D=tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-matching&page%5Boffset%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"4zusljvw52bjpjfs","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-scorecard","created_at":"2026-05-14T19:32:24.85885Z","custom":true,"enabled":true,"level":1,"modified_at":"2026-05-14T19:32:24.85885Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-matching","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-scorecard"},"relationships":{"policy_scope":{"data":{"id":"4zusljvw52bjpjfs","type":"policy-scope"}},"scorecard":{"data":{"id":"oiWt2LlNrIz2","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bname%5D=tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-matching\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=100"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 117.45475ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=4zusljvw52bjpjfs&page%5Bsize%5D=1
        method: GET
      response:
        body: '{"data":[{"id":"4zusljvw52bjpjfs","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-scorecard","created_at":"2026-05-14T19:32:24.85885Z","custom":true,"enabled":true,"level":1,"modified_at":"2026-05-14T19:32:24.85885Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-matching","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-scorecard"},"relationships":{"policy_scope":{"data":{"id":"4zusljvw52bjpjfs","type":"policy-scope"}},"scorecard":{"data":{"id":"oiWt2LlNrIz2","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=4zusljvw52bjpjfs\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 35.217834ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=20w904akcabmwty5&page%5Bsize%5D=1
        method: GET
      response:
        body: '{"data":[{"id":"20w904akcabmwty5","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-scorecard","created_at":"2026-05-14T19:32:24.861756Z","custom":true,"enabled":true,"level":2,"modified_at":"2026-05-14T19:32:24.861756Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-other","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-scorecard"},"relationships":{"policy_scope":{"data":{"id":"20w904akcabmwty5","type":"policy-scope"}},"scorecard":{"data":{"id":"oiWt2LlNrIz2","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=20w904akcabmwty5\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 63.017917ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules/20w904akcabmwty5
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 866.023334ms
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules/4zusljvw52bjpjfs
        method: DELETE
      response:
        body: '{"data":{"id":"4zusljvw52bjpjfs","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-scorecard","created_at":"2026-05-14T19:32:24.85885Z","custom":true,"enabled":true,"level":1,"modified_at":"2026-05-14T19:32:24.85885Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-matching","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778787143-scorecard"},"relationships":{"policy_scope":{"data":{"id":"4zusljvw52bjpjfs","type":"policy-scope"}},"scorecard":{"data":{"id":"oiWt2LlNrIz2","type":"scorecard"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 934.055166ms
[...]
