---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"app_service_plan_filters":"","automute":false,"client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e","client_secret":"TestingRh2nx664kUy5dIApvM54T4AtO","container_app_filters":"","cspm_enabled":false,"custom_metrics_enabled":false,"host_filters":"","tenant_name":"3dd09408-5eb7-1ebd-73f9-19e2cef85037"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.587167ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: GET
      response:
            - chunked
        body: |
            [{"tenant_name":"3dd09408-5eb7-1ebd-73f9-19e2cef85037","client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e","host_filters":"","app_service_plan_filters":"","container_app_filters":"","automute":false,"cspm_enabled":false,"custom_metrics_enabled":false,"resource_collection_enabled":true,"errors":[],"warnings":[]},{"tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1720634274ee","client_id":"testc7f6-1234-5678-9101-3fcbf123test","host_filters":"foo:bar,buzz:lightyear","app_service_plan_filters":"","container_app_filters":"","automute":false,"cspm_enabled":false,"custom_metrics_enabled":false,"resource_collection_enabled":true,"errors":["Invalid credentials. Datadog could not authenticate with Azure."],"warnings":[]},{"tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1721390913ee","client_id":"testc7f6-1234-5678-9101-3fcbf12[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"destination":{"container":"my-container","integration":{"client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e","tenant_id":"3dd09408-5eb7-1ebd-73f9-19e2cef85037"},"path":"/path/blou","storage_account":"storageaccount","type":"azure"},"include_tags":false,"name":"my first azure archive","query":"service:toto","rehydration_max_scan_size_in_gb":null,"rehydration_tags":[]},"type":"archives"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/archives
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"CxR8QFwwRKK5BrsOOZdXCQ","attributes":{"name":"my first azure archive","query":"service:toto","state":"UNKNOWN","destination":{"container":"my-container","storage_account":"storageaccount","path":"/path/blou","type":"azure","integration":{"tenant_id":"3dd09408-5eb7-1ebd-73f9-19e2cef85037","client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e"}},"rehydration_tags":[],"include_tags":false,"rehydration_max_scan_size_in_gb":null}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.273083ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/archives/CxR8QFwwRKK5BrsOOZdXCQ
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"CxR8QFwwRKK5BrsOOZdXCQ","attributes":{"name":"my first azure archive","query":"service:toto","state":"UNKNOWN","destination":{"container":"my-container","storage_account":"storageaccount","path":"/path/blou","type":"azure","integration":{"tenant_id":"3dd09408-5eb7-1ebd-73f9-19e2cef85037","client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e"}},"rehydration_tags":[],"include_tags":false,"rehydration_max_scan_size_in_gb":null}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.5995ms
[...]
