---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[],"configVariables":[],"request":{"method":"GET","url":"https://www.datadoghq.com"},"variables":[]},"locations":["aws:eu-central-1"],"message":"","name":"tf-TestAccDatadogSyntheticsBrowserTest_DragDrop-local-1777549972","options":{"device_ids":["laptop_large"],"httpVersion":"any","min_location_failed":1,"tick_every":3600},"status":"paused","steps":[{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"Drag element","noScreenshot":false,"params":{"element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":"#drag-source"}]}},"options":{"delay":120,"offset":{"x":100,"y":100}}},"timeout":0,"type":"drag"},{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"Drop on target","noScreenshot":false,"params":{"element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":"#drop-target"}]}},"options":{"delay":100}},"timeout":0,"type":"drop"}],"tags":[],"type":"browser"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"a7t-rqf-xrx","name":"tf-TestAccDatadogSyntheticsBrowserTest_DragDrop-local-1777549972","status":"paused","type":"browser","tags":[],"created_at":"2026-04-30T11:52:54.390860+00:00","modified_at":"2026-04-30T11:52:54.390860+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","url":"https://www.datadoghq.com"},"variables":[]},"message":"","options":{"device_ids":["laptop_large"],"httpVersion":"any","min_location_failed":1,"tick_every":3600},"locations":["aws:eu-central-1"],"created_by":{"name":"Victor Cumer","handle":"victor.cumer@datadoghq.com","email":"victor.cumer@datadoghq.com"},"deleted_at":null,"monitor_id":278214783,"org_id":321813,"modified_by":{"name":"Victor Cumer","handle":"victor.cumer@datadoghq.com","email":"victor.cumer@datadoghq.com"},"creation_source":"terraform","steps":[{"name":"Drag element","params":{"element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":"#drag-source"}]}},"options":{"delay":120,"offset":{"x":100,"y":100}}},"timeout":0,"type":"drag","public_id":"8tv-snd-n8k","allowFailure":false,"isCritical":false,"noScreenshot":false,"exitIfSucceed":false,"alwaysExecute":false},{"name":"Drop on target","params":{"element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":"#drop-target"}]}},"options":{"delay":100}},"timeout":0,"type":"drop","public_id":"r5y-6tb-p3j","allowFailure":false,"isCritical":false,"noScreenshot":false,"exitIfSucceed":false,"alwaysExecute":false}],"stepCount":{"assertions":0,"subtests":0,"total":2,"nested_steps":1}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 506.567625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/browser/a7t-rqf-xrx
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"a7t-rqf-xrx","name":"tf-TestAccDatadogSyntheticsBrowserTest_DragDrop-local-1777549972","status":"paused","type":"browser","tags":[],"created_at":"2026-04-30T11:52:54.390860+00:00","modified_at":"2026-04-30T11:52:54.390860+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","url":"https://www.datadoghq.com"},"variables":[]},"message":"","options":{"device_ids":["laptop_large"],"httpVersion":"any","min_location_failed":1,"tick_every":3600},"locations":["aws:eu-central-1"],"monitor_id":278214783,"creator":{"name":"Victor Cumer","handle":"victor.cumer@datadoghq.com","email":"victor.cumer@datadoghq.com"},"steps":[{"name":"Drag element","params":{"element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":"#drag-source"}]}},"options":{"delay":120,"offset":{"x":100,"y":100}}},"timeout":0,"type":"drag","public_id":"8tv-snd-n8k","allowFailure":false,"isCritical":false,"noScreenshot":false,"exitIfSucceed":false,"alwaysExecute":false},{"name":"Drop on target","params":{"element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":"#drop-target"}]}},"options":{"delay":100}},"timeout":0,"type":"drop","public_id":"r5y-6tb-p3j","allowFailure":false,"isCritical":false,"noScreenshot":false,"exitIfSucceed":false,"alwaysExecute":false}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.68375ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/a7t-rqf-xrx
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"a7t-rqf-xrx","name":"tf-TestAccDatadogSyntheticsBrowserTest_DragDrop-local-1777549972","status":"paused","type":"browser","tags":[],"created_at":"2026-04-30T11:52:54.390860+00:00","modified_at":"2026-04-30T11:52:54.390860+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","url":"https://www.datadoghq.com"},"variables":[]},"message":"","options":{"device_ids":["laptop_large"],"httpVersion":"any","min_location_failed":1,"tick_every":3600},"locations":["aws:eu-central-1"],"monitor_id":278214783,"creator":{"name":"Victor Cumer","handle":"victor.cumer@datadoghq.com","email":"victor.cumer@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 280.586958ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["a7t-rqf-xrx"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"a7t-rqf-xrx","deleted_at":"2026-04-30T11:52:57.078557+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 746.7305ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/a7t-rqf-xrx
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 151.983916ms
