---
version: 1
interactions:
- request:
    body: |
      {"name":"tf-TestDatadogDashListInDashboardJSON-local-1626980257"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListInDashboardJSON-local-1626980257","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-07-22T18:57:39.286485+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-07-22T18:57:39.286511+00:00","id":223387}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/223387
    method: GET
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListInDashboardJSON-local-1626980257","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-07-22T18:57:39.286485+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-07-22T18:57:39.286511+00:00","id":223387}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/223387/dashboards
    method: GET
  response:
    body: '{"total":0,"dashboards":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\n   \"author_handle\":\"removed_handle\",\n   \"title\":\"tf-TestDatadogDashListInDashboardJSON-local-1626980257\",\n   \"description\":\"Created using the Datadog provider in Terraform\",\n   \"widgets\":[\n      {\n         \"id\":5436370674582587,\n         \"definition\":{\n            \"title\":\"Widget Title\",\n            \"type\":\"alert_value\",\n            \"alert_id\":\"895605\",\n            \"unit\":\"b\",\n            \"text_align\":\"center\",\n            \"precision\":3\n         }\n      }\n   ],\n   \"template_variables\":[\n      \n   ],\n   \"layout_type\":\"ordered\",\n   \"is_read_only\":true,\n   \"notify_list\":[\n      \n   ],\n   \"id\":\"5uw-bbj-xec\"\n}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variables":[],"is_read_only":true,"id":"ng8-daw-3kf","title":"tf-TestDatadogDashListInDashboardJSON-local-1626980257","url":"/dashboard/ng8-daw-3kf/tf-testdatadogdashlistindashboardjson-local-1626980257","created_at":"2021-07-22T18:57:39.682937+00:00","modified_at":"2021-07-22T18:57:39.682937+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title":"Widget Title","text_align":"center","precision":3,"alert_id":"895605","type":"alert_value","unit":"b"},"id":5436370674582587}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/ng8-daw-3kf
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variables":[],"is_read_only":true,"id":"ng8-daw-3kf","title":"tf-TestDatadogDashListInDashboardJSON-local-1626980257","url":"/dashboard/ng8-daw-3kf/tf-testdatadogdashlistindashboardjson-local-1626980257","created_at":"2021-07-22T18:57:39.682937+00:00","modified_at":"2021-07-22T18:57:39.682937+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title":"Widget Title","text_align":"center","precision":3,"alert_id":"895605","type":"alert_value","unit":"b"},"id":5436370674582587}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"ng8-daw-3kf","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/223387/dashboards
    method: POST
  response:
    body: '{"added_dashboards_to_list":[{"type":"custom_timeboard","id":"ng8-daw-3kf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/223387/dashboards
    method: GET
  response:
    body: '{"total":1,"dashboards":[{"popularity":0,"title":"tf-TestDatadogDashListInDashboardJSON-local-1626980257","is_favorite":false,"id":"ng8-daw-3kf","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/ng8-daw-3kf/tf-testdatadogdashlistindashboardjson-local-1626980257","created":"2021-07-22T18:57:39.682937+00:00","modified":"2021-07-22T18:57:39.682937+00:00","is_read_only":true,"type":"custom_timeboard"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"dashboards":[{"id":"ng8-daw-3kf","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/223387/dashboards
    method: DELETE
  response:
    body: '{"deleted_dashboards_from_list":[{"type":"custom_timeboard","id":"ng8-daw-3kf"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/ng8-daw-3kf
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"ng8-daw-3kf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/223387
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":223387}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/223387
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 223387 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
