---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardFreeText_import-local-1767989062","widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"x2a-b9s-zpp","title":"tf-TestAccDatadogDashboardFreeText_import-local-1767989062","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/x2a-b9s-zpp/tf-testaccdatadogdashboardfreetextimport-local-1767989062","template_variables":[],"widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":4422298135370840}],"notify_list":[],"created_at":"2026-01-09T20:04:23.431880+00:00","modified_at":"2026-01-09T20:04:23.431880+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.644625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/x2a-b9s-zpp
        method: GET
      response:
            - chunked
        body: '{"id":"x2a-b9s-zpp","title":"tf-TestAccDatadogDashboardFreeText_import-local-1767989062","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/x2a-b9s-zpp/tf-testaccdatadogdashboardfreetextimport-local-1767989062","template_variables":[],"widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":4422298135370840}],"notify_list":[],"created_at":"2026-01-09T20:04:23.431880+00:00","modified_at":"2026-01-09T20:04:23.431880+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.022334ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/x2a-b9s-zpp
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"x2a-b9s-zpp"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 371.664125ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/x2a-b9s-zpp
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID x2a-b9s-zpp not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 96.315875ms
