---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"address_key":"SOCKET_SEND_ADDRESS","encoding":"json","framing":{"method":"newline_delimited"},"id":"socket-dest","inputs":["pg1"],"mode":"tcp","tls":{"crt_file":"/path/to/cert.pem","key_pass_key":"TLS_KEY_PASSPHRASE"},"type":"socket"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"pg1","include":"*","inputs":["socket-src"],"processors":[{"enabled":true,"field":"message","id":"p1","include":"*","type":"parse_json"}]}],"sources":[{"address_key":"SOCKET_LISTEN_ADDRESS","framing":{"method":"newline_delimited"},"id":"socket-src","mode":"tcp","tls":{"crt_file":"/path/to/cert.pem","key_pass_key":"TLS_KEY_PASSPHRASE"},"type":"socket"}]},"name":"pipeline secret key fields"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"1e3b55a6-1246-11f1-92d5-da7ad0900002","type":"pipelines","attributes":{"name":"pipeline secret key fields","config":{"destinations":[{"address_key":"SOCKET_SEND_ADDRESS","encoding":"json","framing":{"method":"newline_delimited"},"id":"socket-dest","inputs":["pg1"],"mode":"tcp","tls":{"crt_file":"/path/to/cert.pem","key_pass_key":"TLS_KEY_PASSPHRASE"},"type":"socket"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"pg1","include":"*","inputs":["socket-src"],"processors":[{"enabled":true,"field":"message","id":"p1","include":"*","type":"parse_json"}]}],"processors":[{"enabled":true,"id":"pg1","include":"*","inputs":["socket-src"],"processors":[{"enabled":true,"field":"message","id":"p1","include":"*","type":"parse_json"}]}],"sources":[{"address_key":"SOCKET_LISTEN_ADDRESS","framing":{"method":"newline_delimited"},"id":"socket-src","mode":"tcp","tls":{"crt_file":"/path/to/cert.pem","key_pass_key":"TLS_KEY_PASSPHRASE"},"type":"socket"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.009081625s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/1e3b55a6-1246-11f1-92d5-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"1e3b55a6-1246-11f1-92d5-da7ad0900002","type":"pipelines","attributes":{"name":"pipeline secret key fields","config":{"destinations":[{"address_key":"SOCKET_SEND_ADDRESS","encoding":"json","framing":{"method":"newline_delimited"},"id":"socket-dest","inputs":["pg1"],"mode":"tcp","tls":{"crt_file":"/path/to/cert.pem","key_pass_key":"TLS_KEY_PASSPHRASE"},"type":"socket"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"pg1","include":"*","inputs":["socket-src"],"processors":[{"enabled":true,"field":"message","id":"p1","include":"*","type":"parse_json"}]}],"processors":[{"enabled":true,"id":"pg1","include":"*","inputs":["socket-src"],"processors":[{"enabled":true,"field":"message","id":"p1","include":"*","type":"parse_json"}]}],"sources":[{"address_key":"SOCKET_LISTEN_ADDRESS","framing":{"method":"newline_delimited"},"id":"socket-src","mode":"tcp","tls":{"crt_file":"/path/to/cert.pem","key_pass_key":"TLS_KEY_PASSPHRASE"},"type":"socket"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 257.656709ms
[...]
