---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_updated-local-1626980073@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"41df0362-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_updated-local-1626980073@example.com","created_at":"2021-07-22T18:54:35.159620+00:00","modified_at":"2021-07-22T18:54:35.476929+00:00","email":"tf-testaccdatadoguser_updated-local-1626980073@example.com","icon":"https://secure.gravatar.com/avatar/bd2af5c594236072e5116d5428155ca8?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"41df0362-eb1e-11eb-b233-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"41df0363-eb1e-11eb-b233-da7ad0900002","attributes":{"uuid":"41df0363-eb1e-11eb-b233-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2021-07-22T18:54:35.708071+00:00","expires_at":"2021-07-24T18:54:35.615163+00:00"},"relationships":{"user":{"data":{"type":"users","id":"41df0362-eb1e-11eb-b233-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/41df0362-eb1e-11eb-b233-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"41df0362-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_updated-local-1626980073@example.com","created_at":"2021-07-22T18:54:35.159620+00:00","modified_at":"2021-07-22T18:54:35.476929+00:00","email":"tf-testaccdatadoguser_updated-local-1626980073@example.com","icon":"https://secure.gravatar.com/avatar/bd2af5c594236072e5116d5428155ca8?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/41df0362-eb1e-11eb-b233-da7ad0900002
    method: DELETE
  response:
    body: '{"errors": ["41df0362-eb1e-11eb-b233-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
