---
version: 2
interactions:
    - id: 0
      request:
        host: app.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","name":"qmutmqztwv"},"type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://app.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
        method: POST
      response:
        body: '{"data":{"id":"bln-21d-vxl","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1710346420475,"creator":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"name":"qmutmqztwv","updateDate":1710346420475,"updater":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 553.457625ms
    - id: 1
      request:
        host: app.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://app.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/bln-21d-vxl
        method: GET
      response:
        body: '{"data":{"id":"bln-21d-vxl","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1710346420000,"creator":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"name":"qmutmqztwv","updateDate":1710346420000,"updater":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 209.848458ms
[...]
    - id: 8
      request:
        host: app.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://app.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/bln-21d-vxl
        method: GET
      response:
        body: |
            {"errors":[{"title":"failed to get rule"}]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 194.885709ms
