---
version: 1
interactions:
- request:
    body: |
      {"account_id":"499957525250","account_specific_namespace_rules":{},"cspm_resource_collection_enabled":false,"excluded_regions":[],"filter_tags":[],"host_tags":[],"metrics_collection_enabled":true,"resource_collection_enabled":false,"role_name":"1234@testacc-datadog-integration-role"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: '{"external_id":"953d186b671f461d8ad2ab4c1e8ac6b2"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11229"
      X-Ratelimit-Reset:
      - "45"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAWSAccounts
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: GET
  response:
    body: '{"accounts":[{"cspm_resource_collection_enabled":false,"errors":["Datadog is not authorized to perform action cloudwatch:ListMetrics \nAccount affected: 4910055555010048\nRegions affected: every region \nError was last seen 17m ago"],"excluded_regions":[],"filter_tags":[],"access_key_id":"4910055555010048","account_specific_namespace_rules":{},"metrics_collection_enabled":true,"host_tags":[],"resource_collection_enabled":false},{"cspm_resource_collection_enabled":false,"errors":["Datadog is not authorized to perform action cloudwatch:ListMetrics \nAccount affected: 9751515450971011\nRegions affected: every region \nError was last seen 11m ago"],"excluded_regions":[],"filter_tags":[],"access_key_id":"9751515450971011","account_specific_namespace_rules":{},"metrics_collection_enab[...]
[...]
- request:
    body: |
      {"account_id":"499957525250","account_specific_namespace_rules":{"auto_scaling":false,"opsworks":true},"cspm_resource_collection_enabled":true,"excluded_regions":["us-east-1","us-west-2"],"filter_tags":["key:value"],"host_tags":["key:value","key2:value2"],"metrics_collection_enabled":false,"resource_collection_enabled":true,"role_name":"1234@testacc-datadog-integration-role"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateAWSAccount
    url: https://api.datadoghq.com/api/v1/integration/aws?account_id=499957525250&role_name=1234%40testacc-datadog-integration-role
    method: PUT
  response:
    body: '{}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11143"
      X-Ratelimit-Reset:
      - "42"
    status: 200 OK
    code: 200
    duration: ""
[...]
