---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"include_percentiles":false,"metric_type":"distribution","tags":["sport","datacenter"]},"id":"tf_TestAccDatadogMetricTagConfiguration_import_local_1616700272","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_import_local_1616700272/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"tf_TestAccDatadogMetricTagConfiguration_import_local_1616700272","attributes":{"tags":["datacenter","sport"],"include_percentiles":false,"created_at":"2021-03-25T19:24:33.768082+00:00","updated_at":"2021-03-25T19:24:33.768082+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.4167755"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "37"
      X-Ratelimit-Reset:
      - "27"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTagConfigurationByName
    url: https://api.datadoghq.com/api/v2/metrics/datadog_metric_tag_configuration.testing_metric_tag_config123/tags
    method: GET
  response:
    body: '{"errors": ["datadog_metric_tag_configuration.testing_metric_tag_config123 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4167755"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "34"
      X-Ratelimit-Reset:
      - "25"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
