---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"display_timezone":"UTC","monitor_identifier":{"monitor_tags":["cat:hat"]},"mute_first_recovery_notification":false,"schedule":{"end":null,"start":"2050-01-02T03:04:05Z"},"scope":"env:tf-TestAccDowntimeScheduleChanged-local-1758619341"},"type":"downtime"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/downtime
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"downtime","attributes":{"modified":"2025-09-23T09:22:26.449967+00:00","monitor_identifier":{"monitor_tags":["cat:hat"]},"notify_end_types":["expired"],"schedule":{"start":"2050-01-02T03:04:05+00:00","end":null},"created":"2025-09-23T09:22:26.449967+00:00","canceled":null,"mute_first_recovery_notification":false,"status":"scheduled","notify_end_states":["alert","warn","no data"],"scope":"env:tf-TestAccDowntimeScheduleChanged-local-1758619341","display_timezone":"UTC","message":null},"id":"9a0999f3-f0bc-4a4b-95c2-3c2fb015a21c","relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"monitor":{"data":null}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2025-09-17T20:56:07.513404+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.620583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/downtime/9a0999f3-f0bc-4a4b-95c2-3c2fb015a21c
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"downtime","id":"9a0999f3-f0bc-4a4b-95c2-3c2fb015a21c","attributes":{"notify_end_types":["expired"],"notify_end_states":["no data","alert","warn"],"display_timezone":"UTC","message":null,"created":"2025-09-23T09:22:26.449967+00:00","schedule":{"end":null,"start":"2050-01-02T03:04:05+00:00"},"modified":"2025-09-23T09:22:26.449967+00:00","monitor_identifier":{"monitor_tags":["cat:hat"]},"scope":"env:tf-TestAccDowntimeScheduleChanged-local-1758619341","status":"scheduled","mute_first_recovery_notification":false,"canceled":null}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.730625ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"display_timezone":"UTC","message":null,"monitor_identifier":{"monitor_tags":["cat:hat"]},"mute_first_recovery_notification":false,"schedule":{"recurrences":[{"duration":"1d","rrule":"FREQ=DAILY;INTERVAL=11","start":null}],"timezone":"UTC"},"scope":"env:tf-TestAccDowntimeScheduleChanged-local-1758619341"},"id":"","type":"downtime"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/downtime/9a0999f3-f0bc-4a4b-95c2-3c2fb015a21c
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"type":"downtime","attributes":{"created":"2025-09-23T09:22:26.449967+00:00","message":null,"mute_first_recovery_notification":false,"display_timezone":"UTC","canceled":null,"scope":"env:tf-TestAccDowntimeScheduleChanged-local-1758619341","status":"active","schedule":{"recurrences":[{"rrule":"FREQ=DAILY;INTERVAL=11","start":"2025-09-23T09:22:35","duration":"1d"}],"timezone":"UTC","current_downtime":{"start":"2025-09-23T09:22:35+00:00","end":"2025-09-24T09:22:35+00:00"}},"notify_end_types":["expired"],"modified":"2025-09-23T09:22:35.065648+00:00","notify_end_states":["warn","alert","no data"],"monitor_identifier":{"monitor_tags":["cat:hat"]}},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"monitor":{"data":null}},"id":"9a0999f3-f0bc-4a4b-95c2-3c2fb015a21c"},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2025-09-17T20:56:07.513404+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.662084ms
[...]
