version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackFreeText-local-1701197164","type":"group","widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":4,"width":5,"x":5,"y":5}}]}},"name":"tf-TestAccDatadogPowerpackFreeText-local-1701197164","tags":["tag:foo1"],"template_variables":[]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/powerpacks
    method: POST
    id: 0
  response:
    body: |
      {"data":{"type":"powerpack","id":"6351d970-8e1e-11ee-9f89-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackFreeText-local-1701197164","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackFreeText-local-1701197164","type":"group","widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":4,"width":5,"x":5,"y":5},"id":415250733726868}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/6351d970-8e1e-11ee-9f89-da7ad0900002
    method: GET
    id: 1
  response:
    body: |
      {"data":{"type":"powerpack","id":"6351d970-8e1e-11ee-9f89-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackFreeText-local-1701197164","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackFreeText-local-1701197164","type":"group","widgets":[{"definition":{"color":"#eb364b","font_size":"56","text":"Free Text","text_align":"left","type":"free_text"},"layout":{"height":4,"width":5,"x":5,"y":5},"id":415250733726868}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/6351d970-8e1e-11ee-9f89-da7ad0900002
    method: GET
    id: 5
  response:
    body: '{"errors":["Powerpack with ID 6351d970-8e1e-11ee-9f89-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
