---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardApmStatsQueryDistribution-local-1682003503","widgets":[{"definition":{"legend_size":"2","requests":[{"apm_stats_query":{"env":"env","name":"name","primary_tag":"tag:*","row_type":"resource","service":"service"}}],"show_legend":true,"time":{"live_span":"1h"},"title":"Avg of system.cpu.user over account:prod by service,account","title_align":"left","title_size":"16","type":"distribution"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"tyt-bx9-2ry","title":"tf-TestAccDatadogDashboardApmStatsQueryDistribution-local-1682003503","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/tyt-bx9-2ry/tf-testaccdatadogdashboardapmstatsquerydistribution-local-1682003503","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"legend_size":"2","requests":[{"apm_stats_query":{"env":"env","name":"name","primary_tag":"tag:*","row_type":"resource","service":"service"}}],"show_legend":true,"time":{"live_span":"1h"},"title":"Avg of system.cpu.user over account:prod by service,account","title_align":"left","title_size":"16","type":"distribution"},"id":5653357588092578}],"notify_list":[],"created_at":"2023-04-20T15:11:44.518113+00:00","modified_at":"2023-04-20T15:11:44.518113+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/tyt-bx9-2ry
    method: GET
  response:
    body: |
      {"id":"tyt-bx9-2ry","title":"tf-TestAccDatadogDashboardApmStatsQueryDistribution-local-1682003503","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/tyt-bx9-2ry/tf-testaccdatadogdashboardapmstatsquerydistribution-local-1682003503","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"legend_size":"2","requests":[{"apm_stats_query":{"env":"env","name":"name","primary_tag":"tag:*","row_type":"resource","service":"service"}}],"show_legend":true,"time":{"live_span":"1h"},"title":"Avg of system.cpu.user over account:prod by service,account","title_align":"left","title_size":"16","type":"distribution"},"id":5653357588092578}],"notify_list":[],"created_at":"2023-04-20T15:11:44.518113+00:00","modified_at":"2023-04-20T15:11:44.518113+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/tyt-bx9-2ry
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"tyt-bx9-2ry"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/tyt-bx9-2ry
    method: GET
  response:
    body: '{"errors":["Dashboard with ID tyt-bx9-2ry not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
