---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2TimeseriesAnomalyDetection-local-1780926713","widgets":[{"definition":{"anomaly_detection":{"detection_sensitivity":"never_detect"},"requests":[{"formulas":[{"formula":"query1"}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"title":"CPU with anomaly detection","type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"yxx-4em-827","title":"tf-TestAccDatadogDashboardV2TimeseriesAnomalyDetection-local-1780926713","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/yxx-4em-827/tf-testaccdatadogdashboardv2timeseriesanomalydetection-local-1780926713","template_variables":[],"widgets":[{"definition":{"anomaly_detection":{"detection_sensitivity":"never_detect"},"requests":[{"formulas":[{"formula":"query1"}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"title":"CPU with anomaly detection","type":"timeseries"},"id":7655551256219854}],"notify_list":[],"created_at":"2026-06-08T13:51:55.478289+00:00","modified_at":"2026-06-08T13:51:55.478289+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.784375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/yxx-4em-827
        method: GET
      response:
            - chunked
        body: '{"id":"yxx-4em-827","title":"tf-TestAccDatadogDashboardV2TimeseriesAnomalyDetection-local-1780926713","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/yxx-4em-827/tf-testaccdatadogdashboardv2timeseriesanomalydetection-local-1780926713","template_variables":[],"widgets":[{"definition":{"anomaly_detection":{"detection_sensitivity":"never_detect"},"requests":[{"formulas":[{"formula":"query1"}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"title":"CPU with anomaly detection","type":"timeseries"},"id":7655551256219854}],"notify_list":[],"created_at":"2026-06-08T13:51:55.478289+00:00","modified_at":"2026-06-08T13:51:55.478289+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.76475ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/yxx-4em-827
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"yxx-4em-827"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 485.597792ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/yxx-4em-827
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID yxx-4em-827 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 100.05175ms
