---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"transition test metric SLO using bad events count spec","name":"tf-TestAccDatadogServiceLevelObjective_BadEventsToMetricQueryTransition-local-1772680369","sli_specification":{"count":{"bad_events_formula":{"formula":"query2"},"good_events_formula":{"formula":"query1"},"queries":[{"data_source":"metrics","name":"query1","query":"sum:my.metric{status:good}.as_count()"},{"data_source":"metrics","name":"query2","query":"sum:my.metric{status:bad}.as_count()"}]}},"tags":["foo:bar","baz"],"target_threshold":99.5,"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"}],"timeframe":"7d","type":"metric","warning_threshold":99.8}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/slo
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"id":"517939c9d1ef5baca8f363346e005a8a","name":"tf-TestAccDatadogServiceLevelObjective_BadEventsToMetricQueryTransition-local-1772680369","tags":["foo:bar","baz"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"transition test metric SLO using bad events count spec","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"numerator":"sum:my.metric{status:good}.as_count()","denominator":"(sum:my.metric{status:good}.as_count()) + (sum:my.metric{status:bad}.as_count())"},"creator":{"name":"May Fu","handle":"may.fu@datadoghq.com","email":"may.fu@datadoghq.com"},"created_at":1772680370,"modified_at":1772680370,"sli_specification":{"count":{"bad_events_formula":{"formula":"query2"},"good_events_formula":{"formula":"query1"},"queries":[{"data_source":"metrics","name":"query1","query":"sum:my.metric{status:good}.as_count()"},{"data_source":"metrics","name":"query2","query":"sum:my.metric{status:bad}.as_count()"}]}}}],"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.949334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/517939c9d1ef5baca8f363346e005a8a
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"517939c9d1ef5baca8f363346e005a8a","name":"tf-TestAccDatadogServiceLevelObjective_BadEventsToMetricQueryTransition-local-1772680369","tags":["baz","foo:bar"],"monitor_tags":[],"thresholds":[{"timeframe":"7d"[...]
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/517939c9d1ef5baca8f363346e005a8a
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"517939c9d1ef5baca8f363346e005a8a","name":"tf-TestAccDatadogServiceLevelObjective_BadEventsToMetricQueryTransition-local-1772680369-updated","tags":["foo:bar","baz"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"transition test metric SLO using query from bad events","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"(sum:my.metric{status:good}.as_count()) + (sum:my.metric{status:bad}.as_count())","numerator":"sum:my.metric{status:good}.as_count()"},"creator":{"name":"May Fu","handle":"may.fu@datadoghq.com","email":"may.fu@datadoghq.com"},"created_at":1772680370,"modified_at":1772680371,"sli_specification":{"count":{"queries":[{"data_source":"metrics","name":"query1","query":"sum:my.metric{status:good}.as_count()"},{"data_source":"metrics","name":"query2","query":"sum:my.metric{status:bad}.as_count()"}],"good_events_formula":{"formula":"query1"},"total_events_formula":{"formula":"(query1 + query2)"}}}},"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.758459ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/517939c9d1ef5baca8f363346e005a8a
        method: GET
      response:
            - chunked
        body: '{"errors":["SLO not found: 517939c9d1ef5baca8f363346e005a8a not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 70.63625ms
