---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"cases":[{"condition":"a \u003e 0","notifications":["@slack-test"],"status":"info"}],"isEnabled":false,"message":"Test rule triggered","name":"tf-TestAccDatadogSecurityMonitoringRuleJSON_Basic-local-1765474119","options":{"detectionMethod":"threshold","evaluationWindow":60,"keepAlive":60,"maxSignalDuration":60},"queries":[{"aggregation":"count","dataSource":"logs","distinctFields":[],"groupByFields":["host"],"name":"a","query":"source:test"}],"tags":["test:tag"],"type":"log_detection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/rules
        method: POST
      response:
        body: '{"name":"tf-TestAccDatadogSecurityMonitoringRuleJSON_Basic-local-1765474119","createdAt":1765474120687,"isDefault":false,"isPartner":false,"isEnabled":false,"isBeta":false,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"source:test","groupByFields":["host"],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a","dataSource":"logs"}],"options":{"evaluationWindow":60,"detectionMethod":"threshold","maxSignalDuration":60,"keepAlive":60},"cases":[{"name":"","status":"info","notifications":["@slack-test"],"condition":"a \u003e 0"}],"message":"Test rule triggered","tags":["test:tag"],"hasExtendedTitle":false,"type":"log_detection","filters":[],"version":1,"id":"7zx-yn7-xb5","blocking":false,"metadata":{"entities":null,"sources":null},"creationAuthorId":1445416,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"updater":{"handle":"","name":""}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 376.126916ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/rules/7zx-yn7-xb5
        method: GET
      response:
        body: '{"name":"tf-TestAccDatadogSecurityMonitoringRuleJSON_Basic-local-1765474119","createdAt":1765474120687,"isDefault":false,"isPartner":false,"isEnabled":false,"isBeta":false,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"source:test","groupByFields":["host"],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a","dataSource":"logs"}],"options":{"evaluationWindow":60,"detectionMethod":"threshold","maxSignalDuration":60,"keepAlive":60},"cases":[{"name":"","status":"info","notifications":["@slack-test"],"condition":"a \u003e 0"}],"message":"Test rule triggered","tags":["test:tag"],"hasExtendedTitle":false,"type":"log_detection","filters":[],"version":1,"id":"7zx-yn7-xb5","blocking":false,"metadata":{"entities":null,"sources":null},"creationAuthorId":1445416,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"updater":{"handle":"","name":""}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.431208ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/rules/7zx-yn7-xb5
        method: GET
      response:
        body: '{"name":"tf-TestAccDatadogSecurityMonitoringRuleJSON_Basic-local-1765474119 - updated","createdAt":1765474120687,"isDefault":false,"isPartner":false,"isEnabled":true,"isBeta":false,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"source:test-updated","groupByFields":["host","service"],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a","dataSource":"logs"}],"options":{"evaluationWindow":60,"detectionMethod":"threshold","maxSignalDuration":60,"keepAlive":60},"cases":[{"name":"","status":"high","notifications":["@slack-test"],"condition":"a \u003e 10"}],"message":"Test rule triggered (updated)","tags":["env:test","test:tag"],"hasExtendedTitle":false,"type":"log_detection","filters":[],"version":2,"id":"7zx-yn7-xb5","updatedAt":1765474123639,"blocking":false,"metadata":{"entities":null,"sources":null},"creationAuthorId":1445416,"updateAuthorId":1445416,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"updater":{"handle":"frog@datadoghq.com","name":"frog"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.774951125s
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/rules/7zx-yn7-xb5
        method: GET
      response:
        body: '{"error":{"code":"NotFound","message":"Threat detection rule not found: 7zx-yn7-xb5"}}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 1.212107375s
