---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackEventStream-local-1699281947","type":"group","widgets":[{"definition":{"event_size":"l","query":"*","title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"}}]},"live_span":"4h"},"name":"tf-TestAccDatadogPowerpackEventStream-local-1699281947","tags":["tag:foo1"],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/powerpacks
    method: POST
  response:
    body: |
      {"data":{"type":"powerpack","id":"2d0a7d30-7cb3-11ee-9c5c-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackEventStream-local-1699281947","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackEventStream-local-1699281947","type":"group","widgets":[{"definition":{"event_size":"l","query":"*","title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"id":4119725505218720}]},"live_span":"4h"},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/2d0a7d30-7cb3-11ee-9c5c-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"powerpack","id":"2d0a7d30-7cb3-11ee-9c5c-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackEventStream-local-1699281947","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackEventStream-local-1699281947","type":"group","widgets":[{"definition":{"event_size":"l","query":"*","title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"id":4119725505218720}]},"live_span":"4h"},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/2d0a7d30-7cb3-11ee-9c5c-da7ad0900002
    method: GET
  response:
    body: '{"errors":["Powerpack with ID 2d0a7d30-7cb3-11ee-9c5c-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
