---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"api_key":"split-api-key","type":"SplitAPIKey"},"type":"Split"},"name":"tf-TestAccDatadogActionConnectionResource_Split-local-1783949276"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"2136354c-4d05-43d9-acfa-e57090daf23c","type":"action_connection","attributes":{"acting_user_can_resolve":false,"external_secrets_manager":null,"integration":{"credentials":{"api_key":"","type":"SplitAPIKey"},"type":"Split"},"is_favorite":false,"name":"tf-TestAccDatadogActionConnectionResource_Split-local-1783949276"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 100.355189ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/2136354c-4d05-43d9-acfa-e57090daf23c
        method: GET
      response:
        body: '{"data":{"id":"2136354c-4d05-43d9-acfa-e57090daf23c","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2026-07-13 13:28:03.056451 +0000 UTC","external_secrets_manager":null,"integration":{"credentials":{"api_key":"","type":"SplitAPIKey"},"type":"Split"},"is_favorite":false,"last_updated":"2026-07-13 13:28:03.056451 +0000 UTC","name":"tf-TestAccDatadogActionConnectionResource_Split-local-1783949276"},"relationships":{"created_by":{"data":{"id":"9c2cc44c-0fd5-4356-b457-9413333601f1","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 52.30297ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/2136354c-4d05-43d9-acfa-e57090daf23c
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 46.33183ms
