---
version: 2
interactions:
    - id: 0
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
        body: |
            {"data":{"type":"gcp_sts_delegate","attributes":{"delegate_account_email":"ddgci-1145fac3f772a31fb964@datadog-cloud-ints-staging.iam.gserviceaccount.com"},"id":"ddgci-1145fac3f772a31fb964@datadog-cloud-ints-staging.iam.gserviceaccount.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.33475ms
    - id: 1
      request:
        host: dd.datad0g.com
        body: |
            {"data":{"attributes":{"account_tags":["a:tag","and:another","another:one"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1728585256@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":["tag:one","tag:two"],"host_filters":["tag:one","tag:two"],"is_cspm_enabled":false,"is_security_command_center_enabled":false,"resource_collection_enabled":false},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v2/integration/gcp/accounts
        method: POST
      response:
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":false,"automute":false,"is_security_command_center_enabled":false,"account_tags":["a:tag","and:another","another:one"],"is_resource_change_collection_enabled":false,"resource_collection_enabled":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1728585256@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":["tag:one","tag:two"],"host_filters":["tag:one","tag:two"]},"id":"9106fe2e-6d47-4785-921e-59b717966f41"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 553.539209ms
    - id: 2
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://dd.datad0g.com/api/v2/integration/gcp/accounts
        method: GET
      response:
        body: |
            {"data":[{"type":"gcp_service_account","attributes":{"is_cspm_enabled":true,"automute":false,"is_security_command_center_enabled":false,"account_tags":[],"is_resource_change_collection_enabled":false,"resource_collection_enabled":true,"client_email":"ashraf-hanafy-sabbirs-test-org@datadog-gcp-ints-test-b.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[]},"id":"bec95f56-48ad-480f-86cf-6cee4ee52300","meta":{"accessible_projects":["datadog-gcp-ints-test-b"]}},{"type":"gcp_service_account","attributes":{"is_cspm_enabled":false,"automute":false,"is_security_command_center_enabled":false,"account_tags":["a:tag","and:another","another:one"],"is_resource_change_collection_enabled":false,"resource_collection_enabled":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1728577641@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":["tag:one","tag:two"],"host_filters":["tag:one","tag:two"]},"id":"56243e60[...]
[...]
    - id: 5
      request:
        host: dd.datad0g.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":true,"cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":true,"is_security_command_center_enabled":true,"resource_collection_enabled":true},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v2/integration/gcp/accounts/9106fe2e-6d47-4785-921e-59b717966f41
        method: PATCH
      response:
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":true,"automute":true,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1728585256@test-project.iam.gserviceaccount.com","is_security_command_center_enabled":true,"account_tags":[],"resource_collection_enabled":true},"id":"9106fe2e-6d47-4785-921e-59b717966f41"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 514.5465ms
[...]
