---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccteamnotificationruleremovenotificationtype-local-1768306321","name":"tf-testaccteamnotificationruleremovenotificationtype-local-1768306321"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"f50ffbbf-ab8d-4ca8-9e34-96c3cd94429c","type":"team","attributes":{"avatar":null,"banner":10,"created_at":"2026-01-13T12:12:04.201611+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleremovenotificationtype-local-1768306321","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-13T12:12:04.201611+00:00","name":"tf-testaccteamnotificationruleremovenotificationtype-local-1768306321","summary":"Example team","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/f50ffbbf-ab8d-4ca8-9e34-96c3cd94429c/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/f50ffbbf-ab8d-4ca8-9e34-96c3cd94429c/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 516.076833ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"channel":"#test-channel","workspace":"Datadog"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/f50ffbbf-ab8d-4ca8-9e34-96c3cd94429c/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"cc01aae6-9b8c-499d-b799-adc04afff8d4","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 192.102875ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/f50ffbbf-ab8d-4ca8-9e34-96c3cd94429c/notification-rules/cc01aae6-9b8c-499d-b799-adc04afff8d4
        method: GET
      response:
        body: '{"data":{"id":"cc01aae6-9b8c-499d-b799-adc04afff8d4","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 136.025ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/f50ffbbf-ab8d-4ca8-9e34-96c3cd94429c
        method: GET
      response:
        body: '{"data":{"id":"f50ffbbf-ab8d-4ca8-9e34-96c3cd94429c","type":"team","attributes":{"created_at":"2026-01-13T12:12:04.201611+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleremovenotificationtype-local-1768306321","is_managed":false,"link_count":0,"modified_at":"2026-01-13T12:12:04.201611+00:00","name":"tf-testaccteamnotificationruleremovenotificationtype-local-1768306321","summary":"Example team","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/f50ffbbf-ab8d-4ca8-9e34-96c3cd94429c/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/f50ffbbf-ab8d-4ca8-9e34-96c3cd94429c/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 141.905334ms
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/f50ffbbf-ab8d-4ca8-9e34-96c3cd94429c/notification-rules/cc01aae6-9b8c-499d-b799-adc04afff8d4
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 143.102542ms
