---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["filter-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"filter-group-1","include":"env:prod","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"env:prod","type":"filter"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"filter-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"e613269e-f158-11f0-ae5f-da7ad0900002","type":"pipelines","attributes":{"name":"filter-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["filter-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"filter-group-1","include":"env:prod","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"env:prod","type":"filter"}]}],"processors":[{"enabled":true,"id":"filter-group-1","include":"env:prod","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"env:prod","type":"filter"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 717.114375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/e613269e-f158-11f0-ae5f-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"e613269e-f158-11f0-ae5f-da7ad0900002","type":"pipelines","attributes":{"name":"filter-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["filter-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"filter-group-1","include":"env:prod","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"env:prod","type":"filter"}]}],"processors":[{"enabled":true,"id":"filter-group-1","include":"env:prod","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"env:prod","type":"filter"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 344.582875ms
[...]
