---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"connection_types":["logs"]},"relationships":{"sink_org":{"data":{"id":"83999dcd-7f97-11f0-8de1-1ecf66f1aa85","name":"","type":"orgs"}}},"type":"org_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_connections
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"org_connection","id":"62a3f76b-8f1a-4e12-9429-09f505bd935a","attributes":{"created_at":"2025-09-17T17:01:30.369165+00:00","connection_types":["logs"]},"relationships":{"source_org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","name":"DD Integration Tests (321813)"}},"sink_org":{"data":{"type":"orgs","id":"83999dcd-7f97-11f0-8de1-1ecf66f1aa85","name":"Cross-Org BDD Test Org"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.519042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_connections?sink_org_id=83999dcd-7f97-11f0-8de1-1ecf66f1aa85
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"org_connection","id":"62a3f76b-8f1a-4e12-9429-09f505bd935a","attributes":{"created_at":"2025-09-17T17:01:30.369165+00:00","connection_types":["logs"]},"relationships":{"source_org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","name":"DD Integration Tests (321813)"}},"sink_org":{"data":{"type":"orgs","id":"83999dcd-7f97-11f0-8de1-1ecf66f1aa85","name":"Cross-Org BDD Test Org"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"}}}}],"included":[{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","attributes":{"public_id":"fasjyydbcgwwc2uc","name":"DD Integration Tests (321813)","description":null,"sharing":"all_private","url":null,"disabled":false,"created_at":"2019-08-13T19:50:19.001015+00:00","modified_at":"2022-03-21T13:04:08.711734+00:00"}},{"type":"orgs","id":"83999dcd-7f97-11f0-8de1-1ecf66f1aa85","attributes":{"public_id":"83999dcd-7f97-11f0-8de1-1ecf66f1aa85","name":"Cross-Org BDD Test Org","description":null,"sharing":"all_private","url":null,"disabled":false,"created_at":"2025-08-22T20:35:17.315307+00:00","modified_at":null}},{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2025-08-29T13:19:45.978541+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}],"meta":{"page":{"total_count":1,"total_filtered_count":1}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.707458ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"connection_types":["logs","metrics"]},"id":"62a3f76b-8f1a-4e12-9429-09f505bd935a","type":"org_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_connections/62a3f76b-8f1a-4e12-9429-09f505bd935a
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"type":"org_connection","id":"62a3f76b-8f1a-4e12-9429-09f505bd935a","attributes":{"created_at":"2025-09-17T17:01:30.369165+00:00","connection_types":["logs","metrics"]},"relationships":{"source_org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"sink_org":{"data":{"type":"orgs","id":"83999dcd-7f97-11f0-8de1-1ecf66f1aa85"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.959667ms
[...]
