---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1626980117","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"2sc-6vx-wdw","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1626980117","url":"/dashboard/2sc-6vx-wdw/tf-testaccdatadogdashboardrbaccreateopen-local-1626980117","created_at":"2021-07-22T18:55:20.049010+00:00","modified_at":"2021-07-22T18:55:20.049010+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":6841494230729568}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/2sc-6vx-wdw
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"2sc-6vx-wdw","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1626980117","url":"/dashboard/2sc-6vx-wdw/tf-testaccdatadogdashboardrbaccreateopen-local-1626980117","created_at":"2021-07-22T18:55:20.049010+00:00","modified_at":"2021-07-22T18:55:20.049010+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":6841494230729568}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/2sc-6vx-wdw
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"2sc-6vx-wdw"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
