---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardChangeFormula_import-local-1664292860","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1 + query2","limit":{"count":10,"order":"asc"}}],"increase_good":false,"queries":[{"aggregator":"sum","data_source":"metrics","name":"query1","query":"avg:system.cpu.system{*} by {datacenter}"},{"aggregator":"sum","data_source":"metrics","name":"query2","query":"avg:system.load.1{*} by {datacenter}"}],"response_format":"scalar","show_present":false}],"type":"change"}},{"definition":{"custom_links":[{"label":"my custom link","link":"https://app.datadoghq.com/dashboard/lists"}],"requests":[{"formulas":[{"formula":"query1"}],"increase_good":false,"queries":[{"compute":{"aggregation":"count"},"data_source":"security_signals","indexes":["*"],"name":"query1"}],"response_format":"scalar","show_present":false}],"type":"change"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"uw2-j2j-qfk","title":"tf-TestAccDatadogDashboardChangeFormula_import-local-1664292860","url":"/dashboard/uw2-j2j-qfk/tf-testaccdatadogdashboardchangeformulaimport-local-1664292860","created_at":"2022-09-27T15:34:21.947903+00:00","modified_at":"2022-09-27T15:34:21.947903+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1 + query2","limit":{"count":10,"order":"asc"}}],"show_present":false,"increase_good":false,"response_format":"scalar","queries":[{"aggregator":"sum","data_source":"metrics","name":"query1","query":"avg:system.cpu.system{*} by {datacenter}"},{"aggregator":"sum","data_source":"metrics","name":"query2","query":"avg:system.load.1{*} by {datacenter}"}]}],"type":"change"},"id":7254144240489576},{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"show_present":false,"increase_good":false,"response_format":"scalar","queries":[{"data_source":"security_signals","compute":{"aggregation":"count"},"name":"query1","indexes":["*"]}]}],"custom_links":[{"link":"https://app.datadoghq.com/dashboard/lists","label":"my custom link"}],"type":"change"},"id":2973737558725303}],"layout_type":"ordered"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/uw2-j2j-qfk
    method: GET
  response:
    body: |
      {"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"uw2-j2j-qfk","title":"tf-TestAccDatadogDashboardChangeFormula_import-local-1664292860","url":"/dashboard/uw2-j2j-qfk/tf-testaccdatadogdashboardchangeformulaim[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/uw2-j2j-qfk
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"uw2-j2j-qfk"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/uw2-j2j-qfk
    method: GET
  response:
    body: '{"errors":["Dashboard with ID uw2-j2j-qfk not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
