---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","auth_uri":"https://accounts.google.com/o/oauth2/auth","automute":false,"client_email":"tf-TestAccDatadogIntegrationGCP-local-1770146503@awesome-project-id.iam.gserviceaccount.com","client_id":"123456789012345678901","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/tf-TestAccDatadogIntegrationGCP-local-1770146503@awesome-project-id.iam.gserviceaccount.com","cloud_run_revision_filters":["rev:one","rev:two"],"host_filters":"host:one","is_cspm_enabled":false,"is_security_command_center_enabled":false,"monitored_resource_configs":[],"private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","private_key_id":"1234567890123456789012345678901234567890","project_id":"tf-TestAccDatadogIntegrationGCP-local-1770146503","token_uri":"https://oauth2.googleapis.com/token","type":"service_account"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/gcp
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.644375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/gcp
        method: GET
      response:
        body: '[{"project_id":"","client_email":"teddymonitoringsubfolder@datadog-gcp-ints-test-d.iam.gserviceaccount.com","id":"7fb848c2-28ed-4f19-9e95-8c3a82d38ae4","host_filters":"","automute":true,"is_cspm_enabled":false,"resource_collection_enabled":true,"is_security_command_center_enabled":false,"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":[],"monitored_resource_configs":[],"errors":[]},{"project_id":"tf-TestAccDatadogIntegrationGCP-local-1770146503","client_email":"tf-TestAccDatadogIntegrationGCP-local-1770146503@awesome-project-id.iam.gserviceaccount.com","id":"197257bd-90b0-40e4-af40-768b482bc175","host_filters":"host:one","automute":false,"is_cspm_enabled":false,"resource_collection_enabled":true,"is_security_command_center_enabled":false,"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":["rev:one","rev:two"],"monitored_resource_configs":[{"type":"cloud_run_revision","filters":["rev:one","rev:two"]},{"type":"gce_instance","filters":["host:one"]}],"errors":[]}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.120417ms
[...]
