---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplication_Basic-local-1758809670","type":"browser"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"product_scales":{"rum_event_processing_scale":{"last_modified_at":1758809672243,"state":"ALL"},"product_analytics_retention_scale":{"last_modified_at":1758809672243,"state":"NONE"}},"short_name":"tf_testaccdatadogrumapplication__1","hash":"pub25ba8f45113e986c628cf6e04d111987","created_by_handle":"frog@datadoghq.com","application_id":"6f81cd5b-cda1-42a2-88fd-68c88bc4207a","updated_by_handle":"frog@datadoghq.com","name":"tf-TestAccDatadogRUMApplication_Basic-local-1758809670","updated_at":1758809672243,"api_key_id":657038,"client_token":"pub25ba8f45113e986c628cf6e04d111987","org_id":569509,"created_at":1758809672243,"is_active":false,"product_analytics_replay_sample_rate":100,"ootb_metrics_installed":false,"type":"browser","tags":[]},"id":"6f81cd5b-cda1-42a2-88fd-68c88bc4207a"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 793.6835ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/6f81cd5b-cda1-42a2-88fd-68c88bc4207a
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1758809672243},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1758809672243}},"tags":[],"created_by_handle":"frog@datadoghq.com","updated_at":1758809672243,"updated_by_handle":"frog@datadoghq.com","ootb_metrics_installed":false,"product_analytics_replay_sample_rate":100,"type":"browser","api_key_id":657038,"is_active":false,"name":"tf-TestAccDatadogRUMApplication_Basic-local-1758809670","hash":"pub25ba8f45113e986c628cf6e04d111987","created_at":1758809672243,"client_token":"pub25ba8f45113e986c628cf6e04d111987","short_name":"tf_testaccdatadogrumapplication__1","application_id":"6f81cd5b-cda1-42a2-88fd-68c88bc4207a","org_id":569509},"id":"6f81cd5b-cda1-42a2-88fd-68c88bc4207a"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.811875ms
[...]
