---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"","is_fido":false,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1741269872","tags":[],"value":{"secure":false,"value":"bar"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"bcefa052-bea9-45a1-af0d-be6f252978c9","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1741269872","description":"","type":"variable","tags":[],"last_error":null,"value":{"secure":false,"value":"bar"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 433.445834ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: GET
      response:
            - chunked
        body: |
            {"variables":[{"id":"01cbf399-042f-4874-a255-cee5325ea26f","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASIC_LOCAL_1714522643","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2024-05-01T00:17:24.884459+00:00","modified_at":"2024-05-01T00:17:24.884459+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI Account"},"editor":{"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI Account"}},{"id":"02da05d1-7955-47fe-8c62-64cdc78ff226","name":"VAR","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2024-07-24T12:59:59.434249+00:00","modified_at":"2024-07-24T12:59:59.434249+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"email":"amaury.behague@datadoghq.com","handle":"amaury.behague@data[...]
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/bcefa052-bea9-45a1-af0d-be6f252978c9
        method: GET
      response:
            - chunked
        body: |
            {"id":"bcefa052-bea9-45a1-af0d-be6f252978c9","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1741269872","description":"","type":"variable","tags":[],"created_at":"2025-03-06T14:04:36.725878+00:00","modified_at":"2025-03-06T14:04:36.725878+00:00","last_error":null,"value":{"secure":false,"value":"bar"},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.295709ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/bcefa052-bea9-45a1-af0d-be6f252978c9
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 154.30625ms
[...]
