---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"account_id":"123456789012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionResource_Tags-local-1787183641","tags":["env:test","team:action-platform"]},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"04bdf788-3d20-4368-a153-796a345142b2","type":"action_connection","attributes":{"acting_user_can_resolve":false,"external_secrets_manager":null,"integration":{"credentials":{"account_id":"123456789012","external_id":"12ce273f68a24785932c0cf067ca3834","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"is_favorite":false,"name":"tf-TestAccDatadogActionConnectionResource_Tags-local-1787183641","tags":["env:test","team:action-platform"]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 500.068472ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/04bdf788-3d20-4368-a153-796a345142b2
        method: GET
      response:
        body: '{"data":{"id":"04bdf788-3d20-4368-a153-796a345142b2","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2026-08-19 23:54:03.631935 +0000 UTC","external_secrets_manager":null,"integration":{"credentials":{"account_id":"123456789012","external_id":"12ce273f68a24785932c0cf067ca3834","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"is_favorite":false,"last_updated":"2026-08-19 23:54:03.631935 +0000 UTC","name":"tf-TestAccDatadogActionConnectionResource_Tags-local-1787183641","tags":["env:test","team:action-platform"]},"relationships":{"created_by":{"data":{"id":"9c2cc44c-0fd5-4356-b457-9413333601f1","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 79.874303ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/04bdf788-3d20-4368-a153-796a345142b2
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 34.06465ms
