---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"not_found_uuid","type":"retention_filters"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications/fdb76419-eff5-4344-867a-4b72bad613cb/relationships/retention_filters
        method: PATCH
      response:
        body: '{"errors":[{"status":"400","title":"Bad Request"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 175.129833ms
