---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"suppression for terraform provider test","enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutDates-local-1758619028","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: POST
      response:
        body: '{"data":{"id":"ki9-jft-piv","type":"suppressions","attributes":{"creation_date":1758619029182,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"suppression for terraform provider test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutDates-local-1758619028","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging","tags":[],"update_date":1758619029182,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 152.942833ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/ki9-jft-piv
        method: GET
      response:
        body: '{"data":{"id":"ki9-jft-piv","type":"suppressions","attributes":{"creation_date":1758619029182,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"suppression for terraform provider test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutDates-local-1758619028","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging","tags":[],"update_date":1758619029182,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 149.978166ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/ki9-jft-piv
        method: GET
      response:
        body: '{"errors":["not_found(Suppression with ID ki9-jft-piv not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 129.068625ms
