---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1613469419@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"5034217e-703d-11eb-9351-da7ad0900002","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1613469419@example.com","created_at":"2021-02-16T09:57:00.582308+00:00","email":"tf-testaccdatadoguser_existing-local-1613469419@example.com","icon":"https://secure.gravatar.com/avatar/1b849adf85179f112dcbef2552a88d33?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.3913923"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"5034217e-703d-11eb-9351-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"506ffadc-703d-11eb-9351-da7ad0900002","attributes":{"uuid":"506ffadc-703d-11eb-9351-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2021-02-16T09:57:00.975136+00:00","expires_at":"2021-02-18T09:57:00.815343+00:00"},"relationships":{"user":{"data":{"type":"users","id":"5034217e-703d-11eb-9351-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.3913923"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/5034217e-703d-11eb-9351-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"5034217e-703d-11eb-9351-da7ad0900002","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1613469419@example.com","created_at":"2021-02-16T09:57:00.582308+00:00","email":"tf-testaccdatadoguser_existing-local-1613469419@example.com","icon":"https://secure.gravatar.com/avatar/1b849adf85179f112dcbef2552a88d33?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.3913923"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1613469419@example.com","name":"Other User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"errors": ["User tf-testaccdatadoguser_existing-local-1613469419@example.com
      already exists"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3913923"
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguser_existing-local-1613469419%40example.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":130946}},"data":[{"type":"users","id":"5034217e-703d-11eb-9351-da7ad0900002","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_existing-local-1613469419@example.com","created_at":"2021-02-16T09:57:00.582308+00:00","email":"tf-testaccdatadoguser_existing-local-1613469419@example.com","icon":"https://secure.gravatar.com/avatar/1b849adf85179f112dcbef2552a88d33?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.3913923"
    status: 200 OK
    code: 200
    duration: ""
[...]
