---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccteamnotificationrulerecipientemail-local-1791451288","name":"tf-testaccteamnotificationrulerecipientemail-local-1791451288"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"38ecdebf-a6c5-41f5-b736-0805e80b6b5c","type":"team","attributes":{"avatar":null,"banner":0,"created_at":"2026-10-08T09:21:31.435944+00:00","description":"Example team","handle":"tf-testaccteamnotificationrulerecipientemail-local-1791451288","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-10-08T09:21:31.435944+00:00","name":"tf-testaccteamnotificationrulerecipientemail-local-1791451288","provisioned_by":"teams_terraform","summary":"Example team","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/38ecdebf-a6c5-41f5-b736-0805e80b6b5c/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/38ecdebf-a6c5-41f5-b736-0805e80b6b5c/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 235.017625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":true,"recipient_email":"team-alerts@example.com"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/38ecdebf-a6c5-41f5-b736-0805e80b6b5c/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"20211800-adf5-40b8-a4c2-d76f3a433466","type":"team_notification_rules","attributes":{"email":{"enabled":true,"recipient_email":"team-alerts@example.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 206.154375ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/38ecdebf-a6c5-41f5-b736-0805e80b6b5c/notification-rules/20211800-adf5-40b8-a4c2-d76f3a433466
        method: GET
      response:
        body: '{"data":{"id":"20211800-adf5-40b8-a4c2-d76f3a433466","type":"team_notification_rules","attributes":{"email":{"enabled":true,"recipient_email":"team-alerts@example.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 133.517125ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/38ecdebf-a6c5-41f5-b736-0805e80b6b5c
        method: GET
      response:
        body: '{"data":{"id":"38ecdebf-a6c5-41f5-b736-0805e80b6b5c","type":"team","attributes":{"created_at":"2026-10-08T09:21:31.435944+00:00","description":"Example team","handle":"tf-testaccteamnotificationrulerecipientemail-local-1791451288","is_managed":false,"link_count":0,"modified_at":"2026-10-08T09:21:31.435944+00:00","name":"tf-testaccteamnotificationrulerecipientemail-local-1791451288","provisioned_by":"teams_terraform","summary":"Example team","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/38ecdebf-a6c5-41f5-b736-0805e80b6b5c/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/38ecdebf-a6c5-41f5-b736-0805e80b6b5c/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 132.452791ms
[...]
    - id: 20
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/38ecdebf-a6c5-41f5-b736-0805e80b6b5c/notification-rules/20211800-adf5-40b8-a4c2-d76f3a433466
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 145.088166ms
