---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"hcI-DqxsQ5aeABxXWrvvNQ","attributes":{"name":"my group","is_enabled":true,"filter":{"query":"*"},"product_list":["logs"],"description":"","samplings":[]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":211523}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.033988208s
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"is_enabled":true,"name":"tf-TestAccDatadogSensitiveDataScannerRule_DefaultTags-local-1721744693","namespaces":[],"pattern":"regex","tags":["sensitive_data:true","default_key:default_value"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"hcI-DqxsQ5aeABxXWrvvNQ","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"UpSs7EHiSOyXC-ja4K3s9w","attributes":{"name":"tf-TestAccDatadogSensitiveDataScannerRule_DefaultTags-local-1721744693","namespaces":[],"excluded_namespaces":["username"],"pattern":"regex","text_replacement":{"type":"none"},"tags":["sensitive_data:true","default_key:default_value"],"labels":[],"is_enabled":true,"description":"a description"},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"hcI-DqxsQ5aeABxXWrvvNQ","type":"sensitive_data_scanner_group"}}}},"meta":{"version":211524}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.570458ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","attributes":{},"type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"gfeX7XRFSYavzVMujL6mSw","type":"sensitive_data_scanner_group"},{"id":"xdfyyx1FSzqEaNwOpqhsFw","type":"sensitive_data_scanner_group"},{"id":"TaGOHR22Smiz8EWCJmfUvA","type":"sensitive_data_scanner_group"},{"id":"GQFJxeDWRG6yRsZqbyhNbw","type":"sensitive_data_scanner_group"},{"id":"EXHsPd7aRE2XfaFi26AMXg","type":"sensitive_data_scanner_group"},{"id":"9ZSFF7uGREyPZwjPRR7yOw","type":"sensitive_data_scanner_group"},{"id":"sDKyWbfXQA6NGGwXEgNgMA","type":"sensitive_data_scanner_group"},{"id":"0QvFjxASTxK2VgAIXOgGnQ","type":"sensitive_data_scanner_group"},{"id":"hcI-DqxsQ5aeABxXWrvvNQ","type":"sensitive_data_scanner_group"}]}}},"meta":{"version":211524,"count_limit":100,"group_count_limit":20,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"has_cascading_enabled":false,"is_configuration_superseded":false},"included":[{"id":"gfeX7XRFSYavzVMujL6mSw","attributes":{"name":"Example-Create_Scanning_Group_returns_OK_response_1712326301","is_enabled":false,"filter":{"query":"*"},"product_list":["logs"],"samplings":[]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},{"id":"xdfyyx1FSzqEaNwOpqhsFw","attributes":{"name":"my-test-group","is_enabled"[...]
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"is_enabled":true,"name":"tf-TestAccDatadogSensitiveDataScannerRule_DefaultTags-local-1721744693","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"id":"UpSs7EHiSOyXC-ja4K3s9w","type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/UpSs7EHiSOyXC-ja4K3s9w
        method: PATCH
      response:
        body: |
            {"meta":{"version":211525}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.503ms
[...]
    - id: 20
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/hcI-DqxsQ5aeABxXWrvvNQ
        method: DELETE
      response:
        body: |
            {"meta":{"version":211529}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.916667ms
