---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"severity":"high","type":"set"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRule_OutOfBandDelete-local-1788858099","rule":{"finding_types":["secret"]}},"type":"severity_modifier_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
        method: POST
      response:
        body: '{"data":{"id":"efa29051-8de6-46c5-a9ed-7f589baf22dd","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"high"},"created_at":1788858105122,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858105122,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRule_OutOfBandDelete-local-1788858099","rule":{"finding_types":["secret"]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 340.008417ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/efa29051-8de6-46c5-a9ed-7f589baf22dd
        method: GET
      response:
        body: '{"data":{"id":"efa29051-8de6-46c5-a9ed-7f589baf22dd","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"high"},"created_at":1788858105122,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858105122,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRule_OutOfBandDelete-local-1788858099","rule":{"finding_types":["secret"]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 176.519875ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/efa29051-8de6-46c5-a9ed-7f589baf22dd
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 170.682583ms
[...]
