---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1767989571-screen","widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"w9x-9yt-xuv","title":"tf-TestDatadogDashListImport-local-1767989571-screen","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/w9x-9yt-xuv/tf-testdatadogdashlistimport-local-1767989571-screen","template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":5095457848797423}],"notify_list":[],"created_at":"2026-01-09T20:12:53.388070+00:00","modified_at":"2026-01-09T20:12:53.388070+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.80825ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/w9x-9yt-xuv
        method: GET
      response:
            - chunked
        body: '{"id":"w9x-9yt-xuv","title":"tf-TestDatadogDashListImport-local-1767989571-screen","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/w9x-9yt-xuv/tf-testdatadogdashlistimport-local-1767989571-screen","template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":5095457848797423}],"notify_list":[],"created_at":"2026-01-09T20:12:53.388070+00:00","modified_at":"2026-01-09T20:12:53.388070+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.666291ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1767989571-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"mgk-a5i-m2g","title":"tf-TestDatadogDashListImport-local-1767989571-time","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/mgk-a5i-m2g/tf-testdatadogdashlistimport-local-1767989571-time","template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":608257928038678}],"notify_list":[],"created_at":"2026-01-09T20:12:53.894623+00:00","modified_at":"2026-01-09T20:12:53.894623+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.949875ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/mgk-a5i-m2g
        method: GET
      response:
            - chunked
        body: '{"id":"mgk-a5i-m2g","title":"tf-TestDatadogDashListImport-local-1767989571-time","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/mgk-a5i-m2g/tf-testdatadogdashlistimport-local-1767989571-time","template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":608257928038678}],"notify_list":[],"created_at":"2026-01-09T20:12:53.894623+00:00","modified_at":"2026-01-09T20:12:53.894623+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.50025ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"name":"tf-TestDatadogDashListImport-local-1767989571"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
        method: POST
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-09T20:12:54.149410+00:00","dashboards":null,"dashboard_count":0,"id":616263,"is_favorite":false,"modified":"2026-01-09T20:12:54.149417+00:00","name":"tf-TestDatadogDashListImport-local-1767989571","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.770833ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"dashboards":[{"id":"mgk-a5i-m2g","type":"custom_timeboard"},{"id":"w9x-9yt-xuv","type":"custom_screenboard"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616263/dashboards
        method: PUT
      response:
            - chunked
        body: |
            {"dashboards":[{"type":"custom_timeboard","id":"mgk-a5i-m2g"},{"type":"custom_screenboard","id":"w9x-9yt-xuv"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.693ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616263
        method: GET
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-09T20:12:54.149410+00:00","dashboards":null,"dashboard_count":2,"id":616263,"is_favorite":false,"modified":"2026-01-09T20:12:54.280422+00:00","name":"tf-TestDatadogDashListImport-local-1767989571","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.183625ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616263/dashboards
        method: GET
      response:
            - chunked
        body: |
            {"dashboards":[{"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-09T20:12:53.894623+00:00","is_favorite":false,"is_shared":false,"modified":"2026-01-09T20:12:53.894623+00:00","title":"tf-TestDatadogDashListImport-local-1767989571-time","type":"custom_timeboard","id":"mgk-a5i-m2g","url":"/dashboard/mgk-a5i-m2g/tf-testdatadogdashlistimport-local-1767989571-time","is_read_only":false,"tags":[],"icon":null,"integration_id":null,"popularity":0},{"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-09T20:12:53.388070+00:00","is_favorite":false,"is_shared":false,"modified":"2026-01-09T20:12:53.388070+00:00","title":"tf-TestDatadogDashListImport-local-1767989571-screen","type":"custom_screenboard","id":"w9x-9yt-xuv","url":"/dashboard/w9x-9yt-xuv/tf-testdatadogdashlistimport-local-1767989571-screen","is_read_only":false,"tags":[],"icon":null,"integration_id":null,"popularity":0}],"total":2}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.399584ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616263
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_list_id":616263}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.862417ms
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/mgk-a5i-m2g
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"mgk-a5i-m2g"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 319.125916ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616263
        method: GET
      response:
            - chunked
        body: '{"errors":["Manual Dashboard List with id 616263 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 68.102ms
