---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1707408303@example.com","name":"tf-TestAccServiceAccountDatasource-3d3068d35b1e16e3","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"d3950ea3-c69b-11ee-bfef-4a1236e8c55f","attributes":{"name":"tf-TestAccServiceAccountDatasource-3d3068d35b1e16e3","handle":"d3950ea3-c69b-11ee-bfef-4a1236e8c55f","created_at":"2024-02-08T16:05:06.705606+00:00","modified_at":"2024-02-08T16:05:06.705606+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1707408303@example.com","icon":"https://secure.gravatar.com/avatar/94bfc770b2285b0c362e81aef803fb09?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 522.060106ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-TestAccServiceAccountDatasource-3d3068d35b1e16e3
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"d3950ea3-c69b-11ee-bfef-4a1236e8c55f","attributes":{"name":"tf-TestAccServiceAccountDatasource-3d3068d35b1e16e3","handle":"d3950ea3-c69b-11ee-bfef-4a1236e8c55f","created_at":"2024-02-08T16:05:06.705606+00:00","modified_at":"2024-02-08T16:05:06.705606+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1707408303@example.com","icon":"https://secure.gravatar.com/avatar/94bfc770b2285b0c362e81aef803fb09?s=48&d=retro","title":"","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":263306,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.842383793s
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/d3950ea3-c69b-11ee-bfef-4a1236e8c55f
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"d3950ea3-c69b-11ee-bfef-4a1236e8c55f","attributes":{"name":"tf-TestAccServiceAccountDatasource-3d3068d35b1e16e3","handle":"d3950ea3-c69b-11ee-bfef-4a1236e8c55f","created_at":"2024-02-08T16:05:06.705606+00:00","modified_at":"2024-02-08T16:05:06.705606+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1707408303@example.com","icon":"https://secure.gravatar.com/avatar/94bfc770b2285b0c362e81aef803fb09?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.849278ms
[...]
