---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team 2","handle":"tf-testaccdatadogteamnotificationrulesdatasourcebasic-local-1787701973-2","name":"tf-testaccdatadogteamnotificationrulesdatasourcebasic-local-1787701973-2"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"b8a34c31-7063-45d1-9afe-460d46827feb","type":"team","attributes":{"avatar":null,"banner":4,"created_at":"2026-08-25T23:52:54.798810+00:00","description":"Example team 2","handle":"tf-testaccdatadogteamnotificationrulesdatasourcebasic-local-1787701973-2","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-08-25T23:52:54.798810+00:00","name":"tf-testaccdatadogteamnotificationrulesdatasourcebasic-local-1787701973-2","provisioned_by":"teams_terraform","summary":"Example team 2","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/b8a34c31-7063-45d1-9afe-460d46827feb/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/b8a34c31-7063-45d1-9afe-460d46827feb/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 136.737916ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"channel":"#test-channel","workspace":"Datadog"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/0cb42049-ba6d-4ff5-88e4-fab8770d5b66/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"4fe6f510-29c4-491d-91ea-a4343d67b4b5","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 96.514041ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/0cb42049-ba6d-4ff5-88e4-fab8770d5b66/notification-rules
        method: GET
      response:
        body: '{"data":[{"id":"4fe6f510-29c4-491d-91ea-a4343d67b4b5","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}],"meta":{"page":{"type":"offset_limit","offset":0,"limit":100,"total":1,"first_offset":0,"prev_offset":null,"next_offset":null,"last_offset":0}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 38.201791ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/b8a34c31-7063-45d1-9afe-460d46827feb
        method: GET
      response:
        body: '{"data":{"id":"b8a34c31-7063-45d1-9afe-460d46827feb","type":"team","attributes":{"created_at":"2026-08-25T23:52:54.798810+00:00","description":"Example team 2","handle":"tf-testaccdatadogteamnotificationrulesdatasourcebasic-local-1787701973-2","is_managed":false,"link_count":0,"modified_at":"2026-08-25T23:52:54.798810+00:00","name":"tf-testaccdatadogteamnotificationrulesdatasourcebasic-local-1787701973-2","provisioned_by":"teams_terraform","summary":"Example team 2","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/b8a34c31-7063-45d1-9afe-460d46827feb/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/b8a34c31-7063-45d1-9afe-460d46827feb/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 52.003666ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/b8a34c31-7063-45d1-9afe-460d46827feb/notification-rules/8424303e-6f88-4c40-9ba4-38dff4fd83a7
        method: GET
      response:
        body: '{"data":{"id":"8424303e-6f88-4c40-9ba4-38dff4fd83a7","type":"team_notification_rules","attributes":{"email":{"enabled":false},"ms_teams":{"connector_name":"test-teams-handle-2"},"pagerduty":{"service_name":"my-service-2"},"slack":{"workspace":"Datadog2","channel":"#test-channel-2"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 56.025917ms
[...]
