---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["filter-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"filter-group-1","include":"env:prod","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"env:prod","type":"filter"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"filter-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"d3c6f6fc-db58-11f0-a524-da7ad0900002","type":"pipelines","attributes":{"name":"filter-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["filter-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"filter-group-1","include":"env:prod","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"env:prod","type":"filter"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 434.675792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/d3c6f6fc-db58-11f0-a524-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"d3c6f6fc-db58-11f0-a524-da7ad0900002","type":"pipelines","attributes":{"name":"filter-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["filter-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"filter-group-1","include":"env:prod","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"env:prod","type":"filter"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.756291ms
[...]
