---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"reflow_type":"fixed","template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardMultiSizeLayout_createFixed-local-1626166234","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"width":6,"x":3,"y":0}},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"is_column_break":true,"width":6,"x":3,"y":2}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"dtf-neq-94e","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createFixed-local-1626166234","url":"/dashboard/dtf-neq-94e/tf-testaccdatadogdashboardmultisizelayoutcreatefixed-local-1626166234","created_at":"2021-07-13T08:50:36.792271+00:00","modified_at":"2021-07-13T08:50:36.792271+00:00","reflow_type":"fixed","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"layout":{"y":0,"width":6,"x":3,"height":2},"id":2113388074272695},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"layout":{"y":2,"width":6,"is_column_break":true,"x":3,"height":2},"id":7704842185863680}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/dtf-neq-94e
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"dtf-neq-94e","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createFixed-local-1626166234","url":"/dashboard/dtf-neq-94e/tf-testaccdatadogdashboardmultisizelayoutcreatefixed-local-1626166234","created_at":"2021-07-13T08:50:36.792271+00:00","modified_at":"2021-07-13T08:50:36.792271+00:00","reflow_type":"fixed","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"layout":{"y":0,"width":6,"x":3,"height":2},"id":2113388074272695},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"layout":{"y":2,"width":6,"is_column_break":true,"x":3,"height":2},"id":7704842185863680}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/dtf-neq-94e
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"dtf-neq-94e"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
