---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-testaccdatadogrolesdatasourcemultiplematch-local-1640024544 main"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"c7d84112-61c1-11ec-aeee-da7ad0900002","attributes":{"name":"tf-testaccdatadogrolesdatasourcemultiplematch-local-1640024544 main","created_at":"2021-12-20T18:22:25.106139+00:00","modified_at":"2021-12-20T18:22:25.184341+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles/c7d84112-61c1-11ec-aeee-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"c7d84112-61c1-11ec-aeee-da7ad0900002","attributes":{"name":"tf-testaccdatadogrolesdatasourcemultiplematch-local-1640024544 main","created_at":"2021-12-20T18:22:25.106139+00:00","modified_at":"2021-12-20T18:22:25.184341+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles?filter=tf-testaccdatadogrolesdatasourcemultiplematch-local-1640024544&page%5Bnumber%5D=0&page%5Bsize%5D=100
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":2,"total_count":4312}},"data":[{"type":"roles","id":"c7d84112-61c1-11ec-aeee-da7ad0900002","attributes":{"name":"tf-testaccdatadogrolesdatasourcemultiplematch-local-1640024544 main","created_at":"2021-12-20T18:22:25.106139+00:00","modified_at":"2021-12-20T18:22:25.184341+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles/c7d9a5d4-61c1-11ec-aeee-da7ad0900002
    method: GET
  response:
    body: '{"errors": ["The role c7d9a5d4-61c1-11ec-aeee-da7ad0900002 does not exist not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
