---
version: 1
interactions:
- request:
    body: |
      {"name":"tf-TestAccDatadogDashboardListDatasource-local-1690907965"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: |
      {"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-01T16:39:27.440493+00:00","dashboards":null,"dashboard_count":0,"id":404942,"is_favorite":false,"modified":"2023-08-01T16:39:27.440499+00:00","name":"tf-TestAccDatadogDashboardListDatasource-local-1690907965","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: GET
  response:
    body: |
      {"dashboard_lists":[{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2020-09-08T07:12:57.679027+00:00","dashboards":null,"dashboard_count":0,"id":126798,"is_favorite":false,"modified":"2020-09-09T08:48:11.523877+00:00","name":"frog's List","type":"manual_dashboard_list"},{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-06-24T14:05:39.149344+00:00","dashboards":null,"dashboard_count":0,"id":395908,"is_favorite":false,"modified":"2023-06-24T14:05:39.149350+00:00","name":"Test-Cre[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/404942
    method: GET
  response:
    body: |
      {"author":{"name":"Hanting Zhang","handle":"hanting.zhang@datadoghq.com"},"created":"2023-08-01T16:39:27.440493+00:00","dashboards":null,"dashboard_count":0,"id":404942,"is_favorite":false,"modified":"2023-08-01T16:39:27.440499+00:00","name":"tf-TestAccDatadogDashboardListDatasource-local-1690907965","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/404942/dashboards
    method: GET
  response:
    body: |
      {"dashboards":[],"total":0}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/404942
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_list_id":404942}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/404942
    method: GET
  response:
    body: '{"errors":["Manual Dashboard List with id 404942 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
