---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1682003490","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"dcf-44k-d59","title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1682003490","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/dcf-44k-d59/tf-testaccdatadogdashboardrbacupdatetoadmin-local-1682003490","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":7376476345928432}],"notify_list":[],"created_at":"2023-04-20T15:11:32.181208+00:00","modified_at":"2023-04-20T15:11:32.181208+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/dcf-44k-d59
    method: GET
  response:
    body: |
      {"id":"dcf-44k-d59","title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1682003490","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/dcf-44k-d59/tf-testaccdatadogdashboardrbacupdatetoadmin-local-1682003490","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":7376476345928432}],"notify_list":[],"created_at":"2023-04-20T15:11:32.181208+00:00","modified_at":"2023-04-20T15:11:32.181208+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/dcf-44k-d59
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"dcf-44k-d59"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
