---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"name":"tf-TestDatadogDashListInDashboard-local-1758619318"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
        method: POST
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2025-09-23T09:22:03.273654+00:00","dashboards":null,"dashboard_count":0,"id":591239,"is_favorite":false,"modified":"2025-09-23T09:22:03.273660+00:00","name":"tf-TestDatadogDashListInDashboard-local-1758619318","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.540625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListInDashboard-local-1758619318-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"errors":[{"id":null,"links":null,"status":"HTTPStatus.BAD_REQUEST","code":null,"title":"Bad Request","detail":"The is_read_only attribute is no longer supported. https://docs.datadoghq.com/dashboards/guide/is-read-only-deprecation/","source":null,"meta":null}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 259.85ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/591239
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_list_id":591239}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 312.18425ms
[...]
