---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"America/Los_Angeles","monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"mute_first_recovery_notification":false,"notify_end_types":[],"schedule":{"end":null},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689977035)"},"type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime
    method: POST
  response:
    body: |
      {"data":{"type":"downtime","relationships":{"monitor":{"data":null},"created_by":{"data":{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92"}}},"attributes":{"schedule":{"end":null,"start":"2023-07-21T22:03:57.222842+00:00"},"modified":"2023-07-21T22:03:57.348057+00:00","status":"active","canceled":null,"notify_end_types":[],"monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689977035)","display_timezone":"America/Los_Angeles","mute_first_recovery_notification":false,"message":null,"notify_end_states":["warn","alert","no data"],"created":"2023-07-21T22:03:57.348057+00:00"},"id":"7d671234-2812-11ee-b231-da7ad0900002"},"included":[{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92","attributes":{"name":"Carl Martensen","handle":"carl.martensen@datadoghq.com","created_at":"2019-01-15T14:36:15.423919+00:00","modified_at":"2019-01-15T14:36:15.457748+00:00","email":"carl.martensen@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ed460c2fc567a43e34c2bd7cda76bdd1?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/downtime/7d671234-2812-11ee-b231-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"downtime","id":"7d671234-2812-11ee-b231-da7ad0900002","attributes":{"status":"active","display_timezone":"America/Los_Angeles","scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689977035)","message":null,"notify_end_types":[],"mute_first_recovery_notification":false,"created":"2023-07-21T22:03:57.348057+00:00","modified":"2023-07-21T22:03:57.348057+00:00","schedule":{"end":null,"start":"2023-07-21T22:03:57.222842+00:00"},"monitor_identifier":{"monitor_tags":["mat:sat","cat:hat"]},"canceled":null,"notify_end_states":["no data","warn","alert"]}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
