---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"lambda":true,"sensitive_data":false,"vuln_containers_os":true,"vuln_host_os":true},"id":"123456789012","type":"aws_scan_options"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws
        method: POST
      response:
        body: '{"data":{"id":"123456789012","type":"aws_scan_options","attributes":{"lambda":true,"sensitive_data":false,"vuln_containers_os":true,"vuln_host_os":true}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 602.902041ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"lambda":false,"sensitive_data":true,"vuln_containers_os":false,"vuln_host_os":false},"id":"123456789012","type":"aws_scan_options"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/123456789012
        method: PATCH
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 169.091334ms
[...]
