---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1740494917","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"3uy-3aa-qrh","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1740494917","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/3uy-3aa-qrh/tf-testaccdatadogdashboardrbaccreateopen-local-1740494917","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":2767925479974969}],"notify_list":[],"created_at":"2025-02-25T14:48:40.708000+00:00","modified_at":"2025-02-25T14:48:40.708000+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 477.959833ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/3uy-3aa-qrh
        method: GET
      response:
            - chunked
        body: |
            {"id":"3uy-3aa-qrh","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1740494917","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/3uy-3aa-qrh/tf-testaccdatadogdashboardrbaccreateopen-local-1740494917","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":2767925479974969}],"notify_list":[],"created_at":"2025-02-25T14:48:40.708000+00:00","modified_at":"2025-02-25T14:48:40.708000+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.292834ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/3uy-3aa-qrh
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"3uy-3aa-qrh"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 218.237917ms
