---
version: 1
interactions:
- request:
    body: |
      {"description":"some description about foo SLO","name":"tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897{type:good}.as_count()"},"tags":["tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897"],"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"},{"target":99,"timeframe":"90d"}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte Henry","email":"hippolyte.henry@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897{type:good}.as_count()"},"id":"caded04ad6da510aa8357bb9bb9acce6","name":"tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897","created_at":1619707898,"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1619707897"],"modified_at":1619707898,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4422498"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "496"
      X-Ratelimit-Reset:
      - "22"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?ids=caded04ad6da510aa8357bb9bb9acce6
    method: GET
  response:
    body: '{"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte Henry","email":"hippolyte.henry@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897{type:good}.as_count()"},"id":"caded04ad6da510aa8357bb9bb9acce6","name":"tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897","created_at":1619707898,"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1619707897"],"modified_at":1619707898,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4422498"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "999"
      X-Ratelimit-Reset:
      - "2"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLO
    url: https://api.datadoghq.com/api/v1/slo/caded04ad6da510aa8357bb9bb9acce6
    method: GET
  response:
    body: '{"data":{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte Henry","email":"hippolyte.henry@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897{type:good}.as_count()"},"id":"caded04ad6da510aa8357bb9bb9acce6","name":"tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897","created_at":1619707898,"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1619707897"],"modified_at":1619707898,"type":"metric"},"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4422498"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2999"
      X-Ratelimit-Reset:
      - "2"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?query=tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte Henry","email":"hippolyte.henry@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897{type:good}.as_count()"},"id":"caded04ad6da510aa8357bb9bb9acce6","name":"tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897","created_at":1619707898,"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1619707897"],"modified_at":1619707899,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4422498"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "998"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?tags_query=tf_testaccdatadogservicelevelobjectivedatasource_local_1619707897
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte Henry","email":"hippolyte.henry@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897{type:good}.as_count()"},"id":"caded04ad6da510aa8357bb9bb9acce6","name":"tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897","created_at":1619707898,"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1619707897"],"modified_at":1619707900,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4422498"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "999"
      X-Ratelimit-Reset:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?metrics_query=tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte Henry","email":"hippolyte.henry@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897{type:good}.as_count()"},"id":"caded04ad6da510aa8357bb9bb9acce6","name":"tf_TestAccDatadogServiceLevelObjectiveDatasource_local_1619707897","created_at":1619707898,"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1619707897"],"modified_at":1619707901,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4422498"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "998"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLO
    url: https://api.datadoghq.com/api/v1/slo/caded04ad6da510aa8357bb9bb9acce6
    method: GET
  response:
    body: '{"errors": ["SLO not found: caded04ad6da510aa8357bb9bb9acce6 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4422498"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2987"
      X-Ratelimit-Reset:
      - "7"
    status: 404 Not Found
    code: 404
    duration: ""
