---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"aggregate filtered fw test","name":"tf-TestAccMonitor_Fwprovider_AggregateFilteredQuery-local-1778512870","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":124},"variables":[{"base_query":{"data_source":"metrics","name":"query1","query":"avg:dd{*} by {org_id}.as_count()"},"data_source":"aggregate_filtered_query","filter_query":{"columns":[{"name":"org_id"},{"name":"name"}],"data_source":"reference_table","name":"filter_query","table_name":"test_table"},"filters":[{"base_attribute":"org_id","filter_attribute":"org_id"}],"name":"query1"}]},"priority":null,"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") \u003e 124","type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.527709ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"aggregate filtered fw test","name":"tf-TestAccMonitor_Fwprovider_AggregateFilteredQuery-local-1778512870","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":124},"variables":[{"base_query":{"data_source":"metrics","name":"query1","query":"avg:dd{*} by {org_id}.as_count()"},"data_source":"aggregate_filtered_query","filter_query":{"columns":[{"name":"org_id"},{"name":"name"}],"data_source":"reference_table","name":"filter_query","table_name":"test_table"},"filters":[{"base_attribute":"org_id","filter_attribute":"org_id"}],"name":"query1"}]},"priority":null,"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") \u003e 124","tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":281768438,"org_id":321813,"type":"metric alert","name":"tf-TestAccMonitor_Fwprovider_AggregateFilteredQuery-local-1778512870","message":"aggregate filtered fw test","tags":[],"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") > 124","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":124.0},"variables":[{"base_query":{"data_source":"metrics","name":"query1","query":"avg:dd{*} by {org_id}.as_count()"},"data_source":"aggregate_filtered_query","filter_query":{"columns":[{"name":"org_id"},{"name":"name"}],"data_source":"reference_table","name":"filter_query","table_name":"test_table"},"filters":[{"base_attribute":"org_id","filter_attribute":"org_id"}],"name":"query1"}],"silenced":{}},"multi":false,"created_at":1778512872000,"created":"2026-05-11T15:21:12.872755+00:00","modified":"2026-05-11T15:21:12.872755+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","handle":"kevin.pombo@datadoghq.com","email":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.887583ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"aggregate filtered fw test","name":"tf-TestAccMonitor_Fwprovider_AggregateFilteredQuery-local-1778512870","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":124},"variables":[{"base_query":{"data_source":"metrics","name":"query1","query":"avg:dd{*} by {org_id}.as_count()"},"data_source":"aggregate_filtered_query","filter_query":{"columns":[{"name":"org_id"},{"name":"name"}],"data_source":"reference_table","name":"filter_query","table_name":"test_table"},"filters":[{"base_attribute":"org_id","filter_attribute":"org_id"}],"name":"query1"}]},"priority":null,"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") \u003e 124","restricted_roles":null,"tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/281768438/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.708125ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/281768438?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":281768438,"org_id":321813,"type":"metric alert","name":"tf-TestAccMonitor_Fwprovider_AggregateFilteredQuery-local-1778512870","message":"aggregate filtered fw test","tags":[],"query":"formula(\"query1\").rollup(\"sum\[...]
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/281768438
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":281768438}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 301.160083ms
