---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 69.617042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"Query":"service:second"},"type":"validate_query"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/validate-query
        method: POST
      response:
        body: '{"data":{"id":"023154fb-5def-4244-88dc-2397a9f78a54","type":"validate_response","attributes":{"Canonical":"service:second"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 51.344167ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"third-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_tag_exists":"replace","query":"service:third"},"reference_table":null}]},"id":"tf-test-order-third-tf-TestAccDatadogTagPipelineRulesets_Update-local-1782916744","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"71f2c4af-230b-4a8b-ae30-3a49e44aa470","type":"ruleset","attributes":{"created":{"seconds":1782916745,"nanos":838559000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1782916745,"nanos":838559000},"name":"tf-test-order-third-tf-TestAccDatadogTagPipelineRulesets_Update-local-1782916744","position":1,"rules":[{"name":"third-rule","enabled":true,"query":{"query":"service:third","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false,"if_tag_exists":"replace"},"mapping":null,"reference_table":null,"metadata":null}],"version":3718555}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 123.107083ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"3efbd98a-332d-4d32-8629-99c04eca5aa0","type":"ruleset"},{"id":"9f4d1ea5-d99e-4998-8710-54ce2ac454f1","type":"ruleset"},{"id":"71f2c4af-230b-4a8b-ae30-3a49e44aa470","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 58.696375ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/3efbd98a-332d-4d32-8629-99c04eca5aa0
        method: GET
      response:
        body: '{"data":{"id":"3efbd98a-332d-4d32-8629-99c04eca5aa0","type":"ruleset","attributes":{"created":{"seconds":1782916745,"nanos":867141000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1782916745,"nanos":867141000},"name":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesets_Update-local-1782916744","position":1,"rules":[{"name":"first-rule","enabled":true,"query":{"query":"service:first","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false,"if_tag_exists":"replace"},"mapping":null,"reference_table":null,"metadata":null}],"version":3718557}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 72.640542ms
[...]
