---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"description":"Needs triage"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsInboxRule-local-1789744815","rule":{"finding_types":["misconfiguration"],"query":"env:dev @severity:low"}},"type":"inbox_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules
        method: POST
      response:
        body: '{"data":{"id":"f171d831-e023-4f4c-af12-e5ea53dcaab2","type":"inbox_rules","attributes":{"action":{"description":"Needs triage"},"created_at":1789744817178,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744817178,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRule-local-1789744815","rule":{"finding_types":["misconfiguration"],"query":"env:dev @severity:low"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 954.701333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/f171d831-e023-4f4c-af12-e5ea53dcaab2
        method: GET
      response:
        body: '{"data":{"id":"f171d831-e023-4f4c-af12-e5ea53dcaab2","type":"inbox_rules","attributes":{"action":{"description":"Needs triage"},"created_at":1789744817178,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744817178,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRule-local-1789744815","rule":{"finding_types":["misconfiguration"],"query":"env:dev @severity:low"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 121.313792ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/f171d831-e023-4f4c-af12-e5ea53dcaab2
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 114.867083ms
