---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSloList-local-1680104112","widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"yxp-m9d-gfc","title":"tf-TestAccDatadogDashboardSloList-local-1680104112","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/yxp-m9d-gfc/tf-testaccdatadogdashboardslolist-local-1680104112","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"},"id":5630144474074451}],"notify_list":[],"created_at":"2023-03-29T15:35:14.453774+00:00","modified_at":"2023-03-29T15:35:14.453774+00:00","template_variable_presets":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/yxp-m9d-gfc
    method: GET
  response:
    body: |
      {"id":"yxp-m9d-gfc","title":"tf-TestAccDatadogDashboardSloList-local-1680104112","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/yxp-m9d-gfc/tf-testaccdatadogdashboardslolist-local-1680104112","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"},"id":5630144474074451}],"notify_list":[],"created_at":"2023-03-29T15:35:14.453774+00:00","modified_at":"2023-03-29T15:35:14.453774+00:00","template_variable_presets":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/yxp-m9d-gfc
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"yxp-m9d-gfc"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/yxp-m9d-gfc
    method: GET
  response:
    body: '{"errors":["Dashboard with ID yxp-m9d-gfc not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
