---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a global variable","is_fido":false,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASIC_LOCAL_1739961952","tags":["foo:bar","baz"],"value":{"secure":false,"value":"variable-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
        body: |
            {"id":"b1643294-f2e5-4c73-8338-cd49fef7ac70","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASIC_LOCAL_1739961952","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":false,"value":"variable-value"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.436292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/b1643294-f2e5-4c73-8338-cd49fef7ac70
        method: GET
      response:
        body: |
            {"id":"b1643294-f2e5-4c73-8338-cd49fef7ac70","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASIC_LOCAL_1739961952","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2025-02-19T10:45:54.163510+00:00","modified_at":"2025-02-19T10:45:54.163510+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":"Shuhei Kitagawa","handle":"shuhei.kitagawa@datadoghq.com","email":"shuhei.kitagawa@datadoghq.com"},"editor":{"name":"Shuhei Kitagawa","handle":"shuhei.kitagawa@datadoghq.com","email":"shuhei.kitagawa@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.281917ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"operator":"doesNotContain","target":"terraform","type":"body"},{"operator":"md5","target":"a","type":"bodyHash"},{"code":"const hello = 'world';","type":"javascript"}],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"},{"id":"b1643294-f2e5-4c73-8338-cd49fef7ac70","name":"GLOBAL_VAR","type":"global"}],"request":{"basicAuth":{"domain":"ntlm-domain","password":"ntlm-password","type":"ntlm","username":"ntlm-username","workstation":"ntlm-workstation"},"bodyType":"text/plain","headers":{},"method":"GET","noSavingResponseBody":true,"proxy":{"headers":{},"url":"https://proxy.url"},"url":"https://www.datadoghq.com"},"variablesFromScript":"dd.variable.set('FOO', 'hello');"},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1739961952","options":{"allow_insecure":true,"ci":{"executionRule":"blocking"},"follow_redirects":true,"httpVersion":"http2","ignoreServerCertificateError":true,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1739961952-monitor","monitor_priority":5,"retry":{"count":1,"interval":300},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
        body: |
            {"public_id":"y6a-ag2-sy7","name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1739961952","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-02-19T10:45:54.656201+00:00","modified_at":"2025-02-19T10:45:54.656201+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"respons[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/y6a-ag2-sy7
        method: GET
      response:
        body: |
            {"public_id":"y6a-ag2-sy7","name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1739961952","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-02-19T10:45:54.656201+00:00","modified_at":"2025-02-19T10:45:[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/y6a-ag2-sy7
        method: GET
      response:
        body: |
            {"public_id":"y6a-ag2-sy7","name":"tf-TestAccDatadogSyntheticsAPITest_Basic-local-1739961952","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-02-19T10:45:54.656201+00:00","modified_at":"2025-02-19T10:45:54.6[...]
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["y6a-ag2-sy7"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
        body: |
            {"deleted_tests":[{"public_id":"y6a-ag2-sy7","deleted_at":"2025-02-19T10:45:56.620606+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 395.034042ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/y6a-ag2-sy7
        method: GET
      response:
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 60.071667ms
