---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["pubsub-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"decoding":"json","id":"pubsub-source-1","project":"my-gcp-project","subscription":"logs-subscription","type":"google_pubsub"}]},"name":"pubsub minimal pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"dba18888-26a8-11f1-bb27-da7ad0900002","type":"pipelines","attributes":{"name":"pubsub minimal pipeline","config":{"destinations":[{"id":"destination-1","inputs":["pubsub-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"decoding":"json","id":"pubsub-source-1","project":"my-gcp-project","subscription":"logs-subscription","type":"google_pubsub"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 516.850084ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/dba18888-26a8-11f1-bb27-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"dba18888-26a8-11f1-bb27-da7ad0900002","type":"pipelines","attributes":{"name":"pubsub minimal pipeline","config":{"destinations":[{"id":"destination-1","inputs":["pubsub-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"decoding":"json","id":"pubsub-source-1","project":"my-gcp-project","subscription":"logs-subscription","type":"google_pubsub"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 296.404375ms
[...]
