---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a global variable","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_UPDATED_LOCAL_1724351353","tags":["foo:bar","baz"],"value":{"secure":false,"value":"variable-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"2ef8be1f-8c31-48a0-bcb5-51da137e0f97","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_UPDATED_LOCAL_1724351353","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":false,"value":"variable-value"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.076959ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/2ef8be1f-8c31-48a0-bcb5-51da137e0f97
        method: GET
      response:
            - chunked
        body: |
            {"id":"2ef8be1f-8c31-48a0-bcb5-51da137e0f97","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_UPDATED_LOCAL_1724351353","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2024-08-22T18:29:14.432965+00:00","modified_at":"2024-08-22T18:29:14.432965+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.399083ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"operator":"doesNotContain","target":"terraform","type":"body"},{"operator":"md5","target":"a","type":"bodyHash"}],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"},{"id":"2ef8be1f-8c31-48a0-bcb5-51da137e0f97","name":"GLOBAL_VAR","type":"global"}],"request":{"basicAuth":{"domain":"ntlm-domain","password":"ntlm-password","type":"ntlm","username":"ntlm-username","workstation":"ntlm-workstation"},"bodyType":"text/plain","headers":{},"method":"GET","noSavingResponseBody":true,"proxy":{"headers":{},"url":"https://proxy.url"},"url":"https://www.datadoghq.com"},"variablesFromScript":"dd.variable.set('FOO', 'hello');"},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1724351353","options":{"allow_insecure":true,"ci":{"executionRule":"blocking"},"follow_redirects":true,"httpVersion":"http2","ignoreServerCertificateError":true,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1724351353-monitor","monitor_priority":5,"retry":{"count":1,"interval":300},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"zaj-iem-wai","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1724351353","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-08-22T18:29:15.094903+00:00","modified_at":"2024-08-22T18:29:15.094903+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"opera[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/zaj-iem-wai
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"zaj-iem-wai","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1724351353","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-08-22T18:29:15.094903+00:00","modified_at":"2024-08-22[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/zaj-iem-wai
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"zaj-iem-wai","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1724351353","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-08-22T18:29:15.094903+00:00","modified_at":"2024-08-22T18:[...]
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"configVariables":[{"id":"2ef8be1f-8c31-48a0-bcb5-51da137e0f97","name":"GLOBAL_VAR","type":"global"}],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"Notify @pagerduty","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1724351353-updated","options":{"ci":{"executionRule":"non_blocking"},"httpVersion":"any","min_failure_duration":10,"min_location_failed":1,"monitor_options":{"renotify_interval":120},"retry":{"count":3,"interval":500},"tick_every":900},"status":"live","subtype":"http","tags":["foo:bar","foo","env:test"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/zaj-iem-wai
        method: PUT
      response:
            - chunked
        body: |
            {"public_id":"zaj-iem-wai","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1724351353-updated","status":"live","type":"api","tags":["foo:bar","foo","env:test"],"created_at":"2024-08-22T18:29:15.094903+00:00","modified_at":"2024-08-22T18:29:20.102543+00:00","config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"configVariables":[{"id":"2ef8be1f-8c31-48a0-bcb5-51da137e0f97","name":"GLOBAL_VAR","type":"global"}],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"message":"Notify @pagerduty","options":{"ci":{"executionRule":"non_blocking"},"httpVersion":"any","min_failure_duration":10,"min_location_failed":1,"monitor_options":{"renotify_interval":120,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"retry":{"count":3,"interval":500},"tick_every":900},"locations":["aws:eu-central-1"],"subtype":"http","created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":152019633,"org_id":321813,"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"overall_state":2,"overall_state_modified":"2024-08-22T18:29:20.169456+00:00"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 487.585ms
[...]
    - id: 17
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["zaj-iem-wai"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"zaj-iem-wai","deleted_at":"2024-08-22T18:29:24.089096+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 641.547875ms
[...]
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/zaj-iem-wai
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 126.747625ms
