---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"dest-1","inputs":["group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"field":"message","id":"parse-xml-proc","include":"service:test","type":"parse_xml"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"parse_xml pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"5debb5ac-2ea1-11f1-96d4-da7ad0900002","type":"pipelines","attributes":{"name":"parse_xml pipeline","config":{"destinations":[{"id":"dest-1","inputs":["group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"field":"message","id":"parse-xml-proc","include":"service:test","type":"parse_xml"}]}],"processors":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"field":"message","id":"parse-xml-proc","include":"service:test","type":"parse_xml"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 444.03025ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/5debb5ac-2ea1-11f1-96d4-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"5debb5ac-2ea1-11f1-96d4-da7ad0900002","type":"pipelines","attributes":{"name":"parse_xml pipeline","config":{"destinations":[{"id":"dest-1","inputs":["group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"field":"message","id":"parse-xml-proc","include":"service:test","type":"parse_xml"}]}],"processors":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"field":"message","id":"parse-xml-proc","include":"service:test","type":"parse_xml"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 259.427875ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"dest-1","inputs":["group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"always_use_text_key":false,"attr_prefix":"attr_","display_name":"XML Parser","enabled":true,"field":"xml_data","id":"parse-xml-proc","include":"service:test","include_attr":true,"parse_bool":true,"parse_null":false,"parse_number":true,"text_key":"text","type":"parse_xml"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"parse_xml pipeline updated"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/5debb5ac-2ea1-11f1-96d4-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"5debb5ac-2ea1-11f1-96d4-da7ad0900002","type":"pipelines","attributes"[...]
[...]
