---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourceexactmatch-local-1685579865@example.com","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"8705198f-0014-11ee-b402-2617608d1e89","attributes":{"name":null,"handle":"8705198f-0014-11ee-b402-2617608d1e89","created_at":"2023-06-01T00:37:45.968812+00:00","modified_at":"2023-06-01T00:37:45.976243+00:00","email":"tf-testaccdatadogserviceaccountdatasourceexactmatch-local-1685579865@example.com","icon":"https://secure.gravatar.com/avatar/f1a3b81f317079a1fe7ebdbf7f00547f?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"76d50d80-ffeb-11ed-a643-da7ad0900002"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadogserviceaccountdatasourceexactmatch-local-1685579865%40example.com
    method: GET
  response:
    body: |
      {"data":[{"type":"users","id":"8705198f-0014-11ee-b402-2617608d1e89","attributes":{"name":null,"handle":"8705198f-0014-11ee-b402-2617608d1e89","created_at":"2023-06-01T00:37:45.968812+00:00","modified_at":"2023-06-01T00:37:45.976243+00:00","email":"tf-testaccdatadogserviceaccountdatasourceexactmatch-local-1685579865@example.com","icon":"https://secure.gravatar.com/avatar/f1a3b81f317079a1fe7ebdbf7f00547f?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"76d50d80-ffeb-11ed-a643-da7ad0900002"}}}}],"meta":{"page":{"total_count":16,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/8705198f-0014-11ee-b402-2617608d1e89
    method: GET
  response:
    body: |
      {"data":{"type":"users","id":"8705198f-0014-11ee-b402-2617608d1e89","attributes":{"name":null,"handle":"8705198f-0014-11ee-b402-2617608d1e89","created_at":"2023-06-01T00:37:45.968812+00:00","modified_at":"2023-06-01T00:37:45.976243+00:00","email":"tf-testaccdatadogserviceaccountdatasourceexactmatch-local-1685579865@example.com","icon":"https://secure.gravatar.com/avatar/f1a3b81f317079a1fe7ebdbf7f00547f?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"76d50d80-ffeb-11ed-a643-da7ad0900002"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
