---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"due_days_per_severity":[{"due_in_days":7,"severity":"critical"}],"due_from":"first_seen"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsDueDateRulesOrder_OutOfBandRuleAdded-local-1782479424-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}},"type":"due_date_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/due_date_rules
        method: POST
      response:
        body: '{"data":{"id":"8bff1183-9a59-4596-bbb4-a9c2a97382dd","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7}],"due_from":"first_seen"},"created_at":1782479424864,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782479424864,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsDueDateRulesOrder_OutOfBandRuleAdded-local-1782479424-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 329.889ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"8bff1183-9a59-4596-bbb4-a9c2a97382dd","type":"due_date_rules"},{"id":"528a37da-8aba-4766-bef8-7f588c993e99","type":"due_date_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/due_date_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"due_date_rules","id":"8bff1183-9a59-4596-bbb4-a9c2a97382dd"},{"type":"due_date_rules","id":"528a37da-8aba-4766-bef8-7f588c993e99"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 232.174625ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/due_date_rules/528a37da-8aba-4766-bef8-7f588c993e99
        method: GET
      response:
        body: '{"data":{"id":"528a37da-8aba-4766-bef8-7f588c993e99","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7}],"due_from":"first_seen"},"created_at":1782479424869,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782479424869,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsDueDateRulesOrder_OutOfBandRuleAdded-local-1782479424-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 174.142791ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"8bff1183-9a59-4596-bbb4-a9c2a97382dd","type":"due_date_rules"},{"id":"528a37da-8aba-4766-bef8-7f588c993e99","type":"due_date_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/due_date_rules/reorder
        method: POST
      response:
        body: '{"errors":[{"status":"422","title":"Unprocessable Entity","detail":"reorder must include all 3 rules, got 2"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 422 Unprocessable Entity
        code: 422
        duration: 159.0315ms
[...]
