---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/metrics/datadog.agent.running/all-tags
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"metrics","id":"datadog.agent.running","attributes":{"tags":["foo:bar"]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.560625ms
[...]
