---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateUpdateRules-local-1765465543","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"89110936-e6ae-44be-8de2-c6ce86ed86a7","type":"deployment_gate","attributes":{"created_at":"2025-12-11T15:05:44.325824Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateUpdateRules-local-1765465543","service":"my-service","updated_at":"2025-12-11T15:05:44.325824Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 131.135625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"initial_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/89110936-e6ae-44be-8de2-c6ce86ed86a7/rules
        method: POST
      response:
        body: '{"data":{"id":"cdaae23e-a4c1-4db9-ae16-ddcab1f37f44","type":"deployment_rule","attributes":{"created_at":"2025-12-11T15:05:44.472619Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"89110936-e6ae-44be-8de2-c6ce86ed86a7","name":"initial_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-11T15:05:44.472619Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 143.442333ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/89110936-e6ae-44be-8de2-c6ce86ed86a7
        method: GET
      response:
        body: '{"data":{"id":"89110936-e6ae-44be-8de2-c6ce86ed86a7","type":"deployment_gate","attributes":{"created_at":"2025-12-11T15:05:44.325824Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateUpdateRules-local-1765465543","service":"my-service","updated_at":"2025-12-11T15:05:44.325824Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 132.345833ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/89110936-e6ae-44be-8de2-c6ce86ed86a7/rules
        method: GET
      response:
        body: '{"data":{"id":"89110936-e6ae-44be-8de2-c6ce86ed86a7","type":"list_deployment_rules","attributes":{"rules":[{"id":"cdaae23e-a4c1-4db9-ae16-ddcab1f37f44","name":"initial_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-11T15:05:44.472619Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-11T15:05:44.472619Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"89110936-e6ae-44be-8de2-c6ce86ed86a7","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 133.1265ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/89110936-e6ae-44be-8de2-c6ce86ed86a7/rules/cdaae23e-a4c1-4db9-ae16-ddcab1f37f44
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 125.920792ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":true,"name":"second_rule","options":{"duration":300,"query":"test_query"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/89110936-e6ae-44be-8de2-c6ce86ed86a7/rules
        method: POST
      response:
        body: '{"data":{"id":"219541fe-1e0b-4d91-b501-3cea8097509e","type":"deployment_rule","attributes":{"created_at":"2025-12-11T15:05:46.502705Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"gate_id":"89110936-e6ae-44be-8de2-c6ce86ed86a7","name":"second_rule","options":{"query":"test_query","duration":300},"type":"monitor","updated_at":"2025-12-11T15:05:46.502705Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 125.676167ms
[...]
