---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"123","handle":"tf-testaccteamlinkbasic-local-1758619178","name":"tf-testaccteamlinkbasic-local-1758619178"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"4279832f-8d26-4c11-834a-6a37645023b9","attributes":{"name":"tf-testaccteamlinkbasic-local-1758619178","handle":"tf-testaccteamlinkbasic-local-1758619178","summary":"123","description":"123","avatar":null,"banner":14,"visible_modules":[],"hidden_modules":[],"created_at":"2025-09-23T09:19:39.597751+00:00","modified_at":"2025-09-23T09:19:39.597759+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/4279832f-8d26-4c11-834a-6a37645023b9/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/4279832f-8d26-4c11-834a-6a37645023b9/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 419.549958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"label":"Link label","position":1,"team_id":"4279832f-8d26-4c11-834a-6a37645023b9","url":"https://example.com"},"type":"team_links"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/4279832f-8d26-4c11-834a-6a37645023b9/links
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team_links","id":"6ecbea4c-985e-11f0-89b3-da7ad0900002","attributes":{"team_id":"4279832f-8d26-4c11-834a-6a37645023b9","label":"Link label","url":"https://example.com","position":1}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 477.125667ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/4279832f-8d26-4c11-834a-6a37645023b9
        method: GET
      response:
        body: '{"data":{"id":"4279832f-8d26-4c11-834a-6a37645023b9","type":"team","attributes":{"created_at":"2025-09-23T09:19:39.597751+00:00","description":"123","handle":"tf-testaccteamlinkbasic-local-1758619178","is_managed":false,"link_count":1,"modified_at":"2025-09-23T09:19:39.597759+00:00","name":"tf-testaccteamlinkbasic-local-1758619178","summary":"123","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/4279832f-8d26-4c11-834a-6a37645023b9/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/4279832f-8d26-4c11-834a-6a37645023b9/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 272.436ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/4279832f-8d26-4c11-834a-6a37645023b9/links/6ecbea4c-985e-11f0-89b3-da7ad0900002
        method: GET
      response:
        body: '{"data":{"id":"6ecbea4c-985e-11f0-89b3-da7ad0900002","type":"team_links","attributes":{"label":"Link label","position":1,"team_id":"4279832f-8d26-4c11-834a-6a37645023b9","url":"https://example.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 137.528334ms
[...]
