---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"TeamMemberships description","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1758619383","name":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1758619383"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"fc96314c-d846-4cd0-b2ca-673a60a5f137","attributes":{"name":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1758619383","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1758619383","summary":"TeamMemberships description","description":"TeamMemberships description","avatar":null,"banner":2,"visible_modules":[],"hidden_modules":[],"created_at":"2025-09-23T09:23:07.102180+00:00","modified_at":"2025-09-23T09:23:07.102189+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/fc96314c-d846-4cd0-b2ca-673a60a5f137/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/fc96314c-d846-4cd0-b2ca-673a60a5f137/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 285.03175ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1758619383@example.com","name":"Foo BarBar"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"ea611425-985e-11f0-b3f1-166929e0c295","attributes":{"name":"Foo BarBar","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1758619383@example.com","created_at":"2025-09-23T09:23:07.506412+00:00","modified_at":"2025-09-23T09:23:07.506412+00:00","email":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1758619383@example.com","icon":"https://secure.gravatar.com/avatar/ac5fe8d1e570bc704ea96a066ffaf863?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 617.311041ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"ea611425-985e-11f0-b3f1-166929e0c295","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"eaab6b74-985e-11f0-863b-da7ad0900002","attributes":{"uuid":"eaab6b74-985e-11f0-863b-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:23:07.993208+00:00","expires_at":"2025-09-25T09:23:07.791767+00:00"},"relationships":{"user":{"data":{"type":"users","id":"ea611425-985e-11f0-b3f1-166929e0c295"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 490.407834ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"role":"admin"},"relationships":{"user":{"data":{"id":"ea611425-985e-11f0-b3f1-166929e0c295","type":"users"}}},"type":"team_memberships"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/fc96314c-d846-4cd0-b2ca-673a60a5f137/memberships
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team_memberships","id":"TeamMembership-fc96314c-d846-4cd0-b2ca-673a60a5f137-59671786","attributes":{"role":"admin","provisioned_by":null,"provisioned_by_id":"3ad549bf-eba0-11e9-a77a-0705486660d0"},"relationships":{"user":{"data":{"type":"users","id":"ea611425-985e-11f0-b3f1-166929e0c295"}}}},"included":[{"type":"users","id":"ea611425-985e-11f0-b3f1-166929e0c295","attributes":{"name":"Foo BarBar","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1758619383@example.com","email":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1758619383@example.com","icon":"https://secure.gravatar.com/avatar/ac5fe8d1e570bc704ea96a066ffaf863?s=48&d=retro","disabled":false,"service_account":false}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.663042ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/fc96314c-d846-4cd0-b2ca-673a60a5f137/memberships?filter%5Bkeyword%5D=Foo+Bar&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"TeamMembership-fc96314c-d846-4cd0-b2ca-673a60a5f137-59671788","type":"team_memberships","attributes":{"provisioned_by":null,"provisioned_by_id":"3ad549bf-eba0-11e9-a77a-0705486660d0","role":"admin"},"relationships":{"user":{"data":{"id":"ea6dbfed-985e-11f0-9671-cef28084537d","type":"users"}}}},{"id":"TeamMembership-fc96314c-d846-4cd0-b2ca-673a60a5f137-59671786","type":"team_memberships","attributes":{"provisioned_by":null,"provisioned_by_id":"3ad549bf-eba0-11e9-a77a-0705486660d0","role":"admin"},"relationships":{"user":{"data":{"id":"ea611425-985e-11f0-b3f1-166929e0c295","type":"users"}}}}],"meta":{"pagination":{"type":"number_size","number":0,"size":100,"total":2,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/team/fc96314c-d846-4cd0-b2ca-673a60a5f137/memberships?filter%5Bkeyword%5D=Foo+Bar\u0026page%5Bnumber%5D=0\u0026page%5Bsize%5D=100","first":"https://api.datadoghq.com/api/v2/team/fc96314c-d846-4cd0-b2ca-673a60a5f137/memberships?filter[keyword]=Foo Bar\u0026page[number]=0\u0026page[size]=100","last":"https://api.datadoghq.com/api/v2/team/fc96314c-d846-4cd0-b2ca-673a60a5f137/memberships?filter[keyword]=Foo Bar\u0026page[number]=0\u0026page[size]=100"},"included":[{"id":"ea6dbfed-985e-11f0-9671-cef28084537d","type":"users","attributes":{"disabled":false,"email":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-17586193831@example.com","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-17586193831@example.com","icon":"https://secure.gravatar.com/avatar/d65c0e7df24c79ff6e75137b511da337?d=retro\u0026s=48","name":"Foo Bar","service_account":false}},{"id":"ea611425-985e-11f0-b3f1-166929e0c295","type":"users","attributes":{"disabled":false,"email":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1758619383@example.com","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1758619383@example.com","icon":"https://secure.gravatar.com/avatar/ac5fe8d1e570bc704ea96a066ffaf863?d=retro\u0026s=48","name":"Foo BarBar","service_account":false}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 159.390834ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/fc96314c-d846-4cd0-b2ca-673a60a5f137
        method: GET
      response:
        body: '{"data":{"id":"fc96314c-d846-4cd0-b2ca-673a60a5f137","type":"team","attributes":{"created_at":"2025-09-23T09:23:07.102180+00:00","description":"TeamMemberships description","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1758619383","is_managed":false,"link_count":0,"modified_at":"2025-09-23T09:23:07.102189+00:00","name":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-1758619383","summary":"TeamMemberships description","user_count":2},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/fc96314c-d846-4cd0-b2ca-673a60a5f137/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/fc96314c-d846-4cd0-b2ca-673a60a5f137/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 145.025042ms
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/ea6dbfed-985e-11f0-9671-cef28084537d
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"ea6dbfed-985e-11f0-9671-cef28084537d","attributes":{"name":"Foo Bar","handle":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-17586193831@example.com","created_at":"2025-09-23T09:23:07.589452+00:00","modified_at":"2025-09-23T09:23:07.589452+00:00","email":"tf-testaccdatadogteammembershipsdatasourceexactmatch-local-17586193831@example.com","icon":"https://secure.gravatar.com/avatar/d65c0e7df24c79ff6e75137b511da337?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.23975ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/fc96314c-d846-4cd0-b2ca-673a60a5f137/memberships?page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"TeamMembership-fc96314c-d846-4cd0-b2ca-673a60a5f137-59671788","type":"team_memberships","attributes":{"provisioned_by":null,"provisioned_by_id":"3ad549bf-eba0-11e9-a77a-0705486660d0","[...]
[...]
    - id: 34
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/fc96314c-d846-4cd0-b2ca-673a60a5f137/memberships/ea6dbfed-985e-11f0-9671-cef28084537d
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 271.958458ms
[...]
