---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"some description about foo SLO","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396{type:good}.as_count()"},"tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396","foo:tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396"],"target_threshold":99.5,"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"},{"target":99,"timeframe":"90d"}],"timeframe":"7d","type":"metric","warning_threshold":99.8}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/slo
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"id":"a58556f063ff57589d7450b87b61f25d","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396","tags":["tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396","foo:tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396{type:good}.as_count()"},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1758619400,"modified_at":1758619400}],"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.376792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo?ids=a58556f063ff57589d7450b87b61f25d
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"id":"a58556f063ff57589d7450b87b61f25d","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396","tags":["foo:tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396","tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396{type:good}.as_count()"},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1758619400,"modified_at":1758619400}],"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.450834ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/a58556f063ff57589d7450b87b61f25d
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"a58556f063ff57589d7450b87b61f25d","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396","tags":["foo:tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396","tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396{type:good}.as_count()"},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1758619400,"modified_at":1758619400},"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.622ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo?query=tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"id":"a58556f063ff57589d7450b87b61f25d","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396","tags":["foo:tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396","tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396{type:good}.as_count()"},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1758619400,"modified_at":1758619400}],"error":null,"metadata":{"page":{"total_count":1,"total_filtered_count":1}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.19325ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo?tags_query=tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"id":"a58556f063ff57589d7450b87b61f25d","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396","tags":["tf_testaccdatadogservicelevelobjectivedata[...]
[...]
    - id: 22
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo?metrics_query=tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"id":"a58556f063ff57589d7450b87b61f25d","name":"tf_testaccdatadogservicelevelobjectivedatasource_local_1758619396","tags":["foo:tf_testaccdatadogservicelevelobject[...]
[...]
    - id: 29
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/a58556f063ff57589d7450b87b61f25d
        method: GET
      response:
            - chunked
        body: '{"errors":["SLO not found: a58556f063ff57589d7450b87b61f25d not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 208.222834ms
[...]
