---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"action"},"id":"\"tf_TestAccRumMetricImport_local_1731083681\"","type":"rum_metrics"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/rum/config/metrics
        method: POST
      response:
        body: '{"data":{"id":"tf_TestAccRumMetricImport_local_1731083681","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count","include_percentiles":null,"path":""},"event_type":"action","group_by":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 714.608459ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/rum/config/metrics/tf_TestAccRumMetricImport_local_1731083681
        method: GET
      response:
        body: '{"data":{"id":"tf_TestAccRumMetricImport_local_1731083681","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count","include_percentiles":null,"path":""},"event_type":"action","group_by":[]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 105.67175ms
[...]
