---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1740563692","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"hc4-sji-z9f","title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1740563692","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/hc4-sji-z9f/tf-testaccdatadogdashboardrbaccreateadmin-local-1740563692","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":1124699396934005}],"notify_list":[],"created_at":"2025-02-26T09:54:54.975769+00:00","modified_at":"2025-02-26T09:54:54.975769+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 682.707625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/hc4-sji-z9f
        method: GET
      response:
            - chunked
        body: |
            {"id":"hc4-sji-z9f","title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1740563692","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/hc4-sji-z9f/tf-testaccdatadogdashboardrbaccreateadmin-local-1740563692","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":1124699396934005}],"notify_list":[],"created_at":"2025-02-26T09:54:54.975769+00:00","modified_at":"2025-02-26T09:54:54.975769+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.982875ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/hc4-sji-z9f
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"hc4-sji-z9f"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.088125ms
