---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["ref-table-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"ref-table-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"ref-table-enrichment","include":"*","reference_table":{"key_field":"log.user.id","table_id":"550e8400-e29b-41d4-a716-446655440000"},"target":"log.enrichment","type":"enrichment_table"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"reference table enrichment pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"ec853956-26a8-11f1-93dc-da7ad0900002","type":"pipelines","attributes":{"name":"reference table enrichment pipeline","config":{"destinations":[{"id":"destination-1","inputs":["ref-table-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"ref-table-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"ref-table-enrichment","include":"*","reference_table":{"key_field":"log.user.id","table_id":"550e8400-e29b-41d4-a716-446655440000"},"target":"log.enrichment","type":"enrichment_table"}]}],"processors":[{"enabled":true,"id":"ref-table-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"ref-table-enrichment","include":"*","reference_table":{"key_field":"log.user.id","table_id":"550e8400-e29b-41d4-a716-446655440000"},"target":"log.enrichment","type":"enrichment_table"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 533.075542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/ec853956-26a8-11f1-93dc-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"ec853956-26a8-11f1-93dc-da7ad0900002","type":"pipelines","attributes":{"name":"reference table enrichment pipeline","config":{"destinations":[{"id":"destination-1","inputs":["ref-table-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"ref-table-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"ref-table-enrichment","include":"*","reference_table":{"key_field":"log.user.id","table_id":"550e8400-e29b-41d4-a716-446655440000"},"target":"log.enrichment","type":"enrichment_table"}]}],"processors":[{"enabled":true,"id":"ref-table-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"ref-table-enrichment","include":"*","reference_table":{"key_field":"log.user.id","table_id":"550e8400-e29b-41d4-a716-446655440000"},"target":"log.enrichment","type":"enrichment_table"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 308.003333ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["ref-table-group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"ref-table-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"ref-table-enrichment","include":"*","reference_table":{"columns":["region","country","city"],"key_field":"log.account.id","table_id":"550e8400-e29b-41d4-a716-446655440001"},"target":"log.enrichment.updated","type":"enrichment_table"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"reference table enrichment pipeline updated"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/ec853956-26a8-11f1-93dc-da[...]
[...]
