---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/permissions
    method: GET
  response:
    body: '{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","attributes":{"name":"admin","display_name":"Privileged Access","description":"Deprecated. Privileged Access (also known as Admin permission) has been replaced by more specific permissions: Access Management, Org Management, Billing Read/Write, Usage Read/Write.","created":"2018-10-19T15:35:23.734317+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard Access","description":"View and edit components in your Datadog organization that do not have explicitly defined permissions. This includes configuring integrations (from the UI), SLOs, events, most facets, and saved views.","created":"2018-10-19T15:35:23.756736+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"5e60[...]
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_importBasic-local-1651483999_role"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"ef380070-c9fa-11ec-ab63-da7ad0900002","attributes":{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_importBasic-local-1651483999_role","created_at":"2022-05-02T09:33:33.406651+00:00","modified_at":"2022-05-02T09:33:33.473760+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles/ef380070-c9fa-11ec-ab63-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"ef380070-c9fa-11ec-ab63-da7ad0900002","attributes":{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_importBasic-local-1651483999_role","created_at":"2022-05-02T09:33:33.406651+00:00","modified_at":"2022-05-02T09:33:33.473760+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"a private location","metadata":{"restricted_roles":["ef380070-c9fa-11ec-ab63-da7ad0900002"]},"name":"tf-TestAccDatadogSyntheticsPrivateLocation_importBasic-local-1651483999","tags":["foo:bar","baz"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/private-locations
    method: POST
  response:
    body: '{"private_location":{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_importBasic-local-1651483999","tags":["foo:bar","baz"],"secrets":{"authentication":{"id":"baa4e0b92d10fe0b68dbbedb5bb4d801","key":"99174644416b31788c927989653e58506448ba71f2358e0c6b2d4a48990724cc"},"config_decryption":{"id":"e61016070287a26a3f0bad5b5d865b20","key":"-----BEGIN RSA PRIVATE KEY-----\nMIIJKAIBAAKCAgEAuZaw+t8tLDQ3RU+sWgSjP9kK/yR44ts4V83dbgnG+zuXoSY8\nwxKQlhZ7zlsimWiTVMId+gpe65AuAj5wPRXALQIN+pRk42Q/nu/JTydlvI9rNTXK\ncRgjp9eZcWaCXtAgteataGG92sIL0On/g8qJCqwKYFCZ1BJO4dDuWDbIOHieY5tZ\nz1zCm8E5HUpD2qNh82qFZEIK/XpXlJVZXqNaEhyZ1EpcaiQmRcgpTiNGltnZc0cS\nBOBrBSMI+RagFTlGJPdx2iEJycTcXyL8JaT1u9g8N050LI+Jdz+SgD7v5ZIo/9c+\nltsOui/UHqlAk2yM/2vGuRULw5jS4JMvmYUwKV1muKMVhYEooKPohYrBUbsG4+nV\nfvpHH5lWk6p6KSReMKj4FhN[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:tf-testaccdatadogsyntheticsprivatelocation_importbasic-local-1651483999-80fd6a089f4515d9c518872a4decb070
    method: GET
  response:
    body: '{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_importBasic-local-1651483999","tags":["foo:bar","baz"],"description":"a private location","modifiedAt":"2022-05-02T09:33:34.836899+00:00","createdBy":"frog@datadoghq.com","id":"pl:tf-testaccdatadogsyntheticsprivatelocation_importbasic-local-1651483999-80fd6a089f4515d9c518872a4decb070","createdAt":"2022-05-02T09:33:34.836899+00:00","metadata":{"restricted_roles":["ef380070-c9fa-11ec-ab63-da7ad0900002"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:tf-testaccdatadogsyntheticsprivatelocation_importbasic-local-1651483999-80fd6a089f4515d9c518872a4decb070
    method: GET
  response:
    body: '{"errors": ["Synthetics Private Location: pl:tf-testaccdatadogsyntheticsprivatelocation_importbasic-local-1651483999-80fd6a089f4515d9c518872a4decb070 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
