---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"}],"configVariables":[],"request":{"method":"GET","timeout":30,"url":"https://www.datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1759849191","options":{"follow_redirects":true,"min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0},"tick_every":60},"status":"paused","subtype":"http","tags":[],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"7qt-hpb-5jk","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1759849191","status":"paused","type":"api","subtype":"http","tags":[],"created_at":"2025-10-07T14:59:52.991996+00:00","modified_at":"2025-10-07T14:59:52.991996+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"}],"configVariables":[],"request":{"method":"GET","timeout":30,"url":"https://www.datadoghq.com"}},"message":"","options":{"follow_redirects":true,"min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"tick_every":60},"locations":["aws:eu-central-1"],"created_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":223972614,"org_id":569509,"modified_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"creation_source":"terraform"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 606.626917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/7qt-hpb-5jk
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"7qt-hpb-5jk","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1759849191","status":"paused","type":"api","subtype":"http","tags":[],"created_at":"2025-10-07T14:59:52.991996+00:00","modified_at":"2025-10-07T14:59:52.991996+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"}],"configVariables":[],"request":{"method":"GET","timeout":30,"url":"https://www.datadoghq.com"}},"message":"","options":{"follow_redirects":true,"min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"tick_every":60},"locations":["aws:eu-central-1"],"monitor_id":223972614,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.555209ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a global variable with dynamic blocks","is_fido":false,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1759849191","parse_test_options":{"field":"content-type","parser":{"type":"regex","value":".*"},"type":"http_header"},"parse_test_public_id":"7qt-hpb-5jk","tags":["foo:bar","baz"],"value":{"secure":false,"value":""}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"45c7e708-79f6-4bed-abed-b5ca9bc0cd4a","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1759849191","description":"a global variable with dynamic blocks","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":false,"value":""},"parse_test_public_id":"7qt-hpb-5jk","parse_test_name":null,"parse_test_options":{"field":"content-type","parser":{"type":"regex","value":".*"},"type":"http_header"},"parse_test_extracted_at":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.35825ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/45c7e708-79f6-4bed-abed-b5ca9bc0cd4a
        method: GET
      response:
            - chunked
        body: |
            {"id":"45c7e708-79f6-4bed-abed-b5ca9bc0cd4a","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1759849191","description":"a global variable with dynamic blocks","type":"variable","tags":["foo:bar","baz"],"created_at":"2025-10-07T14:59:53.482749+00:00","modified_at":"2025-10-07T14:59:53.482749+00:00","last_error":null,"value":{"secure":false,"value":""},"parse_test_public_id":"7qt-hpb-5jk","parse_test_name":null,"parse_test_options":{"field":"content-type","parser":{"type":"regex","value":".*"},"type":"http_header"},"parse_test_extracted_at":null,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.866625ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/7qt-hpb-5jk
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"7qt-hpb-5jk","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DYNAMICBLOCKS_LOCAL_1759849191","status":"paused","type":"api","subtype":"http","tags":[],"created_at":"2025-10-07T14:59:52.991996+00:00","modified_at":"2025-10-07T14:59:52.991996+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"}],"configVariables":[],"request":{"method":"GET","timeout":30,"url":"https://www.datadoghq.com"}},"message":"","options":{"tick_every":60,"monitor_options":{"include_tags":true,"notify_audit":false,"new_host_delay":300,"on_missing_data":"show_no_data","renotify_interval":120,"escalation_message":"","renotify_occurrences":0},"follow_redirects":true,"min_location_failed":1},"locations":["aws:eu-central-1"],"monitor_id":223972614,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 271.804583ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["7qt-hpb-5jk"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"7qt-hpb-5jk","deleted_at":"2025-10-07T14:59:57.038469+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.435372583s
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/45c7e708-79f6-4bed-abed-b5ca9bc0cd4a
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 153.436875ms
