---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"blob_prefix":"logs/","container_name":"logs-container","id":"azure-storage-destination-1","inputs":["source-1"],"type":"azure_storage"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"azure-storage-dest-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"ecbb76a0-dcfd-11f0-951a-da7ad0900002","type":"pipelines","attributes":{"name":"azure-storage-dest-pipeline","config":{"destinations":[{"blob_prefix":"logs/","container_name":"logs-container","id":"azure-storage-destination-1","inputs":["source-1"],"type":"azure_storage"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 502.254791ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/ecbb76a0-dcfd-11f0-951a-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"ecbb76a0-dcfd-11f0-951a-da7ad0900002","type":"pipelines","attributes":{"name":"azure-storage-dest-pipeline","config":{"destinations":[{"blob_prefix":"logs/","container_name":"logs-container","id":"azure-storage-destination-1","inputs":["source-1"],"type":"azure_storage"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 330.323292ms
[...]
