---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicy_Role-local-1788454072"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"01a0682b-77c6-7515-95b5-8a4d628a2339","type":"org_groups","attributes":{"created_at":"2026-09-03T16:47:54.31Z","modified_at":"2026-09-03T16:47:54.312126Z","name":"tf-TestAccDatadogOrgGroupPolicy_Role-local-1788454072","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 183.859ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"permissions":["d99415a4-dc4d-11e8-b4b1-4f9e475593a0"]},"enforcement_tier":"GROUP_MANAGED","policy_name":"finance_read_only","policy_type":"role"},"relationships":{"org_group":{"data":{"id":"01a0682b-77c6-7515-95b5-8a4d628a2339","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"01a0682b-786c-70c0-84f9-fd1899c51900","type":"org_group_policies","attributes":{"content":{"permissions":["d99415a4-dc4d-11e8-b4b1-4f9e475593a0"]},"enforced_at":"2026-09-03T16:47:54.474552Z","enforcement_tier":"GROUP_MANAGED","modified_at":"2026-09-03T16:47:54.474552Z","policy_name":"finance_read_only","policy_type":"role"},"relationships":{"org_group":{"data":{"id":"01a0682b-77c6-7515-95b5-8a4d628a2339","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 175.240959ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/01a0682b-786c-70c0-84f9-fd1899c51900
        method: GET
      response:
        body: '{"data":{"id":"01a0682b-786c-70c0-84f9-fd1899c51900","type":"org_group_policies","attributes":{"content":{"permissions":["d99415a4-dc4d-11e8-b4b1-4f9e475593a0"]},"enforced_at":"2026-09-03T16:47:54.474552Z","enforcement_tier":"GROUP_MANAGED","modified_at":"2026-09-03T16:47:54.474552Z","policy_name":"finance_read_only","policy_type":"role"},"relationships":{"org_group":{"data":{"id":"01a0682b-77c6-7515-95b5-8a4d628a2339","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 156.516625ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/01a0682b-77c6-7515-95b5-8a4d628a2339
        method: GET
      response:
        body: '{"data":{"id":"01a0682b-77c6-7515-95b5-8a4d628a2339","type":"org_groups","attributes":{"created_at":"2026-09-03T16:47:54.31Z","modified_at":"2026-09-03T16:47:54.312126Z","name":"tf-TestAccDatadogOrgGroupPolicy_Role-local-1788454072","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 117.7145ms
[...]
    - id: 25
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"permissions":["d99415a4-dc4d-11e8-b4b1-4f9e475593a0","d99443a8-dc4d-11e8-b4b2-9f5f4b0b2f5a"]},"enforcement_tier":"GROUP_MANAGED"},"id":"01a0682b-786c-70c0-84f9-fd1899c51900","type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies/01a0682b-786c-70c0-84f9-fd1899c51900
        method: PATCH
      response:
        body: '{"errors":[{"status":"400","detail":"disabled role policies cannot be re-enabled"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 114.950458ms
[...]
