---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1724351330","tags":[],"value":{"secure":false,"value":"bar"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"5c4d6108-99d2-4a2b-9816-520c70040c4e","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1724351330","description":"","type":"variable","tags":[],"last_error":null,"value":{"secure":false,"value":"bar"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 414.840083ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/5c4d6108-99d2-4a2b-9816-520c70040c4e
        method: GET
      response:
            - chunked
        body: |
            {"id":"5c4d6108-99d2-4a2b-9816-520c70040c4e","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1724351330","description":"","type":"variable","tags":[],"created_at":"2024-08-22T18:28:52.935682+00:00","modified_at":"2024-08-22T18:28:52.935682+00:00","last_error":null,"value":{"secure":false,"value":"bar"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 158.613334ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: GET
      response:
            - chunked
        body: |
            {"variables":[{"id":"01abbdd9-70a4-4691-9d05-02fce9b8bfa4","name":"TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1718988241","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2024-06-21T16:44:03.050643+00:00","modified_at":"2024-06-21T16:44:03.050643+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":null},"editor":{"email":"frog@datadoghq.com","handle":"frog[...]
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/5c4d6108-99d2-4a2b-9816-520c70040c4e
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 150.170667ms
[...]
