---
version: 1
interactions:
- request:
    body: |
      {"description":"some description about foo SLO","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973{type:good}.as_count()"},"tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973"],"target_threshold":99.5,"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"},{"target":99,"timeframe":"90d"}],"timeframe":"7d","type":"metric","warning_threshold":99.8}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: |
      {"data":[{"id":"c52545e36f2d5b0fb56ab12f14091f1f","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1698437975,"modified_at":1698437975}],"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?ids=c52545e36f2d5b0fb56ab12f14091f1f
    method: GET
  response:
    body: |
      {"data":[{"id":"c52545e36f2d5b0fb56ab12f14091f1f","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1698437975,"modified_at":1698437975}],"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/c52545e36f2d5b0fb56ab12f14091f1f
    method: GET
  response:
    body: |
      {"data":{"id":"c52545e36f2d5b0fb56ab12f14091f1f","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1698437975,"modified_at":1698437975},"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973
    method: GET
  response:
    body: |
      {"data":[{"id":"c52545e36f2d5b0fb56ab12f14091f1f","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?tags_query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973
    method: GET
  response:
    body: |
      {"data":[{"id":"c52545e36f2d5b0fb56ab12f14091f1f","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_disp[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?metrics_query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973
    method: GET
  response:
    body: |
      {"data":[{"id":"c52545e36f2d5b0fb56ab12f14091f1f","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1698437973"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_d[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/8e42e15e928d5a88b393c3583f683e94
    method: GET
  response:
    body: '{"errors":["SLO not found: 8e42e15e928d5a88b393c3583f683e94 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
