---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"cloud_provider":{"invalid":{"323456789":["tag1:val1","tag3:val3"]}}},"id":"csm_resource_filter","type":"csm_resource_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cloud_security_management/resource_filters
        method: PUT
      response:
        body: '{"errors":[{"status":"400","title":"Bad Request","detail":"Invalid cloud provider invalid"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 121.793ms
