---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1712931849","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1712931849","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.865125ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1712931849","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1712931849","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":143075093,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1712931849","message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1712931849","tags":[],"query":"avg(last_1h):avg:system.load.5{*} > 4","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4.0},"notify_audit":false,"silenced":{}},"multi":false,"created_at":1712931850000,"created":"2024-04-12T14:24:10.972945+00:00","modified":"2024-04-12T14:24:10.972945+00:00","deleted":null,"restricted_roles":null,"priority":3,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.6815ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/143075093
        method: GET
      response:
            - chunked
        body: |
            {"id":143075093,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1712931849","message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1712931849","tags":[],"query":"avg(last_1h):avg:system.load.5{*} > 4","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4.0},"notify_audit":false,"silenced":{}},"multi":false,"created_at":1712931850000,"created":"2024-04-12T14:24:10.972945+00:00","modified":"2024-04-12T14:24:10.972945+00:00","deleted":null,"restricted_roles":null,"priority":3,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":null,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.319ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"message":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1712931849","name":"tf-TestAccDatadogMonitor_EmptySchedulingOptions-local-1712931849","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/143075093/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.088791ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/143075093
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":143075093}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.832667ms
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/143075093
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 93.263416ms
