---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"app_service_plan_filters":"","automute":false,"client_id":"testc7f6-1234-5678-9101-3fcbf464test","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","container_app_filters":"","cspm_enabled":false,"custom_metrics_enabled":false,"host_filters":"foo:bar,buzz:lightyear","tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1720634351ee"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.320583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: GET
      response:
            - chunked
        body: |
            [{"tenant_name":"17061199-0000-0000-0000-170611998800","client_id":"17061199-0000-0000-0000-170611998800","container_app_filters":"key:value,filter:example","host_filters":"key:value,filter:example","app_service_plan_filters":"key:value,filter:example","automute":true,"cspm_enabled":true,"custom_metrics_enabled":true,"resource_collection_enabled":true,"errors":["Invalid credentials. Datadog could not authenticate with Azure."],"warnings":[]},{"tenant_name":"17115529-0000-0000-0000-171155292400","client_id":"17115529-0000-0000-0000-171155292400","container_app_filters":"key:value,filter:example","host_filters":"key:value,filter:example","app_service_plan_filters":"key:value,filter:example","automute":true,"cspm_enabled":true,"custom_metrics_enabled":true,"resource_collection_enabled":true,"errors":["Invalid credentials. Datadog could not authenticate with Azure."],"warnings":[]},{"tenant_name":"201b4113-5e9e-42b1-bc9e-d551d5eecdc[...]
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"app_service_plan_filters":"bar:baz,stinky:pete","automute":true,"client_id":"testc7f6-1234-5678-9101-3fcbf464test","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","container_app_filters":"bazinga:bazingo,woody:pride","cspm_enabled":true,"custom_metrics_enabled":true,"host_filters":"","new_client_id":"testc7f6-1234-5678-9101-3fcbf464test","new_tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1720634351ee","tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1720634351ee"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: PUT
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.875042ms
[...]
