---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"max_tickets_per_day":100,"project_id":"11111111-1111-1111-1111-111111111111","target":"jira"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRulesOrder_OutOfBandRuleAdded-local-1782480545-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}},"type":"ticket_creation_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules
        method: POST
      response:
        body: '{"data":{"id":"332a06ae-2921-4ad2-a968-167c4154f3a3","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":100},"created_at":1782480545799,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782480545799,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRulesOrder_OutOfBandRuleAdded-local-1782480545-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 331.646459ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"ca6e3f1f-401d-4c25-9bcd-68d318e59da9","type":"ticket_creation_rules"},{"id":"332a06ae-2921-4ad2-a968-167c4154f3a3","type":"ticket_creation_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"ticket_creation_rules","id":"ca6e3f1f-401d-4c25-9bcd-68d318e59da9"},{"type":"ticket_creation_rules","id":"332a06ae-2921-4ad2-a968-167c4154f3a3"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 265.540083ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/332a06ae-2921-4ad2-a968-167c4154f3a3
        method: GET
      response:
        body: '{"data":{"id":"332a06ae-2921-4ad2-a968-167c4154f3a3","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":100},"created_at":1782480545799,"created_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782480545799,"modified_by":{"type":"user","id":"8c9166b9-a454-47dc-8089-5f614ca3d265","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRulesOrder_OutOfBandRuleAdded-local-1782480545-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 200.283125ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"ca6e3f1f-401d-4c25-9bcd-68d318e59da9","type":"ticket_creation_rules"},{"id":"332a06ae-2921-4ad2-a968-167c4154f3a3","type":"ticket_creation_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/ticket_creation_rules/reorder
        method: POST
      response:
        body: '{"errors":[{"status":"422","title":"Unprocessable Entity","detail":"reorder must include all 3 rules, got 2"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 422 Unprocessable Entity
        code: 422
        duration: 112.258125ms
[...]
