---
version: 1
interactions:
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_Basic_float_int-local-1612795341","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"critical_recovery":1,"warning":1,"warning_recovery":0},"timeout_h":60},"priority":0,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","tags":["baz","foo:bar"],"type":"query alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ValidateMonitor
    url: https://api.datadoghq.com/api/v1/monitor/validate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.3864097"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"message":"some message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_Basic_float_int-local-1612795341","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"critical_recovery":1,"warning":1,"warning_recovery":0},"timeout_h":60},"priority":0,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","tags":["baz","foo:bar"],"type":"query alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateMonitor
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":["baz","foo:bar"],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} > 2","message":"some message Notify: @hipchat-channel","id":30001125,"multi":true,"name":"tf-TestAccDatadogMonitor_Basic_float_int-local-1612795341","created":"2021-02-08T14:42:22.442590+00:00","created_at":1612795342000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2021-02-08T14:42:22.442590+00:00","priority":null,"overall_state_modified":null,"overall_state":"No
      Data","type":"query alert","options":{"notify_audit":false,"locked":false,"timeout_h":60,"silenced":{},"include_tags":true,"thresholds":{"critical":2.0,"warning":1.0,"warning_recovery":0.0,"critical_recovery":1.0},"require_full_window":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":60,"escalation_message":"the
      situation has escalated @pagerduty"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      X-Dd-Version:
      - "35.3864097"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetMonitor
    url: https://api.datadoghq.com/api/v1/monitor/30001125
    method: GET
  response:
    body: '{"restricted_roles":null,"tags":["baz","foo:bar"],"deleted":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo}
      by {host} > 2","message":"some message Notify: @hipchat-channel","id":30001125,"multi":true,"name":"tf-TestAccDatadogMonitor_Basic_float_int-local-1612795341","created":"2021-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteMonitor
    url: https://api.datadoghq.com/api/v1/monitor/30001125
    method: DELETE
  response:
    body: '{"deleted_monitor_id":30001125}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      X-Dd-Version:
      - "35.3864097"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/30001125
    method: GET
  response:
    body: '{"errors":["Monitor not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3864097"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2992"
      X-Ratelimit-Reset:
      - "5"
    status: 404 Not Found
    code: 404
    duration: ""
