---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardCheckStatus-local-1767988478","widgets":[{"definition":{"check":"aws.ec2.host_status","group_by":["app"],"grouping":"cluster","tags":["account:prod"],"title":"Agent Up","title_align":"center","title_size":"16","type":"check_status"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"xdk-6ui-gyd","title":"tf-TestAccDatadogDashboardCheckStatus-local-1767988478","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xdk-6ui-gyd/tf-testaccdatadogdashboardcheckstatus-local-1767988478","template_variables":[],"widgets":[{"definition":{"check":"aws.ec2.host_status","group_by":["app"],"grouping":"cluster","tags":["account:prod"],"title":"Agent Up","title_align":"center","title_size":"16","type":"check_status"},"id":1580314276225652}],"notify_list":[],"created_at":"2026-01-09T19:54:39.431446+00:00","modified_at":"2026-01-09T19:54:39.431446+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.504959ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xdk-6ui-gyd
        method: GET
      response:
            - chunked
        body: '{"id":"xdk-6ui-gyd","title":"tf-TestAccDatadogDashboardCheckStatus-local-1767988478","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xdk-6ui-gyd/tf-testaccdatadogdashboardcheckstatus-local-1767988478","template_variables":[],"widgets":[{"definition":{"check":"aws.ec2.host_status","group_by":["app"],"grouping":"cluster","tags":["account:prod"],"title":"Agent Up","title_align":"center","title_size":"16","type":"check_status"},"id":1580314276225652}],"notify_list":[],"created_at":"2026-01-09T19:54:39.431446+00:00","modified_at":"2026-01-09T19:54:39.431446+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.455292ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xdk-6ui-gyd
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"xdk-6ui-gyd"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 341.632667ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xdk-6ui-gyd
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID xdk-6ui-gyd not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 100.223ms
