---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogApiKey_WithEncryption-local-1767029170"},"type":"api_keys"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/api_keys
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"api_keys","attributes":{"created_at":"2025-12-29T17:26:12.965873+00:00","key":"00000000000000000000000000000000","last4":"69c7","modified_at":"2025-12-29T17:26:12.965873+00:00","remote_config_read_enabled":true,"category":"default","name":"tf-TestAccDatadogApiKey_WithEncryption-local-1767029170"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}},"id":"fb2e0728-2c6a-4a66-8feb-94ac39a8323d"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 313.086083ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/api_keys/fb2e0728-2c6a-4a66-8feb-94ac39a8323d
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"api_keys","attributes":{"created_at":"2025-12-29T17:26:12.965873+00:00","key":"00000000000000000000000000000000","last4":"69c7","modified_at":"2025-12-29T17:26:12.965873+00:00","remote_config_read_enabled":true,"category":"default","name":"tf-TestAccDatadogApiKey_WithEncryption-local-1767029170","date_last_used":null,"used_in_last_24_hours":false,"last_used_date":{"timestamp":null,"description":"Timestamp of when this key was last used in the past ninety (90) days, null if no recent usage"}},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}},"id":"fb2e0728-2c6a-4a66-8feb-94ac39a8323d"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.860375ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/api_keys/fb2e0728-2c6a-4a66-8feb-94ac39a8323d
        method: GET
      response:
            - chunked
        body: '{"errors":["API key not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 161.476834ms
