---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsInboxRule_OutOfBandDelete-local-1789744815","rule":{"finding_types":["misconfiguration"]}},"type":"inbox_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules
        method: POST
      response:
        body: '{"data":{"id":"3abafdbe-2c8d-4a26-9dd7-9aa7c8418145","type":"inbox_rules","attributes":{"action":{},"created_at":1789744816427,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744816427,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRule_OutOfBandDelete-local-1789744815","rule":{"finding_types":["misconfiguration"]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 770.045417ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/3abafdbe-2c8d-4a26-9dd7-9aa7c8418145
        method: GET
      response:
        body: '{"data":{"id":"3abafdbe-2c8d-4a26-9dd7-9aa7c8418145","type":"inbox_rules","attributes":{"action":{},"created_at":1789744816427,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744816427,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRule_OutOfBandDelete-local-1789744815","rule":{"finding_types":["misconfiguration"]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 155.448125ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/3abafdbe-2c8d-4a26-9dd7-9aa7c8418145
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 135.295292ms
[...]
