---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test rule description","enabled":true,"level":1,"name":"tf-TestAccDatadogScorecardRule_Basic-local-1773265782","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Basic-local-1773265782-scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scorecard/rules
        method: POST
      response:
        body: '{"data":{"id":"tuu63szhvqghw2xa","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Basic-local-1773265782-scorecard","created_at":"2026-03-11T21:49:44.259698608Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-03-11T21:49:44.259698608Z","name":"tf-TestAccDatadogScorecardRule_Basic-local-1773265782","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Basic-local-1773265782-scorecard"},"relationships":{"scorecard":{"data":{"id":"SkU9HCgdzVoT","type":"scorecard"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 143.451375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=tuu63szhvqghw2xa&page%5Bsize%5D=1
        method: GET
      response:
        body: '{"data":[{"id":"tuu63szhvqghw2xa","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Basic-local-1773265782-scorecard","created_at":"2026-03-11T21:49:44.259698Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-03-11T21:49:44.259698Z","name":"tf-TestAccDatadogScorecardRule_Basic-local-1773265782","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Basic-local-1773265782-scorecard"},"relationships":{"scorecard":{"data":{"id":"SkU9HCgdzVoT","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=tuu63szhvqghw2xa\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1\u0026page%5Bsize%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 38.935708ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Updated description","enabled":false,"level":2,"name":"tf-TestAccDatadogScorecardRule_Basic-local-1773265782","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Basic-local-1773265782-scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scorecard/rules/tuu63szhvqghw2xa
        method: PUT
      response:
        body: '{"data":{"id":"tuu63szhvqghw2xa","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Basic-local-1773265782-scorecard","created_at":"2026-03-11T21:49:44.259698Z","custom":true,"description":"Updated description","enabled":false,"level":2,"modified_at":"2026-03-11T21:49:45.621527Z","name":"tf-TestAccDatadogScorecardRule_Basic-local-1773265782","owner":"test-team","scorecard_name":"tf-TestAccDatadogScorecardRule_Basic-local-1773265782-scorecard"},"relationships":{"scorecard":{"data":{"id":"SkU9HCgdzVoT","type":"scorecard"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 102.483416ms
[...]
