version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"filter":{"query":"error_code:123 service:my-service"},"filter_type":"spans-sampling-processor","name":"tf-TestAccApmRetentionFilter-local-1699619274","rate":0.1},"type":"apm_retention_filter"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
    method: POST
    id: 0
  response:
    body: |
      {"data":{"id":"ZDCZV3KiSV6lRWIeR5fFrw","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1699619274","rate":0.1,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1699619276,"created_by":"frog@datadoghq.com","created_at":1699619276},"type":"apm_retention_filter"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/ZDCZV3KiSV6lRWIeR5fFrw
    method: GET
    id: 1
  response:
    body: |
      {"data":{"id":"ZDCZV3KiSV6lRWIeR5fFrw","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1699619274","rate":0.1,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1699619276,"created_by":"frog@datadoghq.com","created_at":1699619276},"type":"apm_retention_filter"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/ZDCZV3KiSV6lRWIeR5fFrw
    method: GET
    id: 8
  response:
    body: '{"errors":["retention filter with id: ''ZDCZV3KiSV6lRWIeR5fFrw'' not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
