---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleOptions-local-1765529968","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"37ccc823-09a7-4ce5-9724-4740b1365e91","type":"deployment_gate","attributes":{"created_at":"2025-12-12T08:59:29.941342Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleOptions-local-1765529968","service":"my-service","updated_at":"2025-12-12T08:59:29.941342Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 129.707667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"fdd_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/37ccc823-09a7-4ce5-9724-4740b1365e91/rules
        method: POST
      response:
        body: '{"data":{"id":"fb0de0f0-1a33-4bd6-82cf-2edf93530d34","type":"deployment_rule","attributes":{"created_at":"2025-12-12T08:59:30.091444Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"37ccc823-09a7-4ce5-9724-4740b1365e91","name":"fdd_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-12T08:59:30.091444Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 175.4425ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/37ccc823-09a7-4ce5-9724-4740b1365e91
        method: GET
      response:
        body: '{"data":{"id":"37ccc823-09a7-4ce5-9724-4740b1365e91","type":"deployment_gate","attributes":{"created_at":"2025-12-12T08:59:29.941342Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleOptions-local-1765529968","service":"my-service","updated_at":"2025-12-12T08:59:29.941342Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 147.870875ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/37ccc823-09a7-4ce5-9724-4740b1365e91/rules
        method: GET
      response:
        body: '{"data":{"id":"37ccc823-09a7-4ce5-9724-4740b1365e91","type":"list_deployment_rules","attributes":{"rules":[{"id":"fb0de0f0-1a33-4bd6-82cf-2edf93530d34","name":"fdd_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-12T08:59:30.091444Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-12T08:59:30.091444Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"37ccc823-09a7-4ce5-9724-4740b1365e91","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 142.413958ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"fdd_rule","options":{"duration":1800,"excluded_resources":["GET /health"]}},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/37ccc823-09a7-4ce5-9724-4740b1365e91/rules/fb0de0f0-1a33-4bd6-82cf-2edf93530d34
        method: PUT
      response:
        body: '{"data":{"id":"fb0de0f0-1a33-4bd6-82cf-2edf93530d34","type":"deployment_rule","attributes":{"created_at":"2025-12-12T08:59:30.091444Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"37ccc823-09a7-4ce5-9724-4740b1365e91","name":"fdd_rule","options":{"duration":1800,"excluded_resources":["GET /health"]},"type":"faulty_deployment_detection","updated_at":"2025-12-12T08:59:31.982106Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 391.365375ms
[...]
