---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"dest-1","inputs":["group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"add-hostname-proc","include":"service:test","type":"add_hostname"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"add_hostname pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"154c8b12-f20d-11f0-9e14-da7ad0900002","type":"pipelines","attributes":{"name":"add_hostname pipeline","config":{"destinations":[{"id":"dest-1","inputs":["group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"add-hostname-proc","include":"service:test","type":"add_hostname"}]}],"processors":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"add-hostname-proc","include":"service:test","type":"add_hostname"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 733.427375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/154c8b12-f20d-11f0-9e14-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"154c8b12-f20d-11f0-9e14-da7ad0900002","type":"pipelines","attributes":{"name":"add_hostname pipeline","config":{"destinations":[{"id":"dest-1","inputs":["group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"add-hostname-proc","include":"service:test","type":"add_hostname"}]}],"processors":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"add-hostname-proc","include":"service:test","type":"add_hostname"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 266.452208ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"dest-1","inputs":["group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"display_name":"Add Hostname Processor","enabled":true,"id":"add-hostname-proc","include":"service:updated","type":"add_hostname"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"add_hostname pipeline updated"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/154c8b12-f20d-11f0-9e14-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"154c8b12-f20d-11f0-9e14-da7ad0900002","type":"pipelines","attributes":{"name":"add_hostname pipeline updated","config":{"destinations":[{"id":"dest-1","inputs":["group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"display_name":"Add Hostname Processor","enabled":true,"id":"add-hostname-proc","include":"service:updated","type":"add_hostname"}]}],"processors":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"display_name":"Add Hostname Processor","enabled":true,"id":"add-hostname-proc","include":"service:updated","type":"add_hostname"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 476.903958ms
[...]
