---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardEventStream_import-local-1767988526","widgets":[{"definition":{"event_size":"l","query":"*","tags_execution":"and","time":{"live_span":"4h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"wzw-b83-ckq","title":"tf-TestAccDatadogDashboardEventStream_import-local-1767988526","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/wzw-b83-ckq/tf-testaccdatadogdashboardeventstreamimport-local-1767988526","template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","tags_execution":"and","time":{"live_span":"4h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":6211962878785401}],"notify_list":[],"created_at":"2026-01-09T19:55:27.194571+00:00","modified_at":"2026-01-09T19:55:27.194571+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.318916ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/wzw-b83-ckq
        method: GET
      response:
            - chunked
        body: '{"id":"wzw-b83-ckq","title":"tf-TestAccDatadogDashboardEventStream_import-local-1767988526","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/wzw-b83-ckq/tf-testaccdatadogdashboardeventstreamimport-local-1767988526","template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","tags_execution":"and","time":{"live_span":"4h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":6211962878785401}],"notify_list":[],"created_at":"2026-01-09T19:55:27.194571+00:00","modified_at":"2026-01-09T19:55:27.194571+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 115.356667ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/wzw-b83-ckq
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"wzw-b83-ckq"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 325.665542ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/wzw-b83-ckq
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID wzw-b83-ckq not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 84.892875ms
