---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Admin+Role
    method: GET
  response:
    body: |
      {"data":[{"type":"roles","id":"94172442-be03-11e9-a77a-3b7612558ac1","attributes":{"name":"Datadog Admin Role","created_at":"2019-08-13T19:50:19.022791+00:00","modified_at":"2019-08-13T19:50:19.022791+00:00","user_count":22},"relationships":{"permissions":{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029"},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987"},{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"62cc036c-dd12-11e8-9e54-db9995643092"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"7d7c98ac-dd12-11e8-9e56-93700598622d"},{"type":"permissions","id":"811ac4ca-dd12-11e8-9e57-676a7f0beef9"},{"type":"permissions",[...]
[...]
- request:
    body: |
      {"cases":[{"condition":"errors \u003e 3 \u0026\u0026 warnings \u003e 10","name":"","notifications":["@user"],"status":"high"}],"hasExtendedTitle":false,"isEnabled":true,"message":"The rule has triggered.","name":"tf-TestAccRestrictionPolicyInvalidInput-local-1695134126","options":{"decreaseCriticalityBasedOnEnv":false,"detectionMethod":"threshold","evaluationWindow":300,"keepAlive":600,"maxSignalDuration":900},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":["host"],"metric":"","name":"errors","query":"status:error"},{"aggregation":"count","distinctFields":[],"groupByFields":["host"],"metric":"","name":"warnings","query":"status:warning"}],"type":"log_detection"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: |
      {"id":"w4v-2or-nsf","version":1,"name":"tf-TestAccRestrictionPolicyInvalidInput-local-1695134126","createdAt":1695134128245,"creationAuthorId":1445416,"isDefault":false,"isEnabled":true,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"status:error","groupByFields":["host"],"distinctFields":[],"aggregation":"count","name":"errors"},{"query":"status:warning","groupByFields":["host"],"distinctFields":[],"aggregation":"count","name":"warnings"}],"options":{"keepAlive":600,"maxSignalDuration":900,"detectionMethod":"threshold","evaluationWindow":300,"decreaseCriticalityBasedOnEnv":false},"cases":[{"name":"","status":"high","notifications":["@user"],"condition":"errors > 3 && warnings > 10"}],"message":"The rule has triggered.","tags":[],"hasExtendedTitle":false,"type":"log_detection","filters":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"bindings":[{"principals":["org:4dee724d-00cc-11ea-a77b-570c9d03c6c5","role:94172442-be03-11e9-a77a-3b7612558ac1"],"relation":"editor"}]},"id":"security_rule:w4v-2or-nsf","type":"restriction_policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/restriction_policy/security_rule:w4v-2or-nsf
    method: POST
  response:
    body: '{"errors":["Invalid resource type: ''security_rule'' does not support restriction policies"]}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/w4v-2or-nsf
    method: GET
  response:
    body: |
      {"id":"w4v-2or-nsf","version":1,"name":"tf-TestAccRestrictionPolicyInvalidInput-local-1695134126","createdAt":1695134128245,"creationAuthorId":1445416,"isDefault":false,"isEnabled":true,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"status:error","groupByFields":["host"],"distinctFields":[],"aggregation":"count","name":"errors"},{"query":"status:warning","groupByFields":["host"],"distinctFields":[],"aggregation":"count","name":"warnings"}],"options":{"keepAlive":600,"maxSignalDuration":900,"detectionMethod":"threshold","evaluationWindow":300,"decreaseCriticalityBasedOnEnv":false},"cases":[{"name":"","status":"high","notifications":["@user"],"condition":"errors > 3 && warnings > 10"}],"message":"The rule has triggered.","tags":[],"hasExtendedTitle":false,"type":"log_detection","filters":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"bindings":[{"principals":["foo:4dee724d-00cc-11ea-a77b-570c9d03c6c5","org:4dee724d-00cc-11ea-a77b-570c9d03c6c5"],"relation":"editor"}]},"id":"security-rule:w4v-2or-nsf","type":"restriction_policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/restriction_policy/security-rule:w4v-2or-nsf
    method: POST
  response:
    body: |
      {"errors":["[PrincipalInvalid] \"foo:4dee724d-00cc-11ea-a77b-570c9d03c6c5\" is not a valid principal: [PrincipalTypeNotSupported] principal type \"foo\" is not supported"]}
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
