version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/services?filter%5Benv%5D=%2A
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"services_list","id":"apm-services-list","attributes":{"services":["checkout-service","payments-service","web-store"],"metadata":[{"isTraced":true,"isUsm":false},{"isTraced":true,"isUsm":true},{"isTraced":false,"isUsm":false}]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
[...]
