---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1758619429","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"n5c-un8-phh","title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1758619429","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/n5c-un8-phh/tf-testaccdatadogdashboardrbacupdatetoadmin-local-1758619429","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":5752877518865270}],"notify_list":[],"created_at":"2025-09-23T09:23:57.272117+00:00","modified_at":"2025-09-23T09:23:57.272117+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.460792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/n5c-un8-phh
        method: GET
      response:
        body: '{"id":"n5c-un8-phh","title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1758619429","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/n5c-un8-phh/tf-testaccdatadogdashboardrbacupdatetoadmin-local-1758619429","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":5752877518865270}],"notify_list":[],"created_at":"2025-09-23T09:23:57.272117+00:00","modified_at":"2025-09-23T09:23:57.272117+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.693167ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"n5c-un8-phh","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1758619429","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/n5c-un8-phh
        method: PUT
      response:
            - chunked
        body: '{"errors":["The is_read_only attribute is no longer supported.                     https://docs.datadoghq.com/dashboards/guide/is-read-only-deprecation/"]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 160.580667ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/n5c-un8-phh
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"n5c-un8-phh"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.9725ms
