---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"display_timezone":"America/New_York","message":"Message about the downtime","monitor_identifier":{"monitor_tags":["cat:hat"]},"mute_first_recovery_notification":true,"notify_end_states":["alert","warn"],"notify_end_types":["expired"],"schedule":{"recurrences":[{"duration":"1d","rrule":"FREQ=DAILY;INTERVAL=1","start":"2042-07-13T01:02:03"},{"duration":"1w","rrule":"FREQ=DAILY;INTERVAL=12","start":"2042-07-15T01:02:03"},{"duration":"1m","rrule":"FREQ=DAILY;INTERVAL=123","start":"2042-07-17T01:02:03"}],"timezone":"America/New_York"},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring_Import-local-1758619344)"},"type":"downtime"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/downtime
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"downtime","attributes":{"monitor_identifier":{"monitor_tags":["cat:hat"]},"notify_end_types":["expired"],"display_timezone":"America/New_York","schedule":{"current_downtime":{"end":"2042-07-14T06:02:03+00:00","start":"2042-07-13T06:02:03+00:00"},"timezone":"America/New_York","recurrences":[{"duration":"1d","start":"2042-07-13T01:02:03","rrule":"FREQ=DAILY;INTERVAL=1"},{"duration":"1w","start":"2042-07-15T01:02:03","rrule":"FREQ=DAILY;INTERVAL=12"},{"duration":"1m","start":"2042-07-17T01:02:03","rrule":"FREQ=DAILY;INTERVAL=123"}]},"canceled":null,"modified":"2025-09-23T09:22:30.443465+00:00","scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring_Import-local-1758619344)","mute_first_recovery_notification":true,"created":"2025-09-23T09:22:30.443465+00:00","message":"Message about the downtime","status":"scheduled","notify_end_states":["alert","warn"]},"relationships":{"monitor":{"data":null},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"0e1968d5-b986-4847-a3e9-46597b778977"},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2025-09-17T20:56:07.513404+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.822542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/downtime/0e1968d5-b986-4847-a3e9-46597b778977
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"downtime","attributes":{"status":"scheduled","notify_end_states":["alert","warn"],"message":"Message about the downtime","canceled":null,"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring_Import-local-1758619344)","monitor_identifier":{"monitor_tags":["cat:hat"]},"mute_first_recovery_notification":true,"schedule":{"recurrences":[{"duration":"1d","rrule":"FREQ=DAILY;INTERVAL=1","start":"2042-07-13T01:02:03"},{"duration":"1w","rrule":"FREQ=DAILY;INTERVAL=12","start":"2042-07-15T01:02:03"},{"duration":"1m","rrule":"FREQ=DAILY;INTERVAL=123","start":"2042-07-17T01:02:03"}],"timezone":"America/New_York","current_downtime":{"start":"2042-07-13T06:02:03+00:00","end":"2042-07-14T06:02:03+00:00"}},"created":"2025-09-23T09:22:30.443465+00:00","modified":"2025-09-23T09:22:30.443465+00:00","display_timezone":"America/New_York","notify_end_types":["expired"]},"id":"0e1968d5-b986-4847-a3e9-46597b778977"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.3065ms
[...]
