---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1682529591-screen","widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"rxf-5db-53y","title":"tf-TestDatadogDashListImport-local-1682529591-screen","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/rxf-5db-53y/tf-testdatadogdashlistimport-local-1682529591-screen","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":6324982369876596}],"notify_list":[],"created_at":"2023-04-26T17:19:53.363443+00:00","modified_at":"2023-04-26T17:19:53.363443+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/rxf-5db-53y
    method: GET
  response:
    body: |
      {"id":"rxf-5db-53y","title":"tf-TestDatadogDashListImport-local-1682529591-screen","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/rxf-5db-53y/tf-testdatadogdashlistimport-local-1682529591-screen","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":6324982369876596}],"notify_list":[],"created_at":"2023-04-26T17:19:53.363443+00:00","modified_at":"2023-04-26T17:19:53.363443+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1682529591-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"5uw-8vd-z53","title":"tf-TestDatadogDashListImport-local-1682529591-time","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/5uw-8vd-z53/tf-testdatadogdashlistimport-local-1682529591-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":3682516369002652}],"notify_list":[],"created_at":"2023-04-26T17:19:54.110283+00:00","modified_at":"2023-04-26T17:19:54.110283+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/5uw-8vd-z53
    method: GET
  response:
    body: |
      {"id":"5uw-8vd-z53","title":"tf-TestDatadogDashListImport-local-1682529591-time","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/5uw-8vd-z53/tf-testdatadogdashlistimport-local-1682529591-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":3682516369002652}],"notify_list":[],"created_at":"2023-04-26T17:19:54.110283+00:00","modified_at":"2023-04-26T17:19:54.110283+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-TestDatadogDashListImport-local-1682529591"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-04-26T17:19:54.538351+00:00","dashboards":null,"dashboard_count":0,"id":381158,"is_favorite":false,"modified":"2023-04-26T17:19:54.538357+00:00","name":"tf-TestDatadogDashListImport-local-1682529591","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"5uw-8vd-z53","type":"custom_timeboard"},{"id":"rxf-5db-53y","type":"custom_screenboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/381158/dashboards
    method: PUT
  response:
    body: |
      {"dashboards":[{"type":"custom_timeboard","id":"5uw-8vd-z53"},{"type":"custom_screenboard","id":"rxf-5db-53y"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/381158
    method: GET
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-04-26T17:19:54.538351+00:00","dashboards":null,"dashboard_count":2,"id":381158,"is_favorite":false,"modified":"2023-04-26T17:19:54.756161+00:00","name":"tf-TestDatadogDashListImport-local-1682529591","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/381158/dashboards
    method: GET
  response:
    body: |
      {"dashboards":[{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-04-26T17:19:54.110283+00:00","is_favorite":false,"is_shared":false,"modified":"2023-04-26T17:19:54.110283+00:00","title":"tf-TestDatadogDashListImport-local-1682529591-time","type":"custom_timeboard","id":"5uw-8vd-z53","url":"/dashboard/5uw-8vd-z53/tf-testdatadogdashlistimport-local-1682529591-time","is_read_only":true,"tags":[],"icon":null,"integration_id":null,"popularity":0},{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-04-26T17:19:53.363443+00:00","is_favorite":false,"is_shared":false,"modified":"2023-04-26T17:19:53.363443+00:00","title":"tf-TestDatadogDashListImport-local-1682529591-screen","type":"custom_screenboard","id":"rxf-5db-53y","url":"/dashboard/rxf-5db-53y/tf-testdatadogdashlistimport-local-1682529591-screen","is_read_only":false,"tags":[],"icon":null,"integration_id":null,"popularity":0}],"total":2}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/381158
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_list_id":381158}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/5uw-8vd-z53
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"5uw-8vd-z53"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/381158
    method: GET
  response:
    body: '{"errors":["Manual Dashboard List with id 381158 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
