interactions:
- id: 0
  request:
    body: ''
    form: {}
    headers:
    host: api.datadoghq.com
    method: GET
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/064-qyt-wod
  response:
    body: '{"name":"A user received an anomalous number of AccessDenied errors","createdAt":1688542798887,"isDefault":true,"isPartner":false,"isEnabled":true,"isBeta":false,"isDeleted":false,"isDeprecated":false,"defaultRuleId":"9el-i95-dnl","queries":[{"query":"source:cloudtrail @error.kind:AccessDenied -@userIdentity.arn:*DatadogIntegrationRole*","groupByFields":["@userIdentity.arn"],"hasOptionalGroupByFields":false,"distinctFields":["@evt.name"],"aggregation":"cardinality","name":"unique_events_denied","dataSource":"logs"}],"options":{"evaluationWindow":1800,"detectionMethod":"anomaly_detection","maxSignalDuration":1800,"keepAlive":1800,"anomalyDetectionOptions":{"bucketDuration":300,"learningDuration":24,"detectionTolerance":5,"instantaneousBaseline":false,"instantaneousBaselineTimeoutMinutes":30},"decreaseCriticalityBasedOnEnv":false},"cases":[{"name":"","status":"medium","customStatus":"high","notifications":[],"condition":"unique_events_denied \u003e 0.995"}],"message":"## Goal\n\nDetect when a user is assessing privileges in AWS through API bruteforcing technique.\n\n## Strategy\n\nThis rule lets you monitor CloudTrail to detect when the error message of `AccessDenied` is returned on an anomalous number of unique API calls.\n\n## Triage and response\n\n1. Determine if `{{@userIdentity.arn}}` should be attempting to use the identified API calls: `{{@evt.name}}`.\n   - Use the Cloud SIEM - User Investigation dashboard to assess user activity.\n2. Contact the user to see if they intended to make these API calls.\n3. If the user did not make the API calls:\n   - Rotate the credentials.\n   - Investigate to see what API calls might have been made that were successful throughout the rest of the environment.\n\n## Changelog\n\n- 17 March 2025 - Updated rule query to exclude `DatadogIntegrationRole`.\n","tags":["scope:amazon","iaas:aws","source:cloudtrail","technique:T1069-permission-groups-discovery","mitre_platform:iaas","tactic:TA0007-discovery","mitre_platform:cloud","security:attack"],"hasExtendedTitle":true,"type":"log_detection","filters":[],"defaultTags":["scope:amazon","iaas:aws","source:cloudtrail","technique:T1069-permission-groups-discovery","tactic:TA0007-discovery","mitre_platform:iaas","security:attack","mitre_platform:cloud"],"version":523,"id":"064-qyt-wod","updatedAt":1779110203298,"blocking":false,"metadata":{"entities":null,"sources":null},"updateAuthorId":1445416,"creator":{"handle":"","name":""},"updater":{"handle":"frog@datadoghq.com","name":"frog"}}'
    code: 200
    duration: 491.947542ms
    headers:
      Content-Type:
      - application/json
    status: 200 OK
[...]
- id: 3
  request:
    body: ''
    form: {}
    headers:
    host: api.datadoghq.com
    method: GET
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body: '{"data":[{"name":"''Allow storage account key access'' setting for Azure Storage Accounts should be disabled","createdAt":1754407839246,"isDefault":true,"isPartner":false,"isEnabled":true,"isBeta":false,"isDeleted":false,"isDeprecated":false,"defaultRuleId":"def-000-rq5","queries":[{"query":"resource_type:azure_storage_account","groupByFields":["resource_type","resource_id"],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a"}],"options":{"evaluationWindow":7200,"detectionMethod":"threshold","maxSignalDuration":86400,"keepAlive":21600,"complianceRuleOptions":{"resourceType":"azure_storage_account","complianceFrameworks":[{"control":"10.3.1.3","framework":"cis-azure","is_default":true,"message":"","requirement":"Storage-Services","version":"4.0.0"}],"regoRule":{"policy":"package datadog\n\nimport data.datadog.output as dd_output\n\nimport future.keywords.contains\nimport future.keywords.if\nimport future.keywords.in\n\neval(storage_account) = \"pass\" if {\n\tstorage_account.allow_shared_key_access == false\n} else = \"fail\"\n\n# Output results\nresults contains result if {\n\tsome resource in input.resources[input.main_resource_type]\n\tresult := dd_output.format(resource, eval(resource))\n}\n","resourceTypes":["azure_storage_account"]}}},"cases":[{"name":"","status":"medium","notifications":[],"condition":"a > 0"}],"message":"## Description\n\nDisable shared key access for Azure Storage Accounts.\n\n## Remediation\n\nDisable shared key access in the Storage Account Configuration settings. See [Azure shared key access](https://learn.microsoft.com/en-us/azure/storage/common/storage-account-keys-manage?tabs=azure-portal#disable-shared-key-access) for more information.\n","tags":["scored:true","security:compliance","source:azure.storage","requirement:Storage-Services","cloud_provider:azure","control:10.3.1.3","framework:cis-azure","scope:azure.storage"],"hasExtendedTitle":true,"type":"cloud_configuration","filters":[],"defaultTags":["scored:true","security:compliance","source:azure.storage","requirement:Storage-Services","cloud_provider:azure","control:10.3.1.3","framework:cis-azure","scope:azure.storage"],"version":4,"id":"def-000-rq5","updatedAt":1756326249729,"blocking":false,"complianceSignalOptions":{"defaultActivationStatus":false,"defaultGroupByFields":["@resource"],"userActivationStatus":null,"userGroupByFields":null},"metadata":{"entities":null,"sources":null},"creator":{"handle":"","name":""},"updater":{"handle":"","name":""},"findingType":"misconfiguration"},{"name":"''Blob public access'' should be disabled for storage accounts with blob containers","createdAt":1681395797603,"isDefault":true,"isPartner":false,"isEnabled":false,"isBeta":false,"isDeleted":false,"isDeprecated":false,"defaultRuleId":"def-000-vc2","queries":[{"query":"resource_type:azure_storage_account","groupByFields":["resource_type","resource_id"],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a"}],"options":{"evaluationWindow"[...]
[...]
- id: 6
  request:
    body: '{"cases":[{"condition":"unique_events_denied \u003e 0.995","name":"","notifications":[],"status":"medium"}],"isEnabled":true,"options":{"decreaseCriticalityBasedOnEnv":false},"queries":[{"aggregation":"cardinality","customQueryExtension":"","dataSource":"logs","distinctFields":["@evt.name"],"groupByFields":["@userIdentity.arn"],"hasOptionalGroupByFields":false,"name":"unique_events_denied","query":"source:cloudtrail @error.kind:AccessDenied -@userIdentity.arn:*DatadogIntegrationRole*"}],"tags":["iaas:aws","mitre_platform:cloud","mitre_platform:iaas","scope:amazon","security:attack","source:cloudtrail","tactic:TA0007-discovery","technique:T1069-permission-groups-discovery"]}

      '
    form: {}
    headers:
      Content-Type:
[...]
[...]
