---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Read+Only+Role
        method: GET
      response:
        body: '{"data":[{"id":"94172444-be03-11e9-a77a-db1879185210","type":"roles","attributes":{"created_at":"2019-08-13T19:50:19.111007Z","managed":true,"modified_at":"2019-08-13T19:50:19.111007Z","name":"Datadog Read Only Role","team_count":0,"user_count":4},"relationships":{"permissions":{"data":[{"id":"5e605652-dd12-11e8-9e53-375565b8970e","type":"permissions"},{"id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73","type":"permissions"},{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"1af86ce4-7823-11ea-93dc-d7cad1b1c6cb","type":"permissions"},{"id":"b382b982-8535-11ea-93de-2bf1bdf20798","type":"permissions"},{"id":"7314eb20-aa58-11ea-95e2-6fb6e4a451d5","type":"permissions"},{"id":"80de1ec0-aa58-1[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"attribute_key":"key_1","attribute_value":"value_1"},"relationships":{"role":{"data":{"id":"94172444-be03-11e9-a77a-db1879185210","type":"roles"}}},"type":"authn_mappings"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/authn_mappings
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"authn_mappings","id":"bb52a6b2-985e-11f0-a405-da7ad0900002","attributes":{"attribute_key":"key_1","attribute_value":"value_1","created_at":"2025-09-23T09:21:48.558110+00:00","modified_at":"2025-09-23T09:21:48.558110+00:00"},"relationships":{"role":{"data":{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210"}}}},"included":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","managed":true,"created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/authn_mappings/bb52a6b2-985e-11f0-a405-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"authn_mappings","id":"bb52a6b2-985e-11f0-a405-da7ad0900002","attributes":{"attribute_key":"key_1","attribute_value":"value_1","created_at":"2025-09-23T09:21:48.558110+00:00","modified_at":"[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Standard+Role
        method: GET
      response:
        body: '{"data":[{"id":"94172443-be03-11e9-a77a-373332f69711","type":"roles","attributes":{"created_at":"2019-08-13T19:50:19.075284Z","managed":true,"modified_at":"2019-08-13T19:50:19.075284Z","name":"Datadog Standard Role","team_count":0,"user_count":55},"relations[...]
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"attribute_key":"key_2","attribute_value":"value_2"},"id":"bb52a6b2-985e-11f0-a405-da7ad0900002","relationships":{"role":{"data":{"id":"94172443-be03-11e9-a77a-373332f69711","type":"roles"}}},"type":"authn_mappings"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/authn_mappings/bb52a6b2-985e-11f0-a405-da7ad0900002
        method: PATCH
      response:
            - chunked
        body: '{"errors":["Mapping with id bb52a6b2-985e-11f0-a405-da7ad0900002 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 477.676291ms
[...]
