---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/metrics/datadog.agent.running/all-tags
        method: GET
      response:
        body: '{"data":{"id":"datadog.agent.running","type":"metrics","attributes":{"tags":["host:i-090a3f76052bd8f1b","version:7.66.1"]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 148.970375ms
