---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"policy":{"tag_key":"tagKey1","tag_key_required":false,"valid_tag_values":["value"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/monitor/policy
    method: POST
  response:
    body: |
      {"data":{"type":"monitor-config-policy","attributes":{"policy_type":"tag","policy":{"tag_key_required":false,"valid_tag_values":["value"],"tag_key":"tagKey1"}},"id":"4180d2aa-a62b-11ed-88ee-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/monitor/policy/4180d2aa-a62b-11ed-88ee-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key_required":false,"tag_key":"tagKey1","valid_tag_values":["value"]},"policy_type":"tag"},"id":"4180d2aa-a62b-11ed-88ee-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
