---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"updated message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1761160591","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":["foo:bar"],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.548375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"policy":{"tag_key":"foo","tag_key_required":true,"valid_tag_values":["bar"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/monitor/policy
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-config-policy","id":"6d4ccf64-8d28-40f4-8a3b-7b9b7f2cbc5a","attributes":{"policy":{"tag_key_required":true,"valid_tag_values":["bar"],"tag_key":"foo"},"policy_type":"tag"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.749417ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"updated message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1761160591","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":["foo:bar"],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":229387457,"org_id":321813,"type":"query alert","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1761160591","message":"updated message Notify: @hipchat-channel","tags":["foo:bar"],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1761160593000,"created":"2025-10-22T19:16:33.840083+00:00","modified":"2025-10-22T19:16:33.840083+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.626365875s
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"updated message Notify: @hipchat-channel","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1761160591","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":["foo:bar"],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/229387457/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.938667ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/monitor/policy/6d4ccf64-8d28-40f4-8a3b-7b9b7f2cbc5a
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key_required":true,"valid_tag_values":["bar"],"tag_key":"foo"},"policy_type":"tag"},"id":"6d4ccf64-8d28-40f4-8a3b-7b9b7f2cbc5a"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.235583ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/229387457
        method: GET
      response:
            - chunked
        body: |
            {"id":229387457,"org_id":321813,"type":"query alert","name":"tf-TestAccDatadogMonitor_WithTagConfig-local-1761160591","message":"updated message Notify: @hipchat-channel","tags":["foo:bar"],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1761160593000,"created":"2025-10-22T19:16:33.840083+00:00","modified":"2025-10-22T19:16:33.840083+00:00","deleted":null,"priority":null,"restricted_roles":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.4685ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/229387457
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":229387457}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.889818375s
