---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"name":"tf-TestAccDatadogSecurityNotificationRuleSignalRuleSimple-local-1739201426","selectors":{"query":"simple:query","rule_types":["attack_path","misconfiguration"],"severities":["critical"],"trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0},"type":"notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules
        method: POST
      response:
        body: '{"data":{"id":"r3p-yul-vnd","type":"notification_rules","attributes":{"created_at":1739201428598,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":false,"modified_at":1739201428598,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"tf-TestAccDatadogSecurityNotificationRuleSignalRuleSimple-local-1739201426","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"simple:query","trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 213.2915ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/r3p-yul-vnd
        method: GET
      response:
        body: '{"data":{"id":"r3p-yul-vnd","type":"notification_rules","attributes":{"created_at":1739201428598,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":false,"modified_at":1739201428598,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"tf-TestAccDatadogSecurityNotificationRuleSignalRuleSimple-local-1739201426","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"simple:query","trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 283.743875ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/r3p-yul-vnd
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''r3p-yul-vnd'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 266.802875ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/r3p-yul-vnd
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''r3p-yul-vnd'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 249.080666ms
