---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"end_month":202412,"entries":[{"amount":1000,"month":202401,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202402,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202403,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202404,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202405,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202406,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202407,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202408,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202409,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202410,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202411,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202412,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]}],"metrics_query":"sum:aws.cost.amortized{*} by {account}","name":"tf-TestAccDatadogCostBudgetDataSource_Basic-local-1769431101","start_month":202401},"type":"budget"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/budget/validate
        method: POST
      response:
        body: '{"data":{"id":"budget_validation","type":"budget_validation","attributes":{"valid":true}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 195.889333ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"end_month":202412,"entries":[{"amount":1000,"month":202401,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202402,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202403,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202404,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":10[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/b4105577-7e95-4d37-99f0-2957d8f6a47c
        method: GET
      response:
        body: '{"data":{"id":"b4105577-7e95-4d37-99f0-2957d8f6a47c","type":"budget","attributes":{"created_at":1769431103083,"created_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba","end_month":202412,"entries":[{"month":202401,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202402,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202403,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202404,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202405,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202406,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202407,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202408,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202409,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202410,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202411,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202412,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]}],"metrics_query":"sum:aws.cost.amortized{*} by {account}","name":"tf-TestAccDatadogCostBudgetDataSource_Basic-local-1769431101","org_id":321813,"start_month":202401,"total_amount":12000,"updated_at":1769431103083,"updated_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 125.448958ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/b4105577-7e95-4d37-99f0-2957d8f6a47c
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"rpc error: code = NotFound desc = budget not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 114.5455ms
[...]
