---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"entries":[{"data":{"attributes":{"cidr_block":"1.2.3.4/32","note":"entry 2"},"type":"ip_allowlist_entry"}},{"data":{"attributes":{"cidr_block":"127.0.0.1/32","note":"entry 1"},"type":"ip_allowlist_entry"}},{"data":{"attributes":{"cidr_block":"::/0","note":"ipv6 entry"},"type":"ip_allowlist_entry"}}]},"type":"ip_allowlist"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/ip_allowlist
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"type":"ip_allowlist","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","attributes":{"enabled":false,"entries":[{"data":{"type":"ip_allowlist_entry","id":"65c5d736-46b5-42e5-bad0-2ac8eaca6de5","attributes":{"note":"entry 2","cidr_block":"1.2.3.4/32","created_at":"2024-01-12T16:06:46.671882+00:00","modified_at":"2024-01-12T16:06:46.671882+00:00"}}},{"data":{"type":"ip_allowlist_entry","id":"7a874ede-36e2-4742-95af-1f9f109b5b71","attributes":{"note":"entry 1","cidr_block":"127.0.0.1/32","created_at":"2024-01-12T16:06:46.671882+00:00","modified_at":"2024-01-12T16:06:46.671882+00:00"}}},{"data":{"type":"ip_allowlist_entry","id":"40c38a6f-e850-453f-a6e3-ebb9398a77c8","attributes":{"note":"ipv6 entry","cidr_block":"::/0","created_at":"2024-01-12T16:06:46.671882+00:00","modified_at":"2024-01-12T16:06:46.671882+00:00"}}}]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 512.341216ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"entries":[{"data":{"attributes":{"cidr_block":"1.2.3.4/32","note":"fake entry"},"type":"ip_allowlist_entry"}}]},"type":"ip_allowlist"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/ip_allowlist
        method: PATCH
      response:
            - chunked
        body: '{"errors":["Cannot enable or keep enabled an IP Allowlist without the current IP address in it"]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 337.30072ms
[...]
