---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a global variable","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DEFAULTTAGS_LOCAL_1721827728","tags":["foo:bar","baz","default_key:default_value"],"value":{"secure":false,"value":"variable-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"15822c17-9436-46c5-98a2-564f545d00ab","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DEFAULTTAGS_LOCAL_1721827728","description":"a global variable","type":"variable","tags":["foo:bar","baz","default_key:default_value"],"parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"last_error":null,"value":{"secure":false,"value":"variable-value"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.127916ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/15822c17-9436-46c5-98a2-564f545d00ab
        method: GET
      response:
            - chunked
        body: |
            {"id":"15822c17-9436-46c5-98a2-564f545d00ab","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_DEFAULTTAGS_LOCAL_1721827728","description":"a global variable","type":"variable","tags":["foo:bar","baz","default_key:default_value"],"created_at":"2024-07-24T13:28:50.518136+00:00","modified_at":"2024-07-24T13:28:50.518136+00:00","parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":"Amaury Behague","handle":"amaury.behague@datadoghq.com","email":"amaury.behague@datadoghq.com"},"editor":{"name":"Amaury Behague","handle":"amaury.behague@datadoghq.com","email":"amaury.behague@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.296583ms
[...]
