---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"second-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:second"},"reference_table":null}]},"id":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesetOrder_Import-local-1758897821","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"c8eec622-2d9d-435e-ae40-7f8e251ff79d","type":"ruleset","attributes":{"created":{"seconds":1758897821,"nanos":562667000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758897821,"nanos":562667000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesetOrder_Import-local-1758897821","position":2,"rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3606782}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 55.432583ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"ae8d4b62-2a1e-4aae-a956-5babe33f992d","type":"ruleset"},{"id":"c8eec622-2d9d-435e-ae40-7f8e251ff79d","type":"ruleset"},{"id":"da684913-f746-4aed-9515-b054fdc05149","type":"ruleset"},{"id":"1b680ec0-8e29-4b79-bb01-45f0c645a789","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 46.625625ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/ae8d4b62-2a1e-4aae-a956-5babe33f992d
        method: GET
      response:
        body: '{"data":{"id":"ae8d4b62-2a1e-4aae-a956-5babe33f992d","type":"ruleset","attributes":{"created":{"seconds":1758897821,"nanos":606351000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758897821,"nanos":606351000},"name":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesetOrder_Import-local-1758897821","position":1,"rules":[{"name":"first-rule","enabled":true,"query":{"query":"service:first","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3606784}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 44.847666ms
[...]
