---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a fido global variable","is_fido":true,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_BASIC_LOCAL_1739890458","tags":["fido:bar","fido"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"e7918804-bb38-4ec3-bf6a-dd4fd1e4285a","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_BASIC_LOCAL_1739890458","description":"a fido global variable","type":"variable","tags":["fido:bar","fido"],"last_error":null,"is_fido":true,"value":{"secure":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 481.572125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/e7918804-bb38-4ec3-bf6a-dd4fd1e4285a
        method: GET
      response:
            - chunked
        body: |
            {"id":"e7918804-bb38-4ec3-bf6a-dd4fd1e4285a","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_BASIC_LOCAL_1739890458","description":"a fido global variable","type":"variable","tags":["fido:bar","fido"],"created_at":"2025-02-18T14:54:20.964612+00:00","modified_at":"2025-02-18T14:54:20.964612+00:00","last_error":null,"is_fido":true,"value":{"secure":true},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.27275ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/e7918804-bb38-4ec3-bf6a-dd4fd1e4285a
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 168.745375ms
