---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"name":"tf-TestAccDatadogSecurityNotificationRuleVulnerabilityRuleSimple-local-1758619244","selectors":{"query":"simple:query","rule_types":["misconfiguration"],"severities":["critical"],"trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600},"type":"notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules
        method: POST
      response:
        body: '{"data":{"id":"kxp-nb4-ne7","type":"notification_rules","attributes":{"created_at":1758619245793,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":false,"modified_at":1758619245793,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"tf-TestAccDatadogSecurityNotificationRuleVulnerabilityRuleSimple-local-1758619244","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 173.946458ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/kxp-nb4-ne7
        method: GET
      response:
        body: '{"data":{"id":"kxp-nb4-ne7","type":"notification_rules","attributes":{"created_at":1758619245793,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":false,"modified_at":1758619245793,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"tf-TestAccDatadogSecurityNotificationRuleVulnerabilityRuleSimple-local-1758619244","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 168.322417ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/kxp-nb4-ne7
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''kxp-nb4-ne7'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 347.899334ms
[...]
