---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415"},"relationships":{},"type":"roles"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles
        method: POST
      response:
        body: '{"data":{"id":"fc886ff4-985e-11f0-8544-da7ad0900002","type":"roles","attributes":{"created_at":"2025-09-23T09:23:37.961792Z","modified_at":"2025-09-23T09:23:37.963104Z","name":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 233.765417ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles/fc886ff4-985e-11f0-8544-da7ad0900002
        method: GET
      response:
        body: '{"data":{"id":"fc886ff4-985e-11f0-8544-da7ad0900002","type":"roles","attributes":{"created_at":"2025-09-23T09:23:37.961792Z","created_by_handle":"frog@datadoghq.com","modified_at":"2025-09-23T09:23:37.963104Z","modified_by_handle":"frog@datadoghq.com","name":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 160.864167ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"fcc95450-985e-11f0-9236-3a9645c0fdcf","attributes":{"name":null,"handle":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415@example.com","created_at":"2025-09-23T09:23:38.388618+00:00","modified_at":"2025-09-23T09:23:38.388618+00:00","email":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415@example.com","icon":"https://secure.gravatar.com/avatar/8a4b54038ccf57b943a2aeeebe8d67a1?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 607.76675ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"fcc95450-985e-11f0-9236-3a9645c0fdcf","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"fd45ce46-985e-11f0-9c11-da7ad0900002","attributes":{"uuid":"fd45ce46-985e-11f0-9c11-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:23:39.203991+00:00","expires_at":"2025-09-25T09:23:38.648560+00:00"},"relationships":{"user":{"data":{"type":"users","id":"fcc95450-985e-11f0-9236-3a9645c0fdcf"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 878.095375ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"fcc95450-985e-11f0-9236-3a9645c0fdcf","type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles/fc886ff4-985e-11f0-8544-da7ad0900002/users
        method: POST
      response:
        body: '{"data":[{"id":"fcc95450-985e-11f0-9236-3a9645c0fdcf","type":"users","attributes":{"allowed_login_methods":[],"created_at":"2025-09-23T09:23:38.388618Z","disabled":false,"email":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415@example.com","handle":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415@example.com","icon":"https://secure.gravatar.com/avatar/8a4b54038ccf57b943a2aeeebe8d67a1?d=retro\u0026s=48","modified_at":"2025-09-23T09:23:38.388618Z","name":"","service_account":false,"status":"Pending","title":null,"verified":false},"relationships":{"org":{"data":{"id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","type":"orgs"}},"roles":{"data":[{"id":"fc886ff4-985e-11f0-8544-da7ad0900002","type":"roles"}]}}}],"meta":{"page":{"total_count":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 161.189792ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles/fc886ff4-985e-11f0-8544-da7ad0900002/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"fcc95450-985e-11f0-9236-3a9645c0fdcf","type":"users","attributes":{"allowed_login_methods":[],"created_at":"2025-09-23T09:23:38.388618Z","disabled":false,"email":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415@example.com","handle":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415@example.com","icon":"https://secure.gravatar.com/avatar/8a4b54038ccf57b943a2aeeebe8d67a1?d=retro\u0026s=48","modified_at":"2025-09-23T09:23:38.388618Z","name":"","service_account":false,"status":"Pending","title":null,"verified":false},"relationships":{"org":{"data":{"id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","type":"orgs"}},"roles":{"data":[{"id":"fc886ff4-985e-11f0-8544-da7ad0900002","type":"roles"}]}}}],"meta":{"page":{"total_count":1,"total_filtered_count":1}},"included":[{"id":"fc886ff4-985e-11f0-8544-da7ad0900002","type":"roles","attributes":{"created_at":"2025-09-23T09:23:37.961792Z","modified_at":"2025-09-23T09:23:37.963104Z","name":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}},{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions","attributes":{"created":"2019-09-10T14:39:51.955175Z","description":"View dashboards.","display_name":"Dashboards Read","display_type":"read","group_name":"Dashboards","name":"dashboards_read","restricted":true}},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions","attributes":{"created":"2019-09-16T18:39:07.744297Z","description":"View monitors.","display_name":"Monitors Read","display_type":"read","group_name":"Monitors","name":"monitors_read","restricted":true}},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions","attributes":{"created":"2020-11-23T20:55:45.00611Z","description":"Read and query APM and Trace Analytics.","display_name":"APM Read","display_type":"read"[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/fcc95450-985e-11f0-9236-3a9645c0fdcf
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"fcc95450-985e-11f0-9236-3a9645c0fdcf","attributes":{"name":null,"handle":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415@example.com","created_at":"2025-09-23T09:23:38.388618+00:00","modified_at":"2025-09-23T09:23:38.388618+00:00","email":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415@example.com","icon":"https://secure.gravatar.com/avatar/8a4b54038ccf57b943a2aeeebe8d67a1?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[{"type":"roles","id":"fc886ff4-985e-11f0-8544-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},"included":[{"type":"roles","id":"fc886ff4-985e-11f0-8544-da7ad0900002","attributes":{"name":"tf-testaccdatadogroleusersdatasourcebasic-local-1758619415","managed":false,"created_at":"2025-09-23T09:23:37.961792+00:00","modified_at":"2025-09-23T09:23:37.963104+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions"[...]
[...]
