---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"tf-testaccdatadogsensitivedatascannergroup-implicitsampling-local-1783092418","product_list":["logs","apm"],"samplings":[{"product":"logs","rate":50}]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
        body: '{"data":{"id":"16a0f970-8d01-413a-8853-5bf3d7e76c8f","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"tf-testaccdatadogsensitivedatascannergroup-implicitsampling-local-1783092418","product_list":["logs","apm"],"samplings":[{"product":"logs","rate":50}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]},"targeted_obfuscations":{"data":[]}}},"meta":{"group_count_limit":20,"rule_count_limit":750,"custom_rule_count_limit":100,"has_cascading_enabled":false,"is_configuration_superseded":false,"min_sampling_rate":10,"is_onboarded_to_telemetry":true}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 263.473542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
        body: '{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"16a0f970-8d01-413a-8853-5bf3d7e76c8f","type":"sensitive_data_scanner_group"}]}}},"meta":{"group_count_limit":20,"rule_count_limit":750,"custom_rule_count_limit":100,"group_targeted_obfuscation_limit":50,"org_targeted_obfuscation_limit":1000,"has_cascading_enabled":false,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"min_sampling_rate":10,"is_onboarded_to_telemetry":true},"included":[{"id":"16a0f970-8d01-413a-8853-5bf3d7e76c8f","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"tf-testaccdatadogsensitivedatascannergroup-implicitsampling-local-1783092418","product_list":["logs","apm"],"samplings":[{"product":"logs","rate":50}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 182.759666ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/16a0f970-8d01-413a-8853-5bf3d7e76c8f
        method: DELETE
      response:
        body: '{"data":null,"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 273.343625ms
[...]
