version: 2
interactions:
- request:
    body: |
      {"app_service_plan_filters":"","automute":false,"client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","container_app_filters":"","cspm_enabled":false,"custom_metrics_enabled":false,"host_filters":"","tenant_name":"fc657aee-46a0-6b5e-b69f-0bcb0b27468c"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: POST
    id: 0
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: GET
    id: 1
  response:
    body: |
      [{"tenant_name":"17020631-0000-0000-0000-170206317900","client_id":"17020631-0000-0000-0000-170206317900","app_service_plan_filters":"key:value,filter:example","host_filters":"key:value,filter:example","container_app_filters":"key:value,filter:example","automute":true,"cspm_enabled":true,"custom_metrics_enabled":true,"resource_collection_enabled":true,"errors":["Invalid credentials. Datadog could not authenticate with Azure."],"warnings":[]},{"tenant_name":"5c18e51c-fa6f-4c6a-a092-ec44e749e327","client_id":"5c18e51c-fa6f-4c6a-a092-ec44e749e327","app_service_plan_filters":"key:value,filter:example","host_filters":"key:value,filter:example","container_app_filters":"key:value,filter:example","automute":true,"cspm_enabled":true,"custom_metrics_enabled":true,"resource_collection_enabled":true,"metrics_config":{"excluded_resource_providers":[]},"errors":["Invalid credentials. Datadog could not authenticate with Azure."],"warnings":[]},{"tenant_name":"fc657aee-46a0-6b5e-b69f-0bcb0b27468c","client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e","app_service_plan_filters":"","host_filters":"","container_app_filters":"","automute":false,"cspm_enabled":false,"custom_metrics_enabled":false,"resource_collection_enabled":false,"errors":[],"warnings":[]},{"tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1699351983ff","client_id":"testc7f6-1234-5678-9101-uu1699351983","app_service_plan_filters":"","host_filters":"filter:foo,test:bar","container_app_filters":"","automute":true,"cspm_enabled":false,"custom_metrics_enabled":false,"resource_collection_enabled":false,"metrics_config":{"excluded_resource_providers":[]}"errors":["Invalid credentials. Datadog could not authenticate with Azure."],"warnings":[]}]
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: |
      {"data":{"attributes":{"destination":{"container":"my-container","integration":{"client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e","tenant_id":"fc657aee-46a0-6b5e-b69f-0bcb0b27468c"},"path":"/path/blou","storage_account":"storageaccount","type":"azure"},"include_tags":false,"name":"my first azure archive","query":"service:toto","rehydration_max_scan_size_in_gb":null,"rehydration_tags":[]},"type":"archives"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/logs/config/archives
    method: POST
    id: 2
  response:
    body: |
      {"data":{"type":"archives","id":"TemS66yFTX2jvUedlwglhQ","attributes":{"name":"my first azure archive","query":"service:toto","state":"UNKNOWN","destination":{"container":"my-container","storage_account":"storageaccount","path":"/path/blou","type":"azure","integration":{"tenant_id":"fc657aee-46a0-6b5e-b69f-0bcb0b27468c","client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e"}},"rehydration_tags":[],"include_tags":false,"rehydration_max_scan_size_in_gb":null}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/logs/config/archives/TemS66yFTX2jvUedlwglhQ
    method: GET
    id: 3
  response:
    body: |
      {"data":{"type":"archives","id":"TemS66yFTX2jvUedlwglhQ","attributes":{"name":"my first azure archive","query":"service:toto","state":"UNKNOWN","destination":{"container":"my-container","storage_account":"storageaccount","path":"/path/blou","type":"azure","integration":{"tenant_id":"fc657aee-46a0-6b5e-b69f-0bcb0b27468c","client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e"}},"rehydration_tags":[],"include_tags":false,"rehydration_max_scan_size_in_gb":null}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
