---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguser_noinvitation-local-1758619273@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"a71e0463-985e-11f0-9236-3a9645c0fdcf","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_noinvitation-local-1758619273@example.com","created_at":"2025-09-23T09:21:14.659568+00:00","modified_at":"2025-09-23T09:21:14.659568+00:00","email":"tf-testaccdatadoguser_noinvitation-local-1758619273@example.com","icon":"https://secure.gravatar.com/avatar/0886ca8d40fdc8fc7a549940921704aa?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 580.899709ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/a71e0463-985e-11f0-9236-3a9645c0fdcf
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"a71e0463-985e-11f0-9236-3a9645c0fdcf","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_noinvitation-local-1758619273@example.com","created_at":"2025-09-23T09:21:14.659568+00:00","modified_at":"2025-09-23T09:21:14.659568+00:00","email":"tf-testaccdatadoguser_noinvitation-local-1758619273@example.com","icon":"https://secure.gravatar.com/avatar/0886ca8d40fdc8fc7a549940921704aa?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 333.514583ms
[...]
