version: 2
interactions:
- request:
    body: |
      {"exclusion_filters":[],"filter":{"query":"project:sample"},"name":"tf-testaccdatadoglogsindexesorderdatasource-local-1635446801-sample"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/logs/config/indexes
    method: POST
    id: 0
  response:
    body: '{"num_retention_days":15,"name":"tf-testaccdatadoglogsindexesorderdatasource-local-1635446801-sample","is_rate_limited":false,"filter":{"query":"project:sample"},"exclusion_filters":[],"daily_limit":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/logs/config/index-order
    method: GET
    id: 1
  response:
    body: '{"index_names":["main","asd"]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindexesorderdatasource-local-1635446801-sample
    method: GET
    id: 3
  response:
    body: '{"num_retention_days":15,"name":"tf-testaccdatadoglogsindexesorderdatasource-local-1635446801-sample","is_rate_limited":false,"filter":{"query":"project:sample"},"exclusion_filters":[],"daily_limit":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
