---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Team description","handle":"tf-testaccdatadogteamdatasourcebasic-local-1758619382","name":"tf-testaccdatadogteamdatasourcebasic-local-1758619382"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"f8e97522-b380-4d7e-ae96-7c47dc430677","attributes":{"name":"tf-testaccdatadogteamdatasourcebasic-local-1758619382","handle":"tf-testaccdatadogteamdatasourcebasic-local-1758619382","summary":"Team description","description":"Team description","avatar":null,"banner":5,"visible_modules":[],"hidden_modules":[],"created_at":"2025-09-23T09:23:06.445739+00:00","modified_at":"2025-09-23T09:23:06.445749+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/f8e97522-b380-4d7e-ae96-7c47dc430677/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/f8e97522-b380-4d7e-ae96-7c47dc430677/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 310.689375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/f8e97522-b380-4d7e-ae96-7c47dc430677
        method: GET
      response:
        body: '{"data":{"id":"f8e97522-b380-4d7e-ae96-7c47dc430677","type":"team","attributes":{"created_at":"2025-09-23T09:23:06.445739+00:00","description":"Team description","handle":"tf-testaccdatadogteamdatasourcebasic-local-1758619382","is_managed":false,"link_count":0,"modified_at":"2025-09-23T09:23:06.445749+00:00","name":"tf-testaccdatadogteamdatasourcebasic-local-1758619382","summary":"Team description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/f8e97522-b380-4d7e-ae96-7c47dc430677/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/f8e97522-b380-4d7e-ae96-7c47dc430677/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 169.673125ms
[...]
