---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
        body: '{"data":{"id":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com","type":"gcp_sts_delegate","attributes":{"delegate_account_email":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 95.22625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1757605251@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[],"monitored_resource_configs":[]},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: POST
      response:
        body: '{"data":{"id":"389b3ba0-0e23-44fb-acde-12a2be8e557e","type":"gcp_service_account","attributes":{"account_tags":[],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1757605251@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_bq_datasets_monitoring_enabled":false,"is_bq_jobs_monitoring_enabled":false,"is_cspm_enabled":false,"is_per_project_quota_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[],"monitored_resource_configs":[],"resource_collection_enabled":true}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 54.902375ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: GET
      response:
        body: '{"data":[{"id":"809e15d2-c570-4d74-a4cb-4bd066022ccc","type":"gcp_service_account","attributes":{"account_tags":["acct:one","acct:three","acct:two"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1757456063@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":["rev:one","rev:two"],"host_filters":["host:one","host:two"],"is_bq_datasets_monitoring_enabled":false,"is_bq_jobs_monitoring_enabled":false,"is_cspm_enabled":false,"is_per_project_quota_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[{"id":"aiplatform","disabled":true}],"monitored_resource_configs":[{"type":"cloud_run_revision","filters":["rev:one","rev:two"]},{"type":"gce_instance","filters":["host:one","host:two"]}],"resource_collection_enabled":false},"meta":{"accessible_projects":[]}},{"id":"9ec12352-6d86-4d63-b628-5bbfa640f409","type":"gcp_service_account","attributes":{"account_tags":["acct:one","acct:three","acct:two"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1757456697@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":["rev:one","rev:two"],"host_filters":["host:one","host:two"],"is_bq_datasets_monitoring_enabled":false,"is_bq_jobs_monitoring_enabled":false,"is_cspm_enabled":false,"is_per_project_quota_enabled":false,"is[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/389b3ba0-0e23-44fb-acde-12a2be8e557e
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 120.354542ms
