---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccIntegrationDatabricksAccountOAuth-local-1779437582","secrets":{"client_secret":"oauth-test-client-secret"},"settings":{"ccm_enabled":false,"client_id":"f635a6e0-60f8-448d-9087-b9359eafa329","databricks_account_id":"f482fe01-7704-4760-af92-72ed263ac8f3","djm_cluster_policy_enabled":false,"djm_enabled":true,"djm_global_init_script_enabled":false,"do_crawlers_cron":"0 * * * *","do_enabled":false,"model_serving_metrics_enabled":false,"script_gpum_enabled":false,"script_logs_enabled":false,"serverless_jobs_enabled":false,"table_lineage_enabled":false,"workspace_url":"https://dbc-097db9cd-e3d9.cloud.databricks.com/"}},"type":"Account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/web-integrations/databricks/accounts
        method: POST
      response:
        body: '{"data":{"id":"6f5484a4-b754-47c2-91b5-332bf553d22e","type":"Account","attributes":{"name":"tf-TestAccIntegrationDatabricksAccountOAuth-local-1779437582","settings":{"ccm_enabled":false,"client_id":"f635a6e0-60f8-448d-9087-b9359eafa329","databricks_account_id":"f482fe01-7704-4760-af92-72ed263ac8f3","djm_cluster_policy_enabled":false,"djm_enabled":true,"djm_global_init_script_enabled":false,"do_crawlers_cron":"0 * * * *","do_enabled":false,"model_serving_metrics_enabled":false,"script_gpum_enabled":false,"script_logs_enabled":false,"serverless_jobs_enabled":false,"table_lineage_enabled":false,"workspace_url":"https://dbc-097db9cd-e3d9.cloud.databricks.com/"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.091685083s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/web-integrations/databricks/accounts/6f5484a4-b754-47c2-91b5-332bf553d22e
        method: GET
      response:
        body: '{"data":{"id":"6f5484a4-b754-47c2-91b5-332bf553d22e","type":"Account","attributes":{"name":"tf-TestAccIntegrationDatabricksAccountOAuth-local-1779437582","settings":{"ccm_enabled":false,"client_id":"f635a6e0-60f8-448d-9087-b9359eafa329","databricks_account_id":"f482fe01-7704-4760-af92-72ed263ac8f3","djm_cluster_policy_enabled":false,"djm_enabled":true,"djm_global_init_script_enabled":false,"do_crawlers_cron":"0 * * * *","do_enabled":false,"model_serving_metrics_enabled":false,"script_gpum_enabled":false,"script_logs_enabled":false,"serverless_jobs_enabled":false,"table_lineage_enabled":false,"workspace_url":"https://dbc-097db9cd-e3d9.cloud.databricks.com/"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 135.887958ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/web-integrations/databricks/accounts/6f5484a4-b754-47c2-91b5-332bf553d22e
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"account not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 126.817667ms
