---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplicationDatasourceErrorMultiple-local-1670615943","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/rum/applications
    method: POST
  response:
    body: |
      {"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"45a837d6-e87b-43ac-8be6-ea751350b94d","name":"tf-TestAccDatadogRUMApplicationDatasourceErrorMultiple-local-1670615943","created_by_handle":"frog@datadoghq.com","created_at":1670615943889,"org_id":321813,"updated_at":1670615943889,"is_active":false,"hash":"pub867b8bef085deb3943502951349887a9","client_token":"pub867b8bef085deb3943502951349887a9","type":"browser"},"type":"rum_application","id":"45a837d6-e87b-43ac-8be6-ea751350b94d"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/rum/applications/1938eb0f-abb8-41d0-9afb-b2e545780a23
    method: DELETE
  response:
    body: ""
    headers: {}
    status: 204 No Content
    code: 204
    duration: ""
[...]
