---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"America/New_York","message":"Message about the downtime","monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"mute_first_recovery_notification":true,"notify_end_states":["alert","warn"],"notify_end_types":["expired"],"schedule":{"recurrences":[{"duration":"1d","rrule":"FREQ=DAILY;INTERVAL=1","start":"2022-07-13T01:02:03"},{"duration":"1w","rrule":"FREQ=DAILY;INTERVAL=12","start":"2022-07-15T01:02"},{"duration":"1m","rrule":"FREQ=DAILY;INTERVAL=123","start":""}],"timezone":"America/New_York"},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring-local-1689358763)"},"type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime
    method: POST
  response:
    body: |
      {"data":{"type":"downtime","id":"f670bb4e-2272-11ee-98a4-da7ad0900002","relationships":{"monitor":{"data":null},"created_by":{"data":{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92"}}},"attributes":{"canceled":null,"created":"2023-07-14T18:19:25.126064+00:00","message":"Message about the downtime","notify_end_types":["expired"],"monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"display_timezone":"America/New_York","modified":"2023-07-14T18:19:25.126064+00:00","status":"active","scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring-local-1689358763)","schedule":{"current_downtime":{"end":"2023-07-17T05:02:00+00:00","start":"2023-07-10T05:02:00+00:00"},"recurrences":[{"rrule":"FREQ=DAILY;INTERVAL=1","start":"2022-07-13T01:02:03","duration":"1d"},{"rrule":"FREQ=DAILY;INTERVAL=12","start":"2022-07-15T01:02","duration":"1w"},{"rrule":"FREQ=DAILY;INTERVAL=123","start":"2023-07-14T18:19:24","duration":"1m"}],"timezone":"America/New_York"},"notify_end_states":["alert","warn"],"mute_first_recovery_notification":true}},"included":[{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92","attributes":{"name":"Carl Martensen","handle":"carl.martensen@datadoghq.com","created_at":"2019-01-15T14:36:15.423919+00:00","modified_at":"2019-01-15T14:36:15.457748+00:00","email":"carl.martensen@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ed460c2fc567a43e34c2bd7cda76bdd1?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/downtime/f670bb4e-2272-11ee-98a4-da7ad0900002
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 204 No Content
    code: 204
    duration: ""
