version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardChange_import-local-1682003518","widgets":[{"definition":{"requests":[{"increase_good":false,"q":"sum:system.cpu.user{*} by {service,account}","show_present":false}],"type":"change"}},{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"}],"requests":[{"change_type":"absolute","compare_to":"day_before","increase_good":false,"order_by":"change","order_dir":"desc","q":"sum:system.cpu.user{*} by {service,account}","show_present":true}],"time":{"live_span":"1h"},"title":"Sum of system.cpu.user over * by service,account","title_align":"left","title_size":"16","type":"change"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"pvc-a74-45p","title":"tf-TestAccDatadogDashboardChange_import-local-1682003518","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/pvc-a74-45p/tf-testaccdatadogdashboardchangeimport-local-1682003518","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"requests":[{"increase_good":false,"q":"sum:system.cpu.user{*} by {service,account}","show_present":false}],"type":"change"},"id":6991398540818918},{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"}],"requests":[{"change_type":"absolute","compare_to":"day_before","increase_good":false,"order_by":"change","order_dir":"desc","q":"sum:system.cpu.user{*} by {service,account}","show_present":true}],"time":{"live_span":"1h"},"title":"Sum of system.cpu.user over * by service,account","title_align":"left","title_size":"16","type":"change"},"id":3695565165465886}],"notify_list":[],"created_at":"2023-04-20T15:12:00.486453+00:00","modified_at":"2023-04-20T15:12:00.486453+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/pvc-a74-45p
    method: GET
    id: 1
  response:
    body: |
      {"id":"pvc-a74-45p","title":"tf-TestAccDatadogDashboardChange_import-local-1682003518","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/pvc-a74-45p/tf-testaccdatadogdashboardchangeimport-local-1682003518","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"requests":[{"increase_good":false,"q":"sum:system.cpu.user{*} by {service,account}","show_present":false}],"type":"change"},"id":6991398540818918},{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"}],"requests":[{"change_type":"absolute","compare_to":"day_before","increase_good":false,"order_by":"change","order_dir":"desc","q":"sum:system.cpu.user{*} by {service,account}","show_present":true}],"time":{"live_span":"1h"},"title":"Sum of system.cpu.user over * by service,account","title_align":"left","title_size":"16","type":"change"},"id":3695565165465886}],"notify_list":[],"created_at":"2023-04-20T15:12:00.486453+00:00","modified_at":"2023-04-20T15:12:00.486453+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/pvc-a74-45p
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"pvc-a74-45p"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/pvc-a74-45p
    method: GET
    id: 5
  response:
    body: '{"errors":["Dashboard with ID pvc-a74-45p not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
