---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action_pattern":{"action_fqns":["*"],"integration":"INTEGRATION_SCRIPT"},"effect":"deny","name":"tf-TestAccDatadogActionExecutionPolicy_Scripts-local-1787229677","scope":{"scripts":{"rules":[{"target_script_names":["maintenance.sh"]}]}}},"type":"execution_policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/execution-policies
        method: POST
      response:
        body: '{"data":{"id":"e07732a1-2bc0-4674-9b3c-d3cd27aaeb9c","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["*"]},"created_at":"2026-08-20T12:41:21Z","created_by":"d72ee86c-6207-4077-b40c-93fded100245","effect":"deny","name":"tf-TestAccDatadogActionExecutionPolicy_Scripts-local-1787229677","scope":{"scripts":{"rules":[{"target_script_names":["maintenance.sh"]}]}},"targets":[],"updated_at":"2026-08-20T12:41:21Z","updated_by":"d72ee86c-6207-4077-b40c-93fded100245","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 240.205667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/execution-policies/e07732a1-2bc0-4674-9b3c-d3cd27aaeb9c
        method: GET
      response:
        body: '{"data":{"id":"e07732a1-2bc0-4674-9b3c-d3cd27aaeb9c","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["*"]},"created_at":"2026-08-20T12:41:21Z","created_by":"d72ee86c-6207-4077-b40c-93fded100245","effect":"deny","name":"tf-TestAccDatadogActionExecutionPolicy_Scripts-local-1787229677","scope":{"scripts":{"rules":[{"target_script_names":["maintenance.sh"]}]}},"targets":[],"updated_at":"2026-08-20T12:41:21Z","updated_by":"d72ee86c-6207-4077-b40c-93fded100245","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 181.77825ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/execution-policies/e07732a1-2bc0-4674-9b3c-d3cd27aaeb9c
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting execution policy"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 163.118333ms
