---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2EmbeddedApp-local-1788338262","widgets":[{"definition":{"app_id":"7e7745f9-4343-4927-b038-80934a355915","inputs":[{"name":"environment","value":"production"},{"name":"settings","value":{"dry_run":false,"replicas":3}}],"title":"Environment manager","type":"embedded_app"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v1/dashboard
        method: POST
      response:
        body: '{"id":"evy-r3r-46i","title":"tf-TestAccDatadogDashboardV2EmbeddedApp-local-1788338262","description":null,"author_handle":"jiawen.zhu@datadoghq.com","author_name":"Jiawen Zhu","layout_type":"ordered","url":"/dashboard/evy-r3r-46i/tf-testaccdatadogdashboardv2embeddedapp-local-1788338262","template_variables":[],"widgets":[{"definition":{"app_id":"7e7745f9-4343-4927-b038-80934a355915","inputs":[{"name":"environment","value":"production"},{"name":"settings","value":{"dry_run":false,"replicas":3}}],"title":"Environment manager","type":"embedded_app"},"id":5384173289249821}],"notify_list":[],"created_at":"2026-09-02T08:37:45.069420+00:00","modified_at":"2026-09-02T08:37:45.069420+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 686.00025ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v1/dashboard/evy-r3r-46i
        method: GET
      response:
        body: '{"id":"evy-r3r-46i","title":"tf-TestAccDatadogDashboardV2EmbeddedApp-local-1788338262","description":null,"author_handle":"jiawen.zhu@datadoghq.com","author_name":"Jiawen Zhu","layout_type":"ordered","url":"/dashboard/evy-r3r-46i/tf-testaccdatadogdashboardv2embeddedapp-local-1788338262","template_variables":[],"widgets":[{"definition":{"app_id":"7e7745f9-4343-4927-b038-80934a355915","inputs":[{"name":"environment","value":"production"},{"name":"settings","value":{"dry_run":false,"replicas":3}}],"title":"Environment manager","type":"embedded_app"},"id":5384173289249821}],"notify_list":[],"created_at":"2026-09-02T08:37:45.069420+00:00","modified_at":"2026-09-02T08:37:45.069420+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.57175ms
[...]
    - id: 4
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v1/dashboard/evy-r3r-46i
        method: DELETE
      response:
        body: '{"deleted_dashboard_id":"evy-r3r-46i"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 824.245875ms
    - id: 5
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v1/dashboard/evy-r3r-46i
        method: GET
      response:
        body: '{"errors":["Dashboard with ID evy-r3r-46i not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 173.339583ms
