---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-2"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"id":"opentelemetry-source-2","type":"opentelemetry"}]},"name":"opentelemetry-pipeline-no-tls"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"f64b101c-f20c-11f0-9df6-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-pipeline-no-tls","config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-2"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"opentelemetry-source-2","type":"opentelemetry"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 421.931583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/f64b101c-f20c-11f0-9df6-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"f64b101c-f20c-11f0-9df6-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-pipeline-no-tls","config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-2"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"opentelemetry-source-2","type":"opentelemetry"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 217.601875ms
[...]
