---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTimeseriesGroupByFields_import-local-1773418630","widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"compute":{"aggregation":"count"},"data_source":"logs","group_by":{"fields":["hostname","service"],"limit":10,"sort":{"aggregation":"count","order":"desc"}},"indexes":["days-3"],"name":"my_event_query","search":{"query":"abc"}}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"2r3-s8d-mv4","title":"tf-TestAccDatadogDashboardTimeseriesGroupByFields_import-local-1773418630","description":"Created using the Datadog provider in Terraform","author_handle":"becca.jellinek@datadoghq.com","author_name":"Becca Jellinek","layout_type":"ordered","url":"/dashboard/2r3-s8d-mv4/tf-testaccdatadogdashboardtimeseriesgroupbyfieldsimport-local-1773418630","template_variables":[],"widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"compute":{"aggregation":"count"},"data_source":"logs","group_by":{"fields":["hostname","service"],"limit":10,"sort":{"aggregation":"count","order":"desc"}},"indexes":["days-3"],"name":"my_event_query","search":{"query":"abc"}}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"},"id":6758228229654554}],"notify_list":[],"created_at":"2026-03-13T16:17:12.649851+00:00","modified_at":"2026-03-13T16:17:12.649851+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.118708ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/2r3-s8d-mv4
        method: GET
      response:
            - chunked
        body: '{"id":"2r3-s8d-mv4","title":"tf-TestAccDatadogDashboardTimeseriesGroupByFields_import-local-1773418630","description":"Created using the Datadog provider in Terraform","author_handle":"becca.jellinek@datadoghq.com","author_name":"Becca Jellinek","layout_type":"ordered","url":"/dashboard/2r3-s8d-mv4/tf-testaccdatadogdashboardtimeseriesgroupbyfieldsimport-local-1773418630","template_variables":[],"widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"compute":{"aggregation":"count"},"data_source":"logs","group_by":{"fields":["hostname","service"],"limit":10,"sort":{"aggregation":"count","order":"desc"}},"indexes":["days-3"],"name":"my_event_query","search":{"query":"abc"}}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"},"id":6758228229654554}],"notify_list":[],"created_at":"2026-03-13T16:17:12.649851+00:00","modified_at":"2026-03-13T16:17:12.649851+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.982583ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/2r3-s8d-mv4
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"2r3-s8d-mv4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.037333ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/2r3-s8d-mv4
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID 2r3-s8d-mv4 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 174.553042ms
