---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccteamnotificationruleremovenotificationtype-local-1768299668","name":"tf-testaccteamnotificationruleremovenotificationtype-local-1768299668"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"eb8a44ed-3884-45f8-8dc2-89f2d108763f","type":"team","attributes":{"avatar":null,"banner":0,"created_at":"2026-01-13T10:21:10.495851+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleremovenotificationtype-local-1768299668","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-13T10:21:10.495851+00:00","name":"tf-testaccteamnotificationruleremovenotificationtype-local-1768299668","summary":"Example team","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/eb8a44ed-3884-45f8-8dc2-89f2d108763f/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/eb8a44ed-3884-45f8-8dc2-89f2d108763f/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 535.092583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"channel":"#test-channel","workspace":"Datadog"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/eb8a44ed-3884-45f8-8dc2-89f2d108763f/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"dea54262-07e4-4027-858a-f4b069f2990b","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 203.233041ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/eb8a44ed-3884-45f8-8dc2-89f2d108763f/notification-rules/dea54262-07e4-4027-858a-f4b069f2990b
        method: GET
      response:
        body: '{"data":{"id":"dea54262-07e4-4027-858a-f4b069f2990b","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 142.511083ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/eb8a44ed-3884-45f8-8dc2-89f2d108763f
        method: GET
      response:
        body: '{"data":{"id":"eb8a44ed-3884-45f8-8dc2-89f2d108763f","type":"team","attributes":{"created_at":"2026-01-13T10:21:10.495851+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleremovenotificationtype-local-1768299668","is_managed":false,"link_count":0,"modified_at":"2026-01-13T10:21:10.495851+00:00","name":"tf-testaccteamnotificationruleremovenotificationtype-local-1768299668","summary":"Example team","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/eb8a44ed-3884-45f8-8dc2-89f2d108763f/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/eb8a44ed-3884-45f8-8dc2-89f2d108763f/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 145.188791ms
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/eb8a44ed-3884-45f8-8dc2-89f2d108763f/notification-rules/dea54262-07e4-4027-858a-f4b069f2990b
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 133.232541ms
