version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"message":"test","name":"tf-TestAccDatadogMonitor_ComposeWithSyntheticsTest-local-1720040581","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100}},"priority":null,"query":"avg(last_5m):max:system.load.1{*} by {host} \u003e 100","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.304333ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"message":"test","name":"tf-TestAccDatadogMonitor_ComposeWithSyntheticsTest-local-1720040581","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100}},"priority":null,"query":"avg(last_5m):max:system.load.1{*} by {host} \u003e 100","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":148530986,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_ComposeWithSyntheticsTest-local-1720040581","message":"test","tags":[],"query":"avg(last_5m):max:system.load.1{*} by {host} > 100","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1720040583000,"created":"2024-07-03T21:03:03.666629+00:00","modified":"2024-07-03T21:03:03.666629+00:00","deleted":null,"restricted_roles":null,"priority":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.992042ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"Notify @pagerduty","name":"tf-TestAccDatadogMonitor_ComposeWithSyntheticsTest-local-1720040581","options":{"httpVersion":"any","min_failure_duration":10,"min_location_failed":1,"tick_every":900},"status":"live","subtype":"http","tags":["foo:bar","foo","env:test"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"r5s-hib-7px","name":"tf-TestAccDatadogMonitor_ComposeWithSyntheticsTest-local-1720040581","status":"live","type":"api","tags":["foo:bar","foo","env:test"],"created_at":"2024-07-03T21:03:03.628276+00:00","modified_at":"2024-07-03T21:03:03.628276+00:00","config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"message":"Notify @pagerduty","options":{"httpVersion":"any","min_failure_duration":10,"min_location_failed":1,"tick_every":900},"locations":["aws:eu-central-1"],"subtype":"http","created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":148530985,"org_id":321813,"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 886.461042ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/r5s-hib-7px
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"r5s-hib-7px","name":"tf-TestAccDatadogMonitor_ComposeWithSyntheticsTest-local-1720040581","status":"live","type":"api","tags":["foo:bar","foo","env:test"],"created_at":"2024-07-03T21:03:03.628276+00:00","modified_at":"2024-07-03T21:03:03.628276+00:00","config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"message":"Notify @pagerduty","options":{"httpVersion":"any","min_failure_duration":10,"min_location_failed":1,"tick_every":900},"locations":["aws:eu-central-1"],"subtype":"http","monitor_id":148530985,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.624208ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"message":"test","name":"tf-TestAccDatadogMonitor_ComposeWithSyntheticsTest-local-1720040581","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100}},"priority":null,"query":"avg(last_5m):max:system.load.1{*} by {host} \u003e 100","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/148530986/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.012375ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/148530986
        method: GET
      response:
            - chunked
        body: |
            {"id":148530986,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_ComposeWithSyntheticsTest-local-1720040581","message":"test","tags":[],"query":"avg(last_5m):max:system.load.1{*} by {host} > 100","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1720040583000,"created":"2024-07-03T21:03:03.666629+00:00","modified":"2024-07-03T21:03:03.666629+00:00","deleted":null,"restricted_roles":null,"priority":null,"overall_state_modified":"2024-07-03T21:03:05+00:00","overall_state":"OK","creator":{"name":null,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.101042ms
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/r5s-hib-7px
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"r5s-hib-7px","name":"tf-TestAccDatadogMonitor_ComposeWithSyntheticsTest-local-1720040581","status":"live","type":"api","tags":["foo:bar","foo","env:test"],"created_at":"2024-07-03T21:03:03.628276+00:00","modified_at":"2024-07-03T21:03:03.628276+00:00","config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"message":"Notify @pagerduty","options":{"httpVersion":"any","min_failure_duration":10,"min_location_failed":1,"tick_every":900},"locations":["aws:eu-central-1"],"subtype":"http","monitor_id":148530985,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.232917ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/148530987
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":148530987}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.865625ms
[...]
    - id: 20
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["r5s-hib-7px"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"r5s-hib-7px","deleted_at":"2024-07-03T21:03:07.345701+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 464.64575ms
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/148530986
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 83.699292ms
[...]
