---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"A relevant description","filter":{"query":"service:my-service"},"is_enabled":false,"name":"tf-testaccdatadogsdsgrouporderdatasource-local-1750883183","product_list":["apm"],"samplings":[{"product":"apm","rate":100}]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"3d14c41d-f66b-42a0-983e-d76529f75b1e","attributes":{"name":"tf-testaccdatadogsdsgrouporderdatasource-local-1750883183","is_enabled":false,"filter":{"query":"service:my-service"},"product_list":["apm"],"description":"A relevant description","samplings":[{"product":"apm","rate":100.0}]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"9fe1f43f8d7a473ad75d6fb608592cadb63f7d0d1a90f83e0f907d482642e565","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":81}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.633ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"9fe1f43f8d7a473ad75d6fb608592cadb63f7d0d1a90f83e0f907d482642e565","attributes":{},"type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"086caa84-562b-43e9-89d1-8e2a1a645993","type":"sensitive_data_scanner_group"},{"id":"52e415ac-6a52-4c8a-8308-f383d7d6b539","type":"sensitive_data_scanner_group"},{"id":"77f282bc-d88f-4566-a1eb-d24f57d5ff0b","type":"sensitive_data_scanner_group"},{"id":"b5eaff49-962f-48ea-b0e8-7b4a825e0ad7","type":"sensitive_data_scanner_group"},{"id":"7bd68b19-a9e3-46b8-ac2b-9cb24c24c1ba","type":"sensitive_data_scanner_group"},{"id":"90bd886f-56b8-4e70-ad2e-0070c056f65d","type":"sensitive_data_scanner_group"},{"id":"3d14c41d-f66b-42a0-983e-d76529f75b1e","type":"sensitive_data_scanner_group"}]}}},"meta":{"version":81,"count_limit":100,"group_count_limit":20,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"has_cascading_enabled":false,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"min_sampling_rate":10.0},"included":[{"id":"086caa84-562b-43e9-89d1-8e2a1a645993","attributes":{"name":"exercitation eiusmod Ut","is_enabled":false,"filter":{"query":"aute"},"product_list":["logs"],"description":"non ad magna","samplings":[]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"9fe1f43f8d7a473ad75d6fb608592cadb63f7d0d1a90f83e0f907d482642e565","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},{"id":"52e415ac-6a52-4c8a-8308-f383d7d6b539","attributes":{"name":"test2","is_enabled":false,"filter":{"query":"aute"},"product_list":["logs"],"description":"sampling test","samplings":[{"product":"logs","rate":50.0}]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"9fe1f43f8d7a473ad75d6fb608592cadb63f7d0d1a90f83e0f907d482642e565","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},{"id":"77f282bc-d88f-4566-a1eb-d24f57d5ff0b","attributes":{"name":"catch all","is_enabled":true,"filter":{"query":"*"},"product_list":["logs","events"],"samplings":[]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"9fe1f43f8d7a473ad75d6fb608592cadb63f7d0d1a90f83e0f907d482642e565","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[{"id":"c1c1a4c1-4fa7-4b3a-a2ce-78b42e2db910","type":"sensitive_data_scanner_rule"}]}}},{"id":"c1c1a4c1-4fa7-4b3a-a2ce-78b42e2db910","attributes":{"name":"scan test","namespaces":[],"excluded_namespaces":[],"pattern":"\\d{4}","text_replacement":{"replacement_string":"REDACTED","should_save_match":false,"type":"replacement_string"},"tags":["sensitive_data_category:pii"],"labels":[],"is_enabled":true,"description":"","priority":5,"included_keyword_configuration":{"keywords":[],"use_recommended_keywords":false,"character_count":30}},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"77f282bc-d88f-4566-a1eb-d24f57d5ff0b","type":"sensitive_data_scanner_group"}}}},{"id":"b5eaff49-962f-48ea-b0e8-7b4a825e0ad7","attributes":{"name":"tf-testaccdatadogsensitivedatascannergroup-basic-local-1750881009","is_enabled":false,"filter":{"query":"*"},"product_list":["logs"],"description":"","samplings":[{"product":"logs","rate":100.0}]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"9fe1f43f8d7a473ad75d6fb608592cadb63f7d0d1a90f83e0f907d4[...]
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/3d14c41d-f66b-42a0-983e-d76529f75b1e
        method: DELETE
      response:
        body: |
            {"meta":{"version":84}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.608916ms
