---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRumApplicationsDatasource-local-1783372581","type":"browser"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
        body: '{"data":{"id":"67cf618b-68b2-46af-b07d-5696b933fa95","type":"rum_application","attributes":{"api_key_id":1503957,"apm_rum_flat_sampling_replay_enabled":true,"apm_rum_flat_sampling_replay_sample_rate":1,"application_id":"67cf618b-68b2-46af-b07d-5696b933fa95","client_token":"pubce918010f42dd93b088e1e0f9ad3a321","created_at":1783372584394,"created_by_handle":"jason.tenczar@datadoghq.com","is_active":false,"name":"tf-TestAccDatadogRumApplicationsDatasource-local-1783372581","ootb_metrics_installed":false,"org_id":321813,"product_analytics_replay_sample_rate":100,"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1783372584394},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1783372584394}},"short_name":"tf_testaccdatadogrumapplications","tags":[],"type":"browser","updated_at":1783372584394,"updated_by_handle":"jason.tenczar@datadoghq.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 628.13025ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/67cf618b-68b2-46af-b07d-5696b933fa95
        method: GET
      response:
        body: '{"data":{"id":"67cf618b-68b2-46af-b07d-5696b933fa95","type":"rum_application","attributes":{"api_key_id":1503957,"apm_rum_flat_sampling_replay_enabled":true,"apm_rum_flat_sampling_replay_sample_rate":1,"application_id":"67cf618b-68b2-46af-b07d-5696b933fa95","client_token":"pubce918010f42dd93b088e1e0f9ad3a321","created_at":1783372584394,"created_by_handle":"jason.tenczar@datadoghq.com","is_active":false,"name":"tf-TestAccDatadogRumApplicationsDatasource-local-1783372581","ootb_metrics_installed":false,"org_id":321813,"product_analytics_replay_sample_rate":100,"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1783372584394},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1783372584394}},"short_name":"tf_testaccdatadogrumapplications","tags":[],"type":"browser","updated_at":1783372584394,"updated_by_handle":"jason.tenczar@datadoghq.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 80.2365ms
[...]
