---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"reflow_type":"auto","tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSpans_HideIncompleteCostDataFalse-local-1767972750","widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"time":{"hide_incomplete_cost_data":false,"live_span":"1h"},"title":"CPU Utilization?","type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"nge-m84-i2b","title":"tf-TestAccDatadogDashboardSpans_HideIncompleteCostDataFalse-local-1767972750","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/nge-m84-i2b/tf-testaccdatadogdashboardspanshideincompletecostdatafalse-local-1767972750","template_variables":[],"widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"time":{"hide_incomplete_cost_data":false,"live_span":"1h"},"title":"CPU Utilization?","type":"timeseries"},"id":1178492172235326}],"notify_list":[],"created_at":"2026-01-09T15:32:31.837030+00:00","modified_at":"2026-01-09T15:32:31.837030+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.690833ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/nge-m84-i2b
        method: GET
      response:
            - chunked
        body: '{"id":"nge-m84-i2b","title":"tf-TestAccDatadogDashboardSpans_HideIncompleteCostDataFalse-local-1767972750","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/nge-m84-i2b/tf-testaccdatadogdashboardspanshideincompletecostdatafalse-local-1767972750","template_variables":[],"widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"time":{"hide_incomplete_cost_data":false,"live_span":"1h"},"title":"CPU Utilization?","type":"timeseries"},"id":1178492172235326}],"notify_list":[],"created_at":"2026-01-09T15:32:31.837030+00:00","modified_at":"2026-01-09T15:32:31.837030+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.033084ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/nge-m84-i2b
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"nge-m84-i2b"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 352.810166ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/nge-m84-i2b
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID nge-m84-i2b not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 158.679375ms
