---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyMonitorRuleQuery-local-1765529978","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"fc5fefb4-7ed4-4c2e-9376-abc2e05566a4","type":"deployment_gate","attributes":{"created_at":"2025-12-12T08:59:39.714465Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyMonitorRuleQuery-local-1765529978","service":"my-service","updated_at":"2025-12-12T08:59:39.714465Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 139.091708ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"monitor_rule","options":{"duration":300,"query":"service:test"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/fc5fefb4-7ed4-4c2e-9376-abc2e05566a4/rules
        method: POST
      response:
        body: '{"data":{"id":"5c1d765d-2c81-4ecf-bdf9-7dbcbcd76374","type":"deployment_rule","attributes":{"created_at":"2025-12-12T08:59:39.876718Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"fc5fefb4-7ed4-4c2e-9376-abc2e05566a4","name":"monitor_rule","options":{"query":"service:test","duration":300},"type":"monitor","updated_at":"2025-12-12T08:59:39.876718Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 154.439ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/fc5fefb4-7ed4-4c2e-9376-abc2e05566a4
        method: GET
      response:
        body: '{"data":{"id":"fc5fefb4-7ed4-4c2e-9376-abc2e05566a4","type":"deployment_gate","attributes":{"created_at":"2025-12-12T08:59:39.714465Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyMonitorRuleQuery-local-1765529978","service":"my-service","updated_at":"2025-12-12T08:59:39.714465Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 175.871542ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/fc5fefb4-7ed4-4c2e-9376-abc2e05566a4/rules
        method: GET
      response:
        body: '{"data":{"id":"fc5fefb4-7ed4-4c2e-9376-abc2e05566a4","type":"list_deployment_rules","attributes":{"rules":[{"id":"5c1d765d-2c81-4ecf-bdf9-7dbcbcd76374","name":"monitor_rule","type":"monitor","dry_run":false,"created_at":"2025-12-12T08:59:39.876718Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-12T08:59:39.876718Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"fc5fefb4-7ed4-4c2e-9376-abc2e05566a4","options":{"query":"service:test","duration":300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 139.138125ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"monitor_rule","options":{"duration":600,"query":"service:test-2"}},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/fc5fefb4-7ed4-4c2e-9376-abc2e05566a4/rules/5c1d765d-2c81-4ecf-bdf9-7dbcbcd76374
        method: PUT
      response:
        body: '{"data":{"id":"5c1d765d-2c81-4ecf-bdf9-7dbcbcd76374","type":"deployment_rule","attributes":{"created_at":"2025-12-12T08:59:39.876718Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"fc5fefb4-7ed4-4c2e-9376-abc2e05566a4","name":"monitor_rule","options":{"query":"service:test-2","duration":600},"type":"monitor","updated_at":"2025-12-12T08:59:41.730772Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 141.410958ms
[...]
