---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-sp-maint-tmpl-import-1787173178","name":"test-sp-maint-tmpl-import-1787173178","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"f7d0ab58-afe7-4268-959b-82c493f981c2","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"cfc39581-e2ac-4cc5-a795-c194e4cedc2e","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:59:41.357155Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-maint-tmpl-import-1787173178","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:59:41.357155Z","name":"test-sp-maint-tmpl-import-1787173178","page_url":"https://frog.datadoghq.com/status-pages/f7d0ab58-afe7-4268-959b-82c493f981c2/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.554467208s
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"completed_description":"Maintenance is complete.","component_ids":["cfc39581-e2ac-4cc5-a795-c194e4cedc2e"],"in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","name":"test-sp-maint-tmpl-import-1787173178","scheduled_description":"Maintenance is scheduled."},"type":"maintenance_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/f7d0ab58-afe7-4268-959b-82c493f981c2/maintenance_templates
        method: POST
      response:
        body: '{"data":{"id":"a8162192-3e1e-44a8-bf63-2847004b902f","type":"maintenance_templates","attributes":{"completed_description":"Maintenance is complete.","component_ids":["cfc39581-e2ac-4cc5-a795-c194e4cedc2e"],"created_at":"2026-08-19T20:59:42.899612Z","in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","modified_at":"2026-08-19T20:59:42.899612Z","name":"test-sp-maint-tmpl-import-1787173178","scheduled_description":"Maintenance is scheduled."},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"f7d0ab58-afe7-4268-959b-82c493f981c2","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 69.481375ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/f7d0ab58-afe7-4268-959b-82c493f981c2
        method: GET
      response:
        body: '{"data":{"id":"f7d0ab58-afe7-4268-959b-82c493f981c2","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"cfc39581-e2ac-4cc5-a795-c194e4cedc2e","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:59:41.357155Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-maint-tmpl-import-1787173178","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:59:41.357155Z","name":"test-sp-maint-tmpl-import-1787173178","page_url":"https://frog.datadoghq.com/status-pages/f7d0ab58-afe7-4268-959b-82c493f981c2/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 53.799375ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/f7d0ab58-afe7-4268-959b-82c493f981c2/maintenance_templates/a8162192-3e1e-44a8-bf63-2847004b902f
        method: GET
      response:
        body: '{"data":{"id":"a8162192-3e1e-44a8-bf63-2847004b902f","type":"maintenance_templates","attributes":{"completed_description":"Maintenance is complete.","component_ids":["cfc39581-e2ac-4cc5-a795-c194e4cedc2e"],"created_at":"2026-08-19T20:59:42.899612Z","in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","modified_at":"2026-08-19T20:59:42.899612Z","name":"test-sp-maint-tmpl-import-1787173178","scheduled_description":"Maintenance is scheduled."},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"f7d0ab58-afe7-4268-959b-82c493f981c2","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 45.917042ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/f7d0ab58-afe7-4268-959b-82c493f981c2/maintenance_templates/a8162192-3e1e-44a8-bf63-2847004b902f
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 43.751292ms
