---
version: 1
interactions:
- request:
    body: |
      {"message":"tf-TestAccDatadogDowntime_DiffStart-local-1649185421","monitor_tags":["*"],"scope":["somescope"],"timezone":"UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":null,"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1649185469,"org_id":321813,"modified":1649185469,"disabled":false,"start":1649185469,"creator_id":1445416,"parent_id":null,"timezone":"UTC","active":true,"scope":["somescope"],"message":"tf-TestAccDatadogDowntime_DiffStart-local-1649185421","downtime_type":2,"id":1857663508,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/downtime/1857663508
    method: GET
  response:
    body: '{"recurrence":null,"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1649185469,"org_id":321813,"modified":1649185469,"disabled":false,"start":1649185469,"creator_id":1445416,"parent_id":null,"timezone":"UTC","active":true,"scope":["somescope"],"message":"tf-TestAccDatadogDowntime_DiffStart-local-1649185421","downtime_type":2,"id":1857663508,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
