---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"is","property":"A","target":"0.0.0.0","type":"recordSome"}],"configVariables":[],"request":{"dnsServer":"8.8.8.8","host":"https://www.datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsDNSTest_importBasic-local-1618930412","options":{"min_location_failed":1,"tick_every":60},"status":"paused","subtype":"dns","tags":["foo:bar","baz"],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"paused","public_id":"89x-tmb-44f","tags":["foo:bar","baz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","deleted_at":null,"name":"tf-TestAccDatadogSyntheticsDNSTest_importBasic-local-1618930412","monitor_id":34157607,"type":"api","created_at":"2021-04-20T14:53:33.706653+00:00","modified_at":"2021-04-20T14:53:33.706653+00:00","subtype":"dns","config":{"request":{"host":"https://www.datadoghq.com","dnsServer":"8.8.8.8"},"assertions":[{"operator":"is","property":"A","type":"recordSome","target":"0.0.0.0"}],"configVariables":[]},"options":{"min_location_failed":1,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.4351688"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "100"
      X-Ratelimit-Reset:
      - "27"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/89x-tmb-44f
    method: GET
  response:
    body: '{"status":"paused","public_id":"89x-tmb-44f","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsDNSTest_importBasic-local-1618930412","monitor_id":34157607,"type":"api","subtype":"dns","config":[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api/89x-tmb-44f
    method: GET
  response:
    body: '{"status":"paused","public_id":"89x-tmb-44f","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsDNSTest_importBasic-local-1618930412","monitor_id":34157607,"type":"api","subtype":"dns","config":[...]
- request:
    body: |
      {"public_ids":["89x-tmb-44f"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-04-20T14:53:37.774229+00:00","public_id":"89x-tmb-44f"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - "35.4351688"
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "99"
      X-Ratelimit-Reset:
      - "23"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/89x-tmb-44f
    method: GET
  response:
    body: '{"errors": ["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4351688"
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "803"
      X-Ratelimit-Reset:
      - "23"
    status: 404 Not Found
    code: 404
    duration: ""
