---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"buffer":{"max_size":2147483648,"type":"disk","when_full":"drop_newest"},"encoding":"json","id":"http-client-dest-buffer-1","inputs":["source-1"],"type":"http_client"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"http-client-destination-buffer-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"fa3bd9a8-58f6-11f1-a7a2-da7ad0900002","type":"pipelines","attributes":{"name":"http-client-destination-buffer-pipeline","config":{"destinations":[{"buffer":{"max_size":2147483648,"type":"disk","when_full":"drop_newest"},"encoding":"json","id":"http-client-dest-buffer-1","inputs":["source-1"],"type":"http_client"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 749.689709ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/fa3bd9a8-58f6-11f1-a7a2-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"fa3bd9a8-58f6-11f1-a7a2-da7ad0900002","type":"pipelines","attributes":{"name":"http-client-destination-buffer-pipeline","config":{"destinations":[{"buffer":{"max_size":2147483648,"type":"disk","when_full":"drop_newest"},"encoding":"json","id":"http-client-dest-buffer-1","inputs":["source-1"],"type":"http_client"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 225.897958ms
[...]
