---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"name":"tf-TestDatadogDashListInDashboardJSON-local-1767993765"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
        method: POST
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-09T21:22:50.514543+00:00","dashboards":null,"dashboard_count":0,"id":616275,"is_favorite":false,"modified":"2026-01-09T21:22:50.514550+00:00","name":"tf-TestDatadogDashListInDashboardJSON-local-1767993765","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.581042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: "{\n   \"author_handle\":\"removed_handle\",\n   \"title\":\"tf-TestDatadogDashListInDashboardJSON-local-1767993765\",\n   \"description\":\"Created using the Datadog provider in Terraform\",\n   \"widgets\":[\n      {\n         \"id\":5436370674582587,\n         \"definition\":{\n            \"title\":\"Widget Title\",\n            \"type\":\"alert_value\",\n            \"alert_id\":\"895605\",\n            \"unit\":\"b\",\n            \"text_align\":\"center\",\n            \"precision\":3\n         }\n      }\n   ],\n   \"template_variables\":[\n      \n   ],\n   \"layout_type\":\"ordered\",\n   \"notify_list\":[\n      \n   ],\n   \"id\":\"5uw-bbj-xec\"\n}\n"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"ncx-u82-hqe","title":"tf-TestDatadogDashListInDashboardJSON-local-1767993765","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/ncx-u82-hqe/tf-testdatadogdashlistindashboardjson-local-1767993765","template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2026-01-09T21:22:50.645280+00:00","modified_at":"2026-01-09T21:22:50.645280+00:00"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.891625ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/ncx-u82-hqe
        method: GET
      response:
            - chunked
        body: '{"id":"ncx-u82-hqe","title":"tf-TestDatadogDashListInDashboardJSON-local-1767993765","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/ncx-u82-hqe/tf-testdatadogdashlistindashboardjson-local-1767993765","template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2026-01-09T21:22:50.645280+00:00","modified_at":"2026-01-09T21:22:50.645280+00:00"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.700375ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"dashboards":[{"id":"ncx-u82-hqe","type":"custom_timeboard"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616275/dashboards
        method: POST
      response:
            - chunked
        body: |
            {"added_dashboards_to_list":[{"type":"custom_timeboard","id":"ncx-u82-hqe"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.354625ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616275
        method: GET
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-09T21:22:50.514543+00:00","dashboards":null,"dashboard_count":1,"id":616275,"is_favorite":false,"modified":"2026-01-09T21:22:50.904180+00:00","name":"tf-TestDatadogDashListInDashboardJSON-local-1767993765","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 228.637666ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616275/dashboards
        method: GET
      response:
            - chunked
        body: |
            {"dashboards":[{"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-09T21:22:50.645280+00:00","is_favorite":false,"is_shared":false,"modified":"2026-01-09T21:22:50.645280+00:00","title":"tf-TestDatadogDashListInDashboardJSON-local-1767993765","type":"custom_timeboard","id":"ncx-u82-hqe","url":"/dashboard/ncx-u82-hqe/tf-testdatadogdashlistindashboardjson-local-1767993765","is_read_only":false,"tags":null,"icon":null,"integration_id":null,"popularity":0}],"total":1}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.317834ms
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: |
            {"dashboards":[{"id":"ncx-u82-hqe","type":"custom_timeboard"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616275/dashboards
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboards_from_list":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.882041ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616275
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_list_id":616275}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.056708ms
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/ncx-u82-hqe
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"ncx-u82-hqe"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.37075ms
    - id: 20
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616275
        method: GET
      response:
            - chunked
        body: '{"errors":["Manual Dashboard List with id 616275 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 82.562916ms
