---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"id":"ea0b94fd-c591-41b9-9c2b-2b284b35d803","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_splunk_sourcetype_absent_to_null-local-1776259489","query":"","enabled":true,"forwarder_destination":{"endpoint":"https://example.org","type":"splunk_hec","sourcetype":null},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":[],"forward_tags":true},"type":"custom_destination"},{"id":"d3828ba3-23e0-4a38-9952-c9c2854d3c3e","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_splunk_sourcetype-local-1776324346","query":"","enabled":true,"forwarder_destination":{"endpoint":"https://example.org","type":"splunk_hec"},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":[],"forward_tags":true},"type":"custom_destination"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.855167ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"forward_tags":true,"forward_tags_restriction_list_type":"ALLOW_LIST","forwarder_destination":{"access_token":"test-token","endpoint":"https://example.org","type":"splunk_hec"},"name":"tf-TestAccDatadogLogsCustomDestination_splunk_sourcetype-local-1776329227","query":""},"type":"custom_destination"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"ba8915ac-2cd5-4a29-9575-494b61589877","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_splunk_sourcetype-local-1776329227","query":"","enabled":true,"forwarder_destination":{"endpoint":"https://example.org","type":"splunk_hec"},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":[],"forward_tags":true},"type":"custom_destination"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.60975ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/ba8915ac-2cd5-4a29-9575-494b61589877
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"ba8915ac-2cd5-4a29-9575-494b61589877","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_splunk_sourcetype-local-1776329227","query":"","enabled":true,"forwarder_destination":{"endpoint":"https://example.org","type":"splunk_hec"},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":[],"forward_tags":true},"type":"custom_destination"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.327542ms
[...]
