---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccteamnotificationruleempty-local-1787701982","name":"tf-testaccteamnotificationruleempty-local-1787701982"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"8ccc6865-ab1a-44f2-8ab8-10b89cf4240d","type":"team","attributes":{"avatar":null,"banner":11,"created_at":"2026-08-25T23:53:03.622007+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleempty-local-1787701982","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-08-25T23:53:03.622007+00:00","name":"tf-testaccteamnotificationruleempty-local-1787701982","provisioned_by":"teams_terraform","summary":"Example team","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/8ccc6865-ab1a-44f2-8ab8-10b89cf4240d/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/8ccc6865-ab1a-44f2-8ab8-10b89cf4240d/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 123.581542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":false}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/8ccc6865-ab1a-44f2-8ab8-10b89cf4240d/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"a1fe17b8-459a-4699-9c17-1a7d0c2b23b3","type":"team_notification_rules","attributes":{"email":{"enabled":false}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 111.002292ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/8ccc6865-ab1a-44f2-8ab8-10b89cf4240d/notification-rules/a1fe17b8-459a-4699-9c17-1a7d0c2b23b3
        method: GET
      response:
        body: '{"data":{"id":"a1fe17b8-459a-4699-9c17-1a7d0c2b23b3","type":"team_notification_rules","attributes":{"email":{"enabled":false}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 50.510291ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/8ccc6865-ab1a-44f2-8ab8-10b89cf4240d
        method: GET
      response:
        body: '{"data":{"id":"8ccc6865-ab1a-44f2-8ab8-10b89cf4240d","type":"team","attributes":{"created_at":"2026-08-25T23:53:03.622007+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleempty-local-1787701982","is_managed":false,"link_count":0,"modified_at":"2026-08-25T23:53:03.622007+00:00","name":"tf-testaccteamnotificationruleempty-local-1787701982","provisioned_by":"teams_terraform","summary":"Example team","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/8ccc6865-ab1a-44f2-8ab8-10b89cf4240d/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/8ccc6865-ab1a-44f2-8ab8-10b89cf4240d/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 58.5785ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/8ccc6865-ab1a-44f2-8ab8-10b89cf4240d/notification-rules/a1fe17b8-459a-4699-9c17-1a7d0c2b23b3
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 53.4015ms
