---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"domain_prefix":"test-sp-maint-tmpl-basic-1787184434","name":"test-sp-maint-tmpl-basic-1787184434","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"0f93d942-3634-4707-b154-ea8330140ab9","type":"status_pages","attributes":{"company_logo":null,"components":[],"created_at":"2026-08-20T00:07:18.085052Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-maint-tmpl-basic-1787184434","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-20T00:07:18.085052Z","name":"test-sp-maint-tmpl-basic-1787184434","page_url":"https://frog.datadoghq.com/status-pages/0f93d942-3634-4707-b154-ea8330140ab9/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.467108167s
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"API","position":0,"type":"component"},"type":"components"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/0f93d942-3634-4707-b154-ea8330140ab9/components
        method: POST
      response:
        body: '{"data":{"id":"66ec6fc7-0089-4cf1-9335-0321ea2728ea","type":"components","attributes":{"created_at":"2026-08-20T00:07:19.485986Z","modified_at":"2026-08-20T00:07:19.485986Z","name":"API","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"0f93d942-3634-4707-b154-ea8330140ab9","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 73.511167ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"completed_description":"Maintenance is complete.","component_ids":["66ec6fc7-0089-4cf1-9335-0321ea2728ea"],"in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","name":"test-sp-maint-tmpl-basic-1787184434","scheduled_description":"Maintenance is scheduled."},"type":"maintenance_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/0f93d942-3634-4707-b154-ea8330140ab9/maintenance_templates
        method: POST
      response:
        body: '{"data":{"id":"23a1aede-07ce-4a57-8335-2d902f2f52fd","type":"maintenance_templates","attributes":{"completed_description":"Maintenance is complete.","component_ids":["66ec6fc7-0089-4cf1-9335-0321ea2728ea"],"created_at":"2026-08-20T00:07:19.605229Z","in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","modified_at":"2026-08-20T00:07:19.605229Z","name":"test-sp-maint-tmpl-basic-1787184434","scheduled_description":"Maintenance is scheduled."},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"0f93d942-3634-4707-b154-ea8330140ab9","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 99.8255ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/0f93d942-3634-4707-b154-ea8330140ab9/maintenance_templates/23a1aede-07ce-4a57-8335-2d902f2f52fd
        method: GET
      response:
        body: '{"data":{"id":"23a1aede-07ce-4a57-8335-2d902f2f52fd","type":"maintenance_templates","attributes":{"completed_description":"Maintenance is complete.","component_ids":["66ec6fc7-0089-4cf1-9335-0321ea2728ea"],"created_at":"2026-08-20T00:07:19.605229Z","in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","modified_at":"2026-08-20T00:07:19.605229Z","name":"test-sp-maint-tmpl-basic-1787184434","scheduled_description":"Maintenance is scheduled."},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"0f93d942-3634-4707-b154-ea8330140ab9","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 64.793834ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/0f93d942-3634-4707-b154-ea8330140ab9
        method: GET
      response:
        body: '{"data":{"id":"0f93d942-3634-4707-b154-ea8330140ab9","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"66ec6fc7-0089-4cf1-9335-0321ea2728ea","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-20T00:07:18.085052Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-maint-tmpl-basic-1787184434","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-20T00:07:18.085052Z","name":"test-sp-maint-tmpl-basic-1787184434","page_url":"https://frog.datadoghq.com/status-pages/0f93d942-3634-4707-b154-ea8330140ab9/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 69.28975ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/0f93d942-3634-4707-b154-ea8330140ab9/components/66ec6fc7-0089-4cf1-9335-0321ea2728ea
        method: GET
      response:
        body: '{"data":{"id":"66ec6fc7-0089-4cf1-9335-0321ea2728ea","type":"components","attributes":{"created_at":"2026-08-20T00:07:19.485986Z","modified_at":"2026-08-20T00:07:19.485986Z","name":"API","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"0f93d942-3634-4707-b154-ea8330140ab9","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 72.065583ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/0f93d942-3634-4707-b154-ea8330140ab9/maintenance_templates/23a1aede-07ce-4a57-8335-2d902f2f52fd
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 42.601791ms
