---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1756173087","type":"browser"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"type":"browser","product_analytics_replay_sample_rate":100,"created_by_handle":"frog@datadoghq.com","name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1756173087","tags":[],"hash":"pub7b763d7c15cae85fa68aa837162cf9a9","updated_by_handle":"frog@datadoghq.com","application_id":"7cb65459-1d70-4ddc-9eb0-60c1539f8482","product_scales":{"product_analytics_retention_scale":{"last_modified_at":1756173088847,"state":"NONE"},"rum_event_processing_scale":{"last_modified_at":1756173088847,"state":"ALL"}},"created_at":1756173088847,"org_id":321813,"updated_at":1756173088847,"is_active":false,"client_token":"pub7b763d7c15cae85fa68aa837162cf9a9"},"id":"7cb65459-1d70-4ddc-9eb0-60c1539f8482"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.256665708s
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/7cb65459-1d70-4ddc-9eb0-60c1539f8482
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"org_id":321813,"client_token":"pub7b763d7c15cae85fa68aa837162cf9a9","hash":"pub7b763d7c15cae85fa68aa837162cf9a9","created_by_handle":"frog@datadoghq.com","product_analytics_replay_sample_rate":100,"name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1756173087","created_at":1756173088847,"tags":[],"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1756173088847},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1756173088847}},"updated_by_handle":"frog@datadoghq.com","application_id":"7cb65459-1d70-4ddc-9eb0-60c1539f8482","is_active":false,"type":"browser","updated_at":1756173088847},"id":"7cb65459-1d70-4ddc-9eb0-60c1539f8482"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.410292ms
[...]
