---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["enrichment-group-2"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"enrichment-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"file":{"encoding":{"delimiter":",","includes_headers":true,"type":"csv"},"key":[{"column":"user_id","comparison":"equals","field":"log.user.id"}],"path":"/etc/enrichment/lookup.csv","schema":[]},"id":"csv-enrichment","include":"*","target":"log.enrichment","type":"enrichment_table"}]},{"enabled":true,"id":"enrichment-group-2","include":"*","inputs":["enrichment-group-1"],"processors":[{"enabled":true,"geoip":{"key_field":"log.source.ip","locale":"en","path":"/etc/geoip/GeoLite2-City.mmdb"},"id":"geoip-enrichment","include":"*","target":"log.geo.geoip","type":"enrichment_table"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"enrichment pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"53723266-0022-11f1-ad11-da7ad0900002","type":"pipelines","attributes":{"name":"enrichment pipeline","config":{"destinations":[{"id":"destination-1","inputs":["enrichment-group-2"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"enrichment-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"file":{"encoding":{"delimiter":",","includes_headers":true,"type":"csv"},"key":[{"column":"user_id",[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/53723266-0022-11f1-ad11-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"53723266-0022-11f1-ad11-da7ad0900002","type":"pipelines","attributes":{"name":"enrichment pipeline","config":{"destinations":[{"id":"destination-1","inputs":["enrichment-group-2"],"type":"datadog_logs"}],[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/53723266-0022-11f1-ad11-da7ad0900002
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 404.34075ms
