---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[]},"type":"grid"}],"connections":[{"id":"11111111-1111-1111-1111-111111111111","name":"A connection that will be overridden"}],"deployment":{"app_version_id":"00000000-0000-0000-0000-000000000000","id":"11111111-1111-1111-1111-111111111111"},"description":"Created using the Datadog provider in Terraform.","favorite":false,"id":"11111111-2222-3333-4444-555555555555","name":"tf-TestAccDatadogAppBuilderAppDataSource_Inline_WithOptionalFields-local-1742959587","queries":[{"events":[],"id":"22a65cea-b96f-44fa-a1e2-008885d7bd2e","name":"listTeams0","properties":{"spec":{"connectionId":"11111111-2222-3333-4444-555555555555","fqn":"com.datadoghq.dd.teams.listTeams","inputs":{}}},"type":"action"}],"rootInstanceName":"grid0","selfService":false,"tags":[]},"type":"appDefinitions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/app-builder/apps
        method: POST
      response:
        body: '{"data":{"id":"4bc4239d-65e3-41e4-a461-cf75a9f57a1f","type":"appDefinitions"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 422.79325ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/4bc4239d-65e3-41e4-a461-cf75a9f57a1f/deployment
        method: POST
      response:
        body: '{"data":{"id":"c3e9dde3-5fca-494c-9a47-5d3b50d64012","type":"deployment","attributes":{"app_version_id":"44b9adc8-cd6f-4ce6-9997-6d0d0137b173"},"meta":{"created_at":"2025-03-26T03:26:30.076808Z","user_id":1445416,"user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","user_name":"frog@datadoghq.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 255.033584ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/4bc4239d-65e3-41e4-a461-cf75a9f57a1f
        method: GET
      response:
        body: '{"data":{"id":"4bc4239d-65e3-41e4-a461-cf75a9f57a1f","type":"appDefinitions","attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[]},"type":"grid"}],"description":"Created using the Datadog provider in Terraform.","favorite":false,"name":"tf-TestAccDatadogAppBuilderAppDataSource_Inline_WithOptionalFields-local-1742959587","queries":[{"id":"22a65cea-b96f-44fa-a1e2-008885d7bd2e","name":"listTeams0","type":"action","properties":{"spec":{"connectionId":"11111111-2222-3333-4444-555555555555","fqn":"com.datadoghq.dd.teams.listTeams","inputs":{}}}}],"rootInstanceName":"grid0","selfService":false,"tags":[]},"relationships":{"deployment":{"data":{"id":"c3e9dde3-5fca-494c-9a47-5d3b50d64012","type":"deployment"},"meta":{"created_at":"2025-03-26T03:26:30.076808Z","user_id":1445416,"user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","user_name":"frog@datadoghq.com"}}},"meta":{"org_id":321813,"user_id":1445416,"user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","user_name":"frog@datadoghq.com","version":1,"updated_since_deployment":false,"created_at":"2025-03-26T03:26:29.803303Z","updated_at":"2025-03-26T03:26:29.803303Z","deleted_at":"0001-01-01T00:00:00Z"}},"included":[{"id":"c3e9dde3-5fca-494c-9a47-5d3b50d64012","type":"deployment","attributes":{"app_version_id":"44b9adc8-cd6f-4ce6-9997-6d0d0137b173"},"meta":{"created_at":"2025-03-26T03:26:30.076808Z","user_id":1445416,"user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","user_name":"frog@datadoghq.com"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 163.395709ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/4bc4239d-65e3-41e4-a461-cf75a9f57a1f
        method: GET
      response:
        body: '{"errors":[{"title":"app not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 80.322209ms
