---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/azure/12345678-1234-1234-1234-123456789012
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"no azure scan options found for subscription 12345678-1234-1234-1234-123456789012"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 438.482459ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"compliance_host":true,"vuln_containers_os":true,"vuln_host_os":true},"id":"12345678-1234-1234-1234-123456789012","type":"azure_scan_options"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/azure
        method: POST
      response:
        body: '{"data":{"id":"12345678-1234-1234-1234-123456789012","type":"azure_scan_options","attributes":{"compliance_host":true,"vuln_containers_os":true,"vuln_host_os":true}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 138.125042ms
[...]
