---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Team description","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-175861937901","name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-175861937901"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"c63b1e80-cf11-4f4f-9930-25e2fc14da07","attributes":{"name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-175861937901","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-175861937901","summary":"Team description","description":"Team description","avatar":null,"banner":12,"visible_modules":[],"hidden_modules":[],"created_at":"2025-09-23T09:23:03.220773+00:00","modified_at":"2025-09-23T09:23:03.220797+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/c63b1e80-cf11-4f4f-9930-25e2fc14da07/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/c63b1e80-cf11-4f4f-9930-25e2fc14da07/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 319.688083ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team?filter%5Bkeyword%5D=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17586193790&page%5Bnumber%5D=0&page%5Bsize%5D=10&sort=name
        method: GET
      response:
        body: '{"data":[{"id":"c63b1e80-cf11-4f4f-9930-25e2fc14da07","type":"team","attributes":{"created_at":"2025-09-23T09:23:03.220773+00:00","description":"Team description","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-175861937901","is_managed":false,"link_count":0,"modified_at":"2025-09-23T09:23:03.220797+00:00","name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-175861937901","summary":"Team description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/c63b1e80-cf11-4f4f-9930-25e2fc14da07/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/c63b1e80-cf11-4f4f-9930-25e2fc14da07/permission-settings"}}}}],"meta":{"pagination":{"type":"number_size","number":0,"size":10,"total":1,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/team?filter%5Bkeyword%5D=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17586193790\u0026page%5Bnumber%5D=0\u0026page%5Bsize%5D=10\u0026sort=name","first":"https://api.datadoghq.com/api/v2/team?filter[keyword]=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17586193790\u0026page[number]=0\u0026page[size]=10\u0026sort=name","last":"https://api.datadoghq.com/api/v2/team?filter[keyword]=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17586193790\u0026page[number]=0\u0026page[size]=10\u0026sort=name"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 184.505208ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/a6103c1e-3c3c-456c-aa81-4596518f9f13
        method: GET
      response:
        body: '{"data":{"id":"a6103c1e-3c3c-456c-aa81-4596518f9f13","type":"team","attributes":{"created_at":"2025-09-23T09:23:03.221920+00:00","description":"Team description","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17586193791","is_managed":false,"link_count":0,"modified_at":"2025-09-23T09:23:03.221929+00:00","name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17586193791","summary":"Team description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/a6103c1e-3c3c-456c-aa81-4596518f9f13/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/a6103c1e-3c3c-456c-aa81-4596518f9f13/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 140.922917ms
[...]
