---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccteamnotificationrulebasic-local-1768303504","name":"tf-testaccteamnotificationrulebasic-local-1768303504"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"5453277b-2b83-493e-99f5-bb2e45f6df4e","type":"team","attributes":{"avatar":null,"banner":7,"created_at":"2026-01-13T11:25:07.463882+00:00","description":"Example team","handle":"tf-testaccteamnotificationrulebasic-local-1768303504","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-13T11:25:07.463882+00:00","name":"tf-testaccteamnotificationrulebasic-local-1768303504","summary":"Example team","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/5453277b-2b83-493e-99f5-bb2e45f6df4e/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/5453277b-2b83-493e-99f5-bb2e45f6df4e/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 574.193ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"channel":"#test-channel","workspace":"Datadog"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/5453277b-2b83-493e-99f5-bb2e45f6df4e/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"b9d7b933-8840-47d1-a72d-783e06769ae1","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 212.934084ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/5453277b-2b83-493e-99f5-bb2e45f6df4e/notification-rules/b9d7b933-8840-47d1-a72d-783e06769ae1
        method: GET
      response:
        body: '{"data":{"id":"b9d7b933-8840-47d1-a72d-783e06769ae1","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 155.346375ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/5453277b-2b83-493e-99f5-bb2e45f6df4e
        method: GET
      response:
        body: '{"data":{"id":"5453277b-2b83-493e-99f5-bb2e45f6df4e","type":"team","attributes":{"created_at":"2026-01-13T11:25:07.463882+00:00","description":"Example team","handle":"tf-testaccteamnotificationrulebasic-local-1768303504","is_managed":false,"link_count":0,"modified_at":"2026-01-13T11:25:07.463882+00:00","name":"tf-testaccteamnotificationrulebasic-local-1768303504","summary":"Example team","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/5453277b-2b83-493e-99f5-bb2e45f6df4e/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/5453277b-2b83-493e-99f5-bb2e45f6df4e/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 139.469041ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/5453277b-2b83-493e-99f5-bb2e45f6df4e/notification-rules/b9d7b933-8840-47d1-a72d-783e06769ae1
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 152.03475ms
