---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"exclude_tags_mode":true,"metric_type":"gauge","tags":["env"]},"id":"tf_TestAccDatadogMetricTagConfiguration_ExcludeTagsMode_local_1768598212","type":"manage_tags"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_ExcludeTagsMode_local_1768598212/tags
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"manage_tags","id":"tf_TestAccDatadogMetricTagConfiguration_ExcludeTagsMode_local_1768598212","attributes":{"tags":["env"],"created_at":"2026-01-16T21:16:58.297214+00:00","modified_at":"2026-01-16T21:16:58.297214+00:00","metric_type":"gauge","aggregations":[{"time":"sum","space":"sum"}],"exclude_tags_mode":true}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 353.208958ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_ExcludeTagsMode_local_1768598212/tags
        method: GET
      response:
            - chunked
        body: |
            {"errors":["tf_TestAccDatadogMetricTagConfiguration_ExcludeTagsMode_local_1768598212 not found"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 94.916209ms
