---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"0fb93c59-0792-4293-b309-d952a314d0f2","attributes":{"name":"my group","is_enabled":true,"filter":{"query":"*"},"product_list":["logs"],"description":"","samplings":[]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":252572}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 419.31075ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1731509167","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"0fb93c59-0792-4293-b309-d952a314d0f2","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"54c68c4a-84cb-46ad-97fa-da7b816d116a","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1731509167","namespaces":[],"excluded_namespaces":["username"],"pattern":"regex","text_replacement":{"type":"none"},"tags":["sensitive_data:true"],"labels":[],"is_enabled":true,"description":"a description"},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"0fb93c59-0792-4293-b309-d952a314d0f2","type":"sensitive_data_scanner_group"}}}},"meta":{"version":252573}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.1965ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","attributes":{},"type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"xdfyyx1FSzqEaNwOpqhsFw","type":"sensitive_data_scanner_group"},{"id":"TaGOHR22Smiz8EWCJmfUvA","type":"sensitive_data_scanner_group"},{"id":"EXHsPd7aRE2XfaFi26AMXg","type":"sensitive_data_scanner_group"},{"id":"9ZSFF7uGREyPZwjPRR7yOw","type":"sensitive_data_scanner_group"},{"id":"sDKyWbfXQA6NGGwXEgNgMA","type":"sensitive_data_scanner_group"},{"id":"0QvFjxASTxK2VgAIXOgGnQ","type":"sensitive_data_scanner_group"},{"id":"oUiAzxBFR3qcKjGWtYX_7g","type":"sensitive_data_scanner_group"},{"id":"ppjqNwZxQqG9gb6iTXcNTw","type":"sensitive_data_scanner_group"},{"id":"d911f970-2c9a-471c-8546-78c5218a9a36","type":"sensitive_data_scanner_group"},{"id":"0fb93c59-0792-4293-b309-d952a314d0f2","type":"sensitive_data_scanner_group"}]}}},"meta":{"version":252573,"count_limit":100,"group_count_limit":20,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"has_cascading_enabled":false,"is_configuration_superseded":false},"included":[{"id":"xdfyyx1FSzqEaNwOpqhsFw","attributes":{"name":"my-test-group","is_enabled":false,"filter":{"query":"*"},"product_list":["logs"],"samplings":[]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},{"id":"TaGOHR22Smiz8EWCJmfUvA","attributes":{"name":"my-test-group","is_enabled":false,"filter":{"query":"*"},"product_list":["[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/54c68c4a-84cb-46ad-97fa-da7b816d116a
        method: DELETE
      response:
        body: |
            {"meta":{"version":252574}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.564292ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my group","product_list":["logs"]},"id":"0fb93c59-0792-4293-b309-d952a314d0f2","type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/0fb93c59-0792-4293-b309-d952a314d0f2
        method: PATCH
      response:
        body: |
            {"meta":{"version":252575}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.868833ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1731509167","namespaces":[],"pattern":"regex","priority":1,"tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"relationships":{"group":{"data":{"id":"0fb93c59-0792-4293-b309-d952a314d0f2","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"2f9876e7-8d8d-455a-8c50-827bf1544db8","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1731509167","namespaces":[],"excluded_namespaces":["email"],"pattern":"regex","text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"},"tags":["sensitive_data:true"],"labels":[],"is_enabled":false,"description":"another description","priority":1,"included_keyword_configuration":{"keywords":["credit card","cc"],"character_count":20}},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"0fb93c59-0792-4293-b309-d952a314d0f2","type":"sensitive_data_scanner_group"}}}},"meta":{"version":252576}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.281834ms
[...]
