---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"new@example.com","name":"testTerraformServiceAccountApplicationKeys","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"989e6469-0546-11ee-b72e-7e853ad36b41","attributes":{"name":"testTerraformServiceAccountApplicationKeys","handle":"989e6469-0546-11ee-b72e-7e853ad36b41","created_at":"2023-06-07T15:18:46.143679+00:00","modified_at":"2023-06-07T15:18:46.148198+00:00","email":"new@example.com","icon":"https://secure.gravatar.com/avatar/b681d72feaf8bf6a93d9a8ab86679ec3?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestServiceAccountApplicationKeyBasic_import-local-1686151124"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts/989e6469-0546-11ee-b72e-7e853ad36b41/application_keys
    method: POST
  response:
    body: |
      {"data":{"type":"application_keys","id":"bf0228c6-9c52-473e-b7df-9ab8052aa65f","attributes":{"name":"tf-TestServiceAccountApplicationKeyBasic_import-local-1686151124","created_at":"2023-06-07T15:18:46.343083+00:00","last4":"741a","key":"9e719ae23da03096f0679d65fb8f650d701c741a","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"989e6469-0546-11ee-b72e-7e853ad36b41"}},"leak_information":{"data":null}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/989e6469-0546-11ee-b72e-7e853ad36b41
    method: GET
  response:
    body: |
      {"data":{"type":"users","id":"989e6469-0546-11ee-b72e-7e853ad36b41","attributes":{"name":"testTerraformServiceAccountApplicationKeys","handle":"989e6469-0546-11ee-b72e-7e853ad36b41","created_at":"2023-06-07T15:18:46.143679+00:00","modified_at":"2023-06-07T15:18:46.148198+00:00","email":"new@example.com","icon":"https://secure.gravatar.com/avatar/b681d72feaf8bf6a93d9a8ab86679ec3?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/service_accounts/989e6469-0546-11ee-b72e-7e853ad36b41/application_keys/bf0228c6-9c52-473e-b7df-9ab8052aa65f
    method: GET
  response:
    body: |
      {"data":{"type":"application_keys","id":"bf0228c6-9c52-473e-b7df-9ab8052aa65f","attributes":{"name":"tf-TestServiceAccountApplicationKeyBasic_import-local-1686151124","created_at":"2023-06-07T15:18:46.343083+00:00","last4":"741a","scopes":null},"relationships":{"leak_information":{"data":null}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
