---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1740563744","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"svf-phv-69x","title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1740563744","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/svf-phv-69x/tf-testaccdatadogdashboardrbacupdatetoadmin-local-1740563744","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":3091111037154260}],"notify_list":[],"created_at":"2025-02-26T09:55:47.003762+00:00","modified_at":"2025-02-26T09:55:47.003762+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 560.967416ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/svf-phv-69x
        method: GET
      response:
            - chunked
        body: |
            {"id":"svf-phv-69x","title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1740563744","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/svf-phv-69x/tf-testaccdatadogdashboardrbacupdatetoadmin-local-1740563744","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":3091111037154260}],"notify_list":[],"created_at":"2025-02-26T09:55:47.003762+00:00","modified_at":"2025-02-26T09:55:47.003762+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.33125ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/svf-phv-69x
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"svf-phv-69x"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.559ms
