---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"api_key":"tf-TestAccIntegrationConfluentResourceBasic-local-1689771990","api_secret":"test-api-secret-123"},"type":"confluent-cloud-accounts"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts
    method: POST
  response:
    body: |
      {"data":{"type":"confluent-cloud-accounts","attributes":{"api_key":"tf-TestAccIntegrationConfluentResourceBasic-local-1689771990","tags":[],"resources":[]},"id":"2a0678a7aa64a3ac636319e7e0c2ad57"}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"enable_custom_metrics":false,"resource_type":"kafka","tags":["mytag","mytag2:myvalue"]},"id":"12345678910","type":"confluent-cloud-resources"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/2a0678a7aa64a3ac636319e7e0c2ad57/resources
    method: POST
  response:
    body: |
      {"data":{"type":"confluent-cloud-resources","attributes":{"tags":["mytag","mytag2:myvalue"],"resource_type":"kafka","enable_custom_metrics":false},"id":"12345678910"}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/2a0678a7aa64a3ac636319e7e0c2ad57
    method: GET
  response:
    body: |
      {"data":{"type":"confluent-cloud-accounts","attributes":{"resources":[{"id":"12345678910","enable_custom_metrics":false,"tags":["mytag","mytag2:myvalue"],"resource_type":"kafka"}],"api_key":"tf-TestAccIntegrationConfluentResourceBasic-local-1689771990","tags":[]},"id":"2a0678a7aa64a3ac636319e7e0c2ad57"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/2a0678a7aa64a3ac636319e7e0c2ad57/resources/12345678910
    method: GET
  response:
    body: |
      {"data":{"type":"confluent-cloud-resources","id":"12345678910","attributes":{"enable_custom_metrics":false,"resource_type":"kafka","tags":["mytag","mytag2:myvalue"]}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
