---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/metrics/foo
        method: GET
      response:
            - chunked
        body: |
            {"description":"some description","short_name":"short name for metric_metadata foo","integration":null,"statsd_interval":1,"per_unit":"second","type":"gauge","unit":"byte"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 429.484167ms
[...]
