---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogusersdatasourcefilterstatus-local-17048377891@example.com","name":"user 1"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"e0d980bf-af3a-11ee-937b-1a5dcbd34ca4","attributes":{"name":"user 1","handle":"tf-testaccdatadogusersdatasourcefilterstatus-local-17048377891@example.com","created_at":"2024-01-09T22:03:11.037895+00:00","modified_at":"2024-01-09T22:03:11.037895+00:00","email":"tf-testaccdatadogusersdatasourcefilterstatus-local-17048377891@example.com","icon":"https://secure.gravatar.com/avatar/88326323bf736e54184d12e584eb0da9?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 661.038958ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"e0d84ff0-af3a-11ee-b8ef-6ad29c6b09a1","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"e1208be8-af3a-11ee-a656-da7ad0900002","attributes":{"uuid":"e1208be8-af3a-11ee-a656-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2024-01-09T22:03:11.503327+00:00","expires_at":"2024-01-11T22:03:11.304773+00:00"},"relationships":{"user":{"data":{"type":"users","id":"e0d84ff0-af3a-11ee-b8ef-6ad29c6b09a1"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 408.065625ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=user+0&filter%5Bstatus%5D=Pending&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"d067c10e-9ff5-11ee-984c-a64f775a818e","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcebasic-local-17031588580@example.com","created_at":"2023-12-21T11:41:00.732878+00:00","modified_at":"2023-12-21T11:41:00.732878+00:00","email":"tf-testaccdatadogusersdatasourcebasic-local-17031588580@example.com","icon":"https://secure.gravatar.com/avatar/1703a2c2bf09c3f741d91cd3aa92ac44?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},{"type":"users","id":"fad73daf-a014-11ee-875f-82008b9f90c4","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcebasic-local-17031722440@example.com","created_at":"2023-12-21T15:24:06.326448+00:00","modified_at":"2023-12-21T15:24:06.326448+00:00","email":"tf-testaccdatadogusersdatasourcebasic-local-17031722440@example.com","icon":"https://secure.gravatar.com[...]
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/e0d84ff0-af3a-11ee-b8ef-6ad29c6b09a1
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"e0d84ff0-af3a-11ee-b8ef-6ad29c6b09a1","attributes":{"name":"user 2","handle":"tf-testaccdatadogusersdatasourcefilterstatus-local-17048377892@example.com","created_at":"2024-01-09T22:03:11.030093+00:00","modified_at":"2024-01-09T22:03:11.030093+00:00","email":"tf-testaccdatadogusersdatasourcefilterstatus-local-17048377892@example.com","icon":"https://secure.gravatar.com/avatar/092943fc0c4f0360683b8514610725fb?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.344209ms
[...]
