---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardNote_import-local-1767989273","widgets":[{"definition":{"background_color":"green","content":"This is a note widget","font_size":"18","has_padding":true,"show_tick":true,"text_align":"center","tick_edge":"bottom","tick_pos":"50%","type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"vsf-bnn-j8z","title":"tf-TestAccDatadogDashboardNote_import-local-1767989273","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/vsf-bnn-j8z/tf-testaccdatadogdashboardnoteimport-local-1767989273","template_variables":[],"widgets":[{"definition":{"background_color":"green","content":"This is a note widget","font_size":"18","has_padding":true,"show_tick":true,"text_align":"center","tick_edge":"bottom","tick_pos":"50%","type":"note"},"id":1184637669810983}],"notify_list":[],"created_at":"2026-01-09T20:07:54.489565+00:00","modified_at":"2026-01-09T20:07:54.489565+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.889625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/vsf-bnn-j8z
        method: GET
      response:
            - chunked
        body: '{"id":"vsf-bnn-j8z","title":"tf-TestAccDatadogDashboardNote_import-local-1767989273","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/vsf-bnn-j8z/tf-testaccdatadogdashboardnoteimport-local-1767989273","template_variables":[],"widgets":[{"definition":{"background_color":"green","content":"This is a note widget","font_size":"18","has_padding":true,"show_tick":true,"text_align":"center","tick_edge":"bottom","tick_pos":"50%","type":"note"},"id":1184637669810983}],"notify_list":[],"created_at":"2026-01-09T20:07:54.489565+00:00","modified_at":"2026-01-09T20:07:54.489565+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.113708ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/vsf-bnn-j8z
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"vsf-bnn-j8z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 379.54275ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/vsf-bnn-j8z
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID vsf-bnn-j8z not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 96.97725ms
