---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","type":"text"}],"request":{"basicAuth":{"password":"password","type":"web","username":"username"},"body":"this is a body","certificateDomains":["https://datadoghq.com"],"headers":{},"method":"GET","proxy":{"headers":{},"url":"https://proxy.url"},"timeout":30,"url":"https://www.datadoghq.com"},"setCookie":"name=value","variables":[{"example":"597","name":"MY_PATTERN_VAR","pattern":"{{numeric(3)}}","type":"text"}]},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsBrowserTest_Basic-local-1666187558","options":{"ci":{"executionRule":"blocking"},"device_ids":["laptop_large","mobile_small"],"disableCors":true,"disableCsp":true,"ignoreServerCertificateError":true,"initialNavigationTimeout":150,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsBrowserTest_Basic-local-1666187558-monitor","monitor_options":{"renotify_interval":120},"monitor_priority":5,"noScreenshot":true,"restricted_roles":["abc"],"retry":{"count":2,"interval":300},"rumSettings":{"applicationId":"rum-app-id","clientTokenId":12345,"isEnabled":true},"tick_every":900},"status":"paused","steps":[{"allowFailure":true,"isCritical":true,"name":"first step","params":{"check":"contains","value":"content"},"timeout":0,"type":"assertCurrentUrl"}],"tags":["foo:bar","baz"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
    method: POST
  response:
    body: |
      {"status":"paused","public_id":"i7u-67k-fv6","tags":["foo:bar","baz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","deleted_at":null,"name":"tf-TestAccDatadogSyntheticsBrowserTest_Basic-local-1666187558","monitor_id":100397921,"type":"browser","created_at":"2022-10-19T13:52:39.693838+00:00","modified_at":"2022-10-19T13:52:39.693838+00:00","steps":[{"name":"first step","allowFailure":true,"params":{"check":"contains","value":"content"},"timeout":0,"isCritical":true,"type":"assertCurrentUrl"}],"config":{"variables":[{"pattern":"{{numeric(3)}}","type":"text","example":"597","name":"MY_PATTERN_VAR"}],"setCookie":"name=value","request":{"body":"this is a body","url":"https://www.datadoghq.com","certificateDomains":["https://datadoghq.com"],"basicAuth":{"username":"username","password":"password","type":"web"},"headers":{},"proxy":{"url":"https://proxy.url","headers":{}},"timeout":30,"method":"GET"},"assertions":[],"configVariables":[{"pattern":"{{numeric(3)}}","type":"text","example":"123","name":"VARIABLE_NAME"}]},"options":{"restricted_roles":["abc"],"ci":{"executionRule":"blocking"},"retry":{"count":2,"interval":300},"min_location_failed":1,"monitor_options":{"include_tags":true,"renotify_interval":120,"notify_audit":false,"new_host_delay":300,"on_missing_data":"show_no_data"},"noScreenshot":true,"disableCsp":true,"monitor_priority":5,"initialNavigationTimeout":150,"disableCors":true,"rumSettings":{"isEnabled":true,"applicationId":"rum-app-id","clientTokenId":12345},"device_ids":["laptop_large","mobile_small"],"monitor_name":"tf-TestAccDatadogSyntheticsBrowserTest_Basic-local-1666187558-monitor","tick_every":900,"ignoreServerCertificateError":true}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser/i7u-67k-fv6
    method: GET
  response:
    body: |
      {"status":"paused","public_id":"i7u-67k-fv6","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsBrowserTest_Basic-local-1666187558","monitor_id":100397921,"type":"browser","created_at":"2022-10-19T13:52:39.693838+00:00","creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"modified_at":"2022-10-19T13:52:39.693838+00:00","steps":[{"name":"first step","allowFailure":true,"params":{"check":"contains","value":"content"},"timeout":0,"isCritical":true,"type":"assertCurrentUrl"}],"config":{"variables":[{"pattern":"{{numeric(3)}}","type":"text","example":"597","name":"MY_PATTERN_VAR"}],"setCookie":"name=value","request":{"body":"this is a body","url":"https://www.datadoghq.com","certificateDomains":["https://datadoghq.com"],"basicAuth":{"username":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/i7u-67k-fv6
    method: GET
  response:
    body: |
      {"status":"paused","public_id":"i7u-67k-fv6","tags":["foo:bar","baz"],"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsBrowserTest_Basic-local-1666187558","monitor_id":100397921,"type":"browser","created_at":"2022-10-19T13:52:39.693838+00:00","creator":{"handle":"frog@datadoghq.co[...]
[...]
- request:
    body: |
      {"public_ids":["i7u-67k-fv6"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: |
      {"deleted_tests":[{"deleted_at":"2022-10-19T13:52:41.445933+00:00","public_id":"i7u-67k-fv6"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/i7u-67k-fv6
    method: GET
  response:
    body: '{"errors":["Synthetics test not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
