---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPoliciesDataSource_Basic-local-1776891565"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019db6fd-9922-77a6-a005-83731cc13809","type":"org_groups","attributes":{"created_at":"2026-04-22T20:59:26.37Z","modified_at":"2026-04-22T20:59:26.372261Z","name":"tf-TestAccDatadogOrgGroupPoliciesDataSource_Basic-local-1776891565","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 86.913162ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","policy_name":"is_widget_copy_paste_enabled"},"relationships":{"org_group":{"data":{"id":"019db6fd-9922-77a6-a005-83731cc13809","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019db6fd-9984-7c93-8e07-77c381f2a351","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-22T20:59:26.469822Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db6fd-9922-77a6-a005-83731cc13809","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 93.740595ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies?filter%5Borg_group_id%5D=019db6fd-9922-77a6-a005-83731cc13809&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019db6fd-9984-7c93-8e07-77c381f2a351","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-22T20:59:26.469822Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db6fd-9922-77a6-a005-83731cc13809","type":"org_groups"}}}},{"id":"019db6fd-9988-7065-b477-919ea2b7e177","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-22T20:59:26.47342Z","policy_name":"is_dashboard_reports_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db6fd-9922-77a6-a005-83731cc13809","type":"org_groups"}}}}],"meta":{"page":{"type":"number_size","number":0,"size":100,"total":2,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/org_group_policies?filter%5Borg_group_id%5D=019db6fd-9922-77a6-a005-83731cc13809\u0026page%5Bnumber%5D=0\u0026page%5Bsize%5D=100","first":"https://api.datadoghq.com/api/v2/org_group_policies?filter[org_group_id]=019db6fd-9922-77a6-a005-83731cc13809\u0026page[number]=0\u0026page[size]=100","last":"https://api.datadoghq.com/api/v2/org_group_policies?filter[org_group_id]=019db6fd-9922-77a6-a005-83731cc13809\u0026page[number]=0\u0026page[size]=100"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 124.817879ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies?filter%5Borg_group_id%5D=019db6fd-9922-77a6-a005-83731cc13809&filter%5Bpolicy_name%5D=is_widget_copy_paste_enabled&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019db6fd-9984-7c93-8e07-77c381f2a351","type":"org_group_policies","attributes":{"content":{"org_config":f[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db6fd-9922-77a6-a005-83731cc13809
        method: GET
      response:
        body: '{"data":{"id":"019db6fd-9922-77a6-a005-83731cc13809","type":"org_groups","attributes":{"created_at":"2026-04-22T20:59:26.37Z","modified_at":"2026-04-22T20:59:26.372261Z","name":"tf-TestAccDatadogOrgGroupPoliciesDataSource_Basic-local-1776891565","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 71.618721ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019db6fd-9984-7c93-8e07-77c381f2a351
        method: GET
      response:
        body: '{"data":{"id":"019db6fd-9984-7c93-8e07-77c381f2a351","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-22T20:59:26.469822Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db6fd-9922-77a6-a005-83731cc13809","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 56.47005ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019db6fd-9988-7065-b477-919ea2b7e177
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"policy 019db6fd-9988-7065-b477-919ea2b7e177 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 57.162691ms
[...]
