---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplication_Basic-local-1758891998","type":"browser"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"updated_by_handle":"frog@datadoghq.com","updated_at":1758892000352,"name":"tf-TestAccDatadogRUMApplication_Basic-local-1758891998","api_key_id":658974,"product_analytics_replay_sample_rate":100,"application_id":"b25f4e84-f500-43ab-b765-f89517b64d34","product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1758892000352},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1758892000352}},"org_id":569509,"ootb_metrics_installed":false,"short_name":"tf_testaccdatadogrumapplication__25","client_token":"pub196b328756551a99d7099f716484243c","tags":[],"type":"browser","created_at":1758892000352,"is_active":false,"created_by_handle":"frog@datadoghq.com","hash":"pub196b328756551a99d7099f716484243c"},"id":"b25f4e84-f500-43ab-b765-f89517b64d34"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 614.613209ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/b25f4e84-f500-43ab-b765-f89517b64d34
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"product_analytics_replay_sample_rate":100,"updated_at":1758892000352,"application_id":"b25f4e84-f500-43ab-b765-f89517b64d34","created_at":1758892000352,"short_name":"tf_testaccdatadogrumapplication__25","product_scales":{"product_analytics_retention_scale":{"last_modified_at":1758892000352,"state":"NONE"},"rum_event_processing_scale":{"last_modified_at":1758892000352,"state":"ALL"}},"updated_by_handle":"frog@datadoghq.com","tags":[],"hash":"pub196b328756551a99d7099f716484243c","type":"browser","client_token":"pub196b328756551a99d7099f716484243c","org_id":569509,"api_key_id":658974,"ootb_metrics_installed":false,"name":"tf-TestAccDatadogRUMApplication_Basic-local-1758891998","is_active":false,"created_by_handle":"frog@datadoghq.com"},"id":"b25f4e84-f500-43ab-b765-f89517b64d34"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.426333ms
[...]
