---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/org
        method: GET
      response:
        body: |
            {"orgs":[{"public_id":"ff4a8255-6931-58d1-add0-a6b3602d5421","name":"Org Mgmt Root","description":null,"created":"2026-02-04 23:00:24","subscription":{"id":null,"billing_plan_id":8,"started":1770246024,"expires":null,"finished":null,"type":"dogfood","is_custom":false,"is_trial":false,"is_expired":true},"billing":{},"settings":{"default_landing_page":"Dashboard Lists","saml":{"enabled":false},"saml_can_be_enabled":false,"saml_login_url":null,"saml_idp_metadata_uploaded":false,"saml_idp_endpoint":null,"saml_idp_metadata_valid_until":null,"custom_landing_page":null,"saml_idp_initiated_login":{"enabled":false},"saml_strict_mode":{"enabled":false},"saml_autocreate_access_role":"st","saml_autocreate_users_domains":{"enabled":false,"domains":[]},"private_widget_share":true,"manage_reports":"false"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 524.908059ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_memberships?filter%5Borg_uuid%5D=ff4a8255-6931-58d1-add0-a6b3602d5421
        method: GET
      response:
        body: '{"data":[{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-04-22T18:03:57.104592Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019c2ae2-b05d-7cc9-aa88-38e1f26b7a0d","type":"org_groups"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 31.305628ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicyOverride_AutoCreation-local-1776881059"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019db65d-4cd9-74cd-b113-3a1be6f986a3","type":"org_groups","attributes":{"created_at":"2026-04-22T18:04:21.081Z","modified_at":"2026-04-22T18:04:21.084211Z","name":"tf-TestAccDatadogOrgGroupPolicyOverride_AutoCreation-local-1776881059","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 33.891801ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","relationships":{"org_group":{"data":{"id":"019db65d-4cd9-74cd-b113-3a1be6f986a3","type":"org_groups"}}},"type":"org_group_memberships"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_memberships/019c2ae2-b060-7954-8606-6fe2b42616c4
        method: PATCH
      response:
        body: '{"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-04-22T18:04:21.199336Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db65d-4cd9-74cd-b113-3a1be6f986a3","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 83.97623ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":true},"enforcement_tier":"ENFORCE","policy_name":"is_widget_copy_paste_enabled"},"relationships":{"org_group":{"data":{"id":"019db65d-4cd9-74cd-b113-3a1be6f986a3","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019db65d-4d7f-70bd-a530-7618e8b7fb2f","type":"org_group_policies","attributes":{"content":{"org_config":true},"enforced_at":"2026-04-22T18:04:21.248674Z","enforcement_tier":"ENFORCE","modified_at":"2026-04-22T18:04:21.248674Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db65d-4cd9-74cd-b113-3a1be6f986a3","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 67.593694ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db65d-4cd9-74cd-b113-3a1be6f986a3
        method: GET
      response:
        body: '{"data":{"id":"019db65d-4cd9-74cd-b113-3a1be6f986a3","type":"org_groups","attributes":{"created_at":"2026-04-22T18:04:21.081Z","modified_at":"2026-04-22T18:04:21.084211Z","name":"tf-TestAccDatadogOrgGroupPolicyOverride_AutoCreation-local-1776881059","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 37.418246ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019db65d-4d7f-70bd-a530-7618e8b7fb2f
        method: GET
      response:
        body: '{"data":{"id":"019db65d-4d7f-70bd-a530-7618e8b7fb2f","type":"org_group_policies","attributes":{"content":{"org_config":true},"enforced_at":"2026-04-22T18:04:21.248674Z","enforcement_tier":"ENFORCE","modified_at":"2026-04-22T18:04:21.248674Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db65d-4cd9-74cd-b113-3a1be6f986a3","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 42.118674ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019db65d-4cd9-74cd-b113-3a1be6f986a3&filter%5Bpolicy_id%5D=019db65d-5ca2-783e-b34e-392618c034aa
        method: GET
      response:
        body: '{"data":[{"id":"019db65d-5cad-73db-9004-f750d3472df0","type":"org_group_policy_overrides","attributes":{"content":{"org_config":true},"created_at":"2026-04-22T18:04:25.127737Z","modified_at":"2026-04-22T18:04:25.127737Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db65d-4cd9-74cd-b113-3a1be6f986a3","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db65d-5ca2-783e-b34e-392618c034aa","type":"org_group_policies"}}}}],"meta":{"page":{"type":"number_size","number":0,"size":50,"total":1,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019db65d-4cd9-74cd-b113-3a1be6f986a3\u0026filter%5Bpolicy_id%5D=019db65d-5ca2-783e-b34e-392618c034aa","first":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019db65d-4cd9-74cd-b113-3a1be6f986a3\u0026filter[policy_id]=019db65d-5ca2-783e-b34e-392618c034aa\u0026page[number]=0\u0026page[size]=50","last":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019db65d-4cd9-74cd-b113-3a1be6f986a3\u0026filter[policy_id]=019db65d-5ca2-783e-b34e-392618c034aa\u0026page[number]=0\u0026page[size]=50"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 47.651937ms
[...]
    - id: 20
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides/019db65d-5cad-73db-9004-f750d3472df0
        method: GET
      response:
        body: '{"data":{"id":"019db65d-5cad-73db-9004-f750d3472df0","type":"org_group_policy_overrides","attributes":{"created_at":"2026-04-22T18:04:25.127737Z","modified_at":"2026-04-22T18:04:25.127737Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db65d-4cd9-74cd-b113-3a1be6f986a3","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db65d-5ca2-783e-b34e-392618c034aa","type":"org_group_policies"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 47.680093ms
[...]
