---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSplitGraph-local-1758619277","widgets":[{"definition":{"has_uniform_y_axes":false,"size":"md","source_widget_definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"thin","palette":"dog_classic"}}],"show_legend":false,"title":"system.cpu.user","title_align":"left","title_size":"16","type":"timeseries"},"split_config":{"limit":24,"sort":{"order":"asc"},"split_dimensions":[{"one_graph_per":"service"}]},"time":{"live_span":"5m"},"title":"Terraform Split Graph Widget","type":"split_group"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"6ir-mv7-u4m","title":"tf-TestAccDatadogDashboardSplitGraph-local-1758619277","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/6ir-mv7-u4m/tf-testaccdatadogdashboardsplitgraph-local-1758619277","template_variables":[],"widgets":[{"definition":{"has_uniform_y_axes":false,"size":"md","source_widget_definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"thin","palette":"dog_classic"}}],"show_legend":false,"title":"system.cpu.user","title_align":"left","title_size":"16","type":"timeseries"},"split_config":{"limit":24,"sort":{"order":"asc"},"split_dimensions":[{"one_graph_per":"service"}]},"time":{"live_span":"5m"},"title":"Terraform Split Graph Widget","type":"split_group"},"id":8827803249966339}],"notify_list":[],"created_at":"2025-09-23T09:21:19.672744+00:00","modified_at":"2025-09-23T09:21:19.672744+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.740834ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/6ir-mv7-u4m
        method: GET
      response:
        body: '{"id":"6ir-mv7-u4m","title":"tf-TestAccDatadogDashboardSplitGraph-local-1758619277","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/6ir-mv7-u4m/tf-testaccd[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/6ir-mv7-u4m
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"6ir-mv7-u4m"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.523125ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/6ir-mv7-u4m
        method: GET
      response:
        body: '{"errors":["Dashboard with ID 6ir-mv7-u4m not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 295.990791ms
