---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"compression":{"algorithm":"gzip","level":6},"encoding":"json","id":"crowdstrike-dest-1","inputs":["source-1"],"tls":{"ca_file":"/path/to/ca.crt","crt_file":"/path/to/cert.crt","key_file":"/path/to/key.key"},"type":"crowdstrike_next_gen_siem"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"crowdstrike-next-gen-siem-destination-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"0e118b86-f20d-11f0-9e0c-da7ad0900002","type":"pipelines","attributes":{"name":"crowdstrike-next-gen-siem-destination-pipeline","config":{"destinations":[{"compression":{"algorithm":"gzip","level":6},"encoding":"json","id":"crowdstrike-dest-1","inputs":["source-1"],"tls":{"ca_file":"/path/to/ca.crt","crt_file":"/path/to/cert.crt","key_file":"/path/to/key.key"},"type":"crowdstrike_next_gen_siem"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 526.409ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/0e118b86-f20d-11f0-9e0c-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"0e118b86-f20d-11f0-9e0c-da7ad0900002","type":"pipelines","attributes":{"name":"crowdstrike-next-gen-siem-destination-pipeline","config":{"destinations":[{"compression":{"algorithm":"gzip","level":6},"encoding":"json","id":"crowdstrike-dest-1","inputs":["source-1"],"tls":{"ca_file":"/path/to/ca.crt","crt_file":"/path/to/cert.crt","key_file":"/path/to/key.key"},"type":"crowdstrike_next_gen_siem"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 323.426166ms
[...]
