version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardImage-local-1682003490","widgets":[{"definition":{"has_background":true,"has_border":true,"margin":"small","sizing":"fit","type":"image","url":"https://i.picsum.photos/id/826/200/300.jpg"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"h7b-d4w-4gc","title":"tf-TestAccDatadogDashboardImage-local-1682003490","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/h7b-d4w-4gc/tf-testaccdatadogdashboardimage-local-1682003490","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"has_background":true,"has_border":true,"margin":"small","sizing":"fit","type":"image","url":"https://i.picsum.photos/id/826/200/300.jpg"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":2274288145925383}],"notify_list":[],"created_at":"2023-04-20T15:11:32.247919+00:00","modified_at":"2023-04-20T15:11:32.247919+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/h7b-d4w-4gc
    method: GET
    id: 1
  response:
    body: |
      {"id":"h7b-d4w-4gc","title":"tf-TestAccDatadogDashboardImage-local-1682003490","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/h7b-d4w-4gc/tf-testaccdatadogdashboardimage-local-1682003490","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"has_background":true,"has_border":true,"margin":"small","sizing":"fit","type":"image","url":"https://i.picsum.photos/id/826/200/300.jpg"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":2274288145925383}],"notify_list":[],"created_at":"2023-04-20T15:11:32.247919+00:00","modified_at":"2023-04-20T15:11:32.247919+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/h7b-d4w-4gc
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"h7b-d4w-4gc"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/h7b-d4w-4gc
    method: GET
    id: 5
  response:
    body: '{"errors":["Dashboard with ID h7b-d4w-4gc not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
