---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            apiVersion: v3
            kind: service
            metadata:
              name: tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581
              displayName: tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581
              tags:
                - tag:value
              owner: owner.of.tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity
        method: POST
      response:
        body: '{"data":[{"id":"8d14cce6-8556-4453-a43c-33e9f55536a4","type":"entity","attributes":{"apiVersion":"v3","displayName":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","kind":"service","name":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","namespace":"default","owner":"owner.of.tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","tags":["tag:value"]},"relationships":{"schema":{"data":{"id":"8d14cce6-8556-4453-a43c-33e9f55536a4","type":"schema"}}},"meta":{"createdAt":"2025-09-23T09:09:41.966564617Z","modifiedAt":"2025-09-23T09:09:41.966564511Z","ingestionSource":"api"}}],"meta":{"count":1,"includeCount":1},"included":[{"id":"8d14cce6-8556-4453-a43c-33e9f55536a4","type":"schema","attributes":{"schema":{"apiVersion":"v3","kind":"service","metadata":{"name":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","namespace":"default","displayName":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","tags":["tag:value"],"owner":"owner.of.tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","managed":{"ingestionSource":"api","createdAt":"2025-09-23T09:09:41.966564617Z","modifiedAt":"2025-09-23T09:09:41.966564511Z"}}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 202 Accepted
        code: 202
        duration: 123.629916ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/catalog/entity?filter%5Bname%5D=tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581
        method: GET
      response:
        body: '{"data":[{"id":"8d14cce6-8556-4453-a43c-33e9f55536a4","type":"entity","attributes":{"apiVersion":"v3","displayName":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","kind":"service","name":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","namespace":"default","owner":"owner.of.tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","tags":["tag:value"]},"meta":{"createdAt":"2025-09-23T09:09:41.966564Z","modifiedAt":"2025-09-23T09:09:41.966564511Z","ingestionSource":"api"}}],"meta":{"count":1,"includeCount":0},"links":{"self":"/api/v2/catalog/entity?filter%5Bname%5D=tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 124.761666ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581&include=raw_schema
        method: GET
      response:
        body: '{"data":[{"id":"8d14cce6-8556-4453-a43c-33e9f55536a4","type":"entity","attributes":{"apiVersion":"v3","displayName":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","kind":"service","name":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","namespace":"default","owner":"owner.of.tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","tags":["tag:value"]},"relationships":{"rawSchema":{"data":{"id":"8d14cce6-8556-4453-a43c-33e9f55536a4","type":"rawSchema"}}},"meta":{"createdAt":"2025-09-23T09:09:41.966564Z","modifiedAt":"2025-09-23T09:09:41.966564511Z","ingestionSource":"api"}}],"meta":{"count":1,"includeCount":1},"links":{"self":"/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581\u0026include=raw_schema\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=0"},"included":[{"id":"8d14cce6-8556-4453-a43c-33e9f55536a4","type":"rawSchema","attributes":{"rawSchema":"LS0tCmFwaVZlcnNpb246IHYzCmtpbmQ6IHNlcnZpY2UKbWV0YWRhdGE6CiAgbmFtZTogdGZfVGVzdEFjY0RhdGFkb2dTb2Z0d2FyZUNhdGFsb2dFbnRpdHlfRGF0YXNvdXJjZV9sb2NhbF8xNzU4NjE4NTgxCiAgZGlzcGxheU5hbWU6IHRmX1Rlc3RBY2NEYXRhZG9nU29mdHdhcmVDYXRhbG9nRW50aXR5X0RhdGFzb3VyY2VfbG9jYWxfMTc1ODYxODU4MQogIHRhZ3M6CiAgICAtIHRhZzp2YWx1ZQogIG93bmVyOiBvd25lci5vZi50Zl9UZXN0QWNjRGF0YWRvZ1NvZnR3YXJlQ2F0YWxvZ0VudGl0eV9EYXRhc291cmNlX2xvY2FsXzE3NTg2MTg1ODEK"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 123.155917ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/catalog/entity?filter%5Bname%5D=tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581&page%5Blimit%5D=100&page%5Boffset%5D=0
        method: GET
      response:
        body: '{"data":[{"id":"8d14cce6-8556-4453-a43c-33e9f55536a4","type":"entity","attributes":{"apiVersion":"v3","displayName":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","kind":"service","name":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","namespace":"default","owner":"owner.of.tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581","tags":["tag:value"]},"meta":{"createdAt":"2025-09-23T09:09:41.966564Z","modifiedAt":"2025-09-23T09:09:41.966564511Z","ingestionSource":"api"}}],"meta":{"count":1,"includeCount":0},"links":{"self":"/api/v2/catalog/entity?filter%5Bname%5D=tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 121.920959ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/catalog/entity/service:default/tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1758618581
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 129.972584ms
[...]
