---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicy_Basic-local-1776367546"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019d97c1-b48f-7a9c-9c3c-0e9f7f5dd594","type":"org_groups","attributes":{"created_at":"2026-04-16T19:25:47.535Z","modified_at":"2026-04-16T19:25:47.538247Z","name":"tf-TestAccDatadogOrgGroupPolicy_Basic-local-1776367546","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 35.58917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","policy_name":"is_widget_copy_paste_enabled"},"relationships":{"org_group":{"data":{"id":"019d97c1-b48f-7a9c-9c3c-0e9f7f5dd594","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019d97c1-b4d0-735a-8d9c-db5c4b76514e","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-16T19:25:47.603724Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019d97c1-b48f-7a9c-9c3c-0e9f7f5dd594","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 64.103396ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019d97c1-b4d0-735a-8d9c-db5c4b76514e
        method: GET
      response:
        body: '{"data":{"id":"019d97c1-b4d0-735a-8d9c-db5c4b76514e","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-16T19:25:47.603724Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019d97c1-b48f-7a9c-9c3c-0e9f7f5dd594","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 57.622764ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019d97c1-b48f-7a9c-9c3c-0e9f7f5dd594
        method: GET
      response:
        body: '{"data":{"id":"019d97c1-b48f-7a9c-9c3c-0e9f7f5dd594","type":"org_groups","attributes":{"created_at":"2026-04-16T19:25:47.535Z","modified_at":"2026-04-16T19:25:47.538247Z","name":"tf-TestAccDatadogOrgGroupPolicy_Basic-local-1776367546","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 67.605611ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":true},"enforcement_tier":"ENFORCE"},"id":"019d97c1-b4d0-735a-8d9c-db5c4b76514e","type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies/019d97c1-b4d0-735a-8d9c-db5c4b76514e
        method: PATCH
      response:
        body: '{"data":{"id":"019d97c1-b4d0-735a-8d9c-db5c4b76514e","type":"org_group_policies","attributes":{"content":{"org_config":true},"enforced_at":"2026-04-16T19:25:49.781954Z","enforcement_tier":"ENFORCE","modified_at":"2026-04-16T19:25:49.781954Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019d97c1-b48f-7a9c-9c3c-0e9f7f5dd594","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 69.422788ms
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019d97c1-c685-7631-933c-d34cb21371c7
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"policy 019d97c1-c685-7631-933c-d34cb21371c7 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 48.176887ms
