---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_noinvitation-local-1613469419@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"5035b0fc-703d-11eb-9351-da7ad0900002","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_noinvitation-local-1613469419@example.com","created_at":"2021-02-16T09:57:00.592512+00:00","email":"tf-testaccdatadoguser_noinvitation-local-1613469419@example.com","icon":"https://secure.gravatar.com/avatar/d36b1ba2fa9249d6c1f016bd0caf9eee?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.3913923"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/5035b0fc-703d-11eb-9351-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"5035b0fc-703d-11eb-9351-da7ad0900002","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_noinvitation-local-1613469419@example.com","created_at":"2021-02-16T09:57:00.592512+00:00","email":"tf-testaccdatadoguser_noinvitation-local-1613469419@example.com","icon":"https://secure.gravatar.com/avatar/d36b1ba2fa9249d6c1f016bd0caf9eee?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - "35.3913923"
    status: 200 OK
    code: 200
    duration: ""
[...]
