---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1755174628@example.com","name":"tf-TestAccServiceAccountDatasource-5635ddb0a68d130a","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"770a0f3a-790a-11f0-958a-4e9ff18b21fa","attributes":{"name":"tf-TestAccServiceAccountDatasource-5635ddb0a68d130a","handle":"770a0f3a-790a-11f0-958a-4e9ff18b21fa","created_at":"2025-08-14T12:30:30.226747+00:00","modified_at":"2025-08-14T12:30:30.226747+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1755174628@example.com","icon":"https://secure.gravatar.com/avatar/3409b4f3332a00bc6c1a781352e05ba7?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"a1391f74-eebe-11ef-a427-6a2b8e4c7763"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 644.632584ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-TestAccServiceAccountDatasource-5635ddb0a68d130a&page%5Bnumber%5D=0&page%5Bsize%5D=10
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"770a0f3a-790a-11f0-958a-4e9ff18b21fa","attributes":{"name":"tf-TestAccServiceAccountDatasource-5635ddb0a68d130a","handle":"770a0f3a-790a-11f0-958a-4e9ff18b21fa","created_at":"2025-08-14T12:30:30.226747+00:00","modified_at":"2025-08-14T12:30:30.226747+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1755174628@example.com","icon":"https://secure.gravatar.com/avatar/3409b4f3332a00bc6c1a781352e05ba7?s=48&d=retro","title":"","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"a1391f74-eebe-11ef-a427-6a2b8e4c7763"}}}}],"meta":{"page":{"total_count":36,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 289.943125ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/770a0f3a-790a-11f0-958a-4e9ff18b21fa
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"770a0f3a-790a-11f0-958a-4e9ff18b21fa","attributes":{"name":"tf-TestAccServiceAccountDatasource-5635ddb0a68d130a","handle":"770a0f3a-790a-11f0-958a-4e9ff18b21fa","created_at":"2025-08-14T12:30:30.226747+00:00","modified_at":"2025-08-14T12:30:30.226747+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1755174628@example.com","icon":"https://secure.gravatar.com/avatar/3409b4f3332a00bc6c1a781352e05ba7?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"a1391f74-eebe-11ef-a427-6a2b8e4c7763"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.078583ms
[...]
