---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1749223924","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2,"warning":1}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 413.724416ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1749223924","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2,"warning":1}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":174344348,"org_id":321813,"type":"metric alert","name":"tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1749223924","message":"some message Notify: @hipchat-channel","tags":[],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0,"warning":1.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1749223926000,"created":"2025-06-06T15:32:06.117098+00:00","modified":"2025-06-06T15:32:06.117098+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 924.145334ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"display_timezone":"","monitor_identifier":{"monitor_id":174344348},"mute_first_recovery_notification":false,"notify_end_types":[],"schedule":{"end":null,"start":"2050-01-02T03:04:05Z"},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1749223924)"},"type":"downtime"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/downtime
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"downtime","attributes":{"status":"scheduled","schedule":{"end":null,"start":"2050-01-02T03:04:05+00:00"},"mute_first_recovery_notification":false,"modified":"2025-06-06T15:32:07.073869+00:00","scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1749223924)","notify_end_types":[],"created":"2025-06-06T15:32:07.073869+00:00","monitor_identifier":{"monitor_id":174344348},"canceled":null,"message":null,"display_timezone":"UTC","notify_end_states":["alert","warn","no data"]},"id":"02304657-c8f4-4335-8d2f-5b04663cbee6","relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"monitor":{"data":{"type":"monitor","id":"174344348"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2025-05-06T01:37:11.870914+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}},{"type":"monitor","attributes":{"name":"tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1749223924"},"id":174344348}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 767.120042ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1749223924","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2,"warning":1}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/174344348/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.377333ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/174344348
        method: GET
      response:
            - chunked
        body: |
            {"id":174344348,"org_id":321813,"type":"metric alert","name":"tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1749223924","message":"some message Notify: @hipchat-channel","tags":[],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0,"warning":1.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1749223926000,"created":"2025-06-06T15:32:06.117098+00:00","modified":"2025-06-06T15:32:06.117098+00:00","deleted":null,"priority":null,"restricted_roles":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.813292ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/downtime/02304657-c8f4-4335-8d2f-5b04663cbee6
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"downtime","attributes":{"notify_end_types":[],"notify_end_states":["warn","no data","alert"],"schedule":{"end":null,"start":"2050-01-02T03:04:05+00:00"},"modified":"2025-06-06T15:32:07.073869+00:00","monitor_identifier":{"monitor_id":174344348},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1749223924)","display_timezone":"UTC","mute_first_recovery_notification":false,"created":"2025-06-06T15:32:07.073869+00:00","message":null,"canceled":null,"status":"scheduled"},"id":"02304657-c8f4-4335-8d2f-5b04663cbee6"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.415625ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/174344348
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":174344348}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 878.739083ms
