---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"lambda":true,"sensitive_data":false,"vuln_containers_os":true,"vuln_host_os":true},"id":"123456789012","type":"aws_scan_options"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws
        method: POST
      response:
        body: '{"errors":[{"status":"409","detail":"aws scan options already exist for account 123456789012"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 409 Conflict
        code: 409
        duration: 236.447667ms
