---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplication_ProductScales-local-1758619218","product_analytics_retention_state":"MAX","rum_event_processing_state":"ERROR_FOCUSED_MODE","type":"browser"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"updated_at":1758619219993,"client_token":"pubb5ea1f4101d90598bf152278698e74c6","created_by_handle":"frog@datadoghq.com","product_scales":{"rum_event_processing_scale":{"state":"ERROR_FOCUSED_MODE","last_modified_at":1758619219993},"product_analytics_retention_scale":{"state":"MAX","last_modified_at":1758619219993}},"application_id":"847a19a3-720c-4673-bee2-104e1c94a4c2","updated_by_handle":"frog@datadoghq.com","ootb_metrics_installed":false,"hash":"pubb5ea1f4101d90598bf152278698e74c6","short_name":"tf_testaccdatadogrumapplication__487","name":"tf-TestAccDatadogRUMApplication_ProductScales-local-1758619218","tags":[],"type":"browser","is_active":false,"created_at":1758619219993,"product_analytics_preview_disabled":true,"org_id":321813,"api_key_id":652581,"product_analytics_replay_sample_rate":100},"id":"847a19a3-720c-4673-bee2-104e1c94a4c2"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.119163333s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/847a19a3-720c-4673-bee2-104e1c94a4c2
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"type":"browser","product_scales":{"product_analytics_retention_scale":{"state":"MAX","last_modified_at":1758619219993},"rum_event_processing_scale":{"state":"ERROR_FOCUSED_MODE","last_modified_at":1758619219993}},"product_analytics_replay_sample_rate":100,"name":"tf-TestAccDatadogRUMApplication_ProductScales-local-1758619218","product_analytics_preview_disabled":true,"tags":[],"updated_by_handle":"frog@datadoghq.com","created_by_handle":"frog@datadoghq.com","short_name":"tf_testaccdatadogrumapplication__487","api_key_id":652581,"created_at":1758619219993,"application_id":"847a19a3-720c-4673-bee2-104e1c94a4c2","client_token":"pubb5ea1f4101d90598bf152278698e74c6","is_active":false,"hash":"pubb5ea1f4101d90598bf152278698e74c6","org_id":321813,"updated_at":1758619219993,"ootb_metrics_installed":false},"id":"847a19a3-720c-4673-bee2-104e1c94a4c2"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.081583ms
[...]
