---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/org
        method: GET
      response:
        body: |
            {"orgs":[{"public_id":"ff4a8255-6931-58d1-add0-a6b3602d5421","name":"Org Mgmt Root","description":null,"created":"2026-02-04 23:00:24","subscription":{"id":null,"billing_plan_id":8,"started":1770246024,"expires":null,"finished":null,"type":"dogfood","is_custom":false,"is_trial":false,"is_expired":true},"billing":{},"settings":{"default_landing_page":"Dashboard Lists","saml":{"enabled":false},"saml_can_be_enabled":false,"saml_login_url":null,"saml_idp_metadata_uploaded":false,"saml_idp_endpoint":null,"saml_idp_metadata_valid_until":null,"custom_landing_page":null,"saml_idp_initiated_login":{"enabled":false},"saml_strict_mode":{"enabled":false},"saml_autocreate_access_role":"st","saml_autocreate_users_domains":{"enabled":false,"domains":[]},"private_widget_share":true,"manage_reports":"true"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 556.018952ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_memberships?filter%5Borg_uuid%5D=ff4a8255-6931-58d1-add0-a6b3602d5421
        method: GET
      response:
        body: '{"data":[{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-05-27T00:24:50.834792Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019c2ae2-b05d-7cc9-aa88-38e1f26b7a0d","type":"org_groups"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 34.184112ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicyOverride_AutoCreation-local-1779841492"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019e66d1-eb9c-7921-87e9-1e463513f159","type":"org_groups","attributes":{"created_at":"2026-05-27T00:24:53.916Z","modified_at":"2026-05-27T00:24:53.918346Z","name":"tf-TestAccDatadogOrgGroupPolicyOverride_AutoCreation-local-1779841492","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 25.382526ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","relationships":{"org_group":{"data":{"id":"019e66d1-eb9c-7921-87e9-1e463513f159","type":"org_groups"}}},"type":"org_group_memberships"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_memberships/019c2ae2-b060-7954-8606-6fe2b42616c4
        method: PATCH
      response:
        body: '{"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-05-27T00:24:54.014107Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019e66d1-eb9c-7921-87e9-1e463513f159","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 56.507681ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":true},"enforcement_tier":"GROUP_MANAGED","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d1-eb9c-7921-87e9-1e463513f159","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019e66d1-ec28-7a6a-a869-1a1d10a82795","type":"org_group_policies","attributes":{"content":{"org_config":true},"enforced_at":"2026-05-27T00:24:54.057975Z","enforcement_tier":"GROUP_MANAGED","modified_at":"2026-05-27T00:24:54.057975Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d1-eb9c-7921-87e9-1e463513f159","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 64.74997ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019e66d1-eb9c-7921-87e9-1e463513f159
        method: GET
      response:
        body: '{"data":{"id":"019e66d1-eb9c-7921-87e9-1e463513f159","type":"org_groups","attributes":{"created_at":"2026-05-27T00:24:53.916Z","modified_at":"2026-05-27T00:24:53.918346Z","name":"tf-TestAccDatadogOrgGroupPolicyOverride_AutoCreation-local-1779841492","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 27.022365ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019e66d1-ec28-7a6a-a869-1a1d10a82795
        method: GET
      response:
        body: '{"data":{"id":"019e66d1-ec28-7a6a-a869-1a1d10a82795","type":"org_group_policies","attributes":{"content":{"org_config":true},"enforced_at":"2026-05-27T00:24:54.057975Z","enforcement_tier":"GROUP_MANAGED","modified_at":"2026-05-27T00:24:54.057975Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d1-eb9c-7921-87e9-1e463513f159","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 48.774672ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019e66d1-eb9c-7921-87e9-1e463513f159&filter%5Bpolicy_id%5D=019e66d1-fbb8-7eb3-b572-a87a3cf6b3b8
        method: GET
      response:
        body: '{"data":[{"id":"019e66d1-fbd3-7f2c-a4a6-6dfb096ed920","type":"org_group_policy_overrides","attributes":{"content":{"org_config":true},"created_at":"2026-05-27T00:24:58.049069Z","modified_at":"2026-05-27T00:24:58.049069Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019e66d1-eb9c-7921-87e9-1e463513f159","type":"org_groups"}},"org_group_policy":{"data":{"id":"019e66d1-fbb8-7eb3-b572-a87a3cf6b3b8","type":"org_group_policies"}}}}],"meta":{"page":{"type":"number_size","number":0,"size":50,"total":1,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019e66d1-eb9c-7921-87e9-1e463513f159\u0026filter%5Bpolicy_id%5D=019e66d1-fbb8-7eb3-b572-a87a3cf6b3b8","first":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019e66d1-eb9c-7921-87e9-1e463513f159\u0026filter[policy_id]=019e66d1-fbb8-7eb3-b572-a87a3cf6b3b8\u0026page[number]=0\u0026page[size]=50","last":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019e66d1-eb9c-7921-87e9-1e463513f159\u0026filter[policy_id]=019e66d1-fbb8-7eb3-b572-a87a3cf6b3b8\u0026page[number]=0\u0026page[size]=50"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 46.54253ms
[...]
    - id: 30
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019e66d1-eb9c-7921-87e9-1e463513f159
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"org group 019e66d1-eb9c-7921-87e9-1e463513f159 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 25.479898ms
