---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogDashboardRbac_createRbac-local-1682003518"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: |
      {"data":{"type":"roles","id":"b2723c06-df8d-11ed-be48-da7ad0900002","attributes":{"name":"tf-TestAccDatadogDashboardRbac_createRbac-local-1682003518","created_at":"2023-04-20T15:11:59.556514+00:00","modified_at":"2023-04-20T15:11:59.588170+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"},{"type":"permissions","id":"f8e941cf-e746-11ec-b22d-da7ad0900002"},{"type":"permissions","id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002"}]}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles/b2723c06-df8d-11ed-be48-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"roles","id":"b2723c06-df8d-11ed-be48-da7ad0900002","attributes":{"name":"tf-TestAccDatadogDashboardRbac_createRbac-local-1682003518","created_at":"2023-04-20T15:11:59.556514+00:00","modified_at":"2023-04-20T15:11:59.588170+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"},{"type":"permissions","id":"f8e941cf-e746-11ec-b22d-da7ad0900002"},{"type":"permissions","id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002"}]}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"restricted_roles":["b2723c06-df8d-11ed-be48-da7ad0900002"],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createRbac-local-1682003518","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"ivi-3bk-en7","title":"tf-TestAccDatadogDashboardRbac_createRbac-local-1682003518","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/ivi-3bk-en7/tf-testaccdatadogdashboardrbaccreaterbac-local-1682003518","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":7881695483958950}],"notify_list":[],"created_at":"2023-04-20T15:12:00.035988+00:00","modified_at":"2023-04-20T15:12:00.035988+00:00","template_variable_presets":[],"tags":[],"restricted_roles":["b2723c06-df8d-11ed-be48-da7ad0900002"]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/ivi-3bk-en7
    method: GET
  response:
    body: |
      {"id":"ivi-3bk-en7","title":"tf-TestAccDatadogDashboardRbac_createRbac-local-1682003518","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/ivi-3bk-en7/tf-testaccdatadogdashboardrbaccreaterbac-local-1682003518","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":7881695483958950}],"notify_list":[],"created_at":"2023-04-20T15:12:00.035988+00:00","modified_at":"2023-04-20T15:12:00.035988+00:00","template_variable_presets":[],"tags":[],"restricted_roles":["b2723c06-df8d-11ed-be48-da7ad0900002"]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/ivi-3bk-en7
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"ivi-3bk-en7"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
