---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"base_url":"https://catfact.ninja","credentials":{"body":{"content":"{\"key\":\"{{ token1 }}\"}","content_type":"application/json"},"headers":[{"name":"header-name","value":"header-value"}],"tokens":[{"name":"token1","type":"SECRET","value":"secret value 1"}],"type":"HTTPTokenAuth","url_parameters":[{"name":"urlParamName","value":"urlParamValue"}]},"type":"HTTP"},"name":"tf-TestAccDatadogActionConnectionResource_HTTP_TokenAuth-local-1739210743"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"61670424-1c09-4767-abec-d3d8897cfcc3","type":"action_connection","attributes":{"integration":{"base_url":"https://catfact.ninja","credentials":{"body":{"content":"{\"key\":\"{{ token1 }}\"}","content_type":"application/json"},"headers":[{"name":"header-name","value":"header-value"}],"tokens":[{"name":"token1","type":"SECRET","value":""}],"type":"HTTPTokenAuth","url_parameters":[{"name":"urlParamName","value":"urlParamValue"}]},"type":"HTTP"},"name":"tf-TestAccDatadogActionConnectionResource_HTTP_TokenAuth-local-1739210743"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 179.900741ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/61670424-1c09-4767-abec-d3d8897cfcc3
        method: GET
      response:
        body: '{"data":{"id":"61670424-1c09-4767-abec-d3d8897cfcc3","type":"action_connection","attributes":{"integration":{"base_url":"https://catfact.ninja","credentials":{"body":{"content":"{\"key\":\"{{ token1 }}\"}","content_type":"application/json"},"headers":[{"name":"header-name","value":"header-value"}],"tokens":[{"name":"token1","type":"SECRET","value":""}],"type":"HTTPTokenAuth","url_parameters":[{"name":"urlParamName","value":"urlParamValue"}]},"type":"HTTP"},"name":"tf-TestAccDatadogActionConnectionResource_HTTP_TokenAuth-local-1739210743"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 73.926253ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/61670424-1c09-4767-abec-d3d8897cfcc3
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 61.351937ms
