---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardListStreamEvents-local-1675811536","widgets":[{"definition":{"requests":[{"columns":[{"field":"source","width":"auto"}],"query":{"data_source":"event_stream","event_size":"l","query_string":"example.metric"},"response_format":"event_list"}],"title":"List Stream 2","title_align":"right","title_size":"16","type":"list_stream"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"inq-vkd-scb","title":"tf-TestAccDatadogDashboardListStreamEvents-local-1675811536","url":"/dashboard/inq-vkd-scb/tf-testaccdatadogdashboardliststreamevents-local-1675811536","created_at":"2023-02-07T23:12:18.355676+00:00","modified_at":"2023-02-07T23:12:18.355676+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"type":"list_stream","requests":[{"query":{"query_string":"example.metric","data_source":"event_stream","event_size":"l"},"response_format":"event_list","columns":[{"field":"source","width":"auto"}]}],"title_align":"right","title_size":"16","title":"List Stream 2"},"id":1619057152677219}],"layout_type":"ordered"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/inq-vkd-scb
    method: GET
  response:
    body: |
      {"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"inq-vkd-scb","title":"tf-TestAccDatadogDashboardListStreamEvents-local-1675811536","url":"/dashboard/inq-vkd-scb/tf-testaccdatadogdashboardliststreamevents-local-1675811536","created_at":"2023-02-07T23:12:18.355676+00:00","modified_at":"2023-02-07T23:12:18.355676+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"type":"list_stream","requests":[{"query":{"query_string":"example.metric","data_source":"event_stream","event_size":"l"},"response_format":"event_list","columns":[{"field":"source","width":"auto"}]}],"title_align":"right","title_size":"16","title":"List Stream 2"},"id":1619057152677219}],"layout_type":"ordered"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/inq-vkd-scb
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"inq-vkd-scb"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/inq-vkd-scb
    method: GET
  response:
    body: '{"errors":["Dashboard with ID inq-vkd-scb not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
