---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"auth":{"client_id":"my-oauth-client-id","client_secret_key":"DESTINATION_DATABRICKS_ZEROBUS_OAUTH_CLIENT_SECRET"},"id":"databricks-zerobus-dest-1","ingestion_endpoint_key":"DESTINATION_DATABRICKS_ZEROBUS_INGESTION_ENDPOINT","inputs":["source-1"],"table_name":"my_catalog.my_schema.my_table","type":"databricks_zerobus","unity_catalog_endpoint_key":"DESTINATION_DATABRICKS_ZEROBUS_UNITY_CATALOG_ENDPOINT"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"databricks zerobus pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"cdfa409a-5456-11f1-8af5-da7ad0900002","type":"pipelines","attributes":{"name":"databricks zerobus pipeline","config":{"destinations":[{"auth":{"client_id":"my-oauth-client-id","client_secret_key":"DESTINATION_DATABRICKS_ZEROBUS_OAUTH_CLIENT_SECRET"},"id":"databricks-zerobus-dest-1","ingestion_endpoint_key":"DESTINATION_DATABRICKS_ZEROBUS_INGESTION_ENDPOINT","inputs":["source-1"],"table_name":"my_catalog.my_schema.my_table","type":"databricks_zerobus","unity_catalog_endpoint_key":"DESTINATION_DATABRICKS_ZEROBUS_UNITY_CATALOG_ENDPOINT"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 921.18775ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/cdfa409a-5456-11f1-8af5-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"cdfa409a-5456-11f1-8af5-da7ad0900002","type":"pipelines","attributes":{"name":"databricks zerobus pipeline","config":{"destinations":[{"auth":{"client_id":"my-oauth-client-id","client_secret_key":"DESTINATION_DATABRICKS_ZEROBUS_OAUTH_CLIENT_SECRET"},"id":"databricks-zerobus-dest-1","ingestion_endpoint_key":"DESTINATION_DATABRICKS_ZEROBUS_INGESTION_ENDPOINT","inputs":["source-1"],"table_name":"my_catalog.my_schema.my_table","type":"databricks_zerobus","unity_catalog_endpoint_key":"DESTINATION_DATABRICKS_ZEROBUS_UNITY_CATALOG_ENDPOINT"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 308.700708ms
[...]
