---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"message":"This is a test suite","name":"tf-TestAccDatadogSyntheticsSuite_Updated-local-1769177372","options":{"alerting_threshold":0.5},"tags":["env:test","team:synthetics"],"tests":[],"type":"suite"},"type":"suites"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/synthetics/suites
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"suites","attributes":{"tests":[],"name":"tf-TestAccDatadogSyntheticsSuite_Updated-local-1769177372","type":"suite","modified_by":{"email":"frog@datadoghq.com","name":"Frog","handle":"frog@datadoghq.com"},"public_id":"u3j-eht-5h3","options":{"alerting_threshold":0.5},"created_at":"2026-01-23T14:09:34.763854+00:00","org_id":569509,"message":"This is a test suite","modified_at":"2026-01-23T14:09:34.763854+00:00","created_by":{"email":"frog@datadoghq.com","name":"Frog","handle":"frog@datadoghq.com"},"tags":["env:test","team:synthetics"],"monitor_id":253217931},"id":"u3j-eht-5h3"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 504.195916ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/synthetics/suites/u3j-eht-5h3
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"suites","attributes":{"modified_at":"2026-01-23T14:09:34.763854+00:00","created_at":"2026-01-23T14:09:34.763854+00:00","version":1,"public_id":"u3j-eht-5h3","monitor_id":253217931,"org_id":569509,"tags":["env:test","team:synthetics"],"options":{"alerting_threshold":0.5},"message":"This is a test suite","type":"suite","created_by":{"name":"Frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com"},"modified_by":{"name":"Frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com"},"version_uuid":"25334224-f865-11f0-8ba7-da7ad0901002","name":"tf-TestAccDatadogSyntheticsSuite_Updated-local-1769177372","tests":[]},"id":"u3j-eht-5h3"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.741541ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"public_ids":["u3j-eht-5h3"]},"type":"delete_suites_request"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/synthetics/suites/bulk-delete
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"suites","id":"u3j-eht-5h3","attributes":{"public_id":"u3j-eht-5h3","deleted_at":"2026-01-23 14:09:38.564333"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 698.609584ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/synthetics/suites/u3j-eht-5h3
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 131.559291ms
