---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"name":"tf-TestAccDatadogDashboardListDatasource-local-1758619481"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
        method: POST
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2025-09-23T09:24:46.365191+00:00","dashboards":null,"dashboard_count":0,"id":591241,"is_favorite":false,"modified":"2025-09-23T09:24:46.365198+00:00","name":"tf-TestAccDatadogDashboardListDatasource-local-1758619481","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.764958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
        method: GET
      response:
            - chunked
        body: |
            {"dashboard_lists":[{"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2020-09-08T07:12:57.679027+00:00","dashboards":null,"dashboard_count":0,"id":126798,"is_favorite":true,"modified":"2020-09-09T08:48:11.523877+00:00","name":"frog's List","type":"manual_dashboard_list"},{"author":{"name":"Noueman Khalikine","handle":"noueman.khalikine@datadoghq.com"},"created":"2024-03-22T13:18:01.381263+00:00","dashboards":null,"dashboard_count":0,"id":458261,"is_favorite":false,"modified":"2024-03-22T13:18:01.3[...]
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/591241
        method: GET
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2025-09-23T09:24:46.365191+00:00","dashboards":null,"dashboard_count":0,"id":591241,"is_favorite":false,"modified":"2025-09-23T09:24:46.365198+00:00","name":"tf-TestAccDatadogDashboardListDatasource-local-1758619481","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 475.587584ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/591241/dashboards
        method: GET
      response:
        body: |
            {"dashboards":[],"total":0}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 232.121959ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/591241
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_list_id":591241}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.07ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/591241
        method: GET
      response:
            - chunked
        body: '{"errors":["Manual Dashboard List with id 591241 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 167.036583ms
[...]
