---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"bucket":"my-generic-bucket","compression":{"algorithm":"snappy"},"encoding":{"type":"json"},"id":"s3-generic-sse-kms-1","inputs":["source-1"],"region":"us-east-1","server_side_encryption":"aws:kms","ssekms_key_id":"arn:aws:kms:us-east-1:123456789012:key/mrk-abc123","storage_class":"STANDARD","type":"amazon_s3_generic"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"amazon s3 generic sse-kms pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"a1b2c3d4-0001-11f1-9eea-da7ad0900002","type":"pipelines","attributes":{"name":"amazon s3 generic sse-kms pipeline","config":{"destinations":[{"bucket":"my-generic-bucket","compression":{"algorithm":"snappy"},"encoding":{"type":"json"},"id":"s3-generic-sse-kms-1","inputs":["source-1"],"region":"us-east-1","server_side_encryption":"aws:kms","ssekms_key_id":"arn:aws:kms:us-east-1:123456789012:key/mrk-abc123","storage_class":"STANDARD","type":"amazon_s3_generic"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 800ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/a1b2c3d4-0001-11f1-9eea-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"a1b2c3d4-0001-11f1-9eea-da7ad0900002","type":"pipelines","attributes":{"name":"amazon s3 generic sse-kms pipeline","config":{"destinations":[{"bucket":"my-generic-bucket","compression":{"algorithm":"snappy"},"encoding":{"type":"json"},"id":"s3-generic-sse-kms-1","inputs":["source-1"],"region":"us-east-1","server_side_encryption":"aws:kms","ssekms_key_id":"arn:aws:kms:us-east-1:123456789012:key/mrk-abc123","storage_class":"STANDARD","type":"amazon_s3_generic"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 300ms
[...]
