---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"buffer":{"max_events":5000,"type":"memory","when_full":"drop_newest"},"encoding":"json","id":"kafka-dest-buffer-1","inputs":["source-1"],"topic":"logs-topic","type":"kafka"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"kafka-destination-buffer-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"dca41bb2-58f6-11f1-a79e-da7ad0900002","type":"pipelines","attributes":{"name":"kafka-destination-buffer-pipeline","config":{"destinations":[{"buffer":{"max_events":5000,"type":"memory","when_full":"drop_newest"},"encoding":"json","id":"kafka-dest-buffer-1","inputs":["source-1"],"topic":"logs-topic","type":"kafka"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 784.516667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/dca41bb2-58f6-11f1-a79e-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"dca41bb2-58f6-11f1-a79e-da7ad0900002","type":"pipelines","attributes":{"name":"kafka-destination-buffer-pipeline","config":{"destinations":[{"buffer":{"max_events":5000,"type":"memory","when_full":"drop_newest"},"encoding":"json","id":"kafka-dest-buffer-1","inputs":["source-1"],"topic":"logs-topic","type":"kafka"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 217.760333ms
[...]
