---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTagConfigurationByName
    url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccMetricTagConfiguration_import_local_1614718279/tags
    method: GET
  response:
    body: '{"errors": ["tf_TestAccMetricTagConfiguration_import_local_1614718279 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4014265"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "41"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"include_percentiles":false,"metric_type":"distribution","tags":["sport","datacenter"]},"id":"tf_TestAccMetricTagConfiguration_import_local_1614718279","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccMetricTagConfiguration_import_local_1614718279/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"tf_TestAccMetricTagConfiguration_import_local_1614718279","attributes":{"tags":["datacenter","sport"],"include_percentiles":false,"created_at":"2021-03-02T20:51:20.099951+00:00","updated_at":"2021-03-02T20:51:20.099951+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4014265"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "48"
      X-Ratelimit-Reset:
      - "40"
    status: 201 Created
    code: 201
    duration: ""
[...]
