---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackChange-local-1758619072","type":"group","widgets":[{"definition":{"requests":[{"change_type":"absolute","compare_to":"week_before","increase_good":true,"order_by":"name","order_dir":"desc","q":"avg:system.load.1{env:staging} by {account}","show_present":false}],"title":"Widget Title","type":"change"}}]}},"name":"tf-TestAccDatadogPowerpackChange-local-1758619072","tags":["tag:foo1"],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/powerpacks
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"2fd758d0-985e-11f0-ad5d-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackChange-local-1758619072","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackChange-local-1758619072","type":"group","widgets":[{"definition":{"requests":[{"change_type":"absolute","compare_to":"week_before","increase_good":true,"order_by":"name","order_dir":"desc","q":"avg:system.load.1{env:staging} by {account}","show_present":false}],"title":"Widget Title","type":"change"},"id":417809312500570}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","email":"frog@datadoghq.com"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 370.762875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/powerpacks/2fd758d0-985e-11f0-ad5d-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"2fd758d0-985e-11f0-ad5d-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackChange-local-1758619072","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackChange-local-1758619072","type":"group","widgets":[{"definition":{"requests":[{"change_type":"absolute","compare_to":"week_before","increase_good":true,"order_by":"name","order_dir":"desc","q":"avg:system.load.1{env:staging} by {account}","show_present":false}],"title":"Widget Title","type":"change"},"id":417809312500570}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","email":"frog@datadoghq.com"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.013458ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/powerpacks/2fd758d0-985e-11f0-ad5d-da7ad0900002
        method: GET
      response:
            - chunked
        body: '{"errors":["Powerpack with ID 2fd758d0-985e-11f0-ad5d-da7ad0900002 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 169.159541ms
