---
version: 1
interactions:
- request:
    body: |
      {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"}],"configVariables":[],"request":{"method":"GET","timeout":30,"url":"https://www.datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFROMTEST_BASIC_LOCAL_1640024577","options":{"follow_redirects":true,"min_location_failed":1,"monitor_options":{"renotify_interval":100},"tick_every":60},"status":"paused","subtype":"http","tags":[],"type":"api"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api
    method: POST
  response:
    body: '{"status":"paused","public_id":"cz6-anc-iem","tags":[],"org_id":321813,"locations":["aws:eu-central-1"],"message":"","deleted_at":null,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFROMTEST_BASIC_LOCAL_1640024577","monitor_id":58556495,"type":"api","created_at":"2021-12-20T18:22:59.973456+00:00","modified_at":"2021-12-20T18:22:59.973456+00:00","subtype":"http","config":{"request":{"url":"https://www.datadoghq.com","method":"GET","timeout":30},"assertions":[{"operator":"contains","property":"content-type","type":"header","target":"application/json"}],"configVariables":[]},"options":{"follow_redirects":true,"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":100},"min_location_failed":1,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11998"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPITest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/api/cz6-anc-iem
    method: GET
  response:
    body: '{"status":"paused","public_id":"cz6-anc-iem","tags":[],"locations":["aws:eu-central-1"],"message":"","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFROMTEST_BASIC_LOCAL_1640024577","monitor_id":58556495,"type":"api","subtype":"http","config":[...]
- request:
    body: |
      {"description":"a global variable from http test","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFROMTEST_BASIC_LOCAL_1640024577","parse_test_options":{"field":"content-type","parser":{"type":"regex","value":".*"},"type":"http_header"},"parse_test_public_id":"cz6-anc-iem","tags":["foo:bar","baz"],"value":{"secure":false,"value":""}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_options":{"field":"content-type","parser":{"type":"regex","value":".*"},"type":"http_header"},"parse_test_extracted_at":null,"description":"a global variable from http test","tags":["foo:bar","baz"],"last_error":null,"is_totp":null,"value":{"secure":false,"value":""},"parse_test_public_id":"cz6-anc-iem","parse_test_name":null,"type":"variable","id":"57674311-96a2-4902-8881-956ad6e1fc89","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFROMTEST_BASIC_LOCAL_1640024577"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11998"
      X-Ratelimit-Reset:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/57674311-96a2-4902-8881-956ad6e1fc89
    method: GET
  response:
    body: '{"parse_test_extracted_at":null,"description":"a global variable from http test","tags":["foo:bar","baz"],"last_error":null,"parse_test_public_id":"cz6-anc-iem","is_totp":null,"id":"57674311-96a2-4902-8881-956ad6e1fc89","parse_test_options":{"field":"content-type","parser":{"type":"regex","value":".*"},"type":"http_header"},"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFROMTEST_BASIC_LOCAL_1640024577","created_at":"2021-12-20T18:23:00.248596+00:00","creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"modified_at":"2021-12-20T18:23:00.248596+00:00","value":{"secure":false,"value":""},"parse_test_name":null,"type":"variable"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11996"
      X-Ratelimit-Reset:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetTest
    url: https://api.datadoghq.com/api/v1/synthetics/tests/cz6-anc-iem
    method: GET
  response:
    body: '{"status":"paused","public_id":"cz6-anc-iem","tags":[],"locations":["aws:eu-central-1"],"message":"","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFROMTEST_BASIC_LOCAL_1640024577","monitor_id":58556495,"type":"api","subtype":"http","config":[...]
- request:
    body: |
      {"public_ids":["cz6-anc-iem"]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: '{"deleted_tests":[{"deleted_at":"2021-12-20T18:23:04.573974+00:00","public_id":"cz6-anc-iem"}]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11998"
      X-Ratelimit-Reset:
      - "56"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/57674311-96a2-4902-8881-956ad6e1fc89
    method: GET
  response:
    body: '{"errors": ["Synthetics global variable not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
