---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1668701790","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/rum/applications
    method: POST
  response:
    body: |
      {"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"9302ebfd-bc4c-45de-9d96-cdca3b8f361c","name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1668701790","created_by_handle":"frog@datadoghq.com","created_at":1668701791512,"org_id":321813,"updated_at":1668701791512,"is_active":false,"hash":"pub3145f6366d8d7a22f23896b3ef5daf76","type":"browser"},"type":"rum_application","id":"9302ebfd-bc4c-45de-9d96-cdca3b8f361c"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/rum/applications/9302ebfd-bc4c-45de-9d96-cdca3b8f361c
    method: GET
  response:
    body: |
      {"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"9302ebfd-bc4c-45de-9d96-cdca3b8f361c","name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1668701790","created_by_handle":"frog@datadoghq.com","created_at":1668701791512,"org_id":321813,"updated_at":1668701791512,"is_active":false,"hash":"pub3145f6366d8d7a22f23896b3ef5daf76","type":"browser"},"type":"rum_application","id":"9302ebfd-bc4c-45de-9d96-cdca3b8f361c"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
