---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"a-user@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: '{"errors":["User a-user@example.com already exists"]}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 88.19325ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=z-user1%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"5aad1674-5458-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"z-user1@example.com","created_at":"2021-12-03T16:44:59.676899+00:00","modified_at":"2026-01-09T21:12:17.809099+00:00","email":"z-user1@example.com","icon":"https://secure.gravatar.com/avatar/aa14440b86c5f63ef8622b92e85e3360?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":["google_oidc","standard"],"status":"Disabled","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":227424,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 124.964291ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=k-user%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"3e344a0e-5457-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"k-user@example.com","created_at":"2021-12-03T16:37:02.412935+00:00","modified_at":"2026-01-09T21:12:17.731461+00:00","email":"k-user@example.com","icon":"https://secure.gravatar.com/avatar/98eadd67eaa2d8c224d446b2e88f0bf2?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":["google_oidc","standard"],"status":"Disabled","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":227424,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.420417ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"disabled":false,"email":"z-user1@example.com","name":"Test User"},"id":"5aad1674-5458-11ec-a8c2-da7ad0900002","type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users/5aad1674-5458-11ec-a8c2-da7ad0900002
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"5aad1674-5458-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"z-user1@example.com","created_at":"2021-12-03T16:44:59.676899+00:00","modified_at":"2026-01-09T21:12:54.637918+00:00","email":"z-user1@example.com","icon":"https://secure.gravatar.com/avatar/aa14440b86c5f63ef8622b92e85e3360?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.394167ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"5aad1674-5458-11ec-a8c2-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"f726e3f6-ed9f-11f0-b651-da7ad0900002","attributes":{"uuid":"f726e3f6-ed9f-11f0-b651-da7ad0900002","login_method":null,"invite_type":"basic_reminder","created_at":"2026-01-09T21:12:55.058077+00:00","expires_at":"2026-01-11T21:12:54.813706+00:00"},"relationships":{"user":{"data":{"type":"users","id":"5aad1674-5458-11ec-a8c2-da7ad0900002"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 415.688875ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=a-user%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"3e3379ee-5457-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"a-user@example.com","created_at":"2021-12-03T16:37:02.407801+00:00","modified_at":"2026-01-09T21:12:17.700880+00:00","email":"a-user@example.com","icon":"https://secure.gravatar.com/avatar/d3f689172d62d7bcc2e4698422091ecf?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":["google_oidc","standard"],"status":"Disabled","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":227424,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.615217041s
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: "{\n   \"author_handle\":\"removed_handle\",\n   \"title\":\"tf-TestAccDatadogDashboardJSONNotifyListDiff-local-1767993173\",\n   \"description\":\"Created using the Datadog provider in Terraform\",\n   \"widgets\":[],\n   \"template_variables\":[\n      \n   ],\n   \"layout_type\":\"ordered\",\n   \"restricted_roles\":[],\n   \"notify_list\":[\"z-user1@example.com\",\"a-user@example.com\",\"k-user@example.com\"],\n   \"id\":\"5uw-bbj-xec\"\n}\n"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"pzu-mzj-9zi","title":"tf-TestAccDatadogDashboardJSONNotifyListDiff-local-1767993173","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/pzu-mzj-9zi/tf-testaccdatadogdashboardjsonnotifylistdiff-local-1767993173","template_variables":[],"widgets":[],"notify_list":["a-user@example.com","k-user@example.com","z-user1@example.com"],"created_at":"2026-01-09T21:12:56.608726+00:00","modified_at":"2026-01-09T21:12:56.608726+00:00","restricted_roles":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.008ms
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/pzu-mzj-9zi
        method: GET
      response:
            - chunked
        body: '{"id":"pzu-mzj-9zi","title":"tf-TestAccDatadogDashboardJSONNotifyListDiff-local-1767993173","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/pzu-mzj-9zi/tf-testaccdatadogdashboardjsonnotifylistdiff-local-1767993173","template_variables":[],"widgets":[],"notify_list":["a-user@example.com","k-user@example.com","z-user1@example.com"],"created_at":"2026-01-09T21:12:56.608726+00:00","modified_at":"2026-01-09T21:12:56.608726+00:00","restricted_roles":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.763083ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/pzu-mzj-9zi
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"pzu-mzj-9zi"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 400.306958ms
[...]
