version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplication_Basic-local-1670854212","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/rum/applications
    method: POST
    id: 0
  response:
    body: |
      {"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"93be5347-0121-48b9-b56e-9b44503ad865","name":"tf-TestAccDatadogRUMApplication_Basic-local-1670854212","created_by_handle":"frog@datadoghq.com","created_at":1670854214348,"org_id":569509,"updated_at":1670854214348,"is_active":false,"hash":"pub321d7421a8eb36139c65a2528aa2111b","client_token":"pub321d7421a8eb36139c65a2528aa2111b","type":"browser"},"type":"rum_application","id":"93be5347-0121-48b9-b56e-9b44503ad865"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/rum/applications/93be5347-0121-48b9-b56e-9b44503ad865
    method: GET
    id: 1
  response:
    body: |
      {"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"93be5347-0121-48b9-b56e-9b44503ad865","name":"tf-TestAccDatadogRUMApplication_Basic-local-1670854212","created_by_handle":"frog@datadoghq.com","created_at":1670854214348,"org_id":569509,"updated_at":1670854214348,"is_active":false,"hash":"pub321d7421a8eb36139c65a2528aa2111b","client_token":"pub321d7421a8eb36139c65a2528aa2111b","type":"browser"},"type":"rum_application","id":"93be5347-0121-48b9-b56e-9b44503ad865"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
