---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.eu
        body: |
            apiVersion: v3
            kind: service
            metadata:
              name: tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363
              displayName: tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363
              tags:
                - tag:value
              owner: owner.of.tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.eu/api/v2/catalog/entity
        method: POST
      response:
        body: '{"data":[{"id":"c0b1aa24-80f2-49bb-a643-939251696166","type":"entity","attributes":{"apiVersion":"v3","displayName":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","kind":"service","name":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","namespace":"default","owner":"owner.of.tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","tags":["tag:value"]},"relationships":{"schema":{"data":{"id":"c0b1aa24-80f2-49bb-a643-939251696166","type":"schema"}}},"meta":{"createdAt":"2025-02-09T05:36:09.511967165Z","modifiedAt":"2025-02-09T05:36:09.511967055Z","ingestionSource":"api"}}],"meta":{"count":1,"includeCount":1},"included":[{"id":"c0b1aa24-80f2-49bb-a643-939251696166","type":"schema","attributes":{"schema":{"apiVersion":"v3","kind":"service","metadata":{"name":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","namespace":"default","displayName":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","tags":["tag:value"],"owner":"owner.of.tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","managed":{"ingestionSource":"api","createdAt":"2025-02-09T05:36:09.511967165Z","modifiedAt":"2025-02-09T05:36:09.511967055Z"}}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 202 Accepted
        code: 202
        duration: 63.428458ms
    - id: 1
      request:
        host: api.datadoghq.eu
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.eu/api/v2/catalog/entity?filter%5Bname%5D=tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363
        method: GET
      response:
        body: '{"data":[{"id":"c0b1aa24-80f2-49bb-a643-939251696166","type":"entity","attributes":{"apiVersion":"v3","displayName":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","kind":"service","name":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","namespace":"default","owner":"owner.of.tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","tags":["tag:value"]},"meta":{"createdAt":"2025-02-09T05:36:09.511967Z","modifiedAt":"2025-02-09T05:36:09.511967055Z","ingestionSource":"api"}}],"meta":{"count":1,"includeCount":0},"links":{"self":"/api/v2/catalog/entity?filter%5Bname%5D=tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 159.139917ms
    - id: 2
      request:
        host: api.datadoghq.eu
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.eu/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363&include=raw_schema
        method: GET
      response:
        body: '{"data":[{"id":"c0b1aa24-80f2-49bb-a643-939251696166","type":"entity","attributes":{"apiVersion":"v3","displayName":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","kind":"service","name":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","namespace":"default","owner":"owner.of.tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","tags":["tag:value"]},"relationships":{"rawSchema":{"data":{"id":"c0b1aa24-80f2-49bb-a643-939251696166","type":"rawSchema"}}},"meta":{"createdAt":"2025-02-09T05:36:09.511967Z","modifiedAt":"2025-02-09T05:36:09.511967055Z","ingestionSource":"api"}}],"meta":{"count":1,"includeCount":1},"links":{"self":"/api/v2/catalog/entity?filter%5Bref%5D=service%3Adefault%2Ftf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363\u0026include=raw_schema\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=0"},"included":[{"id":"c0b1aa24-80f2-49bb-a643-939251696166","type":"rawSchema","attributes":{"rawSchema":"LS0tCmFwaVZlcnNpb246IHYzCmtpbmQ6IHNlcnZpY2UKbWV0YWRhdGE6CiAgbmFtZTogdGZfVGVzdEFjY0RhdGFkb2dTb2Z0d2FyZUNhdGFsb2dFbnRpdHlfRGF0YXNvdXJjZV9sb2NhbF8xNzM5MDc5MzYzCiAgZGlzcGxheU5hbWU6IHRmX1Rlc3RBY2NEYXRhZG9nU29mdHdhcmVDYXRhbG9nRW50aXR5X0RhdGFzb3VyY2VfbG9jYWxfMTczOTA3OTM2MwogIHRhZ3M6CiAgICAtIHRhZzp2YWx1ZQogIG93bmVyOiBvd25lci5vZi50Zl9UZXN0QWNjRGF0YWRvZ1NvZnR3YXJlQ2F0YWxvZ0VudGl0eV9EYXRhc291cmNlX2xvY2FsXzE3MzkwNzkzNjMK"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 106.26075ms
[...]
    - id: 4
      request:
        host: api.datadoghq.eu
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.eu/api/v2/catalog/entity?filter%5Bname%5D=tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363&page%5Blimit%5D=1&page%5Boffset%5D=0
        method: GET
      response:
        body: '{"data":[{"id":"c0b1aa24-80f2-49bb-a643-939251696166","type":"entity","attributes":{"apiVersion":"v3","displayName":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","kind":"service","name":"tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","namespace":"default","owner":"owner.of.tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363","tags":["tag:value"]},"meta":{"createdAt":"2025-02-09T05:36:09.511967Z","modifiedAt":"2025-02-09T05:36:09.511967055Z","ingestionSource":"api"}}],"meta":{"count":1,"includeCount":0},"links":{"self":"/api/v2/catalog/entity?filter%5Bname%5D=tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=0","next":"/api/v2/catalog/entity?filter%5Bname%5D=tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 63.779ms
    - id: 5
      request:
        host: api.datadoghq.eu
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.eu/api/v2/catalog/entity?filter%5Bname%5D=tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363&page%5Blimit%5D=1&page%5Boffset%5D=1
        method: GET
      response:
        body: '{"data":[],"meta":{"count":0,"includeCount":0},"links":{"self":"/api/v2/catalog/entity?filter%5Bname%5D=tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1","previous":"/api/v2/catalog/entity?filter%5Bname%5D=tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 57.094792ms
[...]
    - id: 8
      request:
        host: api.datadoghq.eu
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.eu/api/v2/catalog/entity/service:default/tf_TestAccDatadogSoftwareCatalogEntity_Datasource_local_1739079363
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 61.508042ms
[...]
