---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: "--fb54bc5537b72dccfe111128a35374e732472af939467b9ac820f343289d\r\nContent-Disposition: form-data; name=\"openapi_spec_file\"; filename=\".\"\r\nContent-Type: application/octet-stream\r\n\r\ninfo:\n  contact:\n    name: API team\n  description: My API description.\n  title: tf-TestAccOpenapiApiBasic-local-1758619074\nopenapi: 3.0.0\npaths:\n  /api/my-api:\n    get:\n      description: An endpoint\n\r\n--fb54bc5537b72dccfe111128a35374e732472af939467b9ac820f343289d--\r\n"
        form: {}
        headers:
            Content-Type:
                - multipart/form-data; boundary=fb54bc5537b72dccfe111128a35374e732472af939467b9ac820f343289d
        url: https://api.datadoghq.com/api/v2/apicatalog/openapi
        method: POST
      response:
        body: '{"data":{"id":"d13d5e5b-36d6-4a12-84f6-769d76ad4fb3","type":"api","attributes":{"failed_endpoints":[],"result":{"id":"ParseOpenAPIResult","result":"success"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 255.654917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apicatalog/api/d13d5e5b-36d6-4a12-84f6-769d76ad4fb3/openapi
        method: GET
      response:
        body: |
            info:
              contact:
                name: API team
              description: My API description.
              title: tf-TestAccOpenapiApiBasic-local-1758619074
            openapi: 3.0.0
            paths:
              /api/my-api:
                get:
                  description: An endpoint
        headers:
            Content-Type:
                - multipart/form-data
        status: 200 OK
        code: 200
        duration: 137.546583ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apicatalog/api/d13d5e5b-36d6-4a12-84f6-769d76ad4fb3
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 328.448667ms
