---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/org
        method: GET
      response:
        body: |
            {"orgs":[{"public_id":"ff4a8255-6931-58d1-add0-a6b3602d5421","name":"Org Mgmt Root","description":null,"created":"2026-02-04 23:00:24","subscription":{"id":null,"billing_plan_id":8,"started":1770246024,"expires":null,"finished":null,"type":"dogfood","is_custom":false,"is_trial":false,"is_expired":true},"billing":{},"settings":{"default_landing_page":"Dashboard Lists","saml":{"enabled":false},"saml_can_be_enabled":false,"saml_login_url":null,"saml_idp_metadata_uploaded":false,"saml_idp_endpoint":null,"saml_idp_metadata_valid_until":null,"custom_landing_page":null,"saml_idp_initiated_login":{"enabled":false},"saml_strict_mode":{"enabled":false},"saml_autocreate_access_role":"st","saml_autocreate_users_domains":{"enabled":false,"domains":[]},"private_widget_share":true,"manage_reports":"false"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 862.579945ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_memberships?filter%5Borg_uuid%5D=ff4a8255-6931-58d1-add0-a6b3602d5421
        method: GET
      response:
        body: '{"data":[{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-04-21T17:18:17.717787Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019d1be5-e63b-7dfb-b845-990a2cdca228","type":"org_groups"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 42.277605ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicyOverridesDataSource_Basic-local-1776802917"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019db1b4-f262-73a1-8b9a-a3c15a8da2d5","type":"org_groups","attributes":{"created_at":"2026-04-21T20:21:59.01Z","modified_at":"2026-04-21T20:21:59.012484Z","name":"tf-TestAccDatadogOrgGroupPolicyOverridesDataSource_Basic-local-1776802917","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 39.570154ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","policy_name":"is_widget_copy_paste_enabled"},"relationships":{"org_group":{"data":{"id":"019db1b4-f262-73a1-8b9a-a3c15a8da2d5","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019db1b4-f2b6-7b9a-90f7-029d695fa6d5","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-21T20:21:59.097286Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db1b4-f262-73a1-8b9a-a3c15a8da2d5","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 85.534834ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","relationships":{"org_group":{"data":{"id":"019db1b4-f262-73a1-8b9a-a3c15a8da2d5","type":"org_groups"}}},"type":"org_group_memberships"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_memberships/019c2ae2-b060-7954-8606-6fe2b42616c4
        method: PATCH
      response:
        body: '{"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-04-21T20:21:59.135377Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db1b4-f262-73a1-8b9a-a3c15a8da2d5","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 76.191873ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db1b4-f262-73a1-8b9a-a3c15a8da2d5","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db1b4-f2b6-7b9a-90f7-029d695fa6d5","type":"org_group_policies"}}},"type":"org_group_policy_overrides"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides
        method: POST
      response:
        body: '{"data":{"id":"019db1b4-f329-7bae-b44b-1a6176334fa5","type":"org_group_policy_overrides","attributes":{"created_at":"2026-04-21T20:21:59.210721Z","modified_at":"2026-04-21T20:21:59.210721Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db1b4-f262-73a1-8b9a-a3c15a8da2d5","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db1b4-f2b6-7b9a-90f7-029d695fa6d5","type":"org_group_policies"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 58.601055ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019db1b4-f262-73a1-8b9a-a3c15a8da2d5&filter%5Bpolicy_id%5D=019db1b4-f2b6-7b9a-90f7-029d695fa6d5&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019db1b4-f329-7bae-b44b-1a6176334fa5","type":"org_group_policy_overrides","attributes":{"content":{"org_config":false},"created_at":"2026-04-21T20:21:59.210721Z","modified_at":"2026-04-21T20:21:59.210721Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db1b4-f262-73a1-8b9a-a3c15a8da2d5","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db1b4-f2b6-7b9a-90f7-029d695fa6d5","type":"org_group_policies"}}}}],"meta":{"page":{"type":"number_size","number":0,"size":100,"total":1,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019db1b4-f262-73a1-8b9a-a3c15a8da2d5\u0026filter%5Bpolicy_id%5D=019db1b4-f2b6-7b9a-90f7-029d695fa6d5\u0026page%5Bnumber%5D=0\u0026page%5Bsize%5D=100","first":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019db1b4-f262-73a1-8b9a-a3c15a8da2d5\u0026filter[policy_id]=019db1b4-f2b6-7b9a-90f7-029d695fa6d5\u0026page[number]=0\u0026page[size]=100","last":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019db1b4-f262-73a1-8b9a-a3c15a8da2d5\u0026filter[policy_id]=019db1b4-f2b6-7b9a-90f7-029d695fa6d5\u0026page[number]=0\u0026page[size]=100"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 56.117697ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019db1b4-f262-73a1-8b9a-a3c15a8da2d5&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019db1b4-f329-7bae-b44b-1a6176334fa5","type":"org_group_policy_overrides","attributes":{"content":{"org_config":false},"created_at":"2026-04-21T20:21:[...]
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db1b4-f262-73a1-8b9a-a3c15a8da2d5
        method: GET
      response:
        body: '{"data":{"id":"019db1b4-f262-73a1-8b9a-a3c15a8da2d5","type":"org_groups","attributes":{"created_at":"2026-04-21T20:21:59.01Z","modified_at":"2026-04-21T20:21:59.012484Z","name":"tf-TestAccDatadogOrgGroupPolicyOverridesDataSource_Basic-local-1776802917","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 27.331825ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019db1b4-f2b6-7b9a-90f7-029d695fa6d5
        method: GET
      response:
        body: '{"data":{"id":"019db1b4-f2b6-7b9a-90f7-029d695fa6d5","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-21T20:21:59.097286Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db1b4-f262-73a1-8b9a-a3c15a8da2d5","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 43.157161ms
[...]
    - id: 14
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides/019db1b4-f329-7bae-b44b-1a6176334fa5
        method: GET
      response:
        body: '{"data":{"id":"019db1b4-f329-7bae-b44b-1a6176334fa5","type":"org_group_policy_overrides","attributes":{"created_at":"2026-04-21T20:21:59.210721Z","modified_at":"2026-04-21T20:21:59.210721Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db1b4-f262-73a1-8b9a-a3c15a8da2d5","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db1b4-f2b6-7b9a-90f7-029d695fa6d5","type":"org_group_policies"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 30.890943ms
[...]
