---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccteamnotificationruleimport-local-1768299601","name":"tf-testaccteamnotificationruleimport-local-1768299601"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"2a728a3b-da04-4194-882f-3e46d4c15fd7","type":"team","attributes":{"avatar":null,"banner":8,"created_at":"2026-01-13T10:20:03.699515+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleimport-local-1768299601","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-13T10:20:03.699515+00:00","name":"tf-testaccteamnotificationruleimport-local-1768299601","summary":"Example team","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/2a728a3b-da04-4194-882f-3e46d4c15fd7/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/2a728a3b-da04-4194-882f-3e46d4c15fd7/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 560.281208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"channel":"#test-channel","workspace":"Datadog"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/2a728a3b-da04-4194-882f-3e46d4c15fd7/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"ff35288a-d042-4291-8219-967cd75a30ba","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 216.99425ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/2a728a3b-da04-4194-882f-3e46d4c15fd7
        method: GET
      response:
        body: '{"data":{"id":"2a728a3b-da04-4194-882f-3e46d4c15fd7","type":"team","attributes":{"created_at":"2026-01-13T10:20:03.699515+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleimport-local-1768299601","is_managed":false,"link_count":0,"modified_at":"2026-01-13T10:20:03.699515+00:00","name":"tf-testaccteamnotificationruleimport-local-1768299601","summary":"Example team","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/2a728a3b-da04-4194-882f-3e46d4c15fd7/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/2a728a3b-da04-4194-882f-3e46d4c15fd7/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 139.24ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/2a728a3b-da04-4194-882f-3e46d4c15fd7/notification-rules/ff35288a-d042-4291-8219-967cd75a30ba
        method: GET
      response:
        body: '{"data":{"id":"ff35288a-d042-4291-8219-967cd75a30ba","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 140.831459ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/2a728a3b-da04-4194-882f-3e46d4c15fd7/notification-rules/ff35288a-d042-4291-8219-967cd75a30ba
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 141.024958ms
