---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"blob_prefix":"logs/","container_name":"logs-container","id":"azure-storage-destination-1","inputs":["source-1"],"type":"azure_storage"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"azure-storage-dest-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"3813174c-f20d-11f0-8692-da7ad0900002","type":"pipelines","attributes":{"name":"azure-storage-dest-pipeline","config":{"destinations":[{"blob_prefix":"logs/","container_name":"logs-container","id":"azure-storage-destination-1","inputs":["source-1"],"type":"azure_storage"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 743.102667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/3813174c-f20d-11f0-8692-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"3813174c-f20d-11f0-8692-da7ad0900002","type":"pipelines","attributes":{"name":"azure-storage-dest-pipeline","config":{"destinations":[{"blob_prefix":"logs/","container_name":"logs-container","id":"azure-storage-destination-1","inputs":["source-1"],"type":"azure_storage"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 317.894292ms
[...]
