---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"bundle_config":{"duration":3600},"filter":{"tags":["env:tf-TestAccMonitorNotificationRuleWithBundleConfig_Create-local-1787173421","host:abc"]},"name":"A notification rule name","recipients":["slack-foo"]},"type":"monitor-notification-rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/monitor/notification_rule
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-notification-rule","id":"115f4f89-ef05-431f-9ee6-bbdde50e4caf","attributes":{"name":"A notification rule name","created_at":"2026-08-19T21:03:43.751752+00:00","modified_at":"2026-08-19T21:03:43.783700+00:00","filter":{"tags":["env:tf-TestAccMonitorNotificationRuleWithBundleConfig_Create-local-1787173421","host:abc"]},"recipients":["slack-foo"],"bundle_config":{"duration":3600}},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog","handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2026-07-10T19:34:11.410571+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active","last_login_time":"2024-01-04T18:40:05+00:00"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.71375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/monitor/notification_rule/115f4f89-ef05-431f-9ee6-bbdde50e4caf
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-notification-rule","id":"115f4f89-ef05-431f-9ee6-bbdde50e4caf","attributes":{"name":"A notification rule name","created_at":"2026-08-19T21:03:43.751752+00:00","modified_at":"2026-08-19T21:03:43.783700+00:00","filter":{"tags":["env:tf-TestAccMonitorNotificationRuleWithBundleConfig_Create-local-1787173421","host:abc"]},"recipients":["slack-foo"],"bundle_config":{"duration":3600}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.550709ms
[...]
