---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/org
        method: GET
      response:
        body: |
            {"orgs":[{"public_id":"ff4a8255-6931-58d1-add0-a6b3602d5421","name":"Org Mgmt Root","description":null,"created":"2026-02-04 23:00:24","subscription":{"id":null,"billing_plan_id":8,"started":1770246024,"expires":null,"finished":null,"type":"dogfood","is_custom":false,"is_trial":false,"is_expired":true},"billing":{},"settings":{"default_landing_page":"Dashboard Lists","saml":{"enabled":false},"saml_can_be_enabled":false,"saml_login_url":null,"saml_idp_metadata_uploaded":false,"saml_idp_endpoint":null,"saml_idp_metadata_valid_until":null,"custom_landing_page":null,"saml_idp_initiated_login":{"enabled":false},"saml_strict_mode":{"enabled":false},"saml_autocreate_access_role":"st","saml_autocreate_users_domains":{"enabled":false,"domains":[]},"private_widget_share":true,"manage_reports":"true"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.913783ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_memberships?filter%5Borg_uuid%5D=ff4a8255-6931-58d1-add0-a6b3602d5421
        method: GET
      response:
        body: '{"data":[{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-04-22T20:57:06.675834Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019c2ae2-b05d-7cc9-aa88-38e1f26b7a0d","type":"org_groups"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 34.911304ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicyOverride_AutoCreation-local-1776891428"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019db6fb-8180-794c-8d9d-22fbb6aa1ad6","type":"org_groups","attributes":{"created_at":"2026-04-22T20:57:09.248Z","modified_at":"2026-04-22T20:57:09.250951Z","name":"tf-TestAccDatadogOrgGroupPolicyOverride_AutoCreation-local-1776891428","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 36.688173ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","relationships":{"org_group":{"data":{"id":"019db6fb-8180-794c-8d9d-22fbb6aa1ad6","type":"org_groups"}}},"type":"org_group_memberships"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_memberships/019c2ae2-b060-7954-8606-6fe2b42616c4
        method: PATCH
      response:
        body: '{"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-04-22T20:57:09.34277Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db6fb-8180-794c-8d9d-22fbb6aa1ad6","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 57.993469ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":true},"enforcement_tier":"ENFORCE","policy_name":"is_widget_copy_paste_enabled"},"relationships":{"org_group":{"data":{"id":"019db6fb-8180-794c-8d9d-22fbb6aa1ad6","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019db6fb-8206-71ab-8ea2-8769b0128f41","type":"org_group_policies","attributes":{"content":{"org_config":true},"enforced_at":"2026-04-22T20:57:09.38291Z","enforcement_tier":"ENFORCE","modified_at":"2026-04-22T20:57:09.38291Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db6fb-8180-794c-8d9d-22fbb6aa1ad6","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 97.31668ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db6fb-8180-794c-8d9d-22fbb6aa1ad6
        method: GET
      response:
        body: '{"data":{"id":"019db6fb-8180-794c-8d9d-22fbb6aa1ad6","type":"org_groups","attributes":{"created_at":"2026-04-22T20:57:09.248Z","modified_at":"2026-04-22T20:57:09.250951Z","name":"tf-TestAccDatadogOrgGroupPolicyOverride_AutoCreation-local-1776891428","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 34.881389ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019db6fb-8206-71ab-8ea2-8769b0128f41
        method: GET
      response:
        body: '{"data":{"id":"019db6fb-8206-71ab-8ea2-8769b0128f41","type":"org_group_policies","attributes":{"content":{"org_config":true},"enforced_at":"2026-04-22T20:57:09.38291Z","enforcement_tier":"ENFORCE","modified_at":"2026-04-22T20:57:09.38291Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db6fb-8180-794c-8d9d-22fbb6aa1ad6","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 48.224472ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019db6fb-8180-794c-8d9d-22fbb6aa1ad6&filter%5Bpolicy_id%5D=019db6fb-90d1-7055-92d5-45d744042e25
        method: GET
      response:
        body: '{"data":[{"id":"019db6fb-90d9-7651-8182-7c819ec8d826","type":"org_group_policy_overrides","attributes":{"content":{"org_config":true},"created_at":"2026-04-22T20:57:13.172864Z","modified_at":"2026-04-22T20:57:13.172864Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db6fb-8180-794c-8d9d-22fbb6aa1ad6","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db6fb-90d1-7055-92d5-45d744042e25","type":"org_group_policies"}}}}],"meta":{"page":{"type":"number_size","number":0,"size":50,"total":1,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019db6fb-8180-794c-8d9d-22fbb6aa1ad6\u0026filter%5Bpolicy_id%5D=019db6fb-90d1-7055-92d5-45d744042e25","first":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019db6fb-8180-794c-8d9d-22fbb6aa1ad6\u0026filter[policy_id]=019db6fb-90d1-7055-92d5-45d744042e25\u0026page[number]=0\u0026page[size]=50","last":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019db6fb-8180-794c-8d9d-22fbb6aa1ad6\u0026filter[policy_id]=019db6fb-90d1-7055-92d5-45d744042e25\u0026page[number]=0\u0026page[size]=50"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 47.102575ms
[...]
    - id: 20
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides/019db6fb-90d9-7651-8182-7c819ec8d826
        method: GET
      response:
        body: '{"data":{"id":"019db6fb-90d9-7651-8182-7c819ec8d826","type":"org_group_policy_overrides","attributes":{"created_at":"2026-04-22T20:57:13.172864Z","modified_at":"2026-04-22T20:57:13.172864Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019db6fb-8180-794c-8d9d-22fbb6aa1ad6","type":"org_groups"}},"org_group_policy":{"data":{"id":"019db6fb-90d1-7055-92d5-45d744042e25","type":"org_group_policies"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 68.871708ms
[...]
    - id: 32
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db6fb-8180-794c-8d9d-22fbb6aa1ad6
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"org group 019db6fb-8180-794c-8d9d-22fbb6aa1ad6 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 33.316436ms
