---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"suppression for terraform provider test","enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateDataExclusionQuery-local-1757025287","rule_query":"severity:low source:cloudtrail","suppression_query":"@usr.team:internal-security-testing"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: POST
      response:
        body: '{"data":{"id":"v79-hv5-jgq","type":"suppressions","attributes":{"creation_date":1757025287746,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"suppression for terraform provider test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateDataExclusionQuery-local-1757025287","rule_query":"severity:low source:cloudtrail","suppression_query":"@usr.team:internal-security-testing","tags":[],"update_date":1757025287746,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 132.918667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/v79-hv5-jgq
        method: GET
      response:
        body: '{"data":{"id":"v79-hv5-jgq","type":"suppressions","attributes":{"creation_date":1757025287746,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"suppression for terraform provider test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateDataExclusionQuery-local-1757025287","rule_query":"severity:low source:cloudtrail","suppression_query":"@usr.team:internal-security-testing","tags":[],"update_date":1757025287746,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 117.264709ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/v79-hv5-jgq
        method: GET
      response:
        body: '{"errors":["not_found(Suppression with ID v79-hv5-jgq not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 108.945708ms
