version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"@ident:ha-proxy"},"group_by":[{"path":"@env","tag_name":"env"},{"path":"@http_status_code","tag_name":"http_status_code"}]},"id":"tf_TestAccDatadogLogsMetricCount_Basic_local_1682695275","type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/logs/config/metrics
    method: POST
    id: 0
  response:
    body: |
      {"data":{"id":"tf_TestAccDatadogLogsMetricCount_Basic_local_1682695275","attributes":{"filter":{"query":"@ident:ha-proxy"},"group_by":[{"path":"@env","tag_name":"env"},{"path":"@http_status_code","tag_name":"http_status_code"}],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/tf_TestAccDatadogLogsMetricCount_Basic_local_1682695275
    method: GET
    id: 1
  response:
    body: |
      {"data":{"id":"tf_TestAccDatadogLogsMetricCount_Basic_local_1682695275","attributes":{"filter":{"query":"@ident:ha-proxy"},"group_by":[{"path":"@env","tag_name":"env"},{"path":"@http_status_code","tag_name":"http_status_code"}],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: |
      {"data":{"attributes":{"compute":{},"filter":{"query":"@ident:ha-proxy"},"group_by":[{"path":"@http_status_code","tag_name":"http_status_code"},{"path":"@env","tag_name":"env_updated"}]},"type":"logs_metrics"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/tf_TestAccDatadogLogsMetricCount_Basic_local_1682695275
    method: PATCH
    id: 4
  response:
    body: |
      {"data":{"id":"tf_TestAccDatadogLogsMetricCount_Basic_local_1682695275","attributes":{"filter":{"query":"@ident:ha-proxy"},"group_by":[{"path":"@env","tag_name":"env_updated"},{"path":"@http_status_code","tag_name":"http_status_code"}],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/logs/config/metrics/tf_TestAccDatadogLogsMetricCount_Basic_local_1682695275
    method: GET
    id: 8
  response:
    body: |
      {"errors":["not_found(Metric with name 'tf_TestAccDatadogLogsMetricCount_Basic_local_1682695275' not found)"]}
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
