---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1719590090","tags":[],"value":{"secure":false,"value":"bar"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"f4e159ae-0227-404f-bb94-7add164b8e00","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1719590090","description":"","type":"variable","tags":[],"parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"last_error":null,"value":{"secure":false,"value":"bar"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 409.362334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/f4e159ae-0227-404f-bb94-7add164b8e00
        method: GET
      response:
            - chunked
        body: |
            {"id":"f4e159ae-0227-404f-bb94-7add164b8e00","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1719590090","description":"","type":"variable","tags":[],"created_at":"2024-06-28T15:54:54.789489+00:00","modified_at":"2024-06-28T15:54:54.789489+00:00","parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"last_error":null,"value":{"secure":false,"value":"bar"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.142125ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: GET
      response:
            - chunked
        body: |
            {"variables":[{"id":"01abbdd9-70a4-4691-9d05-02fce9b8bfa4","name":"TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1718988241","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2024-06-21T16:44:03.050643+00:00","modified_at":"2024-06-21T16:44:03.050643+00:00","parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"last_error":null,"value":{"secure":false,"value":"variable-value"[...]
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/f4e159ae-0227-404f-bb94-7add164b8e00
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 171.112916ms
[...]
