---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"name":"tf-TestAccDatadogSecurityNotificationRuleFull-local-1758619276vulnerability","selectors":{"query":"simple:query","rule_types":["misconfiguration"],"severities":["critical"],"trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600},"type":"notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules
        method: POST
      response:
        body: '{"data":{"id":"9id-lho-psh","type":"notification_rules","attributes":{"created_at":1758619277234,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":false,"modified_at":1758619277234,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"tf-TestAccDatadogSecurityNotificationRuleFull-local-1758619276vulnerability","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 176.686542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"name":"tf-TestAccDatadogSecurityNotificationRuleFull-local-1758619276signal","selectors":{"query":"simple:query","rule_types":["attack_path","misconfiguration"],"severities":["critical"],"trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0},"type":"notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules
        method: POST
      response:
        body: '{"data":{"id":"onr-lzm-u74","type":"notification_rules","attributes":{"created_at":1758619277428,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":false,"modified_at":1758619277428,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"tf-TestAccDatadogSecurityNotificationRuleFull-local-1758619276signal","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"simple:query","trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 193.784667ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/onr-lzm-u74
        method: GET
      response:
        body: '{"data":{"id":"onr-lzm-u74","type":"notification_rules","attributes":{"created_at":1758619277428,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":false,"modified_at":1758619277428,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"tf-TestAccDatadogSecurityNotificationRuleFull-local-1758619276signal","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"simple:query","trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 137.820834ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/9id-lho-psh
        method: GET
      response:
        body: '{"data":{"id":"9id-lho-psh","type":"notification_rules","attributes":{"created_at":1758619277234,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":false,"modified_at":1758619277234,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"tf-TestAccDatadogSecurityNotificationRuleFull-local-1758619276vulnerability","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 142.113042ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/onr-lzm-u74
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''onr-lzm-u74'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 147.525041ms
    - id: 17
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/onr-lzm-u74
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''onr-lzm-u74'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 138.679083ms
    - id: 18
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/9id-lho-psh
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''9id-lho-psh'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 129.908125ms
[...]
