---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"","monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"mute_first_recovery_notification":false,"notify_end_types":[],"schedule":{"end":null,"start":"2050-01-02T03:04:05Z"},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689975764)"},"type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime
    method: POST
  response:
    body: |
      {"data":{"type":"downtime","id":"87fb2d3c-280f-11ee-8ad6-da7ad0900002","attributes":{"created":"2023-07-21T21:42:46.605645+00:00","mute_first_recovery_notification":false,"notify_end_types":[],"notify_end_states":["no data","warn","alert"],"canceled":null,"message":null,"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689975764)","status":"scheduled","monitor_identifier":{"monitor_tags":["mat:sat","cat:hat"]},"display_timezone":"UTC","schedule":{"end":null,"start":"2050-01-02T03:04:05+00:00"},"modified":"2023-07-21T21:42:46.605645+00:00"},"relationships":{"created_by":{"data":{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92"}},"monitor":{"data":null}}},"included":[{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92","attributes":{"name":"Carl Martensen","handle":"carl.martensen@datadoghq.com","created_at":"2019-01-15T14:36:15.423919+00:00","modified_at":"2019-01-15T14:36:15.457748+00:00","email":"carl.martensen@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ed460c2fc567a43e34c2bd7cda76bdd1?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/downtime/87fb2d3c-280f-11ee-8ad6-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"downtime","attributes":{"status":"scheduled","notify_end_states":["no data","warn","alert"],"notify_end_types":[],"message":null,"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689975764)","modified":"2023-07-21T21:42:46.605645+00:00","schedule":{"end":null,"start":"2050-01-02T03:04:05+00:00"},"created":"2023-07-21T21:42:46.605645+00:00","display_timezone":"UTC","mute_first_recovery_notification":false,"monitor_identifier":{"monitor_tags":["mat:sat","cat:hat"]},"canceled":null},"id":"87fb2d3c-280f-11ee-8ad6-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
