---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"name":"tf-TestAccDatadogNotificationRuleSignalRuleSimple-local-1739193805","selectors":{"query":"simple:query","rule_types":["attack_path","misconfiguration"],"severities":["critical"],"trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0},"type":"notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules
        method: POST
      response:
        body: '{"data":{"id":"8i2-kyq-dby","type":"notification_rules","attributes":{"created_at":1739193807637,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1739193807637,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleSignalRuleSimple-local-1739193805","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"simple:query","trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 468.494292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/8i2-kyq-dby
        method: GET
      response:
        body: '{"data":{"id":"8i2-kyq-dby","type":"notification_rules","attributes":{"created_at":1739193807637,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1739193807637,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleSignalRuleSimple-local-1739193805","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"simple:query","trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 272.66325ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/8i2-kyq-dby
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''8i2-kyq-dby'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 144.077667ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/8i2-kyq-dby
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''8i2-kyq-dby'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 142.386542ms
