---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1690985925-screen","widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"mge-z2m-emb","title":"tf-TestDatadogDashListImport-local-1690985925-screen","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/mge-z2m-emb/tf-testdatadogdashlistimport-local-1690985925-screen","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":6874547096050083}],"notify_list":[],"created_at":"2023-08-02T14:18:49.540979+00:00","modified_at":"2023-08-02T14:18:49.540979+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/mge-z2m-emb
    method: GET
  response:
    body: |
      {"id":"mge-z2m-emb","title":"tf-TestDatadogDashListImport-local-1690985925-screen","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/mge-z2m-emb/tf-testdatadogdashlistimport-local-1690985925-screen","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":6874547096050083}],"notify_list":[],"created_at":"2023-08-02T14:18:49.540979+00:00","modified_at":"2023-08-02T14:18:49.540979+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1690985925-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"s2k-mwf-wnh","title":"tf-TestDatadogDashListImport-local-1690985925-time","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/s2k-mwf-wnh/tf-testdatadogdashlistimport-local-1690985925-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":5475443000876135}],"notify_list":[],"created_at":"2023-08-02T14:18:50.193734+00:00","modified_at":"2023-08-02T14:18:50.193734+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/s2k-mwf-wnh
    method: GET
  response:
    body: |
      {"id":"s2k-mwf-wnh","title":"tf-TestDatadogDashListImport-local-1690985925-time","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/s2k-mwf-wnh/tf-testdatadogdashlistimport-local-1690985925-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":5475443000876135}],"notify_list":[],"created_at":"2023-08-02T14:18:50.193734+00:00","modified_at":"2023-08-02T14:18:50.193734+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-TestDatadogDashListImport-local-1690985925"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-08-02T14:18:50.592930+00:00","dashboards":null,"dashboard_count":0,"id":405192,"is_favorite":false,"modified":"2023-08-02T14:18:50.592937+00:00","name":"tf-TestDatadogDashListImport-local-1690985925","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"mge-z2m-emb","type":"custom_screenboard"},{"id":"s2k-mwf-wnh","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/405192/dashboards
    method: PUT
  response:
    body: |
      {"dashboards":[{"type":"custom_screenboard","id":"mge-z2m-emb"},{"type":"custom_timeboard","id":"s2k-mwf-wnh"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405192
    method: GET
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-08-02T14:18:50.592930+00:00","dashboards":null,"dashboard_count":2,"id":405192,"is_favorite":false,"modified":"2023-08-02T14:18:50.815731+00:00","name":"tf-TestDatadogDashListImport-local-1690985925","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/405192/dashboards
    method: GET
  response:
    body: |
      {"dashboards":[{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-08-02T14:18:50.193734+00:00","is_favorite":false,"is_shared":false,"modified":"2023-08-02T14:18:50.193734+00:00","title":"tf-TestDatadogDashListImport-local-1690985925-time","type":"custom_timeboard","id":"s2k-mwf-wnh","url":"/dashboard/s2k-mwf-wnh/tf-testdatadogdashlistimport-local-1690985925-time","is_read_only":true,"tags":[],"icon":null,"integration_id":null,"popularity":0},{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-08-02T14:18:49.540979+00:00","is_favorite":false,"is_shared":false,"modified":"2023-08-02T14:18:49.540979+00:00","title":"tf-TestDatadogDashListImport-local-1690985925-screen","type":"custom_screenboard","id":"mge-z2m-emb","url":"/dashboard/mge-z2m-emb/tf-testdatadogdashlistimport-local-1690985925-screen","is_read_only":false,"tags":[],"icon":null,"integration_id":null,"popularity":0}],"total":2}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405192
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_list_id":405192}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/s2k-mwf-wnh
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"s2k-mwf-wnh"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405192
    method: GET
  response:
    body: '{"errors":["Manual Dashboard List with id 405192 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
