---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[]},"type":"grid"}],"description":"Test app for publish/unpublish","favorite":false,"name":"tf-TestAccDatadogAppBuilderAppResource_PublishUnpublish-local-1761865867","queries":[{"id":"11111111-1111-1111-1111-111111111111","name":"listTeams0","properties":{"onlyTriggerManually":false,"outputs":"${((outputs) =\u003e {return outputs.data.map(item =\u003e item.attributes.name);})(self.rawOutputs)}","spec":{"connectionId":"11111111-2222-3333-4444-555555555555","fqn":"com.datadoghq.dd.teams.listTeams","inputs":{}}},"type":"action"}],"rootInstanceName":"grid0","selfService":false,"tags":[]},"type":"appDefinitions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/app-builder/apps
        method: POST
      response:
        body: '{"data":{"id":"2c2be350-621d-4398-b0b5-31655df117b0","type":"appDefinitions"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 292.317417ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/2c2be350-621d-4398-b0b5-31655df117b0/deployment
        method: DELETE
      response:
        body: '{"data":{"id":"6c723a02-2420-4610-8ef6-e20762c39465","type":"deployment","attributes":{"app_version_id":"00000000-0000-0000-0000-000000000000"},"meta":{"created_at":"2025-10-30T23:11:08.596423Z","user_id":64277601,"user_uuid":"c88f3baa-b5bf-11f0-9a63-1ed6a528d8b4","user_name":"tiffany.trinh@datadoghq.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 185.056084ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/2c2be350-621d-4398-b0b5-31655df117b0
        method: GET
      response:
        body: '{"data":{"id":"2c2be350-621d-4398-b0b5-31655df117b0","type":"appDefinitions","attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[]},"type":"grid"}],"description":"Test app for publish/unpublish","favorite":false,"name":"tf-TestAccDatadogAppBuilderAppResource_PublishUnpublish-local-1761865867","queries":[{"id":"11111111-1111-1111-1111-111111111111","name":"listTeams0","type":"action","properties":{"onlyTriggerManually":false,"outputs":"${((outputs) =\u003e {return outputs.data.map(item =\u003e item.attributes.name);})(self.rawOutputs)}","spec":{"connectionId":"11111111-2222-3333-4444-555555555555","fqn":"com.datadoghq.dd.teams.listTeams","inputs":{}}}}],"rootInstanceName":"grid0","selfService":false,"tags":[]},"relationships":{"deployment":{"data":{"id":"6c723a02-2420-4610-8ef6-e20762c39465","type":"deployment"},"meta":{"created_at":"2025-10-30T23:11:08.596423Z","user_id":64277601,"user_uuid":"c88f3baa-b5bf-11f0-9a63-1ed6a528d8b4","user_name":""}}},"meta":{"org_id":321813,"user_id":64277601,"user_uuid":"c88f3baa-b5bf-11f0-9a63-1ed6a528d8b4","user_name":"tiffany.trinh@datadoghq.com","version":1,"version_id":"4b701ee1-b52b-4332-8d54-2f1d46b25156","updated_since_deployment":false,"created_at":"2025-10-30T23:11:08.332786Z","updated_at":"2025-10-30T23:11:08.332786Z","deleted_at":"0001-01-01T00:00:00Z","run_as_user":"c88f3baa-b5bf-11f0-9a63-1ed6a528d8b4"}},"included":[{"id":"6c723a02-2420-4610-8ef6-e20762c39465","type":"deployment","attributes":{"app_version_id":"00000000-0000-0000-0000-000000000000"},"meta":{"created_at":"2025-10-30T23:11:08.596423Z","user_id":64277601,"user_uuid":"c88f3baa-b5bf-11f0-9a63-1ed6a528d8b4","user_name":""}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 107.486583ms
[...]
    - id: 29
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/2c2be350-621d-4398-b0b5-31655df117b0
        method: GET
      response:
        body: '{"errors":[{"status":"404","id":"8e6d0849-d41c-4b10-aa67-c14c1b940003","title":"app not found","detail":"app with id 2c2be350-621d-4398-b0b5-31655df117b0 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 45.032125ms
