---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
    method: POST
  response:
    body: |
      {"data":{"type":"gcp_sts_delegate","id":"ddgci-db722236db7f626d6e86@datadog-gci-sts-us1-prod.iam.gserviceaccount.com","attributes":{"delegate_account_email":"ddgci-db722236db7f626d6e86@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"automute":false,"client_email":"tf-TestAccIntegrationGcpStsAccountBasic-local-1685454571@test-project.iam.gserviceaccount.com","host_filters":["tag:one","tag:two"],"is_cspm_enabled":false},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
    method: POST
  response:
    body: |
      {"data":{"type":"gcp_service_account","id":"c6a4c2d0-f8dc-486e-b587-baa04cd7c3cd","attributes":{"automute":false,"is_cspm_enabled":false,"host_filters":["tag:one","tag:two"],"client_email":"tf-TestAccIntegrationGcpStsAccountBasic-local-1685454571@test-project.iam.gserviceaccount.com"}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
    method: GET
  response:
    body: |
      {"data":[{"type":"gcp_service_account","attributes":{"automute":false,"client_email":"tf-TestAccIntegrationGcpStsAccountBasic-local-1685454571@test-project.iam.gserviceaccount.com","is_cspm_enabled":false,"host_filters":["tag:one","tag:two"]},"id":"c6a4c2d0-f8dc-486e-b587-baa04cd7c3cd","meta":{"accessible_projects":[]}},{"type":"gcp_service_account","attributes":{"automute":false,"client_email":"awesome-service-account@awesome-project-id.iam.gserviceaccount.com","is_cspm_enabled":false,"host_filters":["foo:bar","buzz:lightyear"]},"id":"e35356e7-ce82-4d30-b6c3-f1bffae9bd7e","meta":{"accessible_projects":["awesome-project-id"]}},{"type":"gcp_service_account","attributes":{"automute":false,"client_email":"ddgci-db722231116db7f626d6e86@datadog-gci-sts-us1-prod.iam.gserviceaccount.com","is_cspm_enabled":false,"host_filters":["filter_one","filter_two"]},"id":"591221e2-2c1e-47bd-bffe-db1f9f91adf9","meta":{"accessible_projects":[]}},{"type":"gcp_service_account","attributes":{"automute":false,"client_email":"awesome-service-account-two@awesome-project-id.iam.gserviceaccount.com","is_cspm_enabled":false,"host_filters":["foo:bar","buzz:lightyear"]},"id":"c08501c6-53b7-4d6f-83fd-c100cdb3cb9a","meta":{"accessible_projects":["awesome-project-id-two"]}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"automute":true,"client_email":"tf-TestAccIntegrationGcpStsAccountBasic-local-1685454571@test-project.iam.gserviceaccount.com","host_filters":[],"is_cspm_enabled":true},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/c6a4c2d0-f8dc-486e-b587-baa04cd7c3cd
    method: PATCH
  response:
    body: |
      {"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":true,"client_email":"tf-TestAccIntegrationGcpStsAccountBasic-local-1685454571@test-project.iam.gserviceaccount.com","automute":true,"host_filters":[]},"id":"c6a4c2d0-f8dc-486e-b587-baa04cd7c3cd"}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
