---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2QueryValueComparison_import-local-1784742692","widgets":[{"definition":{"autoscale":false,"precision":0,"requests":[{"comparison":{"directionality":"increase_better","duration":{"custom_timeframe":{"from":1779290190000,"to":1779894990000},"type":"custom_timeframe"},"type":"both"},"q":"avg:system.cpu.user{*}"}],"title":"CPU comparison","type":"query_value"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"xy9-azp-9rn","title":"tf-TestAccDatadogDashboardV2QueryValueComparison_import-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xy9-azp-9rn/tf-testaccdatadogdashboardv2queryvaluecomparisonimport-local-1784742692","template_variables":[],"widgets":[{"definition":{"autoscale":false,"precision":0,"requests":[{"comparison":{"directionality":"increase_better","duration":{"custom_timeframe":{"from":1779290190000,"to":1779894990000},"type":"custom_timeframe"},"type":"both"},"q":"avg:system.cpu.user{*}"}],"title":"CPU comparison","type":"query_value"},"id":7925939139461715}],"notify_list":[],"created_at":"2026-07-22T17:51:36.557332+00:00","modified_at":"2026-07-22T17:51:36.557332+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 585.499959ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/xy9-azp-9rn
        method: GET
      response:
            - chunked
        body: '{"id":"xy9-azp-9rn","title":"tf-TestAccDatadogDashboardV2QueryValueComparison_import-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xy9-azp-9rn/tf-testaccdatadogdashboardv2queryvaluecomparisonimport-local-1784742692","template_variables":[],"widgets":[{"definition":{"autoscale":false,"precision":0,"requests":[{"comparison":{"directionality":"increase_better","duration":{"custom_timeframe":{"from":1779290190000,"to":1779894990000},"type":"custom_timeframe"},"type":"both"},"q":"avg:system.cpu.user{*}"}],"title":"CPU comparison","type":"query_value"},"id":7925939139461715}],"notify_list":[],"created_at":"2026-07-22T17:51:36.557332+00:00","modified_at":"2026-07-22T17:51:36.557332+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 190.726916ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/xy9-azp-9rn
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"xy9-azp-9rn"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 609.373083ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xy9-azp-9rn
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID xy9-azp-9rn not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 174.020625ms
