---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogusersdatasourcefilterstatus-local-17586192940@example.com","name":"user 0"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"b3e2f034-985e-11f0-b3f1-166929e0c295","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcefilterstatus-local-17586192940@example.com","created_at":"2025-09-23T09:21:36.082770+00:00","modified_at":"2025-09-23T09:21:36.082770+00:00","email":"tf-testaccdatadogusersdatasourcefilterstatus-local-17586192940@example.com","icon":"https://secure.gravatar.com/avatar/1de48462a06112845dacce694add050b?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 617.223542ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"b3e2f034-985e-11f0-b3f1-166929e0c295","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"b46c3f34-985e-11f0-a217-da7ad0900002","attributes":{"uuid":"b46c3f34-985e-11f0-a217-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:21:36.982439+00:00","expires_at":"2025-09-25T09:21:36.428851+00:00"},"relationships":{"user":{"data":{"type":"users","id":"b3e2f034-985e-11f0-b3f1-166929e0c295"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 889.518792ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=user+0&filter%5Bstatus%5D=Pending&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"b431b9e4-985e-11f0-b817-72d874262dfd","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcefilter-local-17586192940@example.com","created_at":"2025-09-23T09:21:36.599113+00:00","modified_at":"2025-09-23T09:21:36.599113+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17586192940@example.com","icon":"https://secure.gravatar.com/avatar/29ee5f23d50376964d25a3f1a6884125?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},{"type":"users","id":"b3e2f034-985e-11f0-b3f1-166929e0c295","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcefilterstatus-local-17586192940@example.com","created_at":"2025-09-23T09:21:36.082770+00:00","modified_at":"2025-09-23T09:21:36.082770+00:00","email":"tf-testaccdatadogusersdatasourcefilterstatus-local-17586192940@example.com","icon":"https://secure.gravatar.com/avatar/1de48462a06112845dacce694add050b?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":437,"total_filtered_count":2,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 208.910083ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/b3e2f034-985e-11f0-b3f1-166929e0c295
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"b3e2f034-985e-11f0-b3f1-166929e0c295","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcefilterstatus-local-17586192940@example.com","created_at":"2025-09-23T09:21:36.082770+00:00","modified_at":"2025-09-23T09:21:36.082770+00:00","email":"tf-testaccdatadogusersdatasourcefilterstatus-local-17586192940@example.com","icon":"https://secure.gravatar.com/avatar/1de48462a06112845dacce694add050b?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.384875ms
[...]
