---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1789552427","published":false,"runAs":{"type":"owner"},"spec":{"steps":[],"triggers":[{"startStepNames":[],"workflowTrigger":{}}]},"tags":["foo:bar","service:foo","team:bar"],"webhookSecret":""},"type":"workflows"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/workflows
        method: POST
      response:
        body: '{"data":{"id":"f37dc51e-876b-421f-a1a1-bae87b2b21f3","type":"workflows","attributes":{"createdAt":"2026-09-16T09:53:51.182702Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1789552427","published":false,"runAsUserMode":"owner","sensitivePrivileges":false,"spec":{"triggers":[{"startStepNames":[],"workflowTrigger":{}}],"steps":[]},"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2026-09-16T09:53:51.182702Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 370.711958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/f37dc51e-876b-421f-a1a1-bae87b2b21f3
        method: GET
      response:
        body: '{"data":{"id":"f37dc51e-876b-421f-a1a1-bae87b2b21f3","type":"workflows","attributes":{"createdAt":"2026-09-16T09:53:51.182702Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1789552427","published":false,"runAsUserMode":"owner","sensitivePrivileges":false,"spec":{"triggers":[{"startStepNames":[],"workflowTrigger":{}}],"steps":[]},"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2026-09-16T09:53:51.182702Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 160.470333ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogworkflowautomationresource-local-1789552427@example.com","name":"tf-service-account-tf-testaccdatadogworkflowautoma","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"8676f585-b1b4-11f1-97d8-86c7f097dfe9","attributes":{"uuid":"8676f585-b1b4-11f1-97d8-86c7f097dfe9","name":"tf-service-account-tf-testaccdatadogworkflowautoma","handle":"8676f585-b1b4-11f1-97d8-86c7f097dfe9","created_at":"2026-09-16T09:53:53.336912+00:00","modified_at":"2026-09-16T09:53:53.336912+00:00","email":"tf-testaccdatadogworkflowautomationresource-local-1789552427@example.com","icon":"https://secure.gravatar.com/avatar/495c6fc09e34f203497b4ddbad9ac594?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 274.934791ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/8676f585-b1b4-11f1-97d8-86c7f097dfe9
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"8676f585-b1b4-11f1-97d8-86c7f097dfe9","attributes":{"uuid":"8676f585-b1b4-11f1-97d8-86c7f097dfe9","name":"tf-service-account-tf-testaccdatadogworkflowautoma","handle":"8676f585-b1b4-11f1-97d8-86c7f097dfe9","created_at":"2026-09-16T09:53:53.336912+00:00","modified_at":"2026-09-16T09:53:53.336912+00:00","email":"tf-testaccdatadogworkflowautomationresource-local-1789552427@example.com","icon":"https://secure.gravatar.com/avatar/495c6fc09e34f203497b4ddbad9ac594?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":["SAML","google_oidc"],"status":"Active","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"team_roles":{"data":[]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.460166ms
[...]
