---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"","monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"mute_first_recovery_notification":false,"notify_end_types":[],"schedule":{"end":null,"start":"2050-01-02T03:04:05Z"},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1690330200)"},"type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime
    method: POST
  response:
    body: |
      {"data":{"type":"downtime","relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"monitor":{"data":null}},"id":"c5258158-2b48-11ee-9c6b-da7ad0900002","attributes":{"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1690330200)","status":"scheduled","monitor_identifier":{"monitor_tags":["mat:sat","cat:hat"]},"modified":"2023-07-26T00:10:04.026506+00:00","mute_first_recovery_notification":false,"notify_end_states":["alert","warn","no data"],"schedule":{"start":"2050-01-02T03:04:05+00:00","end":null},"display_timezone":"UTC","notify_end_types":[],"created":"2023-07-26T00:10:04.026506+00:00","message":null,"canceled":null}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/downtime/c5258158-2b48-11ee-9c6b-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"downtime","attributes":{"notify_end_states":["alert","no data","warn"],"created":"2023-07-26T00:10:04.026506+00:00","monitor_identifier":{"monitor_tags":["mat:sat","cat:hat"]},"message":null,"notify_end_types":[],"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1690330200)","canceled":null,"modified":"2023-07-26T00:10:04.026506+00:00","status":"scheduled","display_timezone":"UTC","schedule":{"end":null,"start":"2050-01-02T03:04:05+00:00"},"mute_first_recovery_notification":false},"id":"c5258158-2b48-11ee-9c6b-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
