---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"action":{"due_days_per_severity":[{"due_in_days":7,"severity":"critical"},{"due_in_days":30,"severity":"high"},{"due_in_days":180,"severity":"low"}],"due_from":"first_seen","reason_description":"context"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsDueDateRule_DueDaysPerSeverityChurn-local-1782289770","rule":{"finding_types":["misconfiguration"]}},"type":"due_date_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules
        method: POST
      response:
        body: '{"data":{"id":"2ff2d783-c75d-4e77-8189-f3153421519d","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7},{"severity":"high","due_in_days":30},{"severity":"low","due_in_days":180}],"due_from":"first_seen","reason_description":"context"},"created_at":1782289771870,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782289771870,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsDueDateRule_DueDaysPerSeverityChurn-local-1782289770","rule":{"finding_types":["misconfiguration"]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 437.862833ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules/2ff2d783-c75d-4e77-8189-f3153421519d
        method: GET
      response:
        body: '{"data":{"id":"2ff2d783-c75d-4e77-8189-f3153421519d","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7},{"severity":"high","due_in_days":30},{"severity":"low","due_in_days":180}],"due_from":"first_seen","reason_description":"context"},"created_at":1782289771870,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782289771870,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsDueDateRule_DueDaysPerSeverityChurn-local-1782289770","rule":{"finding_types":["misconfiguration"]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 162.061708ms
[...]
    - id: 8
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules/2ff2d783-c75d-4e77-8189-f3153421519d
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 175.263833ms
