---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListCloudWorkloadSecurityAgentRules
    url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
    method: GET
  response:
    body: '{"data":[{"attributes":{"category":"Process Activity","name":"tf_TestAccDatadogCloudWorkloadSecurityAgentRule_local_1643392923","creator":{"handle":"frog@datadoghq.com","name":null},"description":"an agent rule","enabled":true,"defaultRule":false,"version":1,"updater":{"handle":"frog@datadoghq.com","name":null},"updateDate":1643392938634,"creationDate":1643392938634,"expression":"exec.file.name == \"java\""},"type":"agent_rule","id":"rsy-7jg-hqm"},{"attributes":{"category":"Process Activity","name":"tf_TestAccDatadogCloudWorkloadSecurityAgentRule_local_1643392903","creator":{"handle":"frog@datadoghq.com","name":null},"description":"an agent rule","enabled":true,"defaultRule":false,"version":1,"updater":{"handle":"frog@datadoghq.com","name":null},"updateDate":1643392919175,"creationDate":1643392919175,"expression":"exec.file.name == \"java\""},"type":"agent_rule","id":"m39-rre-anw"},{"attributes":{"category":"Process Activit[...]
[...]
