---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"access_key_id":"AKIA101100484999","account_specific_namespace_rules":{},"cspm_resource_collection_enabled":false,"excluded_regions":[],"extended_resource_collection_enabled":false,"filter_tags":[],"host_tags":[],"metrics_collection_enabled":true,"resource_collection_enabled":false,"secret_access_key":"testacc-datadog-integration-secret"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.36251025s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: GET
      response:
            - chunked
        body: |
            {"accounts":[{"account_id":"171799260800","role_name":"DatadogAWSIntegrationRole","filter_tags":["$KEY:$VALUE"],"host_tags":["$KEY:$VALUE"],"account_specific_namespace_rules":{"auto_scaling":false},"excluded_regions":["us-east-1","us-west-2"],"metrics_collection_enabled":false,"errors":["Datadog is not authorized to perform action sts:AssumeRole\nAccount affected: 171799260800\nRegions affected: every region\nError was last seen 1m ago"],"cspm_resource_collection_enabled":true,"extended_resource_collection_enabled":true,"resource_collection_enabled":false},{"account_id":"001717701068","role_name":"DatadogAWSIntegrationRole","filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"account_specific_namespace_rules":{"opsworks":true},"excluded_regions":["us-east-1","us-west-1"],"metrics_collection_enabled":true,"errors":["Datadog is not authorized to perform action sts:AssumeRole\nAccount affected: 001717701068\nRegions affected: every region\nError was last seen 1m ago"],"cspm_resource_collection_enabled":false,"extended_resource_collection_enabled":false,"resource_collection_enabled":false},{"account_id":"661717705187","role_name":"DatadogAWSIntegrationRole","filter_tags":["testTag","test:Tag2"],"host_tags":["filter:[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"account_id":"AKIA101100484999","namespace":"application_elb","tag_filter_str":"test:filter"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws/filtering
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 221.188875ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/aws/filtering?account_id=AKIA101100484999
        method: GET
      response:
            - chunked
        body: |
            {"filters":[{"namespace":"elb","tag_filter_str":null},{"namespace":"application_elb","tag_filter_str":"test:filter"},{"namespace":"sqs","tag_filter_str":null},{"namespace":"rds","tag_filter_str":null},{"namespace":"custom","tag_filter_str":null},{"namespace":"network_elb","tag_filter_str":null},{"namespace":"lambda","tag_filter_str":null}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.239433875s
[...]
