---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
        method: GET
      response:
            - chunked
        body: '{"data":[{"id":"had-5ot-yh0","type":"agent_rule","attributes":{"actions":[{"set":{"append":true,"field":"process.file.name","name":"imds_v1_usage_services","ttl":10000000000}}],"agentConstraint":"","category":"Network Activity","creationDate":0,"creator":{"name":"","handle":""},"defaultRule":true,"description":"An AWS IMDSv1 request was issued","enabled":false,"expression":"imds.cloud_provider == \"aws\" \u0026\u0026 imds.aws.is_imds_v2 == false \u0026\u0026 process.file.name not in ${imds_v1_usage_services}","filters":["os == \"linux\""],"name":"imds_v1_usage","updateDate":1749258525723,"updater":{"name":"","handle":""},"version":2}},{"id":"lt7-ru0-jsw","type":"agent_rule","attributes":{"actions":[],"agentConstraint":"","category":"Kernel Activity","creationDate":0,"creator":{"name":"","handle":""},"defaultRule":true,"description":"A process connected to a penetration testing domain","enabled":true,"expression":"connect.addr.hostname in [~\"*.interact.sh\", ~\"*.oast.pro\", ~\"*.oast.live\", ~\"*.oast.fun\", ~\"*.oast.me\", ~\"*.burpcollaborator.net\", ~\"*.oastify.com\", ~\"*canarytoken[...]
[...]
