---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"othertf-testaccdatadoguserdatasourcewithexactmatch-local-1758619295@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"b4483549-985e-11f0-b3f1-166929e0c295","attributes":{"name":null,"handle":"othertf-testaccdatadoguserdatasourcewithexactmatch-local-1758619295@example.com","created_at":"2025-09-23T09:21:36.746455+00:00","modified_at":"2025-09-23T09:21:36.746455+00:00","email":"othertf-testaccdatadoguserdatasourcewithexactmatch-local-1758619295@example.com","icon":"https://secure.gravatar.com/avatar/16be2210a62fc82a9342a7d92b2b38de?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 753.571875ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"b4483549-985e-11f0-b3f1-166929e0c295","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"b48fe812-985e-11f0-ae15-da7ad0900002","attributes":{"uuid":"b48fe812-985e-11f0-ae15-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:21:37.215913+00:00","expires_at":"2025-09-25T09:21:36.991359+00:00"},"relationships":{"user":{"data":{"type":"users","id":"b4483549-985e-11f0-b3f1-166929e0c295"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 454.497666ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguserdatasourcewithexactmatch-local-1758619295%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[],"meta":{"page":{"total_count":170828,"total_filtered_count":0,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.470458ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/b4483549-985e-11f0-b3f1-166929e0c295
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 314.818291ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/b4483549-985e-11f0-b3f1-166929e0c295
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"b4483549-985e-11f0-b3f1-166929e0c295","attributes":{"name":null,"handle":"othertf-testaccdatadoguserdatasourcewithexactmatch-local-1758619295@example.com","created_at":"2025-09-23T09:21:36.746455+00:00","modified_at":"2025-09-23T09:21:38.665875+00:00","email":"othertf-testaccdatadoguserdatasourcewithexactmatch-local-1758619295@example.com","icon":"https://secure.gravatar.com/avatar/16be2210a62fc82a9342a7d92b2b38de?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.844834ms
[...]
