---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2TimeseriesAnomalyDetection_import-local-1780926713","widgets":[{"definition":{"anomaly_detection":{"detection_sensitivity":"never_detect"},"requests":[{"formulas":[{"formula":"query1"}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"title":"CPU with anomaly detection","type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"jma-erh-fk7","title":"tf-TestAccDatadogDashboardV2TimeseriesAnomalyDetection_import-local-1780926713","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/jma-erh-fk7/tf-testaccdatadogdashboardv2timeseriesanomalydetectionimport-local-1780926713","template_variables":[],"widgets":[{"definition":{"anomaly_detection":{"detection_sensitivity":"never_detect"},"requests":[{"formulas":[{"formula":"query1"}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"title":"CPU with anomaly detection","type":"timeseries"},"id":4452012192317512}],"notify_list":[],"created_at":"2026-06-08T13:51:55.542550+00:00","modified_at":"2026-06-08T13:51:55.542550+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.225625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/jma-erh-fk7
        method: GET
      response:
            - chunked
        body: '{"id":"jma-erh-fk7","title":"tf-TestAccDatadogDashboardV2TimeseriesAnomalyDetection_import-local-1780926713","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/jma-erh-fk7/tf-testaccdatadogdashboardv2timeseriesanomalydetectionimport-local-1780926713","template_variables":[],"widgets":[{"definition":{"anomaly_detection":{"detection_sensitivity":"never_detect"},"requests":[{"formulas":[{"formula":"query1"}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"title":"CPU with anomaly detection","type":"timeseries"},"id":4452012192317512}],"notify_list":[],"created_at":"2026-06-08T13:51:55.542550+00:00","modified_at":"2026-06-08T13:51:55.542550+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.763042ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/jma-erh-fk7
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"jma-erh-fk7"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 517.242417ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/jma-erh-fk7
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID jma-erh-fk7 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 86.786834ms
