---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"api_token":"clickup-token","type":"ClickupAPIKey"},"type":"Clickup"},"name":"tf-TestAccDatadogActionConnectionResource_Clickup-local-1783949291"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"ad531bc7-4d3e-4f98-8708-fef2a0e8beb1","type":"action_connection","attributes":{"acting_user_can_resolve":false,"external_secrets_manager":null,"integration":{"credentials":{"api_token":"","type":"ClickupAPIKey"},"type":"Clickup"},"is_favorite":false,"name":"tf-TestAccDatadogActionConnectionResource_Clickup-local-1783949291"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 84.927742ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/ad531bc7-4d3e-4f98-8708-fef2a0e8beb1
        method: GET
      response:
        body: '{"data":{"id":"ad531bc7-4d3e-4f98-8708-fef2a0e8beb1","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2026-07-13 13:28:15.719108 +0000 UTC","external_secrets_manager":null,"integration":{"credentials":{"api_token":"","type":"ClickupAPIKey"},"type":"Clickup"},"is_favorite":false,"last_updated":"2026-07-13 13:28:15.719108 +0000 UTC","name":"tf-TestAccDatadogActionConnectionResource_Clickup-local-1783949291"},"relationships":{"created_by":{"data":{"id":"9c2cc44c-0fd5-4356-b457-9413333601f1","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 36.780202ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/ad531bc7-4d3e-4f98-8708-fef2a0e8beb1
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 33.076055ms
