---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1765462858","name":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1765462858","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.132917ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1765462858","name":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1765462858","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":243441970,"org_id":321813,"type":"metric alert","name":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1765462858","message":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1765462858","tags":[],"query":"avg(last_1h):avg:system.load.5{*} > 4","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":4.0},"silenced":{}},"multi":false,"created_at":1765462859000,"created":"2025-12-11T14:20:59.694217+00:00","modified":"2025-12-11T14:20:59.694217+00:00","deleted":null,"priority":3,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","handle":"kevin.pombo@datadoghq.com","email":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 277.689417ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1765462858","name":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1765462858","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/243441970/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.200084ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243441970?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":243441970,"org_id":321813,"type":"metric alert","name":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1765462858","message":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1765462858","tags":[],"query":"avg(last_1h):avg:system.load.5{*} > 4","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":4.0},"silenced":{}},"multi":false,"created_at":1765462859000,"created":"2025-12-11T14:20:59.694217+00:00","modified":"2025-12-11T14:20:59.694217+00:00","deleted":null,"priority":3,"restricted_roles":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","email":"kevin.pombo@datadoghq.com","handle":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.0865ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/243441970
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":243441970}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.149167ms
