---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action_pattern":{"action_fqns":["*"],"integration":"INTEGRATION_KUBERNETES"},"effect":"allow","name":"tf-TestAccDatadogActionExecutionPolicy_Kubernetes-local-1787229677","scope":{"kubernetes":{"rules":[{"target_namespaces":["default"]}]}},"targets":[{"agent_tags":["env:test"],"name":"test-agents"}]},"type":"execution_policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/execution-policies
        method: POST
      response:
        body: '{"data":{"id":"1167c42b-b09c-4262-a1eb-ba4267f90db9","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_KUBERNETES","action_fqns":["*"]},"created_at":"2026-08-20T12:41:21Z","created_by":"d72ee86c-6207-4077-b40c-93fded100245","effect":"allow","name":"tf-TestAccDatadogActionExecutionPolicy_Kubernetes-local-1787229677","scope":{"kubernetes":{"rules":[{"target_namespaces":["default"]}]}},"targets":[{"agent_tags":["env:test"],"name":"test-agents"}],"updated_at":"2026-08-20T12:41:21Z","updated_by":"d72ee86c-6207-4077-b40c-93fded100245","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 264.783125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/execution-policies/1167c42b-b09c-4262-a1eb-ba4267f90db9
        method: GET
      response:
        body: '{"data":{"id":"1167c42b-b09c-4262-a1eb-ba4267f90db9","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_KUBERNETES","action_fqns":["*"]},"created_at":"2026-08-20T12:41:21Z","created_by":"d72ee86c-6207-4077-b40c-93fded100245","effect":"allow","name":"tf-TestAccDatadogActionExecutionPolicy_Kubernetes-local-1787229677","scope":{"kubernetes":{"rules":[{"target_namespaces":["default"]}]}},"targets":[{"agent_tags":["env:test"],"name":"test-agents"}],"updated_at":"2026-08-20T12:41:21Z","updated_by":"d72ee86c-6207-4077-b40c-93fded100245","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 172.934792ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/execution-policies/1167c42b-b09c-4262-a1eb-ba4267f90db9
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting execution policy"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 150.565333ms
