---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a fido global variable","is_fido":true,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_UPDATED_LOCAL_1758619487","tags":["fido:bar","fido"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"612363e4-1e72-4de5-b54e-2ef969d7789c","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_UPDATED_LOCAL_1758619487","description":"a fido global variable","type":"variable","tags":["fido:bar","fido"],"last_error":null,"is_fido":true,"value":{"secure":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 555.200958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/612363e4-1e72-4de5-b54e-2ef969d7789c
        method: GET
      response:
            - chunked
        body: |
            {"id":"612363e4-1e72-4de5-b54e-2ef969d7789c","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_UPDATED_LOCAL_1758619487","description":"a fido global variable","type":"variable","tags":["fido:bar","fido"],"created_at":"2025-09-23T09:24:52.372058+00:00","modified_at":"2025-09-23T09:24:52.372058+00:00","last_error":null,"is_fido":true,"value":{"secure":true},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 193.500333ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/612363e4-1e72-4de5-b54e-2ef969d7789c
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 373.613875ms
