---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"isInMoreThan","target":30,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":"443","servername":"datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsSSLTest_Updated-local-1731580371","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"httpVersion":"any","min_location_failed":1,"tick_every":60},"status":"paused","subtype":"ssl","tags":[],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"rz6-h86-sb3","name":"tf-TestAccDatadogSyntheticsSSLTest_Updated-local-1731580371","status":"paused","type":"api","subtype":"ssl","tags":[],"created_at":"2024-11-14T10:32:54.727030+00:00","modified_at":"2024-11-14T10:32:54.727030+00:00","config":{"assertions":[{"operator":"isInMoreThan","target":30,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":"443","servername":"datadoghq.com"}},"message":"Notify @datadog.user","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":158216142,"org_id":321813,"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 688.348917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/rz6-h86-sb3
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"rz6-h86-sb3","name":"tf-TestAccDatadogSyntheticsSSLTest_Updated-local-1731580371","status":"paused","type":"api","subtype":"ssl","tags":[],"created_at":"2024-11-14T10:32:54.727030+00:00","modified_at":"2024-11-14T10:32:54.727030+00:00","config":{"assertions":[{"operator":"isInMoreThan","target":30,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":"443","servername":"datadoghq.com"}},"message":"Notify @datadog.user","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"monitor_id":158216142,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.275166ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/rz6-h86-sb3
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"rz6-h86-sb3","name":"tf-TestAccDatadogSyntheticsSSLTest_Updated-local-1731580371","status":"paused","type":"api","subtype":"ssl","tags":[],"created_at":"2024-11-14T10:32:54.727030+00:00","modified_at":"2024-11-14T10:32:54.727030+00:00","config":{"assertions":[{"operator":"isInMoreThan","target":30,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":"443","servername":"datadoghq.com"}},"message":"Notify @datadog.user","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"monitor_id":158216142,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.910666ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"isInMoreThan","target":60,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":"443"}},"locations":["aws:eu-central-1"],"message":"Notify @pagerduty","name":"tf-TestAccDatadogSyntheticsSSLTest_Updated-local-1731580371-updated","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"status":"live","subtype":"ssl","tags":["foo:bar","foo","env:test"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/rz6-h86-sb3
        method: PUT
      response:
            - chunked
        body: |
            {"org_id":321813,"public_id":"rz6-h86-sb3","name":"tf-TestAccDatadogSyntheticsSSLTest_Updated-local-1731580371-updated","status":"live","type":"api","tags":["foo:bar","foo","env:test"],"message":"Notify @pagerduty","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"created_at":"2024-11-14T10:32:54.727030+00:00","modified_at":"2024-11-14T10:33:00.664893+00:00","config":{"assertions":[{"operator":"isInMoreThan","target":60,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":"443"}},"overall_state_modified":"2024-11-14T10:33:00.730859+00:00","subtype":"ssl","monitor_id":158216142,"created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"overall_state":2}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 691.937625ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["rz6-h86-sb3"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"rz6-h86-sb3","deleted_at":"2024-11-14T10:33:04.755151+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 793.320916ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/rz6-h86-sb3
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 125.133291ms
