version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
    method: GET
    id: 0
  response:
    body: |
      [{"id":"htXFf5DCQ_ay1IhQ9Tr4uw","type":"pipeline","name":"Golang","is_enabled":true,"is_read_only":true,"filter":{"query":"source:go"},"processors":[{"name":"Parsing Go Default formats","is_enabled":true,"source":"message","samples":["[Oct 27 02:18:00] DEBUG main: started observing beach animal=walrus","2017/03/02 16:07:16 You cannot divide by 0"],"grok":{"support_rules":"_date %{date(\"yyyy/MM/dd HH:mm:ss\"):date}\n_date_prefix %{date(\"MMM dd HH:mm:ss\"):date}\n_status %{word:level}\n_thread_name %{notSpace:logger.thread_name}\n","match_rules":"go_prefixed \\[%{_date_prefix}\\]\\s+%{_status}\\s+%{_thread_name}: %{data:message}\n\ngo_default %{_date} %{data:error.message}\n"},"type":"grok-parser"},{"name":"Extracting keyvalue","is_enabled":true,"source":"message","samples":["timestamp=\"2015-03-26T01:27:38-04:00\" level=debug msg=\"Started observing beach\" animal=walrus number=8"],"grok":{"support_rules":"","match_rules":"go_fallback %{data::keyvalue}\n"},"type":"grok-parser"},{"name":"Map `exception`, `stack_trace` to `error.stack`","is_enabled":true,"sources":["exception","stack_trace"],"source_type":"attribute","target":"error.stack","target_type":"attribute","preserve_source":false,"override_on_conflict":false,"type":"attribute-remapper"},{"name":"Define `date` as the official date of the log","is_enabled":true,"sources":["date"],"type":"date-remapper"},{"name":"Define `level` as the official status of the log","is_enabled":true,"sources":["level"],"type":"status-remapper"},{"name":"Define `msg`, `message` as the official message of the log","is_enabled":true,"sources":["msg","message"],"type":"message-remapper"},{"name":"Define `dd.trace_id` as the official trace ID of the log","is_enabled":true,"sources":["dd.trace_id"],"type":"trace-id-remapper"},{"name":"Map attribute `dd.env` to tag `env`","is_enabled":true,"sources":["dd.env"],"source_type":"attribute","target":"env","target_type":"tag","preserve_source":false,"override_on_conflict":true,"type":"attribute-remapper"},{"name":"Map attribute `dd.version` to tag `version`","is_enabled":true,"sources":["dd.version"],"source_type":"attribute","target":"version","target_type":"tag","preserve_source":false,"override_on_conflict":true,"type":"attribute-remapper"},{"name":"Define `dd.service` as the official service of the log","is_enabled":true,"sources":["dd.service"],"type":"service-remapper"}]},{"id":"cgS5obmTSi6NgGX05lf0tg","type":"pipeline","name":"Web Browser logs","is_enabled":true,"is_read_only":true,"filter":{"query":"source:browser"},"processors":[{"name":"Parsing the backend endpoint url","is_enabled":true,"sources":["http.url"],"target":"http.url_details","normalize_ending_slashes":false,"type":"url-parser"},{"name":"","is_enabled":true,"sources":["http.useragent"],"target":"http.useragent_details","is_encoded":false,"type":"user-agent-parser"},{"name":"Parsing the url of the current page","is_enabled":true,"sources":["view.url"],"target":"view.url_details","normalize_ending_slashes":false,"type":"url-parser"},{"name":"Parsing the url of the previous page","is_enabled":true,"sources":["view.referrer"],"target":"view.referrer_details","normalize_ending_slashes":false,"type":"url-parser"},{"name":"","is_enabled":true,"sources":["network.client.ip"],"target":"network.client.geoip","ip_processing_behavior":"do-nothing","type":"geo-ip-parser"}]},{"id":"JW6WRX6zSYO6P27n-R85vw","type":"pipeline","name":"Java","is_enabled":true,"is_read_only":true,"filter":{"query":"source:java"},"processors":[{"name":"Parsing Java Default formats","is_enabled":true,"source":"message","samples":["2000-09-07 14:07:41,508 [main] INFO  MyApp - Entering application.","54 [main] INFO MyApp.foo.bar - Entering application.","2000-09-07 14:07:44 INFO org.foo.bar:32 - Entering application.","2000-09-07 14:07:44.452 [main] INFO[...]
[...]
