---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"name":"tf-TestDatadogDashListInDashboardJSON-local-1767989589"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
        method: POST
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-09T20:13:10.368960+00:00","dashboards":null,"dashboard_count":0,"id":616266,"is_favorite":false,"modified":"2026-01-09T20:13:10.368969+00:00","name":"tf-TestDatadogDashListInDashboardJSON-local-1767989589","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.576ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: "{\n   \"author_handle\":\"removed_handle\",\n   \"title\":\"tf-TestDatadogDashListInDashboardJSON-local-1767989589\",\n   \"description\":\"Created using the Datadog provider in Terraform\",\n   \"widgets\":[\n      {\n         \"id\":5436370674582587,\n         \"definition\":{\n            \"title\":\"Widget Title\",\n            \"type\":\"alert_value\",\n            \"alert_id\":\"895605\",\n            \"unit\":\"b\",\n            \"text_align\":\"center\",\n            \"precision\":3\n         }\n      }\n   ],\n   \"template_variables\":[\n      \n   ],\n   \"layout_type\":\"ordered\",\n   \"notify_list\":[\n      \n   ],\n   \"id\":\"5uw-bbj-xec\"\n}\n"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"fsr-3sm-vrf","title":"tf-TestDatadogDashListInDashboardJSON-local-1767989589","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/fsr-3sm-vrf/tf-testdatadogdashlistindashboardjson-local-1767989589","template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2026-01-09T20:13:10.483549+00:00","modified_at":"2026-01-09T20:13:10.483549+00:00"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.022958ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/fsr-3sm-vrf
        method: GET
      response:
            - chunked
        body: '{"id":"fsr-3sm-vrf","title":"tf-TestDatadogDashListInDashboardJSON-local-1767989589","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/fsr-3sm-vrf/tf-testdatadogdashlistindashboardjson-local-1767989589","template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2026-01-09T20:13:10.483549+00:00","modified_at":"2026-01-09T20:13:10.483549+00:00"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.793791ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"dashboards":[{"id":"fsr-3sm-vrf","type":"custom_timeboard"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616266/dashboards
        method: POST
      response:
            - chunked
        body: |
            {"added_dashboards_to_list":[{"type":"custom_timeboard","id":"fsr-3sm-vrf"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.053ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616266
        method: GET
      response:
            - chunked
        body: |
            {"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-09T20:13:10.368960+00:00","dashboards":null,"dashboard_count":1,"id":616266,"is_favorite":false,"modified":"2026-01-09T20:13:10.767675+00:00","name":"tf-TestDatadogDashListInDashboardJSON-local-1767989589","type":"manual_dashboard_list"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.141917ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616266/dashboards
        method: GET
      response:
            - chunked
        body: |
            {"dashboards":[{"author":{"name":"frog","handle":"frog@datadoghq.com"},"created":"2026-01-09T20:13:10.483549+00:00","is_favorite":false,"is_shared":false,"modified":"2026-01-09T20:13:10.483549+00:00","title":"tf-TestDatadogDashListInDashboardJSON-local-1767989589","type":"custom_timeboard","id":"fsr-3sm-vrf","url":"/dashboard/fsr-3sm-vrf/tf-testdatadogdashlistindashboardjson-local-1767989589","is_read_only":false,"tags":null,"icon":null,"integration_id":null,"popularity":0}],"total":1}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.987958ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: '{"description":"Created using the Datadog provider in Terraform","is_read_only":false,"layout_type":"ordered","notify_list":[],"template_variables":[],"title":"tf-TestDatadogDashListInDashboardJSON-local-1767989589","widgets":[{"definition":{"alert_id":"895605","precision":3,"text_align":"center","title":"Widget Title","type":"alert_value","unit":"b"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/fsr-3sm-vrf
        method: PUT
      response:
            - chunked
        body: '{"errors":[{"id":null,"links":null,"status":"HTTPStatus.BAD_REQUEST","code":null,"title":"Bad Request","detail":"The is_read_only attribute is no longer supported. https://docs.datadoghq.com/dashboards/guide/is-read-only-deprecation/","source":null,"meta":null}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 69.650375ms
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: |
            {"dashboards":[{"id":"fsr-3sm-vrf","type":"custom_timeboard"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/616266/dashboards
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboards_from_list":[{"type":"custom_timeboard","id":"fsr-3sm-vrf"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.936917ms
    - id: 14
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/616266
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_list_id":616266}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.416ms
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/fsr-3sm-vrf
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"fsr-3sm-vrf"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 361.859792ms
[...]
