---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a global variable","is_fido":false,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_UPDATED_LOCAL_1791450761","tags":["foo:bar","baz"],"value":{"secure":false,"value":"variable-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"72788e5d-d115-4bee-b592-934334bfca74","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_UPDATED_LOCAL_1791450761","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":false,"value":"variable-value"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.563709ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"operator":"doesNotContain","target":"terraform","type":"body"},{"operator":"md5","target":"a","type":"bodyHash"},{"code":"const hello = 'world';","type":"javascript"}],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"},{"id":"72788e5d-d115-4bee-b592-934334bfca74","name":"GLOBAL_VAR","type":"global"}],"request":{"basicAuth":{"domain":"ntlm-domain","password":"ntlm-password","type":"ntlm","username":"ntlm-username","workstation":"ntlm-workstation"},"bodyType":"text/plain","headers":{},"method":"GET","noSavingResponseBody":true,"proxy":{"headers":{},"url":"https://proxy.url"},"url":"https://www.datadoghq.com"},"variablesFromScript":"dd.variable.set('FOO', 'hello');"},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1791450761","options":{"allow_insecure":true,"bits_ai_auto_investigate":true,"ci":{"executionRule":"blocking"},"follow_redirects":true,"httpVersion":"http2","ignoreServerCertificateError":true,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1791450761-monitor","monitor_priority":5,"retry":{"count":1,"interval":300},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"x5f-iq6-qps","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1791450761","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2026-10-08T09:12:44.819530+00:00","modified_at":"2026-10-08T09:12:44.819530+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"operator":"doesNotContain","target":"terraform","type":"body"},{"operator":"md5","target":"a","type":"bodyHash"},{"code":"const hello = 'world';","type":"javascript"}],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"},{"id":"72788e5d-d115-4bee-b592-934334bfca74","name":"GLOBAL_VAR","type":"global"}],"request":{"basicAuth":{"domain":"ntlm-domain","password":"ntlm-password","type":"ntlm","username":"ntlm-username","workstation":"ntlm-workstation"},"bodyType":"text/plain","headers":{},"method":"GET","noSavingResponseBody":true,"proxy":{"headers":{},"url":"https://proxy.url"},"url":"https://www.datadoghq.com"},"variablesFromScript":"dd.variable.set('FOO', 'hello');"},"message":"Notify @datadog.user","options":{"allow_insecure":true,"ci":{"executionRule":"blocking"},"follow_redirects":true,"httpVersion":"http2","ignoreServerCertificateError":true,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1791450761-monitor","monitor_priority":5,"retry":{"count":1,"interval":300},"tick_every":60,"bits_ai_auto_investigate":true},"locations":["aws:eu-central-1"],"created_by":{"name":"Antoine Do Nascimento","handle":"antoine.donascimento@datadoghq.com","email":"antoine.donascimento@datadoghq.com"},"deleted_at":null,"monitor_id":329938400,"org_id":321813,"modified_by":{"name":"Antoine Do Nascimento","handle":"antoine.donascimento@datadoghq.com","email":"antoine.donascimento@datadoghq.com"},"creation_source":"terraform"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 491.60125ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/x5f-iq6-qps
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"x5f-iq6-qps","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1791450761","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2026-10-08T09:12:44.819530+00:00","modifie[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/x5f-iq6-qps
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"x5f-iq6-qps","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1791450761","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2026-10-08T09:12:44.819530+00:00","modified_at[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/72788e5d-d115-4bee-b592-934334bfca74
        method: GET
      response:
            - chunked
        body: |
            {"id":"72788e5d-d115-4bee-b592-934334bfca74","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_UPDATED_LOCAL_1791450761","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2026-10-08T09:12:44.368389+00:00","modified_at":"2026-10-08T09:12:44.368389+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":"Antoine Do Nascimento","handle":"antoine.donascimento@datadoghq.com","email":"antoine.donascimento@datadoghq.com"},"editor":{"name":"Antoine Do Nascimento","handle":"antoine.donascimento@datadoghq.com","email":"antoine.donascimento@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.279667ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"configVariables":[{"id":"72788e5d-d115-4bee-b592-934334bfca74","name":"GLOBAL_VAR","type":"global"}],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"Notify @pagerduty","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1791450761-updated","options":{"bits_ai_auto_investigate":false,"ci":{"executionRule":"non_blocking"},"httpVersion":"any","min_failure_duration":10,"min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0},"retry":{"count":3,"interval":500},"tick_every":900},"status":"live","subtype":"http","tags":["foo:bar","foo","env:test"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/x5f-iq6-qps
        method: PUT
      response:
            - chunked
        body: |
            {"org_id":321813,"public_id":"x5f-iq6-qps","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1791450761-updated","status":"live","type":"api","tags":["foo:bar","foo","env:test"],"message":"Notify @pagerduty","options":{"ci":{"executionRule":"non_blocking"},"httpVersion":"any","min_failure_duration":10,"min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0},"retry":{"count":3,"interval":500},"tick_every":900,"bits_ai_auto_investigate":false},"locations":["aws:eu-central-1"],"created_at":"2026-10-08T09:12:44.819530+00:00","modified_at":"2026-10-08T09:12:49.584679+00:00","config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"configVariables":[{"id":"72788e5d-d115-4bee-b592-934334bfca74","name":"GLOBAL_VAR","type":"global"}],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"overall_state_modified":"1970-01-01T00:00:00+00:00","subtype":"http","monitor_id":329938400,"created_by":{"name":"Antoine Do Nascimento","handle":"antoine.donascimento@datadoghq.com","email":"antoine.donascimento@datadoghq.com"},"modified_by":{"name":"Antoine Do Nascimento","handle":"antoine.donascimento@datadoghq.com","email":"antoine.donascimento@datadoghq.com"},"overall_state":2,"creation_source":"terraform"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 897.361583ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["x5f-iq6-qps"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"x5f-iq6-qps","deleted_at":"2026-10-08T09:12:53.062969+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 807.929125ms
[...]
    - id: 17
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/x5f-iq6-qps
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 133.121084ms
