---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"account_id":"539898509848","account_specific_namespace_rules":{},"cspm_resource_collection_enabled":false,"excluded_regions":[],"extended_resource_collection_enabled":false,"filter_tags":[],"host_tags":[],"metrics_collection_enabled":true,"resource_collection_enabled":false,"role_name":"testacc-datadog-integration-role"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: POST
      response:
            - chunked
        body: |
            {"external_id":"1ca77740ed6b45c69b350114534c9779"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.152167208s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: GET
      response:
            - chunked
        body: |
            {"accounts":[{"account_id":"171198138700","role_name":"DatadogAWSIntegrationRole","filter_tags":["$KEY:$VALUE"],"host_tags":["$KEY:$VALUE"],"account_specific_namespace_rules":{"auto_scaling":false},"excluded_regions":["us-east-1","us-west-2"],"metrics_collection_enabled":false,"errors":["Datadog is not authorized to perform action sts:AssumeRole\nAccount affected: 171198138700\nRegions affected: every region\nError was last seen 1m ago"],"cspm_resource_collection_enabled":true,"extended_resource_collection_enabled":true,"resource_collection_enabled":true},{"account_id":"170844477300","role_name":"DatadogAWSIntegrationRole","filter_tags":["$KEY:$VALUE"],"host_tags":["$KEY:$VALUE"],"account_specific_namespace_rules":{"auto_scaling":false},"excluded_regions":["us-east-1","us-west[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"account_id":"539898509848","create_event_bus":false,"event_generator_name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1713290947","region":"us-east-1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws/event_bridge
        method: POST
      response:
            - chunked
        body: |
            {"region":"us-east-1","has_bus":false,"status":"created","event_source_name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1713290947-bm2wwqp2"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 593.029791ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/aws/event_bridge
        method: GET
      response:
            - chunked
        body: |
            {"accounts":[{"accountId":"171198138700","tags":["$KEY:$VALUE"],"eventHubs":[]},{"accountId":"170844477300","tags":["$KEY:$VALUE"],"eventHubs":[]},{"accountId":"170844527600","tags":["$KEY:$VALUE"],"eventHubs":[]},{"accountId":"170871287700","tags":["$KEY:$VALUE"],"eventHubs":[]},{"accountId":"170871288100","tags":["$KEY:$VALUE"],"eventHubs":[]},{"accountId":"170845483500","tags":["$KEY:$VALUE"],"eventHubs":[]},{"accountId":"170845483800","tags":["$KEY:$VALUE"],"eventHubs":[]},{"accountId":"494957994853","tags":[],"eventHubs":[]},{"accountId":"100989897539","tags":[],"eventHubs":[]},{"accountId":"995249511009","tags":[],"eventHubs":[]},{"accountId":"171092901600","tags":["$KEY:$VALUE"],"eventHubs":[]},{"accountId":"539898509848","tags":[],"eventHubs":[{"name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1713290947-bm2wwqp2","region":"us-east-1"}]},{"accountId":"170059471500","tags":["$KEY:$VALUE"],"eventHubs":[]},{"accountId":"170076337600","tags":["$KEY:$VALUE"],"eventHubs":[]}],"isInstalled":true}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.312708ms
[...]
