---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2PointPlot-local-1782330071","widgets":[{"definition":{"legend":{"type":"automatic"},"requests":[{"projection":{"dimensions":[{"column":"time","dimension":"time"},{"column":"duration","dimension":"y"}],"type":"point_plot"},"query":{"data_source":"logs","query_string":"service:web-store"},"request_type":"data_projection"}],"title":"Point Plot Widget","type":"point_plot"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"zbs-enf-nnp","title":"tf-TestAccDatadogDashboardV2PointPlot-local-1782330071","description":null,"author_handle":"corey.ferland@datadoghq.com","author_name":"Corey Ferland","layout_type":"ordered","url":"/dashboard/zbs-enf-nnp/tf-testaccdatadogdashboardv2pointplot-local-1782330071","template_variables":[],"widgets":[{"definition":{"legend":{"type":"automatic"},"requests":[{"projection":{"dimensions":[{"column":"time","dimension":"time"},{"column":"duration","dimension":"y"}],"type":"point_plot"},"query":{"data_source":"logs","query_string":"service:web-store"},"request_type":"data_projection"}],"title":"Point Plot Widget","type":"point_plot"},"id":2210314613733821}],"notify_list":[],"created_at":"2026-06-24T19:41:15.806497+00:00","modified_at":"2026-06-24T19:41:15.806497+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 550.287833ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/zbs-enf-nnp
        method: GET
      response:
            - chunked
        body: '{"id":"zbs-enf-nnp","title":"tf-TestAccDatadogDashboardV2PointPlot-local-1782330071","description":null,"author_handle":"corey.ferland@datadoghq.com","author_name":"Corey Ferland","layout_type":"ordered","url":"/dashboard/zbs-enf-nnp/tf-testaccdatadogdashboardv2pointplot-local-1782330071","template_variables":[],"widgets":[{"definition":{"legend":{"type":"automatic"},"requests":[{"projection":{"dimensions":[{"column":"time","dimension":"time"},{"column":"duration","dimension":"y"}],"type":"point_plot"},"query":{"data_source":"logs","query_string":"service:web-store"},"request_type":"data_projection"}],"title":"Point Plot Widget","type":"point_plot"},"id":2210314613733821}],"notify_list":[],"created_at":"2026-06-24T19:41:15.806497+00:00","modified_at":"2026-06-24T19:41:15.806497+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.988542ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/zbs-enf-nnp
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"zbs-enf-nnp"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 409.002167ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/zbs-enf-nnp
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID zbs-enf-nnp not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 108.219459ms
