---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"action":{"due_days_per_severity":[{"due_in_days":7,"severity":"critical"}],"due_from":"first_seen"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsDueDateRulesOrder_OutOfBandRuleAdded-local-1782289765-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}},"type":"due_date_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules
        method: POST
      response:
        body: '{"data":{"id":"39325560-16f9-42b1-99e0-8123f42d4ebf","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7}],"due_from":"first_seen"},"created_at":1782289766103,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782289766103,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsDueDateRulesOrder_OutOfBandRuleAdded-local-1782289765-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 374.630667ms
[...]
    - id: 2
      request:
        host: api.datad0g.com
        body: |
            {"data":[{"id":"21a17dd9-030b-4066-968a-ae928200e31a","type":"due_date_rules"},{"id":"39325560-16f9-42b1-99e0-8123f42d4ebf","type":"due_date_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"due_date_rules","id":"21a17dd9-030b-4066-968a-ae928200e31a"},{"type":"due_date_rules","id":"39325560-16f9-42b1-99e0-8123f42d4ebf"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 363.204ms
[...]
    - id: 4
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules/21a17dd9-030b-4066-968a-ae928200e31a
        method: GET
      response:
        body: '{"data":{"id":"21a17dd9-030b-4066-968a-ae928200e31a","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7}],"due_from":"first_seen"},"created_at":1782289766103,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782289766103,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsDueDateRulesOrder_OutOfBandRuleAdded-local-1782289765-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 143.884334ms
[...]
    - id: 10
      request:
        host: api.datad0g.com
        body: |
            {"data":[{"id":"21a17dd9-030b-4066-968a-ae928200e31a","type":"due_date_rules"},{"id":"39325560-16f9-42b1-99e0-8123f42d4ebf","type":"due_date_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/due_date_rules/reorder
        method: POST
      response:
        body: '{"errors":[{"status":"422","title":"Unprocessable Entity","detail":"reorder must include all 3 rules, got 2"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 422 Unprocessable Entity
        code: 422
        duration: 119.377542ms
[...]
