---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
        body: '{"data":{"id":"d91cfe24-9d99-486a-a002-3487a4b0b8d7","type":"sensitive_data_scanner_group","attributes":{"filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"8adbeb24d5a9a646a8338afbccc02d4a301bc22d853e85a96687550db602a8c5","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":138}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 387.926459ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"included_keyword_configuration":{"character_count":30,"keywords":[]},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1765383277","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"d91cfe24-9d99-486a-a002-3487a4b0b8d7","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
        body: '{"data":{"id":"d06b3e8d-0385-4bea-bf59-edc9a6d02262","type":"sensitive_data_scanner_rule","attributes":{"description":"a description","excluded_namespaces":["username"],"included_keyword_configuration":{"keywords":[],"character_count":30},"is_enabled":true,"labels":[],"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1765383277","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"d91cfe24-9d99-486a-a002-3487a4b0b8d7","type":"sensitive_data_scanner_group"}}}},"meta":{"version":139}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 126.415166ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
        body: '{"data":{"attributes":{},"id":"8adbeb24d5a9a646a8338afbccc02d4a301bc22d853e85a96687550db602a8c5","relationships":{"groups":{"data":[{"id":"d91cfe24-9d99-486a-a002-3487a4b0b8d7","type":"sensitive_data_scanner_group"}]}},"type":"sensitive_data_scanner_configuration"},"included":[{"attributes":{"filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"id":"d91cfe24-9d99-486a-a002-3487a4b0b8d7","relationships":{"configuration":{"data":{"id":"8adbeb24d5a9a646a8338afbccc02d4a301bc22d853e85a96687550db602a8c5","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[{"id":"d06b3e8d-0385-4bea-bf59-edc9a6d02262","type":"sensitive_data_scanner_rule"}]}},"type":"sensitive_data_scanner_group"},{"attributes":{"description":"a description","excluded_namespaces":["username"],"included_keyword_configuration":{"character_count":30,"keywords":[]},"is_enabled":true,"labels":[],"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1765383277","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"id":"d06b3e8d-0385-4bea-bf59-edc9a6d02262","relationships":{"group":{"data":{"id":"d91cfe24-9d99-486a-a002-3487a4b0b8d7","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"}],"meta":{"count_limit":250,"group_count_limit":20,"has_cascading_enabled":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"is_pci_compliant":false,"min_sampling_rate":10,"version":139}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 118.654416ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"id":"d91cfe24-9d99-486a-a002-3487a4b0b8d7","type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/d91cfe24-9d99-486a-a002-3487a4b0b8d7
        method: PATCH
      response:
        body: '{"meta":{"version":140}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 137.23075ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1765383277","namespaces":[],"pattern":"regex","priority":1,"tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"id":"d06b3e8d-0385-4bea-bf59-edc9a6d02262","type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/d06b3e8d-0385-4bea-bf59-edc9a6d02262
        method: PATCH
      response:
        body: '{"meta":{"version":141}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 139.604708ms
[...]
