---
version: 1
interactions:
- request:
    body: |
      {"description":"some description about foo SLO","name":"tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1619785758","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1619785758{type:good}.as_count()"},"tags":["tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1619785758"],"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"},{"target":99,"timeframe":"90d"}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte Henry","email":"hippolyte.henry@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1619785758{type:good}.as_count()"},"id":"c2e2ca2cc6cd5d2a87ad03bd5d3b4e43","name":"tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1619785758","created_at":1619785758,"tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1619785758"],"modified_at":1619785758,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4430954"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "42"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?ids=c2e2ca2cc6cd5d2a87ad03bd5d3b4e43%2C43672c800a1450c0831ad8979d676633
    method: GET
  response:
    body: '{"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte Henry","email":"hippolyte.henry@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","targ[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLO
    url: https://api.datadoghq.com/api/v1/slo/43672c800a1450c0831ad8979d676633
    method: GET
  response:
    body: '{"data":{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte Henry","email":"hippolyte.henry@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1619785758{type:good}.as_count()"},"id":"43672c800a1450c0831ad8979d676633","name":"tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1619785758","created_at":1619785758,"tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1619785758"],"modified_at":1619785758,"type":"metric"},"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4430954"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2998"
      X-Ratelimit-Reset:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?query=tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1619785758
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":2,"total_count":2}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte Henry","email":"hippolyte.henry@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?tags_query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1619785758
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":2,"total_count":2}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte Henry","email":"hippolyte.henry@datadog[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?metrics_query=tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1619785758
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":2,"total_count":2}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"hippolyte.henry@datadoghq.com","name":"Hippolyte Henry","email":"hippolyte.henry@data[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLO
    url: https://api.datadoghq.com/api/v1/slo/43672c800a1450c0831ad8979d676633
    method: GET
  response:
    body: '{"errors": ["SLO not found: 43672c800a1450c0831ad8979d676633 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4430954"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2979"
      X-Ratelimit-Reset:
      - "8"
    status: 404 Not Found
    code: 404
    duration: ""
