---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/7af-h1d-rw6
        method: GET
      response:
        body: '{"data":{"id":"7af-h1d-rw6","type":"security_filters","attributes":{"exclusion_filters":[{"name":"first","query":"does not really match much"},{"name":"second","query":"neither does it"}],"filtered_data_type":"logs","is_builtin":false,"is_enabled":true,"name":"tf-TestAccDatadogSecurityMonitoringFilter_Migration_Basic-local-1778512879","query":"first query - tf-TestAccDatadogSecurityMonitoringFilter_Migration_Basic-local-1778512879","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 124.637042ms
