---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"account_id":"694513996623","create_event_bus":false,"event_generator_name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1769117593","region":"us-east-1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws/event_bridge
        method: POST
      response:
        body: |
            {"region":"us-east-1","has_bus":false,"status":"created","event_source_name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1769117593-ddg3zysk"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.166700208s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/aws/event_bridge
        method: GET
      response:
        body: |
            {"accounts":[{"accountId":"074787506366","tags":[],"eventHubs":[]},{"accountId":"584647299176","tags":["account:staging","team:kubernetes-experiences","terraform:true"],"eventHubs":[{"name":"hugo-ferreira-event-bridge-test-h2f7hfds","region":"us-east-1"}]},{"accountId":"202749265359","tags":[],"eventHubs":[]},{"accountId":"789012345678","tags":[],"eventHubs":[]},{"accountId":"352312075024","tags":[],"eventHubs":[]},{"accountId":"152767366405","tags":["account:staging","team:k9-findings-prioritization","terraform:true"],"eventHubs":[]},{"accountId":"714338498832","tags":[],"eventHubs":[]},{"accountId":"181875954905","tags":[],"eventHubs":[]},{"accountId":"771964207833","tags":["acco[...]
[...]
