---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":"message","type":"receivedMessage"}],"configVariables":[],"request":{"host":"www.datadoghq.com","message":"message","port":443,"timeout":60}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsUDPTest_Basic-local-1719590105","options":{"min_location_failed":1,"tick_every":60},"status":"paused","subtype":"udp","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"w7d-ty4-tuu","name":"tf-TestAccDatadogSyntheticsUDPTest_Basic-local-1719590105","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-06-28T15:55:07.552449+00:00","modified_at":"2024-06-28T15:55:07.552449+00:00","config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":"message","type":"receivedMessage"}],"configVariables":[],"request":{"host":"www.datadoghq.com","message":"message","port":443,"timeout":60}},"message":"Notify @datadog.user","options":{"min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"subtype":"udp","created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":148146233,"org_id":321813,"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 488.872083ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/w7d-ty4-tuu
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"w7d-ty4-tuu","name":"tf-TestAccDatadogSyntheticsUDPTest_Basic-local-1719590105","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-06-28T15:55:07.552449+00:00","modified_at":"2024-06-28T15:55:07.552449+00:00","config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":"message","type":"receivedMessage"}],"configVariables":[],"request":{"host":"www.datadoghq.com","message":"message","port":443,"timeout":60}},"message":"Notify @datadog.user","options":{"min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"subtype":"udp","monitor_id":148146233,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.084ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/w7d-ty4-tuu
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"w7d-ty4-tuu","name":"tf-TestAccDatadogSyntheticsUDPTest_Basic-local-1719590105","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-06-28T15:55:07.552449+00:00","modified_at":"2024-06-28T15:55:07.552449+00:00","config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":"message","type":"receivedMessage"}],"configVariables":[],"request":{"host":"www.datadoghq.com","message":"message","port":443,"timeout":60}},"message":"Notify @datadog.user","options":{"min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"subtype":"udp","monitor_id":148146233,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.808084ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["w7d-ty4-tuu"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"w7d-ty4-tuu","deleted_at":"2024-06-28T15:55:10.277846+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.145392209s
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/w7d-ty4-tuu
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 126.812417ms
