---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"_metadata":{"created_from":"terraform"},"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleDryRun-local-1766049886","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"5b6d7e41-bfc8-47d5-a0f1-4aa155771e33","type":"deployment_gate","attributes":{"created_at":"2025-12-18T09:24:47.034958Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleDryRun-local-1766049886","service":"my-service","updated_at":"2025-12-18T09:24:47.034958Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 114.297334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"_metadata":{"created_from":"terraform"},"attributes":{"dry_run":false,"name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/5b6d7e41-bfc8-47d5-a0f1-4aa155771e33/rules
        method: POST
      response:
        body: '{"data":{"id":"84b65331-26fb-4327-8246-9e1b97f21528","type":"deployment_rule","attributes":{"created_at":"2025-12-18T09:24:47.159072Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"5b6d7e41-bfc8-47d5-a0f1-4aa155771e33","name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-18T09:24:47.159072Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 123.657416ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/5b6d7e41-bfc8-47d5-a0f1-4aa155771e33
        method: GET
      response:
        body: '{"data":{"id":"5b6d7e41-bfc8-47d5-a0f1-4aa155771e33","type":"deployment_gate","attributes":{"created_at":"2025-12-18T09:24:47.034958Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleDryRun-local-1766049886","service":"my-service","updated_at":"2025-12-18T09:24:47.034958Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 117.283083ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/5b6d7e41-bfc8-47d5-a0f1-4aa155771e33/rules
        method: GET
      response:
        body: '{"data":{"id":"5b6d7e41-bfc8-47d5-a0f1-4aa155771e33","type":"list_deployment_rules","attributes":{"rules":[{"id":"84b65331-26fb-4327-8246-9e1b97f21528","name":"test_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-18T09:24:47.159072Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-18T09:24:47.159072Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"5b6d7e41-bfc8-47d5-a0f1-4aa155771e33","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 116.877709ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":true,"name":"test_rule","options":{"duration":1300}},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/5b6d7e41-bfc8-47d5-a0f1-4aa155771e33/rules/84b65331-26fb-4327-8246-9e1b97f21528
        method: PUT
      response:
        body: '{"data":{"id":"84b65331-26fb-4327-8246-9e1b97f21528","type":"deployment_rule","attributes":{"created_at":"2025-12-18T09:24:47.159072Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"gate_id":"5b6d7e41-bfc8-47d5-a0f1-4aa155771e33","name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-18T09:24:49.208548Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 124.486125ms
[...]
