---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTimeseriesGroupByFields-local-1772653153","widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"compute":{"aggregation":"count"},"data_source":"logs","group_by":{"fields":["hostname","service"],"limit":10,"sort":{"aggregation":"count","order":"desc"}},"indexes":["days-3"],"name":"my_event_query","search":{"query":"abc"}}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"j3f-f7z-bed","title":"tf-TestAccDatadogDashboardTimeseriesGroupByFields-local-1772653153","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/j3f-f7z-bed/tf-testaccdatadogdashboardtimeseriesgroupbyfields-local-1772653153","template_variables":[],"widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"compute":{"aggregation":"count"},"data_source":"logs","group_by":{"fields":["hostname","service"],"limit":10,"sort":{"aggregation":"count","order":"desc"}},"indexes":["days-3"],"name":"my_event_query","search":{"query":"abc"}}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"},"id":5306677436985698}],"notify_list":[],"created_at":"2026-03-04T19:39:14.939522+00:00","modified_at":"2026-03-04T19:39:14.939522+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.773ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/j3f-f7z-bed
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID j3f-f7z-bed not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 86.965042ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/j3f-f7z-bed
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"j3f-f7z-bed"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 439.080125ms
[...]
