---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupsDataSource_Basic-local-1776891565"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019db6fd-9948-73af-a134-934107c89f08","type":"org_groups","attributes":{"created_at":"2026-04-22T20:59:26.408Z","modified_at":"2026-04-22T20:59:26.410737Z","name":"tf-TestAccDatadogOrgGroupsDataSource_Basic-local-1776891565","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 128.282506ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups?page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019c2ae2-b05d-7cc9-aa88-38e1f26b7a0d","type":"org_groups","attributes":{"created_at":"2026-02-04T23:00:25.309Z","modified_at":"2026-04-09T01:01:32.354025Z","name":"Org Management Orgs","owner_org_site":"us1","owner_org_uuid":"ff[...]
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db6fd-9948-73af-a134-934107c89f08
        method: GET
      response:
        body: '{"data":{"id":"019db6fd-9948-73af-a134-934107c89f08","type":"org_groups","attributes":{"created_at":"2026-04-22T20:59:26.408Z","modified_at":"2026-04-22T20:59:26.410737Z","name":"tf-TestAccDatadogOrgGroupsDataSource_Basic-local-1776891565","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 49.461493ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db6fd-9948-73af-a134-934107c89f08
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"org group 019db6fd-9948-73af-a134-934107c89f08 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 75.417046ms
