---
version: 2
interactions:
    - id: 0
      request:
        host: frog.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"event_type":"session","name":"tf-TestAccRumRetentionFilterDecimalSampleRate-local-1769456527","query":"custom_query","sample_rate":50.5},"meta":{"source":"terraform"},"type":"retention_filters"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://frog.datadoghq.com/api/v2/rum/applications/9ff07c10-11f9-402c-a9d4-9eca42ef4a64/retention_filters
        method: POST
      response:
        body: '{"data":{"id":"5594dbb0-3e46-4ae3-9d95-f260e5aa37c6","type":"retention_filters","attributes":{"cross_product_sampling":{"session_replay_sample_rate":100,"trace_sample_rate":100,"session_replay_enabled":true,"trace_enabled":false},"enabled":true,"event_type":"session","name":"tf-TestAccRumRetentionFilterDecimalSampleRate-local-1769456527","query":"custom_query","sample_rate":50.5},"meta":{"source":"terraform","updated_at":1769456530759,"updated_by_handle":"davis.rule@datadoghq.com","edition_mode":"complete"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 128.622208ms
    - id: 1
      request:
        host: frog.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://frog.datadoghq.com/api/v2/rum/applications/9ff07c10-11f9-402c-a9d4-9eca42ef4a64/retention_filters/5594dbb0-3e46-4ae3-9d95-f260e5aa37c6
        method: GET
      response:
        body: '{"data":{"id":"5594dbb0-3e46-4ae3-9d95-f260e5aa37c6","type":"retention_filters","attributes":{"cross_product_sampling":{"session_replay_sample_rate":100,"trace_sample_rate":100,"session_replay_enabled":true,"trace_enabled":false},"enabled":true,"event_type":"session","name":"tf-TestAccRumRetentionFilterDecimalSampleRate-local-1769456527","query":"custom_query","sample_rate":50.5},"meta":{"source":"terraform","updated_at":1769456530759,"updated_by_handle":"davis.rule@datadoghq.com","edition_mode":"complete"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 134.041416ms
[...]
    - id: 4
      request:
        host: frog.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://frog.datadoghq.com/api/v2/rum/applications/9ff07c10-11f9-402c-a9d4-9eca42ef4a64/retention_filters/5594dbb0-3e46-4ae3-9d95-f260e5aa37c6
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rpc error: code = NotFound desc = NotFound: This retention filter does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 109.496834ms
