---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-sp-degrade-tmpl-updated-1787173178","name":"test-sp-degrade-tmpl-updated-1787173178","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"a45ac0aa-b49f-4751-9412-0ab619c16515","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"63faf66e-4714-4d88-8bd9-61e56dee7aa5","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:59:41.355947Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-updated-1787173178","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:59:41.355947Z","name":"test-sp-degrade-tmpl-updated-1787173178","page_url":"https://frog.datadoghq.com/status-pages/a45ac0aa-b49f-4751-9412-0ab619c16515/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 995.926042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components_affected":[{"id":"63faf66e-4714-4d88-8bd9-61e56dee7aa5","status":"degraded"}],"degradation_title":"API degradation","name":"test-sp-degrade-tmpl-updated-1787173178","updates":[{"message":"We are investigating the issue.","status":"investigating"}]},"type":"degradation_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/a45ac0aa-b49f-4751-9412-0ab619c16515/degradation_templates
        method: POST
      response:
        body: '{"data":{"id":"2541e14e-caa7-4365-8c1f-6c2631d1de6a","type":"degradation_templates","attributes":{"components_affected":[{"id":"63faf66e-4714-4d88-8bd9-61e56dee7aa5","status":"degraded"}],"created_at":"2026-08-19T20:59:42.331593Z","degradation_title":"API degradation","modified_at":"2026-08-19T20:59:42.331593Z","name":"test-sp-degrade-tmpl-updated-1787173178","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"a45ac0aa-b49f-4751-9412-0ab619c16515","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 78.171042ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/a45ac0aa-b49f-4751-9412-0ab619c16515/degradation_templates/2541e14e-caa7-4365-8c1f-6c2631d1de6a
        method: GET
      response:
        body: '{"data":{"id":"2541e14e-caa7-4365-8c1f-6c2631d1de6a","type":"degradation_templates","attributes":{"components_affected":[{"id":"63faf66e-4714-4d88-8bd9-61e56dee7aa5","status":"degraded"}],"created_at":"2026-08-19T20:59:42.331593Z","degradation_title":"API degradation","modified_at":"2026-08-19T20:59:42.331593Z","name":"test-sp-degrade-tmpl-updated-1787173178","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"a45ac0aa-b49f-4751-9412-0ab619c16515","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 49.467167ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/a45ac0aa-b49f-4751-9412-0ab619c16515
        method: GET
      response:
        body: '{"data":{"id":"a45ac0aa-b49f-4751-9412-0ab619c16515","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"63faf66e-4714-4d88-8bd9-61e56dee7aa5","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:59:41.355947Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-updated-1787173178","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:59:41.355947Z","name":"test-sp-degrade-tmpl-updated-1787173178","page_url":"https://frog.datadoghq.com/status-pages/a45ac0aa-b49f-4751-9412-0ab619c16515/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 60.298916ms
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/a45ac0aa-b49f-4751-9412-0ab619c16515/degradation_templates/2541e14e-caa7-4365-8c1f-6c2631d1de6a
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 32.322459ms
