---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1777447498","name":"team-tf-testacconcallschedulecreateandupdate-local-1777447498"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"7bcfa6a5-bbdc-4394-af5e-19bc909df975","type":"team","attributes":{"avatar":null,"banner":15,"created_at":"2026-04-29T07:25:02.362459+00:00","description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1777447498","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-04-29T07:25:02.362459+00:00","name":"team-tf-testacconcallschedulecreateandupdate-local-1777447498","provisioned_by":"teams_terraform","summary":"Description","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/7bcfa6a5-bbdc-4394-af5e-19bc909df975/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/7bcfa6a5-bbdc-4394-af5e-19bc909df975/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 445.976459ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1777447498@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"6a5eb070-57fd-42aa-9df6-44d54518aa0f","attributes":{"uuid":"6a5eb070-57fd-42aa-9df6-44d54518aa0f","name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1777447498@example.com","created_at":"2026-04-29T07:25:04.252279+00:00","modified_at":"2026-04-29T07:25:04.252279+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1777447498@example.com","icon":"https://secure.gravatar.com/avatar/8cdc8a6712887027013e44ea39c4b971?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 2.782682042s
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"6a5eb070-57fd-42aa-9df6-44d54518aa0f","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"8aeada0a-439c-11f1-b5ed-da7ad0900002","attributes":{"uuid":"8aeada0a-439c-11f1-b5ed-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2026-04-29T07:25:04.979941+00:00","expires_at":"2026-05-01T07:25:04.942193+00:00"},"relationships":{"user":{"data":{"type":"users","id":"6a5eb070-57fd-42aa-9df6-44d54518aa0f"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 272.027666ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00-08:00","end_date":"2026-01-01T00:00:00+05:00","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"6a5eb070-57fd-42aa-9df6-44d54518aa0f"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00-09:00"}],"name":"tf-testacconcallschedulecreateandupdate-local-1777447498","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"7bcfa6a5-bbdc-4394-af5e-19bc909df975","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"d0f461a4-a655-4068-bbd2-7bfb73a323d1","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1777447498","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"7505e800-7176-412d-9bd4-f1f4ec96dc51","type":"layers"}]},"teams":{"data":[{"id":"7bcfa6a5-bbdc-4394-af5e-19bc909df975","type":"teams"}]}}},"included":[{"id":"7505e800-7176-412d-9bd4-f1f4ec96dc51","type":"layers","attributes":{"applied_rotation_start":"2025-01-01T00:00:00-09:00","effective_date":"2025-01-01T00:00:00-08:00","end_date":"2026-01-01T00:00:00+05:00","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00-09:00"},"relationships":{"members":{"data":[{"id":"7505e800-7176-412d-9bd4-f1f4ec96dc51-member-1","type":"members"},{"id":"7505e800-7176-412d-9bd4-f1f4ec96dc51-member-2","type":"members"}]}}},{"id":"7505e800-7176-412d-9bd4-f1f4ec96dc51-member-1","type":"members","relationships":{"user":{"data":{"id":"6a5eb070-57fd-42aa-9df6-44d54518aa0f","type":"users"}}}},{"id":"6a5eb070-57fd-42aa-9df6-44d54518aa0f","type":"users","attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1777447498@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 161.5035ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/6a5eb070-57fd-42aa-9df6-44d54518aa0f
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"6a5eb070-57fd-42aa-9df6-44d54518aa0f","attributes":{"uuid":"6a5eb070-57fd-42aa-9df6-44d54518aa0f","name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1777447498@example.com","created_at":"2026-04-29T07:25:04.252279+00:00","modified_at":"2026-04-29T07:25:04.252279+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1777447498@example.com","icon":"https://secure.gravatar.com/avatar/8cdc8a6712887027013e44ea39c4b971?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"team_roles":{"data":[]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.020958ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/7bcfa6a5-bbdc-4394-af5e-19bc909df975
        method: GET
      response:
        body: '{"data":{"id":"7bcfa6a5-bbdc-4394-af5e-19bc909df975","type":"team","attributes":{"created_at":"2026-04-29T07:25:02.362459+00:00","description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1777447498","is_managed":false,"link_count":0,"modified_at":"2026-04-29T07:25:02.362459+00:00","name":"team-tf-testacconcallschedulecreateandupdate-local-1777447498","provisioned_by":"teams_terraform","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/7bcfa6a5-bbdc-4394-af5e-19bc909df975/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/7bcfa6a5-bbdc-4394-af5e-19bc909df975/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 245.340542ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/d0f461a4-a655-4068-bbd2-7bfb73a323d1?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"d0f461a4-a655-4068-bbd2-7bfb73a323d1","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1777447498","time_zone":"America/New_York"},"relationships":{[...]
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/d0f461a4-a655-4068-bbd2-7bfb73a323d1
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 183.522542ms
[...]
