---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            schema-version: v2
            dd-service: tf-testaccdatadogservicedefinition_order-local-1758619224
            contacts:
              - name: AA
                type: slack
                contact: AAA
              - name: BB
                type: email
                contact: BBB@example.com
              - name: AA
                type: email
                contact: AAA@example.com
              - name: BB
                type: email
                contact: AAA@example.com
              - name: AA
                type: email
                contact: BBB@example.com
            tags:
              - 'bbb'
              - 'aaa'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/services/definitions
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"service-definition","attributes":{"meta":{"last-modified-time":"2025-09-23T09:20:24.861709296Z","github-html-url":"","ingestion-source":"api","origin":"dd_terraform","origin-detail":"","warnings":[{"keyword-location":"/properties/contacts/items/$ref/allOf/1/then/properties/contact/pattern","instance-location":"/contacts/0/contact","message":"does not match pattern '^https://.+'"}],"ingested-schema-version":"v2"},"schema":{"schema-version":"v2","dd-service":"tf-testaccdatadogservicedefinition_order-local-1758619224","team":"","contacts":[{"name":"AA","type":"slack","contact":"AAA"},{"name":"BB","type":"email","contact":"BBB@example.com"},{"name":"AA","type":"email","contact":"AAA@example.com"},{"name":"BB","type":"email","contact":"AAA@example.com"},{"name":"AA","type":"email","contact":"BBB@example.com"}],"links":[],"repos":[],"docs":[],"tags":["aaa","bbb"],"integrations":{},"extensions":{}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.583375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/services/definitions/tf-testaccdatadogservicedefinition_order-local-1758619224
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"service-definition","id":"14bae86e-6efc-45bc-92a5-9b24734023ce","attributes":{"meta":{"last-modified-[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/services/definitions/tf-testaccdatadogservicedefinition_order-local-1758619224
        method: GET
      response:
            - chunked
        body: |
            {"errors":["404 Not Found: Not Found"],"error_details":[{}]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 186.359667ms
