---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSLO-local-1767989438","widgets":[{"definition":{"additional_query_filters":"!host:excluded_host","global_time_target":"99.0","show_error_budget":true,"slo_id":"b4c7739b2af25f9d947f828730357832","time_windows":["90d","previous_week","global_time"],"title_align":"center","title_size":"16","type":"slo","view_mode":"both","view_type":"detail"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"i5t-chx-f8e","title":"tf-TestAccDatadogDashboardSLO-local-1767989438","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/i5t-chx-f8e/tf-testaccdatadogdashboardslo-local-1767989438","template_variables":[],"widgets":[{"definition":{"additional_query_filters":"!host:excluded_host","global_time_target":"99.0","show_error_budget":true,"slo_id":"b4c7739b2af25f9d947f828730357832","time_windows":["90d","previous_week","global_time"],"title_align":"center","title_size":"16","type":"slo","view_mode":"both","view_type":"detail"},"id":4669802620601252}],"notify_list":[],"created_at":"2026-01-09T20:10:39.830660+00:00","modified_at":"2026-01-09T20:10:39.830660+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.094625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/i5t-chx-f8e
        method: GET
      response:
            - chunked
        body: '{"id":"i5t-chx-f8e","title":"tf-TestAccDatadogDashboardSLO-local-1767989438","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/i5t-chx-f8e/tf-testaccdatadogdashboardslo-local-1767989438","template_variables":[],"widgets":[{"definition":{"additional_query_filters":"!host:excluded_host","global_time_target":"99.0","show_error_budget":true,"slo_id":"b4c7739b2af25f9d947f828730357832","time_windows":["90d","previous_week","global_time"],"title_align":"center","title_size":"16","type":"slo","view_mode":"both","view_type":"detail"},"id":4669802620601252}],"notify_list":[],"created_at":"2026-01-09T20:10:39.830660+00:00","modified_at":"2026-01-09T20:10:39.830660+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.510958ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/i5t-chx-f8e
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"i5t-chx-f8e"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 331.416709ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/i5t-chx-f8e
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID i5t-chx-f8e not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 128.085542ms
