---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"im a policy","enabled":true,"hostTags":["host_name:test_host"],"name":"tdpijgyejh"},"type":"policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
        method: POST
      response:
        body: '{"data":{"id":"tx9-dn6-2bd","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["host_name:test_host"]],"monitoringRulesCount":7,"name":"tdpijgyejh","pinned":false,"policyVersion":"1","ruleCount":8,"updateDate":1761225169090,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 752.709709ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/tx9-dn6-2bd
        method: GET
      response:
        body: '{"data":{"id":"tx9-dn6-2bd","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"im a policy","disabledRulesCount":0,"enabled":true,"hostTagsLists":[["host_name:test_host"]],"monitoringRulesCount":0,"name":"tdpijgyejh","pinned":false,"policyVersion":"1","ruleCount":0,"updateDate":1761225169090,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 374.717792ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"actions":[{"hash":{},"set":{"append":false,"field":"exec.file.path","name":"test_action","scope":"process"}}],"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","name":"tdpijgyejh","policy_id":"tx9-dn6-2bd","product_tags":["compliance_framework:PCI-DSS"]},"type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
        method: POST
      response:
        body: '{"data":{"id":"axr-bzm-rre","type":"agent_rule","attributes":{"actions":[{"hash":{},"set":{"name":"test_action","field":"exec.file.path","scope":"process","inherited":false},"disabled":false}],"category":"File Activity","creationDate":1761225171947,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["tx9-dn6-2bd"],"name":"tdpijgyejh","product_tags":["compliance_framework:PCI-DSS"],"updateDate":1761225171947,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 481.814625ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/axr-bzm-rre?policy_id=tx9-dn6-2bd
        method: GET
      response:
        body: '{"data":{"id":"axr-bzm-rre","type":"agent_rule","attributes":{"actions":[{"hash":{},"set":{"name":"test_action","field":"exec.file.path","scope":"process","inherited":false},"disabled":false}],"category":"File Activity","creationDate":1761225171947,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["tx9-dn6-2bd"],"name":"tdpijgyejh","product_tags":["compliance_framework:PCI-DSS"],"updateDate":1761225171947,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 332.257709ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"actions":[{"hash":{},"set":{"append":true,"name":"updated_action","scope":"container","value":"new_value"}}],"description":"updated agent rule for terraform provider test","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","policy_id":"tx9-dn6-2bd","product_tags":["compliance_framework:ISO-27799"]},"id":"axr-bzm-rre","type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/axr-bzm-rre
        method: PATCH
      response:
        body: '{"data":{"id":"axr-bzm-rre","type":"agent_rule","attributes":{"actions":[{"hash":{},"set":{"name":"updated_action","value":"new_value","append":true,"scope":"container","inherited":false},"disabled":false}],"category":"File Activity","creationDate":1761225171947,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"updated agent rule for terraform provider test","enabled":true,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"monitoring":["tx9-dn6-2bd"],"name":"tdpijgyejh","product_tags":["compliance_framework:ISO-27799"],"updateDate":1761225175817,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 858.443334ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/axr-bzm-rre?policy_id=tx9-dn6-2bd
        method: GET
      response:
        body: |
            {"errors":[{"title":"failed to get rule"}]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 294.517916ms
