---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a fido global variable","is_fido":true,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_UPDATED_LOCAL_1782473369","tags":["fido:bar","fido"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"1460dcc8-ba58-4df9-8d01-15f0171cefa3","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_UPDATED_LOCAL_1782473369","description":"a fido global variable","type":"variable","tags":["fido:bar","fido"],"last_error":null,"is_fido":true,"value":{"secure":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 419.696542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/1460dcc8-ba58-4df9-8d01-15f0171cefa3
        method: GET
      response:
            - chunked
        body: |
            {"id":"1460dcc8-ba58-4df9-8d01-15f0171cefa3","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_UPDATED_LOCAL_1782473369","description":"a fido global variable","type":"variable","tags":["fido:bar","fido"],"created_at":"2026-06-26T11:29:30.681951+00:00","modified_at":"2026-06-26T11:29:30.681951+00:00","last_error":null,"is_fido":true,"value":{"secure":true},"creator":{"name":"Corentin Girard","handle":"corentin.girard@datadoghq.com","email":"corentin.girard@datadoghq.com"},"editor":{"name":"Corentin Girard","handle":"corentin.girard@datadoghq.com","email":"corentin.girard@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.829834ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/1460dcc8-ba58-4df9-8d01-15f0171cefa3
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 159.346ms
