---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
        body: '{"data":{"id":"4f9b2a93-f9df-423c-b40f-8caf3c47a290","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]},"targeted_obfuscations":{"data":[]}}},"meta":{"group_count_limit":20,"rule_count_limit":500,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"has_cascading_enabled":false,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"min_sampling_rate":10,"version":300594,"count_limit":500}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 748.273416ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"included_keyword_configuration":{"character_count":30,"keywords":[]},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1773848635","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"4f9b2a93-f9df-423c-b40f-8caf3c47a290","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
        body: '{"data":{"id":"e99fdc4e-5123-46b0-a36e-8f84b771a78f","type":"sensitive_data_scanner_rule","attributes":{"description":"a description","excluded_namespaces":["username"],"included_keyword_configuration":{"keywords":[],"character_count":30},"is_enabled":true,"labels":[],"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1773848635","namespaces":[],"pattern":"regex","suppressions":{},"tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"4f9b2a93-f9df-423c-b40f-8caf3c47a290","type":"sensitive_data_scanner_group"}},"targeted_obfuscations":{"data":[]}}},"meta":{"version":300596}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 323.964916ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
        body: '{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"651e33c8-e3a0-4d41-8177-58bdffc5fc95","type":"sensitive_data_scanner_group"},{"id":"3ee6bec0-b04e-445f-8b98-913e4eb7a34d","type":"sensitive_data_scanner_group"},{"id":"7fae2c78-9719-4022-a7e5-57a3fef6be3e","type":"sensitive_data_scanner_group"},{"id":"ffa1d554-d5ba-4876-a3f2-e75cb23e3c73","type":"sensitive_data_scanner_group"},{"id":"4f9b2a93-f9df-423c-b40f-8caf3c47a290","type":"sensitive_data_scanner_group"}]}}},"meta":{"group_count_limit":20,"rule_count_limit":500,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"has_cascading_enabled":false,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"min_sampling_rate":10,"version":300596,"count_limit":500},"included":[{"id":"651e33c8-e3a0-4d41-8177-58bdffc5fc95","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]},"targeted_obfuscations":{"data":[]}}},{"id":"3ee6bec0-b04e-445f-8b98-[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"id":"4f9b2a93-f9df-423c-b40f-8caf3c47a290","type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/4f9b2a93-f9df-423c-b40f-8caf3c47a290
        method: PATCH
      response:
        body: '{"data":null,"meta":{"version":300597}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 308.896666ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1773848635","namespaces":[],"pattern":"regex","priority":1,"tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"id":"e99fdc4e-5123-46b0-a36e-8f84b771a78f","type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/e99fdc4e-5123-46b0-a36e-8f84b771a78f
        method: PATCH
      response:
        body: '{"data":null,"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 419.144833ms
[...]
    - id: 25
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1773848635","namespaces":[],"pattern":"regex","priority":1,"tags":["sensitive_data:true"],"text_replacement":{"replacement_string":"REDACTED","should_save_match":true,"type":"replacement_string"}},"id":"35b17fda-15b4-4297-9645-b5b2c6472f03","type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/35b17fda-15b4-4297-9645-b5b2c6472f03
        method: PATCH
      response:
        body: '{"data":null,"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 373.24225ms
[...]
