---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"end":1768922013,"message":"tf-TestAccDatadogDowntime_WeekDayRecurring-local-1768832013","monitor_tags":["*"],"recurrence":{"period":1,"type":"weeks","week_days":["Sat","Sun"]},"scope":["scope:WeekDaysRecurrence"],"start":1768835613,"timezone":"UTC"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/downtime
        method: POST
      response:
            - chunked
        body: |
            {"id":6253331935,"monitor_id":null,"org_id":321813,"start":1768835613,"end":1768922013,"canceled":null,"created":1768832014,"modified":1768832014,"message":"tf-TestAccDatadogDowntime_WeekDayRecurring-local-1768832013","active":false,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Sat","Sun"],"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":2,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"f9c6f39a-3291-4fd4-b4d5-f6f8ac7e0c38","scope":["scope:WeekDaysRecurrence"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 427.697417ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/downtime/6253331935
        method: GET
      response:
            - chunked
        body: |
            {"id":6253331935,"monitor_id":null,"org_id":321813,"start":1768835613,"end":1768922013,"canceled":null,"created":1768832014,"modified":1768832014,"message":"tf-TestAccDatadogDowntime_WeekDayRecurring-local-1768832013","active":false,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Sat","Sun"],"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":2,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"f9c6f39a-3291-4fd4-b4d5-f6f8ac7e0c38","scope":["scope:WeekDaysRecurrence"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.722458ms
[...]
