---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"reflow_type":"fixed","tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardMultiSizeLayout_createFixed-local-1758619376","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"width":6,"x":3,"y":0}},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"is_column_break":true,"width":6,"x":3,"y":2}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"jxw-wqu-fzj","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createFixed-local-1758619376","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/jxw-wqu-fzj/tf-testaccdatadogdashboardmultisizelayoutcreatefixed-local-1758619376","template_variables":[],"widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"width":6,"x":3,"y":0},"id":7525981957563169},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"is_column_break":true,"width":6,"x":3,"y":2},"id":4648255520613952}],"notify_list":[],"created_at":"2025-09-23T09:23:06.604272+00:00","modified_at":"2025-09-23T09:23:06.604272+00:00","template_variable_presets":[],"reflow_type":"fixed","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 393.147833ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/jxw-wqu-fzj
        method: GET
      response:
        body: '{"id":"jxw-wqu-fzj","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createFixed-local-1758619376","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/jxw-wqu-fzj/tf-testaccdatadogdashboardmultisizelayoutcreatefixed-local-1758619376","template_variables":[],"widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"width":6,"x":3,"y":0},"id":7525981957563169},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"is_column_break":true,"width":6,"x":3,"y":2},"id":4648255520613952}],"notify_list":[],"created_at":"2025-09-23T09:23:06.604272+00:00","modified_at":"2025-09-23T09:23:06.604272+00:00","template_variable_presets":[],"reflow_type":"fixed","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.358541ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/jxw-wqu-fzj
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"jxw-wqu-fzj"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.512208ms
