---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1748428443","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1748428443"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"ec891e2c-68da-4bbf-abff-a76217f8db2c","attributes":{"name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1748428443","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1748428443","summary":"Description","description":"Description","avatar":null,"banner":7,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-28T10:34:07.396327+00:00","modified_at":"2025-05-28T10:34:07.396336+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/ec891e2c-68da-4bbf-abff-a76217f8db2c/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/ec891e2c-68da-4bbf-abff-a76217f8db2c/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 539.326834ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallteamroutingrulescreateandupdate-local-1748428443@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"48fe6aec-3baf-11f0-97ed-2aeaad0563c4","attributes":{"name":null,"handle":"tf-testacconcallteamroutingrulescreateandupdate-local-1748428443@example.com","created_at":"2025-05-28T10:34:07.843436+00:00","modified_at":"2025-05-28T10:34:07.843436+00:00","email":"tf-testacconcallteamroutingrulescreateandupdate-local-1748428443@example.com","icon":"https://secure.gravatar.com/avatar/ce8fecc6f0564af628be6b33445aa775?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 920.14875ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"48fe6aec-3baf-11f0-97ed-2aeaad0563c4","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"494bcca8-3baf-11f0-9330-da7ad0900002","attributes":{"uuid":"494bcca8-3baf-11f0-9330-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-05-28T10:34:08.350187+00:00","expires_at":"2025-05-30T10:34:08.113045+00:00"},"relationships":{"user":{"data":{"type":"users","id":"48fe6aec-3baf-11f0-97ed-2aeaad0563c4"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 519.449167ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"48fe6aec-3baf-11f0-97ed-2aeaad0563c4"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1748428443","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"ec891e2c-68da-4bbf-abff-a76217f8db2c","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"cb1cb495-9f20-42b4-8ff1-d55e04d49b87","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1748428443","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"6a2bc46f-3ac1-4733-b592-388cd98f619d","type":"layers"}]},"teams":{"data":[{"id":"ec891e2c-68da-4bbf-abff-a76217f8db2c","type":"teams"}]}}},"included":[{"id":"6a2bc46f-3ac1-4733-b592-388cd98f619d","type":"layers","attributes":{"effective_date":"2025-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"6a2bc46f-3ac1-4733-b592-388cd98f619d-member-1","type":"members"},{"id":"6a2bc46f-3ac1-4733-b592-388cd98f619d-member-2","type":"members"}]}}},{"id":"6a2bc46f-3ac1-4733-b592-388cd98f619d-member-1","type":"members","relationships":{"user":{"data":{"id":"48fe6aec-3baf-11f0-97ed-2aeaad0563c4","type":"users"}}}},{"id":"48fe6aec-3baf-11f0-97ed-2aeaad0563c4","type":"users","attributes":{"email":"tf-testacconcallteamroutingrulescreateandupdate-local-1748428443@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 178.173ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testacconcallteamroutingrulescreateandupdate-local-1748428443","resolve_page_on_policy_end":true,"retries":3,"steps":[{"assignment":"round-robin","escalate_after_seconds":300,"targets":[{"id":"ec891e2c-68da-4bbf-abff-a76217f8db2c","type":"teams"},{"id":"48fe6aec-3baf-11f0-97ed-2aeaad0563c4","type":"users"},{"id":"cb1cb495-9f20-42b4-8ff1-d55e04d49b87","type":"schedules"}]}]},"type":"policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
        method: POST
      response:
        body: '{"data":{"id":"e83c95ea-bf0a-4d2a-8fb6-fdadf4[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"rules":[{"actions":[{"channel":"channel","type":"send_slack_message","workspace":"workspace"}],"query":"tags.service:test","time_restriction":{"restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"time_zone":"America/New_York"}},{"actions":[],"policy_id":"e83c95ea-bf0a-4d2a-8fb6-fdadf48ec172","query":"","urgency":"dynamic"}]},"id":"ec891e2c-68da-4bbf-abff-a76217f8db2c","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/ec891e2c-68da-4bbf-abff-a76217f8db2c/routing-rules?include=rules
        method: PUT
      response:
        body: '{"data":{"id":"ec891e2c-68da-4bbf-abff-a76217f8db2c","type":"team_routing_rules","relationships":{"rules":{"data":[{"id":"virtual-ec891e2c-68da-4bbf-abff-a76217f8db2c-rule-0","type":"team_routing_rules"},{"id":"virtual-ec891e2c-68da-4bbf-abff-a76217f8db2c-rule-1","type":"team_routing_rules"}]}}},"included":[{"id":"virtual-ec891e2c-68da-4bbf-abff-a76217f8db2c-rule-0","type":"team_routing_rules","attributes":{"actions":[{"type":"send_slack_message","channel":"channel","workspace":"workspace"}],"query":"tags.service:test","time_restriction":{"time_zone":"America/New_York","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}]}},"relationships":{"policy":{"data":null}}},{"id":"virtual-ec891e2c-68da-4bbf-abff-a76217f8db2c-rule-1","type":"team_routing_rules","attributes":{"actions":[],"query":"","urgency":"dynamic"},"relationships":{"policy":{"data":{"id":"e83c95ea-bf0a-4d2a-8fb6-fdadf48ec172","type":"policies"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 170.73975ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/48fe6aec-3baf-11f0-97ed-2aeaad0563c4
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"48fe6aec-3baf-11f0-97ed-2aeaad0563c4","attributes":{"name":null,"handle":"tf-testacconcallteamroutingrulescreateandupdate-local-1748428443@example.com","created_at":"2025-05-28T10:34:07.843436+00:00","modified_at":"2025-05-28T10:34:07.843436+00:00","email":"tf-testacconcallteamroutingrulescreateandupdate-local-1748428443@example.com","icon":"https://secure.gravatar.com/avatar/ce8fecc6f0564af628be6b33445aa775?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.336666ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/ec891e2c-68da-4bbf-abff-a76217f8db2c
        method: GET
      response:
        body: '{"data":{"id":"ec891e2c-68da-4bbf-abff-a76217f8db2c","type":"team","attributes":{"created_at":"2025-05-28T10:34:07.396327+00:00","description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1748428443","is_managed":false,"link_count":0,"modified_at":"2025-05-28T10:34:07.396336+00:00","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1748428443","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/ec891e2c-68da-4bbf-abff-a76217f8db2c/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/ec891e2c-68da-4bbf-abff-a76217f8db2c/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 180.408583ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/cb1cb495-9f20-42b4-8ff1-d55e04d49b87?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"cb1cb495-9f20-42b4-8ff1-d55e04d49b87","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1748428443","time_zon[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/e83c95ea-bf0a-4d2a-8fb6-fdadf48ec172?include=steps.targets
        method: GET
      response:
        body: '{"data":{"id":"e83c95ea-bf0a-4d2a-8fb6-fdadf48ec172","type":"policies","attributes":{"name":"tf-testacconcallteamroutingrulescreateandupdate-local-1748428443","resolve_page_on_policy_end":true,"retries":3},[...]
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"ec891e2c-68da-4bbf-abff-a76217f8db2c","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/ec891e2c-68da-4bbf-abff-a76217f8db2c/routing-rules
        method: PUT
      response:
        body: '{"data":{"id":"ec891e2c-68da-4bbf-abff-a76217f8db2c","type":"team_routing_rules","relationships":{"rules":{"data":[]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 151.255625ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/e83c95ea-bf0a-4d2a-8fb6-fdadf48ec172
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 140.323958ms
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/cb1cb495-9f20-42b4-8ff1-d55e04d49b87
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 152.652667ms
[...]
