---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"account_id":"123456789012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionDatasource_AWS_AssumeRole-local-1787183656","tags":["env:test","team:action-platform"]},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"cbb7102f-bd89-4cbd-bcd7-064931352ee1","type":"action_connection","attributes":{"acting_user_can_resolve":false,"external_secrets_manager":null,"integration":{"credentials":{"account_id":"123456789012","external_id":"423ad5daa1f548208d301cd41ab8779d","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"is_favorite":false,"name":"tf-TestAccDatadogActionConnectionDatasource_AWS_AssumeRole-local-1787183656","tags":["env:test","team:action-platform"]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 514.012456ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/cbb7102f-bd89-4cbd-bcd7-064931352ee1
        method: GET
      response:
        body: '{"data":{"id":"cbb7102f-bd89-4cbd-bcd7-064931352ee1","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2026-08-19 23:54:18.970876 +0000 UTC","external_secrets_manager":null,"integration":{"credentials":{"account_id":"123456789012","external_id":"423ad5daa1f548208d301cd41ab8779d","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"is_favorite":false,"last_updated":"2026-08-19 23:54:18.970876 +0000 UTC","name":"tf-TestAccDatadogActionConnectionDatasource_AWS_AssumeRole-local-1787183656","tags":["env:test","team:action-platform"]},"relationships":{"created_by":{"data":{"id":"9c2cc44c-0fd5-4356-b457-9413333601f1","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 72.433469ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/cbb7102f-bd89-4cbd-bcd7-064931352ee1
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 41.681776ms
