---
version: 2
interactions:
  - id: 0
    request:
      host: api.datadoghq.com
      body: |
        {"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"action"},"id":"tf_TestAccRumMetricAttributes_local_1743410826","type":"rum_metrics"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.datadoghq.com/api/v2/rum/config/metrics
      method: POST
    response:
      body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1743410826","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","group_by":[]}}}'
      headers:
        Content-Type:
          - application/vnd.api+json
      status: 201 Created
      code: 201
      duration: 300.94025ms
  - id: 1
    request:
      host: api.datadoghq.com
      body: ""
      form: {}
      headers:
      url: https://api.datadoghq.com/api/v2/rum/config/metrics/tf_TestAccRumMetricAttributes_local_1743410826
      method: GET
    response:
      body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1743410826","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","group_by":[]}}}'
      headers:
        Content-Type:
          - application/vnd.api+json
      status: 200 OK
      code: 200
      duration: 123.637292ms
[...]
  - id: 3
    request:
      host: api.datadoghq.com
      body: |
        {"data":{"attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"action"},"id":"tf_TestAccRumMetricAttributes_local_1743410826","type":"rum_metrics"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.datadoghq.com/api/v2/rum/config/metrics
      method: POST
    response:
      body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1743410826","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"action","group_by":[]}}}'
      headers:
        Content-Type:
          - application/vnd.api+json
      status: 201 Created
      code: 201
      duration: 243.37875ms
[...]
  - id: 9
    request:
      host: api.datadoghq.com
      body: |
        {"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","filter":{"query":"@service:web-ui"}},"id":"tf_TestAccRumMetricAttributes_local_1743410826","type":"rum_metrics"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.datadoghq.com/api/v2/rum/config/metrics
      method: POST
    response:
      body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1743410826","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","filter":{"query":"@service:web-ui"},"group_by":[]}}}'
      headers:
        Content-Type:
          - application/vnd.api+json
      status: 201 Created
      code: 201
      duration: 205.41825ms
[...]
  - id: 19
    request:
      host: api.datadoghq.com
      body: |
        {"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","group_by":[{"path":"@os","tag_name":"os"},{"path":"@service","tag_name":"service"},{"path":"path_only","tag_name":"path_only"}]},"id":"tf_TestAccRumMetricAttributes_local_1743410826","type":"rum_metrics"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.datadoghq.com/api/v2/rum/config/metrics
      method: POST
    response:
      body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1743410826","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count"},"event_type":"action","group_by":[{"path":"@os","tag_name":"os"},{"path":"@service","tag_name":"service"},{"path":"path_only","tag_name":"path_only"}]}}}'
      headers:
        Content-Type:
          - application/vnd.api+json
      status: 201 Created
      code: 201
      duration: 218.164667ms
[...]
  - id: 28
    request:
      host: api.datadoghq.com
      body: |
        {"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"session","uniqueness":{"when":"match"}},"id":"tf_TestAccRumMetricAttributes_local_1743410826","type":"rum_metrics"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.datadoghq.com/api/v2/rum/config/metrics
      method: POST
    response:
      body: '{"data":{"id":"tf_TestAccRumMetricAttributes_local_1743410826","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"count"},"event_type":"session","group_by":[],"uniqueness":{"when":"match"}}}}'
      headers:
        Content-Type:
          - application/vnd.api+json
      status: 201 Created
      code: 201
      duration: 201.35325ms
[...]
