---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["sample-group-2"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"sample-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"sample-1","include":"*","rate":10,"type":"sample"}]},{"enabled":false,"id":"sample-group-2","include":"*","inputs":["sample-group-1"],"processors":[{"enabled":false,"id":"sample-2","include":"*","percentage":4.99,"type":"sample"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"sample-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"d2462018-dcfd-11f0-b896-da7ad0900002","type":"pipelines","attributes":{"name":"sample-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["sample-group-2"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"sample-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"sample-1","include":"*","rate":10,"type":"sample"}]},{"enabled":false,"id":"sample-group-2","include":"*","inputs":["sample-group-1"],"processors":[{"enabled":false,"id":"sample-2","include":"*","percentage":4.99,"type":"sample"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 725.893583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/d2462018-dcfd-11f0-b896-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"d2462018-dcfd-11f0-b896-da7ad0900002","type":"pipelines","attributes":{"name":"sample-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["sample-group-2"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"sample-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"sample-1","include":"*","rate":10,"type":"sample"}]},{"enabled":false,"id":"sample-group-2","include":"*","inputs":["sample-group-1"],"processors":[{"enabled":false,"id":"sample-2","include":"*","percentage":4.99,"type":"sample"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 458.458083ms
[...]
