---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"tf-TestAccAppsecWafExclusionFilterBasic-local-1758619308","enabled":true,"path_glob":"/accounts/*","rules_target":[{"tags":{"category":"attack_attempt","type":"lfi"}}],"scope":[{"env":"www","service":"prod"}]},"type":"exclusion_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters
        method: POST
      response:
        body: '{"data":{"id":"79c0c8a7-cc5f-4647-9a15-418f7009ae59","type":"exclusion_filter","attributes":{"description":"tf-TestAccAppsecWafExclusionFilterBasic-local-1758619308","enabled":true,"metadata":{"added_at":"2025-09-23T09:21:50Z","added_by":"frog@datadoghq.com","added_by_name":"frog"},"path_glob":"/accounts/*","rules_target":[{"tags":{"category":"attack_attempt","type":"lfi"}}],"scope":[{"env":"www","service":"prod"}],"search_query":"(env:www AND service:prod) AND (@http.url_details.path:\\/accounts\\/* OR @rpc.grpc.full_method:\\/accounts\\/*) AND (@appsec.category:attack_attempt AND @appsec.type:lfi)"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 848.50875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/79c0c8a7-cc5f-4647-9a15-418f7009ae59
        method: GET
      response:
        body: '{"data":{"id":"79c0c8a7-cc5f-4647-9a15-418f7009ae59","type":"exclusion_filter","attributes":{"description":"tf-TestAccAppsecWafExclusionFilterBasic-local-1758619308","enabled":true,"metadata":{"added_at":"2025-09-23T09:21:50Z","added_by":"frog@datadoghq.com","added_by_name":"frog"},"path_glob":"/accounts/*","rules_target":[{"tags":{"category":"attack_attempt","type":"lfi"}}],"scope":[{"env":"www","service":"prod"}],"search_query":"(env:www AND service:prod) AND (@http.url_details.path:\\/accounts\\/* OR @rpc.grpc.full_method:\\/accounts\\/*) AND (@appsec.category:attack_attempt AND @appsec.type:lfi)"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 222.048583ms
[...]
