---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","auth_uri":"https://accounts.google.com/o/oauth2/auth","automute":false,"client_email":"tf-TestAccDatadogIntegrationGCP-local-1730817522@awesome-project-id.iam.gserviceaccount.com","client_id":"123456789012345678901","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/tf-TestAccDatadogIntegrationGCP-local-1730817522@awesome-project-id.iam.gserviceaccount.com","cloud_run_revision_filters":["tag:one","tag:two"],"host_filters":"foo:bar,buzz:lightyear","is_cspm_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","private_key_id":"1234567890123456789012345678901234567890","project_id":"tf-TestAccDatadogIntegrationGCP-local-1730817522","token_uri":"https://oauth2.googleapis.com/token","type":"service_account"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/gcp
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 591.813416ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/gcp
        method: GET
      response:
            - chunked
        body: |
            [{"project_id":"","client_email":"StaticTestAccount@example.invalid","host_filters":"","automute":false,"is_cspm_enabled":false,"resource_collection_enabled":false,"is_security_command_center_enabled":false,"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":[],"errors":[]},{"project_id":"","client_email":"Test-036dd23441a230b1@example.com","host_filters":"","automute":false,"is_cspm_enabled":false,"resource_collection_enabled":true,"is_security_command_center_enabled":false,"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":[],"errors":[]},{"project_id":"","client_email":"Test-06143a6bec92b889@example.com","host_filters":"","automute":false,"is_cspm_enabled":false,"resource_collection_enabled":true,"is_security_command_center_enabled":f[...]
[...]
