---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/apm/config/retention-filters
        method: GET
      response:
        body: |
            {"data":[{"id":"gqTKd0gDTXqz1n31o6qzXw","attributes":{"name":"Error Default","rate":1.0,"trace_rate":0,"enabled":true,"filter_type":"spans-errors-sampling-processor","filter":{"query":"status:error"},"editable":true,"execution_order":1,"modified_by":"","modified_at":0,"created_by":"","created_at":0},"type":"apm_retention_filter"},{"id":"ycMCvoF5ST2AmdSgYkmu_g","attributes":{"name":"Application Security Monitoring Default","rate":0.1,"trace_rate":0.0,"enabled":false,"filter_type":"spans-appsec-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"execution_order":2,"modified_by":"salah.bachircherif@datadoghq.com","modified_at":1713447155,"created_by":"","created_at":0},"type":"apm_retention_filter"},{"id":"SEZrfMHETSGfg-Fa2XJeMA","attributes":{"name":"tf-TestAc[...]
    - id: 1
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"enabled":true,"filter":{"query":"error_code:123 service:my-service"},"filter_type":"spans-sampling-processor","name":"tf-TestAccApmRetentionFilter-local-1713449107","rate":0.1},"type":"apm_retention_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/apm/config/retention-filters
        method: POST
      response:
        body: |
            {"data":{"id":"BdXKkyd6SpKKG0ZxH-c9ZA","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1713449107","rate":0.1,"trace_rate":0.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"salah.bachircherif@datadoghq.com","modified_at":1713449111,"created_by":"salah.bachircherif@datadoghq.com","created_at":1713449111},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 290.481417ms
    - id: 2
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"enabled":false,"filter":{"query":"error_code:123 service:my-service"},"filter_type":"spans-appsec-sampling-processor","name":"Application Security Monitoring Default","rate":0.1},"id":"","type":"apm_retention_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/apm/config/retention-filters/ycMCvoF5ST2AmdSgYkmu_g
        method: PUT
      response:
        body: |
            {"data":{"id":"ycMCvoF5ST2AmdSgYkmu_g","attributes":{"name":"Application Security Monitoring Default","rate":0.1,"trace_rate":0.0,"enabled":false,"filter_type":"spans-appsec-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"salah.bachircherif@datadoghq.com","modified_at":1713449111,"created_by":"","created_at":0},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 295.79375ms
    - id: 3
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/apm/config/retention-filters/BdXKkyd6SpKKG0ZxH-c9ZA
        method: GET
      response:
        body: |
            {"data":{"id":"BdXKkyd6SpKKG0ZxH-c9ZA","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1713449107","rate":0.1,"trace_rate":0.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"salah.bachircherif@datadoghq.com","modified_at":1713449111,"created_by":"salah.bachircherif@datadoghq.com","created_at":1713449111},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.3495ms
[...]
    - id: 17
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/apm/config/retention-filters/BdXKkyd6SpKKG0ZxH-c9ZA
        method: GET
      response:
        body: '{"errors":["retention filter with id: ''BdXKkyd6SpKKG0ZxH-c9ZA'' not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 222.710125ms
