---
version: 1
interactions:
- request:
    body: |
      {"description":"some description about foo SLO","name":"tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1620034703","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1620034703{type:good}.as_count()"},"tags":["tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1620034703"],"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"},{"target":99,"timeframe":"90d"}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"david.robertansart@datadoghq.com","name":"David Robert-Ansart","email":"david.robertansart@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1620034703{type:good}.as_count()"},"id":"43d5fc0042e45a23a31ec9a141e81f58","name":"tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1620034703","created_at":1620034704,"tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1620034703"],"modified_at":1620034704,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4442455"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "36"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?ids=43d5fc0042e45a23a31ec9a141e81f58%2C19766d1073cb5da1b85a26b997f6a885
    method: GET
  response:
    body: '{"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"david.robertansart@datadoghq.com","name":"David Robert-Ansart","email":"david.robertansart@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"9[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLO
    url: https://api.datadoghq.com/api/v1/slo/43d5fc0042e45a23a31ec9a141e81f58
    method: GET
  response:
    body: '{"data":{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"david.robertansart@datadoghq.com","name":"David Robert-Ansart","email":"david.robertansart@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1620034703{type:good}.as_count()"},"id":"43d5fc0042e45a23a31ec9a141e81f58","name":"tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1620034703","created_at":1620034704,"tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1620034703"],"modified_at":1620034704,"type":"metric"},"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4442455"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2999"
      X-Ratelimit-Reset:
      - "6"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?query=tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1620034703
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":2,"total_count":2}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"david.robertansart@datadoghq.com","name":"David Robert-Ansart","email":"david.robertansart@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","nu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?tags_query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1620034703
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":2,"total_count":2}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"david.robertansart@datadoghq.com","name":"David Robert-Ansart","email":"david.robertansa[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?metrics_query=tf_TestAccDatadogServiceLevelObjectivesDatasource_local_1620034703
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":2,"total_count":2}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"david.robertansart@datadoghq.com","name":"David Robert-Ansart","email":"david.roberta[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLO
    url: https://api.datadoghq.com/api/v1/slo/19766d1073cb5da1b85a26b997f6a885
    method: GET
  response:
    body: '{"errors": ["SLO not found: 19766d1073cb5da1b85a26b997f6a885 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4442455"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2983"
      X-Ratelimit-Reset:
      - "2"
    status: 404 Not Found
    code: 404
    duration: ""
