---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"filter":{"tags":["env:tf-TestAccMonitorNotificationRule_Update-local-1758619098","host:abc"]},"name":"A notification rule name","recipients":["jira-bar","slack-foo"]},"type":"monitor-notification-rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/monitor/notification_rule
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-notification-rule","attributes":{"modified_at":"1970-01-01T00:00:00+00:00","recipients":["jira-bar","slack-foo"],"filter":{"tags":["env:tf-TestAccMonitorNotificationRule_Update-local-1758619098","host:abc"]},"created_at":"2025-09-23T09:18:19.945713+00:00","name":"A notification rule name"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"149c75cd-95b2-496f-953e-a9972f84d55e"},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2025-09-17T20:56:07.513404+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.647958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/monitor/notification_rule/149c75cd-95b2-496f-953e-a9972f84d55e
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-notification-rule","attributes":{"name":"A notification rule name","modified_at":"1970-01-01T00:00:00+00:00","created_at":"2025-09-23T09:18:19.945714+00:00","recipients":["jira-bar","slack-foo"],"filter":{"tags":["env:tf-TestAccMonitorNotificationRule_Update-local-1758619098","host:abc"]}},"id":"149c75cd-95b2-496f-953e-a9972f84d55e"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 326.16525ms
[...]
