---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"bucket":"my-generic-bucket","buffer":{"max_size":268435456,"type":"memory","when_full":"block"},"compression":{"algorithm":"snappy"},"encoding":{"type":"json"},"id":"amazon-s3-generic-buffer-1","inputs":["source-1"],"region":"us-east-1","storage_class":"STANDARD","type":"amazon_s3_generic"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"amazon-s3-generic-buffer-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"e9795410-58f6-11f1-a7a0-da7ad0900002","type":"pipelines","attributes":{"name":"amazon-s3-generic-buffer-pipeline","config":{"destinations":[{"bucket":"my-generic-bucket","buffer":{"max_size":268435456,"type":"memory","when_full":"block"},"compression":{"algorithm":"snappy"},"encoding":{"type":"json"},"id":"amazon-s3-generic-buffer-1","inputs":["source-1"],"region":"us-east-1","storage_class":"STANDARD","type":"amazon_s3_generic"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 802.353166ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/e9795410-58f6-11f1-a7a0-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"e9795410-58f6-11f1-a7a0-da7ad0900002","type":"pipelines","attributes":{"name":"amazon-s3-generic-buffer-pipeline","config":{"destinations":[{"bucket":"my-generic-bucket","buffer":{"max_size":268435456,"type":"memory","when_full":"block"},"compression":{"algorithm":"snappy"},"encoding":{"type":"json"},"id":"amazon-s3-generic-buffer-1","inputs":["source-1"],"region":"us-east-1","storage_class":"STANDARD","type":"amazon_s3_generic"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 226.403125ms
[...]
