---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a totp global variable","is_fido":false,"is_totp":true,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLETOTP_BASIC_LOCAL_1758619201","tags":["foo:bar","baz"],"value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":true,"value":"variable-secure-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"3494e3f0-9b66-428f-a75d-3d945fbc8e44","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLETOTP_BASIC_LOCAL_1758619201","description":"a totp global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"is_totp":true,"value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.133875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/3494e3f0-9b66-428f-a75d-3d945fbc8e44
        method: GET
      response:
            - chunked
        body: |
            {"id":"3494e3f0-9b66-428f-a75d-3d945fbc8e44","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLETOTP_BASIC_LOCAL_1758619201","description":"a totp global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2025-09-23T09:20:02.492784+00:00","modified_at":"2025-09-23T09:20:02.492784+00:00","last_error":null,"is_totp":true,"value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":true},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.522625ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/3494e3f0-9b66-428f-a75d-3d945fbc8e44
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 178.336875ms
