---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"variables":[]},"message":"","name":"tf-TestAccDatadogSyntheticsMobileTest_TypeTextDelay-local-1791367035","options":{"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"tick_every":43200},"status":"paused","steps":[{"allowFailure":false,"hasNewStepElement":false,"isCritical":false,"name":"Type text","noScreenshot":false,"params":{"element":{"context":"NATIVE_APP","contextType":"native","userLocator":{"failTestOnCannotLocate":true,"values":[{"type":"id","value":"some-input"}]}},"value":"hello","withEnter":true},"timeout":30,"type":"typeText"}],"type":"mobile"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/mobile
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"aie-8uy-g5n","name":"tf-TestAccDatadogSyntheticsMobileTest_TypeTextDelay-local-1791367035","status":"paused","type":"mobile","tags":[],"created_at":"2026-10-07T09:57:17.206014+00:00","modified_at":"2026-10-07T09:57:17.206014+00:00","config":{"variables":[]},"message":"","options":{"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"tick_every":43200,"bits_ai_auto_investigate":false},"locations":["aws:us-west-2"],"created_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":329529993,"org_id":321813,"modified_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"creation_source":"terraform","steps":[{"name":"Type text","params":{"element":{"context":"NATIVE_APP","contextType":"native","userLocator":{"failTestOnCannotLocate":true,"values":[{"type":"id","value":"some-input"}]}},"value":"hello","withEnter":true},"timeout":30,"type":"typeText","public_id":"gdk-d3k-7pj","context":{"id":"NATIVE_APP"},"allowFailure":false,"isCritical":false,"noScreenshot":false}],"stepCount":{"assertions":0,"subtests":0,"total":1,"nested_steps":0}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 461.207959ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/mobile/aie-8uy-g5n
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"aie-8uy-g5n","name":"tf-TestAccDatadogSyntheticsMobileTest_TypeTextDelay-local-1791367035","status":"paused","type":"mobile","tags":[],"created_at":"2026-10-07T09:57:17.206014+00:00","modified_at":"2026-10-07T09:57:17.206014+00:00","config":{"variables":[]},"message":"","options":{"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"tick_every":43200},"locations":["aws:us-west-2"],"monitor_id":329529993,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"steps":[{"name":"Type text","params":{"element":{"context":"NATIVE_APP","contextType":"native","userLocator":{"failTestOnCannotLocate":true,"values":[{"type":"id","value":"some-input"}]}},"value":"hello","withEnter":true},"public_id":"gdk-d3k-7pj","timeout":30,"type":"typeText","context":{"id":"NATIVE_APP"},"allowFailure":false,"isCritical":false,"noScreenshot":false}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.316917ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/aie-8uy-g5n
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"aie-8uy-g5n","name":"tf-TestAccDatadogSyntheticsMobileTest_TypeTextDelay-local-1791367035","status":"paused","type":"mobile","tags":[],"created_at":"2026-10-07T09:57:17.206014+00:00","modified_at":"2026-10-07T09:57:17.206014+00:00","config":{"variables":[]},"message":"","options":{"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"tick_every":43200},"locations":["aws:us-west-2"],"monitor_id":329529993,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 243.304083ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"variables":[]},"message":"","name":"tf-TestAccDatadogSyntheticsMobileTest_TypeTextDelay-local-1791367035","options":{"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"tick_every":43200},"status":"paused","steps":[{"allowFailure":false,"hasNewStepElement":false,"isCritical":false,"name":"Type text","noScreenshot":false,"params":{"delay":125,"element":{"context":"NATIVE_APP","contextType":"native","userLocator":{"failTestOnCannotLocate":true,"values":[{"type":"id","value":"some-input"}]}},"value":"hello","withEnter":true},"timeout":30,"type":"typeText"}],"type":"mobile"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/mobile/aie-8uy-g5n
        method: PUT
      response:
            - chunked
        body: |
            {"org_id":321813,"public_id":"aie-8uy-g5n","name":"tf-TestAccDatadogSyntheticsMobileTest_TypeTextDelay-local-1791367035","status":"paused","type":"mobile","tags":[],"message":"","options":{"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"tick_every":43200,"bits_ai_auto_investigate":false},"locations":["aws:us-west-2"],"created_at":"2026-10-07T09:57:17.206014+00:00","modified_at":"2026-10-07T09:57:20.674553+00:00","config":{"variables":[]},"overall_state_modified":"1970-01-01T00:00:00+00:00","monitor_id":329529993,"created_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"modified_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"overall_state":2,"creation_source":"terraform","steps":[{"name":"Type text","params":{"delay":125,"element":{"context":"NATIVE_APP","contextType":"native","userLocator":{"failTestOnCannotLocate":true,"values":[{"type":"id","value":"some-input"}]}},"value":"hello","withEnter":true},"timeout":30,"type":"typeText","public_id":"4g4-xf7-k23","context":{"id":"NATIVE_APP"},"allowFailure":false,"isCritical":false,"noScreenshot":false}],"stepCount":{"assertions":0,"subtests":0,"total":1,"nested_steps":0}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 791.701ms
[...]
    - id: 35
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["aie-8uy-g5n"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"aie-8uy-g5n","deleted_at":"2026-10-07T09:57:38.710877+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 793.71825ms
    - id: 36
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/aie-8uy-g5n
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 133.869209ms
