---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"costs_to_allocate":[{"condition":"is","tag":"aws_product","value":"AmazonS3"}],"enabled":true,"provider":["aws"],"rule_name":"tf-test-order-second-tf-TestAccDatadogCustomAllocationRuleOrder_Import-local-1759779796","strategy":{"allocated_by_tag_keys":["team"],"based_on_costs":[{"condition":"is","tag":"aws_product","value":"AmazonS3"}],"granularity":"daily","method":"even"},"type":"shared"},"type":"upsert_arbitrary_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/arbitrary_rule
        method: POST
      response:
        body: '{"data":{"id":"904","type":"arbitrary_rule","attributes":{"costs_to_allocate":[{"tag":"aws_product","condition":"is","value":"AmazonS3","values":null}],"created":"2025-10-06T19:43:17.054919611Z","enabled":true,"last_modified_user_uuid":"00000000-0000-0000-0000-000000000000","order_id":6,"provider":["aws"],"rule_name":"tf-test-order-second-tf-TestAccDatadogCustomAllocationRuleOrder_Import-local-1759779796","strategy":{"method":"even","granularity":"daily","based_on_costs":[{"tag":"aws_product","condition":"is","value":"AmazonS3","values":null}],"allocated_by_tag_keys":["team"]},"type":"shared","updated":"2025-10-06T19:43:17.054919611Z","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 44.45325ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/arbitrary_rule
        method: GET
      response:
        body: '{"data":[{"id":"891","type":"arbitrary_rule","attributes":{"costs_to_allocate":[{"tag":"providername","condition":"is","value":"aws","values":null}],"created":"2025-10-06T19:30:55.346613Z","enabled":true,"last_modified_user_uuid":"00000000-0000-0000-0000-000000000000","order_id":4,"processing_status":"processing","provider":["aws"],"rule_name":"eli-test-second","strategy":{"method":"even","granularity":"daily","based_on_costs":[{"tag":"env","condition":"is","value":"null","values":null}],"allocated_by_tag_keys":["servicename"],"evaluate_grouped_by_tag_keys":["orchestrator"],"allocated_by_filters":[{"tag":"servicename","condition":"is not","value":"null","values":null}],"evaluate_grouped_by_filters":[{"tag":"orchestrator","condition":"is not","value":"null","values":null}]},"type":"shared","updated":"2025-10-06T19:40:16.516987Z","version":1}},{"id":"892","type":"arbitrary_rule","attributes":{"costs_to_allocate":[{"tag":"providername","condition":"is","value":"aws","values":null}],"created":"2025-10-06T19:30:55.346706Z","enabled":true,"last_modified_user_uuid":"00000000-0000-0000-0000-000000000000","order_id":5,"processing_status":"processing","provider":["aws"],"rule_name":"eli-test-first",[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"906","type":"arbitrary_rule"},{"id":"904","type":"arbitrary_rule"},{"id":"905","type":"arbitrary_rule"},{"id":"891","type":"arbitrary_rule"},{"id":"892","type":"arbitrary_rule"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/arbitrary_rule/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 40.715ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/arbitrary_rule/904
        method: GET
      response:
        body: '{"data":{"id":"904","type":"arbitrary_rule","attributes":{"costs_to_allocate":[{"tag":"aws_product","condition":"is","value":"AmazonS3","values":null}],"created":"2025-10-06T19:43:17.054919Z","enabled":true,"last_modified_user_uuid":"00000000-0000-0000-0000-000000000000","order_id":2,"processing_status":"processing","provider":["aws"],"rule_name":"tf-test-order-second-tf-TestAccDatadogCustomAllocationRuleOrder_Import-local-1759779796","strategy":{"method":"even","granularity":"daily","based_on_costs":[{"tag":"aws_product","condition":"is","value":"AmazonS3","values":null}],"allocated_by_tag_keys":["team"]},"type":"shared","updated":"2025-10-06T19:43:24.700198Z","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 3.745248125s
[...]
