---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"query":"source:runtime-security-agent","rule_query":"type:(log_detection OR signal_correlation OR workload_security OR application_security) ruleId:007-d1a-1f3","severity":"increase","tags":["test:tf-tf-TestAccSecurityMonitoringCriticalAsset_Update-local-1768600035","team:security"]},"type":"critical_assets"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets
        method: POST
      response:
        body: '{"data":{"id":"0d9702c1-9168-440b-9103-91c4a6ebe09c","type":"critical_assets","attributes":{"creation_author_id":1445416,"creation_date":1768600036726,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"enabled":true,"query":"source:runtime-security-agent","rule_query":"type:(log_detection OR signal_correlation OR workload_security OR application_security) ruleId:007-d1a-1f3","severity":"increase","tags":["test:tf-tf-TestAccSecurityMonitoringCriticalAsset_Update-local-1768600035","team:security"],"update_author_id":1445416,"update_date":1768600036726,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 106.151ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/0d9702c1-9168-440b-9103-91c4a6ebe09c
        method: GET
      response:
        body: '{"data":{"id":"0d9702c1-9168-440b-9103-91c4a6ebe09c","type":"critical_assets","attributes":{"creation_author_id":1445416,"creation_date":1768600036726,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"enabled":true,"query":"source:runtime-security-agent","rule_query":"type:(log_detection OR signal_correlation OR workload_security OR application_security) ruleId:007-d1a-1f3","severity":"increase","tags":["test:tf-tf-TestAccSecurityMonitoringCriticalAsset_Update-local-1768600035","team:security"],"update_author_id":1445416,"update_date":1768600036726,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 70.1285ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/0d9702c1-9168-440b-9103-91c4a6ebe09c
        method: GET
      response:
        body: '{"errors":["not_found(Critical asset with ID 0d9702c1-9168-440b-9103-91c4a6ebe09c not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.881125ms
