---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"configVariables":[],"request":{"method":"GET","url":"https://www.datadoghq.com"}},"locations":["aws:us-east-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_AllSubtypes-local-1768380225","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"7mq-fyd-ecq","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_AllSubtypes-local-1768380225","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2026-01-14T08:43:47.569082+00:00","modified_at":"2026-01-14T08:43:47.569082+00:00","config":{"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"configVariables":[],"request":{"method":"GET","url":"https://www.datadoghq.com"}},"message":"Notify @datadog.user","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:us-east-1"],"created_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":250957559,"org_id":569509,"modified_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"creation_source":"terraform"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 517.057709ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/7mq-fyd-ecq
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"7mq-fyd-ecq","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_AllSubtypes-local-1768380225","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2026-01-14T08:43:47.569082+00:00","modified_at":"2026-01-14T08:43:47.569082+00:00","config":{"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"configVariables":[],"request":{"method":"GET","url":"https://www.datadoghq.com"}},"message":"Notify @datadog.user","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:us-east-1"],"monitor_id":250957559,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 207.437875ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[],"configVariables":[],"steps":[{"allowFailure":false,"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"exitIfSucceed":false,"extractedValues":[],"extractedValuesFromScript":"","isCritical":true,"name":"Request on github.com","request":{"allow_insecure":false,"follow_redirects":false,"httpVersion":"any","method":"GET","noSavingResponseBody":false,"persistCookies":false,"timeout":0,"url":"https://github.com"},"retry":{"count":0,"interval":300},"subtype":"http"},{"name":"Wait 10 seconds","subtype":"wait","value":10},{"allowFailure":false,"assertions":[],"exitIfSucceed":false,"extractedValues":[],"extractedValuesFromScript":"","isCritical":true,"name":"Test on grpcb.in","request":{"allow_insecure":false,"callType":"unary","host":"grpcb.in","message":"{\n    \"a\": \"Lorem Ipsum\",\n    \"b\": \"Lorem Ipsum\"\n}","method":"Concat","port":"9000","service":"addsvc.Add","timeout":0},"retry":{"count":0,"interval":300},"subtype":"grpc"},{"allowFailure":false,"assertions":[{"operator":"moreThanOrEqual","target":"1.3","type":"tlsVersion"}],"exitIfSucceed":false,"extractedValues":[],"extractedValuesFromScript":"","isCritical":true,"name":"Test on google.fr","request":{"allow_insecure":false,"checkCertificateRevocation":true,"disableAiaIntermediateFetching":true,"host":"example.org","port":"443","timeout":0},"retry":{"count":0,"interval":300},"subtype":"ssl"},{"allowFailure":false,"assertions":[{"operator":"is","property":"A","target":"213.186.33.19","type":"recordSome"}],"exitIfSucceed":false,"extractedValues":[],"extractedValuesFromScript":"","isCritical":true,"name":"Test on troisdizaines.com","request":{"allow_insecure":false,"dnsServer":"8.8.8.8","dnsServerPort":"53","host":"troisdizaines.com","timeout":0},"retry":{"count":0,"interval":300},"subtype":"dns"},{"allowFailure":false,"assertions":[{"operator":"lessThan","target":1000,"type":"responseTime"}],"exitIfSucceed":false,"extractedValues":[],"extractedValuesFromScript":"","isCritical":true,"name":"Test on ws://34.95.79.70/web-socket","request":{"allow_insecure":false,"isMessageBase64Encoded":true,"message":"My message","timeout":0,"url":"ws://34.95.79.70/web-socket"},"retry":{"count":0,"interval":300},"subtype":"websocket"},{"allowFailure":false,"assertions":[{"operator":"lessThan","target":1000,"type":"responseTime"}],"exitIfSucceed":false,"extractedValues":[],"extractedValuesFromScript":"","isCritical":true,"name":"Test on 34.95.79.70","request":{"allow_insecure":false,"host":"34.95.79.70","port":"80","shouldTrackHops":true,"timeout":32},"retry":{"count":0,"interval":300},"subtype":"tcp"},{"allowFailure":false,"assertions":[{"operator":"lessThan","target":1000,"type":"responseTime"}],"exitIfSucceed":false,"extractedValues":[],"extractedValuesFromScript":"","isCritical":true,"name":"Test on udp.shopist.io","request":{"allow_insecure":false,"host":"8.8.8.8","message":"A image.google.com","port":"53","timeout":0},"retry":{"count":0,"interval":300},"subtype":"udp"},{"name":"Subtest step","subtestPublicId":"7mq-fyd-ecq","subtype":"playSubTest"}]},"locations":["aws:us-east-1"],"message":"","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_AllSubtypes-local-1768380225","options":{"httpVersion":"any","min_location_failed":1,"tick_every":900},"status":"paused","subtype":"multi","tags":["env:sandbox"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
     [...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/5uc-php-8yf
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"5uc-php-8yf","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_AllSubtypes-local-1768380225","status":"paused","type":"api","subtype":"multi","tags":["env:sandbox"],"created_at":"2026-01-14T08:43:48.466346+00:[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/5uc-php-8yf
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"5uc-php-8yf","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_AllSubtypes-local-1768380225","status":"paused","type":"api","subtype":"multi","tags":["env:sandbox"],"created_at":"2026-01-14T08:43:48.466346+00:00",[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/7mq-fyd-ecq
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"7mq-fyd-ecq","name":"tf-TestAccDatadogSyntheticsTestMultistepApi_AllSubtypes-local-1768380225","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2026-01-14T08:43:47.569082+00:00","modified_at":"2026-01-14T08:43:47.569082+00:00","config":{"assertions":[{"operator":"is","target":200,"type":"statusCode"}],"configVariables":[],"request":{"method":"GET","url":"https://www.datadoghq.com"}},"message":"Notify @datadog.user","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:us-east-1"],"monitor_id":250957559,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.648084ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["5uc-php-8yf"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"5uc-php-8yf","deleted_at":"2026-01-14T08:43:51.652073+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 731.194042ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/5uc-php-8yf
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 131.9745ms
[...]
