---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"end_month":202603,"entries":[{"amount":1000,"month":202601,"tag_filters":[{"tag_key":"environment","tag_value":"production"}]},{"amount":1100,"month":202602,"tag_filters":[{"tag_key":"environment","tag_value":"production"}]},{"amount":1200,"month":202603,"tag_filters":[{"tag_key":"environment","tag_value":"production"}]},{"amount":500,"month":202601,"tag_filters":[{"tag_key":"environment","tag_value":"staging"}]},{"amount":550,"month":202602,"tag_filters":[{"tag_key":"environment","tag_value":"staging"}]},{"amount":600,"month":202603,"tag_filters":[{"tag_key":"environment","tag_value":"staging"}]}],"metrics_query":"sum:aws.cost.amortized{*} by {environment}","name":"tf-TestAccDatadogCostBudgetDataSource_Basic-local-1769789950","start_month":202601},"type":"budget"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/budget/validate
        method: POST
      response:
        body: '{"data":{"id":"budget_validation","type":"budget_validation","attributes":{"valid":true}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 201.890666ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"end_month":202603,"entries":[{"amount":1100,"month":202602,"tag_filters":[{"tag_key":"environment","tag_value":"production"}]},{"amount":1200,"month":202603,"tag_filters":[{"tag_key":"environment","tag_value":"production"}]},{"amount":1000,"month":202601,"tag_filters":[{"tag_key":"environment","tag_value":"production"}]},{"amount":500,"month":202601,"tag_filters":[{"tag_key":"environment","tag_value":"staging"}]},{"amount":550,"month":202602,"tag_filters":[{"tag_key":"environment","tag_value":"staging"}]},{"amount":600,"month":202603,"tag_filters":[{"tag_key":"environment","tag_value":"staging"}]}],"metrics_query":"sum:aws.cost.amortized{*} by {environment}","name":"tf-TestAccDatadogCostBudgetDataSource_Basic-local-1769789950","start_month":202601},"type":"budget"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/budget
        method: PUT
      response:
        body: '{"data":{"id":"884330a8-5d19-4aa1-9e39-96e7aef6315e","type":"budget","attributes":{"created_at":1769789953372,"created_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba","end_month":202603,"entries":[{"month":202602,"amount":1100,"tag_filters":[{"tag_key":"environment","tag_value":"production"}]},{"month":202603,"amount":1200,"tag_filters":[{"tag_key":"environment","tag_value":"production"}]},{"month":202601,"amount":1000,"tag_filters":[{"tag_key":"environment","tag_value":"production"}]},{"month":202601,"amount":500,"tag_filters":[{"tag_key":"environment","tag_value":"staging"}]},{"month":202602,"amount":550,"tag_filters":[{"tag_key":"environment","tag_value":"staging"}]},{"month":202603,"amount":600,"tag_filters":[{"tag_key":"environment","tag_value":"staging"}]}],"metrics_query":"sum:aws.cost.amortized{*} by {environment}","name":"tf-TestAccDatadogCostBudgetDataSource_Basic-local-1769789950","org_id":321813,"start_month":202601,"total_amount":4950,"updated_at":1769789953372,"updated_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 315.020792ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/884330a8-5d19-4aa1-9e39-96e7aef6315e
        method: GET
      response:
        body: '{"data":{"id":"884330a8-5d19-4aa1-9e39-96e7aef6315e","type":"budget","attributes":{"created_at":1769789953372,"created_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba","end_month":202603,"entries":[{"month":202602,"amount":1100,"tag_filters":[{"tag_key":"environment","tag_value":"production"}]},{"month":202603,"amount":1200,"tag_filters":[{"tag_key":"environment","tag_value":"production"}]},{"month":202601,"amount":1000,"tag_filters":[{"tag_key":"environment","tag_value":"production"}]},{"month":202601,"amount":500,"tag_filters":[{"tag_key":"environment","tag_value":"staging"}]},{"month":202602,"amount":550,"tag_filters":[{"tag_key":"environment","tag_value":"staging"}]},{"month":202603,"amount":600,"tag_filters":[{"tag_key":"environment","tag_value":"staging"}]}],"metrics_query":"sum:aws.cost.amortized{*} by {environment}","name":"tf-TestAccDatadogCostBudgetDataSource_Basic-local-1769789950","org_id":321813,"start_month":202601,"total_amount":4950,"updated_at":1769789953372,"updated_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 128.729042ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/884330a8-5d19-4aa1-9e39-96e7aef6315e
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"rpc error: code = NotFound desc = budget not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 119.695167ms
[...]
