---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccMonitor_Fwprovider_ComposeWithSyntheticsTest-local-1759829889","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100}},"priority":null,"query":"avg(last_5m):max:system.load.1{*} by {host} \u003e 100","type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 413.620917ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccMonitor_Fwprovider_ComposeWithSyntheticsTest-local-1759829889","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100}},"priority":null,"query":"avg(last_5m):max:system.load.1{*} by {host} \u003e 100","tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":223887943,"org_id":569509,"type":"metric alert","name":"tf-TestAccMonitor_Fwprovider_ComposeWithSyntheticsTest-local-1759829889","message":"test","tags":[],"query":"avg(last_5m):max:system.load.1{*} by {host} > 100","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100.0},"silenced":{}},"multi":true,"created_at":1759829891000,"created":"2025-10-07T09:38:11.833255+00:00","modified":"2025-10-07T09:38:11.833255+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":2781302}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 356.301667ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"Notify @pagerduty","name":"tf-TestAccMonitor_Fwprovider_ComposeWithSyntheticsTest-local-1759829889","options":{"min_failure_duration":10,"min_location_failed":1,"tick_every":900},"status":"live","subtype":"http","tags":["foo:bar","foo","env:test"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"pvd-uki-tsd","name":"tf-TestAccMonitor_Fwprovider_ComposeWithSyntheticsTest-local-1759829889","status":"live","type":"api","subtype":"http","tags":["foo:bar","foo","env:test"],"created_at":"2025-10-07T09:38:12.116833+00:00","modified_at":"2025-10-07T09:38:12.116833+00:00","config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"message":"Notify @pagerduty","options":{"min_failure_duration":10,"min_location_failed":1,"tick_every":900},"locations":["aws:eu-central-1"],"created_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":223887945,"org_id":569509,"modified_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"creation_source":"terraform"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 790.014334ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/pvd-uki-tsd
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"pvd-uki-tsd","name":"tf-TestAccMonitor_Fwprovider_ComposeWithSyntheticsTest-local-1759829889","status":"live","type":"api","subtype":"http","tags":["foo:bar","foo","env:test"],"created_at":"2025-10-07T09:38:12.116833+00:00","modified_at":"2025-10-07T09:38:12.116833+00:00","config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"message":"Notify @pagerduty","options":{"min_failure_duration":10,"min_location_failed":1,"tick_every":900},"locations":["aws:eu-central-1"],"monitor_id":223887945,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 218.938958ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccMonitor_Fwprovider_ComposeWithSyntheticsTest-local-1759829889","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100}},"priority":null,"query":"avg(last_5m):max:system.load.1{*} by {host} \u003e 100","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/223887943/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.610916ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/223887943
        method: GET
      response:
            - chunked
        body: |
            {"id":223887943,"org_id":569509,"type":"metric alert","name":"tf-TestAccMonitor_Fwprovider_ComposeWithSyntheticsTest-local-1759829889","message":"test","tags":[],"query":"avg(last_5m):max:system.load.1{*} by {host} > 100","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100.0},"silenced":{}},"multi":true,"created_at":1759829891000,"created":"2025-10-07T09:38:11.833255+00:00","modified":"2025-10-07T09:38:11.833255+00:00","deleted":null,"priority":null,"restricted_roles":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":2781302}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.753167ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/pvd-uki-tsd
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"pvd-uki-tsd","name":"tf-TestAccMonitor_Fwprovider_ComposeWithSyntheticsTest-local-1759829889","status":"live","type":"api","subtype":"http","tags":["foo:bar","foo","env:test"],"created_at":"2025-10-07T09:38:12.116833+00:00","modified_at":"2025-10-07T09:38:12.116833+00:00","config":{"assertions":[{"operator":"isNot","target":500,"type":"statusCode"}],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"message":"Notify @pagerduty","options":{"min_failure_duration":10,"min_location_failed":1,"tick_every":900},"locations":["aws:eu-central-1"],"monitor_id":223887945,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.361125ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/223887953
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":223887953}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.965209ms
[...]
    - id: 14
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["pvd-uki-tsd"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"pvd-uki-tsd","deleted_at":"2025-10-07T09:38:16.103222+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.609014334s
