---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"end_month":202602,"entries":[{"amount":1000,"month":202601,"tag_filters":[{"tag_key":"team","tag_value":"backend"},{"tag_key":"environment","tag_value":"production"}]},{"amount":1100,"month":202602,"tag_filters":[{"tag_key":"team","tag_value":"backend"},{"tag_key":"environment","tag_value":"production"}]},{"amount":550,"month":202602,"tag_filters":[{"tag_key":"team","tag_value":"frontend"},{"tag_key":"environment","tag_value":"staging"}]},{"amount":500,"month":202601,"tag_filters":[{"tag_key":"team","tag_value":"frontend"},{"tag_key":"environment","tag_value":"staging"}]}],"metrics_query":"sum:aws.cost.amortized{*} by {team,environment}","name":"tf-TestAccDatadogCostBudget_BudgetLineHierarchical-local-1769768620","start_month":202601},"type":"budget"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/budget/validate
        method: POST
      response:
        body: '{"data":{"id":"budget_validation","type":"budget_validation","attributes":{"valid":true}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 142.040292ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"end_month":202602,"entries":[{"amount":1000,"month":202601,"tag_filters":[{"tag_key":"team","tag_value":"backend"},{"tag_key":"environment","tag_value":"production"}]},{"amount":1100,"month":202602,"tag_filters":[{"tag_key":"team","tag_value":"backend"},{"tag_key":"environment","tag_value":"production"}]},{"amount":500,"month":202601,"tag_filters":[{"tag_key":"team","tag_value":"frontend"},{"tag_key":"environment","tag_value":"staging"}]},{"amount":550,"month":202602,"tag_filters":[{"tag_key":"team","tag_value":"frontend"},{"tag_key":"environment","tag_value":"staging"}]}],"metrics_query":"sum:aws.cost.amortized{*} by {team,environment}","name":"tf-TestAccDatadogCostBudget_BudgetLineHierarchical-local-1769768620","start_month":202601},"type":"budget"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/budget
        method: PUT
      response:
        body: '{"data":{"id":"be30df02-c9f1-483c-b2e2-50f86b5af7ac","type":"budget","attributes":{"created_at":1769768623506,"created_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba","end_month":202602,"entries":[{"month":202601,"amount":1000,"tag_filters":[{"tag_key":"team","tag_value":"backend"},{"tag_key":"environment","tag_value":"production"}]},{"month":202602,"amount":1100,"tag_filters":[{"tag_key":"team","tag_value":"backend"},{"tag_key":"environment","tag_value":"production"}]},{"month":202601,"amount":500,"tag_filters":[{"tag_key":"team","tag_value":"frontend"},{"tag_key":"environment","tag_value":"staging"}]},{"month":202602,"amount":550,"tag_filters":[{"tag_key":"team","tag_value":"frontend"},{"tag_key":"environment","tag_value":"staging"}]}],"metrics_query":"sum:aws.cost.amortized{*} by {team,environment}","name":"tf-TestAccDatadogCostBudget_BudgetLineHierarchical-local-1769768620","org_id":321813,"start_month":202601,"total_amount":3150,"updated_at":1769768623506,"updated_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 151.261458ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/be30df02-c9f1-483c-b2e2-50f86b5af7ac
        method: GET
      response:
        body: '{"data":{"id":"be30df02-c9f1-483c-b2e2-50f86b5af7ac","type":"budget","attributes":{"created_at":1769768623506,"created_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba","end_month":202602,"entries":[{"month":202601,"amount":1000,"tag_filters":[{"tag_key":"team","tag_value":"backend"},{"tag_key":"environment","tag_value":"production"}]},{"month":202602,"amount":1100,"tag_filters":[{"tag_key":"team","tag_value":"backend"},{"tag_key":"environment","tag_value":"production"}]},{"month":202601,"amount":500,"tag_filters":[{"tag_key":"team","tag_value":"frontend"},{"tag_key":"environment","tag_value":"staging"}]},{"month":202602,"amount":550,"tag_filters":[{"tag_key":"team","tag_value":"frontend"},{"tag_key":"environment","tag_value":"staging"}]}],"metrics_query":"sum:aws.cost.amortized{*} by {team,environment}","name":"tf-TestAccDatadogCostBudget_BudgetLineHierarchical-local-1769768620","org_id":321813,"start_month":202601,"total_amount":3150,"updated_at":1769768623506,"updated_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 121.708ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/be30df02-c9f1-483c-b2e2-50f86b5af7ac
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"rpc error: code = NotFound desc = budget not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 147.874708ms
