---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogApplicationKeyDatasource_matchName-local-1627995132 2"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateCurrentUserApplicationKey
    url: https://api.datadoghq.com/api/v2/current_user/application_keys
    method: POST
  response:
    body: '{"data":{"type":"application_keys","id":"f6b6c0ae-2edc-5b91-9cbe-b25590ca85dd","attributes":{"name":"tf-TestAccDatadogApplicationKeyDatasource_matchName-local-1627995132 2","created_at":"2021-08-03T12:52:13.231754+00:00","last4":"b5d4","key":"7e24146124220e0f3cc7e78014fa79af8410b5d4"},"relationships":{"owned_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "200"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "169"
      X-Ratelimit-Reset:
      - "467"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListCurrentUserApplicationKeys
    url: https://api.datadoghq.com/api/v2/current_user/application_keys?filter=tf-TestAccDatadogApplicationKeyDatasource_matchName-local-1627995132+1
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1}},"data":[{"type":"application_keys","id":"4346287f-ffda-5707-9108-f1ce30361b45","attributes":{"name":"tf-TestAccDatadogApplicationKeyDatasource_matchName-local-1627995132 1","created_at":"2021-08-03T12:52:13.255728+00:00","last4":"4a68"}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetCurrentUserApplicationKey
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/4346287f-ffda-5707-9108-f1ce30361b45
    method: GET
  response:
    body: '{"included":[{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928","attributes":{"name":"Bartosz Janda","handle":"janda.bartosz@bcg.com","created_at":"2021-01-13T10:33:34.050067+00:00","modified_at":"2021-08-02T10:48:26.430954+00:00","email":"janda.bartosz@bcg.com","icon":"https://secure.gravatar.com/avatar/6dd3ecad162a6c2f1b7296931b3c341f?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[{"type":"roles","id":"956f96c6-f490-11e9-a77b-5f92b9cd1bb2"}]}}},{"type":"roles","id":"956f96c6-f490-11e9-a77b-5f92b9cd1bb2","attributes":{"name":"Datadog Admin Role","created_at":"2019-10-22T05:55:43.108652+00:00","modified_at":"2019-10-22T05:55:43.108652+00:00"}}],"data":{"type":"application_keys","id":"4346287f-ffda-5707-9108-f1ce30361b45","attributes":{"name":"tf-TestAccDatadogApplicationKeyDatasource_matchName-local-1627995132 1","created_at":"2021-08-03T12:52:13.255728+00:00","last4":"4a68","key":"6e1181ac3878bd60304229bdf85273d66a5d4a68"},"relationships":{"owned_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetCurrentUserApplicationKey
    url: https://api.datadoghq.com/api/v2/current_user/application_keys/4346287f-ffda-5707-9108-f1ce30361b45
    method: GET
  response:
    body: '{"errors": ["Application key not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
