---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"include_percentiles":false,"metric_type":"distribution","tags":["sport","datacenter"]},"id":"tf_TestAccDatadogMetricTagConfiguration_Basic_local_1618930536","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_Basic_local_1618930536/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"tf_TestAccDatadogMetricTagConfiguration_Basic_local_1618930536","attributes":{"tags":["datacenter","sport"],"include_percentiles":false,"created_at":"2021-04-20T14:55:36.766091+00:00","updated_at":"2021-04-20T14:55:36.766091+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.4351688"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "43"
      X-Ratelimit-Reset:
      - "24"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTagConfigurationByName
    url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_Basic_local_1618930536/tags
    method: GET
  response:
    body: '{"errors": ["tf_TestAccDatadogMetricTagConfiguration_Basic_local_1618930536 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4351688"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "34"
      X-Ratelimit-Reset:
      - "21"
    status: 404 Not Found
    code: 404
    duration: ""
