---
version: 1
interactions:
- request:
    body: |
      {"message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1662060020","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":0,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","tags":[],"type":"rum alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/monitor/validate
    method: POST
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1662060020","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":0,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","tags":[],"type":"rum alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/monitor
    method: POST
  response:
    body: '{"restricted_roles":null,"tags":[],"deleted":null,"query":"formula(\"var1 + var2\").last(\"5m\") > 100","message":"test","id":82287425,"multi":false,"name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1662060020","created":"2022-09-01T19:20:23.654723+00:00","created_at":1662060023000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2022-09-01T19:20:23.654723+00:00","priority":null,"overall_state_modified":null,"overall_state":"No Data","type":"rum alert","options":{"notify_audit":false,"silenced":{},"include_tags":true,"thresholds":{"critical":100.0},"require_full_window":true,"new_host_delay":300,"notify_no_data":false,"groupby_simple_monitor":false,"variables":[{"search":{"query":"@browser.name:Firefox"},"data_source":"rum","compute":{"aggregation":"count"},"name":"var1","indexes":["*"],"group_by":[]},{"search":{"query":"@browser.name:Chrome"},"data_source":"rum","compute":{"aggregation":"count"},"name":"var2","indexes":["*"],"group_by":[]}]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"message":"test","name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1662060020","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","group_by":[],"indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":0,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","tags":[],"type":"rum alert"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/monitor/82287425/validate
    method: POST
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/82287425
    method: GET
  response:
    body: '{"restricted_roles":null,"tags":[],"deleted":null,"query":"formula(\"var1 + var2\").last(\"5m\") > 100","message":"test","id":82287425,"multi":false,"name":"tf-TestAccDatadogMonitor_FormulaFunction-local-1662060020","created":"2022-09-01T19:20:23.654723+00:00","created_at":1662060023000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2022-09-01T19:20:23.654723+00:00","priority":null,"overall_state_modified":null,"overall_state":"No Data","type":"rum alert","options":{"notify_audit":false,"silenced":{},"include_tags":true,"thresholds":{"critical":100.0},"require_full_window":true,"new_host_delay":300,"notify_no_data":false,"groupby_simple_monitor":false,"variables":[{"search":{"query":"@browser.name:Firefox"},"data_source":"rum","compute":{"aggregation":"count"},"name":"var1","indexes":["*"],"group_by":[]},{"search":{"query":"@browser.name:Chrome"},"data_source":"rum","compute":{"aggregation":"count"},"name":"var2","indexes":["*"],"group_by":[]}]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/82287425
    method: DELETE
  response:
    body: '{"deleted_monitor_id":82287425}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/monitor/82287425
    method: GET
  response:
    body: '{"errors": ["Monitor not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
