---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"TeamMemberships description","handle":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387","name":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"11f51967-ea49-4feb-8f30-f101bbfc1263","attributes":{"name":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387","handle":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387","summary":"TeamMemberships description","description":"TeamMemberships description","avatar":null,"banner":2,"visible_modules":[],"hidden_modules":[],"created_at":"2025-09-23T09:23:10.949318+00:00","modified_at":"2025-09-23T09:23:10.949328+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/11f51967-ea49-4feb-8f30-f101bbfc1263/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/11f51967-ea49-4feb-8f30-f101bbfc1263/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 562.316791ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"ec9877f3-985e-11f0-b3f1-166929e0c295","attributes":{"name":null,"handle":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387@example.com","created_at":"2025-09-23T09:23:11.224863+00:00","modified_at":"2025-09-23T09:23:11.224863+00:00","email":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387@example.com","icon":"https://secure.gravatar.com/avatar/f41921881e5cbf48bc7eabf4246ccd77?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 639.816875ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"ec9877f3-985e-11f0-b3f1-166929e0c295","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"ecf7b7de-985e-11f0-992a-da7ad0900002","attributes":{"uuid":"ecf7b7de-985e-11f0-992a-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:23:11.848849+00:00","expires_at":"2025-09-25T09:23:11.501565+00:00"},"relationships":{"user":{"data":{"type":"users","id":"ec9877f3-985e-11f0-b3f1-166929e0c295"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 614.311416ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"role":"admin"},"relationships":{"user":{"data":{"id":"ec9877f3-985e-11f0-b3f1-166929e0c295","type":"users"}}},"type":"team_memberships"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/11f51967-ea49-4feb-8f30-f101bbfc1263/memberships
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team_memberships","id":"TeamMembership-11f51967-ea49-4feb-8f30-f101bbfc1263-59671805","attributes":{"role":"admin","provisioned_by":null,"provisioned_by_id":"3ad549bf-eba0-11e9-a77a-0705486660d0"},"relationships":{"user":{"data":{"type":"users","id":"ec9877f3-985e-11f0-b3f1-166929e0c295"}}}},"included":[{"type":"users","id":"ec9877f3-985e-11f0-b3f1-166929e0c295","attributes":{"name":null,"handle":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387@example.com","email":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387@example.com","icon":"https://secure.gravatar.com/avatar/f41921881e5cbf48bc7eabf4246ccd77?s=48&d=retro","disabled":false,"service_account":false}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.247208ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/11f51967-ea49-4feb-8f30-f101bbfc1263/memberships?page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"TeamMembership-11f51967-ea49-4feb-8f30-f101bbfc1263-59671805","type":"team_memberships","attributes":{"provisioned_by":null,"provisioned_by_id":"3ad549bf-eba0-11e9-a77a-0705486660d0","role":"admin"},"relationships":{"user":{"data":{"id":"ec9877f3-985e-11f0-b3f1-166929e0c295","type":"users"}}}}],"meta":{"pagination":{"type":"number_size","number":0,"size":100,"total":1,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/team/11f51967-ea49-4feb-8f30-f101bbfc1263/memberships?page%5Bnumber%5D=0\u0026page%5Bsize%5D=100","first":"https://api.datadoghq.com/api/v2/team/11f51967-ea49-4feb-8f30-f101bbfc1263/memberships?page[number]=0\u0026page[size]=100","last":"https://api.datadoghq.com/api/v2/team/11f51967-ea49-4feb-8f30-f101bbfc1263/memberships?page[number]=0\u0026page[size]=100"},"included":[{"id":"ec9877f3-985e-11f0-b3f1-166929e0c295","type":"users","attributes":{"disabled":false,"email":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387@example.com","handle":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387@example.com","icon":"https://secure.gravatar.com/avatar/f41921881e5cbf48bc7eabf4246ccd77?d=retro\u0026s=48","name":null,"service_account":false}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 200.211625ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/ec9877f3-985e-11f0-b3f1-166929e0c295
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"ec9877f3-985e-11f0-b3f1-166929e0c295","attributes":{"name":null,"handle":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387@example.com","created_at":"2025-09-23T09:23:11.224863+00:00","modified_at":"2025-09-23T09:23:11.224863+00:00","email":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387@example.com","icon":"https://secure.gravatar.com/avatar/f41921881e5cbf48bc7eabf4246ccd77?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.4585ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/11f51967-ea49-4feb-8f30-f101bbfc1263
        method: GET
      response:
        body: '{"data":{"id":"11f51967-ea49-4feb-8f30-f101bbfc1263","type":"team","attributes":{"created_at":"2025-09-23T09:23:10.949318+00:00","description":"TeamMemberships description","handle":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387","is_managed":false,"link_count":0,"modified_at":"2025-09-23T09:23:10.949328+00:00","name":"tf-testaccdatadogteammembershipsdatasourcebasic-local-1758619387","summary":"TeamMemberships description","user_count":1},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/11f51967-ea49-4feb-8f30-f101bbfc1263/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/11f51967-ea49-4feb-8f30-f101bbfc1263/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 341.42825ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/11f51967-ea49-4feb-8f30-f101bbfc1263/memberships/ec9877f3-985e-11f0-b3f1-166929e0c295
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 251.751375ms
[...]
