---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"display_timezone":"","monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"mute_first_recovery_notification":false,"notify_end_types":[],"schedule":{"end":null,"start":"2050-01-02T03:04:05Z"},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1758619343)"},"type":"downtime"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/downtime
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"downtime","attributes":{"mute_first_recovery_notification":false,"notify_end_types":[],"notify_end_states":["warn","no data","alert"],"monitor_identifier":{"monitor_tags":["mat:sat","cat:hat"]},"display_timezone":"UTC","modified":"2025-09-23T09:22:29.352628+00:00","schedule":{"start":"2050-01-02T03:04:05+00:00","end":null},"canceled":null,"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1758619343)","message":null,"status":"scheduled","created":"2025-09-23T09:22:29.352628+00:00"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"monitor":{"data":null}},"id":"ce1b3ce8-9bca-4d8b-aebf-ab91d5bb1762"},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2025-09-17T20:56:07.513404+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.848459ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/downtime/ce1b3ce8-9bca-4d8b-aebf-ab91d5bb1762
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"downtime","attributes":{"mute_first_recovery_notification":false,"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1758619343)","notify_end_types":[],"notify_end_states":["no data","alert","warn"],"message":null,"schedule":{"start":"2050-01-02T03:04:05+00:00","end":null},"display_timezone":"UTC","modified":"2025-09-23T09:22:29.352628+00:00","canceled":null,"created":"2025-09-23T09:22:29.352628+00:00","status":"scheduled","monitor_identifier":{"monitor_tags":["mat:sat","cat:hat"]}},"id":"ce1b3ce8-9bca-4d8b-aebf-ab91d5bb1762"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.999917ms
[...]
