---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: "{\n   \"title\":\"tf-TestAccDatadogDashboardJSONBasicScreenboard-local-1758619406\",\n   \"description\":\"Created using the Datadog provider in Terraform\",\n   \"widgets\":[\n      {\n         \"id\":5574860246831982,\n         \"layout\":{\n            \"x\":5,\n            \"y\":5,\n            \"width\":32,\n            \"height\":43\n         },\n         \"definition\":{\n            \"title\":\"Widget Title\",\n            \"title_size\":\"16\",\n            \"title_align\":\"left\",\n            \"time\":{\n               \"live_span\":\"1h\"\n            },\n            \"type\":\"event_stream\",\n            \"query\":\"*\",\n            \"event_size\":\"l\"\n         }\n      },\n      {\n         \"id\":3310490736393290,\n         \"layout\":{\n            \"x\":42,\n            \"y\":73,\n            \"width\":65,\n            \"height\":9\n         },\n         \"definition\":{\n            \"title\":\"Widget Title\",\n            \"title_size\":\"16\",\n            \"title_align\":\"left\",\n            \"time\":{\n               \"live_span\":\"1h\"\n            },\n            \"type\":\"event_timeline\",\n            \"query\":\"*\"\n         }\n      },\n      {\n         \"id\":1117617615518455,\n         \"layout\":{\n            \"x\":42,\n            \"y\":5,\n            \"width\":30,\n            \"height\":20\n         },\n         \"definition\":{\n            \"type\":\"free_text\",\n            \"text\":\"free text content\",\n            \"color\":\"#d00\",\n            \"font_size\":\"88\",\n            \"text_align\":\"left\"\n         }\n      },\n      {\n         \"id\":3098118775539428,\n         \"layout\":{\n            \"x\":111,\n            \"y\":8,\n            \"width\":39,\n            \"height\":46\n         },\n         \"definition\":{\n            \"type\":\"iframe\",\n            \"url\":\"http://google.com\"\n         }\n      },\n      {\n         \"id\":651713243056399,\n         \"layout\":{\n            \"x\":77,\n            \"y\":7,\n            \"width\":30,\n            \"height\":20\n         },\n         \"definition\":{\n            \"type\":\"image\",\n            \"url\":\"https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&h=350\",\n            \"sizing\":\"fit\",\n            \"margin\":\"small\"\n         }\n      },\n      {\n         \"id\":5458329230004343,\n         \"layout\":{\n            \"x\":5,\n            \"y\":51,\n            \"width\":32,\n            \"height\":36\n         },\n         \"definition\":{\n            \"type\":\"log_stream\",\n            \"logset\":\"\",\n            \"indexes\":[\n               \"main\"\n            ],\n            \"query\":\"error\",\n            \"sort\":{\n               \"column\":\"time\",\n               \"order\":\"desc\"\n            },\n            \"columns\":[\n               \"core_host\",\n               \"core_service\",\n               \"tag_source\"\n            ],\n            \"show_date_column\":true,\n            \"show_message_column\":true,\n            \"message_display\":\"expanded-md\"\n         }\n      },\n      {\n         \"layout\":{\n            \"x\":112,\n            \"y\":55,\n            \"width\":30,\n            \"height\":40\n         },\n         \"definition\":{\n            \"title\":\"Widget Title\",\n            \"title_size\":\"16\",\n            \"title_align\":\"left\",\n            \"type\":\"manage_status\",\n            \"summary_type\":\"monitors\",\n            \"display_format\":\"countsAndList\",\n            \"color_preference\":\"text\",\n            \"hide_zero_counts\":true,\n            \"show_last_triggered\":false,\n            \"query\":\"type:metric\",\n            \"sort\":\"status,asc\",\n            \"count\":50,\n            \"start\":0\n         }\n      },\n      {\n         \"layout\":{\n            \"x\":40,\n            \"y\":28,\n            \"width\":67,\n            \"height\":38\n         },\n         \"definition\":{\n            \"title\":\"alerting-cassandra #env:datadog.com\",\n            \"title_size\":\"13\",\n            \"title_align\":\"center\",\n            \"time\":{\n               \"live_span\":\"1h\"\n            },\n            \"type\":\"trace_service\",\n            \"env\":\"datadog.com\",\n            \"service\":\"alerting-cassandra\",\n            \"span_name\":\"cassandra.query\",\n            \"show_hits\":true,\n            \"show_errors\":true,\n            \"show_latency\":false,\n            \"show_breakdown\":true,\n            \"show_distribution\":true,\n            \"show_resource_list\":false,\n            \"size_format\":\"large\",\n            \"display_format\":\"three_column\"\n         }\n      }\n   ],\n   \"template_variables\":[\n      {\n         \"name\":\"var_1\",\n         \"default\":\"aws\",\n         \"prefix\":\"host\"\n      },\n      {\n         \"name\":\"var_2\",\n         \"default\":\"autoscaling\",\n         \"prefix\":\"service_name\"\n      }\n   ],\n   \"layout_type\":\"free\",\n   \"is_read_only\":false,\n   \"notify_list\":[\n      \n   ],\n   \"template_variable_presets\":[\n      {\n         \"name\":\"preset_1\",\n         \"template_variables\":[\n            {\n               \"name\":\"var_1\",\n               \"value\":\"host.dc\"\n            },\n            {\n               \"name\":\"var_2\",\n               \"value\":\"my_service\"\n            }\n         ]\n      }\n   ],\n   \"id\":\"hjf-2xf-xc8\"\n}\n"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"errors":[{"id":null,"links":null,"status":"HTTPStatus.BAD_REQUEST","code":null,"title":"Bad Request","detail":"The is_read_only attribute is no longer supported. https://docs.datadoghq.com/dashboards/guide/is-read-only-deprecation/","source":null,"meta":null}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 421.14275ms
