---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1747016930","name":"team-tf-testacconcallschedulecreateandupdate-local-1747016930"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"51233aa0-f2aa-4e70-956e-b24503a97578","attributes":{"name":"team-tf-testacconcallschedulecreateandupdate-local-1747016930","handle":"team-tf-testacconcallschedulecreateandupdate-local-1747016930","summary":"Description","description":"Description","avatar":null,"banner":3,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-12T02:28:54.081607+00:00","modified_at":"2025-05-12T02:28:54.081617+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/51233aa0-f2aa-4e70-956e-b24503a97578/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/51233aa0-f2aa-4e70-956e-b24503a97578/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 977.957834ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1747016930@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"d97fed52-2ed8-11f0-8c00-124e7e445de4","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1747016930@example.com","created_at":"2025-05-12T02:28:54.533904+00:00","modified_at":"2025-05-12T02:28:54.533904+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1747016930@example.com","icon":"https://secure.gravatar.com/avatar/292713e55b907613d6f493b038241cb0?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.33969075s
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"d97fed52-2ed8-11f0-8c00-124e7e445de4","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"d9d5007a-2ed8-11f0-819e-da7ad0900002","attributes":{"uuid":"d9d5007a-2ed8-11f0-819e-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-05-12T02:28:55.090999+00:00","expires_at":"2025-05-14T02:28:54.888120+00:00"},"relationships":{"user":{"data":{"type":"users","id":"d97fed52-2ed8-11f0-8c00-124e7e445de4"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 542.135292ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","end_date":"2026-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"d97fed52-2ed8-11f0-8c00-124e7e445de4"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"tf-testacconcallschedulecreateandupdate-local-1747016930","tags":["foo:bar"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"51233aa0-f2aa-4e70-956e-b24503a97578","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"b8d1dda3-9a5c-47ca-88f3-4f097e42b268","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1747016930","tags":["foo:bar"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"9f0b74b6-4603-4988-aa30-59c8512996d9","type":"layers"}]},"teams":{"data":[{"id":"51233aa0-f2aa-4e70-956e-b24503a97578","type":"teams"}]}}},"included":[{"id":"9f0b74b6-4603-4988-aa30-59c8512996d9","type":"layers","attributes":{"effective_date":"2025-05-12T02:28:55.358010881Z","end_date":"2026-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"9f0b74b6-4603-4988-aa30-59c8512996d9-member-1","type":"members"},{"id":"9f0b74b6-4603-4988-aa30-59c8512996d9-member-2","type":"members"}]}}},{"id":"9f0b74b6-4603-4988-aa30-59c8512996d9-member-1","type":"members","relationships":{"user":{"data":{"id":"d97fed52-2ed8-11f0-8c00-124e7e445de4","type":"users"}}}},{"id":"d97fed52-2ed8-11f0-8c00-124e7e445de4","type":"users","attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1747016930@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 243.952375ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/51233aa0-f2aa-4e70-956e-b24503a97578
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"team","attributes":{"handle":"team-tf-testacconcallschedulecreateandupdate-local-1747016930","summary":"Description","user_count":0,"is_managed":false,"description":"Description","modified_at":"2025-05-12T02:28:54.081617+00:00","name":"team-tf-testacconcallschedulecreateandupdate-local-1747016930","created_at":"2025-05-12T02:28:54.081607+00:00","link_count":0},"id":"51233aa0-f2aa-4e70-956e-b24503a97578","relationships":{"team_links":{"links":{"related":"/api/v2/team/51233aa0-f2aa-4e70-956e-b24503a97578/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/51233aa0-f2aa-4e70-956e-b24503a97578/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 272.275ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/d97fed52-2ed8-11f0-8c00-124e7e445de4
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"d97fed52-2ed8-11f0-8c00-124e7e445de4","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1747016930@example.com","created_at":"2025-05-12T02:28:54.533904+00:00","modified_at":"2025-05-12T02:28:54.533904+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1747016930@example.com","icon":"https://secure.gravatar.com/avatar/292713e55b907613d6f493b038241cb0?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.030334ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/b8d1dda3-9a5c-47ca-88f3-4f097e42b268?include=layers%2Clayers.members%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"b8d1dda3-9a5c-47ca-88f3-4f097e42b268","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1747016930","tags":["foo:bar"],"time_zone":"[...]
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/b8d1dda3-9a5c-47ca-88f3-4f097e42b268
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 255.550583ms
[...]
