---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogApiKey_RemoveEncryption-local-1768402676"},"type":"api_keys"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/api_keys
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"api_keys","attributes":{"created_at":"2026-01-14T14:57:57.593622+00:00","key":"2dcbb5076c90170e5e8233135f80439b","last4":"439b","modified_at":"2026-01-14T14:57:57.593622+00:00","remote_config_read_enabled":true,"category":"default","name":"tf-TestAccDatadogApiKey_RemoveEncryption-local-1768402676"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}},"id":"a8fc7897-d335-4284-87a2-354f9fde5369"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 290.982459ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/api_keys/a8fc7897-d335-4284-87a2-354f9fde5369
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"api_keys","attributes":{"created_at":"2026-01-14T14:57:57.593623+00:00","key":"2dcbb5076c90170e5e8233135f80439b","last4":"439b","modified_at":"2026-01-14T14:57:57.593623+00:00","remote_config_read_enabled":true,"category":"default","name":"tf-TestAccDatadogApiKey_RemoveEncryption-local-1768402676","date_last_used":null,"used_in_last_24_hours":false,"last_used_date":{"timestamp":null,"description":"Timestamp of when this key was last used in the past ninety (90) days, null if no recent usage"}},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}},"id":"a8fc7897-d335-4284-87a2-354f9fde5369"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.921666ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/api_keys/a8fc7897-d335-4284-87a2-354f9fde5369
        method: GET
      response:
            - chunked
        body: '{"errors":["API key not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 231.002833ms
