---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1756247460","name":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1756247460","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.257458ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1756247460","name":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1756247460","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":187417428,"org_id":321813,"type":"metric alert","name":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1756247460","message":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1756247460","tags":[],"query":"avg(last_1h):avg:system.load.5{*} > 4","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":4.0},"silenced":{}},"multi":false,"created_at":1756247461000,"created":"2025-08-26T22:31:01.025637+00:00","modified":"2025-08-26T22:31:01.025637+00:00","deleted":null,"priority":3,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.307041ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1756247460","name":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1756247460","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":4}},"priority":3,"query":"avg(last_1h):avg:system.load.5{*} \u003e 4","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/187417428/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.512334ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/187417428
        method: GET
      response:
            - chunked
        body: |
            {"id":187417428,"org_id":321813,"type":"metric alert","name":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1756247460","message":"tf-TestAccMonitor_Fwprovider_EmptySchedulingOptions-local-1756247460","tags":[],"query":"avg(last_1h):avg:system.load.5{*} > 4","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":4.0},"silenced":{}},"multi":false,"created_at":1756247461000,"created":"2025-08-26T22:31:01.025637+00:00","modified":"2025-08-26T22:31:01.025637+00:00","deleted":null,"priority":3,"restricted_roles":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.491167ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/187417428
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":187417428}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 257.417542ms
