---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguserdatasourceexactmatch-local-1768840994@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"ebc6bd94-6240-4e51-920e-49d97ca936f2","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourceexactmatch-local-1768840994@example.com","created_at":"2026-01-19T16:43:16.674615+00:00","modified_at":"2026-01-19T16:43:16.674615+00:00","email":"tf-testaccdatadoguserdatasourceexactmatch-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/a65611655f611fd031bae5cca27814c7?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 813.975541ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/ebc6bd94-6240-4e51-920e-49d97ca936f2
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"ebc6bd94-6240-4e51-920e-49d97ca936f2","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourceexactmatch-local-1768840994@example.com","created_at":"2026-01-19T16:43:16.674615+00:00","modified_at":"2026-01-19T16:43:16.674615+00:00","email":"tf-testaccdatadoguserdatasourceexactmatch-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/a65611655f611fd031bae5cca27814c7?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.012792ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguserdatasourceexactmatch-local-1768840994%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"ebc6bd94-6240-4e51-920e-49d97ca936f2","attributes":{"name":"","handle":"tf-testaccdatadoguserdatasourceexactmatch-local-1768840994@example.com","created_at":"2026-01-19T16:43:16.674615+00:00","modified_at":"2026-01-19T16:43:16.674615+00:00","email":"tf-testaccdatadoguserdatasourceexactmatch-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/a65611655f611fd031bae5cca27814c7?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":233190,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 415.958417ms
[...]
