---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardEventStream_import-local-1684769029","widgets":[{"definition":{"event_size":"l","query":"*","show_year":false,"tags_execution":"and","time":{"live_span":"4h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"4ji-5vq-6jz","title":"tf-TestAccDatadogDashboardEventStream_import-local-1684769029","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/4ji-5vq-6jz/tf-testaccdatadogdashboardeventstreamimport-local-1684769029","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","show_year":false,"tags_execution":"and","time":{"live_span":"4h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":8783863238886626}],"notify_list":[],"created_at":"2023-05-22T15:23:51.571728+00:00","modified_at":"2023-05-22T15:23:51.571728+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/4ji-5vq-6jz
    method: GET
  response:
    body: |
      {"id":"4ji-5vq-6jz","title":"tf-TestAccDatadogDashboardEventStream_import-local-1684769029","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/4ji-5vq-6jz/tf-testaccdatadogdashboardeventstreamimport-local-1684769029","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","show_year":false,"tags_execution":"and","time":{"live_span":"4h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":8783863238886626}],"notify_list":[],"created_at":"2023-05-22T15:23:51.571728+00:00","modified_at":"2023-05-22T15:23:51.571728+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/4ji-5vq-6jz
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"4ji-5vq-6jz"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/4ji-5vq-6jz
    method: GET
  response:
    body: '{"errors":["Dashboard with ID 4ji-5vq-6jz not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
