---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSplitGraphWithStaticSplits_import-local-1697031633","widgets":[{"definition":{"has_uniform_y_axes":true,"size":"md","source_widget_definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"thin","palette":"dog_classic"}}],"show_legend":false,"title":"system.cpu.user","title_align":"left","title_size":"16","type":"timeseries"},"split_config":{"limit":24,"sort":{"compute":{"aggregation":"sum","metric":"system.cpu.user"},"order":"desc"},"split_dimensions":[{"one_graph_per":"service"}],"static_splits":[[{"tag_key":"service","tag_values":["cassandra"]},{"tag_key":"datacenter","tag_values":[]}],[{"tag_key":"demo","tag_values":["env"]}]]},"time":{"live_span":"5m"},"title":"Terraform Split Graph Widget","type":"split_group"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"tgy-reb-d63","title":"tf-TestAccDatadogDashboardSplitGraphWithStaticSplits_import-local-1697031633","description":"Created using the Datadog provider in Terraform","author_handle":"adilzhan.alimbetov@datadoghq.com","author_name":"Adilzhan Alimbetov","layout_type":"ordered","url":"/dashboard/tgy-reb-d63/tf-testaccdatadogdashboardsplitgraphwithstaticsplitsimport-local-1697031633","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"has_uniform_y_axes":true,"size":"md","source_widget_definition":{"requests":[{"display_type":"line","on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"thin","palette":"dog_classic"}}],"show_legend":false,"title":"system.cpu.user","title_align":"left","title_size":"16","type":"timeseries"},"split_config":{"limit":24,"sort":{"compute":{"aggregation":"sum","metric":"system.cpu.user"},"order":"desc"},"split_dimensions":[{"one_graph_per":"service"}],"static_splits":[[{"tag_key":"service","tag_values":["cassandra"]},{"tag_key":"datacenter","tag_values":[]}],[{"tag_key":"demo","tag_values":["env"]}]]},"time":{"live_span":"5m"},"title":"Terraform Split Graph Widget","type":"split_group"},"id":2781182711252113}],"notify_list":[],"created_at":"2023-10-11T13:40:37.782087+00:00","modified_at":"2023-10-11T13:40:37.782087+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/tgy-reb-d63
    method: GET
  response:
    body: |
      {"id":"tgy-reb-d63","title":"tf-TestAccDatadogDashboardSplitGraphWithStaticSplits_import-local-1697031633","description":"Created using the Datadog provider in Terraform","author_handle":"adilzhan.alimbetov@datadoghq.com","author_name":"Adilzhan Alimbetov","layout_type":"ordered","url":"/dashboard/tgy-reb-d63/tf-testaccdatadogdashboardspl[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/tgy-reb-d63
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"tgy-reb-d63"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/tgy-reb-d63
    method: GET
  response:
    body: '{"errors":["Dashboard with ID tgy-reb-d63 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
