---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: '{"author_handle":"removed_handle","description":"Created using the Datadog provider in Terraform","id":"5uw-bbj-xec","layout_type":"ordered","notify_list":[],"restricted_roles":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardJSONRbacDiff-local-1768230536","widgets":[{"definition":{"alert_id":"895605","precision":3,"text_align":"center","title":"Widget Title","type":"alert_value","unit":"b"},"id":5436370674582587}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"bwt-5sc-aju","title":"tf-TestAccDatadogDashboardJSONRbacDiff-local-1768230536","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/bwt-5sc-aju/tf-testaccdatadogdashboardjsonrbacdiff-local-1768230536","template_variables":[],"widgets":[{"definition":{"alert_id":"895605","precision":3,"text_align":"center","title":"Widget Title","type":"alert_value","unit":"b"},"id":5436370674582587}],"notify_list":[],"created_at":"2026-01-12T15:08:57.448728+00:00","modified_at":"2026-01-12T15:08:57.448728+00:00","restricted_roles":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 146.099042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/bwt-5sc-aju
        method: GET
      response:
            - chunked
        body: '{"id":"bwt-5sc-aju","title":"tf-TestAccDatadogDashboardJSONRbacDiff-local-1768230536","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/bwt-5sc-aju/tf-testaccdatadogdashboardjsonrbacdiff-local-1768230536","template_variables":[],"widgets":[{"definition":{"alert_id":"895605","precision":3,"text_align":"center","title":"Widget Title","type":"alert_value","unit":"b"},"id":5436370674582587}],"notify_list":[],"created_at":"2026-01-12T15:08:57.448728+00:00","modified_at":"2026-01-12T15:08:57.448728+00:00","restricted_roles":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.629042ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/bwt-5sc-aju
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"bwt-5sc-aju"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.695417ms
