---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleOptions-local-1765532888","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"c59f225e-ccf8-4c62-b47a-881497a1da45","type":"deployment_gate","attributes":{"created_at":"2025-12-12T09:48:09.384508Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleOptions-local-1765532888","service":"my-service","updated_at":"2025-12-12T09:48:09.384508Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 158.049708ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"fdd_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/c59f225e-ccf8-4c62-b47a-881497a1da45/rules
        method: POST
      response:
        body: '{"data":{"id":"2fc7d20a-7f52-4866-8212-e413f0c8f362","type":"deployment_rule","attributes":{"created_at":"2025-12-12T09:48:09.556348Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"c59f225e-ccf8-4c62-b47a-881497a1da45","name":"fdd_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-12T09:48:09.556348Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 138.161667ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/c59f225e-ccf8-4c62-b47a-881497a1da45
        method: GET
      response:
        body: '{"data":{"id":"c59f225e-ccf8-4c62-b47a-881497a1da45","type":"deployment_gate","attributes":{"created_at":"2025-12-12T09:48:09.384508Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleOptions-local-1765532888","service":"my-service","updated_at":"2025-12-12T09:48:09.384508Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 134.334416ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/c59f225e-ccf8-4c62-b47a-881497a1da45/rules
        method: GET
      response:
        body: '{"data":{"id":"c59f225e-ccf8-4c62-b47a-881497a1da45","type":"list_deployment_rules","attributes":{"rules":[{"id":"2fc7d20a-7f52-4866-8212-e413f0c8f362","name":"fdd_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-12T09:48:09.556348Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-12T09:48:09.556348Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"c59f225e-ccf8-4c62-b47a-881497a1da45","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 140.76125ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"fdd_rule","options":{"duration":1800,"excluded_resources":["GET /health"]}},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/c59f225e-ccf8-4c62-b47a-881497a1da45/rules/2fc7d20a-7f52-4866-8212-e413f0c8f362
        method: PUT
      response:
        body: '{"data":{"id":"2fc7d20a-7f52-4866-8212-e413f0c8f362","type":"deployment_rule","attributes":{"created_at":"2025-12-12T09:48:09.556348Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"c59f225e-ccf8-4c62-b47a-881497a1da45","name":"fdd_rule","options":{"duration":1800,"excluded_resources":["GET /health"]},"type":"faulty_deployment_detection","updated_at":"2025-12-12T09:48:11.39782Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 134.111458ms
[...]
