---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"enabled":true,"filter":{"query":"error_code:123 service:my-service"},"filter_type":"spans-sampling-processor","name":"tf-TestAccApmRetentionFilter-local-1699615682","rate":0.1},"type":"apm_retention_filter"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
    method: POST
  response:
    body: |
      {"data":{"id":"q-_2S0K-QCqBxk-2GhCM9A","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1699615682","rate":0.1,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1699615683,"created_by":"frog@datadoghq.com","created_at":1699615683},"type":"apm_retention_filter"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/q-_2S0K-QCqBxk-2GhCM9A
    method: GET
  response:
    body: |
      {"data":{"id":"q-_2S0K-QCqBxk-2GhCM9A","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1699615682","rate":0.1,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1699615683,"created_by":"frog@datadoghq.com","created_at":1699615683},"type":"apm_retention_filter"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/q-_2S0K-QCqBxk-2GhCM9A
    method: GET
  response:
    body: '{"errors":["retention filter with id: ''q-_2S0K-QCqBxk-2GhCM9A'' not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
