---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardListRumEvents-local-1721663521","widgets":[{"definition":{"requests":[{"columns":[{"field":"has_replay","width":"auto"},{"field":"timestamp","width":"auto"},{"field":"@view.action.count","width":"auto"}],"query":{"data_source":"rum_stream","query_string":"@type:view @session.type:user","sort":{"column":"@view.action.count","order":"desc"}},"response_format":"event_list"}],"title":"List Stream 2","title_align":"right","title_size":"16","type":"list_stream"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url:  https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
        body: |
            {"id":"wwn-ema-rhd","title":"tf-TestAccDatadogDashboardListRumEvents-local-1721663521","description":"Created using the Datadog provider in Terraform","author_handle":"thibaut.gery@datadoghq.com","author_name":"Thibaut Gery","layout_type":"ordered","url":"/dashboard/wwn-ema-rhd/tf-testaccdatadogdashboardlistrumevents-local-1721663521","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"requests":[{"columns":[{"field":"has_replay","width":"auto"},{"field":"timestamp","width":"auto"},{"field":"@view.action.count","width":"auto"}],"query":{"data_source":"rum_stream","query_string":"@type:view @session.type:user","sort":{"column":"@view.action.count","order":"desc"}},"response_format":"event_list"}],"title":"List Stream 2","title_align":"right","title_size":"16","type":"list_stream"},"id":705912779199021}],"notify_list":[],"created_at":"2024-07-22T15:52:03.980543+00:00","modified_at":"2024-07-22T15:52:03.980543+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 364.835792ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url:  https://api.datadoghq.com/api/v1/dashboard/wwn-ema-rhd
        method: GET
      response:
        body: |
            {"id":"wwn-ema-rhd","title":"tf-TestAccDatadogDashboardListRumEvents-local-1721663521","description":"Created using the Datadog provider in Terraform","author_handle":"thibaut.gery@datadoghq.com","author_name":"Thibaut Gery","layout_type":"ordered","url":"/dashboard/wwn-ema-rhd/tf-testaccdatadogdashboardlistrumevents-local-1721663521","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"requests":[{"columns":[{"field":"has_replay","width":"auto"},{"field":"timestamp","width":"auto"},{"field":"@view.action.count","width":"auto"}],"query":{"data_source":"rum_stream","query_string":"@type:view @session.type:user","sort":{"column":"@view.action.count","order":"desc"}},"response_format":"event_list"}],"title":"List Stream 2","title_align":"right","title_size":"16","type":"list_stream"},"id":705912779199021}],"notify_list":[],"created_at":"2024-07-22T15:52:03.980543+00:00","modified_at":"2024-07-22T15:52:03.980543+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.243666ms
[...]
    - id: 4
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url:  https://api.datadoghq.com/api/v1/dashboard/wwn-ema-rhd
        method: DELETE
      response:
        body: |
            {"deleted_dashboard_id":"wwn-ema-rhd"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.320417ms
    - id: 5
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url:  https://api.datadoghq.com/api/v1/dashboard/wwn-ema-rhd
        method: GET
      response:
        body: '{"errors":["Dashboard with ID wwn-ema-rhd not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 172.514541ms
