---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"variables":[]},"message":"","name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760519536","options":{"defaultStepTimeout":10,"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16","synthetics:mobile:device:apple_iphone_14_pro_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760519536-monitor","retry":{"count":0,"interval":300},"tick_every":43200},"status":"paused","steps":[],"type":"mobile"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/mobile
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"m49-k3m-hft","name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760519536","status":"paused","type":"mobile","tags":[],"created_at":"2025-10-15T09:12:18.761813+00:00","modified_at":"2025-10-15T09:12:18.761813+00:00","config":{"variables":[]},"message":"","options":{"defaultStepTimeout":10,"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16","synthetics:mobile:device:apple_iphone_14_pro_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760519536-monitor","retry":{"count":0,"interval":300},"tick_every":43200},"locations":["aws:us-west-2"],"created_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":227521774,"org_id":321813,"modified_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"creation_source":"terraform","stepCount":{"assertions":0,"subtests":0,"total":0}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.011734542s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/mobile/m49-k3m-hft
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"m49-k3m-hft","name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760519536","status":"paused","type":"mobile","tags":[],"created_at":"2025-10-15T09:12:18.761813+00:00","modified_at":"2025-10-15T09:12:18.761813+00:00","config":{"variables":[]},"message":"","options":{"defaultStepTimeout":10,"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16","synthetics:mobile:device:apple_iphone_14_pro_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760519536-monitor","retry":{"count":0,"interval":300},"tick_every":43200},"locations":["aws:us-west-2"],"monitor_id":227521774,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"steps":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 294.895792ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/m49-k3m-hft
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"m49-k3m-hft","name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760519536","status":"paused","type":"mobile","tags":[],"created_at":"2025-10-15T09:12:18.761813+00:00","modified_at":"2025-10-15T09:12:18.761813+00:00","config":{"variables":[]},"message":"","options":{"defaultStepTimeout":10,"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16","synthetics:mobile:device:apple_iphone_14_pro_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_name":"tf-TestAccDatadogSyntheticsMobileTest_NoSteps-local-1760519536-monitor","retry":{"count":0,"interval":300},"tick_every":43200},"locations":["aws:us-west-2"],"monitor_id":227521774,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.687458ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["m49-k3m-hft"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"m49-k3m-hft","deleted_at":"2025-10-15T09:12:21.383372+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 535.273375ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/m49-k3m-hft
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 157.499458ms
