---
version: 1
interactions:
- request:
    body: |
      {"exclusion_filters":[],"filter":{"query":"project:sample"},"name":"tf-testaccdatadoglogsindexesorderdatasource-local-1635446801-sample"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsIndex
    url: https://api.datadoghq.com/api/v1/logs/config/indexes
    method: POST
  response:
    body: '{"num_retention_days":15,"name":"tf-testaccdatadoglogsindexesorderdatasource-local-1635446801-sample","is_rate_limited":false,"filter":{"query":"project:sample"},"exclusion_filters":[],"daily_limit":null}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "10"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "8"
      X-Ratelimit-Reset:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsIndexOrder
    url: https://api.datadoghq.com/api/v1/logs/config/index-order
    method: GET
  response:
    body: '{"index_names":["main","asd"]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "420"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "419"
      X-Ratelimit-Reset:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsIndex
    url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindexesorderdatasource-local-1635446801-sample
    method: GET
  response:
    body: '{"num_retention_days":15,"name":"tf-testaccdatadoglogsindexesorderdatasource-local-1635446801-sample","is_rate_limited":false,"filter":{"query":"project:sample"},"exclusion_filters":[],"daily_limit":null}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "420"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "417"
      X-Ratelimit-Reset:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
[...]
