---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test rule description","enabled":true,"level":1,"name":"tf-TestAccDatadogScorecardRule_Basic-local-1778787143","owner":"test-team","scope_query":"kind:service","scorecard_name":"tf-TestAccDatadogScorecardRule_Basic-local-1778787143-scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scorecard/rules
        method: POST
      response:
        body: '{"data":{"id":"pwo8b31a21tcs_c7","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Basic-local-1778787143-scorecard","created_at":"2026-05-14T19:32:24.873513238Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-05-14T19:32:24.873513238Z","name":"tf-TestAccDatadogScorecardRule_Basic-local-1778787143","owner":"test-team","scope_query":"kind:service","scorecard_name":"tf-TestAccDatadogScorecardRule_Basic-local-1778787143-scorecard"},"relationships":{"policy_scope":{"data":{"id":"pwo8b31a21tcs_c7","type":"policy-scope"}},"scope":{"data":{"id":"ae07a16e-1319-5e61-bdba-b3026bc2bdcd","type":"entity-scope"}},"scorecard":{"data":{"id":"b_7zhsGsHgyo","type":"scorecard"}}}},"included":[{"id":"pwo8b31a21tcs_c7","type":"policy-scope","attributes":{"scopes":[{"kind":"service","query":"has_definition:\"true\""}]}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 373.755375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=pwo8b31a21tcs_c7&page%5Bsize%5D=1
        method: GET
      response:
        body: '{"data":[{"id":"pwo8b31a21tcs_c7","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Basic-local-1778787143-scorecard","created_at":"2026-05-14T19:32:24.873513Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-05-14T19:32:24.873513Z","name":"tf-TestAccDatadogScorecardRule_Basic-local-1778787143","owner":"test-team","scope_query":"kind:service","scorecard_name":"tf-TestAccDatadogScorecardRule_Basic-local-1778787143-scorecard"},"relationships":{"policy_scope":{"data":{"id":"pwo8b31a21tcs_c7","type":"policy-scope"}},"scope":{"data":{"id":"ae07a16e-1319-5e61-bdba-b3026bc2bdcd","type":"entity-scope"}},"scorecard":{"data":{"id":"b_7zhsGsHgyo","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=pwo8b31a21tcs_c7\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 43.502ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Updated description","enabled":false,"level":2,"name":"tf-TestAccDatadogScorecardRule_Basic-local-1778787143","owner":"test-team","scope_query":"kind:api","scorecard_name":"tf-TestAccDatadogScorecardRule_Basic-local-1778787143-scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.[...]
[...]
