---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSecureEmbedDashboard_WithTemplateVars-local-1748004837","widgets":[{"definition":{"background_color":"white","content":"placeholder","font_size":"14","has_padding":true,"show_tick":false,"text_align":"left","type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
        body: '{"id":"abc-789-xyz","title":"tf-TestAccDatadogDashboardSecureEmbedDashboard_WithTemplateVars-local-1748004837","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/abc-789-xyz","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"background_color":"white","content":"placeholder","font_size":"14","has_padding":true,"show_tick":false,"text_align":"left","type":"note"},"id":1234567890}],"notify_list":[],"tags":[],"created_at":"2025-05-23T12:53:57+00:00","modified_at":"2025-05-23T12:53:57+00:00","template_variable_presets":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/abc-789-xyz
        method: GET
      response:
        body: '{"id":"abc-789-xyz","title":"tf-TestAccDatadogDashboardSecureEmbedDashboard_WithTemplateVars-local-1748004837","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/abc-789-xyz","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"background_color":"white","content":"placeholder","font_size":"14","has_padding":true,"show_tick":false,"text_align":"left","type":"note"},"id":1234567890}],"notify_list":[],"tags":[],"created_at":"2025-05-23T12:53:57+00:00","modified_at":"2025-05-23T12:53:57+00:00","template_variable_presets":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"type":"secure_embed_request","attributes":{"title":"tf-TestAccDatadogDashboardSecureEmbedDashboard_WithTemplateVars-local-1748004837","status":"active","global_time":{"live_span":"1h"},"global_time_selectable":true,"selectable_template_vars":[{"name":"env","prefix":"env","default_values":["prod"],"visible_tags":["prod","staging"]}],"viewing_preferences":{"high_density":false,"theme":"system"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/dashboard/abc-789-xyz/shared/secure-embed
        method: POST
      response:
        body: '{"data":{"type":"secure_embed","attributes":{"token":"SecureEmbedTokenTmplVar1","url":"https://app.datadoghq.com/sb/SecureEmbedTokenTmplVar1","credential":"hmac-credential-tmplvar-xyz","title":"tf-TestAccDatadogDashboardSecureEmbedDashboard_WithTemplateVars-local-1748004837","status":"active","global_time":{"live_span":"1h"},"global_time_selectable":true,"selectable_template_vars":[{"name":"env","prefix":"env","default_values":["prod"],"visible_tags":["prod","staging"]}],"viewing_preferences":{"theme":"system","high_density":false}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 300ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/dashboard/abc-789-xyz/shared/secure-embed/SecureEmbedTokenTmplVar1
        method: GET
      response:
        body: '{"data":{"type":"secure_embed","attributes":{"token":"SecureEmbedTokenTmplVar1","url":"https://app.datadoghq.com/sb/SecureEmbedTokenTmplVar1","title":"tf-TestAccDatadogDashboardSecureEmbedDashboard_WithTemplateVars-local-1748004837","status":"active","global_time":{"live_span":"1h"},"global_time_selectable":true,"selectable_template_vars":[{"name":"env","prefix":"env","default_values":["prod"],"visible_tags":["prod","staging"]}],"viewing_preferences":{"theme":"system","high_density":false}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 100ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/abc-789-xyz
        method: DELETE
      response:
        body: '{"deleted_dashboard_id":"abc-789-xyz"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/dashboard/abc-789-xyz/shared/secure-embed/SecureEmbedTokenTmplVar1
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 100ms
