---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[{"name":"preset_1","template_variables":[{"name":"var_1","values":["host.dc"]}]},{"name":"preset_2","template_variables":[{"name":"var_2","values":["host.dc","foo"]},{"name":"var_3","values":["my_service"]}]}],"template_variables":[{"defaults":["foo","bar"],"name":"var_1","prefix":"host"},{"defaults":["autoscaling","two"],"name":"var_2","prefix":"service_name"}],"title":"tf-TestAccDatadogDashboardTemplateVariables-local-1758619373","widgets":[{"definition":{"background_color":"pink","content":"note text","font_size":"14","has_padding":true,"show_tick":true,"text_align":"center","tick_edge":"left","tick_pos":"50%","type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"errors":[{"id":null,"links":null,"status":"HTTPStatus.BAD_REQUEST","code":null,"title":"Bad Request","detail":"The is_read_only attribute is no longer supported. https://docs.datadoghq.com/dashboards/guide/is-read-only-deprecation/","source":null,"meta":null}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 159.711041ms
