---
version: 1
interactions:
- request:
    body: '{"services":[{"service_name":"tf_TestDatadogIntegrationPagerduty_import_local_1615213415","service_key":"*****"},{"service_name":"tf_TestDatadogIntegrationPagerduty_import_local_1615213415_2","service_key":"*****"}],"subdomain":"testdomain","schedules":["https://ddog.pagerduty.com/schedules/X123VF"],"api_token":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.4051170"
    status: 204 No Content
    code: 204
    duration: ""
[...]
