---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["filter-1"],"type":"datadog_logs"}],"processors":[{"id":"filter-1","include":"service:my-service","inputs":["source-1"],"type":"filter"}],"sources":[{"id":"source-1","type":"datadog_agent"}],"use_legacy_search_syntax":true},"name":"pipeline with legacy search"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"08b64030-a9f8-11f0-9e79-da7ad0900002","type":"pipelines","attributes":{"name":"pipeline with legacy search","config":{"destinations":[{"id":"destination-1","inputs":["filter-1"],"type":"datadog_logs"}],"processors":[{"id":"filter-1","include":"service:my-service","inputs":["source-1"],"type":"filter"}],"sources":[{"id":"source-1","type":"datadog_agent"}],"use_legacy_search_syntax":true}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 914.891584ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/08b64030-a9f8-11f0-9e79-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"08b64030-a9f8-11f0-9e79-da7ad0900002","type":"pipelines","attributes":{"name":"pipeline with legacy search","config":{"destinations":[{"id":"destination-1","inputs":["filter-1"],"type":"datadog_logs"}],"processors":[{"id":"filter-1","include":"service:my-service","inputs":["source-1"],"type":"filter"}],"sources":[{"id":"source-1","type":"datadog_agent"}],"use_legacy_search_syntax":true}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.86525ms
[...]
