---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1768840994@example.com","name":"tf-service-account-tf-testaccdatadoguserdatasource","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"f3fbc093-f555-11f0-ac7e-1e839d59c14d","attributes":{"name":"tf-service-account-tf-testaccdatadoguserdatasource","handle":"f3fbc093-f555-11f0-ac7e-1e839d59c14d","created_at":"2026-01-19T16:43:16.287354+00:00","modified_at":"2026-01-19T16:43:16.287354+00:00","email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/6d3cc2a46413ec850e447bff06dabccb?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 499.80375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1768840994@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"7ea65bb1-ef55-4f40-b805-aefead3da7cb","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1768840994@example.com","created_at":"2026-01-19T16:43:16.842021+00:00","modified_at":"2026-01-19T16:43:16.842021+00:00","email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/6d3cc2a46413ec850e447bff06dabccb?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 974.42875ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/7ea65bb1-ef55-4f40-b805-aefead3da7cb
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"7ea65bb1-ef55-4f40-b805-aefead3da7cb","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1768840994@example.com","created_at":"2026-01-19T16:43:16.842021+00:00","modified_at":"2026-01-19T16:43:16.842021+00:00","email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1768840994@example.com","icon":"https://secure.gravatar.com/avatar/6d3cc2a46413ec850e447bff06dabccb?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 434.850875ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1768840994%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"7ea65bb1-ef55-4f40-b805-aefead3da7cb","attributes":{"name":"","handle":"tf-testaccdatadoguserdatasourcewithexcludeserviceacco[...]
[...]
