---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/default_inbox_rules/secret_default_rule
        method: GET
      response:
        body: '{"data":{"id":"secret_default_rule","type":"default_inbox_rules","attributes":{"action":{"description":"Maintained by Datadog Security Research. Customize your inbox by adding your own rules, cloning this rule, or disabling it."},"created_at":1787094752823,"created_by":{"type":"system","id":"datadog.security_research","name":"Datadog Security Research"},"enabled":true,"modified_at":1787094752823,"modified_by":{"type":"system","id":"datadog.security_research","name":"Datadog Security Research"},"name":"Secrets","rule":{"finding_types":["secret"],"query":"@git.repository_visibility:public OR @secret.validation_status:valid"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 299.208375ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/default_inbox_rules/secret_default_rule/disable
        method: POST
      response:
        body: '{"data":{"id":"secret_default_rule","type":"default_inbox_rules","attributes":{"action":{"description":"Maintained by Datadog Security Research. Customize your inbox by adding your own rules, cloning this rule, or disabling it."},"created_at":1787094752823,"created_by":{"type":"system","id":"datadog.security_research","name":"Datadog Security Research"},"enabled":false,"modified_at":1789745147354,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"Secrets","rule":{"finding_types":["secret"],"query":"@git.repository_visibility:public OR @secret.validation_status:valid"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 251.834417ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/default_inbox_rules/secret_default_rule/enable
        method: POST
      response:
        body: '{"data":{"id":"secret_default_rule","type":"default_inbox_rules","attributes":{"action":{"description":"Maintained by Datadog Security Research. Customize your inbox by adding your own rules, cloning this rule, or disabling it."},"created_at":1787094752823,"created_by":{"type":"system","id":"datadog.security_research","name":"Datadog Security Research"},"enabled":true,"modified_at":1789745149565,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"Secrets","rule":{"finding_types":["secret"],"query":"@git.repository_visibility:public OR @secret.validation_status:valid"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 256.111583ms
[...]
