---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardEventTimeline-local-1620975588","widgets":[{"definition":{"query":"status:error","tags_execution":"and","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":43,"is_column_break":false,"width":32,"x":5,"y":5}},{"definition":{"query":"status:error","tags_execution":"and","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"stu-e4g-3gk","title":"tf-TestAccDatadogDashboardEventTimeline-local-1620975588","url":"/dashboard/stu-e4g-3gk/tf-testaccdatadogdashboardeventtimeline-local-1620975588","created_at":"2021-05-14T06:59:49.856719+00:00","modified_at":"2021-05-14T06:59:49.856719+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget Title","title_align":"right","tags_execution":"and","time":{"live_span":"1h"},"query":"status:error","type":"event_timeline"},"layout":{"y":5,"width":32,"is_column_break":false,"x":5,"height":43},"id":6169558539528374},{"definition":{"title_size":"16","title":"Widget Title","title_align":"right","tags_execution":"and","time":{"live_span":"1h"},"query":"status:error","type":"event_timeline"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":2419912137915921}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      X-Dd-Version:
      - "35.4528823"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/stu-e4g-3gk
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"stu-e4g-3gk","title":"tf-TestAccDatadogDashboardEventTimeline-local-1620975588","url":"/dashboard/stu-e4g-3gk/tf-testaccdatadogdashboardeventtimeline-local-1620975588","created_at":"2021-05-14T06:59:49.856719+00:00","modified_at":"2021-05-14T06:59:49.856719+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget Title","title_align":"right","tags_execution":"and","time":{"live_span":"1h"},"query":"status:error","type":"event_timeline"},"layout":{"y":5,"width":32,"is_column_break":false,"x":5,"height":43},"id":6169558539528374},{"definition":{"title_size":"16","title":"Widget Title","title_align":"right","tags_execution":"and","time":{"live_span":"1h"},"query":"status:error","type":"event_timeline"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":2419912137915921}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      X-Dd-Version:
      - "35.4528823"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/stu-e4g-3gk
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"stu-e4g-3gk"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4528823"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/stu-e4g-3gk
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID stu-e4g-3gk not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4528823"
    status: 404 Not Found
    code: 404
    duration: ""
