---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"All Widgets","widget_ids":["@1","@2"]}],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTabSingleTab-local-1774283264","widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"xzq-egp-b42","title":"tf-TestAccDatadogDashboardTabSingleTab-local-1774283264","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xzq-egp-b42/tf-testaccdatadogdashboardtabsingletab-local-1774283264","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":8557302688036139},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":767439594811650}],"notify_list":[],"created_at":"2026-03-23T16:27:46.230289+00:00","modified_at":"2026-03-23T16:27:46.230289+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"All Widgets","widget_ids":[8557302688036139,767439594811650]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.841458ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xzq-egp-b42
        method: GET
      response:
            - chunked
        body: '{"id":"xzq-egp-b42","title":"tf-TestAccDatadogDashboardTabSingleTab-local-1774283264","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xzq-egp-b42/tf-testaccdatadogdashboardtabsingletab-local-1774283264","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":8557302688036139},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":767439594811650}],"notify_list":[],"created_at":"2026-03-23T16:27:46.230289+00:00","modified_at":"2026-03-23T16:27:46.230289+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"All Widgets","widget_ids":[8557302688036139,767439594811650]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.988375ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xzq-egp-b42
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"xzq-egp-b42"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 310.007334ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xzq-egp-b42
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID xzq-egp-b42 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 98.224792ms
