---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["rename-metric-tags-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"rename-metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"rename-metric-tags-processor","include":"*","tags":[{"rename_to":"hostname","tag":"host"}],"type":"rename_metric_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"rename metric tags processor test"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"5c21436e-5592-11f1-a162-da7ad0900001","type":"pipelines","attributes":{"name":"rename metric tags processor test","config":{"destinations":[{"id":"destination-1","inputs":["rename-metric-tags-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"rename-metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"rename-metric-tags-processor","include":"*","tags":[{"rename_to":"hostname","tag":"host"}],"type":"rename_metric_tags"}]}],"processors":[{"enabled":true,"id":"rename-metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"rename-metric-tags-processor","include":"*","tags":[{"rename_to":"hostname","tag":"host"}],"type":"rename_metric_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 381.246416ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/obs-pipelines/pipelines/5c21436e-5592-11f1-a162-da7ad0900001
        method: GET
      response:
        body: |
            {"data":{"id":"5c21436e-5592-11f1-a162-da7ad0900001","type":"pipelines","attributes":{"name":"rename metric tags processor test","config":{"destinations":[{"id":"destination-1","inputs":["rename-metric-tags-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"rename-metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"rename-metric-tags-processor","include":"*","tags":[{"rename_to":"hostname","tag":"host"}],"type":"rename_metric_tags"}]}],"processors":[{"enabled":true,"id":"rename-metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"rename-metric-tags-processor","include":"*","tags":[{"rename_to":"hostname","tag":"host"}],"type":"rename_metric_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 155.464992ms
[...]
