---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=does_not_exist_tf-testaccdatadogserviceaccountdatasourceerror-local-1707408303%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[],"meta":{"page":{"total_count":263304,"total_filtered_count":0,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.276349725s
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1707408303@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"d5523787-c69b-11ee-aa23-8eedbe093641","attributes":{"name":null,"handle":"tf-testaccdatadogserviceaccountdatasourceerror-local-1707408303@example.com","created_at":"2024-02-08T16:05:09.623004+00:00","modified_at":"2024-02-08T16:05:09.623004+00:00","email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1707408303@example.com","icon":"https://secure.gravatar.com/avatar/78246c83ed1ba3e4eaa289186282094a?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 667.494782ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"d5523787-c69b-11ee-aa23-8eedbe093641","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"d5a9cc98-c69b-11ee-9bf9-da7ad0900002","attributes":{"uuid":"d5a9cc98-c69b-11ee-9bf9-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2024-02-08T16:05:10.196150+00:00","expires_at":"2024-02-10T16:05:10.074432+00:00"},"relationships":{"user":{"data":{"type":"users","id":"d5523787-c69b-11ee-aa23-8eedbe093641"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 553.814801ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/d5523787-c69b-11ee-aa23-8eedbe093641
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"d5523787-c69b-11ee-aa23-8eedbe093641","attributes":{"name":null,"handle":"tf-testaccdatadogserviceaccountdatasourceerror-local-1707408303@example.com","created_at":"2024-02-08T16:05:09.623004+00:00","modified_at":"2024-02-08T16:05:09.623004+00:00","email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1707408303@example.com","icon":"https://secure.gravatar.com/avatar/78246c83ed1ba3e4eaa289186282094a?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.174826ms
[...]
