---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppressionDataSource-local-1712926501","rule_query":"source:cloudtrail","suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"udc-adk-gkl","attributes":{"name":"tf-TestAccSecurityMonitoringSuppressionDataSource-local-1712926501","enabled":true,"description":"","rule_query":"source:cloudtrail","suppression_query":"env:staging","data_exclusion_query":"","version":1,"creation_date":1712926504718,"update_date":1712926504718,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 491.836084ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/udc-adk-gkl
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"udc-adk-gkl","attributes":{"name":"tf-TestAccSecurityMonitoringSuppressionDataSource-local-1712926501","enabled":true,"description":"","rule_query":"source:cloudtrail","suppression_query":"env:staging","data_exclusion_query":"","version":1,"creation_date":1712926504718,"update_date":1712926504718,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.107166ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"id":"oof-g1w-dil","attributes":{"name":"Example-Create_a_suppression_rule_returns_OK_response_1708700335","enabled":true,"description":"This rule suppresses low-severity signals in staging environments.","rule_query":"type:log_detection source:cloudtrail","suppression_query":"env:staging status:low","data_exclusion_query":"","expiration_date":1703187336000,"version":1,"creation_date":1708700335419,"update_date":1708700335419,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"},{"id":"9mt-od5-ne0","attributes":{"name":"Example-Create_a_suppression_rule_returns_OK_response_1708858735","enabled":true,"description":"This rule suppresses low-severity signals in staging environments.","rule_query":"type:log_detection source:cloudtrail","suppression_query":"env:s[...]
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/udc-adk-gkl
        method: GET
      response:
            - chunked
        body: |
            {"errors":["not_found(Suppression with ID udc-adk-gkl not found)"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 162.755958ms
