---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"api_key":"ABCDEFG123","name":"tf-TestAccIntegrationFastlyAccountWriteOnly-local-1775564390","services":[]},"type":"fastly-accounts"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integrations/fastly/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"fastly-accounts","id":"ad135842598f24b09079a6950e08d0b6","attributes":{"name":"tf-TestAccIntegrationFastlyAccountWriteOnly-local-1775564390","services":[]}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 508.61075ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integrations/fastly/accounts/ad135842598f24b09079a6950e08d0b6
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"fastly-accounts","id":"ad135842598f24b09079a6950e08d0b6","attributes":{"name":"tf-TestAccIntegrationFastlyAccountWriteOnly-local-1775564390","services":[]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.233291ms
[...]
