---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 155.308083ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"second-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:second"},"reference_table":null}]},"id":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Update-local-1759540493","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"a73f63f1-0e04-4805-870e-6578f722a58b","type":"ruleset","attributes":{"created":{"seconds":1759540493,"nanos":869950000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759540493,"nanos":869950000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Update-local-1759540493","position":1,"rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3609549}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 73.910208ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[{"id":"a73f63f1-0e04-4805-870e-6578f722a58b","type":"ruleset","attributes":{"created":{"seconds":1759540493,"nanos":869950000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759540493,"nanos":869950000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Update-local-1759540493","position":1,"processing_status":"error","rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3609549}},{"id":"ca7d7af0-5658-4951-943c-416b2dc25242","type":"ruleset","attributes":{"created":{"seconds":1759540493,"nanos":871269000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759540493,"nanos[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"ca7d7af0-5658-4951-943c-416b2dc25242","type":"ruleset"},{"id":"a73f63f1-0e04-4805-870e-6578f722a58b","type":"ruleset"},{"id":"68679c77-4d1b-4ac5-aab8-99a77547ce9a","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 49.546875ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/a73f63f1-0e04-4805-870e-6578f722a58b
        method: GET
      response:
        body: '{"data":{"id":"a73f63f1-0e04-4805-870e-6578f722a58b","type":"ruleset","attributes":{"created":{"seconds":1759540493,"nanos":869950000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759540493,"nanos":869950000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Update-local-1759540493","position":2,"processing_status":"error","rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3609549}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 102.971042ms
[...]
