---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1746576762","name":"team-tf-testacconcallschedulecreateandupdate-local-1746576762"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"e68ad217-9d46-43ef-8eaa-02ae4ac4dc76","attributes":{"name":"team-tf-testacconcallschedulecreateandupdate-local-1746576762","handle":"team-tf-testacconcallschedulecreateandupdate-local-1746576762","summary":"Description","description":"Description","avatar":null,"banner":2,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-07T00:12:46.361965+00:00","modified_at":"2025-05-07T00:12:46.361975+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/e68ad217-9d46-43ef-8eaa-02ae4ac4dc76/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/e68ad217-9d46-43ef-8eaa-02ae4ac4dc76/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 970.07775ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1746576762@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"01152152-2ad8-11f0-ac26-5edf72475090","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1746576762@example.com","created_at":"2025-05-07T00:12:46.795023+00:00","modified_at":"2025-05-07T00:12:46.795023+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1746576762@example.com","icon":"https://secure.gravatar.com/avatar/05288a795bf7f9700e51e05755cd6591?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.3334175s
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"01152152-2ad8-11f0-ac26-5edf72475090","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"01d325ac-2ad8-11f0-b288-da7ad0900002","attributes":{"uuid":"01d325ac-2ad8-11f0-b288-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-05-07T00:12:48.039911+00:00","expires_at":"2025-05-09T00:12:47.842087+00:00"},"relationships":{"user":{"data":{"type":"users","id":"01152152-2ad8-11f0-ac26-5edf72475090"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.241008166s
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","end_date":"2026-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"01152152-2ad8-11f0-ac26-5edf72475090"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"tf-testacconcallschedulecreateandupdate-local-1746576762","tags":["foo:bar"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"e68ad217-9d46-43ef-8eaa-02ae4ac4dc76","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"0f4de028-6e9d-4d04-9310-b2dfdb64b9dc","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1746576762","tags":["foo:bar"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"fbd342a2-49fd-4ad9-88f2-8ce571d18fb3","type":"layers"}]},"teams":{"data":[{"id":"e68ad217-9d46-43ef-8eaa-02ae4ac4dc76","type":"teams"}]}}},"included":[{"id":"fbd342a2-49fd-4ad9-88f2-8ce571d18fb3","type":"layers","attributes":{"effective_date":"2025-05-07T00:12:48.359237067Z","end_date":"2026-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"fbd342a2-49fd-4ad9-88f2-8ce571d18fb3-member-1","type":"members"},{"id":"fbd342a2-49fd-4ad9-88f2-8ce571d18fb3-member-2","type":"members"}]}}},{"id":"fbd342a2-49fd-4ad9-88f2-8ce571d18fb3-member-1","type":"members","relationships":{"user":{"data":{"id":"01152152-2ad8-11f0-ac26-5edf72475090","type":"users"}}}},{"id":"01152152-2ad8-11f0-ac26-5edf72475090","type":"users","attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1746576762@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 288.161792ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/01152152-2ad8-11f0-ac26-5edf72475090
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"01152152-2ad8-11f0-ac26-5edf72475090","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1746576762@example.com","created_at":"2025-05-07T00:12:46.795023+00:00","modified_at":"2025-05-07T00:12:46.795023+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1746576762@example.com","icon":"https://secure.gravatar.com/avatar/05288a795bf7f9700e51e05755cd6591?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.488084ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/e68ad217-9d46-43ef-8eaa-02ae4ac4dc76
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"team","relationships":{"user_team_permissions":{"links":{"related":"/api/v2/team/e68ad217-9d46-43ef-8eaa-02ae4ac4dc76/permission-settings"}},"team_links":{"links":{"related":"/api/v2/team/e68ad217-9d46-43ef-8eaa-02ae4ac4dc76/links"}}},"id":"e68ad217-9d46-43ef-8eaa-02ae4ac4dc76","attributes":{"link_count":0,"is_managed":false,"handle":"team-tf-testacconcallschedulecreateandupdate-local-1746576762","name":"team-tf-testacconcallschedulecreateandupdate-local-1746576762","modified_at":"2025-05-07T00:12:46.361975+00:00","summary":"Description","created_at":"2025-05-07T00:12:46.361965+00:00","user_count":0,"description":"Description"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 296.827667ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/0f4de028-6e9d-4d04-9310-b2dfdb64b9dc?include=layers%2Clayers.members%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"0f4de028-6e9d-4d04-9310-b2dfdb64b9dc","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1746576762","tags":["foo:bar"],"time_zone":"[...]
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/0f4de028-6e9d-4d04-9310-b2dfdb64b9dc
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 239.527958ms
[...]
