---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"datadog-metrics-dest-1","inputs":["metric-tags-group-1"],"type":"datadog_metrics"},{"auth_strategy":"none","encoding":"json","id":"http-dest-1","inputs":["metric-tags-group-1"],"type":"http_client"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"filter-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"env:prod","type":"filter"}]},{"enabled":true,"id":"metric-tags-group-1","include":"*","inputs":["filter-group-1"],"processors":[{"enabled":true,"id":"metric-tags-1","include":"*","rules":[{"action":"include","include":"*","keys":["env","service"],"mode":"filter"}],"type":"metric_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"metrics full pipeline test"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"2a6e2e42-f20d-11f0-9e22-da7ad0900002","type":"pipelines","attributes":{"name":"metrics full pipeline test","config":{"destinations":[{"id":"datadog-metrics-dest-1","inputs":["metric-tags-group-1"],"type":"datadog_metrics"},{"auth_strategy":"none","encoding":"json","id":"http-dest-1","inputs":["metric-tags-group-1"],"type":"http_client"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"filter-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"env:prod","type":"filter"}]},{"enabled":true,"id":"metric-tags-group-1","include":"*","inputs":["filter-group-1"],"processors":[{"enabled":true,"id":"metric-tags-1","include":"*","rules":[{"action":"include","include":"*","keys":["env","service"],"mode":"filter"}],"type":"metric_tags"}]}],"processors":[{"enabled":true,"id":"filter-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"filter-1","include":"env:prod","type":"filter"}]},{"enabled":true,"id":"metric-tags-group-1","include":"*","inputs":["filter-group-1"],"processors":[{"enabled":true,"id":"metric-tags-1","include":"*","rules":[{"action":"include","include":"*","keys":["env","service"],"mode":"filter"}],"type":"metric_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 496.347167ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/2a6e2e42-f20d-11f0-9e22-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"2a6e2e42-f20d-11f0-9e22-da7ad0900002","type":"pipelines","attributes":{"name":"metrics full pipeline test","config":{"destinations":[{"id":"datadog-metrics-dest-1","inputs":["metric-tags-group-1"],"type":[...]
[...]
