---
version: 1
interactions:
- request:
    body: |
      {"description":"some updated description about foo SLO","id":"","name":"tf-TestAccDatadogSloCorrection_Updated-local-1615587132","query":{"denominator":"sum:my.metric{type:good}.as_count() + sum:my.metric{type:bad}.as_count()","numerator":"sum:my.metric{type:good}.as_count()"},"tags":["foo:bar","baz"],"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":98,"timeframe":"30d","warning":99},{"target":99.9,"timeframe":"90d"}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"some updated description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"warning":99.0,"warning_display":"99.","target":98.0,"target_display":"98.","timeframe":"30d"},{"target":99.9,"target_display":"99.9","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{type:good}.as_count() + sum:my.metric{type:bad}.as_count()","numerator":"sum:my.metric{type:good}.as_count()"},"id":"c570431b259b5330aa0e6033887626e1","name":"tf-TestAccDatadogSloCorrection_Updated-local-1615587132","created_at":1615587134,"tags":["foo:bar","baz"],"modified_at":1615587134,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      X-Dd-Version:
      - "35.4088130"
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "498"
      X-Ratelimit-Reset:
      - "46"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"category":"Scheduled Maintenance","description":"test correction on slo tf-TestAccDatadogSloCorrection_Updated-local-1615587132","end":1735718600,"slo_id":"c570431b259b5330aa0e6033887626e1","start":1735707000,"timezone":"UTC"},"type":"correction"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLOCorrection
    url: https://api.datadoghq.com/api/v1/slo/correction
    method: POST
  response:
    body: '{"data":{"type":"correction","id":"00312a90-8380-11eb-977c-da7ad0900002","attributes":{"slo_id":"c570431b259b5330aa0e6033887626e1","start":1735707000,"end":1735718600,"description":"test correction on slo tf-TestAccDatadogSloCorrection_Updated-local-1615587132","category":"Scheduled Maintenance","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      X-Dd-Version:
      - "35.4088130"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "46"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLOCorrection
    url: https://api.datadoghq.com/api/v1/slo/correction/00312a90-8380-11eb-977c-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"correction","id":"00312a90-8380-11eb-977c-da7ad0900002","attributes":{"slo_id":"c570431b259b5330aa0e6033887626e1","start":1735707000,"end":1735718600,"description":"test correction on slo tf-TestAccDatadogSloCorrection_Updated-local-1615587132","category":"Scheduled Maintenance","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4088130"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11999"
      X-Ratelimit-Reset:
      - "45"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLO
    url: https://api.datadoghq.com/api/v1/slo/c570431b259b5330aa0e6033887626e1
    method: GET
  response:
    body: '{"data":{"description":"some updated description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"warning":99.0,"warning_display":"99.","target":98.0,"target_display":"98.","timeframe":"30d"},{"target":99.9,"target_display":"99.9","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{type:good}.as_count() + sum:my.metric{type:bad}.as_count()","numerator":"sum:my.metric{type:good}.as_count()"},"id":"c570431b259b5330aa0e6033887626e1","name":"tf-TestAccDatadogSloCorrection_Updated-local-1615587132","created_at":1615587134,"tags":["foo:bar","baz"],"modified_at":1615587134,"type":"metric"},"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      X-Dd-Version:
      - "35.4088130"
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2995"
      X-Ratelimit-Reset:
      - "4"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLOCorrection
    url: https://api.datadoghq.com/api/v1/slo/correction/00312a90-8380-11eb-977c-da7ad0900002
    method: GET
  response:
    body: '{"errors": ["slo correction public id 00312a90-8380-11eb-977c-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4088130"
      X-Ratelimit-Limit:
      - "12000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "11991"
      X-Ratelimit-Reset:
      - "39"
    status: 404 Not Found
    code: 404
    duration: ""
