---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-test-TestAccDatadogDatasetImport-1785485101","principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"],"product_filters":[{"filters":["@application.id:31d93d5e-3ad3-9e93-d602-a6e99e3d162b"],"product":"rum"}]},"type":"dataset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/datasets
        method: POST
      response:
        body: |
            {"data":{"type":"dataset","id":"c64d6ec2-01ff-4520-aceb-39c3ad461a44","attributes":{"name":"tf-test-TestAccDatadogDatasetImport-1785485101","product_filters":[{"product":"rum","filters":["@application.id:31d93d5e-3ad3-9e93-d602-a6e99e3d162b"]}],"principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.395209ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/datasets/c64d6ec2-01ff-4520-aceb-39c3ad461a44
        method: GET
      response:
        body: |
            {"data":{"type":"dataset","id":"c64d6ec2-01ff-4520-aceb-39c3ad461a44","attributes":{"name":"tf-test-TestAccDatadogDatasetImport-1785485101","product_filters":[{"product":"rum","filters":["@application.id:31d93d5e-3ad3-9e93-d602-a6e99e3d162b"]}],"principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.359333ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/datasets/c64d6ec2-01ff-4520-aceb-39c3ad461a44
        method: GET
      response:
        body: |
            {"errors":["Invalid request: [DatasetNotFound] dataset \"c64d6ec2-01ff-4520-aceb-39c3ad461a44\" not found"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 107.633292ms
