---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"locations":["aws:eu-central-1"],"message":"","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1735317675","options":{"device_ids":["chrome.laptop_large"],"httpVersion":"any","initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"status":"paused","steps":[{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name first","noScreenshot":false,"params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".first"}]}},"value":"step first value"},"timeout":0,"type":"assertElementContent"},{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name second","noScreenshot":false,"params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".second"}]}},"value":"step second value"},"timeout":0,"type":"assertElementContent"},{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name third","noScreenshot":false,"params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".third"}]}},"value":"step third value"},"timeout":0,"type":"assertElementContent"},{"allowFailure":false,"alwaysExecute":false,"exitIfSucceed":false,"isCritical":false,"name":"step name fourth","noScreenshot":false,"params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".fourth"}]}},"value":"step fourth value"},"timeout":0,"type":"assertElementContent"}],"tags":[],"type":"browser"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"gym-pc9-q82","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1735317675","status":"paused","type":"browser","tags":[],"created_at":"2024-12-27T16:41:17.978654+00:00","modified_at":"2024-12-27T16:41:17.978654+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"message":"","options":{"device_ids":["chrome.laptop_large"],"httpVersion":"any","initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"locations":["aws:eu-central-1"],"created_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":161235193,"org_id":321813,"modified_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"steps":[{"name":"step name first","params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".first"}]}},"value":"step first value"},"timeout":0,"type":"assertElementContent","public_id":"35s-zqs-5w5","allowFailure":false,"isCritical":false,"noScreenshot":false,"exitIfSucceed":false,"alwaysExecute":false},{"name":"step name second","params":{"check":"contains","[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/browser/gym-pc9-q82
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"gym-pc9-q82","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1735317675","status":"paused","type":"browser","tags":[],"created_at":"2024-12-27T16:41:17.978654+00:00","modified_at":"2024-12-27T16:41:17.978654+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"message":"","options":{"device_ids":["chrome.laptop_large"],"httpVersion":"any","initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"locations":["aws:eu-central-1"],"monitor_id":161235193,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"steps":[{"name":"step name first","params":{"check":"contains","element":{"userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".first"}]}},"value":"step first value"},"timeout":0,"type":"assertElementContent","public_id":"35s-zqs-5w5","allowFailure":false,"isCritical":false,"noScreenshot":false,"exitIfSucceed":false,"alwaysExecute":false},{"name":"step name second","params":{"check":"contains","[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/gym-pc9-q82
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"gym-pc9-q82","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1735317675","status":"paused","type":"browser","tags":[],"created_at":"2024-12-27T16:41:17.978654+00:00","modified_at":"2024-12-27T16:41:17.978654+00:00","config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"message":"","options":{"device_ids":["chrome.laptop_large"],"httpVersion":"any","initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"locations":["aws:eu-central-1"],"monitor_id":161235193,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.127959ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled"},"variables":[]},"locations":["aws:eu-central-1"],"message":"","name":"tf-TestAccDatadogSyntheticsBrowser_UpdateStepsWithRemoteML-local-1735317675","options":{"device_ids":["chrome.laptop_large"],"httpVersion":"any","initialNavigationTimeout":15,"min_location_failed":1,"retry":{"count":0,"interval":300},"tick_every":3600},"status":"paused","steps":[{"name":"step name first","params":{"check":"contains","element":{"multiLocator":{"ab":"ab first","at":"at first","cl":"cl first","clt":"clt first","co":"co first"},"targetOuterHTML":"targetOuterHTML first","url":"https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled","userLocator":{"failTestOnCannotLocate":false,"values":[{"type":"css","value":".first"}]}},"value":"step first value"},"type":"assertElementContent"},{"name":"step name second","params":{"check":"contains","element":{"multiLocator":{"ab":"ab second","at":"at second","cl":"cl second","clt":"clt second","co":"co second"},"targetOuterHTML":"targetOuterHTML second","url":"https://developer.mozilla.o[...]
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["gym-pc9-q82"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"gym-pc9-q82","deleted_at":"2024-12-27T16:41:27.223219+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 710.114292ms
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/gym-pc9-q82
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 126.423709ms
