---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"auth":{"password_key":"DESTINATION_CLICKHOUSE_PASSWORD","strategy":"basic","username_key":"DESTINATION_CLICKHOUSE_USERNAME"},"batch":{"max_events":1000,"timeout_secs":5},"compression":{"algorithm":"gzip","level":6},"database":"my_database","date_time_best_effort":true,"endpoint_url_key":"DESTINATION_CLICKHOUSE_ENDPOINT_URL","format":"json_each_row","id":"clickhouse-dest-1","inputs":["source-1"],"skip_unknown_fields":true,"table":"my_table","tls":{"ca_file":"/path/to/ca.crt","crt_file":"/path/to/cert.crt","key_file":"/path/to/key.key"},"type":"clickhouse"}],"pipeline_type":"logs","sources":[{"auth_strategy":"none","decoding":"json","id":"source-1","type":"http_server"}]},"name":"clickhouse-destination-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"90560034-70b3-11f1-8dbe-da7ad0900002","type":"pipelines","attributes":{"name":"clickhouse-destination-pipeline","config":{"destinations":[{"auth":{"password_key":"DESTINATION_CLICKHOUSE_PASSWORD","strategy":"basic","username_key":"DESTINATION_CLICKHOUSE_USERNAME"},"batch":{"max_events":1000,"timeout_secs":5},"compression":{"algorithm":"gzip","level":6},"database":"my_database","date_time_best_effort":true,"endpoint_url_key":"DESTINATION_CLICKHOUSE_ENDPOINT_URL","format":"json_each_row","id":"clickhouse-dest-1","inputs":["source-1"],"skip_unknown_fields":true,"table":"my_table","tls":{"ca_file":"/path/to/ca.crt","crt_file":"/path/to/cert.crt","key_file":"/path/to/key.key"},"type":"clickhouse"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"auth_strategy":"none","decoding":"json","id":"source-1","type":"http_server"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 567.15775ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/90560034-70b3-11f1-8dbe-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"90560034-70b3-11f1-8dbe-da7ad0900002","type":"pipelines","attributes":{"name":"clickhouse-destination-pipeline","config":{"destinations":[{"auth":{"password_key":"DESTINATION_CLICKHOUSE_PASSWORD","strategy":"basic","username_key":"DESTINATION_CLICKHOUSE_USERNAME"},"batch":{"max_events":1000,"timeout_secs":5},"compression":{"algorithm":"gzip","level":6},"database":"my_database","date_time_best_effort":true,"endpoint_url_key":"DESTINATION_CLICKHOUSE_ENDPOINT_URL","format":"json_each_row","id":"clickhouse-dest-1","inputs":["source-1"],"skip_unknown_fields":true,"table":"my_table","tls":{"ca_file":"/path/to/ca.crt","crt_file":"/path/to/cert.crt","key_file":"/path/to/key.key"},"type":"clickhouse"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"auth_strategy":"none","decoding":"json","id":"source-1","type":"http_server"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 240.127ms
[...]
