version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1686860145@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
    id: 0
  response:
    body: |
      {"data":{"type":"users","id":"a1b2c3d4-0bb8-11ee-9e5c-fada1df30af1","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1686860145@example.com","created_at":"2023-06-15T20:15:46.718742+00:00","modified_at":"2023-06-15T20:15:46.726355+00:00","email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1686860145@example.com","icon":"https://secure.gravatar.com/avatar/6c751c8fee162e213b2336bc467d39d4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: "0ms"
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1686860145@example.com","name":"tf-service-account-tf-testaccdatadoguserdatasource","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
    id: 1
  response:
    body: |
      {"data":{"type":"users","id":"b2c3d4e5-0bb8-11ee-872b-928a47bbfdc7","attributes":{"name":"tf-service-account-tf-testaccdatadoguserdatasource","handle":"b2c3d4e5-0bb8-11ee-872b-928a47bbfdc7","created_at":"2023-06-15T20:15:46.725437+00:00","modified_at":"2023-06-15T20:15:46.733418+00:00","email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1686860145@example.com","icon":"https://secure.gravatar.com/avatar/f6f65245d5386d40616c5100481410a9?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: "0ms"
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"a1b2c3d4-0bb8-11ee-9e5c-fada1df30af1","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
    id: 2
  response:
    body: |
      {"data":[{"type":"user_invitations","id":"c3d4e5f6-0bb8-11ee-8a3f-da7ad0900002","attributes":{"uuid":"c3d4e5f6-0bb8-11ee-8a3f-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2023-06-15T20:15:47.019091+00:00","expires_at":"2023-06-17T20:15:46.933187+00:00"},"relationships":{"user":{"data":{"type":"users","id":"a1b2c3d4-0bb8-11ee-9e5c-fada1df30af1"}}}}]}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1686860145%40example.com
    method: GET
    id: 3
  response:
    body: |
      {"data":[{"type":"users","id":"b2c3d4e5-0bb8-11ee-872b-928a47bbfdc7","attributes":{"name":"tf-service-account-tf-testaccdatadoguserdatasource","handle":"b2c3d4e5-0bb8-11ee-872b-928a47bbfdc7","created_at":"2023-06-15T20:15:46.725437+00:00","modified_a[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/b2c3d4e5-0bb8-11ee-872b-928a47bbfdc7
    method: GET
    id: 5
  response:
    body: |
      {"data":{"type":"users","id":"b2c3d4e5-0bb8-11ee-872b-928a47bbfdc7","attributes":{"name":"tf-service-account-tf-testaccdatadoguserdatasource","handle":"b2c3d4e5-0bb8-11ee-872b-928a47bbfdc7","created_at":"2023-06-15T20:15:46.725437+00:00","modified_at":"2023-06-15T20:15:46.733418+00:00","email":"tf-testaccdatadoguserdatasourcewithexcludeserviceaccounts-local-1686860145@example.com","icon":"https://secure.gravatar.com/avatar/f6f65245d5386d40616c5100481410a9?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
