---
version: 1
interactions:
- request:
    body: |
      {"service_key":"tf-TestAccDatadogPagerdutyIntegrationSODatasource-local-1675973495","service_name":"tf-TestAccDatadogPagerdutyIntegrationSODatasource-local-1675973495"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services
    method: POST
  response:
    body: |
      {"service_name":"tf-TestAccDatadogPagerdutyIntegrationSODatasource-local-1675973495"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/pagerduty/configuration/services/tf-TestAccDatadogPagerdutyIntegrationSODatasource-local-1675973495
    method: GET
  response:
    body: |
      {"service_name":"tf-TestAccDatadogPagerdutyIntegrationSODatasource-local-1675973495"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: GET
  response:
    body: |
      {"show_all_incidents":false,"filter_services":[],"schedules":["https://ddog.pagerduty.com/schedules/X123VF"],"api_token":"*****","services":[{"service_name":"tf-TestAccDatadogPagerdutyIntegrationSODatasource-local-1675973495","service_key":"*****"}],"subdomain":"testdomain"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
