---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["filter-1"],"type":"datadog_logs"}],"processors":[{"id":"filter-1","include":"env:prod","inputs":["source-1"],"type":"filter"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"filter-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"a9f01f90-24e0-11f0-be7f-da7ad0900002","type":"pipelines","attributes":{"name":"filter-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["filter-1"],"type":"datadog_logs"}],"processors":[{"id":"filter-1","include":"env:prod","inputs":["source-1"],"type":"filter"}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 797.645541ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/a9f01f90-24e0-11f0-be7f-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"a9f01f90-24e0-11f0-be7f-da7ad0900002","type":"pipelines","attributes":{"name":"filter-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["filter-1"],"type":"datadog_logs"}],"processors":[{"id":"filter-1","include":"env:prod","inputs":["source-1"],"type":"filter"}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.935083ms
[...]
