---
version: 1
interactions:
- request:
    body: |
      {"id":"","layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardDatasource-local-1626980287 two","widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"rn4-xx2-kvd","title":"tf-TestAccDatadogDashboardDatasource-local-1626980287 two","url":"/dashboard/rn4-xx2-kvd/tf-testaccdatadogdashboarddatasource-local-1626980287-two","created_at":"2021-07-22T18:58:11.109324+00:00","modified_at":"2021-07-22T18:58:11.109324+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":513851496515989}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/rn4-xx2-kvd
    method: GET
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"rn4-xx2-kvd","title":"tf-TestAccDatadogDashboardDatasource-local-1626980287 two","url":"/dashboard/rn4-xx2-kvd/tf-testaccdatadogdashboarddatasource-local-1626980287-two","created_at":"2021-07-22T18:58:11.109324+00:00","modified_at":"2021-07-22T18:58:11.109324+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":513851496515989}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/8xd-896-66y
    method: GET
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"8xd-896-66y","title":"tf-TestAccDatadogDashboardDatasource-local-1626980287 one","url":"/dashboard/8xd-896-66y/tf-testaccdatadogdashboarddatasource-local-1626980287-one","created_at":"2021-07-22T18:58:11.264208+00:00","modified_at":"2021-07-22T18:58:11.264208+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":2678694729896586}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListDashboards
    url: https://api.datadoghq.com/api/v1/dashboard
    method: GET
  response:
    body: '{"dashboards":[{"created_at":"2021-06-24T14:05:04.961605+00:00","author_handle":"frog@datadoghq.com","is_read_only":false,"description":"Top host-level metrics for prod-us-tlog-master-es-i-07c59bf0deddc8b93- (cloned)","title":"Host dashboard","url":"/dashboard/nmt-r6b-ggn/host-dashboard","layout_type":"ordered","modified_at":"2021-06-24T16:37:03.727927+00:00","id":"nmt-r6b-ggn"},{"created_at":"2021-06-24T14:15:12.864243+00:00","author_handle":"frog@datadoghq.com","is_read_only":false,"description":"","title":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/rn4-xx2-kvd
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"rn4-xx2-kvd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/8xd-896-66y
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID 8xd-896-66y not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
