---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=doesntexist01b0bb82-2000-4113-bb6b-e34b48ef37ff%40example.com%27
    method: GET
  response:
    body: |
      {"data":[],"meta":{"page":{"total_count":16,"total_filtered_count":0}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1685580122@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"20968e34-0015-11ee-abca-3a3a5e33679f","attributes":{"name":null,"handle":"tf-testaccdatadogserviceaccountdatasourceerror-local-1685580122@example.com","created_at":"2023-06-01T00:42:03.613056+00:00","modified_at":"2023-06-01T00:42:03.618400+00:00","email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1685580122@example.com","icon":"https://secure.gravatar.com/avatar/aed374954bdb1739d6fc8e5312115d88?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"76d50d80-ffeb-11ed-a643-da7ad0900002"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"20968e34-0015-11ee-abca-3a3a5e33679f","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: |
      {"data":[{"type":"user_invitations","id":"20c32a06-0015-11ee-9bb9-da7ad0900002","attributes":{"uuid":"20c32a06-0015-11ee-9bb9-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2023-06-01T00:42:03.903025+00:00","expires_at":"2023-06-03T00:42:03.796335+00:00"},"relationships":{"user":{"data":{"type":"users","id":"20968e34-0015-11ee-abca-3a3a5e33679f"}}}}]}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadogserviceaccountdatasourceerror-local-1685580122%40example.com
    method: GET
  response:
    body: |
      {"data":[{"type":"users","id":"20968e34-0015-11ee-abca-3a3a5e33679f","attributes":{"name":null,"handle":"tf-testaccdatadogserviceaccountdatasourceerror-local-1685580122@example.com","created_at":"2023-06-01T00:42:03.613056+00:00","modified_at":"2023-06-01T00:42:03.618400+00:00","email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1685580122@example.com","icon":"https://secure.gravatar.com/avatar/aed374954bdb1739d6fc8e5312115d88?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"76d50d80-ffeb-11ed-a643-da7ad0900002"}}}}],"meta":{"page":{"total_count":17,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/20968e34-0015-11ee-abca-3a3a5e33679f
    method: DELETE
  response:
    body: ""
    headers: {}
    status: 204 No Content
    code: 204
    duration: ""
