---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"api_key":"12345","email":"test@email.com","name":"tf-TestAccIntegrationCloudflareAccountBasic-local-1730405592","resources":["web"]},"type":"cloudflare-accounts"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"cloudflare-accounts","attributes":{"resources":["web"],"email":"test@email.com","zones":[],"name":"tf-TestAccIntegrationCloudflareAccountBasic-local-1730405592"},"id":"0b7e1a40578e2e4742c5183aa3b0502f9116ab249b16dc10ff09135a51663560"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 554.743709ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts/0b7e1a40578e2e4742c5183aa3b0502f9116ab249b16dc10ff09135a51663560
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"cloudflare-accounts","attributes":{"zones":[],"email":"test@email.com","resources":["web"],"name":"tf-TestAccIntegrationCloudflareAccountBasic-local-1730405592"},"id":"0b7e1a40578e2e4742c5183aa3b0502f9116ab249b16dc10ff09135a51663560"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.251292ms
[...]
