---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"filter":{"query":"error_code:123 service:my-service"},"filter_type":"spans-sampling-processor","name":"tf-TestAccApmRetentionFilter-local-1705436882","rate":0.1},"type":"apm_retention_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"0nzPg5AcRqO17TUnfAdI-g","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1705436882","rate":0.1,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1705436883,"created_by":"frog@datadoghq.com","created_at":1705436883},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.157458ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/0nzPg5AcRqO17TUnfAdI-g
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"0nzPg5AcRqO17TUnfAdI-g","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1705436882","rate":0.1,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1705436883,"created_by":"frog@datadoghq.com","created_at":1705436883},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.076167ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/usD-JXgtR3KINhWUJUzbRw
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"usD-JXgtR3KINhWUJUzbRw","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1705436882 - second","rate":0.1,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 service:my-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1705436883,"created_by":"frog@datadoghq.com","created_at":1705436883},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.301958ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/0nzPg5AcRqO17TUnfAdI-g
        method: GET
      response:
            - chunked
        body: '{"errors":["retention filter with id: ''0nzPg5AcRqO17TUnfAdI-g'' not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 83.065083ms
[...]
