---
version: 1
interactions:
- request:
    body: |
      {"name":"tf-TestDatadogDashListInDashboard-local-1690985962"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-08-02T14:19:25.463839+00:00","dashboards":null,"dashboard_count":0,"id":405195,"is_favorite":false,"modified":"2023-08-02T14:19:25.463846+00:00","name":"tf-TestDatadogDashListInDashboard-local-1690985962","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListInDashboard-local-1690985962-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"vyb-7iw-xtr","title":"tf-TestDatadogDashListInDashboard-local-1690985962-time","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/vyb-7iw-xtr/tf-testdatadogdashlistindashboard-local-1690985962-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":4386419645773892}],"notify_list":[],"created_at":"2023-08-02T14:19:25.920060+00:00","modified_at":"2023-08-02T14:19:25.920060+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/vyb-7iw-xtr
    method: GET
  response:
    body: |
      {"id":"vyb-7iw-xtr","title":"tf-TestDatadogDashListInDashboard-local-1690985962-time","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/vyb-7iw-xtr/tf-testdatadogdashlistindashboard-local-1690985962-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":4386419645773892}],"notify_list":[],"created_at":"2023-08-02T14:19:25.920060+00:00","modified_at":"2023-08-02T14:19:25.920060+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"vyb-7iw-xtr","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/405195/dashboards
    method: POST
  response:
    body: |
      {"added_dashboards_to_list":[{"type":"custom_timeboard","id":"vyb-7iw-xtr"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405195
    method: GET
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-08-02T14:19:25.463839+00:00","dashboards":null,"dashboard_count":1,"id":405195,"is_favorite":false,"modified":"2023-08-02T14:19:26.353004+00:00","name":"tf-TestDatadogDashListInDashboard-local-1690985962","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/405195/dashboards
    method: GET
  response:
    body: |
      {"dashboards":[{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-08-02T14:19:25.920060+00:00","is_favorite":false,"is_shared":false,"modified":"2023-08-02T14:19:25.920060+00:00","title":"tf-TestDatadogDashListInDashboard-local-1690985962-time","type":"custom_timeboard","id":"vyb-7iw-xtr","url":"/dashboard/vyb-7iw-xtr/tf-testdatadogdashlistindashboard-local-1690985962-time","is_read_only":true,"tags":[],"icon":null,"integration_id":null,"popularity":0}],"total":1}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"dashboards":[{"id":"vyb-7iw-xtr","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/405195/dashboards
    method: DELETE
  response:
    body: |
      {"deleted_dashboards_from_list":[{"type":"custom_timeboard","id":"vyb-7iw-xtr"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405195
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_list_id":405195}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/vyb-7iw-xtr
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"vyb-7iw-xtr"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/405195
    method: GET
  response:
    body: '{"errors":["Manual Dashboard List with id 405195 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
