---
version: 1
interactions:
- request:
    body: |
      {"filter":{"query":""},"is_enabled":true,"name":"tf-TestAccDatadogLogsPipelineEmptyFilterQuery-local-1615587119","processors":[{"is_enabled":true,"name":"","sources":["redis.severity"],"type":"status-remapper"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines
    method: POST
  response:
    body: '{"id":"Ui5aAYcPTr6nMzP2PB6VOg","type":"pipeline","name":"tf-TestAccDatadogLogsPipelineEmptyFilterQuery-local-1615587119","is_enabled":true,"is_read_only":false,"filter":{"query":""},"processors":[{"name":"","is_enabled":true,"sources":["redis.severity"],"type":"status-remapper"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      X-Dd-Version:
      - "35.4088130"
      X-Ratelimit-Limit:
      - "300"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "288"
      X-Ratelimit-Reset:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/Ui5aAYcPTr6nMzP2PB6VOg
    method: GET
  response:
    body: '{"id":"Ui5aAYcPTr6nMzP2PB6VOg","type":"pipeline","name":"tf-TestAccDatadogLogsPipelineEmptyFilterQuery-local-1615587119","is_enabled":true,"is_read_only":false,"filter":{"query":""},"processors":[{"name":"","is_enabled":true,"sources":["redis.severity"],"type":"status-remapper"}]}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.4088130"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4959"
      X-Ratelimit-Reset:
      - "2880"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsPipeline
    url: https://api.datadoghq.com/api/v1/logs/config/pipelines/Ui5aAYcPTr6nMzP2PB6VOg
    method: GET
  response:
    body: '{"error":{"code":"InvalidArgument","message":"Non existing pipeline"}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4088130"
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Period:
      - "3600"
      X-Ratelimit-Remaining:
      - "4957"
      X-Ratelimit-Reset:
      - "2879"
    status: 400 Bad Request
    code: 400
    duration: ""
