---
version: 1
interactions:
- request:
    body: |
      {"description":"","name":"TF_TESTACCDATATOGSYNTHETICSGLOBALVARIABLE_LOCAL_1626969617","tags":[],"value":{"secure":false,"value":"bar"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: '{"parse_test_options":null,"parse_test_extracted_at":null,"description":"","tags":[],"is_totp":null,"value":{"secure":false,"value":"bar"},"parse_test_public_id":null,"parse_test_name":null,"type":"variable","id":"ec4e3b3c-3ada-4216-9f79-2485e1970cb4","name":"TF_TESTACCDATATOGSYNTHETICSGLOBALVARIABLE_LOCAL_1626969617"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "29"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/ec4e3b3c-3ada-4216-9f79-2485e1970cb4
    method: GET
  response:
    body: '{"parse_test_options":null,"parse_test_extracted_at":null,"description":"","tags":[],"created_at":"2021-07-22T16:00:31.613471+00:00","is_totp":null,"modified_at":"2021-07-22T16:00:31.613471+00:00","value":{"secure":false,"value":"bar"},"parse_test_public_id":null,"parse_test_name":null,"created_by":1445416,"type":"variable","id":"ec4e3b3c-3ada-4216-9f79-2485e1970cb4","name":"TF_TESTACCDATATOGSYNTHETICSGLOBALVARIABLE_LOCAL_1626969617"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "119"
      X-Ratelimit-Reset:
      - "29"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListGlobalVariables
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: GET
  response:
    body: '{"variables":[{"parse_test_options":null,"parse_test_extracted_at":null,"description":"variable description","tags":["synthetics"],"created_at":"2021-07-04T00:05:12.767534+00:00","is_totp":null,"modified_at":"2021-07-04T00:05:12.767534+00:00","value":{"secure":false,"value":"VARIABLE_VALUE"},"parse_test_public_id":null,"parse_test_name":null,"created_by":"CI Account","type":"variable","id":"015df4e1-b6bc-46fc-a1f3-8b7a69a039e1","name":"TEST_GO_TESTSYNTHETICSAPIMULTISTEPTESTENDPOINTLIFECYCLE_1625357112"},{"pa[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetGlobalVariable
    url: https://api.datadoghq.com/api/v1/synthetics/variables/ec4e3b3c-3ada-4216-9f79-2485e1970cb4
    method: GET
  response:
    body: '{"errors": ["Synthetics global variable not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "120"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "117"
      X-Ratelimit-Reset:
      - "12"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
