---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"domain_prefix":"tfspe25f8e97a0","name":"tf-sp-e25f8e97a0","type":"internal","visualization_type":"bars_only"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"2de56e61-ab76-4ec7-88a4-532f63e367da","type":"status_pages","attributes":{"company_logo":null,"components":[],"created_at":"2026-08-14T17:54:24.264076Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"tfspe25f8e97a0","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-14T17:54:24.264076Z","name":"tf-sp-e25f8e97a0","page_url":"https://us5.datadoghq.com/status-pages/2de56e61-ab76-4ec7-88a4-532f63e367da/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_only"},"relationships":{"created_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}},"last_modified_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.764747291s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/2de56e61-ab76-4ec7-88a4-532f63e367da
        method: GET
      response:
        body: '{"data":{"id":"2de56e61-ab76-4ec7-88a4-532f63e367da","type":"status_pages","attributes":{"company_logo":null,"components":[],"created_at":"2026-08-14T17:54:24.264076Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"tfspe25f8e97a0","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-14T17:54:24.264076Z","name":"tf-sp-e25f8e97a0","page_url":"https://us5.datadoghq.com/status-pages/2de56e61-ab76-4ec7-88a4-532f63e367da/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_only"},"relationships":{"created_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}},"last_modified_by_user":{"data":{"id":"fa3e445c-8800-11f0-9304-eed852f816a5","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 135.239ms
[...]
