---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"exclusion_filters":[{"name":"first","query":"does not really match much"},{"name":"second","query":"neither does it"}],"filtered_data_type":"logs","is_enabled":true,"name":"tf-TestAccDatadogSecurityMonitoringFilter-local-1758293437","query":"first query - tf-TestAccDatadogSecurityMonitoringFilter-local-1758293437"},"type":"security_filters"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"nmv-r73-6pm","attributes":{"version":1,"name":"tf-TestAccDatadogSecurityMonitoringFilter-local-1758293437","query":"first query - tf-TestAccDatadogSecurityMonitoringFilter-local-1758293437","is_enabled":true,"exclusion_filters":[{"name":"first","query":"does not really match much"},{"name":"second","query":"neither does it"}],"filtered_data_type":"logs","is_builtin":false},"type":"security_filters"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 196.096583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/nmv-r73-6pm
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"nmv-r73-6pm","attributes":{"version":1,"name":"tf-TestAccDatadogSecurityMonitoringFilter-local-1758293437","query":"first query - tf-TestAccDatadogSecurityMonitoringFilter-local-1758293437","is_enabled":true,"exclusion_filters":[{"name":"first","query":"does not really match much"},{"name":"second","query":"neither does it"}],"filtered_data_type":"logs","is_builtin":false},"type":"security_filters"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.885375ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/nmv-r73-6pm
        method: GET
      response:
            - chunked
        body: |
            {"errors":["not_found(Security filter with id 'nmv-r73-6pm' not found)"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 231.855084ms
