version: 2
interactions:
- request:
    body: |
      {"message":"tf-TestAccDatadogDowntime_DiffStart-local-1677784526","monitor_tags":["*"],"scope":["new:somescope"],"timezone":"UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
    id: 0
  response:
    body: |
      {"id":2718954961,"monitor_id":null,"org_id":321813,"start":1677784528,"end":null,"canceled":null,"created":1677784528,"modified":1677784528,"message":"tf-TestAccDatadogDowntime_DiffStart-local-1677784526","active":true,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"scope":["new:somescope"]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/downtime/2718954961
    method: GET
    id: 1
  response:
    body: |
      {"id":2718954961,"monitor_id":null,"org_id":321813,"start":1677784528,"end":null,"canceled":null,"created":1677784528,"modified":1677784528,"message":"tf-TestAccDatadogDowntime_DiffStart-local-1677784526","active":true,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"scope":["new:somescope"]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
