---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroup_Basic-local-1776806350"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019db1e9-5267-7dd0-b180-9be209a88642","type":"org_groups","attributes":{"created_at":"2026-04-21T21:19:11.463Z","modified_at":"2026-04-21T21:19:11.465623Z","name":"tf-TestAccDatadogOrgGroup_Basic-local-1776806350","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 37.914591ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db1e9-5267-7dd0-b180-9be209a88642
        method: GET
      response:
        body: '{"data":{"id":"019db1e9-5267-7dd0-b180-9be209a88642","type":"org_groups","attributes":{"created_at":"2026-04-21T21:19:11.463Z","modified_at":"2026-04-21T21:19:11.465623Z","name":"tf-TestAccDatadogOrgGroup_Basic-local-1776806350","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 39.79367ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db1e9-5267-7dd0-b180-9be209a88642
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"org group 019db1e9-5267-7dd0-b180-9be209a88642 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 41.398368ms
