---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"automute":false,"client_email":"tf-TestAccIntegrationGcpStsAccountBasic-local-1685129217@test-project.iam.gserviceaccount.com","host_filters":["tag:one","tag:two"],"is_cspm_enabled":false},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
    method: POST
  response:
    body: |
      {"data":{"type":"gcp_service_account","attributes":{"host_filters":["tag:one","tag:two"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsAccountBasic-local-1685129217@test-project.iam.gserviceaccount.com","is_cspm_enabled":false},"id":"fbd35c1a-8af6-46e9-8cd8-6e9732844bff"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
    method: GET
  response:
    body: |
      {"data":[{"type":"gcp_service_account","attributes":{"is_cspm_enabled":false,"host_filters":["tag:one","tag:two"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsAccountBasic-local-1685129217@test-project.iam.gserviceaccount.com"},"meta":{"accessible_projects":[]},"id":"fbd35c1a-8af6-46e9-8cd8-6e9732844bff"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"automute":true,"client_email":"tf-TestAccIntegrationGcpStsAccountBasic-local-1685129217@test-project.iam.gserviceaccount.com","host_filters":[],"is_cspm_enabled":true},"type":"gcp_service_account"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/fbd35c1a-8af6-46e9-8cd8-6e9732844bff
    method: PATCH
  response:
    body: |
      {"data":{"type":"gcp_service_account","id":"fbd35c1a-8af6-46e9-8cd8-6e9732844bff","attributes":{"is_cspm_enabled":true,"client_email":"tf-TestAccIntegrationGcpStsAccountBasic-local-1685129217@test-project.iam.gserviceaccount.com","host_filters":[],"automute":true}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
