---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"api_key":"1234567891012331asdd","email":"test-email@example.com","name":"tf-TestAccIntegrationCloudflareAccountBasic-local-1730900687"},"type":"cloudflare-accounts"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"cloudflare-accounts","attributes":{"name":"tf-TestAccIntegrationCloudflareAccountBasic-local-1730900687","email":"test-email@example.com","zones":[],"resources":[]},"id":"341ae30fea634712fd2f3aafe5aee450070a5ddafecfaf8a8aa48071aef67b87"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 841.112375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts/341ae30fea634712fd2f3aafe5aee450070a5ddafecfaf8a8aa48071aef67b87
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"cloudflare-accounts","attributes":{"name":"tf-TestAccIntegrationCloudflareAccountBasic-local-1730900687","zones":[],"email":"test-email@example.com","resources":[]},"id":"341ae30fea634712fd2f3aafe5aee450070a5ddafecfaf8a8aa48071aef67b87"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.868917ms
[...]
