---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a secure write-only global variable","is_fido":false,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEWRITEONLYSECURE_TAGSONLY_LOCAL_1782473343","tags":["foo:bar","baz"],"value":{"secure":true,"value":"variable-wo-secure-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"3f548111-fab1-4949-82c1-47cb089369a1","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEWRITEONLYSECURE_TAGSONLY_LOCAL_1782473343","description":"a secure write-only global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 441.052125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/3f548111-fab1-4949-82c1-47cb089369a1
        method: GET
      response:
            - chunked
        body: |
            {"id":"3f548111-fab1-4949-82c1-47cb089369a1","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEWRITEONLYSECURE_TAGSONLY_LOCAL_1782473343","description":"a secure write-only global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2026-06-26T11:29:06.147688+00:00","modified_at":"2026-06-26T11:29:06.147688+00:00","last_error":null,"value":{"secure":true},"creator":{"name":"Corentin Girard","handle":"corentin.girard@datadoghq.com","email":"corentin.girard@datadoghq.com"},"editor":{"name":"Corentin Girard","handle":"corentin.girard@datadoghq.com","email":"corentin.girard@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.973958ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/3f548111-fab1-4949-82c1-47cb089369a1
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 169.074375ms
