---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"policy":{"tag_key":"tagKey","tag_key_required":false,"valid_tag_values":["value"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/monitor/policy
    method: POST
  response:
    body: |
      {"data":{"type":"monitor-config-policy","id":"7a176ba6-a270-11ed-875a-da7ad0900002","attributes":{"policy":{"tag_key":"tagKey","tag_key_required":false,"valid_tag_values":["value"]},"policy_type":"tag"}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/monitor/policy/7a176ba6-a270-11ed-875a-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"monitor-config-policy","attributes":{"policy_type":"tag","policy":{"tag_key_required":false,"tag_key":"tagKey","valid_tag_values":["value"]}},"id":"7a176ba6-a270-11ed-875a-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
