---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"billing_account_id":"123456_ABCDEF_123456","bucket_name":"test-gcp-bucket","export_dataset_name":"billing","export_prefix":"datadog_cloud_cost_detailed_usage_export","export_project_name":"test-gcp-project","service_account":"test-service-account@test-project.iam.gserviceaccount.com"},"type":"gcp_uc_config_post_request"},"meta":{"setup_method":"terraform"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/gcp_uc_config
        method: POST
      response:
        body: '{"data":{"id":"1274","type":"gcp_uc_config","attributes":{"account_id":"123456_ABCDEF_123456","bucket_name":"test-gcp-bucket","created_at":"2026-01-30T21:45:38Z","dataset":"billing","error_messages":null,"export_prefix":"datadog_cloud_cost_detailed_usage_export","export_project_name":"test-gcp-project","months":15,"project_id":"","service_account":"test-service-account@test-project.iam.gserviceaccount.com","status":"active","status_updated_at":"2026-01-30T21:45:38Z","updated_at":"2026-01-30T21:45:38Z"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 15.4208395s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/gcp_uc_config/1274
        method: GET
      response:
        body: '{"data":{"id":"1274","type":"gcp_uc_config","attributes":{"account_id":"123456_ABCDEF_123456","bucket_name":"test-gcp-bucket","created_at":"2026-01-30T21:45:38Z","dataset":"billing","error_messages":null,"export_prefix":"datadog_cloud_cost_detailed_usage_export","export_project_name":"test-gcp-project","months":15,"project_id":"","service_account":"test-service-account@test-project.iam.gserviceaccount.com","status":"active","status_updated_at":"2026-01-30T21:45:38Z","updated_at":"2026-01-30T21:45:38Z"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 44.582166ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/gcp_uc_config/1274
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Cloud account not found","detail":"Cloud account with ID 1274 was not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 44.713958ms
