---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"api_key":"tf-TestAccIntegrationConfluentAccountUpdated-local-1758618655","api_secret":"test-api-secret-123","tags":["foo:bar"]},"type":"confluent-cloud-accounts"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"confluent-cloud-accounts","attributes":{"resources":[],"tags":["foo:bar"],"api_key":"tf-TestAccIntegrationConfluentAccountUpdated-local-1758618655"},"id":"a920acd96773c226c588a5fae6496875"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 584.049333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/a920acd96773c226c588a5fae6496875
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"confluent-cloud-accounts","id":"a920acd96773c226c588a5fae6496875","attributes":{"api_key":"tf-TestAccIntegrationConfluentAccountUpdated-local-1758618655","resources":[],"tags":["foo:bar"]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.807584ms
[...]
