---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplication_ProductScales-local-1756146547","product_analytics_retention_state":"MAX","rum_event_processing_state":"ERROR_FOCUSED_MODE","type":"browser"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"tags":[],"name":"tf-TestAccDatadogRUMApplication_ProductScales-local-1756146547","product_scales":{"rum_event_processing_scale":{"state":"ERROR_FOCUSED_MODE","last_modified_at":1756146548967},"product_analytics_retention_scale":{"state":"MAX","last_modified_at":1756146548967}},"is_active":false,"created_by_handle":"frog@datadoghq.com","updated_by_handle":"frog@datadoghq.com","product_analytics_replay_sample_rate":100,"created_at":1756146548967,"updated_at":1756146548967,"application_id":"1ea7f54b-0fc5-4ed8-a9b5-e6d027fd7c5d","org_id":321813,"type":"browser","hash":"pub55dd56eee29d738a75c6488eace4b436","client_token":"pub55dd56eee29d738a75c6488eace4b436"},"id":"1ea7f54b-0fc5-4ed8-a9b5-e6d027fd7c5d"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 402.036708ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/1ea7f54b-0fc5-4ed8-a9b5-e6d027fd7c5d
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"org_id":321813,"is_active":false,"name":"tf-TestAccDatadogRUMApplication_ProductScales-local-1756146547","updated_at":1756146548967,"product_scales":{"rum_event_processing_scale":{"last_modified_at":1756146548967,"state":"ERROR_FOCUSED_MODE"},"product_analytics_retention_scale":{"last_modified_at":1756146548967,"state":"MAX"}},"application_id":"1ea7f54b-0fc5-4ed8-a9b5-e6d027fd7c5d","hash":"pub55dd56eee29d738a75c6488eace4b436","updated_by_handle":"frog@datadoghq.com","created_by_handle":"frog@datadoghq.com","product_analytics_replay_sample_rate":100,"created_at":1756146548967,"client_token":"pub55dd56eee29d738a75c6488eace4b436","type":"browser","tags":[]},"id":"1ea7f54b-0fc5-4ed8-a9b5-e6d027fd7c5d"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.703334ms
[...]
