---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"filter":{"tags":["env:tf-TestAccMonitorNotificationRule_Update-local-1745267094","host:abc"]},"name":"A notification rule name","recipients":["jira-bar","slack-foo"]},"type":"monitor-notification-rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/monitor/notification_rule
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-notification-rule","id":"861943f3-2ae4-475b-ac49-94b3ccedde0c","attributes":{"filter":{"tags":["env:tf-TestAccMonitorNotificationRule_Update-local-1745267094","host:abc"]},"name":"A notification rule name","recipients":["jira-bar","slack-foo"],"created_at":"2025-04-21T20:24:55.452609+00:00","modified_at":"1970-01-01T00:00:00+00:00"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2025-04-07T20:19:46.118466+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 218.15825ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/monitor/notification_rule/861943f3-2ae4-475b-ac49-94b3ccedde0c
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-notification-rule","attributes":{"created_at":"2025-04-21T20:24:55.452610+00:00","modified_at":"2025-04-21T20:24:55.480442+00:00","name":"A notification rule name","filter":{"tags":["env:tf-TestAccMonitorNotificationRule_Update-local-1745267094","host:abc"]},"recipients":["jira-bar","slack-foo"]},"id":"861943f3-2ae4-475b-ac49-94b3ccedde0c"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.629916ms
[...]
