---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPoliciesDataSource_Basic-local-1776795934"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019db14a-6422-7291-8776-b69e7113272e","type":"org_groups","attributes":{"created_at":"2026-04-21T18:25:35.778Z","modified_at":"2026-04-21T18:25:35.780207Z","name":"tf-TestAccDatadogOrgGroupPoliciesDataSource_Basic-local-1776795934","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 37.705827ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","policy_name":"is_widget_copy_paste_enabled"},"relationships":{"org_group":{"data":{"id":"019db14a-6422-7291-8776-b69e7113272e","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019db14a-645c-7923-93ce-368c3219eaf2","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-21T18:25:35.837557Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db14a-6422-7291-8776-b69e7113272e","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 51.992754ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies?filter%5Borg_group_id%5D=019db14a-6422-7291-8776-b69e7113272e&filter%5Bpolicy_name%5D=is_widget_copy_paste_enabled&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019db14a-645c-7923-93ce-368c3219eaf2","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-21T18:25:35.837557Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db14a-6422-7291-8776-b69e7113272e","type":"org_groups"}}}}],"meta":{"page":{"type":"number_size","number":0,"size":100,"total":1,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/org_group_policies?filter%5Borg_group_id%5D=019db14a-6422-7291-8776-b69e7113272e\u0026filter%5Bpolicy_name%5D=is_widget_copy_paste_enabled\u0026page%5Bnumber%5D=0\u0026page%5Bsize%5D=100","first":"https://api.datadoghq.com/api/v2/org_group_policies?filter[org_group_id]=019db14a-6422-7291-8776-b69e7113272e\u0026filter[policy_name]=is_widget_copy_paste_enabled\u0026page[number]=0\u0026page[size]=100","last":"https://api.datadoghq.com/api/v2/org_group_policies?filter[org_group_id]=019db14a-6422-7291-8776-b69e7113272e\u0026filter[policy_name]=is_widget_copy_paste_enabled\u0026page[number]=0\u0026page[size]=100"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 31.325691ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies?filter%5Borg_group_id%5D=019db14a-6422-7291-8776-b69e7113272e&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019db14a-645c-7923-93ce-368c3219eaf2","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"202[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019db14a-6422-7291-8776-b69e7113272e
        method: GET
      response:
        body: '{"data":{"id":"019db14a-6422-7291-8776-b69e7113272e","type":"org_groups","attributes":{"created_at":"2026-04-21T18:25:35.778Z","modified_at":"2026-04-21T18:25:35.780207Z","name":"tf-TestAccDatadogOrgGroupPoliciesDataSource_Basic-local-1776795934","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 50.480181ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019db14a-645c-7923-93ce-368c3219eaf2
        method: GET
      response:
        body: '{"data":{"id":"019db14a-645c-7923-93ce-368c3219eaf2","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-21T18:25:35.837557Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019db14a-6422-7291-8776-b69e7113272e","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 67.72636ms
[...]
