---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"exclude_tags_mode":false,"include_percentiles":true,"metric_type":"distribution","tags":["sport"]},"id":"tf_TestAccDatadogMetricTagConfiguration_DistributionBasic_local_1768598342","type":"manage_tags"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_DistributionBasic_local_1768598342/tags
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"manage_tags","id":"tf_TestAccDatadogMetricTagConfiguration_DistributionBasic_local_1768598342","attributes":{"tags":["sport"],"include_percentiles":true,"created_at":"2026-01-16T21:19:03.538328+00:00","modified_at":"2026-01-16T21:19:13.430726+00:00","metric_type":"distribution","exclude_tags_mode":false}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 4.781632459s
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_DistributionBasic_local_1768598342/tags
        method: GET
      response:
            - chunked
        body: |
            {"errors":["tf_TestAccDatadogMetricTagConfiguration_DistributionBasic_local_1768598342 not found"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 93.098958ms
