---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"reflow_type":"fixed","template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardMultiSizeLayout_createFixed-local-1626980107","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"width":6,"x":3,"y":0}},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"is_column_break":true,"width":6,"x":3,"y":2}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"2z8-ap5-7ct","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createFixed-local-1626980107","url":"/dashboard/2z8-ap5-7ct/tf-testaccdatadogdashboardmultisizelayoutcreatefixed-local-1626980107","created_at":"2021-07-22T18:55:11.188248+00:00","modified_at":"2021-07-22T18:55:11.188248+00:00","reflow_type":"fixed","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"layout":{"y":0,"width":6,"x":3,"height":2},"id":4240118950315888},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"layout":{"y":2,"width":6,"is_column_break":true,"x":3,"height":2},"id":947783706361684}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/2z8-ap5-7ct
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"2z8-ap5-7ct","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createFixed-local-1626980107","url":"/dashboard/2z8-ap5-7ct/tf-testaccdatadogdashboardmultisizelayoutcreatefixed-local-1626980107","created_at":"2021-07-22T18:55:11.188248+00:00","modified_at":"2021-07-22T18:55:11.188248+00:00","reflow_type":"fixed","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"layout":{"y":0,"width":6,"x":3,"height":2},"id":4240118950315888},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"layout":{"y":2,"width":6,"is_column_break":true,"x":3,"height":2},"id":947783706361684}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/2z8-ap5-7ct
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"2z8-ap5-7ct"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
