---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test incident type for notification rule","is_default":false,"name":"test-rule-import-1758619239-it"},"type":"incident_types"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/incidents/config/types
        method: POST
      response:
        body: '{"data":{"id":"79f65587-e4d3-4ce4-8bbf-8899f97d54d7","type":"incident_types","attributes":{"createdAt":"2025-09-23T09:20:40.435543119Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test incident type for notification rule","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2025-09-23T09:20:40.435543201Z","name":"test-rule-import-1758619239-it","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 426.782333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"conditions":[{"field":"severity","values":["SEV-1","SEV-2"]}],"enabled":true,"handles":["@team-email@company.com","@slack-channel"],"renotify_on":["status","severity"],"trigger":"incident_created_trigger"},"relationships":{"incident_type":{"data":{"id":"79f65587-e4d3-4ce4-8bbf-8899f97d54d7","type":"incident_types"}}},"type":"incident_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"e3653647-d821-4142-9aab-f8b1461d8e30","type":"incident_notification_rules","attributes":{"conditions":[{"field":"severity","values":["SEV-1","SEV-2"]}],"created":"2025-09-23T09:20:40.721349059Z","enabled":true,"handles":["@team-email@company.com","@slack-channel"],"modified":"2025-09-23T09:20:40.721349059Z","renotify_on":["status","severity"],"trigger":"incident_created_trigger","visibility":"organization"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"79f65587-e4d3-4ce4-8bbf-8899f97d54d7","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 150.169583ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/types/79f65587-e4d3-4ce4-8bbf-8899f97d54d7
        method: GET
      response:
        body: '{"data":{"id":"79f65587-e4d3-4ce4-8bbf-8899f97d54d7","type":"incident_types","attributes":{"createdAt":"2025-09-23T09:20:40.435543Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test incident type for notification rule","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2025-09-23T09:20:40.435543Z","name":"test-rule-import-1758619239-it","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 143.875ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-rules/e3653647-d821-4142-9aab-f8b1461d8e30
        method: GET
      response:
        body: '{"data":{"id":"e3653647-d821-4142-9aab-f8b1461d8e30","type":"incident_notification_rules","attributes":{"conditions":[{"field":"severity","values":["SEV-1","SEV-2"]}],"created":"2025-09-23T09:20:40.721349Z","enabled":true,"handles":["@team-email@company.com","@slack-channel"],"modified":"2025-09-23T09:20:40.721349Z","renotify_on":["status","severity"],"trigger":"incident_created_trigger","visibility":"organization"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"79f65587-e4d3-4ce4-8bbf-8899f97d54d7","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 257.027042ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-rules/e3653647-d821-4142-9aab-f8b1461d8e30
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"rule not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 139.153958ms
