---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"isInMoreThan","target":30,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":"443","servername":"datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsSSLTest_Updated-local-1733745444","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"httpVersion":"any","min_location_failed":1,"tick_every":60},"status":"paused","subtype":"ssl","tags":[],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"n8i-syg-bpr","name":"tf-TestAccDatadogSyntheticsSSLTest_Updated-local-1733745444","status":"paused","type":"api","subtype":"ssl","tags":[],"created_at":"2024-12-09T11:57:26.282570+00:00","modified_at":"2024-12-09T11:57:26.282570+00:00","config":{"assertions":[{"operator":"isInMoreThan","target":30,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":"443","servername":"datadoghq.com"}},"message":"Notify @datadog.user","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":159883335,"org_id":321813,"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 485.9695ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/n8i-syg-bpr
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"n8i-syg-bpr","name":"tf-TestAccDatadogSyntheticsSSLTest_Updated-local-1733745444","status":"paused","type":"api","subtype":"ssl","tags":[],"created_at":"2024-12-09T11:57:26.282570+00:00","modified_at":"2024-12-09T11:57:26.282570+00:00","config":{"assertions":[{"operator":"isInMoreThan","target":30,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":"443","servername":"datadoghq.com"}},"message":"Notify @datadog.user","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"monitor_id":159883335,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.420291ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/n8i-syg-bpr
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"n8i-syg-bpr","name":"tf-TestAccDatadogSyntheticsSSLTest_Updated-local-1733745444","status":"paused","type":"api","subtype":"ssl","tags":[],"created_at":"2024-12-09T11:57:26.282570+00:00","modified_at":"2024-12-09T11:57:26.282570+00:00","config":{"assertions":[{"operator":"isInMoreThan","target":30,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":"443","servername":"datadoghq.com"}},"message":"Notify @datadog.user","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"monitor_id":159883335,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.8225ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"isInMoreThan","target":60,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":"443"}},"locations":["aws:eu-central-1"],"message":"Notify @pagerduty","name":"tf-TestAccDatadogSyntheticsSSLTest_Updated-local-1733745444-updated","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"status":"live","subtype":"ssl","tags":["foo:bar","foo","env:test"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/n8i-syg-bpr
        method: PUT
      response:
            - chunked
        body: |
            {"org_id":321813,"public_id":"n8i-syg-bpr","name":"tf-TestAccDatadogSyntheticsSSLTest_Updated-local-1733745444-updated","status":"live","type":"api","tags":["foo:bar","foo","env:test"],"message":"Notify @pagerduty","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"created_at":"2024-12-09T11:57:26.282570+00:00","modified_at":"2024-12-09T11:57:31.955330+00:00","config":{"assertions":[{"operator":"isInMoreThan","target":60,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":"443"}},"overall_state_modified":"2024-12-09T11:57:32.023209+00:00","subtype":"ssl","monitor_id":159883335,"created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"overall_state":2}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 455.793208ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["n8i-syg-bpr"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"n8i-syg-bpr","deleted_at":"2024-12-09T11:57:39.374188+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 933.194542ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/n8i-syg-bpr
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 232.756583ms
