---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"id":"_YgVoPF4TnqIN__vHV5gNg","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1756772694","rate":1.0,"trace_rate":0.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123"},"editable":true,"execution_order":1,"modified_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","modified_at":1756772698,"created_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","created_at":1756772695},"type":"apm_retention_filter"},{"id":"Fuq7p9SuSBmUdiHWlZnNXA","attributes":{"name":"tf-TestAccApmRetentionFilterWithTraceRate-local-1756470015 - second","rate":1.0,"trace_rate":0.8,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:456"},"editable":true,"execution_order":2,"modified_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","modified_at":1756470019,"created_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","created_at":1756470016},"type":"apm_retention_filter"},{"id":"VzXZ[...]
[...]
