---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleDryRun-local-1765529958","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"20e9d9d3-2dc6-47d3-a1bd-88e4e63e1db2","type":"deployment_gate","attributes":{"created_at":"2025-12-12T08:59:19.969063Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleDryRun-local-1765529958","service":"my-service","updated_at":"2025-12-12T08:59:19.969063Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 138.931125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/20e9d9d3-2dc6-47d3-a1bd-88e4e63e1db2/rules
        method: POST
      response:
        body: '{"data":{"id":"68163227-cb81-45f1-8c91-e7be9e7b1a36","type":"deployment_rule","attributes":{"created_at":"2025-12-12T08:59:20.114538Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"20e9d9d3-2dc6-47d3-a1bd-88e4e63e1db2","name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-12T08:59:20.114538Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 142.351959ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/20e9d9d3-2dc6-47d3-a1bd-88e4e63e1db2
        method: GET
      response:
        body: '{"data":{"id":"20e9d9d3-2dc6-47d3-a1bd-88e4e63e1db2","type":"deployment_gate","attributes":{"created_at":"2025-12-12T08:59:19.969063Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleDryRun-local-1765529958","service":"my-service","updated_at":"2025-12-12T08:59:19.969063Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 141.936125ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/20e9d9d3-2dc6-47d3-a1bd-88e4e63e1db2/rules
        method: GET
      response:
        body: '{"data":{"id":"20e9d9d3-2dc6-47d3-a1bd-88e4e63e1db2","type":"list_deployment_rules","attributes":{"rules":[{"id":"68163227-cb81-45f1-8c91-e7be9e7b1a36","name":"test_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-12T08:59:20.114538Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-12T08:59:20.114538Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"20e9d9d3-2dc6-47d3-a1bd-88e4e63e1db2","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 152.556417ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":true,"name":"test_rule","options":{"duration":1300}},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/20e9d9d3-2dc6-47d3-a1bd-88e4e63e1db2/rules/68163227-cb81-45f1-8c91-e7be9e7b1a36
        method: PUT
      response:
        body: '{"data":{"id":"68163227-cb81-45f1-8c91-e7be9e7b1a36","type":"deployment_rule","attributes":{"created_at":"2025-12-12T08:59:20.114538Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"gate_id":"20e9d9d3-2dc6-47d3-a1bd-88e4e63e1db2","name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-12T08:59:21.897621Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 142.648459ms
[...]
