---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"variables":[]},"message":"","name":"tf-TestAccDatadogSyntheticsMobileTest_MonitorOptions-local-1791472465","options":{"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_options":{"escalation_message":"","notification_preset_name":"hide_handles","renotify_interval":0},"tick_every":43200},"status":"paused","steps":[],"type":"mobile"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/mobile
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"6tp-ezj-93k","name":"tf-TestAccDatadogSyntheticsMobileTest_MonitorOptions-local-1791472465","status":"paused","type":"mobile","tags":[],"created_at":"2026-10-08T15:14:28.465323+00:00","modified_at":"2026-10-08T15:14:28.465323+00:00","config":{"variables":[]},"message":"","options":{"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_options":{"escalation_message":"","notification_preset_name":"hide_handles","renotify_interval":0,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"tick_every":43200,"bits_ai_auto_investigate":false},"locations":["aws:us-west-2"],"created_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":330060529,"org_id":321813,"modified_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"creation_source":"terraform","stepCount":{"assertions":0,"subtests":0,"total":0,"nested_steps":0}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 449.323125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/mobile/6tp-ezj-93k
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"6tp-ezj-93k","name":"tf-TestAccDatadogSyntheticsMobileTest_MonitorOptions-local-1791472465","status":"paused","type":"mobile","tags":[],"created_at":"2026-10-08T15:14:28.465323+00:00","modified_at":"2026-10-08T15:14:28.465323+00:00","config":{"variables":[]},"message":"","options":{"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_options":{"escalation_message":"","notification_preset_name":"hide_handles","renotify_interval":0,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"tick_every":43200,"bits_ai_auto_investigate":false},"locations":["aws:us-west-2"],"monitor_id":330060529,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"steps":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.573761834s
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/6tp-ezj-93k
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"6tp-ezj-93k","name":"tf-TestAccDatadogSyntheticsMobileTest_MonitorOptions-local-1791472465","status":"paused","type":"mobile","tags":[],"created_at":"2026-10-08T15:14:28.465323+00:00","modified_at":"2026-10-08T15:14:28.465323+00:00","config":{"variables":[]},"message":"","options":{"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_options":{"escalation_message":"","notification_preset_name":"hide_handles","renotify_interval":0,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"tick_every":43200,"bits_ai_auto_investigate":false},"locations":["aws:us-west-2"],"monitor_id":330060529,"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 250.198ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"variables":[]},"message":"","name":"tf-TestAccDatadogSyntheticsMobileTest_MonitorOptions-local-1791472465","options":{"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_options":{"escalation_message":"","notification_preset_name":"hide_query","renotify_interval":30,"renotify_occurrences":3},"tick_every":43200},"status":"paused","steps":[],"type":"mobile"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/mobile/6tp-ezj-93k
        method: PUT
      response:
            - chunked
        body: |
            {"org_id":321813,"public_id":"6tp-ezj-93k","name":"tf-TestAccDatadogSyntheticsMobileTest_MonitorOptions-local-1791472465","status":"paused","type":"mobile","tags":[],"message":"","options":{"device_ids":["synthetics:mobile:device:apple_iphone_14_plus_ios_16"],"mobileApplication":{"applicationId":"ab0e0aed-536d-411a-9a99-5428c27d8f8e","referenceId":"6115922a-5f5d-455e-bc7e-7955a57f3815","referenceType":"version"},"monitor_options":{"escalation_message":"","notification_preset_name":"hide_query","renotify_interval":30,"renotify_occurrences":3},"tick_every":43200,"bits_ai_auto_investigate":false},"locations":["aws:us-west-2"],"created_at":"2026-10-08T15:14:28.465323+00:00","modified_at":"2026-10-08T15:14:34.332405+00:00","config":{"variables":[]},"overall_state_modified":"1970-01-01T00:00:00+00:00","monitor_id":330060529,"created_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"modified_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"overall_state":2,"creation_source":"terraform","steps":[],"stepCount":{"assertions":0,"subtests":0,"total":0,"nested_steps":0}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 908.122417ms
[...]
    - id: 37
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["6tp-ezj-93k"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"6tp-ezj-93k","deleted_at":"2026-10-08T15:14:51.279462+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 760.744667ms
    - id: 38
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/6tp-ezj-93k
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 141.778916ms
