---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["http-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"auth_strategy":"none","decoding":"json","id":"http-source-1","type":"http_server","valid_tokens":[{"enabled":true,"field_to_add":{"key":"team","value":"observability"},"path_to_token":{"header":"X-Auth-Token"},"token_key":"HTTP_SERVER_TOKEN_PRIMARY"},{"enabled":true,"path_to_token":"path","token_key":"HTTP_SERVER_TOKEN_SECONDARY"}]}]},"name":"http-server-valid-tokens-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"1c5d8a7c-55e1-11f1-b3fe-da7ad0900002","type":"pipelines","attributes":{"name":"http-server-valid-tokens-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["http-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"auth_strategy":"none","decoding":"json","id":"http-source-1","type":"http_server","valid_tokens":[{"enabled":true,"field_to_add":{"key":"team","value":"observability"},"path_to_token":{"header":"X-Auth-Token"},"token_key":"HTTP_SERVER_TOKEN_PRIMARY"},{"enabled":true,"path_to_token":"path","token_key":"HTTP_SERVER_TOKEN_SECONDARY"}]}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 864.88125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/1c5d8a7c-55e1-11f1-b3fe-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"1c5d8a7c-55e1-11f1-b3fe-da7ad0900002","type":"pipelines","attributes":{"name":"http-server-valid-tokens-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["http-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"auth_strategy":"none","decoding":"json","id":"http-source-1","type":"http_server","valid_tokens":[{"enabled":true,"field_to_add":{"key":"team","value":"observability"},"path_to_token":{"header":"X-Auth-Token"},"token_key":"HTTP_SERVER_TOKEN_PRIMARY"},{"enabled":true,"path_to_token":"path","token_key":"HTTP_SERVER_TOKEN_SECONDARY"}]}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 246.003125ms
[...]
