---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2WildcardHistogram-local-1778266591","widgets":[{"definition":{"requests":[{"query":{"data_source":"metrics","name":"query1","query":"histogram:trace.Load{*}"},"request_type":"histogram","style":{"palette":"dog_classic"}}],"specification":{"contents":{"$schema":"https://vega.github.io/schema/vega-lite/v5.json","data":{"name":"query1"},"encoding":{"x":{"field":"bucket","title":"Latency bucket","type":"ordinal"},"y":{"field":"count","title":"Sample count","type":"quantitative"}},"mark":"bar"},"type":"vega-lite"},"title":"Latency distribution by endpoint","type":"wildcard"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"wkc-chc-cqs","title":"tf-TestAccDatadogDashboardV2WildcardHistogram-local-1778266591","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/wkc-chc-cqs/tf-testaccdatadogdashboardv2wildcardhistogram-local-1778266591","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"metrics","name":"query1","query":"histogram:trace.Load{*}"},"request_type":"histogram","style":{"palette":"dog_classic"}}],"specification":{"contents":{"$schema":"https://vega.github.io/schema/vega-lite/v5.json","data":{"name":"query1"},"encoding":{"x":{"field":"bucket","title":"Latency bucket","type":"ordinal"},"y":{"field":"count","title":"Sample count","type":"quantitative"}},"mark":"bar"},"type":"vega-lite"},"title":"Latency distribution by endpoint","type":"wildcard"},"id":8575453710049548}],"notify_list":[],"created_at":"2026-05-08T18:56:33.481115+00:00","modified_at":"2026-05-08T18:56:33.481115+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.503708ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/wkc-chc-cqs
        method: GET
      response:
            - chunked
        body: '{"id":"wkc-chc-cqs","title":"tf-TestAccDatadogDashboardV2WildcardHistogram-local-1778266591","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/wkc-chc-cqs/tf-testaccdatadogdashboardv2wildcardhistogram-local-1778266591","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"metrics","name":"query1","query":"histogram:trace.Load{*}"},"request_type":"histogram","style":{"palette":"dog_classic"}}],"specification":{"contents":{"$schema":"https://vega.github.io/schema/vega-lite/v5.json","data":{"name":"query1"},"encoding":{"x":{"field":"bucket","title":"Latency bucket","type":"ordinal"},"y":{"field":"count","title":"Sample count","type":"quantitative"}},"mark":"bar"},"type":"vega-lite"},"title":"Latency distribution by endpoint","type":"wildcard"},"id":8575453710049548}],"notify_list":[],"created_at":"2026-05-08T18:56:33.481115+00:00","modified_at":"2026-05-08T18:56:33.481115+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.295334ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/mpg-7pi-bg6
        method: GET
      response:
            - chunked
        body: '{"id":"mpg-7pi-bg6","title":"tf-TestAccDatadogDashboardV2WildcardHistogram_import-local-1778266591","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_typ[...]
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/wkc-chc-cqs
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"wkc-chc-cqs"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 409.142542ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/wkc-chc-cqs
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID wkc-chc-cqs not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 105.029917ms
