---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"app_service_plan_filters":"","automute":false,"client_id":"testc7f6-1234-5678-9101-3fcbf464test","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","container_app_filters":"","cspm_enabled":false,"custom_metrics_enabled":false,"host_filters":"foo:bar,buzz:lightyear","tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1717523646ee"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 431.293334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: GET
      response:
            - chunked
        body: |
            [{"tenant_name":"001b6212-5e9e-4cb1-bc9e-d551d5eecdc7","client_id":"001b6212-5e9e-4cb1-bc9e-d551d5eecdc7","container_app_filters":"key:value,filter:example","host_filters":"key:value,filter:example","app_service_plan_filters":"key:value,filter:example","automute":true,"cspm_enabled":true,"custom_metrics_enabled":true,"resource_collection_enabled":true,"metrics_config":{"excluded_resource_providers":[]},"errors":["Invalid credentials. Datadog could not authenticate with Azure."],"warnings":[]},{"tenant_name":"03ec22c4-9e1d-47c3-9bb4-b2c4b0bdb9ae","client_id":"03ec22c4-9e1d-47c3-9bb4-b2c4b0bdb9ae","container_app_filters":"key:value,filter:example","host_filters":"key:value,filter:example","app_service_plan_filters":"key:value,filter:example","automute":true,"cspm_enabled":true,"custom_metrics_enabled":true,"resource_collection_enabled":true,"metrics_config":{"excluded_resource_providers":[]},"errors":["Invalid credentials. Datadog could not authenticate with Azure."],"warnings":[]}[...]
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"app_service_plan_filters":"bar:baz,stinky:pete","automute":true,"client_id":"testc7f6-1234-5678-9101-3fcbf464test","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","container_app_filters":"bazinga:bazingo,woody:pride","cspm_enabled":true,"custom_metrics_enabled":true,"host_filters":"","new_client_id":"testc7f5-1234-5678-9101-3fcbf464test","new_tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1717523646ee","tenant_name":"aaaaaaaa-bbbb-cccc-dddd-1717523646ee"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: PUT
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.850167ms
[...]
