---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"http_client_uri_key":"DESTINATION_OTEL_HTTP_CLIENT_URI","id":"opentelemetry-metrics-1","inputs":["source-1"],"type":"opentelemetry"}],"pipeline_type":"metrics","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"opentelemetry-metrics-destination-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"90f27ce6-a31e-11f1-843e-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-metrics-destination-pipeline","config":{"destinations":[{"http_client_uri_key":"DESTINATION_OTEL_HTTP_CLIENT_URI","id":"opentelemetry-metrics-1","inputs":["source-1"],"type":"opentelemetry"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 879.322791ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/90f27ce6-a31e-11f1-843e-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"90f27ce6-a31e-11f1-843e-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-metrics-destination-pipeline","config":{"destinations":[{"http_client_uri_key":"DESTINATION_OTEL_HTTP_CLIENT_URI","id":"opentelemetry-metrics-1","inputs":["source-1"],"type":"opentelemetry"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 270.515958ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"buffer":{"max_size":1073741824,"type":"disk","when_full":"drop_newest"},"http_client_uri_key":"DESTINATION_OTEL_HTTP_CLIENT_URI","id":"opentelemetry-metrics-1","inputs":["source-1"],"tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/otel.crt","key_file":"/etc/ssl/private/otel.key"},"type":"opentelemetry"}],"pipeline_type":"metrics","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"opentelemetry-metrics-destination-pipeline"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/90f27ce6-a31e-11f1-843e-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"90f27ce6-a31e-11f1-843e-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-metrics-destination-pipeline","config":{"destinations":[{"buffer":{"max_size":1073741824,"type":"disk","when_full":"drop_newest"},"http_client_uri_key":"DESTINATION_OTEL_HTTP_CLIENT_URI","id":"opentelemetry-metrics-1","inputs":["source-1"],"tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/otel.crt","key_file":"/etc/ssl/private/otel.key"},"type":"opentelemetry"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 1.122527334s
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"buffer":{"max_events":10000,"type":"memory","when_full":"block"},"http_client_uri_key":"DESTINATION_OTEL_HTTP_CLIENT_URI","id":"opentelemetry-metrics-1","inputs":["source-1"],"type":"opentelemetry"}],"pipeline_type":"metrics","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"opentelemetry-metrics-destination-pipeline"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/90f27ce6-a31e-11f1-843e-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"90f27ce6-a31e-11f1-843e-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-metrics-destination-pipeline","config":{"destinations":[{"buffer":{"max_events":10000,"type":"memory","when_full":"block"},"http_client_uri_key":"DESTINATION_OTEL_HTTP_CLIENT_URI","id":"opentelemetry-metrics-1","inputs":["source-1"],"type":"opentelemetry"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 1.176394666s
[...]
