---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-3"],"type":"datadog_metrics"}],"pipeline_type":"metrics","sources":[{"id":"opentelemetry-source-3","tls":{"ca_file":"/etc/ssl/certs/old-ca.crt","crt_file":"/etc/ssl/certs/old.crt","key_file":"/etc/ssl/private/old.key"},"type":"opentelemetry"}]},"name":"opentelemetry-metrics-pipeline-update"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"95d8bb06-1e14-11f1-bd23-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-metrics-pipeline-update","config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-3"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"id":"opentelemetry-source-3","tls":{"ca_file":"/etc/ssl/certs/old-ca.crt","crt_file":"/etc/ssl/certs/old.crt","key_file":"/etc/ssl/private/old.key"},"type":"opentelemetry"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 456.840917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/95d8bb06-1e14-11f1-bd23-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"95d8bb06-1e14-11f1-bd23-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-metrics-pipeline-update","config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-3"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[],"processors":[],"sources":[{"id":"opentelemetry-source-3","tls":{"ca_file":"/etc/ssl/certs/old-ca.crt","crt_file":"/etc/ssl/certs/old.crt","key_file":"/etc/ssl/private/old.key"},"type":"opentelemetry"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 261.288666ms
[...]
