---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTreemap-local-1682003478","widgets":[{"definition":{"color_by":"user","requests":[{"formulas":[{"alias":"my ff query","formula":"my_query_1 + my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo:bar} by {env}"}],"response_format":"scalar"}],"type":"treemap"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"z85-yuj-a6r","title":"tf-TestAccDatadogDashboardTreemap-local-1682003478","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/z85-yuj-a6r/tf-testaccdatadogdashboardtreemap-local-1682003478","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"color_by":"user","requests":[{"formulas":[{"alias":"my ff query","formula":"my_query_1 + my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo:bar} by {env}"}],"response_format":"scalar"}],"type":"treemap"},"id":5545569966626535}],"notify_list":[],"created_at":"2023-04-20T15:11:20.123388+00:00","modified_at":"2023-04-20T15:11:20.123388+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/z85-yuj-a6r
    method: GET
  response:
    body: |
      {"id":"z85-yuj-a6r","title":"tf-TestAccDatadogDashboardTreemap-local-1682003478","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/z85-yuj-a6r/tf-testaccdatadogdashboardtreemap-local-1682003478","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"color_by":"user","requests":[{"formulas":[{"alias":"my ff query","formula":"my_query_1 + my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo:bar} by {env}"}],"response_format":"scalar"}],"type":"treemap"},"id":5545569966626535}],"notify_list":[],"created_at":"2023-04-20T15:11:20.123388+00:00","modified_at":"2023-04-20T15:11:20.123388+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/z85-yuj-a6r
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"z85-yuj-a6r"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/z85-yuj-a6r
    method: GET
  response:
    body: '{"errors":["Dashboard with ID z85-yuj-a6r not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
