---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"exclusion_filters":[],"filter":{"query":"project:sample"},"name":"tf-testaccdatadoglogsindexesorderdatasource-local-1758619447-sample"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs/config/indexes
        method: POST
      response:
            - chunked
        body: |
            {"name":"tf-testaccdatadoglogsindexesorderdatasource-local-1758619447-sample","filter":{"query":"project:sample"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"num_flex_logs_retention_days":0}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 330.276208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/index-order
        method: GET
      response:
            - chunked
        body: |
            {"index_names":["main","test-index","test-index-2","tf-testaccdatadoglogsindex-basic-local-1627305201","name","nonexistent","tf-testaccdatadoglogsindex-basic-local-1725992495","tf-testaccdatadoglogsindex-basic-local-1754932644","tf-testaccdatadoglogsindexesorderdatasource-local-1757636869-sample"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 681.158958ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindexesorderdatasource-local-1758619447-sample
        method: GET
      response:
            - chunked
        body: |
            {"name":"tf-testaccdatadoglogsindexesorderdatasource-local-1758619447-sample","filter":{"query":"project:sample"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"num_flex_logs_retention_days":0}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 755.478291ms
[...]
