---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardCrossOrg_import-local-1719955513","widgets":[{"definition":{"requests":[{"formulas":[{"alias":"sum query","formula":"my_query_1 + my_query_2","limit":{"count":5,"order":"asc"}},{"alias":"multiplicative query","formula":"my_query_1 * my_query_2","limit":{"count":7,"order":"desc"}}],"on_right_yaxis":false,"queries":[{"aggregator":"sum","cross_org_uuids":["6434abde-xxxx-yyyy-zzzz-da7ad0900001"],"data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{app:general} by {env}"},{"aggregator":"sum","cross_org_uuids":["6434abde-xxxx-yyyy-zzzz-da7ad0900001"],"data_source":"metrics","name":"my_query_2","query":"avg:system.cpu.user{app:general} by {env}"}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"}},{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"compute":{"aggregation":"count"},"cross_org_uuids":["6434abde-xxxx-yyyy-zzzz-da7ad0900001"],"data_source":"logs","group_by":[{"facet":"host","limit":10,"sort":{"aggregation":"avg","metric":"@lambda.max_memory_used","order":"desc"}}],"indexes":["days-3"],"name":"my_event_query","search":{"query":"abc"}}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"}},{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"cross_org_uuids":["6434abde-xxxx-yyyy-zzzz-da7ad0900001"],"data_source":"process","is_normalized_cpu":true,"limit":10,"metric":"process.stat.cpu.total_pct","name":"my_process_query","sort":"asc","tag_filters":["some_filter"],"text_filter":"abc"}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"}},{"definition":{"requests":[{"formulas":[{"alias":"my cloud cost query","formula":"query1"}],"on_right_yaxis":false,"queries":[{"aggregator":"sum","cross_org_uuids":["6434abde-xxxx-yyyy-zzzz-da7ad0900001"],"data_source":"cloud_cost","name":"query1","query":"sum:aws.cost.amortized{*}"}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"}},{"definition":{"requests":[{"formulas":[{"alias":"my slo query","formula":"query1"}],"on_right_yaxis":false,"queries":[{"cross_org_uuids":["6434abde-xxxx-yyyy-zzzz-da7ad0900001"],"data_source":"slo","group_mode":"overall","measure":"good_events","slo_id":"slo1","slo_query_type":"metric"}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"e8g-q3t-zxf","title":"tf-TestAccDatadogDashboardCrossOrg_import-local-1719955513","description":"Created using the Datadog provider in Terraform","author_handle":"ringo.cheung@datadoghq.com","author_name":"Ringo Cheung","layout_type":"ordered","url":"/dashboard/e8g-q3t-zxf/tf-testaccdatadogdashboardcrossorgimport-local-1719955513","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"alias":"sum query","formula":"my_query_1 + my_query_2","limit":{"count":5,"order":"asc"}},{"alias":"multiplicative query","formula":"my_query_1 * my_query_2","limit":{"count":7,"order":"desc"}}],"on_right_yaxis":false,"queries":[{"aggregator":"sum","cross_org_uuids":["6434ab[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/e8g-q3t-zxf
        method: GET
      response:
            - chunked
        body: |
            {"id":"e8g-q3t-zxf","title":"tf-TestAccDatadogDashboardCrossOrg_import-local-1719955513","description":"Created using the Datadog provider in Terraform","author_handle":"ringo.cheung@datadoghq.com","author_name":"Ringo Cheung","layout_t[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/e8g-q3t-zxf
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"e8g-q3t-zxf"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.695ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/e8g-q3t-zxf
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID e8g-q3t-zxf not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 75.667875ms
