---
version: 2
interactions:
    - id: 0
      request:
        host: ip-ranges.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://ip-ranges.datadoghq.com/
        method: GET
      response:
            - chunked
        body: |-
            {
              "version": 59,
              "modified": "2024-10-17T00:00:00",
              "agents": {
                "prefixes_ipv4": [
                  "3.233.144.0/20"
                ],
                "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
                ]
              },
              "api": {
                "prefixes_ipv4": [
                  "3.233.144.0/20"
                ],
                "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
                ]
              },
              "apm": {
                "prefixes_ipv4": [
                  "3.233.144.0/20"
                ],
                "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
                ]
              },
              "global": {
                "prefixes_ipv4": [
                  "3.233.144.0/20"
                ],
                "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
                ]
              },
              "logs": {
                "prefixes_ipv4": [
                  "3.233.144.0/20"
                ],
                "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
                ]
              },
              "orchestrator": {
                "prefixes_ipv4": [
                  "3.233.144.0/20"
                ],
                "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
                ]
              },
              "process": {
                "prefixes_ipv4": [
                  "3.233.144.0/20"
                ],
                "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
                ]
              },
              "remote-configuration": {
                "prefixes_ipv4": [
                  "3.233.144.0/20"
                ],
                "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
                ]
              },
              "synthetics": {
                "prefixes_ipv4": [
                  "3.1.36.99/32",
                  "3.1.219.207/32",
                  "3.18.172.189/32",
                  "3.18.188.104/32",
                  "3.18.197.0/32",
                  "3.35.66.96/32",
                  "3.36.177.119/32",
                  "3.92.150.182/32",
                  "3.96.7.126/32",
                  "3.120.223.25/32",
                  "3.121.24.234/32",
                  "13.48.150.244/32",
                  "13.48.23[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: '{"service_hooks":[{"account":"test_account","url":"https://ddog-client-test.slack.com/fake-account-hook"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/slack
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 206.8385ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"display":{"message":true,"mute_buttons":true,"notified":true,"snapshot":true,"tags":true},"name":"#tfTestAccDatadogIntegrationSlackChannelImportlocal1758618660"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/slack/configuration/accounts/test_account/channels
        method: POST
      response:
            - chunked
        body: |
            {"name":"#tfTestAccDatadogIntegrationSlackChannelImportlocal1758618660","display":{"message":true,"snapshot":true,"tags":true,"notified":true,"mute_buttons":true}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 201.087542ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/slack/configuration/accounts/test_account/channels/%23tfTestAccDatadogIntegrationSlackChannelImportlocal1758618660
        method: GET
      response:
            - chunked
        body: |
            {"name":"#tfTestAccDatadogIntegrationSlackChannelImportlocal1758618660","display":{"message":true,"snapshot":true,"tags":true,"notified":true,"mute_buttons":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 149.559084ms
[...]
