---
version: 2
interactions:
  - id: 0
    request:
      host: api.datadoghq.com
      body: |
        {"data":{"attributes":{"billing_account_id":"123456_ABCDEF_123456","bucket_name":"test-gcp-bucket","export_dataset_name":"billing","export_prefix":"datadog_cloud_cost_detailed_usage_export","export_project_name":"test-gcp-project","service_account":"test-service-account@test-project.iam.gserviceaccount.com"},"type":"gcp_uc_config_post_request"},"meta":{"setup_method":"terraform"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.datadoghq.com/api/v2/cost/gcp_uc_config
      method: POST
    response:
      body: '{"data":{"id":"616","type":"gcp_uc_config","attributes":{"account_id":"123456_ABCDEF_123456","bucket_name":"test-gcp-bucket","created_at":"2025-10-01T18:19:29.817870","dataset":"billing","error_messages":null,"export_prefix":"datadog_cloud_cost_detailed_usage_export","export_project_name":"test-gcp-project","months":15,"project_id":"","service_account":"test-service-account@test-project.iam.gserviceaccount.com","status":"active","status_updated_at":"2025-10-01T18:19:29.815319","updated_at":"2025-10-01T18:19:29.817870"}}}'
      headers:
        Content-Type:
          - application/vnd.api+json
      status: 200 OK
      code: 200
      duration: 16.933436834s
  - id: 1
    request:
      host: api.datadoghq.com
      body: ""
      form: {}
      headers:
      url: https://api.datadoghq.com/api/v2/cost/gcp_uc_config/616
      method: GET
    response:
      body: '{"data":{"id":"616","type":"gcp_uc_config","attributes":{"account_id":"123456_ABCDEF_123456","bucket_name":"test-gcp-bucket","created_at":"2025-10-01T18:19:29.817870","dataset":"billing","error_messages":null,"export_prefix":"datadog_cloud_cost_detailed_usage_export","export_project_name":"test-gcp-project","months":15,"project_id":"","service_account":"test-service-account@test-project.iam.gserviceaccount.com","status":"active","status_updated_at":"2025-10-01T18:19:29.815319","updated_at":"2025-10-01T18:19:29.817870"}}}'
      headers:
        Content-Type:
          - application/vnd.api+json
      status: 200 OK
      code: 200
      duration: 73.217667ms
[...]
