---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test rule description","enabled":true,"level":1,"name":"tf-TestAccDatadogScorecardRule_Import-local-1778787143","owner":"test-team","scope_query":"kind:service","scorecard_name":"tf-TestAccDatadogScorecardRule_Import-local-1778787143-scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scorecard/rules
        method: POST
      response:
        body: '{"data":{"id":"pb7r6te38wwly167","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Import-local-1778787143-scorecard","created_at":"2026-05-14T19:32:24.874771116Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-05-14T19:32:24.874771116Z","name":"tf-TestAccDatadogScorecardRule_Import-local-1778787143","owner":"test-team","scope_query":"kind:service","scorecard_name":"tf-TestAccDatadogScorecardRule_Import-local-1778787143-scorecard"},"relationships":{"policy_scope":{"data":{"id":"pb7r6te38wwly167","type":"policy-scope"}},"scope":{"data":{"id":"ae07a16e-1319-5e61-bdba-b3026bc2bdcd","type":"entity-scope"}},"scorecard":{"data":{"id":"eclzIrfC40-a","type":"scorecard"}}}},"included":[{"id":"pb7r6te38wwly167","type":"policy-scope","attributes":{"scopes":[{"kind":"service","query":"has_definition:\"true\""}]}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 478.437041ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=pb7r6te38wwly167&page%5Bsize%5D=1
        method: GET
      response:
        body: '{"data":[{"id":"pb7r6te38wwly167","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Import-local-1778787143-scorecard","created_at":"2026-05-14T19:32:24.874771Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-05-14T19:32:24.874771Z","name":"tf-TestAccDatadogScorecardRule_Import-local-1778787143","owner":"test-team","scope_query":"kind:service","scorecard_name":"tf-TestAccDatadogScorecardRule_Import-local-1778787143-scorecard"},"relationships":{"policy_scope":{"data":{"id":"pb7r6te38wwly167","type":"policy-scope"}},"scope":{"data":{"id":"ae07a16e-1319-5e61-bdba-b3026bc2bdcd","type":"entity-scope"}},"scorecard":{"data":{"id":"eclzIrfC40-a","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=pb7r6te38wwly167\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 47.095875ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules/pb7r6te38wwly167
        method: DELETE
      response:
        body: '{"data":{"id":"pb7r6te38wwly167","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRule_Import-local-1778787143-scorecard","created_at":"2026-05-14T19:32:24.874771Z","custom":true,"description":"Test rule description","enabled":true,"level":1,"modified_at":"2026-05-14T19:32:24.874771Z","name":"tf-TestAccDatadogScorecardRule_Import-local-1778787143","owner":"test-team","scope_query":"kind:service","scorecard_name":"tf-TestAccDatadogScorecardRule_Import-local-1778787143-scorecard"},"relationships":{"policy_scope":{"data":{"id":"pb7r6te38wwly167","type":"policy-scope"}},"scope":{"data":{"id":"ae07a16e-1319-5e61-bdba-b3026bc2bdcd","type":"entity-scope"}},"scorecard":{"data":{"id":"eclzIrfC40-a","type":"scorecard"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 844.30075ms
[...]
