---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardPowerpack-local-1767989287","widgets":[{"definition":{"background_color":"blue","banner_img":"https://imgix.datadoghq.com/img/about/presskit/logo-v/dd_vertical_white.png","powerpack_id":"3c3096da-7cec-11ee-9b6f-da7ad0900002","show_title":true,"template_variables":{"controlled_by_powerpack":[{"name":"var","prefix":"pre","values":["default","values","here"]}],"controlled_externally":[{"name":"test","prefix":"dc","values":["test"]}]},"title":"Powerpack Widget Test","type":"powerpack"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"84g-wia-a9v","title":"tf-TestAccDatadogDashboardPowerpack-local-1767989287","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/84g-wia-a9v/tf-testaccdatadogdashboardpowerpack-local-1767989287","template_variables":[],"widgets":[{"definition":{"background_color":"blue","banner_img":"https://imgix.datadoghq.com/img/about/presskit/logo-v/dd_vertical_white.png","powerpack_id":"3c3096da-7cec-11ee-9b6f-da7ad0900002","show_title":true,"template_variables":{"controlled_by_powerpack":[{"name":"var","prefix":"pre","values":["default","values","here"]}],"controlled_externally":[{"name":"test","prefix":"dc","values":["test"]}]},"title":"Powerpack Widget Test","type":"powerpack"},"id":8214442707851173}],"notify_list":[],"created_at":"2026-01-09T20:08:08.600814+00:00","modified_at":"2026-01-09T20:08:08.600814+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 385.166583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/84g-wia-a9v
        method: GET
      response:
            - chunked
        body: '{"id":"84g-wia-a9v","title":"tf-TestAccDatadogDashboardPowerpack-local-1767989287","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/84g-wia-a9v/tf-testaccdatadogdashboardpowerpack-local-1767989287","template_variables":[],"widgets":[{"definition":{"background_color":"blue","banner_img":"https://imgix.datadoghq.com/img/about/presskit/logo-v/dd_vertical_white.png","powerpack_id":"3c3096da-7cec-11ee-9b6f-da7ad0900002","show_title":true,"template_variables":{"controlled_by_powerpack":[{"name":"var","prefix":"pre","values":["default","values","here"]}],"controlled_externally":[{"name":"test","prefix":"dc","values":["test"]}]},"title":"Powerpack Widget Test","type":"powerpack"},"id":8214442707851173}],"notify_list":[],"created_at":"2026-01-09T20:08:08.600814+00:00","modified_at":"2026-01-09T20:08:08.600814+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.856459ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/84g-wia-a9v
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"84g-wia-a9v"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 473.756666ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/84g-wia-a9v
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID 84g-wia-a9v not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 90.459667ms
