---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsInboxRulesOrder_Drift-local-1789744802-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}},"type":"inbox_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules
        method: POST
      response:
        body: '{"data":{"id":"b886d5e5-5b30-43ff-a5ea-922a01b610eb","type":"inbox_rules","attributes":{"action":{},"created_at":1789744803446,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744803446,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRulesOrder_Drift-local-1789744802-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 270.018166ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"b886d5e5-5b30-43ff-a5ea-922a01b610eb","type":"inbox_rules"},{"id":"9edd832e-8ffb-43bb-a3e4-e28495ca491e","type":"inbox_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"inbox_rules","id":"b886d5e5-5b30-43ff-a5ea-922a01b610eb"},{"type":"inbox_rules","id":"9edd832e-8ffb-43bb-a3e4-e28495ca491e"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 245.105041ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/9edd832e-8ffb-43bb-a3e4-e28495ca491e
        method: GET
      response:
        body: '{"data":{"id":"9edd832e-8ffb-43bb-a3e4-e28495ca491e","type":"inbox_rules","attributes":{"action":{},"created_at":1789744803448,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744803448,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRulesOrder_Drift-local-1789744802-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 132.836625ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules
        method: GET
      response:
        body: '{"data":[{"id":"b886d5e5-5b30-43ff-a5ea-922a01b610eb","type":"inbox_rules","attributes":{"action":{},"created_at":1789744803446,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744803446,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRulesOrder_Drift-local-1789744802-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}},{"id":"9edd832e-8ffb-43bb-a3e4-e28495ca491e","type":"inbox_rules","attributes":{"action":{},"created_at":1789744803448,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744803448,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRulesOrder_Drift-local-1789744802-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}],"meta":{"page":{"total_filtered_count":2}},"links":{"first":"/api/v2/security/findings/automation/inbox_rules?page[size]=1000\u0026page[number]=0","last":"/api/v2/security/findings/automation/inbox_rules?page[size]=1000\u0026page[number]=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 247.819125ms
[...]
    - id: 23
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/b886d5e5-5b30-43ff-a5ea-922a01b610eb
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 173.277125ms
[...]
