---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","interval":{"days":1,"seconds":0},"members":[{}],"name":"Layer A","rotation_start":"2025-01-01T00:00:00Z"},{"effective_date":"2025-01-01T00:00:00Z","interval":{"days":2,"seconds":0},"members":[{}],"name":"Layer B","rotation_start":"2025-01-01T00:00:00Z"}],"name":"tf-testacconcallschedulelayeridswapnames-local-1777447498","time_zone":"UTC"},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"a2967322-070b-49df-bd0a-03ca77338451","type":"schedules","attributes":{"name":"tf-testacconcallschedulelayeridswapnames-local-1777447498","time_zone":"UTC"},"relationships":{"layers":{"data":[{"id":"2888f515-3a3a-49ec-bad2-4a322780ba03","type":"layers"},{"id":"2915dbec-3e5d-486f-90dc-73b1c7911592","type":"layers"}]},"teams":{"data":[]}}},"included":[{"id":"2888f515-3a3a-49ec-bad2-4a322780ba03","type":"layers","attributes":{"applied_rotation_start":"2025-01-01T00:00:00Z","effective_date":"2025-01-01T00:00:00Z","interval":{"days":1},"name":"Layer A","restrictions":[],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"2888f515-3a3a-49ec-bad2-4a322780ba03-member-1","type":"members"}]}}},{"id":"2915dbec-3e5d-486f-90dc-73b1c7911592","type":"layers","attributes":{"applied_rotation_start":"2025-01-01T00:00:00Z","effective_date":"2025-01-01T00:00:00Z","interval":{"days":2},"name":"Layer B","restrictions":[],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"2915dbec-3e5d-486f-90dc-73b1c7911592-member-1","type":"members"}]}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 390.506416ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/a2967322-070b-49df-bd0a-03ca77338451?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"a2967322-070b-49df-bd0a-03ca77338451","type":"schedules","attributes":{"name":"tf-testacconcallschedulelayeridswapnames-local-1777447498","time_zone":"UTC"},"relationships":{"layers":{"d[...]
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/a2967322-070b-49df-bd0a-03ca77338451
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 166.110791ms
