---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["metric-tags-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"metric-tags-1","include":"*","rules":[{"action":"include","include":"*","keys":["env","service","version"],"mode":"filter"}],"type":"metric_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"metrics pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"20c490d4-f20d-11f0-868e-da7ad0900002","type":"pipelines","attributes":{"name":"metrics pipeline","config":{"destinations":[{"id":"destination-1","inputs":["metric-tags-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"metric-tags-1","include":"*","rules":[{"action":"include","include":"*","keys":["env","service","version"],"mode":"filter"}],"type":"metric_tags"}]}],"processors":[{"enabled":true,"id":"metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"metric-tags-1","include":"*","rules":[{"action":"include","include":"*","keys":["env","service","version"],"mode":"filter"}],"type":"metric_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 429.195166ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/20c490d4-f20d-11f0-868e-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"20c490d4-f20d-11f0-868e-da7ad0900002","type":"pipelines","attributes":{"name":"metrics pipeline","config":{"destinations":[{"id":"destination-1","inputs":["metric-tags-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"metric-tags-1","include":"*","rules":[{"action":"include","include":"*","keys":["env","service","version"],"mode":"filter"}],"type":"metric_tags"}]}],"processors":[{"enabled":true,"id":"metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"metric-tags-1","include":"*","rules":[{"action":"include","include":"*","keys":["env","service","version"],"mode":"filter"}],"type":"metric_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 250.913083ms
[...]
