---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"category":"Scheduled Maintenance","description":"test correction with slo_query","end":1780622253,"slo_query":"env:prod service:checkout","start":1780611453,"timezone":"UTC"},"type":"correction"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/slo/correction
        method: POST
      response:
        body: |
            {"data":{"type":"correction","id":"d5ee306c-605a-11f1-924b-da7ad0902001","attributes":{"slo_id":null,"start":1780611453,"end":1780622253,"description":"test correction with slo_query","category":"Scheduled Maintenance","timezone":"UTC","created_at":null,"modified_at":null,"rrule":null,"duration":null,"slo_query":"env:prod service:checkout","creator":{"data":{"type":"users","id":"b3c4bfec-fd67-11ec-ac32-da7ad0900001","attributes":{"uuid":"b3c4bfec-fd67-11ec-ac32-da7ad0900001","handle":"blaise.vonohlen@datadoghq.com","email":"blaise.vonohlen@datadoghq.com","name":"Blaise von Ohlen","icon":"https://secure.gravatar.com/avatar/c78d8282d57321884e8f77172229634f?d=retro&s=48"}}},"modifier":null}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.7275ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/correction/d5ee306c-605a-11f1-924b-da7ad0902001
        method: GET
      response:
        body: |
            {"data":{"type":"correction","id":"d5ee306c-605a-11f1-924b-da7ad0902001","attributes":{"slo_id":null,"start":1780611453,"end":1780622253,"description":"test correction with slo_query","category":"Scheduled Maintenance","timezone":"UTC","created_at":1780607867,"modified_at":1780607867,"rrule":null,"duration":null,"slo_query":"env:prod service:checkout","creator":{"data":{"type":"users","id":"b3c4bfec-fd67-11ec-ac32-da7ad0900001","attributes":{"uuid":"b3c4bfec-fd67-11ec-ac32-da7ad0900001","handle":"blaise.vonohlen@datadoghq.com","email":"blaise.vonohlen@datadoghq.com","name":"Blaise von Ohlen","icon":"https://secure.gravatar.com/avatar/c78d8282d57321884e8f77172229634f?d=retro&s=48"}}},"modifier":null}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.134333ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/correction/d5ee306c-605a-11f1-924b-da7ad0902001
        method: GET
      response:
        body: '{"errors":["slo correction public id d5ee306c-605a-11f1-924b-da7ad0902001 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 120.163375ms
