---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSunburst_import-local-1647035892","widgets":[{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"}],"legend":{"hide_percent":false,"hide_value":true,"type":"automatic"},"requests":[{"formulas":[{"alias":"my ff query","formula":"my_query_1 + my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo:bar} by {env}"}],"response_format":"scalar"}],"type":"sunburst"}},{"definition":{"hide_total":true,"legend":{"type":"table"},"requests":[{"queries":[{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"query1","search":{"query":"abc"}}],"response_format":"scalar"}],"type":"sunburst"}},{"definition":{"layout_type":"ordered","show_title":true,"title":"tf-TestAccDatadogDashboardSunburst_import-local-1647035892","type":"group","widgets":[{"definition":{"hide_total":true,"legend":{"type":"table"},"requests":[{"queries":[{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"query1","search":{"query":"abc"}}],"response_format":"scalar"}],"type":"sunburst"}}]}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"886-c3a-yu4","title":"tf-TestAccDatadogDashboardSunburst_import-local-1647035892","url":"/dashboard/886-c3a-yu4/tf-testaccdatadogdashboardsunburstimport-local-1647035892","created_at":"2022-03-11T21:58:18.829635+00:00","modified_at":"2022-03-11T21:58:18.829635+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"formulas":[{"alias":"my ff query","formula":"my_query_1 + my_query_2"}],"response_format":"scalar","queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo:bar} by {env}"}]}],"custom_links":[{"link":"https://app.datadoghq.com/dashboard/lists","label":"Test Custom Link label"}],"type":"sunburst","legend":{"type":"automatic","hide_percent":false,"hide_value":true}},"id":2593805510952393},{"definition":{"requests":[{"response_format":"scalar","queries":[{"search":{"query":"abc"},"data_source":"rum","compute":{"aggregation":"count"},"name":"query1","indexes":["*"]}]}],"type":"sunburst","hide_total":true,"legend":{"type":"table"}},"id":815867511191393},{"definition":{"widgets":[{"definition":{"requests":[{"response_format":"scalar","queries":[{"search":{"query":"abc"},"data_source":"rum","compute":{"aggregation":"count"},"name":"query1","indexes":["*"]}]}],"type":"sunburst","hide_total":true,"legend":{"type":"table"}},"id":424727644735940}],"layout_type":"ordered","type":"group","show_title":true,"title":"tf-TestAccDatadogDashboardSunburst_import-local-1647035892"},"id":7879595639908335}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/886-c3a-yu4
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"886-c3a-yu4","title":"tf-TestAccDatadogDashboardSunburst_import-local-1647035892","url":"/dashboard/886-c3a-yu4/tf-testaccdatadogdashboardsunburstimport-local-164703[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/886-c3a-yu4
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"886-c3a-yu4"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/886-c3a-yu4
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID 886-c3a-yu4 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
