---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["datadog-tags-processor"],"type":"datadog_logs"}],"processors":[{"action":"include","id":"datadog-tags-processor","include":"service:my-service","inputs":["source-1"],"keys":["env","service","version"],"mode":"filter","type":"datadog_tags"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"datadog tags processor test"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"f2546ffc-985d-11f0-b35a-da7ad0900002","type":"pipelines","attributes":{"name":"datadog tags processor test","config":{"destinations":[{"id":"destination-1","inputs":["datadog-tags-processor"],"type":"datadog_logs"}],"processors":[{"action":"include","id":"datadog-tags-processor","include":"service:my-service","inputs":["source-1"],"keys":["env","service","version"],"mode":"filter","type":"datadog_tags"}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 428.930208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/f2546ffc-985d-11f0-b35a-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"f2546ffc-985d-11f0-b35a-da7ad0900002","type":"pipelines","attributes":{"name":"datadog tags processor test","config":{"destinations":[{"id":"destination-1","inputs":["datadog-tags-processor"],"type":"datadog_logs"}],"processors":[{"action":"include","id":"datadog-tags-processor","include":"service:my-service","inputs":["source-1"],"keys":["env","service","version"],"mode":"filter","type":"datadog_tags"}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.375042ms
[...]
