---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"account_id":"123456789012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionResource_AWS_AssumeRole-local-1739210743"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"176992c3-b66b-4f0f-a187-d3bb4deb68f0","type":"action_connection","attributes":{"integration":{"credentials":{"account_id":"123456789012","external_id":"899aaef9f03d4244a0a52df22e0f7dc1","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionResource_AWS_AssumeRole-local-1739210743"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 530.710245ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/176992c3-b66b-4f0f-a187-d3bb4deb68f0
        method: GET
      response:
        body: '{"data":{"id":"176992c3-b66b-4f0f-a187-d3bb4deb68f0","type":"action_connection","attributes":{"integration":{"credentials":{"account_id":"123456789012","external_id":"899aaef9f03d4244a0a52df22e0f7dc1","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionResource_AWS_AssumeRole-local-1739210743"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 83.644129ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/176992c3-b66b-4f0f-a187-d3bb4deb68f0
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 54.528478ms
