---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"exclusion_filters":[],"filter":{"query":"non-existent-tags-query"},"name":"tf-testaccdatadoglogsindex-defaulttags-local-1780385733","num_retention_days":15,"tags":["default_key:default_value","env:test","team:backend"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs/config/indexes
        method: POST
      response:
            - chunked
        body: |
            {"name":"tf-testaccdatadoglogsindex-defaulttags-local-1780385733","filter":{"query":"non-existent-tags-query"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"tags":["default_key:default_value","env:test","team:backend"],"num_flex_logs_retention_days":0}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 461.455125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindex-defaulttags-local-1780385733
        method: GET
      response:
            - chunked
        body: |
            {"name":"tf-testaccdatadoglogsindex-defaulttags-local-1780385733","filter":{"query":"non-existent-tags-query"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"tags":["default_key:default_value","env:test","team:backend"],"num_flex_logs_retention_days":0}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.206538791s
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"disable_daily_limit":true,"exclusion_filters":[],"filter":{"query":"non-existent-tags-query"},"num_retention_days":15,"tags":["env:test","team:backend"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindex-defaulttags-local-1780385733
        method: PUT
      response:
            - chunked
        body: |
            {"name":"tf-testaccdatadoglogsindex-defaulttags-local-1780385733","filter":{"query":"non-existent-tags-query"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"tags":["env:test","team:backend"],"num_flex_logs_retention_days":0}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.485542ms
[...]
