---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[]},"type":"grid"}],"connections":[{"id":"11111111-1111-1111-1111-111111111111","name":"A connection that will be overridden"}],"description":"Created using the Datadog provider in Terraform.","favorite":false,"id":"11111111-2222-3333-4444-555555555555","name":"tf-TestAccDatadogAppBuilderAppResource_Inline_WithOptionalFields-local-1742417484","queries":[{"events":[],"id":"22a65cea-b96f-44fa-a1e2-008885d7bd2e","name":"listTeams0","properties":{"spec":{"connectionId":"11111111-2222-3333-4444-555555555555","fqn":"com.datadoghq.dd.teams.listTeams","inputs":{}}},"type":"action"}],"rootInstanceName":"grid0","selfService":false,"tags":[]},"type":"appDefinitions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/app-builder/apps
        method: POST
      response:
        body: '{"data":{"id":"b26cfdeb-e29e-4eb9-aee5-fe712be162bf","type":"appDefinitions"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 215.161625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/b26cfdeb-e29e-4eb9-aee5-fe712be162bf/deployment
        method: POST
      response:
        body: '{"data":{"id":"d552dbda-dba9-4ff2-97f6-614d293fb871","type":"deployment","attributes":{"app_version_id":"b33f06c8-7979-4f94-a98d-8b757de3311b"},"meta":{"created_at":"2025-03-19T20:51:26.111227Z","user_id":1445416,"user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","user_name":"frog@datadoghq.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 211.975458ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/b26cfdeb-e29e-4eb9-aee5-fe712be162bf
        method: GET
      response:
        body: '{"data":{"id":"b26cfdeb-e29e-4eb9-aee5-fe712be162bf","type":"appDefinitions","attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[]},"type":"grid"}],"description":"Created using the Datadog provider in Terraform.","favorite":false,"name":"tf-TestAccDatadogAppBuilderAppResource_Inline_WithOptionalFields-local-1742417484","queries":[{"id":"22a65cea-b96f-44fa-a1e2-008885d7bd2e","name":"listTeams0","type":"action","properties":{"spec":{"connectionId":"11111111-2222-3333-4444-555555555555","fqn":"com.datadoghq.dd.teams.listTeams","inputs":{}}}}],"rootInstanceName":"grid0","selfService":false,"tags":[]},"relationships":{"deployment":{"data":{"id":"d552dbda-dba9-4ff2-97f6-614d293fb871","type":"deployment"},"meta":{"created_at":"2025-03-19T20:51:26.111227Z","user_id":1445416,"user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","user_name":"frog@datadoghq.com"}}},"meta":{"org_id":321813,"user_id":1445416,"user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","user_name":"frog@datadoghq.com","version":1,"updated_since_deployment":false,"created_at":"2025-03-19T20:51:25.885154Z","updated_at":"2025-03-19T20:51:25.885154Z","deleted_at":"0001-01-01T00:00:00Z"}},"included":[{"id":"d552dbda-dba9-4ff2-97f6-614d293fb871","type":"deployment","attributes":{"app_version_id":"b33f06c8-7979-4f94-a98d-8b757de3311b"},"meta":{"created_at":"2025-03-19T20:51:26.111227Z","user_id":1445416,"user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","user_name":"frog@datadoghq.com"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 93.69425ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/b26cfdeb-e29e-4eb9-aee5-fe712be162bf
        method: GET
      response:
        body: '{"errors":[{"title":"app not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 59.510459ms
