---
version: 1
interactions:
- request:
    body: |
      {"access_key_id":"5210251561015497","account_specific_namespace_rules":{},"cspm_resource_collection_enabled":false,"excluded_regions":[],"filter_tags":[],"host_tags":[],"metrics_collection_enabled":true,"resource_collection_enabled":false,"secret_access_key":"testacc-datadog-integration-secret"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: GET
  response:
    body: |
      {"accounts":[{"account_id":"661694029252","role_name":"DatadogAWSIntegrationRole","filter_tags":["testTag","test:Tag2"],"host_tags":["filter:one","filtertwo"],"account_specific_namespace_rules":{"opsworks":true},"excluded_regions":[],"metrics_collection_enabled":true,"errors":["Datadog is not authorized to perform action sts:AssumeRole\nAccount affected: 661694029252\nRegions affected: every region\nError was last seen 1m ago"],"cspm_resource_collection_enabled":false,"resource_collection_enabled":false},{"account_id":"614960922400","role_name":"java-createAWSAccountTest-local-1694229069-full","filter_tags":["dontCollect:java"],"host_tags":["javaTag:one","java:success"],"account_specific_namespace_rules":{"api_gateway":true},"excluded_regions":["us-east-1","us-west-1"],"metrics_collection_enabled":true,"errors":["Datadog is not authorized to perform action sts:AssumeRole\nAccount affected: 614960922400\nRegions affected: every region\nError was last seen 1m ago"],"cspm_resource_collection_enabled":false,"resource_collection_enabled":false},{"account_id":"123456789188","role_name":"DatadogAWSAcctRoleName","filter_tags":["filter:thisTag"],"host_tags":["env:staging","account:123456"],"account_specific_namespace_rules":{"api_gateway":true,"route53":false},"excluded_regions":[],"metrics_collection_enabled":true,"errors":["Datadog is not authorized to perform action sts:AssumeRole\nAccount affected: 123456789188\nRegions affected: every region\nError was last seen 1m ago"],"cspm_resource_collection_enabled":false,"resource_collection_enabled":false},{"access_key_id":"5210251561015497","filter_tags":[],"host_tags":[],"account_specific_namespace_rules":{},"excluded_regions":[],"metrics_collection_enabled":true,"errors":[],"cspm_resource_collection_enabled":false,"resource_collection_enabled":false}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"access_key_id":"5210251561015497","account_id":"521025156101","account_specific_namespace_rules":{"auto_scaling":false,"opsworks":true},"cspm_resource_collection_enabled":false,"excluded_regions":["us-east-1","us-west-2"],"filter_tags":["key:value"],"host_tags":["key:value","key2:value2"],"metrics_collection_enabled":true,"resource_collection_enabled":false,"secret_access_key":"testacc-datadog-integration-secret"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws?access_key_id=5210251561015497
    method: PUT
  response:
    body: |
      {}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
