---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"enabled":false,"filter":{"query":"error_code:123 service:my-service @duration:\u003e600ms"},"filter_type":"spans-sampling-processor","name":"tf-TestAccApmRetentionFilter-local-1720615300 - second","rate":0.1},"type":"apm_retention_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/apm/config/retention-filters
        method: POST
      response:
        body: |
            {"data":{"id":"dlpGWducS8K0tlxplwoA9A","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1720615300 - second","rate":0.1,"trace_rate":0.0,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 AND service:my\\-service AND @duration:>600000000"},"editable":true,"modified_by":"salah.bachircherif@datadoghq.com","modified_at":1720615303,"created_by":"salah.bachircherif@datadoghq.com","created_at":1720615303},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.095291ms
[...]
    - id: 2
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/apm/config/retention-filters/5kzu8KWESL6hHy10Xli37w
        method: GET
      response:
        body: |
            {"data":{"id":"5kzu8KWESL6hHy10Xli37w","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1720615300","rate":0.1,"trace_rate":0.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 AND service:my\\-service AND @duration:>600000000"},"editable":true,"modified_by":"salah.bachircherif@datadoghq.com","modified_at":1720615304,"created_by":"salah.bachircherif@datadoghq.com","created_at":1720615304},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.7685ms
    - id: 3
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/apm/config/retention-filters/dlpGWducS8K0tlxplwoA9A
        method: GET
      response:
        body: |
            {"data":{"id":"dlpGWducS8K0tlxplwoA9A","attributes":{"name":"tf-TestAccApmRetentionFilter-local-1720615300 - second","rate":0.1,"trace_rate":0.0,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:123 AND service:my\\-service AND @duration:>600000000"},"editable":true,"modified_by":"salah.bachircherif@datadoghq.com","modified_at":1720615303,"created_by":"salah.bachircherif@datadoghq.com","created_at":1720615303},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.023662s
[...]
    - id: 16
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/apm/config/retention-filters/5kzu8KWESL6hHy10Xli37w
        method: GET
      response:
        body: '{"errors":["retention filter with id: ''5kzu8KWESL6hHy10Xli37w'' not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 138.437ms
[...]
