---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1758619244@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"96221778-985e-11f0-9651-7220f0448ba8","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_existing-local-1758619244@example.com","created_at":"2025-09-23T09:20:46.165007+00:00","modified_at":"2025-09-23T09:20:46.165007+00:00","email":"tf-testaccdatadoguser_existing-local-1758619244@example.com","icon":"https://secure.gravatar.com/avatar/edb2157592b61c9f0eded7db0cbf1ece?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 625.105ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"96221778-985e-11f0-9651-7220f0448ba8","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"96b15d30-985e-11f0-9eef-da7ad0900002","attributes":{"uuid":"96b15d30-985e-11f0-9eef-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:20:47.103552+00:00","expires_at":"2025-09-25T09:20:46.473891+00:00"},"relationships":{"user":{"data":{"type":"users","id":"96221778-985e-11f0-9651-7220f0448ba8"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 975.204583ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/96221778-985e-11f0-9651-7220f0448ba8
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"96221778-985e-11f0-9651-7220f0448ba8","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_existing-local-1758619244@example.com","created_at":"2025-09-23T09:20:46.165007+00:00","modified_at":"2025-09-23T09:20:46.165007+00:00","email":"tf-testaccdatadoguser_existing-local-1758619244@example.com","icon":"https://secure.gravatar.com/avatar/edb2157592b61c9f0eded7db0cbf1ece?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.044709ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguser_existing-local-1758619244@example.com","name":"Other User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: '{"errors":["User tf-testaccdatadoguser_existing-local-1758619244@example.com already exists"]}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 227.994083ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguser_existing-local-1758619244%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"96221778-985e-11f0-9651-7220f0448ba8","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_existing-local-1758619244@example.com","created_at":"2025-09-23T09:20:46.165007+00:00","modified_at":"2025-09-23T09:20:49.135493+00:00","email":"tf-testaccdatadoguser_existing-local-1758619244@example.com","icon":"https://secure.gravatar.com/avatar/edb2157592b61c9f0eded7db0cbf1ece?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":["google_oidc","standard"],"status":"Disabled","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":170812,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 359.272583ms
[...]
