---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"end_month":202412,"entries":[{"amount":1000,"month":202401},{"amount":1000,"month":202402},{"amount":1000,"month":202403},{"amount":1000,"month":202404},{"amount":1000,"month":202405},{"amount":1000,"month":202406},{"amount":1000,"month":202407},{"amount":1000,"month":202408},{"amount":1000,"month":202409},{"amount":1000,"month":202410},{"amount":1000,"month":202411},{"amount":1000,"month":202412}],"metrics_query":"sum:aws.cost.amortized{*}","name":"tf-TestAccDatadogCostBudget_Update-local-1765804913","start_month":202401},"type":"budget"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/budget
        method: PUT
      response:
        body: '{"data":{"id":"ffa1c8a5-922b-46d8-bf97-9073665236ff","type":"budget","attributes":{"created_at":1765804915886,"created_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba","end_month":202412,"entries":[{"month":202401,"amount":1000,"tag_filters":[]},{"month":202402,"amount":1000,"tag_filters":[]},{"month":202403,"amount":1000,"tag_filters":[]},{"month":202404,"amount":1000,"tag_filters":[]},{"month":202405,"amount":1000,"tag_filters":[]},{"month":202406,"amount":1000,"tag_filters":[]},{"month":202407,"amount":1000,"tag_filters":[]},{"month":202408,"amount":1000,"tag_filters":[]},{"month":202409,"amount":1000,"tag_filters":[]},{"month":202410,"amount":1000,"tag_filters":[]},{"month":202411,"amount":1000,"tag_filters":[]},{"month":202412,"amount":1000,"tag_filters":[]}],"metrics_query":"sum:aws.cost.amortized{*}","name":"tf-TestAccDatadogCostBudget_Update-local-1765804913","org_id":321813,"start_month":202401,"total_amount":12000,"updated_at":1765804915886,"updated_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 142.158875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/ffa1c8a5-922b-46d8-bf97-9073665236ff
        method: GET
      response:
        body: '{"data":{"id":"ffa1c8a5-922b-46d8-bf97-9073665236ff","type":"budget","attributes":{"created_at":1765804915886,"created_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba","end_month":202412,"entries":[{"month":202401,"amount":1000,"tag_filters":[]},{"month":202402,"amount":1000,"tag_filters":[]},{"month":202403,"amount":1000,"tag_filters":[]},{"month":202404,"amount":1000,"tag_filters":[]},{"month":202405,"amount":1000,"tag_filters":[]},{"month":202406,"amount":1000,"tag_filters":[]},{"month":202407,"amount":1000,"tag_filters":[]},{"month":202408,"amount":1000,"tag_filters":[]},{"month":202409,"amount":1000,"tag_filters":[]},{"month":202410,"amount":1000,"tag_filters":[]},{"month":202411,"amount":1000,"tag_filters":[]},{"month":202412,"amount":1000,"tag_filters":[]}],"metrics_query":"sum:aws.cost.amortized{*}","name":"tf-TestAccDatadogCostBudget_Update-local-1765804913","org_id":321813,"start_month":202401,"total_amount":12000,"updated_at":1765804915886,"updated_by":"cb0fe8fe-673a-4678-8ff5-7936a9af21ba"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 149.341791ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/ffa1c8a5-922b-46d8-bf97-9073665236ff
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"rpc error: code = NotFound desc = budget not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 126.891334ms
