---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"aggregate filtered test","name":"tf-TestAccDatadogMonitor_AggregateFilteredQuery-local-1779459720","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":124},"variables":[{"base_query":{"data_source":"metrics","name":"query1","query":"avg:dd{*} by {org_id}.as_count()"},"data_source":"aggregate_filtered_query","filter_query":{"columns":[{"name":"org_id"},{"name":"name"}],"data_source":"reference_table","name":"filter_query","table_name":"test_table"},"filters":[{"base_attribute":"org_id","exclude":false,"filter_attribute":"org_id"}],"name":"query1"}]},"priority":null,"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") \u003e 124","restricted_roles":null,"tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.867833ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"aggregate filtered test","name":"tf-TestAccDatadogMonitor_AggregateFilteredQuery-local-1779459720","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":124},"variables":[{"base_query":{"data_source":"metrics","name":"query1","query":"avg:dd{*} by {org_id}.as_count()"},"data_source":"aggregate_filtered_query","filter_query":{"columns":[{"name":"org_id"},{"name":"name"}],"data_source":"reference_table","name":"filter_query","table_name":"test_table"},"filters":[{"base_attribute":"org_id","exclude":false,"filter_attribute":"org_id"}],"name":"query1"}]},"priority":null,"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") \u003e 124","restricted_roles":null,"tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":286120412,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_AggregateFilteredQuery-local-1779459720","message":"aggregate filtered test","tags":[],"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") > 124","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":124.0},"variables":[{"base_query":{"data_source":"metrics","name":"query1","query":"avg:dd{*} by {org_id}.as_count()"},"data_source":"aggregate_filtered_query","filter_query":{"columns":[{"name":"org_id"},{"name":"name"}],"data_source":"reference_table","name":"filter_query","table_name":"test_table"},"filters":[{"base_attribute":"org_id","exclude":false,"filter_attribute":"org_id"}],"name":"query1"}],"notify_audit":false,"silenced":{}},"multi":false,"created_at":1779459722000,"created":"2026-05-22T14:22:02.493497+00:00","modified":"2026-05-22T14:22:02.493497+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Kevin Pombo","handle":"kevin.pombo@datadoghq.com","email":"kevin.pombo@datadoghq.com","id":64038290}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 322.5085ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/286120412
        method: GET
      response:
            - chunked
        body: |
            {"id":286120412,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_AggregateFilteredQuery-local-1779459720","message":"aggregate filtered test","tags":[],"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") > 124","[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"aggregate filtered test","name":"tf-TestAccDatadogMonitor_AggregateFilteredQuery-local-1779459720","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":124},"variables":[{"base_query":{"data_source":"metrics","name":"query1","query":"avg:dd{*} by {org_id}.as_count()"},"data_source":"aggregate_filtered_query","filter_query":{"columns":[{"name":"org_id"},{"name":"name"}],"data_source":"reference_table","name":"filter_query","table_name":"test_table"},"filters":[{"base_attribute":"org_id","exclude":false,"filter_attribute":"org_id"}],"name":"query1"}]},"priority":null,"query":"formula(\"query1\").rollup(\"sum\").last(\"5m\") \u003e 124","restricted_roles":null,"tags":[],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/286120412/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.247792ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/286120412?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":286120412,"org_id":321813,"type":"metric alert","name":"tf-TestAccDatadogMonitor_AggregateFilteredQuery-local-1779459720","message":"aggregate filtered test","tags":[],"query":"formula(\"query1\").rollup(\"sum\").last[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/286120412
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":286120412}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.345ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/286120412
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 82.016541ms
