---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateWithRules-local-1765558955","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"a6108ff3-feaa-4612-83c9-80c5755b9cbb","type":"deployment_gate","attributes":{"created_at":"2025-12-12T17:02:37.449455Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateWithRules-local-1765558955","service":"my-service","updated_at":"2025-12-12T17:02:37.449455Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 234.974541ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"fdd_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/a6108ff3-feaa-4612-83c9-80c5755b9cbb/rules
        method: POST
      response:
        body: '{"data":{"id":"93b09698-b747-4fdc-bed5-559d8b450cdb","type":"deployment_rule","attributes":{"created_at":"2025-12-12T17:02:37.599958Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"a6108ff3-feaa-4612-83c9-80c5755b9cbb","name":"fdd_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-12T17:02:37.599958Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 151.20175ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":true,"name":"monitor_rule","options":{"duration":300,"query":"test_query"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/a6108ff3-feaa-4612-83c9-80c5755b9cbb/rules
        method: POST
      response:
        body: '{"data":{"id":"2306530e-623e-4d5b-9bf8-8e7754d68150","type":"deployment_rule","attributes":{"created_at":"2025-12-12T17:02:37.753897Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"gate_id":"a6108ff3-feaa-4612-83c9-80c5755b9cbb","name":"monitor_rule","options":{"query":"test_query","duration":300},"type":"monitor","updated_at":"2025-12-12T17:02:37.753897Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 144.633625ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/a6108ff3-feaa-4612-83c9-80c5755b9cbb
        method: GET
      response:
        body: '{"data":{"id":"a6108ff3-feaa-4612-83c9-80c5755b9cbb","type":"deployment_gate","attributes":{"created_at":"2025-12-12T17:02:37.449455Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateWithRules-local-1765558955","service":"my-service","updated_at":"2025-12-12T17:02:37.449455Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 166.914833ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/a6108ff3-feaa-4612-83c9-80c5755b9cbb/rules
        method: GET
      response:
        body: '{"data":{"id":"a6108ff3-feaa-4612-83c9-80c5755b9cbb","type":"list_deployment_rules","attributes":{"rules":[{"id":"93b09698-b747-4fdc-bed5-559d8b450cdb","name":"fdd_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-12T17:02:37.599958Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-12T17:02:37.599958Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"a6108ff3-feaa-4612-83c9-80c5755b9cbb","options":{"duration":1300}},{"id":"2306530e-623e-4d5b-9bf8-8e7754d68150","name":"monitor_rule","type":"monitor","dry_run":true,"created_at":"2025-12-12T17:02:37.753897Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-12T17:02:37.753897Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"a6108ff3-feaa-4612-83c9-80c5755b9cbb","options":{"query":"test_query","duration":300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 194.844167ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/a6108ff3-feaa-4612-83c9-80c5755b9cbb/rules/93b09698-b747-4fdc-bed5-559d8b450cdb
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 167.821292ms
[...]
