---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1662672665@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"0b2bb927-34ca-4a37-94b1-3e7fafbe376b","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_serviceaccountforcenew-local-1662672665@example.com","created_at":"2022-09-08T21:31:07.843397+00:00","modified_at":"2022-09-08T21:31:07.868314+00:00","email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1662672665@example.com","icon":"https://secure.gravatar.com/avatar/04015f5200de00bc36837a6d6cf3601d?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"1bad3654-997a-11ec-844f-da7ad0900002"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"0b2bb927-34ca-4a37-94b1-3e7fafbe376b","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"8da1d77c-2fbd-11ed-838b-da7ad0900002","attributes":{"uuid":"8da1d77c-2fbd-11ed-838b-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2022-09-08T21:31:08.986697+00:00","expires_at":"2022-10-08T21:31:08.900504+00:00"},"relationships":{"user":{"data":{"type":"users","id":"0b2bb927-34ca-4a37-94b1-3e7fafbe376b"}}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/0b2bb927-34ca-4a37-94b1-3e7fafbe376b
    method: GET
  response:
    body: |
      {"data":{"type":"users","id":"0b2bb927-34ca-4a37-94b1-3e7fafbe376b","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_serviceaccountforcenew-local-1662672665@example.com","created_at":"2022-09-08T21:31:07.843397+00:00","modified_at":"2022-09-08T21:31:07.868314+00:00","email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1662672665@example.com","icon":"https://secure.gravatar.com/avatar/04015f5200de00bc36837a6d6cf3601d?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"1bad3654-997a-11ec-844f-da7ad0900002"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1662672665@example.com","name":"Test User","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"294a5d75-f85f-4bda-9bf3-87ba705b3893","attributes":{"name":"Test User","handle":"294a5d75-f85f-4bda-9bf3-87ba705b3893","created_at":"2022-09-08T21:31:11.308597+00:00","modified_at":"2022-09-08T21:31:11.308597+00:00","email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1662672665@example.com","icon":"https://secure.gravatar.com/avatar/04015f5200de00bc36837a6d6cf3601d?s=48&d=retro","title":"","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"1bad3654-997a-11ec-844f-da7ad0900002"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1662672665@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: |
      {"errors":["User tf-testaccdatadoguser_serviceaccountforcenew-local-1662672665@example.com already exists"]}
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguser_serviceaccountforcenew-local-1662672665%40example.com
    method: GET
  response:
    body: |
      {"meta":{"page":{"total_filtered_count":2,"total_count":312}},"data":[{"type":"users","id":"294a5d75-f85f-4bda-9bf3-87ba705b3893","attributes":{"name":"Test User","handle":"294a5d75-f85f-4bda-9bf3-87ba705b3893","created_at":"2022-09-08T21:31:11.308597+00:00","modified_at":"2022-09-08T21:31:13.326919+00:00","email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1662672665@example.com","icon":"https://secure.gravatar.com/avatar/04015f5200de00bc36837a6d6cf3601d?s=48&d=retro","title":"","verified":true,"service_account":true,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"1bad3654-997a-11ec-844f-da7ad0900002"}}}},{"type":"users","id":"0b2bb927-34ca-4a37-94b1-3e7fafbe376b","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_serviceaccountforcenew-local-1662672665@example.com","created_at":"2022-09-08T21:31:07.843397+00:00","modified_at":"2022-09-08T21:31:10.998653+00:00","email":"tf-testaccdatadoguser_serviceaccountforcenew-local-1662672665@example.com","icon":"https://secure.gravatar.com/avatar/04015f5200de00bc36837a6d6cf3601d?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"1bad3654-997a-11ec-844f-da7ad0900002"}}}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
