---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=does_not_exist_tf-testaccdatadogserviceaccountdatasourceerror-local-1755174879%40example.com&page%5Bnumber%5D=0&page%5Bsize%5D=10
        method: GET
      response:
            - chunked
        body: |
            {"data":[],"meta":{"page":{"total_count":36,"total_filtered_count":0,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 481.778041ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1755174879@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"0d17c71b-790b-11f0-8ef8-6a020aa62ff8","attributes":{"name":null,"handle":"tf-testaccdatadogserviceaccountdatasourceerror-local-1755174879@example.com","created_at":"2025-08-14T12:34:41.974920+00:00","modified_at":"2025-08-14T12:34:41.974920+00:00","email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1755174879@example.com","icon":"https://secure.gravatar.com/avatar/b7ed17ed65956c146329d39002f31f29?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"a1391f74-eebe-11ef-a427-6a2b8e4c7763"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 677.267459ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"0d17c71b-790b-11f0-8ef8-6a020aa62ff8","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"0d912728-790b-11f0-8fc9-da7ad0900002","attributes":{"uuid":"0d912728-790b-11f0-8fc9-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-08-14T12:34:42.769909+00:00","expires_at":"2025-08-16T12:34:42.277469+00:00"},"relationships":{"user":{"data":{"type":"users","id":"0d17c71b-790b-11f0-8ef8-6a020aa62ff8"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 783.098834ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/0d17c71b-790b-11f0-8ef8-6a020aa62ff8
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"0d17c71b-790b-11f0-8ef8-6a020aa62ff8","attributes":{"name":null,"handle":"tf-testaccdatadogserviceaccountdatasourceerror-local-1755174879@example.com","created_at":"2025-08-14T12:34:41.974920+00:00","modified_at":"2025-08-14T12:34:41.974920+00:00","email":"tf-testaccdatadogserviceaccountdatasourceerror-local-1755174879@example.com","icon":"https://secure.gravatar.com/avatar/b7ed17ed65956c146329d39002f31f29?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"a1391f74-eebe-11ef-a427-6a2b8e4c7763"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.343875ms
[...]
