---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action_pattern":{"action_fqns":["*"],"integration":"INTEGRATION_REMOTE_ACTION"},"effect":"allow","name":"tf-TestAccDatadogActionExecutionPolicy_RemoteActionRshell-local-1787229677","scope":{"remote_action_rshell":{"rules":[{"access":"read_only","target_paths":["/tmp"]}]}}},"type":"execution_policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/execution-policies
        method: POST
      response:
        body: '{"data":{"id":"789cca65-bf9e-4315-a359-d8e527f0dd9c","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_REMOTE_ACTION","action_fqns":["*"]},"created_at":"2026-08-20T12:41:21Z","created_by":"d72ee86c-6207-4077-b40c-93fded100245","effect":"allow","name":"tf-TestAccDatadogActionExecutionPolicy_RemoteActionRshell-local-1787229677","scope":{"remote_action_rshell":{"rules":[{"target_paths":["/tmp"],"access":"read_only"}]}},"targets":[],"updated_at":"2026-08-20T12:41:21Z","updated_by":"d72ee86c-6207-4077-b40c-93fded100245","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 267.055334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/execution-policies/789cca65-bf9e-4315-a359-d8e527f0dd9c
        method: GET
      response:
        body: '{"data":{"id":"789cca65-bf9e-4315-a359-d8e527f0dd9c","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_REMOTE_ACTION","action_fqns":["*"]},"created_at":"2026-08-20T12:41:21Z","created_by":"d72ee86c-6207-4077-b40c-93fded100245","effect":"allow","name":"tf-TestAccDatadogActionExecutionPolicy_RemoteActionRshell-local-1787229677","scope":{"remote_action_rshell":{"rules":[{"target_paths":["/tmp"],"access":"read_only"}]}},"targets":[],"updated_at":"2026-08-20T12:41:21Z","updated_by":"d72ee86c-6207-4077-b40c-93fded100245","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 179.024333ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/execution-policies/789cca65-bf9e-4315-a359-d8e527f0dd9c
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting execution policy"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 165.513416ms
