---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"]},"type":"sensitive_data_scanner_group"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
    method: POST
  response:
    body: |
      {"data":{"id":"0YEActn-QjKdOxP59uN6tQ","attributes":{"name":"my group","is_enabled":true,"filter":{"query":"*"},"product_list":["logs"],"description":""},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":24685}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1677751548","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"]},"relationships":{"group":{"data":{"id":"0YEActn-QjKdOxP59uN6tQ","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
    method: POST
  response:
    body: |
      {"data":{"id":"3gYAEhASSuqfKeDN1Jj4Hg","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1677751548","namespaces":[],"excluded_namespaces":["username"],"pattern":"regex","text_replacement":{"type":"none"},"tags":["sensitive_data:true"],"is_enabled":true,"description":"a description"},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"0YEActn-QjKdOxP59uN6tQ","type":"sensitive_data_scanner_group"}}}},"meta":{"version":24686}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
    method: GET
  response:
    body: |
      {"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","attributes":{},"type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"FRGOAgK0QQexGtcNB4tFEA","type":"sensitive_data_scanner_group"},{"id":"AlBWHVPvSuWffOTr10RyTQ","type":"sensitive_data_scanner_group"},{"id":"VlMk-S9_Q920mKv7rorGtQ","type":"sensitive_data_scanner_group"},{"id":"0rHOKGvjQOyi6wESOdCmYw","type":"sensitive_data_scanner_group"},{"id":"YBa1RrNPRleAXU8c-P1SDg","type":"sensitive_data_scanner_group"},{"id":"adW1knynR9KF1XOA24JW2Q","type":"sensitive_data_scanner_group"},{"id":"e1A8IJyRQmKLCHVKHGJpHA","type":"sensitive_data_scanner_group"},{"id":"Dh4SdyFERFGYNx39QBoKuA","type":"sensitive_data_scanner_group"},{"id":"HpgMbF8wRjqku6ggd7s_6Q","type":"sensitive_data_scanner_group"},{"id":"tJoxttKcSFmJThkqwobVnw","type":"sensitive_data_scanner_group"},{"id":"cPob_u5DRauchMRN-sSVLA","type":"sensitive_data_scanner_group"},{"id":"IKNM0RQxTwqE3YNZ1Cb4NA","type":"sensitive_data_scanner_group"},{"id":"o8Rpopp7QDabKXzw8rpwGQ","type":"sensitive_data_scanner_group"},{"id":"0YEActn-QjKdOxP59uN6tQ","type":"sensitive_data_scanner_group"}]}}},"meta":{"version":24686,"count_limit":100,"group_count_limit":20,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true},"included":[{"id":"FRGOAgK0QQexGtcNB4tFEA","attributes":{"name":"Example-Update_Scanning_Group_returns_OK_response_1675112048","is_enabled":false,"filter":{"query":"*"},"product_list":["logs"]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},{"id":"AlBWHVPvSuWffOTr10RyTQ","attributes":{"name":"Example-Update_Scanning_Group_returns_OK_r[...]
[...]
- request:
    body: |
      {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my group","product_list":["logs"]},"id":"0YEActn-QjKdOxP59uN6tQ","type":"sensitive_data_scanner_group"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/0YEActn-QjKdOxP59uN6tQ
    method: PATCH
  response:
    body: |
      {"meta":{"version":24687}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1677751548","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"id":"3gYAEhASSuqfKeDN1Jj4Hg","type":"sensitive_data_scanner_rule"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/3gYAEhASSuqfKeDN1Jj4Hg
    method: PATCH
  response:
    body: |
      {"meta":{"version":24688}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/a3vYRHiOQ1ySXXLRaU4yXQ
    method: DELETE
  response:
    body: |
      {"meta":{"version":24692}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/Ulb93nR8Rxq0hbBRzwGBpQ
    method: DELETE
  response:
    body: |
      {"meta":{"version":24694}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
