---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","file_metadata":{"access_details":{"aws_detail":{"aws_account_id":"924305315327","aws_bucket_name":"dd-reference-tables-dev-staging","file_path":"test.csv"}},"sync_enabled":true},"schema":{"fields":[{"name":"a","type":"STRING"},{"name":"b","type":"STRING"}],"primary_keys":["a"]},"source":"S3","table_name":"tf_test_description_tf_testaccreferencetable_emptydescription_local_1788939308","tags":["test:terraform"]},"type":"reference_table"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/reference-tables/tables
        method: POST
      response:
        body: '{"data":{"id":"95aa6c15-a0d9-4e48-a1e1-125317e10293","type":"reference_table"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 807.396292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/reference-tables/tables?filter%5Btable_name%5D%5Bexact%5D=tf_test_description_tf_testaccreferencetable_emptydescription_local_1788939308
        method: GET
      response:
        body: '{"data":[{"id":"95aa6c15-a0d9-4e48-a1e1-125317e10293","type":"reference_table","attributes":{"created_by":"48e5159f-e308-11ef-bcfc-2666505bfd8f","description":"","file_metadata":{"error_row_count":0,"error_message":"","sync_enabled":true,"access_details":{"aws_detail":{"aws_account_id":"924305315327","aws_bucket_name":"dd-reference-tables-dev-staging","file_path":"test.csv"}}},"last_updated_by":"48e5159f-e308-11ef-bcfc-2666505bfd8f","row_count":0,"schema":{"primary_keys":["a"],"fields":[{"name":"a","type":"STRING"},{"name":"b","type":"STRING"}]},"source":"S3","status":"PROCESSING","table_name":"tf_test_description_tf_testaccreferencetable_emptydescription_local_1788939308","tags":["test:terraform"],"updated_at":"2026-09-09T07:35:12Z"}}],"meta":{"page":{"type":"offset_limit","offset":0,"limit":15,"total":1,"first_offset":0,"prev_offset":null,"next_offset":null,"last_offset":0}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 133.680833ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/reference-tables/tables/95aa6c15-a0d9-4e48-a1e1-125317e10293
        method: GET
      response:
        body: '{"data":{"id":"95aa6c15-a0d9-4e48-a1e1-125317e10293","type":"reference_table","attributes":{"created_by":"48e5159f-e308-11ef-bcfc-2666505bfd8f","description":"","file_metadata":{"error_row_count":0,"error_message":"","sync_enabled":true,"access_details":{"aws_detail":{"aws_account_id":"924305315327","aws_bucket_name":"dd-reference-tables-dev-staging","file_path":"test.csv"}}},"last_updated_by":"48e5159f-e308-11ef-bcfc-2666505bfd8f","row_count":0,"schema":{"primary_keys":["a"],"fields":[{"name":"a","type":"STRING"},{"name":"b","type":"STRING"}]},"source":"S3","status":"PROCESSING","table_name":"tf_test_description_tf_testaccreferencetable_emptydescription_local_1788939308","tags":["test:terraform"],"updated_at":"2026-09-09T07:35:12Z"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 143.463542ms
[...]
