---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779192205","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779192205"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"ea8f20f6-d1c1-4117-827d-bd99630a5945","type":"team","attributes":{"avatar":null,"banner":9,"created_at":"2026-05-19T12:03:27.816631+00:00","description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779192205","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-05-19T12:03:27.816631+00:00","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779192205","provisioned_by":"teams_terraform","summary":"Description","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/ea8f20f6-d1c1-4117-827d-bd99630a5945/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/ea8f20f6-d1c1-4117-827d-bd99630a5945/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 455.786667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallteamroutingrulescreateandupdate-local-1779192205@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"ceea405e-c8ad-4937-b18e-4d6419604ad0","attributes":{"uuid":"ceea405e-c8ad-4937-b18e-4d6419604ad0","name":null,"handle":"tf-testacconcallteamroutingrulescreateandupdate-local-1779192205@example.com","created_at":"2026-05-19T12:03:28.200539+00:00","modified_at":"2026-05-19T12:03:28.200539+00:00","email":"tf-testacconcallteamroutingrulescreateandupdate-local-1779192205@example.com","icon":"https://secure.gravatar.com/avatar/2788377e4d059fe08c4f2f67e96a5e1d?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 831.796083ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"ceea405e-c8ad-4937-b18e-4d6419604ad0","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"c14ad9ea-537a-11f1-9e8e-da7ad0900002","attributes":{"uuid":"c14ad9ea-537a-11f1-9e8e-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2026-05-19T12:03:31.921636+00:00","expires_at":"2026-05-21T12:03:31.853682+00:00"},"relationships":{"user":{"data":{"type":"users","id":"ceea405e-c8ad-4937-b18e-4d6419604ad0"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 3.740053208s
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"ceea405e-c8ad-4937-b18e-4d6419604ad0"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1779192205","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"ea8f20f6-d1c1-4117-827d-bd99630a5945","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"ef7b0645-1196-458b-a492-e450a4b2c1ee","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1779192205","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"e53da4a7-0eb6-4686-9e4b-74e83b7609af","type":"layers"}]},"teams":{"data":[{"id":"ea8f20f6-d1c1-4117-827d-bd99630a5945","type":"teams"}]}}},"included":[{"id":"e53da4a7-0eb6-4686-9e4b-74e83b7609af","type":"layers","attributes":{"applied_rotation_start":"2025-01-01T00:00:00Z","effective_date":"2025-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"e53da4a7-0eb6-4686-9e4b-74e83b7609af-member-1","type":"members"},{"id":"e53da4a7-0eb6-4686-9e4b-74e83b7609af-member-2","type":"members"}]}}},{"id":"e53da4a7-0eb6-4686-9e4b-74e83b7609af-member-1","type":"members","relationships":{"user":{"data":{"id":"ceea405e-c8ad-4937-b18e-4d6419604ad0","type":"users"}}}},{"id":"ceea405e-c8ad-4937-b18e-4d6419604ad0","type":"users","attributes":{"email":"tf-testacconcallteamroutingrulescreateandupdate-local-1779192205@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 164.448958ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testacconcallteamroutingrulescreateandupdate-local-1779192205","resolve_page_on_policy_end":true,"retries":3,"steps":[{"assignment":"round-robin","escalate_after_seconds":300,"targets":[{"id":"ea8f20f6-d1c1-4117-827d-bd99630a5945","type":"teams"},{"id":"ceea405e-c8ad-4937-b18e-4d6419604ad0","type":"users"},{"id":"ef7b0645-1196-458b-a492-e450a4b2c1ee","type":"schedules"}]}]},"type":"policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
        method: POST
      response:
        body: '{"data":{"id":"85bdc742-6cdc-48b6-a1b5-ddddf8c4dba7","type":"policies","attributes":{"name":"tf-testacconcallteamroutingrulescreateandupdate-local-1779192205","resolve_page_on_policy_end":true,"retries":3,"tags":[]},"relationships":{"steps":{"data":[{"id":"e3f800fa-a0cf-435b-903d-a90edabcf358","type":"steps"}]},"teams":{"data":[]}}},"included":[{"id":"e3f800fa-a0cf-435b-903d-a90edabcf358","type":"steps","attributes":{"assignment":"round-robin","escalate_after_seconds":300},"relationships":{"targets":{"data":[{"id":"ea8f20f6-d1c1-4117-827d-bd99630a5945","type":"teams"},{"id":"ceea405e-c8ad-4937-b18e-4d6419604ad0","type":"users"},{"id":"ef7b0645-1196-458b-a492-e450a4b2c1ee","type":"schedules"}]}}},{"id":"[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"rules":[{"actions":[{"handle":"oncall_cassette_workflow","type":"workflow"}],"query":"tags.service:test","time_restriction":{"restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"time_zone":"America/New_York"}},{"actions":[],"policy_id":"85bdc742-6cdc-48b6-a1b5-ddddf8c4dba7","query":"","urgency":"dynamic"}]},"id":"ea8f20f6-d1c1-4117-827d-bd99630a5945","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/ea8f20f6-d1c1-4117-827d-bd99630a5945/routing-rules?include=rules
        method: PUT
      response:
        body: '{"data":{"id":"ea8f20f6-d1c1-4117-827d-bd99630a5945","type":"team_routing_rules","relationships":{"rules":{"data":[{"id":"3a0c60c1-79f0-4918-8c42-d83ac3a3e5b3","type":"team_routing_rules"},{"id":"48b627e0-9943-4e60-bc94-a37cf8064669","type":"team_routing_rules"}]}}},"included":[{"id":"3a0c60c1-79f0-4918-8c42-d83ac3a3e5b3","type":"team_routing_rules","attributes":{"actions":[{"type":"workflow","handle":"oncall_cassette_workflow"}],"query":"tags.service:test","time_restriction":{"time_zone":"America/New_York","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}]}}},{"id":"48b627e0-9943-4e60-bc94-a37cf8064669","type":"team_routing_rules","attributes":{"actions":[],"query":"","urgency":"dynamic"},"relationships":{"policy":{"data":{"id":"85bdc742-6cdc-48b6-a1b5-ddddf8c4dba7","type":"policies"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 168.62ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/ea8f20f6-d1c1-4117-827d-bd99630a5945
        method: GET
      response:
        body: '{"data":{"id":"ea8f20f6-d1c1-4117-827d-bd99630a5945","type":"team","attributes":{"created_at":"2026-05-19T12:03:27.816631+00:00","description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779192205","is_managed":false,"link_count":0,"modified_at":"2026-05-19T12:03:27.816631+00:00","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779192205","provisioned_by":"teams_terraform","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/ea8f20f6-d1c1-4117-827d-bd99630a5945/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/ea8f20f6-d1c1-4117-827d-bd99630a5945/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 117.314417ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/ceea405e-c8ad-4937-b18e-4d6419604ad0
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"ceea405e-c8ad-4937-b18e-4d6419604ad0","attributes":{"uuid":"ceea405e-c8ad-4937-b18e-4d6419604ad0","name":null,"handle":"tf-testacconcallteamroutingrulescreateandupdate-local-1779192205@example.com","created_at":"2026-05-19T12:03:28.200539+00:00","modified_at":"2026-05-19T12:03:28.200539+00:00","email":"tf-testacconcallteamroutingrulescreateandupdate-local-1779192205@example.com","icon":"https://secure.gravatar.com/avatar/2788377e4d059fe08c4f2f67e96a5e1d?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"team_roles":{"data":[]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.366333ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/ef7b0645-1196-458b-a492-e450a4b2c1ee?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"ef7b0645-1196-458b-a492-e450a4b2c1ee","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1779192205","time_zon[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/85bdc742-6cdc-48b6-a1b5-ddddf8c4dba7?include=steps.targets
        method: GET
      response:
        body: '{"data":{"id":"85bdc742-6cdc-48b6-a1b5-ddddf8c4dba7","type":"policies","attributes":{"name":"tf-testacconcallteamroutingrulescreateandupdate-local-1779192205","resolve_page_on_policy_end":true,"retries":3,"[...]
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"ea8f20f6-d1c1-4117-827d-bd99630a5945","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/ea8f20f6-d1c1-4117-827d-bd99630a5945/routing-rules
        method: PUT
      response:
        body: '{"data":{"id":"ea8f20f6-d1c1-4117-827d-bd99630a5945","type":"team_routing_rules","relationships":{"rules":{"data":[]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 203.3105ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/85bdc742-6cdc-48b6-a1b5-ddddf8c4dba7
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 139.2615ms
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/ef7b0645-1196-458b-a492-e450a4b2c1ee
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 155.942583ms
[...]
