---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogSyntheticsBrowserTest_Updated-local-1682082596"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: |
      {"data":{"type":"roles","id":"d0d216cc-e045-11ed-94dd-da7ad0900002","attributes":{"name":"tf-TestAccDatadogSyntheticsBrowserTest_Updated-local-1682082596","created_at":"2023-04-21T13:09:57.914044+00:00","modified_at":"2023-04-21T13:09:57.948974+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"},{"type":"permissions","id":"f8e941cf-e746-11ec-b22d-da7ad0900002"},{"type":"permissions","id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002"}]}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles/d0d216cc-e045-11ed-94dd-da7ad0900002
    method: GET
  response:
    body: '{"errors":["d0d216cc-e045-11ed-94dd-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles/d0d216cc-e045-11ed-94dd-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"roles","id":"d0d216cc-e045-11ed-94dd-da7ad0900002","attributes":{"name":"tf-TestAccDatadogSyntheticsBrowserTest_Updated-local-1682082596","created_at":"2023-04-21T13:09:57.914044+00:00","modified_at":"2023-04-21T13:09:57.948974+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"},{"type":"permissions","id":"f8e941cf-e746-11ec-b22d-da7ad0900002"},{"type":"permissions","id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002"}]}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"config":{"assertions":[],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"}],"request":{"basicAuth":{"password":"password","type":"web","username":"username"},"body":"this is a body","certificateDomains":["https://datadoghq.com"],"headers":{},"method":"GET","proxy":{"headers":{},"url":"https://proxy.url"},"timeout":30,"url":"https://www.datadoghq.com"},"setCookie":"name=value","variables":[{"example":"597","name":"MY_PATTERN_VAR","pattern":"{{numeric(3)}}","type":"text"},{"example":"","name":"EMAIL_VAR","pattern":"","type":"email"}]},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsBrowserTest_Updated-local-1682082596","options":{"ci":{"executionRule":"blocking"},"device_ids":["laptop_large","mobile_small"],"disableCors":true,"disableCsp":true,"ignoreServerCertificateError":true,"initialNavigationTimeout":150,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsBrowserTest_Updated-local-1682082596-monitor","monitor_options":{"renotify_interval":120},"monitor_priority":5,"noScreenshot":true,"restricted_roles":["d0d216cc-e045-11ed-94dd-da7ad0900002"],"retry":{"count":2,"interval":300},"rumSettings":{"applicationId":"rum-app-id","clientTokenId":12345,"isEnabled":true},"tick_every":900},"status":"paused","steps":[{"allowFailure":true,"isCritical":true,"name":"first step","params":{"check":"contains","value":"content"},"timeout":0,"type":"assertCurrentUrl"}],"tags":["foo:bar","baz"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser
    method: POST
  response:
    body: |
      {"public_id":"vwg-v3u-avh","name":"tf-TestAccDatadogSyntheticsBrowserTest_Updated-local-1682082596","status":"paused","type":"browser","tags":["foo:bar","baz"],"created_at":"2023-04-21T13:09:59.092512+00:00","modified_at":"2023-04-21T13:09:59.092512+00:00","config":{"assertions":[],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"}],"request":{"basicAuth":{"password":"password","type":"web","username":"username"},"body":"this is a body","certificateDomains":["https://datadoghq.com"],"headers":{},"method":"GET","proxy":{"headers":{},"url":"https://proxy.url"},"timeout":30,"url":"https://www.datadoghq.com"},"setCookie":"name=value","variables":[{"example":"597","name":"MY_PATTERN_VAR","pattern":"{{numeric(3)}}","type":"text"},{"example":"","name":"EMAIL_VAR","pattern":"","type":"email"}]},"message":"Notify @datadog.user","options":{"ci":{"executionRule":"blocking"},"device_ids":["laptop_large","mobile_small"],"disableCors":true,"disableCsp":true,"ignoreServerCertificateError":true,"initialNavigationTimeout":150,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsBrowserTest_Updated-local-1682082596-monitor","monitor_options":{"renotify_interval":120,"on_missing_data":"show_no_data","notify_audit":false,"new_host_delay":300,"include_tags":true},"monitor_priority":5,"noScreenshot":true,"restricted_roles":["d0d216cc-e045-11ed-94dd-da7ad0900002"],"retry":{"count":2,"interval":300},"rumSettings":{"applicationId":"rum-app-id","clientTokenId":12345,"isEnabled":true},"tick_every":900},"locations":["aws:eu-central-1"],"deleted_at":null,"monitor_id":116987514,"org_id":569509,"steps":[{"name":"first step","params":{"check":"contains","value":"content"},"timeout":0,"type":"assertCurrentUrl","allowFailure":true,"isCritical":true}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser/vwg-v3u-avh
    method: GET
  response:
    body: |
      {"public_id":"vwg-v3u-avh","name":"tf-TestAccDatadogSyntheticsBrowserTest_Updated-local-1682082596","status":"paused","type":"browser","tags":["foo:bar","baz"],"created_at":"2023-04-21T13:09:59.092512+00:00","modified_at":"2023-04-21T13:09:59.092512+00:00","config":{"assertions":[],"configVariables":[{"example":"123","name"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/vwg-v3u-avh
    method: GET
  response:
    body: |
      {"public_id":"vwg-v3u-avh","name":"tf-TestAccDatadogSyntheticsBrowserTest_Updated-local-1682082596","status":"paused","type":"browser","tags":["foo:bar","baz"],"created_at":"2023-04-21T13:09:59.092512+00:00","modified_at":"2023-04-21T13:09:59.092512+00:00","config":{"assertions":[],"configVariables":[{"example":"123","name":"VARIAB[...]
[...]
- request:
    body: |
      {"config":{"assertions":[],"configVariables":[],"request":{"body":"this is an updated body","headers":{},"method":"PUT","timeout":60,"url":"https://docs.datadoghq.com"},"variables":[{"example":"5970","name":"MY_PATTERN_VAR","pattern":"{{numeric(4)}}","type":"text"}]},"locations":["aws:eu-central-1"],"message":"Notify @pagerduty","name":"tf-TestAccDatadogSyntheticsBrowserTest_Updated-local-1682082596-updated","options":{"ci":{"executionRule":"skipped"},"device_ids":["laptop_large","tablet"],"min_failure_duration":10,"min_location_failed":1,"monitor_options":{"renotify_interval":120},"retry":{"count":3,"interval":500},"rumSettings":{"isEnabled":false},"tick_every":1800},"status":"live","steps":[{"allowFailure":false,"isCritical":false,"name":"first step updated","params":{"check":"contains","value":"content"},"timeout":0,"type":"assertCurrentUrl"},{"allowFailure":false,"isCritical":false,"name":"press key step","params":{"modifiers":[],"value":"1"},"timeout":0,"type":"pressKey"}],"tags":["foo:bar","buz"],"type":"browser"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/browser/vwg-v3u-avh
    method: PUT
  response:
    body: |
      {"public_id":"vwg-v3u-avh","name":"tf-TestAccDatadogSyntheticsBrowserTest_Updated-local-1682082596-updated","status":"live","type":"browser","tags":["foo:bar","buz"],"created_at":"2023-04-21T13:09:59.092512+00:00"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/tests/vwg-v3u-avh
    method: GET
  response:
    body: |
      {"public_id":"vwg-v3u-avh","name":"tf-TestAccDatadogSyntheticsBrowserTest_Updated-local-1682082596-updated","status":"live","type":"browser","tags":["foo:bar","buz"],"created_at":"2023-04-21T13:09:59.092512+00:00","modified_at":"2023-04-21T13:10:02.456091+00:00","config":{"assertions":[],"configVariables":[],"request":{"body":"this is an updated body","headers":{},"method":"PUT","timeout":60,"url":"https://docs.datadoghq.com"},"variables":[{"example":"5970","name":"MY_PATTERN_VAR","pattern":"{{numeric(4)}}","type":"text"}]},"message":"Notify @pagerduty","options":{"ci":{"executionRule":"skipped"},"device_ids":["laptop_large","tablet"],"min_failure_duration":10,"min_location_failed":1,"monitor_options":{"renotify_interval":120},"retry":{"count":3,"interval":500},"rumSettings":{"isEnabled":false},"tick_every":1800},"locations":["aws:eu-central-1"],"monitor_id":116987514,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"public_ids":["vwg-v3u-avh"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
    method: POST
  response:
    body: |
      {"deleted_tests":[{"public_id":"vwg-v3u-avh","deleted_at":"2023-04-21T13:10:04.895512+00:00"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
