---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testaccmsteamsworkflowswebhookhandlesbasic-local-1739989848","url":"https://fake.url.com"},"type":"workflows-webhook-handle"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles
        method: POST
      response:
        body: '{"data":{"id":"bbeabb84-0fec-4af1-95cc-72f78795d8c9","type":"workflows-webhook-handle","attributes":{"name":"tf-testaccmsteamsworkflowswebhookhandlesbasic-local-1739989848"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 111.034333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/bbeabb84-0fec-4af1-95cc-72f78795d8c9
        method: GET
      response:
        body: '{"data":{"id":"bbeabb84-0fec-4af1-95cc-72f78795d8c9","type":"workflows-webhook-handle","attributes":{"name":"tf-testaccmsteamsworkflowswebhookhandlesbasic-local-1739989848"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 46.907208ms
[...]
