---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"end_month":202412,"entries":[{"amount":1000,"month":202401},{"amount":1000,"month":202402},{"amount":1000,"month":202403},{"amount":1000,"month":202404},{"amount":1000,"month":202405},{"amount":1000,"month":202406},{"amount":1000,"month":202407},{"amount":1000,"month":202408},{"amount":1000,"month":202409},{"amount":1000,"month":202410},{"amount":1000,"month":202411},{"amount":1000,"month":202412}],"metrics_query":"sum:aws.cost.amortized{*}","name":"tf-TestAccDatadogCostBudget_Basic-local-1748004837","start_month":202401},"type":"budget"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/budget
        method: PUT
      response:
        body: '{"data":{"id":"8ed32394-7b00-4088-a016-0d958c893a16","type":"budget","attributes":{"created_at":1748004839697,"created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","end_month":202412,"entries":[{"month":202401,"amount":1000,"tag_filters":[]},{"month":202402,"amount":1000,"tag_filters":[]},{"month":202403,"amount":1000,"tag_filters":[]},{"month":202404,"amount":1000,"tag_filters":[]},{"month":202405,"amount":1000,"tag_filters":[]},{"month":202406,"amount":1000,"tag_filters":[]},{"month":202407,"amount":1000,"tag_filters":[]},{"month":202408,"amount":1000,"tag_filters":[]},{"month":202409,"amount":1000,"tag_filters":[]},{"month":202410,"amount":1000,"tag_filters":[]},{"month":202411,"amount":1000,"tag_filters":[]},{"month":202412,"amount":1000,"tag_filters":[]}],"metrics_query":"sum:aws.cost.amortized{*}","name":"tf-TestAccDatadogCostBudget_Basic-local-1748004837","org_id":321813,"start_month":202401,"total_amount":12000,"updated_at":1748004839697,"updated_by":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 419.447125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/8ed32394-7b00-4088-a016-0d958c893a16
        method: GET
      response:
        body: '{"data":{"id":"8ed32394-7b00-4088-a016-0d958c893a16","type":"budget","attributes":{"created_at":1748004839697,"created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","end_month":202412,"entries":[{"month":202401,"amount":1000,"tag_filters":[]},{"month":202402,"amount":1000,"tag_filters":[]},{"month":202403,"amount":1000,"tag_filters":[]},{"month":202404,"amount":1000,"tag_filters":[]},{"month":202405,"amount":1000,"tag_filters":[]},{"month":202406,"amount":1000,"tag_filters":[]},{"month":202407,"amount":1000,"tag_filters":[]},{"month":202408,"amount":1000,"tag_filters":[]},{"month":202409,"amount":1000,"tag_filters":[]},{"month":202410,"amount":1000,"tag_filters":[]},{"month":202411,"amount":1000,"tag_filters":[]},{"month":202412,"amount":1000,"tag_filters":[]}],"metrics_query":"sum:aws.cost.amortized{*}","name":"tf-TestAccDatadogCostBudget_Basic-local-1748004837","org_id":321813,"start_month":202401,"total_amount":12000,"updated_at":1748004839697,"updated_by":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 126.898375ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/8ed32394-7b00-4088-a016-0d958c893a16
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 124.316417ms
