---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPoliciesDataSource_Basic-local-1776988438"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019dbcc3-c150-7937-88e6-fe1bc45923c0","type":"org_groups","attributes":{"created_at":"2026-04-23T23:53:58.864Z","modified_at":"2026-04-23T23:53:58.865998Z","name":"tf-TestAccDatadogOrgGroupPoliciesDataSource_Basic-local-1776988438","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 21.381263ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","policy_name":"is_dashboard_reports_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019dbcc3-c150-7937-88e6-fe1bc45923c0","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019dbcc3-c183-76e3-ab7c-b8e3d7687fe8","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-23T23:53:58.91653Z","policy_name":"is_dashboard_reports_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019dbcc3-c150-7937-88e6-fe1bc45923c0","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 49.475881ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies?filter%5Borg_group_id%5D=019dbcc3-c150-7937-88e6-fe1bc45923c0&filter%5Bpolicy_name%5D=is_widget_copy_paste_enabled&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019dbcc3-c183-73b1-b84e-c4788f6f1ed9","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-23T23:53:58.916286Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019dbcc3-c150-7937-88e6-fe1bc45923c0","type":"org_groups"}}}}],"meta":{"page":{"type":"number_size","number":0,"size":100,"total":1,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/org_group_policies?filter%5Borg_group_id%5D=019dbcc3-c150-7937-88e6-fe1bc45923c0\u0026filter%5Bpolicy_name%5D=is_widget_copy_paste_enabled\u0026page%5Bnumber%5D=0\u0026page%5Bsize%5D=100","first":"https://api.datadoghq.com/api/v2/org_group_policies?filter[org_group_id]=019dbcc3-c150-7937-88e6-fe1bc45923c0\u0026filter[policy_name]=is_widget_copy_paste_enabled\u0026page[number]=0\u0026page[size]=100","last":"https://api.datadoghq.com/api/v2/org_group_policies?filter[org_group_id]=019dbcc3-c150-7937-88e6-fe1bc45923c0\u0026filter[policy_name]=is_widget_copy_paste_enabled\u0026page[number]=0\u0026page[size]=100"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 28.931789ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies?filter%5Borg_group_id%5D=019dbcc3-c150-7937-88e6-fe1bc45923c0&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019dbcc3-c183-73b1-b84e-c4788f6f1ed9","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"202[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019dbcc3-c150-7937-88e6-fe1bc45923c0
        method: GET
      response:
        body: '{"data":{"id":"019dbcc3-c150-7937-88e6-fe1bc45923c0","type":"org_groups","attributes":{"created_at":"2026-04-23T23:53:58.864Z","modified_at":"2026-04-23T23:53:58.865998Z","name":"tf-TestAccDatadogOrgGroupPoliciesDataSource_Basic-local-1776988438","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 28.614096ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019dbcc3-c183-73b1-b84e-c4788f6f1ed9
        method: GET
      response:
        body: '{"data":{"id":"019dbcc3-c183-73b1-b84e-c4788f6f1ed9","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"DEFAULT","modified_at":"2026-04-23T23:53:58.916286Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019dbcc3-c150-7937-88e6-fe1bc45923c0","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 56.445784ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019dbcc3-c183-76e3-ab7c-b8e3d7687fe8
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"policy 019dbcc3-c183-76e3-ab7c-b8e3d7687fe8 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 28.60564ms
[...]
