---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"restriction_query":"service:test-tf-TestAccDatadogLogsRestrictionQuery_Basic-local-1764702064"},"type":"logs_restriction_queries"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"logs_restriction_queries","id":"4181f0e2-cfb1-11f0-9f33-da7ad0900002","attributes":{"restriction_query":"service:test-tf-TestAccDatadogLogsRestrictionQuery_Basic-local-1764702064","created_at":"2025-12-02T19:01:06.367975+00:00","modified_at":"2025-12-02T19:01:06.367975+00:00"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.706333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/4181f0e2-cfb1-11f0-9f33-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"logs_restriction_queries","id":"4181f0e2-cfb1-11f0-9f33-da7ad0900002","attributes":{"restriction_query":"service:test-tf-TestAccDatadogLogsRestrictionQuery_Basic-local-1764702064","created_at":"2025-12-02T19:01:06.367975+00:00","modified_at":"2025-12-02T19:01:06.367975+00:00"},"relationships":{"roles":{"data":[]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.811541ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/4181f0e2-cfb1-11f0-9f33-da7ad0900002
        method: GET
      response:
            - chunked
        body: '{"errors":["Restriction query not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 53.253625ms
