---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["pg-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"pg-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"file":{"encoding":{"delimiter":",","includes_headers":true,"type":"csv"},"key":[{"column":"user_id","comparison":"equals","field":"log.user.id"}],"path":"/etc/enrichment/lookup.csv","schema":[]},"id":"csv-enrichment","include":"*","target":"log.enrichment","type":"enrichment_table"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"enrichment-field-lookup-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"fcad8514-34b7-11f1-b52d-da7ad0900002","type":"pipelines","attributes":{"name":"enrichment-field-lookup-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["pg-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"pg-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"file":{"encoding":{"delimiter":",","includes_headers":true,"type":"csv"},"key":[{"column":"user_id","comparison":"equals","field":"log.user.id"}],"path":"/etc/enrichment/lookup.csv","schema":[]},"id":"csv-enrichment","include":"*","target":"log.enrichment","type":"enrichment_table"}]}],"processors":[{"enabled":true,"id":"pg-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"file":{"encoding":{"delimiter":",","includes_headers":true,"type":"csv"},"key":[{"column":"user_id","comparison":"equals","field":"log.user.id"}],"path":"/etc/enrichment/lookup.csv","schema":[]},"id":"csv-enrichment","include":"*","target":"log.enrichment","type":"enrichment_table"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 596.123042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/fcad8514-34b7-11f1-b52d-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"fcad8514-34b7-11f1-b52d-da7ad0900002","type":"pipelines","attributes":{"name":"enrichment-field-lookup-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["pg-1"],"type":"datadog_logs"}],"[...]
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["pg-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"pg-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"file":{"encoding":{"delimiter":",","includes_headers":true,"type":"csv"},"key":[{"column":"user_id","comparison":"equals","field":{"secret":"LOOKUP_KEY_SECRET"}}],"path":"/etc/enrichment/lookup.csv","schema":[]},"id":"csv-enrichment","include":"*","target":"log.enrichment","type":"enrichment_table"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"enrichment-field-lookup-pipeline"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/fcad8514-34b7-11f1-b52d-da7ad0900002
        [...]
[...]
