---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogusersdatasourcestatusfilter-local-17031721920@example.com","name":"user 0"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"dd1c5b4d-a014-11ee-aa66-9e9e98795f4e","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcestatusfilter-local-17031721920@example.com","created_at":"2023-12-21T15:23:16.447754+00:00","modified_at":"2023-12-21T15:23:16.447754+00:00","email":"tf-testaccdatadogusersdatasourcestatusfilter-local-17031721920@example.com","icon":"https://secure.gravatar.com/avatar/befd2777a048a6361c4f9bbaa22c9feb?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 562.239083ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"dd20abf2-a014-11ee-aa66-9e9e98795f4e","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"dd4958b8-a014-11ee-ba81-da7ad0900002","attributes":{"uuid":"dd4958b8-a014-11ee-ba81-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2023-12-21T15:23:16.741806+00:00","expires_at":"2023-12-23T15:23:16.639552+00:00"},"relationships":{"user":{"data":{"type":"users","id":"dd20abf2-a014-11ee-aa66-9e9e98795f4e"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 262.654834ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=user+0&filter%5Bstatus%5D=Pending&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"d067c10e-9ff5-11ee-984c-a64f775a818e","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcebasic-local-17031588580@example.com","created_at":"2023-12-21T11:41:00.732878+00:00","modified_at":"2023-12-21T11:41:00.732878+00:00","email":"tf-testaccdatadogusersdatasourcebasic-local-17031588580@example.com","icon":"https://secure.gravatar.com/avatar/1703a2c2bf09c3f741d91cd3aa92ac44?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},{"type":"users","id":"a3816bd3-a009-11ee-8a9c-6ea47261c204","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcefilter-local-17031673710@example.com","created_at":"2023-12-21T14:02:55.338211+00:00","modified_at":"2023-12-21T14:02:55.338211+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17031673710@example.com","icon":"https://secure.gravatar.c[...]
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/dd20abf2-a014-11ee-aa66-9e9e98795f4e
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"dd20abf2-a014-11ee-aa66-9e9e98795f4e","attributes":{"name":"user 1","handle":"tf-testaccdatadogusersdatasourcestatusfilter-local-17031721921@example.com","created_at":"2023-12-21T15:23:16.476031+00:00","modified_at":"2023-12-21T15:23:16.476031+00:00","email":"tf-testaccdatadogusersdatasourcestatusfilter-local-17031721921@example.com","icon":"https://secure.gravatar.com/avatar/e1be342d44468e327d1d54a203ad78fd?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.772625ms
[...]
