---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardStyle_import-local-1673370638","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query","style":{"palette":"warm","palette_index":2}}],"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query","query":"avg:system.cpu.user{app:general} by {env}"}],"response_format":"timeseries"}],"show_legend":false,"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"f39-znq-6jj","title":"tf-TestAccDatadogDashboardStyle_import-local-1673370638","url":"/dashboard/f39-znq-6jj/tf-testaccdatadogdashboardstyleimport-local-1673370638","created_at":"2023-01-10T17:10:39.911391+00:00","modified_at":"2023-01-10T17:10:39.911391+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query","style":{"palette_index":2,"palette":"warm"}}],"queries":[{"query":"avg:system.cpu.user{app:general} by {env}","data_source":"metrics","name":"query"}],"response_format":"timeseries","on_right_yaxis":false}],"type":"timeseries","show_legend":false},"id":8354678344381739}],"layout_type":"ordered"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/f39-znq-6jj
    method: GET
  response:
    body: |
      {"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"f39-znq-6jj","title":"tf-TestAccDatadogDashboardStyle_import-local-1673370638","url":"/dashboard/f39-znq-6jj/tf-testaccdatadogdashboardstyleimport-local-1673370638","created_at":"2023-01-10T17:10:39.911391+00:00","modified_at":"2023-01-10T17:10:39.911391+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query","style":{"palette_index":2,"palette":"warm"}}],"queries":[{"query":"avg:system.cpu.user{app:general} by {env}","data_source":"metrics","name":"query"}],"response_format":"timeseries","on_right_yaxis":false}],"type":"timeseries","show_legend":false},"id":8354678344381739}],"layout_type":"ordered"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/f39-znq-6jj
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"f39-znq-6jj"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/f39-znq-6jj
    method: GET
  response:
    body: '{"errors":["Dashboard with ID f39-znq-6jj not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
