---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":["@1","@2"]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":["@3"]}],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTabUpdate-local-1773928928","widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
        body: '{"id":"hrq-iez-i9i","title":"tf-TestAccDatadogDashboardTabUpdate-local-1773928928","description":"Created using the Datadog provider in Terraform","author_handle":"40d8f8bd-9573-11f0-ad48-6a6a7ae62a4c","author_name":"Bruce Service Account Admin","layout_type":"ordered","url":"/dashboard/hrq-iez-i9i/tf-testaccdatadogdashboardtabupdate-local-1773928928","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":3949303297001066},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":3050489874198964},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":8259572676031658}],"notify_list":[],"created_at":"2026-03-19T14:02:20.006451+00:00","modified_at":"2026-03-19T14:02:20.006451+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[3949303297001066,3050489874198964]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[8259572676031658]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 356.634084ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/hrq-iez-i9i
        method: GET
      response:
        body: '{"id":"hrq-iez-i9i","title":"tf-TestAccDatadogDashboardTabUpdate-local-1773928928","description":"Created using the Datadog provider in Terraform","author_handle":"40d8f8bd-9573-11f0-ad48-6a6a7ae62a4c","author_name":"Bruce Service Account Admin","layout_type":"ordered","url":"/dashboard/hrq-iez-i9i/tf-testaccdatadogdashboardtabupdate-local-1773928928","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":3949303297001066},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":3050489874198964},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":8259572676031658}],"notify_list":[],"created_at":"2026-03-19T14:02:20.006451+00:00","modified_at":"2026-03-19T14:02:20.006451+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[3949303297001066,3050489874198964]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[8259572676031658]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.431416ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/hrq-iez-i9i
        method: DELETE
      response:
        body: '{"deleted_dashboard_id":"hrq-iez-i9i"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 711.730459ms
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/hrq-iez-i9i
        method: GET
      response:
        body: '{"errors":["Dashboard with ID hrq-iez-i9i not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 163.359708ms
