---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardScatterplotFormula_import-local-1637072437","widgets":[{"definition":{"requests":{"table":{"formulas":[{"dimension":"x","formula":"my_query_1"},{"alias":"second_query","dimension":"color","formula":"my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo} by {env}"},{"aggregator":"sum","data_source":"metrics","name":"my_query_2","query":"avg:system.cpu.idle{bar} by {env}"}],"response_format":"scalar"}},"type":"scatterplot"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":"Hippolyte Henry","template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"nex-qrm-cks","title":"tf-TestAccDatadogDashboardScatterplotFormula_import-local-1637072437","url":"/dashboard/nex-qrm-cks/tf-testaccdatadogdashboardscatterplotformulaimport-local-1637072437","created_at":"2021-11-16T14:20:40.574669+00:00","modified_at":"2021-11-16T14:20:40.574669+00:00","author_handle":"hippolyte.henry@datadoghq.com","widgets":[{"definition":{"requests":{"table":{"formulas":[{"formula":"my_query_1","dimension":"x"},{"alias":"second_query","dimension":"color","formula":"my_query_2"}],"response_format":"scalar","queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo} by {env}"},{"aggregator":"sum","data_source":"metrics","name":"my_query_2","query":"avg:system.cpu.idle{bar} by {env}"}]}},"type":"scatterplot"},"id":7782222407199988}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/nex-qrm-cks
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":"Hippolyte Henry","template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"nex-qrm-cks","title":"tf-TestAccDatadogDashboardScatterplotFormula_import-local-1637072437","url":"/dashboard/nex-qrm-cks/tf-testaccdatadogdashboardscatterplotformulaimport-local-1637072437","created_at":"2021-11-16T14:20:40.574669+00:00","modified_at":"2021-11-16T14:20:40.574669+00:00","author_handle":"hippolyte.henry@datadoghq.com","widgets":[{"definition":{"requests":{"table":{"formulas":[{"formula":"my_query_1","dimension":"x"},{"alias":"second_query","dimension":"color","formula":"my_query_2"}],"response_format":"scalar","queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo} by {env}"},{"aggregator":"sum","data_source":"metrics","name":"my_query_2","query":"avg:system.cpu.idle{bar} by {env}"}]}},"type":"scatterplot"},"id":7782222407199988}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/nex-qrm-cks
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"nex-qrm-cks"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/nex-qrm-cks
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID nex-qrm-cks not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
