version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1682003489","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"8v6-r9y-g24","title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1682003489","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/8v6-r9y-g24/tf-testaccdatadogdashboardrbacupdatetorbac-local-1682003489","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":5960911658410696}],"notify_list":[],"created_at":"2023-04-20T15:11:30.755620+00:00","modified_at":"2023-04-20T15:11:30.755620+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/8v6-r9y-g24
    method: GET
    id: 1
  response:
    body: |
      {"id":"8v6-r9y-g24","title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1682003489","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/8v6-r9y-g24/tf-testaccdatadogdashboardrbacupdatetorbac-local-1682003489","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":5960911658410696}],"notify_list":[],"created_at":"2023-04-20T15:11:30.755620+00:00","modified_at":"2023-04-20T15:11:30.755620+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1682003489"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
    id: 4
  response:
    body: |
      {"data":{"type":"roles","id":"a2f43cc0-df8d-11ed-a958-da7ad0900002","attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1682003489","created_at":"2023-04-20T15:11:33.564964+00:00","modified_at":"2023-04-20T15:11:33.599779+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"},{"type":"permissions","id":"f8e941cf-e746-11ec-b22d-da7ad0900002"},{"type":"permissions","id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002"}]}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles/a2f43cc0-df8d-11ed-a958-da7ad0900002
    method: GET
    id: 5
  response:
    body: |
      {"data":{"type":"roles","id":"a2f43cc0-df8d-11ed-a958-da7ad0900002","attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1682003489","created_at":"2023-04-20T15:11:33.564964+00:00","modified_at":"2023-04-20T15:11:33.599779+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"},{"type":"permissions","id":"f8e941cf-e746-11ec-b22d-da7ad0900002"},{"type":"permissions","id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002"}]}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"8v6-r9y-g24","layout_type":"ordered","notify_list":[],"restricted_roles":["a2f43cc0-df8d-11ed-a958-da7ad0900002"],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1682003489","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/8v6-r9y-g24
    method: PUT
    id: 6
  response:
    body: |
      {"id":"8v6-r9y-g24","title":"tf-TestAccDatadogDashboardRbac_updateToRbac-local-1682003489","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/8v6-r9y-g24/tf-testaccdatadogdashboardrbacupdatetorbac-local-1682003489","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":4575732368800907}],"notify_list":[],"created_at":"2023-04-20T15:11:30.755620+00:00","modified_at":"2023-04-20T15:11:34.070995+00:00","template_variable_presets":[],"tags":[],"restricted_roles":["a2f43cc0-df8d-11ed-a958-da7ad0900002"]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/8v6-r9y-g24
    method: DELETE
    id: 10
  response:
    body: |
      {"deleted_dashboard_id":"8v6-r9y-g24"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
