---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-logs-routes","inputs":["group-logs-routes"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-logs-routes","include":"*","inputs":["source-logs-routes"],"processors":[{"enabled":true,"field":"message","id":"processor-logs-routes","include":"*","type":"parse_json"}]}],"sources":[{"id":"source-logs-routes","type":"datadog_agent"}]},"name":"datadog logs routes pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"81349a28-f888-11f0-a148-da7ad0900002","type":"pipelines","attributes":{"name":"datadog logs routes pipeline","config":{"destinations":[{"id":"destination-logs-routes","inputs":["group-logs-routes"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-logs-routes","include":"*","inputs":["source-logs-routes"],"processors":[{"enabled":true,"field":"message","id":"processor-logs-routes","include":"*","type":"parse_json"}]}],"processors":[{"enabled":true,"id":"group-logs-routes","include":"*","inputs":["source-logs-routes"],"processors":[{"enabled":true,"field":"message","id":"processor-logs-routes","include":"*","type":"parse_json"}]}],"sources":[{"id":"source-logs-routes","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 400.055875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/81349a28-f888-11f0-a148-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"81349a28-f888-11f0-a148-da7ad0900002","type":"pipelines","attributes":{"name":"datadog logs routes pipeline","config":{"destinations":[{"id":"destination-logs-routes","inputs":["group-logs-routes"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-logs-routes","include":"*","inputs":["source-logs-routes"],"processors":[{"enabled":true,"field":"message","id":"processor-logs-routes","include":"*","type":"parse_json"}]}],"processors":[{"enabled":true,"id":"group-logs-routes","include":"*","inputs":["source-logs-routes"],"processors":[{"enabled":true,"field":"message","id":"processor-logs-routes","include":"*","type":"parse_json"}]}],"sources":[{"id":"source-logs-routes","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 124.84925ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-logs-routes","inputs":["group-logs-routes"],"routes":[{"api_key_key":"API_KEY_IDENT","include":"service:api","route_id":"route-us1","site":"us1"}],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-logs-routes","include":"*","inputs":["source-logs-routes"],"processors":[{"enabled":true,"field":"message","id":"processor-logs-routes","include":"*","type":"parse_json"}]}],"sources":[{"id":"source-logs-routes","type":"datadog_agent"}]},"name":"datadog logs routes pipeline updated"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - appli[...]
[...]
