---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_sts_delegate","id":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com","attributes":{"delegate_account_email":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 133.255792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":["a:tag","and:another","another:one"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1731000924@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":["tag:one","tag:two"],"host_filters":["tag:one","tag:two"],"is_cspm_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[{"disabled":true,"id":"aiplatform"}],"resource_collection_enabled":false},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"resource_collection_enabled":false,"is_resource_change_collection_enabled":false,"host_filters":["tag:one","tag:two"],"is_cspm_enabled":false,"account_tags":["a:tag","and:another","another:one"],"cloud_run_revision_filters":["tag:one","tag:two"],"metric_namespace_configs":[{"id":"aiplatform","disabled":true}],"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1731000924@test-project.iam.gserviceaccount.com","is_security_command_center_enabled":false,"automute":false},"id":"2d74c86b-39b1-4df6-a3bd-166c468c9377"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 412.209ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"gcp_service_account","attributes":{"account_tags":["team:gray"],"client_email":"graytest@datadog-gcp-ints-test-b.iam.gserviceaccount.com","host_filters":[],"is_security_command_center_enabled":false,"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":[],"metric_namespace_configs":[],"automute":true,"is_cspm_enabled":false,"resource_collection_enabled":true},"id":"0f2b1be3-6c1a-4570-8e97-db356fcc37a7","meta":{"accessible_projects":["datadog-gcp-ints-test-b","datadog-gcp-ints-test-c"]}},{"type":"gcp_service_account","attributes":{"account_tags":[],"client_email":"ui@google.com","host_filters":[],"is_security_command_center_enabled":false,"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":[],"metric_namespace_configs":[],"automute":false,"is_cspm_enabled":false,"resource_collection_enabled":true},"id":"8f12ca8e-5b6e-4904-8853-4b49ee096fbe","meta":{"accessible_projects":[]}},{"type":"gcp_service_accou[...]
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":true,"cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":true,"is_resource_change_collection_enabled":true,"is_security_command_center_enabled":true,"metric_namespace_configs":[],"resource_collection_enabled":true},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/2d74c86b-39b1-4df6-a3bd-166c468c9377
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"metric_namespace_configs":[],"is_security_command_center_enabled":true,"is_resource_change_collection_enabled":true,"host_filters":[],"resource_collection_enabled":true,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1731000924@test-project.iam.gserviceaccount.com","is_cspm_enabled":true,"account_tags":[],"cloud_run_revision_filters":[],"automute":true},"id":"2d74c86b-39b1-4df6-a3bd-166c468c9377"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 510.394959ms
[...]
