---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyMonitorRuleQuery-local-1765559004","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"9ee14da2-c689-4cc7-9bf9-af1d9ec46268","type":"deployment_gate","attributes":{"created_at":"2025-12-12T17:03:25.360247Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyMonitorRuleQuery-local-1765559004","service":"my-service","updated_at":"2025-12-12T17:03:25.360247Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 168.35375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"monitor_rule","options":{"duration":300,"query":"service:test"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/9ee14da2-c689-4cc7-9bf9-af1d9ec46268/rules
        method: POST
      response:
        body: '{"data":{"id":"4279f10f-b43e-4389-a309-6b8e6108fbc5","type":"deployment_rule","attributes":{"created_at":"2025-12-12T17:03:25.525029Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"9ee14da2-c689-4cc7-9bf9-af1d9ec46268","name":"monitor_rule","options":{"query":"service:test","duration":300},"type":"monitor","updated_at":"2025-12-12T17:03:25.525029Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 153.005167ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/9ee14da2-c689-4cc7-9bf9-af1d9ec46268
        method: GET
      response:
        body: '{"data":{"id":"9ee14da2-c689-4cc7-9bf9-af1d9ec46268","type":"deployment_gate","attributes":{"created_at":"2025-12-12T17:03:25.360247Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyMonitorRuleQuery-local-1765559004","service":"my-service","updated_at":"2025-12-12T17:03:25.360247Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 212.8695ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/9ee14da2-c689-4cc7-9bf9-af1d9ec46268/rules
        method: GET
      response:
        body: '{"data":{"id":"9ee14da2-c689-4cc7-9bf9-af1d9ec46268","type":"list_deployment_rules","attributes":{"rules":[{"id":"4279f10f-b43e-4389-a309-6b8e6108fbc5","name":"monitor_rule","type":"monitor","dry_run":false,"created_at":"2025-12-12T17:03:25.525029Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-12T17:03:25.525029Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"9ee14da2-c689-4cc7-9bf9-af1d9ec46268","options":{"query":"service:test","duration":300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 167.303291ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"monitor_rule","options":{"duration":600,"query":"service:test-2"}},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/9ee14da2-c689-4cc7-9bf9-af1d9ec46268/rules/4279f10f-b43e-4389-a309-6b8e6108fbc5
        method: PUT
      response:
        body: '{"data":{"id":"4279f10f-b43e-4389-a309-6b8e6108fbc5","type":"deployment_rule","attributes":{"created_at":"2025-12-12T17:03:25.525029Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"9ee14da2-c689-4cc7-9bf9-af1d9ec46268","name":"monitor_rule","options":{"query":"service:test-2","duration":600},"type":"monitor","updated_at":"2025-12-12T17:03:27.514265Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 174.17675ms
[...]
