---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardEventTimeline-local-1767988532","widgets":[{"definition":{"query":"status:error","tags_execution":"and","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"5ri-6bh-486","title":"tf-TestAccDatadogDashboardEventTimeline-local-1767988532","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/5ri-6bh-486/tf-testaccdatadogdashboardeventtimeline-local-1767988532","template_variables":[],"widgets":[{"definition":{"query":"status:error","tags_execution":"and","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":562706403306551}],"notify_list":[],"created_at":"2026-01-09T19:55:33.634571+00:00","modified_at":"2026-01-09T19:55:33.634571+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.667792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/5ri-6bh-486
        method: GET
      response:
            - chunked
        body: '{"id":"5ri-6bh-486","title":"tf-TestAccDatadogDashboardEventTimeline-local-1767988532","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/5ri-6bh-486/tf-testaccdatadogdashboardeventtimeline-local-1767988532","template_variables":[],"widgets":[{"definition":{"query":"status:error","tags_execution":"and","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"event_timeline"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":562706403306551}],"notify_list":[],"created_at":"2026-01-09T19:55:33.634571+00:00","modified_at":"2026-01-09T19:55:33.634571+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.9485ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/5ri-6bh-486
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"5ri-6bh-486"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 348.986209ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/5ri-6bh-486
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID 5ri-6bh-486 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 95.835167ms
