---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"reflow_type":"auto","tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRunWorkflow_import-local-1767993192","widgets":[{"definition":{"inputs":[{"name":"env","value":"$Env.value"},{"name":"Foo","value":"$Env"}],"title":"My workflow widget","title_align":"left","title_size":"13","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"3j8-fst-bv4","title":"tf-TestAccDatadogDashboardRunWorkflow_import-local-1767993192","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/3j8-fst-bv4/tf-testaccdatadogdashboardrunworkflowimport-local-1767993192","template_variables":[],"widgets":[{"definition":{"inputs":[{"name":"env","value":"$Env.value"},{"name":"Foo","value":"$Env"}],"title":"My workflow widget","title_align":"left","title_size":"13","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"},"id":7112168878092329}],"notify_list":[],"created_at":"2026-01-09T21:13:14.148424+00:00","modified_at":"2026-01-09T21:13:14.148424+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 206.592292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/3j8-fst-bv4
        method: GET
      response:
            - chunked
        body: '{"id":"3j8-fst-bv4","title":"tf-TestAccDatadogDashboardRunWorkflow_import-local-1767993192","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/3j8-fst-bv4/tf-testaccdatadogdashboardrunworkflowimport-local-1767993192","template_variables":[],"widgets":[{"definition":{"inputs":[{"name":"env","value":"$Env.value"},{"name":"Foo","value":"$Env"}],"title":"My workflow widget","title_align":"left","title_size":"13","type":"run_workflow","workflow_id":"2e055f16-8b6a-4cdd-b452-17a34c44b160"},"id":7112168878092329}],"notify_list":[],"created_at":"2026-01-09T21:13:14.148424+00:00","modified_at":"2026-01-09T21:13:14.148424+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 98.930583ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/3j8-fst-bv4
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"3j8-fst-bv4"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 562.433542ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/3j8-fst-bv4
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID 3j8-fst-bv4 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 78.587917ms
