---
version: 2
interactions:
    - id: 0
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
        body: |
            {"data":{"type":"gcp_sts_delegate","attributes":{"delegate_account_email":"ddgci-1145fac3f772a31fb964@datadog-cloud-ints-staging.iam.gserviceaccount.com"},"id":"ddgci-1145fac3f772a31fb964@datadog-cloud-ints-staging.iam.gserviceaccount.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.550458ms
    - id: 1
      request:
        host: dd.datad0g.com
        body: |
            {"data":{"attributes":{"account_tags":["a:tag","and:another","another:one"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1717617390@test-project.iam.gserviceaccount.com","host_filters":["tag:one","tag:two"],"is_cspm_enabled":false,"is_security_command_center_enabled":false,"resource_collection_enabled":false},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v2/integration/gcp/accounts
        method: POST
      response:
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"resource_collection_enabled":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1717617390@test-project.iam.gserviceaccount.com","is_security_command_center_enabled":false,"account_tags":["a:tag","and:another","another:one"],"cloud_run_revision_filters":[],"host_filters":["tag:one","tag:two"],"automute":false,"is_cspm_enabled":false},"id":"cbad5163-c5d3-4faf-837f-ec3b392ca6de"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 679.274792ms
    - id: 2
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://dd.datad0g.com/api/v2/integration/gcp/accounts
        method: GET
      response:
        body: |
            {"data":[{"type":"gcp_service_account","attributes":{"host_filters":[],"is_security_command_center_enabled":false,"is_cspm_enabled":true,"cloud_run_revision_filters":[],"resource_collection_enabled":true,"client_email":"ashraf-hanafy-sabbirs-test-org@datadog-gcp-ints-test-b.iam.gserviceaccount.com","automute":false,"account_tags":[]},"id":"bec95f56-48ad-480f-86cf-6cee4ee52300","meta":{"accessible_projects":["datadog-gcp-ints-test-b"]}},{"type":"gcp_service_account","attributes":{"host_filters":[],"is_security_command_center_enabled":false,"is_cspm_enabled":false,"cloud_run_revision_filters":[],"resource_collection_enabled":false,"client_email":"mitch-getting-around-sanbox-qu@datadog-gcp-ints-test-b.iam.gserviceaccount.com","automute":false,"account_tags":[]},"id":"07400dc4-5b2f-41e5-8e22-cd817c2ae1c7","meta":{"accessible_projects":["datadog-gcp-ints-test-b","datadog-sandbox"]}},{"type":"gcp_servic[...]
[...]
    - id: 5
      request:
        host: dd.datad0g.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":true,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1717617390@test-project.iam.gserviceaccount.com","host_filters":[],"is_cspm_enabled":true,"is_security_command_center_enabled":true,"resource_collection_enabled":true},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v2/integration/gcp/accounts/cbad5163-c5d3-4faf-837f-ec3b392ca6de
        method: PATCH
      response:
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":true,"account_tags":[],"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1717617390@test-project.iam.gserviceaccount.com","automute":true,"resource_collection_enabled":true,"is_security_command_center_enabled":true,"host_filters":[],"cloud_run_revision_filters":[]},"id":"cbad5163-c5d3-4faf-837f-ec3b392ca6de"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 512.142042ms
[...]
