---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/indexes
        method: GET
      response:
            - chunked
        body: |
            {"indexes":[{"name":"main","filter":{"query":""},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[]}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 781.653833ms
[...]
