---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Read+Only+Role
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00","user_count":6},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"1af86ce4-7823-11ea-93dc-d7cad1b1c6cb"},{"type":"permissions","id":"b382b982-8535-11ea-93de-2bf1bdf20798"},{"type":"permissions","id":"7314eb20-aa58-11ea-95e2-6fb6e4a451d5"},{"type":"permissions",[...]
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"some_linked_users_email@test.com","name":"Service account linked to some user","service_account":true},"relationships":{"roles":{"data":[{"id":"94172444-be03-11e9-a77a-db1879185210","type":"roles"}]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"e9985b43-c68d-11ee-8a57-fe3266c4a13b","attributes":{"name":"Service account linked to some user","handle":"e9985b43-c68d-11ee-8a57-fe3266c4a13b","created_at":"2024-02-08T14:25:30.682890+00:00","modified_at":"2024-02-08T14:25:30.682890+00:00","email":"some_linked_users_email@test.com","icon":"https://secure.gravatar.com/avatar/d0d20c02bab484469978748ebb5c6c4b?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},"included":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccServiceAccountApplicationKeyBasic-local-1707402327"},"type":"application_keys"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts/e9985b43-c68d-11ee-8a57-fe3266c4a13b/application_keys
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"application_keys","id":"bc6dc8da-679d-43de-a2ab-bdb4ae88147b","attributes":{"name":"tf-TestAccServiceAccountApplicationKeyBasic-local-1707402327","created_at":"2024-02-08T14:25:31.019239+00:00","last4":"26df","key":"382218b28dd51adfd3f24806b6bd0f53198926df","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"e9985b43-c68d-11ee-8a57-fe3266c4a13b"}},"leak_information":{"data":null}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 320.17333ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/e9985b43-c68d-11ee-8a57-fe3266c4a13b
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"e9985b43-c68d-11ee-8a57-fe3266c4a13b","attributes":{"name":"Service account linked to some user","handle":"e9985b43-c68d-11ee-8a57-fe3266c4a13b","created_at":"2024-02-08T14:25:30.682890+00:00","modified_at":"2024-02-08T14:25:30.682890+00:00","email":"some_linked_users_email@test.com","icon":"https://secure.gravatar.com/avatar/d0d20c02bab484469978748ebb5c6c4b?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","mfa_enabled":false},"relationships":{"roles":{"data":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},"included":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/service_accounts/e9985b43-c68d-11ee-8a57-fe3266c4a13b/application_keys/bc6dc8da-679d-43de-a2ab-bdb4ae88147b
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"application_keys","id":"bc6dc8da-679d-43de-a2ab-bdb4ae88147b","attributes":{"name":"tf-TestAccServiceAccountApplicationKeyBasic-local-1707402327","created_at":"2024-02-08T14:25:31.019239+00:00","last4":"26df","scopes":null},"relationships":{"leak_information":{"data":null}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.44441ms
[...]
