---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1748376802","name":"team-tf-testacconcallschedulecreateandupdate-local-1748376802"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"6ff0f97f-5436-483c-a874-d5184068d90f","attributes":{"name":"team-tf-testacconcallschedulecreateandupdate-local-1748376802","handle":"team-tf-testacconcallschedulecreateandupdate-local-1748376802","summary":"Description","description":"Description","avatar":null,"banner":4,"visible_modules":[],"hidden_modules":[],"created_at":"2025-05-27T20:13:23.836850+00:00","modified_at":"2025-05-27T20:13:23.836859+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/6ff0f97f-5436-483c-a874-d5184068d90f/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/6ff0f97f-5436-483c-a874-d5184068d90f/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 575.354042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1748376802@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"0b0444a7-3b37-11f0-a17c-b6032b784c18","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1748376802@example.com","created_at":"2025-05-27T20:13:24.255487+00:00","modified_at":"2025-05-27T20:13:24.255487+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1748376802@example.com","icon":"https://secure.gravatar.com/avatar/183e16d728d3ed66206dec9bb1527a54?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 908.044833ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"0b0444a7-3b37-11f0-a17c-b6032b784c18","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"0b45974a-3b37-11f0-99bd-da7ad0900002","attributes":{"uuid":"0b45974a-3b37-11f0-99bd-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-05-27T20:13:24.682840+00:00","expires_at":"2025-05-29T20:13:24.527578+00:00"},"relationships":{"user":{"data":{"type":"users","id":"0b0444a7-3b37-11f0-a17c-b6032b784c18"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 429.914458ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","end_date":"2026-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"0b0444a7-3b37-11f0-a17c-b6032b784c18"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"tf-testacconcallschedulecreateandupdate-local-1748376802","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"6ff0f97f-5436-483c-a874-d5184068d90f","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"a281f954-9204-4885-9981-7d351de2c582","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1748376802","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"ad3b37d4-0d45-4e7b-bb1e-ba3bb79a68fc","type":"layers"}]},"teams":{"data":[{"id":"6ff0f97f-5436-483c-a874-d5184068d90f","type":"teams"}]}}},"included":[{"id":"ad3b37d4-0d45-4e7b-bb1e-ba3bb79a68fc","type":"layers","attributes":{"effective_date":"2025-01-01T00:00:00Z","end_date":"2026-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"ad3b37d4-0d45-4e7b-bb1e-ba3bb79a68fc-member-1","type":"members"},{"id":"ad3b37d4-0d45-4e7b-bb1e-ba3bb79a68fc-member-2","type":"members"}]}}},{"id":"ad3b37d4-0d45-4e7b-bb1e-ba3bb79a68fc-member-1","type":"members","relationships":{"user":{"data":{"id":"0b0444a7-3b37-11f0-a17c-b6032b784c18","type":"users"}}}},{"id":"0b0444a7-3b37-11f0-a17c-b6032b784c18","type":"users","attributes":{"email":"tf-testacconcallschedulecreateandupdate-local-1748376802@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 163.277583ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/0b0444a7-3b37-11f0-a17c-b6032b784c18
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"0b0444a7-3b37-11f0-a17c-b6032b784c18","attributes":{"name":null,"handle":"tf-testacconcallschedulecreateandupdate-local-1748376802@example.com","created_at":"2025-05-27T20:13:24.255487+00:00","modified_at":"2025-05-27T20:13:24.255487+00:00","email":"tf-testacconcallschedulecreateandupdate-local-1748376802@example.com","icon":"https://secure.gravatar.com/avatar/183e16d728d3ed66206dec9bb1527a54?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.958333ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/6ff0f97f-5436-483c-a874-d5184068d90f
        method: GET
      response:
        body: '{"data":{"id":"6ff0f97f-5436-483c-a874-d5184068d90f","type":"team","attributes":{"created_at":"2025-05-27T20:13:23.836850+00:00","description":"Description","handle":"team-tf-testacconcallschedulecreateandupdate-local-1748376802","is_managed":false,"link_count":0,"modified_at":"2025-05-27T20:13:23.836859+00:00","name":"team-tf-testacconcallschedulecreateandupdate-local-1748376802","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/6ff0f97f-5436-483c-a874-d5184068d90f/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/6ff0f97f-5436-483c-a874-d5184068d90f/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 194.603ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/a281f954-9204-4885-9981-7d351de2c582?include=layers%2Clayers.members%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"a281f954-9204-4885-9981-7d351de2c582","type":"schedules","attributes":{"name":"tf-testacconcallschedulecreateandupdate-local-1748376802","time_zone":"America/New_York"},[...]
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/a281f954-9204-4885-9981-7d351de2c582
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 160.148708ms
[...]
