---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"end":1770639223,"message":"tf-TestAccDatadogDowntime_BasicUntilOccurrencesRecurrence-local-1770632023","monitor_tags":["*"],"recurrence":{"period":1,"type":"days","until_occurrences":5},"scope":["host:UntilOccurrencesRecurrence"],"start":1770635623,"timezone":"UTC"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/downtime
        method: POST
      response:
            - chunked
        body: |
            {"id":6344496715,"monitor_id":null,"org_id":321813,"start":1770635623,"end":1770639223,"canceled":null,"created":1770632025,"modified":1770632025,"message":"tf-TestAccDatadogDowntime_BasicUntilOccurrencesRecurrence-local-1770632023","active":false,"disabled":false,"recurrence":{"type":"days","period":1,"week_days":null,"until_occurrences":5,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":1,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"b022998c-2244-4d35-b403-781afa8375d8","scope":["host:UntilOccurrencesRecurrence"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.88066375s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/downtime/6344496715
        method: GET
      response:
            - chunked
        body: |
            {"id":6344496715,"monitor_id":null,"org_id":321813,"start":1770635623,"end":1770639223,"canceled":null,"created":1770632025,"modified":1770632025,"message":"tf-TestAccDatadogDowntime_BasicUntilOccurrencesRecurrence-local-1770632023","active":false,"disabled":false,"recurrence":{"type":"days","period":1,"week_days":null,"until_occurrences":5,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":1,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"b022998c-2244-4d35-b403-781afa8375d8","scope":["host:UntilOccurrencesRecurrence"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 220.180792ms
[...]
