---
version: 1
interactions:
- request:
    body: |
      {"name":"tf-TestAccDatadogDashboardListDatasource-local-1626980068"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"tf-TestAccDatadogDashboardListDatasource-local-1626980068","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-07-22T18:54:30.104191+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-07-22T18:54:30.104222+00:00","id":223385}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/223385
    method: GET
  response:
    body: '{"is_favorite":false,"name":"tf-TestAccDatadogDashboardListDatasource-local-1626980068","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-07-22T18:54:30.104191+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-07-22T18:54:30.104222+00:00","id":223385}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/223385/dashboards
    method: GET
  response:
    body: '{"total":0,"dashboards":[]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListDashboardLists
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: GET
  response:
    body: '{"dashboard_lists":[{"is_favorite":true,"name":"frog''s List","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-09-08T07:12:57.679027+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-09-09T08:48:11.523877+00:00","id":126798},{"is_favorite":false,"name":"tf-TestAccDatadogDashboardListDatasource-local-1626980068","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-07-22T18:54:30.104191+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-07-22T18:54:30.104222+00:00","id":223385}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/223385
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":223385}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/223385
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 223385 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
