---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2FunnelGroupedDisplay_import-local-1784742692","widgets":[{"definition":{"grouped_display":"side_by_side","requests":[{"query":{"data_source":"rum","query_string":"@browser.name:Chrome","steps":[{"facet":"@view.name","value":"/home"},{"facet":"@view.name","value":"/checkout"}]},"request_type":"funnel"}],"title":"Browser funnel","type":"funnel"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"xm3-pfb-tk2","title":"tf-TestAccDatadogDashboardV2FunnelGroupedDisplay_import-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xm3-pfb-tk2/tf-testaccdatadogdashboardv2funnelgroupeddisplayimport-local-1784742692","template_variables":[],"widgets":[{"definition":{"grouped_display":"side_by_side","requests":[{"query":{"data_source":"rum","query_string":"@browser.name:Chrome","steps":[{"facet":"@view.name","value":"/home"},{"facet":"@view.name","value":"/checkout"}]},"request_type":"funnel"}],"title":"Browser funnel","type":"funnel"},"id":7599471146889846}],"notify_list":[],"created_at":"2026-07-22T17:51:36.539366+00:00","modified_at":"2026-07-22T17:51:36.539366+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 442.882875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/xm3-pfb-tk2
        method: GET
      response:
            - chunked
        body: '{"id":"xm3-pfb-tk2","title":"tf-TestAccDatadogDashboardV2FunnelGroupedDisplay_import-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/xm3-pfb-tk2/tf-testaccdatadogdashboardv2funnelgroupeddisplayimport-local-1784742692","template_variables":[],"widgets":[{"definition":{"grouped_display":"side_by_side","requests":[{"query":{"data_source":"rum","query_string":"@browser.name:Chrome","steps":[{"facet":"@view.name","value":"/home"},{"facet":"@view.name","value":"/checkout"}]},"request_type":"funnel"}],"title":"Browser funnel","type":"funnel"},"id":7599471146889846}],"notify_list":[],"created_at":"2026-07-22T17:51:36.539366+00:00","modified_at":"2026-07-22T17:51:36.539366+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.410584ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/xm3-pfb-tk2
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"xm3-pfb-tk2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 732.062166ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/xm3-pfb-tk2
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID xm3-pfb-tk2 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 122.590958ms
