---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a global variable","is_fido":false,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_IMPORTBASIC_LOCAL_1739961933","tags":["foo:bar","baz"],"value":{"secure":false,"value":"variable-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
        body: |
            {"id":"a9e854d3-c4c8-4d86-9dbe-8994c5148fb8","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_IMPORTBASIC_LOCAL_1739961933","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":false,"value":"variable-value"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 334.247083ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/a9e854d3-c4c8-4d86-9dbe-8994c5148fb8
        method: GET
      response:
        body: |
            {"id":"a9e854d3-c4c8-4d86-9dbe-8994c5148fb8","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_IMPORTBASIC_LOCAL_1739961933","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2025-02-19T10:45:34.994947+00:00","modified_at":"2025-02-19T10:45:34.994947+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":"Shuhei Kitagawa","handle":"shuhei.kitagawa@datadoghq.com","email":"shuhei.kitagawa@datadoghq.com"},"editor":{"name":"Shuhei Kitagawa","handle":"shuhei.kitagawa@datadoghq.com","email":"shuhei.kitagawa@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.416833ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"operator":"doesNotContain","target":"terraform","type":"body"},{"operator":"md5","target":"a","type":"bodyHash"},{"code":"const hello = 'world';","type":"javascript"}],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"},{"id":"a9e854d3-c4c8-4d86-9dbe-8994c5148fb8","name":"GLOBAL_VAR","type":"global"}],"request":{"basicAuth":{"domain":"ntlm-domain","password":"ntlm-password","type":"ntlm","username":"ntlm-username","workstation":"ntlm-workstation"},"bodyType":"text/plain","headers":{},"method":"GET","noSavingResponseBody":true,"proxy":{"headers":{},"url":"https://proxy.url"},"url":"https://www.datadoghq.com"},"variablesFromScript":"dd.variable.set('FOO', 'hello');"},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1739961933","options":{"allow_insecure":true,"ci":{"executionRule":"blocking"},"follow_redirects":true,"httpVersion":"http2","ignoreServerCertificateError":true,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1739961933-monitor","monitor_priority":5,"retry":{"count":1,"interval":300},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
        body: |
            {"public_id":"gwx-aqe-rpx","name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1739961933","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-02-19T10:45:35.748835+00:00","modified_at":"2025-02-19T10:45:35.748835+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"r[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/gwx-aqe-rpx
        method: GET
      response:
        body: |
            {"public_id":"gwx-aqe-rpx","name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1739961933","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-02-19T10:45:35.748835+00:00","modified_at":"2025-02-19T[...]
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/gwx-aqe-rpx
        method: GET
      response:
        body: |
            {"public_id":"gwx-aqe-rpx","name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1739961933","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-02-19T10:45:35.748835+00:00","modified_at":"2025-02-19T10:4[...]
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["gwx-aqe-rpx"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
        body: |
            {"deleted_tests":[{"public_id":"gwx-aqe-rpx","deleted_at":"2025-02-19T10:45:38.229624+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 453.635625ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/gwx-aqe-rpx
        method: GET
      response:
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 209.690916ms
