---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: '{"description":"","id":"3fa-nkp-wty","layout_type":"ordered","notify_list":[],"reflow_type":"fixed","template_variables":[],"title":"tf-TestAccDatadogDashboardJSONNoDiff-local-1768228098","widgets":[]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"uwx-mqw-wj9","title":"tf-TestAccDatadogDashboardJSONNoDiff-local-1768228098","description":"","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/uwx-mqw-wj9/tf-testaccdatadogdashboardjsonnodiff-local-1768228098","template_variables":[],"widgets":[],"notify_list":[],"created_at":"2026-01-12T14:28:19.677756+00:00","modified_at":"2026-01-12T14:28:19.677756+00:00","reflow_type":"fixed"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.713334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/uwx-mqw-wj9
        method: GET
      response:
            - chunked
        body: '{"id":"uwx-mqw-wj9","title":"tf-TestAccDatadogDashboardJSONNoDiff-local-1768228098","description":"","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/uwx-mqw-wj9/tf-testaccdatadogdashboardjsonnodiff-local-1768228098","template_variables":[],"widgets":[],"notify_list":[],"created_at":"2026-01-12T14:28:19.677756+00:00","modified_at":"2026-01-12T14:28:19.677756+00:00","reflow_type":"fixed"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.223667ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/uwx-mqw-wj9
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"uwx-mqw-wj9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.923ms
