---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a global variable","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_UPDATED_LOCAL_1730221962","tags":["foo:bar","baz"],"value":{"secure":false,"value":"variable-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"2de3ad05-e07f-4ae1-ab2b-f45492420125","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_UPDATED_LOCAL_1730221962","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":false,"value":"variable-value"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 422.092209ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/2de3ad05-e07f-4ae1-ab2b-f45492420125
        method: GET
      response:
            - chunked
        body: |
            {"id":"2de3ad05-e07f-4ae1-ab2b-f45492420125","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_UPDATED_LOCAL_1730221962","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2024-10-29T17:12:44.154996+00:00","modified_at":"2024-10-29T17:12:44.154996+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.5865ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"operator":"doesNotContain","target":"terraform","type":"body"},{"operator":"md5","target":"a","type":"bodyHash"},{"code":"const hello = 'world';","type":"javascript"}],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"},{"example":"","name":"SECURE_VARIABLE_NAME","pattern":"","secure":true,"type":"text"},{"id":"2de3ad05-e07f-4ae1-ab2b-f45492420125","name":"GLOBAL_VAR","type":"global"}],"request":{"basicAuth":{"domain":"ntlm-domain","password":"ntlm-password","type":"ntlm","username":"ntlm-username","workstation":"ntlm-workstation"},"bodyType":"text/plain","headers":{},"method":"GET","noSavingResponseBody":true,"proxy":{"headers":{},"url":"https://proxy.url"},"url":"https://www.datadoghq.com"},"variablesFromScript":"dd.variable.set('FOO', 'hello');"},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1730221962","options":{"allow_insecure":true,"ci":{"executionRule":"blocking"},"follow_redirects":true,"httpVersion":"http2","ignoreServerCertificateError":true,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1730221962-monitor","monitor_priority":5,"retry":{"count":1,"interval":300},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"qae-dzz-yr7","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1730221962","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2024-10-29T17:12:44.895988+00:00","modified_at":"2024-10-29T17:12:44.895988+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"respo[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/qae-dzz-yr7
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"qae-dzz-yr7","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1730221962","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2024-10-29T17:12:44.895988+00:00","modifie[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/qae-dzz-yr7
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"qae-dzz-yr7","name":"tf-TestAccDatadogSyntheticsAPITest_Updated-local-1730221962","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2024-10-29T17:12:44.895988+00:00","modified_at[...]
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["qae-dzz-yr7"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"qae-dzz-yr7","deleted_at":"2024-10-29T17:12:47.862038+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 677.816083ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/qae-dzz-yr7
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 132.197125ms
