---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":["@1","@2"]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":["@3"]}],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTabUpdate-local-1774283326","widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"p5j-kcr-bgm","title":"tf-TestAccDatadogDashboardTabUpdate-local-1774283326","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/p5j-kcr-bgm/tf-testaccdatadogdashboardtabupdate-local-1774283326","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":7980540085900108},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":6504843603991938},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":6222715299581065}],"notify_list":[],"created_at":"2026-03-23T16:28:47.936231+00:00","modified_at":"2026-03-23T16:28:47.936231+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[7980540085900108,6504843603991938]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[6222715299581065]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 276.450542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/p5j-kcr-bgm
        method: GET
      response:
            - chunked
        body: '{"id":"p5j-kcr-bgm","title":"tf-TestAccDatadogDashboardTabUpdate-local-1774283326","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/p5j-kcr-bgm/tf-testaccdatadogdashboardtabupdate-local-1774283326","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":7980540085900108},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":6504843603991938},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":6222715299581065}],"notify_list":[],"created_at":"2026-03-23T16:28:47.936231+00:00","modified_at":"2026-03-23T16:28:47.936231+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[7980540085900108,6504843603991938]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[6222715299581065]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.364916ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/p5j-kcr-bgm
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"p5j-kcr-bgm"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 355.127375ms
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/p5j-kcr-bgm
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID p5j-kcr-bgm not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 165.220584ms
