---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicy_Role-local-1788577557"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"01a06f87-b757-7c50-8b47-51f3ef153029","type":"org_groups","attributes":{"created_at":"2026-09-05T03:06:00.407Z","modified_at":"2026-09-05T03:06:00.408899Z","name":"tf-TestAccDatadogOrgGroupPolicy_Role-local-1788577557","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 185.354084ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"permissions":["d99415a4-dc4d-11e8-b4b1-4f9e475593a0"]},"enforcement_tier":"GROUP_MANAGED","policy_name":"finance_read_only","policy_type":"role"},"relationships":{"org_group":{"data":{"id":"01a06f87-b757-7c50-8b47-51f3ef153029","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"01a06f87-b832-7eca-9427-6c7b5ce849d1","type":"org_group_policies","attributes":{"content":{"permissions":["d99415a4-dc4d-11e8-b4b1-4f9e475593a0"]},"enforced_at":"2026-09-05T03:06:00.625163Z","enforcement_tier":"GROUP_MANAGED","modified_at":"2026-09-05T03:06:00.625163Z","policy_name":"finance_read_only","policy_type":"role"},"relationships":{"org_group":{"data":{"id":"01a06f87-b757-7c50-8b47-51f3ef153029","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 237.74325ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/01a06f87-b832-7eca-9427-6c7b5ce849d1
        method: GET
      response:
        body: '{"data":{"id":"01a06f87-b832-7eca-9427-6c7b5ce849d1","type":"org_group_policies","attributes":{"content":{"permissions":["d99415a4-dc4d-11e8-b4b1-4f9e475593a0"]},"enforced_at":"2026-09-05T03:06:00.625163Z","enforcement_tier":"GROUP_MANAGED","modified_at":"2026-09-05T03:06:00.625163Z","policy_name":"finance_read_only","policy_type":"role"},"relationships":{"org_group":{"data":{"id":"01a06f87-b757-7c50-8b47-51f3ef153029","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 193.614916ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/01a06f87-b757-7c50-8b47-51f3ef153029
        method: GET
      response:
        body: '{"data":{"id":"01a06f87-b757-7c50-8b47-51f3ef153029","type":"org_groups","attributes":{"created_at":"2026-09-05T03:06:00.407Z","modified_at":"2026-09-05T03:06:00.408899Z","name":"tf-TestAccDatadogOrgGroupPolicy_Role-local-1788577557","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 183.04825ms
[...]
    - id: 35
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/01a06f87-b832-7eca-9427-6c7b5ce849d1
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"org group 01a06f87-b757-7c50-8b47-51f3ef153029 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 119.493333ms
