---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1626081744-screen","widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"bey-w5x-hyn","title":"tf-TestDatadogDashListImport-local-1626081744-screen","url":"/dashboard/bey-w5x-hyn/tf-testdatadogdashlistimport-local-1626081744-screen","created_at":"2021-07-12T09:22:26.551044+00:00","modified_at":"2021-07-12T09:22:26.551044+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":7143324044083001}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/bey-w5x-hyn
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"bey-w5x-hyn","title":"tf-TestDatadogDashListImport-local-1626081744-screen","url":"/dashboard/bey-w5x-hyn/tf-testdatadogdashlistimport-local-1626081744-screen","created_at":"2021-07-12T09:22:26.551044+00:00","modified_at":"2021-07-12T09:22:26.551044+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":7143324044083001}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1626081744-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"uzu-e5x-md2","title":"tf-TestDatadogDashListImport-local-1626081744-time","url":"/dashboard/uzu-e5x-md2/tf-testdatadogdashlistimport-local-1626081744-time","created_at":"2021-07-12T09:22:27.070749+00:00","modified_at":"2021-07-12T09:22:27.070749+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","title":"Widget Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":6467707117785523}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/uzu-e5x-md2
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"uzu-e5x-md2","title":"tf-TestDatadogDashListImport-local-1626081744-time","url":"/dashboard/uzu-e5x-md2/tf-testdatadogdashlistimport-local-1626081744-time","created_at":"2021-07-12T09:22:27.070749+00:00","modified_at":"2021-07-12T09:22:27.070749+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","title":"Widget Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":6467707117785523}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-TestDatadogDashListImport-local-1626081744"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListImport-local-1626081744","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-07-12T09:22:29.718007+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-07-12T09:22:29.718035+00:00","id":220218}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"uzu-e5x-md2","type":"custom_timeboard"},{"id":"bey-w5x-hyn","type":"custom_screenboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/220218/dashboards
    method: PUT
  response:
    body: '{"dashboards":[{"type":"custom_timeboard","id":"uzu-e5x-md2"},{"type":"custom_screenboard","id":"bey-w5x-hyn"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/220218
    method: GET
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListImport-local-1626081744","dashboard_count":2,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-07-12T09:22:29.718007+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-07-12T09:22:29.981375+00:00","id":220218}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/220218/dashboards
    method: GET
  response:
    body: '{"total":2,"dashboards":[{"popularity":0,"title":"tf-TestDatadogDashListImport-local-1626081744-time","is_favorite":false,"id":"uzu-e5x-md2","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/uzu-e5x-md2/tf-testdatadogdashlistimport-local-1626081744-time","created":"2021-07-12T09:22:27.070749+00:00","modified":"2021-07-12T09:22:27.070749+00:00","is_read_only":true,"type":"custom_timeboard"},{"popularity":0,"title":"tf-TestDatadogDashListImport-local-1626081744-screen","is_favorite":false,"id":"bey-w5x-hyn","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/bey-w5x-hyn/tf-testdatadogdashlistimport-local-1626081744-screen","created":"2021-07-12T09:22:26.551044+00:00","modified":"2021-07-12T09:22:26.551044+00:00","is_read_only":false,"type":"custom_screenboard"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/220218
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":220218}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/uzu-e5x-md2
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"uzu-e5x-md2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/220218
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 220218 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
