---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplication_Basic-local-1756172682","type":"browser"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1756172684023},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1756172684023}},"is_active":false,"updated_by_handle":"frog@datadoghq.com","client_token":"pub49e12cbc06c016d0508fad844576f140","name":"tf-TestAccDatadogRUMApplication_Basic-local-1756172682","hash":"pub49e12cbc06c016d0508fad844576f140","created_by_handle":"frog@datadoghq.com","created_at":1756172684023,"tags":[],"org_id":321813,"application_id":"f376fb1b-5172-41c9-9dc9-9d6c9ddcc898","product_analytics_replay_sample_rate":100,"updated_at":1756172684023,"type":"browser"},"id":"f376fb1b-5172-41c9-9dc9-9d6c9ddcc898"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 542.821958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/f376fb1b-5172-41c9-9dc9-9d6c9ddcc898
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"updated_by_handle":"frog@datadoghq.com","type":"browser","created_at":1756172684023,"org_id":321813,"tags":[],"application_id":"f376fb1b-5172-41c9-9dc9-9d6c9ddcc898","name":"tf-TestAccDatadogRUMApplication_Basic-local-1756172682","is_active":false,"hash":"pub49e12cbc06c016d0508fad844576f140","product_analytics_replay_sample_rate":100,"client_token":"pub49e12cbc06c016d0508fad844576f140","product_scales":{"rum_event_processing_scale":{"last_modified_at":1756172684023,"state":"ALL"},"product_analytics_retention_scale":{"last_modified_at":1756172684023,"state":"NONE"}},"updated_at":1756172684023,"created_by_handle":"frog@datadoghq.com"},"id":"f376fb1b-5172-41c9-9dc9-9d6c9ddcc898"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.750375ms
[...]
