---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-sp-maint-tmpl-updated-1787179210","name":"test-sp-maint-tmpl-updated-1787179210","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"18741a23-c64a-4380-a7e5-74837adbdf0f","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"57a87d59-4ff8-4d77-81fc-2fc68608ab12","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T22:40:13.462836Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-maint-tmpl-updated-1787179210","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T22:40:13.462836Z","name":"test-sp-maint-tmpl-updated-1787179210","page_url":"https://frog.datadoghq.com/status-pages/18741a23-c64a-4380-a7e5-74837adbdf0f/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.435211s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/18741a23-c64a-4380-a7e5-74837adbdf0f
        method: GET
      response:
        body: '{"data":{"id":"18741a23-c64a-4380-a7e5-74837adbdf0f","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"57a87d59-4ff8-4d77-81fc-2fc68608ab12","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T22:40:13.462836Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-maint-tmpl-updated-1787179210","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T22:40:13.462836Z","name":"test-sp-maint-tmpl-updated-1787179210","page_url":"https://frog.datadoghq.com/status-pages/18741a23-c64a-4380-a7e5-74837adbdf0f/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 59.346333ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"completed_description":"Maintenance is complete.","component_ids":["57a87d59-4ff8-4d77-81fc-2fc68608ab12"],"in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","name":"test-sp-maint-tmpl-updated-1787179210","scheduled_description":"Maintenance is scheduled."},"type":"maintenance_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/18741a23-c64a-4380-a7e5-74837adbdf0f/maintenance_templates
        method: POST
      response:
        body: '{"data":{"id":"7e16a22e-b793-45fd-837d-4a6cce3eb862","type":"maintenance_templates","attributes":{"completed_description":"Maintenance is complete.","component_ids":["57a87d59-4ff8-4d77-81fc-2fc68608ab12"],"created_at":"2026-08-19T22:40:17.340208Z","in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","modified_at":"2026-08-19T22:40:17.340208Z","name":"test-sp-maint-tmpl-updated-1787179210","scheduled_description":"Maintenance is scheduled."},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"18741a23-c64a-4380-a7e5-74837adbdf0f","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 78.934458ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/18741a23-c64a-4380-a7e5-74837adbdf0f/maintenance_templates/7e16a22e-b793-45fd-837d-4a6cce3eb862
        method: GET
      response:
        body: '{"data":{"id":"7e16a22e-b793-45fd-837d-4a6cce3eb862","type":"maintenance_templates","attributes":{"completed_description":"Maintenance is complete.","component_ids":["57a87d59-4ff8-4d77-81fc-2fc68608ab12"],"created_at":"2026-08-19T22:40:17.340208Z","in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","modified_at":"2026-08-19T22:40:17.340208Z","name":"test-sp-maint-tmpl-updated-1787179210","scheduled_description":"Maintenance is scheduled."},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"18741a23-c64a-4380-a7e5-74837adbdf0f","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 65.850167ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/18741a23-c64a-4380-a7e5-74837adbdf0f/maintenance_templates/7e16a22e-b793-45fd-837d-4a6cce3eb862
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 41.619375ms
