---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1670443312","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/rum/applications
    method: POST
  response:
    body: |
      {"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"b720b27f-5ee0-449d-880d-eb90672be9b5","name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1670443312","created_by_handle":"frog@datadoghq.com","created_at":1670443313420,"org_id":321813,"updated_at":1670443313420,"is_active":false,"hash":"pub6394d7e02f88a0aeadd19e06bbc8e4b3","client_token":"pub6394d7e02f88a0aeadd19e06bbc8e4b3","type":"browser"},"type":"rum_application","id":"b720b27f-5ee0-449d-880d-eb90672be9b5"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/rum/applications/b720b27f-5ee0-449d-880d-eb90672be9b5
    method: GET
  response:
    body: |
      {"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"b720b27f-5ee0-449d-880d-eb90672be9b5","name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1670443312","created_by_handle":"frog@datadoghq.com","created_at":1670443313420,"org_id":321813,"updated_at":1670443313420,"is_active":false,"hash":"pub6394d7e02f88a0aeadd19e06bbc8e4b3","client_token":"pub6394d7e02f88a0aeadd19e06bbc8e4b3","type":"browser"},"type":"rum_application","id":"b720b27f-5ee0-449d-880d-eb90672be9b5"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
