---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogusersdatasourcefilterstatus-local-17031870332@example.com","name":"user 2"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"6a9d0603-a037-11ee-afee-c62a4f2583d6","attributes":{"name":"user 2","handle":"tf-testaccdatadogusersdatasourcefilterstatus-local-17031870332@example.com","created_at":"2023-12-21T19:30:36.738539+00:00","modified_at":"2023-12-21T19:30:36.738539+00:00","email":"tf-testaccdatadogusersdatasourcefilterstatus-local-17031870332@example.com","icon":"https://secure.gravatar.com/avatar/d9c32b21f67658d65d83029a25e9f710?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 561.052416ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"6a9d0603-a037-11ee-afee-c62a4f2583d6","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"6ac01a16-a037-11ee-a81d-da7ad0900002","attributes":{"uuid":"6ac01a16-a037-11ee-a81d-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2023-12-21T19:30:36.968075+00:00","expires_at":"2023-12-23T19:30:36.869577+00:00"},"relationships":{"user":{"data":{"type":"users","id":"6a9d0603-a037-11ee-afee-c62a4f2583d6"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 233.379791ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=user+0&filter%5Bstatus%5D=Pending&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"d067c10e-9ff5-11ee-984c-a64f775a818e","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcebasic-local-17031588580@example.com","created_at":"2023-12-21T11:41:00.732878+00:00","modified_at":"2023-12-21T11:41:00.732878+00:00","email":"tf-testaccdatadogusersdatasourcebasic-local-17031588580@example.com","icon":"https://secure.gravatar.com/avatar/1703a2c2bf09c3f741d91cd3aa92ac44?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},{"type":"users","id":"fad73daf-a014-11ee-875f-82008b9f90c4","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcebasic-local-17031722440@example.com","created_at":"2023-12-21T15:24:06.326448+00:00","modified_at":"2023-12-21T15:24:06.326448+00:00","email":"tf-testaccdatadogusersdatasourcebasic-local-17031722440@example.com","icon":"https://secure.gravatar.com[...]
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/6aa26df3-a037-11ee-b119-8a35b4935f7e
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"6aa26df3-a037-11ee-b119-8a35b4935f7e","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcefilterstatus-local-17031870330@example.com","created_at":"2023-12-21T19:30:36.773961+00:00","modified_at":"2023-12-21T19:30:36.773961+00:00","email":"tf-testaccdatadogusersdatasourcefilterstatus-local-17031870330@example.com","icon":"https://secure.gravatar.com/avatar/d19805244b8ef103550355f6db14d0a6?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.410625ms
[...]
