---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["pubsub-source-1"],"type":"datadog_logs"}],"sources":[{"decoding":"json","id":"pubsub-source-1","project":"my-gcp-project","subscription":"logs-subscription","type":"google_pubsub"}]},"name":"pubsub minimal pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"0d44cada-db59-11f0-b58c-da7ad0900002","type":"pipelines","attributes":{"name":"pubsub minimal pipeline","config":{"destinations":[{"id":"destination-1","inputs":["pubsub-source-1"],"type":"datadog_logs"}],"processors":[],"sources":[{"decoding":"json","id":"pubsub-source-1","project":"my-gcp-project","subscription":"logs-subscription","type":"google_pubsub"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 438.964ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/0d44cada-db59-11f0-b58c-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"0d44cada-db59-11f0-b58c-da7ad0900002","type":"pipelines","attributes":{"name":"pubsub minimal pipeline","config":{"destinations":[{"id":"destination-1","inputs":["pubsub-source-1"],"type":"datadog_logs"}],"processors":[],"sources":[{"decoding":"json","id":"pubsub-source-1","project":"my-gcp-project","subscription":"logs-subscription","type":"google_pubsub"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 298.308583ms
[...]
