---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1758619417","type":"android"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"created_by_handle":"frog@datadoghq.com","api_key_id":652588,"name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1758619417","tags":[],"ootb_metrics_installed":false,"created_at":1758619421903,"org_id":321813,"application_id":"60d7fe5b-7294-4e6c-af11-5ad9a4db6391","product_analytics_replay_sample_rate":100,"updated_at":1758619421903,"is_active":false,"short_name":"tf_testaccdatadogrumapplicationd_2550","hash":"pub3aa714218a68352ed53255c6de204436","type":"android","updated_by_handle":"frog@datadoghq.com","product_scales":{"rum_event_processing_scale":{"last_modified_at":1758619421903,"state":"ALL"},"product_analytics_retention_scale":{"last_modified_at":1758619421903,"state":"NONE"}},"client_token":"pub3aa714218a68352ed53255c6de204436"},"id":"60d7fe5b-7294-4e6c-af11-5ad9a4db6391"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.116233625s
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/7d7735da-7fce-4871-8066-5e874cb129bc
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"org_id":321813,"short_name":"tf_testaccdatadogrumapplicationd_2551","ootb_metrics_installed":false,"tags":[],"is_active":false,"product_analytics_replay_sample_rate":100,"api_key_id":652589,"hash":"pub5e4d2aa3268057665318c1b36bbf61ec","client_token":"pub5e4d2aa3268057665318c1b36bbf61ec","created_at":1758619421882,"product_scales":{"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1758619421882},"rum_event_processing_scale":{"state":"ALL","last_modified_at":1758619421882}},"name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1758619417","updated_by_handle":"frog@datadoghq.com","updated_at":1758619421882,"created_by_handle":"frog@datadoghq.com","application_id":"7d7735da-7fce-4871-8066-5e874cb129bc","type":"browser"},"id":"7d7735da-7fce-4871-8066-5e874cb129bc"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 198.609875ms
[...]
