---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"V9JXrnmpSVabmxZH8EL99w","attributes":{"name":"my group","is_enabled":true,"filter":{"query":"*"},"product_list":["logs"],"description":"","samplings":[]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"0a0fbaa128db50122e932b9b90c4ec2297e5a1a72a33bf385ac7b144409022d6","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":136}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 431.146666ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1713779592","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"V9JXrnmpSVabmxZH8EL99w","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"s-ByqbAzRx-RPWEQbS3vgw","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1713779592","namespaces":[],"excluded_namespaces":["username"],"pattern":"regex","text_replacement":{"type":"none"},"tags":["sensitive_data:true"],"labels":[],"is_enabled":true,"description":"a description"},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"V9JXrnmpSVabmxZH8EL99w","type":"sensitive_data_scanner_group"}}}},"meta":{"version":137}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.586541ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"0a0fbaa128db50122e932b9b90c4ec2297e5a1a72a33bf385ac7b144409022d6","attributes":{},"type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"xLXhi1Q_ShyCR_W-CbB70g","type":"sensitive_data_scanner_group"},{"id":"zh4ywhwqT4ySZdOAoh6cqg","type":"sensitive_data_scanner_group"},{"id":"TJkcbdrkRFGqEDhWQUVU4Q","type":"sensitive_data_scanner_group"},{"id":"dR860H66Rki-3_7enOu0IA","type":"sensitive_data_scanner_group"},{"id":"V9JXrnmpSVabmxZH8EL99w","type":"sensitive_data_scanner_group"}]}}},"meta":{"version":137,"count_limit":100,"group_count_limit":20,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"has_cascading_enabled":false,"is_configuration_superseded":false},"included":[{"id":"xLXhi1Q_ShyCR_W-CbB70g","attributes":{"name":"my real group","is_enabled":true,"filter":{"query":"chicken:tikkamassala"},"product_list":["logs"],"description":"","samplings":[]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"0a0fbaa128db50122e932b9b90c4ec2297e5a1a72a33bf385ac7b144409022d6","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[{"id":"yr8tT_DYTCOOYNTXmw6NZA","type":"sensitive_data_scanner_rule"},{"id":"ZwV_4PSwQnqH0UdIsXTrNw","type":"sensitive_data_scanner_rule"}]}}},{"id":"yr8tT_DYTCOOYNTXmw6NZA","attributes":{"name":"my aws rule","namespaces":[],"excluded_namespaces":["username"],"text_replacement":{"type":"none"},"tags":["sensitive_data:true"],"labels":[],"is_enabled":true},"type":"sensitive_data_scanner_rule","relationships":{"standard_pattern":{"data":{"id":"OfGqX8R9TRqAcorxenl2fQ","type":"sensitive_data_scanner_standard_pattern"}},"group":{"data":{"id":"xLXhi1Q_ShyCR_W-CbB70g","type":"sensitive_data_scanner_group"}}}},{"id":"ZwV_4PSwQnqH0UdIsXTrNw","attributes":{"name":"hello world","namespaces":[],"excluded_namespaces":["email"],"pattern":"regex","text_replacement":{"type":"none"},"tags":["sensitive_data:true"],"labels":[],"is_enabled":true,"description":"another description"},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"xLXhi1Q_ShyCR_W-CbB70g","type":"sensitive_data_scanner_group"}}}},{"id":"zh4ywhwqT4ySZdOAoh6cqg","attributes":{"name":"my group","is_enabled":true,"filter":{"query":"*"},"product_list":["logs","events"],"description":"","samplings":[]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"0a0fbaa128db50122e932b9b90c4ec2297e5a1a72a33bf385ac7b144409022d6","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[{"id":"bn7VQmdJRnOg4augZFcpdA","type":"sensitive_data_scanner_rule"}]}}},{"id":"bn7VQmdJRnOg4augZFcpdA","attributes":{"name":"Rule test","namespaces":["admin"],"excluded_namespaces":["admin.name"],"pattern":"regex","text_replacement":{"number_of_chars":2,"type":"partial_replacement_from_beginning"},"tags":[],"labels":[],"is_enabled":true,"description":"Hello","included_keyword_configuration":{"keywords":["hello","world"],"character_count":10}},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"zh4ywhwqT4ySZdOAoh6cqg","type":"sensitive_data_scanner_group"}}}},{"id":"TJkcbdrkRFGqEDhWQUVU4Q","attributes":{"name":"Experimental (hackathon)","is_enabled":true,"filter":{"query":"@scan_mode:sds "},"product_list":["logs"],"description":"This is an experimental aims to test the performance of openai based SDS","samplings":[]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"0a0fbaa128db50122e932b9b90c4ec2297e5a1a72a33bf385ac7b144409022d6","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[{"id":"oq2CuLgOSQ6Nf5nicbng7Q","type":"sensitive_data_scanner_rule"},{"id":"fYAElXBkRVuo4AJFM-CN4Q","type":"sensitive_data_scanner_rule"},{"id":"nFwyccf-STyFFDYQQyXRqA","type":"sensitive_data_scanner_rule"},{"id":"0KkECl1NShuuMtbvcIDUkQ","type":"sensitive_data_scanner_rule"}]}}},{"id":"oq2CuLgOSQ6Nf5nicbng7Q","attributes":{"name":"Standard Email Address Scanner","namespaces":["email"],"excluded_namespaces":[],"text_replacement":{"replacement_string":"[sensitive_data]","type":"replacement_string"},"tags":["sensitive_data:email_address","sensitive_data_category:email_address","sensitive_data:email"],"labels":[],"is_enabled":true},"type":"sensitive_data_scanner_rule","relationships":{"standard_pattern":{"data":{"id":"PuXiVTCkTHOtj0Yad1ppsw","type":"sensitive_data_scanner_standard_pattern"}},"group":{"data":{"id":"TJkcbdrkRFGqEDhWQUVU4Q","type":"sensitive_data_scanner_group"}}}},{"id":"fYAElXBkRVuo4AJFM-CN4Q","attributes":{"name":"Standard Iban[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/s-ByqbAzRx-RPWEQbS3vgw
        method: DELETE
      response:
        body: |
            {"meta":{"version":138}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.184375ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my group","product_list":["logs"]},"id":"V9JXrnmpSVabmxZH8EL99w","type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/V9JXrnmpSVabmxZH8EL99w
        method: PATCH
      response:
        body: |
            {"meta":{"version":139}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.168125ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1713779592","namespaces":[],"pattern":"regex","priority":1,"tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"relationships":{"group":{"data":{"id":"V9JXrnmpSVabmxZH8EL99w","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"8FuEvC0PQjKKg7egDnnGvQ","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1713779592","namespaces":[],"excluded_namespaces":["email"],"pattern":"regex","text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"},"tags":["sensitive_data:true"],"labels":[],"is_enabled":false,"description":"another description","priority":1,"included_keyword_configuration":{"keywords":["credit card","cc"],"character_count":20}},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"V9JXrnmpSVabmxZH8EL99w","type":"sensitive_data_scanner_group"}}}},"meta":{"version":140}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 163.751708ms
[...]
    - id: 15
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/8FuEvC0PQjKKg7egDnnGvQ
        method: DELETE
      response:
        body: |
            {"meta":{"version":141}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.783917ms
[...]
    - id: 25
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/mFLNPVsFRcesMUkN82Ey1w
        method: DELETE
      response:
        body: |
            {"meta":{"version":144}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.38925ms
[...]
    - id: 32
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/GZ_ofZ9gRHuWGVN6HNjJ2g
        method: DELETE
      response:
        body: |
            {"meta":{"version":147}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.9935ms
    - id: 33
      request:
        host: api.datadoghq.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/qREd6n8pSiulyVHqivNQ_g
        method: DELETE
      response:
        body: |
            {"meta":{"version":148}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.723209ms
[...]
