---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"reflow_type":"auto","tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSpans-local-1767972750","widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"time":{"hide_incomplete_cost_data":true,"live_span":"1h"},"title":"CPU Utilization?","type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"kg4-5kk-b9g","title":"tf-TestAccDatadogDashboardSpans-local-1767972750","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/kg4-5kk-b9g/tf-testaccdatadogdashboardspans-local-1767972750","template_variables":[],"widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"time":{"hide_incomplete_cost_data":true,"live_span":"1h"},"title":"CPU Utilization?","type":"timeseries"},"id":3555231445493247}],"notify_list":[],"created_at":"2026-01-09T15:32:31.918260+00:00","modified_at":"2026-01-09T15:32:31.918260+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.949042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/kg4-5kk-b9g
        method: GET
      response:
            - chunked
        body: '{"id":"kg4-5kk-b9g","title":"tf-TestAccDatadogDashboardSpans-local-1767972750","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/kg4-5kk-b9g/tf-testaccdatadogdashboardspans-local-1767972750","template_variables":[],"widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"time":{"hide_incomplete_cost_data":true,"live_span":"1h"},"title":"CPU Utilization?","type":"timeseries"},"id":3555231445493247}],"notify_list":[],"created_at":"2026-01-09T15:32:31.918260+00:00","modified_at":"2026-01-09T15:32:31.918260+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.700917ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/kg4-5kk-b9g
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"kg4-5kk-b9g"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 472.487167ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/kg4-5kk-b9g
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID kg4-5kk-b9g not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 98.949708ms
