---
version: 1
interactions:
- request:
    body: |
      {"cases":[{"condition":"a \u003e 0","name":"","notifications":[],"status":"high"}],"isEnabled":true,"message":"acceptance rule triggered","name":"tf-TestAccDatadogSecurityMonitoringRule_Import-local-1624624848","options":{"detectionMethod":"threshold","evaluationWindow":300,"keepAlive":600,"maxSignalDuration":900},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":["host"],"metric":"","name":"","query":"does not really match much"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules
    method: POST
  response:
    body: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"acceptance rule triggered","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":900,"keepAlive":600},"version":1,"createdAt":1624624852048,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":["host"],"query":"does not really match much"}],"isDeleted":false,"cases":[{"status":"high","notifications":[],"name":"","condition":"a > 0"}],"type":"log_detection","id":"0gm-0u1-a1n","isDefault":false,"name":"tf-TestAccDatadogSecurityMonitoringRule_Import-local-1624624848"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.4832146"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "596"
      X-Ratelimit-Reset:
      - "9"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/0gm-0u1-a1n
    method: GET
  response:
    body: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"acceptance rule triggered","options":{"detectionMethod":"threshold","evaluationWindow":300,"maxSignalDuration":900,"keepAlive":600},"version":1,"createdAt":1624624852048,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":["host"],"query":"does not really match much"}],"isDeleted":false,"cases":[{"status":"high","notifications":[],"name":"","condition":"a > 0"}],"type":"log_detection","id":"0gm-0u1-a1n","isDefault":false,"name":"tf-TestAccDatadogSecurityMonitoringRule_Import-local-1624624848"}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4832146"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "592"
      X-Ratelimit-Reset:
      - "7"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSecurityMonitoringRule
    url: https://api.datadoghq.com/api/v2/security_monitoring/rules/0gm-0u1-a1n
    method: GET
  response:
    body: '{"errors":["Threat detection rule not found: 0gm-0u1-a1n"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4832146"
      X-Ratelimit-Limit:
      - "600"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "582"
      X-Ratelimit-Reset:
      - "4"
    status: 404 Not Found
    code: 404
    duration: ""
