---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a global variable","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_IMPORTBASIC_LOCAL_1730216606","tags":["foo:bar","baz"],"value":{"secure":false,"value":"variable-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"0596cc71-ad55-4e41-8ee3-4697c56b5063","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_IMPORTBASIC_LOCAL_1730216606","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":false,"value":"variable-value"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 454.946541ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/0596cc71-ad55-4e41-8ee3-4697c56b5063
        method: GET
      response:
            - chunked
        body: |
            {"id":"0596cc71-ad55-4e41-8ee3-4697c56b5063","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_IMPORTBASIC_LOCAL_1730216606","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2024-10-29T15:43:29.904976+00:00","modified_at":"2024-10-29T15:43:29.904976+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.701917ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"operator":"doesNotContain","target":"terraform","type":"body"},{"operator":"md5","target":"a","type":"bodyHash"},{"code":"const hello = 'world';","type":"javascript"}],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"},{"example":"","name":"SECURE_VARIABLE_NAME","pattern":"","secure":true,"type":"text"},{"id":"0596cc71-ad55-4e41-8ee3-4697c56b5063","name":"GLOBAL_VAR","type":"global"}],"request":{"basicAuth":{"domain":"ntlm-domain","password":"ntlm-password","type":"ntlm","username":"ntlm-username","workstation":"ntlm-workstation"},"bodyType":"text/plain","headers":{},"method":"GET","noSavingResponseBody":true,"proxy":{"headers":{},"url":"https://proxy.url"},"url":"https://www.datadoghq.com"},"variablesFromScript":"dd.variable.set('FOO', 'hello');"},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1730216606","options":{"allow_insecure":true,"ci":{"executionRule":"blocking"},"follow_redirects":true,"httpVersion":"http2","ignoreServerCertificateError":true,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1730216606-monitor","monitor_priority":5,"retry":{"count":1,"interval":300},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"ht6-v78-6yx","name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1730216606","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2024-10-29T15:43:30.800379+00:00","modified_at":"2024-10-29T15:43:30.800379+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"r[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/ht6-v78-6yx
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"ht6-v78-6yx","name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1730216606","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2024-10-29T15:43:30.800379+00:00","mod[...]
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/ht6-v78-6yx
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"ht6-v78-6yx","name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1730216606","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2024-10-29T15:43:30.800379+00:00","modifie[...]
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["ht6-v78-6yx"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"ht6-v78-6yx","deleted_at":"2024-10-29T15:43:34.368385+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 765.059833ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/ht6-v78-6yx
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 196.732583ms
