---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/org
        method: GET
      response:
        body: |
            {"orgs":[{"public_id":"ff4a8255-6931-58d1-add0-a6b3602d5421","name":"Org Mgmt Root","description":null,"created":"2026-02-04 23:00:24","subscription":{"id":null,"billing_plan_id":8,"started":1770246024,"expires":null,"finished":null,"type":"dogfood","is_custom":false,"is_trial":false,"is_expired":true},"billing":{},"settings":{"default_landing_page":"Dashboard Lists","saml":{"enabled":false},"saml_can_be_enabled":false,"saml_login_url":null,"saml_idp_metadata_uploaded":false,"saml_idp_endpoint":null,"saml_idp_metadata_valid_until":null,"custom_landing_page":null,"saml_idp_initiated_login":{"enabled":false},"saml_strict_mode":{"enabled":false},"saml_autocreate_access_role":"st","saml_autocreate_users_domains":{"enabled":false,"domains":[]},"private_widget_share":false,"manage_reports":"false"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 675.995761ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_memberships?filter%5Borg_uuid%5D=ff4a8255-6931-58d1-add0-a6b3602d5421
        method: GET
      response:
        body: '{"data":[{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-05-26T19:47:46.605579Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019c2ae2-b05d-7cc9-aa88-38e1f26b7a0d","type":"org_groups"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 38.265862ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicyOverridesDataSource_Basic-local-1779841470"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"019e66d1-9660-746c-a1bd-02e75ec56002","type":"org_groups","attributes":{"created_at":"2026-05-27T00:24:32.096Z","modified_at":"2026-05-27T00:24:32.098419Z","name":"tf-TestAccDatadogOrgGroupPolicyOverridesDataSource_Basic-local-1779841470","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 25.341136ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d1-9660-746c-a1bd-02e75ec56002","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"019e66d1-9698-7f21-b369-c600bf6f4066","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","modified_at":"2026-05-27T00:24:32.155716Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d1-9660-746c-a1bd-02e75ec56002","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 59.915178ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","relationships":{"org_group":{"data":{"id":"019e66d1-9660-746c-a1bd-02e75ec56002","type":"org_groups"}}},"type":"org_group_memberships"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_memberships/019c2ae2-b060-7954-8606-6fe2b42616c4
        method: PATCH
      response:
        body: '{"data":{"id":"019c2ae2-b060-7954-8606-6fe2b42616c4","type":"org_group_memberships","attributes":{"created_at":"2026-02-04T23:00:25.312Z","modified_at":"2026-05-27T00:24:32.195214Z","org_name":"Org Mgmt Root","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019e66d1-9660-746c-a1bd-02e75ec56002","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 69.271776ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019e66d1-9660-746c-a1bd-02e75ec56002","type":"org_groups"}},"org_group_policy":{"data":{"id":"019e66d1-9698-7f21-b369-c600bf6f4066","type":"org_group_policies"}}},"type":"org_group_policy_overrides"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides
        method: POST
      response:
        body: '{"data":{"id":"019e66d1-9703-73aa-989d-d2f04cf88a68","type":"org_group_policy_overrides","attributes":{"created_at":"2026-05-27T00:24:32.260264Z","modified_at":"2026-05-27T00:24:32.260264Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019e66d1-9660-746c-a1bd-02e75ec56002","type":"org_groups"}},"org_group_policy":{"data":{"id":"019e66d1-9698-7f21-b369-c600bf6f4066","type":"org_group_policies"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 43.804762ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019e66d1-9660-746c-a1bd-02e75ec56002&filter%5Bpolicy_id%5D=019e66d1-9698-7f21-b369-c600bf6f4066&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019e66d1-9703-73aa-989d-d2f04cf88a68","type":"org_group_policy_overrides","attributes":{"content":{"org_config":true},"created_at":"2026-05-27T00:24:32.260264Z","modified_at":"2026-05-27T00:24:32.260264Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019e66d1-9660-746c-a1bd-02e75ec56002","type":"org_groups"}},"org_group_policy":{"data":{"id":"019e66d1-9698-7f21-b369-c600bf6f4066","type":"org_group_policies"}}}}],"meta":{"page":{"type":"number_size","number":0,"size":100,"total":1,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019e66d1-9660-746c-a1bd-02e75ec56002\u0026filter%5Bpolicy_id%5D=019e66d1-9698-7f21-b369-c600bf6f4066\u0026page%5Bnumber%5D=0\u0026page%5Bsize%5D=100","first":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019e66d1-9660-746c-a1bd-02e75ec56002\u0026filter[policy_id]=019e66d1-9698-7f21-b369-c600bf6f4066\u0026page[number]=0\u0026page[size]=100","last":"https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter[org_group_id]=019e66d1-9660-746c-a1bd-02e75ec56002\u0026filter[policy_id]=019e66d1-9698-7f21-b369-c600bf6f4066\u0026page[number]=0\u0026page[size]=100"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 44.427258ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides?filter%5Borg_group_id%5D=019e66d1-9660-746c-a1bd-02e75ec56002&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"019e66d1-9703-73aa-989d-d2f04cf88a68","type":"org_group_policy_overrides","attributes":{"content":{"org_config":true},"created_at":"2026-05-27T00:24:3[...]
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019e66d1-9660-746c-a1bd-02e75ec56002
        method: GET
      response:
        body: '{"data":{"id":"019e66d1-9660-746c-a1bd-02e75ec56002","type":"org_groups","attributes":{"created_at":"2026-05-27T00:24:32.096Z","modified_at":"2026-05-27T00:24:32.098419Z","name":"tf-TestAccDatadogOrgGroupPolicyOverridesDataSource_Basic-local-1779841470","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 25.716729ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/019e66d1-9698-7f21-b369-c600bf6f4066
        method: GET
      response:
        body: '{"data":{"id":"019e66d1-9698-7f21-b369-c600bf6f4066","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","modified_at":"2026-05-27T00:24:32.155716Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"019e66d1-9660-746c-a1bd-02e75ec56002","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 47.647302ms
[...]
    - id: 14
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policy_overrides/019e66d1-9703-73aa-989d-d2f04cf88a68
        method: GET
      response:
        body: '{"data":{"id":"019e66d1-9703-73aa-989d-d2f04cf88a68","type":"org_group_policy_overrides","attributes":{"created_at":"2026-05-27T00:24:32.260264Z","modified_at":"2026-05-27T00:24:32.260264Z","org_site":"us1","org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"},"relationships":{"org_group":{"data":{"id":"019e66d1-9660-746c-a1bd-02e75ec56002","type":"org_groups"}},"org_group_policy":{"data":{"id":"019e66d1-9698-7f21-b369-c600bf6f4066","type":"org_group_policies"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 32.863519ms
[...]
    - id: 27
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/019e66d1-9660-746c-a1bd-02e75ec56002
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"org group 019e66d1-9660-746c-a1bd-02e75ec56002 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 31.738427ms
