---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"third-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:third"},"reference_table":null}]},"id":"tf-test-order-third-tf-TestAccDatadogTagPipelineRulesetOrder_Import-local-1759254124","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"895c0386-b39c-4921-82f5-3367073c1af2","type":"ruleset","attributes":{"created":{"seconds":1759254124,"nanos":529736000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759254124,"nanos":529736000},"name":"tf-test-order-third-tf-TestAccDatadogTagPipelineRulesetOrder_Import-local-1759254124","position":2,"rules":[{"name":"third-rule","enabled":true,"query":{"query":"service:third","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3608126}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 69.048208ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[{"id":"1b680ec0-8e29-4b79-bb01-45f0c645a789","type":"ruleset","attributes":{"created":{"seconds":1758041403,"nanos":117388000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758041403,"nanos":117388000},"name":"New Ruleset","position":1,"processing_status":"error","rules":[{"name":"Add Cost Center Tag","enabled":true,"query":{"query":"account_id:\"123456789\" AND service:\"web-api\"","addition":{"key":"cost_center","value":"engineering"},"if_not_exists":true,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3603412}},{"id":"895c0386-b39c-4921-82f5-3367073c1af2","type":"ruleset","attributes":{"created":{"seconds":1759254124,"nanos":529736000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a7[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"0c221bac-224b-4578-beed-b7c19d831074","type":"ruleset"},{"id":"9f8014d4-06ec-4f0b-bfd5-da16176e45eb","type":"ruleset"},{"id":"895c0386-b39c-4921-82f5-3367073c1af2","type":"ruleset"},{"id":"1b680ec0-8e29-4b79-bb01-45f0c645a789","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 43.584042ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/895c0386-b39c-4921-82f5-3367073c1af2
        method: GET
      response:
        body: '{"data":{"id":"895c0386-b39c-4921-82f5-3367073c1af2","type":"ruleset","attributes":{"created":{"seconds":1759254124,"nanos":529736000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759254124,"nanos":529736000},"name":"tf-test-order-third-tf-TestAccDatadogTagPipelineRulesetOrder_Import-local-1759254124","position":3,"processing_status":"error","rules":[{"name":"third-rule","enabled":true,"query":{"query":"service:third","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3608126}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 95.7225ms
[...]
