---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppressionDataSource-local-1705492897","rule_query":"source:cloudtrail","suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"rvx-mv0-rxk","attributes":{"name":"tf-TestAccSecurityMonitoringSuppressionDataSource-local-1705492897","enabled":true,"description":"","rule_query":"source:cloudtrail","suppression_query":"env:staging","version":1,"creation_date":1705492899231,"update_date":1705492899231,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 427.851ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/rvx-mv0-rxk
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"rvx-mv0-rxk","attributes":{"name":"tf-TestAccSecurityMonitoringSuppressionDataSource-local-1705492897","enabled":true,"description":"","rule_query":"source:cloudtrail","suppression_query":"env:staging","version":1,"creation_date":1705492899231,"update_date":1705492899231,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.341792ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/rvx-mv0-rxk
        method: GET
      response:
            - chunked
        body: |
            {"errors":["not_found(Suppression with ID rvx-mv0-rxk not found)"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 140.169542ms
