---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"third-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:third"},"reference_table":null}]},"id":"tf-test-order-third-tf-TestAccDatadogTagPipelineRulesetOrder_Update-local-1758897818","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"2080ed27-50c3-42dd-9bf9-bd6910a34950","type":"ruleset","attributes":{"created":{"seconds":1758897818,"nanos":805744000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758897818,"nanos":805744000},"name":"tf-test-order-third-tf-TestAccDatadogTagPipelineRulesetOrder_Update-local-1758897818","position":2,"rules":[{"name":"third-rule","enabled":true,"query":{"query":"service:third","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3606779}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 75.246ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"c013bf53-9e43-49bc-a419-a8d172a1bcfb","type":"ruleset"},{"id":"d383465c-c6d9-4ddb-af1f-a057cb7e3239","type":"ruleset"},{"id":"2080ed27-50c3-42dd-9bf9-bd6910a34950","type":"ruleset"},{"id":"1b680ec0-8e29-4b79-bb01-45f0c645a789","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 38.413042ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/d383465c-c6d9-4ddb-af1f-a057cb7e3239
        method: GET
      response:
        body: '{"data":{"id":"d383465c-c6d9-4ddb-af1f-a057cb7e3239","type":"ruleset","attributes":{"created":{"seconds":1758897818,"nanos":806209000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758897818,"nanos":806209000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesetOrder_Update-local-1758897818","position":2,"rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3606780}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 42.965459ms
[...]
