---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"api_version":"v8","data_stream":{"dtype":"logs"},"id":"elasticsearch-destination-1","inputs":["source-1"],"type":"elasticsearch"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"elasticsearch-datastream-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"dd26c3a4-2ea9-11f1-a28a-da7ad0900002","type":"pipelines","attributes":{"name":"elasticsearch-datastream-pipeline","config":{"destinations":[{"api_version":"v8","data_stream":{"dtype":"logs"},"id":"elasticsearch-destination-1","inputs":["source-1"],"type":"elasticsearch"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 358.691959ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/dd26c3a4-2ea9-11f1-a28a-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"dd26c3a4-2ea9-11f1-a28a-da7ad0900002","type":"pipelines","attributes":{"name":"elasticsearch-datastream-pipeline","config":{"destinations":[{"api_version":"v8","data_stream":{"dtype":"logs"},"id":"elasticsearch-destination-1","inputs":["source-1"],"type":"elasticsearch"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 302.3555ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"api_version":"v8","data_stream":{"dataset":"my-application","dtype":"logs","namespace":"production"},"id":"elasticsearch-destination-1","inputs":["source-1"],"type":"elasticsearch"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"elasticsearch-datastream-pipeline-updated"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/dd26c3a4-2ea9-11f1-a28a-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"dd26c3a4-2ea9-11f1-a28a-da7ad0900002","type":"pipelines","attributes":{"name":"elasticsearch-datastream-pipeline-updated","config":{"destinations":[{"api_version":"v8","data_stream":{"dataset":"my-application","dtype":"logs","namespace":"production"},"id":"elasticsearch-destination-1","inputs":["source-1"],"type":"elasticsearch"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 610.812125ms
[...]
