---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Read+Only+Role
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00","user_count":7},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"1af86ce4-7823-11ea-93dc-d7cad1b1c6cb"},{"type":"permissions","id":"b382b982-8535-11ea-93de-2bf1bdf20798"},{"type":"permissions","id":"7314eb20-aa58-11ea-95e2-6fb6e4a451d5"},{"type":"permissions",[...]
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"attribute_key":"key_1","attribute_value":"value_1"},"relationships":{"role":{"data":{"id":"94172444-be03-11e9-a77a-db1879185210","type":"roles"}}},"type":"authn_mappings"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/authn_mappings
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"authn_mappings","id":"174b2808-fc1c-11ee-bab8-da7ad0900002","attributes":{"attribute_key":"key_1","attribute_value":"value_1","created_at":"2024-04-16T18:06:47.514708+00:00","modified_at":"2024-04-16T18:06:47.514708+00:00"},"relationships":{"role":{"data":{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210"}}}},"included":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/authn_mappings/174b2808-fc1c-11ee-bab8-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"authn_mappings","id":"174b2808-fc1c-11ee-bab8-da7ad0900002","attributes":{"attribute_key":"key_1","attribute_value":"value_1","created_at":"2024-04-16T18:06:47.514708+00:00","modified_at":"[...]
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Standard+Role
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"roles","id":"94172443-be03-11e9-a77a-373332f69711","attributes":{"name":"Datadog Standard Role","created_at":"2019-08-13T19:50:19.075284+00:00","modified_at":"2019-08-13T19:50:19.075284+00:00","user_count"[...]
[...]
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/authn_mappings/174b2808-fc1c-11ee-bab8-da7ad0900002
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 99.694875ms
    - id: 20
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccdatadogauthnmapping_createupdate-local-1713290805","name":"tf-testaccdatadogauthnmapping_createupdate-local-1713290805"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"2966bb6f-540c-4bff-89c7-2642ea43f7ae","attributes":{"name":"tf-testaccdatadogauthnmapping_createupdate-local-1713290805","handle":"tf-testaccdatadogauthnmapping_createupdate-local-1713290805","summary":"Example team","description":"Example team","avatar":null,"banner":12,"visible_modules":[],"hidden_modules":[],"created_at":"2024-04-16T18:06:52.649717+00:00","modified_at":"2024-04-16T18:06:52.649722+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2966bb6f-540c-4bff-89c7-2642ea43f7ae/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2966bb6f-540c-4bff-89c7-2642ea43f7ae/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 196.502167ms
    - id: 21
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"attribute_key":"key_1","attribute_value":"value_1"},"relationships":{"team":{"data":{"id":"2966bb6f-540c-4bff-89c7-2642ea43f7ae","type":"team"}}},"type":"authn_mappings"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/authn_mappings
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"authn_mappings","id":"1a7b09c6-fc1c-11ee-a8f5-da7ad0900002","attributes":{"attribute_key":"key_1","attribute_value":"value_1","created_at":"2024-04-16T18:06:52.861312+00:00","modified_at":"2024-04-16T18:06:52.861312+00:00"},"relationships":{"team":{"data":{"type":"team","id":"2966bb6f-540c-4bff-89c7-2642ea43f7ae"}}}},"included":[{"type":"team","id":"2966bb6f-540c-4bff-89c7-2642ea43f7ae","attributes":{"name":"tf-testaccdatadogauthnmapping_createupdate-local-1713290805","handle":"tf-testaccdatadogauthnmapping_createupdate-local-1713290805","summary":"Example team","avatar":null,"banner":12,"user_count":0,"link_count":0,"is_open_membership":true,"handles":["tf-testaccdatadogauthnmapping_createupdate-local-1713290805"]}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.285125ms
[...]
    - id: 24
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/2966bb6f-540c-4bff-89c7-2642ea43f7ae
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"team","attributes":{"description":"Example team","modified_at":"2024-04-16T18:06:52.649722+00:00","created_at":"2024-04-16T18:06:52.649717+00:00","handle":"tf-testaccdatadogauthnmapping_createupdate-local-1713290805","summary":"Example team","name":"tf-testaccdatadogauthnmapping_createupdate-local-1713290805","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2966bb6f-540c-4bff-89c7-2642ea43f7ae/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2966bb6f-540c-4bff-89c7-2642ea43f7ae/permission-settings"}}},"id":"2966bb6f-540c-4bff-89c7-2642ea43f7ae"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121.57375ms
[...]
    - id: 28
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/authn_mappings/1a7b09c6-fc1c-11ee-a8f5-da7ad0900002
        method: GET
      response:
            - chunked
        body: '{"errors":["Mapping with id 1a7b09c6-fc1c-11ee-a8f5-da7ad0900002 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 72.452792ms
