---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-status-page-basic-1787172823","name":"test-status-page-basic-1787172823","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"25770ba7-09b4-4e39-8e85-5fcb709b0deb","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"7da734b1-570f-4585-86c0-312d65108474","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:53:47.393773Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-status-page-basic-1787172823","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:53:47.393773Z","name":"test-status-page-basic-1787172823","page_url":"https://frog.datadoghq.com/status-pages/25770ba7-09b4-4e39-8e85-5fcb709b0deb/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 490.46075ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/25770ba7-09b4-4e39-8e85-5fcb709b0deb
        method: GET
      response:
        body: '{"data":{"id":"25770ba7-09b4-4e39-8e85-5fcb709b0deb","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"7da734b1-570f-4585-86c0-312d65108474","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:53:47.393773Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-status-page-basic-1787172823","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:53:47.393773Z","name":"test-status-page-basic-1787172823","page_url":"https://frog.datadoghq.com/status-pages/25770ba7-09b4-4e39-8e85-5fcb709b0deb/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 65.039958ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/25770ba7-09b4-4e39-8e85-5fcb709b0deb
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 52.533417ms
