---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"a-user@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: '{"errors":["User a-user@example.com already exists"]}'
        headers:
            Content-Type:
                - application/json
        status: 409 Conflict
        code: 409
        duration: 94.480709ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=a-user%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"3e3379ee-5457-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"a-user@example.com","created_at":"2021-12-03T16:37:02.407801+00:00","modified_at":"2026-01-09T21:12:58.273741+00:00","email":"a-user@example.com","icon":"https://secure.gravatar.com/avatar/d3f689172d62d7bcc2e4698422091ecf?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":["google_oidc","standard"],"status":"Disabled","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":227424,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.34225ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=z-user%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"41af244c-5dbc-11ec-ada4-da7ad0900002","attributes":{"name":"Test User","handle":"z-user@example.com","created_at":"2021-12-15T15:32:47.885715+00:00","modified_at":"2026-01-09T21:07:40.653771+00:00","email":"z-user@example.com","icon":"https://secure.gravatar.com/avatar/f96d6b5408696ed0088d9dd6a5840d9d?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":["google_oidc","standard"],"status":"Disabled","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":227424,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.738583ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=k-user%40example.com
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"3e344a0e-5457-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"k-user@example.com","created_at":"2021-12-03T16:37:02.412935+00:00","modified_at":"2026-01-09T21:12:58.371637+00:00","email":"k-user@example.com","icon":"https://secure.gravatar.com/avatar/98eadd67eaa2d8c224d446b2e88f0bf2?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":["google_oidc","standard"],"status":"Disabled","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":227424,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.791834ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"disabled":false,"email":"a-user@example.com","name":"Test User"},"id":"3e3379ee-5457-11ec-a8c2-da7ad0900002","type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users/3e3379ee-5457-11ec-a8c2-da7ad0900002
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"3e3379ee-5457-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"a-user@example.com","created_at":"2021-12-03T16:37:02.407801+00:00","modified_at":"2026-01-09T21:13:06.793437+00:00","email":"a-user@example.com","icon":"https://secure.gravatar.com/avatar/d3f689172d62d7bcc2e4698422091ecf?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 148.716917ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"3e3379ee-5457-11ec-a8c2-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"fe6d375a-ed9f-11f0-9211-da7ad0900002","attributes":{"uuid":"fe6d375a-ed9f-11f0-9211-da7ad0900002","login_method":null,"invite_type":"basic_reminder","created_at":"2026-01-09T21:13:07.263489+00:00","expires_at":"2026-01-11T21:13:07.011045+00:00"},"relationships":{"user":{"data":{"type":"users","id":"3e3379ee-5457-11ec-a8c2-da7ad0900002"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 452.675917ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":["z-user@example.com","k-user@example.com","a-user@example.com"],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardNotifyListDiff-local-1767993185","widgets":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"yah-yht-z52","title":"tf-TestAccDatadogDashboardNotifyListDiff-local-1767993185","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/yah-yht-z52/tf-testaccdatadogdashboardnotifylistdiff-local-1767993185","template_variables":[],"widgets":[],"notify_list":["a-user@example.com","k-user@example.com","z-user@example.com"],"created_at":"2026-01-09T21:13:07.761188+00:00","modified_at":"2026-01-09T21:13:07.761188+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.902625ms
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/yah-yht-z52
        method: GET
      response:
            - chunked
        body: '{"id":"yah-yht-z52","title":"tf-TestAccDatadogDashboardNotifyListDiff-local-1767993185","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/yah-yht-z52/tf-testaccdatadogdashboardnotifylistdiff-local-1767993185","template_variables":[],"widgets":[],"notify_list":["a-user@example.com","k-user@example.com","z-user@example.com"],"created_at":"2026-01-09T21:13:07.761188+00:00","modified_at":"2026-01-09T21:13:07.761188+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.528667ms
[...]
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/yah-yht-z52
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"yah-yht-z52"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 352.365375ms
[...]
