---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Admin+Role
        method: GET
      response:
        body: '{"data":[{"id":"94172442-be03-11e9-a77a-3b7612558ac1","type":"roles","attributes":{"created_at":"2019-08-13T19:50:19.022791Z","managed":true,"modified_at":"2019-08-13T19:50:19.022791Z","name":"Datadog Admin Role","team_count":0,"user_count":66},"relationships":{"permissions":{"data":[{"id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","type":"permissions"},{"id":"984d2f00-d3b4-11e8-a200-bb47109e9987","type":"permissions"},{"id":"5e605652-dd12-11e8-9e53-375565b8970e","type":"permissions"},{"id":"62cc036c-dd12-11e8-9e54-db9995643092","type":"permissions"},{"id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73","type":"permissions"},{"id":"7d7c98ac-dd12-11e8-9e56-93700598622d","type":"permissions"},{"id":"811ac4ca-dd12-11e8-9e57-676a7f0beef9","type":"permissions"},{"id":"84aa3ae4-dd12-1[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"cases":[{"condition":"errors \u003e 3 \u0026\u0026 warnings \u003e 10","name":"","notifications":["@user"],"status":"high"}],"hasExtendedTitle":false,"isEnabled":true,"message":"The rule has triggered.","name":"tf-TestAccRestrictionPolicyUpdate-local-1764111733","options":{"decreaseCriticalityBasedOnEnv":false,"detectionMethod":"threshold","evaluationWindow":300,"keepAlive":600,"maxSignalDuration":900},"queries":[{"aggregation":"count","dataSource":"logs","distinctFields":[],"groupByFields":["host"],"hasOptionalGroupByFields":false,"metric":"","metrics":[],"name":"errors","query":"status:error"},{"aggregation":"count","dataSource":"logs","distinctFields":[],"groupByFields":["host"],"hasOptionalGroupByFields":false,"metric":"","metrics":[],"name":"warnings","query":"status:warning"}],"type":"log_detection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/rules
        method: POST
      response:
        body: '{"name":"tf-TestAccRestrictionPolicyUpdate-local-1764111733","createdAt":1764111735787,"isDefault":false,"isPartner":false,"isEnabled":true,"isBeta":false,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"status:error","groupByFields":["host"],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"errors","dataSource":"logs"},{"query":"status:warning","groupByFields":["host"],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"warnings","dataSource":"logs"}],"options":{"evaluationWindow":300,"detectionMethod":"threshold","maxSignalDuration":900,"keepAlive":600,"decreaseCriticalityBasedOnEnv":false},"cases":[{"name":"","status":"high","notifications":["@user"],"condition":"errors \u003e 3 \u0026\u0026 warnings \u003e 10"}],"message":"The rule has triggered.","tags":[],"hasExtendedTitle":false,"type":"log_detection","filters":[],"version":1,"id":"zkn-k2s-cgr","blocking":false,"metadata":{"entities":null,"sources":null},"creationAuthorId":1445416,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"updater":{"handle":"","name":""}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.865584ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"bindings":[{"principals":["org:4dee724d-00cc-11ea-a77b-570c9d03c6c5","role:94172442-be03-11e9-a77a-3b7612558ac1"],"relation":"editor"}]},"id":"security-rule:zkn-k2s-cgr","type":"restriction_policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/restriction_policy/security-rule:zkn-k2s-cgr
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"restriction_policy","id":"security-rule:zkn-k2s-cgr","attributes":{"bindings":[{"relation":"editor","principals":["org:4dee724d-00cc-11ea-a77b-570c9d03c6c5","role:94172442-be03-11e9-a77a-3b7612558ac1"]}]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.309292ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/rules/zkn-k2s-cgr
        method: GET
      response:
        body: '{"name":"tf-TestAccRestrictionPolicyUpdate-local-1764111733","createdAt":1764111735787,"isDefault":false,"isPartner":false,"isEnabled":true,"isBeta":false,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"status:error","groupByFields":["host"],"[...]
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"calculatedFields":[],"cases":[{"condition":"errors \u003e 3 \u0026\u0026 warnings \u003e 10","name":"","notifications":["@user"],"status":"high"}],"filters":[],"hasExtendedTitle":false,"isEnabled":true,"message":"The rule has triggered. (updated)","name":"tf-TestAccRestrictionPolicyUpdate-local-1764111733","options":{"decreaseCriticalityBasedOnEnv":false,"detectionMethod":"threshold","evaluationWindow":300,"keepAlive":600,"maxSignalDuration":900},"queries":[{"aggregation":"count","dataSource":"logs","distinctFields":[],"groupByFields":["host"],"hasOptionalGroupByFields":false,"metric":"","metrics":[],"name":"errors","query":"status:error"},{"aggregation":"count","dataSource":"logs","distinctFields":[],"groupByFields":["host"],"hasOptionalGroupByFields":false,"metric":"","metrics":[],"name":"warnings","query":"status:warning"}],"schedulingOptions":null,"tags":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/rules/zkn-k2s-cgr
        method: PUT
      response:
        body: '{"name":"tf-TestAccRestrictionPolicyUpdate-local-1764111733","isEnabled":true,"queries":[{"query":"status:error","groupByFields":["host"],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"errors","dataSource":"logs"},{"query":"status:warning","groupByFields":["host"],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"warnings","dataSource":"logs"}],"options":{"evaluationWindow":300,"detectionMethod":"threshold","maxSignalDuration":900,"keepAlive":600,"decreaseCriticalityBasedOnEnv":false},"cases":[{"name":"","status":"high","notifications":["@user"],"condition":"errors \u003e 3 \u0026\u0026 warnings \u003e 10"}],"message":"The rule has triggered. (updated)","tags":[],"hasExtendedTitle":false,"type":"log_detection","filters":[],"id":"zkn-k2s-cgr","version":2,"createdAt":1764111735787,"creationAuthorId":1445416,"updateAuthorId":1445416,"updatedAt":1764111738086,"isDefault":false,"blocking":false,"isBeta":false,"isDeleted":false,"isDeprecated":false,"metadata":{"entities":null,"sources":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.833333ms
[...]
