---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Team description.","handle":"tf-testaccteambasic-local-1758619305","name":"tf-testaccteambasic-local-1758619305"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"86356bdf-5a20-495b-9f98-db97496fe320","attributes":{"name":"tf-testaccteambasic-local-1758619305","handle":"tf-testaccteambasic-local-1758619305","summary":"Team description.","description":"Team description.","avatar":null,"banner":13,"visible_modules":[],"hidden_modules":[],"created_at":"2025-09-23T09:21:46.732700+00:00","modified_at":"2025-09-23T09:21:46.732708+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/86356bdf-5a20-495b-9f98-db97496fe320/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/86356bdf-5a20-495b-9f98-db97496fe320/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 379.081334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/86356bdf-5a20-495b-9f98-db97496fe320
        method: GET
      response:
        body: '{"data":{"id":"86356bdf-5a20-495b-9f98-db97496fe320","type":"team","attributes":{"created_at":"2025-09-23T09:21:46.732700+00:00","description":"Team description.","handle":"tf-testaccteambasic-local-1758619305","is_managed":false,"link_count":0,"modified_at":"2025-09-23T09:21:46.732708+00:00","name":"tf-testaccteambasic-local-1758619305","summary":"Team description.","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/86356bdf-5a20-495b-9f98-db97496fe320/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/86356bdf-5a20-495b-9f98-db97496fe320/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 149.149792ms
[...]
