---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test incident type for notification template","is_default":false,"name":"test-tpl-updated-1757516920-it"},"type":"incident_types"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/incidents/config/types
        method: POST
      response:
        body: '{"data":{"id":"5db4d227-fd1f-4403-8c30-3d19b3efc438","type":"incident_types","attributes":{"createdAt":"2025-09-10T15:08:43.13146412Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test incident type for notification template","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2025-09-10T15:08:43.131464202Z","name":"test-tpl-updated-1757516920-it","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 185.685541ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-tpl-updated-1757516920\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","name":"test-tpl-updated-1757516920","subject":"SEV-2 Incident: test-tpl-updated-1757516920"},"relationships":{"incident_type":{"data":{"id":"5db4d227-fd1f-4403-8c30-3d19b3efc438","type":"incident_types"}}},"type":"notification_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
        method: POST
      response:
        body: '{"data":{"id":"57e3bbfc-9a2a-4f2c-8080-b8277bd36fac","type":"notification_templates","attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-tpl-updated-1757516920\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","created":"2025-09-10T15:08:43.505336Z","modified":"2025-09-10T15:08:43.505336Z","name":"test-tpl-updated-1757516920","subject":"SEV-2 Incident: test-tpl-updated-1757516920"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"5db4d227-fd1f-4403-8c30-3d19b3efc438","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 55.323333ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/57e3bbfc-9a2a-4f2c-8080-b8277bd36fac
        method: GET
      response:
        body: '{"data":{"id":"57e3bbfc-9a2a-4f2c-8080-b8277bd36fac","type":"notification_templates","attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-tpl-updated-1757516920\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","created":"2025-09-10T15:08:43.505336Z","modified":"2025-09-10T15:08:43.505336Z","name":"test-tpl-updated-1757516920","subject":"SEV-2 Incident: test-tpl-updated-1757516920"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"5db4d227-fd1f-4403-8c30-3d19b3efc438","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 39.88425ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/types/5db4d227-fd1f-4403-8c30-3d19b3efc438
        method: GET
      response:
        body: '{"data":{"id":"5db4d227-fd1f-4403-8c30-3d19b3efc438","type":"incident_types","attributes":{"createdAt":"2025-09-10T15:08:43.131464Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test incident type for notification template","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2025-09-10T15:08:43.131464Z","name":"test-tpl-updated-1757516920-it","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 42.094834ms
[...]
    - id: 14
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/57e3bbfc-9a2a-4f2c-8080-b8277bd36fac
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 31.172417ms
