---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"domains":["@test.com","@datadoghq.com"],"enabled":false},"type":"domain_allowlist"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/domain_allowlist
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"type":"domain_allowlist","attributes":{"enabled":false,"domains":["@test.com","@datadoghq.com"]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 231.420958ms
[...]
