---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 131.124917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"second-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:second"},"reference_table":null}]},"id":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Update-local-1762792335","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"06354404-ead1-41f4-97c7-382e51f55de9","type":"ruleset","attributes":{"created":{"seconds":1762792336,"nanos":158889000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1762792336,"nanos":158889000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Update-local-1762792335","position":1,"rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3623048}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 75.255083ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[{"id":"06354404-ead1-41f4-97c7-382e51f55de9","type":"ruleset","attributes":{"created":{"seconds":1762792336,"nanos":158889000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1762792336,"nanos":158889000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Update-local-1762792335","position":1,"processing_status":"error","rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3623048}},{"id":"b53f36a5-07bd-4780-ab29-8be813289ecd","type":"ruleset","attributes":{"created":{"seconds":1762792336,"nanos":169081000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1762792336,"nanos[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"b53f36a5-07bd-4780-ab29-8be813289ecd","type":"ruleset"},{"id":"06354404-ead1-41f4-97c7-382e51f55de9","type":"ruleset"},{"id":"05229e7c-8587-4ce3-a1f7-25739c161379","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 65.699125ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/05229e7c-8587-4ce3-a1f7-25739c161379
        method: GET
      response:
        body: '{"data":{"id":"05229e7c-8587-4ce3-a1f7-25739c161379","type":"ruleset","attributes":{"created":{"seconds":1762792336,"nanos":211551000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1762792336,"nanos":211551000},"name":"tf-test-order-third-tf-TestAccDatadogTagPipelineRulesets_Update-local-1762792335","position":3,"processing_status":"error","rules":[{"name":"third-rule","enabled":true,"query":{"query":"service:third","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3623050}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 128.391042ms
[...]
