version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguserdatasourceexactmatch-local-1628262005@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
    id: 0
  response:
    body: '{"data":{"type":"users","id":"fcf99d16-f6c6-11eb-ba1e-da7ad0900002","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourceexactmatch-local-1628262005@example.com","created_at":"2021-08-06T15:00:07.309187+00:00","modified_at":"2021-08-06T15:00:07.625846+00:00","email":"tf-testaccdatadoguserdatasourceexactmatch-local-1628262005@example.com","icon":"https://secure.gravatar.com/avatar/ce576e51a796656de7c44a9a4cbc2310?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: "0ms"
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"fcf99d16-f6c6-11eb-ba1e-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
    id: 1
  response:
    body: '{"data":[{"type":"user_invitations","id":"fd69a39a-f6c6-11eb-ba1e-da7ad0900002","attributes":{"uuid":"fd69a39a-f6c6-11eb-ba1e-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2021-08-06T15:00:08.044378+00:00","expires_at":"2021-08-08T15:00:07.843631+00:00"},"relationships":{"user":{"data":{"type":"users","id":"fcf99d16-f6c6-11eb-ba1e-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguserdatasourceexactmatch-local-1628262005%40example.com
    method: GET
    id: 2
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":9427}},"data":[{"type":"users","id":"fcf99d16-f6c6-11eb-ba1e-da7ad0900002","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourceexactmatch-local-1628262005@example.com","created_at":"2021-08-06T15:00:07.309187+00:00","modified_at":"2021-08-06T15:00:07.625846+00:00","email":"tf-testaccdatadoguserdatasourceexactmatch-local-1628262005@example.com","icon":"https://secure.gravatar.com/avatar/ce576e51a796656de7c44a9a4cbc2310?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/fcf99d16-f6c6-11eb-ba1e-da7ad0900002
    method: GET
    id: 4
  response:
    body: '{"data":{"type":"users","id":"fcf99d16-f6c6-11eb-ba1e-da7ad0900002","attributes":{"name":null,"handle":"tf-testaccdatadoguserdatasourceexactmatch-local-1628262005@example.com","created_at":"2021-08-06T15:00:07.309187+00:00","modified_at":"2021-08-06T15:00:07.625846+00:00","email":"tf-testaccdatadoguserdatasourceexactmatch-local-1628262005@example.com","icon":"https://secure.gravatar.com/avatar/ce576e51a796656de7c44a9a4cbc2310?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
