---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"description":"Secrets in production are always critical","severity":"critical","type":"set"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRule-local-1788858099","rule":{"finding_types":["secret"],"query":"env:prod"}},"type":"severity_modifier_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
        method: POST
      response:
        body: '{"data":{"id":"630a0b43-f1cd-40ed-a8d0-710a51379cca","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"critical","description":"Secrets in production are always critical"},"created_at":1788858105620,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858105620,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRule-local-1788858099","rule":{"finding_types":["secret"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 297.291625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/630a0b43-f1cd-40ed-a8d0-710a51379cca
        method: GET
      response:
        body: '{"data":{"id":"630a0b43-f1cd-40ed-a8d0-710a51379cca","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"critical","description":"Secrets in production are always critical"},"created_at":1788858105620,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1788858105620,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRule-local-1788858099","rule":{"finding_types":["secret"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 302.608833ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"severity_delta":"down_one","type":"shift"},"enabled":false,"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRule-local-1788858099-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:dev"}},"type":"severity_modifier_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/630a0b43-f1cd-40ed-a8d0-710a51379cca
        method: PUT
      response:
        body: '{"data":{"id":"630a0b43-f1cd-40ed-a8d0-710a51379cca","type":"severity_modifier_rules","attributes":{"action":{"type":"shift","severity_delta":"down_one"},"created_at":1788858105620,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":false,"modified_at":1788858120314,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsSeverityModifierRule-local-1788858099-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 305.336542ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/630a0b43-f1cd-40ed-a8d0-710a51379cca
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 176.440333ms
