---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","sources":[{"id":"opentelemetry-source-1","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/opentelemetry.crt","key_file":"/etc/ssl/private/opentelemetry.key"},"type":"opentelemetry"}]},"name":"opentelemetry-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"f4b5028a-f20c-11f0-9df4-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"opentelemetry-source-1","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/opentelemetry.crt","key_file":"/etc/ssl/private/opentelemetry.key"},"type":"opentelemetry"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 473.836125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/f4b5028a-f20c-11f0-9df4-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"f4b5028a-f20c-11f0-9df4-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"opentelemetry-source-1","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/opentelemetry.crt","key_file":"/etc/ssl/private/opentelemetry.key"},"type":"opentelemetry"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 223.079292ms
[...]
