---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"end_month":202412,"entries":[{"amount":1000,"month":202401,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202402,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202403,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202404,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202405,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202406,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202407,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202408,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202409,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202410,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202411,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"amount":1000,"month":202412,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]}],"metrics_query":"sum:aws.cost.amortized{*} by {account}","name":"tf-TestAccDatadogCostBudgetDataSource_Basic-local-1748004989","start_month":202401},"type":"budget"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/budget
        method: PUT
      response:
        body: '{"data":{"id":"1d3e1e3d-506c-414d-8589-75c6ca7a32d6","type":"budget","attributes":{"created_at":1748004991598,"created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","end_month":202412,"entries":[{"month":202401,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202402,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202403,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202404,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202405,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202406,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202407,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202408,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202409,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202410,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202411,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]},{"month":202412,"amount":1000,"tag_filters":[{"tag_key":"account","tag_value":"foo"}]}],"metrics_query":"sum:aws.cost.amortized{*} by {account}","name":"tf-TestAccDatadogCostBudgetDataSource_Basic-local-1748004989","org_id":321813,"start_month":202401,"total_amount":12000,"updated_at":1748004991598,"updated_by":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 419.900833ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/1d3e1e3d-506c-414d-8589-75c6ca7a32d6
        method: GET
      response:
        body: '{"data":{"id":"1d3e1e3d-506c-414d-8589-75c6ca7a32d6","type":"budget","attributes":{"created_at":1748004991598,"created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","end_month":202412,"entries":[{"month":202401,"amount":1000,"tag_filters":[{"tag_k[...]
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/budget/1d3e1e3d-506c-414d-8589-75c6ca7a32d6
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 131.393458ms
[...]
