---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogusersdatasourcefilter-local-17586192942@example.com","name":"user 2"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"b4310ce1-985e-11f0-b850-c65509ea6aa9","attributes":{"name":"user 2","handle":"tf-testaccdatadogusersdatasourcefilter-local-17586192942@example.com","created_at":"2025-09-23T09:21:36.594687+00:00","modified_at":"2025-09-23T09:21:36.594687+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17586192942@example.com","icon":"https://secure.gravatar.com/avatar/0b48eb8c81c03941192bdacbaa66ff3e?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 915.879792ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"b4330454-985e-11f0-9236-3a9645c0fdcf","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"b47bf4ba-985e-11f0-b94d-da7ad0900002","attributes":{"uuid":"b47bf4ba-985e-11f0-b94d-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:21:37.085184+00:00","expires_at":"2025-09-25T09:21:36.857972+00:00"},"relationships":{"user":{"data":{"type":"users","id":"b4330454-985e-11f0-9236-3a9645c0fdcf"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 487.161834ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadogusersdatasourcefilter-local-17586192940%40example.com&page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"b431b9e4-985e-11f0-b817-72d874262dfd","attributes":{"name":"user 0","handle":"tf-testaccdatadogusersdatasourcefilter-local-17586192940@example.com","created_at":"2025-09-23T09:21:36.599113+00:00","modified_at":"2025-09-23T09:21:36.599113+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17586192940@example.com","icon":"https://secure.gravatar.com/avatar/29ee5f23d50376964d25a3f1a6884125?s=48&d=retro","title":"","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":170828,"total_filtered_count":1,"max_page_size":1000}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.217292ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/b4330454-985e-11f0-9236-3a9645c0fdcf
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"b4330454-985e-11f0-9236-3a9645c0fdcf","attributes":{"name":"user 1","handle":"tf-testaccdatadogusersdatasourcefilter-local-17586192941@example.com","created_at":"2025-09-23T09:21:36.607574+00:00","modified_at":"2025-09-23T09:21:36.607574+00:00","email":"tf-testaccdatadogusersdatasourcefilter-local-17586192941@example.com","icon":"https://secure.gravatar.com/avatar/5983f691bed9ff6e008e49815646faf4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 399.9335ms
[...]
