---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"query-rule","query":{"addition":{"key":"team","value":"backend"},"case_insensitivity":true,"if_not_exists":false,"query":"source:app AND env:prod"},"reference_table":null}]},"id":"tf-test-query-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRule-local-1759525242","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"7c9c8095-08d6-4dbe-a04e-e57da3a77340","type":"ruleset","attributes":{"created":{"seconds":1759525245,"nanos":424517000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759525245,"nanos":424517000},"name":"tf-test-query-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRule-local-1759525242","position":2,"rules":[{"name":"query-rule","enabled":true,"query":{"query":"source:app AND env:prod","addition":{"key":"team","value":"backend"},"if_not_exists":false,"case_insensitivity":true},"mapping":null,"reference_table":null,"metadata":null}],"version":3609226}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 173.523375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/7c9c8095-08d6-4dbe-a04e-e57da3a77340
        method: GET
      response:
        body: '{"data":{"id":"7c9c8095-08d6-4dbe-a04e-e57da3a77340","type":"ruleset","attributes":{"created":{"seconds":1759525245,"nanos":424517000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759525245,"nanos":424517000},"name":"tf-test-query-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRule-local-1759525242","position":2,"processing_status":"error","rules":[{"name":"query-rule","enabled":true,"query":{"query":"source:app AND env:prod","addition":{"key":"team","value":"backend"},"if_not_exists":false,"case_insensitivity":true},"mapping":null,"reference_table":null,"metadata":null}],"version":3609226}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 157.206209ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/7c9c8095-08d6-4dbe-a04e-e57da3a77340
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset 7c9c8095-08d6-4dbe-a04e-e57da3a77340 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 39.701792ms
