---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/5c2f3e68-adae-4f4e-9e91-7c31bb70329b/retention_filters
        method: GET
      response:
        body: '{"data":[{"id":"default_replays","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"Sessions with forced replays","query":"@session.has_forced_replay:true","sample_rate":100},"meta":{"source":"default","updated_at":1744729304944,"updated_by_handle":"Datadog","edition_mode":"limited"}},{"id":"default_errors","type":"retention_filters","attributes":{"enabled":true,"event_type":"error","name":"Sessions with errors","query":"","sample_rate":100},"meta":{"source":"default","updated_at":1743012800450,"updated_by_handle":"Datadog","edition_mode":"complete"}},{"id":"default_sessions","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"Sessions","query":"","sample_rate":100},"meta":{"source":"default","updated_at":1743012800450,"updated_by_handle":"Datadog","edition_mode":"complete"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 135.91325ms
