---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {
                "name": "tf-TestAccDatadogMonitorJSONImport-local-1774540745",
                "type": "service check",
                "query": "\"ntp.in_sync\".by(\"*\").last(2).count_by_status()",
                "message": "Change the message triggers if any host's clock goes out of sync with the time given by NTP. The offset threshold is configured in the Agent's 'ntp.yaml' file.\n\nSee [Troubleshooting NTP Offset issues](https://docs.datadoghq.com/agent/troubleshooting/ntp for more details on cause and resolution.",
                "tags": [],
                "multi": true,
                "options": {
                    "include_tags": true,
                    "new_host_delay": 150,
                    "notify_audit": false,
                    "notify_no_data": false,
                    "thresholds": {
                        "warning": 1,
                        "ok": 1,
                        "critical": 1
                    }
                },
                "priority": null,
                "classification": "custom"
            }
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":269400713,"org_id":321813,"type":"service check","name":"tf-TestAccDatadogMonitorJSONImport-local-1774540745","message":"Change the message triggers if any host's clock goes out of sync with the time given by NTP. The offset threshold is configured in the Agent's 'ntp.yaml' file.\n\nSee [Troubleshooting NTP Offset issues](https://docs.datadoghq.com/agent/troubleshooting/ntp for more details on cause and resolution.","tags":[],"query":"\"ntp.in_sync\".by(\"*\").last(2).count_by_status()","options":{"include_tags":true,"new_host_delay":150,"notify_audit":false,"notify_no_data":false,"thresholds":{"warning":1,"ok":1,"critical":1},"silenced":{}},"multi":true,"created_at":1774540747000,"created":"2026-03-26T15:59:07.663436+00:00","modified":"2026-03-26T15:59:07.663436+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Francesco Pighi","handle":"francesco.pighi@datadoghq.com","email":"francesco.pighi@datadoghq.com","id":21235577}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 612.967917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/269400713?with_restricted_roles=false&with_restriction_policy=true
        method: GET
      response:
            - chunked
        body: |
            {"id":269400713,"org_id":321813,"type":"service check","name":"tf-TestAccDatadogMonitorJSONImport-local-1774540745","message":"Change the message triggers if any host's clock goes out of sync with the time given by NTP. The offset threshold is configured in the Agent's 'ntp.yaml' file.\n\nSee [Troubleshooting NTP Offset issues](https://docs.datadoghq.com/agent/troubleshooting/ntp for more details on cause and resolution.","tags":[],"query":"\"ntp.in_sync\".by(\"*\").last(2).count_by_status()","options":{"include_tags":true,"new_host_delay":150,"notify_audit":false,"notify_no_data":false,"thresholds":{"warning":1,"ok":1,"critical":1},"silenced":{}},"multi":true,"created_at":1774540747000,"created":"2026-03-26T15:59:07.663436+00:00","modified":"2026-03-26T15:59:07.663436+00:00","deleted":null,"priority":null,"restriction_policy":{"bindings":[]},"draft_status":"published","overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Francesco Pighi","email":"francesco.pighi@datadoghq.com","handle":"francesco.pighi@datadoghq.com","id":21235577}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 173.953334ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/269400713
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":269400713}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 283.935916ms
