---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1740561202","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"ht5-kfc-yj9","title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1740561202","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/ht5-kfc-yj9/tf-testaccdatadogdashboardrbaccreateadmin-local-1740561202","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":2355945497268537}],"notify_list":[],"created_at":"2025-02-26T09:13:26.089906+00:00","modified_at":"2025-02-26T09:13:26.089906+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 599.465875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ht5-kfc-yj9
        method: GET
      response:
            - chunked
        body: |
            {"id":"ht5-kfc-yj9","title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1740561202","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/ht5-kfc-yj9/tf-testaccdatadogdashboardrbaccreateadmin-local-1740561202","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":2355945497268537}],"notify_list":[],"created_at":"2025-02-26T09:13:26.089906+00:00","modified_at":"2025-02-26T09:13:26.089906+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.197667ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/ht5-kfc-yj9
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"ht5-kfc-yj9"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 344.941792ms
