---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team 2","handle":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768299759-2","name":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768299759-2"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"173b83a1-d558-4a76-bcfd-0b4befdcd18c","type":"team","attributes":{"avatar":null,"banner":5,"created_at":"2026-01-13T10:22:40.833834+00:00","description":"Example team 2","handle":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768299759-2","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-13T10:22:40.833834+00:00","name":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768299759-2","summary":"Example team 2","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/173b83a1-d558-4a76-bcfd-0b4befdcd18c/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/173b83a1-d558-4a76-bcfd-0b4befdcd18c/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 531.19ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"channel":"#test-channel","workspace":"Datadog"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/76ae7478-e92d-41e6-8e89-27dbf2b97ca5/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"faa94254-87b7-4768-a17c-bacf8d60ca2c","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 212.034625ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/173b83a1-d558-4a76-bcfd-0b4befdcd18c/notification-rules
        method: GET
      response:
        body: '{"data":[{"id":"43da9d8d-9eb0-40ae-b833-b5b19af448a6","type":"team_notification_rules","attributes":{"ms_teams":{"connector_name":"test-teams-handle-2"},"pagerduty":{"service_name":"my-service-2"},"slack":{"workspace":"Datadog2","channel":"#test-channel-2"}}}],"meta":{"page":{"type":"offset_limit","offset":0,"limit":100,"total":1,"first_offset":0,"prev_offset":null,"next_offset":null,"last_offset":0}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 136.565167ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/76ae7478-e92d-41e6-8e89-27dbf2b97ca5/notification-rules/faa94254-87b7-4768-a17c-bacf8d60ca2c
        method: GET
      response:
        body: '{"data":{"id":"faa94254-87b7-4768-a17c-bacf8d60ca2c","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 136.6155ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/173b83a1-d558-4a76-bcfd-0b4befdcd18c
        method: GET
      response:
        body: '{"data":{"id":"173b83a1-d558-4a76-bcfd-0b4befdcd18c","type":"team","attributes":{"created_at":"2026-01-13T10:22:40.833834+00:00","description":"Example team 2","handle":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768299759-2","is_managed":false,"link_count":0,"modified_at":"2026-01-13T10:22:40.833834+00:00","name":"tf-testaccdatadogteamnotificationruledatasourcebasic-local-1768299759-2","summary":"Example team 2","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/173b83a1-d558-4a76-bcfd-0b4befdcd18c/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/173b83a1-d558-4a76-bcfd-0b4befdcd18c/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 145.604333ms
[...]
