---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Description of the variable","is_fido":false,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_UPDATEDTARGETANDTARGETVALUECANBENUMBERORSTRING_LOCAL_1749217074","tags":["foo:bar","env:test"],"value":{"secure":false,"value":"variable-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"0125fbea-7b38-4b97-b6b4-2876103b04cf","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_UPDATEDTARGETANDTARGETVALUECANBENUMBERORSTRING_LOCAL_1749217074","description":"Description of the variable","type":"variable","tags":["foo:bar","env:test"],"last_error":null,"value":{"secure":false,"value":"variable-value"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 438.742209ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"is","target":200,"type":"statusCode"},{"operator":"validatesJSONSchema","target":{"jsonSchema":"{\"type\": \"object\", \"properties\":{\"slideshow\":{\"type\":\"object\"}}}","metaSchema":"draft-07"},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"},{"operator":"validatesXPath","target":{"operator":"contains","targetValue":"12","xPath":"something"},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.myKey","operator":"isUndefined"},"type":"body"},{"operator":"moreThan","property":"content-length","target":74000,"type":"header"},{"operator":"moreThan","property":"content-length","target":74001,"type":"header"},{"operator":"md5","target":"ab1f88dc59fc43e4bc07ca52f7bf4d12","type":"bodyHash"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.discountPercentage","operator":"lessThan","targetValue":18.48},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.discountPercentage","operator":"lessThan","targetValue":18.49},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.discountPercentage","operator":"moreThan","targetValue":8},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.discountPercentage","operator":"moreThan","targetValue":7},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.discountPercentage","operator":"contains","targetValue":"10.48"},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"$.discountPercentage","operator":"contains","targetValue":"10.48"},"type":"body"}],"configVariables":[],"request":{"method":"GET","timeout":30,"url":"https://www.datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_UpdatedTargetAndTargetValueCanBeNumberOrString-local-1749217074","options":{"follow_redirects":true,"httpVersion":"any","min_location_failed":1,"monitor_options":{"escalation_message":"test escalation message","notification_preset_name":"show_all","renotify_interval":120,"renotify_occurrences":5},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"csz-3n9-ygq","name":"tf-TestAccDatadogSyntheticsAPITest_UpdatedTargetAndTargetValueCanBeNumberOrString-local-1749217074","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-06-06T13:37:56.690327+00:00","modified_at":"2025-06-06T13:37:56.690327+00:00","config":{"assertions":[{"operator":"is","target":200,"type":"statusCode"},{"operator":"validatesJSONSchema","target":{"jsonSchema":"{\"type\": \"object\", \"properties\":{\"slideshow\":{\"type\":\"object\"}}}","metaSchema":"draft-07"},"type":"body"},{"operator":"validatesJSONPath","target":{"elementsOperator":"firstElementMatches","jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"},{"operator":"validatesXPath","target":{"operator":"contain[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/csz-3n9-ygq
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"csz-3n9-ygq","name":"tf-TestAccDatadogSyntheticsAPITest_UpdatedTargetAndTargetValueCanBeNumberOrString-local-1749217074","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"202[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/csz-3n9-ygq
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"csz-3n9-ygq","name":"tf-TestAccDatadogSyntheticsAPITest_UpdatedTargetAndTargetValueCanBeNumberOrString-local-1749217074","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-06[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/0125fbea-7b38-4b97-b6b4-2876103b04cf
        method: GET
      response:
            - chunked
        body: |
            {"id":"0125fbea-7b38-4b97-b6b4-2876103b04cf","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_UPDATEDTARGETANDTARGETVALUECANBENUMBERORSTRING_LOCAL_1749217074","description":"Description of the variable","type":"variable","tags":["foo:bar","env:test"],"created_at":"2025-06-06T13:37:56.479702+00:00","modified_at":"2025-06-06T13:37:56.479702+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.402625ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"validatesJSONPath","target":{"elementsOperator":"everyElementMatches","jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"Notify @pagerduty","name":"tf-TestAccDatadogSyntheticsAPITest_UpdatedTargetAndTargetValueCanBeNumberOrString-local-1749217074updated","options":{"httpVersion":"any","min_failure_duration":10,"min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0},"tick_every":900},"status":"live","subtype":"http","tags":["foo:bar","foo","env:test"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/csz-3n9-ygq
        method: PUT
      response:
            - chunked
        body: |
            {"org_id":321813,"public_id":"csz-3n9-ygq","name":"tf-TestAccDatadogSyntheticsAPITest_UpdatedTargetAndTargetValueCanBeNumberOrString-local-1749217074updated","status":"live","type":"api","tags":["foo:bar","foo","env:test"],"message":"Notify @pagerduty","options":{"httpVersion":"any","min_failure_duration":10,"min_location_failed":1,"monitor_options":{"escalation_message":"","renotify_interval":120,"renotify_occurrences":0},"tick_every":900},"locations":["aws:eu-central-1"],"created_at":"2025-06-06T13:37:56.690327+00:00","modified_at":"2025-06-06T13:37:59.623868+00:00","config":{"assertions":[{"operator":"validatesJSONPath","target":{"elementsOperator":"everyElementMatches","jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"configVariables":[],"request":{"method":"GET","timeout":60,"url":"https://docs.datadoghq.com"}},"overall_state_modified":"2025-06-06T13:37:59.727766+00:00","subtype":"http","monitor_id":174334846,"created_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"modified_by":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"overall_state":2,"creation_source":"terraform"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 606.786875ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["csz-3n9-ygq"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"csz-3n9-ygq","deleted_at":"2025-06-06T13:38:02.046381+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 940.407583ms
    - id: 17
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/csz-3n9-ygq
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 138.112542ms
