---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"prod","identifier":"tf-TestAccDeploymentRuleTypeForceNew-local-1762264610","service":"test-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"6ed44078-e0cf-4e1d-9c87-d3a213eb3e34","type":"deployment_gate","attributes":{"created_at":"2025-11-04T13:56:52.580896Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"prod","identifier":"tf-TestAccDeploymentRuleTypeForceNew-local-1762264610","service":"test-service","updated_at":"2025-11-04T13:56:52.580896Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 283.733459ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"My deployment rule","options":{"duration":10,"excluded_resources":["resource1"]},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/6ed44078-e0cf-4e1d-9c87-d3a213eb3e34/rules
        method: POST
      response:
        body: '{"data":{"id":"31e754ff-1b40-4555-9168-d0b7437c5038","type":"deployment_rule","attributes":{"created_at":"2025-11-04T13:56:52.882141Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"6ed44078-e0cf-4e1d-9c87-d3a213eb3e34","name":"My deployment rule","options":{"duration":10,"excluded_resources":["resource1"]},"type":"faulty_deployment_detection","updated_at":"2025-11-04T13:56:52.882141Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 222.684584ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/6ed44078-e0cf-4e1d-9c87-d3a213eb3e34
        method: GET
      response:
        body: '{"data":{"id":"6ed44078-e0cf-4e1d-9c87-d3a213eb3e34","type":"deployment_gate","attributes":{"created_at":"2025-11-04T13:56:52.580896Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"prod","identifier":"tf-TestAccDeploymentRuleTypeForceNew-local-1762264610","service":"test-service","updated_at":"2025-11-04T13:56:52.580896Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 230.662542ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/6ed44078-e0cf-4e1d-9c87-d3a213eb3e34/rules/31e754ff-1b40-4555-9168-d0b7437c5038
        method: GET
      response:
        body: '{"data":{"id":"31e754ff-1b40-4555-9168-d0b7437c5038","type":"deployment_rule","attributes":{"created_at":"2025-11-04T13:56:52.882141Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"6ed44078-e0cf-4e1d-9c87-d3a213eb3e34","name":"My deployment rule","options":{"duration":10,"excluded_resources":["resource1"]},"type":"faulty_deployment_detection","updated_at":"2025-11-04T13:56:52.882141Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 288.202709ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"My deployment rule","options":{"query":"service:test-service"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/6ed44078-e0cf-4e1d-9c87-d3a213eb3e34/rules
        method: POST
      response:
        body: '{"data":{"id":"ceffe5f7-edc2-45d8-b39d-4471acaff1bb","type":"deployment_rule","attributes":{"created_at":"2025-11-04T13:56:55.738322Z","created_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"6ed44078-e0cf-4e1d-9c87-d3a213eb3e34","name":"My deployment rule","options":{"query":"service:test-service"},"type":"monitor","updated_at":"2025-11-04T13:56:55.738322Z","updated_by":{"id":"9748ef73-8f8e-4e26-b85e-3ca8c1d5af26","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 368.103209ms
[...]
