---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"Query":"source:app AND env:prod"},"type":"validate_query"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/validate-query
        method: POST
      response:
        body: '{"data":{"id":"736eb107-315f-4ef8-a8bb-0e1db4d392e7","type":"validate_response","attributes":{"Canonical":"source:app AND env:prod"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 107.177458ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"query-rule","query":{"addition":{"key":"team","value":"backend"},"case_insensitivity":true,"if_not_exists":false,"query":"source:app AND env:prod"},"reference_table":null}]},"id":"tf-test-query-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRule-local-1782916319","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"10cbbf25-61fb-4bf3-8e2f-efb14bcb6a40","type":"ruleset","attributes":{"created":{"seconds":1782916320,"nanos":711053000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1782916320,"nanos":711053000},"name":"tf-test-query-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRule-local-1782916319","position":1,"rules":[{"name":"query-rule","enabled":true,"query":{"query":"source:app AND env:prod","addition":{"key":"team","value":"backend"},"if_not_exists":false,"case_insensitivity":true,"if_tag_exists":"append"},"mapping":null,"reference_table":null,"metadata":null}],"version":3718511}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 159.716875ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/10cbbf25-61fb-4bf3-8e2f-efb14bcb6a40
        method: GET
      response:
        body: '{"data":{"id":"10cbbf25-61fb-4bf3-8e2f-efb14bcb6a40","type":"ruleset","attributes":{"created":{"seconds":1782916320,"nanos":711053000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1782916320,"nanos":711053000},"name":"tf-test-query-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRule-local-1782916319","position":1,"rules":[{"name":"query-rule","enabled":true,"query":{"query":"source:app AND env:prod","addition":{"key":"team","value":"backend"},"if_not_exists":false,"case_insensitivity":true,"if_tag_exists":"append"},"mapping":null,"reference_table":null,"metadata":null}],"version":3718511}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 67.658167ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/10cbbf25-61fb-4bf3-8e2f-efb14bcb6a40
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset 10cbbf25-61fb-4bf3-8e2f-efb14bcb6a40 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 68.545458ms
