---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-1"],"type":"datadog_logs"}],"sources":[{"id":"opentelemetry-source-1","type":"opentelemetry"}]},"name":"opentelemetry-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"ae91b878-8fc1-11f0-807a-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-1"],"type":"datadog_logs"}],"processors":[],"sources":[{"id":"opentelemetry-source-1","type":"opentelemetry"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 865.465167ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/ae91b878-8fc1-11f0-807a-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"ae91b878-8fc1-11f0-807a-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-1"],"type":"datadog_logs"}],"processors":[],"sources":[{"id":"opentelemetry-source-1","type":"opentelemetry"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 292.614125ms
[...]
