---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"domain_prefix":"test-sp-degrade-tmpl-import-1787184434","name":"test-sp-degrade-tmpl-import-1787184434","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"402adca9-1f8f-42f2-9350-870ed84c7ed2","type":"status_pages","attributes":{"company_logo":null,"components":[],"created_at":"2026-08-20T00:07:17.988984Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-import-1787184434","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-20T00:07:17.988984Z","name":"test-sp-degrade-tmpl-import-1787184434","page_url":"https://frog.datadoghq.com/status-pages/402adca9-1f8f-42f2-9350-870ed84c7ed2/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 3.288399333s
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"API","position":0,"type":"component"},"type":"components"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/402adca9-1f8f-42f2-9350-870ed84c7ed2/components
        method: POST
      response:
        body: '{"data":{"id":"cf2a3ae7-3014-485b-874b-a01a92ac9cff","type":"components","attributes":{"created_at":"2026-08-20T00:07:21.255307Z","modified_at":"2026-08-20T00:07:21.255307Z","name":"API","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"402adca9-1f8f-42f2-9350-870ed84c7ed2","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 88.713958ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components_affected":[{"id":"cf2a3ae7-3014-485b-874b-a01a92ac9cff","status":"degraded"}],"degradation_title":"API degradation","name":"test-sp-degrade-tmpl-import-1787184434","updates":[{"message":"We are investigating the issue.","status":"investigating"}]},"type":"degradation_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/402adca9-1f8f-42f2-9350-870ed84c7ed2/degradation_templates
        method: POST
      response:
        body: '{"data":{"id":"7051a3d4-5fba-4b06-9d3b-500202812be6","type":"degradation_templates","attributes":{"components_affected":[{"id":"cf2a3ae7-3014-485b-874b-a01a92ac9cff","status":"degraded"}],"created_at":"2026-08-20T00:07:21.389407Z","degradation_title":"API degradation","modified_at":"2026-08-20T00:07:21.389407Z","name":"test-sp-degrade-tmpl-import-1787184434","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"402adca9-1f8f-42f2-9350-870ed84c7ed2","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 294.913584ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/402adca9-1f8f-42f2-9350-870ed84c7ed2
        method: GET
      response:
        body: '{"data":{"id":"402adca9-1f8f-42f2-9350-870ed84c7ed2","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"cf2a3ae7-3014-485b-874b-a01a92ac9cff","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-20T00:07:17.988984Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-import-1787184434","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-20T00:07:17.988984Z","name":"test-sp-degrade-tmpl-import-1787184434","page_url":"https://frog.datadoghq.com/status-pages/402adca9-1f8f-42f2-9350-870ed84c7ed2/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 60.30475ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/402adca9-1f8f-42f2-9350-870ed84c7ed2/components/cf2a3ae7-3014-485b-874b-a01a92ac9cff
        method: GET
      response:
        body: '{"data":{"id":"cf2a3ae7-3014-485b-874b-a01a92ac9cff","type":"components","attributes":{"created_at":"2026-08-20T00:07:21.255307Z","modified_at":"2026-08-20T00:07:21.255307Z","name":"API","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"402adca9-1f8f-42f2-9350-870ed84c7ed2","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 53.988125ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/402adca9-1f8f-42f2-9350-870ed84c7ed2/degradation_templates/7051a3d4-5fba-4b06-9d3b-500202812be6
        method: GET
      response:
        body: '{"data":{"id":"7051a3d4-5fba-4b06-9d3b-500202812be6","type":"degradation_templates","attributes":{"components_affected":[{"id":"cf2a3ae7-3014-485b-874b-a01a92ac9cff","status":"degraded"}],"created_at":"2026-08-20T00:07:21.389407Z","degradation_title":"API degradation","modified_at":"2026-08-20T00:07:21.389407Z","name":"test-sp-degrade-tmpl-import-1787184434","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"402adca9-1f8f-42f2-9350-870ed84c7ed2","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 74.670958ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/402adca9-1f8f-42f2-9350-870ed84c7ed2/degradation_templates/7051a3d4-5fba-4b06-9d3b-500202812be6
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 57.897958ms
