---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1741371114","published":false,"spec":{"steps":[],"triggers":[{"startStepNames":[],"workflowTrigger":{}}]},"tags":["foo:bar","service:foo","team:bar"],"webhookSecret":""},"type":"workflows"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/workflows
        method: POST
      response:
        body: '{"data":{"id":"1d2ba5d3-8832-4352-8f04-f4a41dc352c2","type":"workflows","attributes":{"createdAt":"2025-03-07T18:11:56.10518Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1741371114","published":false,"spec":{"triggers":[{"startStepNames":[],"workflowTrigger":{}}],"steps":[]},"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2025-03-07T18:11:56.10518Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 144.077959ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/1d2ba5d3-8832-4352-8f04-f4a41dc352c2
        method: GET
      response:
        body: '{"data":{"id":"1d2ba5d3-8832-4352-8f04-f4a41dc352c2","type":"workflows","attributes":{"createdAt":"2025-03-07T18:11:56.10518Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1741371114","published":false,"spec":{"triggers":[{"startStepNames":[],"workflowTrigger":{}}],"steps":[]},"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2025-03-07T18:11:56.10518Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 81.77725ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/1d2ba5d3-8832-4352-8f04-f4a41dc352c2
        method: GET
      response:
        body: '{"errors":[{"detail":"workflow not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 53.483917ms
