---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsInboxRulesOrder-local-1789744786-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}},"type":"inbox_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules
        method: POST
      response:
        body: '{"data":{"id":"cc1df595-ebf5-4b42-a709-04908013a1b8","type":"inbox_rules","attributes":{"action":{},"created_at":1789744789684,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744789684,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRulesOrder-local-1789744786-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 594.837042ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"cc1df595-ebf5-4b42-a709-04908013a1b8","type":"inbox_rules"},{"id":"0f6ffdb0-2d25-41e6-82e9-7e8c77c34166","type":"inbox_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"inbox_rules","id":"cc1df595-ebf5-4b42-a709-04908013a1b8"},{"type":"inbox_rules","id":"0f6ffdb0-2d25-41e6-82e9-7e8c77c34166"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 306.571417ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/cc1df595-ebf5-4b42-a709-04908013a1b8
        method: GET
      response:
        body: '{"data":{"id":"cc1df595-ebf5-4b42-a709-04908013a1b8","type":"inbox_rules","attributes":{"action":{},"created_at":1789744789684,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744789684,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRulesOrder-local-1789744786-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 202.228375ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules
        method: GET
      response:
        body: '{"data":[{"id":"cc1df595-ebf5-4b42-a709-04908013a1b8","type":"inbox_rules","attributes":{"action":{},"created_at":1789744789684,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744789684,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRulesOrder-local-1789744786-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}},{"id":"0f6ffdb0-2d25-41e6-82e9-7e8c77c34166","type":"inbox_rules","attributes":{"action":{},"created_at":1789744789692,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744789692,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRulesOrder-local-1789744786-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}],"meta":{"page":{"total_filtered_count":2}},"links":{"first":"/api/v2/security/findings/automation/inbox_rules?page[size]=1000\u0026page[number]=0","last":"/api/v2/security/findings/automation/inbox_rules?page[size]=1000\u0026page[number]=0"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 146.210084ms
[...]
    - id: 39
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/cc1df595-ebf5-4b42-a709-04908013a1b8
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 134.864584ms
[...]
