---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"account_id":"123456789012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionResource_AWS_AssumeRole-local-1758619282"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"89c5640b-b7c9-4e31-82a1-1177df8b7bf0","type":"action_connection","attributes":{"acting_user_can_resolve":false,"integration":{"credentials":{"account_id":"123456789012","external_id":"051e793e08f94bddb51e37ea71146d48","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionResource_AWS_AssumeRole-local-1758619282"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 711.784667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/89c5640b-b7c9-4e31-82a1-1177df8b7bf0
        method: GET
      response:
        body: '{"data":{"id":"89c5640b-b7c9-4e31-82a1-1177df8b7bf0","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2025-09-23 09:21:24.669737 +0000 UTC","integration":{"credentials":{"account_id":"123456789012","external_id":"051e793e08f94bddb51e37ea71146d48","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"last_updated":"2025-09-23 09:21:24.669737 +0000 UTC","name":"tf-TestAccDatadogActionConnectionResource_AWS_AssumeRole-local-1758619282"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 167.273584ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/89c5640b-b7c9-4e31-82a1-1177df8b7bf0
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 282.553875ms
