---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: '{"subdomain":"testdomain","schedules":["https://ddog.pagerduty.com/schedules/X123VF"],"api_token":"********************"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/pagerduty
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - text/html; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 243.567834ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers: {}
        url: https://api.datadoghq.com/api/v1/integration/pagerduty
        method: GET
      response:
            - chunked
        body: |
            {"services":[{"service_name":"tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_74909_1631710301_foo","service_key":"*****"},{"service_name":"tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_74909_1631710301_bar","service_key":"*****"},{"service_name":"tf_TestAccDatadogIntegrationPagerdutyServiceObject_Basic_79995_1635873433_bar_2","service_key":"*****"},{"service_name":"java-lifecyclePagerDutyIntegrationTest-local-1636450824","service_key":"*****"},{"service_name":"Test-Go-TestPagerDutyLifecycle-1639138041","service_key":"*****"},{"service_name":"Test-Go-TestPagerDutyServicesUpdateErrors-1639502439_1[...]
[...]
