---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Team description","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173927031901","name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173927031901"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"352b8453-16c8-4654-b1a4-77c9e62c4ff1","attributes":{"name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173927031901","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173927031901","summary":"Team description","description":"Team description","avatar":null,"banner":6,"visible_modules":[],"hidden_modules":[],"created_at":"2025-02-11T10:38:41.319962+00:00","modified_at":"2025-02-11T10:38:41.319968+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/352b8453-16c8-4654-b1a4-77c9e62c4ff1/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/352b8453-16c8-4654-b1a4-77c9e62c4ff1/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 547.280041ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team?filter%5Bkeyword%5D=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17392703190&page%5Bnumber%5D=0&page%5Bsize%5D=10&sort=name
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"team","attributes":{"summary":"Team description","user_count":0,"created_at":"2025-02-11T10:38:41.319962+00:00","description":"Team description","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173927031901","modified_at":"2025-02-11T10:38:41.319968+00:00","link_count":0,"name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173927031901","is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/352b8453-16c8-4654-b1a4-77c9e62c4ff1/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/352b8453-16c8-4654-b1a4-77c9e62c4ff1/permission-settings"}}},"id":"352b8453-16c8-4654-b1a4-77c9e62c4ff1"}],"meta":{"pagination":{"number":0,"first_number":0,"prev_number":0,"next_number":1,"last_number":0,"size":10,"type":"number_size","total":1}},"links":{"self":"https://api.datadoghq.com/api/v2/team?filter[keyword]=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17392703190&page[number]=0&page[size]=10&sort=name","last":null,"next":"https://api.datadoghq.com/api/v2/team?filter[keyword]=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17392703190&sort=name&page[number]=1&page[size]=10","prev":null,"first":"https://api.datadoghq.com/api/v2/team?filter[keyword]=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17392703190&sort=name&page[number]=0&page[size]=10"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.71825ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/352b8453-16c8-4654-b1a4-77c9e62c4ff1
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"team","attributes":{"user_count":0,"name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173927031901","summary":"Team description","description":"Team description","modified_at":"2025-02-11T10:38:41.319968+00:00","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173927031901","is_managed":false,"created_at":"2025-02-11T10:38:41.319962+00:00","link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/352b8453-16c8-4654-b1a4-77c9e62c4ff1/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/352b8453-16c8-4654-b1a4-77c9e62c4ff1/permission-settings"}}},"id":"352b8453-16c8-4654-b1a4-77c9e62c4ff1"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.024083ms
[...]
