---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"dest-minimal","inputs":["kafka-minimal-source"],"type":"datadog_logs"}],"processors":null,"sources":[{"group_id":"group-0","id":"kafka-minimal-source","topics":["topic-min"],"type":"kafka"}]},"name":"minimal kafka pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"05323f8c-1f55-11f0-8ae6-da7ad0900002","type":"pipelines","attributes":{"name":"minimal kafka pipeline","config":{"destinations":[{"id":"dest-minimal","inputs":["kafka-minimal-source"],"type":"datadog_logs"}],"processors":[],"sources":[{"group_id":"group-0","id":"kafka-minimal-source","topics":["topic-min"],"type":"kafka"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 475.475833ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/05323f8c-1f55-11f0-8ae6-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"05323f8c-1f55-11f0-8ae6-da7ad0900002","type":"pipelines","attributes":{"name":"minimal kafka pipeline","config":{"destinations":[{"id":"dest-minimal","inputs":["kafka-minimal-source"],"type":"datadog_logs"}],"processors":[],"sources":[{"group_id":"group-0","id":"kafka-minimal-source","topics":["topic-min"],"type":"kafka"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 282.511083ms
[...]
