---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccteammembershipbasic-local-1758619063","name":"tf-testaccteammembershipbasic-local-1758619063"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"61fed22d-c1e4-4088-9327-45d93833dabe","attributes":{"name":"tf-testaccteammembershipbasic-local-1758619063","handle":"tf-testaccteammembershipbasic-local-1758619063","summary":"Example team","description":"Example team","avatar":null,"banner":6,"visible_modules":[],"hidden_modules":[],"created_at":"2025-09-23T09:17:45.673137+00:00","modified_at":"2025-09-23T09:17:45.673145+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/61fed22d-c1e4-4088-9327-45d93833dabe/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/61fed22d-c1e4-4088-9327-45d93833dabe/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 638.328125ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"role":"admin"},"relationships":{"user":{"data":{"id":"2abf912b-985e-11f0-b686-b6e754432c4e","type":"users"}}},"type":"team_memberships"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/61fed22d-c1e4-4088-9327-45d93833dabe/memberships
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team_memberships","id":"TeamMembership-61fed22d-c1e4-4088-9327-45d93833dabe-59670290","attributes":{"role":"admin","provisioned_by":null,"provisioned_by_id":"3ad549bf-eba0-11e9-a77a-0705486660d0"},"relationships":{"user":{"data":{"type":"users","id":"2abf912b-985e-11f0-b686-b6e754432c4e"}}}},"included":[{"type":"users","id":"2abf912b-985e-11f0-b686-b6e754432c4e","attributes":{"name":null,"handle":"tf-testaccteammembershipbasic-local-1758619063@example.com","email":"tf-testaccteammembershipbasic-local-1758619063@example.com","icon":"https://secure.gravatar.com/avatar/9f50d2c0ff8e5053f64b77e5bbc0a97a?s=48&d=retro","disabled":false,"service_account":false}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 258.519792ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/61fed22d-c1e4-4088-9327-45d93833dabe
        method: GET
      response:
        body: '{"data":{"id":"61fed22d-c1e4-4088-9327-45d93833dabe","type":"team","attributes":{"created_at":"2025-09-23T09:17:45.673137+00:00","description":"Example team","handle":"tf-testaccteammembershipbasic-local-1758619063","is_managed":false,"link_count":0,"modified_at":"2025-09-23T09:17:45.673145+00:00","name":"tf-testaccteammembershipbasic-local-1758619063","summary":"Example team","user_count":1},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/61fed22d-c1e4-4088-9327-45d93833dabe/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/61fed22d-c1e4-4088-9327-45d93833dabe/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 224.423833ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/61fed22d-c1e4-4088-9327-45d93833dabe/memberships?page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"TeamMembership-61fed22d-c1e4-4088-9327-45d93833dabe-59670290","type":"team_memberships","attributes":{"provisioned_by":null,"provisioned_by_id":"3ad549bf-eba0-11e9-a77a-0705486660d0","role":"admin"},"relationships":{"user":{"data":{"id":"2abf912b-985e-11f0-b686-b6e754432c4e","type":"users"}}}}],"meta":{"pagination":{"type":"number_size","number":0,"size":100,"total":1,"first_number":0,"prev_number":null,"next_number":null,"last_number":0}},"links":{"self":"https://api.datadoghq.com/api/v2/team/61fed22d-c1e4-4088-9327-45d93833dabe/memberships?page%5Bnumber%5D=0\u0026page%5Bsize%5D=100","first":"https://api.datadoghq.com/api/v2/team/61fed22d-c1e4-4088-9327-45d93833dabe/memberships?page[number]=0\u0026page[size]=100","last":"https://api.datadoghq.com/api/v2/team/61fed22d-c1e4-4088-9327-45d93833dabe/memberships?page[number]=0\u0026page[size]=100"},"included":[{"id":"2abf912b-985e-11f0-b686-b6e754432c4e","type":"users","attributes":{"disabled":false,"email":"tf-testaccteammembershipbasic-local-1758619063@example.com","handle":"tf-testaccteammembershipbasic-local-1758619063@example.com","icon":"https://secure.gravatar.com/avatar/9f50d2c0ff8e5053f64b77e5bbc0a97a?d=retro\u0026s=48","name":null,"service_account":false}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 137.14125ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/61fed22d-c1e4-4088-9327-45d93833dabe/memberships/2abf912b-985e-11f0-b686-b6e754432c4e
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 378.040541ms
[...]
