---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"bucket":"my-gcs-bucket","id":"gcs-destination-1","inputs":["source-1"],"storage_class":"NEARLINE","type":"google_cloud_storage"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"gcs-destination-minimal-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"daa0def6-f20b-11f0-a3a0-da7ad0900002","type":"pipelines","attributes":{"name":"gcs-destination-minimal-pipeline","config":{"destinations":[{"bucket":"my-gcs-bucket","id":"gcs-destination-1","inputs":["source-1"],"storage_class":"NEARLINE","type":"google_cloud_storage"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 357.973667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/daa0def6-f20b-11f0-a3a0-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"daa0def6-f20b-11f0-a3a0-da7ad0900002","type":"pipelines","attributes":{"name":"gcs-destination-minimal-pipeline","config":{"destinations":[{"bucket":"my-gcs-bucket","id":"gcs-destination-1","inputs":["source-1"],"storage_class":"NEARLINE","type":"google_cloud_storage"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 224.61575ms
[...]
