---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/ltf-c1i-gjq
        method: GET
      response:
        body: '{"data":{"id":"ltf-c1i-gjq","type":"security_filters","attributes":{"exclusion_filters":[],"filtered_data_type":"logs","is_builtin":false,"is_enabled":true,"name":"tf-TestAccDatadogSecurityMonitoringFilter_Migration_NoExclusionFilters-local-1778512890","query":"no exclusion - tf-TestAccDatadogSecurityMonitoringFilter_Migration_NoExclusionFilters-local-1778512890","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 129.651ms
