---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"Data quality threshold exceeded","name":"tf-TestAccDatadogMonitor_DataQuality_WithMonitorOptions-local-1770661996","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":1000},"variables":[{"data_source":"data_quality_metrics","filter":"search for column where `database:production AND table:users`","group_by":["entity_id"],"measure":"row_count","monitor_options":{"crontab_override":"0 0 * * *","custom_sql":"SELECT * FROM table","custom_where":"database = 'production'","group_by_columns":["column1","column2"],"model_type_override":"freshness"},"name":"query1","schema_version":"0.0.1","scope":"database:production"}]},"priority":null,"query":"formula(\"query1\").last(\"30m\") \u003e 1000","restricted_roles":null,"tags":[],"type":"data-quality alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.489459ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"Data quality threshold exceeded","name":"tf-TestAccDatadogMonitor_DataQuality_WithMonitorOptions-local-1770661996","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":1000},"variables":[{"data_source":"data_quality_metrics","filter":"search for column where `database:production AND table:users`","group_by":["entity_id"],"measure":"row_count","monitor_options":{"crontab_override":"0 0 * * *","custom_sql":"SELECT * FROM table","custom_where":"database = 'production'","group_by_columns":["column1","column2"],"model_type_override":"freshness"},"name":"query1","schema_version":"0.0.1","scope":"database:production"}]},"priority":null,"query":"formula(\"query1\").last(\"30m\") \u003e 1000","restricted_roles":null,"tags":[],"type":"data-quality alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
        body: |
            {"id":25571040,"org_id":2,"type":"data-quality alert","name":"tf-TestAccDatadogMonitor_DataQuality_WithMonitorOptions-local-1770661996","message":"Data quality threshold exceeded","tags":[],"query":"formula(\"query1\").last(\"30m\") > 1000","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":1000.0},"variables":[{"data_source":"data_quality_metrics","filter":"search for column where `database:production AND table:users`","group_by":["entity_id"],"measure":"row_count","monitor_options":{"crontab_override":"0 0 * * *","custom_sql":"SELECT * FROM table","custom_where":"database = 'production'","group_by_columns":["column1","column2"],"model_type_override":"freshness"},"name":"query1","schema_version":"0.0.1","scope":"database:production"}],"notify_audit":false,"silenced":{},"avalanche_window":10},"multi":false,"created_at":1770661998000,"created":"2026-02-09T18:33:18.288200+00:00","modified":"2026-02-09T18:33:18.288200+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Peter Kalmakis","handle":"peter.kalmakis@datadoghq.com","email":"peter.kalmakis@datadoghq.com","id":39408},"run_as":null,"restricted":false}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.108167ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/25571040
        method: GET
      response:
        body: |
            {"id":25571040,"org_id":2,"type":"data-quality alert","name":"tf-TestAccDatadogMonitor_DataQuality_WithMonitorOptions-local-1770661996","message":"Data quality threshold exceeded","tags":[],"query":"formula(\"query1\").last(\"30m\") > 1000","options":{"include_ta[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"Data quality threshold exceeded","name":"tf-TestAccDatadogMonitor_DataQuality_WithMonitorOptions-local-1770661996","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":1000},"variables":[{"data_source":"data_quality_metrics","filter":"search for column where `database:production AND table:users`","group_by":["entity_id"],"measure":"row_count","monitor_options":{"crontab_override":"0 0 * * *","custom_sql":"SELECT * FROM table","custom_where":"database = 'production'","group_by_columns":["column1","column2"],"model_type_override":"freshness"},"name":"query1","schema_version":"0.0.1","scope":"database:production"}]},"priority":null,"query":"formula(\"query1\").last(\"30m\") \u003e 1000","restricted_roles":null,"tags":[],"type":"data-quality alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/25571040/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.831792ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/25571040?with_assets=true
        method: GET
      response:
        body: |
            {"id":25571040,"org_id":2,"type":"data-quality alert","name":"tf-TestAccDatadogMonitor_DataQuality_WithMonitorOptions-local-1770661996","message":"Data quality threshold exceeded","tags":[],"query":"formula(\"query1\").last(\"30m\") > 1000","opti[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/25571040
        method: DELETE
      response:
        body: |
            {"deleted_monitor_id":25571040}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 252.436125ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/25571040
        method: GET
      response:
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 96.001875ms
