---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"tf-TestAccAppsecWafExclusionFilterBasic-local-1740652169","enabled":true,"path_glob":"/accounts/*","rules_target":[{"tags":{"category":"attack_attempt","type":"lfi"}}],"scope":[{"env":"www","service":"prod"}]},"type":"exclusion_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters
        method: POST
      response:
        body: '{"data":{"id":"337fdd3f-d999-4f17-9c71-cad1eafae2f0","type":"exclusion_filter","attributes":{"description":"tf-TestAccAppsecWafExclusionFilterBasic-local-1740652169","enabled":true,"metadata":{"added_at":"2025-02-27T10:29:31Z","added_by":"nicolas.vivet@datadoghq.com","added_by_name":"Nicolas Vivet"},"path_glob":"/accounts/*","rules_target":[{"tags":{"category":"attack_attempt","type":"lfi"}}],"scope":[{"env":"www","service":"prod"}],"search_query":"(env:www AND service:prod) AND (@http.url_details.path:\\/accounts\\/* OR @rpc.grpc.full_method:\\/accounts\\/*) AND (@appsec.category:attack_attempt AND @appsec.type:lfi)"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.177166208s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/exclusion_filters/337fdd3f-d999-4f17-9c71-cad1eafae2f0
        method: GET
      response:
        body: '{"data":{"id":"337fdd3f-d999-4f17-9c71-cad1eafae2f0","type":"exclusion_filter","attributes":{"description":"tf-TestAccAppsecWafExclusionFilterBasic-local-1740652169","enabled":true,"metadata":{"added_at":"2025-02-27T10:29:31Z","added_by":"nicolas.vivet@datadoghq.com","added_by_name":"Nicolas Vivet"},"path_glob":"/accounts/*","rules_target":[{"tags":{"category":"attack_attempt","type":"lfi"}}],"scope":[{"env":"www","service":"prod"}],"search_query":"(env:www AND service:prod) AND (@http.url_details.path:\\/accounts\\/* OR @rpc.grpc.full_method:\\/accounts\\/*) AND (@appsec.category:attack_attempt AND @appsec.type:lfi)"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.561083ms
[...]
