---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testaccdatadogrumteamownership-local-1789551963","type":"browser"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
        body: '{"data":{"id":"a112f662-468d-4f2c-acd3-e35b0da6bea8","type":"rum_application","attributes":{"api_key_id":1301417,"apm_rum_flat_sampling_replay_enabled":true,"apm_rum_flat_sampling_replay_sample_rate":1,"application_id":"a112f662-468d-4f2c-acd3-e35b0da6bea8","client_token":"pub7c118690552594a71484f547e246bccf","created_at":1789551965830,"created_by_handle":"felipe.arrudabrito@datadoghq.com","error_tracking_exclusion_filter_enabled":false,"is_active":false,"name":"tf-testaccdatadogrumteamownership-local-1789551963","ootb_metrics_installed":false,"org_id":2,"product_analytics_replay_sample_rate":100,"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1789551965830},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1789551965830}},"short_name":"tf_testaccdatadogrumteamownershi_3","tags":[],"type":"browser","updated_at":1789551965830,"updated_by_handle":"felipe.arrudabrito@datadoghq.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 315.4175ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Terraform RUM ownership acceptance test.","handle":"tf-testaccdatadogrumteamownership-local-1789551963","name":"tf-testaccdatadogrumteamownership-local-1789551963"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: |
            {"data":{"type":"team","id":"643ac9e7-57bc-4756-bb79-2c14be78ed49","attributes":{"name":"tf-testaccdatadogrumteamownership-local-1789551963","handle":"tf-testaccdatadogrumteamownership-local-1789551963","summary":"Terraform RUM ownership acceptance test.","description":"Terraform RUM ownership acceptance test.","avatar":null,"banner":2,"visible_modules":[],"hidden_modules":[],"created_at":"2026-09-16T09:46:06.112989+00:00","modified_at":"2026-09-16T09:46:06.112996+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/643ac9e7-57bc-4756-bb79-2c14be78ed49/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/643ac9e7-57bc-4756-bb79-2c14be78ed49/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.373612375s
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"match_type":"exact","team_handle":"tf-testaccdatadogrumteamownership-local-1789551963","view_name":"Global"},"type":"teams_ownership_mappings"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/config/teams-ownership/mappings
        method: POST
      response:
        body: '{"data":{"id":"730585","type":"teams_ownership_mappings","attributes":{"application_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-09-16T09:46:07.1192Z","created_by":"b6832da7-88b2-460e-bf2b-160aa81e803a","match_type":"exact","org_id":2,"service":"","team_handle":"tf-testaccdatadogrumteamownership-local-1789551963","view_name":"Global"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 252.254708ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/config/teams-ownership/mappings/730586
        method: GET
      response:
        body: '{"data":{"id":"730586","type":"teams_ownership_mappings","attributes":{"application_id":"a112f662-468d-4f2c-acd3-e35b0da6bea8","created_at":"2026-09-16T09:46:07.133744Z","created_by":"b6832da7-88b2-460e-bf2b-160aa81e803a","match_type":"exact","org_id":2,"service":"","team_handle":"tf-testaccdatadogrumteamownership-local-1789551963","view_name":"/checkout"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 131.485875ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/643ac9e7-57bc-4756-bb79-2c14be78ed49
        method: GET
      response:
        body: '{"data":{"id":"643ac9e7-57bc-4756-bb79-2c14be78ed49","type":"team","attributes":{"created_at":"2026-09-16T09:46:06.112989+00:00","description":"Terraform RUM ownership acceptance test.","handle":"tf-testaccdatadogrumteamownership-local-1789551963","is_managed":false,"link_count":0,"modified_at":"2026-09-16T09:46:06.112996+00:00","name":"tf-testaccdatadogrumteamownership-local-1789551963","summary":"Terraform RUM ownership acceptance test.","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/643ac9e7-57bc-4756-bb79-2c14be78ed49/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/643ac9e7-57bc-4756-bb79-2c14be78ed49/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 154.784ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/a112f662-468d-4f2c-acd3-e35b0da6bea8
        method: GET
      response:
        body: '{"data":{"id":"a112f662-468d-4f2c-acd3-e35b0da6bea8","type":"rum_application","attributes":{"api_key_id":1301417,"apm_rum_flat_sampling_replay_enabled":true,"apm_rum_flat_sampling_replay_sample_rate":1,"application_id":"a112f662-468d-4f2c-acd3-e35b0da6bea8","client_token":"pub7c118690552594a71484f547e246bccf","created_at":1789551965830,"created_by_handle":"felipe.arrudabrito@datadoghq.com","error_tracking_exclusion_filter_enabled":false,"is_active":false,"name":"tf-testaccdatadogrumteamownership-local-1789551963","ootb_metrics_installed":false,"org_id":2,"product_analytics_replay_sample_rate":100,"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1789551965830},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1789551965830}},"short_name":"tf_testaccdatadogrumteamownershi_3","tags":[],"type":"browser","updated_at":1789551965830,"updated_by_handle":"felipe.arrudabrito@datadoghq.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 171.046417ms
[...]
    - id: 28
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/config/teams-ownership/mappings/730587
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 154.123833ms
[...]
