---
version: 1
interactions:
- request:
    body: |
      {"id":"","layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardDatasource-local-1615587239 two","widgets":[{"definition":{"alert_id":"895605","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"626-u5r-k3m","title":"tf-TestAccDatadogDashboardDatasource-local-1615587239 two","url":"/dashboard/626-u5r-k3m/tf-testaccdatadogdashboarddatasource-local-1615587239-two","created_at":"2021-03-12T22:14:02.973004+00:00","modified_at":"2021-03-12T22:14:02.973004+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":4535038890759589}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/626-u5r-k3m
    method: GET
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"626-u5r-k3m","title":"tf-TestAccDatadogDashboardDatasource-local-1615587239 two","url":"/dashboard/626-u5r-k3m/tf-testaccdatadogdashboarddatasource-local-1615587239-two","created_at":"2021-03-12T22:14:02.973004+00:00","modified_at":"2021-03-12T22:14:02.973004+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":4535038890759589}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/2fg-zc5-rdt
    method: GET
  response:
    body: '{"notify_list":[],"description":null,"author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"2fg-zc5-rdt","title":"tf-TestAccDatadogDashboardDatasource-local-1615587239 one","url":"/dashboard/2fg-zc5-rdt/tf-testaccdatadogdashboarddatasource-local-1615587239-one","created_at":"2021-03-12T22:14:03.021167+00:00","modified_at":"2021-03-12T22:14:03.021167+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","title":"Widget Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":8241182863869552}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard
    method: GET
  response:
    body: '{"dashboards":[{"created_at":"2020-12-09T04:18:00.388550+00:00","author_handle":"gregory.zussa@datadoghq.com","is_read_only":false,"description":"Created using the Datadog provider in Terraform","title":"Acceptance Test Timeboard","url":"/dashboard/ia3-mtz-d4e/acceptance-test-timeboard","layout_type":"ordered","modified_at":"2020-12-09T04:18:00.388550+00:00","id":"ia3-mtz-d4e"},{"created_at":"2021-03-03T09:57:28.304302+00:00","author_handle":"hippolyte.henry@datadoghq.com","is_read_only":false,"description":"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/626-u5r-k3m
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"626-u5r-k3m"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/2fg-zc5-rdt
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID 2fg-zc5-rdt not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
