---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["rsyslog-source-1"],"type":"datadog_logs"}],"sources":[{"id":"rsyslog-source-1","mode":"tcp","tls":{"crt_file":"/etc/certs/rsyslog.crt"},"type":"rsyslog"}]},"name":"rsyslog-source-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"e2da0548-d5b9-11f0-9056-da7ad0900002","type":"pipelines","attributes":{"name":"rsyslog-source-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["rsyslog-source-1"],"type":"datadog_logs"}],"processors":[],"sources":[{"id":"rsyslog-source-1","mode":"tcp","tls":{"crt_file":"/etc/certs/rsyslog.crt"},"type":"rsyslog"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 430.0035ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/e2da0548-d5b9-11f0-9056-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"e2da0548-d5b9-11f0-9056-da7ad0900002","type":"pipelines","attributes":{"name":"rsyslog-source-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["rsyslog-source-1"],"type":"datadog_logs"}],"processors":[],"sources":[{"id":"rsyslog-source-1","mode":"tcp","tls":{"crt_file":"/etc/certs/rsyslog.crt"},"type":"rsyslog"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 293.93875ms
[...]
