---
version: 2
interactions:
    - id: 0
      request:
        host: dd.datad0g.com
        body: |
            {"description":"transition test metric SLO using count spec","name":"tf-TestAccDatadogServiceLevelObjective_CountSpecImport-local-1771364497","sli_specification":{"count":{"good_events_formula":{"formula":"query1"},"queries":[{"data_source":"metrics","name":"query1","query":"sum:my.metric{status:good}.as_count()"},{"data_source":"metrics","name":"query2","query":"sum:my.metric{*}.as_count()"}],"total_events_formula":{"formula":"query2"}}},"tags":["foo:bar","baz"],"target_threshold":99.5,"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"}],"timeframe":"7d","type":"metric","warning_threshold":99.8}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v1/slo
        method: POST
      response:
        body: |
            {"data":[{"id":"d13f89fe56495957a09266f90c611606","name":"tf-TestAccDatadogServiceLevelObjective_CountSpecImport-local-1771364497","tags":["baz","foo:bar"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"transition test metric SLO using count spec","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"numerator":"sum:my.metric{status:good}.as_count()","denominator":"sum:my.metric{*}.as_count()"},"creator":{"name":"Blaise von Ohlen","handle":"blaise.vonohlen@datadoghq.com","email":"blaise.vonohlen@datadoghq.com"},"created_at":1771364498,"modified_at":1771364498,"sli_specification":{"count":{"good_events_formula":{"formula":"query1"},"queries":[{"data_source":"metrics","name":"query1","query":"sum:my.metric{status:good}.as_count()"},{"data_source":"metrics","name":"query2","query":"sum:my.metric{*}.as_count()"}],"total_events_formula":{"formula":"query2"}}}}],"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.122625ms
    - id: 1
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://dd.datad0g.com/api/v1/slo/d13f89fe56495957a09266f90c611606
        method: GET
      response:
        body: |
            {"data":{"id":"d13f89fe56495957a09266f90c611606","name":"tf-TestAccDatadogServiceLevelObjective_CountSpecImport-local-1771364497","tags":["baz","foo:bar"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"transition test metric SLO using count spec","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:my.metric{status:good}.as_count()"},"creator":{"name":"Blaise von Ohlen","handle":"blaise.vonohlen@datadoghq.com","email":"blaise.vonohlen@datadoghq.com"},"created_at":1771364498,"modified_at":1771364498,"sli_specification":{"count":{"good_events_formula":{"formula":"query1"},"queries":[{"data_source":"metrics","name":"query1","query":"sum:my.metric{status:good}.as_count()"},{"data_source":"metrics","name":"query2","query":"sum:my.metric{*}.as_count()"}],"total_events_formula":{"formula":"query2"}}}},"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.968708ms
[...]
    - id: 6
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://dd.datad0g.com/api/v1/slo/d13f89fe56495957a09266f90c611606
        method: GET
      response:
        body: '{"errors":["SLO not found: d13f89fe56495957a09266f90c611606 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 101.29ms
