---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1682003475","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"2ad-xgf-xws","title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1682003475","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/2ad-xgf-xws/tf-testaccdatadogdashboardrbaccreateadmin-local-1682003475","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":1104433575338262}],"notify_list":[],"created_at":"2023-04-20T15:11:16.771360+00:00","modified_at":"2023-04-20T15:11:16.771360+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/2ad-xgf-xws
    method: GET
  response:
    body: |
      {"id":"2ad-xgf-xws","title":"tf-TestAccDatadogDashboardRbac_createAdmin-local-1682003475","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/2ad-xgf-xws/tf-testaccdatadogdashboardrbaccreateadmin-local-1682003475","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":1104433575338262}],"notify_list":[],"created_at":"2023-04-20T15:11:16.771360+00:00","modified_at":"2023-04-20T15:11:16.771360+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/2ad-xgf-xws
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"2ad-xgf-xws"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
