---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/indexes
        method: GET
      response:
            - chunked
        body: |
            {"indexes":[{"name":"main","filter":{"query":""},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"num_flex_logs_retention_days":0},{"name":"test-index","filter":{"query":"query"},"num_retention_days":15,"daily_limit":20202020,"is_rate_limited":false,"daily_limit_reset":{"reset_time":"14:00","reset_utc_offset":"+00:00"},"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"num_flex_logs_retention_days":0},{"name":"test-index-2","filter":{"query":"query"},"num_retention_days":15,"daily_limit":20202020,"is_rate_limited":false,"daily_limit_reset":{"reset_time":"14:00","reset_utc_offset":"+00:00"},"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"num_flex_logs_retention_days":0},{"name":"tf-testaccdatadoglogsindex-basic-local-1627305201","filter":{"query":"test:query"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"num_flex_logs_retention_days":0},{"name":"name","filter":{"query":"source:python"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[{"name":"payment","is_enabled":false,"filter":{"query":"*","sample_rate":1.0}}],"num_flex_logs_retention_days":0},{"name":"nonexistent","filter":{"query":"source:python"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[{"name":"payment","is_enabled":false,"filter":{"query":"*","sample_rate":1.0}}],"num_flex_logs_retention_days":0},{"name":"tf-testaccdatadoglogsindex-basic-local-1725992495","filter":{"query":"test:query"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"num_flex_logs_retention_days":180},{"name":"tf-testaccdatadoglogsindex-basic-local-1754932644","filter":{"query":"test:query"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"num_flex_logs_retention_days":180},{"name":"tf-testaccdatadoglogsindexesorderdatasource-local-1757636869-sample","filter":{"query":"project:sample"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"num_flex_logs_retention_days":0}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 773.279583ms
[...]
