---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"api_key":"virustotal-api-key","type":"VirusTotalAPIKey"},"type":"VirusTotal"},"name":"tf-TestAccDatadogActionConnectionResource_VirusTotal-local-1783949276"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"b3db060e-b9fd-427f-8219-3a3b16b775d9","type":"action_connection","attributes":{"acting_user_can_resolve":false,"external_secrets_manager":null,"integration":{"credentials":{"api_key":"","type":"VirusTotalAPIKey"},"type":"VirusTotal"},"is_favorite":false,"name":"tf-TestAccDatadogActionConnectionResource_VirusTotal-local-1783949276"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 79.54138ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/b3db060e-b9fd-427f-8219-3a3b16b775d9
        method: GET
      response:
        body: '{"data":{"id":"b3db060e-b9fd-427f-8219-3a3b16b775d9","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2026-07-13 13:28:03.137288 +0000 UTC","external_secrets_manager":null,"integration":{"credentials":{"api_key":"","type":"VirusTotalAPIKey"},"type":"VirusTotal"},"is_favorite":false,"last_updated":"2026-07-13 13:28:03.137288 +0000 UTC","name":"tf-TestAccDatadogActionConnectionResource_VirusTotal-local-1783949276"},"relationships":{"created_by":{"data":{"id":"9c2cc44c-0fd5-4356-b457-9413333601f1","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 43.014822ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/b3db060e-b9fd-427f-8219-3a3b16b775d9
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 36.909155ms
