---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"account_id":"575257519797","account_specific_namespace_rules":{},"cspm_resource_collection_enabled":false,"excluded_regions":[],"extended_resource_collection_enabled":false,"filter_tags":[],"host_tags":[],"metrics_collection_enabled":true,"resource_collection_enabled":false,"role_name":"testacc-datadog-integration-role"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: POST
      response:
            - chunked
        body: |
            {"external_id":"63a06de3c3c84a47bc2e73c4fdec655e"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.068912666s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: GET
      response:
            - chunked
        body: |
            {"accounts":[{"access_key_id":"AKIAYYB64AB3OBCQRGGA","filter_tags":[],"host_tags":[],"account_specific_namespace_rules":{},"excluded_regions":[],"metrics_collection_enabled":true,"errors":[],"cspm_resource_collection_enabled":false,"extended_resource_collection_enabled":true,"resource_collection_enabled":false},{"account_id":"575257519797","role_name":"testacc-datadog-integration-role","filter_tags":[],"host_tags":[],"account_specific_namespace_rules":{},"excluded_regions":[],"metrics_collection_enabled":true,"errors":[],"cspm_resource_collection_enabled":false,"extended_resource_collection_enabled":false,"resource_collection_enabled":false},{"account_id":"376334461865","role_name":"DatadogIntegrationRole","filter_tags":[],"host_tags":["aws_account:376334461865","account:datadog-agent-sandbox"],"account_specific_namespace_rules":{},"excluded_regions":["ap-northeast-2","ap-northeast-3","ap-south-1"],"metrics_collection_enabled":true,"errors":["Datadog is not authorized to perform action sts:AssumeRole\nAccount affected: 376334461865\nRegions affected: every region\nError was last seen 1m ago"],"cspm_resource_collection_enabled":false,"extended_resource_collection_enabled":false,"resource_collection_enabled":false}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.230084ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"destination":{"bucket":"my-bucket","encryption":{"type":"NO_OVERRIDE"},"integration":{"account_id":"575257519797","role_name":"testacc-datadog-integration-role"},"path":"/path/foo","storage_class":"STANDARD","type":"s3"},"include_tags":true,"name":"my first s3 archive","query":"service:tutu","rehydration_max_scan_size_in_gb":123,"rehydration_tags":["team:intake","team:app"]},"type":"archives"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/archives
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"ZNa3gZ1tRgSKBCulPqIMtQ","attributes":{"name":"my first s3 archive","query":"service:tutu","state":"UNKNOWN","destination":{"bucket":"my-bucket","encryption":{"type":"NO_OVERRIDE"},"storage_class":"STANDARD","path":"/path/foo","type":"s3","integration":{"role_name":"testacc-datadog-integration-role","account_id":"575257519797"}},"rehydration_tags":["team:intake","team:app"],"include_tags":true,"rehydration_max_scan_size_in_gb":123}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.667ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/archives/ZNa3gZ1tRgSKBCulPqIMtQ
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"ZNa3gZ1tRgSKBCulPqIMtQ","attributes":{"name":"my first s3 archive","query":"service:tutu","state":"UNKNOWN","destination":{"bucket":"my-bucket","encryption":{"type":"NO_OVERRIDE"},"storage_class":"STANDARD","path":"/path/foo","type":"s3","integration":{"role_name":"testacc-datadog-integration-role","account_id":"575257519797"}},"rehydration_tags":["team:intake","team:app"],"include_tags":true,"rehydration_max_scan_size_in_gb":123}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.744083ms
[...]
