---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["aggregate-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"aggregate-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"aggregate-processor","include":"*","interval_secs":10,"mode":"sum","type":"aggregate"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"aggregate processor test"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"53c4380c-5592-11f1-a160-da7ad0900001","type":"pipelines","attributes":{"name":"aggregate processor test","config":{"destinations":[{"id":"destination-1","inputs":["aggregate-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"aggregate-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"aggregate-processor","include":"*","interval_secs":10,"mode":"sum","type":"aggregate"}]}],"processors":[{"enabled":true,"id":"aggregate-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"aggregate-processor","include":"*","interval_secs":10,"mode":"sum","type":"aggregate"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 307.79753ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/53c4380c-5592-11f1-a160-da7ad0900001
        method: GET
      response:
        body: |
            {"data":{"id":"53c4380c-5592-11f1-a160-da7ad0900001","type":"pipelines","attributes":{"name":"aggregate processor test","config":{"destinations":[{"id":"destination-1","inputs":["aggregate-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"aggregate-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"aggregate-processor","include":"*","interval_secs":10,"mode":"sum","type":"aggregate"}]}],"processors":[{"enabled":true,"id":"aggregate-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"aggregate-processor","include":"*","interval_secs":10,"mode":"sum","type":"aggregate"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 155.313031ms
[...]
