---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"credentials":{"account_id":"123456789012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionDatasource_AWS_AssumeRole-local-1758619063"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"a41318a1-4341-4b35-b9e8-e7858c1bcf09","type":"action_connection","attributes":{"acting_user_can_resolve":false,"integration":{"credentials":{"account_id":"123456789012","external_id":"1390f783f7774fd7a2250ad031ecbc67","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"name":"tf-TestAccDatadogActionConnectionDatasource_AWS_AssumeRole-local-1758619063"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 984.060792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/a41318a1-4341-4b35-b9e8-e7858c1bcf09
        method: GET
      response:
        body: '{"data":{"id":"a41318a1-4341-4b35-b9e8-e7858c1bcf09","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2025-09-23 09:17:46.145227 +0000 UTC","integration":{"credentials":{"account_id":"123456789012","external_id":"1390f783f7774fd7a2250ad031ecbc67","principal_id":"464622532012","role":"role","type":"AWSAssumeRole"},"type":"AWS"},"last_updated":"2025-09-23 09:17:46.145227 +0000 UTC","name":"tf-TestAccDatadogActionConnectionDatasource_AWS_AssumeRole-local-1758619063"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 166.54525ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/a41318a1-4341-4b35-b9e8-e7858c1bcf09
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 145.816959ms
