---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"action":"redirect_request","parameters":{"location":"/blocking","status_code":302}},"blocking":true,"conditions":[{"operator":"match_regex","parameters":{"inputs":[{"address":"server.request.query","key_path":["test"]}],"options":{"case_sensitive":true},"regex":"test.*"}}],"enabled":true,"name":"tf-TestAccAppsecWafCustomRuleBasic-local-1758619308","path_glob":"/api/search/*","scope":[{"env":"prod","service":"billing-service"}],"tags":{"category":"attack_attempt","type":"test"}},"type":"custom_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/custom_rules
        method: POST
      response:
        body: '{"data":{"id":"bd1bb3e0-1e9b-4510-b3cb-84f5414a5a06","type":"custom_rule","attributes":{"action":{"action":"redirect_request","parameters":{"status_code":302,"location":"/blocking"}},"blocking":true,"conditions":[{"operator":"match_regex","parameters":{"inputs":[{"address":"server.request.query","key_path":["test"]}],"regex":"test.*","options":{"case_sensitive":true}}}],"enabled":true,"metadata":{"added_at":"2025-09-23T09:21:50Z","added_by":"frog@datadoghq.com","added_by_name":"frog"},"name":"tf-TestAccAppsecWafCustomRuleBasic-local-1758619308","path_glob":"/api/search/*","scope":[{"env":"prod","service":"billing-service"}],"tags":{"category":"attack_attempt","type":"test"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 976.303792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/custom_rules/bd1bb3e0-1e9b-4510-b3cb-84f5414a5a06
        method: GET
      response:
        body: '{"data":{"id":"bd1bb3e0-1e9b-4510-b3cb-84f5414a5a06","type":"custom_rule","attributes":{"action":{"action":"redirect_request","parameters":{"status_code":302,"location":"/blocking"}},"blocking":true,"conditions":[{"operator":"match_regex","parameters":{"inputs":[{"address":"server.request.query","key_path":["test"]}],"regex":"test.*","options":{"case_sensitive":true}}}],"enabled":true,"metadata":{"added_at":"2025-09-23T09:21:50Z","added_by":"frog@datadoghq.com","added_by_name":"frog"},"name":"tf-TestAccAppsecWafCustomRuleBasic-local-1758619308","path_glob":"/api/search/*","scope":[{"env":"prod","service":"billing-service"}],"tags":{"category":"attack_attempt","type":"test"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 238.976583ms
[...]
