---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Workflow used by on-call team routing rules test.","name":"Team Rules Test Workflow tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","published":true,"spec":{"handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","steps":[],"triggers":[{"onCallTrigger":{},"startStepNames":[]}]},"tags":["service:foo","team:bar"],"webhookSecret":""},"type":"workflows"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/workflows
        method: POST
      response:
        body: '{"data":{"id":"67363e05-ac62-4c7f-b296-5f9d8dbb2561","type":"workflows","attributes":{"createdAt":"2026-05-26T18:51:36.721941Z","description":"Workflow used by on-call team routing rules test.","name":"Team Rules Test Workflow tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","published":true,"spec":{"triggers":[{"startStepNames":[],"onCallTrigger":{}}],"steps":[],"handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1779821494"},"tags":["service:foo","team:bar"],"updatedAt":"2026-05-26T18:51:36.721941Z"},"relationships":{"creator":{"data":{"id":"d51ff1ac-0571-4b15-a498-d01e4f156725","type":"users"}},"owner":{"data":{"id":"d51ff1ac-0571-4b15-a498-d01e4f156725","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 142.2865ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779821494"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"df3beee0-3a83-4b89-9196-398a07557ef2","type":"team","attributes":{"avatar":null,"banner":6,"created_at":"2026-05-26T18:51:36.718628+00:00","description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-05-26T18:51:36.718628+00:00","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","provisioned_by":"teams_terraform","summary":"Description","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/df3beee0-3a83-4b89-9196-398a07557ef2/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/df3beee0-3a83-4b89-9196-398a07557ef2/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 166.586792ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallteamroutingrulescreateandupdate-local-1779821494@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"ab6140d2-6930-461d-97a6-586847029c89","attributes":{"uuid":"ab6140d2-6930-461d-97a6-586847029c89","name":null,"handle":"tf-testacconcallteamroutingrulescreateandupdate-local-1779821494@example.com","created_at":"2026-05-26T18:51:37.259848+00:00","modified_at":"2026-05-26T18:51:37.259848+00:00","email":"tf-testacconcallteamroutingrulescreateandupdate-local-1779821494@example.com","icon":"https://secure.gravatar.com/avatar/8343a5eceabed31f680dbeea130dee00?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 711.987875ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"ab6140d2-6930-461d-97a6-586847029c89","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"eccd32d4-5933-11f1-a32b-da7ad0900002","attributes":{"uuid":"eccd32d4-5933-11f1-a32b-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2026-05-26T18:51:37.626813+00:00","expires_at":"2026-05-28T18:51:37.500891+00:00"},"relationships":{"user":{"data":{"type":"users","id":"ab6140d2-6930-461d-97a6-586847029c89"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 412.651542ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"ab6140d2-6930-461d-97a6-586847029c89"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"df3beee0-3a83-4b89-9196-398a07557ef2","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"8626ecfd-ba0f-4acc-a8e7-8239f7f4548e","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"ab3fc8c7-1f6a-4b5a-a453-90a27f436ea9","type":"layers"}]},"teams":{"data":[{"id":"df3beee0-3a83-4b89-9196-398a07557ef2","type":"teams"}]}}},"included":[{"id":"ab3fc8c7-1f6a-4b5a-a453-90a27f436ea9","type":"layers","attributes":{"applied_rotation_start":"2025-01-01T00:00:00Z","effective_date":"2025-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"ab3fc8c7-1f6a-4b5a-a453-90a27f436ea9-member-1","type":"members"},{"id":"ab3fc8c7-1f6a-4b5a-a453-90a27f436ea9-member-2","type":"members"}]}}},{"id":"ab3fc8c7-1f6a-4b5a-a453-90a27f436ea9-member-1","type":"members","relationships":{"user":{"data":{"id":"ab6140d2-6930-461d-97a6-586847029c89","type":"users"}}}},{"id":"ab6140d2-6930-461d-97a6-586847029c89","type":"users","attributes":{"email":"tf-testacconcallteamroutingrulescreateandupdate-local-1779821494@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 90.492834ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","resolve_page_on_policy_end":true,"retries":3,"steps":[{"assignment":"round-robin","escalate_after_seconds":300,"targets":[{"id":"df3beee0-3a83-4b89-9196-398a07557ef2","type":"teams"},{"id":"ab6140d2-6930-461d-97a6-586847029c89","type":"users"},{"id":"8626ecfd-ba0f-4acc-a8e7-8239f7f4548e","type":"schedules"}]}]},"type":"policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
        method: POST
      response:
        body: '{"data":{"id":"9d40f0cd-0ae2-4239-95c8-568f8a[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"rules":[{"actions":[{"handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","type":"workflow"}],"query":"tags.service:test","time_restriction":{"restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"time_zone":"America/New_York"}},{"actions":[{"ack_timeout_minutes":30,"policy_id":"9d40f0cd-0ae2-4239-95c8-568f8a58ef29","support_hours":{"restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"},{"end_day":"tuesday","end_time":"17:00:00","start_day":"tuesday","start_time":"09:00:00"},{"end_day":"wednesday","end_time":"17:00:00","start_day":"wednesday","start_time":"09:00:00"},{"end_day":"thursday","end_time":"17:00:00","start_day":"thursday","start_time":"09:00:00"},{"end_day":"friday","end_time":"17:00:00","start_day":"friday","start_time":"09:00:00"}],"time_zone":"America/New_York"},"type":"escalation_policy","urgency":"low"}],"query":"tags.service:payment"},{"actions":[],"policy_id":"9d40f0cd-0ae2-4239-95c8-568f8a58ef29","query":"","urgency":"dynamic"}]},"id":"df3beee0-3a83-4b89-9196-398a07557ef2","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/df3beee0-3a83-4b89-9196-398a07557ef2/routing-rules?include=rules
        method: PUT
      response:
        body: '{"data":{"id":"df3beee0-3a83-4b89-9196-398a07557ef2","type":"team_routing_rules","relationships":{"rules":{"data":[{"id":"306040f5-6ce4-48e4-a7a2-67017e97a6b4","type":"team_routing_rules"},{"id":"c28c51da-efda-4b39-acf3-53af8453f02e","type":"team_routing_rules"},{"id":"d580deb1-f229-4f3b-b198-8760a477e17a","type":"team_routing_rules"}]}}},"included":[{"id":"306040f5-6ce4-48e4-a7a2-67017e97a6b4","type":"team_routing_rules","attributes":{"actions":[{"type":"workflow","handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1779821494"}],"query":"tags.service:test","time_restriction":{"time_zone":"America/New_York","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}]}}},{"id":"c28c51da-efda-4b39-acf3-53af8453f02e","type":"team_routing_rules","attributes":{"actions":[],"query":"tags.service:payment","urgency":"low"},"relationships":{"policy":{"data":{"id":"9d40f0cd-0ae2-4239-95c8-568f8a58ef29","type":"policies"}}}},{"id":"d580deb1-f229-4f3b-b198-8760a477e17a","type":"team_routing_rules","attributes":{"actions":[],"query":"","urgency":"dynamic"},"relationships":{"policy":{"data":{"id":"9d40f0cd-0ae2-4239-95c8-568f8a58ef29","type":"policies"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 176.422083ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/df3beee0-3a83-4b89-9196-398a07557ef2
        method: GET
      response:
        body: '{"data":{"id":"df3beee0-3a83-4b89-9196-398a07557ef2","type":"team","attributes":{"created_at":"2026-05-26T18:51:36.718628+00:00","description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","is_managed":false,"link_count":0,"modified_at":"2026-05-26T18:51:36.718628+00:00","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","provisioned_by":"teams_terraform","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/df3beee0-3a83-4b89-9196-398a07557ef2/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/df3beee0-3a83-4b89-9196-398a07557ef2/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 66.060125ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/67363e05-ac62-4c7f-b296-5f9d8dbb2561
        method: GET
      response:
        body: '{"data":{"id":"67363e05-ac62-4c7f-b296-5f9d8dbb2561","type":"workflows","attributes":{"createdAt":"2026-05-26T18:51:36.721941Z","description":"Workflow used by on-call team routing rules test.","name":"Team Rules Test Workflow tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","published":true,"spec":{"triggers":[{"startStepNames":[],"onCallTrigger":{}}],"steps":[],"handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1779821494"},"tags":["service:foo","team:bar"],"updatedAt":"2026-05-26T18:51:36.738915Z"},"relationships":{"creator":{"data":{"id":"d51ff1ac-0571-4b15-a498-d01e4f156725","type":"users"}},"owner":{"data":{"id":"d51ff1ac-0571-4b15-a498-d01e4f156725","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 179.792042ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/ab6140d2-6930-461d-97a6-586847029c89
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"ab6140d2-6930-461d-97a6-586847029c89","attributes":{"uuid":"ab6140d2-6930-461d-97a6-586847029c89","name":null,"handle":"tf-testacconcallteamroutingrulescreateandupdate-local-1779821494@example.com","created_at":"2026-05-26T18:51:37.259848+00:00","modified_at":"2026-05-26T18:51:37.259848+00:00","email":"tf-testacconcallteamroutingrulescreateandupdate-local-1779821494@example.com","icon":"https://secure.gravatar.com/avatar/8343a5eceabed31f680dbeea130dee00?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"team_roles":{"data":[]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.193583ms
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/8626ecfd-ba0f-4acc-a8e7-8239f7f4548e?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"8626ecfd-ba0f-4acc-a8e7-8239f7f4548e","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","time_zo[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/9d40f0cd-0ae2-4239-95c8-568f8a58ef29?include=steps.targets
        method: GET
      response:
        body: '{"data":{"id":"9d40f0cd-0ae2-4239-95c8-568f8a58ef29","type":"policies","attributes":{"name":"tf-testacconcallteamroutingrulescreateandupdate-local-1779821494","resolve_page_on_policy_end":true,"retries":3,[...]
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"df3beee0-3a83-4b89-9196-398a07557ef2","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/df3beee0-3a83-4b89-9196-398a07557ef2/routing-rules
        method: PUT
      response:
        body: '{"data":{"id":"df3beee0-3a83-4b89-9196-398a07557ef2","type":"team_routing_rules","relationships":{"rules":{"data":[]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 178.968583ms
    - id: 14
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/9d40f0cd-0ae2-4239-95c8-568f8a58ef29
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 69.552667ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/8626ecfd-ba0f-4acc-a8e7-8239f7f4548e
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 106.28325ms
[...]
