---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateUpdateRules-local-1765466695","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"91743c55-bed0-408b-816b-2efd841738be","type":"deployment_gate","attributes":{"created_at":"2025-12-11T15:24:56.563826Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateUpdateRules-local-1765466695","service":"my-service","updated_at":"2025-12-11T15:24:56.563826Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 360.512667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"initial_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/91743c55-bed0-408b-816b-2efd841738be/rules
        method: POST
      response:
        body: '{"data":{"id":"ab9bf8f1-d616-4f9a-9ecc-0134472433da","type":"deployment_rule","attributes":{"created_at":"2025-12-11T15:24:56.944511Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"91743c55-bed0-408b-816b-2efd841738be","name":"initial_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-11T15:24:56.944511Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 158.010542ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/91743c55-bed0-408b-816b-2efd841738be
        method: GET
      response:
        body: '{"data":{"id":"91743c55-bed0-408b-816b-2efd841738be","type":"deployment_gate","attributes":{"created_at":"2025-12-11T15:24:56.563826Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateUpdateRules-local-1765466695","service":"my-service","updated_at":"2025-12-11T15:24:56.563826Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 140.5975ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/91743c55-bed0-408b-816b-2efd841738be/rules
        method: GET
      response:
        body: '{"data":{"id":"91743c55-bed0-408b-816b-2efd841738be","type":"list_deployment_rules","attributes":{"rules":[{"id":"ab9bf8f1-d616-4f9a-9ecc-0134472433da","name":"initial_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-11T15:24:56.944511Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-11T15:24:56.944511Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"91743c55-bed0-408b-816b-2efd841738be","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 135.254ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/91743c55-bed0-408b-816b-2efd841738be/rules/ab9bf8f1-d616-4f9a-9ecc-0134472433da
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 130.804333ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":true,"name":"second_rule","options":{"duration":300,"query":"test_query"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/91743c55-bed0-408b-816b-2efd841738be/rules
        method: POST
      response:
        body: '{"data":{"id":"8267d26a-d87c-4b85-ba2a-2feb9d2cce76","type":"deployment_rule","attributes":{"created_at":"2025-12-11T15:24:59.064571Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"gate_id":"91743c55-bed0-408b-816b-2efd841738be","name":"second_rule","options":{"query":"test_query","duration":300},"type":"monitor","updated_at":"2025-12-11T15:24:59.064571Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 131.646667ms
[...]
