---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740494917","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"v6a-9re-e4u","title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740494917","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/v6a-9re-e4u/tf-testaccdatadogdashboardrbacupdatetoopen-local-1740494917","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":6178376213271267}],"notify_list":[],"created_at":"2025-02-25T14:48:40.607839+00:00","modified_at":"2025-02-25T14:48:40.607839+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 526.783916ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/v6a-9re-e4u
        method: GET
      response:
            - chunked
        body: |
            {"id":"v6a-9re-e4u","title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740494917","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/v6a-9re-e4u/tf-testaccdatadogdashboardrbacupdatetoopen-local-1740494917","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":6178376213271267}],"notify_list":[],"created_at":"2025-02-25T14:48:40.607839+00:00","modified_at":"2025-02-25T14:48:40.607839+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.495833ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740494917"},"relationships":{},"type":"roles"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles
        method: POST
      response:
        body: '{"data":{"id":"a1480a9a-f387-11ef-a716-da7ad0900002","type":"roles","attributes":{"created_at":"2025-02-25T14:48:52.376893Z","modified_at":"2025-02-25T14:48:52.375975Z","name":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740494917","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 158.740791ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles/a1480a9a-f387-11ef-a716-da7ad0900002
        method: GET
      response:
        body: '{"data":{"id":"a1480a9a-f387-11ef-a716-da7ad0900002","type":"roles","attributes":{"created_at":"2025-02-25T14:48:52.376893Z","created_by_handle":"frog@datadoghq.com","modified_at":"2025-02-25T14:48:52.375975Z","modified_by_handle":"frog@datadoghq.com","name":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740494917","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 128.1ms
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"v6a-9re-e4u","layout_type":"ordered","notify_list":[],"restricted_roles":["a1480a9a-f387-11ef-a716-da7ad0900002"],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740494917","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/v6a-9re-e4u
        method: PUT
      response:
            - chunked
        body: |
            {"id":"v6a-9re-e4u","title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1740494917","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/v6a-9re-e4u/tf-testaccdatadogdashboardrbacupdatetoopen-local-1740494917","template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":8221006609087974}],"notify_list":[],"created_at":"2025-02-25T14:48:40.607839+00:00","modified_at":"2025-02-25T14:48:53.092971+00:00","template_variable_presets":[],"tags":[],"restricted_roles":["a1480a9a-f387-11ef-a716-da7ad0900002"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 345.207667ms
[...]
    - id: 19
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/v6a-9re-e4u
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"v6a-9re-e4u"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.918042ms
