---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[]},"type":"grid"}],"connections":[{"id":"11111111-2222-3333-4444-555555555555","name":"A connection that will be overridden"}],"deployment":{"app_version_id":"00000000-0000-0000-0000-000000000000","id":"11111111-1111-1111-1111-111111111111"},"description":"Created using the Datadog provider in Terraform. Variable interpolation.","favorite":false,"id":"11111111-2222-3333-4444-555555555555","name":"tf-TestAccDatadogAppBuilderAppResource_Escaped_Interpolated_Import-local-1742959587","queries":[{"id":"11111111-1111-1111-1111-111111111111","name":"listTeams0","properties":{"onlyTriggerManually":false,"outputs":"${((outputs) =\u003e {// Use 'outputs' to reference the query's unformatted output.\n\n// TODO: Apply transformations to the raw query output\n\nreturn outputs.data.map(item =\u003e item.attributes.name);})(self.rawOutputs)}","spec":{"connectionId":"11111111-2222-3333-4444-555555555555","fqn":"com.datadoghq.dd.teams.listTeams","inputs":{}}},"type":"action"}],"rootInstanceName":"grid0","selfService":false,"tags":[]},"type":"appDefinitions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/app-builder/apps
        method: POST
      response:
        body: '{"data":{"id":"a5c36532-e2c8-4b04-bdcf-e8c400af3d49","type":"appDefinitions"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 351.153792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/a5c36532-e2c8-4b04-bdcf-e8c400af3d49/deployment
        method: DELETE
      response:
        body: '{"data":{"id":"1bb41e07-3a49-4473-a255-3bb0b7424c6a","type":"deployment","attributes":{"app_version_id":"00000000-0000-0000-0000-000000000000"},"meta":{"created_at":"2025-03-26T03:26:29.976454Z","user_id":1445416,"user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","user_name":"frog@datadoghq.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 232.3075ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/a5c36532-e2c8-4b04-bdcf-e8c400af3d49
        method: GET
      response:
        body: '{"data":{"id":"a5c36532-e2c8-4b04-bdcf-e8c400af3d49","type":"appDefinitions","attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[]},"type":"grid"}],"description":"Created using the Datadog provider in Terraform. Variable interpolation.","favorite":false,"name":"tf-TestAccDatadogAppBuilderAppResource_Escaped_Interpolated_Import-local-1742959587","queries":[{"id":"11111111-1111-1111-1111-111111111111","name":"listTeams0","type":"action","properties":{"onlyTriggerManually":false,"outputs":"${((outputs) =\u003e {// Use ''outputs'' to reference the query''s unformatted output.\n\n// TODO: Apply transformations to the raw query output\n\nreturn outputs.data.map(item =\u003e item.attributes.name);})(self.rawOutputs)}","spec":{"connectionId":"11111111-2222-3333-4444-555555555555","fqn":"com.datadoghq.dd.teams.listTeams","inputs":{}}}}],"rootInstanceName":"grid0","selfService":false,"tags":[]},"relationships":{"deployment":{"data":{"id":"1bb41e07-3a49-4473-a255-3bb0b7424c6a","type":"deployment"},"meta":{"created_at":"2025-03-26T03:26:29.976454Z","user_id":1445416,"user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","user_name":"frog@datadoghq.com"}}},"meta":{"org_id":321813,"user_id":1445416,"user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","user_name":"frog@datadoghq.com","version":1,"updated_since_deployment":false,"created_at":"2025-03-26T03:26:29.743726Z","updated_at":"2025-03-26T03:26:29.743726Z","deleted_at":"0001-01-01T00:00:00Z"}},"included":[{"id":"1bb41e07-3a49-4473-a255-3bb0b7424c6a","type":"deployment","attributes":{"app_version_id":"00000000-0000-0000-0000-000000000000"},"meta":{"created_at":"2025-03-26T03:26:29.976454Z","user_id":1445416,"user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","user_name":"frog@datadoghq.com"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 112.519417ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/app-builder/apps/a5c36532-e2c8-4b04-bdcf-e8c400af3d49
        method: GET
      response:
        body: '{"errors":[{"title":"app not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 74.819458ms
