---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a secure global variable","is_fido":false,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_UPDATED_LOCAL_1758619202","tags":["foo:bar","baz"],"value":{"secure":true,"value":"variable-secure-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"ff15b7c4-b3d6-41b5-a057-29e3c6ef2b97","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_UPDATED_LOCAL_1758619202","description":"a secure global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.954959ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/ff15b7c4-b3d6-41b5-a057-29e3c6ef2b97
        method: GET
      response:
            - chunked
        body: |
            {"id":"ff15b7c4-b3d6-41b5-a057-29e3c6ef2b97","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_UPDATED_LOCAL_1758619202","description":"a secure global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2025-09-23T09:20:03.789311+00:00","modified_at":"2025-09-23T09:20:03.789311+00:00","last_error":null,"value":{"secure":true},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 365.215208ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/ff15b7c4-b3d6-41b5-a057-29e3c6ef2b97
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 194.205208ms
