---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"end":1768845218,"message":"Example Datadog downtime message.","monitor_tags":["foo:bar"],"scope":["host:X","host:Y"],"start":1768841618,"timezone":"UTC"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/downtime
        method: POST
      response:
            - chunked
        body: |
            {"id":6253711432,"monitor_id":null,"org_id":321813,"start":1768841618,"end":1768845218,"canceled":null,"created":1768838020,"modified":1768838020,"message":"Example Datadog downtime message.","active":false,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":2,"status":"scheduled","monitor_tags":["foo:bar"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"bc84deb3-0d63-4ede-8560-aee08dbce7e9","scope":["host:X","host:Y"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.841355292s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/downtime/6253711432
        method: GET
      response:
            - chunked
        body: |
            {"id":6253711432,"monitor_id":null,"org_id":321813,"start":1768841618,"end":1768845218,"canceled":null,"created":1768838020,"modified":1768838020,"message":"Example Datadog downtime message.","active":false,"disabled":false,"recurrence":null,"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":2,"status":"scheduled","monitor_tags":["foo:bar"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"bc84deb3-0d63-4ede-8560-aee08dbce7e9","scope":["host:X","host:Y"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.551916ms
[...]
