version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1672771698","type":"browser"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/rum/applications
    method: POST
    id: 0
  response:
    body: |
      {"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"164423bf-b4e6-4398-91f8-fb1a24db5995","name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1672771698","created_by_handle":"frog@datadoghq.com","created_at":1672771699836,"org_id":321813,"updated_at":1672771699836,"is_active":false,"hash":"pub23a1b2331821c9b25b2513acd9241b1c","client_token":"pub23a1b2331821c9b25b2513acd9241b1c","type":"browser"},"type":"rum_application","id":"164423bf-b4e6-4398-91f8-fb1a24db5995"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/rum/applications/164423bf-b4e6-4398-91f8-fb1a24db5995
    method: GET
    id: 2
  response:
    body: |
      {"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"164423bf-b4e6-4398-91f8-fb1a24db5995","name":"tf-TestAccDatadogRUMApplicationDatasourceIDFilter-local-1672771698","created_by_handle":"frog@datadoghq.com","created_at":1672771699836,"org_id":321813,"updated_at":1672771699836,"is_active":false,"hash":"pub23a1b2331821c9b25b2513acd9241b1c","client_token":"pub23a1b2331821c9b25b2513acd9241b1c","type":"browser"},"type":"rum_application","id":"164423bf-b4e6-4398-91f8-fb1a24db5995"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
