---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Source team for reroute_to_team test","handle":"team-tf-testacconcallteamroutingrulesreroutetoteam-local-1791533980-src","name":"team-tf-testacconcallteamroutingrulesreroutetoteam-local-1791533980-src"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"b6d33e89-149d-4a5c-875b-3ef40998e4d7","type":"team","attributes":{"avatar":null,"banner":9,"created_at":"2026-10-09T08:19:42.495914+00:00","description":"Source team for reroute_to_team test","handle":"team-tf-testacconcallteamroutingrulesreroutetoteam-local-1791533980-src","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-10-09T08:19:42.495914+00:00","name":"team-tf-testacconcallteamroutingrulesreroutetoteam-local-1791533980-src","provisioned_by":"teams_terraform","summary":"Source team for reroutetoteam test","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/b6d33e89-149d-4a5c-875b-3ef40998e4d7/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/b6d33e89-149d-4a5c-875b-3ef40998e4d7/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 184.828834ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"rules":[{"actions":[{"destination_team_id":"8e1b304c-4749-4d22-b7e7-1ebea8259170","type":"reroute_to_team"}],"query":"priority:2"},{"actions":[{"destination_team_id":"141d4447-1230-4c0e-ad0d-a504feceb767","type":"reroute_to_team"}],"query":""}]},"id":"b6d33e89-149d-4a5c-875b-3ef40998e4d7","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/b6d33e89-149d-4a5c-875b-3ef40998e4d7/routing-rules?include=rules
        method: PUT
      response:
        body: '{"data":{"id":"b6d33e89-149d-4a5c-875b-3ef40998e4d7","type":"team_routing_rules","relationships":{"rules":{"data":[{"id":"b382d264-c46a-4de8-b39b-3090276f15ba","type":"team_routing_rules"},{"id":"15cc7247-e966-42e1-9678-2f8b797f0872","type":"team_routing_rules"}]}}},"included":[{"id":"b382d264-c46a-4de8-b39b-3090276f15ba","type":"team_routing_rules","attributes":{"actions":[{"type":"reroute_to_team","destination_team_id":"8e1b304c-4749-4d22-b7e7-1ebea8259170"}],"query":"priority:2"},"relationships":{"team":{"data":{"id":"b6d33e89-149d-4a5c-875b-3ef40998e4d7","type":"teams"}}}},{"id":"15cc7247-e966-42e1-9678-2f8b797f0872","type":"team_routing_rules","attributes":{"actions":[{"type":"reroute_to_team","destination_team_id":"141d4447-1230-4c0e-ad0d-a504feceb767"}],"query":""},"relationships":{"team":{"data":{"id":"b6d33e89-149d-4a5c-875b-3ef40998e4d7","type":"teams"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 214.437625ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/8e1b304c-4749-4d22-b7e7-1ebea8259170
        method: GET
      response:
        body: '{"data":{"id":"8e1b304c-4749-4d22-b7e7-1ebea8259170","type":"team","attributes":{"created_at":"2026-10-09T08:19:42.689977+00:00","description":"Destination team A for reroute_to_team test","handle":"team-tf-testacconcallteamroutingrulesreroutetoteam-local-1791533980-dst-a","is_managed":false,"link_count":0,"modified_at":"2026-10-09T08:19:42.689977+00:00","name":"team-tf-testacconcallteamroutingrulesreroutetoteam-local-1791533980-dst-a","provisioned_by":"teams_terraform","summary":"Destination team A for reroutetoteam test","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/8e1b304c-4749-4d22-b7e7-1ebea8259170/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/8e1b304c-4749-4d22-b7e7-1ebea8259170/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 127.953833ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"b6d33e89-149d-4a5c-875b-3ef40998e4d7","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/b6d33e89-149d-4a5c-875b-3ef40998e4d7/routing-rules
        method: PUT
      response:
        body: '{"data":{"id":"b6d33e89-149d-4a5c-875b-3ef40998e4d7","type":"team_routing_rules","relationships":{"rules":{"data":[]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 232.985709ms
[...]
