---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-sp-maint-tmpl-basic-1787173178","name":"test-sp-maint-tmpl-basic-1787173178","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"3baf61cf-7dbd-45dc-b3f6-2d27b759123e","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"e503e0bc-0324-42e0-a727-07aaede64320","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:59:41.341728Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-maint-tmpl-basic-1787173178","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:59:41.341728Z","name":"test-sp-maint-tmpl-basic-1787173178","page_url":"https://frog.datadoghq.com/status-pages/3baf61cf-7dbd-45dc-b3f6-2d27b759123e/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 2.224360792s
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"completed_description":"Maintenance is complete.","component_ids":["e503e0bc-0324-42e0-a727-07aaede64320"],"in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","name":"test-sp-maint-tmpl-basic-1787173178","scheduled_description":"Maintenance is scheduled."},"type":"maintenance_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/3baf61cf-7dbd-45dc-b3f6-2d27b759123e/maintenance_templates
        method: POST
      response:
        body: '{"data":{"id":"2a31fb64-d1cd-4809-afc4-2d727d0141c8","type":"maintenance_templates","attributes":{"completed_description":"Maintenance is complete.","component_ids":["e503e0bc-0324-42e0-a727-07aaede64320"],"created_at":"2026-08-19T20:59:43.570911Z","in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","modified_at":"2026-08-19T20:59:43.570911Z","name":"test-sp-maint-tmpl-basic-1787173178","scheduled_description":"Maintenance is scheduled."},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"3baf61cf-7dbd-45dc-b3f6-2d27b759123e","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 69.639917ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/3baf61cf-7dbd-45dc-b3f6-2d27b759123e/maintenance_templates/2a31fb64-d1cd-4809-afc4-2d727d0141c8
        method: GET
      response:
        body: '{"data":{"id":"2a31fb64-d1cd-4809-afc4-2d727d0141c8","type":"maintenance_templates","attributes":{"completed_description":"Maintenance is complete.","component_ids":["e503e0bc-0324-42e0-a727-07aaede64320"],"created_at":"2026-08-19T20:59:43.570911Z","in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","modified_at":"2026-08-19T20:59:43.570911Z","name":"test-sp-maint-tmpl-basic-1787173178","scheduled_description":"Maintenance is scheduled."},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"3baf61cf-7dbd-45dc-b3f6-2d27b759123e","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 47.770042ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/3baf61cf-7dbd-45dc-b3f6-2d27b759123e
        method: GET
      response:
        body: '{"data":{"id":"3baf61cf-7dbd-45dc-b3f6-2d27b759123e","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"e503e0bc-0324-42e0-a727-07aaede64320","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:59:41.341728Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-maint-tmpl-basic-1787173178","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:59:41.341728Z","name":"test-sp-maint-tmpl-basic-1787173178","page_url":"https://frog.datadoghq.com/status-pages/3baf61cf-7dbd-45dc-b3f6-2d27b759123e/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 49.029ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/3baf61cf-7dbd-45dc-b3f6-2d27b759123e/maintenance_templates/2a31fb64-d1cd-4809-afc4-2d727d0141c8
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 45.766166ms
