---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogDashboardRbac_createRbac-local-1626980112"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"59dc5f14-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"tf-TestAccDatadogDashboardRbac_createRbac-local-1626980112","created_at":"2021-07-22T18:55:15.409027+00:00","modified_at":"2021-07-22T18:55:15.409027+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "45"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"restricted_roles":["59dc5f14-eb1e-11eb-b233-da7ad0900002"],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createRbac-local-1626980112","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","restricted_roles":["59dc5f14-eb1e-11eb-b233-da7ad0900002"],"author_name":null,"template_variable_presets":[],"template_variables":[],"id":"h2k-hsa-dhu","title":"tf-TestAccDatadogDashboardRbac_createRbac-local-1626980112","url":"/dashboard/h2k-hsa-dhu/tf-testaccdatadogdashboardrbaccreaterbac-local-1626980112","created_at":"2021-07-22T18:55:16.234870+00:00","modified_at":"2021-07-22T18:55:16.234870+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":593798586670781}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/h2k-hsa-dhu
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","restricted_roles":["59dc5f14-eb1e-11eb-b233-da7ad0900002"],"author_name":null,"template_variable_presets":[],"template_variables":[],"id":"h2k-hsa-dhu","title":"tf-TestAccDatadogDashboardRbac_createRbac-local-1626980112","url":"/dashboard/h2k-hsa-dhu/tf-testaccdatadogdashboardrbaccreaterbac-local-1626980112","created_at":"2021-07-22T18:55:16.234870+00:00","modified_at":"2021-07-22T18:55:16.234870+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":593798586670781}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/59dc5f14-eb1e-11eb-b233-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"59dc5f14-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"tf-TestAccDatadogDashboardRbac_createRbac-local-1626980112","created_at":"2021-07-22T18:55:15.409027+00:00","modified_at":"2021-07-22T18:55:15.409027+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "497"
      X-Ratelimit-Reset:
      - "42"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/h2k-hsa-dhu
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"h2k-hsa-dhu"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
