---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccdatadogteamnotificationrulesdatasourcebasic-local-1768471955","name":"tf-testaccdatadogteamnotificationrulesdatasourcebasic-local-1768471955"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"53d60cfd-cf32-44c6-91f7-98be731690cc","type":"team","attributes":{"avatar":null,"banner":13,"created_at":"2026-01-15T10:12:38.975401+00:00","description":"Example team","handle":"tf-testaccdatadogteamnotificationrulesdatasourcebasic-local-1768471955","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-15T10:12:38.975401+00:00","name":"tf-testaccdatadogteamnotificationrulesdatasourcebasic-local-1768471955","summary":"Example team","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/53d60cfd-cf32-44c6-91f7-98be731690cc/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/53d60cfd-cf32-44c6-91f7-98be731690cc/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 564.79875ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":false},"ms_teams":{"connector_name":"test-teams-handle-2"},"pagerduty":{"service_name":"my-service-2"},"slack":{"channel":"#test-channel-2","workspace":"Datadog2"}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/e2e6feb3-3781-47d4-b2ca-70879cc666d8/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"cc465e58-aeac-4825-81a2-bd6379bee58f","type":"team_notification_rules","attributes":{"ms_teams":{"connector_name":"test-teams-handle-2"},"pagerduty":{"service_name":"my-service-2"},"slack":{"workspace":"Datadog2","channel":"#test-channel-2"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 207.915708ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/e2e6feb3-3781-47d4-b2ca-70879cc666d8/notification-rules
        method: GET
      response:
        body: '{"data":[{"id":"cc465e58-aeac-4825-81a2-bd6379bee58f","type":"team_notification_rules","attributes":{"ms_teams":{"connector_name":"test-teams-handle-2"},"pagerduty":{"service_name":"my-service-2"},"slack":{"workspace":"Datadog2","channel":"#test-channel-2"}}}],"meta":{"page":{"type":"offset_limit","offset":0,"limit":100,"total":1,"first_offset":0,"prev_offset":null,"next_offset":null,"last_offset":0}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 149.549958ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/53d60cfd-cf32-44c6-91f7-98be731690cc
        method: GET
      response:
        body: '{"data":{"id":"53d60cfd-cf32-44c6-91f7-98be731690cc","type":"team","attributes":{"created_at":"2026-01-15T10:12:38.975401+00:00","description":"Example team","handle":"tf-testaccdatadogteamnotificationrulesdatasourcebasic-local-1768471955","is_managed":false,"link_count":0,"modified_at":"2026-01-15T10:12:38.975401+00:00","name":"tf-testaccdatadogteamnotificationrulesdatasourcebasic-local-1768471955","summary":"Example team","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/53d60cfd-cf32-44c6-91f7-98be731690cc/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/53d60cfd-cf32-44c6-91f7-98be731690cc/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 158.932042ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/53d60cfd-cf32-44c6-91f7-98be731690cc/notification-rules/b19db188-89c7-4ab2-9c0e-2f4cf8a7650d
        method: GET
      response:
        body: '{"data":{"id":"b19db188-89c7-4ab2-9c0e-2f4cf8a7650d","type":"team_notification_rules","attributes":{"email":{"enabled":true},"ms_teams":{"connector_name":"test-teams-handle"},"pagerduty":{"service_name":"my-service"},"slack":{"workspace":"Datadog","channel":"#test-channel"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 146.440166ms
[...]
