---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1684769015-screen","widgets":[{"definition":{"event_size":"l","query":"*","show_year":false,"time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"vme-uc7-6xm","title":"tf-TestDatadogDashListImport-local-1684769015-screen","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/vme-uc7-6xm/tf-testdatadogdashlistimport-local-1684769015-screen","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","show_year":false,"time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":5333516309290719}],"notify_list":[],"created_at":"2023-05-22T15:23:37.360175+00:00","modified_at":"2023-05-22T15:23:37.360175+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/vme-uc7-6xm
    method: GET
  response:
    body: |
      {"id":"vme-uc7-6xm","title":"tf-TestDatadogDashListImport-local-1684769015-screen","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/vme-uc7-6xm/tf-testdatadogdashlistimport-local-1684769015-screen","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"event_size":"l","query":"*","show_year":false,"time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":5333516309290719}],"notify_list":[],"created_at":"2023-05-22T15:23:37.360175+00:00","modified_at":"2023-05-22T15:23:37.360175+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1684769015-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"xxd-pbg-ndz","title":"tf-TestDatadogDashListImport-local-1684769015-time","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/xxd-pbg-ndz/tf-testdatadogdashlistimport-local-1684769015-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":6487354593474754}],"notify_list":[],"created_at":"2023-05-22T15:23:37.766650+00:00","modified_at":"2023-05-22T15:23:37.766650+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/xxd-pbg-ndz
    method: GET
  response:
    body: |
      {"id":"xxd-pbg-ndz","title":"tf-TestDatadogDashListImport-local-1684769015-time","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/xxd-pbg-ndz/tf-testdatadogdashlistimport-local-1684769015-time","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"},"id":6487354593474754}],"notify_list":[],"created_at":"2023-05-22T15:23:37.766650+00:00","modified_at":"2023-05-22T15:23:37.766650+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-TestDatadogDashListImport-local-1684769015"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-05-22T15:23:38.048325+00:00","dashboards":null,"dashboard_count":0,"id":387660,"is_favorite":false,"modified":"2023-05-22T15:23:38.048331+00:00","name":"tf-TestDatadogDashListImport-local-1684769015","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"xxd-pbg-ndz","type":"custom_timeboard"},{"id":"vme-uc7-6xm","type":"custom_screenboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/387660/dashboards
    method: PUT
  response:
    body: |
      {"dashboards":[{"type":"custom_timeboard","id":"xxd-pbg-ndz"},{"type":"custom_screenboard","id":"vme-uc7-6xm"}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/387660
    method: GET
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-05-22T15:23:38.048325+00:00","dashboards":null,"dashboard_count":2,"id":387660,"is_favorite":false,"modified":"2023-05-22T15:23:38.190360+00:00","name":"tf-TestDatadogDashListImport-local-1684769015","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/387660/dashboards
    method: GET
  response:
    body: |
      {"dashboards":[{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-05-22T15:23:37.766650+00:00","is_favorite":false,"is_shared":false,"modified":"2023-05-22T15:23:37.766650+00:00","title":"tf-TestDatadogDashListImport-local-1684769015-time","type":"custom_timeboard","id":"xxd-pbg-ndz","url":"/dashboard/xxd-pbg-ndz/tf-testdatadogdashlistimport-local-1684769015-time","is_read_only":true,"tags":[],"icon":null,"integration_id":null,"popularity":0},{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-05-22T15:23:37.360175+00:00","is_favorite":false,"is_shared":false,"modified":"2023-05-22T15:23:37.360175+00:00","title":"tf-TestDatadogDashListImport-local-1684769015-screen","type":"custom_screenboard","id":"vme-uc7-6xm","url":"/dashboard/vme-uc7-6xm/tf-testdatadogdashlistimport-local-1684769015-screen","is_read_only":false,"tags":[],"icon":null,"integration_id":null,"popularity":0}],"total":2}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/387660
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_list_id":387660}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/xxd-pbg-ndz
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"xxd-pbg-ndz"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/387660
    method: GET
  response:
    body: '{"errors":["Manual Dashboard List with id 387660 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
