---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Example team","handle":"tf-testaccteamnotificationruleempty-local-1768299534","name":"tf-testaccteamnotificationruleempty-local-1768299534"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"006adf93-7fb8-43e8-a1c9-b5720ba32112","type":"team","attributes":{"avatar":null,"banner":1,"created_at":"2026-01-13T10:18:57.868419+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleempty-local-1768299534","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-13T10:18:57.868419+00:00","name":"tf-testaccteamnotificationruleempty-local-1768299534","summary":"Example team","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/006adf93-7fb8-43e8-a1c9-b5720ba32112/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/006adf93-7fb8-43e8-a1c9-b5720ba32112/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 595.99175ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":{"enabled":false}},"type":"team_notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team/006adf93-7fb8-43e8-a1c9-b5720ba32112/notification-rules
        method: POST
      response:
        body: '{"data":{"id":"26b623a5-ac3e-4508-895a-b841e4b2c672","type":"team_notification_rules"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 210.345625ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/006adf93-7fb8-43e8-a1c9-b5720ba32112/notification-rules/26b623a5-ac3e-4508-895a-b841e4b2c672
        method: GET
      response:
        body: '{"data":{"id":"26b623a5-ac3e-4508-895a-b841e4b2c672","type":"team_notification_rules"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 142.229666ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/006adf93-7fb8-43e8-a1c9-b5720ba32112
        method: GET
      response:
        body: '{"data":{"id":"006adf93-7fb8-43e8-a1c9-b5720ba32112","type":"team","attributes":{"created_at":"2026-01-13T10:18:57.868419+00:00","description":"Example team","handle":"tf-testaccteamnotificationruleempty-local-1768299534","is_managed":false,"link_count":0,"modified_at":"2026-01-13T10:18:57.868419+00:00","name":"tf-testaccteamnotificationruleempty-local-1768299534","summary":"Example team","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/006adf93-7fb8-43e8-a1c9-b5720ba32112/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/006adf93-7fb8-43e8-a1c9-b5720ba32112/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 154.523ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/006adf93-7fb8-43e8-a1c9-b5720ba32112/notification-rules/26b623a5-ac3e-4508-895a-b841e4b2c672
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 355.631792ms
