---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Standard+Role
        method: GET
      response:
            - chunked
        body: '{"data":[{"id":"29d47514-0d2a-11ef-b9c5-da7ad0900002","type":"roles","attributes":{"created_at":"2024-05-08T11:00:21.334952Z","modified_at":"2024-05-08T11:00:21.334952Z","name":"Datadog Standard Role","user_count":0},"relationships":{"permissions":{"data":[{"id":"5e605652-dd12-11e8-9e53-375565b8970e","type":"permissions"},{"id":"62cc036c-dd12-11e8-9e54-db9995643092","type":"permissions"},{"id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73","type":"permissions"},{"id":"7d7c98ac-dd12-11e8-9e56-93700598622d","type":"permissions"},{"id":"811ac4ca-dd12-11e8-9e57-676a7f0beef9","type":"permissions"},{"id":"84aa3ae4-dd12-11e8-9e58-a373a514ccd0","type":"permissions"},{"id":"979df720-aed7-11e9-99c6-a7eb8373165a","type":"permissions"},{"id":"d90f6830-d3d8-1[...]
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccuserrolebasic-local-1728638535@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"50872791-87b2-11ef-aa73-0a4c90f4fdec","attributes":{"name":null,"handle":"tf-testaccuserrolebasic-local-1728638535@example.com","created_at":"2024-10-11T09:22:19.673826+00:00","modified_at":"2024-10-11T09:22:19.673826+00:00","email":"tf-testaccuserrolebasic-local-1728638535@example.com","icon":"https://secure.gravatar.com/avatar/c7e61490bb7554666e315c153097ae63?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"29c00926-0d2a-11ef-94c7-da7ad0900002"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 691.710458ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"50872791-87b2-11ef-aa73-0a4c90f4fdec","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"50d12312-87b2-11ef-8c84-da7ad0900002","attributes":{"uuid":"50d12312-87b2-11ef-8c84-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2024-10-11T09:22:20.158315+00:00","expires_at":"2024-10-13T09:22:19.984034+00:00"},"relationships":{"user":{"data":{"type":"users","id":"50872791-87b2-11ef-aa73-0a4c90f4fdec"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 415.003334ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"50872791-87b2-11ef-aa73-0a4c90f4fdec","type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles/29d47514-0d2a-11ef-b9c5-da7ad0900002/users
        method: POST
      response:
        body: '{"data":[{"id":"50872791-87b2-11ef-aa73-0a4c90f4fdec","type":"users","attributes":{"allowed_login_methods":[],"created_at":"2024-10-11T09:22:19.673826Z","disabled":false,"email":"tf-testaccuserrolebasic-local-1728638535@example.com","handle":"tf-testaccuserrolebasic-local-1728638535@example.com","icon":"https://secure.gravatar.com/avatar/c7e61490bb7554666e315c153097ae63?d=retro\u0026s=48","modified_at":"2024-10-11T09:22:19.673826Z","name":"","service_account":false,"status":"Pending","title":null,"verified":false},"relationships":{"org":{"data":{"id":"29c00926-0d2a-11ef-94c7-da7ad0900002","type":"orgs"}},"roles":{"data":[{"id":"29d47514-0d2a-11ef-b9c5-da7ad0900002","type":"roles"}]}}}],"meta":{"page":{"total_count":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 164.68075ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/50872791-87b2-11ef-aa73-0a4c90f4fdec
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"50872791-87b2-11ef-aa73-0a4c90f4fdec","attributes":{"name":null,"handle":"tf-testaccuserrolebasic-local-1728638535@example.com","created_at":"2024-10-11T09:22:19.673826+00:00","modified_at":"2024-10-11T09:22:19.673826+00:00","email":"tf-testaccuserrolebasic-local-1728638535@example.com","icon":"https://secure.gravatar.com/avatar/c7e61490bb7554666e315c153097ae63?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[{"type":"roles","id":"29d47514-0d2a-11ef-b9c5-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"29c00926-0d2a-11ef-94c7-da7ad0900002"}}}},"included":[{"type":"roles","id":"29d47514-0d2a-11ef-b9c5-da7ad0900002","attributes":{"name":"Datadog Standard Role","managed":false,"created_at":"2024-05-08T11:00:21.334952+00:00","modified_at":"2024-05-08T11:00:21.334952+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"62cc036c-dd12-11e8-9e54-db9995643092"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"7d7c98ac-dd12-11e8-9e56-93700598622d"},{"type":"permissions","id":"811ac4ca-dd12-11e8-9e57-676a7f0beef9"},{"type":"permissions"[...]
[...]
