---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"entries":[{"data":{"attributes":{"cidr_block":"1.2.3.4/32","note":"entry 2"},"type":"ip_allowlist_entry"}},{"data":{"attributes":{"cidr_block":"127.0.0.1/32","note":"entry 1"},"type":"ip_allowlist_entry"}},{"data":{"attributes":{"cidr_block":"::/0","note":"ipv6 entry"},"type":"ip_allowlist_entry"}}]},"type":"ip_allowlist"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/ip_allowlist
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"type":"ip_allowlist","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","attributes":{"enabled":false,"entries":[{"data":{"type":"ip_allowlist_entry","attributes":{"modified_at":"2024-10-25T19:43:33.526427+00:00","note":"entry 2","cidr_block":"1.2.3.4/32","created_at":"2024-10-25T19:43:33.526427+00:00"},"id":"38618ef5-612c-483f-a9bd-66c9b1a2ba4f"}},{"data":{"type":"ip_allowlist_entry","attributes":{"modified_at":"2024-10-25T19:43:33.520125+00:00","note":"entry 1","cidr_block":"127.0.0.1/32","created_at":"2024-10-25T18:21:54.808757+00:00"},"id":"ba299ba7-d04f-47a4-9169-aaf806b4ddfd"}},{"data":{"type":"ip_allowlist_entry","attributes":{"modified_at":"2024-10-25T19:43:33.526427+00:00","note":"ipv6 entry","cidr_block":"::/0","created_at":"2024-10-25T19:43:33.526427+00:00"},"id":"00d6a501-e325-43ff-8237-711eaf553aff"}}]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 186.327917ms
[...]
