---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_sts_delegate","attributes":{"delegate_account_email":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"},"id":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.198375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":true,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1728591804@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":false,"is_security_command_center_enabled":false},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"resource_collection_enabled":true,"is_resource_change_collection_enabled":false,"host_filters":[],"is_cspm_enabled":false,"cloud_run_revision_filters":[],"is_security_command_center_enabled":false,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1728591804@test-project.iam.gserviceaccount.com","account_tags":[],"automute":true},"id":"c40d3491-20ac-49a0-bbb9-26d5ac51ebc1"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 482.491834ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"gcp_service_account","attributes":{"account_tags":[],"cloud_run_revision_filters":[],"host_filters":[],"client_email":"ui@google.com","is_security_command_center_enabled":false,"automute":false,"is_cspm_enabled":false,"is_resource_change_collection_enabled":false,"resource_collection_enabled":true},"meta":{"accessible_projects":[]},"id":"8f12ca8e-5b6e-4904-8853-4b49ee096fbe"},{"type":"gcp_service_account","attributes":{"account_tags":[],"cloud_run_revision_filters":[],"host_filters":[],"client_email":"bozo@google.com","is_security_command_center_enabled":false,"automute":false,"is_cspm_enabled":false,"is_resource_change_collection_enabled":false,"resource_collection_enabled":false},"meta":{"accessible_projects":[]},"id":"e06c6a63-983c-4858-9d43-c4f560c132d9"},{"type":"gcp_service_account","attributes":{"account_tags":[[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/c40d3491-20ac-49a0-bbb9-26d5ac51ebc1
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 125.098458ms
