---
version: 1
interactions:
- request:
    body: |
      {"description":"some description","per_unit":"second","short_name":"short name for metric_metadata foo","statsd_interval":1,"type":"gauge","unit":"byte"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateMetricMetadata
    url: https://api.datadoghq.com/api/v1/metrics/foo
    method: PUT
  response:
    body: '{"description":"some description","short_name":"short name for metric_metadata foo","integration":null,"statsd_interval":1,"per_unit":"second","type":"gauge","unit":"byte"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - GaBrMp9hG62dX6k8YEI10yL1utZ779uo3r2arahiBdRifYlH17HMqEEnAT7O3yNi
      X-Dd-Version:
      - "35.4088130"
      X-Ratelimit-Limit:
      - "2000"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "1999"
      X-Ratelimit-Reset:
      - "58"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"series":[{"metric":"foo","points":[[1615587121,1]]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/series
    method: POST
  response:
    body: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
    status: 202 Accepted
    code: 202
    duration: ""
[...]
