---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"bucket":"my-gcs-bucket","id":"gcs-destination-1","inputs":["source-1"],"storage_class":"NEARLINE","type":"google_cloud_storage"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"gcs-destination-minimal-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"e0afd9e6-dcfd-11f0-950e-da7ad0900002","type":"pipelines","attributes":{"name":"gcs-destination-minimal-pipeline","config":{"destinations":[{"bucket":"my-gcs-bucket","id":"gcs-destination-1","inputs":["source-1"],"storage_class":"NEARLINE","type":"google_cloud_storage"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 342.879875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/e0afd9e6-dcfd-11f0-950e-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"e0afd9e6-dcfd-11f0-950e-da7ad0900002","type":"pipelines","attributes":{"name":"gcs-destination-minimal-pipeline","config":{"destinations":[{"bucket":"my-gcs-bucket","id":"gcs-destination-1","inputs":["source-1"],"storage_class":"NEARLINE","type":"google_cloud_storage"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 211.515916ms
[...]
