---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"costs_to_allocate":[{"condition":"is","tag":"aws_product","value":"AmazonEC2"}],"enabled":true,"provider":["aws"],"rule_name":"tf-test-rule-ts-tf-TestAccDatadogCustomAllocationRuleTimeseriesPreservedOnRename-local-1786388201","strategy":{"based_on_timeseries":{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {host}"}],"response_format":"timeseries"},"granularity":"daily","method":"proportional_timeseries"},"type":"shared"},"type":"upsert_arbitrary_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/arbitrary_rule
        method: POST
      response:
        body: '{"data":{"id":"26602","type":"arbitrary_rule","attributes":{"costs_to_allocate":[{"tag":"aws_product","condition":"is","value":"AmazonEC2","values":null}],"created":"2026-08-10T18:56:43.285379429Z","enabled":true,"last_modified_user_uuid":"234a38f2-6533-11f0-a9ad-261b2904e188","order_id":7,"provider":["aws"],"rule_name":"tf-test-rule-ts-tf-TestAccDatadogCustomAllocationRuleTimeseriesPreservedOnRename-local-1786388201","strategy":{"method":"proportional_timeseries","granularity":"daily","based_on_timeseries":{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {host}"}],"response_format":"timeseries"}},"type":"shared","updated":"2026-08-10T18:56:43.285379429Z","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 62.484792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/arbitrary_rule/26602
        method: GET
      response:
        body: '{"data":{"id":"26602","type":"arbitrary_rule","attributes":{"costs_to_allocate":[{"tag":"aws_product","condition":"is","value":"AmazonEC2","values":null}],"created":"2026-08-10T18:56:43.285379Z","enabled":true,"last_modified_user_uuid":"234a38f2-6533-11f0-a9ad-261b2904e188","order_id":7,"provider":["aws"],"rule_name":"tf-test-rule-ts-tf-TestAccDatadogCustomAllocationRuleTimeseriesPreservedOnRename-local-1786388201","strategy":{"method":"proportional_timeseries","granularity":"daily","based_on_timeseries":{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*} by {host}"}],"response_format":"timeseries"}},"type":"shared","updated":"2026-08-10T18:56:43.285379Z","version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 55.651292ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cost/arbitrary_rule/26604
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not found","detail":"The requested resource was not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 80.649583ms
