---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_noinvitation-local-1609928655@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"552c9700-5009-11eb-8bb4-cf9ad376c482","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_noinvitation-local-1609928655@example.com","created_at":"2021-01-06T10:24:17.876816+00:00","email":"tf-testaccdatadoguser_noinvitation-local-1609928655@example.com","icon":"https://secure.gravatar.com/avatar/a613a97b29c7db3c6ce08e089242bce6?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - T0M8IUSL6bs+R5gmxnIS28KoD5lx0N0IU04TSlNtiD3lkhl9dUsMKLoAlE6epfmg
      X-Dd-Version:
      - "35.3647765"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/552c9700-5009-11eb-8bb4-cf9ad376c482
    method: GET
  response:
    body: '{"data":{"type":"users","id":"552c9700-5009-11eb-8bb4-cf9ad376c482","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_noinvitation-local-1609928655@example.com","created_at":"2021-01-06T10:24:17.876816+00:00","email":"tf-testaccdatadoguser_noinvitation-local-1609928655@example.com","icon":"https://secure.gravatar.com/avatar/a613a97b29c7db3c6ce08e089242bce6?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - gxfSlUtZJz4/cDPBxW1+YhseAnu5514ckuMWbI3rl8N4exeAZPF+KTE0BQhrBgSI
      X-Dd-Version:
      - "35.3647765"
    status: 200 OK
    code: 200
    duration: ""
[...]
