---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"filter":{"query":"error_code:456 service:my-other-service"},"filter_type":"spans-sampling-processor","name":"tf-TestAccApmRetentionFilterWithTraceRate-local-1758619315 - second","rate":0.1,"trace_rate":0.5},"type":"apm_retention_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"LofbpAm-Q4eoI4FNPpHTNg","attributes":{"name":"tf-TestAccApmRetentionFilterWithTraceRate-local-1758619315 - second","rate":0.1,"trace_rate":0.5,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:456 service:my-other-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1758619317,"created_by":"frog@datadoghq.com","created_at":1758619317},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 349.070458ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/LofbpAm-Q4eoI4FNPpHTNg
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"LofbpAm-Q4eoI4FNPpHTNg","attributes":{"name":"tf-TestAccApmRetentionFilterWithTraceRate-local-1758619315 - second","rate":0.1,"trace_rate":0.5,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:456 service:my-other-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1758619317,"created_by":"frog@datadoghq.com","created_at":1758619317},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.662833ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/FfKxQswITNuRpLEtxSxVEQ
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"FfKxQswITNuRpLEtxSxVEQ","attributes":{"name":"tf-TestAccApmRetentionFilterWithTraceRate-local-1758619315","rate":0.1,"trace_rate":0.5,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:456 service:my-other-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1758619317,"created_by":"frog@datadoghq.com","created_at":1758619317},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 215.697375ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/LofbpAm-Q4eoI4FNPpHTNg
        method: GET
      response:
            - chunked
        body: '{"errors":["retention filter with id: ''LofbpAm-Q4eoI4FNPpHTNg'' not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 279.132083ms
[...]
