---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Standard+Role
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"roles","id":"7187962c-2fb9-11ed-8384-da7ad0900002","attributes":{"name":"Datadog Standard Role","created_at":"2022-09-08T21:01:44.479379+00:00","modified_at":"2022-09-08T21:01:44.479379+00:00","user_count":14},"relationships":{"permissions":{"data":[{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987"},{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"62cc036c-dd12-11e8-9e54-db9995643092"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"7d7c98ac-dd12-11e8-9e56-93700598622d"},{"type":"permissions","id":"811ac4ca-dd12-11e8-9e57-676a7f0beef9"},{"type":"permissions","id":"84aa3ae4-dd12-11e8-9e58-a373a514ccd0"},{"type":"permissions",[...]
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguserrolesdatasourcebasic-local-1710970898@example.com"},"relationships":{},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"a2b0914c-e702-11ee-9032-06e12d3a9847","attributes":{"name":null,"handle":"tf-testaccdatadoguserrolesdatasourcebasic-local-1710970898@example.com","created_at":"2024-03-20T21:41:40.049576+00:00","modified_at":"2024-03-20T21:41:40.049576+00:00","email":"tf-testaccdatadoguserrolesdatasourcebasic-local-1710970898@example.com","icon":"https://secure.gravatar.com/avatar/b39e9c2f5575ce9467b9aea7ceef28b4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"7187962a-2fb9-11ed-8384-da7ad0900002"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 589.982042ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"a2b0914c-e702-11ee-9032-06e12d3a9847","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"a2de6f9e-e702-11ee-bc1d-da7ad0900002","attributes":{"uuid":"a2de6f9e-e702-11ee-bc1d-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2024-03-20T21:41:40.349407+00:00","expires_at":"2024-03-22T21:41:40.210478+00:00"},"relationships":{"user":{"data":{"type":"users","id":"a2b0914c-e702-11ee-9032-06e12d3a9847"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 291.194625ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"a2b0914c-e702-11ee-9032-06e12d3a9847","type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles/7187962c-2fb9-11ed-8384-da7ad0900002/users
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"e8155474-e6fd-11ee-893a-8ee8908111e[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles/7187962c-2fb9-11ed-8384-da7ad0900002/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"users","id":"e8155474-e6fd-11ee-893a-8ee8908111ec","attributes":{"name":null,"handle":"k@example.com","created_at":"2024-03-20T21:07:48.989073+00:00","mo[...]
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/a2b0914c-e702-11ee-9032-06e12d3a9847
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"a2b0914c-e702-11ee-9032-06e12d3a9847","attributes":{"name":null,"handle":"tf-testaccdatadoguserrolesdatasourcebasic-local-1710970898@example.com","created_at":"2024-03-20T21:41:40.049576+00:00","modified_at":"2024-03-20T21:41:40.049576+00:00","email":"tf-testaccdatadoguserrolesdatasourcebasic-local-1710970898@example.com","icon":"https://secure.gravatar.com/avatar/b39e9c2f5575ce9467b9aea7ceef28b4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[{"type":"roles","id":"7187962c-2fb9-11ed-8384-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"7187962a-2fb9-11ed-8384-da7ad0900002"}}}},"included":[{"type":"roles","id":"7187962c-2fb9-11ed-8384-da7ad0900002","attributes":{"name":"Datadog Standard Role","created_at":"2022-09-08T21:01:44.479379+00:00","modified_at":"2022-09-08T21:01:44.479379+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987"},{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"62cc036c-dd12-11e8-9e54-db9995643092"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f3[...]
[...]
