---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplicationDatasourceErrorMultiple-local-1670443314","type":"react-native"},"type":"rum_application_create"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/rum/applications
    method: POST
  response:
    body: |
      {"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"3103564c-4287-45a8-bd90-13f247d59552","name":"tf-TestAccDatadogRUMApplicationDatasourceErrorMultiple-local-1670443314","created_by_handle":"frog@datadoghq.com","created_at":1670443315473,"org_id":321813,"updated_at":1670443315473,"is_active":false,"hash":"pub715deb66f223abc3e917474afb463543","client_token":"pub715deb66f223abc3e917474afb463543","type":"react-native"},"type":"rum_application","id":"3103564c-4287-45a8-bd90-13f247d59552"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/rum/applications/28219743-2dd0-49d4-9275-fb1f0c314479
    method: DELETE
  response:
    body: ""
    headers: {}
    status: 204 No Content
    code: 204
    duration: ""
[...]
