---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"app_service_plan_filters":"","automute":false,"client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e","client_secret":"TestingRh2nx664kUy5dIApvM54T4AtO","container_app_filters":"","cspm_enabled":false,"custom_metrics_enabled":false,"host_filters":"","metrics_enabled":true,"metrics_enabled_default":true,"resource_provider_configs":[],"tenant_name":"0022d9eb-6e82-d887-fd54-a1c91229dcbf","usage_metrics_enabled":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 145.54075ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: GET
      response:
            - chunked
        body: |
            [{"tenant_name":"01d19c67-eb48-49ff-b6a9-c57503e4d8f0","client_id":"01d19c67-eb48-49ff-b6a9-c57503e4d8f0","host_filters":"key:value,filter:example","app_service_plan_filters":"key:value,filter:example","container_app_filters":"key:value,filter:example","automute":true,"cspm_enabled":true,"custom_metrics_enabled":true,"resource_collection_enabled":true,"metrics_enabled":true,"metrics_enabled_default":true,"usage_metrics_enabled":true,"resource_provider_configs":[{"namespace":"Microsoft.Compute","metrics_enabled":false},{"namespace":"Microsoft.Web","metrics_enabled":false}],"errors":["Invalid credentials. Datadog could not authenticate with Azure."],"warnings":[]},{"tenant_name":"0504dbe8-0c82-4cee-b014-866d7690fa74","client_id":"0504dbe8-0c82-4cee-b014-866d7690fa74","host_filters":"key:value,filter:example","app_service_plan_filters":"key:value,filter:example","container_app_filters":"key:value,filter:example","automute":true,"cspm_enabled":true,"custom_metrics_enabled":true,"resource_collection_enabled":true,"metrics_enabled":true,"metrics_enabled_default":true,"usage_metrics_enabled":true,"resource_provider_configs":[{"namespace":"Microsoft.Compute[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"destination":{"container":"my-container","integration":{"client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e","tenant_id":"0022d9eb-6e82-d887-fd54-a1c91229dcbf"},"path":"/path/blou","storage_account":"storageaccount","type":"azure"},"include_tags":false,"name":"my first azure archive","query":"service:toto","rehydration_max_scan_size_in_gb":null,"rehydration_tags":[]},"type":"archives"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/archives
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"x3tZgqroTWWL-QG3X9mmxA","attributes":{"name":"my first azure archive","query":"service:toto","state":"UNKNOWN","destination":{"container":"my-container","storage_account":"storageaccount","path":"/path/blou","type":"azure","integration":{"tenant_id":"0022d9eb-6e82-d887-fd54-a1c91229dcbf","client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e"}},"rehydration_tags":[],"include_tags":false,"rehydration_max_scan_size_in_gb":null}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.064375ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/archives/x3tZgqroTWWL-QG3X9mmxA
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"x3tZgqroTWWL-QG3X9mmxA","attributes":{"name":"my first azure archive","query":"service:toto","state":"UNKNOWN","destination":{"container":"my-container","storage_account":"storageaccount","path":"/path/blou","type":"azure","integration":{"tenant_id":"0022d9eb-6e82-d887-fd54-a1c91229dcbf","client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e"}},"rehydration_tags":[],"include_tags":false,"rehydration_max_scan_size_in_gb":null}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.213625ms
[...]
