---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateChangeRuleType-local-1765532907","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"731a8e0e-fd8c-4f61-b63a-bb9262611865","type":"deployment_gate","attributes":{"created_at":"2025-12-12T09:48:29.3727Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateChangeRuleType-local-1765532907","service":"my-service","updated_at":"2025-12-12T09:48:29.3727Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 201.101458ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/731a8e0e-fd8c-4f61-b63a-bb9262611865/rules
        method: POST
      response:
        body: '{"data":{"id":"d3e73cf2-bcd6-48d5-bd66-51d952a588d7","type":"deployment_rule","attributes":{"created_at":"2025-12-12T09:48:29.513299Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"731a8e0e-fd8c-4f61-b63a-bb9262611865","name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-12T09:48:29.513299Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 139.747042ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/731a8e0e-fd8c-4f61-b63a-bb9262611865
        method: GET
      response:
        body: '{"data":{"id":"731a8e0e-fd8c-4f61-b63a-bb9262611865","type":"deployment_gate","attributes":{"created_at":"2025-12-12T09:48:29.3727Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateChangeRuleType-local-1765532907","service":"my-service","updated_at":"2025-12-12T09:48:29.3727Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 137.835917ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/731a8e0e-fd8c-4f61-b63a-bb9262611865/rules
        method: GET
      response:
        body: '{"data":{"id":"731a8e0e-fd8c-4f61-b63a-bb9262611865","type":"list_deployment_rules","attributes":{"rules":[{"id":"d3e73cf2-bcd6-48d5-bd66-51d952a588d7","name":"test_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-12T09:48:29.513299Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-12T09:48:29.513299Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"731a8e0e-fd8c-4f61-b63a-bb9262611865","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 136.122167ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/731a8e0e-fd8c-4f61-b63a-bb9262611865/rules/d3e73cf2-bcd6-48d5-bd66-51d952a588d7
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 166.9185ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"test_rule","options":{"duration":300,"query":"service:test"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/731a8e0e-fd8c-4f61-b63a-bb9262611865/rules
        method: POST
      response:
        body: '{"data":{"id":"6b86b211-1be1-4a79-9aa7-1c7d1800f7ee","type":"deployment_rule","attributes":{"created_at":"2025-12-12T09:48:31.82249Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"731a8e0e-fd8c-4f61-b63a-bb9262611865","name":"test_rule","options":{"query":"service:test","duration":300},"type":"monitor","updated_at":"2025-12-12T09:48:31.82249Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 137.3665ms
[...]
