---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":["@1","@2"]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":["@3"]}],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardTab-local-1773781052","widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
        body: '{"id":"92y-wze-bzn","title":"tf-TestAccDatadogDashboardTab-local-1773781052","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/92y-wze-bzn/tf-testaccdatadogdashboardtab-local-1773781052","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":2253853020208935},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":6873515384459748},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":8885049346038988}],"notify_list":[],"created_at":"2026-03-17T20:57:33.639410+00:00","modified_at":"2026-03-17T20:57:33.639410+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[2253853020208935,6873515384459748]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[8885049346038988]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 698.206625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/92y-wze-bzn
        method: GET
      response:
        body: '{"id":"92y-wze-bzn","title":"tf-TestAccDatadogDashboardTab-local-1773781052","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/92y-wze-bzn/tf-testaccdatadogdashboardtab-local-1773781052","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":2253853020208935},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":6873515384459748},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":8885049346038988}],"notify_list":[],"created_at":"2026-03-17T20:57:33.639410+00:00","modified_at":"2026-03-17T20:57:33.639410+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[2253853020208935,6873515384459748]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[8885049346038988]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.708958ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/92y-wze-bzn
        method: DELETE
      response:
        body: '{"deleted_dashboard_id":"92y-wze-bzn"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 476.189709ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/92y-wze-bzn
        method: GET
      response:
        body: '{"errors":["Dashboard with ID 92y-wze-bzn not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 134.518291ms
