version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://ip-ranges.datadoghq.com/
    method: GET
    id: 0
  response:
    body: |
      {
          "version": 52,
          "modified": "2022-11-14-22-00-00",
          "agents": {
              "prefixes_ipv4": [
                  "3.233.144.0/20"
              ],
              "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
              ]
          },
          "api": {
              "prefixes_ipv4": [
                  "3.233.144.0/20"
              ],
              "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
              ]
          },
          "apm": {
              "prefixes_ipv4": [
                  "3.233.144.0/20"
              ],
              "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
              ]
          },
          "global": {
              "prefixes_ipv4": [
                  "3.233.144.0/20"
              ],
              "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
              ]
          },
          "logs": {
              "prefixes_ipv4": [
                  "3.233.144.0/20"
              ],
              "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
              ]
          },
          "orchestrator": {
              "prefixes_ipv4": [
                  "3.233.144.0/20"
              ],
              "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
              ]
          },
          "process": {
              "prefixes_ipv4": [
                  "3.233.144.0/20"
              ],
              "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
              ]
          },
          "synthetics": {
              "prefixes_ipv4": [
                  "107.21.25.247/32",
                  "13.114.211.96/32",
                  "13.115.46.213/32",
                  "13.126.169.175/32",
                  "13.209.118.42/32",
                  "13.209.230.111/32",
                  "13.234.54.8/32",
                  "13.236.246.161/32",
                  "13.238.14.57/32",
                  "13.244.188.203/32",
                  "13.244.85.86/32",
                  "13.245.200.254/32",
       [...]
[...]
