---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a totp global variable","is_fido":false,"is_totp":true,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLETOTP_UPDATED_LOCAL_1739890458","tags":["foo:bar","baz"],"value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":true,"value":"variable-secure-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"edd93df9-9a5a-498b-b95c-7fc89160e924","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLETOTP_UPDATED_LOCAL_1739890458","description":"a totp global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"is_totp":true,"value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 523.213666ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/edd93df9-9a5a-498b-b95c-7fc89160e924
        method: GET
      response:
            - chunked
        body: |
            {"id":"edd93df9-9a5a-498b-b95c-7fc89160e924","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLETOTP_UPDATED_LOCAL_1739890458","description":"a totp global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2025-02-18T14:54:21.002351+00:00","modified_at":"2025-02-18T14:54:21.002351+00:00","last_error":null,"is_totp":true,"value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":true},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 177.1385ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/edd93df9-9a5a-498b-b95c-7fc89160e924
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 169.273833ms
