---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"some description about foo SLO","name":"tf-TestAccDatadogServiceLevelObjective_TimeSlice-local-1744897514","sli_specification":{"time_slice":{"comparator":"\u003e","query":{"formulas":[{"formula":"(query1-query2)/query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"sum:trace.grpc.server.hits{service:monitor-history-reader}"},{"data_source":"metrics","name":"query2","query":"sum:trace.grpc.server.errors{service:monitor-history-reader}"}]},"query_interval_seconds":300,"threshold":0.99}},"tags":["foo:bar","baz"],"target_threshold":99,"thresholds":[{"target":99,"timeframe":"7d","warning":99.5}],"timeframe":"7d","type":"time_slice","warning_threshold":99.5}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/slo
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"id":"ba9f0d1f4563500ab3d779053f761331","name":"tf-TestAccDatadogServiceLevelObjective_TimeSlice-local-1744897514","tags":["baz","foo:bar"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.0,"target_display":"99.","warning":99.5,"warning_display":"99.5"}],"type":"time_slice","type_id":2,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.5,"target_threshold":99,"creator":{"name":"Thibault Viennot","handle":"thibault.viennot@datadoghq.com","email":"thibault.viennot@datadoghq.com"},"created_at":1744897515,"modified_at":1744897515,"sli_specification":{"time_slice":{"comparator":">","query":{"formulas":[{"formula":"(query1-query2)/query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"sum:trace.grpc.server.hits{service:monitor-history-reader}"},{"data_source":"metrics","name":"query2","query":"sum:trace.grpc.server.errors{service:monitor-history-reader}"}]},"query_interval_seconds":300,"threshold":0.99}}}],"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 521.044292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/ba9f0d1f4563500ab3d779053f761331
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"ba9f0d1f4563500ab3d779053f761331","name":"tf-TestAccDatadogServiceLevelObjective_TimeSlice-local-1744897514","tags":["foo:bar","baz"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.0,"target_display":"99.","warning":99.5,"warning_display":"99.5"}],"type":"time_slice","type_id":2,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.5,"target_threshold":99.0,"creator":{"name":"Thibault Viennot","handle":"thibault.viennot@datadoghq.com","email":"thibault.viennot@datadoghq.com"},"created_at":1744897515,"modified_at":1744897515,"sli_specification":{"time_slice":{"comparator":">","query":{"formulas":[{"formula":"(query1-query2)/query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"sum:trace.grpc.server.hits{service:monitor-history-reader}"},{"data_source":"metrics","name":"query2","query":"sum:trace.grpc.server.errors{service:monitor-history-reader}"}]},"query_interval_seconds":300,"threshold":0.99}}},"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.475208ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/ba9f0d1f4563500ab3d779053f761331
        method: GET
      response:
            - chunked
        body: '{"errors":["SLO not found: ba9f0d1f4563500ab3d779053f761331 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 285.591459ms
