---
version: 1
interactions:
- request:
    body: |
      {"client_id":"testc7f6-1234-5678-9101-3fcbf464test","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","tenant_name":"tf-TestAccDatadogLogsArchiveAzure_basicDeprecated-local-1613038957"}
    form: {}
    headers:
      Content-Type:
      - application/json
        datadog-api-client-go/1.0.0-beta.15 (go go1.15.7; os darwin; arch amd64)
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: GET
  response:
    body: '[{"tenant_name":"tf-TestAccDatadogLogsArchiveAzure_basic-42512-1611580206","errors":["Datadog
      could not query tenant tf-TestAccDatadogLogsArchiveAzure_basic-42512-1611580206
      and client ID testc7f6-1234-5678-9101-3fcbf464test: invalid credentials"],"host_filters":"","client_id":"testc7f6-1234-5678-9101-3fcbf464test"},{"tenant_name":"tf-TestAccDatadogLogsArchiveAzure_basicDeprecated-local-1613038957","errors":[],"host_filters":"","client_id":"testc7f6-1234-5678-9101-3fcbf464test"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"destination":{"container":"my-container","integration":{"client_id":"testc7f6-1234-5678-9101-3fcbf464test","tenant_id":"tf-TestAccDatadogLogsArchiveAzure_basicDeprecated-local-1613038957"},"path":"/path/blou","storage_account":"storageAccount","type":"azure"},"include_tags":false,"name":"my first azure archive","query":"service:toto","rehydration_tags":[]},"type":"archives"}}
    form: {}
    headers:
      Content-Type:
      - application/json
        datadog-api-client-go/1.0.0-beta.15 (go go1.15.7; os darwin; arch amd64)
    url: https://api.datadoghq.com/api/v2/logs/config/archives
    method: POST
  response:
    body: '{"data":{"type":"archives","id":"ITZ5BRACTS-n56WVnrPwPg","attributes":{"name":"my
      first azure archive","query":"service:toto","state":"UNKNOWN","destination":{"container":"my-container","storage_account":"storageAccount","path":"/path/blou","type":"azure","integration":{"tenant_id":"tf-TestAccDatadogLogsArchiveAzure_basicDeprecated-local-1613038957","client_id":"testc7f6-1234-5678-9101-3fcbf464test"}},"rehydration_tags":[],"include_tags":false}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/logs/config/archives/ITZ5BRACTS-n56WVnrPwPg
    method: GET
  response:
    body: '{"data":{"type":"archives","id":"ITZ5BRACTS-n56WVnrPwPg","attributes":{"name":"my
      first azure archive","query":"service:toto","state":"UNKNOWN","destination":{"container":"my-container","storage_account":"storageAccount","path":"/path/blou","type":"azure","integration":{"tenant_id":"tf-TestAccDatadogLogsArchiveAzure_basicDeprecated-local-1613038957","client_id":"testc7f6-1234-5678-9101-3fcbf464test"}},"rehydration_tags":[],"include_tags":false}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
