---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a secure global variable","is_fido":false,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_UPDATED_LOCAL_1739527615","tags":["foo:bar","baz"],"value":{"secure":true,"value":"variable-secure-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"fc7941bf-f4b3-4ddb-bdfa-4a11a6dee8a8","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_UPDATED_LOCAL_1739527615","description":"a secure global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 458.547167ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/fc7941bf-f4b3-4ddb-bdfa-4a11a6dee8a8
        method: GET
      response:
            - chunked
        body: |
            {"id":"fc7941bf-f4b3-4ddb-bdfa-4a11a6dee8a8","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_UPDATED_LOCAL_1739527615","description":"a secure global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2025-02-14T10:07:02.280501+00:00","modified_at":"2025-02-14T10:07:02.280501+00:00","last_error":null,"value":{"secure":true},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.699333ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/fc7941bf-f4b3-4ddb-bdfa-4a11a6dee8a8
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 244.749ms
