---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/aws/iam_permissions
        method: GET
      response:
            - chunked
        body: '{"data":{"id":"permissions","type":"permissions","attributes":{"permissions":["account:GetAccountInformation","account:GetContactInformation","airflow:GetEnvironment","airflow:ListEnvironments","amplify:ListApps","amplify:ListArtifacts","amplify:ListBackendEnvironments","amplify:ListBranches","amplify:ListDomainAssociations","amplify:ListJobs","amplify:ListWebhooks","aoss:BatchGetCollection","aoss:ListCollections","apigateway:GET","app-integrations:GetApplication","app-integrations:GetDataIntegration","app-integrations:ListApplicationAssociations","app-integrations:ListA[...]
[...]
