---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyMonitorRuleQuery-local-1765466781","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"a934d7c4-f20d-4a3d-a50d-9625568ec282","type":"deployment_gate","attributes":{"created_at":"2025-12-11T15:26:22.219616Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyMonitorRuleQuery-local-1765466781","service":"my-service","updated_at":"2025-12-11T15:26:22.219616Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 125.772708ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"monitor_rule","options":{"duration":300,"query":"service:test"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/a934d7c4-f20d-4a3d-a50d-9625568ec282/rules
        method: POST
      response:
        body: '{"data":{"id":"a092f1d4-2021-401e-8bc9-4c9719fbd060","type":"deployment_rule","attributes":{"created_at":"2025-12-11T15:26:22.351159Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"a934d7c4-f20d-4a3d-a50d-9625568ec282","name":"monitor_rule","options":{"query":"service:test","duration":300},"type":"monitor","updated_at":"2025-12-11T15:26:22.351159Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 128.337209ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/a934d7c4-f20d-4a3d-a50d-9625568ec282
        method: GET
      response:
        body: '{"data":{"id":"a934d7c4-f20d-4a3d-a50d-9625568ec282","type":"deployment_gate","attributes":{"created_at":"2025-12-11T15:26:22.219616Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyMonitorRuleQuery-local-1765466781","service":"my-service","updated_at":"2025-12-11T15:26:22.219616Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 134.365708ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/a934d7c4-f20d-4a3d-a50d-9625568ec282/rules
        method: GET
      response:
        body: '{"data":{"id":"a934d7c4-f20d-4a3d-a50d-9625568ec282","type":"list_deployment_rules","attributes":{"rules":[{"id":"a092f1d4-2021-401e-8bc9-4c9719fbd060","name":"monitor_rule","type":"monitor","dry_run":false,"created_at":"2025-12-11T15:26:22.351159Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-11T15:26:22.351159Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"a934d7c4-f20d-4a3d-a50d-9625568ec282","options":{"query":"service:test","duration":300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 140.041417ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/a934d7c4-f20d-4a3d-a50d-9625568ec282/rules/a092f1d4-2021-401e-8bc9-4c9719fbd060
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 126.143875ms
[...]
