---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"encoding":"json","id":"splunk-hec-1","inputs":["source-1"],"type":"splunk_hec"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"splunk-hec-token-strategy-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"f87f4e32-34b7-11f1-b52b-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-hec-token-strategy-pipeline","config":{"destinations":[{"encoding":"json","id":"splunk-hec-1","inputs":["source-1"],"type":"splunk_hec"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 431.835ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/f87f4e32-34b7-11f1-b52b-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"f87f4e32-34b7-11f1-b52b-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-hec-token-strategy-pipeline","config":{"destinations":[{"encoding":"json","id":"splunk-hec-1","inputs":["source-1"],"type":"splunk_hec"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 283.189125ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"encoding":"json","id":"splunk-hec-1","inputs":["source-1"],"token_key":"SPLUNK_HEC_TOKEN","token_strategy":"custom","type":"splunk_hec"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"splunk-hec-token-strategy-pipeline"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/f87f4e32-34b7-11f1-b52b-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"f87f4e32-34b7-11f1-b52b-da7ad0900002","type":"pipelines","attributes":{"name":"splunk-hec-token-strategy-pipeline","config":{"destinations":[{"encoding":"json","id":"splunk-hec-1","inputs":["source-1"],"token_key":"SPLUNK_HEC_TOKEN","token_strategy":"custom","type":"splunk_hec"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 651.059959ms
[...]
