---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a secure global variable","is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_UPDATED_LOCAL_1739826762","tags":["foo:bar","baz"],"value":{"secure":true,"value":"variable-secure-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"1cfba2b7-6c21-42b3-8a0f-6150dc1edd38","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_UPDATED_LOCAL_1739826762","description":"a secure global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.373542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/1cfba2b7-6c21-42b3-8a0f-6150dc1edd38
        method: GET
      response:
            - chunked
        body: |
            {"id":"1cfba2b7-6c21-42b3-8a0f-6150dc1edd38","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_UPDATED_LOCAL_1739826762","description":"a secure global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2025-02-17T21:12:44.620013+00:00","modified_at":"2025-02-17T21:12:44.620013+00:00","last_error":null,"value":{"secure":true},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.778958ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/1cfba2b7-6c21-42b3-8a0f-6150dc1edd38
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 338.824333ms
