---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"account_id":"101559798974","account_specific_namespace_rules":{},"cspm_resource_collection_enabled":false,"excluded_regions":[],"extended_resource_collection_enabled":false,"filter_tags":[],"host_tags":[],"metrics_collection_enabled":true,"resource_collection_enabled":false,"role_name":"testacc-datadog-integration-role"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: POST
      response:
            - chunked
        body: |
            {"external_id":"ecfa89ef8a734212b317073898276bbe"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 899.328458ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: GET
      response:
            - chunked
        body: |
            {"accounts":[{"account_id":"171198138700","role_name":"DatadogAWSIntegrationRole","filter_tags":["$KEY:$VALUE"],"host_tags":["$KEY:$VALUE"],"account_specific_namespace_rules":{"auto_scaling":false},"excluded_regions":["us-east-1","us-west-2"],"metrics_collection_enabled":false,"errors":["Datadog is not authorized to perform action sts:AssumeRole\nAccount affected: 171198138700\nRegions affected: every region\nError was last seen 1m ago"],"cspm_resource_collection_enabled":true,"extended_resource_collection_enabled":true,"resource_collection_enabled":true},{"account_id":"170844477300","role_name":"DatadogAWSIntegrationRole","filter_tags":["$KEY:$VALUE"],"host_tags":["$KEY:$VALUE"],"account_specific_namespace_rules":{"auto_scaling":false},"excluded_regions":["us-east-1","us-west[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"account_id":"101559798974","lambda_arn":"arn:aws:lambda:us-east-1:1234567890:function:datadog-forwarder-Forwarder"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws/logs
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.973208ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/aws/logs
        method: GET
      response:
            - chunked
        body: |
            [{"account_id":"515254975698","lambdas":[{"arn":"arn:aws:lambda:us-east-1:1234567890:function:datadog-forwarder-Forwarder"}],"services":[],"services_with_triggers_present":[],"synced_by_service_id":[],"touched":false},{"account_id":"565297515155","lambdas":[{"arn":"arn:aws:lambda:us-east-1:1234567890:function:datadog-forwarder-Forwarder"}],"services":[],"services_with_triggers_present":[],"synced_by_service_id":[],"touched":false},{"account_id":"101559798974","lambdas":[{"arn":"arn:aws:lambda:us-east-1:1234567890:function:datadog-forwarder-Forwarder"}],"services":[],"services_with_triggers_present":[],"synced_by_service_id":[],"touched":false}]
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.970416ms
[...]
