version: 2
interactions:
- request:
    body: |
      {"description":"some description about foo SLO","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346{type:good}.as_count()"},"tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346"],"target_threshold":99.5,"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"},{"target":99,"timeframe":"90d"}],"timeframe":"7d","type":"metric","warning_threshold":99.8}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
    id: 0
  response:
    body: |
      {"data":[{"id":"25dda1a2705a53c88b7f9c0a4cf8b8be","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1699300350,"modified_at":1699300350}],"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?ids=25dda1a2705a53c88b7f9c0a4cf8b8be
    method: GET
    id: 1
  response:
    body: |
      {"data":[{"id":"25dda1a2705a53c88b7f9c0a4cf8b8be","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1699300350,"modified_at":1699300350}],"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/25dda1a2705a53c88b7f9c0a4cf8b8be
    method: GET
    id: 3
  response:
    body: |
      {"data":{"id":"25dda1a2705a53c88b7f9c0a4cf8b8be","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1699300350,"modified_at":1699300350},"error":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346
    method: GET
    id: 7
  response:
    body: |
      {"data":[{"id":"25dda1a2705a53c88b7f9c0a4cf8b8be","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99."},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"7d","warning_threshold":99.8,"target_threshold":99.5,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346{type:good}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1699300350,"modified_at":1699300350}],"error":null,"metadata":{"page":{"total_count":1,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/search?page%5Bnumber%5D=0&page%5Bsize%5D=100&query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346
    method: GET
    id: 17
  response:
    body: |
      {"data":{"type":"service_level_objective_search_results","attributes":{"slos":[{"data":{"type":"slo","attributes":{"monitor_ids":null,"env_tags":[],"groups":null,"service_tags":[],"name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","slo_type":"metric","created_at":1699300352,"team_tags":[],"all_tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346"],"creator":{"name":null,"id":1445416,"email":"frog@datadoghq.com"},"modified_at":1699300352,"thresholds":[{"target_display":"99.5","warning":99.8,"timeframe":"7d","warning_display":"99.5","target":99.5},{"target_display":"99","warning":null,"timeframe":"30d","warning_display":null,"target":99.0},{"target_display":"99","warning":null,"timeframe":"90d","warning_display":null,"target":99.0}],"description":"some description about foo SLO","warning_threshold":99.8,"query":{"numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346{type:good}.as_count()","metrics":null,"denominator":"sum:my.metric{*}.as_count()"},"target_threshold":99.5,"timeframe":"7d"},"id":"a88c4097ff9c5a66949a275cae484d37"}},{"data":{"type":"slo","attributes":{"monitor_ids":null,"env_tags":[],"groups":null,"service_tags":[],"name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","slo_type":"metric","created_at":1699300350,"team_tags":[],"all_tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346"],"creator":{"name":null,"id":1445416,"email":"frog@datadoghq.com"},"modified_at":1699300350,"thresholds":[{"target_display":"99.5","warning":99.8,"timeframe":"7d","warning_display":"99.5","target":99.5},{"target_display":"99","warning":null,"timeframe":"30d","warning_display":null,"target":99.0},{"target_display":"99","warning":null,"timeframe":"90d","warning_display":null,"target":99.0}],"description":"some description about foo SLO","warning_threshold":99.8,"query":{"numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346{type:good}.as_count()","metrics":null,"denominator":"sum:my.metric{*}.as_count()"},"target_threshold":99.5,"timeframe":"7d"},"id":"25dda1a2705a53c88b7f9c0a4cf8b8be"}}]}},"meta":{"pagination":{"number":0,"first_number":0,"prev_number":0,"next_number":1,"last_number":0,"size":100,"type":"number_size","total":2}},"links":{"self":"https://api.datadoghq.com/api/v1/slo/search?page%5Bnumber%5D=0&page%5Bsize%5D=100&query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","last":null,"next":"https://api.datadoghq.com/api/v1/slo/search?query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346&page[number]=1&page[size]=100","prev":null,"first":"https://api.datadoghq.com/api/v1/slo/search?query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346&page[number]=0&page[size]=100"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?tags_query=foo%3Atf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346
    method: GET
    id: 26
  response:
    body: |
      {"data":[{"id":"25dda1a2705a53c88b7f9c0a4cf8b8be","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","tf_testaccdatadogservicelevelobjectivesdatasource_local[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/search?page%5Bnumber%5D=0&page%5Bsize%5D=100&query=foo%3Atf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346
    method: GET
    id: 35
  response:
    body: |
      {"data":{"type":"service_level_objective_search_results","attributes":{"slos":[{"data":{"type":"slo","attributes":{"timeframe":"7d","modified_at":1699300352,"warning_threshold":99.8,"groups":null,"env_tags":[],"monitor_ids"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo?metrics_query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346
    method: GET
    id: 44
  response:
    body: |
      {"data":[{"id":"25dda1a2705a53c88b7f9c0a4cf8b8be","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","tags":["foo:tf_testaccdatadogservicelevelobjectivesdatasource_local_1699300346","tf_testaccdatadogservicelevelobjectivesdatasource_local_16[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/slo/a88c4097ff9c5a66949a275cae484d37
    method: GET
    id: 62
  response:
    body: '{"errors":["SLO not found: a88c4097ff9c5a66949a275cae484d37 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
[...]
