---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogApiKeyDatasource_matchId-local-1627995148 2"},"type":"api_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAPIKey
    url: https://api.datadoghq.com/api/v2/api_keys
    method: POST
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-08-03T12:52:31.017748+00:00","key":"38c3b99b2d435e51ecb73b58773d544b","last4":"544b","modified_at":"2021-08-03T12:52:31.017748+00:00","name":"tf-TestAccDatadogApiKeyDatasource_matchId-local-1627995148 2"},"relationships":{"created_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}},"modified_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}}},"id":"ae20a5f8-2214-53e2-ae47-7d827f40f194"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPIKey
    url: https://api.datadoghq.com/api/v2/api_keys/c567cc2c-ce1d-5883-a7b4-ea6e4c8a449a
    method: GET
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-08-03T12:52:31.020173+00:00","key":"2d31d50ce98ad3f9a84b3f632ba5b63a","last4":"b63a","modified_at":"2021-08-03T12:52:31.020173+00:00","name":"tf-TestAccDatadogApiKeyDatasource_matchId-local-1627995148 1"},"relationships":{"created_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}},"modified_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}}},"id":"c567cc2c-ce1d-5883-a7b4-ea6e4c8a449a"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPIKey
    url: https://api.datadoghq.com/api/v2/api_keys/c567cc2c-ce1d-5883-a7b4-ea6e4c8a449a
    method: GET
  response:
    body: '{"errors": ["API key not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
