---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["quota-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"quota-group-1","include":"*","inputs":["source-1"],"processors":[{"drop_events":true,"enabled":true,"id":"quota-1","ignore_when_missing_partitions":true,"include":"*","limit":{"enforce":"events","limit":1000},"name":"limitByHostAndEnv","overrides":[{"fields":[{"name":"env","value":"prod"},{"name":"host","value":"*"}],"limit":{"enforce":"events","limit":500}},{"fields":[{"name":"env","value":"*"},{"name":"host","value":"localhost"}],"limit":{"enforce":"bytes","limit":300}}],"partition_fields":["host","env"],"type":"quota"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"quota-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"cad68e80-dcfd-11f0-b88e-da7ad0900002","type":"pipelines","attributes":{"name":"quota-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["quota-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"quota-group-1","include":"*","inputs":["source-1"],"processors":[{"drop_events":true,"enabled":true,"id":"quota-1","ignore_when_missing_partitions":true,"include":"*","limit":{"enforce":"events","limit":1000},"name":"limitByHostAndEnv","overrides":[{"fields":[{"name":"env","value":"prod"},{"name":"host","value":"*"}],"limit":{"enforce":"events","limit":500}},{"fields":[{"name":"env","value":"*"},{"name":"host","value":"localhost"}],"limit":{"enforce":"bytes","limit":300}}],"partition_fields":["host","env"],"type":"quota"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 404.844333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/cad68e80-dcfd-11f0-b88e-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"cad68e80-dcfd-11f0-b88e-da7ad0900002","type":"pipelines","attributes":{"name":"quota-pipeline","config":{"destinations":[{"id":"destination-1","inputs":["quota-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"quota-group-1","include":"*","inputs":["source-1"],"processors":[{"drop_events":true,"enabled":true,"id":"quota-1","ignore_when_missing_partitions":true,"include":"*","limit":{"enforce":"events","limit":1000},"name":"limitByHostAndEnv","overrides":[{"fields":[{"name":"env","value":"prod"},{"name":"host","value":"*"}],"limit":{"enforce":"events","limit":500}},{"fields":[{"name":"env","value":"*"},{"name":"host","value":"localhost"}],"limit":{"enforce":"bytes","limit":300}}],"partition_fields":["host","env"],"type":"quota"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 206.270042ms
[...]
