version: 2
interactions:
- request:
    body: |
      {"end":1735732799,"message":"tf-TestAccDatadogDowntime_WeekDayRecurring-local-1677784627","monitor_tags":["*"],"recurrence":{"period":1,"type":"weeks","week_days":["Sat","Sun"]},"scope":["scope:WeekDaysRecurrence"],"start":1735646400,"timezone":"UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
    id: 0
  response:
    body: |
      {"id":2718959975,"monitor_id":null,"org_id":321813,"start":1735646400,"end":1735732799,"canceled":null,"created":1677784628,"modified":1677784628,"message":"tf-TestAccDatadogDowntime_WeekDayRecurring-local-1677784627","active":false,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Sat","Sun"],"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":2,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"scope":["scope:WeekDaysRecurrence"]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/downtime/2718959975
    method: GET
    id: 1
  response:
    body: |
      {"id":2718959975,"monitor_id":null,"org_id":321813,"start":1735646400,"end":1735732799,"canceled":null,"created":1677784628,"modified":1677784628,"message":"tf-TestAccDatadogDowntime_WeekDayRecurring-local-1677784627","active":false,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Sat","Sun"],"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":2,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"scope":["scope:WeekDaysRecurrence"]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
