---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardLogStream-local-1767989223","widgets":[{"definition":{"columns":["core_host","core_service"],"indexes":["main"],"message_display":"expanded-md","query":"status:error env:prod","show_date_column":true,"show_message_column":true,"sort":{"column":"time","order":"desc"},"time":{"live_span":"1d"},"title":"Log Stream","title_align":"right","title_size":"16","type":"log_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"w7b-3cz-47z","title":"tf-TestAccDatadogDashboardLogStream-local-1767989223","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/w7b-3cz-47z/tf-testaccdatadogdashboardlogstream-local-1767989223","template_variables":[],"widgets":[{"definition":{"columns":["core_host","core_service"],"indexes":["main"],"message_display":"expanded-md","query":"status:error env:prod","show_date_column":true,"show_message_column":true,"sort":{"column":"time","order":"desc"},"time":{"live_span":"1d"},"title":"Log Stream","title_align":"right","title_size":"16","type":"log_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":2592253887415720}],"notify_list":[],"created_at":"2026-01-09T20:07:04.395678+00:00","modified_at":"2026-01-09T20:07:04.395678+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 129.622667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/w7b-3cz-47z
        method: GET
      response:
            - chunked
        body: '{"id":"w7b-3cz-47z","title":"tf-TestAccDatadogDashboardLogStream-local-1767989223","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"free","url":"/dashboard/w7b-3cz-47z/tf-testaccdatadogdashboardlogstream-local-1767989223","template_variables":[],"widgets":[{"definition":{"columns":["core_host","core_service"],"indexes":["main"],"message_display":"expanded-md","query":"status:error env:prod","show_date_column":true,"show_message_column":true,"sort":{"column":"time","order":"desc"},"time":{"live_span":"1d"},"title":"Log Stream","title_align":"right","title_size":"16","type":"log_stream"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":2592253887415720}],"notify_list":[],"created_at":"2026-01-09T20:07:04.395678+00:00","modified_at":"2026-01-09T20:07:04.395678+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.943917ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/w7b-3cz-47z
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"w7b-3cz-47z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 330.750375ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/w7b-3cz-47z
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID w7b-3cz-47z not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 100.795458ms
