---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadoguser_invitation-local-1758619274@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"a7a015b3-985e-11f0-9651-7220f0448ba8","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_invitation-local-1758619274@example.com","created_at":"2025-09-23T09:21:15.511984+00:00","modified_at":"2025-09-23T09:21:15.511984+00:00","email":"tf-testaccdatadoguser_invitation-local-1758619274@example.com","icon":"https://secure.gravatar.com/avatar/1e9c018b24caf87d30497feaffd314e9?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 774.546375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"a7a015b3-985e-11f0-9651-7220f0448ba8","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"a816ff30-985e-11f0-abac-da7ad0900002","attributes":{"uuid":"a816ff30-985e-11f0-abac-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-09-23T09:21:16.290283+00:00","expires_at":"2025-09-25T09:21:15.763781+00:00"},"relationships":{"user":{"data":{"type":"users","id":"a7a015b3-985e-11f0-9651-7220f0448ba8"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 787.735ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/a7a015b3-985e-11f0-9651-7220f0448ba8
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"a7a015b3-985e-11f0-9651-7220f0448ba8","attributes":{"name":"Test User","handle":"tf-testaccdatadoguser_invitation-local-1758619274@example.com","created_at":"2025-09-23T09:21:15.511984+00:00","modified_at":"2025-09-23T09:21:15.511984+00:00","email":"tf-testaccdatadoguser_invitation-local-1758619274@example.com","icon":"https://secure.gravatar.com/avatar/1e9c018b24caf87d30497feaffd314e9?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 185.044542ms
[...]
