---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-sp-maint-tmpl-import-1787179210","name":"test-sp-maint-tmpl-import-1787179210","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"0b16f7e9-6553-4967-adb4-595c8c4f0fd6","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"d45649b2-5be5-49b3-bee1-7d048bc2dbda","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T22:40:13.307504Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-maint-tmpl-import-1787179210","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T22:40:13.307504Z","name":"test-sp-maint-tmpl-import-1787179210","page_url":"https://frog.datadoghq.com/status-pages/0b16f7e9-6553-4967-adb4-595c8c4f0fd6/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 621.441625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/0b16f7e9-6553-4967-adb4-595c8c4f0fd6
        method: GET
      response:
        body: '{"data":{"id":"0b16f7e9-6553-4967-adb4-595c8c4f0fd6","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"d45649b2-5be5-49b3-bee1-7d048bc2dbda","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T22:40:13.307504Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-maint-tmpl-import-1787179210","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T22:40:13.307504Z","name":"test-sp-maint-tmpl-import-1787179210","page_url":"https://frog.datadoghq.com/status-pages/0b16f7e9-6553-4967-adb4-595c8c4f0fd6/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 76.53975ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"completed_description":"Maintenance is complete.","component_ids":["d45649b2-5be5-49b3-bee1-7d048bc2dbda"],"in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","name":"test-sp-maint-tmpl-import-1787179210","scheduled_description":"Maintenance is scheduled."},"type":"maintenance_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/0b16f7e9-6553-4967-adb4-595c8c4f0fd6/maintenance_templates
        method: POST
      response:
        body: '{"data":{"id":"d1060f02-e063-4db8-a82d-20a305b59292","type":"maintenance_templates","attributes":{"completed_description":"Maintenance is complete.","component_ids":["d45649b2-5be5-49b3-bee1-7d048bc2dbda"],"created_at":"2026-08-19T22:40:16.114156Z","in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","modified_at":"2026-08-19T22:40:16.114156Z","name":"test-sp-maint-tmpl-import-1787179210","scheduled_description":"Maintenance is scheduled."},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"0b16f7e9-6553-4967-adb4-595c8c4f0fd6","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 90.550209ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/0b16f7e9-6553-4967-adb4-595c8c4f0fd6/maintenance_templates/d1060f02-e063-4db8-a82d-20a305b59292
        method: GET
      response:
        body: '{"data":{"id":"d1060f02-e063-4db8-a82d-20a305b59292","type":"maintenance_templates","attributes":{"completed_description":"Maintenance is complete.","component_ids":["d45649b2-5be5-49b3-bee1-7d048bc2dbda"],"created_at":"2026-08-19T22:40:16.114156Z","in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","modified_at":"2026-08-19T22:40:16.114156Z","name":"test-sp-maint-tmpl-import-1787179210","scheduled_description":"Maintenance is scheduled."},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"0b16f7e9-6553-4967-adb4-595c8c4f0fd6","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 63.827625ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/0b16f7e9-6553-4967-adb4-595c8c4f0fd6/maintenance_templates/d1060f02-e063-4db8-a82d-20a305b59292
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 51.157708ms
