---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2BarChart_import-local-1775577167","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"scalar"}],"title":"Avg of system.cpu.user","type":"bar_chart"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"tha-zfq-zci","title":"tf-TestAccDatadogDashboardV2BarChart_import-local-1775577167","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/tha-zfq-zci/tf-testaccdatadogdashboardv2barchartimport-local-1775577167","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"scalar"}],"title":"Avg of system.cpu.user","type":"bar_chart"},"id":2695401925230766}],"notify_list":[],"created_at":"2026-04-07T15:52:49.839583+00:00","modified_at":"2026-04-07T15:52:49.839583+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 310.778958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/tha-zfq-zci
        method: GET
      response:
            - chunked
        body: '{"id":"tha-zfq-zci","title":"tf-TestAccDatadogDashboardV2BarChart_import-local-1775577167","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/tha-zfq-zci/tf-testaccdatadogdashboardv2barchartimport-local-1775577167","template_variables":[],"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"scalar"}],"title":"Avg of system.cpu.user","type":"bar_chart"},"id":2695401925230766}],"notify_list":[],"created_at":"2026-04-07T15:52:49.839583+00:00","modified_at":"2026-04-07T15:52:49.839583+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.51ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/tha-zfq-zci
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"tha-zfq-zci"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 517.475083ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/tha-zfq-zci
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID tha-zfq-zci not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 88.796166ms
