version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1682003495","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"ywp-myz-w43","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1682003495","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/ywp-myz-w43/tf-testaccdatadogdashboardrbaccreateopen-local-1682003495","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":2457230541713592}],"notify_list":[],"created_at":"2023-04-20T15:11:37.019090+00:00","modified_at":"2023-04-20T15:11:37.019090+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/ywp-myz-w43
    method: GET
    id: 1
  response:
    body: |
      {"id":"ywp-myz-w43","title":"tf-TestAccDatadogDashboardRbac_createOpen-local-1682003495","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/ywp-myz-w43/tf-testaccdatadogdashboardrbaccreateopen-local-1682003495","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":2457230541713592}],"notify_list":[],"created_at":"2023-04-20T15:11:37.019090+00:00","modified_at":"2023-04-20T15:11:37.019090+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/ywp-myz-w43
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"ywp-myz-w43"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
