---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardServiceMap-local-1634573105","widgets":[{"definition":{"custom_links":[{"label":"Test Custom Link label","link":"https://app.datadoghq.com/dashboard/lists"},{"is_hidden":true,"link":"https://app.datadoghq.com/dashboard/lists","override_label":"logs"}],"filters":["env:prod","datacenter:dc1"],"service":"master-db","title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","title_size":"16","type":"servicemap"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"cuy-7u6-v6j","title":"tf-TestAccDatadogDashboardServiceMap-local-1634573105","url":"/dashboard/cuy-7u6-v6j/tf-testaccdatadogdashboardservicemap-local-1634573105","created_at":"2021-10-18T16:05:17.711200+00:00","modified_at":"2021-10-18T16:05:17.711200+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"custom_links":[{"link":"https://app.datadoghq.com/dashboard/lists","label":"Test Custom Link label"},{"override_label":"logs","is_hidden":true,"link":"https://app.datadoghq.com/dashboard/lists"}],"title_size":"16","service":"master-db","title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","filters":["env:prod","datacenter:dc1"],"type":"servicemap"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":6932431786793115}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/cuy-7u6-v6j
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"cuy-7u6-v6j","title":"tf-TestAccDatadogDashboardServiceMap-local-1634573105","url":"/dashboard/cuy-7u6-v6j/tf-testaccdatadogdashboardservicemap-local-1634573105","created_at":"2021-10-18T16:05:17.711200+00:00","modified_at":"2021-10-18T16:05:17.711200+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"custom_links":[{"link":"https://app.datadoghq.com/dashboard/lists","label":"Test Custom Link label"},{"override_label":"logs","is_hidden":true,"link":"https://app.datadoghq.com/dashboard/lists"}],"title_size":"16","service":"master-db","title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","filters":["env:prod","datacenter:dc1"],"type":"servicemap"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":6932431786793115}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/cuy-7u6-v6j
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"cuy-7u6-v6j"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/cuy-7u6-v6j
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID cuy-7u6-v6j not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
