---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-sp-degrade-tmpl-import-1787173178","name":"test-sp-degrade-tmpl-import-1787173178","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"4df6a371-93d0-4161-b94c-6abdb2550015","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"df7e6a3d-a843-4997-ab7a-8386c34bb467","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:59:41.290656Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-import-1787173178","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:59:41.290656Z","name":"test-sp-degrade-tmpl-import-1787173178","page_url":"https://frog.datadoghq.com/status-pages/4df6a371-93d0-4161-b94c-6abdb2550015/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.297328792s
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components_affected":[{"id":"df7e6a3d-a843-4997-ab7a-8386c34bb467","status":"degraded"}],"degradation_title":"API degradation","name":"test-sp-degrade-tmpl-import-1787173178","updates":[{"message":"We are investigating the issue.","status":"investigating"}]},"type":"degradation_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/4df6a371-93d0-4161-b94c-6abdb2550015/degradation_templates
        method: POST
      response:
        body: '{"data":{"id":"e840542b-745b-47fd-92f3-0ffd9aa23e93","type":"degradation_templates","attributes":{"components_affected":[{"id":"df7e6a3d-a843-4997-ab7a-8386c34bb467","status":"degraded"}],"created_at":"2026-08-19T20:59:42.540679Z","degradation_title":"API degradation","modified_at":"2026-08-19T20:59:42.540679Z","name":"test-sp-degrade-tmpl-import-1787173178","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"4df6a371-93d0-4161-b94c-6abdb2550015","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 71.7665ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/4df6a371-93d0-4161-b94c-6abdb2550015
        method: GET
      response:
        body: '{"data":{"id":"4df6a371-93d0-4161-b94c-6abdb2550015","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"df7e6a3d-a843-4997-ab7a-8386c34bb467","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:59:41.290656Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-import-1787173178","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:59:41.290656Z","name":"test-sp-degrade-tmpl-import-1787173178","page_url":"https://frog.datadoghq.com/status-pages/4df6a371-93d0-4161-b94c-6abdb2550015/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 54.750458ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/4df6a371-93d0-4161-b94c-6abdb2550015/degradation_templates/e840542b-745b-47fd-92f3-0ffd9aa23e93
        method: GET
      response:
        body: '{"data":{"id":"e840542b-745b-47fd-92f3-0ffd9aa23e93","type":"degradation_templates","attributes":{"components_affected":[{"id":"df7e6a3d-a843-4997-ab7a-8386c34bb467","status":"degraded"}],"created_at":"2026-08-19T20:59:42.540679Z","degradation_title":"API degradation","modified_at":"2026-08-19T20:59:42.540679Z","name":"test-sp-degrade-tmpl-import-1787173178","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"4df6a371-93d0-4161-b94c-6abdb2550015","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 62.971417ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/4df6a371-93d0-4161-b94c-6abdb2550015/degradation_templates/e840542b-745b-47fd-92f3-0ffd9aa23e93
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 31.788459ms
