---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_updated-local-1613469419@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"5034217f-703d-11eb-9351-da7ad0900002","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1613469419@example.com","created_at":"2021-02-16T09:57:00.582872+00:00","email":"tf-testaccdatadoguser_updated-local-1613469419@example.com","icon":"https://secure.gravatar.com/avatar/bc66701d87a0e47dfb566dca17c34f2c?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      X-Dd-Version:
      - "35.3913923"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"5034217f-703d-11eb-9351-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"50738ea4-703d-11eb-9351-da7ad0900002","attributes":{"uuid":"50738ea4-703d-11eb-9351-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2021-02-16T09:57:00.999426+00:00","expires_at":"2021-02-18T09:57:00.933106+00:00"},"relationships":{"user":{"data":{"type":"users","id":"5034217f-703d-11eb-9351-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.3913923"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/5034217f-703d-11eb-9351-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"5034217f-703d-11eb-9351-da7ad0900002","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_updated-local-1613469419@example.com","created_at":"2021-02-16T09:57:00.582872+00:00","email":"tf-testaccdatadoguser_updated-local-1613469419@example.com","icon":"https://secure.gravatar.com/avatar/bc66701d87a0e47dfb566dca17c34f2c?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.3913923"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DisableUser
    url: https://api.datadoghq.com/api/v2/users/5034217f-703d-11eb-9351-da7ad0900002
    method: DELETE
  response:
    body: '{"errors": ["5034217f-703d-11eb-9351-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.3913923"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
