---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-status-page-import-1787172823","name":"test-status-page-import-1787172823","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"dcf874a4-0fa9-485d-8c1c-a62c33edd542","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"fdcbbe61-1ec6-4ebe-b965-6fe2b886305f","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:53:47.413772Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-status-page-import-1787172823","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:53:47.413772Z","name":"test-status-page-import-1787172823","page_url":"https://frog.datadoghq.com/status-pages/dcf874a4-0fa9-485d-8c1c-a62c33edd542/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 821.664042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/dcf874a4-0fa9-485d-8c1c-a62c33edd542
        method: GET
      response:
        body: '{"data":{"id":"dcf874a4-0fa9-485d-8c1c-a62c33edd542","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"fdcbbe61-1ec6-4ebe-b965-6fe2b886305f","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:53:47.413772Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-status-page-import-1787172823","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:53:47.413772Z","name":"test-status-page-import-1787172823","page_url":"https://frog.datadoghq.com/status-pages/dcf874a4-0fa9-485d-8c1c-a62c33edd542/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 50.72775ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/dcf874a4-0fa9-485d-8c1c-a62c33edd542
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 49.811625ms
