---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"end_month":202501,"entries":[{"amount":1000,"month":202501,"tag_filters":[{"tag_key":"team","tag_value":"backend"},{"tag_key":"account","tag_value":"staging"},{"tag_key":"region","tag_value":"us-east-1"}]}],"metrics_query":"sum:aws.cost.amortized{*} by {team,account,region}","name":"test-too-many-tags","start_month":202501},"type":"budget"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cost/budget/validate
        method: POST
      response:
        body: '{"data":{"id":"budget_validation","type":"budget_validation","attributes":{"errors":["tags must have 0, 1 or 2 elements"],"valid":false}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 103.596417ms
[...]
