---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"ref-table-rule","query":null,"reference_table":{"case_insensitivity":true,"field_pairs":[{"input_column":"service_name","output_key":"service"},{"input_column":"team_name","output_key":"team"}],"if_not_exists":false,"source_keys":["service"],"table_name":"service_mapping"}}]},"id":"tf-test-ref-table-ruleset-tf-TestAccDatadogTagPipelineRuleset_ReferenceTableRule-local-1759254156","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"d5cae6cb-7502-4480-a143-74d9ab66ec5c","type":"ruleset","attributes":{"created":{"seconds":1759254158,"nanos":227821000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759254158,"nanos":227821000},"name":"tf-test-ref-table-ruleset-tf-TestAccDatadogTagPipelineRuleset_ReferenceTableRule-local-1759254156","position":7,"rules":[{"name":"ref-table-rule","enabled":true,"query":null,"mapping":null,"reference_table":{"table_name":"service_mapping","source_keys":["service"],"field_pairs":[{"input_column":"service_name","output_key":"service"},{"input_column":"team_name","output_key":"team"}],"case_insensitivity":true,"if_not_exists":false},"metadata":null}],"version":3608135}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 256.221292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/d5cae6cb-7502-4480-a143-74d9ab66ec5c
        method: GET
      response:
        body: '{"data":{"id":"d5cae6cb-7502-4480-a143-74d9ab66ec5c","type":"ruleset","attributes":{"created":{"seconds":1759254158,"nanos":227821000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759254158,"nanos":227821000},"name":"tf-test-ref-table-ruleset-tf-TestAccDatadogTagPipelineRuleset_ReferenceTableRule-local-1759254156","position":7,"processing_status":"error","rules":[{"name":"ref-table-rule","enabled":true,"query":null,"mapping":null,"reference_table":{"table_name":"service_mapping","source_keys":["service"],"field_pairs":[{"input_column":"service_name","output_key":"service"},{"input_column":"team_name","output_key":"team"}],"case_insensitivity":true,"if_not_exists":false},"metadata":null}],"version":3608135}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 111.876916ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/d5cae6cb-7502-4480-a143-74d9ab66ec5c
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset d5cae6cb-7502-4480-a143-74d9ab66ec5c not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 35.064708ms
