---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"an agent rule","enabled":true,"expression":"exec.file.name == \"java\"","name":"tf_TestAccDatadogCloudWorkloadSecurityAgentRule_local_1758619289"},"type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"ais-aj1-cu0","attributes":{"version":1,"name":"tf_TestAccDatadogCloudWorkloadSecurityAgentRule_local_1758619289","description":"an agent rule","expression":"exec.file.name == \"java\"","category":"Process Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","creationDate":1758619290437,"updateAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","updateDate":1758619290437,"filters":["os == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"frog","handle":"frog@datadoghq.com"},"updater":{"name":"frog","handle":"frog@datadoghq.com"}},"type":"agent_rule"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 317.468208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/ais-aj1-cu0
        method: GET
      response:
        body: '{"data":{"id":"ais-aj1-cu0","type":"agent_rule","attributes":{"actions":[],"agentConstraint":"","category":"Process Activity","creationAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","creationDate":1758619290437,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"an agent rule","enabled":true,"expression":"exec.file.name == \"java\"","filters":["os == \"linux\""],"name":"tf_TestAccDatadogCloudWorkloadSecurityAgentRule_local_1758619289","updateAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","updateDate":1758619290437,"updater":{"name":"frog","handle":"frog@datadoghq.com"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 186.940041ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/ais-aj1-cu0
        method: GET
      response:
        body: '{"errors":["not_found(Agent rule not found: agentRuleId=ais-aj1-cu0)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 156.937542ms
