---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a fido global variable","is_fido":true,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_UPDATED_LOCAL_1741269872","tags":["fido:bar","fido"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"1c8b451a-e8e8-4f91-8aad-08b002849831","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_UPDATED_LOCAL_1741269872","description":"a fido global variable","type":"variable","tags":["fido:bar","fido"],"last_error":null,"is_fido":true,"value":{"secure":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 445.19525ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/1c8b451a-e8e8-4f91-8aad-08b002849831
        method: GET
      response:
            - chunked
        body: |
            {"id":"1c8b451a-e8e8-4f91-8aad-08b002849831","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_UPDATED_LOCAL_1741269872","description":"a fido global variable","type":"variable","tags":["fido:bar","fido"],"created_at":"2025-03-06T14:04:36.792286+00:00","modified_at":"2025-03-06T14:04:36.792286+00:00","last_error":null,"is_fido":true,"value":{"secure":true},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.07ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/1c8b451a-e8e8-4f91-8aad-08b002849831
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 182.690459ms
