---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Read+Only+Role
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":3491}},"data":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210","attributes":{"name":"Datadog Read Only Role","created_at":"2019-08-13T19:50:19.111007+00:00","modified_at":"2019-08-13T19:50:19.111007+00:00","user_count":2},"relationships":{"permissions":{"data":[{"type":"permissions","id":"5e605652-dd12-11e8-9e53-375565b8970e"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"1af86ce4-7823-11ea-93dc-d7cad1b1c6cb"},{"type":"permissions","id":"b382b982-8535-11ea-93de-2bf1bdf20798"},{"type":"permissions","id":"7314eb20-aa58-11ea-95e2-6fb6e4a451d5"},{"type":"permissions","id":"80de1ec0-aa58-11ea-95e2-aff381626d5d"},{"type":"permissions","id":"5025ee24-f923-11ea-adbc-576ea241df8d"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"43fa188e-2dce-11eb-84c0-835ad1fd6287"},{"type":"permissions","id":"4916eebe-2dce-11eb-84c0-271cb2c672e8"},{"type":"permissions","id":"98b984f4-b16d-11eb-a2c6-da7ad0900002"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"7605ef25-f376-11eb-b90b-da7ad0900002"}]}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Standard+Role
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":3491}},"data":[{"type":"roles","id":"94172443-be03-11e9-a77a-373332f69711","attributes":{"name":"Datadog Standard Role","created_at":"2019-08-13T19:50:19.075284+00:00","modified_at":"2019-08-13T19:50:19.075284+00:00","user_count":14},"relationships":{"permissions":{"data":[{"ty[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles?filter=Datadog+Admin+Role
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":3491}},"data":[{"type":"roles","id":"94172442-be03-11e9-a77a-3b7612558ac1","attributes":{"name":"Datadog Admin Role","created_at":"2019-08-13T19:50:19.022791+00:00","modified_at":"2019-08-13T19:50:19.022791+00:00","user_count":12},"relationships":{"permissions":{"data":[{"type":"p[...]
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_reenableroleupdate-local-1631644184@example.com","name":"Test User"},"relationships":{"roles":{"data":[{"id":"94172443-be03-11e9-a77a-373332f69711","type":"roles"},{"id":"94172444-be03-11e9-a77a-db1879185210","type":"roles"}]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"included":[{"type":"permissions","id":"61765026-2dce-11eb-84c0-833e230d1b8f","attributes":{"name":"apm_primary_operation_write","display_name":"Primary Operation","description":"The ability to edit the operation name value selection. A user with this permission can modify the operation name list in the APM settings page and can modify the operation name controller on the service page.","created":"2020-11-23T20:56:38.658649+00:00","group_name":"APM","display_type":"write","restricted":false}},{"type":"permissions","id":"642eebe6-f923-11ea-adbc-eb617674ea04","attributes":{"name":"synthetics_default_settings_write","display_name":"Default Settings","description":"The ability to edit default settings for Synthetics Monitoring.","created":"2020-09-17T20:21:38.818771+00:00","group_name":"Synthetic Monitoring","display_type":"write","restricted":false}},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard Access"[...]
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"bdbf5938-1589-11ec-84f3-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"be4b7198-1589-11ec-84f3-da7ad0900002","attributes":{"uuid":"be4b7198-1589-11ec-84f3-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2021-09-14T18:29:48.895193+00:00","expires_at":"2021-09-16T18:29:48.608086+00:00"},"relationships":{"user":{"data":{"type":"users","id":"bdbf5938-1589-11ec-84f3-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/bdbf5938-1589-11ec-84f3-da7ad0900002
    method: GET
  response:
    body: '{"included":[{"type":"permissions","id":"61765026-2dce-11eb-84c0-833e230d1b8f","attributes":{"name":"apm_primary_operation_write","display_name":"Primary Operation","description":"The ability to edit the operation name value selection. A user with this permission can modify the operation name list in the APM settings page an[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguser_reenableroleupdate-local-1631644184%40example.com&filter%5Bstatus%5D=Disabled
    method: GET
  response:
    body: '{"included":[{"type":"permissions","id":"61765026-2dce-11eb-84c0-833e230d1b8f","attributes":{"name":"apm_primary_operation_write","display_name":"Primary Operation","description":"The ability to edit the operation name value selection. A user with this per[...]
[...]
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_reenableroleupdate-local-1631644184@example.com","name":"Test User"},"relationships":{"roles":{"data":[{"id":"94172443-be03-11e9-a77a-373332f69711","type":"roles"},{"id":"94172442-be03-11e9-a77a-3b7612558ac1","type":"roles"}]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"errors": ["User tf-testaccdatadoguser_reenableroleupdate-local-1631644184@example.com already exists"]}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=tf-testaccdatadoguser_reenableroleupdate-local-1631644184%40example.com
    method: GET
  response:
    body: '{"included":[{"type":"permissions","id":"61765026-2dce-11eb-84c0-833e230d1b8f","attributes":{"name":"apm_primary_operation_write","display_name":"Primary Operation","description":"The ability to edit the operation name value selection. A user with this permission can modify the opera[...]
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"email":"tf-testaccdatadoguser_reenableroleupdate-local-1631644184@example.com","name":"Test User"},"id":"bdbf5938-1589-11ec-84f3-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/users/bdbf5938-1589-11ec-84f3-da7ad0900002
    method: PATCH
  response:
    body: '{"included":[{"type":"permissions","id":"61765026-2dce-11eb-84c0-833e230d1b8f","attributes":{"name":"apm_primary_operation_write","displ[...]
- request:
    body: |
      {"data":{"id":"bdbf5938-1589-11ec-84f3-da7ad0900002","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/roles/94172444-be03-11e9-a77a-db1879185210/users
    method: DELETE
  response:
    body: '{"meta":{"page":{"total_count":1115}},"data":[{"type":"users","id":"20b7c816-8e29-11ea-93e1-23588a2aa2c0","attributes":{"name":"Dhruv Sahni","handle":"dhruv.sahni@datadoghq.com","created_at":"2020-05-04T17:03:08.192667+00:00","modified_at":"2020-05-04T17:08:11.151988+00:00","email":"dhruv.sahni@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9de7191a807a492a126b0943aa239292?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[{"type":"roles","id":"94172444-be03-11e9-a77a-db1879185210"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}},{"type":"users","id":"6810856e-f07e-11eb-b824-da7ad0900002","attributes":{"name":"Test-Go-TestCreateUser-1627571126","handle":"test-go-testcreateuser-1627571126@integration-tests-accnt-for-sdk-ci.com","created_at":"2021-07-29T15:05:26.736544+00:00","modified_at":"2021-07-29T15:05:27.843149+00:00","email":"test-go-testcreateuser-1627571126@integration-tests-accnt-for-sdk-ci.com","icon":"https://secure.gravatar.com/avatar/261db[...]
[...]
