---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2HeatmapHistogram-local-1784746453","widgets":[{"definition":{"requests":[{"query":{"data_source":"metrics","name":"query1","query":"histogram:trace.servlet.request{*}"},"request_type":"histogram","style":{"palette":"dog_classic"}}],"show_legend":true,"title":"Request duration distribution","type":"heatmap","xaxis":{"num_buckets":60}}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"jrw-5i6-jjv","title":"tf-TestAccDatadogDashboardV2HeatmapHistogram-local-1784746453","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/jrw-5i6-jjv/tf-testaccdatadogdashboardv2heatmaphistogram-local-1784746453","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"metrics","name":"query1","query":"histogram:trace.servlet.request{*}"},"request_type":"histogram","style":{"palette":"dog_classic"}}],"show_legend":true,"title":"Request duration distribution","type":"heatmap","xaxis":{"num_buckets":60}},"id":4017095687856368}],"notify_list":[],"created_at":"2026-07-22T18:54:16.826194+00:00","modified_at":"2026-07-22T18:54:16.826194+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 408.960375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/jrw-5i6-jjv
        method: GET
      response:
            - chunked
        body: '{"id":"jrw-5i6-jjv","title":"tf-TestAccDatadogDashboardV2HeatmapHistogram-local-1784746453","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/jrw-5i6-jjv/tf-testaccdatadogdashboardv2heatmaphistogram-local-1784746453","template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"data_source":"metrics","name":"query1","query":"histogram:trace.servlet.request{*}"},"request_type":"histogram","style":{"palette":"dog_classic"}}],"show_legend":true,"title":"Request duration distribution","type":"heatmap","xaxis":{"num_buckets":60}},"id":4017095687856368}],"notify_list":[],"created_at":"2026-07-22T18:54:16.826194+00:00","modified_at":"2026-07-22T18:54:16.826194+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 201.912917ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/jrw-5i6-jjv
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"jrw-5i6-jjv"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 592.693666ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/jrw-5i6-jjv
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID jrw-5i6-jjv not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 691.13325ms
