---
version: 1
interactions:
- request:
    body: '{"services":[{"service_name":"tf_TestAccDatadogIntegrationPagerduty_TwoServices_local_1609425807","service_key":"*****"},{"service_name":"tf_TestAccDatadogIntegrationPagerduty_TwoServices_local_1609425807_2","service_key":"*****"}],"subdomain":"testdomain","schedules":["https://ddog.pagerduty.com/schedules/X123VF"],"api_token":"secret"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
      X-Dd-Debug:
      - GVd3H6+s0wOEEQNbWfOlfSTR2GEFs46b/AVWKmAErR/5auOQpwMvzy3i6o9DNymz
      X-Dd-Version:
      - "35.3622023"
    status: 204 No Content
    code: 204
    duration: ""
[...]
