---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourcematchid-local-1758619404@example.com","name":"tf-TestAccServiceAccountDatasource-1bc04b2b21977d53","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"f64de64e-985e-11f0-b686-b6e754432c4e","attributes":{"name":"tf-TestAccServiceAccountDatasource-1bc04b2b21977d53","handle":"f64de64e-985e-11f0-b686-b6e754432c4e","created_at":"2025-09-23T09:23:27.513380+00:00","modified_at":"2025-09-23T09:23:27.513380+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchid-local-1758619404@example.com","icon":"https://secure.gravatar.com/avatar/095eec933e0f656950a978040062c4d8?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 250.528834ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/f64de64e-985e-11f0-b686-b6e754432c4e
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"f64de64e-985e-11f0-b686-b6e754432c4e","attributes":{"name":"tf-TestAccServiceAccountDatasource-1bc04b2b21977d53","handle":"f64de64e-985e-11f0-b686-b6e754432c4e","created_at":"2025-09-23T09:23:27.513380+00:00","modified_at":"2025-09-23T09:23:27.513380+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchid-local-1758619404@example.com","icon":"https://secure.gravatar.com/avatar/095eec933e0f656950a978040062c4d8?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","mfa_enabled":false},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.872833ms
[...]
