---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogApiKeyDatasource_matchName-local-1627995153 1"},"type":"api_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAPIKey
    url: https://api.datadoghq.com/api/v2/api_keys
    method: POST
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-08-03T12:52:35.014452+00:00","key":"6591fa09a1d69beef3f99eb8e3265071","last4":"5071","modified_at":"2021-08-03T12:52:35.014452+00:00","name":"tf-TestAccDatadogApiKeyDatasource_matchName-local-1627995153 1"},"relationships":{"created_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}},"modified_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}}},"id":"cc0bb414-aae6-58c5-9bab-e1e21a6766a4"}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAPIKeys
    url: https://api.datadoghq.com/api/v2/api_keys?filter=tf-TestAccDatadogApiKeyDatasource_matchName-local-1627995153+1
    method: GET
  response:
    body: '{"meta":{"max_allowed":50,"page":{"total_filtered_count":1}},"data":[{"type":"api_keys","attributes":{"created_at":"2021-08-03T12:52:35.014452+00:00","last4":"5071","modified_at":"2021-08-03T12:52:35.014452+00:00","name":"tf-TestAccDatadogApiKeyDatasource_matchName-local-1627995153 1"},"relationships":{"created_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}},"modified_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}}},"id":"cc0bb414-aae6-58c5-9bab-e1e21a6766a4"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPIKey
    url: https://api.datadoghq.com/api/v2/api_keys/cc0bb414-aae6-58c5-9bab-e1e21a6766a4
    method: GET
  response:
    body: '{"data":{"type":"api_keys","attributes":{"created_at":"2021-08-03T12:52:35.014452+00:00","key":"6591fa09a1d69beef3f99eb8e3265071","last4":"5071","modified_at":"2021-08-03T12:52:35.014452+00:00","name":"tf-TestAccDatadogApiKeyDatasource_matchName-local-1627995153 1"},"relationships":{"created_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}},"modified_by":{"data":{"type":"users","id":"c99138fe-558a-11eb-8cf2-37ba6acf8928"}}},"id":"cc0bb414-aae6-58c5-9bab-e1e21a6766a4"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetAPIKey
    url: https://api.datadoghq.com/api/v2/api_keys/cc0bb414-aae6-58c5-9bab-e1e21a6766a4
    method: GET
  response:
    body: '{"errors": ["API key not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
