---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"cases":[{"condition":"step_b \u003e 0","name":"","notifications":[],"status":"info"}],"hasExtendedTitle":false,"isEnabled":false,"message":"sequence detection rule triggered","name":"tf-TestAccDatadogSecurityMonitoringRule_SequenceDetection-local-1758311733","options":{"decreaseCriticalityBasedOnEnv":false,"detectionMethod":"sequence_detection","evaluationWindow":0,"keepAlive":300,"maxSignalDuration":600,"sequenceDetectionOptions":{"stepTransitions":[{"child":"step_b","evaluationWindow":900,"parent":"step_a"}],"steps":[{"condition":"a \u003e 0","evaluationWindow":60,"name":"step_a"},{"condition":"b \u003e 0","evaluationWindow":60,"name":"step_b"}]}},"queries":[{"aggregation":"count","dataSource":"logs","distinctFields":[],"groupByFields":["host"],"hasOptionalGroupByFields":false,"metric":"","metrics":[],"name":"a","query":"service:logs-rule-reducer source:sequence-detection-a"},{"aggregation":"count","dataSource":"logs","distinctFields":[],"groupByFields":["host"],"hasOptionalGroupByFields":false,"metric":"","metrics":[],"name":"b","query":"service:logs-rule-reducer source:sequence-detection-b"}],"tags":["u:tomato","i:tomato"],"type":"log_detection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/rules/validation
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 100.437416ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"cases":[{"condition":"step_b \u003e 0","name":"","notifications":[],"status":"info"}],"hasExtendedTitle":false,"isEnabled":false,"message":"sequence detection rule triggered","name":"tf-TestAccDatadogSecurityMonitoringRule_SequenceDetection-local-1758311733","options":{"decreaseCriticalityBasedOnEnv":false,"detectionMethod":"sequence_detection","evaluationWindow":0,"keepAlive":300,"maxSignalDuration":600,"se[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/rules/udf-gjm-inl
        method: GET
      response:
        body: '{"name":"tf-TestAccDatadogSecurityMonitoringRule_SequenceDetection-local-1758311733","createdAt":1758311735258,"isDefault":false,"isPartner":false,"isEnabled":false,"isBeta":false,"isDeleted":false,"isDeprecated":false,"queries":[{"query":"service:logs-rule-reducer source:sequence-detection-a","groupByFields":["host"],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"a","dataSource":"logs"},{"query":"service:logs-rule-reducer source:sequence-detection-b","groupByFields":["host"],"hasOptionalGroupByFields":false,"distinctFields":[],"aggregation":"count","name":"b","dataSource":"logs"}],"options":{"evaluationWindow":0,"detectionMethod":"sequence_detection","maxSignalDuration":600,"keepAlive":300,"sequenceDetectionOptions":{"steps":[{"name":"step_a","condition":"a \u003e 0","evaluationWindow":60},{"name":"step_b","condition":"b \u003e 0","evaluationWindow":60}],"stepTransitions":[{"parent":"step_a","child":"step_b","evaluationWindow":900}]},"decreaseCriticalityBasedOnEnv":false},"cases":[{"name":"","status":"info","notifications":[],"condition":"step_b \u003e 0"}],"message":"sequence detection rule triggered","tags":["u:tomato","i:tomato"],"hasExtendedTitle":false,"type":"log_detection","filters":[],"version":1,"id":"udf-gjm-inl","blocking":false,"metadata":{"entities":null,"sources":null},"creationAuthorId":1445416,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"updater":{"handle":"","name":""}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.041083ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"calculatedFields":[],"cases":[{"condition":"step_b \u003e 0","name":"info case","notifications":[],"status":"info"}],"filters":[],"hasExtendedTitle":false,"isEnabled":false,"message":"sequence detection rule triggered (updated)","name":"tf-TestAccDatadogSecurityMonitoringRule_SequenceDetection-local-1758311733","options":{"decreaseCriticalityBasedOnEnv":false,"detectionMethod":"sequence_detection","evaluationWindow":0,"keepAlive":300,"maxSignalDuration":600,"sequenceDetectionOptions":{"stepTransitions":[{"child":"step_b","evaluationWindow":1800,"parent":"step_a"}],"steps":[{"condition":"a \u003e 0","evaluationWindow":300,"name":"step_a"},{"condition":"b \u003e 0","evaluationWindow":300,"name":"step_b"}]}},"queries":[{"aggregation":"count","dataSource":"logs","distinctFields":[],"groupByFields":["host"],"hasOptionalGroupByFields":false,"metric":"","metrics":[],"name":"a","query":"service:logs-rule-reducer source:sequence-detection-a"},{"aggregation":"count","dataSource":"logs","distinctFields":[],"groupByFields":["host"],"hasOptionalGroupByFields":false,"metric":"","metrics":[],"name":"b","query":"service:logs-rule-reducer source:sequence-detection-b"}],"schedulingOptions":null,"tags":["u:tomato","i:tomato"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/rules/udf-gjm-inl
        method: PUT
      response:
        body: '{"name":"tf-TestAccDatadogSecurityMonitoringRule_SequenceDetection-local-1758311733","isEnabled":false,"queries":[{"query":"service:logs-rule-reducer source:sequence-detection-a","groupByFields":["host"],"hasOptionalGroupByFields":fa[...]
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/rules/udf-gjm-inl
        method: GET
      response:
        body: '{"error":{"code":"NotFound","message":"Threat detection rule not found: udf-gjm-inl"}}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.498709ms
