---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"restriction_query":"service:test-tf-TestAccDatadogLogsRestrictionQuery_Update-local-1765384910"},"type":"logs_restriction_queries"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"logs_restriction_queries","id":"21ab4d40-d5e7-11f0-9d7d-da7ad0900002","attributes":{"restriction_query":"service:test-tf-TestAccDatadogLogsRestrictionQuery_Update-local-1765384910","created_at":"2025-12-10T16:41:52.751087+00:00","modified_at":"2025-12-10T16:41:52.751087+00:00"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 408.877334ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/21ab4d40-d5e7-11f0-9d7d-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"logs_restriction_queries","id":"21ab4d40-d5e7-11f0-9d7d-da7ad0900002","attributes":{"restriction_query":"service:test-tf-TestAccDatadogLogsRestrictionQuery_Update-local-1765384910","created_at":"2025-12-10T16:41:52.751087+00:00","modified_at":"2025-12-10T16:41:52.751087+00:00"},"relationships":{"roles":{"data":[]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 171.641833ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-test-role-tf-TestAccDatadogLogsRestrictionQuery_Update-local-1765384910"},"relationships":{},"type":"roles"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles
        method: POST
      response:
        body: '{"data":{"id":"22dd675c-d5e7-11f0-9d8e-da7ad0900002","type":"roles","attributes":{"created_at":"2025-12-10T16:41:54.757821Z","modified_at":"2025-12-10T16:41:54.757983Z","name":"tf-test-role-tf-TestAccDatadogLogsRestrictionQuery_Update-local-1765384910","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 69.925667ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles/22dd675c-d5e7-11f0-9d8e-da7ad0900002
        method: GET
      response:
        body: '{"data":{"id":"22dd675c-d5e7-11f0-9d8e-da7ad0900002","type":"roles","attributes":{"created_at":"2025-12-10T16:41:54.757821Z","created_by_handle":"frog@datadoghq.com","modified_at":"2025-12-10T16:41:54.757983Z","modified_by_handle":"frog@datadoghq.com","name":"tf-test-role-tf-TestAccDatadogLogsRestrictionQuery_Update-local-1765384910","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 114.645292ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"22dd675c-d5e7-11f0-9d8e-da7ad0900002","type":"roles"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/21ab4d40-d5e7-11f0-9d7d-da7ad0900002/roles
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 107.032041ms
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/21ab4d40-d5e7-11f0-9d7d-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"logs_restriction_queries","id":"21ab4d40-d5e7-11f0-9d7d-da7ad0900002","attributes":{"restriction_query":"service:updated-tf-TestAccDatadogLogsRestrictionQuery_Update-local-1765384910","created_at":"2025-12-10T16:41:52.751087+00:00","modified_at":"2025-12-10T16:41:54.994674+00:00"},"relationships":{"roles":{"data":[{"type":"roles","id":"22dd675c-d5e7-11f0-9d8e-da7ad0900002"}]}}},"included":[{"type":"roles","id":"22dd675c-d5e7-11f0-9d8e-da7ad0900002","attributes":{"name":"tf-test-role-tf-TestAccDatadogLogsRestrictionQuery_Update-local-1765384910"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.339042ms
[...]
    - id: 18
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"22dd675c-d5e7-11f0-9d8e-da7ad0900002","type":"roles"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/21ab4d40-d5e7-11f0-9d7d-da7ad0900002/roles
        method: DELETE
      response:
            - chunked
        body: '{"errors":["role with uuid: 22dd675c-d5e7-11f0-9d8e-da7ad0900002 doesn''t exist or uuid is not proper type"]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 78.678ms
[...]
