---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 124.69375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"second-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:second"},"reference_table":null}]},"id":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Import-local-1759540497","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"b655b883-a14c-4c8d-8598-626fa13bb2a4","type":"ruleset","attributes":{"created":{"seconds":1759540497,"nanos":764646000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759540497,"nanos":764646000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Import-local-1759540497","position":1,"rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3609552}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 58.30125ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[{"id":"b655b883-a14c-4c8d-8598-626fa13bb2a4","type":"ruleset","attributes":{"created":{"seconds":1759540497,"nanos":764646000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759540497,"nanos":764646000},"name":"tf-test-order-second-tf-TestAccDatadogTagPipelineRulesets_Import-local-1759540497","position":1,"processing_status":"error","rules":[{"name":"second-rule","enabled":true,"query":{"query":"service:second","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3609552}},{"id":"864555cf-e090-40d8-a3b7-d0ade7f629d4","type":"ruleset","attributes":{"created":{"seconds":1759540497,"nanos":775544000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759540497,"nanos[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"864555cf-e090-40d8-a3b7-d0ade7f629d4","type":"ruleset"},{"id":"b655b883-a14c-4c8d-8598-626fa13bb2a4","type":"ruleset"},{"id":"b6737adc-3dbd-4d1a-8d4e-671db5d17b82","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 45.929083ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/864555cf-e090-40d8-a3b7-d0ade7f629d4
        method: GET
      response:
        body: '{"data":{"id":"864555cf-e090-40d8-a3b7-d0ade7f629d4","type":"ruleset","attributes":{"created":{"seconds":1759540497,"nanos":775544000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759540497,"nanos":775544000},"name":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesets_Import-local-1759540497","position":1,"processing_status":"error","rules":[{"name":"first-rule","enabled":true,"query":{"query":"service:first","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3609553}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 97.344833ms
[...]
