---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["parse-grok-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"parse-grok-group-1","include":"*","inputs":["source-1"],"processors":[{"disable_library_rules":true,"enabled":true,"id":"parse-grok-1","include":"*","rules":[{"match_rules":[{"name":"match_user","rule":"%{word:user.name}"},{"name":"match_action","rule":"%{word:action}"}],"source":"message","support_rules":[{"name":"word","rule":"\\w+"},{"name":"custom_word","rule":"[a-zA-Z]+"}]}],"type":"parse_grok"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"parse-grok-test"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"d05a8604-dcfd-11f0-b894-da7ad0900002","type":"pipelines","attributes":{"name":"parse-grok-test","config":{"destinations":[{"id":"destination-1","inputs":["parse-grok-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"parse-grok-group-1","include":"*","inputs":["source-1"],"processors":[{"disable_library_rules":true,"enabled":true,"id":"parse-grok-1","include":"*","rules":[{"match_rules":[{"name":"match_user","rule":"%{word:user.name}"},{"name":"match_action","rule":"%{word:action}"}],"source":"message","support_rules":[{"name":"word","rule":"\\w+"},{"name":"custom_word","rule":"[a-zA-Z]+"}]}],"type":"parse_grok"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 441.700375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/d05a8604-dcfd-11f0-b894-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"d05a8604-dcfd-11f0-b894-da7ad0900002","type":"pipelines","attributes":{"name":"parse-grok-test","config":{"destinations":[{"id":"destination-1","inputs":["parse-grok-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"parse-grok-group-1","include":"*","inputs":["source-1"],"processors":[{"disable_library_rules":true,"enabled":true,"id":"parse-grok-1","include":"*","rules":[{"match_rules":[{"name":"match_user","rule":"%{word:user.name}"},{"name":"match_action","rule":"%{word:action}"}],"source":"message","support_rules":[{"name":"word","rule":"\\w+"},{"name":"custom_word","rule":"[a-zA-Z]+"}]}],"type":"parse_grok"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 251.282584ms
[...]
