---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
        body: |
            {"data":{"id":"U_mLZBHaRhqh2vv2Q6wm3A","attributes":{"name":"my group","is_enabled":true,"filter":{"query":"*"},"product_list":["logs"],"description":""},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"75c8c98216e17608c0b526e962c5e08cb526316a4a3aa5acd87f6f5018ab41f0","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":699}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.18225ms
    - id: 1
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1704984171","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"U_mLZBHaRhqh2vv2Q6wm3A","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
        body: |
            {"data":{"id":"gHJfMhtOQBSH66Vep9CTpA","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1704984171","namespaces":[],"excluded_namespaces":["username"],"pattern":"regex","text_replacement":{"type":"none"},"tags":["sensitive_data:true"],"is_enabled":true,"description":"a description"},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"U_mLZBHaRhqh2vv2Q6wm3A","type":"sensitive_data_scanner_group"}}}},"meta":{"version":700}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 235.370084ms
    - id: 2
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
        body: |
            {"data":{"id":"75c8c98216e17608c0b526e962c5e08cb526316a4a3aa5acd87f6f5018ab41f0","attributes":{},"type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"YPQGGU13RBGLfEm9WDdWxw","type":"sensitive_data_scanner_group"},{"id":"IUfNAJiPRgCM5c6y15hDAQ","type":"sensitive_data_scanner_group"},{"id":"U_mLZBHaRhqh2vv2Q6wm3A","type":"sensitive_data_scanner_group"}]}}},"meta":{"version":700,"count_limit":100,"group_count_limit":20,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true},"included":[{"id":"YPQGGU13RBGLfEm9WDdWxw","attributes":{"name":"dfd","is_enabled":false,"filter":{"query":"*"},"product_list":["logs"]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"75c8c98216e17608c0b526e962c5e08cb526316a4a3aa5acd87f6f5018ab41f0","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[{"id":"F7ISTbJkTGa5STKPWUiRvg","type":"sensitive_data_scanner_rule"},{"id":"m0nvkaMwS1uV7fW9lNr0dw","type":"sensitive_data_scanner_rule"}]}}},{"id":"F7ISTbJkTGa5STKPWUiRvg","attributes":{"name":"AWS Access Key ID Scanner","namespaces":[],"excluded_namespaces":[],"text_replacement":{"type":"none"},"tags":["sensitive_data_category:credentials","sensitive_data:aws_access_key_id"],"is_enabled":true},"type":"sensitive_data_scanner_rule","relationships":{"standard_pattern":{"data":{"id":"OfGqX8R9TRqAcorxenl2fQ","type":"sensitive_data_scanner_standard_pattern"}},"group":{"data":{"id":"YPQGGU13RBGLfEm9WDdWxw","type":"sensitive_data_scanner_group"}}}},{"id":"m0nvkaMwS1uV7fW9lNr0dw","attributes":{"name":"IPv6 Address Scanner","namespaces":[],"excluded_namespaces":[],"text_replacement":{"type":"none"},"tags":["sensitive_data_category:ip_address","sensitive_data:ipv6_address"],"is_enabled":true},"type":"sensitive_data_scanner_rule","relationships":{"standard_pattern":{"[...]
[...]
    - id: 7
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my group","product_list":["logs"]},"id":"U_mLZBHaRhqh2vv2Q6wm3A","type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/groups/U_mLZBHaRhqh2vv2Q6wm3A
        method: PATCH
      response:
        body: |
            {"meta":{"version":701}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.74475ms
    - id: 8
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1704984171","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"id":"gHJfMhtOQBSH66Vep9CTpA","type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/rules/gHJfMhtOQBSH66Vep9CTpA
        method: PATCH
      response:
        body: |
            {"meta":{"version":702}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 270.871625ms
[...]
    - id: 24
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1704984171","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"id":"qIjEKEnKSSOpVJD1O9vAOw","type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/rules/qIjEKEnKSSOpVJD1O9vAOw
        method: PATCH
      response:
        body: |
            {"meta":{"version":706}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 169.278167ms
[...]
    - id: 31
      request:
        host: api.datad0g.com
        body: |
            {"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/sensitive-data-scanner/config/groups/MBukMl0wRBmZUP_Bi7grLg
        method: DELETE
      response:
        body: |
            {"meta":{"version":709}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.731667ms
[...]
