---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"forward_tags":true,"forward_tags_restriction_list_type":"ALLOW_LIST","forwarder_destination":{"auth":{"password":"test-pass","type":"basic","username":"test-user"},"endpoint":"https://example.org","type":"http"},"name":"tf-TestAccDatadogLogsCustomDestination_basic-local-1750835740","query":""},"type":"custom_destination"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"f3f1e379-e0a6-45ae-9e65-b901983a4a17","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_basic-local-1750835740","query":"","enabled":true,"forwarder_destination":{"endpoint":"https://example.org","auth":{"type":"basic"},"type":"http"},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":[],"forward_tags":true},"type":"custom_destination"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 484.9745ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/custom-destinations/f3f1e379-e0a6-45ae-9e65-b901983a4a17
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"f3f1e379-e0a6-45ae-9e65-b901983a4a17","attributes":{"name":"tf-TestAccDatadogLogsCustomDestination_basic-local-1750835740","query":"","enabled":true,"forwarder_destination":{"endpoint":"https://example.org","auth":{"type":"basic"},"type":"http"},"forward_tags_restriction_list_type":"ALLOW_LIST","forward_tags_restriction_list":[],"forward_tags":true},"type":"custom_destination"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.885ms
[...]
