---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a global variable","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_UPDATED_LOCAL_1714765087","tags":["foo:bar","baz"],"value":{"secure":false,"value":"variable-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"50978499-b087-4346-b93b-52cda29c9961","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_UPDATED_LOCAL_1714765087","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"last_error":null,"value":{"secure":false,"value":"variable-value"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 168.47075ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/50978499-b087-4346-b93b-52cda29c9961
        method: GET
      response:
            - chunked
        body: |
            {"id":"50978499-b087-4346-b93b-52cda29c9961","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_UPDATED_LOCAL_1714765087","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2024-05-03T19:38:08.577649+00:00","modified_at":"2024-05-03T19:38:08.577649+00:00","parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 239.642ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/50978499-b087-4346-b93b-52cda29c9961
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 99.139709ms
