---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"encoding":"json","id":"kafka-dest-1","inputs":["source-1"],"topic":"logs-topic","type":"kafka"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"kafka-destination-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"032947ae-f20d-11f0-9e02-da7ad0900002","type":"pipelines","attributes":{"name":"kafka-destination-pipeline","config":{"destinations":[{"encoding":"json","id":"kafka-dest-1","inputs":["source-1"],"topic":"logs-topic","type":"kafka"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 565.126542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/032947ae-f20d-11f0-9e02-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"032947ae-f20d-11f0-9e02-da7ad0900002","type":"pipelines","attributes":{"name":"kafka-destination-pipeline","config":{"destinations":[{"encoding":"json","id":"kafka-dest-1","inputs":["source-1"],"topic":"logs-topic","type":"kafka"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 236.228375ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"compression":"gzip","encoding":"json","headers_key":"headers","id":"kafka-dest-1","inputs":["source-1"],"key_field":"message_key","librdkafka_options":[{"name":"client.id","value":"observability-pipeline"},{"name":"queue.buffering.max.messages","value":"15"}],"message_timeout_ms":30000,"rate_limit_duration_secs":1,"rate_limit_num":1000,"sasl":{"mechanism":"PLAIN"},"socket_timeout_ms":60000,"tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/client.crt","key_file":"/etc/ssl/private/client.key"},"topic":"logs-topic","type":"kafka"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"kafka-destination-pipeline"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/032947ae-f20d-11f0-9e02-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"032947ae-f20d-11f0-9e02-da7ad0900002","type":"pipelines","attributes":{"name":"kafka-destination-pipeline","config":{"destinations":[{"compression":"gzip","encoding":"json","headers_key":"headers","id":"kafka-dest-1","inputs":["source-1"],"key_field":"message_key","librdkafka_options":[{"name":"client.id","value":"observability-pipeline"},{"name":"queue.buffering.max.messages","value":"15"}],"message_timeout_ms":30000,"rate_limit_duration_secs":1,"rate_limit_num":1000,"sasl":{"mechanism":"PLAIN"},"socket_timeout_ms":60000,"tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/client.crt","key_file":"/etc/ssl/private/client.key"},"topic":"logs-topic","type":"kafka"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 474.344167ms
[...]
