---
version: 2
interactions:
    - id: 0
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
        body: |
            {"data":{"type":"gcp_sts_delegate","attributes":{"delegate_account_email":"ddgci-1145fac3f772a31fb964@datadog-cloud-ints-staging.iam.gserviceaccount.com"},"id":"ddgci-1145fac3f772a31fb964@datadog-cloud-ints-staging.iam.gserviceaccount.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.504375ms
    - id: 1
      request:
        host: dd.datad0g.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":true,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1717617620@test-project.iam.gserviceaccount.com","host_filters":[],"is_cspm_enabled":false,"is_security_command_center_enabled":false,"resource_collection_enabled":true},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v2/integration/gcp/accounts
        method: POST
      response:
        body: |
            {"data":{"type":"gcp_service_account","id":"6c54dc37-68da-4b34-a0b3-ce6ffa51dc90","attributes":{"is_cspm_enabled":false,"cloud_run_revision_filters":[],"resource_collection_enabled":true,"account_tags":[],"automute":true,"host_filters":[],"is_security_command_center_enabled":false,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1717617620@test-project.iam.gserviceaccount.com"}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 1.72443125s
    - id: 2
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://dd.datad0g.com/api/v2/integration/gcp/accounts
        method: GET
      response:
        body: |
            {"data":[{"type":"gcp_service_account","id":"bec95f56-48ad-480f-86cf-6cee4ee52300","attributes":{"resource_collection_enabled":true,"automute":false,"is_security_command_center_enabled":false,"account_tags":[],"cloud_run_revision_filters":[],"is_cspm_enabled":true,"client_email":"ashraf-hanafy-sabbirs-test-org@datadog-gcp-ints-test-b.iam.gserviceaccount.com","host_filters":[]},"meta":{"accessible_projects":["datadog-gcp-ints-test-b"]}},{"type":"gcp_service_account","id":"6c54dc37-68da-4b34-a0b3-ce6ffa51dc90","attributes":{"resource_collection_enabled":true,"automute":true,"is_security_command_center_enabled":false,"account_tags":[],"cloud_run_revision_filters":[],"is_cspm_enabled":false,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1717617620@test-project.iam.gserviceaccount.com","host_filters":[]},"meta":{"accessible_projects":[]}},{"type":"gcp_service_account","id":"07400dc4-5b2f-41e5-8e22-cd817c2ae1c7","attributes":{"resource_collection_enabled":false,"automute":false,"is_security_command_center_enabled":false,"account_tags":[],"cloud_run_revision_filters":[],"is_cspm_enabled":false,"client_email":"mitch-getting-around-sanbox-qu@datadog-gcp-ints-test-b.iam.gserviceaccount.com","host_filters":[]},"meta":{"accessible_projects":["datadog-gcp-ints-test-b","datadog-sandbox"]}},{"type":"gcp_service_account","id":"d1b67891-8b63-499a-a211-81b1bd6b1ae3","attributes":{"resource_collection_enabled":false,"automute":false,"is_security_command_center_enabled":false,"account_tags":[],"cloud_run_revision_filters":[],"is_cspm_enabled":false,"client_email":"nina-synethetics@datadog-gcp-ints-test-b.iam.gserviceaccount.com","host_filters":[]},"meta":{"accessible_projects":["datadog-gcp-ints-test-a","datadog-gcp-ints-test-b"]}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 176.89775ms
[...]
    - id: 4
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://dd.datad0g.com/api/v2/integration/gcp/accounts/6c54dc37-68da-4b34-a0b3-ce6ffa51dc90
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 96.724042ms
