---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-sp-degrade-tmpl-basic-1787173178","name":"test-sp-degrade-tmpl-basic-1787173178","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"dbefbb9d-7538-442e-b1a4-7834679f8d8c","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"9028af77-3076-4289-9c97-470be76bd147","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:59:41.26712Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-basic-1787173178","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:59:41.26712Z","name":"test-sp-degrade-tmpl-basic-1787173178","page_url":"https://frog.datadoghq.com/status-pages/dbefbb9d-7538-442e-b1a4-7834679f8d8c/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 543.958791ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components_affected":[{"id":"9028af77-3076-4289-9c97-470be76bd147","status":"degraded"}],"degradation_title":"API degradation","name":"test-sp-degrade-tmpl-basic-1787173178","updates":[{"message":"We are investigating the issue.","status":"investigating"}]},"type":"degradation_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/dbefbb9d-7538-442e-b1a4-7834679f8d8c/degradation_templates
        method: POST
      response:
        body: '{"data":{"id":"0a404e43-5271-40d8-b626-961764bceab9","type":"degradation_templates","attributes":{"components_affected":[{"id":"9028af77-3076-4289-9c97-470be76bd147","status":"degraded"}],"created_at":"2026-08-19T20:59:41.819375Z","degradation_title":"API degradation","modified_at":"2026-08-19T20:59:41.819375Z","name":"test-sp-degrade-tmpl-basic-1787173178","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"dbefbb9d-7538-442e-b1a4-7834679f8d8c","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 74.762042ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/dbefbb9d-7538-442e-b1a4-7834679f8d8c/degradation_templates/0a404e43-5271-40d8-b626-961764bceab9
        method: GET
      response:
        body: '{"data":{"id":"0a404e43-5271-40d8-b626-961764bceab9","type":"degradation_templates","attributes":{"components_affected":[{"id":"9028af77-3076-4289-9c97-470be76bd147","status":"degraded"}],"created_at":"2026-08-19T20:59:41.819375Z","degradation_title":"API degradation","modified_at":"2026-08-19T20:59:41.819375Z","name":"test-sp-degrade-tmpl-basic-1787173178","updates":[{"status":"investigating","message":"We are investigating the issue."}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"dbefbb9d-7538-442e-b1a4-7834679f8d8c","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 59.024667ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/dbefbb9d-7538-442e-b1a4-7834679f8d8c
        method: GET
      response:
        body: '{"data":{"id":"dbefbb9d-7538-442e-b1a4-7834679f8d8c","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"9028af77-3076-4289-9c97-470be76bd147","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T20:59:41.26712Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-degrade-tmpl-basic-1787173178","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T20:59:41.26712Z","name":"test-sp-degrade-tmpl-basic-1787173178","page_url":"https://frog.datadoghq.com/status-pages/dbefbb9d-7538-442e-b1a4-7834679f8d8c/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 54.47725ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/dbefbb9d-7538-442e-b1a4-7834679f8d8c/degradation_templates/0a404e43-5271-40d8-b626-961764bceab9
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 36.061042ms
