---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"Add Team Tag","query":{"addition":{"key":"team","value":"backend"},"case_insensitivity":true,"if_tag_exists":"do_not_apply","query":"service:web-api"},"reference_table":null}]},"id":"tf-TestAccDatadogTagPipelineRulesetDataSource_Basic-local-1770244764","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"3b5519bd-235b-4a54-bab6-7b7a1e529635","type":"ruleset","attributes":{"created":{"seconds":1770244767,"nanos":20158000},"enabled":true,"last_modified_user_uuid":"8aa9beab-3c2a-11ef-8a8f-56d598d478b5","modified":{"seconds":1770244767,"nanos":20158000},"name":"tf-TestAccDatadogTagPipelineRulesetDataSource_Basic-local-1770244764","position":20,"rules":[{"name":"Add Team Tag","enabled":true,"query":{"query":"service:web-api","addition":{"key":"team","value":"backend"},"if_not_exists":true,"case_insensitivity":true,"if_tag_exists":"do_not_apply"},"mapping":null,"reference_table":null,"metadata":null}],"version":3657252}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 119.663708ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/3b5519bd-235b-4a54-bab6-7b7a1e529635
        method: GET
      response:
        body: '{"data":{"id":"3b5519bd-235b-4a54-bab6-7b7a1e529635","type":"ruleset","attributes":{"created":{"seconds":1770244767,"nanos":20158000},"enabled":true,"last_modified_user_uuid":"8aa9beab-3c2a-11ef-8a8f-56d598d478b5","modified":{"seconds":1770244767,"nanos":20158000},"name":"tf-TestAccDatadogTagPipelineRulesetDataSource_Basic-local-1770244764","position":20,"rules":[{"name":"Add Team Tag","enabled":true,"query":{"query":"service:web-api","addition":{"key":"team","value":"backend"},"if_not_exists":true,"case_insensitivity":true,"if_tag_exists":"do_not_apply"},"mapping":null,"reference_table":null,"metadata":null}],"version":3657252}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 46.908875ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/3b5519bd-235b-4a54-bab6-7b7a1e529635
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset 3b5519bd-235b-4a54-bab6-7b7a1e529635 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 46.348708ms
[...]
