---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test schema evolution","file_metadata":{"access_details":{"aws_detail":{"aws_account_id":"924305315327","aws_bucket_name":"dd-reference-tables-dev-staging","file_path":"test.csv"}},"sync_enabled":true},"schema":{"fields":[{"name":"a","type":"STRING"},{"name":"b","type":"STRING"}],"primary_keys":["a"]},"source":"S3","table_name":"tf_test_evolution_tf_testaccreferencetable_schemaevolution_local_1763581875","tags":["test:terraform"]},"type":"reference_table"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/reference-tables/tables
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 743.912291ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/reference-tables/tables
        method: GET
      response:
        body: '{"data":[{"id":"fd02fef8-d92e-4de5-8e8b-f06ae5e845b4","type":"reference_table","attributes":{"created_by":"51bca672-7464-11ea-ad29-6762102f9f58","description":"Test schema evolution","file_metadata":{"error_row_count":0,"error_message":"","sync_enabled":true,"access_details":{"aws_detail":{"aws_account_id":"924305315327","aws_bucket_name":"dd-reference-tables-dev-staging","file_path":"test.csv"}}},"last_updated_by":"51bca672-7464-11ea-ad29-6762102f9f58","row_count":0,"schema":{"primary_keys":["a"],"fields":[{"name":"a","type":"STRING"},{"name":"b","type":"STRING"}]},"source":"S3","status":"INITIALIZED","table_name":"tf_test_evolution_tf_testaccreferencetable_schemaevolution_local_1763581875","tags":["test:terraform"],"updated_at":"2025-11-19T19:51:16Z"}},{"id":"d8980e1b-26bc-4ad1-adaa-d972323e1b82","type":"reference_table","attributes":{"created_by":"14f15184-666c-11eb-9595-da7ad0900001","description":"","last_updated_by":"","row_count":0,"schema":{"primary_keys":["org_id"],"fields":[{"name":"org_id","type":"STRING"},{"name":"org_name","type":"STRING"},{"name":"account_health_status","type":"STRING"},{"name":"account_owner_territory","type":"STRING"},{"name":"is_msp","type":"STRING"},{"name":"owner_sales_department","typ[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/reference-tables/tables/fd02fef8-d92e-4de5-8e8b-f06ae5e845b4
        method: GET
      response:
        body: '{"data":{"id":"fd02fef8-d92e-4de5-8e8b-f06ae5e845b4","type":"reference_table","attributes":{"created_by":"51bca672-7464-11ea-ad29-6762102f9f58","description":"Test schema evolution","file_metadata":{"error_row_count":0,"error_message":"","sync_enabled":true,"access_details":{"aws_detail":{"aws_account_id":"924305315327","aws_bucket_name":"dd-reference-tables-dev-staging","file_path":"test.csv"}}},"last_updated_by":"51bca672-7464-11ea-ad29-6762102f9f58","row_count":0,"schema":{"primary_keys":["a"],"fields":[{"name":"a","type":"STRING"},{"name":"b","type":"STRING"}]},"source":"S3","status":"INITIALIZED","table_name":"tf_test_evolution_tf_testaccreferencetable_schemaevolution_local_1763581875","tags":["test:terraform"],"updated_at":"2025-11-19T19:51:16Z"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 44.628917ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test schema evolution","file_metadata":{"access_details":{"aws_detail":{"aws_account_id":"924305315327","aws_bucket_name":"dd-reference-tables-dev-staging","file_path":"test.csv"}},"sync_enabled":true},"schema":{"fields":[{"name":"a","type":"STRING"},{"name":"b","type":"STRING"},{"name":"c","type":"STRING"}],"primary_keys":["a"]},"tags":["test:terraform"]},"type":"reference_table"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/reference-tables/tables/fd02fef8-d92e-4de5-8e8b-f06ae5e845b4
        method: PATCH
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"schema updates require either upload_id (for local files) or access_details (for cloud files)"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 36.62625ms
[...]
