---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/standard-patterns
    method: GET
  response:
    body: |
      {"data":[{"id":"OfGqX8R9TRqAcorxenl2fQ","attributes":{"name":"AWS Access Key ID Scanner","pattern":"(AKIA|A3T|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[0-9A-Z]{16}","tags":["sensitive_data_category:credentials","sensitive_data:aws_access_key_id"]},"type":"sensitive_data_scanner_standard_pattern"},{"id":"iZeqWOvYThWJ7DWMwIQoRg","attributes":{"name":"AWS Secret Access Key Scanner","pattern":"(aws|AWS|amazon).{0,19}\\b[A-Za-z0-9/+]{40}\\b","tags":["sensitive_data_category:credentials","sensitive_data:aws_secret_access_key"]},"type":"sensitive_data_scanner_standard_pattern"},{"id":"6wYyy0j-RyCz9fpI1cwf_w","attributes":{"name":"Dynatrace Token Scanner","pattern":"dt0[a-zA-Z]{1}[0-9]{2}\\.[A-Z0-9]{24}\\.[A-Z0-9]{64}","tags":["sensitive_data_category:c[...]
[...]
- request:
    body: |
      {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"]},"type":"sensitive_data_scanner_group"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
    method: POST
  response:
    body: |
      {"data":{"id":"vxjDV0u9QBCJGVUJxa-mhw","attributes":{"name":"my group","is_enabled":true,"filter":{"query":"*"},"product_list":["logs"],"description":""},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":23409}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleWithStandardPattern-local-1677514730","namespaces":[],"tags":[],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"relationships":{"group":{"data":{"id":"vxjDV0u9QBCJGVUJxa-mhw","type":"sensitive_data_scanner_group"}},"standard_pattern":{"data":{"id":"OfGqX8R9TRqAcorxenl2fQ","type":"sensitive_data_scanner_standard_pattern"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
    method: POST
  response:
    body: |
      {"data":{"id":"YcJ9n7jJSI-2IMklMc-tUg","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleWithStandardPattern-local-1677514730","namespaces":[],"excluded_namespaces":["username"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"},"tags":[],"is_enabled":true,"description":"a description"},"type":"sensitive_data_scanner_rule","relationships":{"standard_pattern":{"data":{"id":"OfGqX8R9TRqAcorxenl2fQ","type":"sensitive_data_scanner_standard_pattern"}},"group":{"data":{"id":"vxjDV0u9QBCJGVUJxa-mhw","type":"sensitive_data_scanner_group"}}}},"meta":{"version":23410}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
    method: GET
  response:
    body: |
      {"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","attributes":{},"type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"FRGOAgK0QQexGtcNB4tFEA","type":"sensitive_data_scanner_group"},{"id":"AlBWHVPvSuWffOTr10RyTQ","type":"sensitive_data_scanner_group"},{"id":"VlMk-S9_Q920mKv7rorGtQ","type":"sensitive_data_scanner_group"},{"id":"0rHOKGvjQOyi6wESOdCmYw","type":"sensitive_data_scanner_group"},{"id":"YBa1RrNPRleAXU8c-P1SDg","type":"sensitive_data_scanner_group"},{"id":"vxjDV0u9QBCJGVUJxa-mhw","type":"sensitive_data_scanner_group"}]}}},"meta":{"version":23410,"count_limit":100,"group_count_limit":20,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true},"included":[{"id":"FRGOAgK0QQexGtcNB4tFEA","attributes":{"name":"Example-Update_Scanning_Group_returns_OK_response_1675112048","is_enabled":false,"filter":{"query":"*"},"product_list":["logs"]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},{"id":"AlBWHVPvSuWffOTr10RyTQ","attributes":{"name":"Example-Update_Scanning_Group_returns_OK_r[...]
[...]
- request:
    body: |
      {"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/YcJ9n7jJSI-2IMklMc-tUg
    method: DELETE
  response:
    body: |
      {"meta":{"version":23411}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/vxjDV0u9QBCJGVUJxa-mhw
    method: DELETE
  response:
    body: |
      {"meta":{"version":23412}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
