---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardV2FunnelGroupedDisplay-local-1784742692","widgets":[{"definition":{"grouped_display":"side_by_side","requests":[{"query":{"data_source":"rum","query_string":"@browser.name:Chrome","steps":[{"facet":"@view.name","value":"/home"},{"facet":"@view.name","value":"/checkout"}]},"request_type":"funnel"}],"title":"Browser funnel","type":"funnel"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"43w-my2-wc9","title":"tf-TestAccDatadogDashboardV2FunnelGroupedDisplay-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/43w-my2-wc9/tf-testaccdatadogdashboardv2funnelgroupeddisplay-local-1784742692","template_variables":[],"widgets":[{"definition":{"grouped_display":"side_by_side","requests":[{"query":{"data_source":"rum","query_string":"@browser.name:Chrome","steps":[{"facet":"@view.name","value":"/home"},{"facet":"@view.name","value":"/checkout"}]},"request_type":"funnel"}],"title":"Browser funnel","type":"funnel"},"id":852311337758981}],"notify_list":[],"created_at":"2026-07-22T17:51:36.560097+00:00","modified_at":"2026-07-22T17:51:36.560097+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 567.561541ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/43w-my2-wc9
        method: GET
      response:
            - chunked
        body: '{"id":"43w-my2-wc9","title":"tf-TestAccDatadogDashboardV2FunnelGroupedDisplay-local-1784742692","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/43w-my2-wc9/tf-testaccdatadogdashboardv2funnelgroupeddisplay-local-1784742692","template_variables":[],"widgets":[{"definition":{"grouped_display":"side_by_side","requests":[{"query":{"data_source":"rum","query_string":"@browser.name:Chrome","steps":[{"facet":"@view.name","value":"/home"},{"facet":"@view.name","value":"/checkout"}]},"request_type":"funnel"}],"title":"Browser funnel","type":"funnel"},"id":852311337758981}],"notify_list":[],"created_at":"2026-07-22T17:51:36.560097+00:00","modified_at":"2026-07-22T17:51:36.560097+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.783916ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/43w-my2-wc9
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"43w-my2-wc9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 800.06ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/43w-my2-wc9
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID 43w-my2-wc9 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 129.540708ms
