---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"test description","handle":"handle-25727","icon_url":"test url","name":"new-framework-terraform","requirements":[{"controls":[{"name":"control1","rules_id":["def-000-be9"]}],"name":"requirement1"},{"controls":[{"name":"control2","rules_id":["def-000-cea"]}],"name":"requirement2"},{"controls":[{"name":"control3","rules_id":["def-000-be9","def-000-cea"]}],"name":"requirement3"}],"version":"version-35668"},"type":"custom_framework"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
        method: POST
      response:
        body: '{"data":{"id":"handle-25727-version-35668","type":"custom_framework","attributes":{"handle":"handle-25727","version":"version-35668"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 388.449292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/handle-25727/version-35668
        method: GET
      response:
        body: '{"data":{"id":"handle-25727-version-35668","type":"custom_framework","attributes":{"created_at":1745530261258,"created_by":"frog@datadoghq.com","description":"test description","handle":"handle-25727","icon_url":"test url","modified_at":1745530261258,"name":"new-framework-terraform","org_id":321813,"requirements":[{"name":"requirement1","controls":[{"name":"control1","rules_id":["def-000-be9"]}]},{"name":"requirement2","controls":[{"name":"control2","rules_id":["def-000-cea"]}]},{"name":"requirement3","controls":[{"name":"control3","rules_id":["def-000-be9","def-000-cea"]}]}],"version":"version-35668"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 390.4165ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/handle-25727/version-35668
        method: GET
      response:
        body: '{"errors":[{"status":"400","title":"Bad Request"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 55.792917ms
