---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/fdb76419-eff5-4344-867a-4b72bad613cb/retention_filters
        method: GET
      response:
        body: '{"data":[{"id":"default_replays","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"Sessions with replays","query":"@session.has_replay:true","sample_rate":100},"meta":{"source":"default"}},{"id":"default_sessions","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"Sessions","query":"","sample_rate":100},"meta":{"source":"default"}},{"id":"default_errors","type":"retention_filters","attributes":{"enabled":true,"event_type":"error","name":"Sessions with errors","query":"","sample_rate":100},"meta":{"source":"default"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 137.827166ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"default_replays","type":"retention_filters"},{"id":"default_sessions","type":"retention_filters"},{"id":"default_errors","type":"retention_filters"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications/fdb76419-eff5-4344-867a-4b72bad613cb/relationships/retention_filters
        method: PATCH
      response:
        body: '{"data":[{"id":"default_replays","type":"retention_filters"},{"id":"default_sessions","type":"retention_filters"},{"id":"default_errors","type":"retention_filters"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 54.066833ms
[...]
