---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"account_id":"991001015454","account_specific_namespace_rules":{},"cspm_resource_collection_enabled":false,"excluded_regions":[],"extended_resource_collection_enabled":false,"filter_tags":[],"host_tags":[],"metrics_collection_enabled":true,"resource_collection_enabled":false,"role_name":"testacc-datadog-integration-role"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: POST
      response:
            - chunked
        body: |
            {"external_id":"cb8e1fecad8e4636ba22f50c82a6c856"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.439694583s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: GET
      response:
            - chunked
        body: |
            {"accounts":[{"account_id":"000000000000","role_name":"asdfghjkl","filter_tags":[],"host_tags":[],"account_specific_namespace_rules":{},"excluded_regions":[],"metrics_collection_enabled":true,"errors":["Datadog is not authorized to perform action sts:AssumeRole\nAccount affected: 000000000000\nRegions affected: every region\nError was last seen 1m ago"],"cspm_resource_collection_enabled":false,"extended_resource_collection_enabled":true,"resource_collection_enabled":false},{"access_key_id":"AKIAIOSFODNN7EXAMPLE","filter_tags":["key:value"],"host_tags":["key:value"],"account_specific_namespace_rules":{"crawl_alarms":true,"collect_custom_metrics":true},"excluded_regions":[],"metrics_collection_enabled":true,"errors":["Datadog is not authorized to perform action cloudwatch:ListMetrics \nAccount affected: AKIAIOSFODNN7EXAMPLE\nRegions affected: every region \nError was last seen 7m ago"],"cspm_resource_collection_enabled":false,"extended_resource_collection_enabled":false,"resource_collection_enabled":false},{"access_key_id":"AKIA571015550985","filter_tags":[],"host_tags":["tag:tf-TestAccIntegrationAwsAccountKeyBased-local-1733431807"],"ac[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"destination":{"bucket":"my-bucket","encryption":{"type":"NO_OVERRIDE"},"integration":{"account_id":"991001015454","role_name":"testacc-datadog-integration-role"},"path":"/path/foo","type":"s3"},"include_tags":true,"name":"my first s3 archive","query":"service:tutu","rehydration_max_scan_size_in_gb":123,"rehydration_tags":["team:intake","team:app"]},"type":"archives"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/archives
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"jzPP9VIvTGGV8B8_M3b4IQ","attributes":{"name":"my first s3 archive","query":"service:tutu","state":"UNKNOWN","destination":{"bucket":"my-bucket","encryption":{"type":"NO_OVERRIDE"},"path":"/path/foo","type":"s3","integration":{"role_name":"testacc-datadog-integration-role","account_id":"991001015454"}},"rehydration_tags":["team:intake","team:app"],"include_tags":true,"rehydration_max_scan_size_in_gb":123}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.848417ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/archives/jzPP9VIvTGGV8B8_M3b4IQ
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"jzPP9VIvTGGV8B8_M3b4IQ","attributes":{"name":"my first s3 archive","query":"service:tutu","state":"UNKNOWN","destination":{"bucket":"my-bucket","encryption":{"type":"NO_OVERRIDE"},"path":"/path/foo","type":"s3","integration":{"role_name":"testacc-datadog-integration-role","account_id":"991001015454"}},"rehydration_tags":["team:intake","team:app"],"include_tags":true,"rehydration_max_scan_size_in_gb":123}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.07175ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"destination":{"bucket":"my-bucket","encryption":{"key":"arn:aws:kms:us-east-1:012345678901:key/DatadogIntegrationRoleKms","type":"SSE_KMS"},"integration":{"account_id":"991001015454","role_name":"testacc-datadog-integration-role"},"path":"/path/foo","type":"s3"},"include_tags":false,"name":"my first s3 archive after update","query":"service:tutu","rehydration_max_scan_size_in_gb":345,"rehydration_tags":[]},"type":"archives"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/archives/jzPP9VIvTGGV8B8_M3b4IQ
        method: PUT
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"jzPP9VIvTGGV8B8_M3b4IQ","attributes":{"name":"my first s3 archive after update","query":"service:tutu","state":"UNKNOWN","destination":{"bucket":"my-bucket","encryption":{"type":"SSE_KMS","key":"arn:aws:kms:us-east-1:012345678901:key/DatadogIntegrationRoleKms"},"path":"/path/foo","type":"s3","integration":{"role_name":"testacc-datadog-integration-role","account_id":"991001015454"}},"rehydration_tags":[],"include_tags":false,"rehydration_max_scan_size_in_gb":345}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 214.949791ms
[...]
