---
version: 1
interactions:
- request:
    body: |
      {"description":"","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1692737125","tags":[],"value":{"secure":false,"value":"bar"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: POST
  response:
    body: |
      {"id":"33e5d25a-935b-4d7e-8dce-9d908868773a","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1692737125","description":"","type":"variable","tags":[],"parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"last_error":null,"value":{"secure":false,"value":"bar"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/variables/33e5d25a-935b-4d7e-8dce-9d908868773a
    method: GET
  response:
    body: |
      {"id":"33e5d25a-935b-4d7e-8dce-9d908868773a","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1692737125","description":"","type":"variable","tags":[],"created_at":"2023-08-22T20:45:27.273363+00:00","modified_at":"2023-08-22T20:45:27.273363+00:00","parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"last_error":null,"value":{"secure":false,"value":"bar"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/variables
    method: GET
  response:
    body: |
      {"variables":[{"id":"0cf6aa14-0aeb-4e23-98af-2fadb53ac11f","name":"DD_TEST_SITE","description":"Site name","type":"variable","tags":[],"created_at":"2022-01-25T17:06:42.749440+00:00","modified_at":"2022-01-25T17:06:42.749440+00:00","parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"last_error":null,"value":{"secure":true},"creator":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":null}},{"id":"3310c3fd-3244-41e1-adbc-3de1fadca14e","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLESECURE_UPDATED_LOCAL_1692737125","description":"a secure global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2023-08-22T20:45:27.284317+00:00","modified_at":"2023-08-22T20:45:27.284317+00:00","parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"last_error":null,"value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":true},"creator":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":null}},{"id":"33e5d25a-935b-4d7e-8dce-9d908868773a","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1692737125","description":"","type":"variable","tags":[],"created_at":"2023-08-22T20:45:27.273363+00:00","modified_at":"2023-08-22T20:45:27.273363+00:00","parse_test_public_id":null,"parse_test_name":null,"parse_test_options":null,"parse_test_extracted_at":null,"is_totp":null,"is_fido":null,"la[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/variables/33e5d25a-935b-4d7e-8dce-9d908868773a
    method: GET
  response:
    body: '{"errors":["Synthetics global variable not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
