---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourcematchid-local-1686239254@example.com","name":"tf-TestAccServiceAccountDatasource-a44038edad646f09","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"ca1d0691-0613-11ee-b6ff-9ab632d532a7","attributes":{"name":"tf-TestAccServiceAccountDatasource-a44038edad646f09","handle":"ca1d0691-0613-11ee-b6ff-9ab632d532a7","created_at":"2023-06-08T15:47:36.012668+00:00","modified_at":"2023-06-08T15:47:36.019909+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchid-local-1686239254@example.com","icon":"https://secure.gravatar.com/avatar/89d470271966e03aec0f74a60a3f1734?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/ca1d0691-0613-11ee-b6ff-9ab632d532a7
    method: GET
  response:
    body: |
      {"data":{"type":"users","id":"ca1d0691-0613-11ee-b6ff-9ab632d532a7","attributes":{"name":"tf-TestAccServiceAccountDatasource-a44038edad646f09","handle":"ca1d0691-0613-11ee-b6ff-9ab632d532a7","created_at":"2023-06-08T15:47:36.012668+00:00","modified_at":"2023-06-08T15:47:36.019909+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchid-local-1686239254@example.com","icon":"https://secure.gravatar.com/avatar/89d470271966e03aec0f74a60a3f1734?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
