---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"_metadata":{"created_from":"terraform"},"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateWithRules-local-1766049881","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"2aaa3c5d-80d5-440a-8843-74c81dcc9b72","type":"deployment_gate","attributes":{"created_at":"2025-12-18T09:24:41.84685Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateWithRules-local-1766049881","service":"my-service","updated_at":"2025-12-18T09:24:41.84685Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 116.274709ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"_metadata":{"created_from":"terraform"},"attributes":{"dry_run":false,"name":"fdd_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/2aaa3c5d-80d5-440a-8843-74c81dcc9b72/rules
        method: POST
      response:
        body: '{"data":{"id":"5885bc99-9950-4415-8a15-5c8eb311ca1d","type":"deployment_rule","attributes":{"created_at":"2025-12-18T09:24:41.968747Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"2aaa3c5d-80d5-440a-8843-74c81dcc9b72","name":"fdd_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-18T09:24:41.968747Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 121.267541ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"_metadata":{"created_from":"terraform"},"attributes":{"dry_run":true,"name":"monitor_rule","options":{"duration":300,"query":"test_query"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/2aaa3c5d-80d5-440a-8843-74c81dcc9b72/rules
        method: POST
      response:
        body: '{"data":{"id":"2d8e451d-0506-4de8-a95c-41984cc00ecf","type":"deployment_rule","attributes":{"created_at":"2025-12-18T09:24:42.095761Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"gate_id":"2aaa3c5d-80d5-440a-8843-74c81dcc9b72","name":"monitor_rule","options":{"query":"test_query","duration":300},"type":"monitor","updated_at":"2025-12-18T09:24:42.095761Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 124.910042ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/2aaa3c5d-80d5-440a-8843-74c81dcc9b72
        method: GET
      response:
        body: '{"data":{"id":"2aaa3c5d-80d5-440a-8843-74c81dcc9b72","type":"deployment_gate","attributes":{"created_at":"2025-12-18T09:24:41.84685Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateWithRules-local-1766049881","service":"my-service","updated_at":"2025-12-18T09:24:41.84685Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 128.200209ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/2aaa3c5d-80d5-440a-8843-74c81dcc9b72/rules
        method: GET
      response:
        body: '{"data":{"id":"2aaa3c5d-80d5-440a-8843-74c81dcc9b72","type":"list_deployment_rules","attributes":{"rules":[{"id":"5885bc99-9950-4415-8a15-5c8eb311ca1d","name":"fdd_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-18T09:24:41.968747Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-18T09:24:41.968747Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"2aaa3c5d-80d5-440a-8843-74c81dcc9b72","options":{"duration":1300}},{"id":"2d8e451d-0506-4de8-a95c-41984cc00ecf","name":"monitor_rule","type":"monitor","dry_run":true,"created_at":"2025-12-18T09:24:42.095761Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-18T09:24:42.095761Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"2aaa3c5d-80d5-440a-8843-74c81dcc9b72","options":{"query":"test_query","duration":300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 143.786416ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/2aaa3c5d-80d5-440a-8843-74c81dcc9b72/rules/5885bc99-9950-4415-8a15-5c8eb311ca1d
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 119.383042ms
[...]
