---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleDryRun-local-1765558984","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"c03d7251-1b67-4359-99f4-586b0bae36a6","type":"deployment_gate","attributes":{"created_at":"2025-12-12T17:03:06.016967Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleDryRun-local-1765558984","service":"my-service","updated_at":"2025-12-12T17:03:06.016967Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 134.77425ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/c03d7251-1b67-4359-99f4-586b0bae36a6/rules
        method: POST
      response:
        body: '{"data":{"id":"1496ad55-271b-4bfb-b7e0-ce0bff779bc1","type":"deployment_rule","attributes":{"created_at":"2025-12-12T17:03:06.157985Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"c03d7251-1b67-4359-99f4-586b0bae36a6","name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-12T17:03:06.157985Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 138.242875ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/c03d7251-1b67-4359-99f4-586b0bae36a6
        method: GET
      response:
        body: '{"data":{"id":"c03d7251-1b67-4359-99f4-586b0bae36a6","type":"deployment_gate","attributes":{"created_at":"2025-12-12T17:03:06.016967Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateModifyRuleDryRun-local-1765558984","service":"my-service","updated_at":"2025-12-12T17:03:06.016967Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 153.001875ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/c03d7251-1b67-4359-99f4-586b0bae36a6/rules
        method: GET
      response:
        body: '{"data":{"id":"c03d7251-1b67-4359-99f4-586b0bae36a6","type":"list_deployment_rules","attributes":{"rules":[{"id":"1496ad55-271b-4bfb-b7e0-ce0bff779bc1","name":"test_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-12T17:03:06.157985Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-12T17:03:06.157985Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"c03d7251-1b67-4359-99f4-586b0bae36a6","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 157.81775ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":true,"name":"test_rule","options":{"duration":1300}},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/c03d7251-1b67-4359-99f4-586b0bae36a6/rules/1496ad55-271b-4bfb-b7e0-ce0bff779bc1
        method: PUT
      response:
        body: '{"data":{"id":"1496ad55-271b-4bfb-b7e0-ce0bff779bc1","type":"deployment_rule","attributes":{"created_at":"2025-12-12T17:03:06.157985Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"gate_id":"c03d7251-1b67-4359-99f4-586b0bae36a6","name":"test_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-12T17:03:08.12062Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 133.300875ms
[...]
