---
version: 2
interactions:
    - id: 0
      request:
        host: dd.datad0g.com
        body: |
            {"data":{"attributes":{"description":"Test S3 reference table","file_metadata":{"access_details":{"aws_detail":{"aws_account_id":"924305315327","aws_bucket_name":"dd-reference-tables-dev-staging","file_path":"test.csv"}},"sync_enabled":true},"schema":{"fields":[{"name":"a","type":"STRING"},{"name":"b","type":"STRING"},{"name":"c","type":"STRING"}],"primary_keys":["a"]},"source":"S3","table_name":"tf_test_s3_tf_testaccreferencetables3_basic_local_1762799964","tags":["test:terraform","env:test"]},"type":"reference_table"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v2/reference-tables/tables
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 482.205125ms
    - id: 1
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://dd.datad0g.com/api/v2/reference-tables/tables
        method: GET
      response:
        body: '{"data":[{"id":"989727d4-0582-48b3-98cb-8d7222d84f7d","type":"reference_table","attributes":{"created_by":"51bca672-7464-11ea-ad29-6762102f9f58","description":"Test S3 reference table","file_metadata":{"error_row_count":0,"error_message":"","sync_enabled":true,"access_details":{"aws_detail":{"aws_account_id":"924305315327","aws_bucket_name":"dd-reference-tables-dev-staging","file_path":"test.csv"}}},"last_updated_by":"51bca672-7464-11ea-ad29-6762102f9f58","row_count":0,"schema":{"primary_keys":["a"],"fields":[{"name":"a","type":"STRING"},{"name":"b","type":"STRING"},{"name":"c","type":"STRING"}]},"source":"S3","status":"INITIALIZED","table_name":"tf_test_s3_tf_testaccreferencetables3_basic_local_1762799964","tags":["test:terraform","env:test"],"updated_at":"2025-11-10T18:39:26Z"}},{"id":"9c2434c4-370b-4bef-96db-5ad072227516","type":"reference_table","attributes":{"created_by":"d8673343-30d4-11f0-b7c9-22644aa72e77","description":"","last_updated_by":"d8673343-30d4-11f0-b7c9-22644aa72e77","row_count":1,"schema":{"primary_keys":["int32_col"],"fields":[{"name":"int32_col","type":"INT32"},{"name":"str_col","type":"STRING"}]},"source":"LOCAL_FILE","status":"DONE","table_name":"synthetics_test_rt_file_row_crud_flow_8920484491933708959","tags":["synthetic[...]
    - id: 2
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://dd.datad0g.com/api/v2/reference-tables/tables/989727d4-0582-48b3-98cb-8d7222d84f7d
        method: GET
      response:
        body: '{"data":{"id":"989727d4-0582-48b3-98cb-8d7222d84f7d","type":"reference_table","attributes":{"created_by":"51bca672-7464-11ea-ad29-6762102f9f58","description":"Test S3 reference table","file_metadata":{"error_row_count":0,"error_message":"","sync_enabled":true,"access_details":{"aws_detail":{"aws_account_id":"924305315327","aws_bucket_name":"dd-reference-tables-dev-staging","file_path":"test.csv"}}},"last_updated_by":"51bca672-7464-11ea-ad29-6762102f9f58","row_count":0,"schema":{"primary_keys":["a"],"fields":[{"name":"a","type":"STRING"},{"name":"b","type":"STRING"},{"name":"c","type":"STRING"}]},"source":"S3","status":"INITIALIZED","table_name":"tf_test_s3_tf_testaccreferencetables3_basic_local_1762799964","tags":["test:terraform","env:test"],"updated_at":"2025-11-10T18:39:26Z"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 41.326583ms
[...]
