---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardAlertValue-local-1615587215","widgets":[{"definition":{"alert_id":"895605","type":"alert_value"}},{"definition":{"alert_id":"895606","precision":1,"text_align":"center","title":"Widget Title","title_align":"center","title_size":"16","type":"alert_value","unit":"b"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"hxv-8s3-sk4","title":"tf-TestAccDatadogDashboardAlertValue-local-1615587215","url":"/dashboard/hxv-8s3-sk4/tf-testaccdatadogdashboardalertvalue-local-1615587215","created_at":"2021-03-12T22:13:39.506569+00:00","modified_at":"2021-03-12T22:13:39.506569+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_value"},"id":8843244169925590},{"definition":{"title_size":"16","title":"Widget Title","title_align":"center","text_align":"center","precision":1,"alert_id":"895606","type":"alert_value","unit":"b"},"id":1687795258969991}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/hxv-8s3-sk4
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"hxv-8s3-sk4","title":"tf-TestAccDatadogDashboardAlertValue-local-1615587215","url":"/dashboard/hxv-8s3-sk4/tf-testaccdatadogdashboardalertvalue-local-1615587215","created_at":"2021-03-12T22:13:39.506569+00:00","modified_at":"2021-03-12T22:13:39.506569+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_value"},"id":8843244169925590},{"definition":{"title_size":"16","title":"Widget Title","title_align":"center","text_align":"center","precision":1,"alert_id":"895606","type":"alert_value","unit":"b"},"id":1687795258969991}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/hxv-8s3-sk4
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"hxv-8s3-sk4"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/hxv-8s3-sk4
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID hxv-8s3-sk4 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
