---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogRUMApplication_ProductScales-local-1758891998","product_analytics_retention_state":"MAX","rum_event_processing_state":"ERROR_FOCUSED_MODE","type":"browser"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","id":"c746a76f-14f5-4ad3-8496-643aefc23c1a","attributes":{"updated_by_handle":"frog@datadoghq.com","created_by_handle":"frog@datadoghq.com","api_key_id":658969,"product_analytics_preview_disabled":true,"created_at":1758892000294,"product_analytics_replay_sample_rate":100,"application_id":"c746a76f-14f5-4ad3-8496-643aefc23c1a","ootb_metrics_installed":false,"hash":"pub0847907d3765dcb9143dbfbf605a9795","is_active":false,"org_id":569509,"type":"browser","name":"tf-TestAccDatadogRUMApplication_ProductScales-local-1758891998","product_scales":{"product_analytics_retention_scale":{"last_modified_at":1758892000294,"state":"MAX"},"rum_event_processing_scale":{"last_modified_at":1758892000294,"state":"ERROR_FOCUSED_MODE"}},"updated_at":1758892000294,"short_name":"tf_testaccdatadogrumapplication__24","tags":[],"client_token":"pub0847907d3765dcb9143dbfbf605a9795"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 535.286667ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/c746a76f-14f5-4ad3-8496-643aefc23c1a
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"rum_application","attributes":{"product_scales":{"rum_event_processing_scale":{"state":"ERROR_FOCUSED_MODE","last_modified_at":1758892000294},"product_analytics_retention_scale":{"state":"MAX","last_modified_at":1758892000294}},"updated_by_handle":"frog@datadoghq.com","updated_at":1758892000294,"client_token":"pub0847907d3765dcb9143dbfbf605a9795","org_id":569509,"ootb_metrics_installed":false,"application_id":"c746a76f-14f5-4ad3-8496-643aefc23c1a","tags":[],"product_analytics_preview_disabled":true,"is_active":false,"api_key_id":658969,"short_name":"tf_testaccdatadogrumapplication__24","name":"tf-TestAccDatadogRUMApplication_ProductScales-local-1758891998","type":"browser","created_by_handle":"frog@datadoghq.com","product_analytics_replay_sample_rate":100,"created_at":1758892000294,"hash":"pub0847907d3765dcb9143dbfbf605a9795"},"id":"c746a76f-14f5-4ad3-8496-643aefc23c1a"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 203.408459ms
[...]
