---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"isInMoreThan","target":30,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":443,"servername":"datadoghq.com"}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsSSLTest_Basic-local-1720190912","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"httpVersion":"any","min_location_failed":1,"tick_every":60},"status":"paused","subtype":"ssl","tags":[],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"69m-agy-y45","name":"tf-TestAccDatadogSyntheticsSSLTest_Basic-local-1720190912","status":"paused","type":"api","tags":[],"created_at":"2024-07-05T14:48:33.406956+00:00","modified_at":"2024-07-05T14:48:33.406956+00:00","config":{"assertions":[{"operator":"isInMoreThan","target":30,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":443,"servername":"datadoghq.com"}},"message":"Notify @datadog.user","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"subtype":"ssl","created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":148641999,"org_id":321813,"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 323.4885ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/69m-agy-y45
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"69m-agy-y45","name":"tf-TestAccDatadogSyntheticsSSLTest_Basic-local-1720190912","status":"paused","type":"api","tags":[],"created_at":"2024-07-05T14:48:33.406956+00:00","modified_at":"2024-07-05T14:48:33.406956+00:00","config":{"assertions":[{"operator":"isInMoreThan","target":30,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":443,"servername":"datadoghq.com"}},"message":"Notify @datadog.user","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"subtype":"ssl","monitor_id":148641999,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.893792ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/69m-agy-y45
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"69m-agy-y45","name":"tf-TestAccDatadogSyntheticsSSLTest_Basic-local-1720190912","status":"paused","type":"api","tags":[],"created_at":"2024-07-05T14:48:33.406956+00:00","modified_at":"2024-07-05T14:48:33.406956+00:00","config":{"assertions":[{"operator":"isInMoreThan","target":30,"type":"certificate"}],"configVariables":[],"request":{"host":"datadoghq.com","port":443,"servername":"datadoghq.com"}},"message":"Notify @datadog.user","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"subtype":"ssl","monitor_id":148641999,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.461875ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["69m-agy-y45"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"69m-agy-y45","deleted_at":"2024-07-05T14:48:36.096499+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.139807792s
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/69m-agy-y45
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 51.228041ms
