---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Workflow used by on-call team routing rules test.","name":"Team Rules Test Workflow tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","published":true,"spec":{"handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","steps":[],"triggers":[{"onCallTrigger":{},"startStepNames":[]}]},"tags":["service:foo","team:bar"],"webhookSecret":""},"type":"workflows"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/workflows
        method: POST
      response:
        body: '{"data":{"id":"a141bf86-4eeb-4a4d-b547-efd7beb0ded8","type":"workflows","attributes":{"createdAt":"2026-05-19T13:00:10.796672Z","description":"Workflow used by on-call team routing rules test.","name":"Team Rules Test Workflow tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","published":true,"spec":{"triggers":[{"startStepNames":[],"onCallTrigger":{}}],"steps":[],"handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1779195607"},"tags":["service:foo","team:bar"],"updatedAt":"2026-05-19T13:00:10.796672Z"},"relationships":{"creator":{"data":{"id":"bc2bac8c-0b78-11f0-8b67-c24ce8498984","type":"users"}},"owner":{"data":{"id":"bc2bac8c-0b78-11f0-8b67-c24ce8498984","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 442.449542ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779195607"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"3825eb70-97e2-411f-bff3-9dc646540588","type":"team","attributes":{"avatar":null,"banner":9,"created_at":"2026-05-19T13:00:10.829269+00:00","description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-05-19T13:00:10.829269+00:00","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","provisioned_by":"teams_terraform","summary":"Description","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/3825eb70-97e2-411f-bff3-9dc646540588/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/3825eb70-97e2-411f-bff3-9dc646540588/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 493.574833ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallteamroutingrulescreateandupdate-local-1779195607@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"254d3482-ca53-4e94-8cb0-da1a3bf8529a","attributes":{"uuid":"254d3482-ca53-4e94-8cb0-da1a3bf8529a","name":null,"handle":"tf-testacconcallteamroutingrulescreateandupdate-local-1779195607@example.com","created_at":"2026-05-19T13:00:16.593219+00:00","modified_at":"2026-05-19T13:00:16.593219+00:00","email":"tf-testacconcallteamroutingrulescreateandupdate-local-1779195607@example.com","icon":"https://secure.gravatar.com/avatar/72becc0e86f4e04c156c84ca84fa8401?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 6.253784542s
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"254d3482-ca53-4e94-8cb0-da1a3bf8529a","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"aed18824-5382-11f1-90c2-da7ad0900002","attributes":{"uuid":"aed18824-5382-11f1-90c2-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2026-05-19T13:00:16.901444+00:00","expires_at":"2026-05-21T13:00:16.863263+00:00"},"relationships":{"user":{"data":{"type":"users","id":"254d3482-ca53-4e94-8cb0-da1a3bf8529a"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 303.966917ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"254d3482-ca53-4e94-8cb0-da1a3bf8529a"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"3825eb70-97e2-411f-bff3-9dc646540588","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"3492e40a-b5a7-4f88-a750-43d26dc66865","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"12f99c9d-e75c-42e5-b7e8-6e10b7992ab4","type":"layers"}]},"teams":{"data":[{"id":"3825eb70-97e2-411f-bff3-9dc646540588","type":"teams"}]}}},"included":[{"id":"12f99c9d-e75c-42e5-b7e8-6e10b7992ab4","type":"layers","attributes":{"applied_rotation_start":"2025-01-01T00:00:00Z","effective_date":"2025-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"12f99c9d-e75c-42e5-b7e8-6e10b7992ab4-member-1","type":"members"},{"id":"12f99c9d-e75c-42e5-b7e8-6e10b7992ab4-member-2","type":"members"}]}}},{"id":"12f99c9d-e75c-42e5-b7e8-6e10b7992ab4-member-1","type":"members","relationships":{"user":{"data":{"id":"254d3482-ca53-4e94-8cb0-da1a3bf8529a","type":"users"}}}},{"id":"254d3482-ca53-4e94-8cb0-da1a3bf8529a","type":"users","attributes":{"email":"tf-testacconcallteamroutingrulescreateandupdate-local-1779195607@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 178.123333ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","resolve_page_on_policy_end":true,"retries":3,"steps":[{"assignment":"round-robin","escalate_after_seconds":300,"targets":[{"id":"3825eb70-97e2-411f-bff3-9dc646540588","type":"teams"},{"id":"254d3482-ca53-4e94-8cb0-da1a3bf8529a","type":"users"},{"id":"3492e40a-b5a7-4f88-a750-43d26dc66865","type":"schedules"}]}]},"type":"policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
        method: POST
      response:
        body: '{"data":{"id":"c570243b-6441-42cd-99b8-d4bb74[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"rules":[{"actions":[{"handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","type":"workflow"}],"query":"tags.service:test","time_restriction":{"restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"time_zone":"America/New_York"}},{"actions":[],"policy_id":"c570243b-6441-42cd-99b8-d4bb742da960","query":"","urgency":"dynamic"}]},"id":"3825eb70-97e2-411f-bff3-9dc646540588","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/3825eb70-97e2-411f-bff3-9dc646540588/routing-rules?include=rules
        method: PUT
      response:
        body: '{"data":{"id":"3825eb70-97e2-411f-bff3-9dc646540588","type":"team_routing_rules","relationships":{"rules":{"data":[{"id":"f9bfd339-583f-47ea-bb19-80cce8227a27","type":"team_routing_rules"},{"id":"6b4d6694-4c9d-4f96-9e3a-7076dfd8accb","type":"team_routing_rules"}]}}},"included":[{"id":"f9bfd339-583f-47ea-bb19-80cce8227a27","type":"team_routing_rules","attributes":{"actions":[{"type":"workflow","handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1779195607"}],"query":"tags.service:test","time_restriction":{"time_zone":"America/New_York","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}]}}},{"id":"6b4d6694-4c9d-4f96-9e3a-7076dfd8accb","type":"team_routing_rules","attributes":{"actions":[],"query":"","urgency":"dynamic"},"relationships":{"policy":{"data":{"id":"c570243b-6441-42cd-99b8-d4bb742da960","type":"policies"}}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 207.955458ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/a141bf86-4eeb-4a4d-b547-efd7beb0ded8
        method: GET
      response:
        body: '{"data":{"id":"a141bf86-4eeb-4a4d-b547-efd7beb0ded8","type":"workflows","attributes":{"createdAt":"2026-05-19T13:00:10.796672Z","description":"Workflow used by on-call team routing rules test.","name":"Team Rules Test Workflow tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","published":true,"spec":{"triggers":[{"startStepNames":[],"onCallTrigger":{}}],"steps":[],"handle":"team-rules-test-workflow-tf-testacconcallteamroutingrulescreateandupdate-local-1779195607"},"tags":["service:foo","team:bar"],"updatedAt":"2026-05-19T13:00:10.823599Z"},"relationships":{"creator":{"data":{"id":"bc2bac8c-0b78-11f0-8b67-c24ce8498984","type":"users"}},"owner":{"data":{"id":"bc2bac8c-0b78-11f0-8b67-c24ce8498984","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 156.835208ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/254d3482-ca53-4e94-8cb0-da1a3bf8529a
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"254d3482-ca53-4e94-8cb0-da1a3bf8529a","attributes":{"uuid":"254d3482-ca53-4e94-8cb0-da1a3bf8529a","name":null,"handle":"tf-testacconcallteamroutingrulescreateandupdate-local-1779195607@example.com","created_at":"2026-05-19T13:00:16.593219+00:00","modified_at":"2026-05-19T13:00:16.593219+00:00","email":"tf-testacconcallteamroutingrulescreateandupdate-local-1779195607@example.com","icon":"https://secure.gravatar.com/avatar/72becc0e86f4e04c156c84ca84fa8401?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":["google_oidc","standard"],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"team_roles":{"data":[]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.104ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/3825eb70-97e2-411f-bff3-9dc646540588
        method: GET
      response:
        body: '{"data":{"id":"3825eb70-97e2-411f-bff3-9dc646540588","type":"team","attributes":{"created_at":"2026-05-19T13:00:10.829269+00:00","description":"Description","handle":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","is_managed":false,"link_count":0,"modified_at":"2026-05-19T13:00:10.829269+00:00","name":"team-tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","provisioned_by":"teams_terraform","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/3825eb70-97e2-411f-bff3-9dc646540588/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/3825eb70-97e2-411f-bff3-9dc646540588/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 278.64625ms
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/3492e40a-b5a7-4f88-a750-43d26dc66865?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"3492e40a-b5a7-4f88-a750-43d26dc66865","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","time_zo[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/c570243b-6441-42cd-99b8-d4bb742da960?include=steps.targets
        method: GET
      response:
        body: '{"data":{"id":"c570243b-6441-42cd-99b8-d4bb742da960","type":"policies","attributes":{"name":"tf-testacconcallteamroutingrulescreateandupdate-local-1779195607","resolve_page_on_policy_end":true,"retries":3,[...]
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"id":"3825eb70-97e2-411f-bff3-9dc646540588","type":"team_routing_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/teams/3825eb70-97e2-411f-bff3-9dc646540588/routing-rules
        method: PUT
      response:
        body: '{"data":{"id":"3825eb70-97e2-411f-bff3-9dc646540588","type":"team_routing_rules","relationships":{"rules":{"data":[]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 225.485ms
    - id: 14
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/c570243b-6441-42cd-99b8-d4bb742da960
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 138.986583ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/3492e40a-b5a7-4f88-a750-43d26dc66865
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 175.820291ms
[...]
