version: 2
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
    method: GET
    id: 0
  response:
    body: |
      {"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","attributes":{},"type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"e1A8IJyRQmKLCHVKHGJpHA","type":"sensitive_data_scanner_group"},{"id":"adW1knynR9KF1XOA24JW2Q","type":"sensitive_data_scanner_group"},{"id":"Dh4SdyFERFGYNx39QBoKuA","type":"sensitive_data_scanner_group"},{"id":"HpgMbF8wRjqku6ggd7s_6Q","type":"sensitive_data_scanner_group"},{"id":"tJoxttKcSFmJThkqwobVnw","type":"sensitive_data_scanner_group"},{"id":"cPob_u5DRauchMRN-sSVLA","type":"sensitive_data_scanner_group"},{"id":"IKNM0RQxTwqE3YNZ1Cb4NA","type":"sensitive_data_scanner_group"},{[...]
[...]
- request:
    body: |
      {"data":{"attributes":{"description":"A relevant description","filter":{"query":"service:my-service"},"is_enabled":false,"name":"tf-testaccdatadogsdsgrouporder-basic-local-1679434201","product_list":["apm"]},"type":"sensitive_data_scanner_group"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
    method: POST
    id: 2
  response:
    body: |
      {"data":{"id":"lgGBO83TQcWC3L-ZFrODBA","attributes":{"name":"tf-testaccdatadogsdsgrouporder-basic-local-1679434201","is_enabled":false,"filter":{"query":"service:my-service"},"product_list":["apm"],"description":"A relevant description"},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":31598}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: |
      {"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/lgGBO83TQcWC3L-ZFrODBA
    method: DELETE
    id: 10
  response:
    body: |
      {"meta":{"version":31600}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
