---
version: 2
interactions:
  - id: 0
    request:
      host: api.datadoghq.com
      body: |
        {"meta":{"setup_method":"terraform"},"data":{"attributes":{"account_id":"123456789012","bucket_name":"test-cur-bucket","bucket_region":"us-east-1","report_name":"test-cur-report","report_prefix":"test-cur-prefix"},"type":"aws_cur_config_post_request"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.datadoghq.com/api/v2/cost/aws_cur_config
      method: POST
    response:
      body: '{"data":{"id":"616","type":"aws_cur_config","attributes":{"account_filters":{"include_new_accounts":null},"account_id":"123456789012","bucket_name":"test-cur-bucket","bucket_region":"us-east-1","created_at":"2025-09-29T18:41:50.589656","error_messages":null,"months":15,"report_name":"test-cur-report","report_prefix":"test-cur-prefix","status":"active","status_updated_at":"2025-09-29T18:41:50.586351","updated_at":"2025-09-29T18:41:50.589656"}}}'
      headers:
        Content-Type:
          - application/vnd.api+json
      status: 200 OK
      code: 200
      duration: 933.999125ms
  - id: 1
    request:
      host: api.datadoghq.com
      body: ""
      form: {}
      headers:
      url: https://api.datadoghq.com/api/v2/cost/aws_cur_config/616
      method: GET
    response:
      body: '{"data":{"id":"616","type":"aws_cur_config","attributes":{"account_filters":{"include_new_accounts":null},"account_id":"123456789012","bucket_name":"test-cur-bucket","bucket_region":"us-east-1","created_at":"2025-09-29T18:41:50.589656","error_messages":null,"months":15,"report_name":"test-cur-report","report_prefix":"test-cur-prefix","status":"active","status_updated_at":"2025-09-29T18:41:50.586351","updated_at":"2025-09-29T18:41:50.589656"}}}'
      headers:
        Content-Type:
          - application/vnd.api+json
      status: 200 OK
      code: 200
      duration: 57.965708ms
[...]
