---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Team description","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173885513201","name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173885513201"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"team","id":"a019e0f1-1aa2-4219-b679-654d20f1d10a","attributes":{"name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173885513201","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173885513201","summary":"Team description","description":"Team description","avatar":null,"banner":14,"visible_modules":[],"hidden_modules":[],"created_at":"2025-02-06T15:18:53.858111+00:00","modified_at":"2025-02-06T15:18:53.858137+00:00","user_count":0,"link_count":0,"is_managed":false},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a019e0f1-1aa2-4219-b679-654d20f1d10a/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a019e0f1-1aa2-4219-b679-654d20f1d10a/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 589.713583ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team?filter%5Bkeyword%5D=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17388551320&page%5Bnumber%5D=0&page%5Bsize%5D=100&sort=name
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"team","attributes":{"user_count":0,"handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173885513201","summary":"Team description","description":"Team description","is_managed":false,"name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-173885513201","created_at":"2025-02-06T15:18:53.858111+00:00","modified_at":"2025-02-06T15:18:53.858137+00:00","link_count":0},"id":"a019e0f1-1aa2-4219-b679-654d20f1d10a","relationships":{"team_links":{"links":{"related":"/api/v2/team/a019e0f1-1aa2-4219-b679-654d20f1d10a/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a019e0f1-1aa2-4219-b679-654d20f1d10a/permission-settings"}}}}],"meta":{"pagination":{"number":0,"first_number":0,"prev_number":0,"next_number":1,"last_number":0,"size":100,"type":"number_size","total":1}},"links":{"self":"https://api.datadoghq.com/api/v2/team?filter[keyword]=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17388551320&page[number]=0&page[size]=100&sort=name","last":null,"next":"https://api.datadoghq.com/api/v2/team?filter[keyword]=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17388551320&sort=name&page[number]=1&page[size]=100","prev":null,"first":"https://api.datadoghq.com/api/v2/team?filter[keyword]=team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17388551320&sort=name&page[number]=0&page[size]=100"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 296.906833ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/42fb0b98-83b0-4b55-9d77-2959eecdbc38
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"team","attributes":{"summary":"Team description","is_managed":false,"description":"Team description","created_at":"2025-02-06T15:18:54.669938+00:00","link_count":0,"modified_at":"2025-02-06T15:18:54.669944+00:00","name":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17388551321","handle":"team-tf-testaccdatadogteamsdatasourcefilterkeyword-local-17388551321","user_count":0},"id":"42fb0b98-83b0-4b55-9d77-2959eecdbc38","relationships":{"team_links":{"links":{"related":"/api/v2/team/42fb0b98-83b0-4b55-9d77-2959eecdbc38/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/42fb0b98-83b0-4b55-9d77-2959eecdbc38/permission-settings"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.084709ms
[...]
