---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackServicemap-local-1758619084","type":"group","widgets":[{"definition":{"filters":["env:prod"],"service":"master-db","title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","title_size":"16","type":"servicemap"}}]}},"name":"tf-TestAccDatadogPowerpackServicemap-local-1758619084","tags":["tag:foo1"],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/powerpacks
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"3675d644-985e-11f0-922e-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackServicemap-local-1758619084","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackServicemap-local-1758619084","type":"group","widgets":[{"definition":{"filters":["env:prod"],"service":"master-db","title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","title_size":"16","type":"servicemap"},"id":3537627538336885}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","email":"frog@datadoghq.com"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 498.671708ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/powerpacks/3675d644-985e-11f0-922e-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"3675d644-985e-11f0-922e-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackServicemap-local-1758619084","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackServicemap-local-1758619084","type":"group","widgets":[{"definition":{"filters":["env:prod"],"service":"master-db","title":"env: prod, datacenter:dc1, service: master-db","title_align":"left","title_size":"16","type":"servicemap"},"id":3537627538336885}]},"layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","email":"frog@datadoghq.com"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.035125ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/powerpacks/3675d644-985e-11f0-922e-da7ad0900002
        method: GET
      response:
            - chunked
        body: '{"errors":["Powerpack with ID 3675d644-985e-11f0-922e-da7ad0900002 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 239.093833ms
