---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf_TestAccDatadogMonitorDatasource_local_1758619456","options":{"escalation_message":"the situation has escalated @pagerduty","evaluation_delay":700,"include_tags":true,"new_group_delay":500,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"renotify_interval":60,"renotify_occurrences":5,"renotify_statuses":["alert","warn"],"require_full_window":true,"threshold_windows":{"recovery_window":"last_15m","trigger_window":"last_15m"},"thresholds":{"critical":1,"critical_recovery":0.7,"warning":0.5,"warning_recovery":0.3},"timeout_h":10},"priority":null,"query":"avg(last_4h):anomalies(avg:aws.ec2.cpu{environment:foo,host:foo,test_datasource_monitor_scope:tf_TestAccDatadogMonitorDatasource_local_1758619456} by {host}, 'basic', 2, direction='both', alert_window='last_15m', interval=60, count_default_zero='true') \u003e= 1","restricted_roles":null,"tags":["baz","test_datasource_monitor:tf_TestAccDatadogMonitorDatasource_local_1758619456"],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.878625ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf_TestAccDatadogMonitorDatasource_local_1758619456","options":{"escalation_message":"the situation has escalated @pagerduty","evaluation_delay":700,"include_tags":true,"new_group_delay":500,"new_host_delay":300,"notify_no_data":false,"renotify_interval":60,"renotify_occurrences":5,"renotify_statuses":["alert","warn"],"require_full_window":true,"threshold_windows":{"recovery_window":"last_15m","trigger_window":"last_15m"},"thresholds":{"critical":1,"critical_recovery":0.7,"warning":0.5,"warning_recovery":0.3},"timeout_h":10},"priority":null,"query":"avg(last_4h):anomalies(avg:aws.ec2.cpu{environment:foo,host:foo,test_datasource_monitor_scope:tf_TestAccDatadogMonitorDatasource_local_1758619456} by {host}, 'basic', 2, direction='both', alert_window='last_15m', interval=60, count_default_zero='true') \u003e= 1","restricted_roles":null,"tags":["baz","test_datasource_monitor:tf_TestAccDatadogMonitorDatasource_local_1758619456"],"type":"query alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":217470365,"org_id":321813,"type":"query alert","name":"tf_TestAccDatadogMonitorDatasource_local_1758619456","message":"some message Notify: @hipchat-channel","tags":["baz","test_datasource_monitor:tf_TestAccDatadogMonitorDatasource_local_1758619456"],"query":"avg(last_4h):anomalies(avg:aws.ec2.cpu{environment:foo,host:foo,test_datasource_monitor_scope:tf_TestAccDatadogMonitorDatasource_local_1758619456} by {host}, 'basic', 2, direction='both', alert_window='last_15m', interval=60, count_default_zero='true') >= 1","options":{"escalation_message":"the situation has escalated @pagerduty","evaluation_delay":700,"include_tags":true,"new_group_delay":500,"new_host_delay":300,"notify_no_data":false,"renotify_interval":60,"renotify_occurrences":5,"renotify_statuses":["alert","warn"],"require_full_window":true,"threshold_windows":{"recovery_window":"last_15m","trigger_window":"last_15m"},"thresholds":{"critical":1.0,"critical_recovery":0.7,"warning":0.5,"warning_recovery":0.3},"timeout_h":10,"notify_audit":false,"silenced":{}},"multi":true,"created_at":1758619459000,"created":"2025-09-23T09:24:19.214001+00:00","modified":"2025-09-23T09:24:19.214001+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 997.594125ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor?name=tf_TestAccDatadogMonitorDatasource_local_1758619456
        method: GET
      response:
            - chunked
        body: |
            [{"id":217470365,"org_id":321813,"type":"query alert","name":"tf_TestAccDatadogMonitorDatasource_local_1758619456","message":"some message Notify: @hipchat-channel","tags":["baz","test_datasour[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/217470365
        method: GET
      response:
            - chunked
        body: |
            {"id":217470365,"org_id":321813,"type":"query alert","name":"tf_TestAccDatadogMonitorDatasource_local_1758619456","message":"some message Notify: @hipchat-channel","tags":["baz","test_datasource_monitor:tf_TestAccDatadogMonitorDatasource_lo[...]
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf_TestAccDatadogMonitorDatasource_local_1758619456","options":{"escalation_message":"the situation has escalated @pagerduty","evaluation_delay":700,"include_tags":true,"new_group_delay":500,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"renotify_interval":60,"renotify_occurrences":5,"renotify_statuses":[[...]
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf_TestAccDatadogMonitorDatasource_local_1758619456"},"relationships":{},"type":"roles"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/roles
        method: POST
      response:
        body: '{"data":{"id":"1aa28f06-985f-11f0-b93f-da7ad0900002","type":"roles","attributes":{"created_at":"2025-09-23T09:24:28.463842Z","modified_at":"2025-09-23T09:24:28.465909Z","name":"tf_TestAccDatadogMonitorDatasource_local_1758619456","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 253.660875ms
    - id: 14
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/roles/1aa28f06-985f-11f0-b93f-da7ad0900002
        method: GET
      response:
        body: '{"data":{"id":"1aa28f06-985f-11f0-b93f-da7ad0900002","type":"roles","attributes":{"created_at":"2025-09-23T09:24:28.463842Z","created_by_handle":"frog@datadoghq.com","modified_at":"2025-09-23T09:24:28.465909Z","modified_by_handle":"frog@datadoghq.com","name":"tf_TestAccDatadogMonitorDatasource_local_1758619456","team_count":0,"user_count":0},"relationships":{"permissions":{"data":[{"id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2","type":"permissions"},{"id":"4441648c-d8b1-11e9-a77a-1b899a04b304","type":"permissions"},{"id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0","type":"permissions"},{"id":"12efc20e-d36c-11eb-a9b8-da7ad0900002","type":"permissions"},{"id":"7605ef24-f376-11eb-b90b-da7ad0900002","type":"permissions"},{"id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002","type":"permissions"},{"id":"f8e941cf-e746-11ec-b22d-da7ad0900002","type":"permissions"},{"id":"6c5ad874-7aff-11ed-a5cd-da7ad0900002","type":"permissions"},{"id":"a8b4d6e8-4ea4-11ee-b482-da7ad0900002","type":"permissions"},{"id":"50c270de-69ee-11ee-9151-da7ad0900002","type":"permissions"}]}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 274.6335ms
[...]
    - id: 32
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor?tags=test_datasource_monitor_scope%3Atf_TestAccDatadogMonitorDatasource_local_1758619456
        method: GET
      response:
            - chunked
        body: |
            [{"id":217470365,"org_id":321813,"type":"query alert","name":"tf_TestAccDatadogMonitorDatasource_local_1758619456","message":"some message Notify: @hipchat-chan[...]
[...]
    - id: 42
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor?monitor_tags=test_datasource_monitor%3Atf_TestAccDatadogMonitorDatasource_local_1758619456
        method: GET
      response:
            - chunked
        body: |
            [{"id":217470365,"org_id":321813,"type":"query alert","name":"tf_TestAccDatadogMonitorDatasource_local_1758619456","message":"some message Notify: @hipchat-ch[...]
[...]
    - id: 50
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/217470365
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":217470365}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.574740167s
    - id: 51
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/217470365
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 165.107208ms
[...]
