---
version: 2
interactions:
    - id: 0
      request:
        host: dd.datad0g.com
        body: |
            {"auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","auth_uri":"https://accounts.google.com/o/oauth2/auth","automute":false,"client_email":"tf-TestAccDatadogIntegrationGCP-local-1717617246@awesome-project-id.iam.gserviceaccount.com","client_id":"123456789012345678901","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/tf-TestAccDatadogIntegrationGCP-local-1717617246@awesome-project-id.iam.gserviceaccount.com","host_filters":"foo:bar,buzz:lightyear","is_cspm_enabled":false,"is_security_command_center_enabled":false,"private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","private_key_id":"1234567890123456789012345678901234567890","project_id":"tf-TestAccDatadogIntegrationGCP-local-1717617246","resource_collection_enabled":true,"token_uri":"https://oauth2.googleapis.com/token","type":"service_account"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dd.datad0g.com/api/v1/integration/gcp
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 472.48475ms
    - id: 1
      request:
        host: dd.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://dd.datad0g.com/api/v1/integration/gcp
        method: GET
      response:
        body: |
            [{"project_id":"","client_email":"ashraf-hanafy-sabbirs-test-org@datadog-gcp-ints-test-b.iam.gserviceaccount.com","host_filters":"","automute":false,"is_cspm_enabled":true,"resource_collection_enabled":true,"is_security_command_center_enabled":false,"cloud_run_revision_filters":[],"errors":[]},{"project_id":"","client_email":"mitch-getting-around-sanbox-qu@datadog-gcp-ints-test-b.iam.gserviceaccount.com","host_filters":"","automute":false,"is_cspm_enabled":false,"resource_collection_enabled":false,"is_security_command_center_enabled":false,"cloud_run_revision_filters":[],"errors":[]},{"project_id":"","client_email":"nina-synethetics@datadog-gcp-ints-test-b.iam.gserviceaccount.com","host_filters":"","automute":false,"is_cspm_enabled":false,"resource_collection_enabled":false,"is_se[...]
[...]
