---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"reflow_type":"auto","tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardMultiSizeLayout_createAuto-local-1758619375","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"gd2-wx6-rgn","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createAuto-local-1758619375","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/gd2-wx6-rgn/tf-testaccdatadogdashboardmultisizelayoutcreateauto-local-1758619375","template_variables":[],"widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"id":2420758327213209},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"id":7699014263961975}],"notify_list":[],"created_at":"2025-09-23T09:23:06.744242+00:00","modified_at":"2025-09-23T09:23:06.744242+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 524.384708ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/gd2-wx6-rgn
        method: GET
      response:
        body: '{"id":"gd2-wx6-rgn","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createAuto-local-1758619375","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/gd2-wx6-rgn/tf-testaccdatadogdashboardmultisizelayoutcreateauto-local-1758619375","template_variables":[],"widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"id":2420758327213209},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"id":7699014263961975}],"notify_list":[],"created_at":"2025-09-23T09:23:06.744242+00:00","modified_at":"2025-09-23T09:23:06.744242+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.251833ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/gd2-wx6-rgn
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"gd2-wx6-rgn"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.815042ms
