version: 2
interactions:
- request:
    body: |
      {"is_secret":false,"name":"TF_TESTACCDATADOGWEBHOOKCUSTOMVARIABLE_BASIC_LOCAL_1637237295","value":"test-value"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables
    method: POST
    id: 0
  response:
    body: '{"is_secret":false,"name":"TF_TESTACCDATADOGWEBHOOKCUSTOMVARIABLE_BASIC_LOCAL_1637237295","value":"test-value"}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://app.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TF_TESTACCDATADOGWEBHOOKCUSTOMVARIABLE_BASIC_LOCAL_1637237295
    status: 201 Created
    code: 201
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TF_TESTACCDATADOGWEBHOOKCUSTOMVARIABLE_BASIC_LOCAL_1637237295
    method: GET
    id: 2
  response:
    body: '{"is_secret":false,"name":"TF_TESTACCDATADOGWEBHOOKCUSTOMVARIABLE_BASIC_LOCAL_1637237295","value":"test-value"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TF_TESTACCDATADOGWEBHOOKCUSTOMVARIABLE_BASIC_LOCAL_1637237295UPDATED
    method: GET
    id: 10
  response:
    body: '{"is_secret":true,"name":"TF_TESTACCDATADOGWEBHOOKCUSTOMVARIABLE_BASIC_LOCAL_1637237295UPDATED"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TF_TESTACCDATADOGWEBHOOKCUSTOMVARIABLE_BASIC_LOCAL_1637237295UPDATED
    method: GET
    id: 16
  response:
    body: '{"errors": ["Custom variable does not exist"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
[...]
