---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"level":1,"name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-matching","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scorecard/rules
        method: POST
      response:
        body: '{"data":{"id":"a4jdiiflp3gp6kv1","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.34565416Z","custom":true,"enabled":true,"level":1,"modified_at":"2026-05-14T19:28:19.34565416Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-matching","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"a4jdiiflp3gp6kv1","type":"policy-scope"}},"scorecard":{"data":{"id":"5ZVHGDQXcOmC","type":"scorecard"}}}},"included":[{"id":"a4jdiiflp3gp6kv1","type":"policy-scope","attributes":{"scopes":[{"kind":"service","query":"has_definition:\"true\""},{"kind":"queue","query":"has_definition:\"true\""},{"kind":"datastore","query":"has_definition:\"true\""}]}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 513.05325ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bname%5D=tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-matching&page%5Boffset%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"a4jdiiflp3gp6kv1","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.345654Z","custom":true,"enabled":true,"level":1,"modified_at":"2026-05-14T19:28:19.345654Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-matching","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"a4jdiiflp3gp6kv1","type":"policy-scope"}},"scorecard":{"data":{"id":"5ZVHGDQXcOmC","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bname%5D=tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-matching\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=100"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 40.474584ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=fhqv587epr0pxpsp&page%5Bsize%5D=1
        method: GET
      response:
        body: '{"data":[{"id":"fhqv587epr0pxpsp","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.354274Z","custom":true,"enabled":true,"level":2,"modified_at":"2026-05-14T19:28:19.354274Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-other","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"fhqv587epr0pxpsp","type":"policy-scope"}},"scorecard":{"data":{"id":"5ZVHGDQXcOmC","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=fhqv587epr0pxpsp\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 97.127834ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=a4jdiiflp3gp6kv1&page%5Bsize%5D=1
        method: GET
      response:
        body: '{"data":[{"id":"a4jdiiflp3gp6kv1","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.345654Z","custom":true,"enabled":true,"level":1,"modified_at":"2026-05-14T19:28:19.345654Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-matching","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"a4jdiiflp3gp6kv1","type":"policy-scope"}},"scorecard":{"data":{"id":"5ZVHGDQXcOmC","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=a4jdiiflp3gp6kv1\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 97.1705ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules/a4jdiiflp3gp6kv1
        method: DELETE
      response:
        body: '{"data":{"id":"a4jdiiflp3gp6kv1","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.345654Z","custom":true,"enabled":true,"level":1,"modified_at":"2026-05-14T19:28:19.345654Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-matching","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"a4jdiiflp3gp6kv1","type":"policy-scope"}},"scorecard":{"data":{"id":"5ZVHGDQXcOmC","type":"scorecard"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 932.997334ms
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules/fhqv587epr0pxpsp
        method: DELETE
      response:
        body: '{"data":{"id":"fhqv587epr0pxpsp","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-scorecard","created_at":"2026-05-14T19:28:19.354274Z","custom":true,"enabled":true,"level":2,"modified_at":"2026-05-14T19:28:19.354274Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-other","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1778786897-scorecard"},"relationships":{"policy_scope":{"data":{"id":"fhqv587epr0pxpsp","type":"policy-scope"}},"scorecard":{"data":{"id":"5ZVHGDQXcOmC","type":"scorecard"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 941.461625ms
[...]
