---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"UTC","monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"mute_first_recovery_notification":false,"notify_end_types":[],"schedule":{"end":null,"start":"2050-01-02T03:04:05Z"},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689368114)"},"type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime
    method: POST
  response:
    body: |
      {"data":{"type":"downtime","attributes":{"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689368114)","modified":"2023-07-14T20:55:17.093143+00:00","created":"2023-07-14T20:55:17.093143+00:00","message":null,"canceled":null,"schedule":{"end":null,"start":"2050-01-02T03:04:05+00:00"},"status":"scheduled","mute_first_recovery_notification":false,"display_timezone":"UTC","notify_end_types":[],"monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"notify_end_states":["warn","no data","alert"]},"id":"bca5cf7e-2288-11ee-a611-da7ad0900002","relationships":{"created_by":{"data":{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92"}},"monitor":{"data":null}}},"included":[{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92","attributes":{"name":"Carl Martensen","handle":"carl.martensen@datadoghq.com","created_at":"2019-01-15T14:36:15.423919+00:00","modified_at":"2019-01-15T14:36:15.457748+00:00","email":"carl.martensen@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ed460c2fc567a43e34c2bd7cda76bdd1?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/downtime/bca5cf7e-2288-11ee-a611-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"downtime","attributes":{"status":"scheduled","schedule":{"end":null,"start":"2050-01-02T03:04:05+00:00"},"monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"notify_end_types":[],"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689368114)","mute_first_recovery_notification":false,"modified":"2023-07-14T20:55:17.093143+00:00","message":null,"notify_end_states":["warn","alert","no data"],"display_timezone":"UTC","canceled":null,"created":"2023-07-14T20:55:17.093143+00:00"},"id":"bca5cf7e-2288-11ee-a611-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
