---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"third-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:third"},"reference_table":null}]},"id":"tf-test-order-third-tf-TestAccDatadogTagPipelineRulesetOrder_Basic-local-1758897816","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"2c87a651-0493-429c-bfa9-f1e5233dbe59","type":"ruleset","attributes":{"created":{"seconds":1758897817,"nanos":273991000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758897817,"nanos":273991000},"name":"tf-test-order-third-tf-TestAccDatadogTagPipelineRulesetOrder_Basic-local-1758897816","position":2,"rules":[{"name":"third-rule","enabled":true,"query":{"query":"service:third","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3606776}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 140.933292ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"31e3a864-24c5-46c5-8050-46f6ba0c0626","type":"ruleset"},{"id":"b446246b-cac6-481b-9328-cf6e26120cd5","type":"ruleset"},{"id":"2c87a651-0493-429c-bfa9-f1e5233dbe59","type":"ruleset"},{"id":"1b680ec0-8e29-4b79-bb01-45f0c645a789","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 61.874958ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/2c87a651-0493-429c-bfa9-f1e5233dbe59
        method: GET
      response:
        body: '{"data":{"id":"2c87a651-0493-429c-bfa9-f1e5233dbe59","type":"ruleset","attributes":{"created":{"seconds":1758897817,"nanos":273991000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758897817,"nanos":273991000},"name":"tf-test-order-third-tf-TestAccDatadogTagPipelineRulesetOrder_Basic-local-1758897816","position":3,"rules":[{"name":"third-rule","enabled":true,"query":{"query":"service:third","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3606776}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 45.96525ms
[...]
