---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"dest-1","inputs":["group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"arrays":[{"field":"tags","include":"*"}],"enabled":true,"id":"split-array-proc","include":"*","type":"split_array"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"split_array pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"62dddc66-2ea1-11f1-b85a-da7ad0900002","type":"pipelines","attributes":{"name":"split_array pipeline","config":{"destinations":[{"id":"dest-1","inputs":["group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"arrays":[{"field":"tags","include":"*"}],"enabled":true,"id":"split-array-proc","include":"*","type":"split_array"}]}],"processors":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"arrays":[{"field":"tags","include":"*"}],"enabled":true,"id":"split-array-proc","include":"*","type":"split_array"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 408.10725ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/62dddc66-2ea1-11f1-b85a-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"62dddc66-2ea1-11f1-b85a-da7ad0900002","type":"pipelines","attributes":{"name":"split_array pipeline","config":{"destinations":[{"id":"dest-1","inputs":["group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"arrays":[{"field":"tags","include":"*"}],"enabled":true,"id":"split-array-proc","include":"*","type":"split_array"}]}],"processors":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"arrays":[{"field":"tags","include":"*"}],"enabled":true,"id":"split-array-proc","include":"*","type":"split_array"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 294.128417ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"dest-1","inputs":["group-1"],"type":"datadog_logs"}],"pipeline_type":"logs","processor_groups":[{"enabled":true,"id":"group-1","include":"*","inputs":["source-1"],"processors":[{"arrays":[{"field":"items","include":"source:prod"},{"field":"events","include":"source:staging"}],"display_name":"Array Splitter","enabled":true,"id":"split-array-proc","include":"*","type":"split_array"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"split_array pipeline updated"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/62dddc66-2ea1-11f1-b85a-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"62[...]
[...]
