---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1758619341","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2,"warning":1}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 357.345333ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1758619341","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2,"warning":1}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":217469665,"org_id":321813,"type":"metric alert","name":"tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1758619341","message":"some message Notify: @hipchat-channel","tags":[],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0,"warning":1.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1758619347000,"created":"2025-09-23T09:22:27.189913+00:00","modified":"2025-09-23T09:22:27.189913+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.204375ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"display_timezone":"","monitor_identifier":{"monitor_id":217469665},"mute_first_recovery_notification":false,"notify_end_types":[],"schedule":{"end":null,"start":"2050-01-02T03:04:05Z"},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1758619341)"},"type":"downtime"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/downtime
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"downtime","attributes":{"schedule":{"start":"2050-01-02T03:04:05+00:00","end":null},"status":"scheduled","notify_end_states":["alert","no data","warn"],"message":null,"notify_end_types":[],"created":"2025-09-23T09:22:27.632001+00:00","canceled":null,"monitor_identifier":{"monitor_id":217469665},"modified":"2025-09-23T09:22:27.632001+00:00","scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1758619341)","display_timezone":"UTC","mute_first_recovery_notification":false},"id":"2eb8f527-ce9d-45bc-a96a-1fbf8b691483","relationships":{"monitor":{"data":{"type":"monitor","id":"217469665"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"monitor","id":217469665,"attributes":{"name":"tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1758619341"}},{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2025-09-17T20:56:07.513404+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 518.689541ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"some message Notify: @hipchat-channel","name":"tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1758619341","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2,"warning":1}},"priority":null,"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} \u003e 2","restricted_roles":null,"tags":[],"type":"metric alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/217469665/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.514459ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/217469665
        method: GET
      response:
            - chunked
        body: |
            {"id":217469665,"org_id":321813,"type":"metric alert","name":"tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1758619341","message":"some message Notify: @hipchat-channel","tags":[],"query":"avg(last_1h):avg:aws.ec2.cpu{environment:foo,host:foo} by {host} > 2","options":{"escalation_message":"the situation has escalated @pagerduty","include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":2.0,"warning":1.0},"notify_audit":false,"silenced":{}},"multi":true,"created_at":1758619347000,"created":"2025-09-23T09:22:27.189913+00:00","modified":"2025-09-23T09:22:27.189913+00:00","deleted":null,"priority":null,"restricted_roles":null,"overall_state_modified":"2025-09-23T09:22:28+00:00","overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.741542ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/downtime/2eb8f527-ce9d-45bc-a96a-1fbf8b691483
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"downtime","attributes":{"status":"scheduled","canceled":null,"notify_end_types":[],"modified":"2025-09-23T09:22:27.632001+00:00","message":null,"mute_first_recovery_notification":false,"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTimeWithMonitorID-local-1758619341)","schedule":{"start":"2050-01-02T03:04:05+00:00","end":null},"display_timezone":"UTC","created":"2025-09-23T09:22:27.632001+00:00","notify_end_states":["no data","warn","alert"],"monitor_identifier":{"monitor_id":217469665}},"id":"2eb8f527-ce9d-45bc-a96a-1fbf8b691483"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.738ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/217469665
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":217469665}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.291312583s
