---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["reduce-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"reduce-group-1","include":"env:prod","inputs":["source-1"],"processors":[{"enabled":true,"group_by":["log.user.id","log.device.id"],"id":"reduce-1","include":"env:prod","merge_strategies":[{"path":"log.user.roles","strategy":"flat_unique"},{"path":"log.error.messages","strategy":"concat"},{"path":"log.count","strategy":"sum"},{"path":"log.status","strategy":"retain"}],"type":"reduce"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"reduce pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"ff2433cc-d5b9-11f0-90f9-da7ad0900002","type":"pipelines","attributes":{"name":"reduce pipeline","config":{"destinations":[{"id":"destination-1","inputs":["reduce-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"reduce-group-1","include":"env:prod","inputs":["source-1"],"processors":[{"enabled":true,"group_by":["log.user.id","log.device.id"],"id":"reduce-1","include":"env:prod","merge_strategies":[{"path":"log.user.roles","strategy":"flat_unique"},{"path":"log.error.messages","strategy":"concat"},{"path":"log.count","strategy":"sum"},{"path":"log.status","strategy":"retain"}],"type":"reduce"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 486.540791ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/ff2433cc-d5b9-11f0-90f9-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"ff2433cc-d5b9-11f0-90f9-da7ad0900002","type":"pipelines","attributes":{"name":"reduce pipeline","config":{"destinations":[{"id":"destination-1","inputs":["reduce-group-1"],"type":"datadog_logs"}],"processors":[{"enabled":true,"id":"reduce-group-1","include":"env:prod","inputs":["source-1"],"processors":[{"enabled":true,"group_by":["log.user.id","log.device.id"],"id":"reduce-1","include":"env:prod","merge_strategies":[{"path":"log.user.roles","strategy":"flat_unique"},{"path":"log.error.messages","strategy":"concat"},{"path":"log.count","strategy":"sum"},{"path":"log.status","strategy":"retain"}],"type":"reduce"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 274.03225ms
[...]
