---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1686248363@example.com","name":"tf-TestAccServiceAccountDatasource-c70b38f349397812","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"ff86cf50-0628-11ee-a21c-9a226bfe397e","attributes":{"name":"tf-TestAccServiceAccountDatasource-c70b38f349397812","handle":"ff86cf50-0628-11ee-a21c-9a226bfe397e","created_at":"2023-06-08T18:19:25.055378+00:00","modified_at":"2023-06-08T18:19:25.060996+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1686248363@example.com","icon":"https://secure.gravatar.com/avatar/c0815ee3a2c99031382259c30a64e846?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users?filter=tf-TestAccServiceAccountDatasource-c70b38f349397812
    method: GET
  response:
    body: |
      {"data":[{"type":"users","id":"ff86cf50-0628-11ee-a21c-9a226bfe397e","attributes":{"name":"tf-TestAccServiceAccountDatasource-c70b38f349397812","handle":"ff86cf50-0628-11ee-a21c-9a226bfe397e","created_at":"2023-06-08T18:19:25.055378+00:00","modified_at":"2023-06-08T18:19:25.060996+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1686248363@example.com","icon":"https://secure.gravatar.com/avatar/c0815ee3a2c99031382259c30a64e846?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"meta":{"page":{"total_count":173284,"total_filtered_count":1}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/ff86cf50-0628-11ee-a21c-9a226bfe397e
    method: GET
  response:
    body: |
      {"data":{"type":"users","id":"ff86cf50-0628-11ee-a21c-9a226bfe397e","attributes":{"name":"tf-TestAccServiceAccountDatasource-c70b38f349397812","handle":"ff86cf50-0628-11ee-a21c-9a226bfe397e","created_at":"2023-06-08T18:19:25.055378+00:00","modified_at":"2023-06-08T18:19:25.060996+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchfilter-local-1686248363@example.com","icon":"https://secure.gravatar.com/avatar/c0815ee3a2c99031382259c30a64e846?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
