---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"api_key":"tf-TestAccIntegrationConfluentResourceBasic-local-1758619112","api_secret":"test-api-secret-123"},"type":"confluent-cloud-accounts"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"confluent-cloud-accounts","attributes":{"api_key":"tf-TestAccIntegrationConfluentResourceBasic-local-1758619112","resources":[],"tags":[]},"id":"405ef0d5e1041b199a535fd50dfff157"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 639.2745ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enable_custom_metrics":false,"resource_type":"kafka","tags":["mytag","mytag2:myvalue"]},"id":"12345678910","type":"confluent-cloud-resources"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/405ef0d5e1041b199a535fd50dfff157/resources
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"confluent-cloud-resources","id":"12345678910","attributes":{"tags":["mytag","mytag2:myvalue"],"enable_custom_metrics":false,"resource_type":"kafka"}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 557.612167ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/405ef0d5e1041b199a535fd50dfff157
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"confluent-cloud-accounts","attributes":{"api_key":"tf-TestAccIntegrationConfluentResourceBasic-local-1758619112","tags":[],"resources":[{"id":"12345678910","enable_custom_metrics":false,"resource_type":"kafka","tags":["mytag","mytag2:myvalue"]}]},"id":"405ef0d5e1041b199a535fd50dfff157"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.602916ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/405ef0d5e1041b199a535fd50dfff157/resources/12345678910
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"confluent-cloud-resources","attributes":{"resource_type":"kafka","enable_custom_metrics":false,"tags":["mytag","mytag2:myvalue"]},"id":"12345678910"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 164.395042ms
[...]
