---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"America/New_York","message":"Message about the downtime","monitor_identifier":{"monitor_tags":["cat:hat"]},"mute_first_recovery_notification":true,"notify_end_states":["alert","warn"],"notify_end_types":["expired"],"schedule":{"recurrences":[{"duration":"1d","rrule":"FREQ=DAILY;INTERVAL=1","start":"2042-07-13T01:02:03"},{"duration":"1w","rrule":"FREQ=DAILY;INTERVAL=12","start":"2042-07-15T01:02:03"},{"duration":"1m","rrule":"FREQ=DAILY;INTERVAL=123","start":"2042-07-17T01:02:03"}],"timezone":"America/New_York"},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring-local-1690390563)"},"type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime
    method: POST
  response:
    body: |
      {"data":{"type":"downtime","relationships":{"monitor":{"data":null},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"attributes":{"canceled":null,"monitor_identifier":{"monitor_tags":["cat:hat"]},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring-local-1690390563)","display_timezone":"America/New_York","schedule":{"recurrences":[{"duration":"1d","rrule":"FREQ=DAILY;INTERVAL=1","start":"2042-07-13T01:02:03"},{"duration":"1w","rrule":"FREQ=DAILY;INTERVAL=12","start":"2042-07-15T01:02:03"},{"duration":"1m","rrule":"FREQ=DAILY;INTERVAL=123","start":"2042-07-17T01:02:03"}],"timezone":"America/New_York","current_downtime":{"end":"2042-07-14T06:02:03+00:00","start":"2042-07-13T06:02:03+00:00"}},"modified":"2023-07-26T16:56:05.901701+00:00","message":"Message about the downtime","notify_end_states":["alert","warn"],"notify_end_types":["expired"],"mute_first_recovery_notification":true,"status":"scheduled","created":"2023-07-26T16:56:05.901701+00:00"},"id":"4fa0a24a-2bd5-11ee-b95a-da7ad0900002"},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/downtime/4fa0a24a-2bd5-11ee-b95a-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"downtime","attributes":{"display_timezone":"America/New_York","schedule":{"current_downtime":{"end":"2042-07-14T06:02:03+00:00","start":"2042-07-13T06:02:03+00:00"},"timezone":"America/New_York","recurrences":[{"duration":"1d","rrule":"FREQ=DAILY;INTERVAL=1","start":"2042-07-13T01:02:03"},{"duration":"1w","rrule":"FREQ=DAILY;INTERVAL=12","start":"2042-07-15T01:02:03"},{"duration":"1m","rrule":"FREQ=DAILY;INTERVAL=123","start":"2042-07-17T01:02:03"}]},"message":"Message about the downtime","canceled":null,"notify_end_types":["expired"],"mute_first_recovery_notification":true,"created":"2023-07-26T16:56:05.901701+00:00","modified":"2023-07-26T16:56:05.901701+00:00","monitor_identifier":{"monitor_tags":["cat:hat"]},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring-local-1690390563)","notify_end_states":["warn","alert"],"status":"scheduled"},"id":"4fa0a24a-2bd5-11ee-b95a-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
