---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackListStream-local-1698717173","type":"group","widgets":[{"definition":{"requests":[{"columns":[{"field":"details","width":"auto"}],"query":{"data_source":"rum_issue_stream","query_string":""},"response_format":"event_list"},{"columns":[{"field":"details","width":"auto"}],"query":{"data_source":"apm_issue_stream","indexes":["timestamp","message"],"query_string":"env: prod"},"response_format":"event_list"}],"title":"List Stream 1","title_align":"right","title_size":"16","type":"list_stream"},"layout":{"height":5,"width":5,"x":5,"y":5}}]}},"name":"tf-TestAccDatadogPowerpackListStream-local-1698717173","tags":["tag:foo1"],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/powerpacks
    method: POST
  response:
    body: |
      {"data":{"type":"powerpack","id":"35e1c6f2-7790-11ee-812b-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackListStream-local-1698717173","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackListStream-local-1698717173","type":"group","widgets":[{"definition":{"requests":[{"columns":[{"field":"details","width":"auto"}],"query":{"data_source":"rum_issue_stream","query_string":""},"response_format":"event_list"},{"columns":[{"field":"details","width":"auto"}],"query":{"data_source":"apm_issue_stream","indexes":["timestamp","message"],"query_string":"env: prod"},"response_format":"event_list"}],"title":"List Stream 1","title_align":"right","title_size":"16","type":"list_stream"},"layout":{"height":5,"width":5,"x":5,"y":5},"id":4489716557213225}]}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/35e1c6f2-7790-11ee-812b-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"powerpack","id":"35e1c6f2-7790-11ee-812b-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackListStream-local-1698717173","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackListStream-local-1698717173","type":"group","widgets":[{"definition":{"requests":[{"columns":[{"field":"details","width":"auto"}],"query":{"data_source":"rum_issue_stream","query_string":""},"response_format":"event_list"},{"columns":[{"field":"details","width":"auto"}],"query":{"data_source":"apm_issue_stream","indexes":["timestamp","message"],"query_string":"env: prod"},"response_format":"event_list"}],"title":"List Stream 1","title_align":"right","title_size":"16","type":"list_stream"},"layout":{"height":5,"width":5,"x":5,"y":5},"id":4489716557213225}]}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/35e1c6f2-7790-11ee-812b-da7ad0900002
    method: GET
  response:
    body: '{"errors":["Powerpack with ID 35e1c6f2-7790-11ee-812b-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
