---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/logs/config/archive-order
    method: GET
  response:
    body: |
      {"data":{"type":"archive_order","attributes":{"archive_ids":["FDhaAaBtQ9yXG41RPzHFzQ"]}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"account_id":"535757515499","account_specific_namespace_rules":{},"cspm_resource_collection_enabled":false,"excluded_regions":[],"filter_tags":[],"host_tags":[],"metrics_collection_enabled":true,"resource_collection_enabled":false,"role_name":"testacc-datadog-integration-role"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: |
      {"external_id":"a391ea7280bc4d478c12651134680fb4"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: GET
  response:
    body: |
      {"accounts":[{"cspm_resource_collection_enabled":false,"errors":["Datadog is not authorized to perform action cloudwatch:ListMetrics \nAccount affected: 4910055555010048\nRegions affected: every region \nError was last seen 10m ago"],"excluded_regions":[],"filter_tags":[],"access_key_id":"4910055555010048","account_specific_namespace_rules":{},"metrics_collection_enabled":true,"host_tags":[],"resource_collection_enabled":false},{"cspm_resource_collection_enabled":false,"errors":["Datadog is not authorized to perform action cloudwatch:ListMetrics \nAccount affected: 9751515450971011\nRegions affected: every region \nError was last seen 5m ago"],"excluded_regions":[],"filter_tags":[],"access_key_id":"9751515450971011","account_specific_namespace_rules":{},"metrics_collection_enabl[...]
- request:
    body: |
      {"data":{"attributes":{"destination":{"bucket":"my-bucket","integration":{"account_id":"535757515499","role_name":"testacc-datadog-integration-role"},"path":"/path/foo","type":"s3"},"include_tags":true,"name":"my first s3 archive","query":"service:tutu","rehydration_max_scan_size_in_gb":123,"rehydration_tags":["team:intake","team:app"]},"type":"archives"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/logs/config/archives
    method: POST
  response:
    body: |
      {"data":{"type":"archives","id":"ZRSze3wrSDSlZefw5xCh_Q","attributes":{"name":"my first s3 archive","query":"service:tutu","state":"UNKNOWN","destination":{"bucket":"my-bucket","path":"/path/foo","type":"s3","integration":{"role_name":"testacc-datadog-integration-role","account_id":"535757515499"}},"rehydration_tags":["team:intake","team:app"],"include_tags":true,"rehydration_max_scan_size_in_gb":123}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/logs/config/archives/ZRSze3wrSDSlZefw5xCh_Q
    method: GET
  response:
    body: |
      {"data":{"type":"archives","id":"ZRSze3wrSDSlZefw5xCh_Q","attributes":{"name":"my first s3 archive","query":"service:tutu","state":"UNKNOWN","destination":{"bucket":"my-bucket","path":"/path/foo","type":"s3","integration":{"role_name":"testacc-datadog-integration-role","account_id":"535757515499"}},"rehydration_tags":["team:intake","team:app"],"include_tags":true,"rehydration_max_scan_size_in_gb":123}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
