---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: '{"description":"Created using the Datadog provider in Terraform","layout_type":"ordered","notify_list":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[1234567890123456,9876543210987654]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[5555555555555555]}],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardJSONTabIntegerWidgetIds-local-1774283230","widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":1234567890123456},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":9876543210987654},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":5555555555555555}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"br5-qu4-7xw","title":"tf-TestAccDatadogDashboardJSONTabIntegerWidgetIds-local-1774283230","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/br5-qu4-7xw/tf-testaccdatadogdashboardjsontabintegerwidgetids-local-1774283230","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":1234567890123456},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":9876543210987654},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":5555555555555555}],"notify_list":[],"created_at":"2026-03-23T16:27:12.552984+00:00","modified_at":"2026-03-23T16:27:12.552984+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[1234567890123456,9876543210987654]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[5555555555555555]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.364417ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/br5-qu4-7xw
        method: GET
      response:
            - chunked
        body: '{"id":"br5-qu4-7xw","title":"tf-TestAccDatadogDashboardJSONTabIntegerWidgetIds-local-1774283230","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datad[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/br5-qu4-7xw
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"br5-qu4-7xw"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 348.593833ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/br5-qu4-7xw
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID br5-qu4-7xw not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 161.117459ms
