---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"app_service_plan_filters":"","automute":false,"client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e","client_secret":"TestingRh2nx664kUy5dIApvM54T4AtO","container_app_filters":"","cspm_enabled":false,"custom_metrics_enabled":false,"host_filters":"","metrics_enabled":true,"metrics_enabled_default":true,"resource_provider_configs":[],"secretless_auth_enabled":false,"tenant_name":"0814bc07-4eb8-7c12-a57b-af6af9592e55","usage_metrics_enabled":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.630374208s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/azure
        method: GET
      response:
            - chunked
        body: |
            [{"tenant_name":"0814bc07-4eb8-7c12-a57b-af6af9592e55","client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e","container_app_filters":"","host_filters":"","app_service_plan_filters":"","automute":false,"cspm_enabled":false,"custom_metrics_enabled":false,"resource_collection_enabled":true,"metrics_enabled":true,"metrics_enabled_default":true,"usage_metrics_enabled":true,"resource_provider_configs":[],"secretless_auth_enabled":false,"errors":[],"warnings":[]}]
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.217334ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"compression_method":"GZIP","destination":{"container":"my-container","integration":{"client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e","tenant_id":"0814bc07-4eb8-7c12-a57b-af6af9592e55"},"path":"/path/blou","storage_account":"storageaccount","type":"azure"},"include_tags":false,"name":"my first azure archive","query":"service:toto","rehydration_max_scan_size_in_gb":null,"rehydration_tags":[]},"type":"archives"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/archives
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"bO4tLXR4SuyhZcAabz0xpA","attributes":{"name":"my first azure archive","query":"service:toto","state":"UNKNOWN","destination":{"container":"my-container","storage_account":"storageaccount","path":"/path/blou","type":"azure","integration":{"tenant_id":"0814bc07-4eb8-7c12-a57b-af6af9592e55","client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e"}},"rehydration_tags":[],"include_tags":false,"rehydration_max_scan_size_in_gb":null,"compression_method":"GZIP","partitioning_attributes":[],"lookup_attributes":[]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.5515ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/archives/bO4tLXR4SuyhZcAabz0xpA
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"bO4tLXR4SuyhZcAabz0xpA","attributes":{"name":"my first azure archive","query":"service:toto","state":"UNKNOWN","destination":{"container":"my-container","storage_account":"storageaccount","path":"/path/blou","type":"azure","integration":{"tenant_id":"0814bc07-4eb8-7c12-a57b-af6af9592e55","client_id":"a75fbdd2-ade6-43d0-a810-4d886c53871e"}},"rehydration_tags":[],"include_tags":false,"rehydration_max_scan_size_in_gb":null,"compression_method":"GZIP","partitioning_attributes":[],"lookup_attributes":[]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 95.384ms
[...]
