---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"suppression for terraform provider test","enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutDates-local-1736841395","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: POST
      response:
        body: '{"data":{"id":"0ve-k70-faw","type":"suppressions","attributes":{"creation_date":1736841396235,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"suppression for terraform provider test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutDates-local-1736841395","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging","tags":[],"update_date":1736841396235,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 136.199375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/0ve-k70-faw
        method: GET
      response:
        body: '{"data":{"id":"0ve-k70-faw","type":"suppressions","attributes":{"creation_date":1736841396235,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"suppression for terraform provider test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutDates-local-1736841395","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging","tags":[],"update_date":1736841396235,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 129.803375ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"data_exclusion_query":"","description":"updated suppression for terraform provider test","enabled":true,"expiration_date":null,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutDates-local-1736841395","rule_query":"severity:low source:(cloudtrail OR azure)","start_date":null,"suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/0ve-k70-faw
        method: PATCH
      response:
        body: '{"data":{"id":"0ve-k70-faw","type":"suppressions","attributes":{"creation_date":1736841396235,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"updated suppression for terraform provider test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutDates-local-1736841395","rule_query":"severity:low source:(cloudtrail OR azure)","suppression_query":"env:staging","tags":[],"update_date":1736841398002,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":2}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 157.5105ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/0ve-k70-faw
        method: GET
      response:
        body: '{"errors":["not_found(Suppression with ID 0ve-k70-faw not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 127.916292ms
