---
version: 1
interactions:
- request:
    body: |
      {"active":true,"message":"tf-TestAccDatadogDowntime_DiffStart-local-1609425728","monitor_tags":["*"],"scope":["somescope"],"timezone":"UTC"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDowntime
    url: https://api.datadoghq.com/api/v1/downtime
    method: POST
  response:
    body: '{"recurrence":null,"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1609426462,"creator_id":1445416,"parent_id":null,"timezone":"UTC","active":true,"scope":["somescope"],"message":"tf-TestAccDatadogDowntime_DiffStart-local-1609425728","downtime_type":2,"id":1087028917,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 60y8fjrf9Lhu8NRmYggZaUH1GQDnKp7ho4emCLNdZoXJeU4a0zvnmPIF2dQ+VP/K
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDowntime
    url: https://api.datadoghq.com/api/v1/downtime/1087028917
    method: GET
  response:
    body: '{"recurrence":null,"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"org_id":321813,"disabled":false,"start":1609426462,"creator_id":1445416,"parent_id":null,"timezone":"UTC","active":true,"scope":["somescope"],"message":"tf-TestAccDatadogDowntime_DiffStart-local-1609425728","downtime_type":2,"id":1087028917,"updater_id":null}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tn++ajambiboc22yEZp2LPSDqkKgxYU69+naXgFtW57aX7Q9JfJBptYV8xTFKhXT
      X-Dd-Version:
      - "35.3622023"
    status: 200 OK
    code: 200
    duration: ""
[...]
