---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountdatasourcematchid-local-1686248363@example.com","name":"tf-TestAccServiceAccountDatasource-2250fa11d636c965","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"ffa92ba9-0628-11ee-9cfd-9e791e69b7e1","attributes":{"name":"tf-TestAccServiceAccountDatasource-2250fa11d636c965","handle":"ffa92ba9-0628-11ee-9cfd-9e791e69b7e1","created_at":"2023-06-08T18:19:25.281087+00:00","modified_at":"2023-06-08T18:19:25.286796+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchid-local-1686248363@example.com","icon":"https://secure.gravatar.com/avatar/bd7d7046c52d19fb246ccf7dff18cb43?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/ffa92ba9-0628-11ee-9cfd-9e791e69b7e1
    method: GET
  response:
    body: |
      {"data":{"type":"users","id":"ffa92ba9-0628-11ee-9cfd-9e791e69b7e1","attributes":{"name":"tf-TestAccServiceAccountDatasource-2250fa11d636c965","handle":"ffa92ba9-0628-11ee-9cfd-9e791e69b7e1","created_at":"2023-06-08T18:19:25.281087+00:00","modified_at":"2023-06-08T18:19:25.286796+00:00","email":"tf-testaccdatadogserviceaccountdatasourcematchid-local-1686248363@example.com","icon":"https://secure.gravatar.com/avatar/bd7d7046c52d19fb246ccf7dff18cb43?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
