---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"filter":{"query":"error_code:456 service:my-other-service"},"filter_type":"spans-sampling-processor","name":"tf-TestAccApmRetentionFilterWithTraceRate-local-1744638232 - second","rate":0.1,"trace_rate":0.5},"type":"apm_retention_filter"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"T7EprT1XSk29x5YGAMJeww","attributes":{"name":"tf-TestAccApmRetentionFilterWithTraceRate-local-1744638232 - second","rate":0.1,"trace_rate":0.5,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:456 service:my-other-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1744638234,"created_by":"frog@datadoghq.com","created_at":1744638234},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 783.725125ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/pioGDzBtSm2vPO_4ck-maQ
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"pioGDzBtSm2vPO_4ck-maQ","attributes":{"name":"tf-TestAccApmRetentionFilterWithTraceRate-local-1744638232","rate":0.1,"trace_rate":0.5,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:456 service:my-other-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1744638235,"created_by":"frog@datadoghq.com","created_at":1744638235},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.113708ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/T7EprT1XSk29x5YGAMJeww
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"T7EprT1XSk29x5YGAMJeww","attributes":{"name":"tf-TestAccApmRetentionFilterWithTraceRate-local-1744638232 - second","rate":0.1,"trace_rate":0.5,"enabled":false,"filter_type":"spans-sampling-processor","filter":{"query":"error_code:456 service:my-other-service"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1744638234,"created_by":"frog@datadoghq.com","created_at":1744638234},"type":"apm_retention_filter"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.96775ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/apm/config/retention-filters/pioGDzBtSm2vPO_4ck-maQ
        method: GET
      response:
            - chunked
        body: '{"errors":["retention filter with id: ''pioGDzBtSm2vPO_4ck-maQ'' not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 254.039208ms
[...]
