---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"America/New_York","message":"Message about the downtime","monitor_identifier":{"monitor_tags":["cat:hat"]},"mute_first_recovery_notification":true,"notify_end_states":["alert","warn"],"notify_end_types":["expired"],"schedule":{"recurrences":[{"duration":"1d","rrule":"FREQ=DAILY;INTERVAL=1","start":"2042-07-13T01:02:03"},{"duration":"1w","rrule":"FREQ=DAILY;INTERVAL=12","start":"2042-07-15T01:02:03"},{"duration":"1m","rrule":"FREQ=DAILY;INTERVAL=123","start":"2042-07-17T01:02:03"}],"timezone":"America/New_York"},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring-local-1689875008)"},"type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime
    method: POST
  response:
    body: |
      {"data":{"type":"downtime","id":"f0d5849c-2724-11ee-b762-da7ad0900002","attributes":{"created":"2023-07-20T17:43:30.789233+00:00","schedule":{"current_downtime":{"end":"2042-07-14T06:02:03+00:00","start":"2042-07-13T06:02:03+00:00"},"timezone":"America/New_York","recurrences":[{"duration":"1d","rrule":"FREQ=DAILY;INTERVAL=1","start":"2042-07-13T01:02:03"},{"duration":"1w","rrule":"FREQ=DAILY;INTERVAL=12","start":"2042-07-15T01:02:03"},{"duration":"1m","rrule":"FREQ=DAILY;INTERVAL=123","start":"2042-07-17T01:02:03"}]},"notify_end_states":["alert","warn"],"modified":"2023-07-20T17:43:30.789233+00:00","display_timezone":"America/New_York","notify_end_types":["expired"],"canceled":null,"message":"Message about the downtime","mute_first_recovery_notification":true,"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring-local-1689875008)","status":"scheduled","monitor_identifier":{"monitor_tags":["cat:hat"]}},"relationships":{"created_by":{"data":{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92"}},"monitor":{"data":null}}},"included":[{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92","attributes":{"name":"Carl Martensen","handle":"carl.martensen@datadoghq.com","created_at":"2019-01-15T14:36:15.423919+00:00","modified_at":"2019-01-15T14:36:15.457748+00:00","email":"carl.martensen@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ed460c2fc567a43e34c2bd7cda76bdd1?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/downtime/f0d5849c-2724-11ee-b762-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"downtime","attributes":{"display_timezone":"America/New_York","scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicRecurring-local-1689875008)","mute_first_recovery_notification":true,"created":"2023-07-20T17:43:30.789233+00:00","monitor_identifier":{"monitor_tags":["cat:hat"]},"modified":"2023-07-20T17:43:30.789233+00:00","status":"scheduled","notify_end_states":["alert","warn"],"schedule":{"timezone":"America/New_York","recurrences":[{"duration":"1d","start":"2042-07-13T01:02:03","rrule":"FREQ=DAILY;INTERVAL=1"},{"duration":"1w","start":"2042-07-15T01:02:03","rrule":"FREQ=DAILY;INTERVAL=12"},{"duration":"1m","start":"2042-07-17T01:02:03","rrule":"FREQ=DAILY;INTERVAL=123"}],"current_downtime":{"start":"2042-07-13T06:02:03+00:00","end":"2042-07-14T06:02:03+00:00"}},"canceled":null,"message":"Message about the downtime","notify_end_types":["expired"]},"id":"f0d5849c-2724-11ee-b762-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
