---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":"established","type":"connection"}],"configVariables":[],"request":{"host":"agent-intake.logs.datadoghq.com","port":"443"}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsTCPTest_Updated-local-1759839749","options":{"min_location_failed":1,"tick_every":60},"status":"paused","subtype":"tcp","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"gj7-569-td3","name":"tf-TestAccDatadogSyntheticsTCPTest_Updated-local-1759839749","status":"paused","type":"api","subtype":"tcp","tags":["foo:bar","baz"],"created_at":"2025-10-07T12:22:31.158490+00:00","modified_at":"2025-10-07T12:22:31.158490+00:00","config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":"established","type":"connection"}],"configVariables":[],"request":{"host":"agent-intake.logs.datadoghq.com","port":"443"}},"message":"Notify @datadog.user","options":{"min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"created_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":223930901,"org_id":569509,"modified_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"creation_source":"terraform"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 585.049792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/gj7-569-td3
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"gj7-569-td3","name":"tf-TestAccDatadogSyntheticsTCPTest_Updated-local-1759839749","status":"paused","type":"api","subtype":"tcp","tags":["foo:bar","baz"],"created_at":"2025-10-07T12:22:31.158490+00:00","modified_at":"2025-10-07T12:22:31.158490+00:00","config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":"established","type":"connection"}],"configVariables":[],"request":{"host":"agent-intake.logs.datadoghq.com","port":"443"}},"message":"Notify @datadog.user","options":{"min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"monitor_id":223930901,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.9315ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/gj7-569-td3
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"gj7-569-td3","name":"tf-TestAccDatadogSyntheticsTCPTest_Updated-local-1759839749","status":"paused","type":"api","subtype":"tcp","tags":["foo:bar","baz"],"created_at":"2025-10-07T12:22:31.158490+00:00","modified_at":"2025-10-07T12:22:31.158490+00:00","config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":"established","type":"connection"}],"configVariables":[],"request":{"host":"agent-intake.logs.datadoghq.com","port":"443"}},"message":"Notify @datadog.user","options":{"min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"monitor_id":223930901,"creator":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.00175ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"lessThan","target":3000,"type":"responseTime"}],"configVariables":[],"request":{"host":"agent-intake.logs.datadoghq.com","port":"443"}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsTCPTest_Updated-local-1759839749-updated","options":{"min_location_failed":1,"tick_every":300},"status":"live","subtype":"tcp","tags":["foo:bar","baz","env:test"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/gj7-569-td3
        method: PUT
      response:
            - chunked
        body: |
            {"org_id":569509,"public_id":"gj7-569-td3","name":"tf-TestAccDatadogSyntheticsTCPTest_Updated-local-1759839749-updated","status":"live","type":"api","tags":["foo:bar","baz","env:test"],"message":"Notify @datadog.user","options":{"min_location_failed":1,"tick_every":300},"locations":["aws:eu-central-1"],"created_at":"2025-10-07T12:22:31.158490+00:00","modified_at":"2025-10-07T12:22:33.782191+00:00","config":{"assertions":[{"operator":"lessThan","target":3000,"type":"responseTime"}],"configVariables":[],"request":{"host":"agent-intake.logs.datadoghq.com","port":"443"}},"overall_state_modified":"2025-10-07T12:22:33.855889+00:00","subtype":"tcp","monitor_id":223930901,"created_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"modified_by":{"name":"Frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"overall_state":2,"creation_source":"terraform"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 502.165333ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["gj7-569-td3"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"gj7-569-td3","deleted_at":"2025-10-07T12:22:36.705995+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.389911167s
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/gj7-569-td3
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 143.981ms
