---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-TestAccDatadogOrgGroupPolicy_Basic-local-1788454863"},"type":"org_groups"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_groups
        method: POST
      response:
        body: '{"data":{"id":"01a06837-8d49-70b3-8c7b-3081adb38fa3","type":"org_groups","attributes":{"created_at":"2026-09-03T17:01:06.249Z","modified_at":"2026-09-03T17:01:06.253188Z","name":"tf-TestAccDatadogOrgGroupPolicy_Basic-local-1788454863","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 177.827041ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"01a06837-8d49-70b3-8c7b-3081adb38fa3","type":"org_groups"}}},"type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies
        method: POST
      response:
        body: '{"data":{"id":"01a06837-8de9-7ec6-908b-0776bf01b1a7","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","modified_at":"2026-09-03T17:01:06.409355Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"01a06837-8d49-70b3-8c7b-3081adb38fa3","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 124.520292ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/01a06837-8de9-7ec6-908b-0776bf01b1a7
        method: GET
      response:
        body: '{"data":{"id":"01a06837-8de9-7ec6-908b-0776bf01b1a7","type":"org_group_policies","attributes":{"content":{"org_config":false},"enforcement_tier":"OVERRIDE_ALLOWED","modified_at":"2026-09-03T17:01:06.409355Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"01a06837-8d49-70b3-8c7b-3081adb38fa3","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 135.255916ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_groups/01a06837-8d49-70b3-8c7b-3081adb38fa3
        method: GET
      response:
        body: '{"data":{"id":"01a06837-8d49-70b3-8c7b-3081adb38fa3","type":"org_groups","attributes":{"created_at":"2026-09-03T17:01:06.249Z","modified_at":"2026-09-03T17:01:06.253188Z","name":"tf-TestAccDatadogOrgGroupPolicy_Basic-local-1788454863","owner_org_site":"us1","owner_org_uuid":"ff4a8255-6931-58d1-add0-a6b3602d5421"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 122.607875ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"content":{"org_config":true},"enforcement_tier":"GROUP_MANAGED"},"id":"01a06837-8de9-7ec6-908b-0776bf01b1a7","type":"org_group_policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/org_group_policies/01a06837-8de9-7ec6-908b-0776bf01b1a7
        method: PATCH
      response:
        body: '{"data":{"id":"01a06837-8de9-7ec6-908b-0776bf01b1a7","type":"org_group_policies","attributes":{"content":{"org_config":true},"enforced_at":"2026-09-03T17:01:09.752106Z","enforcement_tier":"GROUP_MANAGED","modified_at":"2026-09-03T17:01:09.752106Z","policy_name":"is_widget_copy_paste_enabled","policy_type":"org_config"},"relationships":{"org_group":{"data":{"id":"01a06837-8d49-70b3-8c7b-3081adb38fa3","type":"org_groups"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 177.615417ms
[...]
    - id: 21
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_group_policies/01a06837-a928-7141-ae31-4d3fbd980f8a
        method: GET
      response:
        body: '{"errors":[{"status":"404","detail":"policy 01a06837-a928-7141-ae31-4d3fbd980f8a not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 118.277583ms
