---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"policy":{"tag_key":"tagKey","tag_key_required":false,"valid_tag_values":["value"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/monitor/policy
        method: POST
      response:
            - chunked
        body: '{"errors":["A configuration policy already exists for this tag key"]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 166.95675ms
