---
version: 1
interactions:
- request:
    body: |
      {"name":"tf-TestAccDatadogDashboardListDatasource-local-1682003475"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-04-20T15:11:16.214755+00:00","dashboards":null,"dashboard_count":0,"id":379581,"is_favorite":false,"modified":"2023-04-20T15:11:16.214761+00:00","name":"tf-TestAccDatadogDashboardListDatasource-local-1682003475","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/379581
    method: GET
  response:
    body: |
      {"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-04-20T15:11:16.214755+00:00","dashboards":null,"dashboard_count":0,"id":379581,"is_favorite":false,"modified":"2023-04-20T15:11:16.214761+00:00","name":"tf-TestAccDatadogDashboardListDatasource-local-1682003475","type":"manual_dashboard_list"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/379581/dashboards
    method: GET
  response:
    body: |
      {"dashboards":[],"total":0}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: GET
  response:
    body: |
      {"dashboard_lists":[{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2020-09-08T07:12:57.679027+00:00","dashboards":null,"dashboard_count":0,"id":126798,"is_favorite":true,"modified":"2020-09-09T08:48:11.523877+00:00","name":"frog's List","type":"manual_dashboard_list"},{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-03-03T15:15:04.511354+00:00","dashboards":null,"dashboard_count":0,"id":368163,"is_favorite":false,"modified":"2023-03-03T15:15:04.511361+00:00","name":"Test-Add_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/379581
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_list_id":379581}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/379581
    method: GET
  response:
    body: '{"errors":["Manual Dashboard List with id 379581 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
