---
version: 1
interactions:
- request:
    body: |
      {"client_id":"testc7f6-1234-5678-9101-3fcbf464test","client_secret":"testingx./Sw*g/Y33t..R1cH+hScMDt","host_filters":"","tenant_name":"tf-TestAccDatadogLogsArchiveAzure_basic-local-1626980030"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateAzureIntegration
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListAzureIntegration
    url: https://api.datadoghq.com/api/v1/integration/azure
    method: GET
  response:
    body: '[{"errors":["Invalid credentials. Datadog could not authenticate with Azure."],"warnings":[],"tenant_name":"tf-TestAccDatadogLogsArchiveAzure_basic-62270-1620302653","automute":false,"client_id":"testc7f6-1234-5678-9101-3fcbf464test","host_filters":""},{"errors":[],"warnings":[],"tenant_name":"tf-TestAccDatadogLogsArchiveAzure_basic-local-1626980030","automute":false,"client_id":"testc7f6-1234-5678-9101-3fcbf464test","host_filters":""},{"errors":["Invalid credentials. Datadog could not authenticate with Azure."],"warnings":[],"tenant_name":"tf-TestAccDatadogLogsArchiveAzure_basicDeprecated-62270-1620302652","automute":false,"client_id":"testc7f6-1234-5678-9101-3fcbf464test","host_filters":""},{"errors":["Invalid credentials. Datadog could not authenticate with Azure."],"warnings":[],"tenant_name":"Test-Go-TestAzureListandDelete-1620302652","automute":false,"client_id":"testc7f6-1234-5678-9101-tt1620302652","host_filters":""},{"errors":["Invalid credentials. Datadog could not authenticate with Azure."],"warnings":[],"tenant_name":"Test-Go-TestUpdateAzureAccount-1620842745-updated","automute":false,"client_id":"testc7f6-1234-5678-9101-uu1620842745","host_filters":"test:foo,test:bar"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"destination":{"container":"my-container","integration":{"client_id":"testc7f6-1234-5678-9101-3fcbf464test","tenant_id":"tf-TestAccDatadogLogsArchiveAzure_basic-local-1626980030"},"path":"/path/blou","storage_account":"storageaccount","type":"azure"},"include_tags":false,"name":"my first azure archive","query":"service:toto","rehydration_tags":[]},"type":"archives"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsArchive
    url: https://api.datadoghq.com/api/v2/logs/config/archives
    method: POST
  response:
    body: '{"data":{"type":"archives","id":"FzRysuEKRC60SdGQPQFMBw","attributes":{"name":"my first azure archive","query":"service:toto","state":"UNKNOWN","destination":{"container":"my-container","storage_account":"storageaccount","path":"/path/blou","type":"azure","integration":{"tenant_id":"tf-TestAccDatadogLogsArchiveAzure_basic-local-1626980030","client_id":"testc7f6-1234-5678-9101-3fcbf464test"}},"rehydration_tags":[],"include_tags":false}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "29"
      X-Ratelimit-Reset:
      - "7"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetLogsArchive
    url: https://api.datadoghq.com/api/v2/logs/config/archives/FzRysuEKRC60SdGQPQFMBw
    method: GET
  response:
    body: '{"data":{"type":"archives","id":"FzRysuEKRC60SdGQPQFMBw","attributes":{"name":"my first azure archive","query":"service:toto","state":"UNKNOWN","destination":{"container":"my-container","storage_account":"storageaccount","path":"/path/blou","type":"azure","integration":{"tenant_id":"tf-TestAccDatadogLogsArchiveAzure_basic-local-1626980030","client_id":"testc7f6-1234-5678-9101-3fcbf464test"}},"rehydration_tags":[],"include_tags":false}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "30"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "28"
      X-Ratelimit-Reset:
      - "7"
    status: 200 OK
    code: 200
    duration: ""
[...]
