---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackTraceService-local-1758619070","type":"group","widgets":[{"definition":{"display_format":"three_column","env":"datadog.com","service":"alerting-cassandra","show_breakdown":true,"show_distribution":true,"show_errors":true,"show_hits":true,"show_latency":false,"show_resource_list":false,"size_format":"large","span_name":"cassandra.query","title":"alerting-cassandra #env:datadog.com","title_align":"center","title_size":"13","type":"trace_service"}}]},"live_span":"4h"},"name":"tf-TestAccDatadogPowerpackTraceService-local-1758619070","tags":["tag:foo1"],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/powerpacks
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"2dfdc242-985e-11f0-a7b7-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackTraceService-local-1758619070","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackTraceService-local-1758619070","type":"group","widgets":[{"definition":{"display_format":"three_column","env":"datadog.com","service":"alerting-cassandra","show_breakdown":true,"show_distribution":true,"show_errors":true,"show_hits":true,"show_latency":false,"show_resource_list":false,"size_format":"large","span_name":"cassandra.query","title":"alerting-cassandra #env:datadog.com","title_align":"center","title_size":"13","type":"trace_service"},"id":8926096302509847}]},"live_span":"4h","layout":{"width":12,"height":1,"x":0,"y":0}},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","email":"frog@datadoghq.com"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 225.822292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/powerpacks/2dfdc242-985e-11f0-a7b7-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"powerpack","id":"2dfdc242-985e-11f0-a7b7-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackTraceService-local-1758619070","description":"Created using the Datadog provider in Terraf[...]
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/powerpacks/2dfdc242-985e-11f0-a7b7-da7ad0900002
        method: GET
      response:
            - chunked
        body: '{"errors":["Powerpack with ID 2dfdc242-985e-11f0-a7b7-da7ad0900002 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 248.30825ms
