---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["add-metric-tags-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"add-metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"add-metric-tags-processor","include":"*","tags":[{"name":"env","value":"prod"},{"name":"team","value":"obs-pipelines"}],"type":"add_metric_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"add metric tags processor test"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"4b5c0ff0-5592-11f1-a15e-da7ad0900001","type":"pipelines","attributes":{"name":"add metric tags processor test","config":{"destinations":[{"id":"destination-1","inputs":["add-metric-tags-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"add-metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"add-metric-tags-processor","include":"*","tags":[{"name":"env","value":"prod"},{"name":"team","value":"obs-pipelines"}],"type":"add_metric_tags"}]}],"processors":[{"enabled":true,"id":"add-metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"add-metric-tags-processor","include":"*","tags":[{"name":"env","value":"prod"},{"name":"team","value":"obs-pipelines"}],"type":"add_metric_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 339.654318ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/obs-pipelines/pipelines/4b5c0ff0-5592-11f1-a15e-da7ad0900001
        method: GET
      response:
        body: |
            {"data":{"id":"4b5c0ff0-5592-11f1-a15e-da7ad0900001","type":"pipelines","attributes":{"name":"add metric tags processor test","config":{"destinations":[{"id":"destination-1","inputs":["add-metric-tags-group-1"],"type":"datadog_metrics"}],"pipeline_type":"metrics","processor_groups":[{"enabled":true,"id":"add-metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"add-metric-tags-processor","include":"*","tags":[{"name":"env","value":"prod"},{"name":"team","value":"obs-pipelines"}],"type":"add_metric_tags"}]}],"processors":[{"enabled":true,"id":"add-metric-tags-group-1","include":"*","inputs":["source-1"],"processors":[{"enabled":true,"id":"add-metric-tags-processor","include":"*","tags":[{"name":"env","value":"prod"},{"name":"team","value":"obs-pipelines"}],"type":"add_metric_tags"}]}],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 152.939431ms
[...]
