---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"aggregations":[{"space":"avg","time":"avg"},{"space":"sum","time":"sum"}],"metric_type":"gauge","tags":[]},"id":"tf_TestAccDatadogMetricTagConfiguration_Error_local_1618930539","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/metrics/tf_TestAccDatadogMetricTagConfiguration_Error_local_1618930539/tags
    method: POST
  response:
    body: |
      {"status":"error","code":403,"errors":["Forbidden"],"statuspage":"http://status.datadoghq.com","twitter":"http://twitter.com/datadogops","email":"support@datadoghq.com"}
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
