---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/app_key_registrations/22222222-2222-2222-2222-222222222222
        method: PUT
      response:
        body: '{"data":{"id":"22222222-2222-2222-2222-222222222222","type":"app_key_registration"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 106.873667ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/app_key_registrations/22222222-2222-2222-2222-222222222222
        method: GET
      response:
        body: '{"errors":[{"detail":"app key not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 60.156625ms
