---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/org
        method: GET
      response:
            - chunked
        body: |
            {"orgs":[{"public_id":"fasjyydbcgwwc2uc","name":"DD Integration Tests (321813)","description":null,"created":"2019-08-13 19:50:19","subscription":{"id":null,"billing_plan_id":8,"started":1565726073,"expires":null,"finished":null,"type":"dogfood","is_custom":false,"is_trial":false,"is_expired":true},"billing":{"type":"parent_billing"},"settings":{"default_landing_page":"APM Home","saml":{"enabled":false},"saml_can_be_enabled":true,"saml_login_url":null,"saml_idp_metadata_uploaded":true,"saml_idp_endpoint":"http://localhost:8088/sso/post","saml_idp_metadata_valid_until":null,"custom_landing_page":null,"saml_idp_initiated_login":{"enabled":false},"saml_strict_mode":{"enabled":false},"saml_autocreate_access_role":"st","saml_autocreate_users_domains":{"enabled":false,"domains":[]},"private_widget_share":false,"manage_reports":"false"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.760583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"name":"tf-plugin-test-update-784646869","settings":{"private_widget_share":false,"saml":{"enabled":false},"saml_autocreate_users_domains":{"domains":[],"enabled":false},"saml_idp_initiated_login":{"enabled":false},"saml_strict_mode":{"enabled":false}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/org/fasjyydbcgwwc2uc
        method: PUT
      response:
            - chunked
        body: |
            {"org":{"public_id":"fasjyydbcgwwc2uc","name":"tf-plugin-test-update-784646869","description":null,"created":"2019-08-13 19:50:19","subscription":{"id":null,"billing_plan_id":8,"started":1565726073,"expires":null,"finished":null,"type":"dogfood","is_custom":false,"is_trial":false,"is_expired":true},"billing":{"type":"parent_billing"},"settings":{"default_landing_page":"APM Home","saml":{"enabled":false},"saml_can_be_enabled":true,"saml_login_url":null,"saml_idp_metadata_uploaded":true,"saml_idp_endpoint":"http://localhost:8088/sso/post","saml_idp_metadata_valid_until":null,"custom_landing_page":null,"saml_idp_initiated_login":{"enabled":false},"saml_strict_mode":{"enabled":false},"saml_autocreate_access_role":"st","saml_autocreate_users_domains":{"enabled":false,"domains":[]},"private_widget_share":false,"manage_reports":"false"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 633.945625ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/org_configs/security_contacts
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"org_configs","id":"19f80517-ad4d-5390-942a-d24529f30ffe","attributes":{"name":"security_contacts","description":"List of emails for security event notifications of an organization","value_type":"security_contacts_list","value":[],"modified_at":"2026-07-21T12:27:54.065443+00:00"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.264167ms
[...]
