---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"policy":{"tag_key":"tagkey69416479","tag_key_required":false,"valid_tag_values":["value"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/monitor/policy
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-config-policy","id":"7f0393e3-ae75-4687-a35f-3402119483e0","attributes":{"policy_type":"tag","policy":{"tag_key_required":false,"tag_key":"tagkey69416479","valid_tag_values":["value"]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 438.173209ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/monitor/policy/7f0393e3-ae75-4687-a35f-3402119483e0
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key_required":false,"valid_tag_values":["value"],"tag_key":"tagkey69416479"},"policy_type":"tag"},"id":"7f0393e3-ae75-4687-a35f-3402119483e0"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.478333ms
[...]
