---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardAlertGraph-local-1615214310","widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"}},{"definition":{"alert_id":"895606","time":{"live_span":"1h"},"title":"Widget Title","title_align":"right","title_size":"16","type":"alert_graph","viz_type":"toplist"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"kke-gh5-fvb","title":"tf-TestAccDatadogDashboardAlertGraph-local-1615214310","url":"/dashboard/kke-gh5-fvb/tf-testaccdatadogdashboardalertgraph-local-1615214310","created_at":"2021-03-08T14:38:33.290072+00:00","modified_at":"2021-03-08T14:38:33.290072+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"},"id":3888363429623789},{"definition":{"title_size":"16","viz_type":"toplist","title":"Widget Title","title_align":"right","alert_id":"895606","time":{"live_span":"1h"},"type":"alert_graph"},"id":2492579613739181}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      X-Dd-Version:
      - "35.4051376"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/kke-gh5-fvb
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"kke-gh5-fvb","title":"tf-TestAccDatadogDashboardAlertGraph-local-1615214310","url":"/dashboard/kke-gh5-fvb/tf-testaccdatadogdashboardalertgraph-local-1615214310","created_at":"2021-03-08T14:38:33.290072+00:00","modified_at":"2021-03-08T14:38:33.290072+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"895605","type":"alert_graph","viz_type":"timeseries"},"id":3888363429623789},{"definition":{"title_size":"16","viz_type":"toplist","title":"Widget Title","title_align":"right","alert_id":"895606","time":{"live_span":"1h"},"type":"alert_graph"},"id":2492579613739181}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      X-Dd-Version:
      - "35.4051376"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/kke-gh5-fvb
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"kke-gh5-fvb"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      X-Dd-Version:
      - "35.4051376"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/kke-gh5-fvb
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID kke-gh5-fvb not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4051376"
    status: 404 Not Found
    code: 404
    duration: ""
