---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-2"],"type":"datadog_logs"}],"sources":[{"id":"opentelemetry-source-2","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/otel.crt","key_file":"/etc/ssl/private/otel.key"},"type":"opentelemetry"}]},"name":"opentelemetry-pipeline-tls"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"b07efbdc-8fc1-11f0-807c-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-pipeline-tls","config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-2"],"type":"datadog_logs"}],"processors":[],"sources":[{"id":"opentelemetry-source-2","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/otel.crt","key_file":"/etc/ssl/private/otel.key"},"type":"opentelemetry"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 619.713875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/b07efbdc-8fc1-11f0-807c-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"b07efbdc-8fc1-11f0-807c-da7ad0900002","type":"pipelines","attributes":{"name":"opentelemetry-pipeline-tls","config":{"destinations":[{"id":"destination-1","inputs":["opentelemetry-source-2"],"type":"datadog_logs"}],"processors":[],"sources":[{"id":"opentelemetry-source-2","tls":{"ca_file":"/etc/ssl/certs/ca.crt","crt_file":"/etc/ssl/certs/otel.crt","key_file":"/etc/ssl/private/otel.key"},"type":"opentelemetry"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 265.931583ms
[...]
