---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"exclusion_filters":[],"filter":{"query":"project:sample"},"name":"tf-testaccdatadoglogsindexesorderdatasource-local-1771508931-sample","tags":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs/config/indexes
        method: POST
      response:
            - chunked
        body: |
            {"name":"tf-testaccdatadoglogsindexesorderdatasource-local-1771508931-sample","filter":{"query":"project:sample"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"tags":[],"num_flex_logs_retention_days":0}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 673.007917ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/index-order
        method: GET
      response:
            - chunked
        body: |
            {"index_names":["main","test-index","test-index-2","tf-testaccdatadoglogsindex-basic-local-1627305201","name","nonexistent","tf-testaccdatadoglogsindex-basic-local-1725992495","tf-testaccdatadoglogsindex-basic-local-1754932644","tf-testaccdatadoglogsindexesorderdatasource-local-1757636869-sample","tf-testaccdatadoglogsindexesorderdatasource-local-1765845565-sample","tf-testaccdatadoglogsindexesorderdatasource-local-1766406721-sample","tf-testaccdatadoglogsindexesorderdatasource-local-1767443293-sample","tf-testaccdatadoglogsindexesorderdatasource-local-1767616228-sample","tf-testaccdatadoglogsindexesorderdatasource-local-1768566896-sample","tf-testaccdatadoglogsindexesorderdatasource-local-1768783483-sample","tf-testaccdatadoglogsindexesorderdatasource-local-1770114437-sample","tf-testaccdatadoglogsindex-basic-local-1770191290","tf-testaccdatadoglogsindex-basic-local-1770887224","tf-testaccdatadoglogsindexesorderdatasource-local-1771508919-sample"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.086134417s
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindexesorderdatasource-local-1771508931-sample
        method: GET
      response:
            - chunked
        body: |
            {"name":"tf-testaccdatadoglogsindexesorderdatasource-local-1771508931-sample","filter":{"query":"project:sample"},"num_retention_days":15,"daily_limit":null,"is_rate_limited":false,"daily_limit_reset":null,"daily_limit_warning_threshold_percentage":null,"exclusion_filters":[],"tags":[],"num_flex_logs_retention_days":0}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.5465ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/indexes/tf-testaccdatadoglogsindexesorderdatasource-local-1771508931-sample
        method: GET
      response:
            - chunked
        body: |
            {"error":{"code":"NotFound","message":"No such index"}}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 5.808968833s
[...]
