---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateWithRules-local-1765464381","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"7d5ebbaa-77bb-401e-9c1a-cd0b0ffc68a5","type":"deployment_gate","attributes":{"created_at":"2025-12-11T14:46:23.240173Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateWithRules-local-1765464381","service":"my-service","updated_at":"2025-12-11T14:46:23.240173Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 242.032333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"fdd_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/7d5ebbaa-77bb-401e-9c1a-cd0b0ffc68a5/rules
        method: POST
      response:
        body: '{"data":{"id":"38ef6c2c-e0ad-48ab-a207-a0ca023076bb","type":"deployment_rule","attributes":{"created_at":"2025-12-11T14:46:23.503651Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"7d5ebbaa-77bb-401e-9c1a-cd0b0ffc68a5","name":"fdd_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-11T14:46:23.503651Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 181.855375ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":true,"name":"monitor_rule","options":{"duration":300,"query":"test_query"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/7d5ebbaa-77bb-401e-9c1a-cd0b0ffc68a5/rules
        method: POST
      response:
        body: '{"data":{"id":"bc19c9f5-28c8-4a40-b930-4179960fcac7","type":"deployment_rule","attributes":{"created_at":"2025-12-11T14:46:23.680581Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"gate_id":"7d5ebbaa-77bb-401e-9c1a-cd0b0ffc68a5","name":"monitor_rule","options":{"query":"test_query","duration":300},"type":"monitor","updated_at":"2025-12-11T14:46:23.680581Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 151.860375ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/7d5ebbaa-77bb-401e-9c1a-cd0b0ffc68a5
        method: GET
      response:
        body: '{"data":{"id":"7d5ebbaa-77bb-401e-9c1a-cd0b0ffc68a5","type":"deployment_gate","attributes":{"created_at":"2025-12-11T14:46:23.240173Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateWithRules-local-1765464381","service":"my-service","updated_at":"2025-12-11T14:46:23.240173Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 350.088708ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/7d5ebbaa-77bb-401e-9c1a-cd0b0ffc68a5/rules
        method: GET
      response:
        body: '{"data":{"id":"7d5ebbaa-77bb-401e-9c1a-cd0b0ffc68a5","type":"list_deployment_rules","attributes":{"rules":[{"id":"38ef6c2c-e0ad-48ab-a207-a0ca023076bb","name":"fdd_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-11T14:46:23.503651Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-11T14:46:23.503651Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"7d5ebbaa-77bb-401e-9c1a-cd0b0ffc68a5","options":{"duration":1300}},{"id":"bc19c9f5-28c8-4a40-b930-4179960fcac7","name":"monitor_rule","type":"monitor","dry_run":true,"created_at":"2025-12-11T14:46:23.680581Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-11T14:46:23.680581Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"7d5ebbaa-77bb-401e-9c1a-cd0b0ffc68a5","options":{"query":"test_query","duration":300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 160.374458ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/7d5ebbaa-77bb-401e-9c1a-cd0b0ffc68a5/rules/38ef6c2c-e0ad-48ab-a207-a0ca023076bb
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 135.01175ms
[...]
