---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"level":2,"name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-other","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-scorecard"},"type":"rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/scorecard/rules
        method: POST
      response:
        body: '{"data":{"id":"83etm8i554kenfv1","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-scorecard","created_at":"2026-03-11T21:49:44.337683702Z","custom":true,"enabled":true,"level":2,"modified_at":"2026-03-11T21:49:44.337683702Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-other","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-scorecard"},"relationships":{"scorecard":{"data":{"id":"-JWsh-V9c-I0","type":"scorecard"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 178.49375ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bname%5D=tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-matching&page%5Boffset%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: '{"data":[{"id":"tb0rpc5kb6jkxm48","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-scorecard","created_at":"2026-03-11T21:49:44.335266Z","custom":true,"enabled":true,"level":1,"modified_at":"2026-03-11T21:49:44.335266Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-matching","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-scorecard"},"relationships":{"scorecard":{"data":{"id":"-JWsh-V9c-I0","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bname%5D=tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-matching\u0026page%5Blimit%5D=100\u0026page%5Boffset%5D=100\u0026page%5Bsize%5D=100"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 50.529709ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=tb0rpc5kb6jkxm48&page%5Bsize%5D=1
        method: GET
      response:
        body: '{"data":[{"id":"tb0rpc5kb6jkxm48","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-scorecard","created_at":"2026-03-11T21:49:44.335266Z","custom":true,"enabled":true,"level":1,"modified_at":"2026-03-11T21:49:44.335266Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-matching","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-scorecard"},"relationships":{"scorecard":{"data":{"id":"-JWsh-V9c-I0","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=tb0rpc5kb6jkxm48\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1\u0026page%5Bsize%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 34.397625ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=83etm8i554kenfv1&page%5Bsize%5D=1
        method: GET
      response:
        body: '{"data":[{"id":"83etm8i554kenfv1","type":"rule","attributes":{"category":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-scorecard","created_at":"2026-03-11T21:49:44.337683Z","custom":true,"enabled":true,"level":2,"modified_at":"2026-03-11T21:49:44.337683Z","name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-other","scorecard_name":"tf-TestAccDatadogScorecardRulesDataSource_FilterName-local-1773265782-scorecard"},"relationships":{"scorecard":{"data":{"id":"-JWsh-V9c-I0","type":"scorecard"}}}}],"links":{"next":"/api/v2/scorecard/rules?filter%5Brule%5D%5Bid%5D=83etm8i554kenfv1\u0026page%5Blimit%5D=1\u0026page%5Boffset%5D=1\u0026page%5Bsize%5D=1"}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 34.374625ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules/83etm8i554kenfv1
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 607.301834ms
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/scorecard/rules/tb0rpc5kb6jkxm48
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 868.536459ms
[...]
