---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":1,"type":"grpcHealthcheckStatus"},{"operator":"is","target":"proto target","type":"grpcProto"},{"operator":"is","property":"property","target":"123","type":"grpcMetadata"}],"configVariables":[],"request":{"compressedProtoFile":"eJx0kLFOwzAQhl/llAW6JEKMVWc6MCCK1MVSZNxr6uKczZ1dGlV9d+SkKSmIKdLl/+/7fIV0FPURFqCKwD76R1XMFSnyIVpPsNcHXbfJRRsc1lvrUGABkRPObzNBmw/dYL/I+rLhYEo86jY4lHKHzvkvz27Tb5/2fIrItXFahHQ79Jc5vs7xl6w07fj3vRnSdWDc2sF8+by+aI8aP8R+XFXwtkNoGDFaakCQD9YgbHBryebNpaJx+JRTyHBSBFBVsELaCOhrO485GFjprjeF+/7zip8JJc6AMSYmuY6D62ZwOis6T1R4SEOLIlnYeIraUpaLO4QkyHcC+SSlojE05Qx6EjlXLqd7mP+GSPAk+B9lfJH8QQTX3QDG31dG8R0AAP//k3vPfw==","host":"google.com","metadata":{"header":"value"},"method":"GET","port":50050,"service":"Hello","timeout":60}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1719304998","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"status":"paused","subtype":"grpc","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"36u-st9-ka6","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1719304998","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-06-25T08:43:21.080668+00:00","modified_at":"2024-06-25T08:43:21.080668+00:00","config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":1,"type":"grpcHealthcheckStatus"},{"operator":"is","target":"proto target","type":"grpcProto"},{"operator":"is","property":"property","target":"123","type":"grpcMetadata"}],"configVariables":[],"request":{"compressedProtoFile":"eJx0kLFOwzAQhl/llAW6JEKMVWc6MCCK1MVSZNxr6uKczZ1dGlV9d+SkKSmIKdLl/+/7fIV0FPURFqCKwD76R1XMFSnyIVpPsNcHXbfJRRsc1lvrUGABkRPObzNBmw/dYL/I+rLhYEo86jY4lHKHzvkvz27Tb5/2fIrItXFahHQ79Jc5vs7xl6w07fj3vRnSdWDc2sF8+by+aI8aP8R+XFXwtkNoGDFaakCQD9YgbHBryebNpaJx+JRTyHBSBFBVsELaCOhrO485GFjprjeF+/7zip8JJc6AMSYmuY6D62ZwOis6T1R4SEOLIlnYeIraUpaLO4QkyHcC+SSlojE05Qx6EjlXLqd7mP+GSPAk+B9lfJH8QQTX3QDG31dG8R0AAP//k3vPfw==","host":"google.com","metadata":{"header":"value"},"method":"GET","port":50050,"service":"Hello","timeout":60}},"message":"Notify @datadog.user","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"subtype":"grpc","created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":147860159,"org_id":321813,"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 762.378916ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/36u-st9-ka6
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"36u-st9-ka6","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1719304998","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-06-25T08:43:21.080668+00:00","modified_at":"2024-06-25T[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/36u-st9-ka6
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"36u-st9-ka6","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1719304998","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-06-25T08:43:21.080668+00:00","modified_at":"2024-06-25T08:4[...]
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/36u-st9-ka6
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"36u-st9-ka6","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1719304998","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-06-25T08:43:21.080668+00:00","modified_at":"2024-06-25T08:43:24.645055+00:00","config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":1,"type":"grpcHealthcheckStatus"}],"configVariables":[],"request":{"host":"google.com","metadata":{"header":"value-updated"},"method":"GET","port":50050,"service":"","timeout":60}},"message":"Notify @datadog.user","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"subtype":"grpc","monitor_id":147860159,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 143.216916ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["36u-st9-ka6"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"36u-st9-ka6","deleted_at":"2024-06-25T08:43:27.413503+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 800.063041ms
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/36u-st9-ka6
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 130.22525ms
