---
version: 1
interactions:
- request:
    body: |
      {"account_id":"569948102559","account_specific_namespace_rules":{},"cspm_resource_collection_enabled":false,"excluded_regions":[],"filter_tags":[],"host_tags":[],"metrics_collection_enabled":true,"resource_collection_enabled":false,"role_name":"testacc-datadog-integration-role"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: POST
  response:
    body: |
      {"external_id":"c9ca7ac0443b46ecbe381ad684878f6b"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/aws
    method: GET
  response:
    body: |
      {"accounts":[{"account_id":"569948102559","role_name":"testacc-datadog-integration-role","filter_tags":[],"host_tags":[],"account_specific_namespace_rules":{},"excluded_regions":[],"metrics_collection_enabled":true,"errors":[],"cspm_resource_collection_enabled":false,"extended_resource_collection_enabled":false,"resource_collection_enabled":false},{"account_id":"601427279990","role_name":"datadog-aws-integration-role","filter_tags":["key:value"],"host_tags":["key:value","key2:value2"],"account_specific_namespace_rules":{"lambda":false,"vpn":false,"iot":false,"mwaa":false,"dynamodb":false,"ebs":false,"dms":false,"route53resolver":false,"firehose":false,"sagemakerendpoints":false,"certificatemanager":false,"ses":false,"kinesis_analytics":false,"ecr":false,"elasticbeanstalk":false,"workspaces":false,"inspector":false,"gamelift":false,"polly":false,"dynamodbaccelerator":false,"translate":false,"directconnect":false,"kinesis":false,"documentdb":false,"bedrock":false,"textract":false,"codewhisperer":false,"sagemakerworkteam":false,"privatelinkservices":false,"cloudfront":false,"backup":false,"rdsproxy":false,"privatelinkendpoints":false,"sagemakertransformjobs":false,"lex":false,"trusted_advisor":false,"shield":false,"ml":false,"sagemaker":false,"swf":false,"athena":false,"redshift":false,"wafv2":false,"efs":false,"sagemakerprocessingjobs":false,"connect":false,"ec2spot":false,"elb":false,"cognito":false,"sagemakertrainingjobs":false,"glue":false,"elastictranscoder":false,"mediaconvert":false,"mq":false,"route53":false,"network_elb":false,"sagemakerlabelingjobs":false,"ecs":false,"budgeting":false,"service_quotas":false,"s3":false,"apprunner":false,"cloudwatch_events":false,"codebuild":false,"mediapackage":false,"ec2":false,"appsync":false,"fsx":false,"medialive":false,"waf":false,"usage":false,"application_elb":false,"cloudhsm":false,"mediaconnect":false,"msk":false,"sns":false,"neptune":false,"storage_gateway":false,"transitgateway":false,"billing":false,"mediatailor":false,"auto_scaling":false,"networkfirewall":false,"opsworks":false,"appstream":false,"api_gateway":false,"nat_gateway":false,"elasticinference":false,"es":false,"xray":false,"ec2api":false,"rekognition":false,"elasticache":false,"cloudwatch_logs":false,"sagemakermodelbuildingpipeline":false,"keyspaces":false,"s3storagelens":false,"cloudsearch":false,"mediastore":false,"kms":false,"rds":false,"step_functions":false},"excluded_regions":["us-east-1","us-west-2"],"metrics_collection_enabled":true,"errors":["Datadog is not authorized to perform action sts:AssumeRole\nAccount affected: 601427279990\nRegions affected: every region\nError was last seen 1m ago"],"cspm_resource_collection_enabled":false,"extended_resource_collection_enabled":false,"resource_collection_enabled":false}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"account_id":"569948102559","create_event_bus":false,"event_generator_name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1703197666","region":"us-east-1"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/aws/event_bridge
    method: POST
  response:
    body: |
      {"event_source_name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1703197666-qfx7ahy3","status":"created","region":"us-east-1","has_bus":false}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/integration/aws/event_bridge
    method: GET
  response:
    body: |
      {"accounts":[{"accountId":"569948102559","tags":[],"eventHubs":[{"name":"tf-TestAccIntegrationAwsEventBridgeBasic-local-1703197666-qfx7ahy3","region":"us-east-1"}]},{"accountId":"601427279990","tags":["key:value","key2:value2"],"eventHubs":[{"name":"testadsfadsf-katie-tv2bxh6b","region":"us-east-1"},{"name":"terraform-test-12-tv2bxh6b","region":"us-east-1"}]}],"isInstalled":true}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
