---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"test-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:test"},"reference_table":null}]},"id":"tf-test-tag-ruleset-tf-TestAccDatadogTagPipelineRuleset_Update-local-1759254156","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"9bab9b92-e4d4-4f20-a829-e831289eff43","type":"ruleset","attributes":{"created":{"seconds":1759254158,"nanos":225553000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759254158,"nanos":225553000},"name":"tf-test-tag-ruleset-tf-TestAccDatadogTagPipelineRuleset_Update-local-1759254156","position":6,"rules":[{"name":"test-rule","enabled":true,"query":{"query":"service:test","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3608134}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 228.254834ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/9bab9b92-e4d4-4f20-a829-e831289eff43
        method: GET
      response:
        body: '{"data":{"id":"9bab9b92-e4d4-4f20-a829-e831289eff43","type":"ruleset","attributes":{"created":{"seconds":1759254158,"nanos":225553000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759254158,"nanos":225553000},"name":"tf-test-tag-ruleset-tf-TestAccDatadogTagPipelineRuleset_Update-local-1759254156","position":6,"processing_status":"error","rules":[{"name":"test-rule","enabled":true,"query":{"query":"service:test","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3608134}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 181.371208ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"last_version":3608134,"name":"tf-test-updated-ruleset-tf-TestAccDatadogTagPipelineRuleset_Update-local-1759254156","rules":[{"enabled":true,"mapping":{"destination_key":"environment","if_not_exists":false,"source_keys":["env"]},"name":"updated-rule","query":null,"reference_table":null},{"enabled":false,"mapping":null,"name":"new-rule","query":{"addition":{"key":"tier","value":"backend"},"case_insensitivity":false,"if_not_exists":false,"query":"service:updated-service"},"reference_table":null}]},"type":"update_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/9bab9b92-e4d4-4f20-a829-e831289eff43[...]
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/9bab9b92-e4d4-4f20-a829-e831289eff43
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset 9bab9b92-e4d4-4f20-a829-e831289eff43 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 38.421625ms
