---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"my group","product_list":["logs"]},"type":"sensitive_data_scanner_group"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
    method: POST
  response:
    body: |
      {"data":{"id":"RGb6nLmKRPutr2vZaB7u_w","attributes":{"name":"my group","is_enabled":true,"filter":{"query":"*"},"product_list":["logs"],"description":""},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":23413}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1677514742","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"RGb6nLmKRPutr2vZaB7u_w","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
    method: POST
  response:
    body: |
      {"data":{"id":"8_o583AAQ9KO1y9epDjdfA","attributes":{"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1677514742","namespaces":[],"excluded_namespaces":["username"],"pattern":"regex","text_replacement":{"type":"none"},"tags":["sensitive_data:true"],"is_enabled":true,"description":"a description"},"type":"sensitive_data_scanner_rule","relationships":{"group":{"data":{"id":"RGb6nLmKRPutr2vZaB7u_w","type":"sensitive_data_scanner_group"}}}},"meta":{"version":23414}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
    method: GET
  response:
    body: |
      {"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","attributes":{},"type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"FRGOAgK0QQexGtcNB4tFEA","type":"sensitive_data_scanner_group"},{"id":"AlBWHVPvSuWffOTr10RyTQ","type":"sensitive_data_scanner_group"},{"id":"VlMk-S9_Q920mKv7rorGtQ","type":"sensitive_data_scanner_group"},{"id":"0rHOKGvjQOyi6wESOdCmYw","type":"sensitive_data_scanner_group"},{"id":"YBa1RrNPRleAXU8c-P1SDg","type":"sensitive_data_scanner_group"},{"id":"RGb6nLmKRPutr2vZaB7u_w","type":"sensitive_data_scanner_group"}]}}},"meta":{"version":23414,"count_limit":100,"group_count_limit":20,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true},"included":[{"id":"FRGOAgK0QQexGtcNB4tFEA","attributes":{"name":"Example-Update_Scanning_Group_returns_OK_response_1675112048","is_enabled":false,"filter":{"query":"*"},"product_list":["logs"]},"type":"sensitive_data_scanner_group","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},{"id":"AlBWHVPvSuWffOTr10RyTQ","attributes":{"name":"Example-Update_Scanning_Group_returns_OK_r[...]
[...]
- request:
    body: |
      {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1677514742","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"id":"8_o583AAQ9KO1y9epDjdfA","type":"sensitive_data_scanner_rule"},"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/8_o583AAQ9KO1y9epDjdfA
    method: PATCH
  response:
    body: |
      {"meta":{"version":23415}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"meta":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/RGb6nLmKRPutr2vZaB7u_w
    method: DELETE
  response:
    body: |
      {"meta":{"version":23417}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
