---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"Add Team Tag","query":{"addition":{"key":"team","value":"backend"},"case_insensitivity":true,"if_not_exists":true,"query":"service:web-api"},"reference_table":null}]},"id":"tf-TestAccDatadogTagPipelineRulesetDataSource_Basic-local-1758197761","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"3ea9b46e-c0b1-4ce8-a611-ff6b300de5c8","type":"ruleset","attributes":{"created":{"seconds":1758197763,"nanos":360527000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758197763,"nanos":360527000},"name":"tf-TestAccDatadogTagPipelineRulesetDataSource_Basic-local-1758197761","position":11,"rules":[{"name":"Add Team Tag","enabled":true,"query":{"query":"service:web-api","addition":{"key":"team","value":"backend"},"if_not_exists":true,"case_insensitivity":true},"mapping":null,"reference_table":null,"metadata":null}],"version":3604080}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 391.330792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/3ea9b46e-c0b1-4ce8-a611-ff6b300de5c8
        method: GET
      response:
        body: '{"data":{"id":"3ea9b46e-c0b1-4ce8-a611-ff6b300de5c8","type":"ruleset","attributes":{"created":{"seconds":1758197763,"nanos":360527000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758197763,"nanos":360527000},"name":"tf-TestAccDatadogTagPipelineRulesetDataSource_Basic-local-1758197761","position":11,"rules":[{"name":"Add Team Tag","enabled":true,"query":{"query":"service:web-api","addition":{"key":"team","value":"backend"},"if_not_exists":true,"case_insensitivity":true},"mapping":null,"reference_table":null,"metadata":null}],"version":3604080}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 59.125833ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/3ea9b46e-c0b1-4ce8-a611-ff6b300de5c8
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset 3ea9b46e-c0b1-4ce8-a611-ff6b300de5c8 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 60.745625ms
[...]
