---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a fido global variable","is_fido":true,"is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_BASIC_LOCAL_1741269872","tags":["fido:bar","fido"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"12913f77-675f-4c09-9909-57756c0479a0","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_BASIC_LOCAL_1741269872","description":"a fido global variable","type":"variable","tags":["fido:bar","fido"],"last_error":null,"is_fido":true,"value":{"secure":true}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 474.51175ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/12913f77-675f-4c09-9909-57756c0479a0
        method: GET
      response:
            - chunked
        body: |
            {"id":"12913f77-675f-4c09-9909-57756c0479a0","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLEFIDO_BASIC_LOCAL_1741269872","description":"a fido global variable","type":"variable","tags":["fido:bar","fido"],"created_at":"2025-03-06T14:04:36.865666+00:00","modified_at":"2025-03-06T14:04:36.865666+00:00","last_error":null,"is_fido":true,"value":{"secure":true},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.674709ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/12913f77-675f-4c09-9909-57756c0479a0
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 151.022ms
