---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"account_id":"495656971024","account_specific_namespace_rules":{},"cspm_resource_collection_enabled":false,"excluded_regions":[],"extended_resource_collection_enabled":false,"filter_tags":[],"host_tags":[],"metrics_collection_enabled":true,"resource_collection_enabled":false,"role_name":"testacc-datadog-integration-role"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: POST
      response:
            - chunked
        body: |
            {"external_id":"753f91de925b4f18b033c37be3e36794"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.53339025s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/integration/aws
        method: GET
      response:
            - chunked
        body: |
            {"accounts":[{"account_id":"000000000000","role_name":"asdfghjkl","filter_tags":[],"host_tags":[],"account_specific_namespace_rules":{},"excluded_regions":[],"metrics_collection_enabled":true,"errors":["Datadog is not authorized to perform action sts:AssumeRole\nAccount affected: 000000000000\nRegions affected: every region\nError was last seen 1m ago"],"cspm_resource_collection_enabled":false,"extended_resource_collection_enabled":true,"resource_collection_enabled":false},{"access_key_id":"AKIAIOSFODNN7EXAMPLE","filter_tags":["key:value"],"host_tags":["key:value"],"account_specific_namespace_rules":{"crawl_alarms":true,"collect_custom_metrics":true},"excluded_regions":[],"metrics_collection_enabled":true,"errors":["Datadog is not authorized to perform action cloudwatch:ListMetrics \nAccount affected: AKIAIOSFODNN7EXAMPLE\nRegions affected: every region \nError was last seen 7m ago"],"cspm_resource_collection_enabled":false,"extended_resource_collection_enabled":false,"resource_collection_enabled":false},{"access_key_id":"AKIA571015550985","filter_tags":[],"host_tags":["tag:tf-TestAccIntegrationAwsAccountKeyBased-local-1733431807"],"ac[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"destination":{"bucket":"my-bucket","encryption":{"type":"NO_OVERRIDE"},"integration":{"account_id":"495656971024","role_name":"testacc-datadog-integration-role"},"path":"/path/foo","type":"s3"},"include_tags":true,"name":"my first s3 archive","query":"service:tutu","rehydration_max_scan_size_in_gb":123,"rehydration_tags":["team:intake","team:app"]},"type":"archives"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/archives
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"K_umDWzxRyKpp-DLqne__w","attributes":{"name":"my first s3 archive","query":"service:tutu","state":"UNKNOWN","destination":{"bucket":"my-bucket","encryption":{"type":"NO_OVERRIDE"},"path":"/path/foo","type":"s3","integration":{"role_name":"testacc-datadog-integration-role","account_id":"495656971024"}},"rehydration_tags":["team:intake","team:app"],"include_tags":true,"rehydration_max_scan_size_in_gb":123}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 200.272833ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/archives/K_umDWzxRyKpp-DLqne__w
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"archives","id":"K_umDWzxRyKpp-DLqne__w","attributes":{"name":"my first s3 archive","query":"service:tutu","state":"UNKNOWN","destination":{"bucket":"my-bucket","encryption":{"type":"NO_OVERRIDE"},"path":"/path/foo","type":"s3","integration":{"role_name":"testacc-datadog-integration-role","account_id":"495656971024"}},"rehydration_tags":["team:intake","team:app"],"include_tags":true,"rehydration_max_scan_size_in_gb":123}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.383458ms
[...]
