---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1635451825-screen","widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"imh-est-uvv","title":"tf-TestDatadogDashListImport-local-1635451825-screen","url":"/dashboard/imh-est-uvv/tf-testdatadogdashlistimport-local-1635451825-screen","created_at":"2021-10-28T20:10:27.972441+00:00","modified_at":"2021-10-28T20:10:27.972441+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":7785258479691267}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/imh-est-uvv
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"imh-est-uvv","title":"tf-TestDatadogDashListImport-local-1635451825-screen","url":"/dashboard/imh-est-uvv/tf-testdatadogdashlistimport-local-1635451825-screen","created_at":"2021-10-28T20:10:27.972441+00:00","modified_at":"2021-10-28T20:10:27.972441+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"width":32,"x":5,"height":43},"id":7785258479691267}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1635451825-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"gnt-2sz-yb4","title":"tf-TestDatadogDashListImport-local-1635451825-time","url":"/dashboard/gnt-2sz-yb4/tf-testdatadogdashlistimport-local-1635451825-time","created_at":"2021-10-28T20:10:28.755889+00:00","modified_at":"2021-10-28T20:10:28.755889+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","title":"Widget Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":3218041702762726}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/gnt-2sz-yb4
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"gnt-2sz-yb4","title":"tf-TestDatadogDashListImport-local-1635451825-time","url":"/dashboard/gnt-2sz-yb4/tf-testdatadogdashlistimport-local-1635451825-time","created_at":"2021-10-28T20:10:28.755889+00:00","modified_at":"2021-10-28T20:10:28.755889+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"alert_id":"1234","title":"Widget Title","type":"alert_graph","viz_type":"timeseries","time":{"live_span":"1h"}},"id":3218041702762726}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"tf-TestDatadogDashListImport-local-1635451825"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListImport-local-1635451825","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-10-28T20:10:33.552065+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-10-28T20:10:33.552101+00:00","id":248599}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"gnt-2sz-yb4","type":"custom_timeboard"},{"id":"imh-est-uvv","type":"custom_screenboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/248599/dashboards
    method: PUT
  response:
    body: '{"dashboards":[{"type":"custom_timeboard","id":"gnt-2sz-yb4"},{"type":"custom_screenboard","id":"imh-est-uvv"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/248599
    method: GET
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListImport-local-1635451825","dashboard_count":2,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-10-28T20:10:33.552065+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-10-28T20:10:33.796733+00:00","id":248599}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/248599/dashboards
    method: GET
  response:
    body: '{"total":2,"dashboards":[{"popularity":0,"title":"tf-TestDatadogDashListImport-local-1635451825-time","is_favorite":false,"id":"gnt-2sz-yb4","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/gnt-2sz-yb4/tf-testdatadogdashlistimport-local-1635451825-time","created":"2021-10-28T20:10:28.755889+00:00","modified":"2021-10-28T20:10:28.755889+00:00","is_read_only":true,"type":"custom_timeboard"},{"popularity":0,"title":"tf-TestDatadogDashListImport-local-1635451825-screen","is_favorite":false,"id":"imh-est-uvv","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/imh-est-uvv/tf-testdatadogdashlistimport-local-1635451825-screen","created":"2021-10-28T20:10:27.972441+00:00","modified":"2021-10-28T20:10:27.972441+00:00","is_read_only":false,"type":"custom_screenboard"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/248599
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":248599}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/gnt-2sz-yb4
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"gnt-2sz-yb4"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/248599
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 248599 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
