---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"suppression for terraform provider test","enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateDataExclusionQuery-local-1736841419","rule_query":"severity:low source:cloudtrail","suppression_query":"@usr.team:internal-security-testing"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: POST
      response:
        body: '{"data":{"id":"kmn-0qa-4lg","type":"suppressions","attributes":{"creation_date":1736841419797,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"suppression for terraform provider test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateDataExclusionQuery-local-1736841419","rule_query":"severity:low source:cloudtrail","suppression_query":"@usr.team:internal-security-testing","tags":[],"update_date":1736841419797,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 130.072208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/kmn-0qa-4lg
        method: GET
      response:
        body: '{"data":{"id":"kmn-0qa-4lg","type":"suppressions","attributes":{"creation_date":1736841419797,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"suppression for terraform provider test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateDataExclusionQuery-local-1736841419","rule_query":"severity:low source:cloudtrail","suppression_query":"@usr.team:internal-security-testing","tags":[],"update_date":1736841419797,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 122.36725ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"data_exclusion_query":"@account_name:staging","description":"suppression for terraform provider test","enabled":true,"expiration_date":null,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateDataExclusionQuery-local-1736841419","rule_query":"severity:low source:cloudtrail","start_date":null,"suppression_query":""},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/kmn-0qa-4lg
        method: PATCH
      response:
        body: '{"data":{"id":"kmn-0qa-4lg","type":"suppressions","attributes":{"creation_date":1736841419797,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"@account_name:staging","description":"suppression for terraform provider test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateDataExclusionQuery-local-1736841419","rule_query":"severity:low source:cloudtrail","suppression_query":"","tags":[],"update_date":1736841421698,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":2}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 132.734583ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/kmn-0qa-4lg
        method: GET
      response:
        body: '{"errors":["not_found(Suppression with ID kmn-0qa-4lg not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 114.4555ms
