---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":{"destination_key":"env","if_not_exists":true,"source_keys":["environment","stage"]},"name":"mapping-rule","query":null,"reference_table":null}]},"id":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRulesetDataSource_MappingRule-local-1758197761","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"0db781eb-d357-4ef4-873f-14b089b43266","type":"ruleset","attributes":{"created":{"seconds":1758197763,"nanos":315582000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758197763,"nanos":315582000},"name":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRulesetDataSource_MappingRule-local-1758197761","position":5,"rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":true},"reference_table":null,"metadata":null}],"version":3604074}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 209.271292ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/0db781eb-d357-4ef4-873f-14b089b43266
        method: GET
      response:
        body: '{"data":{"id":"0db781eb-d357-4ef4-873f-14b089b43266","type":"ruleset","attributes":{"created":{"seconds":1758197763,"nanos":315582000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1758197763,"nanos":315582000},"name":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRulesetDataSource_MappingRule-local-1758197761","position":5,"rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":true},"reference_table":null,"metadata":null}],"version":3604074}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 49.012292ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/0db781eb-d357-4ef4-873f-14b089b43266
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset 0db781eb-d357-4ef4-873f-14b089b43266 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 44.19925ms
[...]
