---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":{"destination_key":"env","if_not_exists":true,"source_keys":["environment","stage"]},"name":"mapping-rule","query":null,"reference_table":null}]},"id":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRule-local-1759759815","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"caa68a70-389a-4d3c-a53d-b0aa0713a94d","type":"ruleset","attributes":{"created":{"seconds":1759759816,"nanos":942102000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759759816,"nanos":942102000},"name":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRule-local-1759759815","position":7,"rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":true},"reference_table":null,"metadata":null}],"version":3610352}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 308.576167ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/caa68a70-389a-4d3c-a53d-b0aa0713a94d
        method: GET
      response:
        body: '{"data":{"id":"caa68a70-389a-4d3c-a53d-b0aa0713a94d","type":"ruleset","attributes":{"created":{"seconds":1759759816,"nanos":942102000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1759759816,"nanos":942102000},"name":"tf-test-mapping-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRule-local-1759759815","position":7,"processing_status":"error","rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":true},"reference_table":null,"metadata":null}],"version":3610352}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 104.021458ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/caa68a70-389a-4d3c-a53d-b0aa0713a94d
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset caa68a70-389a-4d3c-a53d-b0aa0713a94d not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 52.636083ms
