---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-test-Basic-1785485101","principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"],"product_filters":[{"filters":["@application.id:8d927639-a567-cbc2-8e8e-9382cdcd6aef"],"product":"rum"}]},"type":"dataset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/datasets
        method: POST
      response:
        body: |
            {"data":{"type":"dataset","id":"3cf951c8-2b0e-4ae1-aaf5-5ba5c5052d91","attributes":{"name":"tf-test-Basic-1785485101","product_filters":[{"product":"rum","filters":["@application.id:8d927639-a567-cbc2-8e8e-9382cdcd6aef"]}],"principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 187.61525ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/datasets/3cf951c8-2b0e-4ae1-aaf5-5ba5c5052d91
        method: GET
      response:
        body: |
            {"data":{"type":"dataset","id":"3cf951c8-2b0e-4ae1-aaf5-5ba5c5052d91","attributes":{"name":"tf-test-Basic-1785485101","product_filters":[{"product":"rum","filters":["@application.id:8d927639-a567-cbc2-8e8e-9382cdcd6aef"]}],"principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"]}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 144.254875ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/datasets/3cf951c8-2b0e-4ae1-aaf5-5ba5c5052d91
        method: GET
      response:
        body: |
            {"errors":["Invalid request: [DatasetNotFound] dataset \"3cf951c8-2b0e-4ae1-aaf5-5ba5c5052d91\" not found"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 113.492208ms
