---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"entries":[{"data":{"attributes":{"cidr_block":"1.2.3.4/32","note":"entry 2"},"type":"ip_allowlist_entry"}},{"data":{"attributes":{"cidr_block":"127.0.0.1/32","note":"entry 1"},"type":"ip_allowlist_entry"}},{"data":{"attributes":{"cidr_block":"::/0","note":"ipv6 entry"},"type":"ip_allowlist_entry"}}]},"type":"ip_allowlist"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/ip_allowlist
        method: PATCH
      response:
        body: '{"data":{"id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","type":"ip_allowlist","attributes":{"enabled":false,"entries":[{"data":{"id":"cd183d8f-89ad-43df-8002-78ebfd892fd6","type":"ip_allowlist_entry","attributes":{"cidr_block":"1.2.3.4/32","note":"entry 2","created_at":"2025-09-23T09:11:04.818889Z","modified_at":"2025-09-23T09:11:04.818889Z"}}},{"data":{"id":"f4f25d3a-237a-4b6f-8198-7ea5d114c01b","type":"ip_allowlist_entry","attributes":{"cidr_block":"127.0.0.1/32","note":"entry 1","created_at":"2025-09-23T00:43:10.817032Z","modified_at":"2025-09-23T09:11:04.818889Z"}}},{"data":{"id":"41ee7e66-e659-4406-91b6-3711050cc548","type":"ip_allowlist_entry","attributes":{"cidr_block":"::/0","note":"ipv6 entry","created_at":"2025-09-23T09:11:04.818889Z","modified_at":"2025-09-23T09:11:04.818889Z"}}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 168.211667ms
[...]
