---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":{"destination_key":"env","if_tag_exists":"replace","source_keys":["environment","stage"]},"name":"mapping-rule","query":null,"reference_table":null}]},"id":"tf-test-mapping-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRuleIfTagExists-local-1770242280","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"fa5fb20f-ecd0-4cf3-a9e9-9d234451d7ec","type":"ruleset","attributes":{"created":{"seconds":1770242281,"nanos":765633000},"enabled":true,"last_modified_user_uuid":"8aa9beab-3c2a-11ef-8a8f-56d598d478b5","modified":{"seconds":1770242281,"nanos":765633000},"name":"tf-test-mapping-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRuleIfTagExists-local-1770242280","position":20,"rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":false,"if_tag_exists":"replace"},"reference_table":null,"metadata":null}],"version":3657224}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 98.2305ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/fa5fb20f-ecd0-4cf3-a9e9-9d234451d7ec
        method: GET
      response:
        body: '{"data":{"id":"fa5fb20f-ecd0-4cf3-a9e9-9d234451d7ec","type":"ruleset","attributes":{"created":{"seconds":1770242281,"nanos":765633000},"enabled":true,"last_modified_user_uuid":"8aa9beab-3c2a-11ef-8a8f-56d598d478b5","modified":{"seconds":1770242281,"nanos":765633000},"name":"tf-test-mapping-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRuleIfTagExists-local-1770242280","position":20,"rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":false,"if_tag_exists":"replace"},"reference_table":null,"metadata":null}],"version":3657224}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 46.760083ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"last_version":3657224,"name":"tf-test-mapping-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRuleIfTagExists-local-1770242280","rules":[{"enabled":true,"mapping":{"destination_key":"env","if_tag_exists":"append","source_keys":["environment","stage"]},"name":"mapping-rule","query":null,"reference_table":null}]},"type":"update_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/fa5fb20f-ecd0-4cf3-a9e9-9d234451d7ec
        method: PATCH
      response:
        body: '{"data":{"id":"fa5fb20f-ecd0-4cf3-a9e9-9d234451d7ec","type":"ruleset","attributes":{"created":{"seconds":1770242282,"nanos":837589000},"enabled":true,"last_modified_user_uuid":"8aa9beab-3c2a-11ef-8a8f-56d598d478b5","modified":{"seconds":1770242282,"nanos":837589000},"name":"tf-test-mapping-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_MappingRuleIfTagExists-local-1770242280","position":20,"rules":[{"name":"mapping-rule","enabled":true,"query":null,"mapping":{"source_keys":["environment","stage"],"destination_key":"env","if_not_exists":false,"if_tag_exists":"append"},"reference_table":null,"metadata":null}],"version":3657225}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 121.358333ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/fa5fb20f-ecd0-4cf3-a9e9-9d234451d7ec
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset fa5fb20f-ecd0-4cf3-a9e9-9d234451d7ec not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 45.3205ms
