---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_sts_delegate","id":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com","attributes":{"delegate_account_email":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.552167ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":true,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1730992687@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"host_filters":[],"is_cspm_enabled":false,"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":[],"metric_namespace_configs":[],"account_tags":[],"resource_collection_enabled":true,"is_security_command_center_enabled":false,"automute":true,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1730992687@test-project.iam.gserviceaccount.com"},"id":"e40026d6-6257-4d6d-9ae0-184d34256dfa"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 417.399875ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"gcp_service_account","attributes":{"resource_collection_enabled":true,"is_cspm_enabled":false,"host_filters":[],"client_email":"graytest@datadog-gcp-ints-test-b.iam.gserviceaccount.com","cloud_run_revision_filters":[],"metric_namespace_configs":[],"is_resource_change_collection_enabled":false,"account_tags":["team:gray"],"automute":true,"is_security_command_center_enabled":false},"meta":{"accessible_projects":["datadog-gcp-ints-test-b","datadog-gcp-ints-test-c"]},"id":"0f2b1be3-6c1a-4570-8e97-db356fcc37a7"},{"type":"gcp_service_account","attributes":{"resource_collection_enabled":true,"is_cspm_enabled":false,"host_filters":[],"client_email":"ui@google.com","cloud_run_revision_filters":[],"metric_namespace_configs":[],"is_resource_change_collection_enabled":false,"account_tags":[],"automute":false,"is_security_command_center_enabled":false},"meta":{"accessible_projects":[]},"id":"8f12ca8e-5b6e-4904-88[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/e40026d6-6257-4d6d-9ae0-184d34256dfa
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 95.92125ms
