---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadoguser_invitation-local-1609928655@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"578cb318-5009-11eb-8bb4-4f4d17d2975c","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_invitation-local-1609928655@example.com","created_at":"2021-01-06T10:24:21.867920+00:00","email":"tf-testaccdatadoguser_invitation-local-1609928655@example.com","icon":"https://secure.gravatar.com/avatar/c07177b8f2731f8a4b787df61b8f5a3e?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - s8aX5NtChXwcC0ZqCGPgUtbvI/yT4gadlVvE6/Mqbm4BIdrCBC60TudMJNU/SbvE
      X-Dd-Version:
      - "35.3647765"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"578cb318-5009-11eb-8bb4-4f4d17d2975c","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"57b86a3a-5009-11eb-8bb4-9bcdc1013716","attributes":{"uuid":"57b86a3a-5009-11eb-8bb4-9bcdc1013716","login_method":null,"invite_type":"basic_invite","created_at":"2021-01-06T10:24:22.155718+00:00","expires_at":"2021-01-08T10:24:22.098314+00:00"},"relationships":{"user":{"data":{"type":"users","id":"578cb318-5009-11eb-8bb4-4f4d17d2975c"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 91aMs4Xd/NaPhGMoIvSvdd0mjw6sy0ZqzVUdTt9hqt35qwhu0snxCQESFXt90Pzi
      X-Dd-Version:
      - "35.3647765"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/578cb318-5009-11eb-8bb4-4f4d17d2975c
    method: GET
  response:
    body: '{"data":{"type":"users","id":"578cb318-5009-11eb-8bb4-4f4d17d2975c","attributes":{"name":"Test
      User","handle":"tf-testaccdatadoguser_invitation-local-1609928655@example.com","created_at":"2021-01-06T10:24:21.867920+00:00","email":"tf-testaccdatadoguser_invitation-local-1609928655@example.com","icon":"https://secure.gravatar.com/avatar/c07177b8f2731f8a4b787df61b8f5a3e?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - s8aX5NtChXwcC0ZqCGPgUtbvI/yT4gadlVvE6/Mqbm4BIdrCBC60TudMJNU/SbvE
      X-Dd-Version:
      - "35.3647765"
    status: 200 OK
    code: 200
    duration: ""
[...]
