---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: "{\n   \"author_handle\":\"removed_handle\",\n   \"title\":\"tf-TestAccDatadogDashboardJSONRbacDiff-local-1767989184\",\n   \"description\":\"Created using the Datadog provider in Terraform\",\n   \"widgets\":[\n      {\n         \"id\":5436370674582587,\n         \"definition\":{\n            \"title\":\"Widget Title\",\n            \"type\":\"alert_value\",\n            \"alert_id\":\"895605\",\n            \"unit\":\"b\",\n            \"text_align\":\"center\",\n            \"precision\":3\n         }\n      }\n   ],\n   \"template_variables\":[\n      \n   ],\n   \"layout_type\":\"ordered\",\n   \"restricted_roles\":[],\n   \"notify_list\":[\n      \n   ],\n   \"id\":\"5uw-bbj-xec\"\n}\n"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"s4g-2e3-9af","title":"tf-TestAccDatadogDashboardJSONRbacDiff-local-1767989184","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/s4g-2e3-9af/tf-testaccdatadogdashboardjsonrbacdiff-local-1767989184","template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2026-01-09T20:06:25.277012+00:00","modified_at":"2026-01-09T20:06:25.277012+00:00","restricted_roles":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 150.196875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/s4g-2e3-9af
        method: GET
      response:
            - chunked
        body: '{"id":"s4g-2e3-9af","title":"tf-TestAccDatadogDashboardJSONRbacDiff-local-1767989184","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/s4g-2e3-9af/tf-testaccdatadogdashboardjsonrbacdiff-local-1767989184","template_variables":[],"widgets":[{"id":5436370674582587,"definition":{"title":"Widget Title","type":"alert_value","alert_id":"895605","unit":"b","text_align":"center","precision":3}}],"notify_list":[],"created_at":"2026-01-09T20:06:25.277012+00:00","modified_at":"2026-01-09T20:06:25.277012+00:00","restricted_roles":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.31125ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/s4g-2e3-9af
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"s4g-2e3-9af"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 346.987917ms
