---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1775836855-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
        method: POST
      response:
        body: '{"data":{"id":"d2597ae6-495e-4730-bfab-3f13f2f538da","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1775836855-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]},"targeted_obfuscations":{"data":[]}}},"meta":{"group_count_limit":20,"rule_count_limit":750,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"has_cascading_enabled":false,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"min_sampling_rate":10,"version":302861,"count_limit":750}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 541.357458ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"a description","excluded_namespaces":["username"],"included_keyword_configuration":{"character_count":30,"keywords":[]},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1775836855","namespaces":[],"pattern":"regex","tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"d2597ae6-495e-4730-bfab-3f13f2f538da","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
        body: '{"data":{"id":"623d1c3e-75af-46fc-baec-e17ece40e498","type":"sensitive_data_scanner_rule","attributes":{"description":"a description","excluded_namespaces":["username"],"included_keyword_configuration":{"keywords":[],"character_count":30},"is_enabled":true,"labels":[],"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1775836855","namespaces":[],"pattern":"regex","suppressions":{},"tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"d2597ae6-495e-4730-bfab-3f13f2f538da","type":"sensitive_data_scanner_group"}},"targeted_obfuscations":{"data":[]}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 281.356833ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config
        method: GET
      response:
        body: '{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration","relationships":{"groups":{"data":[{"id":"aed1093b-a756-445e-9fda-0f283872f171","type":"sensitive_data_scanner_group"},{"id":"d2597ae6-495e-4730-bfab-3f13f2f538da","type":"sensitive_data_scanner_group"}]}}},"meta":{"group_count_limit":20,"rule_count_limit":750,"is_pci_compliant":false,"has_highlight_enabled":true,"has_multi_pass_enabled":true,"has_cascading_enabled":false,"is_configuration_superseded":false,"is_float_sampling_rate_enabled":false,"min_sampling_rate":10,"version":302863,"count_limit":750},"included":[{"id":"aed1093b-a756-445e-9fda-0f283872f171","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"Test-Typescript-Create_Scanning_Group_returns_OK_response-1775561994","product_list":["logs"],"samplings":[]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},{"id":"d2597ae6-495e-4730-bfab-3f13f2f538[...]
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1775836855-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"id":"d2597ae6-495e-4730-bfab-3f13f2f538da","type":"sensitive_data_scanner_group"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/d2597ae6-495e-4730-bfab-3f13f2f538da
        method: PATCH
      response:
        body: '{"data":null,"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 281.21275ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":false,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1775836855","namespaces":[],"pattern":"regex","priority":1,"suppressions":{"ends_with":["@datadoghq.com"]},"tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"id":"623d1c3e-75af-46fc-baec-e17ece40e498","type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/623d1c3e-75af-46fc-baec-e17ece40e498
        method: PATCH
      response:
        body: '{"data":null,"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 298.800917ms
[...]
    - id: 17
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1775836855","namespaces":[],"pattern":"regex","priority":1,"suppressions":{"ends_with":["@datadoghq.com"],"exact_match":["admin@datadoghq.com"],"starts_with":["arthur"]},"tags":["sensitive_data:true"],"text_replacement":{"number_of_chars":10,"type":"partial_replacement_from_beginning"}},"relationships":{"group":{"data":{"id":"63d44be2-c63d-4cb3-889f-912d3bd719e7","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
        method: POST
      response:
        body: '{"data":{"id":"273fca5b-a2a6-4c3a-a1e2-8d038801f1b7","type":"sensitive_data_scanner_rule","attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"keywords":["credit card","cc"],"character_count":20},"is_enabled":true,"labels":[],"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1775836855","namespaces":[],"pattern":"regex","priority":1,"suppressions":{"starts_with":["arthur"],"ends_with":["@datadoghq.com"],"exact_match":["admin@datadoghq.com"]},"tags":["sensitive_data:true"],"text_replacement":{"type":"partial_replacement_from_beginning","number_of_chars":10}},"relationships":{"group":{"data":{"id":"63d44be2-c63d-4cb3-889f-912d3bd719e7","type":"sensitive_data_scanner_group"}},"targeted_obfuscations":{"data":[]}}},"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 265.970041ms
[...]
    - id: 25
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"another description","excluded_namespaces":["email"],"included_keyword_configuration":{"character_count":20,"keywords":["credit card","cc"]},"is_enabled":true,"name":"tf-TestAccSensitiveDataScannerRuleBasic-local-1775836855","namespaces":[],"pattern":"regex","priority":1,"suppressions":{},"tags":["sensitive_data:true"],"text_replacement":{"replacement_string":"REDACTED","should_save_match":true,"type":"replacement_string"}},"id":"273fca5b-a2a6-4c3a-a1e2-8d038801f1b7","type":"sensitive_data_scanner_rule"},"meta":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/273fca5b-a2a6-4c3a-a1e2-8d038801f1b7
        method: PATCH
      response:
        body: '{"data":null,"meta":{}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 292.032875ms
[...]
