version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardAlertValue-local-1682003520","widgets":[{"definition":{"alert_id":"895605","type":"alert_value"}},{"definition":{"alert_id":"895606","precision":1,"text_align":"center","title":"Widget Title","title_align":"center","title_size":"16","type":"alert_value","unit":"b"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"8d3-35g-gwn","title":"tf-TestAccDatadogDashboardAlertValue-local-1682003520","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/8d3-35g-gwn/tf-testaccdatadogdashboardalertvalue-local-1682003520","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"895605","type":"alert_value"},"id":5450948104799903},{"definition":{"alert_id":"895606","precision":1,"text_align":"center","title":"Widget Title","title_align":"center","title_size":"16","type":"alert_value","unit":"b"},"id":5088378633175936}],"notify_list":[],"created_at":"2023-04-20T15:12:02.329586+00:00","modified_at":"2023-04-20T15:12:02.329586+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/8d3-35g-gwn
    method: GET
    id: 1
  response:
    body: |
      {"id":"8d3-35g-gwn","title":"tf-TestAccDatadogDashboardAlertValue-local-1682003520","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/8d3-35g-gwn/tf-testaccdatadogdashboardalertvalue-local-1682003520","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"alert_id":"895605","type":"alert_value"},"id":5450948104799903},{"definition":{"alert_id":"895606","precision":1,"text_align":"center","title":"Widget Title","title_align":"center","title_size":"16","type":"alert_value","unit":"b"},"id":5088378633175936}],"notify_list":[],"created_at":"2023-04-20T15:12:02.329586+00:00","modified_at":"2023-04-20T15:12:02.329586+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/8d3-35g-gwn
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"8d3-35g-gwn"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/8d3-35g-gwn
    method: GET
    id: 5
  response:
    body: '{"errors":["Dashboard with ID 8d3-35g-gwn not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
