---
version: 1
interactions:
- request:
    body: |
      {"name":"tf-TestDatadogDashListInDashboardJSON-local-1623184319"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListInDashboardJSON-local-1623184319","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-06-08T20:32:01.112242+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-06-08T20:32:01.112260+00:00","id":211808}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      X-Dd-Version:
      - "35.4700477"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/211808
    method: GET
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListInDashboardJSON-local-1623184319","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-06-08T20:32:01.112242+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-06-08T20:32:01.112260+00:00","id":211808}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      X-Dd-Version:
      - "35.4700477"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/211808/dashboards
    method: GET
  response:
    body: '{"total":0,"dashboards":[]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - EFjE6I+AUQmTiNqZcuE1nqoFeAjWD0Xtzy3edDrinkwlU/Wzr/2Dbl5kWk3qLVaQ
      X-Dd-Version:
      - "35.4700477"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "{\n   \"author_handle\":\"removed_handle\",\n   \"title\":\"tf-TestDatadogDashListInDashboardJSON-local-1623184319\",\n   \"description\":\"Created using the Datadog provider in Terraform\",\n   \"widgets\":[\n      {\n         \"id\":5436370674582587,\n         \"definition\":{\n            \"title\":\"Widget Title\",\n            \"type\":\"alert_value\",\n            \"alert_id\":\"895605\",\n            \"unit\":\"b\",\n            \"text_align\":\"center\",\n            \"precision\":3\n         }\n      }\n   ],\n   \"template_variables\":[\n      \n   ],\n   \"layout_type\":\"ordered\",\n   \"is_read_only\":true,\n   \"notify_list\":[\n      \n   ],\n   \"id\":\"5uw-bbj-xec\"\n}\n"
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variables":[],"is_read_only":true,"id":"nwt-3j3-ac6","title":"tf-TestDatadogDashListInDashboardJSON-local-1623184319","url":"/dashboard/nwt-3j3-ac6/tf-testdatadogdashlistindashboardjson-local-1623184319","created_at":"2021-06-08T20:32:01.587380+00:00","modified_at":"2021-06-08T20:32:01.587380+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title":"Widget Title","text_align":"center","precision":3,"alert_id":"895605","type":"alert_value","unit":"b"},"id":5436370674582587}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      X-Dd-Version:
      - "35.4700477"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"nwt-3j3-ac6","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/211808/dashboards
    method: POST
  response:
    body: '{"added_dashboards_to_list":[{"type":"custom_timeboard","id":"nwt-3j3-ac6"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.4700477"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/211808/dashboards
    method: GET
  response:
    body: '{"total":1,"dashboards":[{"popularity":0,"title":"tf-TestDatadogDashListInDashboardJSON-local-1623184319","is_favorite":false,"id":"nwt-3j3-ac6","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"frog@datadoghq.com","name":null},"url":"/dashboard/nwt-3j3-ac6/tf-testdatadogdashlistindashboardjson-local-1623184319","created":"2021-06-08T20:32:01.587380+00:00","modified":"2021-06-08T20:32:01.587380+00:00","is_read_only":true,"type":"custom_timeboard"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      X-Dd-Version:
      - "35.4700477"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/nwt-3j3-ac6
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variables":[],"is_read_only":true,"id":"nwt-3j3-ac6","title":"tf-TestDatadogDashListInDashboardJSON-local-1623184319","url":"/dashboard/nwt-3j3-ac6/tf-testdatadogdashlistindashboardjson-local-1623184319","created_at":"2021-06-08T20:32:01.587380+00:00","modified_at":"2021-06-08T20:32:01.587380+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title":"Widget Title","text_align":"center","precision":3,"alert_id":"895605","type":"alert_value","unit":"b"},"id":5436370674582587}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      X-Dd-Version:
      - "35.4700477"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"dashboards":[{"id":"nwt-3j3-ac6","type":"custom_timeboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/211808/dashboards
    method: DELETE
  response:
    body: '{"deleted_dashboards_from_list":[{"type":"custom_timeboard","id":"nwt-3j3-ac6"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4700477"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/211808
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":211808}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4700477"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard/nwt-3j3-ac6
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"nwt-3j3-ac6"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      X-Dd-Version:
      - "35.4700477"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/211808
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 211808 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4700477"
    status: 404 Not Found
    code: 404
    duration: ""
