---
version: 1
interactions:
- request:
    body: |
      {"description":"some description about foo SLO","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250{type:good}.as_count()"},"tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250"],"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d"},{"target":99,"timeframe":"90d"}],"type":"metric"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSLO
    url: https://api.datadoghq.com/api/v1/slo
    method: POST
  response:
    body: '{"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250{type:good}.as_count()"},"id":"7ac5e8ce48a6502f95803f83d335377b","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250","created_at":1626083252,"tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250"],"modified_at":1626083252,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "499"
      X-Ratelimit-Reset:
      - "28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?ids=7ac5e8ce48a6502f95803f83d335377b
    method: GET
  response:
    body: '{"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250{type:good}.as_count()"},"id":"7ac5e8ce48a6502f95803f83d335377b","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250","created_at":1626083252,"tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250"],"modified_at":1626083252,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "1000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "999"
      X-Ratelimit-Reset:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLO
    url: https://api.datadoghq.com/api/v1/slo/7ac5e8ce48a6502f95803f83d335377b
    method: GET
  response:
    body: '{"data":{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250{type:good}.as_count()"},"id":"7ac5e8ce48a6502f95803f83d335377b","name":"tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250","created_at":1626083252,"tags":["tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250"],"modified_at":1626083252,"type":"metric"},"error":null}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2999"
      X-Ratelimit-Reset:
      - "7"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":2,"total_count":2}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":99.8,"warning_display":"99.8","target":99.5,"target_display":"99.5","timeframe":"7d"},{"target":99.0,"target_display":"99.","timeframe":"30d"},{"target":99.0,"target_display":"99.","timeframe":"90d"}],"type_id":1,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:tf_testaccdatadogservicelevelob[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?tags_query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":2,"total_count":2}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":9[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListSLOs
    url: https://api.datadoghq.com/api/v1/slo?metrics_query=tf_testaccdatadogservicelevelobjectivesdatasource_local_1626083250
    method: GET
  response:
    body: '{"metadata":{"page":{"total_filtered_count":2,"total_count":2}},"data":[{"description":"some description about foo SLO","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSLO
    url: https://api.datadoghq.com/api/v1/slo/483ab61c32f1c267321c3eaafaf5b260250f8de9364a66e10d9d65f9dd6d857a
    method: GET
  response:
    body: '{"errors": ["SLO not found: 483ab61c32f1c267321c3eaafaf5b260250f8de9364a66e10d9d65f9dd6d857a not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "3000"
      X-Ratelimit-Period:
      - "10"
      X-Ratelimit-Remaining:
      - "2997"
      X-Ratelimit-Reset:
      - "8"
    status: 404 Not Found
    code: 404
    duration: ""
