---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"name":"tf-TestAccDatadogNotificationRuleFull-local-1738676195vulnerability","selectors":{"query":"simple:query","rule_types":["misconfiguration"],"severities":["critical"],"trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600},"type":"notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules
        method: POST
      response:
        body: '{"data":{"id":"drc-u0l-rst","type":"notification_rules","attributes":{"created_at":1738676197738,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1738676197738,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleFull-local-1738676195vulnerability","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 455.289625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":false,"name":"tf-TestAccDatadogNotificationRuleFull-local-1738676195signal","selectors":{"query":"simple:query","rule_types":["misconfiguration"],"severities":["critical"],"trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0},"type":"notification_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules
        method: POST
      response:
        body: '{"data":{"id":"lik-mh1-myp","type":"notification_rules","attributes":{"created_at":1738676197907,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1738676197907,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleFull-local-1738676195signal","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 152.619875ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/lik-mh1-myp
        method: GET
      response:
        body: '{"data":{"id":"lik-mh1-myp","type":"notification_rules","attributes":{"created_at":1738676197907,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1738676197907,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleFull-local-1738676195signal","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_signals"},"targets":["email@datad0g.com"],"time_aggregation":0,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 173.184708ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/drc-u0l-rst
        method: GET
      response:
        body: '{"data":{"id":"drc-u0l-rst","type":"notification_rules","attributes":{"created_at":1738676197738,"created_by":{"name":"","handle":""},"enabled":false,"modified_at":1738676197738,"modified_by":{"name":"","handle":""},"name":"tf-TestAccDatadogNotificationRuleFull-local-1738676195vulnerability","selectors":{"severities":["critical"],"rule_types":["misconfiguration"],"query":"simple:query","trigger_source":"security_findings"},"targets":["email@datad0g.com"],"time_aggregation":3600,"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 284.876125ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/lik-mh1-myp
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''lik-mh1-myp'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 127.674416ms
    - id: 17
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/lik-mh1-myp
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''lik-mh1-myp'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 131.274125ms
    - id: 18
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/signals/notification_rules/drc-u0l-rst
        method: GET
      response:
        body: '{"errors":["not_found(Notification rule with id ''drc-u0l-rst'' not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 127.682708ms
[...]
