---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":1,"type":"grpcHealthcheckStatus"},{"operator":"is","target":"proto target","type":"grpcProto"},{"operator":"is","property":"property","target":"123","type":"grpcMetadata"}],"configVariables":[],"request":{"compressedProtoFile":"eJx0kL1uwjAUhXc/xRVLy5Ko6hgxl6FDVSoxRq45BFPHdu91KBHi3SsHwk+lTpGc75zz2dL7pPc0o0nkkMLzpFIqxGSDp63e6brtXLLRoV5bB6EZJe5Q3SFRmy/dIHfYUDQcTYG9bqODFBs4F34Cu9XkPhS6BK6N0yJet0N4ntllZt+yyjUQPrfmhNaRsbaD7vx1mV3H8etQpVRZ0scG1DCQrG9IwDtrQCusrbe5s1Dj2UuGwHRQRGVJC/iVkL5kFRFHQwvdD3r0OHze8d1B0pQYqWMvl+Po+ikdjup4keATSi1EsqgJPmnrs1bagDoBPwjlNyjUyNxuDGKSOAfOL/VU3fVLDF7w38B4EfnbHl1/2z3+Pdf/BgAA//+/J7pb","host":"google.com","metadata":{"header":"value"},"method":"GET","port":50050,"service":"Hello"}},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1721838397","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"status":"paused","subtype":"grpc","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"jbn-n59-r5k","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1721838397","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-07-24T16:26:40.853841+00:00","modified_at":"2024-07-24T16:26:40.853841+00:00","config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":1,"type":"grpcHealthcheckStatus"},{"operator":"is","target":"proto target","type":"grpcProto"},{"operator":"is","property":"property","target":"123","type":"grpcMetadata"}],"configVariables":[],"request":{"compressedProtoFile":"eJx0kL1uwjAUhXc/xRVLy5Ko6hgxl6FDVSoxRq45BFPHdu91KBHi3SsHwk+lTpGc75zz2dL7pPc0o0nkkMLzpFIqxGSDp63e6brtXLLRoV5bB6EZJe5Q3SFRmy/dIHfYUDQcTYG9bqODFBs4F34Cu9XkPhS6BK6N0yJet0N4ntllZt+yyjUQPrfmhNaRsbaD7vx1mV3H8etQpVRZ0scG1DCQrG9IwDtrQCusrbe5s1Dj2UuGwHRQRGVJC/iVkL5kFRFHQwvdD3r0OHze8d1B0pQYqWMvl+Po+ikdjup4keATSi1EsqgJPmnrs1bagDoBPwjlNyjUyNxuDGKSOAfOL/VU3fVLDF7w38B4EfnbHl1/2z3+Pdf/BgAA//+/J7pb","host":"google.com","metadata":{"header":"value"},"method":"GET","port":50050,"service":"Hello"}},"message":"Notify @datadog.user","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"subtype":"grpc","created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":149833742,"org_id":321813,"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 640.315375ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/jbn-n59-r5k
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"jbn-n59-r5k","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1721838397","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-07-24T16:26:40.853841+00:00","modified_at":"2024-07-24T[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/jbn-n59-r5k
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"jbn-n59-r5k","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1721838397","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-07-24T16:26:40.853841+00:00","modified_at":"2024-07-24T16:2[...]
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/jbn-n59-r5k
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"jbn-n59-r5k","name":"tf-TestAccDatadogSyntheticsGRPCTest_Basic-local-1721838397","status":"paused","type":"api","tags":["foo:bar","baz"],"created_at":"2024-07-24T16:26:40.853841+00:00","modified_at":"2024-07-24T16:26:44.240120+00:00","config":{"assertions":[{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"is","target":1,"type":"grpcHealthcheckStatus"}],"configVariables":[],"request":{"host":"google.com","metadata":{"header":"value-updated"},"method":"GET","port":50050,"service":""}},"message":"Notify @datadog.user","options":{"httpVersion":"any","min_location_failed":1,"tick_every":60},"locations":["aws:eu-central-1"],"subtype":"grpc","monitor_id":149833742,"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.112083ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["jbn-n59-r5k"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"jbn-n59-r5k","deleted_at":"2024-07-24T16:26:46.686466+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.134099958s
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/jbn-n59-r5k
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 160.115166ms
