---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"new@example.com","name":"testTerraformServiceAccountApplicationKeys","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"c30ccdf6-0613-11ee-a21c-9a226bfe397e","attributes":{"name":"testTerraformServiceAccountApplicationKeys","handle":"c30ccdf6-0613-11ee-a21c-9a226bfe397e","created_at":"2023-06-08T15:47:24.161478+00:00","modified_at":"2023-06-08T15:47:24.166584+00:00","email":"new@example.com","icon":"https://secure.gravatar.com/avatar/b681d72feaf8bf6a93d9a8ab86679ec3?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccServiceAccountApplicationKeyBasic_import-local-1686239241"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts/c30ccdf6-0613-11ee-a21c-9a226bfe397e/application_keys
    method: POST
  response:
    body: |
      {"data":{"type":"application_keys","id":"12999d42-d6a4-461a-8ddc-ea72d49185ab","attributes":{"name":"tf-TestAccServiceAccountApplicationKeyBasic_import-local-1686239241","created_at":"2023-06-08T15:47:24.425658+00:00","last4":"709d","key":"d43e6b3adfbd97af9a7f10b70394d96d4520709d","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"c30ccdf6-0613-11ee-a21c-9a226bfe397e"}},"leak_information":{"data":null}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/c30ccdf6-0613-11ee-a21c-9a226bfe397e
    method: GET
  response:
    body: |
      {"data":{"type":"users","id":"c30ccdf6-0613-11ee-a21c-9a226bfe397e","attributes":{"name":"testTerraformServiceAccountApplicationKeys","handle":"c30ccdf6-0613-11ee-a21c-9a226bfe397e","created_at":"2023-06-08T15:47:24.161478+00:00","modified_at":"2023-06-08T15:47:24.166584+00:00","email":"new@example.com","icon":"https://secure.gravatar.com/avatar/b681d72feaf8bf6a93d9a8ab86679ec3?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/service_accounts/c30ccdf6-0613-11ee-a21c-9a226bfe397e/application_keys/12999d42-d6a4-461a-8ddc-ea72d49185ab
    method: GET
  response:
    body: |
      {"data":{"type":"application_keys","id":"12999d42-d6a4-461a-8ddc-ea72d49185ab","attributes":{"name":"tf-TestAccServiceAccountApplicationKeyBasic_import-local-1686239241","created_at":"2023-06-08T15:47:24.425658+00:00","last4":"709d","scopes":null},"relationships":{"leak_information":{"data":null}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
