---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"a global variable","is_totp":false,"name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_IMPORTBASIC_LOCAL_1739786183","tags":["foo:bar","baz"],"value":{"secure":false,"value":"variable-value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"3fa82079-73e9-41f4-9c4d-621e293c2aeb","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_IMPORTBASIC_LOCAL_1739786183","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"last_error":null,"value":{"secure":false,"value":"variable-value"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 486.178209ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/3fa82079-73e9-41f4-9c4d-621e293c2aeb
        method: GET
      response:
            - chunked
        body: |
            {"id":"3fa82079-73e9-41f4-9c4d-621e293c2aeb","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_IMPORTBASIC_LOCAL_1739786183","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2025-02-17T09:56:25.365741+00:00","modified_at":"2025-02-17T09:56:25.365741+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 179.352208ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"responseTime"},{"operator":"doesNotContain","target":"terraform","type":"body"},{"operator":"md5","target":"a","type":"bodyHash"},{"code":"const hello = 'world';","type":"javascript"}],"configVariables":[{"example":"123","name":"VARIABLE_NAME","pattern":"{{numeric(3)}}","secure":false,"type":"text"},{"id":"3fa82079-73e9-41f4-9c4d-621e293c2aeb","name":"GLOBAL_VAR","type":"global"}],"request":{"basicAuth":{"domain":"ntlm-domain","password":"ntlm-password","type":"ntlm","username":"ntlm-username","workstation":"ntlm-workstation"},"bodyType":"text/plain","headers":{},"method":"GET","noSavingResponseBody":true,"proxy":{"headers":{},"url":"https://proxy.url"},"url":"https://www.datadoghq.com"},"variablesFromScript":"dd.variable.set('FOO', 'hello');"},"locations":["aws:eu-central-1"],"message":"Notify @datadog.user","name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1739786183","options":{"allow_insecure":true,"ci":{"executionRule":"blocking"},"follow_redirects":true,"httpVersion":"http2","ignoreServerCertificateError":true,"min_location_failed":1,"monitor_name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1739786183-monitor","monitor_priority":5,"retry":{"count":1,"interval":300},"tick_every":60},"status":"paused","subtype":"http","tags":["foo:bar","baz"],"type":"api"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api
        method: POST
      response:
            - chunked
        body: |
            {"public_id":"q34-xv5-2iy","name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1739786183","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-02-17T09:56:26.222886+00:00","modified_at":"2025-02-17T09:56:26.222886+00:00","config":{"assertions":[{"operator":"contains","property":"content-type","target":"application/json","type":"header"},{"operator":"is","target":200,"type":"statusCode"},{"operator":"lessThan","target":2000,"timingsScope":"withoutDNS","type":"r[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/api/q34-xv5-2iy
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"q34-xv5-2iy","name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1739786183","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-02-17T09:56:26.222886+00:00","mod[...]
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/q34-xv5-2iy
        method: GET
      response:
            - chunked
        body: |
            {"public_id":"q34-xv5-2iy","name":"tf-TestAccDatadogSyntheticsAPITest_importBasic-local-1739786183","status":"paused","type":"api","subtype":"http","tags":["foo:bar","baz"],"created_at":"2025-02-17T09:56:26.222886+00:00","modifie[...]
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"public_ids":["q34-xv5-2iy"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/tests/delete
        method: POST
      response:
            - chunked
        body: |
            {"deleted_tests":[{"public_id":"q34-xv5-2iy","deleted_at":"2025-02-17T09:56:29.200241+00:00"}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 796.407875ms
[...]
    - id: 12
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/tests/q34-xv5-2iy
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics test not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 138.682375ms
