---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"suppression for terraform provider test","enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutExpirationDate-local-1705419986","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: POST
      response:
            - chunked
        body: |
            {"data":{"id":"utu-fdy-cih","attributes":{"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutExpirationDate-local-1705419986","enabled":true,"description":"suppression for terraform provider test","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging","version":1,"creation_date":1705419987777,"update_date":1705419987777,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 424.512583ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/utu-fdy-cih
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"utu-fdy-cih","attributes":{"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutExpirationDate-local-1705419986","enabled":true,"description":"suppression for terraform provider test","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging","version":1,"creation_date":1705419987777,"update_date":1705419987777,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.897125ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"updated suppression for terraform provider test","enabled":true,"expiration_date":null,"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutExpirationDate-local-1705419986","rule_query":"severity:low source:(cloudtrail OR azure)","suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/utu-fdy-cih
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"id":"utu-fdy-cih","attributes":{"name":"tf-TestAccSecurityMonitoringSuppression_CreateAndUpdateWithoutExpirationDate-local-1705419986","enabled":true,"description":"updated suppression for terraform provider test","rule_query":"severity:low source:(cloudtrail OR azure)","suppression_query":"env:staging","version":2,"creation_date":1705419987777,"update_date":1705419989821,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 172.614125ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/utu-fdy-cih
        method: GET
      response:
            - chunked
        body: |
            {"errors":["not_found(Suppression with ID utu-fdy-cih not found)"]}
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 152.61625ms
