---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"policy":{"max_duration_ms":3600000},"policy_type":"downtime"},"type":"monitor-config-policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/monitor/policy
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-config-policy","id":"001a0ceb-3a46-4223-a86b-ca0115c5f3db","attributes":{"policy_type":"downtime","policy":{"max_duration_ms":3600000}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.657417ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"policy":{"max_duration_ms":7200000},"policy_type":"downtime"},"type":"monitor-config-policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/monitor/policy
        method: POST
      response:
            - chunked
        body: '{"errors":["A downtime duration policy already exists for this organization"]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 52.352166ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/monitor/policy/001a0ceb-3a46-4223-a86b-ca0115c5f3db
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 145.797917ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/monitor/policy
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"monitor-config-policy","id":"f9b83ffe-78b2-4ab9-a559-88e9bdd10117","attributes":{"policy_type":"tag","policy":{"tag_key":"examplecreateamonitorconfigurationpolicyreturnsokresponse1771688322","valid_tag_values":["prod","staging"],"tag_key_required":false}}},{"type":"monitor-config-policy","id":"bdf297e9-258e-485e-a26c-fabb7308fd18","attributes":{"policy_type":"tag","policy":{"tag_key":"exampleeditamonitorconfigurationpolicyreturnsokresponse1772249884","valid_tag_values":["prod","staging"],"tag_key_required":false}}},{"type":"monitor-config-policy","id":"505b03e1-be6a-4122-81e4-9badf547643e","attributes":{"policy_type":"tag","policy":{"tag_key":"exampleeditamonitorconfigurationpolicyreturnsokresponse1774553884","valid_tag_values":["prod","staging"],"tag_key_required":false}}},{"type":"monitor-config-policy","id":"9f0e0286-f6ed-414d-97ce-954ad71ecf1b","attributes":{"policy_type":"tag","policy":{"tag_key":"exampleeditamonitorconfigurationpolicyreturnsokresponse1779392284","valid_tag_values":["prod","staging"],"tag_key_required":false}}},{"type":"monitor-config-policy","id":"67a80fa2-be45-4899-a204-514ace419629","attributes":{"policy_type":"tag","policy":{"tag_key":"examplegetamonitorconfigurationpolicyreturnsokresponse1780429108","valid_tag_values":["prod","staging"],"tag_key_required":false}}},{"type":"monitor-config-policy","id":"45e6027c-505d-4217-9659-f97f22300622","attributes":{"policy_type":"tag","policy":{"tag_key":"exampleeditamonitorconfigurationpolicyreturnsokresponse1782747484","valid_tag_values":["prod","staging"],"tag_key_required":false}}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.698208ms
