---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testaccmsteamsworkflowswebhookhandlesbasic-local-1758619109","url":"https://fake.url.com"},"type":"workflows-webhook-handle"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles
        method: POST
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"not a valid workflow url"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 400 Bad Request
        code: 400
        duration: 119.449084ms
