---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"filter":{"scope":"env:tf-TestAccMonitorNotificationRuleWithScope_Create-local-1765386034 AND team:foo AND service:monitor"},"name":"A notification rule name","recipients":["jira-bar","slack-foo"]},"type":"monitor-notification-rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/monitor/notification_rule
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-notification-rule","attributes":{"filter":{"scope":"env:tf-TestAccMonitorNotificationRuleWithScope_Create-local-1765386034 AND team:foo AND service:monitor"},"recipients":["jira-bar","slack-foo"],"modified_at":"1970-01-01T00:00:00+00:00","name":"A notification rule name","created_at":"2025-12-10T17:00:35.731621+00:00"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"2ead8410-c313-400e-a37d-6406f671f883"},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2025-12-08T15:13:02.852536+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active","last_login_time":"2024-01-04T18:40:05+00:00"}}]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.35475ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/monitor/notification_rule/2ead8410-c313-400e-a37d-6406f671f883
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-notification-rule","attributes":{"name":"A notification rule name","created_at":"2025-12-10T17:00:35.731621+00:00","filter":[...]
