---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"domain_prefix":"test-sp-component-import-1787855624","name":"test-sp-component-import-1787855624","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"fcd74699-2492-4a68-aef2-eff44e4fdca0","type":"status_pages","attributes":{"company_logo":null,"components":[],"created_at":"2026-08-27T18:33:47.224319Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-component-import-1787855624","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-27T18:33:47.224319Z","name":"test-sp-component-import-1787855624","page_url":"https://frog.datadoghq.com/status-pages/fcd74699-2492-4a68-aef2-eff44e4fdca0/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 651.392958ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"API","position":0,"type":"component"},"type":"components"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/fcd74699-2492-4a68-aef2-eff44e4fdca0/components
        method: POST
      response:
        body: '{"data":{"id":"a5b77c6d-b0a4-4689-bc3f-51b74a6f956d","type":"components","attributes":{"created_at":"2026-08-27T18:33:47.816359Z","modified_at":"2026-08-27T18:33:47.816359Z","name":"API","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"fcd74699-2492-4a68-aef2-eff44e4fdca0","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 79.724542ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/fcd74699-2492-4a68-aef2-eff44e4fdca0
        method: GET
      response:
        body: '{"data":{"id":"fcd74699-2492-4a68-aef2-eff44e4fdca0","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"a5b77c6d-b0a4-4689-bc3f-51b74a6f956d","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-27T18:33:47.224319Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-component-import-1787855624","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-27T18:33:47.224319Z","name":"test-sp-component-import-1787855624","page_url":"https://frog.datadoghq.com/status-pages/fcd74699-2492-4a68-aef2-eff44e4fdca0/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 72.878625ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/fcd74699-2492-4a68-aef2-eff44e4fdca0/components/a5b77c6d-b0a4-4689-bc3f-51b74a6f956d
        method: GET
      response:
        body: '{"data":{"id":"a5b77c6d-b0a4-4689-bc3f-51b74a6f956d","type":"components","attributes":{"created_at":"2026-08-27T18:33:47.816359Z","modified_at":"2026-08-27T18:33:47.816359Z","name":"API","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"fcd74699-2492-4a68-aef2-eff44e4fdca0","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 79.453291ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/fcd74699-2492-4a68-aef2-eff44e4fdca0/components/a5b77c6d-b0a4-4689-bc3f-51b74a6f956d
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 49.246ms
