---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetIPRanges
    url: https://ip-ranges.datadoghq.com/
    method: GET
  response:
    body: |
      {
          "version": 40,
          "modified": "2021-04-02-17-00-00",
          "agents": {
              "prefixes_ipv4": [
                  "3.228.26.0/25",
                  "3.228.26.128/25",
                  "3.228.27.0/25",
                  "3.233.144.0/20"
              ],
              "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56",
                  "2600:1f18:63f7:b900::/56"
              ]
          },
          "api": {
              "prefixes_ipv4": [
                  "3.227.250.64/26",
                  "3.228.27.128/26",
                  "3.233.144.0/20"
              ],
              "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
              ]
          },
          "apm": {
              "prefixes_ipv4": [
                  "3.226.246.128/25",
                  "3.233.144.0/20"
              ],
              "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56"
              ]
          },
          "global": {
              "prefixes_ipv4": [
                  "3.233.144.0/20"
              ],
              "prefixes_ipv6": [
                  "2600:1f18:24e6:b900::/56",
                  "2600:1f18:63f7:b900::/56"
              ]
          },
          "logs": {
              "prefixes_ipv4": [
                  "107.20.16.111/32",
                  "107.21.20.87/32",
                  "107.21.51.84/32",
                  "107.21.9.2/32",
                  "107.23.138.225/32",
                  "107.23.195.225/32",
                  "107.23.203.196/32",
                  "107.23.25.219/32",
                  "107.23.27.117/32",
                  "107.23.54.245/32",
                  "18.204.122.194/32",
                  "18.204.36.73/32",
          [...]
[...]
- request:
    body: '{"service_hooks":[{"account":"test_account","url":"https://ddog-client-test.slack.com/fake-account-hook"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/slack
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: |
      {"display":{"message":true,"notified":true,"snapshot":true,"tags":true},"name":"#tfTestAccDatadogIntegrationSlackChannelImportlocal1626980021"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSlackIntegrationChannel
    url: https://api.datadoghq.com/api/v1/integration/slack/configuration/accounts/test_account/channels
    method: POST
  response:
    body: '{"name":"#tfTestAccDatadogIntegrationSlackChannelImportlocal1626980021","display":{"notified":true,"message":true,"snapshot":true,"tags":true}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetSlackIntegrationChannel
    url: https://api.datadoghq.com/api/v1/integration/slack/configuration/accounts/test_account/channels/%23tfTestAccDatadogIntegrationSlackChannelImportlocal1626980021
    method: GET
  response:
    body: '{"name":"#tfTestAccDatadogIntegrationSlackChannelImportlocal1626980021","display":{"notified":true,"message":true,"snapshot":true,"tags":true}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
