---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_sts_delegate","attributes":{"delegate_account_email":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"},"id":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 117.901333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":true,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1731004907@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":false,"is_security_command_center_enabled":false,"metric_namespace_configs":[]},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"resource_collection_enabled":true,"automute":true,"client_email":"tf-TestAccIntegrationGcpStsDefault-local-1731004907@test-project.iam.gserviceaccount.com","is_security_command_center_enabled":false,"cloud_run_revision_filters":[],"is_cspm_enabled":false,"account_tags":[],"is_resource_change_collection_enabled":false,"metric_namespace_configs":[],"host_filters":[]},"id":"a1b3e1d2-811d-47f3-9616-5a1e0740289f"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 454.355166ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"gcp_service_account","attributes":{"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":[],"automute":true,"host_filters":[],"account_tags":["team:gray"],"metric_namespace_configs":[],"is_security_command_center_enabled":false,"client_email":"graytest@datadog-gcp-ints-test-b.iam.gserviceaccount.com","is_cspm_enabled":false,"resource_collection_enabled":true},"meta":{"accessible_projects":["datadog-gcp-ints-test-b","datadog-gcp-ints-test-c"]},"id":"0f2b1be3-6c1a-4570-8e97-db356fcc37a7"},{"type":"gcp_service_account","attributes":{"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":[],"automute":false,"host_filters":[],"account_tags":[],"metric_namespace_configs":[],"is_security_command_center_enabled":false,"client_email":"ui@google.com","is_cspm_enabled":false,"resource_collection_enabled":true},"meta":{"accessible_projects":[]},"id":"8f12ca8e-5b6e-4904-8853-4b49ee096fbe"},{"type":"gcp_service_account","attributes":{"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":[],"automute":false,"host_filters":[],"account_tags":[],"metric_namespace_configs":[],"is_security_command_center_enabled":false,"client_email":"bozo@google.com","is_cspm_enabled":false,"resource_collection_enabled":false},"meta":{"accessible_projects":[]},"id":"e06c6a63-983c-4858-9d43-c4f560c132d9"},{"type":"gcp_service_account","attributes":{"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":["tag:one","tag:two"],"automute":false,"host_filters":["tag:one","tag:two"],"account_tags":["a:tag","and:another","another:one"],"metric_namespace_configs":[{"disabled":true,"id":"aiplatform"}],"is_security_command_center_enabled":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1730997425@test-project.iam.gserviceaccount.com","is_cspm_enabled":false,"resource_collection_enabled":false},"meta":{"accessible_projects":[]},"id":"6d94b1a1-3ae8-4980-841d-7e5db743debc"},{"type":"gcp_service_account","attributes":{"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":["tag:one","tag:two"],"automute":false,"host_filters":["tag:one","tag[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/a1b3e1d2-811d-47f3-9616-5a1e0740289f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 142.042834ms
