---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: '{"description":"Created using the Datadog provider in Terraform","layout_type":"ordered","notify_list":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":["@1","@2"]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":["@3"]}],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardJSONTabUpdate-local-1774283277","widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"}},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"p5h-skk-iuh","title":"tf-TestAccDatadogDashboardJSONTabUpdate-local-1774283277","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/p5h-skk-iuh/tf-testaccdatadogdashboardjsontabupdate-local-1774283277","template_variables":[],"widgets":[{"definition":{"content":"Widget 1","has_padding":true,"show_tick":false,"type":"note"},"id":2127328408248855},{"definition":{"content":"Widget 2","has_padding":true,"show_tick":false,"type":"note"},"id":7915057653036406},{"definition":{"content":"Widget 3","has_padding":true,"show_tick":false,"type":"note"},"id":6329163007004241}],"notify_list":[],"created_at":"2026-03-23T16:27:58.882555+00:00","modified_at":"2026-03-23T16:27:58.882555+00:00","template_variable_presets":[],"tags":[],"tabs":[{"id":"5b153b9e-f858-5650-9ad0-34d241bfd781","name":"Overview","widget_ids":[2127328408248855,7915057653036406]},{"id":"6318d812-2dcb-56c6-b0cc-13cc860c4d38","name":"Details","widget_ids":[6329163007004241]}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.340791ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/p5h-skk-iuh
        method: GET
      response:
            - chunked
        body: '{"id":"p5h-skk-iuh","title":"tf-TestAccDatadogDashboardJSONTabUpdate-local-1774283277","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com",[...]
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard/p5h-skk-iuh
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"p5h-skk-iuh"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 340.319167ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/p5h-skk-iuh
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID p5h-skk-iuh not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 94.444167ms
