---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1733745434","tags":[],"value":{"secure":false,"value":"bar"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: POST
      response:
            - chunked
        body: |
            {"id":"d683d962-8269-4136-a4b9-47f05da9e176","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1733745434","description":"","type":"variable","tags":[],"last_error":null,"value":{"secure":false,"value":"bar"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 481.971792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/d683d962-8269-4136-a4b9-47f05da9e176
        method: GET
      response:
            - chunked
        body: |
            {"id":"d683d962-8269-4136-a4b9-47f05da9e176","name":"TF_TESTACCDATADOGSYNTHETICSGLOBALVARIABLE_LOCAL_1733745434","description":"","type":"variable","tags":[],"created_at":"2024-12-09T11:57:18.099461+00:00","modified_at":"2024-12-09T11:57:18.099461+00:00","last_error":null,"value":{"secure":false,"value":"bar"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"editor":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.789584ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables
        method: GET
      response:
            - chunked
        body: |
            {"variables":[{"id":"01cbf399-042f-4874-a255-cee5325ea26f","name":"TF_TESTACCDATADOGSYNTHETICSAPITEST_BASIC_LOCAL_1714522643","description":"a global variable","type":"variable","tags":["foo:bar","baz"],"created_at":"2024-05-01T00:17:24.884459+00:00","modified_at":"2024-05-01T00:17:24.884459+00:00","last_error":null,"value":{"secure":false,"value":"variable-value"},"creator":{"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI Account"},"editor":{"emai[...]
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/synthetics/variables/d683d962-8269-4136-a4b9-47f05da9e176
        method: GET
      response:
            - chunked
        body: '{"errors":["Synthetics global variable not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 147.624459ms
[...]
