---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"policy":{"tag_key":"tagKey2","tag_key_required":false,"valid_tag_values":["value"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/monitor/policy
    method: POST
  response:
    body: |
      {"data":{"type":"monitor-config-policy","id":"b9c50eca-a31f-11ed-bd79-da7ad0900002","attributes":{"policy_type":"tag","policy":{"valid_tag_values":["value"],"tag_key":"tagKey2","tag_key_required":false}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/monitor/policy/b9c4deaa-a31f-11ed-92f0-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key":"tagKey1","tag_key_required":false,"valid_tag_values":["value"]},"policy_type":"tag"},"id":"b9c4deaa-a31f-11ed-92f0-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
