---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"auth":{"strategy":"basic"},"id":"aos-basic-1","inputs":["source-1"],"type":"amazon_opensearch"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"amazon opensearch (basic auth)"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"f07b0c86-985d-11f0-b358-da7ad0900002","type":"pipelines","attributes":{"name":"amazon opensearch (basic auth)","config":{"destinations":[{"auth":{"strategy":"basic"},"id":"aos-basic-1","inputs":["source-1"],"type":"amazon_opensearch"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 500.546792ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/f07b0c86-985d-11f0-b358-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"f07b0c86-985d-11f0-b358-da7ad0900002","type":"pipelines","attributes":{"name":"amazon opensearch (basic auth)","config":{"destinations":[{"auth":{"strategy":"basic"},"id":"aos-basic-1","inputs":["source-1"],"type":"amazon_opensearch"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.859375ms
[...]
