version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"reflow_type":"fixed","tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardMultiSizeLayout_createFixed-local-1682003487","widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"width":6,"x":3,"y":0}},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"is_column_break":true,"width":6,"x":3,"y":2}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"zjb-k6e-23n","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createFixed-local-1682003487","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/zjb-k6e-23n/tf-testaccdatadogdashboardmultisizelayoutcreatefixed-local-1682003487","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"width":6,"x":3,"y":0},"id":6254683923489570},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"is_column_break":true,"width":6,"x":3,"y":2},"id":7533171046487214}],"notify_list":[],"created_at":"2023-04-20T15:11:29.112343+00:00","modified_at":"2023-04-20T15:11:29.112343+00:00","template_variable_presets":[],"reflow_type":"fixed","tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/zjb-k6e-23n
    method: GET
    id: 1
  response:
    body: |
      {"id":"zjb-k6e-23n","title":"tf-TestAccDatadogDashboardMultiSizeLayout_createFixed-local-1682003487","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/zjb-k6e-23n/tf-testaccdatadogdashboardmultisizelayoutcreatefixed-local-1682003487","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note 1","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"width":6,"x":3,"y":0},"id":6254683923489570},{"definition":{"content":"note 2","has_padding":true,"show_tick":false,"type":"note"},"layout":{"height":2,"is_column_break":true,"width":6,"x":3,"y":2},"id":7533171046487214}],"notify_list":[],"created_at":"2023-04-20T15:11:29.112343+00:00","modified_at":"2023-04-20T15:11:29.112343+00:00","template_variable_presets":[],"reflow_type":"fixed","tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/zjb-k6e-23n
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"zjb-k6e-23n"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
