---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Pipeline description","filter":{"query":"source:redis"},"is_enabled":true,"name":"tf-TestAccDatadogLogsPipeline_basic-local-1761848665","processors":[{"is_enabled":true,"name":"Define date","sources":["verbose"],"type":"date-remapper"},{"expression":"(time1-time2)*1000","is_enabled":true,"is_replace_missing":false,"name":"processor from nested pipeline","target":"my_arithmetic","type":"arithmetic-processor"},{"categories":[{"filter":{"query":"@severity: \"-\""},"name":"verbose"},{"filter":{"query":"@severity: \".\""},"name":"debug"}],"is_enabled":true,"name":"Categorise severity level","target":"redis.severity","type":"category-processor"},{"grok":{"match_rules":"rule %{date(\"yyyy-MM-dd HH:mm:ss,SSS\"):timestamp}","support_rules":"date_parser %{date(\"yyyy-MM-dd HH:mm:ss,SSS\"):timestamp}"},"is_enabled":true,"name":"Parsing Stack traces","source":"message","type":"grok-parser"},{"filter":{"query":"source:kafka"},"is_enabled":true,"name":"my nested pipeline","processors":[{"is_enabled":true,"name":"Define url parser","normalize_ending_slashes":false,"sources":["http_test"],"target":"http_test.details","type":"url-parser"},{"is_enabled":true,"is_encoded":false,"name":"Define user agent parser","sources":["http_agent"],"target":"http_agent.details","type":"user-agent-parser"}],"type":"pipeline"},{"is_enabled":true,"name":"geo ip parse","sources":["ip1"],"target":"ip.address","type":"geo-ip-parser"},{"is_enabled":false,"lookup_table":["key,value"],"name":"","source":"ip1","target":"ip.address","type":"lookup-processor"},{"default_lookup":"default","is_enabled":true,"lookup_table":["key,value"],"name":"lookup processor with optional fields","source":"ip2","target":"ip.address","type":"lookup-processor"},{"is_enabled":true,"lookup_enrichment_table":"test_reference_table_do_not_delete","name":"reftablelookup","source":"sourcefield","target":"targetfield","type":"lookup-processor"},{"is_enabled":true,"name":"span_id_remapper","sources":["dd.span_id"],"type":"span-id-remapper"},{"is_enabled":true,"name":"array append operation","operation":{"preserve_source":true,"source":"network.client.ip","target":"sourceIps","type":"append"},"type":"array-processor"},{"is_enabled":true,"name":"array length operation","operation":{"source":"tags","target":"tagCount","type":"length"},"type":"array-processor"},{"is_enabled":true,"name":"array select operation","operation":{"filter":"name:Referrer","source":"httpRequest.headers","target":"referrer","type":"select","value_to_extract":"value"},"type":"array-processor"},{"binary_to_text_encoding":"base64","input_representation":"utf_8","is_enabled":true,"name":"decoder operation","source":"encoded_message","target":"decoded_messsage","type":"decoder-processor"},{"is_enabled":true,"mappers":[{"name":"Map ocsf.user to ocsf.user","override_on_conflict":false,"preserve_source":false,"sources":["ocsf.user"],"target":"ocsf.user","type":"schema-remapper"},{"name":"Map ocsf.time to ocsf.time","override_on_conflict":false,"preserve_source":false,"sources":["ocsf.time"],"target":"ocsf.time","type":"schema-remapper"},{"name":"Map ocsf.cloud to ocsf.cloud","override_on_conflict":false,"preserve_source":false,"sources":["ocsf.cloud"],"target":"ocsf.cloud","type":"schema-remapper"},{"categories":[{"filter":{"query":"@eventName:*"},"id":1,"name":"Informational"}],"name":"Map to OCSF severity","targets":{"id":"ocsf.severity_id","name":"ocsf.severity"},"type":"schema-category-mapper"},{"categories":[{"filter":{"query":"eventName:CreateUser"},"id":1,"name":"Create"}],"fallback":{"sources":{"ocsf.activity_name":["eventName"]},"values":{"ocsf.activity_id":"99","ocsf.activity_name":"Other"}},"name":"Map to OCSF categories","targets":{"id":"ocsf.activity_id","name":"ocsf.activity_name"},"type":"schema-category-mapper"}],"name":"Map to OCSF Schema","schema":{"class_name":"Account Change","class_uid":3001,"profiles":["cloud"],"schema_type":"ocsf","version":"1.5.0"},"type":"schema-processor"}],"tags":["key2:value2","key1:value1"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs/config/pipelines
        method: POST
      response:
            - chunked
        body: |
            {"id":"xD9x89AWTOeWQFigaWRfLQ","type":"pipeline","name":"tf-TestAccDatadogLogsPipeline_basic-local-1761848665","is_enabled":true,"is_read_only":false,"filter":{"query":"source:redis"},"processors":[{"name":"Define date","is_enabled":true,"sources":["verbose"],"type":"date-remapper"},{"name":"processor from nested pipeline","is_enabled":true,"expression":"(time1-time2)*1000","target":"my_arithmetic","is_replace_missing":false,"type":"arithmetic-processor"},{"name":"Categorise severity level","is_enabled":true,"categories":[{"filter":{"query":"@severity: \"-\""},"name":"verbose"},{"filter":{"query":"@severity: \".\""},"name":"debug"}],"target":"redis.severity","type":"category-processor"},{"name":"Parsing Stack traces","is_enabled":true,"source":"message","samples":[],"grok":{"support_rules":"date_parser %{date(\"yyyy-MM-dd HH:mm:ss,SSS\"):timestamp}","match_rules":"rule %{date(\"yyyy-MM-dd HH:mm:ss,SSS\"):timestamp}"},"type":"grok-parser"},{"type":"pipeline","name":"my nested pipeline","is_enabled":true,"filter":{"query":"source:kafka"},"processors":[{"name":"Define url parser","is_enabled":true,"sources":["http_test"],"target":"http_test.details","normalize_ending_slashes":false,"type":"url-parser"},{"name":"Define user agent parser","is_enabled":true,"sources":["http_agent"],"target":"http_agent.details","is_encoded":false,"type":"user-agent-parser"}]},{"name":"geo ip parse","is_enabled":true,"sources":["ip1"],"target":"ip.address","ip_processing_behavior":"do-nothing","type":"geo-ip-parser"},{"name":"","is_enabled":false,"source":"ip1","target":"ip.address","lookup_table":["key,value"],"type":"lookup-processor"},{"name":"lookup processor with optional fields","is_enabled":true,"source":"ip2","target":"ip.address","lookup_table":["key,value"],"default_lookup":"default","type":"lookup-processor"},{"name":"reftablelookup","is_enabled":true,"source":"sourcefield","target":"targetfield","lookup_enrichment_table":"test_reference_table_do_not_delete","t[...]
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/pipelines/xD9x89AWTOeWQFigaWRfLQ
        method: GET
      response:
            - chunked
        body: |
            {"id":"xD9x89AWTOeWQFigaWRfLQ","type":"pipeline","name":"tf-TestAccDatadogLogsPipeline_basic-local-1761848665","is_enabled":true,"is_read_only":false,"filter":{"query":"source:redis"},"processors":[{"name":"Define[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Pipeline description","filter":{"query":"source:kafka"},"is_enabled":false,"name":"tf-TestAccDatadogLogsPipeline_basic-local-1761848665-updated","processors":[{"is_enabled":true,"name":"test date remapper","sources":["verbose"],"type":"date-remapper"},{"is_enabled":true,"name":"","sources":["redis.severity"],"type":"status-remapper"},{"is_enabled":true,"name":"Simple attribute remapper to tag target type","override_on_conflict":false,"preserve_source":true,"source_type":"tag","sources":["db.instance"],"target":"db","target_type":"tag","type":"attribute-remapper"},{"is_enabled":true,"name":"Simple attribute remapper to attribute target type","override_on_conflict":false,"preserve_source":true,"source_type":"tag","sources":["db.instance"],"target":"db","target_format":"string","target_type":"attribute","type":"attribute-remapper"},{"grok":{"match_rules":"rule %{date(\"yyyy-MM-dd HH:mm:ss,SSS\"):timestamp}","support_rules":"date_parser %{date(\"yyyy-MM-dd HH:mm:ss,SSS\"):timestamp}"},"is_enabled":true,"name":"Parsing Stack traces","samples":["sample1","sample2"],"source":"message","type":"grok-parser"},{"is_enabled":true,"is_replace_missing":true,"name":"string builder","target":"user.name","template":"%{user.name} is awesome","type":"string-builder-processor"},{"is_enabled":true,"name":"geo ip parse","sources":["ip1","ip2"],"target":"ip.address","type":"geo-ip-parser"},{"is_enabled":false,"lookup_table":["key,value","key2,value2"],"name":"","source":"ip1","target":"ip.address","type":"lookup-processor"},{"default_lookup":"default","is_enabled":true,"lookup_table":["key,value","key2,value2"],"name":"lookup processor with optional fields","source":"ip2","target":"ip.address","type":"lookup-pro[...]
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"description":"","filter":{"query":"source:redis"},"is_enabled":true,"name":"tf-TestAccDatadogLogsPipeline_basic-local-1761848665-without-tags-and-description","processors":[{"is_enabled":true,"name":"Define date","sources":["verbose"],"type":"date-remapper"}],"tags":["key2:value2","key1:value1"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs/config/pipelines/xD9x89AWTOeWQFigaWRfLQ
        method: PUT
      response:
            - chunked
        body: |
            {"id":"xD9x89AWTOeWQFigaWRfLQ","type":"pipeline","name":"tf-TestAccDatadogLogsPipeline_basic-local-1761848665-without-tags-and-description","is_enabled":true,"is_read_only":false,"filter":{"query":"source:redis"},"processors":[{"name":"Define date","is_enabled":true,"sources":["verbose"],"type":"date-remapper"}],"tags":["key1:value1","key2:value2"],"description":""}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.395583ms
[...]
    - id: 16
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/pipelines/xD9x89AWTOeWQFigaWRfLQ
        method: GET
      response:
            - chunked
        body: |
            {"error":{"code":"InvalidArgument","message":"Non existing pipeline"}}
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 85.857375ms
