---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"some description about foo SLO","name":"tf-TestAccDatadogServiceLevelObjective_MixedCaseTags-local-1774523013","query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:my.metric{type:good}.as_count()"},"tags":["owner:devops","service:api","env:production"],"target_threshold":99,"thresholds":[{"target":99.5,"timeframe":"7d","warning":99.8},{"target":99,"timeframe":"30d","warning":99.5},{"target":99,"timeframe":"90d"}],"timeframe":"30d","type":"metric","warning_threshold":99.5}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/slo
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"id":"8a66e458f554567cbfc27f7dc8ced36d","name":"tf-TestAccDatadogServiceLevelObjective_MixedCaseTags-local-1774523013","tags":["env:production","service:api","owner:devops"],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":99.5,"target_display":"99.5","warning":99.8,"warning_display":"99.8"},{"timeframe":"30d","target":99.0,"target_display":"99.","warning":99.5,"warning_display":"99.5"},{"timeframe":"90d","target":99.0,"target_display":"99."}],"type":"metric","type_id":1,"description":"some description about foo SLO","timeframe":"30d","warning_threshold":99.5,"target_threshold":99,"query":{"denominator":"sum:my.metric{*}.as_count()","numerator":"sum:my.metric{type:good}.as_count()"},"creator":{"name":"Francesco Pighi","handle":"francesco.pighi@datadoghq.com","email":"francesco.pighi@datadoghq.com"},"created_at":1774523015,"modified_at":1774523015,"sli_specification":{"count":{"queries":[{"data_source":"metrics","name":"query1","query":"sum:my.metric{type:good}.as_count()"},{"data_source":"metrics","name":"query2","query":"sum:my.metric{*}.as_count()"}],"good_events_formula":{"formula":"query1"},"total_events_formula":{"formula":"query2"}}}}],"error":null}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 543.326042ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/8a66e458f554567cbfc27f7dc8ced36d
        method: GET
      response:
            - chunked
        body: |
            {"data":{"id":"8a66e458f554567cbfc27f7dc8ced36d","name":"tf-TestAccDatadogServiceLevelObjective_MixedCaseTags-local-1774523013","tags":["owner:devops","env:production","service:api"],"monitor_tags":[],"thresholds":[{"time[...]
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/slo/8a66e458f554567cbfc27f7dc8ced36d
        method: GET
      response:
            - chunked
        body: '{"errors":["SLO not found: 8a66e458f554567cbfc27f7dc8ced36d not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 171.35425ms
