---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateUpdateRules-local-1765535298","service":"my-service"},"type":"deployment_gate"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates
        method: POST
      response:
        body: '{"data":{"id":"7863ba58-f218-42df-a927-7af9f3ca51a9","type":"deployment_gate","attributes":{"created_at":"2025-12-12T10:28:19.900653Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateUpdateRules-local-1765535298","service":"my-service","updated_at":"2025-12-12T10:28:19.900653Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 165.689625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"initial_rule","options":{"duration":1300},"type":"faulty_deployment_detection"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/7863ba58-f218-42df-a927-7af9f3ca51a9/rules
        method: POST
      response:
        body: '{"data":{"id":"d4fa924a-2c58-474c-87a4-6de65f0849f4","type":"deployment_rule","attributes":{"created_at":"2025-12-12T10:28:20.078326Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"7863ba58-f218-42df-a927-7af9f3ca51a9","name":"initial_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-12T10:28:20.078326Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 178.70025ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/7863ba58-f218-42df-a927-7af9f3ca51a9
        method: GET
      response:
        body: '{"data":{"id":"7863ba58-f218-42df-a927-7af9f3ca51a9","type":"deployment_gate","attributes":{"created_at":"2025-12-12T10:28:19.900653Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"env":"production","identifier":"tf-TestAccDeploymentGateUpdateRules-local-1765535298","service":"my-service","updated_at":"2025-12-12T10:28:19.900653Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 169.467166ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/deployment_gates/7863ba58-f218-42df-a927-7af9f3ca51a9/rules
        method: GET
      response:
        body: '{"data":{"id":"7863ba58-f218-42df-a927-7af9f3ca51a9","type":"list_deployment_rules","attributes":{"rules":[{"id":"d4fa924a-2c58-474c-87a4-6de65f0849f4","name":"initial_rule","type":"faulty_deployment_detection","dry_run":false,"created_at":"2025-12-12T10:28:20.078326Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"updated_at":"2025-12-12T10:28:20.078326Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"gate_id":"7863ba58-f218-42df-a927-7af9f3ca51a9","options":{"duration":1300}}]}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 156.730291ms
[...]
    - id: 8
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":false,"name":"initial_rule","options":{"duration":1300}},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/7863ba58-f218-42df-a927-7af9f3ca51a9/rules/d4fa924a-2c58-474c-87a4-6de65f0849f4
        method: PUT
      response:
        body: '{"data":{"id":"d4fa924a-2c58-474c-87a4-6de65f0849f4","type":"deployment_rule","attributes":{"created_at":"2025-12-12T10:28:20.078326Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":false,"gate_id":"7863ba58-f218-42df-a927-7af9f3ca51a9","name":"initial_rule","options":{"duration":1300},"type":"faulty_deployment_detection","updated_at":"2025-12-12T10:28:22.135213Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 154.360209ms
    - id: 9
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"dry_run":true,"name":"second_rule","options":{"duration":300,"query":"test_query"},"type":"monitor"},"type":"deployment_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/deployment_gates/7863ba58-f218-42df-a927-7af9f3ca51a9/rules
        method: POST
      response:
        body: '{"data":{"id":"07ce1008-a46e-4bbc-958a-23eca4290cdb","type":"deployment_rule","attributes":{"created_at":"2025-12-12T10:28:22.307243Z","created_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"},"dry_run":true,"gate_id":"7863ba58-f218-42df-a927-7af9f3ca51a9","name":"second_rule","options":{"query":"test_query","duration":300},"type":"monitor","updated_at":"2025-12-12T10:28:22.307243Z","updated_by":{"id":"4174e73d-b8b6-11f0-8b15-d2ad600af287","name":"Aaron Hoffman","handle":"aaron.hoffman@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 156.139959ms
[...]
