---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackTraceService-local-1699910552","type":"group","widgets":[{"definition":{"display_format":"three_column","env":"datadog.com","service":"alerting-cassandra","show_breakdown":true,"show_distribution":true,"show_errors":true,"show_hits":true,"show_latency":false,"show_resource_list":false,"size_format":"large","span_name":"cassandra.query","title":"alerting-cassandra #env:datadog.com","title_align":"center","title_size":"13","type":"trace_service"}}]},"layout":{"height":1,"width":12,"x":0,"y":0},"live_span":"4h"},"name":"tf-TestAccDatadogPowerpackTraceService-local-1699910552","tags":["tag:foo1"],"template_variables":[{"defaults":["defaults"],"name":"datacenter"}]},"type":"powerpack"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/powerpacks
    method: POST
  response:
    body: |
      {"data":{"type":"powerpack","id":"c2e897da-826a-11ee-a621-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackTraceService-local-1699910552","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackTraceService-local-1699910552","type":"group","widgets":[{"definition":{"display_format":"three_column","env":"datadog.com","service":"alerting-cassandra","show_breakdown":true,"show_distribution":true,"show_errors":true,"show_hits":true,"show_latency":false,"show_resource_list":false,"size_format":"large","span_name":"cassandra.query","title":"alerting-cassandra #env:datadog.com","title_align":"center","title_size":"13","type":"trace_service"},"id":1048487405907186}]},"layout":{"height":1,"width":12,"x":0,"y":0},"live_span":"4h"},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/c2e897da-826a-11ee-a621-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"powerpack","id":"c2e897da-826a-11ee-a621-da7ad0900002","attributes":{"name":"tf-TestAccDatadogPowerpackTraceService-local-1699910552","description":"Created using the Datadog provider in Terraform","group_widget":{"definition":{"layout_type":"ordered","title":"tf-TestAccDatadogPowerpackTraceService-local-1699910552","type":"group","widgets":[{"definition":{"display_format":"three_column","env":"datadog.com","service":"alerting-cassandra","show_breakdown":true,"show_distribution":true,"show_errors":true,"show_hits":true,"show_latency":false,"show_resource_list":false,"size_format":"large","span_name":"cassandra.query","title":"alerting-cassandra #env:datadog.com","title_align":"center","title_size":"13","type":"trace_service"},"id":1048487405907186}]},"layout":{"height":1,"width":12,"x":0,"y":0},"live_span":"4h"},"template_variables":[{"defaults":["defaults"],"name":"datacenter"}],"tags":["tag:foo1"]},"relationships":{"author":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"email":"frog@datadoghq.com"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/powerpacks/c2e897da-826a-11ee-a621-da7ad0900002
    method: GET
  response:
    body: '{"errors":["Powerpack with ID c2e897da-826a-11ee-a621-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
