---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1626980107","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"jq9-deq-ysq","title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1626980107","url":"/dashboard/jq9-deq-ysq/tf-testaccdatadogdashboardrbacupdatetoopen-local-1626980107","created_at":"2021-07-22T18:55:11.245049+00:00","modified_at":"2021-07-22T18:55:11.245049+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":1251956767262785}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/jq9-deq-ysq
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"jq9-deq-ysq","title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1626980107","url":"/dashboard/jq9-deq-ysq/tf-testaccdatadogdashboardrbacupdatetoopen-local-1626980107","created_at":"2021-07-22T18:55:11.245049+00:00","modified_at":"2021-07-22T18:55:11.245049+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":1251956767262785}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1626980107"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"61b0a0e2-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1626980107","created_at":"2021-07-22T18:55:28.543552+00:00","modified_at":"2021-07-22T18:55:28.543552+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "490"
      X-Ratelimit-Reset:
      - "32"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"jq9-deq-ysq","layout_type":"ordered","notify_list":[],"restricted_roles":["61b0a0e2-eb1e-11eb-b233-da7ad0900002"],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1626980107","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/jq9-deq-ysq
    method: PUT
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","restricted_roles":["61b0a0e2-eb1e-11eb-b233-da7ad0900002"],"author_name":null,"template_variable_presets":[],"template_variables":[],"id":"jq9-deq-ysq","title":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1626980107","url":"/dashboard/jq9-deq-ysq/tf-testaccdatadogdashboardrbacupdatetoopen-local-1626980107","created_at":"2021-07-22T18:55:11.245049+00:00","modified_at":"2021-07-22T18:55:29.465923+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":5883573337998492}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetRole
    url: https://api.datadoghq.com/api/v2/roles/61b0a0e2-eb1e-11eb-b233-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"61b0a0e2-eb1e-11eb-b233-da7ad0900002","attributes":{"name":"tf-TestAccDatadogDashboardRbac_updateToOpen-local-1626980107","created_at":"2021-07-22T18:55:28.543552+00:00","modified_at":"2021-07-22T18:55:28.543552+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - "500"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "489"
      X-Ratelimit-Reset:
      - "29"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/jq9-deq-ysq
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"jq9-deq-ysq"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
