---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardScatterplotFormula-local-1636991101","widgets":[{"definition":{"requests":{"table":{"formulas":[{"dimension":"x","formula":"my_query_1"},{"alias":"second_query","dimension":"color","formula":"my_query_2"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo} by {env}"},{"aggregator":"sum","data_source":"metrics","name":"my_query_2","query":"avg:system.cpu.idle{bar} by {env}"}],"response_format":"scalar"}},"type":"scatterplot"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":"Hippolyte Henry","template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"4tk-ma5-ps3","title":"tf-TestAccDatadogDashboardScatterplotFormula-local-1636991101","url":"/dashboard/4tk-ma5-ps3/tf-testaccdatadogdashboardscatterplotformula-local-1636991101","created_at":"2021-11-15T15:45:03.732550+00:00","modified_at":"2021-11-15T15:45:03.732550+00:00","author_handle":"hippolyte.henry@datadoghq.com","widgets":[{"definition":{"requests":{"table":{"formulas":[{"formula":"my_query_1","dimension":"x"},{"alias":"second_query","dimension":"color","formula":"my_query_2"}],"response_format":"scalar","queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo} by {env}"},{"aggregator":"sum","data_source":"metrics","name":"my_query_2","query":"avg:system.cpu.idle{bar} by {env}"}]}},"type":"scatterplot"},"id":371314334100831}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/4tk-ma5-ps3
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","author_name":"Hippolyte Henry","template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"4tk-ma5-ps3","title":"tf-TestAccDatadogDashboardScatterplotFormula-local-1636991101","url":"/dashboard/4tk-ma5-ps3/tf-testaccdatadogdashboardscatterplotformula-local-1636991101","created_at":"2021-11-15T15:45:03.732550+00:00","modified_at":"2021-11-15T15:45:03.732550+00:00","author_handle":"hippolyte.henry@datadoghq.com","widgets":[{"definition":{"requests":{"table":{"formulas":[{"formula":"my_query_1","dimension":"x"},{"alias":"second_query","dimension":"color","formula":"my_query_2"}],"response_format":"scalar","queries":[{"aggregator":"sum","data_source":"metrics","name":"my_query_1","query":"avg:system.cpu.user{foo} by {env}"},{"aggregator":"sum","data_source":"metrics","name":"my_query_2","query":"avg:system.cpu.idle{bar} by {env}"}]}},"type":"scatterplot"},"id":371314334100831}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/4tk-ma5-ps3
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"4tk-ma5-ps3"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/4tk-ma5-ps3
    method: GET
  response:
    body: '{"errors": ["Dashboard with ID 4tk-ma5-ps3 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
