---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"display_timezone":"UTC","monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"mute_first_recovery_notification":false,"notify_end_types":[],"schedule":{"end":null,"start":"2050-01-02T03:04:05Z"},"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689875218)"},"type":"downtime"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/downtime
    method: POST
  response:
    body: |
      {"data":{"type":"downtime","attributes":{"modified":"2023-07-20T17:47:01.194371+00:00","scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689875218)","notify_end_types":[],"created":"2023-07-20T17:47:01.194371+00:00","schedule":{"start":"2050-01-02T03:04:05+00:00","end":null},"message":null,"canceled":null,"notify_end_states":["warn","alert","no data"],"status":"scheduled","display_timezone":"UTC","mute_first_recovery_notification":false,"monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]}},"relationships":{"monitor":{"data":null},"created_by":{"data":{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92"}}},"id":"6e3ee252-2725-11ee-9423-da7ad0900002"},"included":[{"type":"users","id":"0e08ee7b-eba0-11e9-a77a-5b128f8b6c92","attributes":{"name":"Carl Martensen","handle":"carl.martensen@datadoghq.com","created_at":"2019-01-15T14:36:15.423919+00:00","modified_at":"2019-01-15T14:36:15.457748+00:00","email":"carl.martensen@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ed460c2fc567a43e34c2bd7cda76bdd1?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/downtime/6e3ee252-2725-11ee-9423-da7ad0900002
    method: GET
  response:
    body: |
      {"data":{"type":"downtime","attributes":{"display_timezone":"UTC","notify_end_states":["alert","warn","no data"],"modified":"2023-07-20T17:47:01.194371+00:00","message":null,"schedule":{"end":null,"start":"2050-01-02T03:04:05+00:00"},"canceled":null,"monitor_identifier":{"monitor_tags":["cat:hat","mat:sat"]},"status":"scheduled","mute_first_recovery_notification":false,"scope":"env:(staging OR tf-TestAccDowntimeScheduleBasicOneTime-local-1689875218)","notify_end_types":[],"created":"2023-07-20T17:47:01.194371+00:00"},"id":"6e3ee252-2725-11ee-9423-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
