---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-test-tag-rule-import-1787669424","rule_type":"surfacing","scope":"tf-test-tag-rule-import-1787669424","source":"logs","tag_key":"env","tag_value_patterns":["prod","staging"]},"type":"tag_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/governance/tag_rules
        method: POST
      response:
        body: '{"data":{"id":"2086","type":"tag_policy","attributes":{"created_at":"2026-08-25T14:50:28.148219Z","created_by":"f6188377-1854-42ac-9174-a7a1944647cb","enabled":true,"modified_at":"2026-08-25T14:50:28.148219Z","modified_by":"f6188377-1854-42ac-9174-a7a1944647cb","name":"tf-test-tag-rule-import-1787669424","negated":false,"policy_name":"tf-test-tag-rule-import-1787669424","policy_type":"surfacing","required":false,"rule_type":"surfacing","scope":"tf-test-tag-rule-import-1787669424","source":"logs","tag_key":"env","tag_value_patterns":["prod","staging"],"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 302.761847ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/governance/tag_rules/2086
        method: GET
      response:
        body: '{"data":{"id":"2086","type":"tag_policy","attributes":{"created_at":"2026-08-25T14:50:28.148219Z","created_by":"f6188377-1854-42ac-9174-a7a1944647cb","enabled":true,"modified_at":"2026-08-25T14:50:28.148219Z","modified_by":"f6188377-1854-42ac-9174-a7a1944647cb","name":"tf-test-tag-rule-import-1787669424","negated":false,"policy_name":"tf-test-tag-rule-import-1787669424","policy_type":"surfacing","required":false,"rule_type":"surfacing","scope":"tf-test-tag-rule-import-1787669424","source":"logs","tag_key":"env","tag_value_patterns":["prod","staging"],"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 123.906335ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/governance/tag_rules/2086?hard_delete=true
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 125.538608ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/governance/tag_rules/2086
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"resource not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 115.051179ms
