---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"restriction_query":"service:test-tf-TestAccDatadogLogsRestrictionQuery_Basic-local-1765384910"},"type":"logs_restriction_queries"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"logs_restriction_queries","id":"21d84e62-d5e7-11f0-93e9-da7ad0900002","attributes":{"restriction_query":"service:test-tf-TestAccDatadogLogsRestrictionQuery_Basic-local-1765384910","created_at":"2025-12-10T16:41:53.046080+00:00","modified_at":"2025-12-10T16:41:53.046080+00:00"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 579.269ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/21d84e62-d5e7-11f0-93e9-da7ad0900002
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"logs_restriction_queries","id":"21d84e62-d5e7-11f0-93e9-da7ad0900002","attributes":{"restriction_query":"service:test-tf-TestAccDatadogLogsRestrictionQuery_Basic-local-1765384910","created_at":"2025-12-10T16:41:53.046080+00:00","modified_at":"2025-12-10T16:41:53.046080+00:00"},"relationships":{"roles":{"data":[]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 923.485167ms
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/21d84e62-d5e7-11f0-93e9-da7ad0900002
        method: GET
      response:
            - chunked
        body: '{"errors":["Restriction query not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 69.716375ms
