---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSloList_import-local-1680104112","widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"h9r-wnw-d5i","title":"tf-TestAccDatadogDashboardSloList_import-local-1680104112","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/h9r-wnw-d5i/tf-testaccdatadogdashboardslolistimport-local-1680104112","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"},"id":1500314673424502}],"notify_list":[],"created_at":"2023-03-29T15:35:15.059698+00:00","modified_at":"2023-03-29T15:35:15.059698+00:00","template_variable_presets":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/h9r-wnw-d5i
    method: GET
  response:
    body: |
      {"id":"h9r-wnw-d5i","title":"tf-TestAccDatadogDashboardSloList_import-local-1680104112","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/h9r-wnw-d5i/tf-testaccdatadogdashboardslolistimport-local-1680104112","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"requests":[{"query":{"limit":30,"query_string":"env:prod AND service:my-app","sort":[{"column":"status.sli","order":"desc"}]},"request_type":"slo_list"}],"title":"my title","title_align":"center","title_size":"16","type":"slo_list"},"id":1500314673424502}],"notify_list":[],"created_at":"2023-03-29T15:35:15.059698+00:00","modified_at":"2023-03-29T15:35:15.059698+00:00","template_variable_presets":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/h9r-wnw-d5i
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"h9r-wnw-d5i"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/h9r-wnw-d5i
    method: GET
  response:
    body: '{"errors":["Dashboard with ID h9r-wnw-d5i not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
