---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1740494917","widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: |
            {"id":"49z-ysb-ywy","title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1740494917","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/49z-ysb-ywy/tf-testaccdatadogdashboardrbacupdatetoadmin-local-1740494917","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":5758303516866077}],"notify_list":[],"created_at":"2025-02-25T14:48:40.445324+00:00","modified_at":"2025-02-25T14:48:40.445324+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 370.966625ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/49z-ysb-ywy
        method: GET
      response:
            - chunked
        body: |
            {"id":"49z-ysb-ywy","title":"tf-TestAccDatadogDashboardRbac_updateToAdmin-local-1740494917","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/49z-ysb-ywy/tf-testaccdatadogdashboardrbacupdatetoadmin-local-1740494917","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"content":"note text","has_padding":true,"show_tick":false,"type":"note"},"id":5758303516866077}],"notify_list":[],"created_at":"2025-02-25T14:48:40.445324+00:00","modified_at":"2025-02-25T14:48:40.445324+00:00","template_variable_presets":[],"tags":[]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 230.476625ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/49z-ysb-ywy
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_dashboard_id":"49z-ysb-ywy"}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 234.619542ms
