---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/sts_delegate
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_sts_delegate","id":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com","attributes":{"delegate_account_email":"ddgci-45108e579fe252698007@datadog-gci-sts-us1-prod.iam.gserviceaccount.com"}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.847ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":["a:tag","and:another","another:one"],"automute":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1730992674@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":["tag:one","tag:two"],"host_filters":["tag:one","tag:two"],"is_cspm_enabled":false,"is_resource_change_collection_enabled":false,"is_security_command_center_enabled":false,"resource_collection_enabled":false},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_service_account","attributes":{"host_filters":["tag:one","tag:two"],"is_cspm_enabled":false,"is_resource_change_collection_enabled":false,"cloud_run_revision_filters":["tag:one","tag:two"],"metric_namespace_configs":[],"account_tags":["a:tag","and:another","another:one"],"resource_collection_enabled":false,"is_security_command_center_enabled":false,"automute":false,"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1730992674@test-project.iam.gserviceaccount.com"},"id":"cd65d002-3837-4576-99f1-7d0dec3c2dcd"}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 398.252167ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts
        method: GET
      response:
            - chunked
        body: |
            {"data":[{"type":"gcp_service_account","attributes":{"cloud_run_revision_filters":[],"account_tags":["team:gray"],"client_email":"graytest@datadog-gcp-ints-test-b.iam.gserviceaccount.com","automute":true,"metric_namespace_configs":[],"is_cspm_enabled":false,"is_resource_change_collection_enabled":false,"resource_collection_enabled":true,"is_security_command_center_enabled":false,"host_filters":[]},"id":"0f2b1be3-6c1a-4570-8e97-db356fcc37a7","meta":{"accessible_projects":["datadog-gcp-ints-test-b","datadog-gcp-ints-test-c"]}},{"type":"gcp_service_account","attributes":{"cloud_run_revision_filters":[],"account_tags":[],"client_email":"ui@google.com","automute":false,"metric_namespace_configs":[],"is_cspm_enabled":false,"is_resource_change_collection_enabled":false,"resource_collection_enabled":true,"is_security_command_center_enabled":false,"host_filters":[]},"id":"8f12ca8e-5b6e-4904-8853-4b49ee096fbe","meta":{"accessible_projects":[]}},{"type":"gcp_service_accou[...]
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":[],"automute":true,"cloud_run_revision_filters":[],"host_filters":[],"is_cspm_enabled":true,"is_resource_change_collection_enabled":true,"is_security_command_center_enabled":true,"resource_collection_enabled":true},"type":"gcp_service_account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/gcp/accounts/cd65d002-3837-4576-99f1-7d0dec3c2dcd
        method: PATCH
      response:
            - chunked
        body: |
            {"data":{"type":"gcp_service_account","id":"cd65d002-3837-4576-99f1-7d0dec3c2dcd","attributes":{"automute":true,"is_resource_change_collection_enabled":true,"is_cspm_enabled":true,"account_tags":[],"cloud_run_revision_filters":[],"resource_collection_enabled":true,"is_security_command_center_enabled":true,"host_filters":[],"metric_namespace_configs":[],"client_email":"tf-TestAccIntegrationGcpStsBasic-local-1730992674@test-project.iam.gserviceaccount.com"}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 543.189208ms
[...]
