---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"tf-testaccdatadogserviceaccountapplicationkey_create-local-1685579415@example.com","name":"A Test Service Account","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts
    method: POST
  response:
    body: |
      {"data":{"type":"users","id":"7b23bf39-0013-11ee-a589-e246d06dd7ab","attributes":{"name":"A Test Service Account","handle":"7b23bf39-0013-11ee-a589-e246d06dd7ab","created_at":"2023-06-01T00:30:16.538959+00:00","modified_at":"2023-06-01T00:30:16.545899+00:00","email":"tf-testaccdatadogserviceaccountapplicationkey_create-local-1685579415@example.com","icon":"https://secure.gravatar.com/avatar/f25f566993a9bfaa76241a0d04c84350?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"76d50d80-ffeb-11ed-a643-da7ad0900002"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogServiceAccountApplicationKey_Create-local-1685579415"},"type":"application_keys"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/service_accounts/7b23bf39-0013-11ee-a589-e246d06dd7ab/application_keys
    method: POST
  response:
    body: |
      {"data":{"type":"application_keys","id":"9b1997e6-9809-47b8-8253-772b12e00127","attributes":{"name":"tf-TestAccDatadogServiceAccountApplicationKey_Create-local-1685579415","created_at":"2023-06-01T00:30:16.759514+00:00","last4":"8c75","key":"3959e2a4efe0e765784546a1ec0f95712ed18c75","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"7b23bf39-0013-11ee-a589-e246d06dd7ab"}},"leak_information":{"data":null}}}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/service_accounts/7b23bf39-0013-11ee-a589-e246d06dd7ab/application_keys/9b1997e6-9809-47b8-8253-772b12e00127
    method: GET
  response:
    body: |
      {"data":{"type":"application_keys","id":"9b1997e6-9809-47b8-8253-772b12e00127","attributes":{"name":"tf-TestAccDatadogServiceAccountApplicationKey_Create-local-1685579415","created_at":"2023-06-01T00:30:16.759514+00:00","last4":"8c75","scopes":null},"relationships":{"leak_information":{"data":null}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/application_keys/9b1997e6-9809-47b8-8253-772b12e00127
    method: GET
  response:
    body: |
      {"data":{"type":"application_keys","id":"9b1997e6-9809-47b8-8253-772b12e00127","attributes":{"name":"tf-TestAccDatadogServiceAccountApplicationKey_Create-local-1685579415","created_at":"2023-06-01T00:30:16.759514+00:00","last4":"8c75","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"7b23bf39-0013-11ee-a589-e246d06dd7ab"}},"leak_information":{"data":null}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/users/7b23bf39-0013-11ee-a589-e246d06dd7ab
    method: GET
  response:
    body: |
      {"data":{"type":"users","id":"7b23bf39-0013-11ee-a589-e246d06dd7ab","attributes":{"name":"A Test Service Account","handle":"7b23bf39-0013-11ee-a589-e246d06dd7ab","created_at":"2023-06-01T00:30:16.538959+00:00","modified_at":"2023-06-01T00:30:16.545899+00:00","email":"tf-testaccdatadogserviceaccountapplicationkey_create-local-1685579415@example.com","icon":"https://secure.gravatar.com/avatar/f25f566993a9bfaa76241a0d04c84350?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"76d50d80-ffeb-11ed-a643-da7ad0900002"}}}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/application_keys/9b1997e6-9809-47b8-8253-772b12e00127
    method: GET
  response:
    body: '{"errors":["Application key not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
