---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"Custom data-jobs alert","name":"tf-TestAccDatadogMonitor_DataJobs_CustomJobType-local-1779111356","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":0},"variables":[{"job_type":"custom.ol.my_pipeline","jobs_query":"service:my-service","name":"run_query","query_dialect":"metric"}]},"priority":null,"query":"formula(\"failed_runs(run_query)\").by(job_name).last(1h) \u003e 0","restricted_roles":null,"tags":[],"type":"data-jobs alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 151.506292ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"Custom data-jobs alert","name":"tf-TestAccDatadogMonitor_DataJobs_CustomJobType-local-1779111356","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":0},"variables":[{"job_type":"custom.ol.my_pipeline","jobs_query":"service:my-service","name":"run_query","query_dialect":"metric"}]},"priority":null,"query":"formula(\"failed_runs(run_query)\").by(job_name).last(1h) \u003e 0","restricted_roles":null,"tags":[],"type":"data-jobs alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":284316123,"org_id":321813,"type":"data-jobs alert","name":"tf-TestAccDatadogMonitor_DataJobs_CustomJobType-local-1779111356","message":"Custom data-jobs alert","tags":[],"query":"formula(\"failed_runs(run_query)\").by(job_name).last(1h) > 0","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":0.0},"variables":[{"job_type":"custom.ol.my_pipeline","jobs_query":"service:my-service","name":"run_query","query_dialect":"metric"}],"notify_audit":false,"silenced":{}},"multi":true,"created_at":1779111360000,"created":"2026-05-18T13:36:00.444957+00:00","modified":"2026-05-18T13:36:00.444957+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Pawe\u0142 Leszczy\u0144ski","handle":"pawel.leszczynski@datadoghq.com","email":"pawel.leszczynski@datadoghq.com","id":67862179}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 260.788625ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"Custom data-jobs alert","name":"tf-TestAccDatadogMonitor_DataJobs_CustomJobType-local-1779111356","options":{"include_tags":true,"new_host_delay":300,"no_data_timeframe":10,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":0},"variables":[{"job_type":"custom.ol.my_pipeline","jobs_query":"service:my-service","name":"run_query","query_dialect":"metric"}]},"priority":null,"query":"formula(\"failed_runs(run_query)\").by(job_name).last(1h) \u003e 0","restricted_roles":null,"tags":[],"type":"data-jobs alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/284316123/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.899334ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/284316123?with_assets=true
        method: GET
      response:
            - chunked
        body: |
            {"id":284316123,"org_id":321813,"type":"data-jobs alert","name":"tf-TestAccDatadogMonitor_DataJobs_CustomJobType-local-1779111356","message":"Custom data-jobs alert","tags":[],"query":"formula(\"failed_runs(run_query)\").by(job_name).last(1h) > 0","options":{"include_tags":true,"new_host_delay":300,"notify_no_data":false,"require_full_window":true,"thresholds":{"critical":0.0},"variables":[{"job_type":"custom.ol.my_pipeline","jobs_query":"service:my-service","name":"run_query","query_dialect":"metric"}],"notify_audit":false,"silenced":{}},"multi":true,"created_at":1779111360000,"created":"2026-05-18T13:36:00.444957+00:00","modified":"2026-05-18T13:36:00.444957+00:00","deleted":null,"priority":null,"restricted_roles":null,"draft_status":"published","assets":[],"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"Pawe\u0142 Leszczy\u0144ski","email":"pawel.leszczynski@datadoghq.com","handle":"pawel.leszczynski@datadoghq.com","id":67862179}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 199.053334ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/284316123
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":284316123}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.469417ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/284316123
        method: GET
      response:
            - chunked
        body: '{"errors":["Monitor not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 171.936625ms
