version: 2
interactions:
- request:
    body: |
      {"data":{"attributes":{"policy":{"tag_key":"tf-TestAccDatadogMonitorConfigPoliciesDatasource-local-1698257467-1","tag_key_required":false,"valid_tag_values":["value"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/monitor/policy
    method: POST
    id: 0
  response:
    body: |
      {"data":{"type":"monitor-config-policy","id":"e0913b60-7361-11ee-b6cb-da7ad0900002","attributes":{"policy":{"tag_key":"tf-TestAccDatadogMonitorConfigPoliciesDatasource-local-1698257467-1","valid_tag_values":["value"],"tag_key_required":false},"policy_type":"tag"}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/monitor/policy/e0913b60-7361-11ee-b6cb-da7ad0900002
    method: GET
    id: 4
  response:
    body: |
      {"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key":"tf-TestAccDatadogMonitorConfigPoliciesDatasource-local-1698257467-1","valid_tag_values":["value"],"tag_key_required":false},"policy_type":"tag"},"id":"e0913b60-7361-11ee-b6cb-da7ad0900002"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
