---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"components":[{"name":"API","type":"component"}],"domain_prefix":"test-sp-maint-tmpl-basic-1787179210","name":"test-sp-maint-tmpl-basic-1787179210","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages
        method: POST
      response:
        body: '{"data":{"id":"945b6771-bec2-462c-b76e-18f99e9a4776","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"c082c139-3cf1-4c3e-8092-0b4cacd97ac7","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T22:40:13.344795Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-maint-tmpl-basic-1787179210","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T22:40:13.344795Z","name":"test-sp-maint-tmpl-basic-1787179210","page_url":"https://frog.datadoghq.com/status-pages/945b6771-bec2-462c-b76e-18f99e9a4776/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.0150695s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/945b6771-bec2-462c-b76e-18f99e9a4776
        method: GET
      response:
        body: '{"data":{"id":"945b6771-bec2-462c-b76e-18f99e9a4776","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"c082c139-3cf1-4c3e-8092-0b4cacd97ac7","name":"API","type":"component","status":"operational","position":0}],"created_at":"2026-08-19T22:40:13.344795Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"test-sp-maint-tmpl-basic-1787179210","email_header_image":null,"enabled":false,"favicon":null,"modified_at":"2026-08-19T22:40:13.344795Z","name":"test-sp-maint-tmpl-basic-1787179210","page_url":"https://frog.datadoghq.com/status-pages/945b6771-bec2-462c-b76e-18f99e9a4776/view","slack_app_icon":null,"slack_subscriptions_enabled":false,"subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 62.061458ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"completed_description":"Maintenance is complete.","component_ids":["c082c139-3cf1-4c3e-8092-0b4cacd97ac7"],"in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","name":"test-sp-maint-tmpl-basic-1787179210","scheduled_description":"Maintenance is scheduled."},"type":"maintenance_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/statuspages/945b6771-bec2-462c-b76e-18f99e9a4776/maintenance_templates
        method: POST
      response:
        body: '{"data":{"id":"4b98cb02-8d03-4b2a-ac01-eda95aa709e6","type":"maintenance_templates","attributes":{"completed_description":"Maintenance is complete.","component_ids":["c082c139-3cf1-4c3e-8092-0b4cacd97ac7"],"created_at":"2026-08-19T22:40:16.603572Z","in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","modified_at":"2026-08-19T22:40:16.603572Z","name":"test-sp-maint-tmpl-basic-1787179210","scheduled_description":"Maintenance is scheduled."},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"945b6771-bec2-462c-b76e-18f99e9a4776","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 78.930959ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/945b6771-bec2-462c-b76e-18f99e9a4776/maintenance_templates/4b98cb02-8d03-4b2a-ac01-eda95aa709e6
        method: GET
      response:
        body: '{"data":{"id":"4b98cb02-8d03-4b2a-ac01-eda95aa709e6","type":"maintenance_templates","attributes":{"completed_description":"Maintenance is complete.","component_ids":["c082c139-3cf1-4c3e-8092-0b4cacd97ac7"],"created_at":"2026-08-19T22:40:16.603572Z","in_progress_description":"Maintenance is in progress.","maintenance_title":"Scheduled API maintenance","modified_at":"2026-08-19T22:40:16.603572Z","name":"test-sp-maint-tmpl-basic-1787179210","scheduled_description":"Maintenance is scheduled."},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"945b6771-bec2-462c-b76e-18f99e9a4776","type":"status_pages"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 65.761709ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/statuspages/945b6771-bec2-462c-b76e-18f99e9a4776/maintenance_templates/4b98cb02-8d03-4b2a-ac01-eda95aa709e6
        method: GET
      response:
        body: '{"errors":[{"title":"Not Found","detail":"Status page not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 59.678959ms
