---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccMonitor_Fwprovider_FormulaFunction-local-1756247445","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":null,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","type":"rum alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.112083ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccMonitor_Fwprovider_FormulaFunction-local-1756247445","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":null,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","tags":[],"type":"rum alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor
        method: POST
      response:
            - chunked
        body: |
            {"id":187417175,"org_id":321813,"type":"rum alert","name":"tf-TestAccMonitor_Fwprovider_FormulaFunction-local-1756247445","message":"test","tags":[],"query":"formula(\"var1 + var2\").last(\"5m\") > 100","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100.0},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}],"groupby_simple_monitor":false,"silenced":{}},"multi":false,"created_at":1756247446000,"created":"2025-08-26T22:30:46.232488+00:00","modified":"2025-08-26T22:30:46.232488+00:00","deleted":null,"priority":null,"restricted_roles":null,"restriction_policy":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 138.838291ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"draft_status":"published","message":"test","name":"tf-TestAccMonitor_Fwprovider_FormulaFunction-local-1756247445","options":{"groupby_simple_monitor":false,"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}]},"priority":null,"query":"formula(\"var1 + var2\").last(\"5m\") \u003e 100","restricted_roles":null,"tags":[],"type":"rum alert"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/monitor/187417175/validate
        method: POST
      response:
        body: |
            {}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.938167ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/187417175
        method: GET
      response:
            - chunked
        body: |
            {"id":187417175,"org_id":321813,"type":"rum alert","name":"tf-TestAccMonitor_Fwprovider_FormulaFunction-local-1756247445","message":"test","tags":[],"query":"formula(\"var1 + var2\").last(\"5m\") > 100","options":{"include_tags":true,"new_host_delay":300,"notify_audit":false,"notify_no_data":false,"thresholds":{"critical":100.0},"variables":[{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var1","search":{"query":"@browser.name:Firefox"}},{"compute":{"aggregation":"count"},"data_source":"rum","indexes":["*"],"name":"var2","search":{"query":"@browser.name:Chrome"}}],"groupby_simple_monitor":false,"silenced":{}},"multi":false,"created_at":1756247446000,"created":"2025-08-26T22:30:46.232488+00:00","modified":"2025-08-26T22:30:46.232488+00:00","deleted":null,"priority":null,"restricted_roles":null,"overall_state_modified":null,"overall_state":"No Data","creator":{"name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","id":1445416}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 119.647917ms
[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/monitor/187417175
        method: DELETE
      response:
            - chunked
        body: |
            {"deleted_monitor_id":187417175}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 197.354459ms
