---
version: 1
interactions:
- request:
    body: '{"services":[{"service_name":"tf_TestDatadogIntegrationPagerduty_import_local_1609425724","service_key":"*****"},{"service_name":"tf_TestDatadogIntegrationPagerduty_import_local_1609425724_2","service_key":"*****"}],"subdomain":"testdomain","schedules":["https://ddog.pagerduty.com/schedules/X123VF"],"api_token":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/integration/pagerduty
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain
      X-Dd-Debug:
      - h6yqPaHNwx3ZGZPMs75pO93HC01YoL8B6e/Fb89zqQCmU57u6KTAhksrYQV/dzkY
      X-Dd-Version:
      - "35.3622023"
    status: 204 No Content
    code: 204
    duration: ""
[...]
