---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"action":{"max_tickets_per_day":100,"project_id":"11111111-1111-1111-1111-111111111111","target":"jira"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRule-local-1782145508","rule":{"finding_types":["misconfiguration"],"query":"env:prod @severity:critical"}},"type":"ticket_creation_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automation/ticket_creation_rules
        method: POST
      response:
        body: '{"data":{"id":"8dab2a76-3874-4295-abfe-386b4e48d838","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":100},"created_at":1782145509752,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782145509752,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRule-local-1782145508","rule":{"finding_types":["misconfiguration"],"query":"env:prod @severity:critical"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 459.220583ms
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/ticket_creation_rules/8dab2a76-3874-4295-abfe-386b4e48d838
        method: GET
      response:
        body: '{"data":{"id":"8dab2a76-3874-4295-abfe-386b4e48d838","type":"ticket_creation_rules","attributes":{"action":{"project_id":"11111111-1111-1111-1111-111111111111","target":"jira","max_tickets_per_day":100},"created_at":1782145509752,"created_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"enabled":true,"modified_at":1782145509752,"modified_by":{"type":"user","id":"8846fa8e-5bf9-11f0-b7e0-fa0437aa46c4","name":"Hugo Queinnec"},"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRule-local-1782145508","rule":{"finding_types":["misconfiguration"],"query":"env:prod @severity:critical"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 137.770792ms
[...]
    - id: 4
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"action":{"assignee_id":"22222222-2222-2222-2222-222222222222","fields":{"labels":["security"]},"max_tickets_per_day":50,"project_id":"11111111-1111-1111-1111-111111111111","target":"jira"},"enabled":false,"name":"tf-TestAccDatadogSecurityFindingsTicketCreationRule-local-1782145508-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:prod @severity:critical"}},"type":"ticket_creation_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/security/findings/automa[...]
[...]
    - id: 9
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/security/findings/automation/ticket_creation_rules/8dab2a76-3874-4295-abfe-386b4e48d838
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 111.515375ms
