---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"reflow_type":"auto","tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardSpans_NoHideIncompleteCostData-local-1768315383","widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"time":{"live_span":"1h"},"title":"CPU Utilization?","type":"timeseries"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"rhg-ezr-wc5","title":"tf-TestAccDatadogDashboardSpans_NoHideIncompleteCostData-local-1768315383","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/rhg-ezr-wc5/tf-testaccdatadogdashboardspansnohideincompletecostdata-local-1768315383","template_variables":[],"widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"time":{"live_span":"1h"},"title":"CPU Utilization?","type":"timeseries"},"id":4072970494010701}],"notify_list":[],"created_at":"2026-01-13T14:43:06.142856+00:00","modified_at":"2026-01-13T14:43:06.142856+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.611041ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/rhg-ezr-wc5
        method: GET
      response:
            - chunked
        body: '{"id":"rhg-ezr-wc5","title":"tf-TestAccDatadogDashboardSpans_NoHideIncompleteCostData-local-1768315383","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/rhg-ezr-wc5/tf-testaccdatadogdashboardspansnohideincompletecostdata-local-1768315383","template_variables":[],"widgets":[{"definition":{"requests":[{"on_right_yaxis":false,"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries"}],"show_legend":false,"time":{"live_span":"1h"},"title":"CPU Utilization?","type":"timeseries"},"id":4072970494010701}],"notify_list":[],"created_at":"2026-01-13T14:43:06.142856+00:00","modified_at":"2026-01-13T14:43:06.142856+00:00","template_variable_presets":[],"reflow_type":"auto","tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.263708ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/rhg-ezr-wc5
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"rhg-ezr-wc5"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 322.81275ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/rhg-ezr-wc5
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID rhg-ezr-wc5 not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 97.941084ms
