version: 2
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardNote-local-1682003518","widgets":[{"definition":{"background_color":"green","content":"This is a note widget","font_size":"18","has_padding":true,"show_tick":true,"text_align":"center","tick_edge":"bottom","tick_pos":"50%","type":"note"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
    id: 0
  response:
    body: |
      {"id":"byf-f8w-eyt","title":"tf-TestAccDatadogDashboardNote-local-1682003518","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/byf-f8w-eyt/tf-testaccdatadogdashboardnote-local-1682003518","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"background_color":"green","content":"This is a note widget","font_size":"18","has_padding":true,"show_tick":true,"text_align":"center","tick_edge":"bottom","tick_pos":"50%","type":"note"},"id":7968612726097049}],"notify_list":[],"created_at":"2023-04-20T15:11:59.672880+00:00","modified_at":"2023-04-20T15:11:59.672880+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/byf-f8w-eyt
    method: GET
    id: 1
  response:
    body: |
      {"id":"byf-f8w-eyt","title":"tf-TestAccDatadogDashboardNote-local-1682003518","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/byf-f8w-eyt/tf-testaccdatadogdashboardnote-local-1682003518","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"background_color":"green","content":"This is a note widget","font_size":"18","has_padding":true,"show_tick":true,"text_align":"center","tick_edge":"bottom","tick_pos":"50%","type":"note"},"id":7968612726097049}],"notify_list":[],"created_at":"2023-04-20T15:11:59.672880+00:00","modified_at":"2023-04-20T15:11:59.672880+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/byf-f8w-eyt
    method: DELETE
    id: 4
  response:
    body: |
      {"deleted_dashboard_id":"byf-f8w-eyt"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: "0ms"
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/byf-f8w-eyt
    method: GET
    id: 5
  response:
    body: '{"errors":["Dashboard with ID byf-f8w-eyt not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: "0ms"
