---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"clickhouse-dest-minimal-1","inputs":["source-1"],"table":"my_table","type":"clickhouse"}],"pipeline_type":"logs","sources":[{"auth_strategy":"none","decoding":"json","id":"source-1","type":"http_server"}]},"name":"clickhouse-destination-pipeline-minimal"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"23c9e066-70b3-11f1-8dbe-da7ad0900002","type":"pipelines","attributes":{"name":"clickhouse-destination-pipeline-minimal","config":{"destinations":[{"id":"clickhouse-dest-minimal-1","inputs":["source-1"],"table":"my_table","type":"clickhouse"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"auth_strategy":"none","decoding":"json","id":"source-1","type":"http_server"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 533.883458ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/23c9e066-70b3-11f1-8dbe-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"23c9e066-70b3-11f1-8dbe-da7ad0900002","type":"pipelines","attributes":{"name":"clickhouse-destination-pipeline-minimal","config":{"destinations":[{"id":"clickhouse-dest-minimal-1","inputs":["source-1"],"table":"my_table","type":"clickhouse"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"auth_strategy":"none","decoding":"json","id":"source-1","type":"http_server"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 185.226625ms
[...]
