---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 138.32175ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"first-rule","query":{"addition":{"key":"env","value":"test"},"case_insensitivity":false,"if_not_exists":false,"query":"service:first"},"reference_table":null}]},"id":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesets_Basic-local-1762796244","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"8b7c4a98-42ab-4256-a113-70ce272f7245","type":"ruleset","attributes":{"created":{"seconds":1762796245,"nanos":342039000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1762796245,"nanos":342039000},"name":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesets_Basic-local-1762796244","position":1,"rules":[{"name":"first-rule","enabled":true,"query":{"query":"service:first","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3623119}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 66.987458ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: GET
      response:
        body: '{"data":[{"id":"8b7c4a98-42ab-4256-a113-70ce272f7245","type":"ruleset","attributes":{"created":{"seconds":1762796245,"nanos":342039000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1762796245,"nanos":342039000},"name":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesets_Basic-local-1762796244","position":1,"processing_status":"error","rules":[{"name":"first-rule","enabled":true,"query":{"query":"service:first","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3623119}},{"id":"f7271c52-9d5a-48b7-a01a-f22886b62c9e","type":"ruleset","attributes":{"created":{"seconds":1762796245,"nanos":391540000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1762796245,"nanos":[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"8b7c4a98-42ab-4256-a113-70ce272f7245","type":"ruleset"},{"id":"f7271c52-9d5a-48b7-a01a-f22886b62c9e","type":"ruleset"},{"id":"ebce009f-31a0-4db4-8642-4f32db184a5e","type":"ruleset"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/reorder
        method: POST
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 55.702291ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/8b7c4a98-42ab-4256-a113-70ce272f7245
        method: GET
      response:
        body: '{"data":{"id":"8b7c4a98-42ab-4256-a113-70ce272f7245","type":"ruleset","attributes":{"created":{"seconds":1762796245,"nanos":342039000},"enabled":true,"last_modified_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified":{"seconds":1762796245,"nanos":342039000},"name":"tf-test-order-first-tf-TestAccDatadogTagPipelineRulesets_Basic-local-1762796244","position":1,"processing_status":"error","rules":[{"name":"first-rule","enabled":true,"query":{"query":"service:first","addition":{"key":"env","value":"test"},"if_not_exists":false,"case_insensitivity":false},"mapping":null,"reference_table":null,"metadata":null}],"version":3623119}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 145.985625ms
[...]
