---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"free","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1620034889-screen","widgets":[{"definition":{"event_size":"l","query":"*","time":{"live_span":"1h"},"title":"Widget Title","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":43,"is_column_break":false,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","restricted_roles":[],"author_name":"David Robert-Ansart","template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"adk-5gw-jam","title":"tf-TestDatadogDashListImport-local-1620034889-screen","url":"/dashboard/adk-5gw-jam/tf-testdatadogdashlistimport-local-1620034889-screen","created_at":"2021-05-03T09:41:30.469919+00:00","modified_at":"2021-05-03T09:41:30.469919+00:00","author_handle":"david.robertansart@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"width":32,"is_column_break":false,"x":5,"height":43},"id":2648518719420050}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      X-Dd-Version:
      - "35.4442455"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/adk-5gw-jam
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","restricted_roles":[],"author_name":"David Robert-Ansart","template_variable_presets":[],"template_variables":[],"is_read_only":false,"id":"adk-5gw-jam","title":"tf-TestDatadogDashListImport-local-1620034889-screen","url":"/dashboard/adk-5gw-jam/tf-testdatadogdashlistimport-local-1620034889-screen","created_at":"2021-05-03T09:41:30.469919+00:00","modified_at":"2021-05-03T09:41:30.469919+00:00","author_handle":"david.robertansart@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"Widget Title","title_align":"left","time":{"live_span":"1h"},"query":"*","type":"event_stream","event_size":"l"},"layout":{"y":5,"width":32,"is_column_break":false,"x":5,"height":43},"id":2648518719420050}],"layout_type":"free"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      X-Dd-Version:
      - "35.4442455"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestDatadogDashListImport-local-1620034889-time","widgets":[{"definition":{"alert_id":"1234","time":{"live_span":"1h"},"title":"Widget Title","type":"alert_graph","viz_type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","restricted_roles":["043a2842-e140-11e8-bb04-7fd10177666e","08604de8-1dca-11eb-800c-9f5f55ff734d","16169788-28e4-11eb-832c-fb84162ef3eb","17d73994-7531-11eb-94b9-da7ad0900002","284d8b66-93f9-[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/sjr-bp5-5h9
    method: GET
  response:
    body: '{"notify_list":[],"description":"Created using the Datadog provider in Terraform","restricted_roles":["f0674aa4-9d38-11eb-9dc6-da7ad0900002","284d8b66-93f9-11eb-9c37-da7ad0900002","043a2842-e140-11e8-bb04-7fd10177666e","fc72d08c-55f5-11eb-8d12-df0bb6cadca3","17d73994-7531-11eb-94b9-da7ad0900002","657de[...]
- request:
    body: |
      {"name":"tf-TestDatadogDashListImport-local-1620034889"}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual
    method: POST
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListImport-local-1620034889","dashboard_count":0,"author":{"handle":"david.robertansart@datadoghq.com","name":"David Robert-Ansart"},"created":"2021-05-03T09:41:31.368984+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-05-03T09:41:31.369003+00:00","id":199575}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - "35.4442455"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"dashboards":[{"id":"sjr-bp5-5h9","type":"custom_timeboard"},{"id":"adk-5gw-jam","type":"custom_screenboard"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/199575/dashboards
    method: PUT
  response:
    body: '{"dashboards":[{"type":"custom_timeboard","id":"sjr-bp5-5h9"},{"type":"custom_screenboard","id":"adk-5gw-jam"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      X-Dd-Version:
      - "35.4442455"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/199575
    method: GET
  response:
    body: '{"is_favorite":false,"name":"tf-TestDatadogDashListImport-local-1620034889","dashboard_count":2,"author":{"handle":"david.robertansart@datadoghq.com","name":"David Robert-Ansart"},"created":"2021-05-03T09:41:31.368984+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-05-03T09:41:31.566955+00:00","id":199575}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      X-Dd-Version:
      - "35.4442455"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardListItems
    url: https://api.datadoghq.com/api/v2/dashboard/lists/manual/199575/dashboards
    method: GET
  response:
    body: '{"total":2,"dashboards":[{"popularity":0,"title":"tf-TestDatadogDashListImport-local-1620034889-time","is_favorite":false,"id":"sjr-bp5-5h9","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"david.robertansart@datadoghq.com","name":"David Robert-Ansart"},"url":"/dashboard/sjr-bp5-5h9/tf-testdatadogdashlistimport-local-1620034889-time","created":"2021-05-03T09:41:30.953832+00:00","modified":"2021-05-03T09:41:30.953832+00:00","is_read_only":true,"type":"custom_timeboard"},{"popularity":0,"title":"tf-TestDatadogDashListImport-local-1620034889-screen","is_favorite":false,"id":"adk-5gw-jam","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"david.robertansart@datadoghq.com","name":"David Robert-Ansart"},"url":"/dashboard/adk-5gw-jam/tf-testdatadogdashlistimport-local-1620034889-screen","created":"2021-05-03T09:41:30.469919+00:00","modified":"2021-05-03T09:41:30.469919+00:00","is_read_only":false,"type":"custom_screenboard"}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      X-Dd-Version:
      - "35.4442455"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/199575
    method: DELETE
  response:
    body: '{"deleted_dashboard_list_id":199575}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      X-Dd-Version:
      - "35.4442455"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/sjr-bp5-5h9
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"sjr-bp5-5h9"}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      X-Dd-Version:
      - "35.4442455"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboardList
    url: https://api.datadoghq.com/api/v1/dashboard/lists/manual/199575
    method: GET
  response:
    body: '{"errors": ["Manual Dashboard List with id 199575 not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4442455"
    status: 404 Not Found
    code: 404
    duration: ""
