---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/permissions
    method: GET
  response:
    body: '{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","attributes":{"name":"admin","display_name":"Privileged Access","description":"Deprecated. Privileged Access (also known as Admin permission) has been replaced by more specific permissions: Access Management, Org Management, Billing Read/Write, Usage Read/Write.","created":"2018-10-19T15:35:23.734317+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard Access","description":"View and edit components in your Datadog organization that do not have explicitly defined permissions. This includes configuring integrations (from the UI), SLOs, events, most facets, and saved views.","created":"2018-10-19T15:35:23.756736+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"5e60[...]
- request:
    body: |
      {"data":{"attributes":{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_Basic-local-1651492988_role"},"relationships":{},"type":"roles"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v2/roles
    method: POST
  response:
    body: '{"data":{"type":"roles","id":"d66ff006-ca0f-11ec-ab66-da7ad0900002","attributes":{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_Basic-local-1651492988_role","created_at":"2022-05-02T12:03:11.262096+00:00","modified_at":"2022-05-02T12:03:11.323983+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v2/roles/d66ff006-ca0f-11ec-ab66-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"roles","id":"d66ff006-ca0f-11ec-ab66-da7ad0900002","attributes":{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_Basic-local-1651492988_role","created_at":"2022-05-02T12:03:11.262096+00:00","modified_at":"2022-05-02T12:03:11.323983+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"description":"a private location","metadata":{"restricted_roles":["d66ff006-ca0f-11ec-ab66-da7ad0900002"]},"name":"tf-TestAccDatadogSyntheticsPrivateLocation_Basic-local-1651492988","tags":["foo:bar","baz"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/synthetics/private-locations
    method: POST
  response:
    body: '{"private_location":{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_Basic-local-1651492988","tags":["foo:bar","baz"],"secrets":{"authentication":{"id":"c6b3ed52c412f9217278d94a3ee3d883","key":"19743cf3350df943f4c78fce22aa0603761ebabe5f7b1ad594d206af340e4344"},"config_decryption":{"id":"8e2561fb16861608e01a0f790d3fe72d","key":"-----BEGIN RSA PRIVATE KEY-----\nMIIJKAIBAAKCAgEAzMF672S0ZuME/jMxzqAkgwdiVvGX4HFiYSXulEO2dfjMRAli\niiqMuJqvXJec9sqK0aEKVDEr3uPEnbh81XkflG2PPiv4KoqieLxbuqGNEOdk4d4L\nMhsugW7/J24OFkX8KhHgCC/Wenj9z1rd7OtMPk63Vpmlrf55IhIF2xNlQWKwbHW5\nxh9DjbYx0lBy8N7mOQmA9YWf5T+ALb04eZt2UjWnABc93wGM2n58A7OxqGgCQBNs\nEEcYDyrq1TEVl4zOQZ/b0Jwjz1zGA8oKc9K8RDJ6k/iMFlSVEqgy8/Hkhh3C+IKN\nVon2ml/4a4aw45pUoyIS5fzTMYVH+SZxw9JTFF48aHU+iXT3Ap3OSSFHBpWQTphG\nSVC36LVbTZHvm2qb3A8iUAA[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:tf-testaccdatadogsyntheticsprivatelocation_basic-local-1651492988-bc1c4ca4bedf7f3c22093d85729cdf93
    method: GET
  response:
    body: '{"name":"tf-TestAccDatadogSyntheticsPrivateLocation_Basic-local-1651492988","tags":["foo:bar","baz"],"description":"a private location","modifiedAt":"2022-05-02T12:03:13.276428+00:00","createdBy":"frog@datadoghq.com","id":"pl:tf-testaccdatadogsyntheticsprivatelocation_basic-local-1651492988-bc1c4ca4bedf7f3c22093d85729cdf93","createdAt":"2022-05-02T12:03:13.276428+00:00","metadata":{"restricted_roles":["d66ff006-ca0f-11ec-ab66-da7ad0900002"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:tf-testaccdatadogsyntheticsprivatelocation_basic-local-1651492988-bc1c4ca4bedf7f3c22093d85729cdf93
    method: GET
  response:
    body: '{"errors": ["Synthetics Private Location: pl:tf-testaccdatadogsyntheticsprivatelocation_basic-local-1651492988-bc1c4ca4bedf7f3c22093d85729cdf93 not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
