---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1787854426","published":false,"runAs":{"type":"owner"},"spec":{"steps":[],"triggers":[{"startStepNames":[],"workflowTrigger":{}}]},"tags":["foo:bar","service:foo","team:bar"],"webhookSecret":""},"type":"workflows"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/workflows
        method: POST
      response:
        body: '{"data":{"id":"b94c641a-66d5-4055-8b49-33837a354c69","type":"workflows","attributes":{"createdAt":"2026-08-27T18:13:47.456975Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1787854426","published":false,"runAsUserMode":"owner","sensitivePrivileges":false,"spec":{"triggers":[{"startStepNames":[],"workflowTrigger":{}}],"steps":[]},"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2026-08-27T18:13:47.456975Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 85.725329ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/workflows/b94c641a-66d5-4055-8b49-33837a354c69
        method: GET
      response:
        body: '{"data":{"id":"b94c641a-66d5-4055-8b49-33837a354c69","type":"workflows","attributes":{"createdAt":"2026-08-27T18:13:47.456975Z","description":"My description.","name":"tf-TestAccDatadogWorkflowAutomationResource-local-1787854426","published":false,"runAsUserMode":"owner","sensitivePrivileges":false,"spec":{"triggers":[{"startStepNames":[],"workflowTrigger":{}}],"steps":[]},"tags":["foo:bar","service:foo","team:bar"],"updatedAt":"2026-08-27T18:13:47.456975Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 61.869274ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testaccdatadogworkflowautomationresource-local-1787854426@example.com","name":"tf-service-account-tf-testaccdatadogworkflowautoma","service_account":true},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/service_accounts
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"0e3152f6-a243-11f1-a98f-aaf6ec8467a0","attributes":{"uuid":"0e3152f6-a243-11f1-a98f-aaf6ec8467a0","name":"tf-service-account-tf-testaccdatadogworkflowautoma","handle":"0e3152f6-a243-11f1-a98f-aaf6ec8467a0","created_at":"2026-08-27T18:13:50.981852+00:00","modified_at":"2026-08-27T18:13:50.981852+00:00","email":"tf-testaccdatadogworkflowautomationresource-local-1787854426@example.com","icon":"https://secure.gravatar.com/avatar/62c0609c65a3b101a9c608f6502ae00e?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 183.508865ms
[...]
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/0e3152f6-a243-11f1-a98f-aaf6ec8467a0
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"0e3152f6-a243-11f1-a98f-aaf6ec8467a0","attributes":{"uuid":"0e3152f6-a243-11f1-a98f-aaf6ec8467a0","name":"tf-service-account-tf-testaccdatadogworkflowautoma","handle":"0e3152f6-a243-11f1-a98f-aaf6ec8467a0","created_at":"2026-08-27T18:13:50.981852+00:00","modified_at":"2026-08-27T18:13:50.981852+00:00","email":"tf-testaccdatadogworkflowautomationresource-local-1787854426@example.com","icon":"https://secure.gravatar.com/avatar/62c0609c65a3b101a9c608f6502ae00e?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":["SAML","google_oidc","standard"],"status":"Active","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"team_roles":{"data":[]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.106317ms
[...]
