---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"reason":"risk_accepted","reason_description":"Accepted for dev environments only"},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1790863500","rule":{"finding_types":["misconfiguration"],"query":"env:dev @severity:low"}},"type":"mute_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
        method: POST
      response:
        body: '{"data":{"id":"e9e477f0-e1e9-4837-a3ce-4ebec37d6a55","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted","reason_description":"Accepted for dev environments only"},"created_at":1790863503195,"created_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"enabled":true,"modified_at":1790863503195,"modified_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1790863500","rule":{"finding_types":["misconfiguration"],"query":"env:dev @severity:low"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 437.57675ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/e9e477f0-e1e9-4837-a3ce-4ebec37d6a55
        method: GET
      response:
        body: '{"data":{"id":"e9e477f0-e1e9-4837-a3ce-4ebec37d6a55","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted","reason_description":"Accepted for dev environments only"},"created_at":1790863503195,"created_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"enabled":true,"modified_at":1790863503195,"modified_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1790863500","rule":{"finding_types":["misconfiguration"],"query":"env:dev @severity:low"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 189.898667ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{"expire_at":4070908800000,"reason":"false_positive"},"enabled":false,"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1790863500-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:prod"}},"id":"e9e477f0-e1e9-4837-a3ce-4ebec37d6a55","type":"mute_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/e9e477f0-e1e9-4837-a3ce-4ebec37d6a55
        method: PUT
      response:
        body: '{"data":{"id":"e9e477f0-e1e9-4837-a3ce-4ebec37d6a55","type":"mute_rules","attributes":{"action":{"reason":"false_positive","expire_at":4070908800000},"created_at":1790863503195,"created_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"enabled":false,"modified_at":1790863506123,"modified_by":{"type":"user","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog"},"name":"tf-TestAccDatadogSecurityFindingsMuteRule-local-1790863500-updated","rule":{"finding_types":["misconfiguration","secret"],"query":"env:prod"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 303.555958ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/e9e477f0-e1e9-4837-a3ce-4ebec37d6a55
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does not exist"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 251.256708ms
