---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"a-user@example.com","name":"Test User"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.com/api/v2/users
    method: POST
  response:
    body: '{"data":{"type":"users","id":"3e3379ee-5457-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"a-user@example.com","created_at":"2021-12-03T16:37:02.407801+00:00","modified_at":"2021-12-03T16:37:02.449074+00:00","email":"a-user@example.com","icon":"https://secure.gravatar.com/avatar/d3f689172d62d7bcc2e4698422091ecf?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"3e3379ee-5457-11ec-a8c2-da7ad0900002","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.com/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"3e59ea48-5457-11ec-a8c2-da7ad0900002","attributes":{"uuid":"3e59ea48-5457-11ec-a8c2-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2021-12-03T16:37:02.660743+00:00","expires_at":"2021-12-05T16:37:02.584666+00:00"},"relationships":{"user":{"data":{"type":"users","id":"3e3379ee-5457-11ec-a8c2-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"ordered","notify_list":["z-user@example.com","k-user@example.com","a-user@example.com"],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardNotifyListDiff-local-1638549420","widgets":[]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: '{"notify_list":["z-user@example.com","k-user@example.com","a-user@example.com"],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"x58-uhn-d4v","title":"tf-TestAccDatadogDashboardNotifyListDiff-local-1638549420","url":"/dashboard/x58-uhn-d4v/tf-testaccdatadogdashboardnotifylistdiff-local-1638549420","created_at":"2021-12-03T16:37:03.087114+00:00","modified_at":"2021-12-03T16:37:03.087114+00:00","author_handle":"frog@datadoghq.com","widgets":[],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/x58-uhn-d4v
    method: GET
  response:
    body: '{"notify_list":["z-user@example.com","k-user@example.com","a-user@example.com"],"description":"Created using the Datadog provider in Terraform","author_name":null,"template_variable_presets":[],"template_variables":[],"is_read_only":true,"id":"x58-uhn-d4v","title":"tf-TestAccDatadogDashboardNotifyListDiff-local-1638549420","url":"/dashboard/x58-uhn-d4v/tf-testaccdatadogdashboardnotifylistdiff-local-1638549420","created_at":"2021-12-03T16:37:03.087114+00:00","modified_at":"2021-12-03T16:37:03.087114+00:00","author_handle":"frog@datadoghq.com","widgets":[],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.com/api/v2/users/3e3379ee-5457-11ec-a8c2-da7ad0900002
    method: GET
  response:
    body: '{"data":{"type":"users","id":"3e3379ee-5457-11ec-a8c2-da7ad0900002","attributes":{"name":"Test User","handle":"a-user@example.com","created_at":"2021-12-03T16:37:02.407801+00:00","modified_at":"2021-12-03T16:37:02.449074+00:00","email":"a-user@example.com","icon":"https://secure.gravatar.com/avatar/d3f689172d62d7bcc2e4698422091ecf?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - DeleteDashboard
    url: https://api.datadoghq.com/api/v1/dashboard/x58-uhn-d4v
    method: DELETE
  response:
    body: '{"deleted_dashboard_id":"x58-uhn-d4v"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
