---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"api_version":"v8","bulk_index":"metrics-index","endpoint_url_key":"ELASTICSEARCH_ENDPOINT_URL","id":"elasticsearch-metrics-destination-1","inputs":["source-1"],"type":"elasticsearch"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"elasticsearch-metrics-dest-pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"424fc84c-345a-11f1-a1f9-da7ad0900002","type":"pipelines","attributes":{"name":"elasticsearch-metrics-dest-pipeline","config":{"destinations":[{"api_version":"v8","bulk_index":"metrics-index","endpoint_url_key":"ELASTICSEARCH_ENDPOINT_URL","id":"elasticsearch-metrics-destination-1","inputs":["source-1"],"type":"elasticsearch"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 517.135584ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/424fc84c-345a-11f1-a1f9-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"424fc84c-345a-11f1-a1f9-da7ad0900002","type":"pipelines","attributes":{"name":"elasticsearch-metrics-dest-pipeline","config":{"destinations":[{"api_version":"v8","bulk_index":"metrics-index","endpoint_url_key":"ELASTICSEARCH_ENDPOINT_URL","id":"elasticsearch-metrics-destination-1","inputs":["source-1"],"type":"elasticsearch"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 239.150917ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"api_version":"v8","auth":{"password_key":"ELASTICSEARCH_PASSWORD","strategy":"basic","username_key":"ELASTICSEARCH_USERNAME"},"bulk_index":"metrics-index","compression":{"algorithm":"gzip","level":6},"endpoint_url_key":"ELASTICSEARCH_ENDPOINT_URL","id":"elasticsearch-metrics-destination-1","id_key":"event_id","inputs":["source-1"],"pipeline":"metrics-ingest-pipeline","request_retry_partial":true,"tls":{"ca_file":"/etc/certs/ca.crt","crt_file":"/etc/certs/client.crt","key_file":"/etc/certs/client.key"},"type":"elasticsearch"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"elasticsearch-metrics-dest-pipeline-updated"},"id":"","type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/424fc84c-345a-11f1-a1f9-da7ad0900002
        method: PUT
      response:
        body: |
            {"data":{"id":"424fc84c-345a-11f1-a1f9-da7ad0900002","type":"pipelines","attributes":{"name":"elasticsearch-metrics-dest-pipeline-updated","config":{"destinations":[{"api_version":"v8","auth":{"password_key":"ELASTICSEARCH_PASSWORD","strategy":"basic","username_key":"ELASTICSEARCH_USERNAME"},"bulk_index":"metrics-index","compression":{"algorithm":"gzip","level":6},"endpoint_url_key":"ELASTICSEARCH_ENDPOINT_URL","id":"elasticsearch-metrics-destination-1","id_key":"event_id","inputs":["source-1"],"pipeline":"metrics-ingest-pipeline","request_retry_partial":true,"tls":{"ca_file":"/etc/certs/ca.crt","crt_file":"/etc/certs/client.crt","key_file":"/etc/certs/client.key"},"type":"elasticsearch"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 501.315541ms
[...]
