---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"end":1770721631,"message":"tf-TestAccDatadogDowntime_WeekDayRecurring-local-1770631631","monitor_tags":["*"],"recurrence":{"period":1,"type":"weeks","week_days":["Sat","Sun"]},"scope":["scope:WeekDaysRecurrence"],"start":1770635231,"timezone":"UTC"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/downtime
        method: POST
      response:
            - chunked
        body: |
            {"id":6344473397,"monitor_id":null,"org_id":321813,"start":1770635231,"end":1770721631,"canceled":null,"created":1770631633,"modified":1770631633,"message":"tf-TestAccDatadogDowntime_WeekDayRecurring-local-1770631631","active":false,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Sat","Sun"],"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":2,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"d7256aaf-3968-4966-bdcd-957f1d50efbf","scope":["scope:WeekDaysRecurrence"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 468.4475ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/downtime/6344473397
        method: GET
      response:
            - chunked
        body: |
            {"id":6344473397,"monitor_id":null,"org_id":321813,"start":1770635231,"end":1770721631,"canceled":null,"created":1770631633,"modified":1770631633,"message":"tf-TestAccDatadogDowntime_WeekDayRecurring-local-1770631631","active":false,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Sat","Sun"],"until_occurrences":null,"until_date":null},"timezone":"UTC","parent_id":null,"child_id":null,"creator_id":21235577,"updater_id":null,"downtime_type":2,"status":"scheduled","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no data","warn"],"uuid":"d7256aaf-3968-4966-bdcd-957f1d50efbf","scope":["scope:WeekDaysRecurrence"]}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 178.8035ms
[...]
