---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"rules":[{"enabled":true,"mapping":null,"name":"query-rule","query":{"addition":{"key":"team","value":"backend"},"case_insensitivity":true,"if_tag_exists":"append","query":"source:app AND env:prod"},"reference_table":null}]},"id":"tf-test-query-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRuleIfTagExists-local-1770242312","type":"create_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment
        method: POST
      response:
        body: '{"data":{"id":"3dfcf383-0762-4fd7-8674-feae92504a16","type":"ruleset","attributes":{"created":{"seconds":1770242314,"nanos":638092000},"enabled":true,"last_modified_user_uuid":"8aa9beab-3c2a-11ef-8a8f-56d598d478b5","modified":{"seconds":1770242314,"nanos":638092000},"name":"tf-test-query-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRuleIfTagExists-local-1770242312","position":20,"rules":[{"name":"query-rule","enabled":true,"query":{"query":"source:app AND env:prod","addition":{"key":"team","value":"backend"},"if_not_exists":false,"case_insensitivity":true,"if_tag_exists":"append"},"mapping":null,"reference_table":null,"metadata":null}],"version":3657227}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 121.453166ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/3dfcf383-0762-4fd7-8674-feae92504a16
        method: GET
      response:
        body: '{"data":{"id":"3dfcf383-0762-4fd7-8674-feae92504a16","type":"ruleset","attributes":{"created":{"seconds":1770242314,"nanos":638092000},"enabled":true,"last_modified_user_uuid":"8aa9beab-3c2a-11ef-8a8f-56d598d478b5","modified":{"seconds":1770242314,"nanos":638092000},"name":"tf-test-query-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRuleIfTagExists-local-1770242312","position":20,"rules":[{"name":"query-rule","enabled":true,"query":{"query":"source:app AND env:prod","addition":{"key":"team","value":"backend"},"if_not_exists":false,"case_insensitivity":true,"if_tag_exists":"append"},"mapping":null,"reference_table":null,"metadata":null}],"version":3657227}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 54.784875ms
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"enabled":true,"last_version":3657227,"name":"tf-test-query-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRuleIfTagExists-local-1770242312","rules":[{"enabled":true,"mapping":null,"name":"query-rule","query":{"addition":{"key":"team","value":"backend"},"case_insensitivity":true,"if_tag_exists":"replace","query":"source:app AND env:prod"},"reference_table":null}]},"type":"update_ruleset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/tags/enrichment/3dfcf383-0762-4fd7-8674-feae92504a16
        method: PATCH
      response:
        body: '{"data":{"id":"3dfcf383-0762-4fd7-8674-feae92504a16","type":"ruleset","attributes":{"created":{"seconds":1770242315,"nanos":698997000},"enabled":true,"last_modified_user_uuid":"8aa9beab-3c2a-11ef-8a8f-56d598d478b5","modified":{"seconds":1770242315,"nanos":698997000},"name":"tf-test-query-ite-ruleset-tf-TestAccDatadogTagPipelineRuleset_QueryRuleIfTagExists-local-1770242312","position":20,"rules":[{"name":"query-rule","enabled":true,"query":{"query":"source:app AND env:prod","addition":{"key":"team","value":"backend"},"if_not_exists":false,"case_insensitivity":true,"if_tag_exists":"replace"},"mapping":null,"reference_table":null,"metadata":null}],"version":3657228}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 106.258416ms
[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/tags/enrichment/3dfcf383-0762-4fd7-8674-feae92504a16
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found","detail":"ruleset 3dfcf383-0762-4fd7-8674-feae92504a16 not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 53.263959ms
