---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"suppression for terraform provider test","enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateThenAddAndRemoveStartDate-local-1758619032","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
        method: POST
      response:
        body: '{"data":{"id":"kag-kk2-3mp","type":"suppressions","attributes":{"creation_date":1758619032914,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"suppression for terraform provider test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateThenAddAndRemoveStartDate-local-1758619032","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging","tags":[],"update_date":1758619032914,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 145.918333ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/kag-kk2-3mp
        method: GET
      response:
        body: '{"data":{"id":"kag-kk2-3mp","type":"suppressions","attributes":{"creation_date":1758619032914,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"suppression for terraform provider test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateThenAddAndRemoveStartDate-local-1758619032","rule_query":"severity:low source:cloudtrail","suppression_query":"env:staging","tags":[],"update_date":1758619032914,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 143.035708ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"data_exclusion_query":"","description":"suppression for terraform provider test","enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateThenAddAndRemoveStartDate-local-1758619032","rule_query":"severity:low source:cloudtrail","start_date":4072766400000,"suppression_query":"env:staging"},"type":"suppressions"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/kag-kk2-3mp
        method: PATCH
      response:
        body: '{"data":{"id":"kag-kk2-3mp","type":"suppressions","attributes":{"creation_date":1758619032914,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"data_exclusion_query":"","description":"suppression for terraform provider test","editable":true,"enabled":true,"name":"tf-TestAccSecurityMonitoringSuppression_CreateThenAddAndRemoveStartDate-local-1758619032","rule_query":"severity:low source:cloudtrail","start_date":4072766400000,"suppression_query":"env:staging","tags":[],"update_date":1758619034461,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":2}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 155.188958ms
[...]
    - id: 20
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/kag-kk2-3mp
        method: GET
      response:
        body: '{"errors":["not_found(Suppression with ID kag-kk2-3mp not found)"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 135.418167ms
