---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"integration":{"base_url":"https://catfact.ninja","credentials":{"body":{"content":"{\"key\":\"{{ token1 }}\"}","content_type":"application/json"},"headers":[{"name":"header-name","value":"header-value"}],"tokens":[{"name":"token1","type":"SECRET","value":"secret value 1"}],"type":"HTTPTokenAuth","url_parameters":[{"name":"urlParamName","value":"urlParamValue"}]},"type":"HTTP"},"name":"tf-TestAccDatadogActionConnectionResource_HTTP_TokenAuth-local-1758619282"},"type":"action_connection"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/actions/connections
        method: POST
      response:
        body: '{"data":{"id":"aa158af1-adf7-4108-a53b-7cf15c2ea85b","type":"action_connection","attributes":{"acting_user_can_resolve":false,"integration":{"base_url":"https://catfact.ninja","credentials":{"body":{"content":"{\"key\":\"{{ token1 }}\"}","content_type":"application/json"},"headers":[{"name":"header-name","value":"header-value"}],"http_tokens":[{"name":"token1","type":"SECRET","value":""}],"type":"HTTPTokenAuth","url_parameters":[{"name":"urlParamName","value":"urlParamValue"}]},"type":"HTTP"},"name":"tf-TestAccDatadogActionConnectionResource_HTTP_TokenAuth-local-1758619282"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 198.336791ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/aa158af1-adf7-4108-a53b-7cf15c2ea85b
        method: GET
      response:
        body: '{"data":{"id":"aa158af1-adf7-4108-a53b-7cf15c2ea85b","type":"action_connection","attributes":{"acting_user_can_resolve":true,"created_at":"2025-09-23 09:21:23.187086 +0000 UTC","integration":{"base_url":"https://catfact.ninja","credentials":{"body":{"content":"{\"key\":\"{{ token1 }}\"}","content_type":"application/json"},"headers":[{"name":"header-name","value":"header-value"}],"http_tokens":[{"name":"token1","type":"SECRET","value":""}],"type":"HTTPTokenAuth","url_parameters":[{"name":"urlParamName","value":"urlParamValue"}]},"type":"HTTP"},"last_updated":"2025-09-23 09:21:23.187086 +0000 UTC","name":"tf-TestAccDatadogActionConnectionResource_HTTP_TokenAuth-local-1758619282"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"created_by"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 149.979625ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/actions/connections/aa158af1-adf7-4108-a53b-7cf15c2ea85b
        method: GET
      response:
        body: '{"errors":[{"title":"Generic Error","detail":"error getting connection: rpc error: code = NotFound desc = connection not found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 140.165542ms
