---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"policy":{"tag_key":"tf-TestAccDatadogMonitorConfigPoliciesDatasource-local-1749222063-1","tag_key_required":false,"valid_tag_values":["value"]},"policy_type":"tag"},"type":"monitor-config-policy"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/monitor/policy
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key":"tf-TestAccDatadogMonitorConfigPoliciesDatasource-local-1749222063-1","valid_tag_values":["value"],"tag_key_required":false},"policy_type":"tag"},"id":"feb7fd62-35b1-43f0-bfc7-e735745c9736"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 497.699708ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/monitor/policy/feb7fd62-35b1-43f0-bfc7-e735745c9736
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key_required":false,"tag_key":"tf-TestAccDatadogMonitorConfigPoliciesDatasource-local-1749222063-1","valid_tag_values":["value"]},"policy_type":"tag"},"id":"feb7fd62-35b1-43f0-bfc7-e735745c9736"}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 156.315625ms
[...]
