---
version: 1
interactions:
- request:
    body: |
      {"description":"Created using the Datadog provider in Terraform","id":"","is_read_only":true,"layout_type":"free","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardImage_import-local-1682003484","widgets":[{"definition":{"has_background":true,"has_border":true,"margin":"small","sizing":"fit","type":"image","url":"https://i.picsum.photos/id/826/200/300.jpg"},"layout":{"height":43,"width":32,"x":5,"y":5}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.datadoghq.com/api/v1/dashboard
    method: POST
  response:
    body: |
      {"id":"tu5-892-esy","title":"tf-TestAccDatadogDashboardImage_import-local-1682003484","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/tu5-892-esy/tf-testaccdatadogdashboardimageimport-local-1682003484","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"has_background":true,"has_border":true,"margin":"small","sizing":"fit","type":"image","url":"https://i.picsum.photos/id/826/200/300.jpg"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":1895893244838273}],"notify_list":[],"created_at":"2023-04-20T15:11:25.514588+00:00","modified_at":"2023-04-20T15:11:25.514588+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/tu5-892-esy
    method: GET
  response:
    body: |
      {"id":"tu5-892-esy","title":"tf-TestAccDatadogDashboardImage_import-local-1682003484","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/tu5-892-esy/tf-testaccdatadogdashboardimageimport-local-1682003484","is_read_only":true,"template_variables":[],"widgets":[{"definition":{"has_background":true,"has_border":true,"margin":"small","sizing":"fit","type":"image","url":"https://i.picsum.photos/id/826/200/300.jpg"},"layout":{"height":43,"width":32,"x":5,"y":5},"id":1895893244838273}],"notify_list":[],"created_at":"2023-04-20T15:11:25.514588+00:00","modified_at":"2023-04-20T15:11:25.514588+00:00","template_variable_presets":[],"tags":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/tu5-892-esy
    method: DELETE
  response:
    body: |
      {"deleted_dashboard_id":"tu5-892-esy"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.datadoghq.com/api/v1/dashboard/tu5-892-esy
    method: GET
  response:
    body: '{"errors":["Dashboard with ID tu5-892-esy not found"]}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
