---
version: 2
interactions:
    - id: 0
      request:
        host: api.datad0g.com
        body: |
            {"data":{"attributes":{"description":"im a rule","enabled":false,"expression":"open.file.name == \"etc/shadow/password\"","name":"ebdmolvvjj"},"type":"agent_rule"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/agent_rules
        method: POST
      response:
        body: '{"data":{"id":"eas-78u-5tv","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1710342082726,"creator":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":false,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"name":"ebdmolvvjj","updateDate":1710342082726,"updater":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.012573708s
    - id: 1
      request:
        host: api.datad0g.com
        body: ""
        form: {}
        headers:
        url: https://api.datad0g.com/api/v2/remote_config/products/cws/agent_rules/eas-78u-5tv
        method: GET
      response:
        body: '{"data":{"id":"eas-78u-5tv","type":"agent_rule","attributes":{"category":"File Activity","creationDate":1710342082000,"creator":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"},"defaultRule":false,"description":"im a rule","enabled":false,"expression":"open.file.name == \"etc/shadow/password\"","filters":["os == \"linux\""],"name":"ebdmolvvjj","updateDate":1710342082000,"updater":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 300.209375ms
[...]
