---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Terraform RUM ownership acceptance test.","handle":"tf-testaccdatadogrumteamownership-local-1791381313","name":"tf-testaccdatadogrumteamownership-local-1791381313"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
        body: '{"data":{"id":"ce369556-0f59-443d-9e9c-4f4282dd882c","type":"team","attributes":{"avatar":null,"banner":3,"created_at":"2026-10-07T13:55:17.840937+00:00","description":"Terraform RUM ownership acceptance test.","handle":"tf-testaccdatadogrumteamownership-local-1791381313","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-10-07T13:55:17.840937+00:00","name":"tf-testaccdatadogrumteamownership-local-1791381313","provisioned_by":"teams_terraform","summary":"Terraform RUM ownership acceptance test.","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/ce369556-0f59-443d-9e9c-4f4282dd882c/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/ce369556-0f59-443d-9e9c-4f4282dd882c/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 701.3815ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"application_id":"00000000-0000-0000-0000-000000000000","match_type":"prefix","service":"tf-testaccdatadogrumteamownership-local-1791381313","team_handle":"tf-testaccdatadogrumteamownership-local-1791381313","view_name":"Mobile"},"type":"teams_ownership_mappings"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/config/teams-ownership/mappings
        method: POST
      response:
        body: '{"data":{"id":"761050","type":"teams_ownership_mappings","attributes":{"application_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-10-07T13:55:17.994184Z","created_by":"b6832da7-88b2-460e-bf2b-160aa81e803a","match_type":"prefix","org_id":2,"service":"tf-testaccdatadogrumteamownership-local-1791381313","team_handle":"tf-testaccdatadogrumteamownership-local-1791381313","view_name":"Mobile"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 287.964125ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testaccdatadogrumteamownership-local-1791381313","type":"browser"},"type":"rum_application_create"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/rum/applications
        method: POST
      response:
        body: '{"data":{"id":"36674f50-2b08-449d-bde4-e866ddf86040","type":"rum_application","attributes":{"api_key_id":1451251,"apm_rum_flat_sampling_replay_enabled":true,"apm_rum_flat_sampling_replay_sample_rate":1,"application_id":"36674f50-2b08-449d-bde4-e866ddf86040","client_token":"pub767d8e1371b959bcba5b308a06b90b45","created_at":1791381318112,"created_by_handle":"felipe.arrudabrito@datadoghq.com","error_tracking_exclusion_filter_enabled":false,"external_feeds":[],"is_active":false,"name":"tf-testaccdatadogrumteamownership-local-1791381313","ootb_metrics_installed":false,"org_id":2,"product_analytics_replay_sample_rate":100,"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1791381318112},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1791381318112}},"short_name":"tf_testaccdatadogrumteamownershi_4","tags":[],"type":"browser","updated_at":1791381318112,"updated_by_handle":"felipe.arrudabrito@datadoghq.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 1.0513485s
[...]
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/config/teams-ownership/mappings/761052
        method: GET
      response:
        body: '{"data":{"id":"761052","type":"teams_ownership_mappings","attributes":{"application_id":"36674f50-2b08-449d-bde4-e866ddf86040","created_at":"2026-10-07T13:55:18.363321Z","created_by":"b6832da7-88b2-460e-bf2b-160aa81e803a","match_type":"exact","org_id":2,"service":"","team_handle":"tf-testaccdatadogrumteamownership-local-1791381313","view_name":"/checkout"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 107.841166ms
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/applications/36674f50-2b08-449d-bde4-e866ddf86040
        method: GET
      response:
        body: '{"data":{"id":"36674f50-2b08-449d-bde4-e866ddf86040","type":"rum_application","attributes":{"api_key_id":1451251,"apm_rum_flat_sampling_replay_enabled":true,"apm_rum_flat_sampling_replay_sample_rate":1,"application_id":"36674f50-2b08-449d-bde4-e866ddf86040","client_token":"pub767d8e1371b959bcba5b308a06b90b45","created_at":1791381318112,"created_by_handle":"felipe.arrudabrito@datadoghq.com","error_tracking_exclusion_filter_enabled":false,"external_feeds":[],"is_active":false,"name":"tf-testaccdatadogrumteamownership-local-1791381313","ootb_metrics_installed":false,"org_id":2,"product_analytics_replay_sample_rate":100,"product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1791381318112},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1791381318112}},"short_name":"tf_testaccdatadogrumteamownershi_4","tags":[],"type":"browser","updated_at":1791381318112,"updated_by_handle":"felipe.arrudabrito@datadoghq.com"}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 391.23525ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/ce369556-0f59-443d-9e9c-4f4282dd882c
        method: GET
      response:
        body: '{"data":{"id":"ce369556-0f59-443d-9e9c-4f4282dd882c","type":"team","attributes":{"created_at":"2026-10-07T13:55:17.840937+00:00","description":"Terraform RUM ownership acceptance test.","handle":"tf-testaccdatadogrumteamownership-local-1791381313","is_managed":false,"link_count":0,"modified_at":"2026-10-07T13:55:17.840937+00:00","name":"tf-testaccdatadogrumteamownership-local-1791381313","provisioned_by":"teams_terraform","summary":"Terraform RUM ownership acceptance test.","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/ce369556-0f59-443d-9e9c-4f4282dd882c/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/ce369556-0f59-443d-9e9c-4f4282dd882c/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 391.2465ms
[...]
    - id: 81
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/rum/config/teams-ownership/mappings/761058
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 176.349292ms
[...]
