---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"action":{},"enabled":true,"name":"tf-TestAccDatadogSecurityFindingsInboxRulesOrder_OutOfBandRuleAdded-local-1789744810-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}},"type":"inbox_rules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules
        method: POST
      response:
        body: '{"data":{"id":"b90a872e-b11f-41f7-a971-022b5a6829db","type":"inbox_rules","attributes":{"action":{},"created_at":1789744811442,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744811442,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRulesOrder_OutOfBandRuleAdded-local-1789744810-a","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 257.93ms
[...]
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"b90a872e-b11f-41f7-a971-022b5a6829db","type":"inbox_rules"},{"id":"28d0adfc-c016-4dc4-9f35-fb53c84a29a3","type":"inbox_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/reorder
        method: POST
      response:
        body: '{"data":[{"type":"inbox_rules","id":"b90a872e-b11f-41f7-a971-022b5a6829db"},{"type":"inbox_rules","id":"28d0adfc-c016-4dc4-9f35-fb53c84a29a3"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 243.879541ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/28d0adfc-c016-4dc4-9f35-fb53c84a29a3
        method: GET
      response:
        body: '{"data":{"id":"28d0adfc-c016-4dc4-9f35-fb53c84a29a3","type":"inbox_rules","attributes":{"action":{},"created_at":1789744811444,"created_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"enabled":true,"modified_at":1789744811444,"modified_by":{"type":"user","id":"00000000-0000-0000-0000-000000000000","name":"Test User"},"name":"tf-TestAccDatadogSecurityFindingsInboxRulesOrder_OutOfBandRuleAdded-local-1789744810-b","rule":{"finding_types":["misconfiguration"],"query":"env:dev"}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 121.057791ms
[...]
    - id: 10
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"id":"b90a872e-b11f-41f7-a971-022b5a6829db","type":"inbox_rules"},{"id":"28d0adfc-c016-4dc4-9f35-fb53c84a29a3","type":"inbox_rules"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/security/findings/automation/inbox_rules/reorder
        method: POST
      response:
        body: '{"errors":[{"status":"422","title":"Unprocessable Entity","detail":"reorder must include all 3 rules, got 2"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 422 Unprocessable Entity
        code: 422
        duration: 127.992542ms
[...]
