---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"auth":{"client_id":"my-oauth-client-id"},"id":"databricks-zerobus-dest-basic-1","inputs":["source-1"],"table_name":"my_catalog.my_schema.my_table","type":"databricks_zerobus"}],"pipeline_type":"logs","sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"databricks zerobus pipeline (minimal)"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"d12fd2a2-5456-11f1-8af7-da7ad0900002","type":"pipelines","attributes":{"name":"databricks zerobus pipeline (minimal)","config":{"destinations":[{"auth":{"client_id":"my-oauth-client-id"},"id":"databricks-zerobus-dest-basic-1","inputs":["source-1"],"table_name":"my_catalog.my_schema.my_table","type":"databricks_zerobus"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 927.6445ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/d12fd2a2-5456-11f1-8af7-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"d12fd2a2-5456-11f1-8af7-da7ad0900002","type":"pipelines","attributes":{"name":"databricks zerobus pipeline (minimal)","config":{"destinations":[{"auth":{"client_id":"my-oauth-client-id"},"id":"databricks-zerobus-dest-basic-1","inputs":["source-1"],"table_name":"my_catalog.my_schema.my_table","type":"databricks_zerobus"}],"pipeline_type":"logs","processor_groups":[],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 301.655ms
[...]
