---
version: 1
interactions:
- request:
    body: |
      {"data":{"attributes":{"email":"test@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    url: https://api.datadoghq.eu/api/v2/users
    method: POST
  response:
    body: '{"errors": ["User test@example.com already exists"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4288583"
    status: 409 Conflict
    code: 409
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.eu/api/v2/users?filter=test%40example.com
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":2}},"data":[{"type":"users","id":"809fc134-9b8e-11eb-94e4-da7ad0900005","attributes":{"name":null,"handle":"test@example.com","created_at":"2021-04-12T12:56:31.051754+00:00","modified_at":"2021-04-12T12:56:33.494263+00:00","email":"test@example.com","icon":"https://secure.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"97314e92-9b73-11eb-9e1d-da7ad0900005"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4288583"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"disabled":false,"email":"test@example.com"},"id":"809fc134-9b8e-11eb-94e4-da7ad0900005","type":"users"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    url: https://api.datadoghq.eu/api/v2/users/809fc134-9b8e-11eb-94e4-da7ad0900005
    method: PATCH
  response:
    body: '{"data":{"type":"users","id":"809fc134-9b8e-11eb-94e4-da7ad0900005","attributes":{"name":null,"handle":"test@example.com","created_at":"2021-04-12T12:56:31.051754+00:00","modified_at":"2021-04-12T12:59:00.277544+00:00","email":"test@example.com","icon":"https://secure.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"97314e92-9b73-11eb-9e1d-da7ad0900005"}}}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4288583"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"data":[{"relationships":{"user":{"data":{"id":"809fc134-9b8e-11eb-94e4-da7ad0900005","type":"users"}}},"type":"user_invitations"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    url: https://api.datadoghq.eu/api/v2/user_invitations
    method: POST
  response:
    body: '{"data":[{"type":"user_invitations","id":"d9d1b8b6-9b8e-11eb-aece-da7ad0900005","attributes":{"uuid":"d9d1b8b6-9b8e-11eb-aece-da7ad0900005","login_method":null,"invite_type":"basic_invite_nopass","created_at":"2021-04-12T12:59:00.698220+00:00","expires_at":"2021-04-14T12:59:00.575879+00:00"},"relationships":{"user":{"data":{"type":"users","id":"809fc134-9b8e-11eb-94e4-da7ad0900005"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4288583"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListUsers
    url: https://api.datadoghq.eu/api/v2/users?filter=test%40example.com&page%5Bnumber%5D=0&page%5Bsize%5D=20
    method: GET
  response:
    body: '{"meta":{"page":{"total_filtered_count":1,"total_count":2}},"data":[{"type":"users","id":"809fc134-9b8e-11eb-94e4-da7ad0900005","attributes":{"name":null,"handle":"test@example.com","created_at":"2021-04-12T12:56:31.051754+00:00","modified_at":"2021-04-12T12:59:00.277544+00:00","email":"test@example.com","icon":"https://secure.gravatar.com/avatar/55502f40dc8b7c769880b10874abc9d0?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"97314e92-9b73-11eb-9e1d-da7ad0900005"}}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4288583"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - GetUser
    url: https://api.datadoghq.eu/api/v2/users/test@example.com
    method: GET
  response:
    body: '{"errors": ["user not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4288583"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
