---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-test-Basic-1758619352","principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"],"product_filters":[{"filters":["@application.id:ce9843b0-7a45-453c-a831-55dd15f85141"],"product":"rum"}]},"type":"dataset"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/datasets
        method: POST
      response:
            - chunked
        body: |
            {"errors":["Invalid request: [DatasetFilterInUse] the filter \"@application.id:ce9843b0-7a45-453c-a831-55dd15f85141\" is already used in a different \"rum\" dataset"]}
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 219.160458ms
