---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Test incident type for notification template","is_default":false,"name":"test-tpl-updated-1758619063-it"},"type":"incident_types"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/incidents/config/types
        method: POST
      response:
        body: '{"data":{"id":"de8ab264-bd1c-4920-b5f3-83d4ab3e723f","type":"incident_types","attributes":{"createdAt":"2025-09-23T09:17:45.186760099Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test incident type for notification template","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2025-09-23T09:17:45.186760189Z","name":"test-tpl-updated-1758619063-it","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 250.639208ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-tpl-updated-1758619063\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","name":"test-tpl-updated-1758619063","subject":"SEV-2 Incident: test-tpl-updated-1758619063"},"relationships":{"incident_type":{"data":{"id":"de8ab264-bd1c-4920-b5f3-83d4ab3e723f","type":"incident_types"}}},"type":"notification_templates"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
        method: POST
      response:
        body: '{"data":{"id":"fbe5a3c6-bada-4153-a725-27216d844eec","type":"notification_templates","attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-tpl-updated-1758619063\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","created":"2025-09-23T09:17:45.656438Z","modified":"2025-09-23T09:17:45.656438Z","name":"test-tpl-updated-1758619063","subject":"SEV-2 Incident: test-tpl-updated-1758619063"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"de8ab264-bd1c-4920-b5f3-83d4ab3e723f","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 340.990708ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/fbe5a3c6-bada-4153-a725-27216d844eec
        method: GET
      response:
        body: '{"data":{"id":"fbe5a3c6-bada-4153-a725-27216d844eec","type":"notification_templates","attributes":{"category":"alert","content":"An incident has been declared.\n\nTitle: test-tpl-updated-1758619063\nSeverity: SEV-2\nAffected Services: web-service, database-service\nStatus: active\n\nPlease join the incident channel for updates.","created":"2025-09-23T09:17:45.656438Z","modified":"2025-09-23T09:17:45.656438Z","name":"test-tpl-updated-1758619063","subject":"SEV-2 Incident: test-tpl-updated-1758619063"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"de8ab264-bd1c-4920-b5f3-83d4ab3e723f","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 157.121625ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/types/de8ab264-bd1c-4920-b5f3-83d4ab3e723f
        method: GET
      response:
        body: '{"data":{"id":"de8ab264-bd1c-4920-b5f3-83d4ab3e723f","type":"incident_types","attributes":{"createdAt":"2025-09-23T09:17:45.18676Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Test incident type for notification template","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2025-09-23T09:17:45.18676Z","name":"test-tpl-updated-1758619063-it","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 185.451292ms
[...]
    - id: 14
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/fbe5a3c6-bada-4153-a725-27216d844eec
        method: GET
      response:
        body: '{"errors":[{"status":"404","title":"Not Found"}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 404 Not Found
        code: 404
        duration: 131.958333ms
