---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"","filter":{"query":"project:sample"},"is_enabled":false,"name":"tf-testaccdatadoglogspipelinesorderdatasource-local-1758619465-sample","processors":[],"tags":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/logs/config/pipelines
        method: POST
      response:
            - chunked
        body: |
            {"id":"7WognILyTZ-RzPoK0ZaRzw","type":"pipeline","name":"tf-testaccdatadoglogspipelinesorderdatasource-local-1758619465-sample","is_enabled":false,"is_read_only":false,"filter":{"query":"project:sample"},"processors":[],"tags":[],"description":""}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.450041ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/pipeline-order
        method: GET
      response:
            - chunked
        body: |
            {"pipeline_ids":["XCYdgKpPQFKyhKexiTkbcQ","BKzW_XrPTZulQdDH2-Vx_g","B13c14PFTqCVeeK-hFYqkA","TL1aouiMTNmpCCN1iZxoSA","HtakcCHFS6ih2wmfKxy-3Q","rTxbr2MpQsSCEtn66XmwnQ","sL8sCmr2TnKIttgZCnxmIw","2QGdoZWESWi6WArjxl4cxg","0mc2Xh9XTOKHDRooX8oU7Q","oPitO-J_ToOdCMQvbQLxfw","htXFf5DCQ_ay1IhQ9Tr4uw","GoXild64TQegRNxMFnh4RQ","NPuiNHsaSvyQIInFHAGOvw","pMhyxnUeS6ugpnLdWckGIw","nRIfEFMZQqSWiIqDZ-B7sg","1NeRUXaAQBiBDpYcx0OhKg","7YBUZ3J_RJGDRk6b5ayIIQ","ayYoY9g-RJqul4RkNaBbtg","UodPu7HbQ-Gcp2K1aZBRhw","i6NhKETpQ1mU2JcibLAAMw"[...]
[...]
    - id: 3
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/logs/config/pipelines/7WognILyTZ-RzPoK0ZaRzw
        method: GET
      response:
            - chunked
        body: |
            {"id":"7WognILyTZ-RzPoK0ZaRzw","type":"pipeline","name":"tf-testaccdatadoglogspipelinesorderdatasource-local-1758619465-sample","is_enabled":false,"is_read_only":false,"filter":{"query":"project:sample"},"processors":[],"tags":[],"description":""}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 167.534125ms
[...]
