---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"account_tags":["tag:tf-TestAccAwsAccountV2Basic-local-1731516161"],"auth_config":{"external_id":"","role_name":"test"},"aws_account_id":"501029799995","aws_partition":"aws","aws_regions":{"include_only":["us-east-1"]},"logs_config":{"lambda_forwarder":{"lambdas":["arn:aws:lambda:us-east-1:123456789123:function:test-fn"],"sources":["s3","lambda"]}},"metrics_config":{"automute_enabled":true,"collect_cloudwatch_alarms":true,"collect_custom_metrics":true,"enabled":true},"resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":true},"traces_config":{"xray_services":{"include_all":true}}},"type":"account"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/integration/aws/accounts
        method: POST
      response:
        body: '{"data":{"id":"8b437d99-5689-4268-9e8c-1c2ab1598dac","type":"account","attributes":{"account_tags":["tag:tf-TestAccAwsAccountV2Basic-local-1731516161"],"auth_config":{"role_name":"test","external_id":"a44e4d346725435b97d7113775eb9437"},"aws_account_id":"501029799995","aws_partition":"aws","aws_regions":{"include_only":["us-east-1"]},"created_at":"2024-11-13T16:43:03.839390254Z","logs_config":{"lambda_forwarder":{"lambdas":["arn:aws:lambda:us-east-1:123456789123:function:test-fn"],"sources":["s3","lambda"]}},"metrics_config":{"enabled":true,"automute_enabled":true,"collect_custom_metrics":true,"collect_cloudwatch_alarms":true,"tag_filters":[],"namespace_filters":{"exclude_only":["AWS/SQS","AWS/ElasticMapReduce"]}},"modified_at":"2024-11-13T16:43:03.839395596Z","resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":true},"traces_config":{"xray_services":{"include_all":true}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 12.666969792s
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/integration/aws/accounts/%228b437d99-5689-4268-9e8c-1c2ab1598dac%22
        method: GET
      response:
        body: '{"data":{"id":"8b437d99-5689-4268-9e8c-1c2ab1598dac","type":"account","attributes":{"account_tags":["tag:tf-TestAccAwsAccountV2Basic-local-1731516161"],"auth_config":{"role_name":"test","external_id":"a44e4d346725435b97d7113775eb9437"},"aws_account_id":"501029799995","aws_partition":"aws","aws_regions":{"include_only":["us-east-1"]},"created_at":"2024-11-13T16:43:03.83939Z","logs_config":{"lambda_forwarder":{"lambdas":["arn:aws:lambda:us-east-1:123456789123:function:test-fn"],"sources":["s3","lambda"]}},"metrics_config":{"enabled":true,"automute_enabled":true,"collect_custom_metrics":true,"collect_cloudwatch_alarms":true,"tag_filters":[],"namespace_filters":{"exclude_only":["AWS/SQS","AWS/ElasticMapReduce"]}},"modified_at":"2024-11-13T16:43:03.839396Z","resources_config":{"cloud_security_posture_management_collection":false,"extended_collection":true},"traces_config":{"xray_services":{"include_all":true}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 1.2767305s
[...]
