---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"config":{"destinations":[{"id":"newrelic-dest-1","inputs":["source-1"],"region":"us","type":"new_relic"}],"sources":[{"id":"source-1","type":"datadog_agent"}]},"name":"newrelic pipeline"},"type":"pipelines"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines
        method: POST
      response:
        body: |
            {"data":{"id":"f355faec-24e0-11f0-be8d-da7ad0900002","type":"pipelines","attributes":{"name":"newrelic pipeline","config":{"destinations":[{"id":"newrelic-dest-1","inputs":["source-1"],"region":"us","type":"new_relic"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 510.196666ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/remote_config/products/obs_pipelines/pipelines/f355faec-24e0-11f0-be8d-da7ad0900002
        method: GET
      response:
        body: |
            {"data":{"id":"f355faec-24e0-11f0-be8d-da7ad0900002","type":"pipelines","attributes":{"name":"newrelic pipeline","config":{"destinations":[{"id":"newrelic-dest-1","inputs":["source-1"],"region":"us","type":"new_relic"}],"processors":[],"sources":[{"id":"source-1","type":"datadog_agent"}]}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 373.668084ms
[...]
