---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"description":"Description","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1765288988","name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1765288988"},"type":"team"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/team
        method: POST
      response:
            - chunked
        body: '{"data":{"id":"8efbeff1-956b-4894-8efa-b95c4d7e55e7","type":"team","attributes":{"avatar":null,"banner":3,"created_at":"2025-12-09T14:03:10.959289+00:00","description":"Description","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1765288988","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2025-12-09T14:03:10.959289+00:00","name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1765288988","summary":"Description","user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/8efbeff1-956b-4894-8efa-b95c4d7e55e7/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/8efbeff1-956b-4894-8efa-b95c4d7e55e7/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 484.800875ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"email":"tf-testacconcallescalationpolicycreateandupdate-local-1765288988@example.com"},"relationships":{"roles":{"data":[]}},"type":"users"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/users
        method: POST
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"cc112b93-d507-11f0-aa3b-e62eb38ffaf0","attributes":{"name":null,"handle":"tf-testacconcallescalationpolicycreateandupdate-local-1765288988@example.com","created_at":"2025-12-09T14:03:11.365081+00:00","modified_at":"2025-12-09T14:03:11.365081+00:00","email":"tf-testacconcallescalationpolicycreateandupdate-local-1765288988@example.com","icon":"https://secure.gravatar.com/avatar/c01218bd75d612f8886038b8b63e1b97?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 874.12025ms
    - id: 2
      request:
        host: api.datadoghq.com
        body: |
            {"data":[{"relationships":{"user":{"data":{"id":"cc112b93-d507-11f0-aa3b-e62eb38ffaf0","type":"users"}}},"type":"user_invitations"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/user_invitations
        method: POST
      response:
            - chunked
        body: |
            {"data":[{"type":"user_invitations","id":"cc4d0530-d507-11f0-9be0-da7ad0900002","attributes":{"uuid":"cc4d0530-d507-11f0-9be0-da7ad0900002","login_method":null,"invite_type":"basic_invite","created_at":"2025-12-09T14:03:11.756843+00:00","expires_at":"2025-12-11T14:03:11.592413+00:00"},"relationships":{"user":{"data":{"type":"users","id":"cc112b93-d507-11f0-aa3b-e62eb38ffaf0"}}}}]}
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 387.238209ms
    - id: 3
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"layers":[{"effective_date":"2025-01-01T00:00:00Z","interval":{"days":1,"seconds":300},"members":[{"user":{"id":"cc112b93-d507-11f0-aa3b-e62eb38ffaf0"}},{}],"name":"Primary On-Call Layer","restrictions":[{"end_day":"monday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-01-01T00:00:00Z"}],"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1765288988","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"8efbeff1-956b-4894-8efa-b95c4d7e55e7","type":"teams"}]}},"type":"schedules"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/schedules?include=layers%2Clayers.members.user
        method: POST
      response:
        body: '{"data":{"id":"665188bc-8e7b-4fdf-acc5-bdd5371b2e74","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1765288988","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"a2d545cd-834e-44db-883d-c34c9ffa0579","type":"layers"}]},"teams":{"data":[{"id":"8efbeff1-956b-4894-8efa-b95c4d7e55e7","type":"teams"}]}}},"included":[{"id":"a2d545cd-834e-44db-883d-c34c9ffa0579","type":"layers","attributes":{"effective_date":"2025-01-01T00:00:00Z","interval":{"seconds":300,"days":1},"name":"Primary On-Call Layer","restrictions":[{"start_time":"09:00:00","start_day":"monday","end_time":"17:00:00","end_day":"monday"}],"rotation_start":"2025-01-01T00:00:00Z"},"relationships":{"members":{"data":[{"id":"a2d545cd-834e-44db-883d-c34c9ffa0579-member-1","type":"members"},{"id":"a2d545cd-834e-44db-883d-c34c9ffa0579-member-2","type":"members"}]}}},{"id":"a2d545cd-834e-44db-883d-c34c9ffa0579-member-1","type":"members","relationships":{"user":{"data":{"id":"cc112b93-d507-11f0-aa3b-e62eb38ffaf0","type":"users"}}}},{"id":"cc112b93-d507-11f0-aa3b-e62eb38ffaf0","type":"users","attributes":{"email":"tf-testacconcallescalationpolicycreateandupdate-local-1765288988@example.com","name":"","status":"pending"}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 161.9695ms
    - id: 4
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"policy_test_defaults","resolve_page_on_policy_end":false,"retries":0,"steps":[{"assignment":"default","escalate_after_seconds":100,"targets":[{"id":"665188bc-8e7b-4fdf-acc5-bdd5371b2e74","type":"schedules"}]}]},"type":"policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
        method: POST
      response:
        body: '{"data":{"id":"7e765e7b-9218-4fc9-9609-59964d240c40","type":"policies","attributes":{"name":"policy_test_defaults","resolve_page_on_policy_end":false,"retries":0},"relationships":{"steps":{"data":[{"id":"2d9fdce8-06ae-42f4-960b-e12eb82dda45","type":"steps"}]},"teams":{"data":[]}}},"included":[{"id":"2d9fdce8-06ae-42f4-960b-e12eb82dda45","type":"steps","attributes":{"assignment":"default","escalate_after_seconds":100},"relationships":{"targets":{"data":[{"id":"665188bc-8e7b-4fdf-acc5-bdd5371b2e74","type":"schedules"}]}}},{"id":"665188bc-8e7b-4fdf-acc5-bdd5371b2e74","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1765288988","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"a2d545cd-834e-44db-883d-c34c9ffa0579","type":"layers"}]},"teams":{"data":[{"id":"8efbeff1-956b-4894-8efa-b95c4d7e55e7","type":"teams"}]}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 201 Created
        code: 201
        duration: 131.48775ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: |
            {"data":{"attributes":{"name":"tf-testacconcallescalationpolicycreateandupdate-local-1765288988","resolve_page_on_policy_end":true,"retries":0,"steps":[{"assignment":"round-robin","escalate_after_seconds":300,"targets":[{"id":"8efbeff1-956b-4894-8efa-b95c4d7e55e7","type":"teams"},{"id":"cc112b93-d507-11f0-aa3b-e62eb38ffaf0","type":"users"},{"id":"665188bc-8e7b-4fdf-acc5-bdd5371b2e74","type":"schedules"}]},{"assignment":"default","escalate_after_seconds":600,"targets":[{"config":{"schedule":{"position":"next"}},"id":"665188bc-8e7b-4fdf-acc5-bdd5371b2e74","type":"schedules"}]}]},"type":"policies"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies?include=steps.targets
        method: POST
      response:
        body: '{"data":{"id":"be5fd5c7-bd76-4627-9f20-4fa35e92cbca","type":"policies","attributes":{"name":"tf-testacconcallescalationpolicycreateandupdate-local-1765288988","[...]
    - id: 6
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/team/8efbeff1-956b-4894-8efa-b95c4d7e55e7
        method: GET
      response:
        body: '{"data":{"id":"8efbeff1-956b-4894-8efa-b95c4d7e55e7","type":"team","attributes":{"created_at":"2025-12-09T14:03:10.959289+00:00","description":"Description","handle":"team-tf-testacconcallescalationpolicycreateandupdate-local-1765288988","is_managed":false,"link_count":0,"modified_at":"2025-12-09T14:03:10.959289+00:00","name":"team-tf-testacconcallescalationpolicycreateandupdate-local-1765288988","summary":"Description","user_count":0},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/8efbeff1-956b-4894-8efa-b95c4d7e55e7/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/8efbeff1-956b-4894-8efa-b95c4d7e55e7/permission-settings"}}}}}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 127.007958ms
    - id: 7
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/users/cc112b93-d507-11f0-aa3b-e62eb38ffaf0
        method: GET
      response:
            - chunked
        body: |
            {"data":{"type":"users","id":"cc112b93-d507-11f0-aa3b-e62eb38ffaf0","attributes":{"name":null,"handle":"tf-testacconcallescalationpolicycreateandupdate-local-1765288988@example.com","created_at":"2025-12-09T14:03:11.365081+00:00","modified_at":"2025-12-09T14:03:11.365081+00:00","email":"tf-testacconcallescalationpolicycreateandupdate-local-1765288988@example.com","icon":"https://secure.gravatar.com/avatar/c01218bd75d612f8886038b8b63e1b97?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","mfa_enabled":false,"last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.850292ms
    - id: 8
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/665188bc-8e7b-4fdf-acc5-bdd5371b2e74?include=layers%2Clayers.members.user
        method: GET
      response:
        body: '{"data":{"id":"665188bc-8e7b-4fdf-acc5-bdd5371b2e74","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1765288988","time_zon[...]
    - id: 9
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/7e765e7b-9218-4fc9-9609-59964d240c40?include=steps.targets
        method: GET
      response:
        body: '{"data":{"id":"7e765e7b-9218-4fc9-9609-59964d240c40","type":"policies","attributes":{"name":"policy_test_defaults","resolve_page_on_policy_end":false,"retries":0},"relationships":{"steps":{"data":[{"id":"2d9fdce8-06ae-42f4-960b-e12eb82dda45","type":"steps"}]},"teams":{"data":[]}}},"included":[{"id":"2d9fdce8-06ae-42f4-960b-e12eb82dda45","type":"steps","attributes":{"assignment":"default","escalate_after_seconds":100},"relationships":{"targets":{"data":[{"id":"665188bc-8e7b-4fdf-acc5-bdd5371b2e74","type":"schedules"}]}}},{"id":"665188bc-8e7b-4fdf-acc5-bdd5371b2e74","type":"schedules","attributes":{"name":"Escalation Policy Test Schedule tf-testacconcallescalationpolicycreateandupdate-local-1765288988","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"a2d545cd-834e-44db-883d-c34c9ffa0579","type":"layers"}]},"teams":{"data":[{"id":"8efbeff1-956b-4894-8efa-b95c4d7e55e7","type":"teams"}]}}}]}'
        headers:
            Content-Type:
                - application/vnd.api+json
        status: 200 OK
        code: 200
        duration: 124.53725ms
[...]
    - id: 11
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/escalation-policies/be5fd5c7-bd76-4627-9f20-4fa35e92cbca
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 126.907667ms
[...]
    - id: 13
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v2/on-call/schedules/665188bc-8e7b-4fdf-acc5-bdd5371b2e74
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 142.64475ms
[...]
