---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Dd-Operation-Id:
      - ListTagConfigurationByName
    url: https://api.datadoghq.com/api/v2/metrics/example.terraform.metric.name/tags
    method: GET
  response:
    body: '{"errors": ["example.terraform.metric.name not found"]}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Version:
      - "35.4014265"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "49"
      X-Ratelimit-Reset:
      - "36"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: |
      {"data":{"attributes":{"include_percentiles":false,"metric_type":"distribution","tags":["sport","datacenter"]},"id":"example.terraform.metric.name","type":"manage_tags"}}
    form: {}
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    url: https://api.datadoghq.com/api/v2/metrics/example.terraform.metric.name/tags
    method: POST
  response:
    body: '{"data":{"type":"manage_tags","id":"example.terraform.metric.name","attributes":{"tags":["datacenter","sport"],"include_percentiles":false,"created_at":"2021-03-02T21:07:24.988739+00:00","updated_at":"2021-03-02T21:07:24.988739+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      X-Dd-Debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      X-Dd-Version:
      - "35.4014265"
      X-Ratelimit-Limit:
      - "50"
      X-Ratelimit-Period:
      - "60"
      X-Ratelimit-Remaining:
      - "48"
      X-Ratelimit-Reset:
      - "36"
    status: 201 Created
    code: 201
    duration: ""
[...]
