---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: |
            {"description":"Created using the Datadog provider in Terraform","id":"","layout_type":"ordered","notify_list":[],"tags":[],"template_variable_presets":[],"template_variables":[],"title":"tf-TestAccDatadogDashboardCheckStatus_import-local-1767988484","widgets":[{"definition":{"check":"aws.ec2.host_status","group_by":["app"],"grouping":"cluster","tags":["account:prod"],"title":"Agent Up","title_align":"center","title_size":"16","type":"check_status"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.datadoghq.com/api/v1/dashboard
        method: POST
      response:
            - chunked
        body: '{"id":"t94-muq-yck","title":"tf-TestAccDatadogDashboardCheckStatus_import-local-1767988484","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/t94-muq-yck/tf-testaccdatadogdashboardcheckstatusimport-local-1767988484","template_variables":[],"widgets":[{"definition":{"check":"aws.ec2.host_status","group_by":["app"],"grouping":"cluster","tags":["account:prod"],"title":"Agent Up","title_align":"center","title_size":"16","type":"check_status"},"id":4282070995809193}],"notify_list":[],"created_at":"2026-01-09T19:54:45.798913+00:00","modified_at":"2026-01-09T19:54:45.798913+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 134.741666ms
    - id: 1
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/t94-muq-yck
        method: GET
      response:
            - chunked
        body: '{"id":"t94-muq-yck","title":"tf-TestAccDatadogDashboardCheckStatus_import-local-1767988484","description":"Created using the Datadog provider in Terraform","author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/t94-muq-yck/tf-testaccdatadogdashboardcheckstatusimport-local-1767988484","template_variables":[],"widgets":[{"definition":{"check":"aws.ec2.host_status","group_by":["app"],"grouping":"cluster","tags":["account:prod"],"title":"Agent Up","title_align":"center","title_size":"16","type":"check_status"},"id":4282070995809193}],"notify_list":[],"created_at":"2026-01-09T19:54:45.798913+00:00","modified_at":"2026-01-09T19:54:45.798913+00:00","template_variable_presets":[],"tags":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.583541ms
[...]
    - id: 4
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/t94-muq-yck
        method: DELETE
      response:
            - chunked
        body: '{"deleted_dashboard_id":"t94-muq-yck"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 339.951292ms
    - id: 5
      request:
        host: api.datadoghq.com
        body: ""
        form: {}
        headers:
        url: https://api.datadoghq.com/api/v1/dashboard/t94-muq-yck
        method: GET
      response:
            - chunked
        body: '{"errors":["Dashboard with ID t94-muq-yck not found"]}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 87.205458ms
